[2020-07-17 05:34] balajir24 commented on #2694
@nrb

We are using Azure. I used below command to create backup. It is executed successfully. But snapshot is not storing in us east region. It is storing in uk-south region.

[code]

resourceGroup `test-backups` present in us east region only.

 velero snapshot-location get slave -o yaml
apiVersion: velero.io/v1
kind: VolumeSnapshotLocation
metadata:
  annotations:
    kubectl.kubernetes.io/last-

[2020-07-17 06:47] ashish-amarnath commented on #2718
PR https://github.com/vmware-tanzu/velero/pull/2719 adds the necessary scaffolding along with 3 metrics around restic backups.
Adding more metrics going forward should be easier.

[2020-07-17 14:43] melanco commented on #2715
I'm at 48 hours now for the same backup :)

[2020-07-17 16:10] tlvenn commented on #2717
Out of curiosity, is there a timeframe for the 1.5 release ? I am particularly interested with the restic opt-out strategy and it would be great to try it out. Thanks.

[2020-07-17 16:11] carlisia commented on #2717
@tlvenn end of August is what we are aiming for.

[2020-07-17 16:13] tlvenn commented on #2717
Thanks, just noticed that there was actually a date on the milestone, sorry about the noise.

[2020-07-17 17:52] ashish-amarnath commented on #2632
@diemus This was fixed in v1.4.2 with PR https://github.com/vmware-tanzu/velero/pull/2683.
Please upgrade to v1.4.2 to get the fix.
I am going to close this issue. Please feel free to re-open if you are seeing this in v1.4.2

[2020-07-17 18:06] ashish-amarnath commented on #2537
@reddiablo85 Does @fvsqr 's PR #2712 fix the issue you are seeing?

[2020-07-17 23:28] carlisia commented on #2715
Hi @melanco. If you are able to upgrade to version 1.4 (https://github.com/vmware-tanzu/velero/releases/tag/v1.4.0), you''ll have a new feature that reports the backup progress.

[2020-07-17 23:40] xmath279 commented on #487
It would be interesting to either be able to limit the number of concurrent tasks or have the option to use it as it is right now (backup queue).

It would be better for me, because I would like to limit the load on my shared file servers (Ceph RBD / CephFS) while backups are being taken. This way, I can ensure that workloads are not impacted too much by the backup tasks.

[2020-07-18 00:52] guimenezes opened #2721 "Velero+restic backup gets stuck when NFS persistent volume is included"
**What steps did you take and what happened:**
I am testing Velero to backup my application.

In a minikube deployment, I followed the basic mysql + wordpress tutorial here:
https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/

I setup an NFS server in a VM and changed the example to use an NFS persistent volume instead.

The mysql pod config I used is the f

[2020-07-18 01:19] carlisia commented on #2697
This needs testing to see if it's a bug.

[2020-07-18 01:31] carlisia commented on #2692
I assume you are using restic?

Here's how you do that with version 1.4: https://velero.io/docs/v1.4/restic/#back-up

For the upcoming 1.5 release, we added an option to select all, and opt-out: I suspect you are not specifying the pod volumes to be backed up.

https://velero.io/docs/master/restic/#to-back-up

[2020-07-18 01:46] carlisia commented on #2691
Hi @luwang-vmware, I'm curious if you have tried to backup each namespace individually and if so how did that go.

In the mean time, marking this as something to investigate. Seems we might have to look thru the code and piece together what the source of this problem could be.

[2020-07-18 04:05] luwang-vmware commented on #2691
Thanks for following it up @carlisia. I have done to backup each namespace individually and it worked as expected. The issue reported is easily to reproduce.  Below is my yaml file for reference. Please let me know what  anything else I need provide.

[code]

[2020-07-18 05:14] vinayus opened #2722 "remove .velero folder after restic restore"
i have been using velero(with restic) for my local backup and restore purposes. I did observe that during restore a folder named **.velero** is created in the volumes of every statefulset that is restored back.

can we have an enhancement where we can remove **.velero** as a cleanup?

why would this cause an issue even though it doesn't contain any data is because statefulset like kafka would pars

[2020-07-18 05:21] vinayus commented on #2692
If these are statically provisioned PV, then it is suggested to use restic as said above and hopefully you have annotated the pod with respective volume names.

[2020-07-19 13:14] figassis opened #2723 ""velero restic repo get" panics if repo failed creation"
**What steps did you take and what happened:**
I attempted creating a pv backup through annotations, but the backup failed because the restic repo was unable to be initialized due to lack of object store credentials.

After this, doing `velero restic repo get` panics with a nil pointer dereference

**What did you expect to happen:**
For velero to list the repositories (kubectl is able to) and show

[2020-07-20 07:52] reddiablo85 commented on #2721
Hi @guimenezes,
When running the velero install cmd you need to tell it to install restic also with the flag "--use-restic". Without this velero doesn´t install the restic element and even though you annotate the workload it doesn´t have the tools to do the pvc backup

Give it a go and run another backup then run "velero describe backup <backupname> --details"...at the bottom you should see your p

[2020-07-20 07:53] reddiablo85 commented on #2537
Yes, this adjustment in the executable solved the issue
Thanks

[2020-07-20 08:25] my1990 opened #2725 "How to use Prometheus to monitor velero?"
How to use Prometheus to monitor velero?
I didn't find this item in the document. Is there a link to the relevant document?

[2020-07-20 15:34] #2609 closed

[2020-07-20 16:04] ashish-amarnath commented on #2537
Thanks for confirming @reddiablo85 .

[2020-07-20 16:23] nrb commented on #2722
Thanks for the report @vinayus! This seems like a fairly low effort fix, so I'll add it to the backlog.

[2020-07-20 16:26] nrb opened #2726 "Move pkg/backup/item_hook_handler.go into a new hooks package"
Also add any new restore hooks.

For the implementer - consider whether this should be an internal package or not.

[2020-07-20 16:29] nrb opened #2727 "Add hooks.WaitGroup and hooks.Errs fields pkg/restore.Context type"
From the design doc:

The pkg/restore.context type will have new fields `hooksWaitGroup` and `hooksErrs` comparable to `resticWaitGroup` and `resticErr`.

[2020-07-20 16:30] nrb opened #2728 "Define new restore hook annotation constants"
The constants for "normal" hooks will be:

[code]

And for init containers:
[code]

[2020-07-20 16:33] nrb opened #2729 "Add initContainers to Restore spec"
Add an `initContainers` field to the `Restore` spec similar to this example taken from the design doc:

[code]

[2020-07-20 16:35] nrb opened #2730 "Write initContainer hook injection logic"
From the design doc:

[2020-07-20 16:37] nrb opened #2731 "Modify restore logic to execute hooks in annotations"
From the design doc:

[2020-07-20 17:11] #2537 closed

[2020-07-20 19:13] melanco commented on #2715
Hi @carlisia, Is this feature working with Openshift ?

I updated velero to v1.4.2 and there is not much more new information.

Here is a copy of the output of the commands using either the oc client or velero client to query the velero API.

[velero_output.txt](https://github.com/vmware-tanzu/velero/files/4949622/velero_output.txt)

Am I missing something ?

Let me know,

[2020-07-20 21:34] mikelmao opened #2733 "Velero backup timeout after 3 hours of backing up a PV"
**What steps did you take and what happened:**
When I try to run a test backup which includes all nodes in my default namespace (including Jenkins pod), It fails with error that it timed out.  I have changed the timout time to 3 hours but still same issue. The PV is only a couple of hundred MB so it should not take very long. If I remove the annotation from my pod to backup without the PV it works

[2020-07-21 02:25] raqqun commented on #2725
Hi @my1990,

If you are using the helm chart you already have a servicemonitor for prometheus operator. Take a look here https://github.com/vmware-tanzu/helm-charts

[2020-07-21 02:30] raqqun commented on #2725
Also, if you are into prometheus operator you can use these rules for backup failure alert :

[code]

[2020-07-21 06:32] reddiablo85 commented on #2721
I still think there are issues with your install command, specifically the s3 parameters section. Here´s a blanked version of mine, note the use of quotations around the s3 parameters and also the region setting. I use a cert for backups over https but you don´t need that if you´re going over http also I´m using an internal registry, hence the repo flags, something else you don´t need.

velero ins

[2020-07-21 07:04] burkhat commented on #2539
Hello @ashish-amarnath,

I've changed the schedule on Thursday 16-07-2020 to schedule the backup at 6 am.
On Friday 17-07-2020 we get the same error again:

"Name:         cluster-20200717060037
Namespace:    openshift-backup
Labels:       velero.io/schedule-name=cluster
              velero.io/storage-location=default
Annotations:  <none>

Phase:  PartiallyFailed (run `velero backup logs cluster-

[2020-07-21 11:31] bvivi57 opened #2737 "error code: 14009 for PV restore"
Describe the problem/challenge you have

Hello, I can't restore my persistent volumes on my Kubernetes cluster on vSphere 6.7 U3 plateform

I see this error on datamgr-for-vsphere-plugin pod

time="2020-07-21T11:25:05Z" level=error msg="Failed to copy from remote repository." Remote PEID="ivd:9bd1229e-b184-439d-a37d-350bd73d6a1e:a2e0594f-01bb-4b5a-a965-286ff37b4aca" error="copyInt failed: Open vir

[2020-07-21 15:28] sgielen opened #2738 "No backups being made because one is infinitely InProgress?"
**What steps did you take and what happened:**
I have the following backup schedule:

[code]

This ran for a couple of days, but it looks like it's been frozen since 8 July. New backups are being created but are not running:

[code]

This last one, `volumes-20200708043748`, supposedly has been InProgress for almost 2 weeks. I can't get its logs:

[code]

I can get the details, though:

[code]

The

[2020-07-21 15:42] joschi36 opened #2739 "Persistent Volume with Reclaim Policy Delete gets recreated"
**What steps did you take and what happened:**
We did a backup with Velero and without any form of volume backup (restic/volumesnapshot).
When restoring the PersistentVolume got recreated.

**What did you expect to happen:**
We expected that the manifest of the PersistentVolume gets applied as is with the same meta information.

**The output of the following commands will help us better understand

[2020-07-21 18:40] carlisia commented on #1082
Hey @nzoueidi, did you still want to work on this?

[2020-07-22 01:23] subodh-dharma opened #2742 "velero restore drops certain fields of CustomResourceDefinition resources."
**What steps did you take and what happened:**
1. Perform backup of **customresourcedefinition** resources on a _source_ cluster using velero binary
2. Verified the backup contains the required resources with all fields as is 👍
3. Perform restore of the resources backed up in step 1 on a _target_ cluster
4. The restored CRD resources had some fields dropped.
5. The CRD resources were not processed

[2020-07-22 04:57] MadhuMahalingappa opened #2743 "Is there a way we can perform PVC backup without annotating the POD"
**Describe the problem/challenge you have**
We are trying to backup the PVC in a namespace and performing annotation of POD is looking cumbersome since there are multiple pods running in namespace with different volume attached . Is there a way we can take backup of entire namespace along with PVC.

**Describe the solution you'd like**
Single command to take backup of namespace along with PVC inst

[2020-07-22 07:23] thejasbabu commented on #2687
@nrb @luwang-vmware Do we want to capture the Completed time for failed restore operation? I can contribute to add these to `RestoreStatus`

[2020-07-22 07:59] henkypunky opened #2744 "Questions about backup-locations and secret-file"
Hi guys, I have a couple of questions related to backup-locations:

1. Can you have backup-locations of different providers (e.g. AWS + GCP) configured in parallel? If yes, how to handle the --secret-file?
2. When you add a backup-location retroactively with "velero backup-location create", how to specify the additional credentials needed for the new backup-location? Apparently secret-file can onl

[2020-07-22 10:53] joschi36 commented on #2738
Is there no overall backup timeout in Velero which could prevent this?

[2020-07-22 11:04] amehub opened #2745 "Question about pvc migration"
**Describe the problem/challenge you have**
Existing k8s cluster
Gluster storage - servers external to K8S
K8s -> Gluster using heketi

Want to migrate the pv data to a new gluster

Have built a new gluster cluster

Need to recreate storage classes to point to new gluster
Manually copy data off pods
Stop pods
Delete pvc
Recreate pvc
Start pod
Copy data back into pv

**Describe the solution you'd l

[2020-07-22 12:51] VolkerKozlowski opened #2746 "Backups from objectstore are not synchronized back into cluster."
**What steps did you take and what happened:**
* created a plenty of backups successfully - all backups where available in object store and in cluster
* removed some backups.velero.io resources from cluster  (kubectl delete backup.velero.io <backupname>) - with that the removed cluster resources were still available in object store

**What did you expect to happen:**
* removed backup.velero.io res

[2020-07-22 14:37] hibbert commented on #2634
Any updates on this?

[2020-07-22 14:57] carlisia opened #2747 "⚠️ If you are running against the main branch"
There has been some changes to the Velero CRDs. Depending on when you installed Velero, you might not have picked up the changes.

You may run the command below to update without any concern for messing up your install:

`velero install --crds-only --dry-run -o yaml | kubectl apply -f -`

[2020-07-22 15:41] ashish-amarnath commented on #2634
@hibbert Supporting this scenario will require implementing retries into the back up process. That is not currently on our roadmap.

[2020-07-22 15:48] ashish-amarnath commented on #2466
@RobReus Do you want me to assign this to you?

[2020-07-22 15:58] ashish-amarnath commented on #2466
@RobReus I am unable to assign this issue to you. May be something to do w/ your privacy settings. But you are welcome to work on this.

[2020-07-22 16:03] ashish-amarnath commented on #2725
@my1990 You can find the troubleshooting steps on our docs website at https://velero.io/docs/v1.4/troubleshooting/#velero-is-not-publishing-prometheus-metrics

I am going to close this issue as the question has been answered.

[2020-07-22 16:03] #2725 closed

[2020-07-22 16:55] ashish-amarnath commented on #2728
I wasn't able to find, from the e design doc, what `post.hook.restore.velero.io/wait-timeout` will be used for.

For init containers, we will need annotation keys for container-image, container-name, container-command.
I am not sure what the timeout will do for init containers, won't the pod be just stay in `Init: x/y` state till the init containers have completed execution?

[2020-07-22 17:44] nrb commented on #2743
I'm assuming you're running with restic, as using a VolumeSnapshotter plugin does not require any annotation.

In v1.5.0, our next release, there will be a new option to backup all attached PVs with restic automatically rather than individually via annotation. We are hoping to have this released in late August or early September.

I'm going to close this issue as a duplicate of #1871, but let me k

[2020-07-22 17:44] #2743 closed

[2020-07-22 17:44] nrb commented on #2747
Is this a duplicate of #2717?

[2020-07-22 17:47] carlisia commented on #2747
I didn't think so, this is meant as a temporary warning with a specific instruction of what to do until 1.5 is released, or maybe even longer than that for people who didn't upgrade.

[2020-07-22 17:59] nrb commented on #2744
1) Yes, you can. However, it is an advanced option not directly supported via `velero install`. You will have to edit the Velero `Deployment` YAML. `velero install` assumes the most common scenario, which is using a single cloud platform. You can get the YAML that's submitted by `velero install` and customize it via the `--dry-run -o yaml` options. The `velero backup-location create` command also

[2020-07-22 18:10] nrb commented on #2746
Thanks for the logs and the debugging!

One additional piece of information that would be helpful - did the `Backup`s actually get created on the Kubernetes API server, or no? The line that says they're succesfully created actually looks like it may be a bug to me, as we only check for `AlreadyExists` errors, but all other errors are ignored, so it's possible that the logs say the `Backup` was cre

[2020-07-22 18:14] nrb commented on #2745
I think our [storage class remapping support](https://velero.io/docs/v1.4/restore-reference/#changing-pvpvc-storage-classes) and [restic integration](https://velero.io/docs/v1.4/restic/) may be helpful to you. To my knowledge, there's no Gluster plugins for Velero.

If those two don't fit your needs, then I think this will be a feature request that we'd need to slot into our roadmap at some point.

[2020-07-22 18:17] nrb commented on #2742
Thanks for this report @subodh-dharma. v1.4.2 had some critical bug fixes relating to CRDs. Would you be able to retry this with v1.4.2 and see if the same behavior persists?

[2020-07-22 18:20] nrb commented on #2701
@fredleger Thanks for the report! That's definitely frustrating.

Can you clarify your Velero schedule frequency for me? You're taking a backup every minute?

[2020-07-22 19:10] #2290 closed

[2020-07-22 19:23] nrb commented on #2728
The `timeout` should be when to consider the command failed and abort to my understanding. That would apply to either the initContainer or inline restore hooks. For initContainers, the failure mode may be a little different though.

@marccampbell and @areed does that match your understanding?

[2020-07-22 19:25] ashish-amarnath commented on #2728
The question was about the wait-timeout

________________________________
From: Nolan Brubaker <notifications@github.com>
Sent: Wednesday, July 22, 2020 12:23:27 PM
To: vmware-tanzu/velero <velero@noreply.github.com>
Cc: Ashish Amarnath <ashisham@vmware.com>; Assign <assign@noreply.github.com>
Subject: Re: [vmware-tanzu/velero] Define new restore hook annotation constants (#2728)

The timeout shou

[2020-07-22 19:46] fredleger commented on #2701
@nrb not at all ! this is which is the most suprising.
Backups were scheduled once a day and when the ETCD quota issue arise they started to be tried every minutes (all with status new)

[2020-07-22 19:47] nrb commented on #2701
Ahh, got it. Thanks for that clarification.

[2020-07-22 19:49] fredleger commented on #2701
exemple of it:

[code]

As you can see starting at the 2020-07-20 a lot of backups started to be created (i cleaned it a bit since). Bu still we can see the raise in the number of backups

[2020-07-22 20:18] areed commented on #2728
The idea behind `post.hook.restore.velero.io/wait-timeout` was waiting for the container to start so that the hook could be run in it. The whole restore is blocked on the output of the restore hook so at some point if the pod is stuck on Init or ImagePullBackoff the entire Restore can be marked completed in a Partially Failed state rather than hanging forever.

[2020-07-22 20:26] ashish-amarnath commented on #2728
That makes sense. Thanks for clarifying @areed!

[2020-07-22 20:49] ashish-amarnath commented on #2539
@burkhat I am not entirely sure what is going on here.
I would suggest comparing the cluster where this is working as expected and the one where it is not.
A few things to consider in the comparison:
1. Are the workloads being backed up the same: double check that the inclusion and exclusion namespaces and resources are the same.
1. Are the sizes of the volumes, that are being backed up using rest

[2020-07-22 21:26] #2726 closed

[2020-07-22 21:53] codebard opened #2752 "Latest velero client does not recognize --default-volumes-to-restic flag"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Trying to install velero client from latest release per Digitalocean's guide.

https://www.digitalocean.com/community/tutorials/how-to-back-up-and-restore-a-kubernetes-cluster-on-digitalocean-using-velero

Using below custom install command:

velero install \
  --provide

[2020-07-22 23:18] guimenezes commented on #2721
Thanks.

Honestly I believe the s3 configuration is fine since I can back up other resources if the pod is not annotated with the NFS PVC.

I was able though to do some progress. After ssh'ing into minikube VM I listed the contents of /var/lib/kubelet/pods/ to see if I could access the NFS mount point manually. Seems like my commands get stuck when trying to contact the NFS server from inside the

[2020-07-23 06:32] nwakalka commented on #2746
Hi @nrb ,

Thanks for responding!

Answering to your question, after debugging we can see attempt to create backup custom resource via API is successful.
only thing which i can see missing is **TypeMeta** in backup object.
If it's successful, but still `backup` doesn't exist in cluster.

[2020-07-23 06:42] VolkerKozlowski commented on #2746
@nrb Yes. I have never found one of the synced backup.velero.io resources in kubernetes API with `kubectl get backup.velero.io <synced backup name> -n mcs-customer-backup`. So they haven't got created. That is why they get synced every minute again, I guess.

`err` was always nil when creating the backup resource with `backup, err = c.backupClient.Backups(backup.Namespace).Create(backup)`.

[2020-07-23 07:41] henkypunky commented on #2744
@nrb Thanks for quick and comprehensive response!

[2020-07-23 07:41] #2744 closed

[2020-07-23 09:46] runzexia opened #2753 "[question] how to only restore pod's pvc"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

1.
[code]
2.
[code]
3.
[code]
4.
[code]
5.
[code]
**What did you expect to happen:**
[code]

**The output of the following commands will help us better understand what's going on**:
[code]

**Anything else you would like to add:**
[Miscellaneous information that will ass

[2020-07-23 10:24] burkhat commented on #2539
@ashish-amarnath
We've now the problem that we have deleted the cluster where it is working because we don't use it at the moment, but I can tell you the differences.

1. Yes we use for every cluster the same schedule:
_"# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file will abort the edit. If an error occurs while saving this file will be
# reopened w

[2020-07-23 11:05] IlyaNakhaichuk commented on #1965
I have a similar problem. Please tell me how can I fix this?

[2020-07-23 11:40] asoltesz commented on #2268
Proper retention policies are a pretty big missing feature in Velero IMHO.

--ttl and defining a lot of different schedules is just not a great solution at all.

First of all, it is cumbersome as hell.

Secondly, in case you define a daily, weekly, monthly, and yearly schedules there will be days when the backup schedule gets executed 4 times (once a year), 3 times (every month), 2 times (every we

[2020-07-23 13:00] MadhuMahalingappa commented on #2743
@nrb    Thank you very much for the update ,Can you please help me with any reference documentation for using VolumeSnapshotter plugin to take PVC backup .

[2020-07-23 14:48] nrb commented on #2752
This option will be available in Velero v1.5.0, it was not released in v1.4.2.

[2020-07-23 14:48] #2752 closed

[2020-07-23 15:22] carlisia commented on #2717
Adding anote here to remember to update Helm with the new CRDs. I can do this.

[2020-07-23 15:45] nrb commented on #2753
I think you might be looking for a "data only restore", which is covered in #504.

What's happening here is that Velero does not overwrite any resources that already exist. In order for Velero to do the restore, the PVCs would have to be deleted first. You can see this behavior in the log lines such as: `time="2020-07-23T09:45:34Z" level=info msg="Skipping persistentvolumeclaims/csi-app/pvc-awsdis

[2020-07-23 15:49] runzexia commented on #2753
yes, thats what i need.
let me close this issue.

[2020-07-23 15:49] #2753 closed

[2020-07-23 16:15] RobReus commented on #2466
@ashish-amarnath see the linked PR, would love to hear what you guys think.

[2020-07-24 00:09] areed commented on #2727
I can take this one.

[2020-07-24 01:04] areed commented on #2728
Yes, the init timeout would be for the Restore to give up waiting for the outcome of the initContainer. It would only be useful if the restore is going to include the init container logs in the Restore log or mark the Restore as Partially Failed if the initContainer fails to succeed within a certain amount of time. Unless either of those is required I think the init timeout can be dropped from the

[2020-07-24 01:08] areed commented on #2728
Would it be useful to have the full `init.hook.restore.velero.io/initContainers` json annotation also so that folks could provide env vars, volumeMounts, resource limits, etc. without having to use the Restore spec?

[2020-07-24 06:16] jinxinxin163 opened #2756 "when restore the one namespace, the namespace is teminated after creating."
I firstly backup a namespace from clusterA, and then restore it to clusterB. The backup process is no problem but the restore process says "PartiallyFailed":
`root@jinxin:/app/cloud/k8s/test# velero restore get
NAME                                BACKUP               STATUS            WARNINGS   ERRORS   CREATED                         SELECTOR
xpp-ensaas-service-20200724035007   xpp-ensaas-servic

[2020-07-24 10:46] MadhuMahalingappa opened #2757 "Error while performing full cluster restore using velero ."
**What steps did you take and what happened:**
Getting PartiallyFailed error while performing restore of OCP cluster using velero , there were no issues during the time of backup though.

**What did you expect to happen:**
Expected for restore to get completed without any issues.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [

[2020-07-24 14:28] drazul commented on #2082
Also, as related topic, we can't delete a backup or snapshot location using the command like tool.

`velero backup-location -h` only shows `create` and `get` commands.

[code]

[2020-07-24 18:43] #2727 closed

[2020-07-24 20:05] #2728 closed

[2020-07-24 20:25] ashish-amarnath commented on #2728
@areed sorry I missed your comment. Now that PR #2750 is merged, can we go with using the annotation for basic scenarios where the user is just providing a container image and a command to run and for a more customized scenario use the Restore spec?

[2020-07-24 20:34] areed commented on #2728
Yes, that'll work!

[2020-07-24 21:58] nrb opened #2760 "Create GitHub Action to auto-update copyright year"
Right now, asking contributors to update the copyright year on file modifications results in a lot of lost time. It would be helpful to automate updating the copyright year when a file is modified.

Investigate using https://github.com/stefanzweifel/git-auto-commit-action to keep copyright year up-to-date on relevant files.

Some things to note:

* The year only needs to be the latest year
* We ma

[2020-07-24 22:09] nrb commented on #2756
@jinxinxin163 Did you inspect the namespace itself? I don't see anything in the restore log that indicates that Velero issued a deletion, nor does Velero have support for deleting objects currently. It looks like resources first failed around line 827 of your log, so some things were getting restored prior to that.

Were you the only user of the cluster?

[2020-07-24 22:13] nrb commented on #2757
You may want to update your installation to v1.4.2 and try to restore again. v1.4.0 has some issues with restoring CRDs.

If that does not work, https://konveyor.github.io/ is a set of Velero plugins for OpenShift that have support for OpenShift CRDs. This may be required in order to properly restore the CRDs.

[2020-07-25 08:58] asoltesz opened #2763 "[Question] Method or plugin for MySql / MariaDB database backup with Restic"
I couldn't find info in the documentation about this. (and my Google-foo also failed me on this one even though Mysql is very popular with Kubernetes-capable applications like Wordpress)

I am aware  that there are dedicated DB operators for properly handling backup/restore of even large Mysql-compatible databases. However, for small databases it would be nice to have a Velero plugin (or at least

[2020-07-26 07:16] runzexia commented on #915
https://github.com/runzexia/velero-plugin-helm
i make @Dennor 's plugin could work with Velero 1.x, you may want to try this

[2020-07-27 14:32] sgielen commented on #2738
I just noticed that something happened around 2020-07-22 15:13 CEST that caused all backups to suddenly start:

[code]

[2020-07-27 16:46] ashish-amarnath commented on #2707
@raghavendrabhat Thanks for bringing up this issue. I've put up a PR #2765  to make the docs more clear. PTAL.

[2020-07-27 17:22] ashish-amarnath commented on #2708
@Rahulnz Here are a few things to try:
1. Confirm if Trident supports Kubernetes snapshot beta APIs https://kubernetes.io/docs/concepts/storage/volume-snapshots/. It wasn't clear to me from their docs at https://netapp-trident.readthedocs.io/en/stable-v19.01/kubernetes/trident-csi.html#csi-overview
1. Please set the `DeletionPolicy` on the volumesnapshot class that Velero uses to `Retain` this wil

[2020-07-27 17:27] ashish-amarnath commented on #2715
@melanco to obtain the backup progress information, you will need to update the Backup CRD on your Velero installation.
[code]
This will let you track the progress of the backup.

[2020-07-27 18:12] arianitu commented on #2654
Outside of the public ones, we are using:

	"github.com/vmware-tanzu/velero/pkg/builder"

[2020-07-27 19:11] nrb commented on #2760
After doing some inspection on the repo, we have 3 valid copyright formats:

`Copyright [latest year] the Velero contributors.` (for files originating from our community)

 `Copyright [year] The Kubernetes Authors.` (for files borrowed from upstream Kubernetes projects without modification)

[code]
(for files borrowed from upstream Kubernetes projects with modifications)

[2020-07-27 19:19] arianitu commented on #2570
Hello @skriss sorry to bring this up from the dead, but given that Velero is using ClaimRef, why did our PVCs match to the Velero PV?

This issue says this should not happen: https://github.com/kubernetes/kubernetes/issues/23615 and it has been fixed.

Can you maybe help me understand ClaimRef and what the idea of it is? I thought ClaimRef is a deterministic way to find a PersistentVolume from a P

[2020-07-27 19:32] arianitu commented on #2570
[code]

Can you point me to the logic for this? Are you using ClaimRef, or LabelSelectors or what are you using to guarantee this, maybe this is a Velero bug?

[2020-07-27 19:58] arianitu commented on #2570
@skriss Can we please also add ClaimRef instead of just VolumeName. If we add ClaimRef we should not run into the above race condition since the Name + Namespace would have to match for the PVC to be able to mount to the PV.

At line https://github.com/vmware-tanzu/velero/blob/master/pkg/restore/restore.go#L1051, we need to also append ClaimRef with the Name + Namespace.

[2020-07-27 20:21] guillierf opened #2767 "Velero Restic plugin install for TKGI"
When installing Velero/Restic on TKGI, we have to initiate this procedure (at this point in time, the restic pods are in crashloopback mode):

https://velero.io/docs/main/restic/:
“The hostPath should be changed from /var/lib/kubelet/pods to /var/vcap/data/kubelet/pods

hostPath:
  path: /var/vcap/data/kubelet/pods
“

Will there be an elegant way to streamline the installation in the near future?

[2020-07-27 21:00] skriss commented on #2570
@arianitu I'm not working on Velero anymore, but someone from @vmware-tanzu/velero-maintainers should be able to help answer your questions.

[2020-07-27 21:11] arianitu commented on #2570
@carlisia can you assist in finding the right maintainer to fix this bug? If you look at the Kubernetes issue above, apparently both volumeName and ClaimRef is required for correct binding of an existing PV to a PVC.

[2020-07-27 22:25] nrb commented on #2570
@arianitu Yeah, it looks like you're right, we need to make sure that the `ClaimRef` exists on restore too.

[2020-07-27 22:39] pingoleon108 commented on #1135
Is this feature already developed?
Thanks

[2020-07-27 22:44] nrb commented on #2570
@arianitu Are you doing namespace remapping during your restores? That's the line you linked to, I just want to be sure. I think we need to be checking this whether there's remapping happening or not.

Searching through the restore/restore.go code, we do use the ClaimRef in spots, but don't necessarily use it in actual restoration. We also don't reference it in the [RestoreItemAction](https://gith

[2020-07-27 23:19] nrb commented on #2663
After looking at some limitations of GitHub Actions secrets when they come from forks, I think this particular project is worthwhile. Specifically, trying to assign reviewers via GitHub Actions is apparently not possible right now without some workarounds, as PRs from forks don't get write access to the repo for security reasons.

However, it should be noted that the linked GitHub Action isn't act

[2020-07-28 02:10] carlisia commented on #2692
Hi @veera2019 this is likely an issue of lack of annotation. I will close this issue but please reopen if you still haven't figured it out. Thanks.

[2020-07-28 02:10] #2692 closed

[2020-07-28 02:46] carlisia commented on #2634
Hey @hibbert we will keep this issue open for future reference and analysis if it's something we should add to the roadmap. It is not something that we can decide at this moment if we will add or not.

I know it's far from ideal, but we do have a new feature that allows for backing up all volumes in a pod automatically (https://velero.io/docs/main/restic/#to-back-up). Between that + scheduling may

[2020-07-28 03:00] carlisia commented on #2715
Yes, @melanco I forgot that you have to also update the CRDs. Please let us know if you get any insight from that.

[2020-07-28 03:08] carlisia commented on #2767
@guillierf thank you, it's a good suggestion, we will consider it.

[2020-07-28 03:38] carlisia commented on #2763
Related: https://github.com/vmware-tanzu/velero/issues/1150

Related: https://github.com/vmware-tanzu/velero/pull/2699

[2020-07-28 13:19] arianitu commented on #2570
@nrb Yes, I am doing a namespace remapping when I hit this case. Can you show me the code where ClaimRef is used?

[2020-07-28 15:19] ashish-amarnath opened #2770 "Support for label selectors to choose pods to backup volumes using restic"
Using label selection to get pods, return a list of all volumes attached to those pods and backup those volumes using restic

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face

[2020-07-28 17:01] melanco commented on #2715
Hi @carlisia @ashish-amarnath

Thanks for the replies.

Still the same issue even after applying the CRDs.

[logs-backup.txt](https://github.com/vmware-tanzu/velero/files/4989874/logs-backup.txt)

Logs attached. Still only says "InProgress", I tried deleting the old backup and restarting a new one with the logs above but nothing new.

Let me know what I can do.

Regards,

Olivier

[2020-07-28 17:20] carlisia commented on #2715
Have you been able to do a small backup from this cluster?

[2020-07-28 17:48] melanco commented on #2715
Hi @carlisia, yes, small backups work. (with for example, 2-3 namespaces)

Didin't try much more than that though.

[2020-07-28 17:52] melanco commented on #2715
Trying a backup with 23 namespaces right now just to see what it would do.

Regards,

[2020-07-28 17:54] melanco commented on #2715
Backup completed with no errors. Took about 1min20secs
Started:    2020-07-28 13:51:30 -0400 EDT
Completed:  2020-07-28 13:52:52 -0400 EDT

Expiration:  2020-08-27 13:51:30 -0400 EDT

Total items to be backed up:  4102
Items backed up:              4102

[2020-07-28 17:56] carlisia commented on #2715
@nrb what are our debug steps to investigate this? I was doing a search on slack but didn't find anything useful.

tld;dr: Openshift 3.11.129 cluster. Over 300 namespaces, 500~ Running pods etcetc, backup stuck InProgress forever.

[2020-07-28 19:27] ashish-amarnath commented on #2707
PR #2765 that clarifies this has been merged. Closing this issue. Please feel free to engage with us if you have more questions.

[2020-07-28 19:27] #2707 closed

[2020-07-28 20:24] ashish-amarnath commented on #2697
A quick look at the code for this.
https://github.com/vmware-tanzu/velero/blob/main/pkg/cmd/cli/restore/delete.go#L108-L115

We don't delete the restore data from the backup storage location. The only time we delete restores from the BSL is when the associated backup is deleted.
Not deleting the restore from the BSL on `velero restore delete` maybe by design and not a bug.

I think we can make a c

[2020-07-28 20:30] ashish-amarnath commented on #2697
I think I am going to recant myself and call a bug.
Scenario:
1. Create a backup `b1`
1. Restore from `b1` as `r1`
1. Restore from `b1` as `r2`
1. `velero restore delete r1` will delete the kubernetes object, and not the restore in the BSL.
1. Now, `velero delete backup b1 --confirm` will only discover `r2` as the restore corresponding to `b1` and therefore will delete only `r2` from the BSL. This

[2020-07-28 23:28] omnidreamer opened #2773 "could not parse s3ForcePathStyle (expected bool)"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
A coworker setup minio on a different VM that is accessible by the k8s cluster.
We tried installing velero on the master node and get an error about the boolean value true when running this command:
`sudo velero install --provider aws --bucket velero --secret-file ./crede

[2020-07-28 23:36] carlisia commented on #2773
I'd like to start this with a very wild guess: when you passed `"true"`, are you sure you used straight quotes and not the formatted kind?

Here's an example that works:
` --backup-location-config region=minio,s3ForcePathStyle="true",s3Url=http://192.168.2.24:9000 --use-restic`

[2020-07-28 23:44] carlisia commented on #2773
Also, may I please get the log from when you set s3ForcePathStyle to the expected boolean of `"true"`?

[2020-07-29 01:39] carlisia commented on #2715
@melanco please make sure you have proper resource limits allocated.

There's a PR open with a more helpful documentation on how to do that: https://github.com/vmware-tanzu/velero/blob/b3101e7f77f3eade2473868bc4e92d5f1245dcfe/site/docs/main/customize-installation.md#customize-resource-requests-and-limits

[2020-07-29 02:02] omnidreamer commented on #2773
I definitely tried typing the double-quotes as opposed to copying and pasting them from the documentation, just to be sure they were not the stylized versions.

My apologies, I'm not sure where the logs are stored. I tried using find to look into /var/log/ directory for anything with velero in its name. So I'm just going to copy and paste the CLI from running the command and the kubectl logs comma

[2020-07-29 02:16] carlisia commented on #2773
Ok I'm pretty sure I see the problem, and it also explains why the value isn't changing as you re-install with different values:

[code]

Because the BSL already exists, it doesn't get edited. You have to edit the `default` CRD manually in your cluster, OR, uninstall Velero and install it again.

Instead of using `s3ForcePathStyle="wrongtext"` please use `s3ForcePathStyle="true"`, if you have prob

[2020-07-29 02:18] carlisia commented on #2773
Sorry, correcting the log cmd you should use, which is the one you already used above: `kubectl logs deployment/velero -n velero`.

[2020-07-29 03:01] Rahulnz commented on #2708
Thanks for the reply @ashish-amarnath , Trident supports Kubernetes snapshot beta APIs as per https://netapp-trident.readthedocs.io/en/stable-v20.04/kubernetes/operations/tasks/volumes.html#on-demand-volume-snapshots
I was not aware of limitation as per point2 so I change the volumesnapshot class DeletionPolicy to "Retain" and I was successfully able to restore entire namespace using snapshots.
I

[2020-07-29 03:34] omnidreamer commented on #2773
Ah I think that's done it. I guess my co-worker had attempted the install with the wrong boolean expression `"*true*"` and after he struggled with it, he handed it off to me to investigate, but I just didn't think about needing to run uninstall first to get rid of the previously set value. I'm glad I reached out for help. Here is the uninstall commands, their outputs, the correct install command,

[2020-07-29 07:45] burkhat commented on #2539
@ashish-amarnath
Just for your information I'm on vacation from 01.08. - 17.08.20.
If you need some logfiles or information to this issue my colleagues @Mr-iX and @philipp1992 can help you.
Regards
Tobias

[2020-07-29 11:18] joschi36 commented on #2739
Maybe @skriss could have helped here, as he wrote the current logic in https://github.com/vmware-tanzu/velero/blob/main/pkg/restore/restore.go#L939-L949
But as far as I see he isn't maintainer anymore. Do you @nrb know about the current logic?

[2020-07-29 12:36] #2773 closed

[2020-07-29 12:47] Lirt commented on #2567
I would also like to ask for concise way to remove velero without removing backups physically.

If I delete `velero` namespace in which are all Velero-CRD resources (also backups), they will got deleted and this will most likely remove all physical backups in backupstoragelocation as well.

Is there an option to remove velero without removing the backups? If yes, it would help to know the proper w

[2020-07-29 13:16] carlisia commented on #2567
@Lirt deleting backup storage locations or uninstalling Velero will not delete the physical backups.

For reference: https://velero.io/docs/v1.4/how-velero-works/#object-storage-sync.

[2020-07-29 13:42] Lirt commented on #2567
I tried to delete backup using `velero backup delete velero-full-backup-<timestamp>` and it got deleted also from storage. I am using Minio backend. I don't know what will be the order of deletion when I delete whole namespace as suggested in uninstall guide, but for me it looks very non-deterministic and I think real backups could be easily removed this way.

[2020-07-29 13:46] carlisia commented on #2567
Correct, `velero backup delete` is a command meant to delete backups from storage. Uninstalling Velero or the `velero` namespace` is not. For reference: https://velero.io/docs/v1.4/how-velero-works/#object-storage-sync:

[2020-07-29 13:48] Lirt commented on #2567
Sorry, for that @carlisia , thank you for help :-).

[2020-07-29 14:41] arianitu commented on #2570
Also @nrb this is a pretty critical bug for us do you know the timeline of a fix? I think PVC restores should definitely use ClaimRef and I don't see that anywhere.

[2020-07-29 15:07] ashish-amarnath commented on #2708
With the CSI snapshot support, the snapshot operations are triggered by the creation of the `VolumeSnapshot` objects. The snapshot operation on the volumes, however, are performed by the CSI driver, in this case, the Trident driver and are stored in the storage system and not in the BackupStorageLocation, which in your case, is minio. So, yes Velero will not be copying the VolumeSnapshot to the ob

[2020-07-29 16:01] hibbert commented on #2634
Hi @carlisia thanks it would be really useful to us.

We'd be happy to change to automatically backup all volumes in a pod, all our PVCs need backing up. I'm not sure what you mean by "Between that + scheduling maybe it will make it easier with some scripting in the mix." though. Could you elaborate. For us our backup is rather long (see #2115) it's usually someone upgrading their app which causes

[2020-07-29 17:16] nrb commented on #2570
@arianitu Are you hitting it consistently when doing namespace remapping? I agree we should be setting the ClaimRef on remap cases, though I think it's more or less handled for us when not doing namespace remapping.

I don't have a timeline on a fix at the moment, depending on how easily it could reproduced we might be able to put out a patch release, but I can't make promises there at the moment.

[2020-07-29 17:19] ashish-amarnath commented on #2708
I am going to close this issue as you are now able to successfully backup and restore using the CSI snapshots.
Please feel free to re-open if you have more questions.

[2020-07-29 17:19] #2708 closed

[2020-07-29 17:25] nrb commented on #2739
@joschi36 Sorry about the delay in response.

I don't think this use case is one we've encountered before, so I need to learn a little more about it.

You're saying you have a PV manifest with no snapshot an a reclaim policy of Delete..is it actually deleted from Kubernetes at restore time? It appears so since Velero is recreating it.

Is this volume also deleted from the Isilon storage system, or

[2020-07-29 17:40] joschi36 commented on #2739
**Background:**
Our K8s backup/restore plans are discoupled with our volume backup/restore plans.
The storage system we are using is also completely discoupled from K8s
Also, we need to use the Reclaim Policy Delete.

**Expectation:**
The idea is that when an Incident happens (for instance deletion of all server nodes) we want to recreate the cluster and reapply all manifests, also the PV manifest

[2020-07-29 18:48] arianitu commented on #2570
@nrb Yes this is consistent, but it is a race condition. You need another PVC to waiting for a PV that is created by Velero to hit this case. But the bug seems major to me, what do you think? Velero will only restore things consistently as long as nothing else is happening on the cluster (which on a busy cluster is quite rare.)

Do you want a reproducible case?

[2020-07-29 19:27] Rahulnz commented on #2708
Thanks Ashish for your all help in resolving this issue. I really
appreciate your detailed response and problem diagnosis.
Rahul

On Thu, 30 Jul 2020, 5:19 AM Ashish Amarnath, <notifications@github.com>
wrote:

[2020-07-29 20:29] #2729 closed

[2020-07-30 01:57] jenting opened #2777 "[Custom CA] Missing cacert in velero backup-location create command"
**What steps did you take and what happened:**

The flag `--cacert` is used to creates a secure connection to BSL with x.509 certificate.
However, I found a problem that `velero backup-location create` is missing a way to configures BSL with CA cert.

**What did you expect to happen:**

We should have the ability to set up CA when creates backup-location, for example:
[code]

**The output of the f

[2020-07-30 03:12] subodh-dharma commented on #2742
@nrb I had a discussion on slack channel #velero, it seems like velero restoration drops the `status` field. I was expecting it to be a part of the CR resource while performing a restore as it was part of it when performing a backup. 🤷‍♂️

I am not sure if it is a good idea to have a flag-switch in velero restoration to allow preserving the `status` field. At least in my case, there is some busine

[2020-07-30 17:30] ashish-amarnath commented on #2763
@asoltesz We have some resources on our website with blogs on how to use Velero to backup MariaDB. These are available at https://velero.io/resources/ and I am referring in particular to https://docs.bitnami.com/tutorials/backup-restore-data-mariadb-galera-kubernetes/
Hope this can give you an idea on how to use Velero to backup MariaDB.

[2020-07-30 17:34] ashish-amarnath commented on #2763
Also, here are two posts about backing up MySQL with WordPress. But I think you can ignore the wordpress application and get ideas to backup just MySQL
https://blog.kubernauts.io/backup-and-restore-of-kubernetes-applications-using-heptios-velero-with-restic-and-rook-ceph-as-2e8df15b1487
https://medium.com/@Sandeepkallazhi/velero-backup-restore-for-k8s-stateful-applications-managed-by-operators-8fd

[2020-07-30 17:35] ashish-amarnath commented on #2763
I am going to close this issue as your question has been answered. Please feel free to re-open should have more questions or need help with using Velero.

[2020-07-30 17:35] #2763 closed

[2020-07-30 17:39] ashish-amarnath commented on #2763
I see there are couple of questions that I didn't answer.

Yes, you can use backup hooks https://velero.io/docs/v1.4/hooks/ to extend Velero to perform custom actions before a backup.

Not yet, we are working on building restore hooks to support this. The design for this feature is available at https://github.com/vmware-tanzu/velero/blob/main/design/restore-hooks.md

[2020-07-30 17:45] ashish-amarnath commented on #2653
@rahulgit1988 Yes, you can include specific resources that you intend to backup. You can use the `includedResources` in the BackupSpec https://velero.io/docs/v1.4/api-types/backup/ to indicate all the resources that should be included in the backup.

[2020-07-30 17:47] ashish-amarnath commented on #2669
I am closing this issue for inactivity. Please feel free to re-open if you have more questions.

[2020-07-30 17:47] #2669 closed

[2020-07-30 17:48] ashish-amarnath commented on #2670
I am closing this issue for inactivity. Please re-open once you are able to provide the requested info.

[2020-07-30 17:48] #2670 closed

[2020-07-30 18:12] ashish-amarnath commented on #2742
@nrb We've seen these requests quite a bit.
WDYT of implementing a generic RestoreItemAction plugin that skips resetting the status fields if there is an annotation on the resource?

[2020-07-30 18:18] ashish-amarnath commented on #2715
@melanco here is another issue that is similar to what you are seeing https://github.com/vmware-tanzu/velero/issues/2435
I think the suggestion I can make is to try taking backups are a finer grain instead of backing up the whole cluster at once.

[2020-07-30 18:33] #2777 closed

[2020-07-31 06:32] runzexia commented on #2654
using:
`https://github.com/vmware-tanzu/velero/tree/master/pkg/discovery`

[2020-07-31 07:37] shellwedance opened #2780 "restic: support backup on volumeMode block"
**Describe the problem/challenge you have**

With using restic, velero does backup and restore only PVs whose **volumeMode is Filesystem**.
When it creates backup for volumeMode Block PV, partial fail occurs.

**Describe the solution you'd like**

Make restic-plugin-velero support Backup and Restore on **volumeMode Block PV**.

**TODO**
  - Detects the volumeMode of annotated volume in backup cont

[2020-07-31 07:37] Panplumousse opened #2781 "Activate --default-volumes-to-restic without reinstalling"
**Describe the problem/challenge you have**
Is not really a problem is a question about velero installation

**Describe the solution you'd like**
I am using velero / restic in production and would like to change the way volumes are backed up.

I would like to activate the option: --default-volumes-to-restic
without reinstalling velero, maybe by modifying the velero "deploy".

Could you tell me how

[2020-07-31 09:26] asoltesz commented on #2763
@ashish-amarnath Thanks for the info, I will review them

[2020-07-31 09:49] asoltesz commented on #2763
@ashish-amarnath

Regarding this article:
https://blog.kubernauts.io/backup-and-restore-of-kubernetes-applications-using-heptios-velero-with-restic-and-rook-ceph-as-2e8df15b1487

I do not see how this is a correct MySQL/MariaDB backup.

It seems to simply take a Restic backup while the database is online. The backup will be inconsistent and restore will result in a currupt database if the database

[2020-07-31 16:55] nitinkansal1984 opened #2782 "Velero schedule and TTL is not working as expected"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Velero backup schedule is not working with TTL value.

**What did you expect to happen:**

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fin

[2020-07-31 17:28] ncdc commented on #2742
I believe you'll need to create without status, then immediately follow-up with a 2nd call to update the status. The apiserver does not allow you to create with status (it forcibly clears it out).

[2020-07-31 17:33] ironknight78 commented on #2397
Hey @carlisia ! I'm new here and would like to further #investigate this problem!

[2020-07-31 17:35] carlisia commented on #2397
Awesome! I assigned this to you. Please let me know if I can guide you with anything.

[2020-07-31 17:40] harsh2202 opened #2783 "not able to get all required env vars for aks"
An error occurred: some backup storage locations are invalid: error getting backup store for location "default": rpc error: code = Unknown desc = unable to get all required environment variables: the following keys do not have values: AZURE_TENANT_ID, AZURE_CLIENT_ID, AZURE_CLIENT_SECRET, AZURE_SUBSCRIPTION_ID
Using HELM 3

using helm install --name velero --namespace velero --set-file credentials

[2020-07-31 19:10] ironknight78 commented on #2397
Thanks a lot!! I'll start working on it :D and go back for any issues or guidance.

[2020-07-31 20:00] ironknight78 commented on #2397
Which specific packages do you think would be a good place to start @carlisia ?

[2020-08-03 06:36] nwakalka commented on #2746
Hi @nrb,

Were you able to replicate the issue at your end ? is it possible to schedule meeting with you ?

[2020-08-03 09:52] luisbtejada opened #2784 "Installation Error"
hi,
I'm getting an error when I try to set up the velero server. I am setting it up on an Azure Kubernetes Cluster.

My velero-credentials are the following:
AZURE_SUBSCRIPTION_ID=125d7221-e127-4658-baf7-3dca8145ef4a
AZURE_TENANT_ID=92e84ceb-fbfd-47ab-be52-080c6b87953f
AZURE_CLIENT_ID=d68d35fb-aa89-4579-9aed-0ad86011971f
AZURE_CLIENT_SECRET=(REDACTED)
AZURE_RESOURCE_GROUP=MC_css-dev-1-eastus-1_css

[2020-08-03 16:25] leiw324 opened #2785 "Install v1.0.0 not successfully"
Hello,

k8s version:
Client Version: v1.18.3
Server Version: v1.18.3

velero version:
Client:
        Version: v1.0.0
        Git commit: 72f5cadc3a865019ab9dc043d4952c9bfd5f2ecb

CentOS version:
CentOS Linux release 7.8.2003 (Core)

**What steps did you take and what happened:**
I am following this guideline: https://github.com/justmeandopensource/kubernetes/blob/master/docs/setup-velero-notes.md

[2020-08-03 22:20] ashish-amarnath commented on #536
@mtritabaugh You can work on this if you would like. I am not finding a way to assign this to you either :)

[2020-08-04 04:11] balajir24 commented on #2694
@nrb Any update on this?

[2020-08-04 06:17] sharkymcdongles opened #2788 "Prometheus Metrics Aren't Properly Reported in 1.4.0"
**What steps did you take and what happened:**
Create a service monitor for prometheus that points to the svc for Velero that has been deployed with metrics enabled and is listening on 8085.

Run any backup and then check either velero_backup_success_total or velero_backup_failure_total or velero_backup_partial_failure_total metric in Prometheus. Value will be 0 for all three metrics regardless of

[2020-08-04 07:35] sharkymcdongles commented on #2788
Okay it seems to work when I upgrade to 1.4.2, so maybe something was fixed there that wasn't documented in release notes. Will close this.

[2020-08-04 07:35] #2788 closed

[2020-08-04 10:11] cloudcafetech opened #2789 "cacert not working with Minio https"
Running Minio as a docker with https on host 10.128.0.9

By using self signed certificate with following command.

[code]

Then running Kubernetes Cluster (version 1.18.6) on different host (10.128.0.5) and same self signed certificate generated with above command for velero setup.

[code]

All pods are running fine but getting following error ```x509: certificate signed by unknown authority``` fo

[2020-08-04 13:23] whitepiratebaku opened #2790 "Skip volume backup"
Hi dear community, I have velero 1.4.2 as I know this version of velero supports opt-in method to backup volumes` data.Which I have annotated pods so velero can take volume data backup. Now I have two storage locations.For second location I only want to take config backup but not volume data.Is there any way I can tell "velere create backup" that dont take volume data.

[2020-08-04 15:13] ashish-amarnath commented on #2790
Yes, it is possible to have Velero skip volume snapshotting.
To do that you will use the `SnapshotVolumes ` field in the BackupSpec https://pkg.go.dev/github.com/vmware-tanzu/velero@v1.4.2/pkg/apis/velero/v1?tab=doc#BackupSpec.

This can also be set to false using `--snapshot-volumes=false` option to the `velero backup create` command .

I am going to close this issue as the question has been answ

[2020-08-04 15:13] #2790 closed

[2020-08-04 15:21] ashish-amarnath commented on #2788
@sharkymcdongles Nothing wrt metrics reporting has changed in version 1.4.2 and I am surprised that it didn't work right away for you. If you run into the issue again please use the troubleshooting steps from our docs https://velero.io/docs/v1.4/troubleshooting/#velero-is-not-publishing-prometheus-metrics and feel free to reopen the issue.

[2020-08-04 15:57] mtritabaugh commented on #536
@nrb @ashish-amarnath Please assign this to me, thank you.

[2020-08-04 16:35] areed commented on #2731
I can work on this one.

[2020-08-04 17:00] ashish-amarnath commented on #2694
@balajir24 Are your disks in US-East (secondary) or UK-South (primary)?
This is what the azure plugin does to create snapshots of volumes
https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/main/velero-plugin-for-microsoft-azure/volume_snapshotter.go#L263-L274

The snapshots go to the same location that the disks are located in.

[2020-08-04 17:17] ashish-amarnath commented on #2789
@cloudcafetech The issue here is that the velero CLI doesn't have the ca cert bundle that needs to be used.
Can you please follow the steps from our docs https://velero.io/docs/v1.4/self-signed-certificates/#trusting-a-self-signed-certificate-during-installation to see if that resolves your problem?

[2020-08-04 17:28] ashish-amarnath commented on #2785
@leiw324 It is not clear to me if the `velero install` command failed or did velero fail to start?
If `velero install` command failed, then can you please share the output of the command?
If the velero pod failed to start or kept crashing, then can you please share the output of `kubectl logs deploy/velero -n velero`.

Also, looks like you are trying to install a very old version of Velero and I w

[2020-08-04 17:38] ashish-amarnath commented on #2784
@luisbtejada Looks like you are missing a config to setup Velero with access to the azure resources.
Can you please refer the docs at https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#set-permissions-for-velero to setup the correct permissions for velero-plugin-for-microsoft-azure?

Can you also please share the forums where you saw this error?

[2020-08-04 17:55] ashish-amarnath commented on #2783
@harsh2202 Can you please confirm if you are using the latest version of the velero-plugin-for-microsfot-azure?
This is the latest release https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/releases/tag/v1.1.0
The container image for this release is available on [velero docker hub](https://hub.docker.com/layers/velero/velero-plugin-for-microsoft-azure/v1.1.0/images/sha256-adbdea5073

[2020-08-04 18:12] ashish-amarnath commented on #2782
Velero backups for kubernetes resources are full backups capturing the resource manifests at a point in time. For VolumeSnapshots, however, can be incremental, if the volume provider supports taking incremental volume snapshots. Further, volume backups taken using restic are also incremental.

Is the deviation from behavior that you are experiencing that the `ttl` from the `velero create schedule`

[2020-08-04 18:31] ashish-amarnath commented on #2781
@Panplumousse Thanks for asking for this feature.
Have you considered using the `--default-volumes-to-restic` flag on the `velero backup create` command to use this feature on a per backup basis instead of enabling it for all the backups?
You can find out more about this on our docs website at https://velero.io/docs/main/restic/ under the "Using the opt-out approach" section

[2020-08-04 18:40] #2466 closed

[2020-08-04 18:51] ashish-amarnath commented on #2743
You can find all of our docs at https://velero.io. PTAL!

[2020-08-04 19:11] ashish-amarnath commented on #2737
This seems like an issue in the https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues repo.
Going to transfer this issue.

[2020-08-04 19:51] ashish-amarnath commented on #2718
Going to close this issue as we have general scaffolding to add more metrics as we need.

[2020-08-04 19:51] #2718 closed

[2020-08-04 23:03] ashish-amarnath commented on #2721
@guimenezes If I am understanding your issue correctly, you are able to backup and restore your applications that don't use the NFS PVs. But trying to backup applications that are using NFS PVs, the backup does not make progress and the backup is stuck in `New` Phase.
Can you please share the output of `kubectl -n velero get podvolumebackups`?

If the Backup is stuck in `New` state, then it appear

[2020-08-05 02:37] cloudcafetech commented on #2789
The steps I followed as mentioned in docs.

I use same way self signed certificate creation for velero how I did for minio.

[code]

just wonder am I did any wrong ?

[2020-08-05 02:50] ashish-amarnath commented on #2789
@cloudcafetech You need to supply the ca-cert bundle to the velero CLI commands you are running.
As shown in the docs I linked earlier the velero CLI commands should be run like
[code]

[2020-08-05 03:02] cloudcafetech commented on #2789
Even when create backup also ?

[2020-08-05 03:04] ashish-amarnath commented on #2789
not when you are creating backup, but for commands like `velero backup describe | get | logs` where the CLI will connect to the object store to fetch data.

[2020-08-05 03:16] cloudcafetech commented on #2789
Thats the problem, I **can not** see any restic folder in minio after taking backup.

But I can see rest data in minio.

[code]

Temporary you can see

https://35.239.239.46/minio/velero-cluster1/

UID - admin
PASS - bappa2675

Will delete after half and hour

[2020-08-05 03:21] cloudcafetech commented on #2789
works with ```velero backup logs velero-bkp-us-cluster.mongo-demo.full-05-08-2020-03-09-52 --insecure-skip-tls-verify```

but no volume data ...

[code]

[2020-08-05 03:22] ashish-amarnath commented on #2789
I am going to have to investigate this and get back to you.

[2020-08-05 04:09] cloudcafetech commented on #2789
Got something interesting error "restic repository is not ready" .... seems that's the cause.

BTW just FYI ... I am using NFS backed persistentVolume.

[2020-08-05 08:29] panpan0000 commented on #1891
+1.   with `schedule`  for restore, it would make cross-cluster DR(main/standby cluster ) much more easier.
for example: I could schedule a backup in main cluster,  and schedule restore in standby cluster.
Simple cronjob only is not enough , you would be required to choose one among many backup points.(default latest one). And more over, the schedule restore may also include the spec "override" fo

[2020-08-05 09:13] Panplumousse commented on #2781
Hello

yes i have check that but i use schedule for backup and i dont know where put this flag option in schedule yaml

[2020-08-05 11:00] whitepiratebaku commented on #2790
Thank you for replying.I have already tried that but it did not help.I do not use volume snapshotting ,when I installed velero I used --use-volume-snapshots=false. but enabled --use-restic. My environment is bare metal not cloud.I just annotated pods through deployment and I was able to get volume data backups.But I have two backup locations and I want only one of them keep volume data.

[2020-08-05 12:29] desaintmartin commented on #2221
I would like to re-open since this is a common practice to optionally declare a ServiceMonitor, PodMonitor or PrometheusRule within a Helm Chart, and it does NOT interfere with anything if well written.

The idea of having a Helm Chart is to manage everything needed to run a Velero, one having to manually add other manifests defeats the whole purpose. Although of course it can't support all use ca

[2020-08-05 15:14] henkypunky opened #2794 "Create a way to do only cluster-scoped resource backup"
I am about to create a backup of all cluster-scoped resources only using these options:

--incl_namespaces="" --incl_clusterresources=True

Seems to work except for the fact that the namespace resources which are actually cluster-scoped resources are excluded from the backup. Is there an alternative way to get a backup of cluster-scoped resources including the namespaces (w/o its content)?
I guess

[2020-08-05 15:46] RobbieJVMW commented on #2397
@carlisia @ironknight78 if you need another set of fingers on the keyboard let me know.

[2020-08-05 16:26] ashish-amarnath commented on #2221
@desaintmartin
Thank you for asking, but the ServiceMonitor/PodMonitor/PrometheusRule is not part of this helm chart because:

1. Keeping ServiceMonitor/PodMonitor/PrometheusRule in this helm chart will require this repo keeping up with the Prometheus monitoring stack when newer versions of monitoring are out.
1. Maintainers of this helm chart are not fully familiar with the Prometheus monitoring

[2020-08-05 16:45] ashish-amarnath commented on #2794
@henkypunky I don't see a straightforward way to do this.
The best I could come up with was to use the `--exclude-resources` and `--include-resources` options for the `velero backup create` command.
I am going to mark this as an enhancement request rather than a question so that there is a more straightforward way to do this.

[2020-08-05 16:52] ashish-amarnath commented on #2723
@figassis This bug that you are hitting has been fixed in https://github.com/vmware-tanzu/velero/pull/2315
I would recommend updating to a more recent version of Velero to get this fix.

I am going to mark this issue as closed. But feel free to reopen if you run into the same issue again.

[2020-08-05 16:52] #2723 closed

[2020-08-05 16:55] ashish-amarnath commented on #2756
@jinxinxin163 I am going to close this issue for inactivity. But feel free to re-open once you have the info @nrb asked for.

[2020-08-05 16:55] #2756 closed

[2020-08-05 16:58] ashish-amarnath commented on #2781
Wrt schedules, the `--default-volumes-to-restic` flag was not getting passed from the `velero schedule create` command to the `BackupSpec` I have a PR https://github.com/vmware-tanzu/velero/pull/2776 that should fix that for you.

[2020-08-05 17:03] ashish-amarnath commented on #2757
@MadhuMahalingappa I assume you were able to resolve this issue following Nolan's suggestions.
- Upgrade to Velero 1.4.2 release. You will have to recreate your backup with this release as the bug fix was in the backup path.
- Use the Velero plugins for OpenShift to support restore ordering of the OpenShift CRDs.

I am going to close this issue. But feel free to reach out if you have more question

[2020-08-05 17:03] #2757 closed

[2020-08-05 17:07] desaintmartin commented on #2221
Thanks, I understand the reasons, however 1/2. those resources have not changed for years now and are very stable and 5. since this is an optional feature, it does not really apply

Note that the CRDs themselves were not created in previous versions of the chart, only objects of those CRDs, which is really different. At worst, an error stating that the resource type does not exists was thrown in c

[2020-08-05 17:12] ashish-amarnath commented on #2221
@desaintmartin I agree with the versioning point you make. I am sorry about breaking your alerting.

[2020-08-05 18:06] nrb commented on #2221
@desaintmartin I think you raise some good points here. At the very least, I think we missed on messaging here, which silently broke monitoring, and for that, I apologize. We should have incremented the major version and broadcast the change.

To your point about having the Helm Chart be an all-in-one destination for Velero management, I can see it. I'm going to give this some more thought.

[2020-08-05 18:14] bgagnon opened #2795 "Inconsistent schema for logging field "resource" in Velero server logs"
**What steps did you take and what happened:**
Enabled JSON logs for Velero (`--log-format json`) to index them in Elasticsearch.

**What did you expect to happen:**
Consistent mapping (ie. always a string) for logging fields:
* `progress`
* `name`
* `namespace`
* `resource`
* `persistentVolume`
* etc.

When `schema.GroupResource` is passed directly like this:

[code]

It produces a nested object

[2020-08-06 00:57] shaunc opened #2798 "Question/documentation: migration -- how to "point to location used by cluster 1" on EKS w/ service role"
I have two clusters, and would like to migrate from one to the other. They are setup using velero EKS config with service roles.

The documentation states:

How do I do this? The clusters have separate service roles, and the snapshot location of cluster 1 is simply listed as "default" by `velero snapshot-location get`. Perhaps I can hack the S3 permissions and/or the service role setup so that clu

[2020-08-06 01:35] ironknight78 commented on #2397
@RobbieJVMW Of course!!! Let's tackle this one. There are quite a while messages so we can get this together if you want.
Run the tool and let's pick some :)

[2020-08-06 04:05] harsh2202 commented on #2783
Hi Ashish,
I've been using the same release, I also pulled the images in advance.. still seeing the issue...

Thnx
H

[2020-08-06 07:10] VolkerKozlowski commented on #2746
Hi!
We did some more investigations on this issue and found the reason for this.

***What have we done?***
We created the backup.velero.io resource automatically from another operator which added an owner reference into backup.velero.io resource to have a depency between our resource and backup.velero.io resource, like
[code]

If we delete the backup.velero.io resource and the referenced CustomerB

[2020-08-06 10:42] henkypunky commented on #2794
@ashish-amarnath Thanks for quick response and action!

[2020-08-06 11:23] marco-seramondi commented on #2721
Hello there the same things is happening to my openshift 4.3 version. Velero and restic is installed and running properly.

kubectl get pod -n velero
NAME                      READY   STATUS    RESTARTS   AGE
restic-2zvfr              1/1     Running   0          6d22h
restic-72lhw              1/1     Running   0          6d22h
restic-7vzsh              1/1     Running   0          6d22h
restic-8

[2020-08-06 16:23] ashish-amarnath commented on #2789
Thanks for the update.

Just so I am reading this correctly.
You are able to get Velero working as expected using restic to backup PVs using NFS backed storage as your object store with minio without using custom ca-cert.
However, you are running into this issue when you are using custom ca-cert.

Can you please confirm?

[2020-08-06 16:24] ashish-amarnath commented on #2721
Sorry that you are having issues with this.
I've seen a couple of recent issues using restic and NFS as object storage. I don't know why this isn't working as expected. We'll have to investigate this further.
In the meantime, are you able to test this out without using custom ca-cert?

Related #2789

[2020-08-06 17:01] ashish-amarnath commented on #2783
Here are a few things to try to troubleshoot and narrow down the problem:
1. Confirm that the credentials file you are using doesn't have leading or trailing whitespaces and are like
[code]
without ` ` on either side of `=`

2. If that doesn't work, then can you please try to install Velero using the `velero install` command
[code]

[2020-08-06 17:08] ashish-amarnath commented on #2798
@shaunc
The instruction you are referring to is asking you to create backup storage location and volume snapshot locations in cluster 2 with the same data as those in cluster 1, where you want to migrate from.

The idea is that cluster 2 should be allowed/able to read backups taken from cluster 1. This will let Velero in cluster 2, read the backups and volumesnapshots taken as part of backups from

[2020-08-06 17:11] #2795 closed

[2020-08-06 17:33] ashish-amarnath commented on #2746
@VolkerKozlowski Thank you for the update.
I tried this a bunch of times and every time the backup sync was successful, with the backup objects getting recreated.

@nrb about https://github.com/vmware-tanzu/velero/issues/2746#issuecomment-662605214

I don't think there is a bug here https://github.com/vmware-tanzu/velero/blob/main/pkg/controller/backup_sync_controller.go#L226

if err != nil and er

[2020-08-06 17:41] nrb commented on #2746
@VolkerKozlowski Thanks for the further information! That makes more sense now, with the `ownerReference` presenting a wrinkle that we generally don't have.

@ashish-amarnath Thanks for that double check - your understanding is correct. I think we can close this issue for now.

[2020-08-06 17:41] #2746 closed

[2020-08-06 17:47] ashish-amarnath opened #2800 "Backup process should have a time out so that long running backups don't block the backup pipeline"
https://github.com/vmware-tanzu/velero/issues/2738#issuecomment-662386328

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to the right of this comment to vote.

- :+1:

[2020-08-06 17:53] ashish-amarnath commented on #2738
@joschi36

Unfortunately, we don't have a time out on the backup process. But that might be a good feature to have I agree.
I created https://github.com/vmware-tanzu/velero/issues/2800

@sgielen Apologies for the high latency on this issue.
In the original comment, I see an error message
[code]
@vishnuitta are you familiar with this above error. Could this have blocked the backup pipeline?

From a

[2020-08-06 18:08] shaunc commented on #2798
@ashish-amarnath -- in fact, that much I figured out. The question is how to set this up for EKS with service roles & ISRA. In fact, I ended up reconfiguring cluster 2 to have the same service account and S3 bucket as cluster 1. However, in general it would be good to have instructions on how to add an additional location, as often when you migrate you don't want to affect the target cluster's own

[2020-08-06 21:09] nrb commented on #2570
@arianitu A reproducible case would be awesome!

[2020-08-06 21:21] nrb commented on #2800
In thinking about this, I think I'd label this as a P1.

Even once we have multiple backups running at once, this would be useful in preventing a backup from getting stuck.

What I don't know is what a reasonable default is, but I think this requires a short design document with some experimentation.

[2020-08-06 21:25] nrb commented on #2781
To answer the question about modifying the velero deployment, you can use `kubectl edit` or `kubectl patch` to modify the Velero deployment's arguments.

`velero install` currently does not modify deployed Kubernetes objects, and will eventually be deprecated in favor of a new command (`velero config`) that can.

[2020-08-06 22:10] #1440 closed

[2020-08-06 23:49] areed commented on #2731
I've been basing my work on https://github.com/vmware-tanzu/velero/pull/2787, which seems to be stabilized. I will post some code tomorrow for feedback.

[2020-08-07 01:04] cloudcafetech commented on #2789
with older velero (1.3.2) version, minio **http** and NFS storage it works fine.

[2020-08-07 02:25] cloudcafetech commented on #2789
Just now tested with new velero (1.4.2) version, minio http and NFS storage.

And it works fine, also I can see restic folder.

[2020-08-07 02:39] cloudcafetech commented on #2721
I use automatic annotation with NFS. which works fine with NFS PVs.

But not tested with minikube, my setup with kubeadm.

[2020-08-07 03:01] ashish-amarnath commented on #2789
@cloudcafetech Thanks for that info. I'll have to investigate this further to give you an update.

[2020-08-07 08:24] marco-seramondi commented on #2721
Perfect. I use kubectl too. COuld you please elaborate further on how you
automated the annotation on NFS (aws efs) ? Please
*Marco Seramondi*
DEVOPS

322 High Holborn | London WC1V 7PB  <https://goo.gl/maps/aEeFGNY98U7FNRsh6>
(+44) 203 488 0401

Globacap Limited is a limited company registered in England and Wales with
registered number 11046987, VAT registered number GB285063004, and
registered

[2020-08-07 16:33] ashish-amarnath opened #2801 "Restic restores fail because restic-restore-helper unable to start"
**What steps did you take and what happened:**

Restoring pods using volumes backed by restic fails when using `velero/velero-restic-restore-helper:main` as the image for`velero-restic-restore-helper`

1. Take a backup using restic
2. Delete backed up namespace
3. Override the default image for velero-restic-restore-helper from `velero/velero-restic-restore-helper:latest` to `velero/velero-restic-

[2020-08-07 16:40] nrb commented on #2801
That makes sense, because the latest image wasn't built with this iteration of the Dockerfile. It should be the v1.4.2 version.

[2020-08-07 16:41] ashish-amarnath commented on #2801
Yes, that is what I intended to say but didn't state that explicitly 😄

[2020-08-07 21:17] guimenezes commented on #2721
@ashish-amarnath in the original issue the backup gets stuck "In Progress". Unfortunately I don't have the setup anymore but I can reproduce it again as soon as I get some time.

Also in the original issue when looking inside the minikube VM I get into the same stuck condition by just ls'ing the NFS mount point. So I think it is likely restic was also getting stuck in the same way.

I am in the pr

[2020-08-08 01:36] ashish-amarnath commented on #2722
There are a couple of things that make this change non-trivial.
- The `doneFile` is created as [ioutil.WriteFile(filepath.Join(volumePath, ".velero", string(restoreUID)), nil, 0644)](https://github.com/vmware-tanzu/velero/blob/main/pkg/controller/pod_volume_restore_controller.go#L399)
- Updating the permissions on the `doneFile` to `0666` in the `WriteFile`  call doesn't work because
[code]
- This

[2020-08-08 03:11] areed commented on #2731
PR opened https://github.com/vmware-tanzu/velero/pull/2804/commits/88650b776bf9d4c77977f2c47b359652ca2cd1d9. I'd appreciate some feedback on whether to continue with this approach and work through the TODO's or to take it in a different direction.

[2020-08-08 04:34] harsh2202 commented on #2783
Hi Ashish,

using velero I'm able to install however, I have been looking way to install velero using "helm chart" on AKS cluster... below creds file I'm using...
$USERNAME='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
$AZURE_SUBSCRIPTION_ID='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
$AZURE_RESOURCE_GROUP='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
$AZURE_CLIENT_SECRET='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
$AZURE_TENANT_ID='XXX

[2020-08-08 06:01] #2783 closed

[2020-08-08 06:20] ashish-amarnath commented on #2783
Were you able to resolve the problem? I am curious to know what the resolution was.

________________________________
From: harsh2202 <notifications@github.com>
Sent: Friday, August 7, 2020 11:01:35 PM
To: vmware-tanzu/velero <velero@noreply.github.com>
Cc: Ashish Amarnath <ashisham@vmware.com>; Comment <comment@noreply.github.com>
Subject: Re: [vmware-tanzu/velero] not able to get all required en

[2020-08-08 06:29] harsh2202 commented on #2783
Yes.. as stated above... in my azure service principle there were few special character in the password.. which were not being encoded rightly... so I changed my azure service principle password without special character and it was able to recognize all the values available in the cred file.....

[2020-08-08 11:24] Panplumousse commented on #2781
@nrb
Thx for you answer , but where in deployement i have to put information and witch information , for use --default-volumes-to-restic

thx a lot

[2020-08-08 12:01] leiw324 commented on #2785
Hello,

Thank you for the reply, please take a look on the screenshot:
![image](https://user-images.githubusercontent.com/33790160/89709957-d2f60a00-d9b1-11ea-81cc-290e3dbcd1f0.png)
This is minio Bucket:
![image](https://user-images.githubusercontent.com/33790160/89709991-00db4e80-d9b2-11ea-9acd-0a8e7a4645fd.png)
Thanks

[2020-08-08 12:06] leiw324 commented on #2785
I just tried v1.4.2, but need plugins?
![image](https://user-images.githubusercontent.com/33790160/89710076-9c6cbf00-d9b2-11ea-86b9-7fb5b2fcf67f.png)

[2020-08-08 14:02] leiw324 commented on #2785
Hello,

I just tried with plugins command successfully installed v1.4.2
![image](https://user-images.githubusercontent.com/33790160/89712352-e78ece00-d9c2-11ea-9d6b-f67c984da097.png)

[2020-08-08 17:47] ashish-amarnath commented on #2785
Thank you for confirming. I am going to close this issue as resolved.

[2020-08-08 17:47] #2785 closed

[2020-08-08 17:50] ashish-amarnath commented on #2783
Thank you for clarifying.

[2020-08-08 18:02] ashish-amarnath commented on #2781
@Panplumousse the `--default-volumes-to-restic` is a command-line flag to the `velero` container
[code]

[2020-08-08 19:14] ashish-amarnath commented on #1959
@MKruger777 and @gdubya can you please share the `velero install` command that you are using to install `velero`?
Can you also please share the version of velero and velero-plugin-for-microsoft-azure that you are using?
There have been some recent updates to our plugin docs to add more clarity https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#install-and-start-velero if you want to

[2020-08-08 20:19] ashish-amarnath commented on #2688
Sorry about the latency here. Looking at this now.

[2020-08-08 20:49] ashish-amarnath commented on #2688
@michael-niemand This is what I saw when I re-ran the steps you reported in this issue.
I saw that the pod volume restores get created.
[code]

But the pod volume restore controller wasn't able to make progress
[code]

This was because the associated persistent volumes weren't restored.
[code]

[2020-08-09 14:54] kmadel commented on #1624
Velero added beta support for CSI with 1.4. By enabling the Kubernetes native support for VolumeSnapshots with CSI with Velero 1.4 you can now have multi-zone and multi-region restore for GCP/GKE as GCP disk snapshots are multi-region when created via the CSI Volume Snapshot capability. The only caveat that I am aware of is that GCP multi-region disk snapshots are still geo bound to: us, europe, o

[2020-08-10 06:44] Panplumousse commented on #2781
@ashish-amarnath  thx for your feed back

from which version of velero this functionality is present I am currently in 1.3.2
and when i try to modify deploy i receive this error :

Error: unknown flag: --default-volumes-to-restic
Usage:
  velero server [flags] ....

thx a lot

[2020-08-10 06:46] ashish-amarnath commented on #2781
This feature isn’t available in a release yet. It will be available from the upcoming 1.5 release eta end of aug 2020

________________________________
From: Panplumousse <notifications@github.com>
Sent: Sunday, August 9, 2020 11:44:54 PM
To: vmware-tanzu/velero <velero@noreply.github.com>
Cc: Ashish Amarnath <ashisham@vmware.com>; Mention <mention@noreply.github.com>
Subject: Re: [vmware-tanzu/ve

[2020-08-10 07:12] Panplumousse commented on #2781
@ashish-amarnath ok thx a lot

[2020-08-10 14:30] kmadel commented on #103
You don't need backup replication to support multi-zone and multi-region for GCP/GKE with the K8s VolumeSnapshot beta support of Velero v1.4. See https://github.com/vmware-tanzu/velero/issues/1624#issuecomment-671061689

[2020-08-10 16:13] ashish-amarnath commented on #2781
@Panplumousse I don't think there is any further action item on this PR. I'll close this out. Feel free to reach out if you have more questions.

[2020-08-10 16:13] #2781 closed

[2020-08-10 18:21] ashish-amarnath commented on #2731
@areed Thanks for getting started on this. The changes you shared seems inline w/ our design.

[2020-08-11 04:39] balajir24 commented on #2694
@ashish-amarnath disks present in UK-South (primary) only.

[2020-08-11 08:12] gdubya commented on #1959
@ashish-amarnath In my case it turned out my config file was incorrect. I edited the config based on the examples and got it working again.

[2020-08-11 08:40] michael-niemand commented on #2688
Thanks for the reply! I haven't followed that path further - we switched to VolumeSnapshots in the meantime. But what could it mean when the associated PVs weren't restored? I saw that log message but disregarded it since it was just info level. Is that a permission issue? Are the PVs supposed to be restored?

[2020-08-11 09:26] rahulgit1988 opened #2809 "Remove the necessity of object storage as primary backup location"
**Describe the problem/challenge you have**
Nowadays, object storage solution is very pupular and common in OSS forums.
I think that is the reasone Velero backup supports only object storage as backup location.
But for users on-premises or private enviorment, object storage is not very common soultion. and that is the major problem/limitation of Velero.

**Describe the solution you'd like**
- A Ob

[2020-08-11 10:45] dk-do opened #2810 "Restore result is different than the original values (K8S Service)"
**What steps did you take and what happened:**
We took a backup of the kube-dns service:

`velero backup create coredns --selector kubernetes.io/name=CoreDNS`

After hat we checked the IP of the kube-dns service:

[code]

Then we deleted the service:

`kubectl delete svc -n kube-system kube-dns`

And restored it:

`velero restore create coredns --from-backup coredns`

After that we were not able t

[2020-08-11 13:01] rnrsr commented on #2632
/reopen

I have the same problem on version 1.4.2. It looks like all the CRDs are there, but the CRs are failing to restore with the above message _on the first restore_
**tldr**; the workaround is to run the restore twice.

**Velero**: 1.4.2
**k8s**: 1.15

On a new cluster (using EKS) I have to run the restore twice, basically. the first time the logs show the CRD being restored, but the CR itsel

[2020-08-11 13:42] rnrsr commented on #2632
here's the output from `kubectl get --raw "/apis" | jq .`
[after.log](https://github.com/vmware-tanzu/velero/files/5057282/after.log)
[before.log](https://github.com/vmware-tanzu/velero/files/5057283/before.log)

[2020-08-11 16:30] areed commented on #2654
Kots is using `github.com/vmware-tanzu/velero/pkg/label` for `GetValidName`.

[2020-08-11 17:33] nrb commented on #2632
@rnrsr Just to be sure, do you have Velero v1.4.2 on the client and server? Is the image on the Velero deployment v1.4.2?

If the image is indeed v1.4.2 on the deployment, could you provide a copy of the CRD and an instance of a CR that we could try to reproduce this with?

[2020-08-11 17:35] ashish-amarnath commented on #2632
@rnrsr You will also need to re-create your backup after you've upgraded the velero server to 1.4.2.

[2020-08-11 17:38] #2730 closed

[2020-08-11 17:51] nrb commented on #2680
When you say you saw backups of 4MB, was that from `velero backup download`? That command does not include restic data.

You can confirm restic backup inclusion by doing `velero backup describe` and looking for `Restic Backups` (in v1.4.2 and above). This will report what volumes were included with restic.

Also, if you'd like native vSphere snapshots, there's the [vSphere plugin](https://github.c

[2020-08-11 17:58] nrb commented on #2686
@looselycoupled I have a couple questions about the environment and configuration:

* What's the `DeletionPolicy` on the PVs affected?
* Are the etcd pods you're including for the Kubernetes cluster itself, or for some other service running inside of the cluster?
* I see you're using restic - are you using that for a specific reason? On AWS, I would advise using the AWS VolumeSnapshotter plugin ov

[2020-08-11 18:06] nrb commented on #2681
Hi @ganesan-cmd, Velero explicitly omits `Nodes` from the restore process since these resources are highly environment specific. As such, the IPs of the nodes are also not restored or migrated.

The recommended procedure is to take a backup on the original cluster (cluster A), create a new cluster (cluster B), install Velero on cluster B, then run the restore. All pods, deployments, statefulsets,

[2020-08-11 18:06] #2681 closed

[2020-08-11 18:14] nrb commented on #2649
I think this is due to Velero v1.4 using v1 of CustomResourceDefinitions, which was not available in Kubernetes v1.10.

For now, I'd suggest using an earlier version of Velero to create the backup, then restore with v1.4 onto Kubernetes v1.16. I believe v1.3 should work on Kubernetes v1.10. I believe Red Hat has stated they support back to Kubernetes v1.7 in another project with a bundled v1.3.x o

[2020-08-11 18:15] nrb commented on #487
@xmath279 Thanks for that feedback!

[2020-08-11 18:19] nrb commented on #2691
@luwang-vmware In Velero v1.4.2, we increased the restic timeout, as well as the amount of CPU/memory the restic daemonset has by default. This should help with larger data sets on restic. We got to the numbers by testing with datasets at 100GB.

We've also recently added documentation for modifying Velero & restic CPU/memory requests and limits so that restic operations can be given more resource

[2020-08-11 18:22] nrb commented on #2733
@mikelmao From your velero server logs, I see this entry:

`time="2020-07-20T18:44:39Z" level=warning msg="Velero restic daemonset not found; restic backups/restores will not work until it's created" logSource="pkg/cmd/server/server.go:509"`

If you were using `velero install`, you'll need the `--use-restic` flag to install the DaemonSet, which will provide restic support.

I'll close this issue o

[2020-08-11 18:22] #2733 closed

[2020-08-11 18:23] nrb commented on #2687
This was resolved by PR #2748

[2020-08-11 18:23] #2687 closed

[2020-08-11 18:25] nrb commented on #1135
@pingoleon108 Not yet - the priority has been moved around. Have you been affected?

[2020-08-11 18:33] ashish-amarnath commented on #1965
@IlyaNakhaichuk Can you please share how you are installing Velero? and also confirm that the credentials file you are using is in the expected format? You can find more instructions here https://github.com/vmware-tanzu/velero-plugin-for-aws#option-1-set-permissions-with-an-iam-user

[2020-08-11 18:34] nrb commented on #2653
@rahulgit1988 You didn't provide the whole path to the `phase` field, but I'm going to guess that it's somewhere in the `status`.

Right now, Velero clears the `status` field of any object on restore. There's an open request in #1687 to change this behavior, which I think this may be a duplicate of. Is that accurate?

[2020-08-11 18:37] #2801 closed

[2020-08-11 18:57] ashish-amarnath commented on #2262
@connorearl and @HaveFun83 we now have the necessary scaffolding to add metrics for restic backup. https://github.com/vmware-tanzu/velero/pull/2719
Please feel free to add more metrics.

[2020-08-11 19:17] ashish-amarnath opened #2811 "🐛 Velero CRDs from the main branch cannot be installed on a kubernetes 1.18 cluster"
See this GH action failures for more info.
https://github.com/vmware-tanzu/velero/actions?query=workflow%3A%22Verify+Velero+CRDs+on+k8s+1.18.4%22

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the

[2020-08-11 19:23] ashish-amarnath commented on #2722
@nrb removing this from the 1.5 milestone.

[2020-08-11 19:24] ashish-amarnath commented on #2501
@carlisia I think we can move this to a later release. WDYT?

[2020-08-11 19:25] ashish-amarnath commented on #2464
This was resolved by https://github.com/vmware-tanzu/velero/pull/2754
Closing this issue.

[2020-08-11 19:25] #2464 closed

[2020-08-11 19:28] carlisia commented on #2501
Yes, thank you. I thought I was gonna have more slack this cycle but, nope. Moved to 1.6, I this this might go a long way in helping newcomers boot up and run a development environment so maybe should be done sooner rather than later. But that can be changed.

[2020-08-11 20:41] nrb opened #2812 "Restore fails with error "no space left on device" if PVCs are 100% utilised during backup"
**What steps did you take and what happened:**
From an internal bug report:

Using Restic, restore is failing with error "no space left on device" if PVC was fully occupied by the user data while the backup is taken.

for example, PVC of size 1Gi and user data in the PVC is ~upto 100% which is of 1Gi

**What did you expect to happen:**

Velero restic restores should be successful, even if the PV i

[2020-08-11 22:03] ironknight78 commented on #2721
I think that this is a Velero issue. I am having the same issue on a cluster that was installed using kubeadm + NFS server. By the way @guimenezes , the installation you did on Velero was just fine. The issue here is that I think Velero doesn't support NFS  migrations. Is that correct?

[2020-08-11 22:08] ironknight78 commented on #2721
@guimenezes Related #1229 Check this one out.

[2020-08-12 02:42] ashish-amarnath commented on #2811
This is because of https://github.com/kubernetes/kubernetes/issues/91395

[2020-08-12 03:15] luwang-vmware commented on #2687
Thanks @thejasbabu and @nrb. I will have a try. BTW, is the fix in velero1.4.2?

[2020-08-12 03:46] cloudcafetech commented on #2721
kubeadm + NFS server + Minio without ```cacert``` works fine.

what I faced with ```cacert``` "restic repository is not ready" error

[2020-08-12 05:17] cloudcafetech commented on #2789
@ashish-amarnath Any update?

[2020-08-12 06:43] luwang-vmware commented on #2691
Thanks @nrb. I would have a try on velero 1.4.2. One question, which rule/principle could I follow when I need to use velero+restic to backup large PV or more PVs(in the same namespace) in one velero backup cli. More specific is that 100G PV is tested with your team with restic memory set as 512M(limited by 1G), if I want to use restic to backup 1T or 2T PV or 10 * 100G PV,  how do I need to calcu

[2020-08-12 09:35] rnrsr commented on #2632
@nrb yes my client is, and source and target clusters are all on 1.4.2.

Here an example CR and CRD:
[cr.log](https://github.com/vmware-tanzu/velero/files/5061830/cr.log)
[crd.log](https://github.com/vmware-tanzu/velero/files/5061831/crd.log)

@ashish-amarnath the backup i tested with was run _after_ upgrading to 1.4.2 - is there anything else i could try?

[2020-08-12 13:27] ironknight78 commented on #2721
@cloudcafetech that's interesting. May I know how you managed to fix the issue of the `cacert` error? Thank you in advance.

[2020-08-12 19:32] carlisia commented on #2397
Hey @ironknight78 since you were the first to volunteer, why don't you make a list of packages you'll address, and run that by @RobbieJVMW to see if he can do the remainder? We can create a second ticket for @RobbieJVMW.

[2020-08-12 22:13] #2422 closed

[2020-08-12 22:18] nrb commented on #2687
@luwang-vmware No, this will be in v1.5.0, however.

We're aiming to ship a beta for v1.5.0 soon.

[2020-08-12 22:26] nrb commented on #2694
@balajir24 Right now, Velero does not replicate disk snapshots across regions. On GCP, with regional disks, it does support cross-availability zone restore, but that's a GCP-specific feature.

As Ashish mentioned, Velero takes a snapshot that is stored in the same region as the disk itself.

We have long term plans to address this with #103, but for now, Velero is working as designed. You can add

[2020-08-12 22:26] #2694 closed

[2020-08-12 22:42] ashish-amarnath commented on #2066
There are 3 more issues pending in this epic. https://github.com/vmware-tanzu/velero/labels/CSI
Which are not going to make it for 1.5.
Punting the remaining issues to 1.6.

[2020-08-12 22:43] #2811 closed

[2020-08-12 23:16] ashish-amarnath commented on #2717
Helm also need to be updated to pass the `--default-volumes-to-restic` flag to the deployment

[2020-08-13 07:59] RobbieJVMW commented on #2397
Sounds good to me, I've got a test rig setup and cloned the repo.  Currently just looking over all the lines that are flagged with deadcode.   I was considering doing a 'removed dead code' push as the first pass against all the packages.   Any thoughts on that approach ?

[2020-08-13 09:06] galindro commented on #2198
@skriss According to https://github.com/restic/restic/pull/2733, restic now contains the fix for use IRSA.

[2020-08-13 11:18] joschi36 commented on #2739
Hey @nrb can you explain the behavior, because we would be happy to create a PR to extend the current switch with a flag in `velero restore create`.
Something like `--disable-reprovisioning`.

[2020-08-13 15:44] skriss commented on #2198
Great, now just need to wait for a new restic release that contains it! cc @vmware-tanzu/velero-maintainers

[2020-08-13 16:08] carlisia commented on #2397
Yes, let's get this rolling. Please open a ticket for this one and I'll assign it to you. Thank you!

[2020-08-13 17:44] guillierf opened #2818 "doc: describes how to install Velero on a vSphere environment using non-vSphere plugin"
hello,

having a doc page that describes how to install Velero on a vSphere environment using non-vSphere plugin would be helpful. In that case, Restic needs to be installed for both vCP and CSI storage plugin

[2020-08-13 17:47] guillierf opened #2819 "create an alias like ‘s3’ so --provider s3 would be similar than --provider aws"
When deploying Velero in a vSphere environmnet, "--provider aws" option in the Velero install command may be misleading.
Creating an alias like 's3' instead of 'aws' can improve user experience in a vSphere environment.

[2020-08-13 21:41] tsufeki opened #2820 "Checking restic repository for stale locks makes a lot of s3 api calls"
**Describe the problem/challenge you have**
Checking restic repository for stale locks runs `restic unlock` every [5 minutes](https://github.com/vmware-tanzu/velero/blob/c663ce15ab468b21a19336dcc38acf3280853361/pkg/controller/restic_repository_controller.go#L89) for each ResticRepository. This makes ~100 s3 api calls per hour per repository, essentially doing nothing of value.

I'm using velero fo

[2020-08-14 03:13] cloudcafetech commented on #2721
I am not using cacert, for that I use Minio setup with http **not https**

kubeadm + NFS server + Minio without cacert

[2020-08-14 10:35] galindro opened #2821 "Ability to set/get logs from restic restore commands"
**Describe the problem/challenge you have**
Today I executed a velero restore of a jenkins application and it took almost 1h to finish. The backup files are placed in a S3 bucket located in the same region of the EKS cluster (eu-west-1). The restore's storage class destination is AWS EFS. The data size is only 1.3GB.

Here is the velero restore log snippet that states the start and end times of re

[2020-08-14 15:42] Titof974 opened #2822 "Does Velero support hostpath ?"
Hello,

I'm using openebs with local hostpath storage. I can backup my pod but when I tried to restore it, I don't get my files in my hostpath storage back.
Does velero support hostpath backup and restore ?
Im' using restic.

[code]

Thanks
Titof

[2020-08-14 15:46] #2822 closed

[2020-08-14 16:47] ifraixedes opened #2823 "New method for the Object Store Plugins"
**Describe the problem/challenge you have**

I'm part of the team that is maintaining the Tardigrade Velero plugin (https://github.com/storj-thirdparty/velero-plugin)

Due to the way how the Tardigrade client library works, we should close the connection once the plugin is executed. We open a connection in the Init then we use the connection in all the other methods that must be implemented by an

[2020-08-14 17:41] nrb opened #2824 ""Latest" docs redirects no longer work"
When navigating to docs links such as https://velero.io/docs/start-contributing/, we get a 404. This used to work due to a Jekyll-specific redirect implementation, but now that we've switch to Hugo, we'll need to update the redirection mechanism.

[2020-08-14 20:34] hmehra opened #2825 "Velero does not send client certificate when using custom cert option"
**Describe the problem/challenge you have**
When a self signed certificate is provided to Velero for the S3 object store with cacert option, it uses SSL with TLSv1.0 for the security handshake. TLS v1.0 is very old and the server rejects the handshake. This was done using Velero v1.4 and aws-plugin v1.1.0

**Describe the solution you'd like**
Velero should use TLSv1.2 for SSL handshakes and connec

[2020-08-14 20:40] ashish-amarnath commented on #2825
Thank you for reporting this issue.
Velero doesn't initiate the SSL handshake to negotiate the TLS versions. This is handled by the aws sdk that Velero uses.
We'll investigate how this can be configured.

[2020-08-14 20:53] phuongatemc opened #2826 "Randomly failed to execute hook with error "unable to upgrade connection: pod does not exist""
On our database application pods, we added Hook annotation with quiesce command specified.  When we backup the namespace, the pods are backup and the quiesce/unquiesce command in the Hook were executed properly.  But once awhile, we hit error below and backup failed.

 time="2020-06-15T19:34:03Z" level=error msg*="Error executing hook"* backup=velero-ppdm/mysql-cluster1-2020-06-15-12-32-31-mysql-c

[2020-08-14 23:05] ashish-amarnath commented on #2789
@cloudcafetech I haven't looked at this yet, can you please share how you setup your minio object-store. That'll be one less thing for me to figure out.

[2020-08-15 10:03] cloudcafetech commented on #2789
Though I already provided in initial discussion ...

By using self signed certificate with following command.

[code]

[2020-08-15 18:11] ashish-amarnath commented on #2789
@cloudcafetech Thank you for your patience.
What I asked for was the setup of your MinIO, not how you install Velero.

Anyway, your problem is because you are passing `public.crt`, which is not the ca-cert, as the cacert to Velero for it to validate the certificate presented by MinIO.
`public.crt` is most likely the certificate you generated for the MinIO service and is different from CA cert.
CA

[2020-08-16 10:10] cloudcafetech commented on #2789
@ashish-amarnath Will try to setup as per your reference URL & update you.

[2020-08-16 16:57] cloudcafetech commented on #2789
Hi @ashish-amarnath

Did MINIO setup as per your reference URL but error are same "restic repository is not ready"

and velero setup as below

[code]

**JUST FYI my MINIO and Kubernetes are not in same in same server.**

MinIO  in 10.128.0.9
Kubernetes in 10.128.0.5

Please find below logs

[code]

[2020-08-17 05:05] cloudcafetech commented on #2789
Look like ```velero backup create``` with option ```--insecure-skip-tls-verify``` will may work

But unfortunately this option not available with ```velero backup create```

[2020-08-17 06:50] rahulgit1988 commented on #2809
Hello Ashis,
I understand that it is enhancement which can be planned later, meanwhile could you please help us to understand the fesibility of the folloing approach?
**Approach:**
_1. Setup one MINIO OBJ. Storage as cache(Intermediate backup location for Velero), and put the backup objects (snapshot and metadata).
2.Move(download) the backup objects to the POD PV (Filesystem mounted PV) and store

[2020-08-17 14:16] bgagnon opened #2829 "Irreconcilable error, error.file and error.function logging fields"
**What steps did you take and what happened:**
Enabled structured logging (`log.format=json`) to index Velero logs in Elasticsearch. This produces mapping exceptions such as:

[code]

**What did you expect to happen:**
Velero log event fields should be consistent with each other and allow a JSON representation compatible with Elasticsearch to exist.

**Anything else you would like to add:**
This i

[2020-08-17 22:07] ashish-amarnath commented on #2789
I understand that in your setup the server running MinIO is outside of your kubernetes cluster. That is the same setup that I tested this against in https://github.com/vmware-tanzu/velero/wiki/Contributing-FAQ#how-do-i-use-minio-with-https-using-a-custom-ca-as-an-object-store-for-velero.

The `--insecure-skip-tls-verify` is a property of the BackupStorageLocation and can be set when you create the

[2020-08-18 01:04] sreesanpd commented on #1624
@kmadel I tried using CSI plugin with Velero 1.4.2 in gke cluster (k8s version 1.17) with the addon GcePersistentDiskCsiDriver=ENABLED. Velero took multi region snapshots but when I tried to restore it in another region, the PV got created in the primary region and not in the secondary region (so the pods couldn't bind the PV). It would be great if you can describe the exacts steps that you have f

[2020-08-18 02:19] cloudcafetech commented on #2789
My steps are are documented in https://github.com/cloudcafetech/velero-backup-restore/blob/master/README.md

Certificte generation using script https://raw.githubusercontent.com/cloudcafetech/velero-backup-restore/master/create-cert.sh as instructed in your recommended  https://github.com/vmware-tanzu/velero/wiki/Contributing-FAQ#how-do-i-use-minio-with-https-using-a-custom-ca-as-an-object-store-f

[2020-08-18 08:07] ipochi opened #2831 "docs: resource-filtering documentation throws 404"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

https://velero.io/docs/v1.4/resource-filtering
https://velero.io/docs/main/resource-filtering

throws page not found.

The same is observed when building the docs locally.

[code]

http://localhost:1313/docs/v1.4/resource-filtering

**What did you expect to happen:**

Ma

[2020-08-18 09:41] luwang-vmware opened #2833 "restore with PV in progress status for more than 3 hours"
**What steps did you take and what happened:**
1. create 5 namespaces, and each namespace has 2 statefulset(each has 2 PV), totally in one namespace, it has 4 PVs.
2. we use velero1.4.2+restic to backup 5 namespaces(totally 20 namespaces) in one velero backup cmd and succeed.
[code]
3. delete 5 namespaces and use velero to restore it. But the restoring is in progress status for more than 3 hours.

[2020-08-18 10:34] galindro commented on #1285
@skriss I am facing exactly the same situation described by @Stolr and @ngealy and the worse fact about it is: Velero doesn't have any interesting logs for the restore even running in debug mode....

[code]

[code]

[code]

[2020-08-18 10:48] galindro commented on #1285
Perhaps this could be caused because few hours before create this restore, other restore with the **same name** and **same backup source** was created and it finished successfully without any errors.

The only difference is that the old restore was done in other namespace by using the `--namespace-mappings` flag (just for validation proposes). After it was done and validated, then I deleted the re

[2020-08-18 11:08] galindro commented on #2821
With these logs in hands I could identify this situation:

I started a backup at 10:35:13. According to velero describe restore command, restic took approximately 24 minutes to reach the 100%. But it is still in progress!!

[code]

It will stay In Progress for at least 30 minutes more, then it will complete without errors.

[2020-08-18 13:52] ghost74-tg opened #2834 "2nd velero installation in non-default namespace does not work"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
I have tried to install velero twice in my kubernetes cluster. The first velero installation was installed in the default namespace velero and the second in the namespace new-velero.
The default installation works fine. The velero pod is in running state and I could backu

[2020-08-18 15:39] nrb commented on #2833
@luwang-vmware Was postgres stopped or put into read-only when doing the backup?

Also, do you have sample logs or `kubectl describe` output from the postgres pods to show more detailed state information on restore?

[2020-08-18 16:55] hmehra commented on #2825
@ashish-amarnath  On digging deep within the S3 server, we have determined the TLS version is negotiated correctly. But the client does not send its certificate to the server. This causes the server to reset the connection.

[2020-08-18 17:53] #2829 closed

[2020-08-18 18:02] #2831 closed

[2020-08-18 18:04] nrb commented on #2818
@guillierf To my knowledge vSphere does not use the Velero CSI plugin. It uses its own plugin based on the CNS stack, which doesn't support CSI's snapshot APIs.

I just want to clarify that language because the state of CSI support on vSphere right now is a little confusing.

[2020-08-18 18:18] ashish-amarnath commented on #2825
@hmehra thanks for the update. Is there any information indicative of why the cert wasn't used?
Also, FYI, Velero, doesn't handle the ssl handshake and negotiation directly. We use the AWS sdk that handles the ssl connection setup.

[2020-08-18 18:51] ashish-amarnath commented on #2789
@cloudcafetech `rootCA.pem` is the ca certificate which is used by Velero to validate the certificate presented to it by MinIO without this Velero will not be able to validate the certificate that MinIO will present for SSL handshake. So to answer your question, if you would like Velero to confirm the identity of the MinIO server, you need to give Velero the `rootCA.pem`.
If you are unable to prov

[2020-08-18 18:51] #2789 closed

[2020-08-18 19:49] dbpolito opened #2836 "Change PVC Size on Restore"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

Currently we can change Node, Namespace and Storage Class as far as i can tell looking at docs: https://velero.io/docs/v1.4/restore-reference/

Would be very useful if we could change the request size, my use case is i want to decrease a PVC size as i allocated too mu

[2020-08-19 00:23] luwang-vmware commented on #2833
@nrb, Thanks for the reminder.  How can I forget to describe the pod to check detail info.   I checked it just now and it shows CNI issue. Sorry for bothering.  I will close this issue.

[2020-08-19 00:23] #2833 closed

[2020-08-19 02:37] jenting commented on #2825
@hmehra,
maybe you could change the https://github.com/vmware-tanzu/velero-plugin-for-aws to add the TLS min version to 1.2 on the HTTP client default transport when caCert provided.
[code]

[2020-08-19 07:37] galindro commented on #1981
I'm facing this issue when I'm restoring a backup of prometheus-operator. My restore tests was done in the same cluster where backup lives but in another namespace. The production application was still live on it's own namespace.

There are three PVs that should be backed-up: grafana, prometheus and alertmanager. Prometheus and grafana can be restored without problems but alertmanager no because a

[2020-08-19 10:02] galindro commented on #1981
The PVs restore by using the bellow command was successfully executed:

[code]

After that, I could restore without worries the Alertmanager and Prometheuses objects:

[code]

[2020-08-19 14:01] jprecuch opened #2840 "After upgrade to 1.4.2 all backups end in Failed state"
**What steps did you take and what happened:**
We've upgraded from 1.3.2 to 1.4.2 today and all scheduled backups are ending in Failed state. This happens in 3 environments. Only error I can see is:
[code]

**What did you expect to happen:**
Backups and snapshots are taken same way as before without issues. Everything worked fine in 1.3.2

**The output of the following commands will help us better

[2020-08-19 14:28] jprecuch commented on #2840
This might be becauase of low memory setting on deployment. Validating with higher resources.

[2020-08-19 15:19] RobbieJVMW opened #2841 "Removing Dead Code"
Running the code though linter to clean up redundant & dead code.
First pass as part of general code clean up activities.

[2020-08-19 16:04] ashish-amarnath commented on #2841
@RobbieJVMW Thank you for reporting this.
For this to be actionable can you please provide more information:
1. What linting software did you use? How to get it? How to run it?
1. What was the output of the linter?

[2020-08-19 16:07] carlisia commented on #2597
@nrb / @ashish-amarnath: I'm thinking https://github.com/vmware-tanzu/velero/blob/main/pkg/controller/backup_tracker.go, even though is in the `controller` package, is not a controller and has nothing to be converted. Just wanted to get a sanity check.

[2020-08-19 16:36] carlisia commented on #2840
Yes, that's where I'd start.

[2020-08-19 16:43] jprecuch commented on #2840
Seems to be only resources related. After raising memory to 1Gi stuff seems to work fine. Closing.. Thanks

[2020-08-19 16:43] #2840 closed

[2020-08-19 16:43] nrb commented on #2841
Is this a duplicate of #2397?

[2020-08-19 16:48] carlisia commented on #2841
I'll answer, yes it is! @RobbieJVMW please list which package(s) you will be cleaning up when you have a chance.

[2020-08-19 16:53] ashish-amarnath commented on #2841
should we close this issue and as this will be addressed in #2397

[2020-08-19 18:11] masseybradley commented on #2059
Hi. Got the exact same error with `velero` on GKE with workload identity enabled:
[code]
... updated to:
[code]
... but no dice, logs output fwiw:
[code]

Can't `velero backup logs test`:
[code]
... or i.e.: `velero describe backups test --details`:
[code]

[2020-08-20 11:56] kmadel commented on #1624
I have only tested with GCP Regional Persistent Disks and I created regions specific storage classes in the backup region and restore regions. Here is an example storage class that uses Regional Disk:

[code]
I posted more details in: https://stackoverflow.com/a/63504435/1031472

[2020-08-21 00:24] #2400 closed

[2020-08-21 04:45] hmehra commented on #2825
@ashish-amarnath  I am not sure why Velero as a client did not include its certificate while the SSL handshake was done. From TLS 1.3 spec https://tools.ietf.org/html/rfc8446, verifying client certificate could be optional. Changing this on the server made it work. I am not sure if you guys want to fix this in Velero, where it would send a certificate for the handshake.
It would be better to edit

[2020-08-21 06:21] adamrushuk opened #2846 "ToC documentation links not working"
**What steps did you take and what happened:**

The Table of Contents links at the top of documentation pages no longer work, eg:

- https://velero.io/docs/v1.4/basic-install/
- https://velero.io/docs/v1.4/customize-installation/

Looking at the source you can see the `href` is blank, eg: `<a href="">Basic Install</a>`

**What did you expect to happen:**

The links used to work and navigate to the

[2020-08-21 07:42] LilLilth opened #2847 "Velero backup for multiple PVCs issue"
Hello,

I have an issue with backing up multiple PVCs in same namespace.
Issue is that velero backup is trying to execute post/pre hook on both containers, which is weird because container for pre/post hook is selected inside of a hook. FYI. Backup is working if it's executed separated for POD-A and POD-B.

Environment:
I have POD-A and POD-B as well PVC-A and PVC-B.
Both of the PVCs should be bac

[2020-08-21 08:57] #2847 closed

[2020-08-21 20:11] nrb opened #2851 "v1.5.0-beta.1 known issues - server image has no version info"
**What steps did you take and what happened:**
Running a v1.5.0-beta.1 image has no version info reported in logs, when `kubectl exec`ing into the container, or when using `velero version`.

This is _not_ an issue with the client binary; that reports the version information correctly. Only the binary in the Docker image is empty.

**What did you expect to happen:**
`velero version` should report v

[2020-08-21 20:25] nrb opened #2852 "Bugs in hack/release-tools/tag-release.sh"
**What steps did you take and what happened:**
Running tag-release.sh for the v1.5.0-beta.1 ran into the following errors:

* `./hack/release-tools/tag-release.sh: line 47: Ensure: command not found`
* Tag failed to push to GitHub repo from script
* Script does not have a "dry-run" mode analogous to the `make release` target's supported `PUBLISH=false` setting.

**What did you expect to happen:**

[2020-08-21 22:18] #2851 closed, assigned to ashish-amarnath

[2020-08-22 19:30] albertollamaso opened #2856 "v1.5 CRDs are not compatible with Kubernetes v1.11 and earlier"
**What steps did you take and what happened:**
Installed velero version  v1.5.0-beta.1

tried to install with:

[code]

it failed with:

`
CustomResourceDefinition/backups.velero.io: attempting to create resource
CustomResourceDefinition/backups.velero.io: already exists, proceeding
CustomResourceDefinition/backups.velero.io: created
CustomResourceDefinition/backupstoragelocations.velero.io: attem

[2020-08-23 17:05] leiw324 opened #2857 "Backup status NEW and backup won't delete"
Hello,

k8s version:
![image](https://user-images.githubusercontent.com/33790160/90984102-8d3a6380-e5a5-11ea-9fbe-ef77501e4800.png)
CentOS version:
![image](https://user-images.githubusercontent.com/33790160/90984111-99262580-e5a5-11ea-8642-d6a84cece057.png)
velero version:
![image](https://user-images.githubusercontent.com/33790160/90984120-a5aa7e00-e5a5-11ea-9635-9d215f32cf53.png)
Backup on NEW

[2020-08-23 21:00] RobbieJVMW commented on #2841
Happy for you to map it over to #2397, I'll get to listing the package next week I'm away home this coming week. As this is my first contrib to the project I'll need some guidance following your guidelines I expect.

[2020-08-24 00:06] sstubbs opened #2858 "Restic Microk8s compatibility"
**Describe the problem/challenge you have**
I running velero on microk8s. However the restic daemonset does not work as it cannot find the kubelet directory specified as microk8s has a different kubelet directory.

**Describe the solution you'd like**
A way to configure the kubelet directory.

**Anything else you would like to add:**
Currently after installation I'm running:
[code]
and then changi

[2020-08-24 09:43] wcochran53 opened #2859 "Failed to backup using Restic to NFS"
**What steps did you take and what happened:**
Hi

I am using velero with the velero/velero-plugin-example configured to backup the object store to nfs (which seems to work by mounting the /tmp/backups  to my nfs hostPath ) and using Restic to backup the PVCs to nfs.   However after annotating my container appropriately to indicate the volume claim,  and running the backup, while the restic repo K

[2020-08-24 11:22] haroonb opened #2860 "disaster recovery on a new cluster fails, k8s rook-ceph"
**What steps did you take and what happened:**
I have a k8s cluster with 3 workers and some deployments and generated data. The storage is rook-ceph.
I installed velero and created a schedule which backed up all my data every hour.
We would like to test disaster recovery so I deleted the k8s completely and created completely new vms. I setup k8s and rook-ceph in the new cluster and tried to restor

[2020-08-24 14:39] dymurray commented on #2834
I believe the issue here is that the first Velero installation installed a ClusterRoleBinding with a single name which maps to the `velero` Service Account in the original default namespace. When you installed Velero the second time the CRB already exists so it doesn't create a new one. You would need to create a *new* CRB that points to the SA in the new namespace.

[2020-08-24 14:40] dymurray commented on #2834
From `velero install` perspective the name of the CRB should likely take on the installation namespace as well.

[2020-08-24 16:51] looselycoupled commented on #2686
Hi @nrb thanks for responding and sorry for the delay.  That particular cluster was deleted but I have run into the same problem.  It occurs when we do a backup of a cluster with Restic and restore to a new cluster in the same AWS subaccount (while the first cluster is still live).

The `reclaimPolicy` is `Retain` for the storageclass and the pv has `persistentVolumeReclaimPolicy: Retain` if that'

[2020-08-24 16:59] carlisia commented on #2856
CustomResourceDefinition/backups.velero.io: already exists, proceeding

This makes me think this is not a fresh install, you already had some version there before? If so, please run:

`velero install --crds-only --dry-run -o yaml | kubectl apply -f -`

Let me know if it works or not and we'll go from there, and thank you for testing the beta!

[2020-08-24 17:01] carlisia commented on #2846
Hi @a-mccarthy, is this something you could look into fixing for us?

[2020-08-24 17:02] carlisia commented on #2841
Two people were interested in tackling #2397 so depending on how this develops it'd be best to have two separate issues. Ideally each issue would list what packages are being cleaned up.

[2020-08-24 17:08] carlisia commented on #2834
Thanks @dymurray, this sounds like the fix for this problem.

@ghost74-tg please reopen this issue if you still have problems with the install.

[2020-08-24 17:35] ashish-amarnath commented on #2798
@shaunc From my, rather limited, understanding of service roles and ISRA. It seems like a feature to associate Kubernetes service accounts with IAM role policies. You might find this link useful https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-cni-walkthrough.html

You can use the velero CLI to create new backup storage location and volume snapshot location
[code]
We

[2020-08-24 17:42] shaunc commented on #2798
Thanks! ... If I understood this stuff better myself, I'd open a PR. Unfortunately, documentation is a bit either thin or not necessarily relevant.

[2020-08-24 17:50] ashish-amarnath commented on #2798
@shaunc Glad, you were able to figure this out!
We'd appreciate a PR with the docs.
If you are unable to submit a PR atm, please add some pointers, to resources you found helpful, into this issue that will help us update our documentation or can help another user.

[2020-08-24 18:03] shaunc commented on #2798
So -- as I indicated above, my main workaround was to change the 2nd cluster service account to be the same as the first, so I didn't have to figure out the IRSA reconfigurations. I didn't know about `velar create snapshot-location` which might have helped out with the issues I was running into. (Though really I need "set snapshot-location") But I like to provision with terraform, so would prefer

[2020-08-24 18:33] ashish-amarnath commented on #2860
@haroonb The only errors on your restore are because some of the resources that were being restored already existed in the cluster. So that seems fine.
Looking at the output of `kubect get pv, pvc` it seems like the persistent volumes claims were restored correctly and volumes were correctly provisioned to satisfy those claims.
The velero operations are working as expected.

Can you please share:

[2020-08-24 19:03] nrb commented on #2857
@leiw324 From these screenshots, it doesn't look like the velero server is running within the cluster - the output of `velero version` only includes the client.

If you run `kubectl get deployment/velero -n velero`, what is the output?

Also, what about the output of `kubectl get pods -n velero`?

[2020-08-24 19:06] ashish-amarnath commented on #2784
@luisbtejada I am closing this issue for inactivity. Please reopen or reach out if you have more questions.

[2020-08-24 19:06] #2784 closed

[2020-08-24 19:10] ashish-amarnath commented on #2826
@phuongatemc Thanks for reporting this. I am not sure how to proceed with investigating this. Can you please gather more information about the cluster state and state of Velero when this happens?
Also, when this happens do you have to retry the backup operation?

[2020-08-24 19:17] ashish-amarnath commented on #2825
@hmehra thanks for figuring this out. I am not sure what changes are required in Velero for this. The SSL connection setup is handled by the AWS SDK.
At the very least, we would like this to be documented. Can you please open a docs PR for this?

[2020-08-24 19:18] ashish-amarnath commented on #2782
Closing this issue for inactivity.
Please re-open when you are able to provide the necessary info.

[2020-08-24 19:18] #2782 closed

[2020-08-24 19:22] ashish-amarnath commented on #2738
@sgielen Closing this for inactivity. Please reach out if you need further assistance.

[2020-08-24 19:22] #2738 closed

[2020-08-24 19:24] ashish-amarnath commented on #2859
Identical to https://github.com/vmware-tanzu/velero/issues/2721

[2020-08-24 19:26] ashish-amarnath commented on #2715
@melanco Sorry you are having issues with this at the moment. We plan to add concurrency support in the upcoming releases that should help speed up backups.
I am closing this issue but feel free to reach out if you need more assistance.

[2020-08-24 19:26] #2715 closed

[2020-08-24 19:28] ashish-amarnath commented on #2693
Closing this for inactivity. Please reach out if you need more help.

[2020-08-24 19:28] #2693 closed

[2020-08-24 21:15] ashish-amarnath commented on #2688
Restic restores pod volumes by "unpacking" the backup from the restic repo into the restored volume.
Now in this case, because the volumes weren't restored, restic doesn't have a destination volume to "unpack" the backup into. The volumes are not restored because of the `--include-cluster-resources=false` flag.

I am going to close this issue. But please re-open or reach out if you have more quest

[2020-08-24 21:15] #2688 closed

[2020-08-25 00:19] ashish-amarnath commented on #2810
@dk-do The behavior you are seeing is not an anomaly.
When services of type `ClusterIP` are created, Kubernetes allocates an IP to the service from the pool of allocatable service IP cidr block. So preserving the service's cluster IP for cross-cluster restores might not be the right thing to do, esp if that IP is the destination cluster is already in-use.
You can read more about this at https://ku

[2020-08-25 07:53] jti989 commented on #2810
@ashish-amarnath I belive you are right for almost every service present in a k8s cluster.
However there may be a difference for the kube-dns service as the pods need a static IP as DNS server. I could not find anything on the web to verify this, but it sounds logic to me that the kube-dns service has the same IP, always.
Maybe we should have an exception for this service?

[2020-08-25 11:10] haroonb commented on #2860
Thanks for the reply @ashish-amarnath. We are using aws snapshotter in version 1.10 the exact command to install velero was

 `velero install --use-restic --provider aws --plugins velero/velero-plugin-for-aws:v1.1.0 --bucket backup --secret-file velero.cred --use-volume-snapshots=true --backup-location-config region=minio,s3ForcePathStyle="true",s3Url=http://10.10.0.1:9000/`

The PVC in the backup

[2020-08-25 11:41] ghost74-tg commented on #2834
@carlisia yes making the installation namespace a part of the CRB could fix the problem. Nevertheless this needs to be implement in the velero install. Or the user must manually create an additional CRB witch points to the new SA. My work-around was to add the new SA to the existing CRB. Anyway I think the velero install should create the CRB correctly and it should not be a manual work-around, to

[2020-08-25 13:11] carlisia commented on #2834
@vmware-tanzu/velero-maintainers ^ - should we reopen this issue?

[2020-08-25 14:09] zubron commented on #1780
For most of the columns, it seems like it will be straightforward to include them in the `additionalPrinterColumns`. However, some of the data presented by Velero undergoes processing as part of being printed in the table. For example, the value for `EXPIRES` column shown above is calculated from [either the `.status.expiration` field or `.spec.ttl.duration](https://github.com/vmware-tanzu/velero/

[2020-08-25 15:09] leiw324 commented on #2857
Hello,

I am testing velero with mino, the following command which I installed velero.

velero install --provider aws --plugins velero/velero-plugin-for-aws:v1.1.0 --bucket bucketdemo --secret-file ./minio.credentials --use-restic --backup-location-config region=minio,s3ForcePathStyle=true,s3Url=http://10.0.10.195:32000

Yes, the server has error
![image](https://user-images.githubusercontent.com/

[2020-08-25 15:27] supasteev0 opened #2864 "EKS 1.17: Persistent volume is not a supported volume type for snapshots"
**What steps did you take and what happened:**
I recently noticed that all persistent volumes created with the ebs.csi.aws.com driver are not snapshotted anymore.
Indeed I get the following message in Velero: "Persistent volume is not a supported volume type for snapshots, skipping."
Old volumes created with kubernetes.io/aws-ebs are still correctly snasphotted though.
Am I right in thinking that

[2020-08-25 15:53] nrb commented on #2834
@carlisia Yes, we should. I don't believe @dymurray's comment was an actual fix, but rather that he was saying we should enhance `velero install`/`velero config`.

[2020-08-25 19:26] nrb commented on #2846
This is on the "Customizing Install" page, too.

In a call with @a-mccarthy, looks like we need to add a Hugo macro from https://gohugo.io/content-management/toc to do this for all pages.

[2020-08-25 21:39] ashish-amarnath commented on #2864
From the logs you posted and the corresponding code, it looks like you don't have a matching `VolumeSnapshotLocation`.
The loop at https://github.com/vmware-tanzu/velero/blob/main/pkg/backup/item_backupper.go#L444 isn't getting run causing `volumeSnapshotter ` to be nil, resulting in the error message at https://github.com/vmware-tanzu/velero/blob/main/pkg/backup/item_backupper.go#L469.

Can you p

[2020-08-25 23:12] ashish-amarnath commented on #2810
@jti989 and @dk-do Yes, that makes sense. However, based on https://kubernetes.io/docs/concepts/services-networking/service/#choosing-your-own-ip-address you should be able to preserve the cluster IP.
To troubleshoot this:
1. Can you please confirm that you are setting the service's `.spec.clusterIP` prior to backup?
1. Can you please download the backup using `velero backup download <backup_name>

[2020-08-25 23:15] ashish-amarnath commented on #2747
Now that we've shipped the 1.5 beta. Should we close this out?

[2020-08-26 00:35] ashish-amarnath commented on #2686
@looselycoupled Thanks for providing that information.
Here are a couple of suggestions:
1. It might not be necessary for you to backup etcd using velero. It is sufficient if you simply backup the kuberneres resources.
1. The error message on the pod `AttachVolume.Attach failed for volume "pvc-c3e60055-441d-48c7-8496-9b13197c9c72" : "Error attaching EBS volume \"vol-0bc74bac19ff557e1\"" to instanc

[2020-08-26 00:40] ashish-amarnath commented on #2857
@leiw324 Velero is not running in your cluster and from the logs you posted, looks like velero doesn't have the correct credentials to connect to the MinIO object-store. Please refer to our docs https://velero.io/docs/v1.4/contributions/minio/ for instructions to setup Velero using MinIO as the object-store.
Because Velero is not running in your cluster, there are no controllers running to process

[2020-08-26 00:40] #2857 closed

[2020-08-26 04:07] ashish-amarnath commented on #2680
@JankoMat Please follow the steps that Nolan mentioned above. You can confirm the restic backup's inclusion using `velero backup describe --details`.

I am closing this issue for inactivity. Please reach out to us if you need further assistance.

[2020-08-26 04:07] #2680 closed

[2020-08-26 04:08] ashish-amarnath commented on #2678
Now that https://github.com/vmware-tanzu/velero/pull/2699 is merged. This issue can be closed.

[2020-08-26 04:08] #2678 closed

[2020-08-26 04:09] ashish-amarnath commented on #2649
Please try to follow Nolan's suggestion and let us know if you still need assistance.

Closing this issue for inactivity.

[2020-08-26 04:09] #2649 closed

[2020-08-26 04:57] ashish-amarnath commented on #2632
@rnrsr trying to apply the `crd.log` I get this error

[code]

Can you please give us the correct CRD and the CR to repro this issue? This seems to be working as expected for the CRDs that I've tested this.

[2020-08-26 05:39] ashish-amarnath commented on #2632
This is the test I ran.
1. On a Kubernetes 1.16 cluster
[code]

1. Deploy cert-manager and verify installation
[code]

1. With Velero installed: using the 1.5.0-beta.1 client and `velero/velero:main` server container image
[code]

1. Take a backup and confirm that the CRs and the corresponding CRDs are included in the backup.

[code]

1. Delete the namespace and the CRDs
[code]

1. Confirm resourc

[2020-08-26 05:44] ashish-amarnath commented on #2570
@arianitu Checking in to see if you were able to get us a reproducible case for this?

[2020-08-26 05:46] ashish-amarnath commented on #2507
I am closing this issue for inactivity. But please re-open or reach out if you have more questions or need help troubleshooting.

[2020-08-26 05:46] #2507 closed

[2020-08-26 05:48] ashish-amarnath commented on #2488
@carlisia did https://github.com/vmware-tanzu/velero/pull/2674 address this?
If it did, can we close this issue?

[2020-08-26 05:57] ashish-amarnath commented on #1959
@gdubya Thanks for confirming and sharing your resolution here.
@MKruger777
We've tried to keep our docs updated at https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure. Considering that the configuration for the azure plugin is a little more confusing than the rest, I would suggest following our docs closely 🙂
We will also be cutting a new release of the microsoft-azure plugin in the

[2020-08-26 05:57] #1959 closed

[2020-08-26 06:20] supasteev0 commented on #2864
Hi,

I confirm I have a VolumeSnapshotLocation configured.

Here is the detail of the backup:
[code]

And the volumesnapshotlocation:
[code]

I am using kube2iam on velero deployment to allow Velero to access S3 backup bucket and create snapshots with the following policy:
[code]

And here is the AWS plugin configuration in my velero deployment:
[code]

[2020-08-26 06:39] jti989 commented on #2810
@ashish-amarnath and @dk-do
I was able to reproduce this.:

[code]

So it seems the backup itself is correct, but the restore ignores the set clusterIP. That's what you mentioned above @ashish-amarnath, but I still think it is incorrect for this one service.

[2020-08-26 08:53] bryancalvobenoit commented on #2394
I think is odd that if this init container is required it doesn't come with default values in the helm chart.

[2020-08-26 14:04] sseago commented on #1350
I've created a PR for a design for this here: https://github.com/vmware-tanzu/velero/pull/2867

[2020-08-26 14:32] carlisia commented on #2488
No, these are different things.

[2020-08-26 15:25] ironknight78 opened #2868 "Access to remote Velero cluster"
I'm having issues understanding something: Is it possible to install velero server on a remote cluster, and create backup resources remotely with the velero cli? Maybe through the KUBECONFIG env variable?

Thank you in advance.

[2020-08-26 15:52] alaypatel07 commented on #2834
Hey folks, I can take this issue, feel free to assign this to me!

[2020-08-26 15:56] leiw324 commented on #2857
Hello,

I know what happened, because I typo aws_access_key_id when installing minio.

But now I can't backup grafana.
![image](https://user-images.githubusercontent.com/33790160/91326277-baca1b80-e7f6-11ea-8a16-b8eb726adf64.png)
![image](https://user-images.githubusercontent.com/33790160/91326440-ec42e700-e7f6-11ea-845b-ff4df21ec19a.png)
![image](https://user-images.githubusercontent.com/33790160

[2020-08-26 17:13] nrb commented on #2747
This seems like it would be an ongoing concern against `main` whenever fields are added to the CRDs.

I think it's something we should add to developer documentation, but maybe not be a pinned issue. What do others think of that?

[2020-08-26 17:27] ashish-amarnath commented on #2747
+1 for adding doc and not having it be a pinned issue.
Maybe just changing the background of this banner on our website should do?
![image](https://user-images.githubusercontent.com/22872138/91336399-ae0ddf00-e786-11ea-9da6-98379f9c9764.png)

[2020-08-26 17:29] carlisia commented on #2747
Yes, good idea. I think adding this warning to the end of the text in the banner for "main" will be perfect.

[2020-08-26 17:43] nrb commented on #2739
Sorry for the delay in response.

I think I see the disconnect here - it's this line:

[code]

So in most cases where folks are using Velero, the storage is not completely decoupled from Kubernetes such that Velero should completely ignore the PV's reclaim policy.

Velero does not re-apply the PV with a reclaim policy of `Delete` on the assumption that most installations don't want to keep those,

[2020-08-26 17:47] nrb commented on #2747
@ashish-amarnath I'm not sure I understand what you mean about the background - how does it relate to running this command?

I'm not sure about adding specific commands to the `main` banner...I was more thinking the https://velero.io/docs/v1.4/development/ page. My fear is we'll stuff the warning banner full of messages, and it will get super long.

[2020-08-26 17:51] ashish-amarnath commented on #2747
My intention was to draw attention to the warning to convey to our users using the `main` version of the docs can result in a bumpy ride.
I believe your intention is to update the development doc w/ instructions on how to deploy from main.
I am +1 on updating the development docs too.

[2020-08-26 18:54] ashish-amarnath commented on #2857
The backup `PartiallyFailed` because of this error
[code]

You are probably missing the `--snapshot-location-config` flag to the `velero install` command.
Please refer to our documentation https://github.com/vmware-tanzu/velero-plugin-for-aws for the complete `velero install` command.

[2020-08-26 20:12] ashish-amarnath commented on #2868
Hi @ironknight78
You should be able to use the Velero CLI is intended to be run outside the cluster.
The CLI will use your kubeconfig either from the `KUBECONFIG` env var or using the `--kubeconfig` command line flag.

I am closing this issue as resolved as your question has been answered. Please reach out if you have more questions.

[2020-08-26 20:12] #2868 closed

[2020-08-26 20:17] Vrushk84 opened #2871 "Backup and restore AKS cluster using velero failing"
Maintainer EDI (@ashish-amarnath): Updating markdown formatting

**What steps did you take and what happened:**
Installed velero on existing and new AKS cluster.  Took backup of the existing AKS cluster of a particular namespace. New AKS cluster points to the same storage location where backups of existing cluster exists. Tried to restore the backup on the new AKS cluster.

**What did you expect t

[2020-08-26 22:11] ashish-amarnath commented on #2860
@haroonb I am not familiar with the rook setup. But, seems like there is a rook controller, maybe running as a daemonset, that might be responsible for mounting volumes into pods. This may also be called the csi-attacher. Can you please look in that logs for any errors.

Also, searching the internet for the error I found https://tracker.ceph.com/issues/43649
[code]

From Velero's perspective, howe

[2020-08-26 22:42] ashish-amarnath commented on #2871
Can you please tell us how you installed Velero?
Also, please confirm if you have created a volumesnapshotlocation and share the output of
`kubectl -n velero get volumesnapshotlocations -oyaml`

[2020-08-26 23:44] hmehra commented on #2825
I have edited the issue title. Will open a docs PR.

[2020-08-27 10:41] VihanAgarwal97 commented on #1544
I am also seeing this with the IAM Policy @saicharana731 posted.

[2020-08-27 11:09] VihanAgarwal97 commented on #1544
Update: The below policy works.
[code]
The issue might be related to using a prefix?

[2020-08-27 11:14] VihanAgarwal97 commented on #1544
I installed velero using
[code]

[2020-08-27 11:46] VihanAgarwal97 commented on #1544
Tried using the 1.1.0 plugin too. Same issue.
[code]
I have also verified in the IAM console that the credentials are being pulled.

[2020-08-27 13:08] Vrushk84 commented on #2871
@ashish-amarnath  - Hello Ashish, Please find below the output

kubectl -n velero get volumesnapshotlocations -o yaml
apiVersion: v1
items:
- apiVersion: velero.io/v1
  kind: VolumeSnapshotLocation
  metadata:
    creationTimestamp: "2020-08-10T17:28:42Z"
    generation: 1
    labels:
      component: velero
    name: default
    namespace: velero
    resourceVersion: "48105162"
    selfLink: /api

[2020-08-27 14:57] leiw324 commented on #2857
Hello,

velero install --provider aws --plugins velero/velero-plugin-for-aws:v1.1.0 --bucket bucketdemo --secret-file ./minio.credentials --use-restic --backup-location-config region=minio --snapshot-location-config region=minio,s3ForcePathStyle=true,s3Url=http://10.0.10.195:32000
![image](https://user-images.githubusercontent.com/33790160/91458602-4bb4fb80-e8b8-11ea-9710-3f7bc4cc11b6.png)

I re-r

[2020-08-27 15:24] arianitu commented on #2570
@ashish-amarnath still working on this, we're a bit busy, but this issue is a high priority for us so we hope to get a case soon.

[2020-08-27 16:28] bgagnon opened #2873 "Expose controller metrics"
**Describe the problem/challenge you have**
We have log entries indicating that an `Backup` object references a `BackupStorageLocation` that no longer exists:

[code]

There is no corresponding counter metric that would allow us to alert on this condition. This issue is not so much about this particular error conditions above, but a general point about the lack of metrics for internal controller b

[2020-08-27 16:38] leiw324 commented on #2857
2 hrs ...

[2020-08-27 16:59] ashish-amarnath commented on #2873
@bgagnon Thanks for reporting this. We need to expose the metrics of BSL availability from the BSL controller.

[2020-08-27 17:06] ashish-amarnath commented on #2857
@leiw324 the screenshots are a little hard to read. For future reference, please provide information in text format.
Can you please share the output of
1. `kubectl get deployment/velero -n velero`
2. `kubectl -n velero get pods`
3. `kubectl -n velero logs deploy/velero`

[2020-08-27 18:38] ashish-amarnath commented on #1544
@VihanAgarwal97 I am using the exact same policy that you mention in [your comment](https://github.com/vmware-tanzu/velero/issues/1544#issuecomment-681881909) without issues.
In the same comment, you mention that the policy works for you. I am not sure if you are still having the same issue.

As I mentioned, the exact same policy works for me. Can you please confirm:
1. Correct credentials are bei

[2020-08-27 21:28] VihanAgarwal97 commented on #1544
I have verified all your steps. I have also verified through IAM that the access key has been used each time I deploy velero.

The policy from the docs works, however, I am unable to use the same policy and get velero to work when using a `bucket prefix`. My first [comment](https://github.com/vmware-tanzu/velero/issues/1544#issuecomment-681870148) is the policy I thought would work but doesn't. Iv

[2020-08-27 22:17] carlisia opened #2874 "Add Bridget"
@zubron please add yourself here: https://github.com/vmware-tanzu/velero/blob/main/MAINTAINERS.md

[2020-08-27 22:53] VihanAgarwal97 commented on #1544
@ashish-amarnath Are you using an S3 bucket `prefix`? If so, can you share your policy with me please?

[2020-08-28 02:47] jenting commented on #2551
I'd like to handle this issue.

[2020-08-28 13:32] rnrsr commented on #2632
you need to remove the `storedVersions` from the bottom of the spec, try this:
[crd (1).log](https://github.com/vmware-tanzu/velero/files/5142295/crd.1.log)

We're using 1.15

We're using 1.4.2 and the image used on all cluster deployments is: `velero/velero:v1.4.2`

---
Here's the command i used to install velero:
[code]

[2020-08-28 16:25] ashish-amarnath commented on #2632
@rnrsr I was able to backup and restore the CRD that you shared.

[code]

[2020-08-28 16:27] ashish-amarnath commented on #2551
@brito-rafa If you are not working on this anymore, is it ok for @jenting to pick this up?

[2020-08-28 16:31] leiw324 commented on #2857
Hello:

https://paste.ubuntu.com/p/B3RhCxThyM/

The logs showing:
An error occurred: some backup storage locations are invalid: backup store for location "default" is invalid: rpc error: code = Unknown desc = RequestError: send request failed
caused by: Get https://bucketdemo.s3.minio.amazonaws.com/?delimiter=%2F&list-type=2&prefix=: dial tcp: lookup bucketdemo.s3.minio.amazonaws.com on 10.96.0.10

[2020-08-28 16:54] brito-rafa commented on #2551
Hey there!
I was planning to tackle this one around mid-September. In preliminary conversations about this change is how the new Restore logic would behave with RestoreItem plugin.
So I started to write my own plugin before changing the Velero Core.
What about this: @jenting start to code this change and I will partner up with him to test it?
Thanks,
Rafa

[2020-08-28 17:32] ashish-amarnath commented on #1544
@VihanAgarwal97 Yes, this is where my backups go `ashisha-velero-backup/velero-backup` the bucket is `ashisha-velero-backup` and the prefix is `velero-backup`
I am using exactly the same policy as you are. I copy-pasted from your comment into my policy document.
[code]

[2020-08-28 17:51] VihanAgarwal97 commented on #1544
How are you installing velero? What version are you using?

[2020-08-28 17:52] ashish-amarnath commented on #1544
I've used `1.4.2`

[2020-08-28 18:06] #2846 closed

[2020-08-28 20:07] nrb commented on #2810
Service IPs and ports have been notorious difficult to get correct for all use cases, as not all use cases are clear that the values are user-assigned version system-assigned. In this particular case, it could be moved to the `spec` versus fetched from the `last-applied-configuration` annotation like we do in other cases.

In general, Velero does ignore the the `status` section of objects because

[2020-08-28 20:15] nrb opened #2876 "Sync `Schedule` CRs into clusters"
**Describe the problem/challenge you have**
Currently, Velero doesn't sync `Schedule` custom resources across clusters, only the `Backup` custom resources that were generated by that `Schedule`. This can be somewhat surprising to users, and is also lossy in the event of a total cluster loss - the original schedule has to be recreated from scratch.

**Describe the solution you'd like**
The `Schedul

[2020-08-28 20:18] nrb opened #2877 "Backups and restores not adopted when the velero pod is restarted"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

When the `velero` deployment pod restarts, any backup or restore action that was in progress is effectively abandoned, because the controller loops only look for `Phase: New` custom resources.

The challenge here is knowing where a backup was in its process in order to r

[2020-08-28 21:36] VihanAgarwal97 commented on #1544
I'm doing exactly this with a different `velero install`. Only difference is I'm not using restic.

[2020-08-29 02:55] cloudcafetech opened #2878 "Windows container"
Now a windows container becoming popular, any plan for using in windows container ?

I assume restic has already released windows binary.

Found some nice work for windows using restic 👍 https://github.com/kmwoley/restic-windows-backup

[2020-08-29 06:08] adamrushuk commented on #2846
Thanks for fixing 👍

[2020-08-31 04:24] jenting commented on #2551
Thanks, @brito-rafa
I'll take a look at RestoreItem plugin and Restore logic before start working the code change to get more familiar with retore code first.
Let's keep in touch.

[2020-08-31 16:14] ashish-amarnath commented on #1544
@VihanAgarwal97 I am unable to troubleshoot this further. The last couple of things I would try is:
1. Confirm the credentials are correct.
2. Confirm that the IAM user has permission to access this bucket. Suggest creating a new IAM user to try this out from scratch.

[2020-08-31 21:38] VihanAgarwal97 commented on #1544
Verified. I am still facing the same issue.

[2020-09-01 08:02] woniuzhang commented on #2329
@surekhakallam hi, I encountered the same problem, how did you solve it

[2020-09-01 10:19] rnrsr commented on #2632
thanks @ashish-amarnath , I think then, it must be to do with my use-case: full cluster restore.

1. run a backup of everything except the `velero` namespace: `velero backup create staging-backup-N --exclude-namespaces=velero --include-resources=* --include-cluster-resources
2. create a new cluster
3. install with the command i posted above
4. run the restore: `velero create restore my-restore-$(d

[2020-09-01 15:11] carlisia opened #2883 "Improve BSL controller performance"
To prevent delays in the reconciliation of BSLs, we should be running iterations of the `for i := range locationList.Items ` loop concurrently.

For reference:
https://github.com/vmware-tanzu/velero/pull/2870#discussion_r480272792

[2020-09-01 15:26] carlisia opened #2884 "Minor kubebuilder related items to clean up"
Listing things to clean up:

- [x] remove rbac/role file (config/rbac/role.yaml), as well as it's generation in the script (I think this will work: https://github.com/vmware-tanzu/velero/blob/main/hack/update-generated-crd-code.sh#L50)

- [x] maybe remove the `samples` folder; re: https://github.com/vmware-tanzu/velero/pull/2838#discussion_r480258423

- [x] use CAPI's patch function to update reso

[2020-09-01 15:32] venkatmarella opened #2885 "Velero deployment in IBM Kubernetes service"
Deployed Velero in IBM IKS cluster (IKS version 1.16.14_1544) by following https://velero.io/docs/v1.4/contributions/ibm-config/

kc get pods -n velero
NAME                      READY   STATUS             RESTARTS   AGE
velero-7c6d9bb58d-bgfm9   0/1     CrashLoopBackOff   1408       5d1h

kc logs velero-7c6d9bb58d-bgfm9 -n velero
time="2020-09-01T15:21:43Z" level=info msg="setting log-level to INF

[2020-09-01 16:34] s405121 opened #2887 "Document why restic must backup pod volumes instead of PersistentVolumes/PVCs"
Hi There,

Am working on a requirement to backup volumes and a couple kubernetes objects on an OpenShift cluster. So I went ahead and setup velero on that cluster. But now when am trying to run backup command like below, I do see kubernetes objects for PersistentVolume are backed up but no backups are running for restic components. Are there any options available providing the flexibility to backu

[2020-09-01 17:25] phuongatemc opened #2888 "Backing up resources in parallel"
Currently Velero Backup processes resources in serial.  In some scenarios, we would like to back up resources in parallel, not only to increase performance but also help reduce the time gap between backup time of the items.  For example, to backup a Cassandra cluster of 20 pods (each has 1 PVC).  The Backup of such cluster woud take snapshots of PVCs belong to these Pods and to help application co

[2020-09-01 18:02] carlisia opened #2889 "？Do we want to continue halting when trying to disable a controller that doesn't exist in the disableable list"
When a user passes in a configuration setting to disable a controller, and that setting does not match the controller name of one of the disableable controllers, the server logs with a `Fatalf`.

The question is: do we want to continue this behavior? Or is this too austere?

Discussion thread:
https://github.com/vmware-tanzu/velero/pull/2838#discussion_r480284830

[2020-09-01 19:28] nrb commented on #2887
@s405121 Currently, a limitation of Velero's restic support is that it must back up the data through a pod volume rather than a PersistentVolume directly.

It does this because Velero cannot mount the PersistentVolume into its own pod while it's mounted to its workload, so it uses the node's host file path to access the data, and that information is obtained from the Pod.

I'm going to mark this a

[2020-09-01 19:33] nrb commented on #2885
@venkatmarella Are you able to reach the bucket provided as the `s3Url` manually with `curl` or some other utility using the same credentials given to Velero?

Also, can you provide the output of `velero get storage-location default -o yaml`?

[2020-09-01 19:44] venkatmarella commented on #2885
$ velero get backup-locations -o yaml
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  creationTimestamp: "2020-08-24T15:28:21Z"
  generation: 1
  labels:
    component: velero
  name: default
  namespace: velero
  resourceVersion: "72938519"
  selfLink: /apis/velero.io/v1/namespaces/velero/backupstoragelocations/default
  uid: 74cd2d91-ac55-4f22-90ce-ca716ba46c92
spec:
  config:

[2020-09-01 19:45] venkatmarella commented on #2885
$ curl -v https://control.cloud-object-storage.cloud.ibm.com/v2/endpoints
*   Trying 169.60.148.30...
* TCP_NODELAY set
* Connected to control.cloud-object-storage.cloud.ibm.com (169.60.148.30) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/cert.pem
  CApath: none
* TLSv1.2 (OUT), TLS handshake, Client hello (1):
*

[2020-09-01 19:59] #2852 closed

[2020-09-01 21:15] #2605 closed

[2020-09-02 01:08] ironknight78 opened #2890 "InvalidAccessKeyId: The AWS Access Key ID you provided does not exist in our records. version 1.4.2"
**What steps did you take and what happened:**
Installed the velero server and cli on my cluster and ran the backup command to create a new backup:

[user@host ~]$ velero backup create test --include-namespaces default

My object storage is in IBM Cloud Object Storage using a bucket and a service account with the "Writer" user access.

My installation command is as follows:

velero install  \
  --

[2020-09-02 04:29] ashish-amarnath commented on #2876
We should also sync `Restore` CRs.
see https://github.com/vmware-tanzu/velero/issues/2697 for more details

[2020-09-02 04:41] anshudutta opened #2891 "Backup PartiallyFailed - Error 403: Required 'compute.disks.get' permission for ..."
**What steps did you take and what happened:**
I have installed velero on gcp/gke.

There is a service account with a role like so
[code]
The service account key is assigned to a kubernetes secret
[code]
The helm chart has that secret name in `values.yml`
[code]
When I try to take backups, I see the backups `PartiallyFailed`

The log file
[code]
**What did you expect to happen:**

Backup to succee

[2020-09-02 10:40] panpan0000 opened #2892 "restore with override ( e.g: change the replica when restoring )"
**Describe the problem/challenge you have**
In a DR/migration scenario , the backup cluster resources are smaller than the main cluster, in most cases.
So, we have to **change the deployment's replica, likely from 10 to 2**.
aka, in original cluster, the replica = 10, but in new cluster , the replica should be 2, because the new cluster is smaller.
it's very practical when jumping  into DR territo

[2020-09-02 12:59] mushdavtyan opened #2893 "change the args on deployments before restoring by the velero"
I want to change some arguments on deployments or change NFS server parameters on PV before restoring.

- :+1: for "The project would be better with this feature added"

[2020-09-02 14:18] svua opened #2894 "Changing PV/PVC Storage Classes"
**What steps did you take and what happened:**
https://velero.io/docs/v1.4/restore-reference/
Changing PV/PVC Storage Classes doesn't work

[code]

[code]

[code]

[code]

[code]

[code]

[code]

**If we have free PV**

[code]

[code]

[code]

**If we don't have free PV, the process hangs in a InProgress state**

[code]

**What did you expect to happen:**
Change STORAGECLASS according to the chang

[2020-09-02 14:37] ironknight78 commented on #2890
I changed the credentials file name to "cloud-credentials" and it worked. I think that documentation could be a little bit clearer on that part.

I hope this helps someone out there :)

[2020-09-02 14:37] #2890 closed

[2020-09-02 16:56] RobbieJVMW commented on #2841
I'll start with :

pkg/controller/
pkg/metrics/
pkg/restic/

quickly clean up dead code - mostly as a learning exercise for myself to learn how you folks like to do things / learn the processes.  Then move onto more investing bits of code.

@carlisia do you which issue to you want me to associate with ?

[2020-09-02 18:53] nrb commented on #2739
@joschi36 I've closed out the PR, but I want to link the [Kubernetes documentation to the `Delete` policy](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#delete) here.

The delete policy is intended to remove the volume from the underlying storage system entirely. If the currently storage system isn't doing that, then it should be using `Retain`.

---

If you're using Velero _only

[2020-09-02 21:20] #2824 closed

[2020-09-02 21:32] stephbman commented on #434
Closing this issue as handling already ex

[2020-09-02 21:46] nrb commented on #2606
I think we can close this out. While ytt would be nice, it's pretty niche. kapp can apply most any YAML, so if we can plan nicely with standard YAML and Helm, we're covered there.

[2020-09-02 21:46] #2606 closed

[2020-09-02 21:50] bryantidd opened #2897 "Release 1.4.2 seems to use apiVersion extensions/v1beta1 for the deployment of velero in kubernetes 1.15.11"
**What steps did you take and what happened:**
velero install

**What did you expect to happen:**
deployment yaml would have apiVersion apps/v1

**The output of the following commands will help us better understand what's going on**:
- `kubectl edit deployment/velero -n velero`

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
  cr

[2020-09-02 23:32] jbmassicotte opened #2898 "Backup stuck InProgress; error getting backup resource list: timed out waiting for download URL"
**What I did**
- Installed velero client 1.4.2, with the intention of backing up an Azure cluster.
- Created a credential file, following instructions from [velero-plugin-for-azure](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure)
- Deployed velero server using:

[code]

- Attempted to create a backup using:
`velero backup create backup6 --snapshot-volumes=false --include-namespa

[2020-09-03 01:11] panpan0000 commented on #2892
@carlisia @nrb

[2020-09-03 10:09] manast commented on #2898
Interesting I am getting very similar errors in GCP, also using 1.4.2, will go back to 1.3.2 see if there is any difference.

[2020-09-03 10:43] manast commented on #2898
In version 1.3.2 the backup stays in phase New forever and no logs are available:
[code]
Server logs do not provide anything meaningful either:
[code]

[2020-09-03 15:21] stephbman opened #2900 "Improve the use of Restic in Velero and offer stable support"
**Background and Strategic Fit**
Restic is a third party tool open-source tool integrated with Velero that allows users to have an out-of-the box solution for backing up nearly any type of Kubernetes volume.

Because Restic is not tied to any specific storage platform, it can also be used to enable cross-volume-type data migrations.

**Epic Description**
Enable quality of life user experience impr

[2020-09-03 16:43] leiw324 commented on #2857
Hello,

Can someone help?

Thanks

[2020-09-03 19:21] HizzyCO opened #3156 "Azure - Volume Affinity Issues When Restoring A Backup From One Region To Another"
I am following the documentation on restoring a back up to a new cluster but when trying to restore the volumes there is an affinity issue. The secondary cluster is located in a different region than the original cluster and its snapshots. This is the node affinity for the volume and the issue is the the match expression is the old region, the new one is southcentralus. For DR the new cluster will

[2020-09-04 05:04] tnakajo commented on #2885
@nrb Can you help us further?

[2020-09-04 05:07] tnakajo commented on #2885
@venkatmarella Can you put screenshots to show the bucket name and the object storage endpoint are correct to @nrb and Verlero team?
[code]

[2020-09-04 06:55] jenting commented on #2897
That's because the deployment resource belongs to both API group `apps` and `extensions` at Kubernetes 1.15.
The kubectl default choose the `extensions` API group (I think it's controlled by kube-apiserver), you could try
[code]
to get `apps/v1` API group.

[2020-09-04 12:38] venkatmarella commented on #2885
<img width="1434" alt="Screen Shot 2020-09-04 at 7 27 43 AM" src="https://user-images.githubusercontent.com/31638107/92239782-2cead200-ee81-11ea-8e97-08cd2d93c910.png">
<img width="1436" alt="Screen Shot 2020-09-04 at 7 28 28 AM" src="https://user-images.githubusercontent.com/31638107/92239815-37a56700-ee81-11ea-9008-46aa7e65dd6b.png">
![image](https://user-images.githubusercontent.com/31638107/92

[2020-09-04 12:44] venkatmarella commented on #2885
<img width="1439" alt="Screen Shot 2020-09-04 at 7 42 50 AM" src="https://user-images.githubusercontent.com/31638107/92240542-65d77680-ee82-11ea-8e88-c091d8dcd026.png">
<img width="1440" alt="Screen Shot 2020-09-04 at 7 43 15 AM" src="https://user-images.githubusercontent.com/31638107/92240575-74259280-ee82-11ea-902e-4670e524ecfc.png">

[2020-09-04 14:39] dk-do opened #2902 "MINIO/Velero: The request signature we calculated does not match the signature you provided."
**What steps did you take and what happened:**
We installed Velero and attached it to MinIO.
We started a backup and it finished with:

[code]

The warning is:
[code]

**What did you expect to happen:**
We don't know why this happens. In prior tests we recognized that this error occurs if the password contains several special letters. But the password here only contains numbers, small and capital

[2020-09-04 17:08] leiw324 commented on #2857
Anybody home?

[2020-09-04 18:05] ashish-amarnath commented on #2857
@leiw324 appreciate your patience here.
Is your MinIO service running at `bucketdemo.s3.minio.amazonaws.com` endpoint?
It probably is not. It is possible that you are running with a stale backup storage location.
You can use the output of `kubectl -n velero get backupstoragelocation -oyaml` to confirm.

Suggest `kubectl delete ns velero` and reinstalling it.

[2020-09-05 07:03] leiw324 commented on #2857
Hello,

![image](https://user-images.githubusercontent.com/33790160/92299856-ca7cf900-ef88-11ea-988f-988024643e44.png)
I have restart a lot of time, can I change coredns to fix it ? if yes, can someone teach me?

Thanks

[2020-09-05 17:59] chenrui333 opened #2903 "velero 1.5.0 release tag missing"
👋  It looks like velero 1.5.0 release was deleted some time ago. Raise an issue in here for confirmation. Thanks!

Kind of relates to https://github.com/Homebrew/homebrew-core/pull/60300

[2020-09-06 19:01] ramazankilimci commented on #2168
Hello, I'm very new to open source community. For the last few weeks I'm attending to weekly meetings as well. If it's ok, I want to work on this issue.

[2020-09-07 02:56] luwang-vmware opened #2904 "PV related snapshot data is not deleted from restic folder when deleting backup"
**What steps did you take and what happened:**
I am using velero1.4.2 + restic for backup/restore statefulset workload in vsphere env(using VCP)
velero backup and velero restore work as expected. When I am deleting velero backup ***,  the files are deleted in backup folder in minio, but the related folder of  PV snapshot data still exist in restic folder. I am not sure whether it is by design.

1.

[2020-09-07 03:05] jc0705 opened #2905 "ERR_CONNECTION_TIMED_OUT upon restore of app with PVC"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
- got a test app (wordpress) with PVC running
- Got a s3 database running (type :ingress)
- Configured "restic-restore-action-config" configmap to pull from internal repo
- Installed velero with the following code:
`$ velero install --bucket velero --provider aws --secret

[2020-09-07 04:29] runzexia opened #2906 "Support config cli namespace base on context"
**Describe the problem/challenge you have**
In our usage scenario, the name of the namespace used by each cluster to deploy velero is different. So when I switch the context, I need to manually process the configuration of velero to switch namesapce.
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
 If velero support context-based default namespace

[2020-09-07 06:01] kaviarasan-ex2 opened #2907 "General Guidance"
Hi,
We wanted to understand how does the support mechanism works with SLA defined.

Does Velero has any support mechanism in place like enterprise / support model with the cost? Or it's purely on open source?

[2020-09-07 06:31] jenting commented on #2168
There is already a PR https://github.com/vmware-tanzu/velero/pull/2845 for this, maybe you could consider work with @davidboxboro.

[2020-09-07 15:12] leiw324 commented on #2857
Can somebody help? thanks

[2020-09-07 15:29] leiw324 commented on #2785
Hello,

I have 1.4.2 issue: https://github.com/vmware-tanzu/velero/issues/2857

Now I back to here to try install v1.0.0, how can I fix it ?

Thanks

[2020-09-08 08:30] beegee1 opened #2908 "Support subPath for volume backups"
**Describe the problem/challenge you have**
Velero can backup Pod volumes by specifying annotations (backup.velero.io/backup-volumes) in the Pod spec. We're using the same PV/PVC for different services except the subPath is different for each service when mounting the volume.  https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath We cannot simply specify this volume because it holds m

[2020-09-08 09:58] sawansharma005 opened #2909 "How to Integrate velero with Azure Stack"
**Describe the problem/challenge you have**
I am trying to integrate velero with azure stack.

**Describe the solution you'd like**
I couldn't find it on google, if we can integrate the velero with azure stack. If it is possible, could you share the link of how we can do this.

I tried to use the same configuration as we do for azure, but it's giving us an error of subscription not found.

**Anyth

[2020-09-08 10:54] panpan0000 commented on #2892
any feedback?

[2020-09-08 13:04] namm2 opened #2910 "Velero didn't restore ClusterRole and ClusterRoleBinding"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Hi, I've used Velero 1.4.2 to restore a cluster backup to an EKS 1.15 cluster, but the ClusterRole and ClusterRoleBinding weren't restored.

Created a full cluster backup on cluster1
[code]

Verify ClusterRole and ClusterRoleBinding were backed up:
[code]

Then on cluster

[2020-09-08 13:27] venkatmarella commented on #2885
@nrb, could you please help us here?

[2020-09-08 13:28] namm2 commented on #2910
I've found out that I need to set `--include-cluster-resources=true` in the restore command, instead of default values.

[2020-09-08 13:28] #2910 closed

[2020-09-08 18:33] #2731 closed

[2020-09-09 06:45] Cweiping opened #2912 "The latest backup and schedule are not equal：schedule.status.lastBackup and backup.metadata.creationTimestamp"
The latest backup and schedule are not equal：

schedule.status.lastBackup and backup.metadata.creationTimestamp

I want to use this method to confirm that the current backup is up to date.

[2020-09-09 13:02] venkatmarella commented on #2885
Identified the issue, the binary installed with brew is causing problem, downloaded from git repo and working as expected.

[2020-09-09 13:02] #2885 closed

[2020-09-09 15:23] omerlh opened #2913 "Velero backup location stuck in unknown on GCP"
**What steps did you take and what happened:**

Install Velero using the helm chart (version 2.12.15, velero 1.4.2). Backup not created because there is no matching backup location.

**What did you expect to happen:**

Backup created.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other

[2020-09-09 15:27] zubron opened #2914 "hack/release-tools/tag-release.sh issues when dealing with existing release branches"
When preparing for a patch release, the `tag-release.sh` script uses [`git branch`](https://github.com/vmware-tanzu/velero/blob/main/hack/release-tools/tag-release.sh#L106) to check for an existing release branch. By default, this will only show local branches so if you have not already checked out the targeted release branch, it will always be created locally. Instead, we can use the `-a` or `-r`

[2020-09-09 16:22] doughepi commented on #2913
I am seeing a similar issue, although I am on the v1.5.0-beta.1 release.

`time="2020-09-09T16:12:33Z" level=error msg="Error patching backup location's last-synced time" backupLocation=gcp controller=backup-sync error="backupstoragelocations.velero.io \"gcp\" not found" error.file="/go/src/github.com/vmware-tanzu/velero/pkg/controller/backup_sync_controller.go:311" error.function="github.com/vmwa

[2020-09-09 18:27] zubron opened #2919 "Remove "exec restore hooks coming soon" line in restore hooks doc"
We can remove line 11 in "restore-hooks.md" now which says "Only InitContainer Restore Hooks is supported and support for Exec Restore Hooks is coming soon."

_Originally posted by @zubron in https://github.com/vmware-tanzu/velero/pull/2896#discussion_r485821232_

[2020-09-10 02:38] phuongatemc opened #2922 "Request to enhance plugin with Timeout"
For App Consistent backup, the database application pod will be quiesce during the time Velero execute plugin (on PVC) to make snapshot of the PVC.  If for some reason, the plugin takes a long time to finish (i.e. fail to create snapshot and retry, network failure), the application pod will be in quiesce state which will block user from using the application.  This is undesirable condition.

We wo

[2020-09-10 03:06] phuongatemc commented on #2826
The problem occurs at random and it works with retry (not immediately).  The backups were scheduled to run every hour on a cluster with a few dozens of pods and multiple backups (up to 5) may be executed in parallel.  We cannot capture the Velero status of when it fail.
I think this is not a problem with Velero but it seems to be the problem of kubelet component where the command was sent to be ex

[2020-09-10 05:41] danielkucera opened #2923 "Be more verbose about PV deletion timeout"
I presume following line should have higher loglevel to be visible even without debug logging as it is final state:
https://github.com/vmware-tanzu/velero/blob/718a94ad0565731780c904d27d09f27936f6b7d9/pkg/restore/restore.go#L616

See also https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/167

[2020-09-10 06:44] dk-do opened #2924 "unable to find summary in restic backup command output"
**What steps did you take and what happened:**
We implemented Velero in our QA-Stage successful and created a Schedule every 30 minutes.
In 95% of all cases the backup finishes fine.

But sometimes it fails partially:

[code]

The error is always:

`time="2020-09-10T03:31:03Z" level=error msg="Error backing up item" backup=velero/30min-aws-20200910033038 error="pod volume backup failed: error runn

[2020-09-10 06:45] dk-do opened #2925 "unable to find summary in restic backup command"
**What steps did you take and what happened:**
We implemented Velero in our QA-Stage successful and created a Schedule every 30 minutes.
In 95% of all cases the backup finishes fine.

But sometimes it fails partially:

[code]

The error is always:

`time="2020-09-10T03:31:03Z" level=error msg="Error backing up item" backup=velero/30min-aws-20200910033038 error="pod volume backup failed: error runn

[2020-09-10 11:45] #2924 closed

[2020-09-10 11:45] dk-do commented on #2924
Sorry - accidentally posted twice

[2020-09-10 12:33] oguzdag commented on #1986
@guillaumefenollar did you find a solution/workaround for your problem?

[2020-09-10 17:44] rajivml opened #2927 "Change Image Name while Restoring Deployments In Target Cluster"
HI,

I have a use case where I have migrate an pretty big kubernetes cluster from GKE to AKS.

The thing am not able to figure out is, on GCP we are using google container registry and all the GKE deployments points to the images located in google cloud registry.

Now before the restore, I will sync all the docker images present under GCS to Azure container registry. But at the time of restoring t

[2020-09-10 17:48] ntalekt opened #2928 "Add -w, --wait to velero delete backup"
**Describe the problem/challenge you have**
Working on pipelining some units tests for a Velero install. `velero create backup` has a `--wait` flag however the `velero delete backup` does not.

**Describe the solution you'd like**
We can loop over the delete task to workaround but it would be a lot cleaner if the CLI handed a wait condition on the delete task itself.

**Anything else you would lik

[2020-09-10 19:25] #2919 closed

[2020-09-11 05:17] guillaumefenollar commented on #1986
I excluded events from my backups and they're passing now :
[code]
Not 100% sure this was the only necessary step to make them work though .. :-/

[2020-09-11 05:32] SHreyank4Real commented on #2279
I got same error with GCP experimental k8 cluster,
.
.
.
.
.
Deployment/velero: attempting to create resource
An error occurred:

Error installing Velero. Use kubectl logs deploy/velero -n velero to check the deploy logs: Error creating resource Deployment/velero: the server could not find the requested resource
.
tried deleting velero namespace and reinstalling still did not worked

then I delete

[2020-09-11 20:36] jbmassicotte commented on #887
@ncdc I realize this is an old thread, but would you mind having a look at https://github.com/vmware-tanzu/velero/issues/2898. Somewhat similar to what erjosito reported: restic failing to backup volumes of type AzureFile. And I did use the nouser_xattr option, but no success.

[2020-09-11 20:38] ncdc commented on #887
@nrb @carlisia

[2020-09-11 20:46] carlisia commented on #887
Sure thing, it's on the list.

[2020-09-14 16:26] emilianoorengo commented on #2757
Same error here using Velero 1.4.2, Openshift 4.5.8 over Azure. Actually, 2 errors (and 928 warnings):

- time="2020-09-14T16:09:42Z" level=info msg="error restoring router-default: Internal error occurred: failed to allocate requested HealthCheck NodePort 30282: provided port is already allocated"

- time="2020-09-14T16:10:00Z" level=info msg="error restoring multus.openshift.io: ValidatingWebhoo

[2020-09-15 05:17] bclermont commented on #1053
Why not add a secret key to `ResticRepository` CRD?

[2020-09-15 06:38] bclermont opened #2934 "Missing namespace in suggest velero commands"
Velero 1.4.2

[code]

the command suggested is invalid as the namespace isn't specified:

[code]

it should contains `-n $namespace`

[2020-09-15 15:45] zubron commented on #2874
Closing this now that #2916 has been merged.

[2020-09-15 17:49] ashish-amarnath opened #2935 "General timeline for a release"
Following up on the discussion on the community meeting on 9/15.

Asking the below questions:
1. What is the general timeline for a release, from a pre-release to a GA release
1. Should we continue shipping pre-release beta (one or more as needed) followed by a GA release or should we ship pre-release versions, followed by a release candidate, and eventually a GA release?
1. As a Velero user, can

[2020-09-15 18:48] nrb commented on #2935
I'd like to timebox the decision for v1.6 to Friday, September 25th so we have something and go with it. That's not to say it will be perfect or can't change in the future, I just would like to see things decided by then.

My thoughts:

1. Generally, releases will be on a 3 month cycle. Pre-releases will start coming out when features are roughly complete, and are largely discretionary, but probab

[2020-09-15 19:15] jbmassicotte commented on #887
@carlisia How do I turn on debugging? I see the '-v level' option. To be used with 'velero install' or with 'velero backup create'? And what value should I use?
I tried a few things without success.

[2020-09-15 19:17] carlisia commented on #887
https://velero.io/docs/v1.4/troubleshooting/#getting-velero-debug-logs

[2020-09-15 20:16] nrb commented on #2812
Scoping this for v1.6 currently; I'm unsure if the fix will be backport-able at this time.

[2020-09-15 20:34] nrb commented on #2903
@chenrui333 v1.5.0 is not actually released yet, and the tag was created by mistake. It should be out tomorrow.

[2020-09-15 20:34] #2903 closed

[2020-09-15 20:38] nrb commented on #2891
@anshudutta Are your server nodes in `zones/australia-southeast1-a`? Velero expects that everything is in the same region/availability zone.

[2020-09-15 20:40] nrb commented on #2892
@panpan0000 Thanks for this request, and sorry for the delay. I was busy with release then went on PTO.

This sounds like a use case for https://github.com/vmware-tanzu/velero/issues/474 - could you add your case to that issue please? I don't have a timeline for that feature, but I agree it's definitely useful.

For now, I'm going to close this issue as a duplicate.

[2020-09-15 20:40] #2892 closed

[2020-09-15 20:41] nrb commented on #2893
@mushdavtyan This sounds like you're trying to alter resources on restore, which is covered by https://github.com/vmware-tanzu/velero/issues/474. I'm going to close this issue as a duplicate, but please feel free to add your use case a comment.

[2020-09-15 20:41] #2893 closed

[2020-09-15 20:45] chenrui333 commented on #2903
Sounds good, thank you!

[2020-09-15 20:46] nrb commented on #2894
@svua What does `kubectl describe pvc/<pvc name>` report when the restore is sitting on the `InProgress` state? It would be useful to get more details about its current state.

Also, are you dynamically provisioning PVs, or statically provisioning them?

[2020-09-15 20:54] nrb commented on #2897
As Jenting mentioned, this is controlled by the Kubernetes API server. Velero itself installs the v1 apps version of a Deployment, but v1.15 of Kubernetes defaults to the `extensions` API group.

If you need to retrieve the Deployment from the `apps/v1` group, you can get it by doing the following:

[code]

[2020-09-15 20:54] #2897 closed

[2020-09-15 20:58] nrb commented on #2904
@luwang-vmware There is a restic repository management controller that prunes the restic repositories at regular intervals (default, weekly). The prune operation goes through and removes un-used data.

It is not run often because it requires a lock on the repositories, which blocks backup operations.

[2020-09-15 20:58] #2904 closed

[2020-09-15 21:11] nrb commented on #2912
I see why this is happening, and it makes sense, though I'm not 100% sure how to fix it at the moment.

The Schedule controller sets the `LastBackup` value when it submits the request for a Backup to be made. The Backup's `CreationTimestamp` is populated by the Kubernetes API server when it receives the request over the network. Thus, there is going to be some skew.

I think we need to address the

[2020-09-15 21:12] nrb commented on #2922
Which plugin type are you referring to? VolumeSnapshotter?

[2020-09-15 21:17] nrb commented on #2934
@bclermont You can fix this with `velero client config set namespace kube-system`, which remove the need for `-n` on `backup create`, too.

Generally, `-n` is not needed because the vast majority of our users use the default.

[2020-09-15 21:17] #2934 closed

[2020-09-15 21:42] stephbman commented on #2907
Hi @kaviarasan-ex2 Velero does offer an enterprise level support option for users who are using the signed VMware binary and who have purchased the VMware Tanzu Kubernetes Grid (TKG) Plus support entitlement. You must have both in order to receive enterprise support with SLA.

Outside of this, the support model continues to be open source.

You can learn more about the TKG Plus technology ecosyste

[2020-09-16 01:42] Cweiping commented on #2912
Thank you for your reply. Yes, as I know. I think it's reasonable

[2020-09-16 02:08] phuongatemc commented on #2922
Yes, we use VMWare VolumeSnapshotter for First Class Disk (FCD) PV.

[2020-09-16 03:37] phuongatemc commented on #2922
We also plan to use BackupItem plugin in the near future.

[2020-09-16 07:02] dsu-igeek commented on #2935
I think this is good.  Our goal should be for beta builds to be passing all of our existing tests and to add tests for new functionality prior to RC.  By the time we get to RC we should be very confident it will pass final test.  Having bugs found in the RC should not be expected, so we don't build slack into the schedule for bug fixes post-RC, but we leave ourselves the option of postponing the r

[2020-09-16 13:48] davemazur opened #2938 "Log level inconsistency in v1.5"
Previous versions (<v1.5) used debug, info, warning and error  strings when setting the log level via:
% velero version -v {debug, info, warning, error}

This is also the understanding from the team - see below.

![Velero-log-error-slack](https://user-images.githubusercontent.com/16963783/93343137-24d64f00-f7fe-11ea-9b46-ef1150f2febb.png)

In 1.5, the help is looking for a number:
% velero help

[2020-09-16 13:53] choey-nebula opened #2939 "Velero fails to find PVC volumes"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I'm performing a backup on my EKS cluster like so:
`velero backup create ega-test-backup --include-namespaces ega`

This namespace has a number of deployments, services, and statefulsets - all of which appear to backup properly.  The PVC volumes do not, and the backup st

[2020-09-16 16:11] zubron commented on #2914
Given that a release branch does not exist prior to the first patch release, this issue will not impact the first patch release for a particular version. I'll set this to the 1.5.2 release as it will not impact a 1.5.1 release.

[2020-09-16 20:38] jbmassicotte commented on #2898
We figured out our problem: our cluster is composed of 3 nodepools, the default, plus let’s say pool A and B. We have 2 applications, let’s say X and Y, and use ‘tolerations’ to force app X on nodepool A, and app Y on nodepool B. Because restic uses no toleration, it runs on default nodepool and fails to backup volumes from applications running on pool A and B.

To fix the problem (temporarily), I

[2020-09-16 20:42] jbmassicotte commented on #887
@carlisia Please see explanation of the problem in my last comment on https://github.com/vmware-tanzu/velero/issues/2898. I am looking for a recommendation on a ‘permanent solution’.

[2020-09-16 20:45] carlisia commented on #887
@jbmassicotte there is no need to add to that ticket as well as this ticket. Anything to address your issue will happen on @2898.

[2020-09-17 00:37] cshaw5 commented on #2909
👍

[2020-09-17 13:23] eyalzek opened #2942 "No backup locations were ready to be verified - reword BSL controller status message"
**What steps did you take and what happened:**
Upgrade velero from 1.4.2 to 1.5.1, controller starts printing in a loop that the backup storage location cannot be found. This has been working since pre-velero days.

**What did you expect to happen:**
Velero would continue working as expected

**The output of the following commands will help us better understand what's going on**:
(Pasting long out

[2020-09-17 17:02] jbmassicotte commented on #2898
I ended up writing a script to capture the daemonset yaml config, to add the toleration to this config via a sequence of sed updates, and to invoke ‘kubectl replace’ with the updated config. It does the trick but I find that somewhat cheesy. Any solution deemed more elegant and reliable would be appreciated.

[2020-09-17 17:58] nrb commented on #2942
`time="2020-09-17T13:17:07Z" level=info msg="Checking for existing backup locations ready to be verified; there needs to be at least 1 backup location available" controller=backupstoragelocation logSource="pkg/controller/backupstoragelocation_controller.go:58"`

is not necessarily an error, as the controller loops more often than individual backup locations are checked. I think we can look into tu

[2020-09-17 18:12] carlisia opened #2945 "Release instructions improvements"
1) naming of the docs folder for a release that is not a GA release.

https://velero.io/docs/v1.5/release-instructions/#changelog-and-docs-pr (items 5 and 6).

Discussion: https://github.com/vmware-tanzu/velero/pull/2931#discussion_r487295472

[2020-09-17 18:16] carlisia commented on #2945
@nrb / @zubron / @jonasrosland: if you remember anything else from the release process yesterday that needs to be updated in the doc, please add it here (before we forget!). Thanks.

[2020-09-17 18:23] zubron commented on #2945
I made these notes quickly during the call, hopefully I captured things correctly:

- Need to update the location of the changelog script in the Makefile
- Step 3: The instructions for handling the CHANGELOG.md file were a bit unclear for me. On GA, the "unreleased" section needs to be removed?
- Step 6: The path for the prerelease TOC is incorrect, should be site/data/**docs**/<pre-release>-toc.y

[2020-09-17 18:55] nrb opened #2946 "`velero` command without subcommand returns error"
**What steps did you take and what happened:**
Running `velero` without a subcommand now returns an error.

**What did you expect to happen:**
`velero` without a subcommand should return a help message, but no error.

**The output of the following commands will help us better understand what's going on**:

**Anything else you would like to add:**
This appears to be from Cobra v0.0.6, specifically

[2020-09-17 19:05] carlisia commented on #2168
Hi @ramazankilimci apologies for the delay in responding. There was no activity on PR #2845, so please let me know if you'd like to get started on this and I'll assign it to you.

[2020-09-17 19:10] ramazankilimci commented on #2168
Hi @carlisia thank you for your comment. I really want to work on it. Please assign it to me.

[2020-09-17 19:56] zubron commented on #2946
This was reported as an issue in spf13/cobra#1056 as is fixed in the [0.0.7](https://github.com/spf13/cobra/releases/tag/v0.0.7) release so hopefully it's enough to just upgrade the version we're using.

[2020-09-17 20:40] nrb commented on #2116
Closing issue with the release of v1.5.1

[2020-09-17 20:40] #2116 closed

[2020-09-17 21:17] sseago opened #2948 "CR restore regression in 1.4.2"
**What steps did you take and what happened:**
Velero restore with CR and CRD in backup sometimes fails to restore the CR.
In my case, backup was from a Kubernetes 1.16.2 cluster (OpenShift 4.2), and restore was to a Kubernetes 1.17.1 cluster (OpenShift 4.4), but since it's a restore error, restore version is probably more relevant.
Backup of a namespace with one running Deployment, one CRD define

[2020-09-17 21:18] sseago commented on #2632
https://github.com/vmware-tanzu/velero/issues/2948 might explain why this is failing in 1.4.2 despite the fix.

[2020-09-18 09:42] eyalzek commented on #2942
Actually I assumed from these messages that it just doesn't work so I quickly rolled back. I tested now and triggered a manual backup - it worked as expected. So I guess this message `**"Checking for existing backup locations ready to be verified; there needs to be at least 1 backup location available"**` should be reworded? It makes it sounds like there isn't a backup location available at all...

[2020-09-18 10:27] rnrsr commented on #2948
i can verify this on the mentioned issue #2632 - it nearly always misses _some_ CRs on the first restore attempt, so i have to run it twice.

[2020-09-18 10:30] rnrsr commented on #2632
yea after more testing it turns out it's not always the same CRs that get missed, so it is pure luck which ones get restored and which ones don't. e.g. my last test only missed the PrometheusRule CRs, so it is not consistent.

[2020-09-18 13:01] eyalzek commented on #2942
I just made sure that a scheduled backup goes through as expected

[2020-09-18 13:29] sseago commented on #2948
Actually, case-insensitive test won't work since we're comparing "CustomResourceDefinition" with "customresourcedefinitions". I think this needs to be changed back to the original "customresourcedefinition" and the code that needed the CamelCase "Kind" form fixed to not use the Resource field here, since the Resource field is not the same as the Kind. I think this is the line of code that required

[2020-09-18 14:45] h4wkmoon commented on #1333
Hi,
I really love velero. It does really great for its principal purpose : backups and restores.

But, exposing nothing at all is better than incorrect metrics.
Can you, either :
* advertise that your metrics are not entireiy ok,
* correct or remove those which are not

Thanks.

[2020-09-18 15:07] sseago commented on #2948
Fix posted at https://github.com/vmware-tanzu/velero/pull/2949

Restoring the proper lowercase plural Resource string for CRDs fixes "wait for CRDs to be ready" and "refresh discovery helper after loading CRD". The update to remap_crd_version_action no longer attempts to use the CRD Resource field as a Kind, so the lowercase doesn't break that anymore.

[2020-09-18 16:06] nrb commented on #2946
Forgot to add a fixes string in the PR. This was closed by #2947.

[2020-09-18 16:06] #2946 closed

[2020-09-18 19:57] nrb commented on #2942
Yeah, I agree that the wording could be revisited, so I'm going to leave this open to address it.

The error may have been due to the shut down, yes, though it seems like it's related to the BSL not being present in the kubernetes API server at all. However, if it's continuing to work and finding it, then perhaps it was a race condition with the pod shutdown.

[2020-09-18 20:00] nrb commented on #2938
Thanks for the report!

To change the log level, you need to edit the Kubernetes deployment containing the Velero server; it can't be directly changed from the velero client.

See https://velero.io/docs/latest/troubleshooting/#getting-velero-debug-logs for changing it.

Still, I think we need to change the message that the help displays to be more accurate.

[2020-09-18 20:01] nrb commented on #2938
Oh, I read this too quickly; this is about `-v`, not `--log-level`...hmm.

Yeah, we should still be more explicit.

[2020-09-21 06:21] wanghuok opened #2956 "restic-wait init pod stuck when restoring statefulset with restic plugin"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

**i tried to test velero backup and restore on entire cluster:**
1. i create 2 clusters with 3 master nodes and 5 worker nodes respectively
2. in src cluster, i create 50 namespaces, 100 deployments with 2 replicas, 100 loadbalancers
3. additionally, i create 5 ns, each

[2020-09-21 13:04] BartoszZawadzki opened #2957 "Add option to define custom tags in Schedule/Backup."
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

Currently velero adds predefined tags to EBS snapshots. These cannot be changed and no user-specific tags can be added.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We would like to have the ability to specify ta

[2020-09-21 13:38] vaishali-prophecy opened #2958 "Not able to restore EFS volumes using restic"
Backup is completed successfully as can be seen here -
[code]

[2020-09-21 14:03] elangocse opened #2959 "Velero POD deployment is getting crashed"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

We have deployed Velero in our kube cluster engine which is running in Azure stack environment. The Velero platform we installed : "velero-v1.4.2-linux-amd64".
Later using the command  _velero install_ we deployed kube deployment which is getting crashed.

**What did you

[2020-09-21 14:12] jbmassicotte opened #2960 "How to restore K8S and PVCs using scheduled/incremental backups"
I am using velero with restic enabled to schedule backups of an Azure cluster, which has Managed Disk  PVCs, and Azure File PVCs. Let’s say I have 30 days worth of nightly backups/snapshots.

My understanding is that the snapshots of the volumes, both Managed Disk and Azure File, are incremental, **right**?

And how am I supposed to restore the cluster & volumes given the snapshots are incremental

[2020-09-21 14:24] Panplumousse opened #2961 "Install lastest version of velero 1.5.1"
Hello,

I tried to update the velero version from 1.3.2 to 1.5.1, the velero pod starts up correctly but
when I do a velero version with cli client I get this :

Client:
        Version: v1.5.1
        Git commit: 87d86a45a6ca66c6c942c7c7f08352e26809426c
Server:
        Version:
server version is empty

when i try to get version directly in pod , i have same things

$ ./velero version
Client:

[2020-09-21 14:30] Panplumousse commented on #2961
Update ,
I had try to uninstall completely and install new time and it is same issu
restart velero pod same issu again

[2020-09-21 17:21] maikeldotuk commented on #2520
I've got this exact same problem. The only solution that works for me is to create the PV (local volume) first then restore with Velero.

[2020-09-21 21:50] nrb commented on #2961
@Panplumousse It looks like you may have missed step 2 in https://velero.io/docs/v1.5/upgrade-to-1.5/ - the newest version of the CRDs must be installed for v1.5.1 to work properly. Please review this document and let us know if you have any more issues.

[2020-09-21 21:50] #2961 closed

[2020-09-21 22:02] nrb commented on #2956
Based on the errors, it looks like this was only the 2 10gb PVs. A sample:

`    pod volume restore failed: error restoring volume: error running restic restore, cmd=restic restore --repo=s3:http://20.20.224.27:9000/velero/restic/velero-test-10g-1 --password-file=/tmp/velero-restic-credentials-velero-test-10g-1463948514 --cache-dir=/scratch/.cache/restic 0086386c --target=., stdout=, stderr=: erro

[2020-09-21 22:05] jbmassicotte commented on #2960
Now it appears incremental snapshots of Azure Disks is available in v1.5, as discussed here https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/52.
That is good news. However, I am still unclear on how to restore from incremental snapshots.

[2020-09-21 22:06] nrb commented on #2957
@BartoszZawadzki Thanks for this request - I think this is definitely an interesting feature that we should look into supporting more generally for any `VolumeSnapshotter` plugin. I don't know that tags are universal across all snapshots on all platforms, but based on how Velero is architected, this would be best implemented as a plugin interface feature.

I've marked it as a feature enhancement a

[2020-09-21 22:11] nrb commented on #2958
@vaishali-prophecy Thanks for the report, that is definitely unusual.

Can you provide the YAML of the PV resource and the PV's storage class?

Also, what version of Velero and Kubernetes are you using?

[2020-09-21 22:15] vaishali-prophecy commented on #2958
Hi @nrb ,

Yaml for the PV resource -

[code]

Yaml for storage class -

[code]

Version of velero - 1.4
K8s version - 1.16

Note that PV resource itself isn't restored on restore action  for the PVCs which are marked in pod annotation.

[2020-09-21 22:16] nrb commented on #2959
Hi @elangocse - are you using ADFS by chance? Doing some research, it appears that this error can manifest when accessing ADFS resources.

Have you seen this regularly, or has it been a one-time event?

[2020-09-21 22:20] nrb commented on #2960
@jbmassicotte We need to release a version of the plugin that includes that PR still; I will get that out by the end of this week and update this issue.

For restores, there is no special flags or commands to add to `velero restore` for Azure Managed Disks - the Azure API figures it out underneath the covers.

Similarly, restic makes its own filesystem snapshots incrementally. Velero does not expo

[2020-09-22 05:05] Panplumousse commented on #2961
Hello in fist time i have update CRDs , with following documentation but many errors , i had forced to pass --validate=false agrgument
velero install --crds-only --dry-run -o yaml | kubectl -n velero apply -f - --validate=false

LOG WITHOUT validate=false

velero install --crds-only --dry-run -o yaml | kubectl -n velero apply -f -
error: error validating "STDIN": error validating data: [Validation

[2020-09-22 06:31] wanghuok commented on #2956
Hello, @nrb :

annotation command used for 10g pv same as 1g pv:
`kubectl --context=pks-st-10 -n velero-test-10g-1 annotate pod/postgres-wl-1-0 backup.velero.io/backup-volumes=postgredb`

i think it has nothing to do with pv size.

in previous test, 2 ns failed with same error message with this time when restore cluster. one ns is 1g pv, the other is 10g pv

[2020-09-22 07:35] Panplumousse commented on #2961
For information about kubernetes version

Kubelet					1.13.5
Kubernetes API server		1.13.5
Kubernetes control manager	1.13.5
Kubernetes pause			3.1
Kubernetes proxy			1.13.5
Kubernetes scheduler		1.13.5
kube_state_metrics			1.2.0

[2020-09-22 12:49] jbmassicotte commented on #2960
@nrb Ok thank you, I look forward to this release. BTW, I see v1.5.1 is the current release. Should I be looking for v1.5.2 then?

And regarding my question about restoring from scheduled backup, now I understand that one can restore using the '--from-schedule \<schedule-name\>' option, in one command. Simple enough.

I saw a couple of sites (eg https://github.com/openebs/velero-plugin, bottom of

[2020-09-22 14:03] duffn commented on #2100
I'm coming back to say I've tested again with the newest Velero version.

[code]

I did not even try with the default resource constraints, however I doubled the CPU and memory limits from what is in the docs, and everything does seem to work.

[2020-09-22 14:12] elangocse commented on #2959
@nrb

You mean Active directory federated services. Nope I am not using it.
We are running AKS in Azure Stack to deploy Velero as a POD deployment for cluster backup.

The POD is getting crashed regularly. Its coming up and after a min or two, it getting crashed again with above error.
We are trying to connect Azure storage which is running in Azure public cloud from AKS Master node which is runni