[2018-03-06 21:43] ncdc opened #358 "Convert GC controller to use a work queue"
Also make sure we have a unit test that verifies that we handle finalizers for both the AddFunc (backup was deleted while GC controller was offline) and the UpdateFunc (backup was deleted while the GC controller was running).

[2018-03-07 00:41] jrnt30 commented on #357
If I recall correctly, yes. I can replicate  tomorrow but I believe it was new but present in S3

[2018-03-07 01:56] paulbouwer commented on #299
@AdityaTulasi, @ncdc

There is information (a little out of date though) about ACS here: https://github.com/Azure/ACS/blob/master/kubernetes-version-support.md

The v1 ACS locations deploy kubernetes without RBAC enabled on the api-server, the v2 ACS locations deploy with RBAC enabled - that may be an option for you.

If not, I have edited the Ark yaml before to exclude all the RBAC related bits a

[2018-03-07 09:32] 27149chen opened #361 "How to define StorageClass for minio"
Hi,
I'm trying the example nginx app with pv.  It need a storageclass first. I'm using minio as the provisioner, so I defined a storgecalss with provisioner aws-ebs and without any parameters. But when I deploy the example nginx application, it failed with error `Failed to provision volume with StorageClass "default": Failed to get AWS Cloud Provider. GetCloudProvider returned <nil> instead`
Could

[2018-03-07 10:50] ncdc commented on #361
@27149chen are you running in EC2? When you use Minio, it's as an S3-compatible object storage provider, and that's where the backup tarballs are uploaded. There is no PV aspect to Minio - you need something else to provide PV capabilities, such as running in EC2, GCE/GKE, ACS/AKS.

[2018-03-07 11:20] 27149chen commented on #361
Oh, I see. @ncdc , thanks for your expaination. So minio is meaningless when PV is involved, right?

[2018-03-07 11:26] ncdc commented on #361
It's not 100% meaningless 😄; it just has a different role. Ark has 2 storage aspects - Kubernetes objects, and persistent data. We use an object store for the Kubernetes objects (S3, Minio, Google Container Storage, Azure Blob Store), and we tap into the cloud providers for PV snapshots.

[2018-03-07 14:51] ncdc commented on #357
I would expect the phase to be New and it not to be in S3

[2018-03-07 14:54] ncdc commented on #299
Thanks @paulbouwer for the update!

[2018-03-07 23:00] sands6 commented on #355
@ncdc I have tested with NFS on a new cluster and Ark restore is successful. Thanks for the help.

Netapp Trident right now does not support snapshot/restore via API, but will soon in future.

[2018-03-07 23:00] #355 closed

[2018-03-08 05:14] ssubramanian123 opened #364 "How to backup entire namespace in ark?"
Hi,
I have installed ark server in my cluster and client in my local. Now I am trying to setup backup for entire namespace. But it is not working. Can anyone help with the syntax for setting up entire namespace / entire cluster backup.

Here is the steps I used.

[code]
When I run ark backup command getting below logs

[code]

In the ark-server log I am getting below access denied error. I have se

[2018-03-08 05:55] ssubramanian123 commented on #364
I found this is an issue with S3 access. Now backup works fine, but restore to different cluster not working.

I took backup from cluster 1 and stored backup in S3.

in Cluster 2 configured the same s3 bucket and now trying to restore the backup. It is listing the backup but not restoring it.

Here is the log

[code]

[2018-03-08 07:08] 27149chen commented on #361
Yes, I mean that if you use a cloud provider for persistent data, you'd better to store the Kubernetes objects in it too, isn't it?

[2018-03-08 08:01] 27149chen commented on #361
@ncdc  When I backup a service with type NodePort and restore it to another cluster, I find that the nodePort ip setting is gone, is it as designed?

[2018-03-08 09:24] akgunjal opened #365 "Taking backup fails with ark"
Hi, I am trying to use ark and take backup of kubernetes resources. I am first trying the example given in ark repo with nginx but it fails to take backup. I am using S3 object storage as backend to store backups.

**Server.log**
[code]

On the backup logs I always see a same error message for any issue.
[code]

[2018-03-08 11:06] ncdc commented on #361
@27149chen for the moment, yes - I recently filed #354 to discuss this.

[2018-03-08 11:07] ncdc commented on #365
Hi @akgunjal, it sounds like something is misconfigured. Could you please verify that your bucket name, region, and AWS access credentials are all correct?

[2018-03-08 11:08] ncdc commented on #364
@ssubramanian123 did you run `ark restore create nscdvr-devtest-1`?

[2018-03-08 13:44] ssubramanian123 commented on #364
@ncdc thanks `ark create restore nscdvr-devtest-1 ` worked.

[2018-03-08 13:45] #364 closed

[2018-03-08 15:34] ncdc commented on #193
An update: the current plan is to continue to require region for s3. We can still consider the GenericAWS/S3 split as described above.

For PVs, you will no longer be required to specify a region, as we'll instead read that information from the labels on the PV.

Look for updates on this as we continue to work towards v0.8.0.

[2018-03-08 15:39] nrb opened #366 "Clean up plugin processes on SIGINT when running locally"
PR #334 made it possible to run the Ark server locally. However, when interrupting the server with ctrl-c, child processes such as the GCP object store plugin are not always cleaned up.

We should add a handler to kill any running plugin processes before exiting.

[2018-03-08 16:31] ncdc opened #367 "Permanently exclude restoring events"
We back up but don't ever restore nodes. Should we consider doing the same with events?

cc @lypht @jrnt30 @jbeda @skriss @nrb @paulbouwer

[2018-03-08 16:33] ncdc opened #368 "Need to handle cohabitation of events in core and events.k8s.io api groups"
Need to modify `cohabitatingResources` in `pkg/backup/backup.go`. 1 group should be `""` (for core) and the other should be `events.k8s.io`.

[2018-03-08 16:56] jbeda commented on #367
Meh -- I have a hard time seeing that being a good idea. A lot of times they'll have details that don't apply to the current cluster. I could see it causing more confusion than helping.

[2018-03-08 16:56] ncdc commented on #367
That's my thinking too

[2018-03-08 17:02] skriss commented on #367
Yeah, I almost always exclude them from restores if I remember to - often I think they don't even restore properly.

[2018-03-08 17:34] nrb commented on #347
Cribbing from the [jenkins code](https://github.com/jenkinsci/jenkins/blob/master/core/src/main/resources/hudson/triggers/TimerTrigger/help-spec.jelly#L40), they use `H` to allow the system to spread jobs out for the user, as opposed to configuring specific and possibly overlapping times.

A similar approach would be useful in order to spread usage more evenly.

[2018-03-08 17:43] ncdc commented on #367
Add `events` to `nonRestorableResources` in `pkg/controller/restore_controller.go`

[2018-03-08 18:24] ncdc commented on #208
Last bit fixed by #363

[2018-03-08 18:24] #208 closed

[2018-03-08 20:05] bhargavpss opened #369 "kops master is unauthorized to attach ark-restored volumes"
Hi, I'm trying to solve the nginx use-case but using S3 for object storage.
I'm trying to restore a backup which is created by running this command `ark backup create nginx-backup --selector app=nginx --snapshot-volumes`. The command used for restoring is `ark restore create nginx-backup --restore-volumes`.

The backup however is being created successfully and the backup files are uploaded to the

[2018-03-08 20:07] ncdc commented on #369
Hi @bhargavpss, thanks for your report. FYI we're in kube slack in #ark-dr if you want real-time Q&A :-)

Are your 2 clusters in the same cloud region?

Could you please show `kubectl -n nginx-example describe pod`?

[2018-03-08 20:11] ncdc commented on #354
cc @jbeda - another UX question. How do we support both 1) restore into new cluster and 2) restore into new cluster into a different namespace?

[2018-03-08 20:12] ncdc commented on #192
cc @jbeda on UX

[2018-03-08 20:13] bhargavpss commented on #369
Hey @ncdc,

Yes, the two clusters are in the same region `us-east-1` and the same account as well.

Output of `kubectl -n nginx-example describe pod`
[code]

[2018-03-08 20:14] ncdc commented on #369
This seems to be the reason why: `Error attaching EBS volume "vol-03d0039cdcca2fc9a" to instance "i-09b03f4a4bf903960": "UnauthorizedOperation: You are not authorized to perform this operation`. Maybe something is wrong with `ip-172-20-49-240.ec2.internal`'s cloud credentials / iam instance profile?

[2018-03-08 20:15] ncdc commented on #369
@mattmoyer do you have any aws queries you can suggest to see why this is happening?

[2018-03-08 20:25] ncdc commented on #369
Or if not the node, then the controller manager.

[2018-03-08 20:26] bhargavpss commented on #369
No. The Instance profile for the instance `ip-172-20-49-240.ec2.internal` has full EC2 access. I think the logs say `UnauthorizedOperation` because it is trying to attach the volume `pvc-2db45bb0-22f8-11e8-82f2-0e21f011a24c` and it is not possible because it is already in use by the first cluster.

If you see the `PersistentVolumes` section in the output of `ark backup describe nginx-backup` the s

[2018-03-08 20:30] ncdc commented on #369
The name of the PV/PVC can be identical between 2 clusters - that's just a Kubernetes identifier. Ark changes the EC2 volume ID in the PV to be the ID of the new volume that is created from the snapshot.

You can probably look at the IDs of the volumes in the EC2 console - I would expect them to be different.

You can also decode the `Encoded authorization failure message` to get more info about w

[2018-03-08 20:31] ncdc commented on #369
e.g. the ID of the volume that's failing to attach is `vol-03d0039cdcca2fc9a`. You can check the ID of the volume in the original cluster by doing `kubectl describe pv/<name of pv>` and you should see a different `vol-*` ID.

[2018-03-08 20:43] ncdc commented on #257
FYI, there is a PR to add a helm chart here: https://github.com/kubernetes/charts/pull/3795

[2018-03-08 20:46] ncdc commented on #242
Closing due to age. Please feel free to reopen if you want to revisit this.

[2018-03-08 20:46] #242 closed

[2018-03-08 20:47] ncdc commented on #261
Closing due to age. Please feel free to reopen if you want to revisit this.

[2018-03-08 20:47] #261 closed

[2018-03-08 20:49] ncdc commented on #353
Hi @cj-anthony, just checking in to see if you had any luck or can provide any more information?

[2018-03-08 21:12] bhargavpss commented on #369
Hey, thank you so much for the help.

The volumes ID's are indeed different. The issue was that EC2 permissions just for the node is not sufficient because this particular action is being carried out by the master. I gave the required permissions to the master but there seems to be an another issue.

The volume that is created from the snapshot is getting attached is device `dev/sdf` (default) whi

[2018-03-08 21:14] ncdc commented on #369
What component specifically is looking for `/dev/xvdf`?

[2018-03-08 21:18] ncdc commented on #369
Also, what EC2 instance type(s) are you using?

[2018-03-08 21:19] ncdc commented on #369
Did you create the original EBS volume by hand, or use a PVC for dynamic provisioning?

Did you do anything to influence the device to be `/dev/xvdf` or was everything handled by the system in an automated fashion?

[2018-03-08 21:39] bhargavpss commented on #369
The instance which the volume is getting attached to

Here's the output of `kubectl describe pod -n nginx-example` after giving the required permissions to master instance profile
[code]
The instance type is `t2.medium`.

Yes. I deleted the attached volume that is device `/dev/sdf` and manually attached a new volume and particularly specified the device type '/dev/xvdf' and it is working now.

[2018-03-08 21:40] ncdc commented on #369
What kubernetes version? Kubernetes is in charge of attaching the volume and selecting the device name, so I would expect all this to work automatically and transparently.

[2018-03-08 21:43] ncdc commented on #369
Any chance your instance was using paravirtualization instead of HVM?

[2018-03-08 21:48] bhargavpss commented on #369
The kubernetes version is 1.8.6

I have deployed the cluster using `kops`. The AMI used for the nodes is `k8s-1.8-debian-jessie-amd64-hvm-ebs-2018-01-14 (ami-8ec0e1f4)`

[2018-03-08 21:49] ncdc commented on #369
Can you confirm, either in the EC2 web console, or using the CLI, the instance's virtualization type is listed as hvm?

[2018-03-08 21:55] ncdc commented on #369
We'll see if we can reproduce with a kops deployment, as well.

[2018-03-08 21:57] bhargavpss commented on #369
Here is the output of `aws ec2 describe-instances --filters "Name=instance-id,Values=i-09b03f4a4bf903960" --query Reservations[].Instances[].[BlockDeviceMappings,RootDeviceName,RootDeviceType,VirtualizationType]`

[code]

[2018-03-08 21:58] ncdc commented on #369
Ok and this is after you manually attached it as xvdf I assume.

[2018-03-08 21:58] bhargavpss commented on #369
yes

[2018-03-08 22:57] jbeda commented on #192
It might be worthwhile to think about this in terms of scenarios and the flags that will usually exist together.  90% of the time that users remap namespaces they'll want to rename/clone PVs too.  We don't want to have people flip a zillion flags to do the common case.

I'm reminded of the flags for `rsync`:

[code]

Another analogy/pattern: `git`.  While git isn't the best, most usable thing but

[2018-03-08 22:59] jbeda commented on #354
My answer would be similar to https://github.com/heptio/ark/issues/192#issuecomment-371653916.  By all means let's come up with granular flags for stuff like this. Or have a config file for specifying what gets remapped how.  But then package up the common use cases under a single flag.  Document it so that users can tweak it if they want.

[2018-03-09 00:10] cj-anthony commented on #353
Hi Andy,

Thanks for your response, sorry I was out of the office yesterday.  I have the log files but they're quite lengthy and contain some sensitive information. However I think I might have found the issue:

The persistent storage is an azure storage account file store. Is this type of storage supported for snapshots?

[2018-03-09 00:18] cj-anthony commented on #353
Sorry, also to add there is another error on a Persistent Storage type of Azure Managed disk. This one is interesting as it references a resource group called "dev-clusters" which is old and has since been removed and replaced when we redeployed the cluster.

[2018-03-09 00:44] skriss commented on #353
hey @cj-anthony - re: the first comment, no, we do not support file store PVs for snapshot.  For Azure we only support managed disks.

Re: the second comment - is it possible that you have the wrong value in AZURE_RESOURCE_GROUP within the cloud-credentials secret?  That's being passed to the Azure client when trying to get info about the disk in order to take a snapshot.  The value should be the

[2018-03-09 00:59] cj-anthony commented on #353
Thanks Andy, I think we'll close this for now as we're pretty embedded in azure file storage. Thanks for your help!

[2018-03-09 00:59] #353 closed

[2018-03-09 06:29] akgunjal commented on #365
@ncdc : I re-checked and bucket name, region and credentials are all correct.

[2018-03-09 09:04] haoqing0110 opened #370 "Can I use ark to do disaster recovery between 2 clusters?"
For example, I have 2 clusters, cluster A and cluster B.
Backup cluster A with ark, can I restore the backup in another cluster B? Cluster B has different hostname, IP, event the number may be different.

[2018-03-09 12:29] ncdc commented on #370
Hi @haoqing0110, yes you can! Please see https://github.com/heptio/ark/blob/v0.7.1/docs/use-cases.md for a bit more detail. Basically you use the same Ark `Config` for cluster B, but we recommend setting `restoreOnlyMode: true`. Install Ark into cluster B and soon you'll see that all of the backups you took from cluster A show up in cluster B. You can then run `ark restore create` against cluster

[2018-03-09 12:32] ncdc commented on #365
Could you please share:

- The exact commands you ran to take a backup, check the logs, etc?
- Your full Ark config and your full Ark server log (`kubectl -n heptio-ark-server logs deploy/ark`)? Make sure you redact any sensitive information.

[2018-03-09 15:53] ncdc commented on #354
Makes sense. Maybe we allow users to remap node ports as an option?
[code]

[2018-03-09 16:27] ncdc commented on #369
OK I just created a cluster using kops and can reproduce the Unauthorized operation. We'll dig in and see if we can figure it out.

[2018-03-09 16:34] ncdc commented on #369
OK I gave my master full ec2 access. I now see it attaching the volume to the node using `/dev/xvd**`, although for some reason it's timing out waiting for it to attach (not sure why).

[2018-03-09 16:39] sanketjpatel commented on #367
I'd like to give this a try over the weekend if it's not super urgent

[2018-03-09 16:39] ncdc commented on #369
Ok it finally attached. I am able to verify the volume created from the snapshot had the data I expected (i.e. what Ark backed up).

If you have a reliable reproducer, we'll be happy to investigate further. At this time I honestly don't know why your disk was attached to `/dev/sdf` when Kubernetes requested `/dev/xvdf`.

Do you have logs from the controller-manager pod? Here is a sample from mine:

[2018-03-09 16:40] jbeda commented on #354
That sounds great.  But from a user point of view you'd want to be able to ask "what node ports does this backup/namespace use?" and "Will those conflict with the cluster I'm trying to apply to?"  Answering those questions doesn't fit cleanly into this model unfortunately.

In addition, you may want to let the system pick the node port as you remap.  Unfortunately, it is difficult to know if the n

[2018-03-09 16:41] ncdc commented on #367
@sanketjpatel that would be fantastic! Please do!

[2018-03-09 16:45] ncdc commented on #354
Yeah, this is potentially a pretty big thing... Right now it's "fire and forget it" when it comes to restoring. The server does the best it can, but it's all automated and there's no opportunity for user input. Nor do we have a holistic **in-memoryr** view of either the backed up resources or the destination cluster's resources, so we can't currently easily evaluate everything and say "hey, your n

[2018-03-09 17:03] ncdc commented on #369
According to https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html:

@bhargavpss can you retry restoring once or twice and see if you get the same `/dev/sdf` type of behavior consistently? (FWIW, if you do, that's a Kubernetes issue, not an Ark one, unfortunately.)

[2018-03-09 17:03] ncdc commented on #369
Also FYI I think #341 should fix the Unauthorized issue we're seeing when the master tries to attach a volume created from a snapshot.

[2018-03-09 19:59] Bradamant3 opened #372 "Update use case documentation"
See #346 (closed unmerged) for details.

[2018-03-09 21:29] ncdc commented on #20
cc @jbeda - another UX question

[2018-03-09 21:30] ncdc commented on #49
Fixed by #363

[2018-03-09 21:30] #49 closed

[2018-03-09 21:43] ncdc commented on #205
Closing in favor of #74.

[2018-03-09 21:43] #205 closed

[2018-03-09 21:45] ncdc commented on #97
@jbeda how important do you think this is, feature wise?

[2018-03-09 22:25] sands6 opened #373 "Support wildcards for --include-resources and --exclude-resources"

[2018-03-09 22:27] sands6 commented on #373
ark backup create test --include-resources *.acme.com

This wildcard support for resources is not supported right now and would be helpful to open a feature request in regards to this.

[2018-03-09 22:28] ncdc commented on #373
Thanks @sands6 for the feature request! I'll add a bit more detail on how it could be implemented

[2018-03-09 22:32] ncdc commented on #373
To do this, we'd probably need to create a new struct that's a bit broader than just `collections.IncludesExcludes`. Probably something like this:

[code]

And then in the constructor, it would evaluate the user input and split wildcards from regular resources as needed.

[2018-03-10 00:29] jbeda commented on #97
I like the idea of having a way to capture the expanding of options
necessary to specify the right way to backup an application.  I can also
see where you'd want to have a single "backup" reference a set of these.  I
feel that having it be 1:1 is probably good enough to start.  At some
point, you may want to either (a) select these with labels or (b) have a
way for a namespace to declare "instead

[2018-03-10 00:34] jbeda commented on #20
I think that status of a backup comes down to a set of questions:
* Is this thing making progress?
* How long is this going to take? Should I wait? Get coffee? Go home? Come back next week?

The problem with percentages is that it is hard to answer these if it will take a long time.  If it takes 5 minutes to move one percent then you have to wait 5-10 minutes to get an idea.  With that in mind, ha

[2018-03-10 14:30] haoqing0110 commented on #370
@ncdc Cool!
I read it, still have one question. Can it restore the cluster status like host label and taint? I mean host name and IP are different, how does it work?

[2018-03-11 16:55] ncdc commented on #370
@haoqing0110 we purposefully do not restore nodes. It does not make sense to create a node from a backup because whatever nodes are currently registered for the cluster are the correct set of nodes.

One option is to define your target node layout (# of nodes, labels, taints, etc) in source control, and use some sort of automation tooling (ansible, terraform, etc) to ensure you have the desired se

[2018-03-12 17:20] jbeda commented on #370
One thing worth looking at is the emerging work around the cluster API.  This is the idea of using k8s concepts to drive the shape of the cluster itself.  These will take the form of custom resources and are compatible with the Ark model.

This stuff is still a bit early though.

kube-deploy is one of the projects looking at this.  I did a TGIK8s on this a while back that covers some of the ideas:

[2018-03-13 08:10] marco-jantke opened #375 "Avoid deleting backup files from backup storage"
I'm playing around with ark to protect our cluster in case of a disaster. I followed the examples for setting up in the google cloud and created a Schedule to backup hourly. With that in place I wanted to verify what happens when an operator deletes the cluster or necessary resources by accident manually. I tested such a scenario by deleting the `heptio-ark` namespace containing the CRD objects. I

[2018-03-13 08:20] marco-jantke opened #376 "Error removing backups.ark.heptio.com objects"
I deleted the `heptio-ark` namespace in order to test what happens in case of manual operator errors. This deleted all objects from the namespace properly, except the `backups.ark.heptio.com` objects. It did empty the GCP bucket, which is actually something I'd like to avoid as described in #375 but not the objects itself. When viewing the logs from the server it's full of this messages:

[code]

[2018-03-13 10:23] akgunjal commented on #365
I could resolve the issue. It was an issue in my cluster. Thanks.

[2018-03-13 10:23] #365 closed

[2018-03-13 10:35] akgunjal opened #377 "Can we take backup of only data from persistent volumes"
Hello, I have a usecase where I need to only take backup of my data present on persistent volumes onto the object storage. Then restore the data back to same or other persistent volume later. Is this supported in ark.

[2018-03-13 13:43] haoqing0110 commented on #370
@ncdc @jbeda Thank you for answering! Helps a lot.

[2018-03-13 13:43] #370 closed

[2018-03-13 13:49] ncdc commented on #375
If you do anything that results in the deletion of a backup from Kubernetes, such as:

1. `ark backup delete my-backup`
1. `kubectl -n heptio-ark delete backup/my-backup`
1. `kubectl delete ns/heptio-ark`

this will trigger the full backup deletion process, including removing backup tarballs from object storage, persistent disk snapshots created by ark, and any associated `restores`.

We have an R

[2018-03-13 13:51] ncdc commented on #376
@marco-jantke are you able to `ark backup get hcg-dev-dust-k8s-backup-20180310220008 -o json`?

[2018-03-13 14:04] ncdc commented on #377
Hi @akgunjal, it is possible to do data-only backups, like so:

[code]

This creates snapshots of your cloud disks (e.g. an EBS snapshot for AWS). It does not store the data from the PVs in object storage. When you're restoring, 1 thing to note is that we don't currently support restoring a backed-up PV into the same cluster if the PV still exists in the cluster. In other words, if you have a PV `

[2018-03-13 14:18] marco-jantke commented on #376
I cleaned up manually but still had some output in the scrollback of my terminal. Don't be irritated by maybe different backup names, please, they all looked the same.

[code]

Maybe helpful for debugging: I got the same errors as the ark sever when I did the `kubectl patch` manually to get rid of the finalizers.

[code]

But when I used JSON patches with a delete operation it worked.

[code]

[2018-03-13 14:19] ncdc commented on #376
Yes, it needs to be a json patch. We have a bug right now where it's using the wrong patch type. We'll get a fix out asap.

[2018-03-13 14:29] marco-jantke commented on #375
I think it would be good to have an option to disallow any deletion from the bucket storage. Cleaning up the backup files can be configured by TTLs of the bucket itself (at least in GCP, but I guess this is true for AWS/Azure as well) and it protects against manual operator errors in regards to using `ark` or `kubectl`. AFAIU ark should be able to recover from just that.

Making this option opt-in

[2018-03-13 14:49] ncdc commented on #376
Hmm I actually can't reproduce this, but I think we may end up removing the finalizer logic to fix #375 and instead have `ark backup delete` `POST` a `DeleteBackupRequest`. I'll comment more over in that issue.

[2018-03-13 14:57] ncdc commented on #375
I think we can address #376 as well as this if we change the logic for how we delete backups.

Right now we use a finalizer so that when `ark backup delete` and `kubectl delete backup` issue a `DELETE` request, it sets the `deletionTimestamp` and waits for the finalizer to be removed. The Ark server sees the deleted backup, deletes everything associated with the backup (files in object storage, PV

[2018-03-13 15:00] rdodev commented on #375
Seeing as this affects PV snapshots as well, I'm all for erring on the side of having more data mysteriously show up than unexpectedly deleted. 👍

[2018-03-13 15:58] ncdc commented on #375
We have a couple of options for how this is implemented and what kind of output we show to the user. This is what kubectl does when deleting multiple items:

[code]

`kubectl` issues a `GET` request to retrieve all items matching the label selector `x=y`. For each item, it issues an individual `DELETE` request and prints that the item was deleted.

For Ark, we'll be `POST`ing a `DeleteBackupReques

[2018-03-13 16:14] jbeda commented on #375
One way to think about this is perhaps as separate controllers.  Have one controller responsible for creating backups and another for deleting/GCing backups.  Having clear semantics about how these hand off would help make ark more flexible and this stuff more obvious.

Separate question -- if you delete a backup through kubectl (and don't POST the DeleteBackupRequest) won't ark just scan the stor

[2018-03-13 16:22] ncdc commented on #375
We do have separate controllers:

1. A backup controller that creates backups
1. A GC controller to handle deletions, either because the user explicitly asked for a deletion, or because a backup has expired based on its TTL
1. A backup sync controller that reads from the bucket and creates the backup object in kube/etcd if it doesn't exist

Our operating mode is the bucket is the plan of record.

[2018-03-13 17:45] #352 closed

[2018-03-13 17:53] marco-jantke commented on #375
Having data in the bucket only deleted when you do an explicit `ark backup delete` or `kubectl delete backups.ark.heptio.com ...` sounds reasonable to me.

[2018-03-13 17:56] ncdc commented on #375
The problem with `kubectl delete backup/foo` is that that is effectively what is called when you delete a namespace. The only way to fix this is to make it so `DELETE /apis/ark.heptio.com/v1/namespaces/heptio-ark/backups/foo` does not delete from object storage. Instead, we'll do `POST /apis/ark.heptio.com/v1/namespaces/heptio-ark/deletebackuprequests` (and this is what `ark backup delete` will do

[2018-03-13 18:02] nrb commented on #375
I like the `DeleteBackupRequest` model, and displaying each backup to be deleted individually. IMO, it's worth being explicit here so as to reduce user surprises.

We do have the bucket as a source of truth documented at https://github.com/heptio/ark/blob/master/docs/about.md#object-storage-sync. Perhaps that could be surfaced better.

[2018-03-13 18:06] rdodev commented on #375
Huge proponent of explicit over implicit in general. Implicit deletes are almost never a good idea -- but specially when we're talking about backups and data volumes, IMO.

[2018-03-13 18:23] #367 closed

[2018-03-13 18:23] #368 closed

[2018-03-13 18:59] sanketjpatel commented on #337
I'll take this up

[2018-03-13 19:00] ncdc commented on #337
FYI if you need to pull in any new vendor dependencies, we have a script called `hack/dep-save.sh` for that.

[2018-03-14 15:51] akgunjal commented on #377
@ncdc : I looked into the ark code and understood that it supports only block storage to take snapshots of PVs. And there are few plugins like aws, azure, gcp which can be used. However, our use case is we do not need to take backup of PV like a snapshot.

Ideally we would want to take backup of our data from the containers onto the object storage. so I think the task #19 is what we are more inter

[2018-03-14 15:53] ncdc commented on #377
@akgunjal let's move the conversation over to #19 - thanks!

[2018-03-14 15:53] #377 closed

[2018-03-14 15:54] ncdc commented on #19
Question from @akgunjal in https://github.com/heptio/ark/issues/377#issuecomment-373071734:

@skriss any comments?

[2018-03-14 16:06] skriss commented on #19
@akgunjal the current thinking is that you'd be able to back up the contents of any volume mounted into the container, and restore it to the same mountPath.

Are you asking specifically about being able to restore into a different directory? Would love to hear more about that use case if so, to see if it makes sense to include in the design.

[2018-03-14 16:50] #278 closed

[2018-03-14 16:50] #307 closed

[2018-03-14 16:50] #369 closed

[2018-03-14 16:52] akgunjal commented on #19
@skriss : The use-case is we take backup of any directory from inside the container onto object storage. Then restore this onto any other container in any path. This can be some other mount path or even local directory in the container. Basically its copy of data from backup location on the directory chosen by user.

[2018-03-14 17:20] ncdc commented on #19
@akgunjal would you likely take a backup now, and then after several days/months pass, potentially do a restore? Or is this more like an immediate copy?

[2018-03-14 17:39] robbyt commented on #74
It would be nice if we could restore objects to an alternative namespace, or otherwise change the restored object (rename it?) so it can coexist with the existing duplicate object.

restore -> diff -> replace existing object or rename restored object?
                    |-> if same? be silent

[2018-03-14 17:41] ncdc commented on #74
@robbyt we do support restoring to alternative namespaces - that's `ark restore create --my-backup --namespace-mappings original:alternative`.

I'm not sure it'd be too easy to generally support renaming objects, unless you had some suggestions for how to control it? We are trying to figure out #192, which is somewhat related, albeit a very specific use case.

[2018-03-14 18:06] jcrowthe opened #379 "Add Azure MSI support"
Azure's [Managed Service Identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/overview) is supported in upstream Kubernetes as an alternative to utilizing a service principal for the authorization to the backend Azure cloud provider.

This is a request to support MSI, allowing users on MSI-enabled clusters to run Ark without requiring an additional service pri

[2018-03-14 18:09] ncdc commented on #379
Hi @jcrowthe, thanks for the feature request. We'll evaluate and get back to you soon!

cc @paulbouwer @jimzim @noelbundick

[2018-03-14 20:54] sandaymin123 commented on #19
@ncdc Please see products like http://duplicity.nongnu.org/ that allow any set of files or directories to be backed up to object storage. Ideally, it would be nice to have this flexiblity including encrypted backups that are either full and incremental

[2018-03-14 20:55] ncdc commented on #19
@sandaymin123 thanks, we're planning on using something similar - restic.net

[2018-03-14 21:38] stephenlawrence opened #380 "Percona XtraDB Cluster Restoration Fails"
We have a 3-node percona xtradb cluster with persistence in our kubernetes stack and when we backup/restore the first percona node to come up complains that it was not the last one up prior to shutting down:

[code]

The container remains in CrashLoopBackoff

https://github.com/kubernetes/charts/tree/master/stable/percona-xtradb-cluster

[2018-03-15 05:18] akgunjal commented on #19
@ncdc : The restore may be done after several days/months and may not be immediate restore after taking backup.

[2018-03-15 12:19] containscafeine opened #381 "Add bash completion support"
It would be cool to have bash completion for ark.

Adding something similar to what kubectl does would be awesome i.e. `ark completion bash/zsh`

[2018-03-15 12:45] containscafeine opened #382 "Provide better storage path for minio example file"
Under `examples/minio/00-minio-deployment.yaml`, minio is configured to use storage from the host path `/tmp/minio`

I am trying out ark on minikube -

[code]

In minikube, `/tmp/` does not have enough space for minio to run (minio requires 1Gi) to start up
[code]

This lack of space makes minio fail -
[code]

Odds are that a new user will try out ark on minikube, and we can have better hostPath t

[2018-03-15 13:57] ncdc commented on #381
Hi @containscafeine, that's a really good idea. Would you have any bandwidth to work on adding this functionality?

[2018-03-15 13:59] ncdc commented on #382
Hi @containscafeine, thanks for reporting this. Would you mind sharing where you find the 1gb requirement for minio? Also, is it possible that `/tmp` in the minikube vm is either not writable or doesn't have enough space? I would expect 1gb to be plenty...

[2018-03-15 15:53] containscafeine commented on #381
Yes, sir!

[2018-03-15 15:59] nrb commented on #382
Per a slack message, the 1gb requirement is mentioned in https://github.com/minio/minio/issues/3592#issuecomment-273683666

[2018-03-15 17:58] containscafeine commented on #382
Note to self: try using emptyDir tomorrow

[2018-03-15 18:33] ncdc opened #385 "Restore LimitRanges before Pods"
If a Pod is restored before a LimitRange that has defaults for requests and limits, the Pod misses out on the defaults. We should add `limitranges` to the default resource priorities

https://github.com/heptio/ark/blob/3172e907a13ed9993ec335efcee81b50ac2c6f12/pkg/cmd/server/server.go#L300-L307

[2018-03-15 20:45] sanketjpatel commented on #369
I just ran into this same problem 😄 Thanks to Steve, the fix has been merged in master. Upgrading my deployment to point to master and testing this out

[2018-03-15 20:47] ncdc commented on #369
If you're using an IAM policy for Ark in AWS, make sure you add `ec2:DescribeSnapshots` to the policy.

[2018-03-15 21:06] sanketjpatel commented on #369
Will I be able to recover from old backups?

[2018-03-15 21:08] ncdc commented on #369
If you have EBS snapshots that were created by an older version of Ark that doesn't have #341, you'll need to manually add the `KubernetesCluster` tag to them.

[2018-03-15 21:15] sanketjpatel commented on #369
`Name=KubernetesCluster`?

[2018-03-15 21:15] ncdc commented on #369
Yes, with the value set appropriately.

[2018-03-16 09:11] containscafeine commented on #382
emptyDir works for me on minikube, sent a fix in #386

[2018-03-16 11:56] containscafeine opened #387 "Document how to view logs when using Minio"
I was following the getting started guide, and all the ark related pods are up and running. I am also able to take the backups, but I'm unable to view the logs for the same.

[code]

[2018-03-16 12:01] ncdc commented on #387
If you're using minio, you need to be able to resolve the minio `service`'s cluster DNS entry from wherever you're running your `ark` client. Try `kubectl -n heptio-ark edit config/default` and change the url to `minio.heptio-ark-server.svc.cluster.local`, and then follow these instructions: https://stevesloka.com/2017/06/12/access-minikube-service-from-linux-host/.

[2018-03-16 12:02] #382 closed

[2018-03-16 12:05] ncdc commented on #358
I'm doing this as part of #383

[2018-03-16 12:21] containscafeine commented on #387
Ah, got it.
I exposed the minio service via NodePort, and then pointed the config at it, works now.
Should this not be documented in the getting started?

[2018-03-16 12:44] ncdc commented on #387
Probably a good idea. Let's use this issue for that.

[2018-03-16 13:11] containscafeine opened #389 "Throw a better error message when invalid restore name specified"
Upon providing an invalid restore name, I'd expect an error message like - `An error occurred: invalid restore name`, but current I get the following.

[code]

[2018-03-16 13:12] ncdc commented on #389
Good idea. We can copy and adjust this to do it for the restore:

https://github.com/heptio/ark/blob/3063d33d713ef51e933aff55ffd1258e676159aa/pkg/cmd/cli/restore/create.go#L125-L128

[2018-03-16 14:30] nabadger opened #390 "An error occurred: unknown flag: --from-backup"
This is after following the example on the README.md file.

Running the command:

[code]
I downloaded the latest version of ark: Version: v0.7.1

[2018-03-16 14:31] ncdc commented on #390
Please see our docs for v0.7.1: https://heptio.github.io/ark/v0.7.1/. The `--from-backup` flag is only available if you build from the `master` branch.

[2018-03-16 14:39] nabadger commented on #390
@ncdc Ok great - thanks

[2018-03-16 14:39] #390 closed

[2018-03-17 15:47] containscafeine commented on #385
Hey @ncdc, I tried adding `limitranges` to `defaultResourcePriorities`, and it worked (#392), but I was just curious about how pods are really restored? Is it that their parent controller (e.g. deployment) is restored and that takes care of running the pods again, or is that the pods along with their controllers are restored?
I'd assume it's the former, because LimitRange actually sets the resourc

[2018-03-19 16:15] argais commented on #376
Ran into the same thing.
- install ark crds
- let one backup run
- remove everything ark
...
[code]
still there, json patch didnt work

[code]

tried removing the backup with ark cli, says it deleted but it didnt
[code]

so the backup is stuck there, and i cant remove the CRD.

any workarounds for now?

[2018-03-19 17:28] jody-frankowski opened #393 "GCP Bucket Permissions Documentation"
Just as with [issue #49](https://github.com/heptio/ark/issues/49), there should be a documentation for the precise gcp bucket permissions ark requires to function.

Here are some good documentation entry points:
[GCS Access Control](https://cloud.google.com/storage/docs/access-control/)
[GCS Using IAM Permissions](https://cloud.google.com/storage/docs/access-control/using-iam-permissions)

[2018-03-19 22:04] skriss commented on #393
thanks @jody-frankowski, this is something we know has been missing and is on our list to remediate. Thanks for filing the issue and the references!

[2018-03-19 22:47] stephenlawrence commented on #380
Should we assume that node-0 will be restored and have its disk re-attached before node-1?

[2018-03-20 12:52] liggitt commented on #376
The releases cut yesterday contain those fixes

[2018-03-20 13:01] ncdc commented on #376
Thanks, I was traveling yesterday and missed the release announcements.

[2018-03-20 13:21] ncdc commented on #385
@containscafeine sorry for the delayed reply - I was traveling yesterday. Ark checks to see if an object has a controller ownerReference. If so, Ark does **not** restore the object, instead opting to allow the controller to create it.

[2018-03-20 13:22] #385 closed

[2018-03-20 14:18] argais commented on #376
So short of redeploying the cluster there is no fix to remove that stuck backup?

[2018-03-20 14:31] liggitt commented on #376
I was able to work around the issue with a pretty ugly series of steps at https://github.com/kubernetes/kubernetes/issues/60538#issuecomment-369099998

Upgrading is definitely the preferred approach

[2018-03-20 14:45] argais commented on #376
thanks, I was able to remove the stuck items. will look into upgrading :)

[2018-03-20 21:10] containscafeine opened #396 "Increase visibility of what's inside a backup"
I might have missed something, but from what I found out from the docs is that when I want to look inside a backup, I run `ark backup describe <name>`
I think that the information this gives me is pretty limited.

I'd expect to see to see the Kubernetes resources that have been backed up. Something like this -
[code]

This would really help me keep track of backups and what to restore at what time

[2018-03-20 21:49] ncdc commented on #396
We'd need to figure out how to do this without blowing up etcd. Etcd values are capped at 1.5MB, so if you're backing up an entire cluster, I don't think we can store all of that information on the backup object itself. We could include a manifest in object storage, and have `describe` download the manifest and display it.

[2018-03-21 09:24] containscafeine commented on #396
@ncdc that makes sense. How do I start hacking on this? I've been trying to read through the code, but I'm not super familiar with how it is structured. Where should I start looking? Also, would love if there is an architecture doc that'd guide me through this.

[2018-03-21 14:24] ncdc commented on #396
If you just want to hack, you could either add a method to the BackupService interface:

https://github.com/heptio/ark/blob/master/pkg/cloudprovider/backup_service.go#L38-L65

or add yet another arg to the UploadBackup method.

This is where we call UploadBackup:

https://github.com/heptio/ark/blob/master/pkg/controller/backup_controller.go#L371

We do plan on creating some architecture docs. Just

[2018-03-21 20:25] stephenlawrence commented on #380
I tried to stand up the cluster so that each percona node was on its own VM with its own volume but that did not end up making a difference. It still seems to be restoring the volumes into pods that are expecting a different volume.

[2018-03-22 13:48] ffd2subroutine opened #397 "Ark server container failing with: "missing location in azure configuration""
Ark server pod in "Waiting:CrashLoopBackOff" state

[code]

[2018-03-22 13:51] ncdc commented on #397
Hi @ffd2subroutine, it looks like you're using a combination of our latest development version from the master branch with our latest published release, v0.7.1.

Please make sure you check out the v0.7.1 tag and follow the instructions there. We are working on updating our documentation to make this clearer.

Tag: https://github.com/heptio/ark/tree/v0.7.1

Docs for v0.7.1: https://heptio.github.io

[2018-03-22 14:51] ffd2subroutine commented on #397
Hi @ncdc, already found it:), it works now, this can be closed.
Thank you.

[2018-03-22 15:31] #397 closed

[2018-03-22 15:55] ncdc opened #398 "Incorrect pre-signed urls generated for named restores"
If you do `ark restore create some-name --from-backup foo`, we end up generating the wrong pre-signed urls for `ark restore describe` and `ark restore logs`. We need to generate a url for (bucket, backup "directory", file), and the code assumes that all restores are named like `<backup name>-<timestamp>`. But for user-named restores, that assumption isn't necessarily valid. If you have a restore n

[2018-03-22 16:52] danilina-wsib opened #399 "Feature request: restore Azure snapshots across regions (VHD export/import)"
I was migrating a namespace on Azure AKS between two clusters.
Ark is installed on both cluster and point to the same Azure storage account and blob
Created a backup on cluster 1.
Restored the backup on cluster 2.
Error message in the restore object:
  Cluster:  error executing PVAction for /tmp/711011778/resources/persistentvolumes/cluster/pvc-8531c5a7-0a9e-11e8-bb43-0a58ac1f1285.json: rpc error:

[2018-03-22 16:55] danilina-wsib commented on #399
The new PVC has exactly the same volumeName as the original PVC. Does not look like the volume was restored from a snapshot

[2018-03-22 16:55] danilina-wsib commented on #399
Using release 0.7.1

[2018-03-22 16:56] ncdc commented on #399
@danilina-wsib I'm pretty sure this is the issue we fixed with #356, which is not yet in a released version. Each AKS cluster is in its own resource group, so prior to 356, you couldn't restore PVs across AKS clusters.

[2018-03-22 17:45] whereismyjetpack commented on #225
Hi! looks like I, too, suffer form this issue. this PVC was stuck in `pending` status

[code]

[2018-03-22 19:40] danilina-wsib commented on #399
@ncdc I've tried it with the current master version - the Azure disk was restored and K8S volume bound to the PVC, but the pod fails to start with the following error message:

  Warning  FailedMount            1m    attachdetach-controller            AttachVolume.Attach failed for volume "pvc-8531c5a7-0a9e-11e8-bb43-0a58ac1f1285" : Attach volume "restore-7c3929e5-c3a2-443a-b71f-01a3676530ea" to i

[2018-03-22 19:43] adawolfs opened #400 "Project config on GCP file"
I have found that there is a commit to remove the project config from ark config file and get it from credentials but its actually not supported on examples, and giving this error

Please use this template
[code]

[2018-03-22 19:54] danilina-wsib commented on #399
I see that the Azure Disk was restored in the original cluster location, while the new cluster is another location, I guess this is what caused it

[2018-03-23 02:54] j0npulsifer commented on #400
Ran into this issue tonight.. solved it by using a newer image from [`gcr.io/heptio-images/ark`](https://console.cloud.google.com/gcr/images/heptio-images/GLOBAL/ark?gcrImageListsize=5)

[2018-03-23 04:20] ncdc commented on #400
Hi @adawolfs and @j0npulsifer, please make sure you are using the examples and docs from v0.7.1: https://github.com/heptio/ark/tree/v0.7.1. That version still requires the gcp project in the config.

If you instead want to use a copy that no longer requires the gcp project, you'll need to use the `master` image tag instead of `latest`.

[2018-03-23 14:50] danilina-wsib commented on #399
I would like to add a new feature request - support restoring Azure disks to another location (region) by moving a VHD image
This is possible to do with Azure scripts, would be nice if Ark was capable of doing it, most realistic use cases would involve clusters running in different regions

[2018-03-23 17:43] erikmack opened #401 "NoCredentialProviders with kube2iam + m5"
steps to reproduce:
- have a working ark installation, authorized by kube2iam, on an EC2 cluster on m4.xlarge instances.
- modify cluster to use m5.xlarge instances (we use kops)

expect: ark runs happily
actual: "NoCredentialProviders: no valid providers in chain"

- modify cluster to use m4.xlarge's again

actual: ark runs happily as before

I've confirmed that kube2iam works on the m5 cluster u

[2018-03-23 20:19] jrnt30 commented on #401
This is *almost* certainly an issue with Kube2iam on m5.  To date, I don't know of anyone who has it working when built off of master [due to this issue](https://github.com/jtblin/kube2iam/pull/119).

Your command may work, but are those s3 buckets also discoverable by the host system, which if memory serves me correctly are the credentials you are probably pulling with that kube2iam issue.

[2018-03-24 14:20] ipedrazas commented on #209
we cannot reproduce this issue anymore

[2018-03-24 14:20] #209 closed

[2018-03-26 16:03] erikmack commented on #401
Thanks, I see that kube2iam has implemented a fix there.  I'll look forward to testing it.

[2018-03-26 18:52] stephenlawrence commented on #380
Ok, I will give it a shot.

[2018-03-26 19:10] stephenlawrence commented on #380
@skriss How did you edit the grastate.dat file when the pod is in crashloopbackoff?

[2018-03-26 19:30] stephenlawrence commented on #380
I ended up SSH'ing into the node/host the pod was running on, finding the pod volume mount on the host and editing the grastate.dat file.

[2018-03-26 19:50] skriss commented on #380
Yeah, that's what I did as well.

[2018-03-27 01:57] erikmack commented on #401
The upgrade to kube2iam 0.10.0 has fixed me.  Thanks for your help.

[2018-03-27 01:57] #401 closed

[2018-03-27 05:06] jcrowthe commented on #379
Any update available yet?

[2018-03-27 20:36] stephenlawrence commented on #380
@skriss Yes, I was able to start-up the restored percona xtradb cluster after editing that file on the 0-node.

[2018-03-28 13:47] rhefner1 opened #404 "Backup everything except for a few resources"
I want to do an entire cluster backup but I want to exclude a few persistent volumes from being snapshotted (since $0.10/GB/mo can add up fast). I know that there is the `--selector` flag but is it possible to do the opposite - only exclude items that match the selector?

If this isn't possible, does it seem like a simple code change or would it be more involved?

[2018-03-28 16:53] skriss commented on #404
This isn't something we support currently, but the use case makes sense and it shouldn't be too complicated to implement. Thanks for the feedback!

[2018-03-29 09:48] jody-frankowski commented on #393
I have been able to do backups/restores with the following permissions:

[code]

Here is the terraform configuration i used:

[code]

[2018-03-31 22:01] kim0 opened #406 "Support openshift"
it would be great to support openshift 3.6 onwards. I dont think it's currently supported, but please let me know if it is. Thanks

[2018-04-01 06:41] jayachandralingam opened #407 "ark restore failed with error"
I have created a backup of a namespace and then deleted the namespace to perform the test, the concern test results as below when I describe the ark restore.

Result:
[code]

[2018-04-02 10:16] grohan2002 opened #408 "RFE: support non-PVC pod volumes (e.g. gcePersistentDisk) using block store plugin"
Using tag 1.71 for ark.
1.Deployed a stateful app https://cloud.google.com/kubernetes-engine/docs/tutorials/persistent-disk
When backed up in the describe section the PV part gives none included
➜  Downloads ark backup create wp-app --selector app=wordpress
Backup request "wp-app" submitted successfully.
Run `ark backup describe wp-app` for more details.
➜  Downloads ark backup describe wp-app
Nam

[2018-04-02 11:49] ncdc commented on #408
What kind of persistent storage are you using?

On Mon, Apr 2, 2018 at 6:16 AM Rohan Gupta <notifications@github.com> wrote:

[2018-04-03 14:49] ncdc opened #410 "Use cobra.ExactArgs where appropriate"
If we know a command requires a specific number of arguments, we can use `cobra.ExactArgs()` instead of manually checking the count.

[2018-04-03 14:49] ncdc opened #411 "Update cmd flow"
Should be
1. Complete()
1. Validate()
1. Run()

[2018-04-04 20:39] #410 closed

[2018-04-04 20:39] #411 closed

[2018-04-05 09:06] grohan2002 commented on #408
@ncdc Using PDs in Google Cloud.

[2018-04-05 11:06] ncdc commented on #408
Are these dynamically provisioned using PVCs or manually created?

Could you please share

1. `kubectl describe pv/<name>` for the PV(s) in question
2. your ark config (redact as needed)
3. the output from the relevant time period from `kubectl -n
heptio-ark-server logs deploy/ark`
4. the backup log (`ark backup logs <name>`)

Thanks!

On Thu, Apr 5, 2018 at 5:06 AM Rohan Gupta <notifications@gith

[2018-04-05 22:16] jcrowthe commented on #379
@ncdc Hey, any updates on MSI support?

[2018-04-06 13:39] ncdc commented on #379
@jcrowthe nothing new to report. We'll probably get our Azure SDK updated to the latest stable version first, then we could consider this.

[2018-04-06 19:24] #358 closed

[2018-04-06 19:24] #375 closed

[2018-04-06 19:24] #376 closed

[2018-04-09 13:28] grohan2002 commented on #408
@ncdc
Hello, Sorry for the late reply
No the PVs are manually created not dynamically provisioned.
The logs are as follows
`➜  ark git:(530e229) ✗ ark backup logs  mysql01
time="2018-04-09T13:24:04Z" level=info msg="Starting backup" backup=heptio-ark/mysql01 logSource="pkg/backup/backup.go:210"
time="2018-04-09T13:24:04Z" level=info msg="Including namespaces: *" backup=heptio-ark/mysql01 logSource

[2018-04-09 13:37] ncdc commented on #408
@grohan2002 ok, I think I see what's going on:

1. You aren't using a PersistentVolumeClaim
1. You used a label selector to select items to include in the backup
1. You didn't label your PersistentVolume with `app=wordpress`

Is that accurate (especially the last point)?

If you use a PersistentVolumeClaim, Ark will take a snapshot of the associated PersistentVolume, regardless of label selector.

[2018-04-09 13:49] grohan2002 commented on #408
@ncdc
1. Yes i am not using a PVC , i created a PD in Google Cloud and attached it as a volume .
`apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: wordpress
  labels:
    app: wordpress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
        - image: wordpress

[2018-04-09 13:52] ncdc commented on #408
Not at the moment. It has to be a `PersistentVolume`. Would you be able to adjust your deployment to use a PersistentVolume?

[2018-04-09 13:54] grohan2002 commented on #408
@ncdc Sure we majorly have all the deployments using Dynamic Provisoning , there is one deployment which has a direct volume attached , hence was curious to know.
Additionally , we have some custom storage classes , one of them uses xfs filesystem type , does ark support different filesystem storage class backup and restore ?

[2018-04-09 13:57] ncdc commented on #408
We use the cloud provider APIs to do snapshots (which are typically at the block level) and restores. We make sure that the `Pod -> PVC -> PV -> cloud disk restored from snapshot` relationship is retained, which will include whatever filesystem is used (because the snapshot is at the block level).

[2018-04-09 13:59] grohan2002 commented on #408
@ncdc Thank you very much for quick response and resolutions.

[2018-04-09 14:42] ncdc commented on #408
@grohan2002 do you feel strongly that Ark should operate on direct pod volumes (not using PVCs)?

[2018-04-09 15:03] ncdc commented on #407
Hi @jayachandralingam, just following up - could you please let us know what series of commands you ran?

[2018-04-09 15:04] ncdc commented on #406
Hi @kim0, just following up - do you have any further questions on this?

[2018-04-09 15:06] ncdc commented on #361
@27149chen do you have anything further on this or is it ok to close?

[2018-04-10 07:43] grohan2002 commented on #408
@ncdc  Yes that would cater to both types of volume types dynamically provisioned as well as attached ones.
Additionally , i see while setting up ark util using GCP as the provider , we need to create additional service accounts .
https://github.com/heptio/ark/blob/master/docs/gcp-config.md
These service accounts have roles like  roles/compute.storageAdmin & roles/storage.admin .
These roles have

[2018-04-10 08:09] jayachandralingam commented on #407
Hello Andy,

I had a sample deployment with a load balancer (Azure) in a specific namespace.

Created backup using command like
`ark backup create --namespace mynamespace`

Deleted all the namespace along with it's resources, verified the status after deletion also identified that files and folders in azure blob storage with respective backup names in the container and that data together is less t

[2018-04-10 11:05] ncdc commented on #408
Agreed on the permissions. See #393 for a good start.

[2018-04-10 11:07] ncdc commented on #407
@jayachandralingam could you please provide the logs from the backup (`ark backup logs <NAME>`) and the logs from the Ark server at the time you took the backup (`kubectl -n heptio-ark-server logs deploy/ark`)?

It sounds like your backup ended up backing up nothing. Is there any chance you had a typo when specifying the namespace to back up?

[2018-04-10 17:29] #398 closed

[2018-04-10 17:36] ncdc commented on #408
I've updated this issue's title to reflect the underlying issue. We'll list it as an RFE, but I'm not sure if/when we'll get to it.

[2018-04-10 18:42] hopkinsth opened #416 "AWS permissions in docs wrong for s3:AbortMultipartUpload"
I'm filing this issue in part to remind myself to submit a PR for this later today: the `s3:AbortMultipartUpload` permission is not in the right place in docs/aws-config.md. [Aborting a multipart upload is an object- and **not** bucket-level permission](https://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadAbort.html).

I'm not sure there's a circumstance where `ark` would submit a multipart upl

[2018-04-10 18:43] ncdc commented on #416
Thanks @hopkinsth! Looking forward to the PR to fix this.

[2018-04-11 12:01] marco-jantke commented on #375
Hey @ncdc, big thanks from my side for taking my concerns seriously, and providing great support for a great tool!! :cake:

[2018-04-11 18:43] skriss opened #422 "Follow-ups from #391"
https://github.com/heptio/ark/pull/391#discussion_r178851608
https://github.com/heptio/ark/pull/391#discussion_r178851743
https://github.com/heptio/ark/pull/391#discussion_r178851974
https://github.com/heptio/ark/pull/391#discussion_r178852164
https://github.com/heptio/ark/pull/391#discussion_r178852443

[2018-04-11 21:11] skriss opened #423 "Add backoff for GC attempts on backups"
A user reported that they were hitting AWS API limits as a result of Ark continually trying to GC a backup for which one of the snapshots had already been manually deleted.

I think what's happening here is:
- GC controller is regularly re-syncing, i.e. re-adding all backups to queue
- if an item in the queue has expired, GC controller creates a `DeleteBackupRequest` for it
- since the creation of

[2018-04-12 12:24] ncdc opened #424 "Add CRDs to list of prioritized resources"
**User Story**

As a cluster operator, I would like to use Ark to backup and restore my Kubernetes clusters which leverage Custom Resource Definitions.

As a Gimbal cluster operator, I would like to be able to use Ark to backup and restore my Gimbal cluster

---
We need to restore CRDs before we restore their associated CRs, so we need to add CRDs to the list of default resource priorities.

It wo

[2018-04-12 14:52] ncdc commented on #423
Sounds like a good idea. We should maybe also consider removing the backup informer event handler in the gc controller. That allows us to immediately check if a backup is deleted whenever the backup is added or updated. I'm not sure that's particularly valuable, especially given we have the periodic resync that checks all backups.

FYI the default rate limiter we're using is the max of:
1. a per-i

[2018-04-12 14:59] ncdc commented on #84
@timoreimann this makes sense, thanks!

FYI I did stumble across this branch where someone was already doing a POC: https://github.com/heptio/ark/compare/master...chadcatlett:stab_at_metrics. Probably worth getting @chadcatlett involved in the discussion 😄

If we do our own registry, would it be a singleton, or would we ever want or need to have multiple?

Another thing to consider is that we're u

[2018-04-12 15:07] #389 closed

[2018-04-12 15:30] #416 closed

[2018-04-12 16:03] timoreimann commented on #84
@ncdc I don't think we'll need more one than registry, so it should be a singleton basically. The design options I outlined above should only affect how (easily) we can test things IMHO.

gRPC-based plugins are an interesting point. I'm not too familiar with the plugins architecture in Ark. If the binaries are long-running just like the Ark server, then I'd think that having the server component p

[2018-04-12 16:08] ncdc commented on #84
Currently, some plugins are long-lived, while others are very short. Our plan, however, is to make all plugins short-lived, as it should make it easier for us to handle how we manage plugins.

My ideal setup would be to have the Ark server pull metrics from a plugin just before it terminates the plugin. I'm not sure if there's an easy way to do this with Prometheus. I stumbled across

https://gith

[2018-04-12 16:29] timoreimann commented on #84
Pulling metrics just before the plugin terminates sounds like a viable option if we are able to control the plugin lifecycle.

[2018-04-12 16:35] ncdc commented on #84
Yes, we're 100% in control (assuming the plugin doesn't crash).

[2018-04-13 11:27] lypht opened #426 "Single namespace revision absent in gcp manifest"
See #425

[2018-04-16 16:39] skriss commented on #422
This was addressed in #391

[2018-04-16 16:39] #422 closed

[2018-04-16 16:49] ncdc opened #428 "Decide how to handle "mirror" pods (from static manifest files) when restoring"
"Mirror" pods are pods that are defined via static manifest files on disk (e.g. /etc/kubernetes/manifests/kube-apiserver.yaml). The kubelet runs them directly instead of the apiserver telling the kubelet to run them. The kubelet does, however, tell the apiserver about them, and they have a special annotation (`kubernetes.io/config.mirror`).

Ark removes `spec.nodeName` from each pod before restori

[2018-04-17 09:17] gianrubio opened #430 "Error starting ark-server"
I was trying to test the ark chart from https://github.com/kubernetes/charts/pull/3795 and I got a weird error. I compared this file with the same provided by the ark docs and they look pretty similar. No idea what's going on. This is happening in version 0.7.1 and 0.8.0-rc.1

## Logs
[code]

## Deployment
[code]

[2018-04-17 10:51] ncdc commented on #430
@gianrubio can you paste in your Ark config? `kubectl -n heptio-ark get config/default -o yaml`

You can also try running at the debug log level - where it has
[code]

add
[code]

[2018-04-17 16:32] nrb commented on #20
My initial impression here is that we'd store the total in the backup, but may have to recalculate when doing a selective restore. So a backup could hold 10 items, but we only want 6 in this restore. That does mean we're duplicating the logic, but currently I think that's not terrible.

[2018-04-17 16:32] nrb commented on #21
We now have the `ark restore logs` command, but it retrieves finished logs vs providing a progress update.

Pulling over some details from the comments on #20, it would be possible to store the number of items in a backup on the backup metadata, which would help with restoring when the entire backup is being restored, though doing a selective restore would still need to do some filtering.

I like

[2018-04-17 16:54] ncdc commented on #21
Is it worth considering using Kubernetes `events` for this? They have a pretty short TTL, but could be used on the fly to see what's going on. They could be used in addition to status field updates, perhaps.

[2018-04-17 18:17] skriss commented on #424
How exactly should "ready" be determined? Here's what I see in `.status` for the `backup.ark.heptio.com` CRD:

[code]

[2018-04-17 19:51] nrb commented on #430
I tested this with some [changes](https://github.com/nrb/charts/tree/master/stable/ark-server), and did not see the plugin error mentioned. I did, however, have errors with the `DeleteBackupRequest` CRD not existing, which makes sense since those are a v0.8.0 addition.

My config:

[code]

[2018-04-17 22:31] skriss commented on #340
@ncdc @nrb see any reason to keep this open now that we're back to a single namespace?

[2018-04-18 13:37] ncdc commented on #340
Nope!

[2018-04-18 13:37] #340 closed

[2018-04-18 13:38] ncdc commented on #340
Fixed by #383

[2018-04-18 18:31] #393 closed

[2018-04-18 21:46] marpaia opened #434 "Encrypt backups at rest"
Right now, when backups are created via `ark backup create`, sensitive objects are stored unencrypted at rest. In Google Cloud, there is excellent Go support for encrypting Google Cloud Storage objects with [Google Cloud KMS](https://cloud.google.com/kms/docs/encrypt-decrypt#kms-howto-encrypt-go) in a way that [works rather transparently to the caller](https://godoc.org/cloud.google.com/go/storage

[2018-04-19 15:10] nrb commented on #21
That would make sense to me. A restore/backup could generate an `EventSeries` for that restore and external processes could look for that series to be in the `Finished` state to know when to stop monitoring.

Depending on how much information we want to report and when in the restore process, we could potentially used the `Related` field to link to the most recent object restored.

[2018-04-19 15:13] ncdc commented on #21
It wouldn't work quite like that. The events could contain data such as `starting to restore pods`, `starting to restore pod/foo`, `finished restoring pod/foo`, `finished restoring pods`, and so on. A watcher that wants to know when a restore is done would look at the restore's `status.phase`.

An alternative that doesn't use events is to periodically update some field(s) on the restore's `status`

[2018-04-19 16:33] marpaia commented on #434
Encrypting backups at rest is for sure not something that is unique to GCP, but in GCP you need three bits of information to encrypt/decrypt a blob:

- project which contains the KMS key-ring
- name of the key-ring
- name of the key (each key-ring can have multiple keys)

I think Ark is already 1:1 tied with a GCP Project, but it's worth noting that GCP has a [Separation of Duties](https://cloud.g

[2018-04-19 16:49] marpaia commented on #434
It's also worth noting that [the link I posted above](https://godoc.org/cloud.google.com/go/storage#ObjectHandle.Key) also allows you to encrypt an object with a single 32-byte AES-256 key. Rather than using envelope encryption to encrypt the tar, it would probably be easiest to use KMS to encrypt the key (ala-DEK) and store that in GCS as well. Decrypt just the key via KMS and use this API to enc

[2018-04-19 20:36] skriss commented on #400
FYI: we just released v0.8.0 which does not require `project` to be specified. Closing this issue as resolved, but feel free to reach out if there are any further issues.

[2018-04-19 20:36] #400 closed

[2018-04-20 02:05] marpaia opened #440 "Cannot restore to scheduled backup by schedule name"
I have one cluster in my environment scheduled to run a backup every 5 minutes. I did this via:

[code]

This works, I'm getting backups that I can see from other clusters in this environment:

[code]

Now the help says that I can omit the timestamp:

[code]

When when I omit the timestamp when trying to restore from another cluster, I get an error that the backup isn't found:

[code]

[2018-04-20 02:30] skriss commented on #440
Unfortunately not right now, sounds like a great feature though! something like `--from-schedule control-plane` with a way to specify latest, 2nd-latest, etc.  That'd be pretty straight-forward to implement.

There's probably a `jq` command that would work in the meantime to get the latest backup for a schedule. Can look at it tmrw

[2018-04-20 02:40] marpaia commented on #440
Yeah, `ark get backups -o json | jq -r ' .items | .[] | .metadata.name' | sort -r | head -1` will get you the latest synced backup it seems (if you only have one scheduled backup).

I agree that `--from-schedule` would be :100: though.

[2018-04-20 07:12] containscafeine opened #441 "Introduce wildcard for deleting backups"
Well, I have a lot of backups -

[code]

I have sort of a cron job that takes all of these. I'd love to delete a lot of these using a wildcard, but -

[code]

It'd be awesome if I'm able to do something like that.

[2018-04-20 10:19] ncdc commented on #441
I have a WIP pull to do bulk backup deletion. I need to rebase it now that
we have DeleteBackupRequests.

On Fri, Apr 20, 2018 at 3:12 AM Shubham <notifications@github.com> wrote:

[2018-04-20 16:48] temujin9 commented on #192
Is this on a near-term roadmap, or should I be finding a workaround?

[2018-04-20 18:18] skriss commented on #440
@marpaia just opened a PR to add this functionality - take a look if you get a chance.

[2018-04-20 19:40] temujin9 commented on #192
(Also, are you interested in outside contribution, or are you tackling this internally?)

[2018-04-23 15:19] ncdc opened #444 "String format of namespace/resource excludes is incorrect when nothing is excluded"
If we have an `IncludesExcludes` that excludes nothing, the formatted display of the excludes is `*`, e.g. `Excluding namespaces: *` from a backup log.

If we're excluding nothing, it should print `<none>` or `<n/a>` or something along those lines.

[2018-04-23 15:23] ncdc opened #445 "Consider backing up pods from controllers (statefulsets, deployments, etc) even if pod labels don't match backup's label selector"
Scenario: I have a StatefulSet with label `foo=bar`. Its pods, however, do not have this label. We should consider backing up pods in this situation.

We may need to keep track of each "seen controller" and back up all items controlled by it. For example, if we back up Deployment X, we'd need to also back up ReplicaSet Y because it's controlled by Deployment X. And following through, we'd need to

[2018-04-23 19:42] rocketraman opened #448 "Restore dry run option"
A `dry-run` option to `ark restore create` would be awesome. Given that we don't have any easy visibility as to what's inside a backup (as per issue #396), doing a partial ark restore is a bit of a hair-raising / fingers crossed event, because the right values we need to pass to `--include-resources` and `--exclude-resources` are not at all obvious.

A dry-run option would list the actions ark wou

[2018-04-23 19:54] smm190 opened #450 "Backup Cluster Failed with persistentvolumeclaim not found error in server pod log"
I am trying to backup my entire cluster.  The backup is failing.  In the ark server pod log, I am seeing these errors saying that the persistentvolumeclaim is not found:
[code]

How can I resolve this to backup my whole cluster?

[2018-04-23 19:57] ncdc commented on #450
Hi @smm190, I'm guessing this is on Azure? If so, is it an AKS cluster?

[2018-04-23 20:00] ncdc commented on #450
Do those PVCs exist?

Can you give us the backup log? `ark backup logs NAME`

[2018-04-23 20:31] ncdc opened #451 "Adjust AWS cluster tags when restoring volumes"
Resources for Kubernetes clusters running in AWS have AWS tags identifying the cluster to which they belong. Some clusters may run with an IAM policy that limits the control plane so it's only allowed to attach volumes tagged with the appropriate cluster name (such as kops).

When Ark creates a volume from a snapshot, it needs to adjust the new volume's tag for the cluster name to be the name of t

[2018-04-23 20:48] skriss commented on #451
We could put it in the Ark config (could go within `.persistentVolumeProvider.config`) - although I know long-term we're trying to gut that

[2018-04-23 20:50] ncdc commented on #451
Yeah, I don't want to touch `persistentVolumeProvider`.

I don't think it would make sense to put it in the to-be `VolumeTarget` since that's meant to deal with replication.

I think it needs to go on something specific to the `heptio-ark` namespace in the target cluster. Could be an annotation, label, env var on the Ark pod. Could be a ConfigMap or some other resource in the ns...

[2018-04-23 20:51] donbecker commented on #305
Have just set up ark and am getting this, using AWS and the nginx example (non PV). Have I overlooked troubleshooting steps?

[2018-04-23 20:53] donbecker commented on #305
ark backup logs <backup name>

[2018-04-23 20:53] ncdc commented on #305
@donbecker if you wouldn't mind, please join us in #ark-dr on the Kubernetes slack for real-time troubleshooting, or create a new issue. This issue is an RFE to provide more details to the user why a backup failed. Thanks!

[2018-04-24 14:33] ncdc commented on #450
@smm190 Ark lists all pods (in your case, it found 124). For each pod, if it has any PVCs, it backs them up immediately instead of waiting until it lists all PVCs. I'm wondering if this is what happened:

1. Ark lists pods & gets 124 pods
1. Simultaneously:
    1. Ark loops through all the pods, backing up each one & its associated PVCs
    1. Some of the pods and their associated PVCs are deleted

[2018-04-24 15:06] smm190 commented on #450
@ncdc It is not possible that some of the pods and PVCs were being deleted while Ark is backing up.  What is possible, however, is that this is an issue with Azure Brigade PVCs.  I notice all of the errors are for Brigade PVCs not being found.  Brigade is a tool for scripting job runs in Kubernetes.  It dynamically provisions PVCs when necessary for the jobs/pods, and it looks like those PVCs no l

[2018-04-24 15:11] ncdc commented on #450
Could you please paste or gist a sample of one of those pods? `kubectl get pod NAME -o yaml`.

When you create an AKS cluster, you create it in a preexisting resource group. Let's call it "foo" for this example. As part of the AKS cluster provisioning process, a new resource group is created, and it starts with "MC_" (let's call it "MC_bar"). This new resource group is used to hold everything rela

[2018-04-24 17:55] ncdc opened #454 "Don't restore completed pods, jobs"
We need to exclude completed (succeeded or failed) pods and jobs when restoring. This also means we won't restore any associated items (such as PVCs).

I think this is potentially what is happening in #450.

Plan:
- Phase 1: hard-code logic specifically for excluding completed pods and jobs in the item backupper
- Phase 2: make this pluggable, either by adding to the `ItemAction` interface, or by

[2018-04-24 18:02] smm190 commented on #450
@ncdc Thanks for your quick replies.  I searched for the first missing PVC in my cluster and found the pod that used it.  I have attached the log from the pod where it states that it destroys the PVC upon completion.
![successfulbrigadepod_pvcdestroyed](https://user-images.githubusercontent.com/35818471/39204946-e9670a96-47be-11e8-8856-9d600c0c98e2.PNG)

**Below is the yaml of the pod:**
[code]

I

[2018-04-24 18:16] ncdc commented on #450
I filed #454 so we can avoid trying to restore completed pods and jobs. That's why you're getting the "PVC not found" errors.

Thanks for the clarification on ACS vs AKS. You can ignore my comments about a 2nd resource group, in this case. It looks like you're getting a "401 unauthorized" error when it's trying to talk to Azure. @skriss can you assist with debugging this one?

[2018-04-24 18:25] skriss commented on #450
@smm190 did you use our example for setting up the service principal for Ark? Is it in the `Contributor` role for the subscription?

[2018-04-24 18:27] skriss commented on #450
Usually when we see this error, it implies one of the fields in the `cloud-credentials` secret is incorrect. Could you double-check all of those to ensure they're correct? The volume-snapshot code uses a different subset of the secret's fields than the blob storage upload code so it could make sense that only snapshots are failing.

[2018-04-24 18:46] ncdc commented on #74
@nrb did the work to omit recording "already exists" warnings (#405). The serviceaccounts imagePullSecrets issue is still open and being worked separately (#130). We don't have any examples of other actions to take when encountering a preexisting resource in the destination cluster.

I'm going to close this as implemented (other than #130, as previously mentioned).

@robbyt if you're still interes

[2018-04-24 18:46] #74 closed

[2018-04-24 19:26] skriss commented on #450
Probably - try running `kubectl -n heptio-ark scale deploy/ark --replicas 0` followed by `kubectl -n heptio-ark scale deploy/ark --replicas 1`

[2018-04-24 19:27] ncdc commented on #450
You'll want to scale the ark deployment down to 0 and back to 1 to get it to pick up the updated secret, iirc.

[2018-04-24 19:27] skriss commented on #450
jinx :)

[2018-04-24 19:32] smm190 commented on #450
@skriss Awesome.  After scaling the ark deployment down to 0 and back to 1, ark picked up the updated credentials and the snapshot authentication errors have disappeared from my backup log.  The only errors still left are the persistentvolumeclaim not found errors.  Thank you!

[2018-04-24 22:01] nrb commented on #314
I verified that modifying the conditional at  https://github.com/heptio/ark/blob/master/pkg/restore/restore.go#L553 to be

`if !ctx.selector.Matches(labels.Set(obj.GetLabels())) && obj.GetNamespace() != "" `

will restore the namespace, but I'm not really happy with that as a solution. It works because we're already processing a list of all the files, but by doing this we restore *any* cluster sco

[2018-04-25 00:25] ncdc commented on #314
@nrb `if !ctx.selector.Matches(labels.Set(obj.GetLabels())) && obj.GetNamespace() != ""` is not an appropriate fix. We need to implement the pod -> pvc -> pv logic for restores, and this change doesn't do that.

We can't really do this, as the function `Execute(obj runtime.Unstructured, restore *api.Restore) (runtime.Unstructured, error, error)` is part of the `restore.ItemAction` interface.

This

[2018-04-25 03:34] robbyt opened #457 "Unclear about creation of CRDs after upgrade"
I just upgraded from 0.6 to 0.8, and I noticed a new `CustomResourceDefinition` for `deletebackuprequests.ark.heptio.com` is now required.

It's not clear in the changelog if I need to create the new CRD as part of the upgrade.

Also, it would be nice if there was a "sanity check" action that I could run after an upgrade to make sure all necessary k8s resources exist, and cloud provider API access

[2018-04-25 12:46] gianrubio commented on #430
Closing this because I successfully deployed ark using the docs (not using helm chart)

[2018-04-25 12:46] #430 closed

[2018-04-25 14:43] smm190 commented on #454
@ncdc What is the typical release timeline for something like this?  In the meantime, do you have any ideas for a workaround we could use to backup and restore our cluster?

[2018-04-25 14:46] ncdc commented on #454
@smm190 we just released v0.8.x last week. Our typical release cycle is every 2 months, so v0.9.0 should be out in June. However, this is a fairly significant oversight, so we can hopefully get this coded and tested and released soon. No promises, but hopefully by next week if not sooner 😀.

[2018-04-25 17:12] skriss opened #461 "`latest` image tag corresponds to most-recently built release, not highest semver release"
If we release a `v0.8.0`, it'll also be tagged with `latest`. If we subsequently release a `v0.7.2`, it will get the `latest` tag. This is not what we want. `latest` should always be the highest (according to semver) release tag.

[2018-04-25 17:45] robbyt commented on #457
Thanks for the quick response!

I appreciate that Ark is still very new, but a common upgrade procedure should be documented, and/or release specific upgrade steps should be added to the changelog for each release.

re: `ark server ...`
I think this command namespace should be reserved for running the actual ark daemon. The help text says "Run the ark server", which tells me that `ark server foo`

[2018-04-25 17:54] smm190 opened #462 "Failed to provision volume: Authentication Error"
I posted about this in a different ticket yesterday,but it looks like the problem is recurring.  When trying to run the "examples/nginx-app/with-pv.yaml" example, I see this error in my Kubernetes UI:

`kubectl apply -f examples/nginx-app/with-pv.yaml`

Then I go to my Kubernetes UI and I see this event warning in the nginx-example namespace:

I have checked and double-checked the credentials to m

[2018-04-25 17:56] ncdc commented on #462
cc @paulbouwer

[2018-04-25 17:57] skriss commented on #462
Is this in the same cluster as yesterday, where you got it working? Did anything change with your Ark installation between then and now?

[2018-04-25 18:03] smm190 commented on #462
@skriss Yes this is in the same cluster as yesterday.  I noticed that even though those authentication errors stopped showing up in the backup log that the persistent volume snapshots were not getting done in the backup still and therefore not showing up when I run a restore.  So I decided to try the with-pv example to double check that the PV backups work correctly, and that's when I noticed this

[2018-04-25 18:08] ncdc commented on #457
We'll do our best prior to GA. Post-GA, we will most definitely include upgrade steps with each release.

Noted.

I appreciate your comment, but it's also important to note that not everyone uses Helm (I haven't, for instance). Helm also has, at least in its current form, some potential security gotchas (see https://engineering.bitnami.com/articles/helm-security.html, https://github.com/kubernetes

[2018-04-25 18:10] skriss commented on #462
OK - so looking more closely at the error above - this doesn't look like an Ark error at all. It looks like the service principal being used for your ACS cluster can't provision a volume for the PVC defined in the `with-pv.yaml` example.

[2018-04-25 18:10] smm190 commented on #462
@skriss Any idea why that would be the case?

[2018-04-25 18:16] skriss commented on #462
Unfortunately I don't have a lot of experience with acs-engine - you might be better served by taking this to https://github.com/Azure/acs-engine, although I can try to help.

Did you use the `acs-engine` CLI or the Azure Portal GUI for setup?

[2018-04-25 18:17] smm190 commented on #462
I used the acs-engine CLI.

[2018-04-25 18:32] smm190 commented on #462
How can I find the name of the service principal that was created?

[2018-04-25 18:38] skriss commented on #462
I believe it'll contain the name of your cluster (DNS prefix) if you had acs-engine create it automatically.

[2018-04-26 06:46] containscafeine opened #464 "Add support for restoring container images as well (!?)"
Let's say a backup is created today, and restored a year later. And the container images that are referenced in the backup no longer exist. Also, the images might have been altered over time and the restore might not behave the same way as the application did at the time of backup.
Does it make sense to support an optional backing up of container images as well?
This could also be hinting at doing

[2018-04-26 14:01] ncdc commented on #464
@containscafeine definitely an interesting idea. If we wanted to do something like this, Ark would need to be able to access all the images in the cluster. Given that some very well may have been pulled using image pull secrets, Ark would either need to use those same pull secrets, or we'd need to run a separate DaemonSet on all nodes. For a given (pod, image) on a node, if Ark hasn't backed it up

[2018-04-27 13:34] Bradamant3 opened #466 "add redirects file for moved doc content"
When we refactor the docs content, make sure to add a redirects file for any content (or its equivalent) that we keep, so that incoming links don't break.

[2018-04-30 15:10] nicolasd opened #468 "Ark doesn't backup PV on GCP"
Hello,

i'm testing the ARK backup functionnality on a Kubernetes GKE environment but i did not successfully backuped a cluster with his PV.

The configuration is backuped but not PV. No errors, but no Snapshots on Compute Engine.

Can you help me ?

Thanks

The script i used to create the cluster
[code]

The Ark Prereq:
[code]

The Ark config:
[code]

My PV configuration with a NFS server for the

[2018-04-30 15:27] skriss commented on #468
hey @nicolasd - at the moment Ark can't back up NFS volumes; on GCP it's able to take snapshots of GCE persistent disks.

I'm currently working on an enhancement to Ark to integrate [restic](https://github.com/restic/restic) so that all volume types can be backed up. An initial version of this is targeted for the next Ark release!

[2018-04-30 16:49] skriss commented on #462
@smm190 were you able to resolve this?

[2018-05-01 06:14] nicolasd commented on #468
Hello, so sad :(

Do you know when the next release will be out ?

Thanks

[2018-05-01 10:58] gianrubio opened #469 "RFE: option to delete & recreate objects that already exist when restoring"
I set up ark 0.8.1 to make backups of my cluster, after that I was testing the restore just to make sure that ark restore will work. I got some warning and errors so I'm wondering if they are expected or I'm doing something wrong.

This is a warning, not sure why it's failing? I'd expect to ark replace this resource even if the resource already exist, maybe a ark flag to force restore could solve

[2018-05-01 11:32] ncdc commented on #469
Hi @gianrubio

This type of message is a warning and it indicates that there is an item with the same name that already exists in the cluster. Ark examined the backed up copy and compared it to the in-cluster copy, and there were differences, so Ark records a warning so you're aware that it wasn't able to restore the item.

This is #428

[2018-05-01 15:29] smm190 commented on #462
@skriss Yes I was.  I restarted all of my nodes and this was resolved.  Our service principal credentials had been updated and the nodes needed to be restarted to pickup on the changes.

Thank you.

[2018-05-01 15:31] skriss commented on #462
great! please reach out if you have any further issues with Ark.

[2018-05-01 15:31] #462 closed

[2018-05-02 15:02] donbecker commented on #339
Suggestion, while we don't currently have a fix, would it be worthwhile to detect service accounts being backed up that refer to cluster-scoped rbac resources and issue a warning during the backup creation:
"Warn: detected cluster-scoped rbac resource references in resources being backed up. Ark backups currently do not include cluster-scoped rbac resources."

[2018-05-02 16:03] gianrubio commented on #469
Does it make sense to ask not restore the object even if it’s not the same? How does ark compare the object?

[2018-05-02 20:57] skriss commented on #468
We're on a 2-month release cadence right now, so the next release should be mid to late June.

[2018-05-02 21:45] skriss opened #471 "Backup sync controller doesn't adjust backup namespace to handle custom Ark NS"
If backups are being synced from an object storage bucket into a cluster, and the namespace of the backups in obj storage is different than the namespace that Ark's installed into in the cluster, the backups won't properly get synced in.

[2018-05-02 21:50] skriss opened #473 "some of the Azure setup instructions don't work on macOS bash"
As reported by a user, they work on linux but not OS X:

[code]
and
[code]

[2018-05-03 15:15] jordanwilson230 opened #474 "Handling Namespace References in Restore"
First of all, this is an incredible tool.

Issue: When restoring a backup onto a new cluster using ```--namespace-mappings staging:staging-test``` everything is correctly restored as it should be.

When restoring from a backup, any ingress or LBs that are deployed will overwrite dns entries that are currently in place for the cloned cluster. This isn't necessarily undesirable (i.e., for disaster r

[2018-05-03 20:52] ncdc commented on #474
@jordanwilson230 could you please give us a bit more information about what specific fields need to have their values changed? An example with yaml/json would be quite helpful. Thank you!

[2018-05-04 05:53] ncdc commented on #17
@skriss any objections to closing this?

[2018-05-04 05:56] ncdc commented on #240
@Bradamant3 as you work through the docs revamp, please keep this in mind (or close if you think we're there now). Thanks.

[2018-05-04 14:27] jordanwilson230 commented on #474
@ncdc No problem, and thanks for looking at it.  Here is an example for an ingress we're using:

[code]

Here is an example of a LB we're using:
[code]
Note that for the last example, we're using an annotation for external-dns to pick up which of course is different than the ingress.  It'd be great to have, but I don't expect support for anything outside of the core K8s resources :)

Ideally, some

[2018-05-04 15:47] skriss commented on #17
fine with me, closing.

[2018-05-04 15:47] #17 closed

[2018-05-05 09:21] cameronbraid opened #475 "backup all namespaces fails on origin 3.7"
final log message in the backup logs is :

time="2018-05-05T09:15:39Z" level=info msg="Backup completed with errors: no Items field in &v1.Status{TypeMeta:v1.TypeMeta{Kind:\"Status\", APIVersion:\"v1\"}, ListMeta:v1.ListMeta{SelfLink:\"\", ResourceVersion:\"\", Continue:\"\"}, Status:\"Success\", Message:\"\", Reason:\"\", Details:(*v1.StatusDetails)(nil), Code:0}" backup=heptio-ark/all logSource=

[2018-05-07 16:16] #471 closed

[2018-05-07 16:18] ncdc commented on #475
@cameronbraid thanks for the report. This is likely a bug in OpenShift but we'll see if we can work around it. Stay tuned...

[2018-05-07 17:03] ncdc commented on #475
Ok, this is `GET /apis/projectrequests.openshift.io/v1/projectrequests`

[2018-05-07 17:08] ncdc commented on #475
We currently filter on resources that support `create` and `list`. Unrelated to this issue, we also sometimes call `get` so we should add that to the filter. And it's probably good to throw `delete` into the mix, as it's highly unlikely that a resource that doesn't support `create`, `list`, `get`, and `delete` is a real resource.

[2018-05-07 18:09] ncdc commented on #25
Closing as we'll be dealing with this as part of `ark install` and backup replication as we rework some of the cloud provider setup code.

[2018-05-07 18:09] #25 closed

[2018-05-07 18:13] ncdc commented on #68
Closing as we're using the lister so it's not a network request each time. We can revisit if there are performance issues.

[2018-05-07 18:13] #68 closed

[2018-05-07 18:33] ncdc commented on #117
We haven't done this up until now and we've been ok. Closing. Can reopen if needed.

[2018-05-07 18:33] #117 closed

[2018-05-07 18:33] ncdc commented on #119
Spoke to someone at KubeCon Copenhagen who wants to take over this work. Will reach out separately and get the ball rolling there.

[2018-05-07 18:33] #119 closed

[2018-05-07 18:52] ncdc commented on #172
This can be achieved with external tooling watching for new/completed backups and restores. Will reopen if needed.

[2018-05-07 18:52] #172 closed

[2018-05-07 18:56] nrb commented on #399
@danilina-wsib Your latest request sounds a lot like https://github.com/heptio/ark/issues/103, which we're actively designing for the 3 big cloud providers. Given that, this issue now seems redundant - would you agree?

[2018-05-07 19:31] danilina-wsib commented on #399
@nrb Yes, I agree, I am closing this issue now

[2018-05-07 19:31] #399 closed

[2018-05-07 21:17] ncdc commented on #474
@jordanwilson230 ok this is much clearer now, thanks. Would something like a generic find/replace plugin work for you, where you could configure it somewhat like this?
[code]

[2018-05-07 21:28] ncdc commented on #124
Ark now has a `genericController` struct that we may consider extracting into a standalone repo at some point, but I don't think we need to keep this issue open any more.

[2018-05-07 21:28] #124 closed

[2018-05-07 21:43] nrb opened #477 "Check restore phase when getting logs"
When using `ark restore logs my-restore` before a restore is completed, the user will see a not found error from the object storage. This happens because the log file isn't uploaded until the restore is complete.

Before checking object storage, the `restore logs` subcommand should check the `Phase` of a restore and only get the file if `Phase` is `Completed`.

[2018-05-07 22:30] jordanwilson230 commented on #474
Right now I'm using a pretty nasty looking sed command as part of the script I'm using. ...After downloading a backup:
[code]
It seems to work, but I certainly prefer efficiency and simplicity!

[2018-05-08 11:02] vishnoisuresh commented on #473
Yea I am facing the same issue. What could be the replacement of the `--query [0].value`  on macOS?

[2018-05-08 16:10] skriss commented on #473
@vishnoisuresh I think it may need to be `--query '[0].value` (regardless of OS) - can you try that?

[2018-05-08 16:29] ncdc commented on #474
This is a hypothetical configuration for a restore item action plugin that doesn't currently exist 😄.

[2018-05-08 18:39] ncdc commented on #225
@skriss let's double check if it's still possible to delete a PV that has a PVC bound to it.

[2018-05-08 18:54] ncdc commented on #286
@jbeda this is an item we'd like to discuss soon

[2018-05-08 18:59] ncdc commented on #292
There is work ongoing to remove the `localhost:8080` defaulting (https://github.com/kubernetes/kubernetes/pull/62469). We can still provide a better error message here.

[2018-05-08 19:01] ncdc commented on #298
Going to close this as it's pretty generic. We can open individual issues for specific things that need fixing.

[2018-05-08 19:01] #298 closed

[2018-05-08 19:09] ncdc commented on #317
@jbeda would appreciate any input you might have on this one

[2018-05-08 19:13] ncdc commented on #347
I don't think we're interested in pursuing this. I fear it would provide more confusion than benefit. Any objections to closing it @lypht ?

[2018-05-08 19:15] lypht commented on #347
Closing to prevent confusion.

[2018-05-08 19:15] #347 closed

[2018-05-08 19:25] ncdc commented on #428
Let's at least log that we're not restoring a mirror pod

[2018-05-08 23:15] skriss commented on #225
The "storage object protection" feature which will prevent PVs/PVCs that are in use from being deleted is currently in beta and will be moved to GA a/o 1.11 -- see https://github.com/kubernetes/kubernetes/pull/62870.

[2018-05-09 08:47] vishnoisuresh commented on #473
@skriss  Yea It worked. Thanks

[2018-05-09 13:15] #198 closed

[2018-05-09 20:56] #473 closed

[2018-05-10 10:48] ncdc commented on #225
The feature gate is on by default in 1.10. Let's do a manual test to make sure we can't get in this state any more. If so, I recommend we close the issue.

[2018-05-10 10:50] ncdc commented on #330
@lypht can you retest and verify if you're still running into this?

[2018-05-10 10:56] ncdc commented on #380
@skriss do you think we could use a pre hook to edit the state file before we snapshot the pv?

[2018-05-10 10:56] ncdc commented on #407
@jayachandralingam checking in again to see if you can provide more details?

[2018-05-10 10:58] ncdc commented on #441
This is a dupe of #295 - closing.

[2018-05-10 10:58] #441 closed

[2018-05-10 11:00] ncdc commented on #468
Closing as this is a dupe of #19

[2018-05-10 11:00] #468 closed

[2018-05-10 11:02] ncdc commented on #469
@gianrubio for the warnings such as `kube-system: not restored: configmaps "cert-manager-controller" already exists and is different from backed up version.`, do you believe the items are identical and that Ark is not comparing them correctly?

Is there anything else you need for this issue, or would it be ok to close it?

[2018-05-10 15:46] gianrubio commented on #469
The items are probably not equal but I'd expect ark to replace them.

[2018-05-10 15:50] ncdc commented on #469
I think we'd need to provide a control for that behavior and let the user doing the restore decide if Ark should delete & recreate or no-op.

[2018-05-10 15:51] ncdc commented on #469
Should we repurpose this issue as "RFE: option to delete & recreate objects that already exist when restoring"?

[2018-05-10 15:51] gianrubio commented on #469
Yes, that was my point, maybe a flag like `--force` could solve this behaviour, WDYT?

[2018-05-10 15:52] ncdc commented on #469
cc @jbeda

[2018-05-10 15:56] ncdc commented on #469
I'm thinking maybe something like `--conflict-strategy` with options `replace` (delete what's in the cluster and create what's in the backup), `preserve` (keep what's in the cluster and record a warning as we're doing now). (All names TBD)

[2018-05-10 16:00] gianrubio commented on #469
The proposal sound good, I have only one thought. Deleting the object before applying will rescheduled all the object, doing it in big cluster can cause some issues. I'd rather delete objects that have failed to apply the changes, big warning on deleting volumes and PVCs

[2018-05-10 16:04] ncdc commented on #469
Yes, the flow would be
1. Try to create the object
1. If it failed because the item of the same name already exists
    1. If the item in the backup and the item in the cluster are the same, no-op
    1. Otherwise, check the conflict strategy and proceed with delete/create or logging a warning

I also don't think we'd ever want to delete a PV or PVC. We have another issue open for cloning preexist

[2018-05-10 19:55] lli-hiya opened #481 "Ark server needs to handle crashed/stopped plugin processes"
I've had a question that I don't know how to debug -- I noticed that Ark can suddenly fail to make its backup (after it made several successful backups) and the error logs looks like

This error was first noticed when I was using ark v0.6, and now I upgrade to ark v0.8.1 and the error still persists.

Some symptoms that I noticed when the error happens

- Ark client can still list backups (`ark ba

[2018-05-10 19:58] ncdc commented on #481
Hi @lli-hiya, thanks for the question! The error `transport: error while dialing: dial unix /tmp/plugin763922082: connect: connection refused` I believe is coming from the communication between the Ark server process and one of its plugins. It sounds like the plugin process has exited and the Ark server isn't handling that well.

When you have a well-functioning pod, could you please `kubectl exec

[2018-05-10 20:03] ncdc commented on #481
You can also try setting the server's log level to debug:

`kubectl -n heptio-ark edit deploy/ark`, then change `args` so it looks like this:

[code]

This will include more information about launching and terminating plugins.

[2018-05-10 20:04] ncdc commented on #481
@skriss this is interesting reading: https://github.com/hashicorp/go-plugin/issues/31

[2018-05-10 20:08] jfoy commented on #481
@ncdc Here's what we see in a healthy pod. (I work with @lli-hiya )
[code]

[2018-05-10 20:11] ncdc commented on #481
@jfoy awesome, thanks! Now I'm looking forward to seeing what's in an unhealthy pod...

[2018-05-10 20:30] lli-hiya commented on #481
@ncdc I will try to give that information to you later if the error happens again.

[2018-05-10 20:31] ramv76 commented on #387
can you please send the steps you followed to resolve this issue? I am getting the same error.

[2018-05-10 20:33] ncdc commented on #387
@skriss we might want to add a `publicURL` field for the aws object store config so the urls we send back for logs etc. can be different than the url ark uses to talk to minio.

[2018-05-11 00:33] lli-hiya commented on #481
@ncdc Since I don't know when the error will happen, as a demonstration I manually killed this process ` 19 nobody     0:00 /ark run-plugin cloudprovider aws` (in another testing cluster), and then I observed EXACTLY the same symptom. Ark client freezes to show logs, backups failed and etc.

Although this cannot prove that our original failure was because of the cloudprovider process got terminate

[2018-05-11 07:28] containscafeine commented on #387
@ramv76 FWIW I was running on a single node Kubernetes cluster (minikube), so I'm not sure if the following will work for you, but what I did was -

- change Type to NodePort (https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport) - https://github.com/heptio/ark/blob/9fc1711d450be8a59ec3293ed75169c3a04751b0/examples/minio/00-minio-deployment.yaml#L61
- get minio's NodePort

[2018-05-11 14:20] ramv76 commented on #387
Hi, Thank you so much for the updates. Is this possible to configure backup locally in the server itself or like a dedicated backup server to store the backup? if yes, can you please shed some light in this?

[2018-05-11 14:37] ramv76 commented on #387
Sure, Thank you so much Andy.

[2018-05-11 14:41] ramv76 commented on #387
@Andy, can you please send me an invite for ramv1010@gmail.com. This will be great help for me. Thanks a lot and sorry for any inconvenience caused in this.

[2018-05-11 14:43] ncdc commented on #387
@ramv76 you can go to http://slack.k8s.io and sign up

[2018-05-14 16:54] lli-hiya commented on #481
Follow up: the error happened in my original cluster during the weekend, and the `ps aux` within the pod shows that the cloudprovider process is gone. I think this shows that our guess is correct -- Ark failed to handle it.

[2018-05-14 16:56] ncdc commented on #481
@lli-hiya thanks for the update. We are actively redesigning our plugin management code to be more robust and handle this sort of situation.

Is there anything in your pod's logs that indicates what happened to the plugin process?

[2018-05-14 17:05] lli-hiya commented on #481
No more than what I posted before because due to some unknown reason the log-level was reverted back to info. I just changed it to debug again, and will update this thread if I see something useful

[2018-05-14 18:07] ncdc opened #487 "Properly handle multiple workers/controllers processing the same backup/restore"
We need to account for a few things:

1. If 2 server pods run simultaneously, they both might get the same Backup or Restore in a New state. They would both attempt to change the state to InProgress, they would likely both succeed, resulting in undesirable behavior.
1. If a Backup or Restore is InProgress and the server crashes, we ideally need to be able to have the replacement server process pic

[2018-05-14 19:05] ncdc opened #488 "Reduce import surface of plugin interfaces"
If you want to write a `backup.ItemAction` plugin, for example, you have to import all of `pkg/backup`, which is probably significantly more than necessary. Let's evaluate our plugin interfaces and make sure they're in 1 or more small packages that don't have large dependency trees.

[2018-05-14 20:53] ncdc opened #489 "Error if unknown keys are included in configs"
If we have an Ark `Config` with invalid persistentVolumeProvider or backupStorageProvider `config` fields, we should error instead of silently allowing (and ignoring) them. We had a user mistype `s3Url` as `s3url` and it took a long time to determine the root cause of the issue.

[2018-05-14 23:03] skriss opened #491 "Backups that fail to upload to object storage are marked as 'Completed'"
A user reported that a backup had a phase of `Completed` but the target object storage bucket was empty. Upon investigation, Ark was getting access denied errors when connecting to the bucket, so it couldn't upload. We set the backup phase to `Completed` before uploading (see https://github.com/heptio/ark/blob/master/pkg/controller/backup_controller.go#L359). We should probably check for errors up

[2018-05-15 11:33] jrnt30 commented on #84
We just came back to this today too and would be interested in it's progress and potentially some hands on keyboard implementation in my ever abundant free time :)

For what it's worth, I would trend towards simplicity first on this to determine what/how we want to use it much to a few of your observations @timoreimann.  Would it be viable to put in the Global registry without plugin consideration

[2018-05-15 14:35] ncdc commented on #84
@jrnt30 as long as we have a high-level vision of how we plan to integrate plugin process metrics into the overall metrics registry, I would be fine starting with just the Ark server. But I would hesitate to use the global registry if we can identify up front that it's impossible to integrate metrics from external sources into it easily.

[2018-05-15 14:58] #475 closed

[2018-05-15 16:44] robbyt commented on #396
It would be great if there was more information about the backup in metadata stored in the bucket. (not in etcd) e.g., the contents of the k8s manifests, and even file data from volumes (file names, dates, and hashes(!))

[2018-05-15 16:46] ncdc commented on #396
@robbyt we are planning on adding metadata in the bucket about what's in it (resource types + namespaces + names). I doubt we'll look at file metadata in the short term, though. That's significantly more work.

[2018-05-15 16:55] robbyt opened #492 "Confusing error when querying logs for upper-cased backup"
If I query for logs from a backup with an upper case name, I get a confusing error:

[code]

When the name is lower-case, the error is accurate. (but it's still odd that it's printing raw XML)
[code]

[2018-05-15 17:03] robbyt opened #493 "Expired backups stuck in state "Deleting""
Since upgrading from Ark 0.6.0 to 0.8.1, all expired backups are stuck in state "Deleting".

`redmine-bidaily-20180328062508      Deleting    2018-04-27 02:52:47 -0400 EDT   18d ago <none>`

The logs for this backup say:
[code]

And I confirmed that yes, that folder in my backup bucket has been deleted.

[2018-05-15 17:06] ncdc commented on #492
@robbyt thanks for the report. For the 1st error, this is because we're actually **creating** a new object and sending it to the Kubernetes apiserver to accomplish log streaming. We can add some validation up-front.

For the 2nd error, we can add some validation to make sure the log file exists.

[2018-05-15 17:07] ncdc commented on #493
@robbyt could you please share any relevant time periods/sections from the Ark pod's log?

[2018-05-15 17:11] lypht commented on #330
@ncdc The docs are clearer at this point.  Closing this issue.  Thanks.

[2018-05-15 17:11] #330 closed

[2018-05-15 17:31] robbyt commented on #493
@ncdc here are the logs from this older stuck backup, I'll look around at the newer ones and see if I can find anything interesting in the logs and post more logs shortly.
[code]

[2018-05-15 17:33] ncdc commented on #493
@robbyt thanks. Could you please pick a time period (e.g. 2018-05-14T21:13:08Z - 2018-05-14T21:43:00Z) and get all the logs from that time period? I'm wondering if the grep is excluding relevant stuff.

[2018-05-15 18:13] robbyt commented on #493
Unfortunately, I don't see anything interesting in the logs.

Here's the full logs from: `kubectl logs ark-59bd96dc58-t2nh2 --namespace heptio-ark | grep "2018-05-14"`
https://gist.github.com/robbyt/46c0ad439270d818d12153092cadf0d6

[2018-05-15 18:16] ncdc commented on #493
Can you paste the yaml for one of these backups?

On Tue, May 15, 2018 at 2:13 PM Robert Terhaar <notifications@github.com>
wrote:

[2018-05-15 18:33] #366 closed

[2018-05-15 22:22] skriss opened #494 "Proposal: standardize package import names"
For Kube/Ark imports, since many of the packages have names like `v1`, we often give them explicit names like `corev1`, `arkv1`, etc. to disambiguate. The problem is that we have no consistency in how we do this, so every file is different.

I'm proposing a standard way of naming these across Ark. The convention would be:
[code]

So, for example:
[code]

Haven't ensured this will cover all cases y

[2018-05-15 23:59] robbyt commented on #493
`kubectl get --namespace heptio-ark backups.ark.heptio.com/app-bidaily-20180415122518 -o yaml`

[code]

[2018-05-16 00:25] lli-hiya commented on #481
@ncdc Here it is. This is the log around the our daily backup time, and you can see it shows that the plugin process terminates.

[code]

[2018-05-16 19:00] nrb commented on #494
I'm +1 on adopting this and cleaning up as we go

[2018-05-17 02:01] robbyt commented on #493
@ncdc does this help? Can provide any other info to help debug this?

[2018-05-17 02:45] robbyt opened #497 "Panic in deletion_controller"
GCP is currently having some issues with networking in one of my regions. This seems to have caused Ark to panic. Here's the stack trace:

[code]

[2018-05-17 03:16] ncdc commented on #493
Sorry, the day got away from me. Can you “ark backup describe” one of these
backups?

I’ll also attempt to reproduce tomorrow.

On Wed, May 16, 2018 at 10:01 PM Robert Terhaar <notifications@github.com>
wrote:

[2018-05-17 03:16] ncdc commented on #497
Thanks for reporting this. We’ll investigate tomorrow.

On Wed, May 16, 2018 at 10:45 PM Robert Terhaar <notifications@github.com>
wrote:

[2018-05-17 03:42] robbyt commented on #493
Sorry, I didn't mean to come across as pushy :)
`ark backup describe app-bidaily-20180328062508`

https://gist.github.com/robbyt/ebf020be4f41f89ffd3a90ceaadb48a9

[2018-05-17 03:53] ncdc commented on #493
No worries, I didn’t read it that way.

Ok, this is a known issue. I think we already have it filed. I’ll look it
up tomorrow. The problem is we need to rework how we handle “not found”
errors when trying to delete snapshots or files from object storage.

You can safely “kubectl delete” backups that have deletion errors similar
to this one.

On Wed, May 16, 2018 at 11:42 PM Robert Terhaar <notific

[2018-05-17 12:25] ncdc commented on #497
I see what the problem is. We're checking for an error but not returning early when we encounter one: https://github.com/heptio/ark/blob/5d74a92cf1ddd4288ef4de49ac16649669636adc/pkg/controller/backup_deletion_controller.go#L212-L214.

And then when we proceed past that error:

https://github.com/heptio/ark/blob/5d74a92cf1ddd4288ef4de49ac16649669636adc/pkg/controller/backup_deletion_controller.go#L

[2018-05-17 12:26] ncdc commented on #493
The previously-filed issue is #308

[2018-05-17 14:42] dhananjaysathe commented on #404
+1 for this feature , i may purposely want to leave out certain parts
At this point a workaround is to use the negation of a selector , building on the example on the default docs it would look something like this
`ark backup create not-nginx-backup --selector 'app notin (nginx)'`
 cc @rhefner1
I tried it out and can confirm it works. You could simple add a lable to all those disks and use a negat

[2018-05-17 15:07] ncdc opened #499 "Remove third_party/kubenetes/pkg/kubectl/cmd/util/shortcut_expander.go"
When we upgrade to the version of client-go that corresponds to k8s v1.11, we can remove our forked copy of shortcut_expander.go now that https://github.com/kubernetes/kubernetes/pull/63507 merged.

[2018-05-17 15:43] lkysow commented on #309
This would be useful from my point of view because I'm deleting old backups from S3 using a lifecycle rule and I'd like them deleted from etcd as well so I don't have an endlessly growing list.

[2018-05-17 15:43] ncdc commented on #309
@lkysow thanks for the comment! We will be implementing this before we get to 1.0.

[2018-05-17 18:38] skriss commented on #491
@nrb this would be a good one to tackle if you have bandwidth! I can provide more context if needed.

[2018-05-17 18:55] ncdc opened #502 "Make it possible to pass arguments to make test"
It would nice to be able to do something like `GOFLAGS='-v -run TestFoo' make test`

[2018-05-17 22:16] skriss commented on #450
This has been resolved with #463, closing.

[2018-05-17 22:16] #450 closed

[2018-05-18 11:48] dhananjaysathe opened #503 "Allow for namespace selectors"
In a usecase where one has dynamic namespaces being created through a higher order api and it would like to back these up on schedule - it can be cumbersome to do so with namespace names .

It would be more natural and declarative to just label them and use that as a selector .
Esp relevant to the  he `ark schedule` feature as you cant create a new BackupSpec each time.
In the normal backup case o

[2018-05-18 13:53] ncdc opened #504 "design for data-only restores"
If you have pods running in a cluster and you're using Ark to take backups of their PVCs, it would be nice to be able to do a data-only restore. In other words, for pods owned by deployments, replica sets, etc., create a new PV from a backup snapshot, associate it with a PVC, and update the deployment to use the new volume.

[2018-05-18 13:54] ncdc commented on #504
cc @jbeda @dhanmm @emuetzel for input

[2018-05-18 19:06] ncdc opened #505 "Support for volume snapshot groups"
Some storage providers have the ability to coordinate a snapshot across multiple volumes simultaneously. It would be nice if Ark could support this for those providers. We'll need to determine how to model this as well as what the UI/UX looks like.

[2018-05-18 19:06] ncdc commented on #505
cc @disrani-px @jbeda @dhanmm @emuetzel

[2018-05-18 21:09] RochesterinNYC opened #507 "All logs from Ark server containers on k8s/GKE show up in Stackdriver as ERROR logs"
![screen shot 2018-05-18 at 5 00 55 pm](https://user-images.githubusercontent.com/1504464/40257704-27ecd050-5abd-11e8-883a-b599836699a0.png)

Example of a specific log message:

![redacted](https://user-images.githubusercontent.com/1504464/40257962-09290840-5abe-11e8-9568-14fb1d32406a.png)

(Notice the `ERROR` severity.)

We're using the default example Ark server Deployment available at https://g

[2018-05-18 21:11] ncdc commented on #507
Yes, it looks like logrus outputs to stderr by default.

[2018-05-18 21:13] ncdc commented on #507
@mattmoyer @mauilion @craigtracey @fabioy @bryanl @timothysc @jbeda can you think of any reason we shouldn't change to logging to stdout by default?

[2018-05-19 00:56] bryanl commented on #507
@ncdc if it isn’t an error, shouldn’t it go to stdout?

[2018-05-19 00:58] ncdc commented on #507
That is the typical practice, yes. We honestly hadn't paid attention to it, and we just called `logrus.New()` which it turns out uses stderr by default. If/when we switch to stdout, all log messages (including error level) will go to stdout. Nothing will go to stderr unless it's emitted by some other code (i.e. not from logging).

[2018-05-19 01:02] bryanl commented on #507
You can create a custom io.Writer that looks for error messages. It will send non-error messages to stdout and errors to stderr. (I'm sure you aren't using logrus.Fatal 😀). Then you can do `logrus.SetOutput(customWriter)`. This brings a new set of nuances, but should be manageable.

[2018-05-19 01:04] ncdc commented on #507
I think I'd rather have everything that we log go to 1 file descriptor instead of 2.

[2018-05-19 01:05] bryanl commented on #507
That makes sense. In that case, I'd send it all to stdout and let my log tooling figure it out.

[2018-05-21 06:11] carlpett opened #509 "Backups with errors aren't marked as partially complete"
I had a permission issue with my cloud credentials which resulted in Ark not being able to snapshot volumes. However, without going through the logs, it seems like there is no indication of this failure: `ark backup get` lists it as ´Completed`, and `ark backup describe my-backup` only has a field for `Validation errors`, which is empty (reasonably enough).

Shouldn't there be some more indication

[2018-05-21 09:57] ncdc commented on #509
This should show up as an error. Could you please let us know what type of
issue you had with your credentials so we can try to reproduce the problem?

Could you please also share any relevant lines from the backup’s log and
from the ark server pod’s log that show snapshot issues? Thanks!

On Mon, May 21, 2018 at 2:11 AM Calle Pettersson <notifications@github.com>
wrote:

[2018-05-21 13:29] carlpett commented on #509
Here's the output from the first scenario: https://gist.github.com/carlpett/dbb1d336461a6de8207facdd7685b2c1

[2018-05-21 19:53] ncdc commented on #491
@nrb & I figured this out. It turns out that with Google's go API for cloud storage, writes are async, and the only correct way to check for a write failure is to call `Close()` on the `Writer` and check the error it returns. @nrb is working on a fix with updated unit tests.

[2018-05-21 19:53] ncdc commented on #491
(We were deferring the `Close()` call and ignoring the error)

[2018-05-22 00:59] ncdc commented on #509
@carlpett I'm surprised this showed up as `Completed` given the snapshot errors. We'll see if we can reproduce and track down where the issue is.

[2018-05-22 01:00] ncdc commented on #503
cc @jbeda @dhanmm

[2018-05-22 09:04] carlpett commented on #509
@ncdc From a quick read through the code, could it be that the issue is that any error returned is ignored [here](https://github.com/heptio/ark/blob/dc8c66b30525e54df4d8e177f84b54655cc762f1/pkg/backup/item_backupper.go#L214)? (Line 214 in the below snippet)

https://github.com/heptio/ark/blob/dc8c66b30525e54df4d8e177f84b54655cc762f1/pkg/backup/item_backupper.go#L195-L215

[2018-05-22 11:11] ncdc commented on #509
@carlpett this is it! Thank you! We'll get this fixed in master asap (unless you want to do a PR?).

[2018-05-22 11:12] ncdc opened #511 "Post hooks should always fire regardless of item action failures"
Scenario:
1. pre-hook calls fsfreeze
1. some item action fails
1. return error immediately

This leaves the pod in an unusable state, since the file system is frozen.

[2018-05-22 11:12] ncdc commented on #511
WDYT @skriss?

[2018-05-22 11:39] carlpett commented on #509
Nice! I'll gladly make a PR :)

[2018-05-22 12:03] ncdc commented on #509
Somewhat related: #511

[2018-05-23 13:55] #491 closed

[2018-05-23 14:43] robbyt commented on #507
@ncdc I'm curious why you wouldn't want to use both stdout for normal logs and stderr for error-level logs?

[2018-05-23 14:50] ncdc commented on #507
@robbyt in my experience, if you're using a single logger, I'd expect all log levels to go one place, unless you've configured separate files (foo.debug, foo.info, foo.warn, foo.error, etc).

Ark currently sends log lines to 3 different places: the Ark server pod's log (currently stderr of container, and what I'm suggesting should be stdout), individual backup log files, and individual restore log

[2018-05-23 16:18] rosskukulinski commented on #507
My 2c:

1) We should not log everything to stderr
2) OK to pipe everything to stdout
3) If logs are not structured json output, I strongly recommend for users to parse and generate structured logs before final storage in elastic/s3/stackdriver.  This allows for simplied alerting/filtering/dashboards based on specific key/values (e.g. alert if more than 5 `error` logs in the last 1 minute)

[2018-05-23 17:37] #511 closed

[2018-05-24 07:08] veeresh1982 commented on #299
I am experiencing this issue on 1.9.7 ACS K8s cluster on Azure ACS cluster.
The backup is being created and also stored in Azure storage account blob but not with PV snapshot.

Here are my details
----------------------
Kubernetes: ACS 1.9.7
ark version: v0.8.1

root@veereshdev2:/home/ubuntu/veeresh/mywork/ark# ark backup describe nginx-backup
Name:         nginx-backup
Namespace:    heptio-ark
La

[2018-05-24 11:37] ncdc commented on #299
@veeresh1982 are you using Azure managed disks? Please provide the output from `ark backup logs nginx-backup`. Thanks.

[2018-05-24 18:09] dharmab opened #516 "Azure: UnsupportedQueryParameter Error"
I'm trying to get Ark running on Azure using the configuration documented [here](https://heptio.github.io/ark/v0.8.1/azure-config).

I get the following error in the Ark pod logs:

[code]

[2018-05-24 19:56] veeresh1982 commented on #299
No I created ACS and by default it created Unmanaged disks. I see below from the logs
time="2018-05-24T19:45:08Z" level=info msg="Snapshotting PersistentVolume" backup=heptio-ark/nginx-backup-pv group=v1 groupResource=pods logSource="pkg/backup/item_backupper.go:318" name=pvc-39a09f8b-5f83-11e8-9596-000d3a0698e6 namespace=nginx-example volumeID=veerzone1mgmt-dynamic-pvc-39a09f8b-5f83-11e8-9596-000

[2018-05-24 19:57] ncdc commented on #299
I'm not familiar with ACS, but yes, you need to make it use managed disks. That's the only kind of Azure disk that Ark supports.

[2018-05-24 20:17] veeresh1982 commented on #299
Sure. I will try creating one and test. Thanks!

[2018-05-29 14:31] wingZero21 commented on #282
Is there any update on when this fix is likely to be implemented?

[2018-05-29 14:37] ncdc commented on #282
Hi @wingZero21, not yet. We need to test removing the timeout and see if Kubernetes is ok with it. Would you have time to do such a test in the short term?

[2018-05-30 22:15] jcrowthe commented on #516
@skriss I think ark on Azure is currently broken due to this bug. Can I get an update on this too?

[2018-05-30 22:17] ncdc commented on #516
@jcrowthe we'll try to get some assistance from the Azure team and get back ASAP.

[2018-05-30 22:39] squillace commented on #516
@jimzim is defs the person to look, although he's with a customer at the moment. We'll follow up. We want this to work nicely. :-)

[2018-05-30 22:46] jcrowthe commented on #516
@squillace @skriss Thanks, much appreciated!

[2018-05-31 01:04] ncdc commented on #516
I've been testing the following:

[code]

This is essentially what we're calling, and it's working for me. I did notice that the error message seems to indicate that instead of `/`, the delimiter is `"` (a quote). I have tried different values for the delimiter, including the empty string and `"`, and everything succeeds.

Still trying to figure out the root cause.

@jcrowthe @dharmab what locatio

[2018-05-31 01:20] ncdc commented on #516
Oops, I misread the `"` as the value for delimiter, but that appears to be the closing quote for the `error` field in our structured log message. That would indicate the value is the empty string / missing, I imagine.

[2018-05-31 17:14] jcrowthe commented on #516
@ncdc `eastus2` is the primary region, although others may be affected as well, I'm not sure.

[2018-06-01 00:43] ncdc opened #519 "backupPVAction crashes if spec.volumeName is missing"
If a PVC doesn't have a `spec.volumeName`, the backupPVAction plugin returns `nil` for the `updatedItem`. The BackupItemAction plugin's gRPC server code for `Execute` takes that `nil` and then tries to make a call on it. This causes the plugin process to crash.

We should do one or both of the following:

1. Modify backupPVAction to return the unmodified PVC
1. Modify the gRPC server code to handl

[2018-06-01 01:08] SleepyBrett commented on #519
Thanks for looking into this for me!

[2018-06-01 18:08] SleepyBrett commented on #84
As a user I'd love a topline metric for each schedule that just counts backup successes and failures. As I just discovered our backups have been failing for weeks by stumbling upon it.

[2018-06-01 18:21] ncdc opened #521 "Add panic recovery handlers to all server-side plugin code"
If a plugin encounters a panic during execution, right now we don't get any information about what caused the panic. Instead, all we see is something like this in the Ark server log:

[code]

We should add panic handlers to all server-side plugin functions so we can capture the error (and maybe the full stack trace) and return gracefully instead of crashing the plugin process.

[2018-06-01 18:28] #519 closed

[2018-06-01 19:20] rosskukulinski commented on #84
I'm not familiar enough with the Ark plugin model nor the prometheus client to weigh in on those topics.

That said, I think it's important to differentiate between the consumers of Ark metrics.

@ncdc - as an Ark developer, you likely care about visibility and performance metrics of Ark internals based on the environment it's running in (e.g. how many objects to backup, and how long does it take)

[2018-06-01 19:23] saravanakumar-periyasamy opened #523 "Reconciliation as part of restore"
Use case: in cluster migration scenario, user likes to keep the resources in `destination` clusters in sync with `source` cluster. Which means, the restore process have to delete the resources in the destination cluster if its not part of the backup.

[2018-06-01 19:31] yastij opened #524 "Ark should ignore Terminating resources"
Currently, Ark tries to backup terminating resources, which often leads to failed backups. this might happen often when you have volatile workloads.

[2018-06-01 19:32] yastij commented on #524
@ncdc - can you assign me ? I'll submit a fix for this one.

[2018-06-01 19:34] ncdc commented on #524
@yastij assigned!

[2018-06-01 22:27] tomplus commented on #84
Thumbs up for the RED metrics.

[2018-06-02 13:48] debianmaster opened #525 "error="no Items field in &v1.Status{TypeMeta:v1.TypeMeta{Kind:\"Status\", APIVersion:\"v1\"},"
This is on openshift 3.9 . (i.e.  k8s 1.9)
using ark readme.
[code]

When attempting a backup i see following error in ark pod.
[code]

Also backup failed with following status

[code]

[2018-06-02 18:05] ncdc commented on #525
Hi @debianmaster, thanks for the report. This is actually a duplicate of #475, which we've fixed in our master branch. Our next release, v0.9.0, will have the fix. We anticipate releasing it this month (June).

[2018-06-02 18:05] #525 closed

[2018-06-04 13:52] xamox commented on #84
RED metrics are something I'm looking for as well, I want to know if backups are failing most importantly, but all the other things mentioned would be a plus.

[2018-06-04 14:00] ncdc commented on #516
Just keeping everyone up to date - I have been unable to reproduce this, and I've chatted with @jcrowthe on Slack about it. He's going to retry and see if it works, or if we need to dig further.

[2018-06-04 14:02] ncdc commented on #18
@yastij is also interested in helping out here

[2018-06-04 14:03] yastij commented on #18
+1

[2018-06-04 20:43] dharmab commented on #516
Hmm, I'm consistently reproducing the error. I've run through the getting started guide again (to double check any formatting errors) and have also tried v0.8.2.

I'm starting to suspect that something about my specific cloud credentials is causing a problem, such as a special character.

[2018-06-04 20:44] ncdc commented on #516
@dharmab can you test the code snippet I pasted above?

[2018-06-05 19:13] ncdc opened #527 "Create internal package structure for private packages"
We need to create an `internal` package and move everything we don't want anyone else outside of Ark to use there.

[2018-06-05 19:49] neith00 commented on #474
I have the same use case.
2 clusters: 1 for Dev, 1 for Prod. 2 different domains for ingresses.
Would like to clone env from Prod cluster to Dev cluster for debugging purpose for example.
The ideal case would be ark modifying ingresses domain on the fly when restoring.
Could be applicable to storageClass the day it support it.
It's not our primary way to deploy resources on k8s of course. We usual

[2018-06-05 19:52] ncdc commented on #474
We'll work with @bryanl & team to figure out the best way to implement this.

[2018-06-05 20:01] neith00 opened #528 "Support for swift backend"
Would be nice if ark could use OpenStack's swift backend.

[2018-06-05 20:09] ncdc commented on #528
@neith00 thanks for your suggestion. This is a duplicate of #119. We are not adding new backends in-tree, but Ark has a plugin model exactly for this use case. I believe someone is working on an external plugin for it. I've just sent off an email to check on the status. I'm going to close this, and as soon as I get some information about the plugin, we'll make sure to link to it from Ark's documen

[2018-06-05 20:09] #528 closed

[2018-06-05 20:40] ncdc opened #529 "Support /status subresource on our CRDs when it's beta (v1.11)"
https://github.com/kubernetes/features/issues/571

[2018-06-06 10:17] corlettb commented on #84
+1

[2018-06-06 21:57] ashish-amarnath commented on #84
Hoping that PR 531 will channel the discussion here and get us the metrics that we want and add more metrics in the future. Keeping the approach simple and as non-intrusive as possible. Feel free to leave feedback on the PR. I will continue to add the RED metrics that seem to be most useful for cluster operators.

[2018-06-07 01:51] lancespeelmon commented on #282
@ncdc I can help out with testing the timeout removal.

[2018-06-07 13:04] ncdc commented on #282
@lancespeelmon thanks! Will you be able to remove the timeout from the code, or do you need help?

[2018-06-08 01:08] ashish-amarnath commented on #84
@ncdc You can assign this issue to me as I am working on the PR anyway. I am unable to do it myself.

[2018-06-08 01:16] ncdc commented on #84
Assigned!

[2018-06-08 15:11] #524 closed

[2018-06-08 18:14] rosskukulinski opened #536 "Create example Grafana dashboard"
Once Ark has exposed prometheus metrics (#84 / #531), it would be great if we had an example Grafana dashboard for visualizing the state of Ark.

In the simplest form, this could be checked into the Ark repo.  It could also be published to the Grafana dashboard community (https://grafana.com/dashboards).

Variables:
* Backup Name
* Schedule Name

Potential end-user graphs:
* Gauge showing number o

[2018-06-08 18:15] rosskukulinski commented on #536
@ashish-amarnath as you're working on #531 and find yourself creating a grafana dashboard to test with, here's an initial take at what some useful graphs might be.

[2018-06-08 18:38] ashish-amarnath commented on #536
Good idea!

[2018-06-11 08:00] unguiculus opened #538 "Replace Config CRD"
I'm trying to help get the PR for a Ark Helm chart merged.

https://github.com/kubernetes/charts/pull/3795

Over at the chats repo we have a CI that lints and install charts. I figured this is not possible with Ark. I'll have to wrap the deployment into an if statement that makes sure it is not created by the CI job because Ark won't come up if it doesn't have a cloud provider and credentials set.

[2018-06-11 11:27] gianrubio opened #539 "Ark + CRD + Myself caused an outage"
## TL;DR

Last week I had 2 outages caused by : ark + crd + myself. I haven't found a similar issue in the kubernetes communitty so I'm gonna post it here. I suspect it's related to CRD storing a large amount of data in etcd.

## My misconfiguration

3 weeks ago I configured ark using the [default values](https://github.com/heptio/ark/blob/master/examples/aws/00-ark-config.yaml). This default valu

[2018-06-11 13:48] ncdc commented on #538
@unguiculus thanks for your feedback! We are eventually going to remove the Config resource and replace it with multiple types that we'll use to configure backup storage and volume storage. Anything that's left over will become command line flags. This is planned for our v0.10.0 release, which is a couple of months away.

@bhack we'll be releasing v0.9.0.alpha.1 this week and we'll have more infor

[2018-06-11 13:51] ncdc commented on #539
@gianrubio thanks for filing this. We'll review it and respond with feedback in a bit. I did want to quickly point out that we do have built-in GC on the `deletebackuprequests` - every hour, the Ark server deletes any of them that are older than 24 hours.

[2018-06-11 14:00] ncdc commented on #539
@gianrubio I discussed with some team members, and we think the first thing to address is etcd. Are you able to upgrade to 3.x? If not, we'd recommend you evaluate etcd 2's memory limit and consider increasing it.

[2018-06-11 16:25] ncdc commented on #461
@asenchi I'm thinking we stop auto-tagging `latest` and instead make that a manual step (in a CI job). WDYT?

[2018-06-11 17:05] ncdc commented on #461
Moving to p0 because we need to fix this before we can release the 0.9 alphas.

[2018-06-11 17:11] asenchi commented on #461
@ncdc That would be fine, is the "latest" tag even useful in this case? Presumably we would want people to pin to a version regardless?

@zoidbergwill Also has a good point, that logic could live here: https://github.com/heptio/ark/blob/master/Makefile#L135-L143

CI itself doesn't actually do the tagging, it just runs `make all-containers all-push VERSION="\$GIT_BRANCH"`

Let me know if you want t

[2018-06-11 17:13] asenchi commented on #461
Let me clarify, the CI setup doesn't contain the logic for tagging, that is done in the Makefile (and imo should remain there). If we need to run a separate command for "latest", then we can get CI setup to handle that, we could even make it a boolean build parameter that is passed to the Makefile.

[2018-06-11 17:14] ncdc commented on #461
@asenchi we do want people to pin to a version, or if not a version, something like `stable` (which is effectively what `latest` means right now, assuming we solve this issue). Our example yaml files currently use `latest` because we haven't gotten our docs tooling to a point where each branch has its own specific version. The combination of our future `ark server install` command (if we do it) an

[2018-06-11 17:15] asenchi commented on #461
Cool, makes sense. Pretty straight-forward change. Give me the go-ahead and I can PR that today.

[2018-06-11 17:15] ncdc commented on #461
If we release 0.9.0 first, and then 0.8.3, what does GitHub show as "latest" from that URL?

[2018-06-11 17:21] ncdc commented on #461
@asenchi how about we start with the boolean build parameter passed to the Makefile as a variable?

[2018-06-11 18:24] asenchi commented on #461
Sounds good, I added a build parameter.

[2018-06-11 19:39] badbeeker opened #543 "Support backing up to a folder in object storage"
Hello,

Nothing is listed in the documentation, but I was wondering if you can use a folder in an existing s3 bucket as a storage option instead of just the bucket name?

For example:
- heptio-ark-backups
  - cluster1
    - backup1
    - backup2
  - cluster2
    - backup1
  - cluster3
    - backup1

If so, would the configuration be:
[code]

[2018-06-11 19:41] ncdc commented on #543
Hi @badbeeker, thanks for your question. We will be adding support for this soon-ish. I have a WIP PR just to see what it would look like at #515. We're working on prioritizing our backlog and will have an updated ETA soon (sorry I can't be more specific right now!).

[2018-06-11 19:42] ncdc commented on #543
This is actually a duplicate of #167, so I'm going to close it. Please watch that issue for updates!

[2018-06-11 19:43] #543 closed

[2018-06-11 21:39] badbeeker commented on #543
Thanks @ncdc, I'll continue to watch that ticket.

[2018-06-12 14:30] Evesy commented on #282
I've tested removing the timeouts that wait for the volumes to reach a ready state (Can validate I removed the right bits here: https://github.com/heptio/ark/compare/master...Evesy:volume_ready_timeout)

At least in the case of GKE w/ GCP PD's the controller enters a retry loop and eventually succeeds when the volumes do become ready:

[code]

[code]

[2018-06-12 19:10] lli-hiya commented on #481
Just add to this thread. We identified the reason for the failure. It was because the memory usage jumped beyond its limit and causing the `cloudprovider` process to be killed.

[2018-06-12 19:11] ncdc commented on #481
@lli-hiya thanks for the update. What limit did you have set for the pod?

[2018-06-12 22:11] lli-hiya commented on #481
@ncdc We increased the memory limit to avoid it to be killed. Now it looks like ```          resources:
            limits:
              cpu: 200m
              memory: 300Mi
            requests:
              cpu: 10m
              memory: 40Mi```

[2018-06-13 19:09] rosskukulinski commented on #84
Added another metric to my list:

# ark_info used to provide version and other meta data about this Ark instance
# * {version:"v0.9.0"}
# * {branch:"master"}
ark_info - gauge # always set to 1

[2018-06-13 20:49] rosskukulinski commented on #521
@ncdc Is this still slated for v0.9.0? If not, I can move to 1.0.0 meta-milestone.

[2018-06-13 20:50] ncdc commented on #521
Not at the moment. Maybe if we have time in the next couple of weeks.

On Wed, Jun 13, 2018 at 4:49 PM Ross Kukulinski <notifications@github.com>
wrote:

[2018-06-13 20:51] rosskukulinski commented on #505
Which storage providers currently offer this feature?

How is this snapshot process different from Ark doing backups across PVs with labelSelector?

[2018-06-13 20:54] rosskukulinski commented on #504
This feature would be a great-use case for Ark.  We will need to spend some time thinking about the CLI UX & data models that would enable this capability.  I think this is a strong contender for new functionality for 1.0.0 or earlier.

[2018-06-13 20:54] ncdc commented on #505
I know portworx does. There's an RFE to add it to ceph. I think dotmesh might.

Ark would need to somehow find all the PVs in a group and then issue a provider-specific command to tell the provider to snapshot them as a group. It's an atomic, consistent, single action instead of 1 per PV.

[2018-06-13 20:56] rosskukulinski commented on #505
So this would enable atomic backups for things like scale-out databases (mongo, elastic, etc) and/or multi-tier apps that have data consistency problems (e.g. wordpress content + mysql data)?

[2018-06-13 21:02] rosskukulinski commented on #503
Hi @dhananjaysathe - could you provide a little more context regarding your dynamic namespaces?  I'm curious about what's being used to create your namespaces.

[2018-06-13 21:03] rosskukulinski commented on #502
@ncdc would this be a good candidate for `Help Wanted` or `First time PR` labels?

[2018-06-13 21:04] ncdc commented on #502
Yes!

[2018-06-13 21:07] rosskukulinski opened #549 "Review all error handling in Velero CLI"
As we lead up to 1.0, I think it would be helpful to do a comprehensive review of all error handling in the Ark CLIs to ensure we have friendly error messages and associated troubleshooting documentation.

Spun out of #492 and other error related issues.

- [ ] https://github.com/heptio/ark/issues/492

[2018-06-13 21:09] rosskukulinski commented on #492
I opened #549 as a meta-issue for reviewing all Ark error messages.  That said:

1. Ark should validate objects before sending to the API server
2. Improve validation in the logs command to ensure the backup exists (similar to #389 )

[2018-06-13 21:18] rosskukulinski commented on #492
@ncdc I'm curious if the validation would be covered by #155 or if there's separate work to be done.

 I propose that this issue, 492, focus on improving the validation in the logs command. (similar to #389), and we split out anything else.

[2018-06-13 21:28] rosskukulinski commented on #489
What validation do we currently have in Ark when it reads its configuration files?  Does this specific error handling change as we build out replication?

[2018-06-13 21:29] ncdc commented on #489
Config is going away as part of replication, but any place we have generic `map[string]string` buckets for configs, we'll need to validate.

[2018-06-14 04:33] rosskukulinski opened #552 "Enable rolling update of Restic Daemonset"
The Restic daemonsets are currently configured such that updating the Spec will not trigger an update to the Pods.

In Kubernetes 1.6, update strategies for DaemonSets were added: https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/

To simplify the user experience when upgrading from one version of Ark to the next, we should enable a rolling update strategy.

Note: We should think ca

[2018-06-14 04:37] rosskukulinski commented on #487
From a use-ability perspective, I think this is a particularly important issue for us to tackle.  There are a number of reasons why two Server pods might be running simultaneously and we need to handle that gracefully.

In addition, there's lots of ways an InProgress backup get stuck because a server exits.  Again, we need to handle this gracefully.  Metrics in #84 may be able to help (gauge displ

[2018-06-14 04:41] rosskukulinski commented on #474
This is a great customer use-case for resources that are typically tied to a specific environment.  External-dns as described here as one example, I would think another might be kube-lego/cert-manager are other workloads that are highly dependent on fields like these.

+1 for unlocking new use cases!

Suggest renaming title of issue to `Add Generic Find/Replace plugin for restores`

[2018-06-14 04:48] rosskukulinski commented on #469
User story:

`As a cluster operator, I want to use Ark as a mechanism to keep two clusters in sync.  This might be Prod A and Prod B, or alternatively every night mirror Production to Staging so that we have a fresh environment for testing/staging.`

For stateless apps, this sounds like a healthy feature for us to add.  I agree with Andy that we _probably_ don't want to delete PV/PVC by default.

[2018-06-14 04:51] rosskukulinski commented on #464
This is certainly an interesting request, but not one that I think many users would be interested in [happy to be told otherwise].

If I understand the request correctly, the idea is what happens if when you go to restore a backup, the container images that are referenced are no longer available (or have been altered - e.g. :master or :latest).

In my opinion, the second part - they’ve been altere

[2018-06-14 04:53] rosskukulinski commented on #448
Yes! I think this is a critical user experience feature enhancement.  This should probably be in-place before we go to implement #469.

[2018-06-14 05:59] containscafeine commented on #464
I agree with the best practices and having processes in place to deal with such problems, that you've listed, but my use-case was having this problem as a service provider with no control on how the end users use your services.
Let's say, the online service that you provide to your customers, takes in the container image from the end user, and deploys it to your cluster with 100 other awesome feat

[2018-06-14 11:41] ncdc commented on #487
A backup/restore won't get stuck during normal shutdown operations because the Ark server waits for all in-progress work to complete before terminating. If that work takes too long and exceeds the pod's deletion grace period, then Kubernetes would forcefully kill the container, and that would interrupt the in-progress work before it had a chance to finish.

There are, however, plenty of situations

[2018-06-14 14:41] skriss commented on #549
Not sure if we should lump this together or not, but we should also review our server log messages & levels. It would be nice for info-level server logging to have a consistent level of information across all controllers.

[2018-06-14 14:45] rosskukulinski commented on #445
So if I understand this correctly, if I have a StatefulSet as defined here:

[code]

Doing an `ark backup --selector foo:bar` will backup the StatefulSet, but not the Pods that the controller is managing.  This is because the Pods will only have a label app:nginx (plus whatever the ReplicaSet injects).

Correct so far?

While I could see someone thinking this is counter-intuitive, I’m inclined to

[2018-06-14 17:21] jonesg504 commented on #507
Is there a temporary fix for this problem? Besides dumping all logs that are below ERROR?

[2018-06-14 17:22] ncdc commented on #507
We'll get a fix in for v0.9.0 to switch to stdout.

[2018-06-14 17:29] jonesg504 commented on #507
Thanks!

[2018-06-14 19:56] ncdc commented on #507
Fix is in #553

[2018-06-14 20:23] rosskukulinski opened #554 "Broken docs link from main readme"
Page: https://heptio.github.io/ark/v0.8.1/

Any docs links that are relative seem to 404:

![image](https://user-images.githubusercontent.com/2746479/41436157-cedd93ea-6fee-11e8-9d0c-2d095cf27ac1.png)

* https://heptio.github.io/docs/cloud-common.md
* https://heptio.github.io/docs/build-from-scratch.md
* https://heptio.github.io/docs/debugging-restores.md
* and more!

[2018-06-15 07:08] pms1969 opened #556 "Cross Cluster Backup and Restore problem with Rook PVs"
Following on from the conversation on slack ([here](https://kubernetes.slack.com/archives/C6VCGP4MT/p1528970160000010), [here](https://kubernetes.slack.com/archives/C6VCGP4MT/p1528991008000695), [here](https://kubernetes.slack.com/archives/C6VCGP4MT/p1528996413000638) and [here](https://kubernetes.slack.com/archives/C6VCGP4MT/p1528999063000291));

The 10k foot view is that I have a cluster with Ro

[2018-06-15 15:58] #507 closed

[2018-06-15 16:46] #130 closed

[2018-06-15 17:01] rosskukulinski commented on #445
After taking with @ncdc a bit more, I don't see why Ark shouldn't be backing up Pods created by controllers (assuming labels match accordingly).

We just need to make sure that the Pods are restored prior to the controllers so that they are adopted correctly.

[2018-06-15 17:02] rosskukulinski commented on #445
https://github.com/heptio/ark/blob/845c9cfa6181382ff27a5777a0559eacc9f152ab/pkg/restore/restore.go#L622-L628 for reference

[2018-06-15 17:07] rosskukulinski commented on #440
@skriss a question regarding this issue and your PR #443:

* Do we select the most recent backup or only the most recent successful backup?  What if there are none [no backups and/or no successful]

And @marpaia:

* Do you think we need improve the CLI documentation to be more explicit that the `--from-backup` command is accepting a backup name and not a schedule name?

[2018-06-15 17:13] skriss commented on #440
It's been awhile since I've touched that one, but looks like checking for existence/success needs to be added. The functionality will need to move behind the API as well.

[2018-06-15 17:13] rosskukulinski commented on #434
It might be get to get @mattmoyer's thoughts on this as I don't fully understand the chain of trust using KMS and the impact on Ark & security.  How does something like [vault](https://github.com/hashicorp/vault) or [sealed-secrets](https://github.com/bitnami-labs/sealed-secrets) play into this?

We should also look at the other major cloud providers (and any bare-metal equivalents) to make sure t

[2018-06-15 17:15] marpaia commented on #440
@rosskukulinski personally, I think the CLI UX is sufficient as long as the new `--from-schedule` option is documented similarly to how `--from-backup` option is documented now. I'll admit that it was at first surprising to me that I couldn't restore "the latest backup" but that's mostly because of my perceived utility of such a feature, not necessarily because of how it was documented.

[2018-06-15 17:18] rosskukulinski commented on #440
Great! Thanks for the feedback @marpaia.

@skriss I put this in the v1.0.0 milestone and we can figure out when to slot this in amongst the other work we're planning.

[2018-06-15 17:30] rosskukulinski opened #558 "Add documentation describing which volume types are supported"
Kubernetes has an [extensive list](https://kubernetes.io/docs/concepts/storage/volumes/#types-of-volumes) of volumes in-tree.  The Ark documentation should include a list/table showing which volume types are supported directly, via restic, via 3rd party plugins, etc.

This will help new users evaluate the options they have for their clusters.

[2018-06-15 17:31] rosskukulinski commented on #558
@ncdc how does CSI / FlexVolume impact our support for the various volumes?

[2018-06-15 17:34] rosskukulinski commented on #404
Can you combine a negative selector with a positive selector in the same string?

If you can, then I don't see a need for a new CLI flag now that docs were updated in #501 and #518. If not, then yes, we should add a new flag.

We'll need to make sure the interaction between --selector and --not-selector work in an expected way with #445.

[2018-06-15 17:46] rosskukulinski commented on #396
I think we should be careful about dumping too much information into the output of the `describe` command.  I might propose spinning out a new CLI command, `inspect`, that allows the user to see the contents of a particular backup.

[2018-06-15 17:48] rosskukulinski commented on #379
“Managed Service Identity (MSI) is a public preview feature of Azure Active Directory.” -- What’s the Azure roadmap to launch this beyond a preview feature?  Is this similar to how GKE can provide API credential access to specific features (storage, dns, etc) to clusters?

[2018-06-15 17:51] rosskukulinski commented on #373
If we're going to support wildcards, should we go so far as to support proper Regex?

[2018-06-15 17:52] rosskukulinski commented on #357
Can there be more than one Ark controller deployed within a cluster?  If so, how would the Ark client know whether the server is configured for restoreOnlyMode?

[2018-06-15 17:57] rosskukulinski commented on #354
Ref #448

This is tricky, because NodePort can be defined by the user, or can be selected by kube-controller-manager at creation time.  IMO, if kube-controller-manager picked the NodePort, then let that process happen again.  If the user specified it, then we probably need a remap mechanism.  I don’t believe this information is actually available to Ark after the fact.

This is a big-impact issue

[2018-06-15 17:58] rosskukulinski commented on #337
I'm not sure I understand why this is a helpful feature.  Do we provide (or plan to provide) any guarantees about the formatting/structure of backup files?  Should end-users be interacting with the raw contents of a backup?

[2018-06-15 18:02] rosskukulinski commented on #329
My recommendation would be to fail gently.  `compute.projects.get` is not essential for normal functionality of Ark.  We can log a warning that we were unable to get the list of projects to verify the project exists, but continue on our merry way.

[2018-06-17 20:03] rosskukulinski commented on #357
@jrnt30 Thanks for the additional detail and sorry for any confusion - my comment around multi-controllers was more forward thinking around solution options.

I 100% agree that the Ark provide some UX behavior to prevent attempting a backup when the server is in `restoreOnlyMode`.

[2018-06-17 20:19] rosskukulinski commented on #317
Hi @jacobstr - the use-case you're describing makes sense.  Do you have additional details around how PV/PVCs tend to be provisioned in your environments?

I'm wondering whether the existing --selector flag (with or without [negation](https://github.com/heptio/ark/pull/501)) or maybe a [--ignore-selector](https://github.com/heptio/ark/issues/404) would be sufficient for these uses.

Teams could la

[2018-06-17 20:28] rosskukulinski commented on #286
My read on this would be that this is an internal or developer focused improvement.  Would this add any value for end-users?

[2018-06-17 20:29] rosskukulinski commented on #286
I'd also like to raise a discussion on prioritization for this. @ncdc I see you made it P1 - would love to know more, or we can discuss in the context of the larger 1.0 roadmap planning.

[2018-06-17 20:32] rosskukulinski commented on #281
`Failed` is a very strong word in application logs, and I can understand why @robbyt raised this issue.

Marking as a Bug and adding to v1.0.0 milestone for prioritization and scheduling.

[2018-06-17 20:35] rosskukulinski commented on #262
This falls under the performance improvement category.  Until we have better metrics (#531) to understand the performance of Ark on larger clusters, I recommend reprioritizing this effort.

That said, it could be interesting to test Ark against some of the large Gimbal clusters that are being used for performance testing. [cc: @alexbrand ]

[2018-06-17 20:38] rosskukulinski commented on #257
The helm chart PR was merged, so I'm going to mark this as closed.

That said, it's important to note that the Helm chart is a community contribution.  I would expect that the Ark project will rally around an `ark install` command (#52) as the recommended way for installation.

[2018-06-17 20:38] #257 closed

[2018-06-17 20:39] rosskukulinski commented on #52
This would be a great usability improvement I think, especially if we have a `--dry-run -o yaml` option that can be used to spit out files to be checked into CI/CD.

[2018-06-17 20:41] rosskukulinski commented on #251
Yes! Simple is best here.

I think the key flag here is the “Pin / Unpin” action.  Pinning a backup should apply a label to the backup, such that a replication policy can be configured to match pinned backups.

Specifying a ttl of 0 automatically sets the Pin flag

Changing a backup’s expiration after it’s been created feels like a different feature/issue to me.

[2018-06-17 20:49] rosskukulinski commented on #233
Yes! This is a very helpful/important feature to integrate Ark into CI/CD or other automation workflows.

As a user, I would like to take a backup of my cluster before deploying a feature/config/etc.  If the deployment/change fails, I would like to trigger an Ark restore.  [This may be really helpful for complex deploys that may trigger db migrations, configmap/secret changes, etc, that are not co

[2018-06-18 05:51] domcar opened #560 "Support for vmware"
Hello,

i was wondering if there is the possibility to use Ark with a local K8S cluster (vmware) or if you guys are planning to add this possibility in the future. It would be especially interesting the possibility to make snapshots of k8s volumes.

Thanks
Domenico

[2018-06-18 11:13] bhack commented on #257
It is merged alrea in stable (`chart/stable`)  so I suppose that many users will start to use that directly. I suggest to don't let the chart to be a "2nd class" deployment.

[2018-06-18 14:27] nrb commented on #286
Currently, end users asking for help have to look in the 3 locations specified to see the full picture of what happened if a backup or restore didn't work as expected, so I'd say it does have end user impact.

[2018-06-18 16:07] jbeda commented on #404
Sorry for not responding here earlier.  Happy to hop on a call at some point and brainstorm ideas.

I think that it might be worthwhile to have an ordered list of things that are included or not.  This mirrors some of the config/options for file system systems -- I'd look at rsync or find for ideas.

[2018-06-18 16:09] jbeda commented on #408
Agree with Ross -- I think that there should be a way to say "include all related resources" when specifying certain things.  Right now that is volumes but there might be other things in the future.  Not capturing non-PVC referenced PVs seems like a missing feature/bug.

[2018-06-18 16:13] jbeda commented on #354
This is tricky but i think there is a generally accepted way here.  There are a set of annotations that list the *specified* state of the resource.  `kubectl apply` uses these.  From here you can figure out user intent.  it isn't 100% guaranteed to work but it is something that we can document.

I'd say:
1. If the annotation is there and the user specified the node port then keep that specificatio

[2018-06-18 18:52] rosskukulinski commented on #354
WFM +1

Perhaps #474 could help in terms of generic munging policy down the road.

[2018-06-18 19:37] rosskukulinski commented on #286
Ah - I understand now. Thanks @nrb. So I'm lumping this under UX / debuggability.

Related to #305

[2018-06-18 19:40] rosskukulinski commented on #560
Hi @domcar.  Ark is not restricted to only cloud providers - it also works on local/on-prem clusters, though it depends on the storage provider for Persistent Volume snapshots.

What storage system are you using with vmware?

[2018-06-19 14:52] ncdc commented on #505
Yes, any time when you'd want to coordinate an atomic point-in-time snapshot of multiple volumes.

[2018-06-19 14:54] ncdc commented on #492
I'm not sure if #155 will help here when we create the DeleteBackupRequest. My gut says it probably will, but we'll have to try it.

+1 to using this issue for `logs` validation.

[2018-06-19 14:58] ncdc commented on #556
@skriss could you please assist?

[2018-06-19 15:01] ncdc commented on #445
This is already accounted for.

@skriss wdyt? We'll want to do a sanity check, but the various controllers should all be able to adopt the pods we restore.

[2018-06-19 15:02] ncdc commented on #434
Agreed, @mattmoyer let us know if you have some time to discuss

[2018-06-19 15:06] ncdc commented on #558
@rosskukulinski it won't have any immediate impact, as Ark uses its own mechanisms for doing volume snapshots and restores. If the volume snapshotting work that's currently in kubernetes incubation ends up moving to kubernetes/kubernetes core, we'll need to consider if/how to integrate with that.

[2018-06-19 15:09] ncdc commented on #396
I like the idea of `inspect`, or we could add a flag to `describe` to show it.

[2018-06-19 15:14] ncdc commented on #373
I think basic `*` wildcard matching will be a lot easier for users to use

[2018-06-19 15:18] ncdc commented on #337
This was originally something that @kris-nova asked about.

I would like for us to offer guarantees around the format of backup tarballs. We have a backup version field that we set, and in the event we need to modify the format, I would expect us to increment this value, and have code that is backwards compatible to older format versions (with some sort of EOL).

We also offer `ark backup download

[2018-06-19 15:18] ncdc commented on #329
SGTM

[2018-06-19 15:23] ncdc commented on #357
If someone scales the ark deployment to 2 or more replicas, there would be multiple controllers.

FYI my plan for `restoreOnlyMode` is to move it from the `Config` to the `BackupTarget` (name TBD), but we'll still have the same issue. We can have `ark backup create` fail if it can detect that restore-only mode is in effect. We must also add logic to the server to set the backup's status to `Failed

[2018-06-19 15:42] ncdc commented on #317
@rosskukulinski I don't think the existing selector flag sounds sufficient for this use case. It sounds like there needs to be an additional flag that selects just PVCs/PVs.

[2018-06-19 15:44] ncdc commented on #305
@rosskukulinski the `status` field is currently supported; with k8s 1.11 we gain the ability to use the `/status` subresource in the http request.

[2018-06-19 15:47] ncdc commented on #233
@rosskukulinski there's 1 or 2 minor things I'd want to change, but otherwise, it's basically ready to go. I'd also want to do something similar for `ark restore create` and maybe even `ark backup delete`.

[2018-06-19 15:51] skriss commented on #556
@pms1969 could you provide the output of `ark restore logs prod-tools4-20180615165209`? Thanks!

[2018-06-19 15:53] ncdc commented on #404
@jbeda could you expand a bit - do you have any examples?

@rosskukulinski this looks similar to #317

[2018-06-19 15:54] skriss commented on #445
Don't see anything wrong with this in theory, but agree we should do some testing.

[2018-06-19 15:57] ncdc commented on #408
So we're all on the same page, we are able to snapshot PVs that aren't necessarily bound to a PVC. What we don't currently support is a volume specified directly on the pod, such as `pod.spec.volumes[i].awsElasticBlockStore`. We'll have to brainstorm how to support this (data model issue).

[2018-06-19 17:34] RochesterinNYC commented on #84
Tried out the `v0.9.0-alpha.2` Ark with the Prom metrics endpoint support added in https://github.com/heptio/ark/pull/531 (getting the metrics at `:8085/metrics` works like a charm).

However, with the above metric list/metrics in place now, as the `ark_backup_failure_total` counter metric is a total, we're not sure how to actually do alerting on this type of metric/the available metrics for faile

[2018-06-19 17:49] jrnt30 commented on #84
You could use the `delta` or `rate` as a way of evaluating how that number
has changed over time.

On Tue, Jun 19, 2018 at 12:34 PM James Wen <notifications@github.com> wrote:

[2018-06-19 17:53] RochesterinNYC commented on #84
@jrnt30 are you referring to the `rate` and `delta` functions in the context of Prometheus? We're unfortunately not using Prometheus. We have an in-house metrics system and we're writing integration scripts/daemons that poll Prometheus metrics endpoints for various components in our clusters and sends/writes those metrics to that in-house metrics system.

It sounds like with the Prometheus metrics

[2018-06-19 17:58] jrnt30 commented on #84
That is true, yes.  Typically with counters in Prometheus they only go up
and the query is then responsible for analyzing the "impact" of that.
`rate` and `delta` are two ways of assessing "has this thing changed in my
time window" or "what is the rate at which this has changed".

Something similar would be able to be done with your in-house tooling, but
can I understand how, without this context,

[2018-06-19 18:05] RochesterinNYC commented on #84
Yup, that makes sense. With our lack of Prometheus and unwillingness to add all this rate/delta calculation logic into the metrics middle layer (between Prom endpoints and our in-house system), we're probably going to try to emit metrics for "time-since-last-backup" by looking at the GCS bucket backing the Ark backups.

[2018-06-19 18:16] jrnt30 commented on #84
That is one way of doing it for sure.  Another approach which I tool while
this was being ironed out was writing a small utility that used the Backup
CRDs in the cluster itself to determine what the state should be
considered.

A word of caution that we ran into is that if you don't have an indicator
of what it was the last time you checked then you won't have a good handle
on what the new number

[2018-06-19 20:47] ashish-amarnath commented on #84
So the ideal way to set this up is to do aggregation, think `rate` in prometheus land, and use a look back window. Here is an example of how to setup your alerts
[code]

[2018-06-20 00:55] rosskukulinski commented on #155
From #492:

We should test whether JSON schema validation will help when creating `DeleteBackupRequest` objects.  Ark CLI should return a helpful error message when trying to create objects with invalid names.

e.g.

[code]

If the validation does not, then we need to create a separate issue to add that capability.

[2018-06-20 01:13] rosskukulinski commented on #337
@ncdc I'm ok with this, but do worry that this increases the scope we have to worry about regarding versioning & compatibility.  We would need to lock this in prior to cutting a 1.0

[2018-06-20 01:17] rosskukulinski commented on #233
+1 for consistency for having `--wait` across commands.

[2018-06-20 10:57] pmquang opened #562 "Setup ark using role on AWS"
Hi,

Im setting up heptio ark on K8S using role on AWS.

It's fine for ark deployment but minio:

$ kubectl logs --tail 100 minio-setup-t25t2 -n heptio-ark

mc: <ERROR> Unable to initialize new config from the provided credentials. The request signature we calculated does not match the signature you provided. Check your key and signing method.

Anyone knows how to add support role for minio ?

Reg

[2018-06-20 11:16] ncdc commented on #562
Did you use our example yaml to deploy minio, or did you change anything?

On Wed, Jun 20, 2018 at 6:58 AM RAI <notifications@github.com> wrote:

[2018-06-20 13:31] ncdc commented on #337
I don't think this adds too much complexity, but if it becomes too much of a burden, we can punt on it.

[2018-06-20 14:03] nrb commented on #373
To clarify a bit further, are you thinking of a single wildcard (`*`) and not wild card completion? (`mynames*`)?

[2018-06-20 14:08] ncdc commented on #373
Right, `*.acme.com`, `foo*bar`, `foo*bar*baz.acme.com`, etc.

[2018-06-21 03:31] pmquang commented on #562
I used the example yaml and remove lines of AWS key to deploy minio:

---
apiVersion: v1
kind: Secret
metadata:
  namespace: heptio-ark
  name: cloud-credentials
  labels:
    component: minio
stringData:
  cloud: |
    [default]
    aws_access_key_id = xxx
    aws_secret_access_key = xxx

These lines above were removed.

[2018-06-21 06:16] domcar commented on #560
Hi @rosskukulinski Can you help me understand how ark works on-prem? Unfortunately I can't see any documentation about it.
For example for `backupStorageProvider/name` the doc says `Ark natively supports aws, gcp, and azure. Other providers may be available via external plugins.` (Regardless of PV snapshots)

[2018-06-21 10:46] rosskukulinski commented on #560
hi @domcar.  Ark's backup & restore model covers two types of data:

* Kubernetes API Objects (e.g. what's running in your cluster -- Pods, Services, Secrets, etc.)
* Block Storage (e.g. Persistent Volume) data

The Kubernetes API Objects are stored in a an Object Storage system (like Amazon S3, or Minio for on-prem).

As for block storage, Ark supports Amazon EBS, Azure Managed Disks, and Google

[2018-06-21 11:13] ncdc commented on #556
Are any of the volumes you're trying to back up with restic hostPath?

On Thu, Jun 21, 2018 at 5:25 AM Paul Saunders <notifications@github.com>
wrote:

[2018-06-21 11:57] pms1969 commented on #556
@ncdc not sure what that means :(

There are a few, but the one in question is created via the [mongodb helm chart](https://github.com/kubernetes/charts/tree/master/stable/mongodb)

[2018-06-21 13:30] ncdc commented on #556
Ok, so the volumes you'd specified in the `backup.ark.heptio.com/backup-volumes` pod annotation are all Rook PVCs?

[2018-06-21 13:50] ncdc commented on #562
It looks like the minio server only supports a single access key and secret (https://github.com/minio/minio/issues/5305).

[2018-06-21 15:07] ncdc opened #565 "Add support for client-go exec auth plugins"
To support a kubeconfig with a user such as
[code]

[2018-06-21 15:08] ncdc commented on #565
Note, the `client.authentication.k8s.io` API group is alpha prior to Kubernetes v1.11 and it is beta in v1.11.

[2018-06-21 15:13] ncdc commented on #565
Whoops, this was added in #417.

[2018-06-21 15:13] #565 closed

[2018-06-21 15:16] pms1969 commented on #556
Yes

[2018-06-21 18:35] skriss commented on #556
@pms1969 I was able to reproduce this issue and I see what the problem is.  During restore, Ark is not properly waiting for the PV/PVC to be created and mounted before attempting to restore the contents of the volume using restic. I'll start working on a fix for this and hope to get it out to you ASAP.  Thanks for testing and reporting!!

[2018-06-21 21:08] trondhindenes opened #567 "Restic integration errors out"
I'm trying to get restic up and running but it keeps failing. My ark config looks like this:
[code]
(btw _please_ provide yaml files instead of fancy kubectl/jq commands to configure the required settings. While those are super-impressive, yaml is easier to read and understand. I have no idea what most of the commands in the restic documentation do, which makes it very hard to follow.

Here's the

[2018-06-21 21:21] skriss commented on #567
Hi @trondhindenes, thanks for testing out the alpha and reporting this.

We will have full YAML sample files for GA, but as of the initial alpha those were still in-flight. Apologies.

When you set up the bucket for restic, did you go through the IAM setup instructions as per https://github.com/heptio/ark/blob/master/docs/aws-config.md#create-iam-user, Step #2? One thing to note here is that I *th

[2018-06-21 21:46] trondhindenes commented on #567
I just added the "restic bucket" to the ark policy, it reads like this:
[code]
should be a totally valid iam policy. I've verified that I can upload files to the restic bucket using the ark iam user, so everything should be good on the aws/iam side of things.

That said I totally understand that it's early and that I might have to wait a bit before documentation is finalized, so no worries :-)

[2018-06-21 21:50] skriss commented on #567
OK, thanks - let me look into this a bit more and I'll get back to you.  You shouldn't have to specify a region, as restic does a region lookup on your bucket.

[2018-06-21 21:51] trondhindenes commented on #567
Thanks!

Hm, maybe I can sneak the correct s3 endpoint in there using something like `s3.eu-west-1.amazonaws.com/<bucketname>` in the config. Looks like restic itself just expects a parseable s3-comptatible hostname (looking at their docs). I'll try that tomorrow.

[2018-06-21 21:53] trondhindenes commented on #567
oh, if restic does region lookups it probably needs a full ListBuckets:* permission, which isn't the case if I just duplicate the ark s3 setup.

[2018-06-21 21:56] ncdc commented on #567
From what I recall, region lookups don’t use credentials and don’t require
permissions.

On Thu, Jun 21, 2018 at 5:53 PM Trond Hindenes <notifications@github.com>
wrote:

[2018-06-21 22:00] trondhindenes commented on #567
Everything worked fine after adding:
[code]
(not sure both are needed)

[2018-06-21 22:02] trondhindenes opened #568 "The "backup.ark.heptio.com/backup-volumes" setting for restic is unclear"
Not sure if this should point to the name of a pvc, the name of a volume, or the name of the mounted path inside the pod. Would be awesome to get that clarified

[2018-06-21 22:05] trondhindenes commented on #568
It would be great to get better logging of what ark expected to find, and what it didn't find. If there's an expected metadata annotation that is missing maybe log that out aswell. Reading the statement below its still not clear to me where the error is.
[code]

[2018-06-22 00:10] skriss commented on #568
Good feedback. FYI this should be a comma-separated list of volume names.

[2018-06-22 06:43] pms1969 commented on #556
@skriss no, no..  Thank you.

[2018-06-22 07:58] trondhindenes commented on #567
yup, the header is there.

[2018-06-22 08:50] domcar commented on #560
Thanks, i'll have a look at the 0.9 version of ark. I'll close this issue

[2018-06-22 10:20] trondhindenes opened #572 "Restic restore fails for dynamically provisioned EFS volume"
After having successfully performed a restic-integrated backup, and deleting the backed-up namespace, restoring the same fails. The output from the restic pod on the host shows:
[code]

Here's the full manifest of the backed up item (this was the only stuff living in the backed-up namespace):
[code]

[2018-06-22 10:21] ncdc commented on #572
I have a feeling this will be fixed by #569

[2018-06-22 10:34] trondhindenes commented on #572
ah, gotcha. Testing.

[2018-06-22 10:40] trondhindenes commented on #572
Hm, still not good. I'm using the "efs-provisioner" (https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs) to mount EFS-based volumes with pods.

Just thinking out load: When I deleted the namespace (which contained the pvc), efs-provisioner essentially deletes that pvc dir inside the EFS. When I perform a restore, it's unclear to me what happens when ark recreates that pvc

[2018-06-22 10:41] trondhindenes commented on #572
log from the to-be-restored pod:
[code]

[2018-06-22 10:42] ncdc commented on #572
Ok, must be a different root cause. I'll be back online around 9:30am EDT and we can chat more if you'd like.

[2018-06-22 10:46] trondhindenes commented on #572
thanks!

[2018-06-22 11:21] trondhindenes commented on #572
Hm, I'm not able to make it take a backup if I do more granular filtering. It's not clear to me how ark behaves i i include a deployment, but exclude the pvc used by a pod in a deployment. It's also not very easy to see the list of resources (objects) contained in a backup :thinking:

[2018-06-22 12:59] ncdc commented on #572
@trondhindenes I have a theory for why the restore fails. I'm going to spin up a test cluster to try it out.

When backing up, Ark currently automatically includes all PVCs referenced by a pod, as well as all PVs referenced by PVCs (regardless of the excluded resources setting). We may need to consider adjusting this behavior.

We have a couple of open issues related to seeing what's in a backup:

[2018-06-22 16:05] trondhindenes commented on #572
sweet, thanks! I wanted to verify that my selector had "hit" the pod but not the pvc but couldn't find an easy way to do that. Downloading the tar works as a workaround. I would definetely be interested in a backup-scoped view of "what's in the backup".

[2018-06-22 16:56] trondhindenes commented on #572
I guess the expected behavior at restore would be to create the pvc, and then let Kubernetes' control loop "satisfy" that with a pv, which would then be mounted and restored using the restic integration.

That said, a volume can also be "static" (eg not created to respond to a pvc) so there's definetely some complexity in getting the backup restore right. Personally I wouldn't mind if there truckl

[2018-06-22 17:01] ncdc commented on #572
Yes, the issue here is what I thought - Ark recreates the PV from the backup, which points at the path in the NFS (EFS) server that no longer exists (due to it being deleted when the PVC was deleted). We'll see what we can come up with.

[2018-06-22 17:36] ncdc opened #574 "Create helper function to patch things"
Replace all the individual patchXYZ functions with a single helper

[2018-06-22 18:19] trondhindenes commented on #572
imho a suitable logic would be:
- if pod has volume(s), grab the list of volume (but controllable by a flag)
- if volume is created based on a pvc, backup only the pvc object, not the pv (but controllable by a flag)

I haven't worked with that many other volume "drivers" but backing up/restoring a pvc-created pv object kinda never seems like a good idea to me, as there's a big chance of doing thin

[2018-06-22 18:30] ncdc commented on #572
My plan is to skip restoring a PV if the following 2 things are true:

1. We don't have a block storage snapshot for it
1. Its reclaim policy is Delete

[2018-06-22 18:44] trondhindenes commented on #572
yup that makes sense. I have to admit I haven't worked with EBS-based volumes.

[2018-06-22 19:02] ncdc opened #575 "Find a way to share state between plugins"
We have a lot of logic in `pkg/restore/restore.go` that is specific to certain resource types, such as PVCs and PVs. This is better suited in individual restore item actions, but because we need to share state across multiple types of resources (e.g. if we see something in PV X it means we need to modify PVC Y), we have it in `restore.go` with the shared state as a field on the `context`.

One pos

[2018-06-22 20:59] #567 closed

[2018-06-23 19:22] ncdc commented on #562
@pmquang did my answer make sense? Do you need any further assistance?

[2018-06-24 17:32] rosskukulinski commented on #193
+1 for adding concrete implementations for AWS, Minio, Ceph, etc.  I would think this *would* also help improve the documentation & testability of each component.

This WOULD be breaking API change, so might want to do this prior to 1.0

[2018-06-24 17:37] rosskukulinski commented on #192
Following up on this: I think this is a critical feature.  Key use-case is enabling duplication of namespaces within the same cluster.

This should not be done automatically [for cross-cluster restores or for DR, should keep the PV names the same].

Suggestion: `--unique-pv`.  If there are other features/flags required to enable expected behavior for namespace duplication, we can create a short-co

[2018-06-24 17:39] rosskukulinski commented on #167
I recommend default `subPath` value is `/` which will use the top-level directory of the storage bucket.

We should not assume `subpaths` exist, so we should create the complete path, `mkdir -p`, if it doesn't exist.

[2018-06-24 17:50] rosskukulinski commented on #138
This is related to #251.  I'm leaning towards recommend defaulting to `0` which means that the backup is 'pinned', or to the default value that `ark backup create` uses.

[2018-06-24 17:53] rosskukulinski commented on #134
This will be helpful in the future when we're upgrading from older versions of backups that we need to translate.

[2018-06-24 17:54] rosskukulinski commented on #131
Internal development enhancement, but this is P1 because right now we have backup and restore logic split in 2 different packages. In addition, if anyone wants to vendor ark to do backups/restores, it's not pretty. We want a self-contained package for each.

[2018-06-24 17:54] rosskukulinski commented on #121
What value would this provide?  Ark probably isn’t being used in situations where tracing would be valuable.

[2018-06-24 17:55] rosskukulinski commented on #109
This likely would help improve the Ark performance for larger clusters.

[2018-06-24 17:58] rosskukulinski commented on #109
This should be a metric that is exposed by #84.  Users should be able to know the maximum values for qps and burst (gauge), the current value (gauge), the number of times a request has throttled (counter).

[2018-06-24 18:03] rosskukulinski commented on #104
`As a user with two clusters sharing a storage backend, I would like to see backups taken from one cluster quickly appear on the other cluster.`

Right now, the ark backup sync period defaults to 30 minutes.  If you create a backup using ClusterA, it may take up to 30 minutes for the Backup to appear in ClusterB.

@ncdc what do you think about `ark backup (get|describe) --force-sync` rather than a

[2018-06-24 18:13] rosskukulinski commented on #103
For reference, [this](https://docs.google.com/document/d/1hFl8MPFWM3JVwS-e5PlmBzROgvNPfZRnllm6Ts04Y4Q/edit) is the current Ark Backup Replication design.

[2018-06-24 18:15] pmquang commented on #562
Yes, thank you :)

[2018-06-24 18:18] rosskukulinski commented on #97
I agree with @jbeda - lots of more important things to tackle in the coming months.

[2018-06-24 18:20] rosskukulinski commented on #94
We should do this pre-1.0 and have some metrics for cluster-size and impact on CPU/Memory.

[2018-06-24 18:21] rosskukulinski commented on #85
Lower priority - really only will matter unless we identify a memory leak or are looking to improve the performance of Ark for large clusters.  Refs #94

[2018-06-24 18:28] rosskukulinski commented on #80
This should probably be done around the same time as #192.  Both relate to cloning a namespace within a cluster.

[2018-06-24 18:32] rosskukulinski commented on #461
Is this now resolved @asenchi / @ncdc ?

[2018-06-24 18:33] rosskukulinski commented on #466
@Bradamant3 are there any current action items for this?

[2018-06-24 18:53] ncdc commented on #461
Yes, can close

On Sun, Jun 24, 2018 at 2:32 PM Ross Kukulinski <notifications@github.com>
wrote:

[2018-06-24 22:56] rosskukulinski commented on #539
@ncdc - I'm a little confused -- [00-ark-config.yaml](https://github.com/heptio/ark/blob/master/examples/aws/00-ark-config.yaml) doesn't have any impact on how often or how many backups/snapshots are taken, right?  That would actually be controlled by defining a backup schedule.  Out of the box, Ark doesn't start taking snapshots by default.

[2018-06-24 22:57] rosskukulinski commented on #538
Related to #103 and the Backup/SnapShot Target APIs.

[2018-06-24 22:59] rosskukulinski commented on #527
On Andy's 1.0 proposed punch list.

[2018-06-24 23:00] rosskukulinski commented on #493
Closing as duplicate of #308.

[2018-06-24 23:00] #493 closed

[2018-06-24 23:05] rosskukulinski commented on #481
References #94 regarding cpu/memory limits.  PR #495 in-flight which should resolve this issue.

[2018-06-24 23:05] #461 closed

[2018-06-24 23:10] rosskukulinski commented on #568
@skriss Marking this against the v0.9.0 milestone, let me know if that doesn't feel right to you.

Two action items I think:

* Improve log output to aid debuggability
* Improve [documentation](https://github.com/heptio/ark/blob/master/docs/restic.md#run) for the field and/or provide a Deployment manifest which has the inline annotation.

[2018-06-24 23:11] rosskukulinski commented on #556
@skriss adding to the v0.9.0 milestone, please let me know if that doesn't seem right to you.

[2018-06-24 23:15] rosskukulinski commented on #574
@ncdc priority? 1.0 milestone? Is this a good issue for new developers?

[2018-06-24 23:19] rosskukulinski commented on #572
@ncdc What's your thinking for `(2) Its reclaim policy is Delete?`  I'm wondering if explicit CLI option(s) would be better.

[2018-06-24 23:29] rosskukulinski commented on #562
Closing as question answered - please feel free to comment if you think I've been over zealous

[2018-06-24 23:29] #562 closed

[2018-06-24 23:33] rosskukulinski commented on #158
@ncdc this wasn't on your 1.0 punchlist. Essential tech-debt paydown?  Good first issue for a new developer?

[2018-06-24 23:36] rosskukulinski commented on #197
@skriss you're referring to [this page](https://heptio.github.io/ark/v0.8.1/config-definition)?  If so I agree -- the table is also in need of some TLC - in particular the right column depending on how wide the window is.

Recommend doing this effort in parallel to #103 which will introduce BackupTargets.

[2018-06-24 23:39] rosskukulinski opened #576 "Enable sharing bucket between Ark and Restic"
Right now Restic requires a separate bucket to be created with identical credentials as the main Ark server bucket.

For many users, having a separate bucket only makes the configuration & installation more complex.  Ark should allow sharing a bucket with Restic.

This would require creating root/parent-level directories to distinguish between backups and restic backup.  This would be a breaking c

[2018-06-24 23:51] ncdc commented on #158
I want to clean up pkg/restore. It's not strictly required for 1.0 as it's
all internal stuff. It would not be a good first issue.

On Sun, Jun 24, 2018 at 7:33 PM Ross Kukulinski <notifications@github.com>
wrote:

[2018-06-24 23:56] ncdc commented on #572
Yes, both true. If it's a dynamically provisioned PV with a reclaim policy of Delete (the default) and Ark didn't take a block snapshot, then there's no way that having Ark recreate the PV will be useful:

1. If the PV is still in the cluster, then when Ark tries to restore it, it will get an already-exists error, and it will be a no-op. There's no data loss because it's still there. We can't rest

[2018-06-25 00:08] rosskukulinski commented on #572
Ok! I now understand.  👍

[2018-06-25 00:08] rosskukulinski commented on #572
Putting this against v0.9.0, let me know if that doesn't make sense.

[2018-06-25 00:17] rosskukulinski opened #577 "Streamline Ark Restic setup"
Following up on a [discussion](https://groups.google.com/forum/#!topic/heptio-ark/6JljWGzTc0c) this week regarding the security and user experience of the new Restic backup process, we are planning the following changes before releasing 0.9:

* Ark will automatically manage Restic repositories without requiring any user involvement (other than configuring the bucket for Restic in the Ark config)
*

[2018-06-25 03:07] rosskukulinski opened #578 "RFE: ark bug command"
Inspired by the [traefik bug](https://docs.traefik.io/basics/#command-bug) command, it would be great to have an `ark bug` command that would open a GitHub issue with pre-populated environment details.

For reference, I recommend watching [this youtube video](https://www.youtube.com/watch?v=Lyz62L8m93I) of their command in action.

![screen shot 2018-06-24 at 11 06 31 pm](https://user-images.githu

[2018-06-25 08:36] pmquang opened #579 "ARK backup failed with efs provisioner"
I used efs provisioner for creating PV for PO and ark can not backup PV.

This is yaml file to create nginx with efs pv.
[code]

Log:
[code]

[code]

[2018-06-25 10:58] ncdc commented on #579
This is expected. EFS is an NFS-based file system, and there is no snapshot API available for it. Instead, you'll want to use our new integration with [Restic](https://github.com/heptio/ark/blob/master/docs/restic.md). Note, there is a [bug](#572) that we're currently working to address where you can't restore successfully.

[2018-06-25 11:00] ncdc commented on #579
@rosskukulinski I don't know how we would necessarily do it, but it might be nice to find a way to somehow inform users that their volumes aren't getting backed up, or that they need to use Restic. I know we currently have a log message that you can find after the backup has completed, such as the one in the report above:
[code]
but I wonder if we could make this more visible somehow.

[2018-06-25 11:27] ncdc opened #581 "Add error codes, messages, and maybe stack traces to protobuf response messages"
When we make a call to a gRPC plugin, such as `objectStore.PutObject()`, if the plugin returns an error, it generally gets translated by the gRPC glue code to a gRPC "unknown" error. This makes it impossible, for example, to determine if the plugin returns something like a `NotFound` error unless we parse the error message text. We should switch to using our own error codes and messages for Ark, a

[2018-06-25 11:27] ncdc commented on #581
This would help fix #308

[2018-06-25 11:29] ncdc opened #582 "Decide on final names for plugins"
BlockStore might be overly specific. I think something with "Volume" instead of "Block" in the name would make more sense.

Also decide if we want to rename any of the others.

[2018-06-25 11:31] ncdc opened #583 "Figure out how to handle possible plugin naming collisions"
If 2 plugins both provide a backup item action named "pod", we need to figure out how to handle the collision. Same for all other plugin types. We could potentially require all plugins to have fully-qualified names, such as `ark.heptio.com/aws` instead of just `aws`.

[2018-06-25 11:32] ncdc opened #584 "Define how to enable/disable and configure plugins"
For example, some users might not want to enable the plugins that automatically walk from pod to pvc to pv.

[2018-06-25 11:34] ncdc opened #585 "Remove scheduleSyncPeriod & hard-code to 1 minute"
Users don't need to be able to customize how frequently Ark checks if it's time to create a new backup for a schedule. This needs to be hard-coded to 1 minute.

[2018-06-25 11:35] ncdc opened #586 "Add prioritized resource list for backups"
Similar to restores, backups should be able to process resources in a well-defined order.

[2018-06-25 14:26] ncdc opened #587 "GCE PV getting restored from snapshot but spec.gcePersistentDisk.pdName still has the original PD name"
Reported by a user:

In GKE cluster1, take a backup that includes a PV for a GCE persistent disk.

Keep cluster1 running with the PV bound and in use.

Meanwhile, in GKE cluster2, restore from backup. The restore logs say it created a new persistent disk from the snapshot, but the Kubernetes PersistentVolume still has `spec.gcePersistentDisk.pdName` pointing at the original PD that is attached to

[2018-06-25 14:31] ncdc opened #588 "logSource field in restore logs is always pkg/restore/restore.go:292"
Because we use a helper function (`ctx.infof()`) for restore logs, the `logSource` field has the same line number for almost every log line in a restore log. Once we do #158, this should no longer be an issue.

[2018-06-25 14:46] ncdc opened #589 "Finalize namespace inclusion/exclusion UX"
We currently have `--include-namespaces ns1,ns2,ns3` and `--exclude-namespaces ns4,ns5,ns6` as the means to include and exclude namespaces from a backup and restore. We also have `--selector` as a means to include/exclude across all Kubernetes resources (including namespaces). Let's decide:

1. Should we keep `--include/exclude-namespaces` separate from `--selector`?
1. Should we remove `--include

[2018-06-25 14:47] rosskukulinski commented on #448
I'd like to propose having a backup AND restore `--dry-run` that will capture what resources are to be captured/snapshotted.  Having the backup dry-run would help in situations like #579 where the user isn't sure what will be backed up.

[2018-06-25 14:47] ncdc opened #590 "Finalize resource inclusion/exclusion UX"
We have `--include-resources pods,services,...` and `--exclude-resources events,nodes,...`. Should we keep this, or come up with another (hopefully better) syntax, such as `pods,services,-events,-nodes` to include pods & services and exclude events & nodes?

[2018-06-25 14:49] rosskukulinski commented on #579
@ncdc Good point.  I would hope that #448 for backups would help solve this.  In addition, we could tailor #550 to include a `Pod Volume Backups.Ignored` or `Skipped`.

[2018-06-25 14:52] ncdc opened #591 "If we allow the pod->pvc->pv flow to be disabled, try to find a way to run pre/post snapshot hooks"
If we allow plugins to be disabled (#584), then we'll want to try to find a way to allow the user to run pre/post snapshot hooks. The current mechanism is:

1. Ark starts to process a pod and invokes the pre hook
1. Ark sees the pod has a PVC, so it processes the PVC immediately
1. Ark processes the PVC and finds its associated PV, so it processes the PV immediately
1. Ark process the PV and creat

[2018-06-25 15:02] ncdc opened #592 "Make sure we're backing up the "right" API versions to support upgrades"
For example, if Kubernetes `vX` has API group/versions `abc/v1alpha1`, `abc/v1beta1`, and `abc/v1`, and the next Kubernetes version `vY` drops `abc/v1alpha1`, we shouldn’t be backing up that version.

We currently use the `ServerPreferredResources` from discovery, which returns the version of each API group preferred by the server.

[2018-06-25 15:06] ncdc opened #593 "design for CSI snapshot integration"
There is an external repo, https://github.com/kubernetes-incubator/external-storage/tree/master/snapshot, that aims to add snapshot/restore functionality to Kubernetes. This may eventually be incorporated into https://github.com/kubernetes/kubernetes/ proper. If it does end up moving into k/k, we need to determine how to handle these resources. We'll also need to consider how to replicate them (if

[2018-06-25 15:07] ncdc opened #594 "Restore storageclasses before persistentvolumes and persistentvolumeclaims"
This is necessary so the PVs and PVCs can be created correctly.

[2018-06-25 15:08] ncdc opened #595 "Decide if/how to allow users to change the storageclass of a PVC/PV when restoring"
For example. if the original PV was hdd, and the user wants to switch to ssd. This might be part of the more generic #474.

[2018-06-25 15:12] ncdc opened #596 "Define & document policy for which Kubernetes versions and features we support"
Define & document a policy for which Kubernetes versions and features we support:

1. What is our minimum required Kubernetes version
1. Do we attempt to do graceful degradation for older Kubernetes versions?
    1. json-schema validation
    1. /status subresources for CRDs
    1. CRD field defaulting

[2018-06-25 15:14] ncdc opened #597 "Create a logging interface to use instead of logrus.FieldLogger"
If we do this, we'll modify every place that references a `logrus.FieldLogger` once, replacing it with our interface. Then, if we need to swap out the logging implementation, it will be consolidated to a small set of files, instead of all over the entire repository.

[2018-06-25 15:15] ncdc opened #598 "Allow configuration of log format"
Allow the Ark administrator to configure the log format (text vs json vs ...)

[2018-06-25 15:16] ncdc opened #599 "Verify logrus hooks don't have race conditions"
Check to make sure that multiple goroutines logging messages don't have race conditions, especially with the log location hook.

[2018-06-25 15:18] ncdc opened #600 "Finalize package structure"
For example, move things out of `pkg/cloudprovider` that aren't cloud provider specific. It might make more sense to have `pkg/objectstore` with `aws`, `gcp`, and `azure` subdirectories.

This is a catch-all issue for going over the entire code base.

[2018-06-25 15:30] ncdc opened #601 "Decide if we want to have 1 plugin manager per scope (server, backup, restore) or 1 overall"
In #495 (not yet merged), each "scope" gets its own `plugin.Manager` - the Ark server, each backup, and each restore. This has a higher memory cost if/when we support simultaneous backups or restores (each backup/restore has to load a full set of plugins). Using a unique manager per scope, however, makes it easier to distinguish log messages - we can easily direct logs from an individual backup's

[2018-06-25 15:31] ncdc opened #602 "Finalize protobuf definitions"
Review all protobuf definitions as we move to 1.0. Related: #581

[2018-06-25 15:32] ncdc opened #603 "Finalize DownloadRequest CRD"
Should we continue to use a single DownloadRequest "union" to support downloading different types of files, or should we use 1 CRD per type?

[2018-06-25 15:35] ncdc commented on #104
@rosskukulinski however we do it, it's going to require a new CRD because the `ark` client is going to have to send a request to the server to ask it to sync.

It sounds like you're possibly suggesting the ability to sync a single backup by name? The sync process syncs all backups (we basically get a "directory" listing from object storage), so doing a single backup sync would be new code to add.

[2018-06-25 15:38] ncdc commented on #539
@rosskukulinski you're correct; I hadn't noticed that particular part of the description.

@gianrubio Ark doesn't create any scheduled backups when you install it - you have to do that manually. The default 30 minute `backupSyncPeriod` in the config refers to how often the Ark server should check object storage for backups that might be missing from the Kubernetes API.

Did you create a `schedule`

[2018-06-25 15:40] ncdc commented on #574
@rosskukulinski I'd like to do this eventually, but it's not a strict 1.0 requirement.

[2018-06-25 15:43] ncdc commented on #576
I do think that how we configure backup storage and restic storage will potentially change slightly as we do replication.

We also have #167 which is related

[2018-06-25 15:44] ncdc opened #604 "Make volumes annotated for restic backups take priority over PV snapshots"
If a volume is annotated to be backed up by restic, make sure we don't also take a PV snapshot for it. The restic annotation needs to take priority.

[2018-06-25 15:46] ncdc opened #605 "Make it easy to mark/unmark a volume for restic backup"
The current mechanism to mark a volume for a restic backup is
[code]

It would be nice to make this easier with an `ark` subcommand. We should also make sure we can support various resources that contain pod specs (deployments, statefulsets, replicasets, jobs, replication controllers, pods themselves, ...)

[2018-06-25 15:51] ncdc commented on #448
We need to figure out the technical means to achieve this. Ark is not an aggregated API server, so we don't have the ability for the `ark` client to send an http request to the Ark pod and wait for a response. What we've done so far for "request-response" semantics is to have the `ark` client create a custom resource and wait for it to be updated with the response information.

There is a challeng

[2018-06-25 15:54] rosskukulinski commented on #104
Ah, yes, you're right -- tying the sync command to the (get|describe) might get confusing if the user specifies a label selector.

+1 for separate `sync` command (or alternatively named function)

[2018-06-25 16:34] nrb commented on #587
So far I haven't been able to reproduce this with the [gitlab-omnibus](https://gitlab.com/charts/gitlab-omnibus) chart. I tried a couple methods of backing it up from the original cluster. Note that `default` is the default namespace for gitlab from the chart.

`ark backup create gitlab --exclude-namespaces=heptio-ark,kube-public,kube-system,nginx-example`

and

`ark create backup gitlab-ns-only -

[2018-06-25 18:49] ncdc opened #609 "Restoring: better handling of snapshots/volumes if PV already exists"
If a PV already exists in the cluster, trying to create a volume from the snapshot will succeed, but we won't be able to create the PV. We need better handling of this situation.

[2018-06-25 18:53] ncdc commented on #587
After further discussion, there were already PVs in the target cluster that had the same name as the PVs from the backup. Ark created new PDs from the snapshots, but wasn't able to create PVs in Kubernetes because of the conflicts. We don't have an explanation for why the PVs already existed, but if we get that information, we can reopen and continue investigating.

The investigation did result in

[2018-06-25 18:53] #587 closed

[2018-06-25 20:37] ncdc commented on #109
FYI I don't believe client-go gives us access to throttling information. It's unlikely we'll be able to expose any metrics around throttling unless/until client-go exposes it.

[2018-06-25 20:37] ncdc commented on #109
It currently logs that information using `glog.V(4)`. Can't wait for client-go to have a configurable logger implementation....

[2018-06-25 22:13] skriss commented on #556
@rosskukulinski yes. there were actually a few issues at play here but all should be resolved with the next alpha/beta.

[2018-06-25 23:14] skriss commented on #552
Looks like `RollingUpdate` has been the default since 1.8: https://github.com/kubernetes/kubernetes/commit/27e6ceed88d2aee09c77b7d37c65cadb5ae01071

[2018-06-25 23:32] paulbouwer commented on #379
@ncdc @rosskukulinski @jcrowthe

Managed Service Identity is definitely something we should support in Ark - both from a security and user experience point of view. However, I think we need to start a wider discussion about how best to implement this wrt Ark and the experience we want to deliver to end-users.

**acs-engine (MSI enabled)**

The MSI here has [System assigned identity](https://docs.m

[2018-06-26 00:57] trondhindenes commented on #572
I'd be happy to test a prerelease build in my env

[2018-06-26 01:23] ncdc commented on #572
Ok great. I can get you an image tomorrow morning.

On Mon, Jun 25, 2018 at 8:57 PM Trond Hindenes <notifications@github.com>
wrote:

[2018-06-26 04:37] nikhita commented on #529
@ncdc out of curiosity, with which version of Ark will v1.11 be used?

[2018-06-26 07:18] domcar opened #611 "How to retrieve and restore restic backup"
Hi,

i'm trying the new ark version v0.9.0-alpha.2 and I managed to deploy it successfully. It also looks like restic is backing up files in the bucket.
At this point I would like to "see" the files getting saved on the bucket but these are encrypted, is there a way to get them via ark? Something like `ark restic ls snapshot`
When I initialized the repo with `./ark restic init-repository --namespa

[2018-06-26 09:42] pmquang commented on #579
Hi,

I see restic example yaml used cloud-credentials, but I don't want to use it on production. I just used IAM role instead of. Is there any chance for it ?

[2018-06-26 10:53] ncdc commented on #579
Yes, it works with IAM role credentials. If you have trouble getting it to
work, please let us know.

On Tue, Jun 26, 2018 at 5:42 AM RAI <notifications@github.com> wrote:

[2018-06-26 10:53] ncdc commented on #529
We're still determining our version matches between Ark and Kubernetes - #596

[2018-06-26 10:54] nikhita commented on #529
@ncdc thanks!

[2018-06-26 11:09] ncdc commented on #572
@trondhindenes I just pushed `gcr.io/andy-heptio/ark:restic-efs-test` and `gcr.io/andy-heptio/ark-restic-restore-helper:restic-efs-test`. You should be able to use the same `ark` command line client you currently have. Let me know how it goes!

[2018-06-26 11:21] pmquang commented on #579
I mean in this yaml :

[code]

I will remove all aws cloud-credentials and add annotation to use IAM role ( use kube2iam ). Will it work ?

[2018-06-26 12:50] pms1969 opened #612 "RFE: Pass backup metadata to plugins."
It would be useful if Ark could pass backup metadata to it's plugins.

When working on a plugin, I found myself wanting to store PV shapshots in a similar structure; same bucket heirarchy; as Ark was using.  For me, it just makes sense to house the PV snapshots with the rest of the backup data, but even if I chose to store it in another bucket, I'd like to be able to see what backup generated the