[2020-05-07 08:53] VincenzoDo commented on #2507
I updated both images to the latest version but the problem persists, same errors. Any other suggestions? Is there a place where I can see a more detailed error than:
`stderr=Fatal: invalid id \"47462d79\": no matching ID found\n: unable to find summary in restic backup command output"`

[2020-05-07 12:24] konvergence commented on #2485
Hi,
To complete the request, it will really usefull to have tags on the backup name or the schedule name
To be able to make alerts on which backup is in error

[2020-05-07 14:25] carlisia commented on #2131
Maybe this can be done by scripting the setup of MinIO running on Docker, alongside Kind.

I wanted to drop some resources I've come across:

## evntest
https://book.kubebuilder.io/reference/writing-tests.html

Examples:
- https://github.com/kubernetes-sigs/cluster-api/tree/master/controllers
- https://github.com/microsoft/azure-databricks-operator/tree/master/controllers

It can point to a locall

[2020-05-07 18:51] #20 closed

[2020-05-07 19:00] ashish-amarnath opened #2515 "Document Velero feature flags"
+1 for keeping the feature flag list small.
But we should also have a way for users to discover feature flags. That's the problem I am looking to solve here and this was the easiest way to do that today.
Some options for us to consider:
1. having a features page on the website
2. having a CLI command list all features

My vote is for option2

_Originally posted by @ashish-amarnath in https://githu

[2020-05-07 20:19] carlisia opened #2518 "Investigate new integration test possibilities"
Why? Because mocks argh.

Below are options not for e2e, not for unit testing, but for integration testing.

# Integration testing

## evntest
https://book.kubebuilder.io/reference/writing-tests.html

Examples:
- https://github.com/kubernetes-sigs/cluster-api/tree/master/controllers
- https://github.com/microsoft/azure-databricks-operator/tree/master/controllers

Requirements
- it can point to a l

[2020-05-07 20:30] carlisia commented on #2131
This issue is sorta related in a sense if we are boing to boot up kind to run e2e tests, we might be able to use the same cluster to run integration tests: https://github.com/vmware-tanzu/velero/issues/2518

[2020-05-08 07:20] harikabeeram commented on #1987
Hi Ashok,

i am planning do POC on AKS. so i have my architecture. could yoou please help on how to take backup using velero and restore. please provide if u have any documents. and also cloud u please suggest which ingress controller is best weather application gateway or ngnix.

[2020-05-08 07:34] philipp1992 opened #2519 "Velero restore PVC in "lost" state"
Ive installed Velero 1.3.1 with restic and aws provider (using minio) to backup my rook-ceph PVCs.
Storageclass reclaim policy is "delete"

After creating a backup, i can confirm from the size of the bucket, that restic data gets backuped.
Also logs show no errors.

When i do a restore with:

`velero restore create --from-backup=test` the following happens:

1: all kubernetes objects from the back

[2020-05-08 10:28] eddeh83 opened #2520 "restic: unable to restore "Local" Persistent Volumes since they're statically provisioned"
**What steps did you take and what happened:**

I backed up a namespace with pods and PVC's which included Persistent Volumes with a "local" spec (which the documentation suggests is supported - https://github.com/vmware-tanzu/velero/blob/master/site/docs/master/restic.md #), and associated pods annotated with the volume names.

The backup appears to work - and as far as I can tell, Restic backs u

[2020-05-08 16:15] #2495 closed

[2020-05-08 19:42] #1568 closed

[2020-05-08 20:13] skriss commented on #2104
@ashish-amarnath figured out a lot of this today for the CSI plugin repo, so I'd really like to finish the swing here in 1.5 and get our remaining repos fully migrated off Travis. Adding it to the 1.5 milestone.

[2020-05-08 20:47] skriss opened #2522 "document & automate plugin repo release processes"
We need to both (a) document and (b) automate the release process for the plugin repos that we maintain. Things we need to consider as part of the release:

- updating the compatibility matrix on README.md
- pushing a tag
- building tagged Docker images
- generating a changelog
- creating and publishing a GitHub release

I'm putting this issue in this repo for now because we should be able to copy

[2020-05-08 21:32] nrb commented on #2104
@skriss Yeah, I think that would be good.

[2020-05-08 23:11] myazid opened #2524 "Custom service account token not restore"
**What steps did you take and what happened:**
We had set "automountServiceAccountToken: false" in our deployment file and manually create a service account user secret token e.g call "app-user-token" and volumemount the token manually in the deployment file. After the restore, it creates a secret token "app-user-token-xxxxx" and the deployment could not start because the volume expect "app-user-t

[2020-05-10 09:55] prasenforu opened #2526 "Help for velero RBAC"
Looking for some tuned RBAC.

I have following Roles and Rolebinding for user (pkar) in namespace (nginx-example).

I want only user ```pkar``` can take backup and restore ONLY for ```nginx-example``` namespace not others.

Getting following error

[code]
Please help !!

[code]

[2020-05-10 19:34] yogeek commented on #2508
Additionnal notes : I tried the `velero install [...] --dry-run -o yaml | kubectl apply -f -` method (mentionned in velero Slack channel) to cover both cases (install & update) but it caused an error for the install phase because the manifests are all applied at the same time and the CRDs are not finished to be created when the corresponding CustomResources are applied... so the classic race condi

[2020-05-11 11:49] YoshieraHuang opened #2527 "cannot register aws plugins on setup"
**What steps did you take and what happened:**
I use `velero install` to install velero on my own k8s. the velero pods cannot be running.

**What did you expect to happen:**
velero pods runs successfully.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

* `kubect

[2020-05-11 13:19] koundinyabs opened #2528 "Unable to properly restore Kubernetes service catalog objects"
**What steps did you take and what happened:**
Backed up a K8s cluster with the latest Kubernetes service catalog (0.3.0-beta.2 which happens to use CRDs) installed on it that was also used to provision an external Postgres service isntance. A restore was then attempted. However, the restored service instance from the service catalog backup is not automatically relinking to the existing external s

[2020-05-11 14:54] skriss commented on #2527
@YoshieraHuang it looks like you are running an old version of velero that still has the AWS plugin baked into it:

[code]

Please either [upgrade to v1.3.2](https://velero.io/docs/v1.3.2/upgrade-to-1.3/), or if you need to stay on Velero v1.1 for some reason (note we no longer support it), then you can remove the AWS plugin (`--plugins velero/velero-plugin-for-aws:v1.0.0`) since it's not needed f

[2020-05-11 14:54] skriss commented on #2527
closing this out, but feel free to reach out again if you are still having issues after making one of those changes.

[2020-05-11 14:54] #2527 closed

[2020-05-11 14:59] skriss commented on #2526
@prasenforu it looks to me like the `pkar-velero-rolebinding` RoleBinding is incorrect - that would need to be in the `velero` namespace, not the `nginx-example`, since all of the Velero custom resources live in the `velero` NS.

[2020-05-11 15:06] skriss commented on #2526
@prasenforu I'm not exactly sure what setup you're going for, but there are 2 parts to consider:

1. the `velero` service account, that runs the `velero` deployment
    - needs CRUD access to all of the Velero custom resources in the `velero` namespace
    - optionally could be restricted to only be able to back up resources in specific namespaces, e.g. the `nginx-example` namespace.
2. The user/s

[2020-05-11 15:28] prasenforu commented on #2526
For option 2, I tried with
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pkar-velero-clusterrole
rules:
- apiGroups: ["velero.io"]
  resources: ["*"]
  verbs: ["*"]
---

But result same & error also same.

But option 1, not sure how I can achieve.

[2020-05-11 17:11] ashish-amarnath commented on #2524
@myazid Thanks for opening this issue.
Just so I understand the problem correctly. During restore, you found that the `app-user-token` secret wasn't restored?

Could you please confirm that the secret was present in the backup that was restored? You can do this by:
1. Downloading the backup tarball
[code]
2. Inspecting the contents of the resources directory.

Can you also please confirm that the

[2020-05-11 17:31] ashish-amarnath commented on #2526
@prasenforu The velero crd objects are created in the `velero` namespace that user `pkar` doesn't have access to bc the user's access is restricted to the `nginx-example` namespace.

As Steve pointed out, velero does *not* support multi-tenancy where users can be allowed to create velero CRD objects in any namespace and velero will go and back those up.

[2020-05-11 18:15] stephbman opened #2530 "test"

[2020-05-11 18:15] #2530 closed

[2020-05-11 18:48] prasenforu commented on #2526
Did some testing, if I change RoleBinding to ClusterRoleBinding then it works. then it allowed whole backup in cluster.

Conclusion: As because CRD belongs to cluster scope.

Will be happy if my usecase can be a future enhancement.

[2020-05-11 20:55] jewzaam commented on #2458
A few more examples that worked fine after creating a new Backup:
[code]

[code]

[2020-05-11 21:13] ashish-amarnath commented on #2526
That's right, the rolebinding was restricting the user, `pkar`'s, access to just the namespace.
We are looking to build support for multi-tenancy either in 1.5 or the next release.

I am going to close this issue out. Feel free to reach out if you have other questions.

[2020-05-11 21:13] #2526 closed

[2020-05-11 21:21] skriss opened #2531 "adjust `velero backup describe` output for CSI snapshots"
I have the CSI feature flags enabled, but I took a backup in a namespace that didn't have any CSI volumes. The output looks like:

[code]

I think we should:
- add another newline above "CSI Volume Snapshots" for spacing (PVBs do so [here](https://github.com/vmware-tanzu/velero/blob/2a144ec3b3c2fd1fe6ebbd154fdec59dda117604/pkg/cmd/util/output/backup_describer.go#L91-L92) but CSI does not [here](ht

[2020-05-11 21:26] ashish-amarnath commented on #2520
@eddeh83 thank you for the detailed issue!
We are going to have to investigate this further.
Would you be able to provide info about the size of the restic backup that was being restored?
This is going to help us attempt a repro that resembles your workload.

[2020-05-11 22:01] ashish-amarnath commented on #2528
Summarizing the issue here:
Service catalog allows in-cluster applications to use managed services outside of Kubernetes.
The backup and restore of CRDs of the service catalog API objects should preserve links to the out-of-cluster entities on a velero backup and restore the links on a velero restore.

@koundinyabs: Please pitch in with any details that I may have missed in my summary.

The servic

[2020-05-11 22:04] stephbman commented on #1871
I've added the topic to our community meeting agenda for 5/12 here: https://hackmd.io/Jq6F5zqZR7S80CeDWUklkA?view

A detailed product requirements document can be accessed here:
https://docs.google.com/document/d/1kDbxMQTxiXp6a_G37BmboGM4Va1FI5WObKacJkF_L-g/edit?usp=sharing

Relates to these issues:
https://github.com/vmware-tanzu/velero/issues/605
https://github.com/vmware-tanzu/velero/issues/237

[2020-05-11 22:20] ashish-amarnath commented on #2514
Managing restic keys for backups is not in our radar at the moment. Part of the reason is fact the restic is a tool that folk use to migrate workloads across providers. That being the case, coupling the key management to a cloud provider's key management service would be tricky.

As a workaround for this, you might be able to encrypt the object store using the provider encryption at rest features

[2020-05-11 22:42] ashish-amarnath commented on #2506
@surekhakallam Could you please provide the following:
1. Obtain the `UID` of the pod, whose backup causes this error.
1. Identify the VM on which the pod is running and on the VM where this pod is running, please run `ls -lR /host_pods/<UID_OF_POD_FROM_STEP_1>/volumes/` a recursive list of `/host_pods/<UID_OF_POD_FROM_STEP_1>/volumes/`

[2020-05-11 22:56] ashish-amarnath commented on #2520
Also, if you are able to get a consistent repro of this, can you please run the velero server with debug logs enabled which would give us more information. You will find instructions on how to enable this on our documentation site https://velero.io/docs/v1.4-pre/troubleshooting/#getting-velero-debug-logs

[2020-05-11 23:07] ashish-amarnath commented on #2485
We do have have the schedule name as a label on the metrics. So you should be able to track the success and setup alerting for backups made under a schedule.
Further, all the backups that are not part of a schedule will have `""` as their schedule label.

Adding any further labeling on the metrics will have to be done in the Velero code base.

I don't think the application names and the applicatio

[2020-05-11 23:12] ashish-amarnath commented on #2483
@jimbo459 It is definitely possible to add annotations or update the object to be backed un in a backupItemAction plugin.
Here is an example of our `velero-plugin-for-csi` where this is done.
https://github.com/vmware-tanzu/velero-plugin-for-csi/blob/master/internal/backup/pvc_action.go#L147

What you might be missing is the marshaling and un-marshaling steps performed at https://github.com/vmware

[2020-05-11 23:17] ashish-amarnath commented on #2482
In the 1.4 release, we now have a way to track the progress of a backup operation using the backup describe command.
Further, you are also able to tail the logs from the velero server pod using `kubectl -n velero logs -f deploy/velero`

We are unable to implement this at the moment. PRs are welcome :)

[2020-05-11 23:17] ashish-amarnath commented on #2482
I am going to close this issue. Please re-open if you would like to work on this.

[2020-05-11 23:17] #2482 closed

[2020-05-11 23:31] ashish-amarnath commented on #2498
Can you please share the output of `kubectl -n velero get deploy velero -oyaml`
I would like to confirm that the aws plugin init container was added to the deployment.

I would also suggest trying to re-install velero.

[2020-05-11 23:59] ashish-amarnath commented on #2387
@Panplumousse I don't see any errors on the velero operations.

Also, looks like the `wal` directory was backed up and restore accurately.

But, looks like the bug that you are trying to report is that the difference in size of `01E4VBTN1ZVEXQK00G1A2XSXVV` and `01E4VHTKWY2SCQQQX2V3JMPPKT`.

Are they files on the same volume? Can you please share the deployment/pod spec of the workload that you are

[2020-05-12 00:09] myazid commented on #2524
@ashish-amarnath Thanks.

1. Secret file exists
I've checked the backup files have the secrets app-user-token.json

2. Restore completed
velero time="2020-05-11T23:57:03Z" level=info msg="restore completed" logSource="pkg/controller/restore_controller.go:473" restore=velero/backup-manual-2020-05-12-07-46-32-20200512075559

3. Logs - grep app-user-token
time="2020-05-11T23:56:11Z" level=info msg="A

[2020-05-12 00:09] ashish-amarnath commented on #2459
This may be another instance of https://github.com/vmware-tanzu/velero/issues/2507

[2020-05-12 00:19] ashish-amarnath commented on #2524
So, service account tokens are usually not portable across clusters because, IIRC, the cluster's CA cert is used in the process of generating these tokens. (Not entirely sure how they are used though)
For this reason, when velero detects that a service account already has a token generated for it in the cluster, it will skip restoring the secret that was in the backup. Here is the code that does t

[2020-05-12 00:37] ashish-amarnath commented on #2524
@myazid I am going to close out this issue. If you still have questions, please feel free to re-open and comment.

[2020-05-12 00:37] #2524 closed

[2020-05-12 00:40] ashish-amarnath commented on #2485
@Samet-MohamedAmin and @konvergence
If either of you would like to work on adding more metrics the code is available in [`pkg/metrics`](https://github.com/vmware-tanzu/velero/blob/master/pkg/metrics/metrics.go)
Thanks in advance 😄

[2020-05-12 06:56] vishnuitta commented on #20
thanks @skriss and @nrb for having fix for this issue..
I have one question regarding backup progress when using plugins:
Does this PR also covers taking progress/feedback from the plugins that are doing backup of volume's data?

[2020-05-12 10:23] #2485 closed

[2020-05-12 11:09] neil-hickey commented on #2483
Hey @ashish-amarnath Thanks for the update!

We are trying to modify the `Backup` object of Velero itself (as opposed to the item to be backed-up)

In your examples I think the csi plugin is modifying `item runtime.Unstructured`, where we want to edit `backup *velerov1api.Backup`.

From slack: https://kubernetes.slack.com/archives/C6VCGP4MT/p1588064584438000 it seems like this isn't a use-case tha

[2020-05-12 15:35] skriss commented on #20
It does not - no information is collected from the plugins to inform progress. We could consider that, but it would be a separate enhancement.

[2020-05-12 17:15] surekhakallam commented on #2506
actually the setup on which the velero backup was not working was deleted ... i will provide the details tomorrow by creating one more vm
and take backup and try on that ... actually today i did not find time to do as i was engaged on other work

[2020-05-12 18:03] skriss commented on #2519
@philipp1992 can you provide the output of `velero backup describe test --details`? I'm curious to see if you have restic backups that appear there.

[2020-05-12 18:13] Samet-MohamedAmin opened #2532 "add `backupPartialFailure` metric"
I'm working on velero metrics and I need to know the number of partiql failed backups.
Is it possible to add a specific metric for `backupPartialFailure` but not `backupPartialFailureTotal`?

[2020-05-12 18:29] ashish-amarnath commented on #2349
@DamianKusz from the error

Looks like something is still running (or trying to run) the `velero-plugin-for-gcp` executable.
Could you please use `fuser` or `lsof` to identify the process that is doing this?

As a workaround I could try to build you a custom image of the plugin that does
[code]
instead of
[code]

We can see if that fixes your problem. You could also try to do this yourself 😄

[2020-05-12 18:42] ashish-amarnath commented on #2385
@Panplumousse and @ostkrok Thank you for opening this issue and chiming in.
It looks like a restore item action plugin is requesting an item to be restored which doesn't exist.

To help us understand the problem better, can you please:
1. Download the backup using
[code]
2. Extract the contents of the backup
[code]
3. Share the output of
[code]

[2020-05-12 18:49] eddeh83 commented on #2520
Hi Ashish

The backup being restored wasn't large - a few hundred MB at most.

Since raising the issue I have managed to complete a restore by using the following method at a high level.

- Take backup of namespace as normal: -
   velero create backup <backup_name> --include-namespaces <namespace> --snapshot-volumes

- Create a yaml file with the PV's that I'm going to restore into - eg backup the

[2020-05-12 18:52] eddeh83 commented on #2498
Hi Ashish

The error persists after multiple installs - whether via HELM or CLI

[code]

[code]

[2020-05-12 18:53] hibbert commented on #2457
Yes it's a duplicate. I can see an issue open for it https://github.com/restic/restic/issues/2703, I've had a go at a PR for this https://github.com/restic/restic/pull/2733. Hopefully this or something similar will be in a future version of restic which can be used in velero

[2020-05-12 19:22] cblecker commented on #1878
@skriss @carlisia @prydonius Wondering if there was any conclusion to this?

A thought: in the case of a PVC being missing, you're not actually missing any data from the backup -- it literally doesn't exist, so it isn't possible to back it up. So in this case, a `Completed` might be fine. This came up in the case of a platform provider backing up data from the cluster, but without direct control t

[2020-05-12 20:04] nrb commented on #2531
Changes sound good to me with one exception - as I'm writing them, putting the `<none included>` message [here](https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/util/output/backup_describer.go#L495) makes more sense to me, since we have the length to report whether details were requested or not.

[2020-05-12 20:23] nrb commented on #2256
@a4nowgh Did you change your Minio installation to use HTTP only, or did you add a HTTP endpoint?

[2020-05-12 20:26] surekhakallam commented on #2506
ls -lR /host_pods/b8bdb36a-986a-4388-9a9b-dbc2680aaaf9/volumes/
ls: cannot access /host_pods/b8bdb36a-986a-4388-9a9b-dbc2680aaaf9/volumes/: No such file or directory

got this as output
for the set 2

[2020-05-12 20:58] #2531 closed

[2020-05-12 21:15] #2256 closed

[2020-05-12 21:24] skriss commented on #1878
@cblecker we did not resolve this, no.

I do personally agree that we should not flag these things as errors in Velero, but I'm not sure we had reached consensus as a team.

This would be a great item to bring up in the open discussion at our [weekly community meeting](https://velero.io/community/), if you're able to join!

If not, let's continue discussing here and see if we can get to a resoluti

[2020-05-12 21:58] ashish-amarnath commented on #2506
@surekhakallam So the problem is likely caused because the restic daemon set is unable to mount the pod's volume for it to perform backup.
Because you are running kubernetes 1.17.3, I am assuming that mount propagation is enabled.

What you might be missing is that the restic daemon set pods don't have access to the pod's volumes on the host. This is because the restic pod may not be running in pr

[2020-05-12 22:24] skriss commented on #2457
if a new version of restic that includes the fix gets released, we'll be sure to update for the next Velero release.

[2020-05-12 22:33] skriss commented on #2498
It might also be helpful to get an updated log with debug-level logging enabled (see https://velero.io/docs/v1.3.2/troubleshooting/#getting-velero-debug-logs).

From a quick review, I don't see anything wrong in your setup, but the plugins from the AWS container/binary do not appear to be getting registered properly.

[2020-05-13 04:10] guillaumefenollar commented on #1986
@skriss  Getting this exact error but I don't have any limit set on my containers. I even tried setting a limit higher than what the process is using when crashing, but it doesn't help. When the backup process stops with error `level=error msg="backup failed" controller=backup error="rpc error: code = Unknown desc = EOF" key=velero/test logSource="pkg/controller/backup_controller.go:265"`, process

[2020-05-13 09:22] eddeh83 commented on #2498
Hi Steve

Please see 1: - logs from the velero pod with debug followed by the screen output from "velero server" command

[code]

[code]

I notice on the node that velero sits that there is an exited container

[code]

I cant see any logs - but doing a docker inspect i notice this...

[code]
In the docker image

[code]

Could that have something to do with it?

[2020-05-13 10:14] eddeh83 commented on #2520
Just trying another approach - I deleted the namespace and all pvs (of which there are 9)

I then tried a restore of just the PV's (without creating them via yaml first)

[code]

only two PV's get restored - and the others were not excluded from the backup

[code]

The errors oddly say "No snapshot found for persistent volume" logSource="pkg/restore/pv_restorer.go:81" persistentVolume=raffia-home

[2020-05-13 10:34] surekhakallam commented on #2506
hi @ashish-amarnath , i have done the changes as you had told .. but still getting the same error

pod-volume-backup error="expected one matching path, got 0"

[2020-05-13 12:40] eddeh83 commented on #2520
I've tried another test - creating a new backup on a new cluster of a namespace. All the pods are correctly annotated with the volumenames. I deleted the raffia namespace and the volumes before the restore

[code]

[code]

[code]

[code]
Tried a restore of JUST persistentvolumes

[code]

[code]

raffia namespace is created - but no PV's

[code]

Looked at the restic log and see the following...

[

[2020-05-13 13:27] tvvignesh commented on #2142
@nrb @ashish-amarnath Thanks for this. But, how do we enable feature flags via the helm chart? I have created an issue to ask the same here: https://github.com/vmware-tanzu/helm-charts/issues/105

Also, I am running rook on ceph-csi on top of GCE PD CSI driver (https://cloud.google.com/kubernetes-engine/docs/how-to/gce-pd-csi-driver) in the latest GKE version available in regular channel (1.15.9-g

[2020-05-13 16:26] koundinyabs commented on #2528
@ashish-amarnath That is very well summarized.

Do you need more details on the velero and K8s version?

[2020-05-13 17:33] ashish-amarnath commented on #2483
@neil-hickey Thanks for the update. I am going to close this issue. Feel free to re-open or engage w/ us on slack.

[2020-05-13 17:54] ashish-amarnath commented on #2506
@surekhakallam I made a mistake in one of my earlier suggestions.
Can you please inspect this:
1. Obtain the UID of the pod, whose backup causes this error.
2 Identify the VM on which the pod is running and on the VM where this pod is running, please run ls -lR /var/lib/kubelet/pods/<UID_OF_POD_FROM_STEP_1>/volumes/ a recursive list of /var/lib/kubelet/pods/<UID_OF_POD_FROM_STEP_1>/volumes/

If `/

[2020-05-13 18:10] ashish-amarnath commented on #2459
You are hitting this bug in restic https://github.com/restic/restic/issues/2345
We'll have to wait for restic to fix this bug.

[2020-05-13 18:17] ashish-amarnath commented on #2507
@VincenzoDo Does this https://github.com/vmware-tanzu/velero/issues/2109#issuecomment-562551041 apply to your case here?

[2020-05-13 18:19] ashish-amarnath commented on #2475
This looks like a dup of #2506
Closing this one out. Please re-open if this is a different problem.

[2020-05-13 18:19] #2475 closed

[2020-05-13 18:21] ashish-amarnath commented on #2468
@VihanAgarwal97 There has been no activity on this issue for 14d. I am going to assume you've been able to solve your issue. Closing this issue out. Please feel free to re-open if you need help.

[2020-05-13 18:21] #2468 closed

[2020-05-13 18:25] ashish-amarnath commented on #2467
@NickSu86 There has been no activity on this issue for 14d. I am going to assume that you've solved your problem and close this issue. If you need help on this, please feel free to reopen.

[2020-05-13 18:25] #2467 closed

[2020-05-13 18:37] ashish-amarnath commented on #2410
@mshack70 can you try the suggestion from https://github.com/stashed/stash/issues/547#issuecomment-411355399

[2020-05-13 18:38] ashish-amarnath commented on #2506
You may also want to check-out our instructions from https://velero.io/docs/v1.4-pre/restic/#instructions

[2020-05-13 21:41] ashish-amarnath commented on #2374
@suleymanakbas91 The change Steve was referring to should be in our 1.4 release. Please give that try and let us know if you continue to see this problem.

[2020-05-14 05:47] fajarbl opened #2535 "Backup fails with no logs."
**What steps did you take and what happened:**
I have a kubernetes cluster on preprod environment with 354 namespaces. Tried to use schedule backup but only get :
254 : Completed
90 : Failed

Failed backups also does not create logs file & return `An error occurred: file not found.` when trying `velero backup logs`

**What did you expect to happen:**
All scheduled backups should return `Completed`

[2020-05-14 10:55] edgardang opened #2536 "dial tcp: lookup bucket.s3.ap-southest-1.amazonaws.com on x.x.x.x:53: no such host"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
My issue is facing when install velero
I'm trying install velero with aws provider with command:
`velero install --provider aws --plugins velero/velero-plugin-for-aws:v1.0.0 --bucket velero-backup-cluster --backup-location-config region=ap-southest-1 --snapshot-location-c

[2020-05-14 12:50] VincenzoDo commented on #2507
Hi, not really. As far as I understood the comment says that all backups are failing, while in my case it's only like 40% of the backups. I'm off work this week, when I'm back I will try to re-install velero...

[2020-05-14 14:55] reddiablo85 opened #2537 "Cannot view logs"
**What steps did you take and what happened:**
velero installed and appears to be running correctly
executing "velero backup logs velero-hourly-20200514140009"  returns logs in unreadable format. Returns different if executed from powershell or directly from linux node (same kubeconfig env)

UPDATE: It seems to be that the logs are in compressed format. When downloaded and unpacked they can be vie

[2020-05-14 15:53] ishworgurung commented on #2536
Is DNS functional to begin with :question:

[2020-05-14 19:13] surekhakallam commented on #2506
apiVersion: apps/v1
kind: DaemonSet
metadata:
  annotations:
    deprecated.daemonset.template.generation: "2"
  creationTimestamp: "2020-05-13T10:25:42Z"
  generation: 2
  labels:
    component: velero
  name: restic
  namespace: velero
  resourceVersion: "608225"
  selfLink: /apis/apps/v1/namespaces/velero/daemonsets/restic
  uid: 8062fd21-6434-4edf-abda-ae3a40a6eed7
spec:
  revisionHistoryLimit

[2020-05-14 19:16] surekhakallam commented on #2506
the above is the yaml file of the restic... since i had other task which i was concentrating on i could not go through the step which was mentioned by you above thoroughly ... i will do that tomorrow and let you know the update on that .. meanwhile could you please tell me if there is anything to be taken care of or changed in the above yaml file

Thanks in advance

[2020-05-14 23:17] anupash147 opened #2538 "Some of the volumes are not getting backed up although annotated"
**What steps did you take and what happened:**
In order to take a velero backup with volumes we need to annotate the pods, i practically tried it on a lame namespace and it worked. When i tried the same on a namespace which had 4+ volumes i see only 2 have been successfully backed up by restic and rest of the 4 shows below error

[code]

I verified that the pvc name is correct and is properly anno

[2020-05-14 23:41] rust84 commented on #2507
I had this issue with a couple of the pods and it was only resolved with a full reset of velero, removed all crds, bucket etc. I had upgraded from 1.2 to 1.3 previously. So far it hasn't reoccurred.

[2020-05-15 05:11] burkhat opened #2539 "Velero / Restic backup fails for PVC after a few days"
Hello together,

we have following problem with velero and restic backups.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

At the moment we have four OKD v3.11 Cluster which are running in Azure.
For the PVCs we're using Azure File and Azure Disk.
On all four Cluster we're doing the same backups with velero and resti

[2020-05-15 10:55] turkenh opened #2540 "Update Kubernetes dependency to 1.18"
**What steps did you take and what happened:**
Getting a lot of errors similar to following when I want to build my project, which depends velero, with k8s 1.18:

[code]

This is because velero depends on k8s 1.17 and clientset generated with that version.

**What did you expect to happen:**
I can consume velero together with latest Kubernetes versions.

[2020-05-15 13:41] michael-niemand commented on #2272
I, too, got it working with the help of this thread, thanks. The doumentation is a tad bit confusing in regards to passing one env var as reference to the var and the other by name; especially when the error message suggests that you passed the wrong value in storageAccountKeyEnvVar:
`config has invalid keys [storageAccountKeyEnvVar]; valid keys are [resourceGroup storageAccount subscriptionId blo

[2020-05-15 22:02] ashish-amarnath commented on #2535
Just to summarize:
There are 354 namespaces and there is a schedule for each namespace.
Schedule for 254/354 successfully create backups.
Schedule creation for 90 out of the unaccounted 100, once created the backup is identified as due and the backup fails with errors like
[code]

The error shared here indicates that the backup for schedule is failing because a backup object of name `wargud-202005

[2020-05-15 22:11] ashish-amarnath commented on #2536
@ishworgurung looks like you are using the incorrect region name `ap-southest-1`, the correct region name is `ap-southeast-1`.
Can you also please clarify where you are running Velero from, where is your kubernetes cluster located?
Suggest confirming network connectivity from your kubernetes cluster to aws s3.

[2020-05-15 22:17] ashish-amarnath commented on #2537
@reddiablo85
I am assuming you are using minio for your backup storage location.
Can you please follow the instructions in the **Accessing logs with an HTTPS endpoint** section at https://velero.io/docs/v1.4-pre/contributions/minio/

[2020-05-15 22:24] ashish-amarnath commented on #2538
@anupash147 Can you please share your pod spec?
The error is because the pod, that you are wanting to backup, does not have any volume named `mysql-pv-claim` in its `spec.Volumes`

[2020-05-15 22:57] ashish-amarnath commented on #2494
Closing this in favor of #2286

[2020-05-15 22:57] #2494 closed

[2020-05-15 23:00] ashish-amarnath commented on #2443
The restore priorities may be overridden using this flag to the velero server. https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/server/server.go#L207

[2020-05-15 23:02] ashish-amarnath commented on #2225
Closing this issue as there has been no activity on this issue.
Please feel free to re-open if you need more info.

[2020-05-15 23:02] #2225 closed

[2020-05-16 10:00] davidp1404 commented on #2459
Hello, just share that after upgrading velero to v1.3.2 the backups are fine again.
Thanks you all for your help and comments.

[2020-05-16 10:00] #2459 closed

[2020-05-16 21:51] aarononeal commented on #2514
In the near-term, is there an easy way to override the default secret on a per cluster basis?

Seems like that would be sufficient for certain deployments.

[2020-05-17 20:01] anupash147 commented on #2538
@ashish-amarnath : I have added a gist, what more info is needed

[2020-05-18 08:21] suleymanakbas91 commented on #2374
Thanks for the heads up @ashish-amarnath, but I don't have the environment to test it anymore. Feel free to close the issue, if you believe the problem has been solved.

[2020-05-18 14:47] ashish-amarnath commented on #2538
@anupash147
What I was asking was the spec of the pod `kubeflow/mysql-6bcbfbb6b8-tvgt4`
The warning message is indicating that this pod, pod `kubeflow/mysql-6bcbfbb6b8-tvgt4` has an annotation
[code]
But `mysql-pv-claim` is not a volume that is mounted by `kubeflow/mysql-6bcbfbb6b8-tvgt4`.

[2020-05-18 15:26] michael-niemand opened #2544 "Velero is not backing up volume using Azure & Restic"
**What steps did you take and what happened:**
- install velero using helm or `velero install` command, activate restic, use [storage account access key authentication method](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#option-2-use-storage-account-access-key)
- install azure plugin version v1.1.0-beta.1
- annotate pod in question with `backup.velero.io/backup-volumes: volume

[2020-05-18 16:21] skriss commented on #2544
@michael-niemand you also need to use the Velero `v1.4.0-beta.1` container image to be able to use static storage account keys with restic. You can run the following to update your container image tags:

[code]

Please try that out (assuming you're OK running a beta release in your environment) and let us know how it goes!

[2020-05-18 16:28] skriss commented on #2538
Note that the value of the annotation needs to be the **pod volume name**, *not* the **PVC name**.

[2020-05-18 17:02] skriss commented on #2374
I believe that the issue with `--exclude-resources` on `velero restore create` has been resolved.

However, the issue with restore item action excluded resources likely still exists. I'm going to file a separate issue specifically for that, and will close out this parent issue.

[2020-05-18 17:13] skriss opened #2545 "Lazily resolve restore item actions' included/excluded resources"
Splitting this request out from #2374

**Describe the problem/challenge you have**
Restore item actions can specify a set of included/excluded resources that they apply to, via the `AppliesTo` method. Currently, Velero attempts to resolve these resource identifiers via the Kubernetes discovery API, **near the beginning** of a restore.

The problem is that when a restore item action includes or exc

[2020-05-18 17:13] skriss commented on #2374
Opened #2545, closing this one out.

[2020-05-18 17:13] #2374 closed

[2020-05-18 18:31] skriss commented on #2514
@aarononeal I *believe* that if, just after installing Velero and before triggering your first restic backup, you create a secret named `velero-restic-credentials` in the `velero` namespace, with a key of `repository-password`, and your desired value, then all restic repos will be created/accessed using that password. You'd be responsible for storage and management of that key. (Note that I haven'

[2020-05-18 18:33] skriss commented on #2536
Closing this out as it looks like the region name typo was the culprit, feel free to reach out again as needed.

[2020-05-18 18:33] #2536 closed

[2020-05-18 18:56] michael-niemand commented on #2544
Thanks for the fast reply! It is highly appreciated. I updated the image versions as you said and it beautifully backs up all the resources - but again, no volume. Log here. https://gist.github.com/michael-niemand/395c50990bcd3990b4fd30e4fe84d507
I can't even see velero trying to back up a volume in the logs.
When I check the files uploaded to Azure, I see a <backupname>-podvolumebackups.json.gz t

[2020-05-18 19:12] skriss commented on #2433
this is actually a dupe of #1980, so I'm going to close this one out in favor of that existing issue.

[2020-05-18 19:12] #2433 closed

[2020-05-18 19:12] skriss commented on #1980
xref #2433

[2020-05-18 19:14] skriss commented on #2514
this is a dupe of #1053, so closing this one out in favor of that.

[2020-05-18 19:14] #2514 closed

[2020-05-18 21:35] skriss commented on #2519
Looks like this is inactive, so closing it out. Feel free to reach out again as needed.

[2020-05-18 21:35] #2519 closed

[2020-05-18 21:37] skriss commented on #2410
Closing this out as inactive. Please try out the above suggestion if you're still having an issue.

[2020-05-18 21:37] #2410 closed

[2020-05-18 22:27] anupash147 commented on #2538
![image](https://user-images.githubusercontent.com/8271182/82265509-bc00c800-992c-11ea-99cf-6397e73f44d4.png)

![image](https://user-images.githubusercontent.com/8271182/82265523-c622c680-992c-11ea-865f-e833068b1122.png)
@ashish-amarnath  i had checked it here is the image confirmation

[2020-05-18 22:30] ashish-amarnath commented on #2538
Looks like you are using the *PVC name* as the value for the annotation.
As Steve mentioned, the value of the annotation should be the *pod volume name*, in this case it should be `my-sql-persistent-storage`

[2020-05-18 22:32] anupash147 commented on #2538
i see.. thanks @ashish-amarnath  & @skriss for point it out..

[2020-05-18 22:52] ashish-amarnath commented on #2538
No problem! Closing this issue as the question has been answered.

[2020-05-18 22:52] #2538 closed

[2020-05-19 13:42] victorrodriguez1984 opened #2546 "Improved Server-Side Encryption Supporting IBM Cloud"
**Describe the problem/challenge you have**
Use Velero + Key Protect in Bucket for CoS of IBM Cloud

**Describe the solution you'd like**
backupstoragelocation considerations to achieve same

Improved Server-Side Encryption Support

To help you secure your important backup data, we’ve added support for more forms of server-side encryption of backup data on both AWS and GCP. Specifically:

    On A

[2020-05-19 15:26] Sanghamitra-BEAGILE opened #2547 "Velero version 1.3.1"
Issue :
The issue is when I delete everything inside a namespace and i delete namespace even .
Post restoration of that indivudal namespace , i see in restore logs saying

"Couldnot restore pods,services,endpoints.Warning: the in-cluster version is different than the backed-up version."

1. Why it is saying so , the namespace itself was deleted?

2. How can i restore forcefully atleast , I dint fi

[2020-05-19 17:27] skriss commented on #1878
We discussed this in today's community call and came to a consensus that:

- non-existent items should not cause a backup to fail or partially fail
- they *should* be logged as warnings, so that there is some visibility around them (the backup CR gets updated with a warning count when the backup completes, and it's displayed in the CLI)
- it'd be nice to have `velero backup describe --details` aut

[2020-05-19 17:28] skriss commented on #1878
Throwing this into the mix as a relatively small fix for 1.5 consideration

[2020-05-19 19:12] skriss commented on #2221
@ashish-amarnath should we close this issue out and open one in the helm-charts repo to track this work?

[2020-05-19 19:35] ashish-amarnath commented on #2221
Yes, we should do that
Closing this one.

[2020-05-19 19:35] #2221 closed

[2020-05-19 21:54] skriss commented on #2414
Couple notes:
- Velero mounts the `cloud-credentials` secret into its pod as a volume, and relies on the kubelet to update the volume when the secret contents change. There's potentially a ~1m delay (ref. https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go#L91) in that process
- We *could* directly query the Kubernetes API for the contents of the

[2020-05-19 22:16] skriss commented on #2414
@rohandvora have you looked at overlapping the lifespans of the temporarily credentials, so that the old credentials are still valid for some time after the secret is updated with the new credentials? That should minimize the issue, although in the case of a long-running backup there could still be problems.

[2020-05-19 22:26] skriss commented on #2414
Another optimization we could look at: for backup, we instantiate the backup store [here](https://github.com/vmware-tanzu/velero/blob/master/pkg/controller/backup_controller.go#L537), which would set up the AWS API client using the credentials. This is before the backup really runs. We don't actually upload anything until [here](https://github.com/vmware-tanzu/velero/blob/master/pkg/controller/bac

[2020-05-19 22:30] nrb commented on #2414
It'd have to be duplicated around restic operations too, wouldn't it?

[2020-05-19 22:59] skriss commented on #2414
Yeah, probably, which has its own challenges. I'm not sure how restic would handle having the credentials expire mid-backup, and re-starting a restic backup from the beginning is probably not desirable.

[2020-05-19 23:06] nrb commented on #2414
Yeah, we wouldn't want to completely restart restic operation I wouldn't think. I'd think for restic, we would end up doing something very similar to what we do now as a secret mount.

The other option for restic would be to use a restic proxy within the cluster, but then again, that just moves the issue around.

[2020-05-20 07:01] surekhakallam commented on #2506
the diff i found is the working vm is kubernetes version1.15 and and non working vm has kubernetes version1.17

[2020-05-20 08:32] henkypunky opened #2549 "Help: Validation error on ambigious volume snapshot location for non-volume-snapshot backups"
Not sure if this is the right way for opening kind of a "Help Wanted" issue, please forgive if not..
I am facing the issue that a backup fails with this validation error:

_Validation errors:  provider openebs.io/cstor-blockstore has more than one possible volume snapshot location, and none were specified explicitly or as a default_

This is irritating as the command used for creating this backup

[2020-05-20 11:27] michael-niemand commented on #2544
@skriss you tagged this with "Needs info" - is there something I can provide to help?

[2020-05-20 14:27] skriss commented on #2549
hey @henkypunky, this has actually been fixed in `master` by Mayank from OpenEBS and will be released shortly in v1.4 (we're currently planning to release next week). See https://github.com/vmware-tanzu/velero/pull/2450.

I'm going to close this out since we've got a fix in; keep an eye out for the new release next week!

[2020-05-20 14:27] #2549 closed

[2020-05-20 15:12] skriss commented on #2506
@surekhakallam I am curious to know if `/var/lib/kubelet` is the kubelet root dir on each of the clusters. Is it possible for you to SSH into the nodes (particularly on the non-working cluster) and see if this directory exists? @ashish-amarnath added some more detailed instructions at https://github.com/vmware-tanzu/velero/issues/2506#issuecomment-628150069

[2020-05-20 15:21] skriss commented on #2544
Could you provide:
- the YAML for the PV & PVC which are failing to back up?
- the YAML for the PodVolumeBackup created by the velero backup? (`kubectl -n velero get podvolumebackups -l velero.io/backup-name=<VELERO-BACKUP-NAME> -o yaml` should do it)

The other thing that would be helpful, if possible, is to SSH onto the node where the relevant pod is running, go to `/var/lib/kubelet/pods/<pod-UI

[2020-05-20 15:45] skriss commented on #2547
@Sanghamitra-BEAGILE could you do the following:

1. Delete the namespace in question
2. Copy the output of `kubectl get pods,services,endpoints -n <NAMESPACE>` here
3. Run the restore again, and include the exact command you used here
4. Include the log of the restore here (`velero restore logs <RESTORE-NAME>`)

[2020-05-20 16:03] Sanghamitra-BEAGILE commented on #2547
sanghamitra.choudhury@MacBook-Pro-van-SanghamitraChoudhury ~ % kubectl delete svc,ksvc,revisions,pods,deployments,ReplicaSets --all -n nlp
service "build02-text-normalization" deleted
service "knative-prometheus-297a86a-build2-python-module-template" deleted
service "language-detection" deleted
service "language-detection-master-e2c17c1-build13" deleted
service "language-detection-master-e2c17c1-b

[2020-05-20 16:04] Sanghamitra-BEAGILE commented on #2547
Is it a problem that I have Velero v1.3.2 on my laptop and in Kubernetes cluster v1.3.1 is installed as velero server?

[2020-05-20 16:36] skriss commented on #2513
@nrb i'm not considering this release-blocking since it's general docs, but it'd be good to knock this out soon.

[2020-05-20 16:57] skriss commented on #2547
Could you provide the full YAML for one of these objects, e.g. `kubectl -n nlp get svc language-detection-master-e2c17c1-build13-private -o yaml`? Curious if we can figure out where it's coming from, given that you indicated you deleted the namespace.

I wonder if there are some "controller" objects that are being restored first, that are triggering the creation of subsequent child resources, whic

[2020-05-20 16:59] skriss commented on #2537
@reddiablo85 just checking in again to see if you were able to resolve this with ashish's pointer.

[2020-05-20 17:00] skriss commented on #2535
@fajarbl just checking in to see if you were able to look into ashish's suggestions.

[2020-05-20 17:11] rohandvora commented on #2414
Yes. We do this currently. We rotate credentials before they expire with sufficient time in between.  We were concerned about long-running backups which start when the older credentials hadn't expired and complete after they expire. In this case, the last step which puts the objects in the storage would fail, right? I am not sure if the AWS plugin watches on the secret file and reads it dynamicall

[2020-05-20 17:12] rohandvora commented on #2414
I think this should work. We do ensure that credentials are refreshed well in advance. So we wouldn't get into the state where the older credentials expired.

[2020-05-20 18:12] surekhakallam commented on #2506
yes this folder /var/lib/kubelet is present in it
 and also /var/lib/kubelet/pods path is also present  on all the nodes as well
as instructed by @ashish-amarnath i have followed all steps and all the directories where present as expected ... but the only difference between the working cluster and the non-working cluster is that in the working cluster it was using kubernetes 1.15 version and in th

[2020-05-20 18:22] brito-rafa opened #2551 "Restore API Groups based on Target Cluster Preferred/Supported Version"
**Describe the problem/challenge you have**
This is a follow-up of PR #2373 (back up all API Group Versions). We now need to introduce the ability to restore the Target Cluster APIGroup Preferred Version (TCPV). Today's default restores the source cluster APIGroup Preferred Version (SCPV).
This is ultimately to address #2251.

**Describe the solution you'd like**
I added a diagram here:
https://do

[2020-05-20 18:22] skriss commented on #2506
I'm not aware of any feature flags or any other config issues that would arise with 1.17.

So the next thing I would try to look at is: for one of the volumes that's failing, compare what you see if you SSH into the node it's running on and go to `/var/lib/kubelet/pods/<pod-uid>/volumes` to what you see via the velero hostPath mount, in the restic daemonset pod running on that same node, under `/h

[2020-05-21 00:45] #2513 closed

[2020-05-21 02:32] Sanghamitra-BEAGILE commented on #2547
Ok Sure.I will post the output of kubectl -n nlp get svc language-detection-master-e2c17c1-build13-private -o yaml here.

[2020-05-21 06:33] wjun opened #2554 "Re-test restore of CAPI clusters with upstream fix to allow machine adoption"
**What steps did you take and what happened:**
I have 1 capv management cluster created by tkg 1.0 and create a workload cluster from this management cluster. I use Velero to backup only the namespace these workload cluster related objects belong to. When this tkg management cluster crashes, I create a new management cluster, and restore the workload cluster objects to this new cluster with the ba

[2020-05-21 15:02] jcwimer opened #2555 "--cacert prevents pod deployment from running"
**What steps did you take and what happened:**
Install Velero with:
[code]

That fails:
` kubectl logs deploy/velero -n velero`
[code]

**What did you expect to happen:**
--cacert to work.

**Anything else you would like to add:**
If I remove --cacert  and add `,insecureSkipTLSVerify="true"` the install succeeds. The problem with that is restic now will not work because it does not trust my https

[2020-05-21 15:14] skriss opened #2557 "Re-enable skipping binary build on PRs if only site changed"
When we were using Travis for CI on PRs, we had some code (https://github.com/vmware-tanzu/velero/blob/master/.travis.yml#L12 and https://github.com/vmware-tanzu/velero/blob/master/hack/ci-check.sh) that would skip building/testing the Velero code if only files inside `site/` had changed. This made site/docs-only PRs pass checks much faster.

When we migrated to GitHub Actions for PR builds, we lo

[2020-05-21 15:28] skriss commented on #2555
@jcwimer this feature has not been released yet, it will be part of next week's v1.4.0 release. If you want to try it out for now, you can use `v1.4.0-beta.1` (https://github.com/vmware-tanzu/velero/releases/tag/v1.4.0-beta.1)

[2020-05-21 16:36] jcwimer commented on #2555
I'm using `v1.1.0-beta.1` release. I must be missing the `v1.1.0-beta.1` tag of the AWS plugin. How do I define that?

[2020-05-21 16:44] skriss commented on #2555
In your `velero install` command, you have `    --plugins velero/velero-plugin-for-aws:v1.0.0 \`, you'd need to change that to `--plugins velero/velero-plugin-for-aws:v1.1.0-beta.1`.

But, if you already have velero installed, you can simply swap out the plugin version with:

[code]

[2020-05-21 16:44] jcwimer commented on #2555
Nevermind I see. I'll try and report back.

[2020-05-21 16:48] jcwimer commented on #2555
@skriss thanks so much for responding. The ca is working and so is restic 👍

[2020-05-21 16:48] #2555 closed

[2020-05-21 17:05] skriss commented on #2555
awesome, thanks for testing it out!

[2020-05-21 17:17] henkypunky commented on #2549
hi @skriss , great, thanks!

[2020-05-21 17:57] momon opened #2558 "velero get backups --selector not working"
I will probably come out looking real stupid after this but for the love of my life I seem unable to figure out why this isn't working:

[code]
The last command above returns empty: ??????????????

Shouldn't velero get backups --selector a-label-selector=a-label-selector-value show me the two backups that have the same label selector?

[code]

[2020-05-21 18:29] skriss commented on #2558
hey @momon, the `--selector` flag on `velero get backups` will filter to Backups that have that set of **labels** applied (i.e. `.metadata.labels`). This is **different** than the Backup's label selector (i.e. `.spec.labelSelector`), which tells Velero what objects from the cluster the backup should capture.

You can use `velero get backups --show-labels` to see an additional column with the label

[2020-05-21 18:29] #2558 closed

[2020-05-21 18:56] surekhakallam commented on #2506
hi ...
i have checked both the folders from the node as well as the restic daemonset pod running on the same node ...and found that the data what ever is there on the node in the /var/lib/kubelet/pods/<pod-uid>/volumes location has and the data what ever is present on the restic daemonset in the /host_pods/<pod-uid>/volumes is exactly the same

[2020-05-21 19:53] skriss commented on #2506
Can you give me the full volume directory for the volume that's failing to back up? It should be something like: `/host_pods/<pod-UID>/volumes/<storage-plugin-name>/<volume-name>`

Can you also attach the full YAML for the pod that's got the volume that's failing to back up, as well as the YAML for the PVC (if you are in fact using a PVC here)?

[2020-05-21 21:34] skriss opened #2559 "[v1.4.0-beta.1] backup progress info isn't saved to object storage"
After running a backup, its progress info (total # of backed up items) isn't saved to object storage. So, if the backup ever gets imported into a new cluster, that info is lost.

[2020-05-21 22:52] ashish-amarnath commented on #2554
@wjun Thanks for reporting this.
IMO this is an issue with the CAPV controllers and not Velero.
Velero is merely restoring the objects that were present in the backup.
CAPV controllers should, while reconciling the restored objects, detect that infra for the objects already exist and simply adopt those infrastructure resources and not provision new ones.

[2020-05-22 02:44] deepakkinni commented on #2540
Is there an ETA for this?

[2020-05-22 03:38] wjun commented on #2554
@ashish-amarnath I checked the owner references after restore, and noticed the existing control plane node object's owner reference is set to the current workload Cluster object's uid, which is incorrect, because its owner should be the kubeadmcontrolplane, while all other capi objects' owner references have been upated to the new uids correctly. Do you know if Velero updated the owner references

[2020-05-22 06:49] surekhakallam commented on #2506
|-host_pods
     |- 06081aef-e258-4731-92c3-fe2c1fef0592
           |-volumes
               |-kubernetes.io~configmap
                   |-config
                       |-ignite-config-32g-mcast.xml
                       |-ignite-config-32g.xml
                       |-ignite-config-50g-mcast.xml
                       |-ignite-config-50g.xml
                       |-ignite-config-dev.xml

[2020-05-22 06:58] surekhakallam commented on #2506
[
|-host_pods
|- 06081aef-e258-4731-92c3-fe2c1fef0592
|-volumes
|-kubernetes.io~configmap
|-config
|-ignite-config-32g-mcast.xml
|-ignite-config-32g.xml
|-ignite-config-50g-mcast.xml
|-ignite-config-50g.xml
|-ignite-config-dev.xml
|-filebeat-config
|-filebeat.yml
|-kubernetes.io~local-volume
|-distributeddbwork0
|-binary_meta
|-node00-6114595f-ac23-4f5e-bef7-4b31cc6dba6d
|- -115856935.bin
|- -1511

[2020-05-22 07:05] surekhakallam commented on #2506
i had closed it by mistake sorry for that

[2020-05-22 07:12] surekhakallam commented on #2506
apiVersion: v1
kind: Pod
metadata:
  annotations:
    backup.velero.io/backup-volumes: ignite-work,ignite-hdd
    cni.projectcalico.org/podIP: 10.200.36.76/32
    cni.projectcalico.org/podIPs: 10.200.36.76/32
  creationTimestamp: "2020-05-20T16:05:43Z"
  generateName: infra-distributed-db-
  labels:
    app: infra-distributed-db
    controller-revision-hash: infra-distributed-db-5d449c799c
    sta

[2020-05-22 07:17] surekhakallam commented on #2506
yaml file of 1st  pvc

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    pv.kubernetes.io/bind-completed: "yes"
    pv.kubernetes.io/bound-by-controller: "yes"
  creationTimestamp: "2020-05-20T16:05:43Z"
  finalizers:
  - kubernetes.io/pvc-protection
  labels:
    app: infra-distributed-db
  name: ignite-hdd-infra-distributed-db-0
  namespace: atom
  resourceVersion: "3026"

[2020-05-22 07:17] surekhakallam commented on #2506
the above pvc is the one which is not getting backed up

[2020-05-22 07:18] surekhakallam commented on #2506
this is the pvc which is backup which is backedup

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    pv.kubernetes.io/bind-completed: "yes"
    pv.kubernetes.io/bound-by-controller: "yes"
  creationTimestamp: "2020-05-20T16:05:43Z"
  finalizers:
  - kubernetes.io/pvc-protection
  labels:
    app: infra-distributed-db
  name: ignite-work-infra-distributed-db-0
  namespace: ato

[2020-05-22 09:29] saicharana731 commented on #1544
@skriss  I am getting the same error and my output of the above cmd is :
PolicyDocument:
  Statement:
  - Action:
    - ec2:DescribeVolumes
    - ec2:DescribeSnapshots
    - ec2:CreateTags
    - ec2:CreateVolume
    - ec2:CreateSnapshot
    - ec2:DeleteSnapshot
    Effect: Allow
    Resource: '*'
  - Action:
    - s3:GetObject
    - s3:DeleteObject
    - s3:PutObject
    - s3:AbortMultipartUpload

[2020-05-22 16:27] ashish-amarnath commented on #2554
@wjun
The OwerRef on the machine objects is set by the kubeadm control plane controller. The UID is generated by the Kubernetes system to uniquely identify an object over its lifetime.
The UIDs for objects are regenerated when they are restored in the new management cluster.

[2020-05-22 20:13] leitaof opened #2562 "[v1.4.0-beta.1] Unable to restore restic data with custom certificate option."
**What steps did you take and what happened:**
I have deployed the latest beta version to use custom ca cert. The backups is performed properly with restic and I see the data in minio under mybubket/restic

But when trying to restore restic fails whit x509: certificate signed by unknown authority

**What did you expect to happen:**
The connection should work for the restic restore as the same for

[2020-05-23 10:51] dannyyy opened #2563 "Setup with Azure Storage Account Access Key not working"
**What steps did you take and what happened:**
1. Configured the Helm Chart `values.yaml` according to the documentation for azure.
2. Create the file `credentials-velero` with the following content
[code]
3. Run `helm install velero vmware-tanzu/velero -f values.yaml -n velero --set-file credentials.secretContents.cloud=./credentials-velero`

**What did you expect to happen:**
Pods were able to s

[2020-05-24 18:42] ezYakaEagle442 opened #2567 "Update Velero Uninstall doc for Helm"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

At [https://velero.io/docs/v1.3.2/uninstalling/](https://velero.io/docs/v1.3.2/uninstalling/) it is mentionned :

kubectl delete namespace/velero clusterrolebinding/velero
kubectl delete crds -l component=velero

**What did you expect to happen:**

I would have expect 2

[2020-05-25 00:51] prasenforu opened #2568 "velero schedule --help command modification"
Not an bug but looks like typo for ```velero schedule``` command

[code]

Look at row ```5```, it says ``` 0-7,*```. I think it should be  ```0-6```

[2020-05-25 04:20] cblecker commented on #2453
opened #2569

[2020-05-25 06:00] wjun commented on #2554
@ashish-amarnath My question is which component should care about the ownerference update during restore as the ownes;' UIDs have changed. This looks a generic question that Velero may consider to process.

[2020-05-25 07:50] sophalHong commented on #2568
I think it should be 1-7.

[2020-05-25 07:53] prasenforu commented on #2568
In general cron practice it should be 0-6

[2020-05-25 07:54] prasenforu commented on #2568
(0 =sunday to 6 =saturday)

[2020-05-25 11:08] Sanghamitra-BEAGILE commented on #2547
Hi Steve,

Below is the manifest :

apiVersion: serving.knative.dev/v1beta1
kind: Service
metadata:
  annotations:
    gitBasename: shellai-nlp-language-detection
    gitUrl: <git hub>
  name: language-detection
  namespace: nlp
spec:
  template:
    metadata:
      annotations:
        app.kubernetes.io/component: nlp-language-detection
        app.kubernetes.io/costcenter: none
        app.kuber

[2020-05-25 11:14] Sanghamitra-BEAGILE commented on #2547
I have some observation , when i restored all the namespaces, I see that knative services of all the namespaces are not getting restored.so if i do kubectl get ksvc -n <ns> , it says no resources found .Whereas if i do kubectl get svc -n <ns> I can see the knative service related module is up and running .

I believe during velero restoration knative service related deployments are restored succes

[2020-05-25 12:25] VincenzoDo commented on #2507
So I re-deployed velero. I used commands suggested in the doc to delete all deployments and custom resource definition.

The first backup I took of all statefulsets (and pvcs) had around 20 failures. After seeing a timeout related error in the logs I increase the timeout (  - --restic-timeout=6h" ).

The second backup I took had only 2 failures (with the usual error):
[code]
Today it's again up to

[2020-05-25 13:31] michael-niemand commented on #2544
Hi @skriss  - sorry this took so long:

https://gist.github.com/michael-niemand/c04caa0858cb35611afb995e8258a7cf

unfortunately I can't ssh into the node myself, but I will try to get someone from Ops to do it.

[2020-05-25 15:59] arianitu opened #2570 "Velero randomly restoring another namespaces PVCs on a backup."
**What steps did you take and what happened:**
We schedule a backup when creating our development environment. After the environment is created, velero somehow replaces the new PVC with a cloned PVC instead of keeping the new PVC.

This is a huge issue for us since we do not want PVCs randomly being attached. I am unsure why it's doing it, we are not issuing any restore commands. The only command

[2020-05-25 16:06] arianitu commented on #2570
Also to assist in debugging, can I get some information on how a snapshot gets decided to be attached?

So just to describe the steps on what happened:

1. New namespace gets created
2. New PVC gets created
3. New Deployment that refers to new PVC gets created.
4. New StatefulSet (MySQL) with PVCTemplate gets created
5. Backup Schedule gets initiated after above are created. (Also, why does Backup

[2020-05-26 08:14] mazzy89 opened #2571 "Run Velero as standalone app outside of k8s cluster"
**Describe the problem/challenge you have**

Running Velero out of k8s. It seems not documented.

**Describe the solution you'd like**

Running Velero as a Docker container in an EC2 instance and backup EBS volumes attached to it.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Velero version (use `velero version`):

[2020-05-26 13:12] reddiablo85 commented on #2537
Hi @ashish-amarnath we aren´t using minio....we are using Storage Grid by NetApp.

[2020-05-26 13:59] saicharana731 opened #2572 "Error in creating CRD on openshift 3.11"
while installing velero on openshift 3.11 using aws as provider im getting following error with release v.1.3.2

CustomResourceDefinition/backups.velero.io: attempting to create resource
An error occurred:

Error installing Velero. Use `kubectl logs deploy/velero -n velero` to check the deploy logs: Error creating resource CustomResourceDefinition/backups.velero.io: CustomResourceDefinition.apiext

[2020-05-26 14:39] alexgeek opened #2573 "Backup stuck in new phase"
**What steps did you take and what happened:**

Set up for GCP plugin as per [these instructions](https://github.com/vmware-tanzu/velero-plugin-for-gcp#Create-an-GCS-bucket) but I installed via helm.

I created a schedule:

[code]

Then tried to create a backup from the schedule:

[code]

The backup stays in the "New" phase. I'm not sure how to debug this and don't see any errors in the velero pod

[2020-05-26 14:49] skriss commented on #2563
@dannyyy this feature has not officially been released yet. If you want to use it, you can try using Velero v1.4.0-beta.1, and the Azure plugin v1.1.0-beta.1. We'll be shipping GA versions of each of these this week.

[This similar issue](https://github.com/vmware-tanzu/velero/issues/2272) has some additional info that may be helpful if you run into any problems while using those versions.

I'm go

[2020-05-26 14:49] #2563 closed

[2020-05-26 15:02] skriss commented on #2573
@alexgeek I noticed that your backup is in the `dev-ndw-002` namespace, while it looks like the Velero installation is in `default`. You'll need to create your Backups in the same namespace as the Velero server itself - it only watches there, rather than across all namespaces.

[2020-05-26 15:36] stephbman opened #2574 "Improve Velero Feature Enhancement Request Template"
**Description**

Enable users to up-vote or down-vote feature requests and open velero backlog items on the github repository.

**Use Case**
Users should have the ability to click to up-vote a feature or down-vote a feature to indicate whether this is a feature that is seen as more or less valuable.

The quantity of favorable (up-votes) and non-favorable (down-votes) on a feature will provide a qu

[2020-05-26 15:58] skriss commented on #2562
Ah. I see what's going on here. While we're correctly passing the `--cacert` flag to the actual `restic restore` command, we're not passing it to the `restic stats` command here: https://github.com/vmware-tanzu/velero/blob/master/pkg/restic/exec_commands.go#L188-L191.

I'll work on a fix for this.

[2020-05-26 16:01] akutz opened #2575 "Clarify the distinction of cloud vs. on-premises in README overview"
**Describe the problem/challenge you have**
Currently the Velero README has an overview section that begins with the following:

The distinction between "cloud provider" and "on-premises" is unclear. Traditionally EKS or GCE are "cloud providers" and solutions like vSphere or OpenStack would be considered "on-prem." However, vSphere *does* have a [Kubernetes cloud provider](https://github.com/kube

[2020-05-26 16:07] alexgeek commented on #2573
Oh ok. Is there a way to have it monitor cluster wide?
I'm a bit confused as to why there is a namespace field then?

Thanks, Alex

[2020-05-26 16:08] skriss commented on #2562
@leitaof if you're available, it'd be great to have you test out a fix for this. I should have a docker image up shortly that you can use.

[2020-05-26 16:10] #2559 closed

[2020-05-26 16:11] leitaof commented on #2562
@skriss Sure, will test it this after noon whit the new docker image.

[2020-05-26 16:13] nrb commented on #2575
Thanks for the report @akutz! I think the intention was _public_ cloud providers vs an on-premises installation.

Would adding the word "public" help provide that clarity for you?

[2020-05-26 16:15] akutz commented on #2575
Hi @nrb,

Makes sense.

I think so. I'd love to know what others think. I also think "others", in this context, should be people not immediately steeped in Kubernetes. Regardless, I think adding "public" does move the messaging in the right direction.

[2020-05-26 16:17] akutz commented on #2575
Hi @nrb,

How about "public, cloud platform" instead of "provider"?

[2020-05-26 16:25] skriss commented on #2562
OK, the image with the fix is: `steveheptio/velero:fix-2562`. You can swap it with:

[code]

[2020-05-26 16:32] nrb commented on #2554
https://github.com/kubernetes-sigs/cluster-api/pull/2489 should allow for control plane adoption. My understanding is that once it's in a CAPI release, Velero will be in a better position to restore CAPI objects so that they will be adopted.

[2020-05-26 16:41] arianitu commented on #2570
Steve KrissPerhaps Velero is only comparing PVC name instead of namespace + PVC name. Each environment has the same PVC name.

Or perhaps?

1. Velero was waiting for a snapshot for a previous clone/restore that did not finish.
2. A backup was triggered, which triggers a snapshot.
3. The restore process attaches to this unrelated backup instead of the original backup it was waiting on?
4. Velero fi

[2020-05-26 16:55] nrb commented on #2575
I'm fine with that wording! I know "provider" has been contentious, and we've been working to slowly remove it from our documentation and code. So I'm in favor of making this change to the README and the https://velero.io/docs/v1.3.2/on-premises/ page, if necessary.

[2020-05-26 16:56] akutz commented on #2575
FWIW, I think it would also need to be updated at https://velero.io/docs/v1.3.2/index.html as well.

[2020-05-26 16:57] nrb commented on #2575
Yeah, the index page is generated from the README, so that should be taken care of.

[2020-05-26 17:05] skriss commented on #2570
@arianitu my guess based on the info that you provided is that the PV named `velero-clone-1a2a1a6c-915f-4096-a693-cff87b547190` already existed on your cluster and was available/not bound by any existing PVC, so when you created a new PVC, Kubernetes bound it to this existing PV since it met the requirements.

To verify this - could you provide the full YAML for:
- the PV named `velero-clone-1a2a1

[2020-05-26 17:21] arianitu commented on #2570
That could be possible, but how does the PV decide it met its requirements? This was a completely fresh environment, although the yaml of clone looks really weird since it's targeting this new environment.

1. Here is the yaml of the clone:

[code]

Looking at that PV, it was created on "2020-05-04T20:18:18Z", but somehow has the namespace "wp-bf083a8f-1ac7-416c-bac5-234f586c4440".

How is that po

[2020-05-26 17:25] leitaof commented on #2562
I have tried the restore but my pod is unable to find the fixed image because hes searching in the velero repo instead of steveheptio

29m         Warning   Failed                  pod/nexus-694dff6965-cbh6p         Failed to pull image "velero/velero-restic-restore-helper:fix-2562": rpc error: code = Unknown desc = Error response from daemon: manifest for velero/velero-restic-restore-helper:fix-2

[2020-05-26 17:38] skriss commented on #2562
Ah, shoot. I retagged the image with the fix as `steveheptio/velero:v1.4.0-beta.1` (despite the tag, it does include the fix). You can use that updated image, which should avoid the error you got:

[code]

You'll have to delete the partially-restored workload and try again after updating the images.

[2020-05-26 17:46] skriss commented on #2570
There's some info on the binding process [here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#binding). The basic idea is that if there's a PV that exists/is available, that has the same storage class as the PVC, and is at least as big as the PVC's requests, then it may be used to satisfy the PVC. Only if there are no existing PVs that match the PVC's spec is a new one dynamicall

[2020-05-26 17:57] leitaof commented on #2562
Still same error

2m55s       Normal    Pulling                 pod/nexus-694dff6965-cbh6p         Pulling image "velero/velero-restic-restore-helper:fix-2562"
2m55s       Warning   Failed                  pod/nexus-694dff6965-cbh6p         Failed to pull image "velero/velero-restic-restore-helper:fix-2562": rpc error: code = Unknown desc = Error response from daemon: manifest for velero/velero-re

[2020-05-26 18:00] skriss commented on #2562
Did you delete this pod: `pod/nexus-694dff6965-cbh6p` (or the entire namespace) and start a new restore?

[2020-05-26 18:07] skriss commented on #2575
So replace "You can run Velero with a cloud provider or on-premises" with "You can run Velero with a public cloud platform or on-premises"? WFM.

[2020-05-26 18:13] leitaof commented on #2562
yes I have deleted the namespace and just to be sure I have delete again and did a restore again.

LAST SEEN   TYPE      REASON                  OBJECT                             MESSAGE
71s         Normal    CREATE                  ingress/docker-public-ingress      Ingress nexus/docker-public-ingress
71s         Normal    CREATE                  ingress/docker-public-ingress      Ingress nexus/

[2020-05-26 18:20] skriss commented on #2562
OK, here's the other way to work around this: you can override which image it tries to pull for the restic restore helper by providing a configmap that specifies the specific image to use:

[code]

After setting this up, you'll need to (a) delete the partially-restored workload/namespace in your cluster, and (b) try a new restore.

Thanks for the patience!

[2020-05-26 18:22] skriss commented on #2562
Ah, I think I see why you were still getting the issue - retagging the core velero image wasn't sufficient to have it change which tag it pulled for the restic restore helper; the velero binary needed to be fully recompiled with the different version tag.

[2020-05-26 19:10] arianitu commented on #2570
@skriss does this mean only 1 clone can happen at the same time since you're not guaranteed an order to matching a PV?

Seems error prone, especially if a restore was pending/failed before. Is there any way to make it consistent so the PV only binds to the intended namespace?

[2020-05-26 19:11] nrb commented on #2575
Added change to README in #2579 and [the v1.4.0 index](https://github.com/vmware-tanzu/velero/pull/2577/files#diff-1199f51c0dac8b8e08853149473e5a20R7)

[2020-05-26 19:16] #2562 closed

[2020-05-26 19:17] skriss commented on #2562
@leitaof we went ahead and merged the code change since it seemed straight-forward and low-risk, but we'd still like to have your verification!

[2020-05-26 19:29] leitaof commented on #2562
No problem but i will test it tomorrow and give you feedback after.

[2020-05-26 19:56] #2575 closed

[2020-05-26 20:40] skriss commented on #2570
When Velero clones a PV as part of a restore, it'll specify that specific PV name in the PVC spec, so the new PVC is always bound to the correct PV. So the Velero behavior should be safe as far as I know.

The behavior you're seeing isn't something Velero is triggering - it just happens that this old PV that was created by Velero a few weeks ago (not sure why) happens to meet the requirements of t

[2020-05-26 21:11] skriss commented on #2573
There is not currently a way to monitor all namespaces. See #1217 for further discussion.

I'm going to close this one out since it's been answered and we already have a similar enhancement request in the backlog, but feel free to add your comments & use cases to the other issue!

[2020-05-26 21:11] #2573 closed

[2020-05-26 22:22] arianitu commented on #2570
@skriss Okay I think I am understanding this a bit more, but isn't that still a big problem? If a restore fails for any reason, you will have Deployments/StatefulSets being attached to a PV that was cloned instead of a freshly made one.

There isn't a good way for us to PVs from existing before creating Deployments/StatefulSets. We create Deployments/StatefulSets all the time and we're cloning env

[2020-05-26 22:23] arianitu commented on #2570
@skriss Can we instead manually create our PVCs with a name like you said Velero does to prevent Deployments/StatefulSets from grabbing any PV?

[2020-05-26 22:26] arianitu commented on #2570
Here's a race condition as well:

1. A restore is triggered, creating a new cloned PV.
2. Another developer applies a Deployment/StatefulSet shortly after the PV is created.
3. The cloned PV is going to attach to the Deployment instead of the PVC being Restored, leading to both operations failing.

In a busy environment, this situation is going to happen often.

[2020-05-27 03:57] wjun opened #2581 "Restoring a capa management cluster partially failed"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
1. Create a capa mananagement cluster and provisioned a workload cluster with 3 master nodes and 3 worker nodes. The cluster was successfully provisioned.
2. Install Velero and create a backup of all resources in the cluster
3. Nuke the capa management cluster and create

[2020-05-27 03:59] wjun commented on #2581
@ashish-amarnath will have a look during email exchange.

[2020-05-27 06:36] saicharana731 commented on #2572
CustomResourceDefinition.apiextensions.k8s.io "backups.velero.io" is invalid  this is the issue , @skriss  can you throw some light on this please ?

[2020-05-27 12:25] surekhakallam commented on #2506
can you please guide me what to be done

[2020-05-27 12:25] surekhakallam commented on #2506
just a remainder

[2020-05-27 13:53] VolkerKozlowski opened #2582 "Run multiple backup and restores concurrently"
**Describe the problem/challenge you have**
Run multiple backups and restores concurrently. Currently a long running backup or restore blocks others from being executed.

**Describe the solution you'd like**
It would be good to have a parallel processing of different backups and restores to achieve more scaleability.

**Environment:**

- Kubernetes
- Openshift

[2020-05-27 14:20] leitaof commented on #2562
I have tested the restore whit the latest v1.4.0 and it work properly.
Thanks guys for your good work!

[2020-05-27 15:31] skriss commented on #2562
awesome, thanks again for the testing and feedback!

[2020-05-27 20:46] agill17 commented on #2400
I have a use case where I have developed a custom plugin that runs some arbitrary logic and creates a snapshot of an external resource. Unfortunately when velero backups expire or is deleted by hand, the external snapshot does not get deleted. I would like to have an extension point that runs some cleanup logic when backup CR is cleaned up.

[2020-05-27 21:09] #2574 closed

[2020-05-27 21:12] skriss commented on #2582
@VolkerKozlowski thanks for filing the issue! We already have #487, so I'm going to close this issue out in favor of that. If you have any additional input for #487 or #1653 (our current view of what the implementation of this should look like), please comment on those!

[2020-05-27 21:12] #2582 closed

[2020-05-27 22:08] skriss commented on #2472
I'm looking at adding the instructions for a patch release, which involve creating a release branch, cherrypicking over the fixes, adding changelog and docs to both `master` and the release branch, and creating the release tag off of the branch.

I'm hesitant to just mix the unique steps into https://velero.io/docs/v1.4/release-instructions/, as I think that'll get super-complicated. On the other

[2020-05-27 22:15] skriss commented on #2104
Also see #2557, that could probably be addressed as part of finishing up this work too.

[2020-05-27 22:29] mereddy22 commented on #2117
i'm having similar issue with velero 1.4.0 backups are in failed state.
AKS version 1.15.10 and velero version 1.4.0.
velero and storage account is in one resource group.

time="2020-05-27T21:45:55Z" level=info msg="1 errors encountered backup up item" backup=velero/rahulbackup logSource="pkg/backup/backup.go:444" name=kube-prometheus-grafana-0
time="2020-05-27T21:45:55Z" level=error msg="Error ba

[2020-05-27 22:32] ashish-amarnath commented on #2117
@mereddy22
https://github.com/vmware-tanzu/velero/issues/2117#issuecomment-585825662

[2020-05-27 22:50] carlisia commented on #2472
I vote to not duplicate, at least until we find ourselves hating it then we can split it. I'd go with that first.

[2020-05-27 23:03] #2414 closed

[2020-05-28 07:17] surekhakallam commented on #2506
host_pods/ <uid>/-volumes/kubernetes.io ~ configmap/config
file1-config-32g-mcast.xml
file1-config-32g.xml
file1-config-50g-mcast.xml
file1-config-50g.xml
file1-config-dev.xml

host_pods/ <uid>/-volumes/kubernetes.io ~ configmap/filebeat-config
file.yml

host_pods/ <uid>/-volumes/kubernetes.io ~ local-volume/distributeddbwork0/binary_meta/node00-<filename>
-115856935.bin
-1511864425.bin
-168926944

[2020-05-28 07:19] surekhakallam commented on #2506
apiVersion: v1
kind: Pod
metadata:
annotations:
backup.velero.io/backup-volumes: ignite-work,ignite-hdd
cni.projectcalico.org/podIP: 10.200.36.76/32
cni.projectcalico.org/podIPs: 10.200.36.76/32
creationTimestamp: "2020-05-20T16:05:43Z"
generateName: infra-distributed-db-
labels:
app: infra-distributed-db
controller-revision-hash: infra-distributed-db-5sdfsc799c
statefulset.kubernetes.io/pod-name:

[2020-05-28 17:01] NahaliY opened #2585 "Rancher Crash after velero deployment (bug)"
**Steps to reproduce (least amount of steps as possible):**

1.  Upgrade Rancher-agent and Rancher to 2.4.3 version
2. Deploy velero helm applicaton using chart : https://vmware-tanzu.github.io/helm-charts

**Result:**
We can no more access to our cluster using Rancher dashboard

![image](https://user-images.githubusercontent.com/25417617/83170138-5e326400-a114-11ea-8089-ae63c7ce794d.png)

**Other

[2020-05-28 17:02] NahaliY commented on #2585
Issue also opened in Rancher Git Repository : https://github.com/rancher/rancher/issues/27310
Cluster was running without any problem, But after deploying velero, It crashs

[2020-05-28 17:03] #2104 closed

[2020-05-28 17:52] #2489 closed

[2020-05-28 18:07] carlisia commented on #2539
I wonder if you need to increase limits:

https://velero.io/docs/v1.4/customize-installation/#customize-resource-requests-and-limits

[2020-05-28 18:13] stephbman opened #2587 "Multi-Tenancy and Self Service"
**Description**
Reduce friction by enabling developers to backup their namespaces via self-service. Introduce a Velero multi-tenancy model, enabling owners of namespaces to backup and restore within their access scope.

- Product requirements to be linked
- user stories to be created
- current timeframe target December 2020 (ref. velero roadmap): https://github.com/vmware-tanzu/velero/pull/2548/fi

[2020-05-28 18:19] skriss commented on #2587
FYI https://github.com/vmware-tanzu/velero/issues/18 and https://github.com/vmware-tanzu/velero/issues/1217 are the existing issues I'm aware of that relate to this. We may want to close 1+ of them if they're dupes.

[2020-05-28 18:34] stephbman commented on #2587
@skriss I was thinkig of linking them for now until I have the PRD drafted (I have them linked to the PRD currently).

[2020-05-28 19:31] #2453 closed

[2020-05-29 05:57] burkhat commented on #2539
Hello @carlisia,

we had following limit settings for velero and restic:
velero:
resources:
          limits:
            cpu: "2"
            memory: 2Gi
          requests:
            cpu: "1"
            memory: 512Mi

restic:
resources:
          limits:
            cpu: "2"
            memory: 1Gi
          requests:
            cpu: 500m
            memory: 512Mi

I've now increased the lim

[2020-05-29 07:26] dejwsz commented on #1981
Well, I had just the same problem! Restore completed, no errors in logs but the PV is completely empty! Sucks.

[2020-05-29 07:43] dejwsz commented on #1981
I wanted to restore only PVC with PV itself and did it:

velero restore create --from-backup  daily-20200528020046 --include-namespaces test-project --include-resources persistentvolumeclaims,persistentvolumes --restore-volumes=true

Completed, no errors. But there is no data at all.
I did not suspect that. Is there any way to make it working with restic?

[2020-05-29 07:49] dejwsz commented on #1981
What is interesting I tested it before but only after removing a whole project and then it was ok and even data was there. So it works only during restoring of whole projects? It is not possible to restore just a volume?

[2020-05-29 09:20] Seb0042 opened #2589 "cacert configuration is not working"
**What steps did you take and what happened:**
I installed velero with the --cacert configuration, like this:
velero install --use-restic --no-default-backup-location --use-volume-snapshots=false --secret-file miniocred.yaml --namespace=myns --cacert=ca.pem

In addition, I created a backup location in wich I add a caCert value with the cert chain (via kubectl edit backupstoragelocations.velero.io

[2020-05-29 10:16] dejwsz commented on #1981
I can confirm - I can restore volumes only restoring a whole project. So a whole namespace - it must be empty.
You cannot restore volumes if there are some objects like deployments or other things. You cannot restore PVC with PV themselves separately using restic.

So in my case, I needed to restore to a mapped temporary namespace. Then go there and scale everything down. Then spin a new POD just

[2020-05-29 13:39] Seb0042 opened #2590 "velero and restic pods are not resolving DNS names"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
I configured the backup-location with a name like this: minio.mydomain:9000

I have the following error message when velero starts:
An error occurred: some backup storage locations are invalid: backup store for location "minio" is invalid: rpc error: code = Unknown desc =

[2020-05-29 15:36] Seb0042 commented on #2589
[code]

[2020-05-29 16:02] Seb0042 commented on #2590
OK, found the issue, it's not velero related but may be to the version of Ubuntu used for the containers. The DNS client seems to be more strict so I had to add a configuration that rewrites the response also, like this in coredns:

rewrite stop {
    name regex  minio\.mydomain\.$ minio.myns.svc.mycluster
    answer name minio-myns.svc.mycluster minio.mydomain
 }

[2020-05-29 16:08] Seb0042 commented on #2590
My bad, issue still here, even if the name is correctly resolved in the container

[2020-05-29 16:12] Seb0042 commented on #2590
OK, sorry, good now,  just too impatient, dnscache wasn't cleared.

[2020-05-29 16:12] #2590 closed

[2020-05-29 17:46] ashish-amarnath commented on #2414
@rohandvora This issue is now fixed.
This is not in a release yet, but you should be able to use `velero/velero:master` to get this fix.

[2020-05-29 17:47] rohandvora commented on #2414
Thanks a ton for the fix! @skriss @carlisia @ashish-amarnath

[2020-05-29 18:11] skriss commented on #2472
@nrb would appreciate your input here too since you've recently gone through following the existing instructions.

[2020-05-29 20:24] nrb commented on #2472
To first document my experience:

Having them mixed was a bit confusing, and required careful reading. It was easy to miss a step because things were intermingled. However, I can fully accept that such a thing is reader error, and that the person doing the release should be reading more carefully.

In terms of what to do right now:

Can some parts be split out, and some parts intermingled? So we h

[2020-05-29 21:24] mazzy89 commented on #2571
Thank you @nrb to react on this. I meant however if Velero could be used outside the scope of kubernetes. Like running it as a standalone docker container on an ec2 instance on AWS and backing up volumes. But as far as I understand seems not the case because it requires to be pointed to a running kubernetes cluster.

[2020-05-30 11:23] NMark02 opened #2591 "full backup for aks cluster is partially failing"
**What steps did you take and what happened:**
command:
velero backup create full-cluster-backup --wait

**What did you expect to happen:**
backup ending successfully

velero backup get
NAME                  STATUS                      CREATED                         EXPIRES   STORAGE LOCATION   SELECTOR
full-cluster-backup   PartiallyFailed (1 error)   2020-05-29 13:49:49 +0000 UTC   29d       de

[2020-06-01 08:51] alexgeek commented on #2573
Hey @skriss ,

Can I just ask again to make sure I'm not misinterpreting the meaning the fields what 'includedNamespaces' is for? Is it just there in case you support backups across multiple namespaces in the future?

[2020-06-01 14:38] alexgeek opened #2593 "Unable to debug hook"
**What steps did you take and what happened:**

I've added a hook to my plastic scm deployment to call "cm admin readonly enter" before and "cm admin readonly leave" after the backup.

I've tried a few ways of writing out the hooks:

[code]

[code]

[code]

But I get errors like the following:

[code]

[code]

Is there a way to see the output of the commands? Also do the commands run with the same

[2020-06-01 14:57] skriss commented on #2573
`IncludedNamespaces` defines which namespaces you want to back up the contents of.

The `Backup` custom resource itself must be created in a single namespace, though (`velero` by default).

[2020-06-01 14:58] #2593 closed

[2020-06-01 15:00] skriss commented on #2505
FYI per https://github.com/kubernetes/kubernetes/issues/82022#issuecomment-636872808 removal of `apiextensions.k8s.io/v1beta1` has been targeted for 1.22. cc @nrb

[2020-06-01 15:07] NahaliY commented on #2585
Hi, I have resolved this issue. The problem was related to CRDs.
The performed solution is to:

1. Create manually the CRDs using an YAML file : https://github.com/vmware-tanzu/velero/blob/release-0.11/examples/common/00-prereqs.yaml
2. Deploy the chart with setting ``installCRDs: false ``

--> And it works

[2020-06-01 15:07] #2585 closed

[2020-06-01 15:12] skriss commented on #2591
@NMark02 when Velero backs up a RoleBinding or ClusterRoleBinding that references a non-existent Role or ClusterRole, it reports an error like this. We're going to change this behavior to warn rather than error in the next release (see #1878).

In the meantime, it looks like you have a `ClusterRoleBinding` referencing the `system:auth-delegator` `ClusterRole`, which doesn't exist. The following sh

[2020-06-01 15:15] skriss commented on #2585
@NahaliY FYI that CRD file is pretty old; you'd be better off doing the following to get the CRD YAML:

[code]

[2020-06-01 15:17] alexgeek commented on #2573
Ah okay, I thought you were saying that every namespace that needed a backup would need a velero server installed in it. I think now you're saying you can have one velero server on a cluster (typically in a namespace called velero) that can backup any other namespace but the "backup" resource itself must be in the velero namespace?

How about schedules? Can I have a schedule in my dev-ndw-002 name

[2020-06-01 15:17] NahaliY commented on #2585
Thank's @skriss Skriss, If I run directly this command, will it update automatically already created CRDs ?

[2020-06-01 15:18] NMark02 commented on #2591
@skriss thanks for the command. I ran it and this is the output I get:

kubectl get clusterrolebindings -o custom-columns=name:.metadata.name,clusterrole:.roleRef.name | grep system:auth-delegator
metrics-server:system:auth-delegator   system:auth-delegator

[2020-06-01 15:35] skriss commented on #2573
That's correct!

No, Schedules also need to be created in the velero namespace just like backups. This is true for *all* Velero custom resources.

[2020-06-01 15:36] skriss commented on #2585
nope, the `--dry-run -o yaml` flags mean it'll just output the YAML to stdout. You can then `kubectl apply` the YAML when you're ready to update your cluster.

[2020-06-01 15:36] skriss commented on #2585
If you just want to update your cluster, `velero install --crds-only --dry-run -o yaml | kubectl apply -f -` should do it.

[2020-06-01 15:38] skriss commented on #2591
Yep so the `metrics-server:system:auth-delegator` ClusterRoleBinding is invalid since it's referencing a non-existent ClusterRole. I'd suggest either deleting it if it's not needed, or fixing it to reference a ClusterRole that exists. Once you do that, the velero backup should succeed.

I'm going to close this out, but feel free to reach out again as needed!

[2020-06-01 15:38] #2591 closed

[2020-06-01 16:15] nrb commented on #2571
Ah I see now. I’m sorry, I misunderstood your question.

Yes, right now Velero’s targeted only at Kubernetes. It’s not a general backup tool, or even a container backup tool - it is specific to Kubernetes.

That may change in the future, but that’s not in the roadmap and hasn’t been how we’ve designed it so far.

Since we’re unlikely to change direction on this any time soon, I’m going to close th

[2020-06-01 16:15] #2571 closed

[2020-06-01 16:21] skriss commented on #1910
@carlisia I think this umbrella issue can probably be closed out now, as all of the relevant work has been opened in separate issues and you have another epic that tracks that work. Do you agree?

[2020-06-01 16:51] nrb commented on #2505
Good to know!

When we move this, we'll likely end up bumping our minimum supporting k8s version to one that at least has the v1 endpoint.

[2020-06-01 16:53] skriss commented on #2505
Yep, so 1.16 by default - I think by the time 1.22 rolls around, that should be fine (and older versions of Velero will still work on older Kubernetes versions).

[2020-06-01 16:56] nrb commented on #2472
@skriss PTAL at #2592 when you get a chance. I think the logic around patch releases will need fleshing out specifically, but it's my attempt at automating the actual release itself.

That PR does _not_ address getting a docs/changelog PR more automated though.

[2020-06-01 17:13] skriss commented on #1878
@cblecker did you have any interest in working on a fix here?

[2020-06-01 17:27] cblecker commented on #1878
@skriss I won't have time in the short term to, unfortunately. If there is someone else with cycles, that would be great.

[2020-06-01 17:29] skriss commented on #1878
OK, no worries. Hope to see you back again as a contributor before too long!

[2020-06-01 19:12] mereddy22 commented on #2459
@ashish-amarnath i'm getting this similar error on velero backup
**Velero version 1.4.0**
**AKS version 1.15.10**

NAME             STATUS   CREATED                         EXPIRES   STORAGE LOCATION   SELECTOR
firstbackup      Failed   2020-06-01 18:53:07 +0000 UTC   29d       default            <none>
firstbackup-11   Failed   2020-06-01 19:00:35 +0000 UTC   29d       default            <none>

[2020-06-01 19:49] NMark02 commented on #2591
@skriss thanks so much!

[2020-06-01 20:26] ashish-amarnath commented on #2459
@mereddy22
The bug in restic, https://github.com/restic/restic/issues/2345, hasn't been fixed.
Switching to Velero 1.3.2 is not going to fix this.

[2020-06-01 20:41] mereddy22 commented on #2459
@ashish-amarnath is there any way to exclude namespace=monitoring from the backup and also in schedule everyday backup.

[2020-06-01 20:51] ashish-amarnath commented on #2459
Yes, please take a look at our go docs here https://pkg.go.dev/github.com/vmware-tanzu/velero/pkg/apis/velero/v1?tab=doc#BackupSpec
for more details

[2020-06-01 21:14] ashish-amarnath commented on #2537
@reddiablo85 I am not super familiar with the Storage Grid. However, I think the steps in the "Accessing logs with an HTTPS endpoint" section of the document https://velero.io/docs/v1.4/contributions/minio/ can still be applicable to your scenario.

[2020-06-01 21:15] ashish-amarnath commented on #2535
@fajarbl I am going to close this issue out. Please feel free to re-open if you still need assistence.

[2020-06-01 21:15] #2535 closed

[2020-06-01 21:31] ashish-amarnath commented on #2589
The `caCert` field has to be at the path `spec.objectStorage.caCert`
https://github.com/vmware-tanzu/velero/blob/master/pkg/apis/velero/v1/backup_storage_location.go#L70
This should not be base64 encoded.
`caCert` is of type `[]byte`. Can you please tell us what you mean by

Is there an error that you see?

[2020-06-01 21:35] lebrisg opened #2596 "Installation problem with OpenShift 4.4."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Installation Velero 1.4.0 on OpenShift 4.4 with local minio.
Steps followed:
oc create ns velero
oc annotate namespace velero openshift.io/node-selector=""
velero install --provider aws --plugins velero/velero-plugin-for-aws:v1.0.0 --bucket velero \
    --secret-file ./cr

[2020-06-01 21:43] carlisia opened #2597 "Modernize the Velero code base"
## TODO

v1.5
- [x] add kubebuilder framework + convert BSL resource - https://github.com/vmware-tanzu/velero/issues/2604
- [x] add a BSL controller to handle validation + update BSL status phase - https://github.com/vmware-tanzu/velero/issues/1967
- [x] convert ServerStatusRequest resource/controller to the kubebuilder framework - https://github.com/vmware-tanzu/velero/issues/2605

v1.6
- [x] con

[2020-06-01 21:43] carlisia commented on #2597
@vmware-tanzu/velero-maintainers PTAL.

[2020-06-01 21:45] mereddy22 commented on #2459
@ashish-amarnath  all our backups are in failed state.
i'm seeing this in the pod log

time="2020-06-01T21:31:50Z" level=error msg="backup failed" controller=backup error="[rpc error: code = Unavailable desc = transport is closing, rpc error: code = Unavailable desc = connection error: desc = \"transport: error while dialing: dial unix /tmp/plugin632572141: connect: connection refused\"]" key=vele

[2020-06-01 22:57] skriss commented on #2596
@lebrisg I see the following message:

[code]

Which indicates to me that perhaps you annotated the pod with `backup.velero.io/backup-volumes=<PVC name>`. This is incorrect - instead, the value of that annotation needs to be the name of the volume within the pod (i.e. `spec.volumes[x].name`).

[2020-06-02 06:12] burkhat commented on #2539
Hello @carlisia,

The increasing of the limts doesn't solves the issue.
The problem occurred again.

Regards
Tobias

[2020-06-02 13:59] dejwsz opened #2598 "Enable PVC and PV with content restore using restic"
**Describe the problem/challenge you have**
If you use restic it is not possible to restore PVC with PV only with its content having the rest of objects and a project in place.

**Describe the solution you'd like**
Some restore subcommand to restore only a volume or volumes with content. So if you have some project where you can scale down deployments, statefulsets etc. and then you can remove PVC

[2020-06-02 15:43] Seb0042 commented on #2589
Yes, when I edit the backupstoragelocation with kubectl.
If I do like this, it won't work. I will have the following error:
# * spec.objectStorage.caCert: Invalid value:  (certificate is written here)
spec.objectStorage.caCert in body must be of type byte
[code]
[code]

[2020-06-02 16:43] eddeh83 commented on #2520
Hi - is anyone still looking at this please?

[2020-06-02 17:21] Seb0042 opened #2599 "timeout on pre hook error"
**What steps did you take and what happened:**
I added annotations on the pod to be saved. As it has a prehook command that can exceeds 30 seconds I add a number above 30 for timeout.
[code]

When I launch the velero backup create I have an error about timeout on the prehook command.
[code]

**What did you expect to happen:**
I expect that timeout of 300 seconds would be applied.
NOTE: when I chan

[2020-06-02 18:35] a-mccarthy opened #2600 "Add Style Guide for documentation"
To help promote consistency in documentation and make it easier to create and review docs, we should write up a style guide to use for Velero docs. Creating this issue to discuss options and what we want in a style guide.

There are a lot of good open source style guides that we can use as a base guide and then we can add Velero specific items in a doc. Examples:
* https://developers.google.com/st

[2020-06-02 22:56] skriss opened #2601 "design for running multiple velero backups/restores concurrently"

[2020-06-02 23:20] ashish-amarnath commented on #2589
@Seb0042 Sorry about giving you incorrect info earlier.
You were right in base64 encoding the cert.
The yaml for your BSL would look like

[code]

This should resolve your issue

[2020-06-03 04:44] Seb0042 commented on #2589
It doesn't, I have the error message that I wrote above (pem cert can't be
loaded).

Le mer. 3 juin 2020 à 01:20, Ashish Amarnath <notifications@github.com> a
écrit :

[2020-06-03 04:46] surekhakallam commented on #2506
how do we fix this .. can you please guide us

[2020-06-03 08:22] avishaiNB opened #2603 "Restore process restoring PV without the data that was backed up."
I'm using ```ceph``` **Block storage** to store my data.
I'm using **Restic** to manage the backup.
I annotated the pods in order to backup the volumes connected to it.

I run a backup on my ```mongo``` app and the output stated that the PV was backed up as well.
Backup created successfully, but when i restore it, it restores the PV with no data.

**Backup output:**
[code]
**Backup logs output:**

[2020-06-03 08:37] #2603 closed

[2020-06-03 08:39] avishaiNB commented on #2603
**Solved!:** The issue was that i annotated the pod with the PVC name and not the volume name as stated in the docs.

[2020-06-03 08:43] Seb0042 commented on #2589
OK, did few tests, maybe it was a typo or something, now I can have caCert both in config and objectStorage without error.
But the issue is still the same, if I don't put my ca file in /etc/ssl/certs I will have an error about wrong certificate.

[2020-06-03 09:29] eddeh83 commented on #2498
Hi - has anyone had a chance to take a look at this?

FYI i have upgraded to 1.4 and the behavior is still there

[2020-06-03 10:08] saicharana731 commented on #2572
any lead on above please @skriss  @nrb

[2020-06-03 10:44] Seb0042 commented on #2589
OK, I did more tests and investigations.

So, because of name resolution and reaching port 9000 of minio, I was launching my velero command from inside the velero pod. The x509 error was comming from that. It's velero as a client which was failing.

So, now, it seems to work if I do the following:
- add caCert to config.
- add caCert to storageObject.
- use the velero command from a node of my clu

[2020-06-03 13:01] lebrisg commented on #2596
I changed my annotation as you asked:
VALUE=`oc get pod mariadb-1-dz5cq -o=jsonpath='{.spec.volumes[0].name}'`
echo $VALUE => mariadb-data
oc annotate pod/mariadb-1-dz5cq backup.velero.io/backup-volumes=$VALUE
I got the following result (partial):
https://gist.github.com/lebrisg/6a6f3290b87398ee19776c48a972aac5#gistcomment-3328180
But the MariaDB database still doesn't show up after restoring it.

[2020-06-03 13:54] carlisia commented on #1910
Yes! Closing.

[2020-06-03 13:54] #1910 closed

[2020-06-03 13:59] carlisia opened #2604 "Add kubebuilder framework + convert BSL resource"
**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to the right of this comment to vote.

- :+1: for "The project would be better with this feature added"
- :-1: for "This

[2020-06-03 14:13] carlisia opened #2605 "Convert ServerStatusRequest resource/controller to the kubebuilder framework"
**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to the right of this comment to vote.

- :+1: for "The project would be better with this feature added"
- :-1: for "This

[2020-06-03 14:18] skriss commented on #2589
@Seb0042 glad you were able to get this working.

Re: how to access minIO - I think either one is valid, it's really up to you.

[2020-06-03 14:22] skriss commented on #2596
does `velero backup describe <NAME> --details` show a completed restic backup for the correct pod+volume?

[2020-06-03 14:26] skriss commented on #2572
I believe since the version of Kubernetes is pretty old, you'll need to use `kubectl`'s `--validate=false` option. See https://velero.io/docs/v1.4/customize-installation/#generate-yaml-only for more info.

You can generate and apply the CRD definitions like this:
[code]

If that works successfully, you could try running your original full `velero install` command again (it'll just skip over the CR

[2020-06-03 14:27] skriss commented on #2572
Let us know if those suggestions work for you!

[2020-06-03 14:40] saicharana731 commented on #2572
Thanks for the reply , but I ended up with same error  as below :
The CustomResourceDefinition "backups.velero.io" is invalid:
* spec.validation.openAPIV3Schema.properties[spec].properties[labelSelector].properties[matchLabels].additionalProperties: Forbidden: additionalProperties cannot be set to false
* spec.validation.openAPIV3Schema.properties[spec].properties[hooks].properties[resources].item

[2020-06-03 14:42] skriss commented on #2572
Hmm, OK. I tried this on vanilla Kubernetes 1.11.x and it worked OK for me. Can you clarify which version of Kubernetes you're running? I see both 1.11 and 1.10 listed above

[2020-06-03 14:44] carlisia opened #2606 "Investigate ytt + kapp"
Investigate these tools to understand how to make the new CLI changes compatible with them.

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to the right of this comment

[2020-06-03 14:44] saicharana731 commented on #2572
I am running it on Openshift 3.11 , with kubectl client version being 1.18 .

Issue is PV's are not getting backed up on to AWS s3 backup location

[2020-06-03 14:57] skriss commented on #2572
Hmm, OK. I think you'll probably need to use an older version of Velero (probably https://github.com/vmware-tanzu/velero/releases/tag/v1.1.0, since we added CRD structural schemas in v1.2 and that looks like the thing you're having an issue with), since we're not attempting to maintain backwards-compatibility with Kubernetes versions that far back.

[2020-06-03 15:08] saicharana731 commented on #2572
yes I tried that too , but since I am using AWS as storage provide , v1.1.0 is unable to backup PV's  . backup partially fails , on inspecting logs I get  following error:

Error getting volume snapshotter for volume snapshot location" backup=velero/sampv2 error="rpc error: code = Unknown desc = ****missing region in aws configuration****" error.file="/go/src/github.com/vmware-tanzu/velero-plugin-

[2020-06-03 15:24] skriss commented on #2572
for v1.1 you don't need to use an external AWS plugin, it was still in-tree. Please make sure you're following the correct docs for the Velero version you're using: https://velero.io/docs/v1.1.0/aws-config/

[2020-06-03 15:42] saicharana731 commented on #2572
ok fine will re-do again and check , but as I am using AWS s3 for storage, could you please tell me if the usage of Restic a mandatory for v1.1.0  to take pv backup ?

[2020-06-03 16:02] skriss commented on #2572
If you're using EBS volumes, then you can get EBS snapshots of them.

[2020-06-03 17:36] saicharana731 commented on #2572
ok Thank you for the inputs, would try and update

[2020-06-03 17:52] skriss commented on #2572
I'm going to close this out for now, but feel free to reach out again as needed.

[2020-06-03 17:52] #2572 closed

[2020-06-03 20:35] skriss commented on #1087
xref #2508

[2020-06-03 20:37] skriss commented on #1087
cc @yogeek. I've updated this issue title to be more general so we don't presume that upgrade should be a separate command from install. Please see #2508 for more context on @yogeek's preference for this to function more like `kubectl apply` rather than having a separate command for install vs. upgrade.

[2020-06-03 20:38] skriss commented on #2508
@yogeek I've updated #1087 per your comments and linked to this issue from there. I'm going to close this one out as a duplicate, and we'll track the other one going forward.

[2020-06-03 20:38] #2508 closed

[2020-06-03 20:54] skriss commented on #2498
@eddeh83 looking at this again - it seems like you're trying to run the `velero server` command locally? You shouldn't be doing that, as that's the command that runs the server internally within the velero pod, and it's not intended to be run by an end-user. From the logs you're providing from the velero pod itself, it seems like things are working fine and the plugin is registering properly.

Hav

[2020-06-03 21:00] skriss commented on #2385
I'm going to close this out as it's been inactive, but feel free to reach out again as needed.

[2020-06-03 21:00] #2385 closed

[2020-06-03 21:03] skriss commented on #2457
I'm going to close this out as it's not actionable on the velero side right now. If/when a new restic release comes out with a fix, we'll upgrade our dependency.

[2020-06-03 21:03] #2457 closed

[2020-06-03 21:08] skriss commented on #2443
closing this out as it has been responded to. Feel free to reach out again as needed.

[2020-06-03 21:08] #2443 closed

[2020-06-03 21:16] skriss commented on #2567
I think we should update the core Velero uninstall docs to include a link to the [Helm chart uninstall section](https://github.com/vmware-tanzu/helm-charts/tree/master/charts/velero#uninstall-velero), and then ensure that those instructions are correct.

@ezYakaEagle442 are you interested in working on the PRs for this?

[2020-06-03 23:21] carlisia opened #2607 "Remove obsolete, generated client code"
Once all the Velero resources and controllers have been converted to the `kubebuilder` framework and the code has changed to use those libraries, remove all of the generated code that is no longer used (clientset, listers, informers).

- [ ] add the target below to the makefile, which will generate the `zz_generated.deepcopy.go`. Note that the value of the `paths` flag can be any location, or even

[2020-06-04 07:29] Seb0042 commented on #2589
OK thanks, think I will go for option 1, don't want people connecting to the cluster nodes ;)

[2020-06-04 07:29] #2589 closed

[2020-06-04 09:20] saicharana731 commented on #2572
@skriss  I downgraded velero version to v1.1.0 , deleted existing velero project , and installed velero v1.1.0  I get this :

Client:
        Version: v1.1.0
        Git commit: a357f21aec6b39a8244dd23e469cc4519f1fe608
<error getting server version: ServerStatusRequest.velero.io "velero-cli-v7b4f" is invalid: []: Invalid value: map[string]interface {}{"status":map[string]interface {}{"processedTim

[2020-06-04 10:30] eddeh83 commented on #2498
Hi Steve

Yes I have been able to create backups and carry out restores fine - with the exception of pv's  for which I've raised a seperate issue ( https://github.com/vmware-tanzu/velero/issues/2520 )

Other than that error message and the pv issue everything else appears to be working - so I'll close this issue - thanks

[2020-06-04 10:30] #2498 closed

[2020-06-04 10:35] jujugrrr commented on #103
Hi, is there any ETA for this? It sounds like a basic feature to be able to use backup to recover from an AZ failure.

https://docs.google.com/document/d/1vGz53OVAPynrgi5sF0xSfKKr32NogQP-xgXA1PB6xMc/edit#heading=h.yuq6zfblfpvs sounded promising

[2020-06-04 13:58] NahaliY commented on #2585
@skriss Thank's for your response, it was very helpful

[2020-06-04 17:14] saicharana731 commented on #2572
Hi @skriss  any advise on the above please !

[2020-06-04 17:27] skriss commented on #2572
did you delete the velero CRDs (see the second command in https://velero.io/docs/v1.4/uninstalling/) before reinstalling with v1.1? It looks like you probably still have newer versions of the CRDs installed in cluster that are incompatible with v1.1

[2020-06-04 17:41] saicharana731 commented on #2572
yes kriss it worked thank you but the backup creation has following error :

velero backup logs sample | grep error
time="2020-06-04T17:39:08Z" level=info msg="1 errors encountered backup up item" backup=velero/sample group=v1 logSource="pkg/backup/resource_backupper.go:260" name=pvc-mysql namespace=sample resource=persistentvolumeclaims
time="2020-06-04T17:39:08Z" level=error msg="Error backing u

[2020-06-04 17:54] skriss commented on #2572
OK, that's a different error that means the AWS volume snapshotter can't find the EBS volume referenced by the `pvc-mysql` PVC and underlying PV. It could be that (a) that volume truly doesn't exist in AWS; or (b) the Velero IAM account doesn't have the right permissions to see it; or (c) the BackupStorageLocation is configured to point to the wrong region so it can't find it; or (d) something els

[2020-06-04 18:08] skriss opened #2609 "design for restore hooks"

[2020-06-04 18:12] saicharana731 commented on #2572
ok , i have created iam n assigned policy to access objects with iam user as unit53

 {
                "Effect": "Allow",
                "Action": [
                    "ec2:DescribeVolumes",
                    "ec2:DescribeSnapshots",
                    "ec2:CreateTags",
                    "ec2:CreateVolume",
                    "ec2:CreateSnapshot",
                    "ec2:DeleteSnapshot"

[2020-06-04 18:25] skriss commented on #103
@jujugrrr we have cross-AZ/region backup & restore on our [roadmap](https://github.com/vmware-tanzu/velero/blob/master/ROADMAP.md). If you're interested in contributing in any way (requirements, design work, etc), please let us know!

cc @stephbman

[2020-06-04 19:58] nrb commented on #2598
Hi @dejwsz - this sounds like you might be looking for a "data-only" restore, where you leave all kubernetes objects/metadata alone except for the PV/PVC, and recreate the data on the volume.

Is that correct?

If it is, we have this documented as #504 and it's something we need to get designed. You can add a 👍 to the description to show your support for it ([as described in our recent update to t

[2020-06-04 21:00] nrb commented on #2599
Hi @Seb0042.

`    pre.hook.backup.velero.io/timeout: "300"` requires a unit at the end; it doesn't automatically apply one. So the appropriate value would be `"300s"`.

I looked at the code really quickly, and it appears there's a [TODO for us to explicitly log this](https://github.com/vmware-tanzu/velero/blob/master/pkg/backup/item_hook_handler.go#L195). I'll open a PR to do that.

[2020-06-04 23:29] #1878 closed

[2020-06-04 23:29] #2269 closed

[2020-06-05 05:37] saicharana731 commented on #2572
@skriss  probably this info below would help clear this . please let me know if this gives the root cause for pv n pvc not backing up :

apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    kubernetes.io/createdby: aws-ebs-dynamic-provisioner
    pv.kubernetes.io/bound-by-controller: "yes"
    pv.kubernetes.io/provisioned-by: kubernetes.io/aws-ebs
  creationTimestamp: 2020-06-03T06:5

[2020-06-05 07:07] Seb0042 commented on #2599
Thank you.

[2020-06-05 08:24] empinator commented on #915
did anybody come across a solution for backing up/restoring helm based installations with velero?
I'd love to see my restored application showing up with 'helm ls' and therefore being able to do updates the helm-way.

I did see one method where one would only restore the PVC and then install the app via helm, causing the new installation to use the existing volumes. This eventually works, but only

[2020-06-05 09:09] aakhundov opened #2612 "Don't create a backup immediately after creating a schedule"
**Describe the problem/challenge you have**

As a part of setting up a clean kubernetes cluster with the intention of restoring an existing velero backup onto it, I create a velero `Schedule` for further backups (to the same destination, where my existing backup resides). Schedule creation triggers an immediate backup of the clean cluster, which is not required and, to some extent, interferes with

[2020-06-05 16:54] skriss commented on #2572
Looks like the PV is in `us-east-1` but your VolumeSnapshotLocation has a `spec.config.region` of `us-east-2`. I think you need to update your VolumeSnapshotLocation to be `us-east-1`.

[2020-06-05 19:45] #2599 closed

[2020-06-08 05:43] saicharana731 commented on #2572
Thanks alot @skriss  , It is supposed be working now

[2020-06-08 07:08] burkhat commented on #2539
Hello @carlisia,

Do you have any other ideas to fix this problem or to debug it?

Regards
Tobias

[2020-06-08 15:13] skriss commented on #2572
If the PV is in `us-east-1` as the labels indicate, then you need to change your velero `VolumeSnapshotLocation`'s config to also have a region of `us-east-1`.

[2020-06-08 15:13] lebrisg commented on #2596
After annotating the volume, the persistent volume associated with the MariaDB database is correctly backed up. After restoring the namespace, the MariaDB database works fine (I was wrong in one of my previous comments).
However, the restoring process comes with errors and I don't know how to fix them:

$ **velero restore describe wp-backup-20200607233211**
Name:         wp-backup-20200607233211
N

[2020-06-08 16:34] dejwsz commented on #504
I need it too! I think it is a must-have functionality. I described something similar here: https://github.com/vmware-tanzu/velero/issues/2598
My case relates to a restic daemon which is used to get volumes' content backup. What I need is to have an ability to restore old content of some volume leaving other project's objects in place. I think this is a quite common use case. I was not aware it is

[2020-06-08 16:34] dejwsz commented on #2598
OK I did it, thanks!

[2020-06-08 17:43] #2476 closed

[2020-06-08 20:47] skriss commented on #2349
@DamianKusz were you able to try the above suggestions? I have not yet been able to reproduce this issue..

[2020-06-09 06:44] DebashisMondal opened #2616 "Unable to take backup of specific pod"
In my namespace "test-namespace" there are multiple pods are running. But I want to take backup of only one pod named "test-pod".

How can we take the backup of specific resource of specific resource type. In my environment the pod has no level.

[2020-06-09 07:59] ThoTischner commented on #1531
Any news on this? I think we are having scaling issues because of the sequential restic backups.

[2020-06-09 14:31] skriss commented on #2616
Response from google group message:

Velero doesn't support backing up resources by name. However, you can use a label selector that only matches the pod you're interested in:

[code]

In this example, your pod would need to be labeled with `mykey=myval`.

We do have a related unprioritized enhancement request around restoring items by name - see https://github.com/vmware-tanzu/velero/issues/904 a

[2020-06-09 14:31] #2616 closed

[2020-06-09 19:27] skriss commented on #2387
I'm going to close this out as it looks inactive, but feel free to reach out again as needed.

[2020-06-09 19:27] #2387 closed

[2020-06-09 19:28] skriss commented on #2537
@reddiablo85 were you able to get this sorted out using the instructions Ashish linked to?

[2020-06-09 19:30] skriss commented on #2612
xref #1980

[2020-06-09 19:40] skriss commented on #2598
:+1: thanks for commenting there. I'm going to close this issue out since it's a dupe, but we'll track it in #504.

[2020-06-09 19:40] #2598 closed

[2020-06-09 19:46] skriss commented on #2539
It looks like the `PodVolumeBackups` are staying in the `New` phase and not getting processed at all by the restic daemonset. I'm not sure why that would be happening after a few days of successful runs, as you're seeing.

To debug this further, it would be helpful to see the logs of the restic daemonset pods (you can get a list of all the daemonset pods via `kubectl -n velero get pods -l name=res

[2020-06-09 20:20] reddiablo85 commented on #2537
@skriss no this isn´t the root of the issue unfortunately. I tried changing the the target of the S3 to its IP rather than its hostname and no improvement. We are currently backing up over HTTP anyway, at least until we have this resolved and can then implement HTTPS. We have a call early next week with our S3 provider to try and drill down the issue as it certainly seems to be on their end. Perha

[2020-06-09 20:34] stephbman commented on #1531
@skriss based on review of some of the issues, my feeling that this may need to be linked with #1653 - what are  your thoughts?

[2020-06-09 20:49] skriss commented on #1531
@stephbman I think this would be more around improving the performance of a _single_ backup, since it would involve parallelizing the operations _within_ a Velero backup.

Re: technical design, we could consider using a worker pods-like approach here but I'm not sure it's actually necessary; the existing restic daemonset can probably already handle running multiple operations simultaneously, so it

[2020-06-09 21:38] skriss commented on #2532
Per #2533, closing this out as inactive.

[2020-06-09 21:38] #2532 closed

[2020-06-10 04:38] burkhat commented on #2539
@skriss I've now cleared all logs from the Pods and I'm now waiting until the error occurs again. I will send you the logs as soon as the error appears again.

[2020-06-10 07:31] wjun commented on #2581
I looked into this issue and found the corresponding webhook in the tkg management cluster has a v1 api version, and according to https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/: "In admissionregistration.k8s.io/v1, sideEffects must be set to None or NoneOnDryRun", so the cause is from the wrong value set in the webhook, and not related to Velero.

[2020-06-10 07:31] #2581 closed

[2020-06-10 09:19] rajashreetutgirl opened #2618 "fsfreeze not able to achieve quiesce on Elastic Search"
Trying to take backup of elastic search ( which is a stateful set) in my k8s cluster.

But fsfreeze could not help in quiesce. How else I could try?

Error logs:
msg="stderr: fsfreeze: (opts & 1) ? FIFREEZE : FITHAW: Operation not permitted\n" backup=e-system/backup-namespace-20200609170614 group=v1 hookCommand="[fsfreeze --freeze /usr/share/elasticsearch/data]" hookContainer=fsfreeze hookName="<f

[2020-06-11 00:28] ashish-amarnath commented on #2400
+1 _upvoting my own issue_

[2020-06-11 00:32] ashish-amarnath commented on #2554
I can re-test with the fix. It's on my list. If there is no release with the fix by the time I get to it, I can build my own images to test it out.

[2020-06-11 04:41] vishnuitta commented on #2400
In case of CSI model of plugins i.e., BackupItemAction, it makes sense to have extension to perform cleanup during deletion.
OpenEBS being volume snapshotter, DeleteSnapshot API is good enough to perform cleanup activities during Backup deletion.

This as well sounds like a generic solution.

[2020-06-11 12:51] eddeh83 commented on #2520
Hi @skriss  - thanks for getting back to me

That does sound plausible - and a test I've done since raising the issue does suggest it's some kind of conflict with restic that causes the issue.

To test I did what I previously did - backup the whole cluster, delete the raffia namespace and pv's then attempt a restore from the full cluster backup. The behavior I'd seen before was the same (as an add

[2020-06-11 14:30] e-desouza opened #2622 "Add support for s390x"
**Describe the problem/challenge you have**
Take OpenShift backups on IBM Z/IBM LinuxONE systems

**Describe the solution you'd like**
s390x support similar to arm64, ppc64lee

**Environment:**

- Velero version (use `velero version`): v1.4.0 and above
- Kubernetes version (use `kubectl version`):  Kubernetes 1.16
- Cloud provider or hardware configuration: s390x arch (z13, z14, z15, LinuxONE, Lin

[2020-06-11 14:32] e-desouza commented on #2622
@ncdc can you please assign this to me? I have a PR in progress.

[2020-06-11 15:31] FaridHub opened #2623 "The restic Pods are unable to start in kubernetes cluster."
**Steps taken**
I have downloaded Velero, started as it is given in the examples folder, I was trying to back up elastic search pod running. Is behind a proxy and it's a corporate server, SO, I need to install velero along with corporate proxy.

1. I am unable to see any option on how to add proxy to velero while "velero install ....."
2. I have mentioned restic and with minio support at the time

[2020-06-11 16:07] nrb commented on #2400
Yeah, for VolumeSnapshotter implementations, I think it makes sense.

In situations where a VolumeSnapshotter doesn't fit, though, I think we need to provide something a bit more robust.

[2020-06-11 16:13] michael-niemand commented on #2544
Highly appreciate your effort! We're currently in te process of moving from the old Container Engine to AKS, but I will soon start implementing the backup again so I can get back to you with a report if the "nouser_xattr" does the trick! Thanks again.

[2020-06-11 16:52] skriss commented on #2400
Adding deletion plugins seems like a reasonable thing to me.

If it's just CRs that someone is interested in having deleted, they may be able to get away with setting owner refs to the Velero backup.

But, there are definitely scenarios where that won't be sufficient.

[2020-06-11 19:37] skriss commented on #2623
I see multiple lines like:

Which indicates that there's a problem pulling the velero Docker image. Are you normally able to connect to Docker Hub from your cluster? Or do you need to use an internal registry?

[2020-06-11 19:40] skriss commented on #2520
How do you usually create the PVs that your app uses, before Velero even comes into the picture? Do you "statically provision" them by directly applying PV YAML to your cluster, then creating the PVCs to claim them?

[2020-06-11 20:13] nrb commented on #2400
Yeah, setting the owner refs isn't a bad idea in any case, though existing API objects wouldn't work that way.

In some ways this is a little cart-before-the-horse, as the use cases are a little slim, but allowing for invocation of custom code at deletion or (or maybe even prior to?) Velero `Backup`s makes the system more flexible overall.

[2020-06-11 21:16] eddeh83 commented on #2520
@skriss Yeah they are created directly on the cluster via their own yaml

[2020-06-11 21:42] skriss commented on #2520
OK, that makes sense. So I think I at least understand this issue.

The restic restore code starts by attempting to dynamically provision a new, empty PV that it can restore into. It does this by creating a PVC, and then waiting for an external provisioner to create a PV + underlying storage disk and bind it to the PVC. After the bind is complete and the pod using the PVC can start, the restic res

[2020-06-12 09:15] eddeh83 commented on #2520
Thanks @skriss

It would be good if as part of the restore, that before the pv's come down existing data on the pv's were purged - or at least velero/restic was able to look and decipher if there are any differences between the data on disk and in the backup - and decide whether to restore or not - an idea?

In the meantime it isnt too much of a problem for us to document the backup and restore pr

[2020-06-12 13:51] balajir24 opened #2626 "backups.velero.io already exists"
Hi,

We are using azure provider. While installing Velero through helm, we are getting below error.

We cloned the repo and executing below command. added the secret as well.

helm upgrade --namespace velero --install velero . -f values.yaml
Release "velero" does not exist. Installing it now.
Error: release velero failed: customresourcedefinitions.apiextensions.k8s.io "backups.velero.io" already e

[2020-06-13 07:45] adamrushuk commented on #2081
I've just had the Windows Velero CLI package approved on Chocolatey: https://chocolatey.org/packages/velero

I'll look into automating the releases shortly.

[2020-06-14 20:56] shubhammicrosoft1 opened #2630 "Backing up local K8S cluster on local server disk/NFS"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
Can we backup Local K8S cluster on a mounted server disk or NFS servers local in the environment

**Describe the solution you'd like**
- Velero version (use `velero version`): Client: Version: v1.4.0
- Kubernetes version (use `kubectl version`): 1.18
- Kubernetes insta

[2020-06-15 07:05] MSidda opened #2631 "Setting up Velero Server am unable to deploy successfully Job"
While deploying minio Example Kubernetes job failing Crashloopback off error showing

please help me

[2020-06-15 09:25] FaridHub commented on #2623
I am unable to reach the registry of docker due to proxy blockage. Is there any way of configuring proxy in the command line along with **velero install**.
I have tried with set environment variables in local but no luck. Also tried with editing velero pod yaml and added http_proxy and https_proxy, even this didnt work.
Kindly advise how to operate velero behind a corporate proxy...

[2020-06-15 09:53] surekhakallam commented on #2506
sure will talk to my team regarding this ... sorry for late reply as i was looking at different issues i couldnt reply ... thanku so much for giving your this opportunity

[2020-06-15 14:53] shubhammicrosoft1 commented on #2630
Is there a documentation already available

[2020-06-15 16:38] ashish-amarnath commented on #2483
Reopening as there are use cases where this may be useful for plugins to add annotations/labels.

[2020-06-15 18:12] ashish-amarnath commented on #2631
Hi @MSidda can you please provide more details:
1. What scenario are you trying to run?
2. Where are you seeing errors during installation or performing backup and restore operations?
3. What are the actual errors?

[2020-06-15 18:21] ashish-amarnath commented on #2630
@shubhammicrosoft1 We don't have an object store plugin that can persist backups onto local filesystem. However, you might be able to use our [example object sore plugin](https://github.com/vmware-tanzu/velero-plugin-example/blob/master/internal/plugin/objectstoreplugin.go) that persists backups on the pod's local filesystem or you might want to look at running an instance of minio running with pe

[2020-06-15 18:24] ashish-amarnath commented on #2626
@balajir24 Looks like you have a stale CRDs left over from a prior installation of velero, that may not be managed by helm.
Please remove the CRD using `kubectl delete crd backups.velero.io` and retry.

[2020-06-16 01:39] diemus commented on #2061
it would be great if we can choose timezone , the backup is name as velero-xxx-{utc time}. hope it could be a local time format

[2020-06-16 06:56] burkhat commented on #2539
@skriss at the moment it is still working fine I will update you at the end of this week

[2020-06-16 07:24] saicharana731 commented on #2572
@skriss , thanks alot, the issues is now resolved , after ensuring that PV volume and volumesnapshotLocation region are same .

[2020-06-16 08:11] diemus opened #2632 "have problem when restoring crds"
**What steps did you take and what happened:**

I have create 3 crds which named App,Component,Revision. every deployment i create have an ownerrefence field to relate it. when I delete the App object , the k8s gc will help to clean everything related to it.  so I delete the crd I created to simulate a disaster. when i restore to the previous enviroment, I found the crds are not back. the log show

[2020-06-16 09:16] chama-chomo opened #2633 "Not able to delete velero backup"
**What steps did you take and what happened:**
From time to time, after making a local backup I'm not able to delete it. It often happens that after making a simple backup the k8s/velero gets to some weird state and I'm not able to perform standard backup tasks anymore.

I also attempted to delete a backup using `kubectl delete backup labeled-for-backup -n w-core`  and after executing it I couldn'

[2020-06-16 11:02] #2633 closed

[2020-06-16 15:54] ac-hibbert opened #2634 "PVC backup doesn't happen when pod restarts and changes name"
**What steps did you take and what happened:**

This is when using the restic feature. When a backup runs the persistent volume backup is related to the pod name and if the pod restarts it will not backup this pods volume.

**What did you expect to happen:**

Some kind of retry or picking up the new pod name. The pod runs in a deployment so the start part is the same just the end part is different

[2020-06-16 16:15] skriss commented on #2539
cc @vmware-tanzu/velero-maintainers

[2020-06-16 16:20] nrb commented on #2400
If we use a configmap, it will have to be synced between clusters.

[2020-06-16 21:24] #2081 closed

[2020-06-16 23:15] shubhammicrosoft1 commented on #2630
Thanks @ashish-amarnath . I was thinking to use velero install command & wanted to specify backup-storage location . How can we use azure storage blob location when we need to backup this local server kubernetes cluster

[2020-06-17 00:04] ashish-amarnath commented on #2630
@shubhammicrosoft1 To use an azure blog store as your object store you can use our [velero-plugin-for-microsoft-azure](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#install-and-start-velero)

[2020-06-17 07:02] adamrushuk opened #2637 "Broken TOC links in documentation"
I "fixed" a broken TOC link and added another one as part of my first PR: https://github.com/vmware-tanzu/velero/pull/2629

However, now live I can see the following TOC links do not work:

- https://velero.io/docs/v1.4/basic-install/#option-1-macos-homebrew
- https://velero.io/docs/v1.4/basic-install/#option-3-windows-chocolatey

I tested locally using `make serve-docs` from https://velero.io/doc

[2020-06-17 11:44] SameeraGrandhi commented on #1856
I'm trying to create a Velero backup with feature CSI enabled on my azure cluster. I'm following the same instructions from the [documentation](https://velero.io/blog/csi-integration/).

I observed the backup has actually completed and failed at the end with the same transport error mentioned in this thread. Here are the log events that I have observed on the velero pod.

[code]

Any idea on what

[2020-06-17 17:36] priyansh08 opened #2643 "Restore empty namespace"
**Describe the problem/challenge you have**
A platform operator may have prepared a namespace in a cluster for future workloads.
When they want to migrate the cluster, Velero does not restore an empty namespace, leading to incomplete restoration of the cluster

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:

[2020-06-17 18:37] dymurray opened #2644 "Custom plugin for a CRD that doesn't exist applies to all resources"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
I wrote a restore plugin for `imagetags.image.openshift.io` resources. This plugin was skipping the restore of all `imagetags` resources. I tested this plugin on a cluster where the `imagetags.image.openshift.io` resource doesn't exist and this plugin was applied to *ALL*

[2020-06-17 18:42] sseago commented on #2644
I imagine what's going on is that the IncludedResources slice may be filtering out resources that don't exist and, if the resulting resource list is empty, velero is treating it as if the user had specified an empty list, which would mean "match everything". A list which, when filtered, results in an empty list should map to "match nothing", while "match everything" should only apply if the user s

[2020-06-17 19:20] #2637 closed

[2020-06-17 21:40] nrb commented on #2644
I _think_ this is the same as what https://github.com/vmware-tanzu/velero/pull/2462 fixed. We saw this when using the CSI plugin on a cluster without the CSI CRDs installed.

This fix was included in Velero v1.4.0; have you noticed the behavior there?

[2020-06-17 21:45] shubhammicrosoft1 commented on #2630
Thanks @ashish-amarnath : It worked like a charm 👍
Can we also change the backup locations to migrate our EKS & GKE Kubernetes clusters to AKS or do we also need to do some changes ?
If there is a documentation around it ?

[2020-06-17 21:58] ashish-amarnath commented on #2630
We have this document that scratches the surface of cross cluster migration https://velero.io/docs/v1.4/migration-case/.
For migration across providers is a little more trickier wrt mapping credentials and access to the object store. You will have to update the manifests of the deployment to setup credentials for different object stores. In your case, you will have to setup Velero running in your

[2020-06-17 22:18] sseago commented on #2644
@nrb This looks like it's exactly what we're seeing. We're still on 1.3.2. Upgrading to 1.4 is on our to-do list, and I guess it's just been bumped up. Thanks. I think this issue can probably be closed.

[2020-06-18 00:31] ashish-amarnath commented on #2644
@sseago and @dymurray  1.4 definitely has the fix. Closing this issue.

[2020-06-18 00:31] #2644 closed

[2020-06-18 00:36] ashish-amarnath commented on #2643
There is an existing issue open for this https://github.com/vmware-tanzu/velero/issues/1970
Closing this one in favor of #1970

[2020-06-18 00:36] #2643 closed

[2020-06-18 01:10] ashish-amarnath commented on #2634
@hibbert thank you for raising this issue.
To backup pod volumes using restic, the main Velero backup process inspects each pod it is backing up to discover volumes to backup using restic. On discovering a volume to be backed up using restic, a `podVolumeBackup` object is created that will cause the restic daemon set pod, that mounts /var/lib/kublet/pods` to run restic commands to backup the speci

[2020-06-18 01:21] ashish-amarnath commented on #2632
@diemus  Looks like the CRD discovery did not work as expected.
Can you please share the output of `kubectl get --raw "/apis" | jq .` before and after running restore?
Also, can you confirm that your backup has the custom resource definition for your types?

[2020-06-18 01:31] ashish-amarnath commented on #2623
@FaridHub I would suggest working with your IT team to allow traffic to docker hub.
Alternatively, you can also setup an internal container image registry. Refer [Air-gapped deployments
section of this doc](https://velero.io/docs/v1.4/on-premises/#on-premises-environments)

You could also build your own velero images and load them into your image registry.

Unfortunately, we are unable to assist y

[2020-06-18 01:31] #2623 closed

[2020-06-18 02:07] Sam8301-arch opened #2646 "Chart incompatible"
Hello Guys!

Quick question, is chart incompatible with Tiller v2.9.1? Getting below error while installing chart?"Error: Chart incompatible with Tiller v2.9.1" Any idea how to move ahead on this?

[2020-06-18 05:10] kobayashi commented on #2568
Hello,
Do I have chance to take this issue?

[2020-06-18 05:40] rahulgit1988 opened #2647 "Velero: How fsfreeze to configure in pre/post hook with the container image which doesn't have fsfreeze binary?"
**What steps did you take and what happened:**
We would like to know the behaviour of fsfreeze in pre/post hook. and what happen if the container is not having the fsfreeze binary.
In other words..
If user has to add fsfreeze to pre/post hook by their own, how can pre/post hook be configured with the container image which doesn't have fsfreeze binary?

**What did you expect to happen:**
In case fs

[2020-06-18 06:03] rahulgit1988 opened #2648 "fsfreeze hook is not working as per the published example on velero official document."
We are following the same steps as mentioned in the velero official documentataion. Referring below link:
https://github.com/vmware-tanzu/velero/blob/master/examples/nginx-app/with-pv.yaml

After executing yml file deployement is not in the running state

[core@host example]$ oc get deployment -n nginx-example
NAME               READY   UP-TO-DATE   AVAILABLE   AGE
nginx-deployment   0/1     0

[2020-06-18 06:09] rahulgit1988 commented on #2648
Additionaly i have some doubts/questions.
- If user has to add fsfreeze to pre/post hook by their own, how can pre/post hook be configured with the container image which doesn't have fsfreeze binary?
- And in case fsfreeze is not availble is there any workarround like attche supporting conatiner of fsfreeze to the container pod.
- I have seen the fsfreeze conatiner is used in example deployment ha

[2020-06-18 06:52] diemus commented on #2632
this is how our crd defines, the only purpose of this crd is create a reference and let k8s help us do the gc work
[code]

[2020-06-18 06:52] diemus commented on #2632
yes, I am pretty sure the backup has crd in it. this is the describe of backup
[code]
this is what i have in the backup
[code]

[code]

[code]

[code]

[2020-06-18 06:56] diemus commented on #2632
`kubectl get --raw "/apis" | jq .` before

[code]

[2020-06-18 06:59] VincenzoDo commented on #2507
Upgraded to version 1.4 but still getting errors:
[code]

[2020-06-18 07:09] diemus commented on #2632
by the way , what is the meaning of `Skipping restore of resource because it cannot be resolved via discovery`  or `CRD discovery`,  this time the restore process stuck in `InProgress` status, it's seems my cluster have some problems today, I think I should run a test again after I fix those problems to exclude this factor

[2020-06-18 09:14] l0wl3vel commented on #2647
You have two options:

1. Build a container with the fsfreeze in it
2. Install the binary with the hook

[2020-06-18 09:34] HaveFun83 commented on #2262
https://github.com/restic/restic/issues/1878

[2020-06-18 14:39] kverstr opened #2649 "Velero on k8s 1.10"
To be able migrate from k8s v1.10 to v1.16 we want use Velero to backup our namespaces.
I was able to install Velero on a v.1.16 cluster, however on v1.10 I'm getting errors.
I think about the nullable properties, the docs say that to fix that issue in versions prior to v1.14 you should pass the --validate=false option to kubectl (which I did). But this doesn't seem to fix the issue. Is it possibl

[2020-06-18 15:30] swe-pawe commented on #1856
Same for me on Azure AKS with advanced networking.
Everything seems to proceed as expected (Backup on Storage Account, Snapshots), just the finalization seems to break.
[code]

[2020-06-18 15:39] skriss commented on #1856
I would first try increasing the memory limit on the Velero deployment. There may be a couple of defaults that aren't playing nice together. Let us know if that fixes things!

[2020-06-18 15:49] laverya opened #2650 "cannot import velero in go projects using k8s.io/api@v0.18.x"
**Describe the problem/challenge you have**
I cannot import velero packages in a project using k8s.io/api@v0.18.x, because v0.18.x added breaking changes to the API spec (requiring context for get/list/create/update operations, mainly)

**Describe the solution you'd like**
Velero should update to import v0.18.x of the various k8s packages.

**Anything else you would like to add:**

**Environment:*

[2020-06-18 15:54] swe-pawe commented on #1856
Went from 1 CPU/256Mi to 2 CPU and 1Gi -> works now...
Thanks a lot for your fast reply!

[2020-06-18 16:03] laverya commented on #2650
and I just realized this is a duplicate of https://github.com/vmware-tanzu/velero/issues/2540 (though with a little more detail). For some reason I didn't see that when I was searching... (I probably searched for the dependency version - 0.18 - instead of the k8s version that matches, 1.18)

[2020-06-18 16:03] #2650 closed

[2020-06-18 16:31] ashish-amarnath commented on #2646
Can you please confirm you are using the helm chart at https://github.com/vmware-tanzu/helm-charts?

[2020-06-18 18:21] ashish-amarnath commented on #2647
@rahulgit1988 backup pre and post hooks are configured to run commands from within the container during a backup. It is assumed that these commands, setup in the hooks, are valid executables from within the container.
There is no other workaround to remediate missing executables other than what @l0wl3vel has mentioned.

I am going to close this issue, please feel free to reach out/ re-open if furt

[2020-06-18 18:21] #2647 closed

[2020-06-18 18:54] ashish-amarnath commented on #2632
The kubernetes discovery API is used by velero to discover the API's known to the API server.
This is used to create dynamic clients to perform `Create`, `Get` on resources of that type.
Coming to the log message

This means that the API server wasn't aware of the type `applications.neo.io` at the time of restoring an object of that type.

Further, if a backup has a custom resource definition in i

[2020-06-18 18:56] ashish-amarnath commented on #2648
Related to #2647

[2020-06-18 19:05] ashish-amarnath commented on #2648
@rahulgit1988 Can you please share the entire output of `velero backup logs <backup-name>`?
If the command that you are wanting to run is not available, you might want to:

1. build a container with the command
2. Install the command/utility as part of the hook.
3. Run a side-car container with the utility if you are not building your own container image. [(as shown in that example)](https://githu

[2020-06-18 19:55] laverya commented on #2540
I've opened a PR to update to k8s 1.18 - only major problem I foresee is that the external-snapshotter import is now a prerelease version (since the currently released version is still k8s 1.17)

[2020-06-18 22:46] laura-chen opened #2652 "Request for all prehooks to be executed before volume snapshot"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
We are using Velero for a disaster recovery solution and in order to do online backups, we specify a prehook on two pods to suspend writes on databases before a backup and a post hook to resume writes afterwards.

Since the backups take place on a per-object basis, it

[2020-06-19 01:45] Sam8301-arch commented on #2646
Thanks for the feedback Ashish. I am getting this error
"manifest_sorter.go:192:
info: skipping unknown hook: "crd-install" with helm3. Is it fixed or any
idea how to move around on this?

On Fri, Jun 19, 2020 at 4:31 AM Ashish Amarnath <notifications@github.com>
wrote:

[2020-06-19 05:43] burkhat commented on #2539
@skriss yesterday the error appeared again, I've uploaded all logs from the restic pods to gist: https://gist.github.com/burkhat/8417c6351898250291209937853b4461

oc -n openshift-backup get pods -l name=restic -o wide
NAME           READY     STATUS    RESTARTS   AGE       IP             NODE       NOMINATED NODE
restic-4mmzw   1/1       Running   0          9d        10.128.0.10    master-0   <no

[2020-06-19 08:55] rahulgit1988 opened #2653 "Restoration is failing while taking restore for Istio service mesh app."
**What steps did you take and what happened:**
1- I have some app running on OCP enviorment, Istio service mesh is deployed and side car is injected in each conatiner.
NAME                                  READY   STATUS    RESTARTS   AGE
pod/details-v1-c4cf9fdc8-tksh7        2/2     Running   0          2d
pod/productpage-v1-654b899dbd-2dg6j   2/2     Running   0          2d
pod/ratings-v1-79c78d

[2020-06-19 13:40] carlisia opened #2654 "Velero public API (please take note)"
Please take note that what Velero intentionally exposes as a public API are the packages below:

https://github.com/vmware-tanzu/velero/tree/master/pkg/apis/velero/v1

https://github.com/vmware-tanzu/velero/tree/master/pkg/plugin

https://github.com/vmware-tanzu/velero/tree/master/pkg/install

We will be doing work to move code that we don't intend to be for public consumption into the `internal`

[2020-06-19 15:16] bsctl commented on #2477
Having a namespace label selector for all the objects in that namespace, would be a great improvement usage of Velero.

[2020-06-19 16:34] skriss commented on #2539
I'm going to pass this off to someone else on @vmware-tanzu/velero-maintainers, but ping me if you need anything.

[2020-06-19 16:42] #1871 closed

[2020-06-19 18:11] nrb commented on #2654
@betta1 @dymurray @vishnuitta Letting you know as you depend on Velero code.

[2020-06-19 21:55] ashish-amarnath commented on #2631
@MSidda I am going to close this issue for inactivity. Please feel free to reach out and reopen if you need further assistance.

[2020-06-19 21:55] #2631 closed

[2020-06-19 22:32] ashish-amarnath commented on #2646
Based on https://github.com/datawire/ambassador/issues/2057#issuecomment-560007192. this log message can be safely ignored.

I was able install velero into my cluster using helm3 following instructions from https://github.com/vmware-tanzu/helm-charts/blob/master/charts/velero/README.md#using-helm-3

E.g.:
[code]

[2020-06-19 22:35] carlisia opened #2656 "Convert DownloadRequest resource/controller to the kubebuilder framework"
**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to the right of this comment to vote.

- :+1: for "The project would be better with this feature added"
- :-1: for "This

[2020-06-19 22:35] ashish-amarnath commented on #2626
@balajir24 I am going to close this issue for inactivity. Please feel free to reach out or re-open if further assistance is needed.

[2020-06-19 22:35] #2626 closed

[2020-06-19 22:47] carlisia opened #2657 "Convert BackupTracker controller to the kubebuilder framework"
**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to the right of this comment to vote.

- :+1: for "The project would be better with this feature added"
- :-1: for "This

[2020-06-19 22:53] ashish-amarnath commented on #2653
@rahulgit1988 I don't see any error messages in the logs you shared and it is not clear what is the failure you are seeing.
To answer your question though, it is possible to backup and restore custom CRDs using Velero.
Velero uses the Kubernetes discovery API to become aware of the types installed in the cluster during both backup and recovery.

[2020-06-19 23:44] ashish-amarnath commented on #2652
@laura-chen Thanks for reporting this.
Currently, the main backup controller in Velero is a single worker controller, meaning things get backed up one at a time.

Also, I am not fully aware of your app architecture. But it seems to me like, the database is resource shared by two pods. For that reason, you may want to consider backing up the database by itself and not as part of backing up the appl

[2020-06-21 09:33] fajarbl opened #2658 "Non cluster-admin role for velero service account."
**Describe the problem/challenge you have**
Hi, is there any way to run velero without cluster-admin role for its service account ?
We feel it's just too broad to implement a workload with cluster-admin role even though its main purposes are to make manifest / cluster configuration backup. Or is there any way to make sure that there are no destructive operation that could impact existing workload

[2020-06-21 21:34] Sam8301-arch commented on #2646
I am still getting warning/error after following the steps but the velero
server is still not up and running after following steps.
"kubectl get deployment/velero-1592774546 -n velero

NAME                READY   UP-TO-DATE   AVAILABLE   AGE
velero-1592774546   0/1     1            0           9m32s "

On Sat, Jun 20, 2020 at 10:32 AM Ashish Amarnath <notifications@github.com>
wrote:

[2020-06-21 21:55] ashish-amarnath commented on #2646
Can you please share the output of kubectl-n velero get po deploy/velero and
Kubectl -n velero describe po deploy/velero?

[2020-06-22 01:41] Sam8301-arch commented on #2646
kubectl -n velero get pods velero-1592776490-f7654cbd8-245lr

NAME                                READY   STATUS             RESTARTS
AGE

velero-1592776490-f7654cbd8-245lr   0/1     CrashLoopBackOff   36
164m

kubectl -n velero describe pods/velero-1592776490-f7654cbd8-245lr

Name:           velero-1592776490-f7654cbd8-245lr

Namespace:      velero

Priority:       0

Node:           ip-10-0-x-xx

[2020-06-22 05:35] rahulgit1988 commented on #2653
In restoration, phase: value is empty

[2020-06-22 06:47] rahulgit1988 commented on #2653
I want it for specific Custom Resource, Not for entire namespace contaning the CRDs

[2020-06-22 08:22] rahulgit1988 commented on #2042
This is my question as well, facing same issue.
Just saw this issue is closed, is there any workaround?

[2020-06-22 11:52] Berndinox commented on #1856
Same here.
AKS 1.16
velero1.14

confirm: increasing the limits fixed the issue

[2020-06-22 15:38] stephbman commented on #2116
Links to requirements document here:  https://github.com/stephbman/velero/pull/1/files

[2020-06-22 15:38] skriss commented on #1856
@vmware-tanzu/velero-maintainers I'm guessing we should lower the value for [this setting](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/master/velero-plugin-for-microsoft-azure/object_store.go#L44-L46). I set it at 100MB since that's the max Azure allows, which means Velero will create the minimum number of chunks, but I think it's causing Velero to exceed its default lim

[2020-06-22 15:46] lebrisg commented on #2596
@dymurray I have added the following instruction during the installation of Velero:
velero plugin add quay.io/ocpmigrate/velero-plugin

When I do a backup, I now exclude ImageTag resources.

Results: all my objects are correctly backed up and restored except my PV! (I didn't forget to annotate it as asked).

Here is the result of the 'velero plugin get' command:

NAME

[2020-06-22 16:44] ashish-amarnath commented on #2646
@Sam8301-arch The pod is in a crashloop. Can you please inspect the logs to identify what is causing the pod to crash?
or share the logs from `kubectl -n velero logs deploy/velero`

[2020-06-22 17:24] nrb commented on #2658
Hi @fajarbl, this is definitely a legitimate concern!

To that end, we have docs at https://velero.io/docs/v1.4/rbac/ (a similar page exists for 1.3.2) for turning the Velero service account's permissions to something more restricted. You should be able to find them with the docs search function, though I don't think it's in the documentation's table of contents.

Do note that if you do so, you ma

[2020-06-22 17:24] #2658 closed

[2020-06-22 20:30] michmike commented on #2654
i assume we will chat about this in the next 1-2 community meetings. thanks

[2020-06-22 20:32] Sam8301-arch commented on #2646
kubectl -n velero logs deploy/velero-xxx

time="2020-06-22T20:25:29Z" level=info msg="setting log-level to INFO"
logSource="pkg/cmd/server/server.go:177"

time="2020-06-22T20:25:29Z" level=info msg="Starting Velero server v1.4.0
(5963650c9d64643daaf510ef93ac4a36b6483392)"
logSource="pkg/cmd/server/server.go:179"

time="2020-06-22T20:25:29Z" level=info msg="No feature flags enabled"
logSource="pkg/

[2020-06-22 20:40] Sam8301-arch commented on #2646
FYI, i have used "helm3 install vmware-tanzu/velero --namespace velero
--set configuration.provider=aws --set-file
credentials.secretContents.cloud=/xx/xxx/credentials-velero --set
configuration.backupStorageLocation.bucket=velero830 --set
configuration.backupStorageLocation.config.region=ap-southeast-2 --set
image.repository=velero/velero --set image.tag=v1.4.0 --set
image.pullPolicy=IfNotPresent

[2020-06-22 21:00] jwmatthews commented on #2654
cc @sseago @alaypatel07

[2020-06-22 21:31] nrb commented on #2654
@michmike Yeah, I think this will be an on-going community meeting agenda item.

[2020-06-22 21:41] betta1 commented on #2654
thanks @nrb for the heads up.

cc @phuongatemc

[2020-06-23 04:09] ChrHan commented on #2658
Hi @nrb , I've looked at the [link](https://velero.io/docs/v1.4/rbac/) you posted and it seems that the list of permission is incomplete:
[code]

[code]

There were only `Role` and `RoleBinding`; do we need `ClusterRole` and `ClusterRoleBinding` too? if yes, what kind of permissions are needed?

[2020-06-23 14:53] SomtochiAma opened #2662 "Add flag(like --dry-run -oyaml) to generate yaml for some commands"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
Currently, if I want to schedule or restore a backup, I have to write the CRD from scratch, which isn't too bad but more error-prone

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
A flag(just like --dry-run -oyaml fo

[2020-06-23 15:26] mtritabaugh commented on #1440
I'd like to assign this to myself.

[2020-06-23 16:59] mynktl commented on #2654
Hi @carlisia

We are using following packages:
- https://github.com/vmware-tanzu/velero/tree/master/pkg/builder
       - We are using this package to build backup/restore/schedule resources. We can write our own package for this, but It will be good to have this package exposed since it includes builder code of Velero resources.

- https://github.com/vmware-tanzu/velero/tree/master/pkg/backup

[2020-06-23 17:02] nrb commented on #2662
Hi @SomtochiAma and @pietervincken

If you take a look at `velero schedule create --help`, there's a `-o/--output` argument for getting the JSON or YAML.

`  -o, --output string                                   Output display format. For create commands, display the object but do not send it to the server. Valid formats are 'table', 'json', and 'yaml'. 'table' is not valid for the install command

[2020-06-23 17:02] #2662 closed

[2020-06-23 17:05] carlisia commented on #2662
We will also be adding that for the new install related commands we are going to add: https://github.com/vmware-tanzu/velero/issues/2432

[2020-06-23 17:06] carlisia opened #2663 "Investigate using PROW"
Let's investigate if it's worth a while adding prow to our workflow.

https://github.com/jpmcb/prow-github-actions

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to th

[2020-06-23 17:13] SomtochiAma commented on #2662
Oh, that's great! Thank you!

[2020-06-23 18:12] nrb commented on #2425
@carlisia Can you detail what improvements are required, as someone else is taking up this work?

[2020-06-23 18:15] carlisia commented on #2425
Yes, so, the specs for all of the new commands are linked in the epic (https://github.com/vmware-tanzu/velero/issues/2419). I didn't want to copy/paste that into every single one.

[2020-06-23 21:55] ashish-amarnath commented on #2646
@Sam8301-arch
So the pod is crashing because the credentials provided to velero is either has insufficient  permissions or is not correct.

Can you please confirm that the IAM user has the correct privileges from the AWS console?

Also, please confirm that the `cloud-credentials` secret exists in the `velero` namespace and that its contents are accurate?
- `kubectl -n velero get secrets`
- `kubect

[2020-06-23 23:36] Sam8301-arch commented on #2646
permissions are created as per AWS URL on velero site. i didn't put
credentials in the namespace as not mention in the steps. i have put it now
but still no luck. please see below

kubectl create secret generic credentials-velero --namespace velero
--from-file credentials-velero

kubectl -n velero get secrets

NAME                                      TYPE
    DATA   AGE

credentials-velero

[2020-06-23 23:39] ashish-amarnath commented on #2646
@Sam8301-arch Is the pod still in crashloop?
Can you please share the output of `kubectl -n velero logs  deploy/velero`

[2020-06-23 23:51] Sam8301-arch commented on #2646
yes still in the same loop

kubectl -n velero logs deploy/velero-1592956022

time="2020-06-23T23:49:18Z" level=info msg="setting log-level to INFO"
logSource="pkg/cmd/server/server.go:177"

time="2020-06-23T23:49:18Z" level=info msg="Starting Velero server v1.4.0
(5963650c9d64643daaf510ef93ac4a36b6483392)"
logSource="pkg/cmd/server/server.go:179"

time="2020-06-23T23:49:18Z" level=info msg="No fea

[2020-06-23 23:54] ashish-amarnath commented on #2646
Still indicating that there is a problem with the credentials.
Can you confirm that the contents are right? It should be of the following format
[code]

[2020-06-23 23:56] ashish-amarnath commented on #2630
@shubhammicrosoft1 I am closing this issue. If you need further assistance please feel free to reach out.

[2020-06-23 23:56] #2630 closed

[2020-06-23 23:57] ashish-amarnath commented on #2648
@rahulgit1988 I am closing this issue for inactivity. Please feel free to reach out if you need further assistance.

[2020-06-23 23:57] #2648 closed

[2020-06-24 00:15] Sam8301-arch commented on #2646
yes same format yesterday i have created another keys and even after that
it didn't work.

[2020-06-24 00:31] ashish-amarnath commented on #2646
I am not sure what is going on but the `403` definitely indicates a problem with your credentials.

[2020-06-24 00:54] Sam8301-arch commented on #2646
so put dummy values in the credentials file and then recreate the namespace
and then it gives me below message

"An error occurred: some backup storage locations are invalid: backup store
for location "default" is invalid: rpc error: code = Unknown desc =
InvalidAccessKeyId: The AWS Access Key Id you provided does not exist in
our records.

status code: 403, request id: xxx, host id: xx"

[2020-06-24 00:57] ashish-amarnath commented on #2646
This to me, indicates that your credentials are correct, but the IAM user may not have access to the S3 bucket.
Can you try using the aws cli with these credentials to run `aws s3 ls`?

[2020-06-24 01:15] Sam8301-arch commented on #2646
So I created a user and assign a policy(on velero site) to that user and
group. Let me install aws-cli and check from there too.

On Wed, Jun 24, 2020 at 12:57 PM Ashish Amarnath <notifications@github.com>
wrote:

[2020-06-24 02:07] Sam8301-arch commented on #2646
yes i can access it, with the same user

*razhar@dev-manager*:*~*$ /usr/local/bin/aws s3 ls

2020-04-14 03:08:09 xx

2020-06-16 19:13:42 xx

2020-04-09 22:49:07 xx

2020-06-16 19:53:06 xxx

2019-09-22 21:58:18 xxx

2019-08-19 21:39:53 xxx

2020-06-16 21:31:46 xx

2020-06-16 21:31:47 xx

2019-12-19 01:08:19 xx

2020-05-15 03:26:23 xx

2020-06-16 21:31:47 xx

2020-06-16 21:31:48 fx

2020-06-16 21:31

[2020-06-24 02:10] ashish-amarnath commented on #2646
What about the exact bucket?

[2020-06-24 02:31] Sam8301-arch commented on #2646
yes bucket as well at the end of the list.  i can see the entry from aws
console as well

On Wed, Jun 24, 2020 at 2:11 PM Ashish Amarnath <notifications@github.com>
wrote:

[2020-06-24 09:13] NiveditaKumari14 opened #2664 "Velero restore is not working correctly with SAN backend"
**What steps did you take and what happened:**
I have created a backend using "san" and below is the details of other resources:
StorageClass: Retain
VolumeSnapshotClass: Retain
then created PVC and Pod inside namespace retain-retain-namespace.

[core@host-192-168-75-38 san-backend]$ oc get pods
NAME             READY   STATUS    RESTARTS   AGE
csi-new-pod-11   1/1     Running   0          3m51s

[2020-06-24 13:01] turkenh commented on #2458
Same here, we are also getting similar issues which are just fixed by retrying.

[2020-06-24 15:51] ashish-amarnath commented on #2646
I know you checked this, but can you check the contents of the secret? Sometimes the character combinations in the access key and the secret contain special characters that can cause this. Also, `aws_access_key_id` and `aws_secret_access_key ` should both be lower case. Another thing you might want to try is have no whitespace on either side of the `=`.

Unfortunately I don't know exactly what mig

[2020-06-24 16:55] #2604 closed

[2020-06-24 20:00] nrb opened #2665 "Document "in-place" migration use case"
**Describe the problem/challenge you have**
Velero can help users upgrade their Kubernetes cluster to a new version without making snapshots of volumes, but this case is not documented.

This is especially relevant in on-premises/air-gapped installations that have a capped amount of storage.

**Describe the solution you'd like**
Add a new use case that describes how to upgrade a Kubernetes cluster

[2020-06-24 21:00] Sam8301-arch commented on #2646
Finally it's working now. I have make the bucket public and it worked after
that so i have checked policy.json file and got the issue from there.

[2020-06-24 21:07] ashish-amarnath commented on #2646
Glad to have this working for you! I am going to close this issue. Please feel free to reach out if you need more assistance.

[2020-06-24 21:07] #2646 closed

[2020-06-25 07:01] fvsqr commented on #2537
I was able to reproduce the issue @reddiablo85 described on my side with StorageGrid.

It seems that the reason is because of this line https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/util/downloadrequest/downloadrequest.go#L144
The request header Accept-Encoding is explicitly set to 'gzip' and that causes StorageGrid to encode the requested object with gzip. For me this sounds like the

[2020-06-25 07:01] burkhat commented on #2539
Does anyone have updates to this issue?

[2020-06-25 07:34] avishaiNB opened #2668 "Restore only pod volume using Restic"
Is it possible to backup only the PV that is annotated in the pod without actually backing up the pod (resource) or any other resource for that matter?

I created a backup of elastic pv.
Then i created a new k8s cluster with elastic install on it.
I tried to restore the backup of the volume from the other cluster.

i got this errors:
[code]

beside the differences in the versions, is it even possi

[2020-06-25 09:37] l0wl3vel opened #2669 "ConfigMap BinaryData field is not getting restored"
**What steps did you take and what happened:**

1. Create a ConfigMap with the --from-file= from a binary file
2. Backup the ConfigMap
3. Restore the Configmap and try to mount the sub path of the file
4. Mount fails

**What did you expect to happen:**
The mount succeeds and the file is available

**The output of the following commands will help us better understand what's going on**:
(Pasting lon

[2020-06-25 17:18] ashish-amarnath commented on #2506
I am closing this issue for inactivity. Please feel free to reach out if you need further assistance.

[2020-06-25 17:18] #2506 closed

[2020-06-25 17:49] surekhakallam opened #2670 "Few of our db's are not getting properly restore"
few of our db's like apache - ignite , kafka (broker , zookeeper), and elastic search are not getting restored properly ... even after we include the restic tag and also the after adding annotations for those pods

and the one more issue we are facing is ... say suppose i use the node port as static to some value .. after i take the backup and then restore it back ... i find all the node ports whi

[2020-06-25 20:28] asoltesz opened #2671 "Hybrid VolumeSnapshot/Restic backup (consistent, online, point-in-time filesystem backup)"
**Describe the problem/challenge you have**

Velero doesn't have consistent, point-in-time filesystem backups for my storage provider (Rook/Ceph) and several others.

It does have Restic integration which can take a filesystem backup from Persistent Volumes but in order to make it consistent, one has to stop the workload, otherwise the files may change inconsistently with each other as the backup

[2020-06-25 22:31] ashish-amarnath commented on #2395
The phase of the pod is something that is external to Velero. Trying to think what would be an expected behavior when this happens? Putting out some options:
1. Check Pod status before creating the `PodVolumeBackup` objects [here](https://github.com/vmware-tanzu/velero/blob/master/pkg/restic/backupper.go#L160)
2. Check pod status in the pod_volume_backup controller [here](https://github.com/vmware

[2020-06-26 13:45] sfudeus opened #2672 "Recover backups metadata from backup storage location"
**Describe the problem/challenge you have**

Our main use case for using velero is to protect central metadata which cannot be defined by deployment pipelines (like PV, PVC) from loss due to full etcd failure.
Losing the etcd means losing the backup objects as well, all other relevant data being in an S3 storage outside of the cluster.

**Describe the solution you'd like**

I could imagine (and in

[2020-06-26 20:50] stephbman commented on #2116
@marccampbell we'll be moving the deep dive out by a few days to mid/late next week. I will send details your way on that.

[2020-06-26 21:22] ashish-amarnath opened #2673 "While backing up custom resource, auto include the CRD in the backup"
context dump: https://kubernetes.slack.com/archives/C6VCGP4MT/p1593205549061900

**What steps did you take and what happened:**
While backing up custom resources, the corresponding CRD are not included in the backup without the `--include-cluster-resources` flag.
Further, even if the backup does included CRDs, they are not restored if the restore did use the `--include-cluster-resources`
flag.

**

[2020-06-29 16:16] gdubya commented on #1959
Yeah, what was 'fixed'? I have a similar error:

config has invalid keys [storageAccount]; valid keys are [resourceGroup apiTimeout subscriptionId]

[2020-06-30 07:58] reddiablo85 opened #2675 "cacert integration"
We have installed the new version of Velero (V1.4.0) and tested our backups & restores to our internal s3 provider over http. No issues to report.
We decided to reinstall to start using https. The first issue we encountered was that the helm chart doesn´t seem to include a configurable parameter to point the velero workload to an internal cacert. To get around this we installed the cacert manually

[2020-06-30 11:28] reddiablo85 commented on #2675
so after further testing we were able to mount a pvc into the velero deployment and store the certificate in there
following that we were able to add the variable AWS_CA_BUNDLE to our deployment (as per this comment on another issue https://github.com/vmware-tanzu/velero/issues/1027#issuecomment-571917218)

now we are working on building all of this into the helm chart to ease the deployment

[2020-06-30 12:39] danielthrasher commented on #2568
Is this still available?  Mind if I get assigned this one and complete it?

[2020-06-30 13:09] danielthrasher commented on #2568
If this is still available,  I have created a PR as well for it.

https://github.com/vmware-tanzu/velero/pull/2676

[2020-06-30 16:47] danielthrasher commented on #2568
/assign

[2020-06-30 17:02] ashish-amarnath commented on #2568
@kobayashi apologies for not seeing your comment earlier. Thank you for offering to help on this issue. For future reference, any issue without an active PR for it is available to work on.

[2020-06-30 21:50] stephbman opened #2678 "Restore Hooks product requirements document"
The markdown file containing the product requirements document for the restore hooks feature epic is included here.

[2020-07-01 13:57] reddiablo85 commented on #2675
Have to reopen this issue. As mentioned previously we have solved the Velero side of things by doing the following:
- Adding a secret with the company root cert to our cluster and pointing the velero pod to it by adding an environment variable: AWS_CA_BUNDLE={PATH to CACERT}

This allows us visibility from the velero client to our s3 bucket over https. However the cert is not passed to the restic

[2020-07-01 14:02] JankoMat opened #2680 "Backing up PVs on Openshift fails"
Hello Everyone!

I am new to Velero and trying to use it to make a nice centralized backup with it that I can use to restore everything from an existing Openshift cluster to a new one in case of a disaster. The plan at the moment is to use Velero to backup everything to a self hosted Minio since I am running the Openshift cluster and all the application data in it on vSphere and not in the cloud,

[2020-07-02 06:50] ganesan-cmd opened #2681 "Procedure for Migrating the Kubernetes cluster from one DC to Another DC with New IP change"
Hi Team ,
We are Planing to Migrate the 3 node Kubernetes cluster from One On-prem DC to another On-perm DC,. In that we will be changing the IP address of All the 3 Nodes. Kindly help ,is there standard procedure for migrating the Kuberetes cluster from one DC to another DC with New IP and to resume my container services back to work as like in the Old DC IP .

[2020-07-02 13:09] michael-niemand commented on #2116
I'd appreciate a feature like this as well!

[2020-07-02 16:22] sgielen commented on #2466
I've encountered this as well on AWS:

[code]

[2020-07-02 20:10] ashish-amarnath opened #2682 "Location of CRD manifests in the backup archive is not correct"
**What steps did you take and what happened:**
1. Take a backup to include CRDs
2. Download the backup archive
3. On inspecting the backup tarball, the CRD manifests were found to be under

[code]
This was resulting in these crds being excluded from restoration as the backup parser expects these manifests to be under `<BACKUP_ROOT>/resource/customresourcedefinitions.apiextensions.k8s.io/cluster`
h

[2020-07-02 20:16] ashish-amarnath commented on #2673
Quick update on this.
So the CRDs are included as part of the backup even without the `--include-cluster-resources` flag as reported in this issue.
The code that does this is https://github.com/vmware-tanzu/velero/blob/master/pkg/backup/backup.go#L421-L428
Further more the restore flow also attempts to restore the CRDs.

However, the custom resources were not being restored because the restoring o

[2020-07-02 20:30] sgielen opened #2684 "Download PV data with `velero backup download`"
<sub>First of all, thanks for making such a nice application! It took me a bit to get it running on my arm64 cluster because of #2466, and also to build an arm64 version of the velero-plugin-for-aws image -- I don't have any AWS volumes attached to my bare-metal cluster of course, but I think the documentation doesn't specify whether I need it to backup **to** AWS, so I installed it anyway...</sub

[2020-07-02 21:45] scaranoj commented on #2422
Hey @carlisia, can you please assign me to this? :)

[2020-07-02 23:25] looselycoupled opened #2686 "Error attaching volume already attached to previous cluster"
**What steps did you take and what happened:**

### Problem

After performing a `restore create` in a second cluster all items appeared to restore except for a problem with one PV.  Our etcd server's PVC could not be fulfilled because the volume was attached to the original cluster.  Other etcd servers on different deployments were fine.  A kubectl describe of the pod shows:

[code]
The two cluste

[2020-07-03 09:32] luwang-vmware opened #2687 "add Started and Completed time in the restore operation"
**Describe the problem/challenge you have**
velero backup has Started and Completed time to clear know how long it takes. But in the restore operation, I do not see it. Is it possible to add it in the restore as well? So user can clearly see how long it takes during restore, specially the pods with PV attached.

**Describe the solution you'd like**
velero restore can show Started and Completed tim

[2020-07-03 09:48] michael-niemand opened #2688 "PodVolumeRestore not created on velero restore create"
**What steps did you take and what happened:**

1. Have a workload with 2 volumes
2. Have them backed up properly including said volumes (backup has Completed state, volumes are in the annotation with their volume name. PodVolumeBackup objects are there and are in Completed phase)
3. create a restore using
`velero restore create --from-backup=fresubin-dev-backup-schedule-20200703080016 --include-c

[2020-07-03 15:48] sfudeus commented on #2672
Sorry for the noise, I just noticed that exactly that is already implemented - I did not find a reference in the documentation, maybe that could be improved eventually.

[2020-07-03 15:48] #2672 closed

[2020-07-04 00:35] DanielXiao opened #2689 "Http request is redirected to original NodePort after service is restored with a new NodePort"
**What steps did you take and what happened:**
1. Deploy wordpress with service type NodePort, and login it through NodePort to add some posts.
[code]

2. Backup the whole namespace.
`velero backup create wordpress-1 --include-namespaces blog`

3. Restore wordpress-1 to another Kubernetes cluster.
`velero restore create --from-backup wordpress-1`

4. Check the new NodePort has changed from 32050 t

[2020-07-06 10:22] michael-niemand commented on #2544
was finally able to test patching the storage class and backup seems to work now, at least according to the size of the backup, since the [restore doesnt work yet](https://github.com/vmware-tanzu/velero/issues/2688)

But this one is a /close. Thanks for helping out a noob. Appreciate it.

[2020-07-06 10:22] #2544 closed

[2020-07-06 15:12] michael-niemand commented on #2688
TIL there must not be any traces of the objects that have been backed, otherwise the volumes are not being restored - is that the case?

[2020-07-06 16:36] ashish-amarnath commented on #2664
@NiveditaKumari14 The error you are seeing is from your storage driver and not Velero per-say. Here is an issue I found that might be related to what you are seeing https://github.com/NetApp/trident/issues/407.

I am going to close this issue as this is unrelated to Velero. Please feel free to reach out to us if you have more questions.

[2020-07-06 16:36] #2664 closed

[2020-07-06 16:42] ashish-amarnath commented on #2668
@avishaiNB Thanks for reporting this issue. We currently don't have this implemented and have https://github.com/vmware-tanzu/velero/issues/504, similar to your ask, on our backlog. We don't have an ETA for this yet. We will keep the issue #504 updated once we do.

We are now using using issue voting for prioritizing our back log. Please feel free to upvote this issue and #504

Vote on this issue!

[2020-07-06 16:46] ashish-amarnath commented on #2668
Considering that this is a duplicate issue and that the two issues have been linked. I am going to close this issue to avoid upvote fragmentation.
Please feel free to reach out if you have more questions.

[2020-07-06 16:46] #2668 closed

[2020-07-06 17:08] rohandvora opened #2690 "Providing '/' in namespace leads to a crash"
**What steps did you take and what happened:**
Running the following command leads to velero pod crashing. The backup gets stuck in `in-progress` state.
`velero backup create backup-3 --include-namespaces /`

**What did you expect to happen:**
Though the namespace isn't valid, the expected behavior would be to fail the backup with validation error.

**The output of the following commands will help

[2020-07-06 21:14] #2568 closed

[2020-07-07 02:33] luwang-vmware opened #2691 "PartiallyFailed hit when restoring 2 namespaces with restic plugin in PKS env"
**What steps did you take and what happened:**
This issue can be reproducible.
1. create 2 namespace, named as ns-1g-1 and ns-20g-1.
2. in the two namespaces, I both created statefulset with PV,  one is with 1G PV, and the other is with 20G PV.
3. Write data to the 1G PV and 20G PV seperatly.
4. annotate  the two pods
[code]
5. backup is succeed
`velero --kubecontext=pks-st-2 backup create 1g-20g-

[2020-07-07 03:54] surekhakallam commented on #2670
could you please look into this

[2020-07-07 06:57] burkhat commented on #2539
@skriss Can you forward it again to your colleagues that someone have a look on it, please?

[2020-07-07 12:36] veera2019 opened #2692 "mongodb pvc snapshot backup are not proper"
Hi,
  Mongodb pvc having more that 3GB data , but after taking backup in snapshot it's showing in 29 bytes of data only, it's not taking entire pvc data backup, what is the way to take entire mongodb pvc data backup?
We are running this commands to take backup

 Note: we are trying to take backup from on-prem servers.
velero backup create full-cluster-backup-aws --storage-location aws

Thanks
Veer

[2020-07-07 15:41] kolbis opened #2693 "Question: Backup & Restore for Ceph+Rook"
We are using an on-premise k8s cluster.
we are running distributed storage (cluste)r using ceph + rook
We are looking to use velero to backup & restore our k8s cluster **including** ceph **storage** (cluster).

For some reason, we are unable to do so.
The backup which is uploaded to s3 does not contain actual PV data.

We must be doing something wrong.
Is there an article / documentation which we

[2020-07-07 15:52] balajir24 opened #2694 "Velero HA azure"
Maintainer EDIT (@ashish-amarnath ) addressing insensitive language and using primary and secondary.

Hi,

We are using AKS cluster and We have enabled the HA for Velero ie primary and secondary.  We have defined the backup and snapshot location for master UK south and for secondary US east.

But for secondary, snapshot is storing in the same region only ie UK south. We need to store these snapsho

[2020-07-07 15:52] skriss commented on #2539
cc @vmware-tanzu/velero-maintainers

[2020-07-07 17:25] ashish-amarnath commented on #2539
@burkhat Thank you for your patience. I've added this to my list. Will take a look at it today.

[2020-07-07 17:59] #2682 closed

[2020-07-07 18:31] gonzalo opened #2695 "An error occurred: unknown flag: --default-volumes-to-restic"
Following the instructions to enable and use restic integration for AWS and velero I cannot use the flag --default-volumes-to-restic in both installation or backup commands (https://velero.io/docs/master/customize-installation/ https://velero.io/docs/master/restic/)

Tested on mac and linux

[code]
[code]
Also
[code]

[2020-07-07 22:51] ashish-amarnath commented on #2539
@burkhat Thank you for sharing these logs.
Unfortunately, I don't see anything stand out in the logs indicative of a problem here other than some podvolumebackups not being re-enqueued.
[code]
I wasn't able to correlate the timestamps on the backup logs on those from on the restic daemonset pods.

However, based on the fact that this is happening after a few days of successful runs, here are a few

[2020-07-07 22:52] ashish-amarnath commented on #2673
PR https://github.com/vmware-tanzu/velero/pull/2683 has been merged and that should have solved this issue.
Closing this issue.

[2020-07-07 22:52] #2673 closed

[2020-07-08 06:19] sawansharma005 opened #2697 "unable to delete velero restore objects from the cloud storage"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I was trying to delete the restore objects using the below command but it is not deleting the restore objects from cloud storage.

`velero restore delete ${restore_name}`

**What did you expect to happen:**
It should delete the restore from velero as well as from the clo

[2020-07-08 07:10] burkhat commented on #2539
Hello @ashish-amarnath,

Thanks for your update, I will reply your questions:
1. Load of the nodes:
  _Resource  Requests       Limits
  --------  --------       ------
  cpu       2950m (36%)    4750m (59%)
  cpu       3200m (40%)    8 (100%)
  cpu       2600m (32%)    4800m (60%)
  cpu       1550m (38%)    4800m (120%)
  cpu       1350m (33%)    4600m (114%)
  cpu       1100m (27%)    4200m (105

[2020-07-08 11:54] iohenkies commented on #2695
Same here. Removed everything and installed 1.3.1 instead of 1.4.0: same problem

[2020-07-08 12:09] gonzalo commented on #2695
I've found the answer... you looked the same document as me and it's for **master** branch not 1.4 release. Checkout the 1.4 docs https://velero.io/docs/v1.4/customize-installation/ and https://velero.io/docs/v1.4/restic/ and you won't see any reference to that flag.

[2020-07-08 12:18] iohenkies commented on #2695
Thanks! So we need to annotate every pod/deployment?

[2020-07-08 13:27] carlisia commented on #2695
@ashish-amarnath going to assign this to you, maybe the docs could be improved.

[2020-07-08 13:36] #2600 closed

[2020-07-08 13:48] carlisia commented on #2537
@fvsqr we would love it if you could add a PR for this. Thank you.

[2020-07-08 14:07] ashish-amarnath commented on #2695
@gonzalo The feature you are trying to use has not been released. You are referring to the docs for the code in the master branch and running the release 1.3.2 and 1.4.0

This feature will be part of the 1.5 release of Velero, eta Aug 2020

I am going to close this issue. Please reach out if you have more questions or would like to run this feature in a non-prod environment .

[2020-07-08 14:07] #2695 closed

[2020-07-08 17:39] ashish-amarnath commented on #2539
@burkhat Thank you for sharing that info.
Your cluster definitely has load!

Looking at the kubelet logs, it seems like it had issues with updating its status momentarily
[code]
This could have sent the node into being `NotReady`.
I know you said you get paged when a node become `NotReady` but, may be the node was in `NotReady` for a period lower than your alert threshold.

The node becoming `NotR

[2020-07-08 18:04] ashish-amarnath commented on #2507
@VincenzoDo Can you please tell us what provider you are using to provision volumes?
Can you also please try the troubleshooting steps from https://github.com/vmware-tanzu/velero/issues/2539#issuecomment-641532094, https://github.com/vmware-tanzu/velero/issues/2539#issuecomment-655176937,  and https://github.com/vmware-tanzu/velero/issues/2539#issuecomment-655659903 and

[2020-07-08 21:56] #2472 closed

[2020-07-08 22:10] ashish-amarnath commented on #2690
@rohandvora were you expecting all the namespaces to be backedup?
`/` is not a valid kubernetes namespace name.
Kubernetes resource should be a valid DNS-1123 label- consisting of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character.
If your intention was to backup all namespaces, then you can use `*`

Closing this issue. Please reopen or reach out if yo

[2020-07-08 22:12] ashish-amarnath commented on #2690
It could also be possible that you were expecting Velero to handle this error more gracefully than a crash.
Reopening to clarify.

[2020-07-08 22:18] rohandvora commented on #2690
Hey @ashish-amarnath. Yup. I was expecting Velero to handle this error more gracefully rather than crashing. Though / is not a valid name, there is no validation being done. Though we expect users to provide a valid namespace, not doing so shouldn't lead to a crash. Having said that, this isn't a critical bug blocking us, but would be good to fix it 🙂

[2020-07-09 19:04] ashish-amarnath commented on #2669
@l0wl3vel
If I am understanding this correctly, the backup and restore complete without errors but you are unable to mount the restored config map. Is that correct?

To troubleshoot:
1. Can you please compare the config maps before backup and after restore?
2 Can you please share the failure error message that you are seeing?

[2020-07-10 05:44] burkhat commented on #2539
Hello @ashish-amarnath,

I've restarted all pods so I've to wait until the problem appears again, I will update you on Monday

Regards
Tobias

[2020-07-10 08:11] sacha-lin commented on #1911
HI @ashoks27

Did you find a way to setup the proxy  because I'm having same of issue

Thanks in advance

Sacha

[2020-07-10 13:29] fredleger opened #2701 "Velero backup loops every minute when "ETCD storage quota exceeded" is meet"
**Describe the problem/challenge you have**
One of the cluster i run is on a managed k8s offer. The provider defines quota for ETCD and we reached it out at somme point.
This make the velero backups to fail every minutes (1440 backups of each schedule by day) making the situation even worst, acting like a snowball.
The error message in the backup is "ETCD storage quota exceeded".

**Describe the s

[2020-07-10 14:40] fvsqr commented on #2537
sorry for the delayed response. Before I add a PR, I will check next week, whether the change have a negative impact on my minio setup.

However, I'm still concerned about the comment regarding the cloud providers (see my previous post). I don't think I have the resources to check whether it functions with GCP and Azure. Do you have a test setup for the cloud providers?

BTW: I'm not very into the

[2020-07-10 15:14] JohnnyCrazy commented on #2673
So just to be sure about if I hit this issue currently:

Is it true that backing up and restoring CRDs with 1.40 is not working? I'm currently experimenting backing up/restoring and one of my cluster components is `cert-manager`, which is using CRDs to save LE certificates. After a backup and restore, I was not able to find any certificates.

[2020-07-10 15:59] adityagu0910 opened #2702 "Velero restic maintenance is failing"
**What steps did you take and what happened:**
Velero restic maintenance is failing

`message: "error running command=restic prune --repo=s3:https://MYURL/prd-icp-ahs-backup-bucket/restic/kube-system
      --password-file=/tmp/velero-restic-credentials-kube-system537789550 --cache-dir=/scratch/.cache/restic,
      stdout=counting files in repo\nbuilding new index for repo\n[5:28] 100.00%  25085

[2020-07-10 19:39] adityagu0910 commented on #2702
It was because of the space limit issue on my s3. Closing the issue.

[2020-07-10 19:39] #2702 closed

[2020-07-13 04:16] balajir24 commented on #2694
Hi,

Could you please update on this.

[2020-07-13 19:07] SantiEich commented on #2649
Same error

[2020-07-13 20:28] raghavendrabhat opened #2707 "Velero CSI documentation confusion"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

The CSI related documentation in velero project (https://velero.io/docs/master/csi/) says this in the last paragraph.

VolumeSnapshotContents will have a DeletionPolicy of Retain for the life of the Velero backup in order to prevent them from being deleted on the storage

[2020-07-14 05:29] Rahulnz opened #2708 "Velero restore for PV using Trident CSI - failed to provision volume from the snapshot"
**What steps did you take and what happened:**
In the K8s test cluster, I created a namespace called wordpress, using helm chart wordpress was installed. Velero and minio are already installed and configured in the backup namespace. PersistentVolumes are created and presented by trident (NetApp storage). Trident CSI is configured and allows to take snapshots.

I took backup of the wordpress namesp

[2020-07-14 10:37] burkhat commented on #2539
Hello @ashish-amarnath,

Sorry for my late reply but yesterday I had a lot to do.

I've collected all logs and then I've deleted all pods to find out which pod is in hanging state and can't be terminated:
**restic-m576l              1/1       Terminating   0          6d        10.128.2.89    node-6     <none>**

oc get pods -o wide
NAME                      READY     STATUS        RESTARTS   AGE

[2020-07-14 16:28] ashish-amarnath commented on #2539
@burkhat Thanks for sending that over. I'll take a look at this today

[2020-07-14 16:33] ashish-amarnath commented on #2670
@surekhakallam Can you please provide specific details about issues you are facing with using Velero? Without knowing how you are using Velero, or errors you are running into or logs from Velero, it is difficult to troubleshoot remotely

[2020-07-14 19:29] airmonitor commented on #1381
yup, version velero server v.1.42 returning same error on my microk8s cluster

[2020-07-14 19:58] airmonitor commented on #2675
Hi.

Please try recent version 1.4.2

velero install \
    --image velero/velero-arm64:v1.4.2 \
    --provider aws \
    --plugins velero/velero-plugin-for-aws:master \
    --bucket $BUCKET \
    --backup-location-config region=$REGION \
    --snapshot-location-config region=$REGION \
    --secret-file ~/.aws/credentials-velero \
    --cacert s3-eu-central-1-amazonaws-com.pem \

[2020-07-14 21:47] #1967 closed

[2020-07-15 08:52] reddiablo85 commented on #2675
Hi @airmonitor
That seems to have solved the issue. Thanks very much.
I have discovered another problem when trying to build in the "--default-volumes-to-restic" flag into the velero install command but I´ll open a separate issue for it if necessary.

[2020-07-15 08:52] #2675 closed

[2020-07-15 22:21] nrb commented on #2693
Hi @kolbis,

Can you provide the `velero create backup` commands you're using to make the backups?

If you're using Ceph, my guess is you'll want to use restic, which will get the contents of the persistent volumes at the file system level rather than via a platform snapshot. To my knowledge, there isn't a Ceph snapshot plugin for Velero.

[We have up-to-date documentation on restic support](https

[2020-07-15 22:25] nrb commented on #2694
Hi @balajir24, I'm not entirely sure what you mean by a secondary/primary for Velero. Do you have 2 deployments of Velero? Two replicas of Velero within the deployment?

Right now, Velero should only be deployed as a single pod within a cluster. We have expanding our concurrency support [on our roadmap](https://github.com/vmware-tanzu/velero/blob/master/ROADMAP.md) for later this year.

[2020-07-15 22:28] nrb commented on #2687
@luwang-vmware You're right, this was definitely an oversight when we added the timestamps to the backup information!

I'm going to slate this for the v1.6 milestone, but it may be moved up depending on how busy the team is, and it's a great observability and reporting tool.

cc @stephbman for visibility.

[2020-07-15 22:33] nrb commented on #2684
Hi @sgielen - thanks for the feature request!

I think this is definitely a reasonable request, and not quite the same as 2006. Also, given how Velero works, it's unfortunately not going to be a simple thing to add, since right now snapshots made by the snapshot plugins are kind of black boxes to Velero. Restic snapshots are, however, stored in the same bucket.

I'm going to label this and add it

[2020-07-15 22:42] nrb commented on #2689
Hi @DanielXiao, you're right that Velero makes an attempt to use the original NodePort if one is defined in the `last-applied-configuration` annotation, but it's not always successful.

I find it interesting that the new NodePort is doing redirection, though. I will give this a test as I haven't seen that behavior before - usually, when NodePort restore failure happens, the Service can't be restor

[2020-07-16 00:18] ashish-amarnath commented on #2539
@burkhat Thanks for sharing those logs.

Based on what I saw in the logs, here is what I think might be happening.
It seems like backups are being triggered at a constant frequency, as though on a schedule.

It also appears like a previous backup is running while a new one is being created. This means that the restic pod volume backup controller for the new backup is not picked up until the previo

[2020-07-16 00:47] wjun commented on #2554
I have re-tested with the cluster api v0.3.7, and the issue has been fixed.

[2020-07-16 00:47] #2554 closed

[2020-07-16 03:00] luwang-vmware commented on #2687
Thanks @nrb.  It is great that it is in the to-do list.  I also understand the prioritizing of tasks.

[2020-07-16 04:24] balajir24 commented on #2694
@nrb

We have enabled 2 snapshot locations for high availability in Velero.

**root@e1ef4189a42c:~:516 $ velero snapshot-location get
NAME            PROVIDER
azure-default   velero.io/azure
slave           velero.io/azure**

regions for snapshot-location

_azure-default - UK south
slave - US east_

We are using separate resource group for each snapshot-location.

If we are taking snapshot through

[2020-07-16 04:32] burkhat commented on #2539
Hello @ashish-amarnath,

Thanks for your reply so at the moment I schedule the backup at 6 am, 12 pm and 18 pm.
I will change the schedule to only schedule the backup at 6 am.

I will update you if the issue appears again or not, I will you not later than next Friday 24-07-20.

Regards
Tobias

[2020-07-16 15:22] melanco opened #2715 "Velero backup is taking forever in a large cluster"
Hello,

I'm currently managing a large Openshift 3.11.129 cluster. Over 300 namespaces, 500~ Running pods etcetc. And trying to use velero to do a full backup of all namespace, all resources but it's taking forever.

I am using velero 1.12

The backup is only saying "InProgress" but it's been running for over 24 hours now. Is this normal behaviour ? Is there a way to get better information on wher

[2020-07-16 16:21] #2540 closed

[2020-07-16 16:52] arianitu commented on #2570
Closing this since this isn't really an issue with Velero and more of an issue how Kubernetes handles PV/PVCs.

[2020-07-16 18:36] nrb opened #2717 "Document v1.5 upgrade steps"
For v1.5, we'll need upgrade steps

Known steps so far:

* Upgrade CRDs for #2674 to work
* Upgrade images

[2020-07-16 18:38] nrb commented on #2717
Thanks @phuongatemc for pointing out that this documentation wasn't immediately obvious!

[2020-07-16 18:47] ashish-amarnath commented on #2717
CRD update also required for https://github.com/vmware-tanzu/velero/pull/2611 that adds the `defaultVolumesToRestic ` field to the backup CRD spec.

[2020-07-16 18:48] nrb commented on #2673
@JohnnyCrazy It was an issue in v1.4.0, yes. v1.4.2 should have fixed it.

[2020-07-16 21:00] ashish-amarnath commented on #2717
Document new label on volumesnapshotclass introduced in https://github.com/vmware-tanzu/velero-plugin-for-csi/pull/60

[2020-07-16 21:36] carlisia commented on #2551
This is the recording for the WG-Data Protection meeting of 04/08/2020 where the motivation and more context for this work was presented:

https://youtu.be/S2o7znJS_9w?t=206

[2020-07-16 22:45] nrb commented on #2694
@balajir24 Can you provide me with the commands you used to create the backups and output of the `velero backup get <backup name> -o yaml` of affected backups?

Unfortunately I'm not able to advise you with the limited information here.

[2020-07-17 00:37] ashish-amarnath opened #2718 "Report metrics for Restic"
Metrics like:
1. Count of PodVolumeBackup enqueued for controller to reconcile. metric labels: nodeName
1. Count of PodVolumeBackup dequeued and reconciled.  metric labels: nodeName
1. Latency of restic operations. metric labels: nodeName, podVolumeBackupName, operation

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted i