[2020-02-28 21:26] skriss commented on #2251
@gildub what if Velero backed up *all* versions of a resource, and then intelligently restored the appropriate version based on which versions it found in the target cluster? Would that meet your need without requiring you to provide the mapping?

[2020-02-28 21:46] dymurray commented on #1981
So I spent some time digging into this, and based on what I've learned I can say that yes the method Velero is currently taking with restic restores has it's shortcomings. Currently, we are lucky that a deployment doesn't trigger a new generation of the pod in 99% of the restore use cases. If you specifically trigger a redeploy during the restic restore then things will break as shown in #1919 .

[2020-02-28 22:16] betta1 opened #2308 "Restoring nodePort service that has nodePort preservation always fails if service already exists in the namespace"
**What steps did you take and what happened:**
During restore Velero skips restoring a service if the service already exists in the namespace. However for nodePort services that require node ports to be preserved on restore, restores always fail if the same nodePort service already exists in the target namespace. It seems during the restore Velero tries to create the service on the target namespac

[2020-02-29 00:41] amy-bachir opened #2309 "Helm 2 Install of Velero on EKS: Pod CrashLoopBackOff"
**What steps did you take and what happened:**

1. I created S3 bucket, IAM user and attached the appropriate policy to it then created credentials following instructions in this link:
https://github.com/vmware-tanzu/velero-plugin-for-aws#setup

2. I installed velero through helm on an EKS cluster using the following command:
[code]
3. I edited the security context in the velero deployment to the

[2020-03-02 00:08] michmike commented on #469
we should add a flag that by default it is set to false, but when enabled it instructs verero to override existing pods during restore. thoughts?

[2020-03-02 13:46] azuregurus commented on #2272
I can recreate it. The old secret is not base64-decodable. I get "Binary content can't be represented as text. Invalid UTF-8 encoded text: Invalid byte 255 at 0x0" on that web site that does the conversion. I've taken screenshots of old and new secret:
![velero_secret_bad](https://user-images.githubusercontent.com/55794012/75681678-62c1ba80-5c94-11ea-8270-a3c9a4e10bc7.PNG)
![velero_secret_good](ht

[2020-03-02 14:44] Danil-Grigorev opened #2310 "Unable to restore `v1beta1/Deployment` on kubernetes 1.16+"
**What steps did you take and what happened:**

Velero does not allow to upgrade resource api version on restore, which leads to errors attempting to restore something like `v1beta1/Deployment` on a kubernetes 1.16+ cluster. This leads to a restore going into `PartitiallyFailed` state, an a following error message in the logs:

[code]

**What did you expect to happen:**

A successful restore with

[2020-03-02 14:51] sseago commented on #2310
This is an issue for several resource types: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-03-02 15:47] skriss commented on #2272
links to relevant code:

- read secret file: https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/cli/install/install.go#L130-L140
- create Secret: https://github.com/vmware-tanzu/velero/blob/master/pkg/install/resources.go#L174-L186

[2020-03-02 16:47] sseago commented on #2286
@skriss btw regarding https://github.com/vmware-tanzu/velero/issues/1799 -- while we initially found it on AWS, the same problem showed up on Azure and GCP.

[2020-03-02 16:50] sseago commented on #2286
@skriss I know we'd discussed options around doing this before, but we ended up fixing it in our fork (temporarily). I'm happy to remove our local commits if an upstream solution is found. Here's what we put in place: https://github.com/konveyor/velero-plugin-for-aws/pull/2
https://github.com/konveyor/velero-plugin-for-gcp/pull/2
https://github.com/konveyor/velero-plugin-for-microsoft-azure/pull/2

[2020-03-02 17:45] nrb commented on #469
@michmike What about other objects, besides pods?

[2020-03-02 18:40] nrb commented on #2310
This is correct, Velero does not automatically upgrade API versions, as it can't know all changes without someone writing plugins for each type. The API version must exist on both the backup and restore cluster, as documented at https://velero.io/docs/v1.2.0/how-velero-works/#backed-up-api-versions

I see that you performed a back up on v1.7 and restored on v1.17. `apps/v1` was not available on 1.

[2020-03-02 18:54] bgagnon opened #2311 "Installation of v1.3.0 fails on Kubernetes 1.14"
**What steps did you take and what happened:**
Tried to install Velero v1.3.0 on a K8S 1.14 cluster.

**What did you expect to happen:**
Successful installation; [the documentation](https://velero.io/docs/v1.3.0/basic-install/#prerequisites) says that Kubernetes 1.10+ is supported.

**Error messages**

Every CRD returns an error when going through `kubectl apply`:

[code]

**Environment:**

- Vele

[2020-03-02 19:05] bgagnon commented on #2311
This option was first introduced in K8S 1.15; this explains the failure on 1.14.
* 1.14: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#customresourcedefinitionspec-v1beta1-apiextensions-k8s-io
* 1.15: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#customresourcedefinitionspec-v1beta1-apiextensions-k8s-io

[2020-03-02 19:30] michmike commented on #469
@nrb yes, this should apply for all objects. my bad

[2020-03-02 19:44] skriss commented on #2311
@bgagnon you can provide the `--validate=false` flag to `kubectl apply` to bypass this error. We have this documented for 1.13 and earlier clusters (see https://velero.io/docs/v1.3.0/customize-installation/#generate-yaml-only), but looks like we need to update that to apply to 1.14 and earlier.

[2020-03-02 20:30] skriss commented on #469
Some complications to think through:
- pods/other objects owned by controllers (they'll be recreated if we delete them in prep for a restore)
- PVCs/PVs that are in use by a pod (deletes will be disallowed due to the PVC/PV in-use protection finalizer)

[2020-03-02 20:55] nrb commented on #469
Really any finalizer will be an issue; we can look for finalizer labels and log them.

There's also cascading deletes - if we delete an object, it may cause many other objects that reference it to be deleted. Pods are an easy example, but Custom Resources make this more tricky, as we wouldn't be able to find all references to the current object unless we saw all objects in the cluster.

As I write

[2020-03-02 21:42] dymurray commented on #505
Is this issue a good place to track the Data Protection Working Groups attempt to solve the problem consistency groups?

I am curious if Velero intends to provide first class support for the ability to take a backup that includes an applications entire state at a single moment in time. This is being worked on upstream and I'm wondering if that is the best place to solve this problem or if it's som

[2020-03-02 23:52] guilledipa commented on #2303
Thanks folks!

I followed the suggested documentation and LGTM:

[code]

Here the BSL defijition:

[code]

Is there any way I can bump-up the logging to understand where velero is failing to fetch credentials?

[2020-03-03 21:34] #1886 closed

[2020-03-04 01:49] dharmab opened #2316 "Question: Is it necessary to back up v1/Events?"
We're looking for ways to reduce the size of our backups as a workaround for https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/issues/26. I noticed in the backup logs that a very large number of `v1/Event` objects are backed up:

[code]

What are the risks (if any) of excluding Events from a backup job?

[2020-03-04 15:33] skriss commented on #2316
I would think it's fine to exclude them from the backup unless there's some specific reason that you want to capture them, as they're intended to be ephemeral anyway. In fact Velero has hard-coded logic to not *restore* them.

We could consider adding similar logic to not back them up, though our general approach is to err on the side of backing up more.  In the interim, you can exclude them using

[2020-03-04 17:04] #2316 closed

[2020-03-05 02:12] nrb commented on #2308
I think the issue is at [this line](https://github.com/vmware-tanzu/velero/blob/master/pkg/restore/restore.go#L1197-L1198). We expect the API server to say that the object already exists if it looks the same, but in the case of NodePorts that are re-using the same port, it gives us a different error - that it's invalid.

I confirmed this by printing out the error, and this is what I saw:

[code]

[2020-03-05 02:34] nrb commented on #2308
Ok, so the error seems to originate [in the port allocator](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/portallocator/allocator.go#L128), which is pretty core to Kubernetes. The error is passed directly through the REST API if the port is already allocated, which is why this doesn't show up as `AlreadyExists`.

Looking [around here](https://github.com/kubernetes/

[2020-03-05 13:55] guyguy333 opened #2319 "Error: unable to convert unstructured item to a v1 CRD: cannot convert int64 to float64"
**What steps did you take and what happened:**

Run a full backup of cluster using Restic

**What did you expect to happen:**

No fail during backup

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

* `kubectl logs deployment/velero -n velero`
[code]

* `velero ba

[2020-03-05 14:08] NissesSenap commented on #2319
Was just going to create the same issue.
I get it even if i don't use restic.

[2020-03-05 14:20] NissesSenap commented on #2319
@nrb  can this be the same as https://github.com/vmware-tanzu/velero/pull/1937?

[2020-03-05 15:43] guyguy333 commented on #2319
It has been merged January 30, so it's included in release v1.3.0 I'm using. Maybe related, but not totally solved ?

[2020-03-05 15:47] skriss commented on #2319
Looks like it may be another instance of https://github.com/vmware-tanzu/velero/pull/1937#pullrequestreview-344047216

[2020-03-05 16:34] nrb commented on #2319
Yeah, looks like the conversion issue was reintroduced in another section of the code, this time the backup plugin that was meant to fix it.

Sorry about that. I'll work on a fix for that today.

[2020-03-05 17:22] nrb commented on #2319
@guyguy333 and @NissesSenap Would you be able to share the CRDs in the backup with me? I should only need the definitions, not any specific instances.

You can them by using `velero backup download <backup name>` and you'll get a tarball named `<backup name>-data.tar.gz`. Extract that, and you'll have a directory called `resources`. I'm interested in `resources/cluster/customresourcedefinitions/`

[2020-03-05 18:01] skriss commented on #2282
closing this out as inactive. feel free to reach out again as needed.

[2020-03-05 18:01] #2282 closed

[2020-03-05 18:02] skriss commented on #2237
@konvergence just checking in again to see if you were able to test. Also, `v1.3.0` is out so you could try that, rather than the beta.

[2020-03-05 18:11] skriss commented on #2308
@nrb that approach sounds reasonable, though I agree that adding lots of special cases here is not going to be sustainable.

Another option we could consider is trying to `Get` the resource before trying to restore it, and use that to determine if the resource exists already. That means an additional API call per resource we're restoring, though, so potentially has some runtime impact.

[2020-03-05 18:37] NissesSenap commented on #2319
[cluster-backup-20200305134838-data.tar.gz](https://github.com/vmware-tanzu/velero/files/4294484/cluster-backup-20200305134838-data.tar.gz)
@nrb this is my failed backup...

An example on the crd:
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: "2020-02-17T13:17:05Z"
  generation: 1
  name: cephfilesystems.ceph.rook.io
  resourceVersion: "4484106"

[2020-03-05 18:39] betta1 commented on #2308
@nrb @skriss How about trying a GET only on the services iff we find the last-applied-config annotation on the service during restore? This way we only make the API call if we're restoring a service that needs node port preservation. If a service does not have the last-applied-config annotation, we simply delete the node ports as we're doing currently and let the API server auto-assign the node po

[2020-03-05 18:52] nrb commented on #2308
That works for Services applied by Kubectl, but I think it still has the problem of adding special cases as they come up.

Reworking the entire logic to be based on a `Get` vs doing a `Create` and expecting an `AlreadyExists` error may be more useful in more cases, and may also serve us better for doing things like trying to overwrite items that differ from an existing backup, because then we'll h

[2020-03-05 21:14] guyguy333 commented on #2319
@nrb Sure, this is my `customresourcedefinitions.apiextensions.k8s.io` directory. Thanks for your investigation.

[customresourcedefinitions.apiextensions.k8s.io.zip](https://github.com/vmware-tanzu/velero/files/4295165/customresourcedefinitions.apiextensions.k8s.io.zip)

[2020-03-05 21:30] nrb commented on #2319
I've got a failing test case at #2322 that reproduces this reliably for the plugin.

I'm currently debating between two implementations. I may need to do some more testing to see if I can get any characteristics to help me choose.

[2020-03-05 22:11] #2311 closed

[2020-03-06 00:48] guilledipa commented on #2303
Hey folks, any ideas on what might be going on?

Please let me know if I can provide more information.

Cheers,

[2020-03-06 01:09] ashish-amarnath commented on #2303
Hi @guilledipa sorry about the delay in responding here. Can you please share how you are installing `Velero`, if you are using the `velero install` cli then can you please share the command you are using?

Also, yaml for your velero deployment would be useful.

[2020-03-06 01:25] guilledipa commented on #2303
Thanks @ashish-amarnath! No worries at all :)

We use Anthos to manage the objects in GKE. Therefore we use `velero install ... --dry-run -o yaml` to generate this file:
https://gist.github.com/guilledipa/25a64d86bedf8c2364f28db302c707da
(which is enforced by Anthos).

The command is:

[code]

[2020-03-06 01:41] ashish-amarnath commented on #2303
This is what the velero-plugin-for gcp may be waiting on https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/master/velero-plugin-for-gcp/object_store.go#L78
Most likely waiting here https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/master/velero-plugin-for-gcp/object_store.go#L139

I'd suggest adding some log messages around that code to investigate. I can build a custom image wit

[2020-03-06 01:43] ashish-amarnath commented on #2303
Also suggest checking steps 5,6,7 and 8 from https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity in case you've not already done that.

[2020-03-06 03:37] ashish-amarnath opened #2324 "Ensure restored workloads can be backed up"
For CSI, the logic in the restore item action plugins alters the Spec of the resources which are then restored. This ensures, workloads can be restored from a backup. However, the scenario of backing up these workloads should also be supported.

[2020-03-06 03:44] ashish-amarnath opened #2325 "Repeated backup of the same CSI workload should not leave orphan resources"
While performing backups, for CSI workloads, custom resources of VolumeSnapshot API will be created.
Repeated backups of these workloads should not leave orphaned resources of the VolumeSnapshot API behind.

[2020-03-06 03:46] ashish-amarnath opened #2326 "Ensure backup and restore of volumesnapshots created outside of velero work"
What will be the guarantees over such volumesnapshots, considering that requirements over their DeletionPolicy cannot be enforced.

[2020-03-06 04:11] bgagnon opened #2327 "Log level is not propagated to plugin"
**What steps did you take and what happened:**
In my plugin code, I use the logrus logger provided by the plugin framework. I use it to log messages at the _debug_ level (`log.Debug(...)`).

In the main `velero` container, I also added the `--log-level=debug` and `--log-format=json` flags. This successfully enabled debug-level logging for velero itself, but not for the plugin.

**What did you expe

[2020-03-06 05:47] archmangler opened #2328 "Velero Snapshots Stored in Wrong Resource Group for Azure AKS (MC_*)"
**What steps did you take and what happened:**

- Velero managed disk snapshots are stored in the AKS managed resource group (MC_*) for the cluster instead of a specified snapshot location resource group (specified at velero install time).
-  This means that if the AKS cluster is deleted, backups (pv snapshots) will be lost, making DR recovery impossible. This is because the MC_* resource group is

[2020-03-06 05:52] guilledipa commented on #2303
Thank a lot @ashish-amarnath! Happy to test the new image when it's available.

Regarding the steps 5,6,7,8 from https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity, we have this setup correctly:

5, 6, 8.  Verified in https://github.com/vmware-tanzu/velero/issues/2303#issuecomment-593683303

7. IAM bindings:

[code]

[2020-03-06 08:22] surekhakallam opened #2329 "When i try to take the backup of deployment and persistent volume it is struck in "In process" state"
I have created the persistent volume , persistent volume clame , deployment and service but it is struck in the "In process" state and not coming to "complete" state

apiVersion: v1
kind: PersistentVolume
metadata:
  name: nginx-logs
  labels:
      app: nginx
spec:
  capacity:
    storage: 100Gi
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    namespace: ng

[2020-03-06 10:53] Stolr commented on #1924
Hey ,

Having the same issue

[code]

Restic DaemonSet
[code]

Velero deployment
[code]

Using velero 1.3.0

[2020-03-06 13:37] dymurray opened #2330 "[Custom CA] Add support for Velero client to specify a custom CA bundle"
**Describe the problem/challenge you have**
There needs to be a mechanism with the velero client to configure the path to a custom CA cert when communicating with object storage. To do this, we will need to add a new flag `--cacert` to all Velero client calls, as well as give the ability for a user to specify a custom CA path in `velero client config`

**Describe the solution you'd like**
1. Add a

[2020-03-06 14:17] TJM commented on #2006
I personally think that it should just be part of `velero backup download`, perhaps with a command line option like `--download-pv` (or `--no-download-pv`), which would require implementation across other providers. While I am using restic currently, so a restic-specific solution would benefit me, I feel like it would be useful elsewhere.

I also feel like it is somewhat disingenuous to offer a fe

[2020-03-06 15:20] TJM opened #2331 "Optionally drive all object storage access through the velero server"
**Describe the problem/challenge you have**

Our object storage (PureStorage Flashblade) is not accessible to end users (clients), only the servers. Unfortunately, the velero client appears to connect directly to the object storage for at least sub-commands like "logs" and the "--details" from describe, and likely others.

**Describe the solution you'd like**

I would like the velero client to req

[2020-03-06 15:38] skriss commented on #2327
@bgagnon I actually just submitted some PRs to fix this in the AWS/GCP/Azure plugins too - take a look for the fix: https://github.com/vmware-tanzu/velero-plugin-for-aws/pull/31

Closing this out as that should fix things for you, but feel free to reach out again as needed.

[2020-03-06 15:38] #2327 closed

[2020-03-06 15:41] bgagnon commented on #2331
I am pretty sure the Velero client uses temporary URLs signed by the velero server in cases where it needs to hand off direct access to objects in storage. The client is never given the credentials.

Nevertheless, I think it could be possible that the client has no network connectivity to the object storage while having connectivity to the velero server and Kubernetes API. This would still require

[2020-03-06 15:46] skriss commented on #2328
@archmangler based on the following log line:

[code]

It doesn't sound like you're taking managed snapshots, you're using restic, in which case the `VolumeSnapshotLocation` is irrelevant. Please clarify.

[2020-03-06 15:51] skriss commented on #1924
@Stolr I'm not totally clear on why you're running commands manually, but you probably want to specify `--cache-dir /scratch/.cache/restic` since that's what velero uses.

[2020-03-06 15:57] dymurray opened #2332 "[Custom CA] Add support to specify a custom CA secret ref on a BSL"
**Describe the problem/challenge you have**
For the custom CA design, every declaration of object storage (via creation of a BackupStorageLocation) should give the user the ability to also specify a custom CA cert that will be associated and used with the corresponding object storage endpoint for adding, deleting, and reading data from object storage.

**Describe the solution you'd like**
1. Updat

[2020-03-06 15:57] bgagnon commented on #2327
I applied the same patch to my plugin and it worked perfectly. Thanks!

[2020-03-06 16:03] skriss commented on #2329
@surekhakallam are you using restic to back up the volume? (I assume yes, since it's a local PV)

Can you include the full logs from `kubectl -n logs deploy/velero`?

[2020-03-06 16:09] skriss commented on #2309
@amy-bachir I'm not that familiar with the EKS/IAM role stuff. Could you include the full YAML for the service account with any sensitive parts redacted? Did you try putting quotes around the value of the annotation?

[2020-03-06 16:17] skriss commented on #2331
That's correct.

Regardless, I agree with the sentiment of this enhancement request and would like to find a way to do this as well - using pre-signed URLs has a bunch of limitations.

[2020-03-06 16:57] Stolr commented on #1924
Ho ok @skriss  sorry.

I run it because I had  an issue similar to this  : https://github.com/vmware-tanzu/velero/issues/1857

I had to check and then prune manually because no backup were working anymore

Having some issue with big volume ~200Gb

[2020-03-06 17:16] TJM commented on #2331
With the "security" implications aside (as I think thats something that should be handled outside of github issues), I think it would be fairly common to have a NAS device that is not externally accessible. I know I could create a load balancer VIP and point it towards the NAS, and set the "public" URL to that, but I really don't like the idea. We do have a VIP for the K8s API Server, which is app

[2020-03-06 17:35] dymurray opened #2333 "[Custom CA] Enable ability to install Velero with a custom CA bundle"
**Describe the problem/challenge you have**
There needs to be a mechanism that at install time, a user can specify a custom CA bundle. This custom CA bundle should be injected in to the Velero deployment, the Restic Daemonset, and configured for the Velero client.

**Describe the solution you'd like**
A user is given a new flag at install time `--cacert` which allows them to specify a custom CA bu

[2020-03-06 17:35] dymurray commented on #1027
Tracking this issue via smaller issues that breaks down the work:

- [ ] https://github.com/vmware-tanzu/velero/issues/2330 - Specify CA bundle for Velero client
- [ ] https://github.com/vmware-tanzu/velero/issues/2332 - Ability to specify CA secret ref on BSL
- [ ] https://github.com/vmware-tanzu/velero/issues/2333 - Ability to specify CA bundle at install time

[2020-03-06 17:40] nrb commented on #2331
IMO, if we pursued this, I would prefer to make it the only way for the client to access the object store - maintaining the two code paths for an extended period of time would be onerous.

[2020-03-06 18:53] #1565 closed

[2020-03-06 19:23] skriss commented on #1981
open to ideas on how to improve this. the data populator KEP that's making the rounds upstream may be relevant/useful, though AFAIK it's only for PVs, not any pod volume.

[2020-03-06 21:02] archmangler commented on #2328
Hi @skriss  - You are correct, I had installed with --restic, and had the following annotation:

[code]

However, even in this case, how can I tell restic to use a designated resource group as the location to store its snapshots?

Next, I have now reinstalled without the restic plugin, and my intention is to have "Velero Managed Disk Snapshots" without restic. Now I am not getting any snapshots, r

[2020-03-06 21:15] skriss commented on #2328
You will get your desired behavior by default, assuming Velero is configured correctly.  Specifically, as long as you don't add the restic annotation (`backup.velero.io/backup-volumes`) to the pod, the PV will be snapshotted by default (again, assuming things are configured correctly).

All restic data is stored in the same bucket/blob container as the rest of the velero data.  That can be in what

[2020-03-09 03:03] archmangler commented on #2328
Hi @skriss  - I've pasted the information you requested here:

https://gist.github.com/archmangler/31397f8f56728d1880ad9ad526010d84

[2020-03-09 06:58] rashmigspai opened #2334 "Restore is failing when trying to backup from a cluster in one region to a cluster in another region."
I am trying to use Velero for DR solution. Taken backup from a cluster which is in a region say Dallas. There are PVC to backup as well. PVC's are having the region dallas against them , when trying to restore the back in another cluster say which is in Washington DC, restore is failing. Restore creates the PVC but then they are against the region Dallas , and pods are trying to get created in Was

[2020-03-09 18:58] macevil opened #2335 "skip TLS verify for restic"
**What steps did you take and what happened:**
I want to make a backup of my cluster with `velero` and `restic`. with `velero` i can skip the certificate check for access the S3 Bucket. But `restic` throw me a validation error:

***Command***
`velero install --use-restic --provider aws --bucket velero-2c2fe3cc --secret-file ./credentials-velero --use-volume-snapshots=false --backup-location-config

[2020-03-09 19:02] amy-bachir commented on #2309
@skriss I tried with quotes around value and that didn't work either. Today, I tried with the latest velero chart version and latest velero aws plugin and got the same result.

Here is the service account yaml. Let me know if you need any additional info:
[code]

[2020-03-09 22:55] ashish-amarnath commented on #2140
https://github.com/kubernetes-csi/external-snapshotter/issues/274

[2020-03-09 22:57] ashish-amarnath commented on #2143
Related upstream issues:
https://github.com/kubernetes-csi/external-snapshotter/issues/274
https://github.com/kubernetes-csi/external-snapshotter/issues/273

[2020-03-10 07:18] surekhakallam commented on #2329
sorry for the late reply... Yes i am using restic .. actually i had missed one of the annotations in the deployment part ... after adding that its working fine ..

[2020-03-10 07:19] surekhakallam commented on #2329
But after deleting and trying to restore it back .. i am facing problem pv is not getting created

[2020-03-10 07:29] surekhakallam commented on #2329
time="2020-03-10T07:22:07Z" level=info msg="setting log-level to INFO" logSource="pkg/cmd/server/server.go:171"
time="2020-03-10T07:22:07Z" level=info msg="Starting Velero server v1.3.0 (8fec8ed7fb8b4776b191753497eafeb47f2f9136)" logSource="pkg/cmd/server/server.go:173"
time="2020-03-10T07:22:07Z" level=info msg="No feature flags enabled" logSource="pkg/cmd/server/server.go:177"
time="2020-03-10T0

[2020-03-10 08:32] surekhakallam commented on #2329
and this log is after deletion and restoring it back

time="2020-03-10T07:22:07Z" level=info msg="setting log-level to INFO" logSource="pkg/cmd/server/server.go:171"
time="2020-03-10T07:22:07Z" level=info msg="Starting Velero server v1.3.0 (8fec8ed7fb8b4776b191753497eafeb47f2f9136)" logSource="pkg/cmd/server/server.go:173"
time="2020-03-10T07:22:07Z" level=info msg="No feature flags enabled" logSo

[2020-03-10 14:16] mansam commented on #2332
I'm going to take this on, please assign the issue to me.

[2020-03-10 16:44] nrb commented on #2143
Don't forget KEP 1112 - that may be more relevant.

[2020-03-11 01:21] sazzle2611 opened #2339 "Restic doesn't seem to be using the AWS_SHARED_CREDENTIALS_FILE environment variable so fails to create repo"
**What steps did you take and what happened:**
Installed velero on kubernetes set to backup to an external minio installation

velero install \
    --provider aws \
    --bucket velero-backups \
    --use-restic \
    --secret-file /root/secrets/credentials-velero  \
    --use-volume-snapshots=false \
    --plugins  velero/velero-plugin-for-aws:v1.0.1 \
    --backup-location-config region="us-east

[2020-03-11 05:46] guilledipa commented on #2303
Hi @ashish-amarnath , Just wanted to let you know that for completeness, I tried running `velero:v1.3.1` and `velero-plugin-for-gcp:v1.0.1` but unfortunately, I got to the same state.

[2020-03-11 16:28] michmike commented on #2161
hi @paulcarlton-ww and anyone looking at this thread in the future. if you are interested in commercial support for Velero by VMware, contact me privately either in the CNCF or the Kubernetes slack. my username is `m2`. thanks!

[2020-03-11 17:12] konvergence commented on #2237
Good news ! I have no errors with velero 1.3.0

[2020-03-11 17:12] #2237 closed

[2020-03-11 18:12] skriss commented on #2237
fantastic! I'm not exactly sure what change fixed it (I think it was in restic itself), but glad to hear. Also, I'd recommend bumping to `v1.3.1` since we just fixed a bug with backing up CRDs :)

[2020-03-11 20:40] skriss commented on #2328
@archmangler thanks for the info.

I see that your Azure managed disk PV is named `pvc-0f862e2f-53bd-4500-b563-23548c935fd5`.

In your logs, I see:

[code]

This tells me that in the pod that uses this PV, you still have an annotation indicating that this volume should be backed up with restic, i.e. `backup.velero.io/backup-volumes: <VOLUME-NAME>`. You need to remove the managed disk volume's name

[2020-03-11 22:06] skriss commented on #2339
@sazzle2611 huh, I'm not sure what's causing your error, this is expected to work just fine and I wasn't able to reproduce it using v1.3.

Does your credentials file have just a single profile? I.e. something like the following:

[code]

Is it possible to share the file itself, redacting any actual secret material?

[2020-03-11 22:15] sazzle2611 commented on #2339
Hi skriss

It's just the basic file exactly as you've shown
[code]

It is strange that velero has no problem with this credentials file but restic does. The only think I can think to mention about this file is that my secret key ends with a hash # but I don't see why this should be a problem.

[2020-03-11 22:16] sazzle2611 commented on #2339
Just spotted that you have = where I have :

Could this be a problem?

[2020-03-11 22:21] skriss commented on #2339
Could be, can you try with `=`?

[2020-03-11 22:22] skriss commented on #2339
I do know that Velero will be using the AWS SDK to connect, while restic under the hood uses the minio SDK for all S3 access, so it is two separate libraries that could possibly have discrepancies.

[2020-03-11 22:35] sazzle2611 commented on #2339
That does explain why they are working differently, thanks.

I have deleted the velero namespace and reinstalled with velero install and the updated credentials file but I have the same error as before, once again the backups folder got created in minio but no restic.

[2020-03-12 01:54] michmike commented on #469
i like the idea of a 2 pass restore @nrb (and the second pass can be best effort, while the first pass behaves just like restores do today)

[2020-03-12 04:13] guilledipa commented on #2303
Hey folks, I found the issue (and workaround):

DNS resolution within the pod wasn't working:

[code]
I spinned up the `workload-identity-test` following GCP documetation to test `WorkloadIdentity`:

[code]

So, I patched the Velero `Deployment` config, changing the `dnsPolicy` (which was `ClusterFirst`):

[code]

Which fixed the name resolution:

[code]

After this, velero started working success

[2020-03-12 04:14] #2303 closed

[2020-03-12 10:28] lgayatri opened #2340 "velero pod in CrashLoopBackOff when installed on a cluster with 150 workers"
**What steps did you take and what happened:**
1. Created a k8s cluster with 3 masters and 150 workers.
2. Installed velero with restic
3. All 150 restic pods are up and running
` ~/velero-v1.3.1-linux-amd64 ]# kubectl get pods -n velero --kubeconfig=gc-kc  | grep restic | grep Running | wc -l
150
`
4. velero pod is in CLB
`kubectl get pods -n velero --kubeconfig=gc-kc  | grep -v restic
NAME

[2020-03-12 10:38] lgayatri commented on #2340
if --restic is not provided, velero pod comes up fine

[2020-03-12 15:05] skriss commented on #2339
@sazzle2611 one other thing you could try is putting the value of the secret key in double quotes.

Beyond this, I'm not really sure what might be the issue with your setup.

[2020-03-12 15:50] sazzle2611 commented on #2339
Already tried that but it didn't make a difference.

At least I have a workaround by setting the environment variables directly in the yamls.

Just one last detail incase it's important, the minio it's using is on a separate kubernetes cluster and was installed with helm as part of the gitlab package.

Thanks for your efforts

[2020-03-12 16:36] skriss commented on #2334
@rashmigspai Velero doesn't generally support cross-region backup & restore, primarily because volume snapshots are typically bound to a single cloud provider region, and to restore into another region requires first copying the snapshot into the target region.

We already have some enhancement requests in the backlog related to this - primarily #103. Please add any further information that you ha

[2020-03-12 16:36] #2334 closed

[2020-03-12 17:35] dymurray commented on #18
Our team has been exploring multi-tenancy in our project which leverages Velero to perform the backup and restore. The biggest concern for us is that once a non-admin user is granted permissions which allow them to either 1. access the Velero namespace, or 2. create Velero resources, then we have broken the security model. If a user has access to exec into the Restic pod, then it now has access to

[2020-03-12 19:48] carlisia commented on #605
Related: https://github.com/vmware-tanzu/velero/issues/1871.

[2020-03-12 21:05] abessifi commented on #18
I expect users to interract with Velero only through CRDs. This is the best way to abstract the access to Velero and it's underlying infra (Restic in this case). I think the challenge here is more about redesigning Velero to support multi-tenancy out-of-the-box which may lead to a lot of code refactoring.

[2020-03-13 04:19] #2329 closed

[2020-03-13 04:24] surekhakallam opened #2341 "When i try to take the backup of deployment and persistent volume and when i include the volumes tag and include the persistent volume claim tag in it then it is struck in "In process""
I have created the persistent volume , persistent volume clame , deployment and service and in deployment when i include the persistentVolumeClaim tag in the volumes tag  it is struck in the "In process" state while restoring and not coming to "complete" state

here the backup is shown as complete  but when i check the logs of restic , its shown as "No completed pod volume backup found for PVC" ba

[2020-03-13 10:32] brito-rafa opened #2342 "Label the backup CRD with the cluster k8s version"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
Looking ahead of using Velero for migrating workloads skipping major k8s releases, we need a watermark on the backup CRD of the k8s version on the source cluster.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Label

[2020-03-13 11:36] gildub commented on #2251
@skriss, that would be ideal!
Now I'm not sure how you're going to do that magic unless using a similar approach as `oc convert`.

[2020-03-13 14:43] skriss commented on #2341
Please provide us all of the following:

`kubectl -n nginx-example get pvc -o yaml`
`kubectl -n nginx-example get pv -o yaml`
`kubectl -n velero get pods -o yaml`
`kubectl -n velero get podvolumebackups -o yaml`

[2020-03-13 14:48] skriss commented on #2251
Well, I think for starters we wouldn't do anything too magical. In the example you gave, we'd back up both `v1` and `v2beta1` representations of the resources. Then, on restore, we'd see that the target cluster supported `v2beta1` and `v2`. Since the only overlap is `v2beta1`, we'd restore that version of the resource. So, no conversion required by Velero.

The next step would be to support conver

[2020-03-13 14:53] skriss commented on #2340
@lgayatri is that the complete log that you get when the pod crashes? No error messages at the very end? `kubectl -n velero logs deploy/velero --previous` *might* get you some more information.

Just to confirm -- if you run the exact same `velero install` command, but omit `--use-restic` -- the server pod does not crash?

[2020-03-13 14:56] skriss commented on #2251
xref #2310

[2020-03-13 14:59] bgagnon commented on #18
Can we imagine a model that fits more directly with RBAC principles?

* velero server can run in its own namespace
* velero resources can exist in any namespace
* access to velero Backup/Snapshot objects are managed via ClusterRole, Role, ClusterRoleBinding and RoleBinding
* velero backups are scheduled as individual pods (Jobs) in the same namespace as the Backup/Restore object (thus, visible and

[2020-03-13 15:06] skriss commented on #18
@bgagnon yeah, I have been thinking about something like that as well. Another challenge is how cluster-scoped resources are dealt with - Persistent Volumes being the first one that comes to mind.

[2020-03-13 15:18] lgayatri commented on #2340
Yes @skriss, its the complete log.  If I omit --use-restic, velero pod does not crash.

[2020-03-13 15:23] skriss commented on #2340
If the `kubectl logs --previous` command I provided doesn't give any more information, then  we can try:

- upping the requests/limits
- I can provide a custom image with more logging added, that could help us pinpoint where it's failing

[2020-03-13 15:25] lgayatri commented on #2340
Sure @skriss

[2020-03-13 16:34] skriss commented on #505
@dymurray late in responding here, but ideally I think we want to use/contribute to upstream solutions as much as possible. We definitely do not have a plan/design in mind for this in Velero right now.

[2020-03-13 17:29] bgagnon commented on #18
`PersistentVolume` objects are going to be difficult, for sure. In our multi-tenant platform we've allowed anyone to list/get them, but only cluster admins can create/delete them.  Tenants can only manipulate `PersistentVolumeClaims`. We didn't find this transparency to be a concern (our tenants all know and trust each other).

Even then, there's a need for carefully managing the PV binding refere

[2020-03-13 20:33] brito-rafa commented on #2342
The prototype of the code:
[code]

[2020-03-13 21:09] brito-rafa commented on #2342
2nd Prototype, added major and minor version labels (certain K8s implementations add random data on GitVersion, making difficult to parse):
[code]

[2020-03-14 20:05] onedr0p commented on #504
I am just chiming in to say this would be great from a GitOps perspective, all I care about is backing up and restoring the PVCs to my deployments.

[2020-03-16 05:11] surekhakallam commented on #2341
kubectl -n nginx-example get pvc -o yaml
apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"v1","kind":"PersistentVolumeClaim","metadata":{"annotations":{},"labels":{"app":"nginx"},"name":"nginx-logs","namespace":"nginx-example"},"spec":{"accessModes":["ReadWriteOnce"],"r

[2020-03-16 06:17] surekhakallam commented on #2341
kubectl -n nginx-example get pv -o yaml
-------------------------------------------------------

apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolume
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"v1","kind":"PersistentVolume","metadata":{"annotations":{},"labels":{"app":"broker"},"name":"broker0"},"spec":{"accessModes":["Re

[2020-03-16 06:25] surekhakallam commented on #2341
kubectl -n nginx-example get pv -o yaml
-----------------------------------------------------

apiVersion: v1
items:

apiVersion: v1
kind: PersistentVolume
metadata:
annotations:
kubectl.kubernetes.io/last-applied-configuration: |
{"apiVersion":"v1","kind":"PersistentVolume","metadata":{"annotations":{},"labels":{"app":"nginx"},"name":"nginx-logs"},"spec":{"accessModes":["ReadWriteOnce"],"capacity

[2020-03-16 07:00] surekhakallam commented on #2341
kubectl -n velero get pods -o yaml
---------------------------------------------

apiVersion: v1
items:
- apiVersion: v1
  kind: Pod
  metadata:
    annotations:
      cni.projectcalico.org/podIP: 10.200.58.41/32
      cni.projectcalico.org/podIPs: 10.200.58.41/32
    creationTimestamp: "2020-03-16T04:19:30Z"
    generateName: minio-d787f4bf7-
    labels:
      component: minio
      pod-template-

[2020-03-16 07:06] surekhakallam commented on #2341
kubectl -n velero get podvolumebackups -o yaml
----------------------------------------------------------------

apiVersion: v1
items:
- apiVersion: velero.io/v1
  kind: PodVolumeBackup
  metadata:
    annotations:
      velero.io/pvc-name: nginx-logs
    creationTimestamp: "2020-03-16T04:31:27Z"
    generateName: nginx-backup-
    generation: 4
    labels:
      velero.io/backup-name: nginx-backu

[2020-03-16 08:24] surekhakallam commented on #2341
can you please help me with this

[2020-03-16 10:49] zakkg3 commented on #1871
check this
https://github.com/zakkg3/podannotator

Just run `annotator namespace1 namespace2` and this will annotate your pvc's to be backed up by velero.

[2020-03-16 15:45] skriss commented on #2341
@surekhakallam it looks like the backup completed successfully.

Did you delete the `nginx-example` namespace before restoring? This would be necessary, because velero will not overwrite existing resources in your cluster.

From the [PVC YAML](https://github.com/vmware-tanzu/velero/issues/2341#issuecomment-599348157) you included, it appears that the PVC was not restored by velero, since it's crea

[2020-03-16 15:49] skriss commented on #2289
Closing this out as inactive, feel free to reach out again as needed.

[2020-03-16 15:49] #2289 closed

[2020-03-16 15:50] skriss commented on #2328
@archmangler were you able to resolve this?

[2020-03-16 15:51] skriss commented on #2339
I'm going to close this out given that you have a workaround, and I was unable to reproduce. Can reopen as needed if we get further repros.

[2020-03-16 15:51] #2339 closed

[2020-03-16 16:26] archmangler commented on #2328
Hi @skriss  - I've been rebuilding my test set up to reproduce this issue on a clean cluster. I will paste the new results tomorrow.

[2020-03-16 17:46] skriss opened #2344 "allow plugins to write arbitrary data to 'plugins/' directory inside backup storage location"
**Describe the problem/challenge you have**
Some plugins would like to be able to directly write additional data to the object storage bucket used by Velero. However, there's not necessarily a natural place to put this data today.

**Describe the solution you'd like**
Allow a `plugins/` top-level directory within the Velero backup storage location. Plugins can then write data to subdirectories wit

[2020-03-16 22:18] #2141 closed

[2020-03-16 22:51] skriss commented on #2140
closed by https://github.com/vmware-tanzu/velero-plugin-for-csi/pull/18

[2020-03-16 22:51] #2140 closed

[2020-03-17 05:50] surekhakallam commented on #2341
yes i am delete the whole nginx-example namespace and also deleting the pv as well

[2020-03-17 05:53] surekhakallam commented on #2341
ok sure .. will try it once again from the beginning

[2020-03-17 08:32] gadelkareem opened #2347 "Multiple backup schedules"
I need to have one backup that runs hourly for the last day and another to run every day for the last 2 months. Is it possible with the current config?

[2020-03-17 08:55] turkenh opened #2348 "Reflect schedule annotations to backups for more flexibility storing metadata"
**Describe the problem/challenge you have**
We need to store some metadata along with the backup like some spec indicating how we actually creating/managing that cluster. This spec includes Kubernetes version as well as versions/configs of components that we installed on the cluster.

Currently, it is possible to store some metadata with labels and labels on schedule is[ reflected to backups](http

[2020-03-17 09:53] surekhakallam commented on #2341
i will send you the complete process which i am doing ...Please let me know if anything to be corrected

[2020-03-17 11:25] DamianKusz opened #2349 "InitContainer (aws and gcp) plugin in error state after pod restarts"
**What steps did you take and what happened:**
We were using velero v1.1.0 installed from chart v2.1.9 and everything was fine. After upgrade and add the plugin that is reqired since velero v1.2.0, container starts with initContainers. Pod can be deleted and set up again without any errors. But after a day pod tries to restart itself and plugin declared in initContainers field is exitting with a c

[2020-03-17 11:44] surekhakallam commented on #2341
first , i have taken the velero 1.3.1 version ( also tried with velero 1.3.0) -> velero-v1.3.1-linux-amd64
and used the following commands

------------->  1.) created the credentials file

------------->  2.) kubectl apply -f examples/minio/00-minio-deployment.yaml

 kubectl get all -n velero
-------------------------------
NAME                        READY   STATUS    RESTARTS   AGE
pod/minio-d7

[2020-03-17 14:59] skriss commented on #2347
@gadelkareem yes, you can create as many schedules as you'd like, for example:

[code]

[2020-03-17 14:59] #2347 closed

[2020-03-17 15:05] skriss commented on #2341
It looks like the restic backup of the volume completed just fine:

The log messages you were pointing to are not errors.

For this most recent attempt, please provide:

`velero backup describe nginx-backup --details`
`velero restore describe <RESTORE-NAME>`
`velero restore logs <RESTORE-NAME>`
`kubectl -n nginx-example get pods -o yaml`
`kubectl -n nginx-example get pvc -o yaml`

[2020-03-17 16:03] surekhakallam commented on #2341
velero backup describe nginx-backup --details
-------------------------------------------------------------

Name:         nginx-backup
Namespace:    velero
Labels:       velero.io/storage-location=default
Annotations:  <none>

Phase:  Completed

Namespaces:
  Included:  *
  Excluded:  <none>

Resources:
  Included:        *
  Excluded:        <none>
  Cluster-scoped:  auto

Label selector:  app=n

[2020-03-17 16:09] surekhakallam commented on #2341
velero restore get
-----------------------

NAME                          BACKUP         STATUS       WARNINGS   ERRORS   CREATED                         SELECTOR
nginx-backup-20200317120831   nginx-backup   InProgress   0          0        2020-03-17 12:08:31 -0400 EDT   <none>

[2020-03-17 16:10] surekhakallam commented on #2341
velero restore describe nginx-backup-20200317120831
-------------------------------------------------------------------------

Name:         nginx-backup-20200317120831
Namespace:    velero
Labels:       <none>
Annotations:  <none>

Phase:  InProgress

Backup:  nginx-backup

Namespaces:
  Included:  *
  Excluded:  <none>

Resources:
  Included:        *
  Excluded:        nodes, events, events.eve

[2020-03-17 16:11] surekhakallam commented on #2341
velero restore describe nginx-backup-20200317120831 --details
-------------------------------------------------------------------------------------

Name:         nginx-backup-20200317120831
Namespace:    velero
Labels:       <none>
Annotations:  <none>

Phase:  InProgress

Backup:  nginx-backup

Namespaces:
  Included:  *
  Excluded:  <none>

Resources:
  Included:        *
  Excluded:        nod

[2020-03-17 16:12] surekhakallam commented on #2341
velero restore logs nginx-backup-20200317120831
--------------------------------------------------------------------

Logs for restore "nginx-backup-20200317120831" are not available until it's finished processing. Please wait until the restore has a phase of Completed or Failed and try again.

[2020-03-17 16:21] surekhakallam commented on #2341
kubectl -n nginx-example get pods -o yaml
--------------------------------------------------------

apiVersion: v1
items:
- apiVersion: v1
  kind: Pod
  metadata:
    annotations:
      backup.velero.io/backup-volumes: nginx-logs
      cni.projectcalico.org/podIP: 10.200.6.10/32
      cni.projectcalico.org/podIPs: 10.200.6.10/32
      restic.velero.io/restic: nginx-logs
    creationTimestamp: "202

[2020-03-17 16:23] surekhakallam commented on #2341
kubectl -n nginx-example get pvc -o yaml
apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"v1","kind":"PersistentVolumeClaim","metadata":{"annotations":{},"labels":{"app":"nginx"},"name":"nginx-logs","namespace":"nginx-example"},"spec":{"accessModes":["ReadWriteOnce"],"r

[2020-03-17 16:26] surekhakallam commented on #2341
kubectl get all -n nginx-example
------------------------------------------

NAME                                                       READY     STATUS    RESTARTS   AGE
pod/nginx-deployment-6ddf566c-5hj8m      0/1         Pending           0             15m
pod/nginx-deployment-6ddf566c-z8szg      0/1         Pending           0             15m

NAME                        TYPE            CLUSTE

[2020-03-17 16:27] surekhakallam commented on #2341
# kubectl get pv | grep nginx-logs
[root@master~]#

[2020-03-17 16:28] surekhakallam commented on #2341
kubectl get pvc -n nginx-example
---------------------------------------------

NAME         STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS    AGE
nginx-logs   Pending                                      minio-storage   20m

[2020-03-17 16:36] skriss commented on #2341
tolerate, 3 node(s) didn''t find available persistent volumes to bind.'

Velero can't do the restic restore because the nginx pod isn't running due to the above

[2020-03-17 16:39] nrb commented on #2344
I'm in general in favor of this. I wonder if there are security implications to giving plugins full access to each other's subdirectory.

Some more questions:

 * Would plugins be allowed to access other top level directories such as `backups` and `restores`?
 * Is this restricted to `ObjectStorage` plugins? Could a `RestoreItemAction` use it for something?
 * Could we allow the client to download

[2020-03-17 17:02] surekhakallam commented on #2341
oh ok .. i am a fresher .. so can you please tell me what is it that actually happening ... what changes i have to do in deployment

[2020-03-17 17:03] surekhakallam commented on #2341
apiVersion: apps/v1
kind: Deployment
metadata:
name: nginx-deployment
namespace: nginx-example
labels:
app: nginx
spec:
replicas: 2
selector:
matchLabels:
app: nginx
template:
metadata:
labels:
app: nginx
annotations:
backup.velero.io/backup-volumes: nginx-logs
restic.velero.io/restic: nginx-log
spec:
volumes:
- name: nginx-logs
persistentVolumeClaim:
claimName: nginx-logs
containers:
- image: ngi

[2020-03-17 17:04] surekhakallam commented on #2341
should i remove the below line

restic.velero.io/restic: nginx-log

[2020-03-17 17:13] skriss commented on #2344
Plugins can already make use of the credentials mounted into the Velero pod, so they're already able to write/delete arbitrary data from the Velero bucket. This proposal wouldn't really change that. We could look at doing further segregation down the road but I think that's probably independent of this change.

Any plugin could write data here; to be clear, any plugin can *already* write data to t

[2020-03-17 17:17] nrb commented on #2344
True - given that the plugins could just access the BSLs and the credentials if they wanted to do something nefarious anyway, I think for now scoping this to giving them a logical place to put their data makes sense.

[2020-03-17 17:44] nrb opened #2351 "Test and document behavior when backing up applications deployed by Helm"
As a maintainer, I know Velero does not fully support restoring Helm 2-managed applications such that Helm/Tiller can track and account for them, but I don't have those specifics. This should be tested and any issues documented. Given Helm 2's deprecation status, I don't know that this will be fixed, but if we document issues it would also make it easier for someone to develop a plugin to address

[2020-03-17 20:16] Suberri opened #2352 "Backup of K8s PersistentVolumeClaim and PersistentVolumeClaim only"
**What steps did you take and what happened:**
I want. to backup only the PVs and the PVCs that are on my cluster
I have executed the following command
velero backup create pvbackup --include-resources PersistentVolumeClaim.*,PersistentVolume.*

It seems that Velero did a backup of all the cluster resources

**What did you expect to happen:**
I expected a backup of only the PVs and PVCs

**The out

[2020-03-17 20:18] skriss commented on #2341
I'm not entirely sure, I believe it has something to do with the PV's node affinity but it's really hard to review the YAML output when it's not formatted properly (in a Markdown code block, in a gist, etc).

[2020-03-17 20:18] skriss commented on #2341
Does the node that has the local PV have a taint that can't be tolerated by the nginx pod?

[2020-03-17 20:25] #2344 closed

[2020-03-17 20:41] skriss commented on #2352
I wasn't actually able to reproduce this, but can you try again with:

[code]

Can you also include the output of `velero version`, as requested in the template?

[2020-03-17 22:02] Suberri commented on #2352
Hi Skriss, thank you for your input.
Below please find the output to the command you sent me and our velero version
~$ velero version
Client:   Version: v1.1.0.  Git commit: a357f21aec6b39a8244dd23e469cc4519f1fe608
Server:  Version: v1.3.1
-----------------
~$ velero backup create pvbackup-2 --include-resources pvc,pv
Backup request "pvbackup-2" submitted successfully.

~$ velero backup describe p

[2020-03-18 04:24] surekhakallam commented on #2341
actually according to me no ... but i observed this only when we added the "persistantVolumeClaim" tag block of code in the below code .... only then we found this problem

volumes:
- name: nginx-logs
  persistentVolumeClaim:
        claimName: nginx-logs

without that it is fine
but since we want this in our code we are trying with this

[2020-03-18 14:45] skriss commented on #2352
Was the backup complete when you ran the describe command? The full output would be helpful. If it did not complete for some reason, the output of `velero backup logs pvbackup-2` and/or `kubectl -n velero logs deploy/velero` would be helpful. If it did eventually complete, what does the `describe` output show now?

[2020-03-18 14:56] skriss commented on #2341
I would recommend trying to figure out why the nginx pod isn't able to be scheduled. It sure sounds like there's a taint/toleration issue, but without seeing the YAML for the pod + all the nodes + the PV, it's hard for me to debug further.

[code]

[2020-03-18 15:13] Suberri commented on #2352
Hi Skriss.
Thanks.
cmd:  velero backup create pvbackup-2 --include-resources pvc,pv
It seems that the command worked. Please confirm
Log file attached:
[pvbackup-2.describe.log](https://github.com/vmware-tanzu/velero/files/4349696/pvbackup-2.describe.log)
[pvbackup-2.log](https://github.com/vmware-tanzu/velero/files/4349697/pvbackup-2.log)

[2020-03-18 15:31] Panplumousse opened #2354 "Issu with volume backup restic/velero"
Hello,

We encounter errors when saving certain volumes in our kubernetes "icp cloud" cluster

For some volumes in a specific namespaces (I specify that these volumes are not huge 1GB), we have a timeout

We tried to pass this volume in ReadWriteMany instead of ReadWriteOnce but it's the same

Velero version: 1.3.0
error log:

velero backup logs backup-namespace-kube-system-20200318-2 |grep error

[2020-03-18 16:47] skriss commented on #2354
It seems like the PodVolumeBackup is not being picked up for processing. Can you confirm that there is a restic daemonset pod (in the `velero` namespace) on the same node as the `monitoring-prometheus-alertmanager-797c6fb674-grnqs` pod? If so, can you get the logs for the restic daemonset pod?

[2020-03-18 16:48] skriss commented on #2352
Yep, looks right.

[2020-03-18 16:48] skriss commented on #2352
closing this out!

[2020-03-18 16:48] #2352 closed

[2020-03-19 02:33] Suberri commented on #2352
Thanks again

On Wed, Mar 18, 2020, 12:48 PM Steve Kriss <notifications@github.com> wrote:

[2020-03-19 07:58] Panplumousse commented on #2354
Hello ,
you are right.

In fact in ibm cloud private , kubernetes architecture is separated into nodes roles.
Many "Worker" nodes  with all the "client" application
Many "Master" nodes with the heart of the solution
Many "Management" nodes with the monitoring tools of which prometheus is a part.

So velero and 3 pods restics are on my workers nodes and prometheus is likely to be on one of the thre

[2020-03-19 10:01] Panplumousse commented on #2354
of course i also need to backup the applications on the worker nodes i can't just install velero on the management nodes

[2020-03-19 11:35] duyanghao opened #2355 "velero backup Kubernetes Persistent Volume failed with minio"
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

velero restore will write access logs to `/var/log/nginx/access.log`, and the `cat` command should output as below:

[code]

**Environment:**

- Velero version (use `velero version`): v1.3.1
- Velero features (use `velero client config get features`): `features: <NOT SET>`
- Kubernetes version (use `kubectl

[2020-03-19 14:40] archmangler commented on #2328
Hi @skriss  - I've pasted debug information here from a fresh cluster:

https://github.com/vmware-tanzu/velero/issues/2328

Notes:

- I don't see snapshot PVs appearing in the MC_* group anymore.
- I do see references to snapshot objects in the designated backup container, e.g:

[code]

- Installation was done without --restic:

[code]

- However, I do see mentions of restic snapshots, for those P

[2020-03-19 15:05] skriss commented on #2354
If you want to use velero+restic to back up volumes, then you need to allow the restic daemonset to schedule pods on *all* nodes where target workloads are running. So sounds like you need to allow the restic daemonset to schedule pods on the management nodes if you want to back up workloads running there. There's no other workaround here, this is a requirement for velero+restic to work.

[2020-03-19 15:09] skriss commented on #2355
@duyanghao for backing up the contents of volumes you have two options:
1. Use a volumesnapshotter plugin to take native snapshots of your volumes. This would work if you are running in AWS proper, and you have EBS volumes that you want to take snapshots of.
2. Use velero's [restic integration](https://velero.io/docs/v1.3.1/restic/) to take file-level backups of the contents of your volumes. You c

[2020-03-19 15:09] #2355 closed

[2020-03-19 15:10] skriss commented on #2354
I'm going to close this out, but feel free to reach out again as needed, thanks!

[2020-03-19 15:10] #2354 closed

[2020-03-19 15:20] skriss commented on #2328
Two things:

- if you don't have the restic daemonset installed and you're not using it, you should remove the restic annotations from your pods
- I see at least one error from your Azure Disk snapshot:

[code]

This implies that in the secret, you set `AZURE_RESOURCE_GROUP` to `rsg-lolcorp-dev-az1-aksbkp`, *not* the AKS auto-generated resource group where your disks actually are. **This is incorr

[2020-03-19 16:18] #2342 closed

[2020-03-19 18:29] archmangler commented on #2328
Hi @skriss  - I 've corrected the resource group in the velero credential file and removed the annotation in the 2 pods I deployed (before running the backups). Here is the debug output from a a fresh installation:

https://gist.github.com/archmangler/50e9b50ff212427f540e62b5b263ab66

- I still see references to restic in the current logs even though the notation is not there"
[code]

[code]

[2020-03-19 18:41] skriss commented on #2328
Can you paste the full output of `kubectl -n backuptests get pods -o yaml`?

[2020-03-19 18:57] archmangler commented on #2328
Hi @skriss - as below

[code]

[2020-03-19 19:15] archmangler commented on #2328
hi @skriss  - new output, this time with annotations carefully removed from both test pods:

https://gist.github.com/archmangler/e881dcfb31841e1b31f2a75186acbfec

[2020-03-19 19:20] skriss commented on #2328
🎉 looks like you got a snapshot for your managed disk - if you do `velero backup describe backuptests-lite --details`, you'll be able to see the snapshot identifier and confirm which resource group it ended up in.

[2020-03-19 19:32] archmangler commented on #2328
Brilliant! And in the right resource group! Many thanks @skriss this resolves my issue.

[2020-03-19 20:22] skriss commented on #2328
awesome, glad you got it working :) I'll close this out.

[2020-03-19 20:22] #2328 closed

[2020-03-19 20:26] skriss commented on #2255
closing this out as inactive, feel free to reach out again as needed.

[2020-03-19 20:26] #2255 closed

[2020-03-20 02:11] brito-rafa commented on #2342
Final labels:
velero.io/source-cluster-k8s-major-version=1
velero.io/source-cluster-k8s-minor-version=14
velero.io/source-cluster-k8s-gitversion=v1.14.10

[2020-03-20 03:18] duyanghao commented on #2355
@skriss thanks for your reply, there are still some questions about `bur`(backup and restore) of `kubernetes persistent volume` using velero:
1. Is there a `do-one-command` or automatic way for us to backup all persistent volume resources in the cluster? Right now, we have to add relevant annotations to all of pods with pv resources in cluster, which is complicated and unpractical in a production

[2020-03-20 13:23] jedsalazar opened #2356 "Velero site missing vSphere installation and configuration instructions"
**Describe the problem/challenge you have**
The Velero website site doesn't include installation and configuration instructions for the vShpere provider

**Describe the solution you'd like**
A link in the provider page to install and configuration instructions for vSphere

**Anything else you would like to add:**
Referencing the latest Velero page here
https://velero.io/docs/v1.3.1/supported-provi

[2020-03-20 14:19] kwaazaar opened #2357 "Restore a backup originally made on different storage account"
**Describe the problem/challenge you have**
I want to take a backup from a Kubernetes cluster and restore it on another cluster. This seems like a pretty standard use-case, but somehow I cannot find any documentation.
In general, I want backups to be portable.

**Describe the solution you'd like**
See description: more documentation.

[2020-03-20 14:46] skriss commented on #2355
Velero doesn't have a built-in command to do this, you'd need to write your own script/automation. You could check out this community project: https://github.com/bitsbeats/velero-pvc-watcher

That's correct, Velero does not support overwriting existing resources, you'd need to delete/recreate the application (YAML) and PV data together. #504 and #469 are relevant RFEs.

[2020-03-20 14:47] skriss commented on #2357
@kwaazaar see https://velero.io/docs/v1.3.1/migration-case/.

We're happy to accept documentation PRs, if you have improvements in mind!

[2020-03-20 14:51] skriss commented on #2356
@jedsalazar the vSphere VolumeSnapshotter plugin hasn't quite been released yet, which is why we don't have it listed. You can find the in-development code and docs for it here, though: https://github.com/vmware-tanzu/velero-plugin-for-vsphere

This blog post also goes through using Velero with its restic integration on vSphere: https://velero.io/blog/velero-v1-1-on-vsphere/ (note that there's not

[2020-03-20 15:26] skriss commented on #2326
A few thoughts here:

- we want to make sure we differentiate between VS/VSC that were created by Velero as part of a backup, and VS/VSC that already existed in the cluster
- I would *think* that, during a restore, we want to trigger the "import" case, rather that triggering new snapshots to be created. So, we still need to tweak non-Velero VS/VSC specs in a similar manner to what we're doing for

[2020-03-20 15:44] skriss commented on #2145
I updated the issue title assuming that we want to go down the path of syncing `VolumeSnapshots` into the cluster, but feel free to comment if you see other paths.

[2020-03-20 15:48] skriss commented on #2325
@ashish-amarnath can you describe this issue a little more? where would the orphaned resources come from? Is this related to #2302, which will handle properly deleting a backup's related VS/VSCs?

[2020-03-20 15:57] sseago commented on #1350
@nrb If I'm understanding you correctly,  you're proposing adding a new method (`Wait()`)to the RestoreItemAction interface, in conjunction with adding a `Wait` field to `RestoreItemActionExecuteOutput`. If `Wait` is false, then current behavior is unchanged. If `Wait` is true, then after restoring the resource, call `Wait()` and don't move on to the next action (either the next `additionalItems`

[2020-03-20 16:17] brito-rafa commented on #2251
Hi @gildub, if I code a prototype of this request, would you be able to help me with the testing... like running a backup on your environment?

[2020-03-20 17:13] skriss commented on #2326
We also need to make sure we **don't** label these non-Velero snapshots with the backup label, so that we don't end up deleting them when we delete the Velero backup.

[2020-03-20 17:19] nrb commented on #2116
@skriss @michmike I think this is a good candidate for v1.5; though we allow for backup quiescing, we don't really allow for unquiescing that data, which makes it less than useful in the case of databases, as the OP points out.

[2020-03-20 22:55] negz opened #2358 "Constant, watch based backup"
**Describe the problem/challenge you have**

At https://upbound.io/ we're considering using Velero to backup Kubernetes API servers that contain customer state. One concern we have with doing this today is that (as best we can tell) Velero supports only on-demand or scheduled backups. This presumably means we'd have to tolerate a window in time in which our backups were stale; for example if we ba

[2020-03-21 18:52] schaze commented on #1921
I would really like to have that too. Or at least make it possible to only restore the PVC/PV including volume data from a restic backup. Sometimes we need to change the structure of the workloads either when migrating or doing blue/green approach but keep them working with their existing data. Could the restore process not just pull in the volume with a dummy deployment so it is mounted which get

[2020-03-22 11:12] ashish-amarnath commented on #2325
This is the scenario:
1. A namespace is repeatedly backed up, say on a schedule. This will create multiple `volumesnapshots` in the namespace and `volumesnapshotcontents` in the cluster.
1. Latest backup of the namespace will contain the `volumesnapshots` created from all the previous backups, each referring to `volumesnapshotcontents` created as part of their respective backups. This backup, howe

[2020-03-22 16:05] holmesb opened #2359 "Add non-cloud backup location"
I'm sure there are my enterprises like ours who cannot use Velero since there are only cloud backup locations.  We need to backup our Kubernetes secrets and our security policies disallow storing these in the cloud.

Feature suggestion: add option to backup to a persistent volume.

[2020-03-22 17:09] Mikael-Lelouch opened #2360 "Can't install velero correcly with s3 bucket"
Hello,

I try to install a velero on my K8S Cluster with two different command :

[code]

But I have the same error in the pod logs.
Please see below the screenshot:
<img width="1581" alt="Screenshot 2020-03-22 at 18 04 39" src="https://user-images.githubusercontent.com/51024624/77255469-efdeaa80-6c67-11ea-961a-dea3feb68e90.png">

I have a secret file with access key and secret key also.

My veler

[2020-03-23 03:22] cscetbon opened #2361 "Cassandra backups and missing features"
**Describe the problem/challenge you have**
A few features are missing in order to backup objects in a Cassandra database without recreating a new cluster. Same in order to have the ability to use different retentions for specific objects. That's what this issue is about.

**Describe the solution you'd like**
- In order to have different retention per object we would need a way to specify includes

[2020-03-23 05:01] ashish-amarnath commented on #2324
Was able to successfully run this test on master and with PR https://github.com/vmware-tanzu/velero-plugin-for-csi/pull/28 with both scenarios
1. in-cluster restore followed by a backup
2. cross cluster migration followed by a backup

Closing this issue

/close

[2020-03-23 05:02] #2324 closed

[2020-03-23 05:07] ashish-amarnath commented on #2325
Considering that the `volumesnapshotcontents` are restored before `volumesnapshots` https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/server/server.go#L461 fix for this issue would be not to restore `volumesnapshot` if the linked `volumesnapshotcontent` does not exist.

[2020-03-23 08:39] turkenh commented on #2319
I am still getting this error with Velero `v1.3.1` and k8s `v1.17.3`:

[code]

Here are the types causing this issue:
- https://github.com/crossplane/provider-gcp/blob/master/config/crd/storage.gcp.crossplane.io_bucketclasses.yaml
- https://github.com/crossplane/provider-gcp/blob/master/config/crd/storage.gcp.crossplane.io_buckets.yaml

No problem with the other types here: https://github.com/cros

[2020-03-23 14:24] skriss commented on #2359
@holmesb we already have #1229 which covers this, so I'm going to close this issue out as a duplicate. Please subscribe on that one and add any further details you have!

[2020-03-23 14:24] #2359 closed

[2020-03-23 15:06] skriss commented on #2325
Got it, thanks for the additional info. A couple questions I'm thinking about here:

1) Should we treat VolumeSnapshotContents as additional items to be backed up for VolumeSnapshots, similarly to how we automatically include the PV when a PVC is backed up? This would apply to pre-existing VolumeSnapshots that exist in the cluster at backup time.
2) Should we **exclude** previous Velero-created Vo

[2020-03-23 15:14] skriss commented on #2302
Couple notes for implementation:

- we need to make sure we handle the scenario where we just synced backups into a brand new cluster, meaning the VolumeSnapshot CRs don't exist in the cluster yet
- we probably need a `velero.io/backup-name` label on *at least* the VolumeSnapshots, and maybe the VolumeSnapshotContents. Right now, it looks like we're adding an annotation to the VolumeSnapshot with

[2020-03-23 16:22] nrb commented on #2319
@turkenh Are you using Velero v1.3.1 on the cluster and the client? Can you verify with the output of `velero version`?

[2020-03-23 16:41] ashish-amarnath commented on #2325
We backup `volumesnapshots` and `volumesnapshotcontents` as additional items when backing up PVCs.

I would prefer to exclude them during backup. To do this we can use the labels/annotations (can't remember which) to do the filtering. This will probably have to be done in a backupItemAction plugin for `volumesnapshots`

[2020-03-23 16:48] carlisia commented on #1910
Related (status cmd): https://github.com/vmware-tanzu/velero/issues/1094

[2020-03-23 16:49] skriss commented on #2325
To clarify, my question was related to your comment that "Latest backup of the namespace will contain the volumesnapshots created from all the previous backups, each referring to volumesnapshotcontents created as part of their respective backups. *This backup, however will not contain the volumesnapshotcontents from the previous backups.*"

If, when we back up an existing VolumeSnapshot, we back u

[2020-03-23 17:15] ashish-amarnath commented on #2325
Ah! Based on that here is my proposal. We'll fix the dangling vsc reference by including it in the backup. and the same will be restored as well. You are right.. this is required to backup volumesnapshots created outside of velero.
We can address the "backup should not include volumensnapshot object from earlier backups" in a different PR.

[2020-03-23 17:22] nrb commented on #2302
Yeah, my assumption on #2323 was that both would have a label, so I could use a label selector when trying to upload them.

[2020-03-24 07:14] oneoneonepig opened #2363 "Feature enhancement request: Pause a Schedule"
**Describe the problem/challenge you have**
Can pause a schedule so that it won't create backups, while not actually deleting the schedule object.
Something like `.spec.suspend` in Kubernetes CronJobs

**Describe the solution you'd like**
`velero schedule pause NAME`
`velero schedule unpause/resume NAME`

**Environment:**

- Velero version:
[code]

- Kubernetes version:
[code]

- Kubernetes instal

[2020-03-24 16:13] gildub commented on #2251
@brito-rafa, I could definitely help you test.

[2020-03-24 16:22] brito-rafa commented on #2251
Thanks! I give you the testing image once I have the code running with 100% backward compatible with the standard format. I am particularly interested to see APIGroups that are not native to K8s.

[2020-03-24 21:25] nrb commented on #2351
Current findings:

On a Helm 2 installation, the ConfigMaps that specify a release appear to continue working if Tiller is restored or deployed before the ConfigMaps are.

If the ConfigMaps are restore before the Tiller server is running, Tiller does not detect them, and the releases are orphaned.

It is possible to restore Tiller first out of a full cluster backup by restoring the `kube-system` n

[2020-03-24 21:45] nrb commented on #1350
@sseago Yes, there would be a field on `RestoreItemActionExecuteOutput` and a method on the `RestoreItemAction` interface, operating in tandem as you described it.

I'm not sure about using `AppliesTo` on the `Wait()` function; I was envisioning it to be the exact same plugin, so I suppose it would be with same `AppliesTo` criteria that had already been applied...but if there's a chain of plugins,

[2020-03-24 21:50] #2332 closed

[2020-03-25 13:55] skriss commented on #2360
@Mikael-Lelouch it looks like you're using AWS S3. If so, you don't need to specify the `s3Url` or `s3ForcePathStyle` in your `--backup-location-config` flag. The URL will be determined automatically.

[2020-03-25 13:57] skriss commented on #2341
closing this out as inactive, thanks!

[2020-03-25 13:57] #2341 closed

[2020-03-25 20:19] jonasrosland commented on #2124
I'll try to tackle this during next week.
I think https://docsearch.algolia.com/ would fit the bill for us.

[2020-03-25 20:53] sseago opened #2366 "Restic restores original PV rather than dynamically reprovisioning empty volume (restic)"
**What steps did you take and what happened:**
Create an application with a pod that has a mounted volume
Set the "backup.velero.io/backup-volumes" annotation, naming the volume for restic
The volume is empty (basically make sure there are no files or directories in the volume)
Run a backup
The PodVolumeBackup has the following:
[code]
Next I ran a restore. We happen to have a plugin which changed

[2020-03-25 20:58] turkenh commented on #2319
@nrb yes, I reproduced again. Please see below:

Velero controller logs:
[code]

Versions:

[code]

Repro Steps:

[code]

[2020-03-26 12:59] s-pace commented on #2124
Great idea indeed 🚀

Congratulations, your search is now ready!
I've successfully configured the underlying crawler and it will now run every 24h.

You're now a few steps away from having it working on your website:

- Copy the following CSS/JS snippets and add them to your page

[code]
- Add a search input in your page if you don't have any yet. Then update the inputSelector value in JS snippet t

[2020-03-26 13:16] jonasrosland commented on #2124
Fantastic comment and assistance @s-pace !
Will try to get this rolling ASAP, thank you!

[2020-03-26 19:50] mansam commented on #2333
Based on how https://github.com/vmware-tanzu/velero/pull/2353 works, it doesn't seem necessary to me to set an environment variable or install the certificate into the pods; I think that having the installer flag set the caCert field on the BSL would probably cover it. I've put together a draft PR with the approach I have in mind: https://github.com/vmware-tanzu/velero/pull/2368

[2020-03-26 19:53] dymurray commented on #2333
+1 that makes sense to me!

[2020-03-27 06:51] brito-rafa commented on #2251
Hi @gildub

So I have a prototype of the velero backup server with the option to backup all versions. To test, please follow these steps:

1. Install Velero as usual on your cluster.

2. Create a file "velero-migration-patch.yaml" with the following content:
[code]
3. Run the kubectl patch command:
[code]
4. Take a normal backup and verify the content of it. You will see additional directories for

[2020-03-27 10:26] duyanghao commented on #2355
@skriss I have created a repo called [velero-volume-controller](https://github.com/duyanghao/velero-volume-controller), which is a Kubernetes controller for velero that detects and adds relevant backup annotation to pods with volumes. Could you take a look at this and add it to the `3rd party controller` part in the [velero Restic Integration docs](https://velero.io/docs/v1.3.1/restic/)?

[2020-03-27 13:07] TomaszKlosinski opened #2370 "Prometheus restore displays CRD errors"
**What steps did you take and what happened:**
I've made a backup of my namespace with prometheus operator and prometheus instance.

Then I've deleted Prometheus with following script:
[code]

Then I've restored it. The restored prometheus seems to work, but velero showed errors.

**What did you expect to happen:**
Restore without errors.

**The output of the following commands will help us better

[2020-03-27 16:16] #2124 closed

[2020-03-27 17:42] ashish-amarnath opened #2371 "Velero plugin for CSI should backup volumesnapshotcontents"
Velero plugin for CSI should backup volumesnapshotcontents that:
1. Have DeletionPolity: `Retain`
2. Do not have a valid `Spec.VolumeSnapshotRef`.
    Definition of validity: volumesnapshot being referenced should exist and it's UID should match with `Spec.VolumesnapshotRef.UID`

cc @nrb @skriss @carlisia

[2020-03-27 20:28] nrb commented on #2371
To clarify why this issue exists:

Velero doesn't walk from VolumeSnapshots to VolumeSnapshotContents when it did not make the objects, which is what this issue covers. Is that correct, Ashish?

[2020-03-27 20:39] ashish-amarnath commented on #2371
The plugin does not differentiate between volumesnapshots created by velero and those created outside of velero. The backup item action for volumesnapshots handles both these cases. PR https://github.com/vmware-tanzu/velero-plugin-for-csi/pull/31

The reason for this issue is to backup volumesnapshots, cluster-scoped resource, that exists without an accompanying volumesnapshot. This can happen whe

[2020-03-27 22:18] nrb commented on #2371
Theoretically that should happen automatically when the user selects the entire cluster, or uses `--include-cluster-resources=true`, shouldn't it?

Are there cases besides the two I just mentioned where we would want a Content object that doesn't have an associate VolumeSnapshot?

[2020-03-27 22:29] ashish-amarnath commented on #2371
You are right, using `--include-cluster-resources=true` will back the volumesnapshotcontents.
However, `volumesnapshotcontent` objects which are bound to volumesnapshots should not be backed up as they will be backed up by walking the volumesnapshot to volumesnapshotcontent link.
Only volumesnapshotcontents that are unbound to a volumesnapshot should be backed up.

"Velero plugin for CSI should on

[2020-03-27 22:33] nrb commented on #2371
I think I'm still confused.

It sounds like you want to back these up when backing up a namespace that exists, but no longer has the VolumeSnapshot object?

In that scenario, is the VolumeSnapshotContents object still relevant, since it's not referred to from within the namespace? It seems like this is breaking some of the known behavior of Velero by backing up a namespace and a resource that had

[2020-03-27 22:47] ashish-amarnath commented on #2371
The scenario I am thinking of here is, we are running a backup with cluster scope, with `--include-cluster-resources=true`, and we discover volumesnapshotcontent objects in the cluster.
There will be 2 kinds of volumesnapshotcontent objects:
1. those that are bound to a volumesnapshot: these will be backed up as additional resources of the volumesnapshot objects that they are bound to. For that re

[2020-03-28 15:46] suleymanakbas91 opened #2374 "--exclude-resources is not respected"
I'm trying to upgrade our Velero chart on Kyma from 1.2.0 to 1.3.1 [(#7699)](https://github.com/kyma-project/kyma/pull/7699). I realized that exclude resources logic no longer works.

To restore from a backup, we run:

[code]

Although we exclude all those resources, I see that they are still being restored:

[restore.log](https://github.com/vmware-tanzu/velero/files/4396754/restore.log)

We also

[2020-03-30 03:21] duyanghao opened #2375 "Add 3rd party controller to build an automatic way to backup all volume resources in the cluster"
**Describe the problem/challenge you have**
Refers to #2355

**Describe the solution you'd like**
Build an automatic way to backup all volume resources in the cluster

**Anything else you would like to add:**
@skriss To solve this, I have created a repo called [velero-volume-controller](https://github.com/duyanghao/velero-volume-controller), which is a Kubernetes controller for velero that detects

[2020-03-30 08:52] jaygridley opened #2376 "Restic - add support setting Azure Storage Account Key via configuration"
**Describe the problem/challenge you have**

There is a PR pending in Velero's Azure plugin https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/32. The same support for setting Storage Account Key via configuration should be added into `pkg/restic/azure.go`

**Describe the solution you'd like**

Implement the same approach as in https://github.com/vmware-tanzu/velero-plugin-for-

[2020-03-30 15:41] skriss commented on #2340
@lgayatri were you able to try this with the custom image?

[2020-03-30 16:58] nrb commented on #2371
`--include-cluster-resources=true` would automatically query them from the API server regardless, wouldn't it? So they'd be backed up anyway?

I think I'm missing why an unbound contents object needs to be backed up. You're assuming that it must, but I'm not following. Are these unbound Contents objects ones Velero made, or would this apply to any VolumeSnapshotContents objects, regardless of orig

[2020-03-30 17:10] ashish-amarnath commented on #2371
Yes, all volumesnapshotcontents will get backed up when `--include-cluster-resources=true` is used.
But, we don't want to backup all volumesnapshotcontents. Specifically, those that are bound to a volumesnapshot. So we will want to run logic to make this decision to selectively backup only unbound volumesnapshotcontents.

The unbound volumesnapshotcontents should be backed up to allow them to be r

[2020-03-30 17:54] skriss commented on #2371
I don't think we need a plugin for this, since if the VolumeSnapshotContent has already been backed up as a related item of a VolumeSnapshot, then it won't be backed up again while Velero is directly backing up VolumeSnapshotContents. There is a similar use case for PVCs->PVs, which works correctly. Specifically, when we reach [this block of code](https://github.com/vmware-tanzu/velero/blob/master

[2020-03-30 22:28] skriss commented on #2333
Seems fine to me, especially if just using the BSL field works for your use case.

[2020-03-31 01:42] carlisia commented on #2376
Ah, you are probably right. @skriss please confirm, and I can get this in.

[2020-03-31 01:57] carlisia commented on #2375
Related:
- https://github.com/vmware-tanzu/velero/issues/605
- https://github.com/vmware-tanzu/velero/issues/1871

[2020-03-31 02:06] carlisia commented on #1871
I added this topic to our community meeting tomorrow (3/31): https://hackmd.io/Jq6F5zqZR7S80CeDWUklkA?both#March-31-2020.

[2020-03-31 02:06] carlisia commented on #605
I added this topic to our community meeting tomorrow (3/31): https://hackmd.io/Jq6F5zqZR7S80CeDWUklkA?both#March-31-2020.

[2020-03-31 02:06] carlisia commented on #2375
I added this topic to our community meeting tomorrow (3/31): https://hackmd.io/Jq6F5zqZR7S80CeDWUklkA?both#March-31-2020.

[2020-03-31 02:16] carlisia commented on #2370
@nrb any quick reaction to this? Might be related to the api group versioning mess.

[2020-03-31 17:10] skriss opened #2379 "don't add `caCert` to object store config if it's empty"
#2353 added support for a `caCert` field as part of BackupStorageLocations. https://github.com/vmware-tanzu/velero/blob/master/pkg/persistence/object_store.go#L117 adds it to the object store `Config` so it can be used during an ObjectStore plugin's `Init(..)` function.

I think we should *only* pass it if it's non-empty, because otherwise it will potentially break validation for community plugins

[2020-03-31 17:48] skriss commented on #2379
@nrb do you want to take this one? If not I can tackle it, just LMK.

[2020-03-31 17:51] nrb commented on #2379
@skriss I can tackle it today

[2020-03-31 17:52] skriss commented on #2379
sounds good!

[2020-03-31 18:27] #2379 closed

[2020-03-31 20:48] #2333 closed

[2020-04-01 01:54] nrb commented on #2375
@duyanghao Do you to continue supporting this controller? Is it commercially backed?

[2020-04-01 01:56] nrb commented on #2370
Quick reaction is that it's API server validation related, not Velero's; it's something to do with CRD schema validation that wants to be more strict.

Prometheus hasn't conformed to the new CRD schema standard yet.

We likely need to make this particularly error not fail the backup...

[2020-04-01 02:50] duyanghao commented on #2375
Yeah. Currently, our team plans to use this controller combined with [velero Restic Integration](https://velero.io/docs/v1.3.1/restic/) to backup and restore Kubernetes clusters in a production environment.

[2020-04-01 12:11] TomaszKlosinski commented on #2370
Hi, I have similar errors with the restore of elasticsearch+kibana. Should I put the logs here or open a new issue?

[2020-04-01 12:18] TomaszKlosinski opened #2383 "Known Issue: CRDs cannot be restored due to fields being identical values"
Edit from @nrb -> Please find a summary of the causes [HERE](https://github.com/vmware-tanzu/velero/issues/2383#issuecomment-617349350). THIS IS A KNOWN ISSUE WITH A FIX TARGETTED FOR VERSION 1.4

**What steps did you take and what happened:**
I've made a backup of my namespaces with elastic-operator, elasticsearch, kibana and filebeat.

Then I've deleted them with following script:
[code]

Then I

[2020-04-01 13:04] aclevername commented on #2116
This is would be really neat, we are also in the same spot as @konvergence where we are planning on using the hooks to trigger the database dump during backup, and would love to be able to automate restore as well

[2020-04-01 14:49] Annegies opened #2384 "Ubuntu bionic vulnerabilities"
The latest release of the ubuntu image solved a lot of vulnerabilities.

Would it be possible to bump the base image to ubuntu:20.04?

[2020-04-01 14:50] carlisia commented on #2384
@skriss / @nrb WDYT? I can do that if you think we should.

[2020-04-01 16:04] nrb commented on #2384
That seems like a good idea, though according to https://wiki.ubuntu.com/FocalFossa/ReleaseSchedule, it's not due to release until April 23

[2020-04-01 16:07] nrb commented on #2384
Double checking on https://hub.docker.com/_/ubuntu, `latest` is still pointing to 18.04, too.

[2020-04-01 16:17] Annegies commented on #2384
Oh, i might've jumped the gun on that one. Didn't check the official release.
Thanks for responding, i'll close the issue for now. Can i assume this is on the radar for when it's released?

[2020-04-01 16:19] nrb commented on #2384
I think we can add it for v1.4 backlog rather than closing it. Thanks for raising it!

[2020-04-01 16:34] nrb commented on #2383
Looks like this is very similar to what was happening in #2370, but different fields.

[2020-04-02 07:49] Panplumousse opened #2385 "Bug with restic restauration"
**What steps did you take and what happened:**
We have put annotation in deploy to backup pv with restic

For exemple:
_"metadata:
      annotations:
        backup.velero.io/backup-volumes: cam-bpd-appdata-pv"_

We have made a full backup of a "services" namespace with the command:
This save includes PV with restic

velero backup create backup-namespace-services-20200401-0 --include-namespaces se

[2020-04-02 08:30] duyanghao commented on #1531
+1

[2020-04-02 08:46] duyanghao commented on #1531
@skriss How to up the number of workers running for each controller in the restic daemonset? Is there any arguments?

[2020-04-02 15:29] skriss commented on #2366
it looks like what's happening is that during backup, https://github.com/vmware-tanzu/velero/blob/master/pkg/restic/backupper.go#L176-L179 does not return the PodVolumeBackup if the volume was empty, so it doesn't get persisted with the backup. As a result, on restore, it goes through the code path you're seeing.

We can look at removing that code, persisting the empty PVBs, and then excluding the

[2020-04-02 15:35] skriss commented on #2374
@suleymanakbas91 are all of these resources Custom Resources, for which you're also restoring the Custom Resource Definition as part of the same restore?

I'm wondering if the resources that you're trying to exclude are not available via the discovery API at the start of the restore, so can't be resolved properly at that point.

If that's the case, there are some more recent code changes in master

[2020-04-02 15:36] skriss commented on #2376
Yep, we need to make a similar change in velero core to make this work for restic.

[2020-04-02 15:36] skriss commented on #2376
https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/32 is now merged.

[2020-04-02 15:41] skriss opened #2386 "enable plugins to pass environment variables required by restic"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

Restic requires specific environment variables to be set for certain object storage providers in order to run properly. Currently, there's no way for ObjectStore plugins to pass these to Velero, so Velero core includes code to properly set the env vars across our majo

[2020-04-02 15:43] skriss commented on #2375
FYI we already have https://github.com/vmware-tanzu/velero/blob/master/site/docs/master/restic.md#3rd-party-controller in our docs. I don't see any issue with linking to third-party community projects, we should just be clear about ownership.

[2020-04-02 15:45] skriss commented on #2375
btw, this looks like a neat project @duyanghao!

[2020-04-02 16:12] Panplumousse opened #2387 "Bug backup restore with restic"
**What steps did you take and what happened:**
Hello
when we make restore with restic on some PV we have see some lost of data
We have make backup of application monitoring-prometheus label
with pv monitoring-prometheus  (this pv is in NFS path on netapp
[restic-restore.log](https://github.com/vmware-tanzu/velero/files/4422198/restic-restore.log)
[velero-backup.log](https://github.com/vmware-tanzu

[2020-04-02 18:47] skriss commented on #2366
@sseago it also appears that this is only an issue when the restore is on a different cluster than the backup - does that match what you were seeing?

Currently testing out the change mentioned above, namely deleting https://github.com/vmware-tanzu/velero/blob/master/pkg/restic/backupper.go#L176-L179. So far it seems to fix the issue and work as expected, but I need to do some more testing.

[2020-04-02 19:16] Wolvenmoon opened #2391 "OpenEBS - skipping pvc because it's already been restored"
**What steps did you take and what happened:**
Oh hey. It's my first time filing one of these! Please pardon any formatting issues!

Attempting to restore from a backup results in claims that persistent volume claims are already restored. They are not restored and the persistent volume is marked 'lost'.

**What did you expect to happen:**
The restoration of the backup to result in the pvc being re

[2020-04-02 19:33] sseago commented on #2366
@skriss I was restoring to a different cluster when I observed it, but I'm not sure if the cluster change is all that relevant. What made it obvious to me that something was off was the storageclass change. The backup was from an NFS volume with statically-generaed PVs, so it had a name like "vol95". I was restoring it as an ebs/gp2 volume, so I expected to see a PV name post-restore that looked l

[2020-04-02 19:43] skriss commented on #2366
Makes sense.

It looks to me like the issue only comes up when restoring to a different cluster because, if restoring in the same cluster, there *is* a PodVolumeBackup in the cluster representing the empty restic backup, which signals to the restore that the volume was backed up with restic. However, that PVB is not currently persisted to object storage, so when the backup is synced into another c

[2020-04-02 19:48] sseago commented on #2366
Oh. Right, I missed that. Well, it's also possible that this would still happen if the PodVolumeBackup was deleted on the cluster, but yes, if the PodVolumeBackup is still there, this won't happen.

[2020-04-02 21:18] skriss commented on #2391
@mynktl could you help out here? It seems like maybe on restore, the plugin assumes the target namespace for the PVC already exists?

[2020-04-03 02:24] duyanghao commented on #2375
@skriss I guess you mistake my meaning of `add it to the 3rd party controller part`. What I want to say is that maybe velero official can add [velero-volume-controller](https://github.com/duyanghao/velero-volume-controller) to the list of [velero restic 3rd party controller](https://github.com/vmware-tanzu/velero/blob/master/site/docs/master/restic.md#3rd-party-controller) as an option to build an

[2020-04-03 03:27] branttaylor opened #2394 "unable to locate ObjectStore plugin named velero.io/aws"
**What steps did you take and what happened:**
Deployed Velero with Restic enabled from Helm chart and Velero pod shows the error in the title and eventually goes into `CrashLoopBackOff`

**What did you expect to happen:**
Pod to start

**The output of the following commands will help us better understand what's going on**:

[code]

[code]

[code]

**Anything else you would like to add:**
Our curr

[2020-04-03 07:57] amarshaw opened #2395 "Restic backups when taking backups of pods not in "Running" state"
Running schedule backup and it's getting PartiallyFailed.

[code]

By troubleshooting i found that restic is trying to take backup from Evicted pods.

**Failed Backup for namespace :**

[code]

**Statue of k8s-ccc namespace and pods ccc-64fcc6bccd-248zb.**

[code]

**Backup Error Log.**

[code]

Velero Version : 1.3.1
storage-0 is openebs NFS mount.

[code]

**Velero Namespace Status :**

[code]

[2020-04-03 09:48] Panplumousse commented on #2385
to complete diagnostique i put some logs 👍
[podvolumerestore.log](https://github.com/vmware-tanzu/velero/files/4426289/podvolumerestore.log)

[2020-04-03 14:44] skriss opened #2396 "add documentation page for custom CA bundle functionality"
ref https://github.com/vmware-tanzu/velero/pull/2364#issuecomment-607344810

cc @mansam

[2020-04-03 15:02] #2330 closed

[2020-04-03 15:11] skriss commented on #1027
I'm going to close this parent issue out as all the sub-issues are done; we still have one remaining issue for documentation (#2396)

[2020-04-03 15:11] #1027 closed

[2020-04-03 16:37] carlisia opened #2397 "Code cleanup"
Running a tool like `gosec` finds a bunch of unhandled error and other red flags in the code. We should run it and clean up as much as possible on this and the other Velero related repos.

Note: `gosec` is bundled with `golangci-lint` and you can run it as a plugin from there.

----
Related issues:

https://github.com/vmware-tanzu/velero/issues/2841

[2020-04-03 17:27] carlisia commented on #2387
@skriss I could use a hand with this one.

[2020-04-03 17:43] skriss commented on #2371
@ashish-amarnath should this issue be closed now?

[2020-04-03 18:37] ashish-amarnath commented on #2371
Yes, this can now be closed.

[2020-04-03 18:37] #2371 closed

[2020-04-04 16:57] bsctl commented on #18
Hello, any progress to introduce multi-tenancy in Velero?

[2020-04-06 13:12] rochfordk commented on #2267
Raised the above PR to help clarify the use of the TTL flag to control backup retention.

In the absence of support for more advanced backup retention policies, this use case might be  addressed with multiple backup schedules, e.g.:

$ velero schedule create nginx-daily-30 --schedule="0 0 * * *" --ttl 730h0m0s --selector app=nginxm

$ velero schedule create nginx-monthly-12 --schedule="0 8 1 * *"

[2020-04-06 15:43] brito-rafa commented on #2251
Just an update, please see [script](https://github.com/brito-rafa/velero-test/blob/master/2251-dev-test.sh) how to test the latest release.

[2020-04-06 16:20] carlisia commented on #1809
Q: Can I use Velero to backup that cluster on GKE and then restore those resources on a cluster from a different provider

A: Yes, with some limitations. https://velero.io/docs/v1.3.2/migration-case/ has some details.

If you have persistent volume data to migrate, you need to use velero’s restic integration to migrate it (https://velero.io/docs/v1.3.2/restic/). Also, if there are any provider-spe

[2020-04-06 18:11] nrb commented on #2394
Do you know what chart version you were using that worked on Helm 2?

It looks like you're missing the init container for the AWS plugin, as documented at https://github.com/vmware-tanzu/helm-charts/blob/master/charts/velero/values.yaml#L23

For AWS, you should be able to use the values as given in that file.

[2020-04-06 18:15] nrb commented on #2395
Thanks for reporting this @amarshaw, I've added it to our backlog.

[2020-04-06 19:11] branttaylor commented on #2394
We were using chart version 2.3.3 with Helm 2. Yep, adding that init container does fix it. Sorry, I must have missed an announcement about this init container becoming a requirement. Things were previously working without it, but obviously on an older version of the helm chart.

[2020-04-06 19:36] nrb commented on #2394
@branttaylor Yeah, v1.2 of Velero moved the AWS, GCP, and Azure plugins out of Velero's core and into separate plugins, thus requiring adding them as init containers. This was so that they were more on-level with other storage providers.

I'm going to close this issue out, but let us know if you run into any other issues!

[2020-04-06 19:36] #2394 closed

[2020-04-06 19:48] #2267 closed

[2020-04-06 21:48] ashish-amarnath opened #2400 "Request for new plugin kind to run custom delete logic while deletion of backup."
**Describe the problem/challenge you have**
Resources created during backup and restore of items by their corresponding ItemAction plugins will not get cleaned up unless the backup deletion controller is updated to perform the necessary cleanup.

**Describe the solution you'd like**
There should be a new plugin kind that runs on backup deletion. Implementation of this plugin can be used to perform

[2020-04-06 21:55] nrb commented on #2400
To be very clear here - these are resources explicitly tied to and created by the Velero backups themselves, such as CSI VolumeSnapshots. Resources that are simply discovered via the API server, such as the pod -> pvc -> pv relationship are not covered by this.

At the moment, I'm not aware of any plugins that do this besides the Velero CSI plugins, so we're building it into core. That being said,

[2020-04-06 22:39] ashish-amarnath commented on #2326
This PR https://github.com/vmware-tanzu/velero-plugin-for-csi/pull/31 fixes this issue.
Closing this issue as the referenced PR has been merged

[2020-04-06 22:39] #2326 closed

[2020-04-06 23:16] ashish-amarnath commented on #2325
Based on the above discussion. The dangling VSCs are preserved in the cluster to keep the volumesnapshots, in the storage provider, discoverable to the cluster operators. We will revisit this decision, should these dangling volumesnapshotcontents become a problem. I am OK with closing this issue for now and reopening it later, if required.
 @skriss and @nrb  WDYT?
This def is not a P1 important no

[2020-04-06 23:22] ashish-amarnath commented on #2325
Just to clarify: The dangling VSCs are now being caused because for every dynamic volumesnapshot, in the backup, we create a corresponding volumesnapshotcontent on restore for static binding. For that reason, this, IMO, is not an issue anymore.

[2020-04-07 00:12] carlisia opened #2402 "Velero location plugins and env variables"
How can we modify Velero so it is aware of env vars that different provider plugins require? Right now we just hardcode the AWS/Azure/GCP ones.

[2020-04-07 00:17] carlisia commented on #1910
These issues mentioned in this PR have been moved to their own ticket:

Velero location plugins and env variables: https://github.com/vmware-tanzu/velero/issues/2402

Enable plugins to pass environment variables required by restic: https://github.com/vmware-tanzu/velero/issues/2386

[2020-04-07 01:22] ashish-amarnath commented on #2302
The backup deletion controller will not have to delete the volumesnapshotcontent objects. Instead, just deleting the volumesnapshot should suffice. The volumesnapshotcontents will get deleted or retained based on the deletion policy of the volumesnapshotcontent.

So the backup deletion controller will have to discover the volumesnapshots using a label selector and delete just those volumesnapshots

[2020-04-07 12:49] duyanghao opened #2404 "More than one ResticRepository found for workload namespace xxx"
**What steps did you take and what happened:**
step1 - deploy velero deployment with replicas > 1
step2 - create restic backup
the backup is successful as below:
[code]
step3 - create restic backup for the same Kubernetes namespace again
the backup failed as below:
[code]

**What did you expect to happen:**
velero supports high-availability and restic following backups should be successfully.

**T

[2020-04-07 19:38] #2375 closed

[2020-04-07 21:39] carlisia opened #2405 "Structure and maintenance of Velero YAML files"
Reference: https://github.com/vmware-tanzu/velero/pull/2202#discussion_r404202795

In consideration to reverting to maintaining YAML files containing resources to be deployed for Velero, and taking into account the CLI changes to install Velero (https://github.com/vmware-tanzu/velero/pull/2202), some issues to think about and resolve:

- Any opportunity to automate the generation of these files? A

[2020-04-07 21:42] carlisia commented on #2405
c/c @vmware-tanzu/velero-owners.

[2020-04-07 21:49] nrb commented on #2404
Currently, Velero does not support multiple replicas of the server.

We're looking at ways to address making it more concurrent and highly available, including a design for [worker pods][https://github.com/vmware-tanzu/velero/pull/1653], making one pod or job per backup/restore.

That does still leave challenges for the server loops that handle dispatching the `Backup` and `Restores` to the worker

[2020-04-07 22:03] carlisia commented on #2400
To clarify: we have the option of updating the deletion controller to handle this clean up, or to create a new plugin kind? If so, I would prefer to update the deletion controller.

[2020-04-08 01:56] jwalters-gpsw opened #3142 "AWS Role to be assumed not being read from configuration file."
### Versions
Version: v1.3.2
AWS Plugin Version: 1.0.1
AWS EKS Version: 1.15

### Description
Though my config file has role_arn and source_profile entries, it does not appear the role is being assumed.

### Details
`$ velero install --provider aws --plugins velero/velero-plugin-for-aws:v1.0.1 --bucket backup-velero  --secret-file ./config`

[code]
`./config`
[code]
### Additional Information
I ra

[2020-04-08 07:33] suleymanakbas91 commented on #2374
@skriss yes, that's the case. Are those changes included in 1.3.2?

[2020-04-08 13:28] amarshaw commented on #2395
welcome

[2020-04-08 14:55] skriss commented on #2374
@suleymanakbas91 unfortunately they are not. The relevant PR is https://github.com/vmware-tanzu/velero/pull/2248 which is in `master` but hasn't been cherrypicked into a patch release.

[2020-04-08 16:37] skriss commented on #2340
closing this out as inactive, feel free to reopen as/when needed.

[2020-04-08 16:37] #2340 closed

[2020-04-08 16:57] IuriGarcia commented on #1083
So, i was facing the same issue in DO K8s, so in case to get it working i needed to remove the token into the secret leaving it this way:
[code]
and then, patching it empty, and after that, reinsert the token:
[code]
and patching it again!

[2020-04-08 17:59] ashish-amarnath commented on #2325
Closing this issue.

[2020-04-08 17:59] #2325 closed

[2020-04-08 19:21] #2366 closed

[2020-04-08 20:37] gildub commented on #2251
@brito-rafa, that's really great, thank you!

[2020-04-08 21:38] Wolvenmoon commented on #2391
Is there anything else I can do that may be helpful in resolving this?

[2020-04-09 08:59] turkenh commented on #2319
Any update on this?

Can we reopen this bug, or shall I create a new one?

[2020-04-09 10:30] surekhakallam opened #2408 "Data not getting restored on the web browser after restore"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

**What did you expect to happen:**

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

* `kubectl logs deployment/velero -n velero`
* `ve

[2020-04-09 10:33] #2408 closed

[2020-04-09 14:48] skriss opened #2409 "Move to a single docs site per major.minor version"
**Describe the problem/challenge you have**
Currently, we typically publish a new versioned docs site for each major.minor.patch release. This is somewhat burdensome from a maintenance perspective because there are more copies of the docs to update in case of change.

**Describe the solution you'd like**
GIven that patch releases should be bug-fix only, we'd like to maintain a single versioned doc

[2020-04-09 14:57] skriss commented on #2335
hey @macevil, it doesn't look like restic itself supports this option, so you'd need to file an enhancement request or PR in that repo to get that implemented before Velero could make use of it.

Alternately, we have recently merged #2353, which will allow you to use a custom CA bundle with Velero. That **does** flow through to restic.

I'm going to close this issue out for now as it's not actiona

[2020-04-09 14:57] #2335 closed

[2020-04-09 16:01] sseago commented on #1350
@nrb Right. We're using additional items to pull in cluster-scoped resources in some cases. In the case where this race condition has hit us, though, the AdditionalItems are actually resources of the same type but which this resource references. I guess the question is whether we want to call wait on the plugin that returned the AdditionalItems (even if it's a different resource type), or whether

[2020-04-09 16:16] MKruger777 commented on #1959
What was the solution here if I may ask? I am seeing the exact behavior. Thanks! :-)

[2020-04-09 17:24] djwhatle commented on #2251
Hey @brito-rafa, I'm taking over for @gildub on testing this out. Will try this out today and report back.

[2020-04-09 19:09] brito-rafa commented on #2310
Please see PR for the *backup* of multiple versions: https://github.com/vmware-tanzu/velero/pull/2373

I wrote a quick script to test the prototype, feel free to use it:
https://github.com/brito-rafa/velero-test/blob/master/2251-dev-test.sh

Please note the restore part is under discussion. Recommend you join the Velero community call to participate.

[2020-04-09 20:03] djwhatle commented on #2251
@brito-rafa I used your test script to check out the changes you've made. Looks like it works as described 👍

- [x] Existing "legacy" directory structure has been preserved
- [x] Conversions of each resource to all apiVersions known to apiserver are included in archive
- [x] Export of resource using preferredVersion is marked accordingly

_**New Format of Backup Content Archive**_ (includes legacy

[2020-04-09 21:25] mshack70 opened #2410 "restic not initializing"
**What steps did you take and what happened:**
we've been testing velero against an s3 backend (cohesity vendor) to backup kubernetes namespace metadata, and also annotated pods which have a volume to backup (via restic).  This is using the velero client/server new versions 1.3.2.

While velero works perfectly fine backing up the namespace to s3, if attempting to backup a volume within a pod, rest

[2020-04-09 22:15] mshack70 commented on #2410
The log from the s3 storage api looks to be showing:

/home/cohesity/logs/bridge_exec.ERROR:E0409 10:04:31.878022 20713 s3_handler.cc:1860] [InvalidArgument]: Credential field R7aZ3BJKSroriLrD_d44uvsQNCbmEkzpju0swndNHD8/20200409//velero/s3/aws4_request is malformed

In our case,
R7aZ3BJKSroriLrD_d44uvsQNCbmEkzpju0swndNHD8 is the aws access ID.

[2020-04-10 13:45] marccampbell opened #2412 "On a misconfigured backupstoragelocation, the velero pod goes into a crashloopbackoff"
**What steps did you take and what happened:**
I deployed a misconfigured backupstoragelocation (the bucket name had a typo)

**What did you expect to happen:**
Backups destined to this BSL to fail. Or some other error.

But instead, the controller goes into a crashloopbackoff with

[code]

This makes the issue pretty difficult to debug, and it also breaks backups that are using other backupstorag

[2020-04-10 15:06] skriss commented on #2412
dupe of #1967 - @carlisia is planning to change how the server & BSL lifecycles work as part of #2202

[2020-04-10 15:23] skriss commented on #2409
Couple notes:
- how would we tag pre-release docs? Could be something like `v1.4-pre`, or just `v1.4` but not the default selected version until the official release.
- does [this config entry](https://github.com/vmware-tanzu/velero/blob/master/site/_config.yml#L62) do anything? would we just update this to the *latest* patch release for the major.minor?

Otherwise, I think this is mainly a matter

[2020-04-10 16:20] iblackman opened #2413 "Namespace with label velero.io/exclude-from-backup=true should exclude all resources within from backing up"
**Describe the problem/challenge you have**
I want to have an option to exclude a namespace (all resources) without needing to edit velero config every time I create a new namespace. The actual option of `--exclude-namespaces` isn't enough because I don't want to create a naming pattern because of velero and since it already accept the label `velero.io/exclude-from-backup=true` to exclude resource

[2020-04-10 17:06] nrb commented on #2412
PR #2382 is one attempt at fixing this, too. It allows the server to start, but introduces an HTTP endpoint that could pair with a Kubernetes liveness check to see if the server has what it needs.

I don't know if 2382 will get merged ultimately, though.

[2020-04-10 17:23] nrb commented on #2143
I think we should look at moving this out of v1.4's beta and into v1.5. Thoughts @ashish-amarnath and @skriss?

[2020-04-10 18:20] rohandvora opened #2414 "Retry Backup with Updated Credentials"
**What steps did you take and what happened:**
We use temporary credentials with Velero which are updated every 30 mins. We update the `cloud-credentials` secret with the new credentials every 30 mins. If a backup starts before the credentials are updated and completes after the credentials are updated, the backup will fail as it uses the older credentials even when the newer credentials are avail

[2020-04-10 18:36] marccampbell opened #2415 "Support for deploying Backup resources to additional namespaces"
**Describe the problem/challenge you have**
Backup resources only work if they are deployed to the Velero namespace.

**Describe the solution you'd like**
I'd like to be able to deploy `Backup` resources to namespaces other than the velero namespace. My goal would be to create the Backup resource in the same namespace that the off-the-shelf application resides in, so that cleaning up the applicati

[2020-04-10 19:19] nrb opened #2416 "Handling metadata.ManagedFields"
https://github.com/kubernetes/kubernetes/pull/72947 introduced ManagedFields into Kubernetes v1.18.

We need to determine whether or not Velero needs to do anything special with these at restore time, such as clear them off the object with the `resetMetadataAndStatus` function, or if they're already handled.

[2020-04-10 19:26] carlisia commented on #2412
@marccampbell thanks for reporting this. I'm going to close this issue but please follow https://github.com/vmware-tanzu/velero/issues/1967 for updates since this change is in our near term pipeline.

[2020-04-10 19:26] #2412 closed

[2020-04-10 19:27] nrb commented on #2415
To give some background on why Velero is currently implemented this way:

If the `Backup` representation resides in the same namespace it tries to protect, then deleting the namespace will delete all of the backed up data, at least with how Velero's garbage collection works now. Putting the `Backup`s in their own namespaces means that users can accidentally delete a namespace and get it back.

Do

[2020-04-11 13:38] surekhakallam opened #2417 "Data not getting restored on the web browser after restore"
we are trying to restore pods and pvs which we have on a vsphere vm's but they are not able to restore that back

we took backup after we added few data on to the browser and then after backup is completed successfully .. we added some data again on the browser ... and then we deleted the pod and respective pvc's and pv's .... and deleted the respective data files on the respective node where the

[2020-04-12 16:21] surekhakallam opened #2418 "Data not getting restored on the web browser after restore"
we are trying to restore pods and pvs which we have on a vsphere vm's but they are not able to restore that back

we took backup after we added few data on to the browser and then after backup is completed successfully .. we added some data again on the browser ... and then we deleted the pod and respective pvc's and pv's .... and deleted the respective data files on the respective node where the

[2020-04-13 14:18] skriss commented on #2417
this looks like a dupe of #2418, closing this one out.

[2020-04-13 14:18] #2417 closed

[2020-04-13 14:24] skriss commented on #2309
hi @amy-bachir, just checking in to see if you were able to resolve this or if you need further help.

[2020-04-13 14:25] skriss commented on #2360
closing this out as inactive, feel free to reach out again as needed!

[2020-04-13 14:25] #2360 closed

[2020-04-13 14:28] skriss commented on #2357
clsoing this out as inactive, feel free to reach out again as needed!

[2020-04-13 14:28] #2357 closed

[2020-04-13 14:45] skriss commented on #2418
@surekhakallam there will soon be a `VolumeSnapshotter` plugin for vSphere that supports taking snapshots of vSphere volumes and backing them up to S3 (see https://github.com/vmware-tanzu/velero-plugin-for-vsphere). However, that hasn't been released yet.

For now, you'll need to use Velero's [restic integration](https://velero.io/docs/v1.3.2/restic/) to take file-level backups of your PV contents

[2020-04-13 14:45] #2418 closed

[2020-04-13 14:47] skriss commented on #1217
see #2415 for another instance of this request.

[2020-04-13 14:47] skriss commented on #2415
this appears to be a dupe of https://github.com/vmware-tanzu/velero/issues/1217. Let's continue the discussion there; I'm going to close this one out as a duplicate.

[2020-04-13 14:48] #2415 closed

[2020-04-13 14:51] skriss commented on #2413
@iblackman I think that could be reasonable behavior for when the `velero.io/exclude-from-backup=true` is applied to a `Namespace` resource. Right now, it results in just the `Namespace` resource itself being excluded, but any other resources in that namespace would still be backed up.

Let's see what other maintainers think (cc @nrb @carlisia @ashish-amarnath).

Do you have any interest in workin

[2020-04-13 14:54] marccampbell commented on #1217
Our use case is a slight variation on the above. We have an application that manages applications in multiple namespaces. The application manager exists in namespace A, and it might be managing applications in namespaces B and C. If we require that the application manager have write access to the `velero` namespace, that's work for the user to configure that RBAC policy. If instead, the applicatio

[2020-04-13 15:11] skriss commented on #2374
I'd be surprised if this behavior changed from v1.2 to v1.3. As far as I know, the issue here is that we try to resolve the plugin's includes/excludes via the discovery API before starting the restore. If those includes/excludes refer to a CRD that does not yet exist in the cluster, but rather will be created as part of the restore, then the "resolution" step fails and basically ignores that exclu

[2020-04-13 15:15] skriss commented on #2410
@mshack70 it might be easiest to debug this by first trying restic directly against your S3-compatible backend, without Velero, to ensure that it's compatible.

See https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html#amazon-s3 for some info on how to do that. Ideally you can use the same credentials as you were trying to use with Velero.

Let me know if you can get any additional

[2020-04-13 15:22] arodriguezdlc commented on #379
It would be great if we could use aad pod identity to provide credentials to velero. Is it on the roadmap for this plugin?

[2020-04-13 15:24] skriss commented on #2349
@DamianKusz huh, I haven't seen this one before despite having many long-lived deployments of Velero. I'll see if I can reproduce.

[2020-04-13 15:26] skriss commented on #379
@arodriguezdlc see WIP https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/29

[2020-04-13 15:36] carlisia opened #2419 "[Epic] New CLI for install and config"

[2020-04-13 16:27] carlisia commented on #1344
This will be addressed by the addition and documentation of this feature: https://github.com/vmware-tanzu/velero/issues/1967.

Closing.

[2020-04-13 16:27] #1344 closed

[2020-04-13 16:47] carlisia opened #2420 "Rename "provider" to "location-plugin""

[2020-04-13 16:49] carlisia opened #2421 "Add columns to backup storage location to indicate which one is the default"
- to indicate which one is the default

Edited on 11/18:
- to show last validated time -> this was already done
- to show validation frequency -> opened a separate issue for this: https://github.com/vmware-tanzu/velero/issues/3098
- to add a default column for VSL -> Add columns to backup storage location to indicate which one is the default

[2020-04-13 16:54] nrb commented on #2413
👍 I think this is reasonable, too, since annotating everything in a namespace could be pretty tedious.

[2020-04-13 17:10] skriss commented on #2404
I'm going to close this out as, per Nolan's comment, we don't support >1 replica right now, and there are other issues in place to track those enhancements.

[2020-04-13 17:10] #2404 closed

[2020-04-13 17:51] IuriGarcia commented on #1544
Im facing the same Issue. Im trying to install stable/velero since once i have tried to install vmware-tanzu/velero just gotten that error
`Error: YAML parse error on velero/templates/volumesnapshotlocation.yaml: error converting YAML to JSON: yaml: line 14: could not find expected ':'`

So, just tryed to install stable/velero using the same procedure, reading Readme(v2.7.4), basing on the helm in

[2020-04-13 18:08] carlisia opened #2422 "Go over all flags and document what is optional, what is required, and default values. Capitalize all help messages"

[2020-04-13 18:09] carlisia opened #2423 "Add `velero config server` command"

[2020-04-13 18:10] carlisia opened #2424 "Add `velero config restic` command"

[2020-04-13 18:12] carlisia opened #2425 "Improve the `velero backup-location` command"
- [x] --cacert [set|create] https://github.com/vmware-tanzu/velero/pull/3167
- [x] --default [set|create|get] https://github.com/vmware-tanzu/velero/pull/3092
- [ ] --credentials [set|create] https://github.com/vmware-tanzu/velero/pull/3190

[2020-04-13 18:12] carlisia opened #2426 "Improve the `velero snapshot-location` command"

[2020-04-13 18:13] nrb commented on #2383
@TomaszKlosinski Could you provide a link to the ElasticSearch and Kibana YAML you were using to install, so I can reproduce this with the exact same files?

[2020-04-13 18:17] carlisia commented on #1991
With the new "readiness" logic being added to BSL/VSL and also to Velero, this issue gets resolved.

Work being tracked here: https://github.com/vmware-tanzu/velero/issues/1967.

Closing.

[2020-04-13 18:17] #1991 closed

[2020-04-13 18:20] carlisia opened #2427 "Improve the `velero plugin` command"

[2020-04-13 19:03] carlisia commented on #1967
Relevant work: https://github.com/vmware-tanzu/velero/pull/2382

[2020-04-13 19:21] lukasmrtvy opened #2428 "Feature request: webhooks/notifications"
Would be supernice nice to implement custom notifications/webhooks if backup failed/succeded.
* Slack,MSTeams,Matrix,Mattermost
* Custom webhook ( To support https://github.com/healthchecks/healthchecks for exampel .. )

Thanks

[2020-04-13 19:43] nrb opened #2429 "Kubernetes minor version label causes errors when patching backups"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
On a GKE cluster of v1.16.8-gke.8, taking a backup results in the backup failing to update its status with the following error on a perpetual loop:

[code]

When printing out the updated object, I see following patch being applied (bolding mine):

[code]

Specifically, th

[2020-04-13 19:49] nrb commented on #2429
@brito-rafa I'm putting together a fix for this, but wanted to give you a heads up. Looks like some platforms insert extra characters in these fields which are invalid to use as labels.

[2020-04-13 20:18] jamiebuxxx opened #2430 "Namespace is blank in error logs"
**What steps did you take and what happened:**
When looking through the logs of a failed backup, I noticed that error messages do not specify which namespace the offending issue is in.

Command to view the logs:
[code]
By piping to `less`, it's easier to search for errors. Here is an example of an error.

[code]

As you can see, `namespace=` is blank.

**What did you expect to happen:**
Since succ

[2020-04-14 04:01] carlisia opened #2432 "Add `--dry-run` flag to the new install and config commands"

[2020-04-14 06:22] surekhakallam commented on #2418
actually we are using minio for backup .. only our vm is on vsphere... the data which i m talking about is .. we have a webpage of our application ... on that web page say i add some data ... and took the backup and then delete the pod and pv and pvc of that perticular thing and then again when i restore that the pods and pv and pvc are coming back .. but on the webpage the data is not present ...

[2020-04-14 08:38] TomaszKlosinski commented on #2383
Hello, I've used ECK operator to install it:
https://www.elastic.co/guide/en/cloud-on-k8s/current/index.html

And then I've used this YAML to create Elasticsearch:
[code]

[2020-04-14 08:43] Yggdrasil opened #2433 "Creating or updating a schedule immediately starts a backup."
**What steps did you take and what happened:**

I deployed the below nightly backup schedule YAML via `kubectl apply`. This immediately triggered a new backup to start, instead of waiting for midnight! It appears the backup is also started at the scheduled time.

[code]

The same thing happens when an existing schedule is updated, for example when changing the schedule from `@every 24h` to `@midni

[2020-04-14 14:37] skriss commented on #2418
yes, you need to set up restic, otherwise you will only get backups of the Kubernetes YAML, but **not** the contents of your PVs, like you're seeing.

[2020-04-14 14:40] skriss commented on #2433
definitely agree this is a bug for schedules that are supposed to run at a fixed time each day, like the midnight schedule

[2020-04-14 14:41] skriss commented on #2433
Fixing this could be an opportunity to get rid of our own cron logic, and change the schedule controller to just create a Kubernetes `CronJob`.

[2020-04-14 16:07] nrb commented on #2383
Great, thanks!

[2020-04-14 16:19] shreegolang opened #2434 "Failed to discover group: custom.metrics.k8s.io/v1beta1" error="the server is currently unable to handle the request"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

velero not able to discover the custom.metrics.k8s.io/v1beta1
time="2020-04-14T16:05:58Z" level=warning msg="Failed to discover group: custom.metrics.k8s.io/v1beta1" error="the server is currently unable to handle the request" logSource="pkg/discovery/helper.go:154"

**W

[2020-04-14 17:10] skriss commented on #2116
@marccampbell I think we'd definitely like to do this, but it's not currently prioritized. If you're interested in taking the lead on a design proposal, let us know and we can help provide input!

[2020-04-14 17:30] marccampbell commented on #2116
@skriss i'd love to take the lead on a design proposal for this.

[2020-04-14 19:26] dejwsz opened #2435 "velero with restic plugin kills openshift cluster"
**What steps did you take and what happened:**

I don't know if it  is normal but:

I'm using openshift 3.11 with 80 worker nodes, around 1300 volumes attached to PODs. I used latest Velero with restic to backup these volumes. If restic is used the cluster is almost killed, ETCD is not able to proceed normally. If I kill restic daemon everything starts working well right away.

**What did you expe

[2020-04-14 21:00] skriss commented on #1967
I'm still a little unclear on what user experience we're shooting for. In my mind, the relevant scenarios here are:

at server startup:
- there are no BSLs
- there are 1+ BSLs, and some are valid/some are invalid
- there are 1+ BSLs, and all are invalid

at some time after server startup:
- there are no BSLs
- there are 1+ BSLs, and some are valid/some are invalid
- there are 1+ BSLs, and all are

[2020-04-14 21:46] nrb commented on #1967
I agree with your summary @skriss, with one special case:

If the current `default` BSL is invalid, but others are valid, how do we indicate that backups can proceed so long as they have alternate locations? Or do we rely on users simply checking the output of `velero get backup-locations`, seeing which are ready and/or valid, and reconfiguring the default?

[2020-04-15 07:43] dejwsz commented on #2435
Maybe some can comment on this? But it looks like Veero together with Restic daemon is making some kind of DDoS attack on API if you have a larger number of nodes and thousands of PODs with attached volumes. Is that true? It scans all objects and filters by "backup.velero.io/backup-volumes" annotation to identify volumes for processing. But in my case, the process is so extensive that Etcd is almo

[2020-04-15 12:26] iblackman commented on #2413
@skriss

I can try to if you decide it makes sense, even though I don't have much experience with Go.

[2020-04-15 12:51] JonDGH opened #2437 "restic-restore-helper container doesn't run when pod has runAsNonRoot: true"
**What steps did you take and what happened:**

Annotate pods with: backup.velero.io/backup-volumes: data
velero backup create my-data-backup --include-namespaces=jon-test-system

backup completes successfully

oc delete namespace jon-test-system
velero restore create --from-backup=my-backup --restore-volumes --include-resources=pvcs,pvs

(I don't think the --include-resources argument is required

[2020-04-15 14:41] skriss commented on #2430
thanks for reporting this, it should definitely be populated for namespaced resources. I'll see if I can track this down.

[2020-04-15 14:57] skriss commented on #2434
@shreegolang you would have to check on the status of your metrics API server; this indicates that the Kubernetes discovery API is returning an error when trying to get the resources within this API group. This is not a velero error per-se; we're just reporting the error coming back from your Kubernetes API server.

[2020-04-15 15:17] skriss commented on #2435
@dejwsz sorry you're having problems. We have not scale-tested the restic integration at this size. Are you trying to back up *all* of these volumes within a single backup?

[2020-04-15 15:18] skriss commented on #2391
@mynktl any chance you can help look into this?

[2020-04-15 16:03] skriss commented on #1544
@luriGarcia I've used that AWS policy many times, in fact am using it right now, and it's working fine, so I'm not sure why you're getting the error.

To start, could you paste the output of `aws iam get-user-policy --user-name velero --policy-name velero`? You can redact the bucket name if you need.

[2020-04-15 16:16] dejwsz commented on #2435
You do not need to apologize, I should thank you for your effort ;) I have one schedule at night which tries to backup whole cluster so all objects and annotated volumes (about 1 thousand). But if only velero main pod is running everything is OK, right after I enable Restic daemon it starts flooding the cluster API so much that Etcd struggles to work normally.

[2020-04-15 16:29] mynktl commented on #2391
Hi @Wolvenmoon
As @skriss mentioned You need to create a namespace before restoring openebs cstor volume.

openebs cstor volume is iscsi base volume. So once you set the targetip for replica, replica will connect to target pod and after that kubelet will mount the PV for pod. From https://gist.github.com/Wolvenmoon/589899620b094051b2ad6b62e87785da I'm seeing that mount is successful for PV.

veler

[2020-04-15 16:35] carlisia commented on #1967
I'm thinking thru this and writing it up again to make sure I nail all the details. I appreciate the input, some of this is different than what I had in mind but makes sense.

[2020-04-15 17:03] ashish-amarnath commented on #2413
👍 from me. Excluding namespace resources when the namespace is excluded is very intuitive.

[2020-04-15 17:26] skriss commented on #2143
I'm fine with considering it non-release-blocking, yeah.

[2020-04-15 17:31] #2430 closed

[2020-04-15 18:03] carlisia commented on #1967
Option 1)
- check the output of `velero get backup-locations`

Option 2)
- include in the output of `velero status` a listing of all BSLs, and indicate the status of each (`ready`/`waiting`)

I like option 2 better, because we can make `velero status` aggregate the most relevant info and state the user needs to know, without requiring them to read the docs to learn where to find things.

[2020-04-15 18:45] #2429 closed

[2020-04-15 18:48] ashish-amarnath commented on #2143
From the outset, it seems like a simple change to address this. Need to check some of my assumptions though. I am OK w/ moving this out of 1.4.

[2020-04-15 19:21] mshack70 commented on #2410
If i try with restic cmd like example:

1) export my creds
2) $ restic -r s3:S3SERVER:3000/velero/restic/mariadb init

Fatal: create repository at s3:https://S3SERVER:3000/velero/restic/mariadb failed: client.BucketExists: Head https://S3SERVER:3000/velero/: net/http: invalid header field value "AWS4-HMAC-SHA256 Credential=R7aZ3BJKSroriLrD_d44uvsQNCbmEkzpju0swndNHD8/20200415//velero\n/s3/aws4_requ

[2020-04-16 08:10] dejwsz commented on #2435
I would suggest to check the whole process/workflow of using openshift/k8s API and do it less aggressive trying to minimize all requests to a required minimum (if possible?).

[2020-04-16 17:00] JonDGH commented on #2437
I tried to reproduce this is in a microk8s environment (had to run:

[code]
)

but the backup only included a single volume, so didn't get as far as attempting the restore.

[2020-04-17 08:30] shreegolang commented on #2434
@skriss i didn't understand could you please provide me an example.

[2020-04-17 09:07] aclevername commented on #2116
We (@cloudfoundry-incubator/bosh-backup-and-restore-team) would love to help contribute on this too :)

[2020-04-17 12:24] ostkrok commented on #2385
We've also encountered a similar issue when we tried to restore our staging environment to a new cluster. However, we're not using restic and we're not backing up the data from the PVC:s, so I'm not entirely sure that it's the same issue.

But our logs also show that `no such file` error.

[code]

This isn't a big issue for us, so we won't be looking into it ourselves, but we'll gladly send you mo

[2020-04-17 14:15] skriss commented on #2434
@shreegolang it looks like you have the custom metrics server API group installed in your cluster but it's not responding. I don't know the details of your setup, but take a look at https://github.com/kubernetes-sigs/custom-metrics-apiserver.

You can run the following via `kubectl` to see if the API group seems to be working:
[code]

If you get the issue with the API group resolved, then Velero w

[2020-04-17 14:15] #2434 closed

[2020-04-17 14:52] manast commented on #172
@ncdc with watching do you mean using polling or is there any other mechanism that uses push instead?

[2020-04-17 16:28] ashish-amarnath commented on #172
@manast Watching doesn't mean active polling in your tooling. You can use the dynamic informer apis in kubernetes client-go that allows you to register handlers for create, update, delete events for objects of a resource type. In this case you you would create a dynamic informer of the `backup` velero CRD and register update event handler. In the handler function, you would inspect the `Phase` fie

[2020-04-17 16:40] skriss commented on #2309
Only thing I can see, which may or may not be an issue, is that it looks like you need to delete/recreate the Velero pod *after* annotating the service account, per step 2 [here](https://docs.aws.amazon.com/eks/latest/userguide/specify-service-account-role.html). After doing that, I'd check to see if the relevant environment variables have been populated.

I'm going to close this out as inactive,

[2020-04-17 16:40] #2309 closed

[2020-04-17 16:42] skriss commented on #2391
I'm going to close this out per @mynktl's response, but feel free to reach out again as needed (it seems like https://github.com/openebs/velero-plugin/issues would be the best place to direct further questions).

[2020-04-17 16:42] #2391 closed

[2020-04-17 17:46] manast commented on #172
all right, I got it, thanks for the reply.

[2020-04-17 19:20] skriss commented on #2396
@mansam just checking in here to see if you'd be able to add the requested documentation page, thaks!

[2020-04-17 20:55] hasheddan commented on #2383
Hey @nrb! Thanks for looking into this :) It is due to the validation here: https://github.com/kubernetes/apiextensions-apiserver/blob/089b5f38f499f0d173cb1d7f424ade7214d4423e/pkg/apis/apiextensions/validation/validation.go#L238. I am guessing velero may be adding suberesources to both the top-level and per-version stanzas. I have a really simple example here that I noticed it on, which might be h

[2020-04-18 02:30] Wolvenmoon commented on #2391
Alrighty, I finally had a chance to sit down with this.

So, I figured this out and am going to give the exact bash voodoo I used so that the next Googler has the exact fix.

kubectl delete namespace minecraft
kubectl create namespace minecraft
velero restore create mcrestore --from-backup mcbackup --restore-volumes=true

Let's say you end up with a persistent volume claim pvc-3514ffd3-aae7-48ea-a

[2020-04-18 17:42] surekhakallam commented on #2418
i have set the restic  ... but not getting

[2020-04-19 15:46] mordowiciel opened #2443 "Velero restore PartiallyFailed for backup containing dynamic admission webhooks (prometheus-operator)"
**What steps did you take and what happened:**

1) Installed [prometheus-operator](https://github.com/helm/charts/tree/master/stable/prometheus-operator) Helm chart into empty `monitoring` namespace with admission webhooks enabled by default.
2) Performed a backup of whole monitoring namespace:
`velero backup create monitoring-backup-with-webhooks --include-namespaces monitoring --storage-location

[2020-04-19 17:19] manast commented on #172
Ok, although I understand exactly what you meant, I noticed there is zero documentation for the API regarding informers, and specially in the official javascript library (the one I am using), there is one example however since no documentation is available I do not know how to extrapolate it to registering the watchers for velero backup. Sorry to bother you with this, but if you know how to do it

[2020-04-20 08:29] NickSu86 opened #2446 "velero make full snapshot of azure managed disk everytime"
I have created a schedule job and the deployments, configmap, services work quite good, but I found the pv snapshot is already in full backup not incremental, as some of our PV is TB large, and we need to back it up every day, which consumes us very large space for backup.

**What did you expect to happen:**
The volume snapshot could be incremental rather than full backup every time

**Environment

[2020-04-20 14:13] skriss commented on #2446
hey @NickSu86 we already have an open feature request in the Azure plugin repo for this - see https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/issues/25. I'm going to close this issue out as a duplicate, but please follow along there.

[2020-04-20 16:52] nrb commented on #2383
@hasheddan Thanks for digging into this! Velero _shouldn't_ be adding anything extra to the schemas, but I could be mistaken.

The CRD manipulations we do are in these plugins, if you'd like to double check my work which would be appreciated :) These were introduced with v1.3.0

Backup:

 * https://github.com/vmware-tanzu/velero/blob/master/pkg/backup/remap_crd_version_action.go

Restore:

 * http

[2020-04-20 17:31] nrb commented on #2383
I did some tests with the GCP Crossplane Stack CRD that @hasheddan posted and confirmed the error he saw with Velero master. I did a Velero backup then got the JSON files using `velero backup download` and just tested them out using `kubectl apply`.

First, with the original JSON (the only difference being I ran it through `jq '.' -r` to get prettier JSON  for eventual diffing):

[code]

Next, I c

[2020-04-20 18:20] nrb commented on #2383
For comparison, I applied https://raw.githubusercontent.com/elastic/cloud-on-k8s/master/config/crds/all-crds.yaml to a 1.17.2 KinD cluster, then backed it up and received the same errors as @TomaszKlosinski was originally reporting.

I notice that in the `ElasticSearches` CRD as defined in the YAML, the `additionalPrinterColumns` are defined at the top level Spec. However, after being retrieved fr

[2020-04-20 19:08] nrb commented on #2383
Ok, I think I see what's happening now.

Using `kubectl get --raw /apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions/elasticsearches.elasticsearch.k8s.elastic.co`, I see that I get the correct object; that is, there's only 1 top-level `additionalPrinterColumns` entry, not one per version.

I got a hint from [this commit](https://github.com/kubernetes/apiextensions-apiserver/commit/b7fdf7

[2020-04-20 19:13] hasheddan commented on #2383
@nrb apologies for just following up here, your digging appears to be in accordance with my understanding though :) An alternative could be to convert both `v1` and `v1beta` to internal schema then render them from there. Here is an example of this strategy: https://github.com/crdsdev/doc/blob/3a12003326ce6e2fee55c388369debf15047799a/pkg/crd/crd.go#L102

[2020-04-20 20:28] nrb commented on #2383
@hasheddan No worries! I was capturing notes as I found things. I'll take a look at that approach.

We also have #2373 which will get both versions, too.

[2020-04-20 20:43] nrb commented on #2383
@hasheddan Storing the internal representation does seem like a good idea, especially since https://github.com/kubernetes/apiextensions-apiserver/blob/c47e10e6d5a3d95d427c5bee109d934602f0861e/pkg/apis/apiextensions/v1/zz_generated.conversion.go#L306 exists.

I think I'll have to revisit the CRD backup/restore logic entirely. Thank you for your pointers! Do you mind if I tag you on reviews for thes

[2020-04-20 20:46] hasheddan commented on #2383
@nrb sure thing! Thanks for the great work you do on this project!

[2020-04-20 21:01] nrb opened #2447 "Document regression testing cases"
We should document regression test cases that will eventually run on top of the e2e clusters made from #2131.

Feel free to add to this list.

I'll start with one:

 * Confirm successful restoration of ElasticSearch CRDs (#2383)

[2020-04-20 21:01] nrb commented on #2447
@ashish-amarnath I know you were interested in this topic, too. Right now I'm just capturing high level cases, not necessarily step-by-step instructions.

[2020-04-20 22:06] ashish-amarnath opened #2461 "ItemAction plugins for unresolvable resource types are run for all types"
- Create a GKE cluster
- Deploy velero with the CSI plugin
- Deploy the `nginx-example`  from [velero/examples/nginx-with-pv](https://github.com/vmware-tanzu/velero/blob/master/examples/nginx-app/with-pv.yaml)
- Create a backup using `velero backup create b2 --wait --include-namespaces nginx-example`

This Fails with
[code]

From the velero logs:
[code]

Removing the CSI plugin from the velero dep

[2020-04-21 08:20] shreegolang commented on #2434
Thanks @skriss

[2020-04-21 14:39] #2446 closed

[2020-04-21 14:46] skriss commented on #2145
@nrb @ashish-amarnath I think we've decided against doing this, so this issue can be closed - right?

[2020-04-21 14:53] skriss commented on #2145
@nrb @ashish-amarnath we need to decide if we're going to do this. I think it potentially still makes sense, since without it we still have the issue of orphaning storage snapshots in certain scenarios (take backup/snapshots in cluster A, lose cluster A, import backups into cluster B, expire backup from cluster B before it's restored -- storage snapshots are now orphaned).

Thoughts?

[2020-04-21 18:24] nrb commented on #2131
IMO, for the first pass, we don't need snapshots being captured. Just installation and k8s objects backups. That's more than we have today.

[2020-04-21 18:52] nrb commented on #2383
A summary so far:

Right now, Velero only gets the server's preferred version of a resource.

In Kubernetes v1.16+, that's v1 of CustomResourceDefinitions.

With v1.3.0, Velero applies a heuristic to see if it had a CRD that was v1 but was _really_ a v1beta1 CRD retrieved through the v1 endpoint. If so, then the backup plugin switched the version string from `v1` to `v1beta1`, and that's it.

As d

[2020-04-21 19:48] skriss commented on #2383
Thanks for the writeup @nrb. I agree that options 1 and 3 are most feasible now. Option 2 would be a pretty big change, and I'm not not even sure at this point whether it's desirable or not.

Of 1 and 3, I think 3 is the more failsafe option, since it doesn't rely on us correctly identifying whether a CRD was originally created as `v1beta1` or not - we just naively back up both representations and

[2020-04-21 19:53] skriss commented on #2319
@nrb sounds like we may need to use [this approach](https://github.com/vmware-tanzu/velero/blob/master/pkg/backup/remap_crd_version_action.go#L68-L79) that we used in the backu plugin, for the restore plugin as well (specifically [this code](https://github.com/vmware-tanzu/velero/blob/master/pkg/restore/crd_v1_preserve_unknown_fields_action.go#L70-L72)) - does that sound right to you?

[2020-04-21 20:37] carlisia commented on #1967
Updated the description.

[2020-04-21 21:07] nrb commented on #2319
@skriss yeah. Will re-open and re-add to v1.4 milestone.

[2020-04-22 07:15] DamianKusz commented on #2349
@skriss any progress? We are still facing the issue (right now we are using the older version on most of the clusters to avoid this problem)

[2020-04-22 17:09] ashish-amarnath commented on #2145
Syncing the volumesnapshotcontents into the cluster  to do cleanup in the storage provider makes sense. However, to do that we will have to add the `velero.io/backup-name` label on the volumesnapshotcontents we backup. Or we could sync both volumesnapshots and volumesnapshotcontents and trigger the deletion of the volumesnapshotcontents through the volumesnapshots. I bring this up here to check if

[2020-04-22 17:37] ashish-amarnath opened #2451 "Passing the `--features` flag to the plugins breaks the plugins that don't bind that flag"
This is the error I see when running velero with the `--feature` flags.
[code]

cc @nrb @skriss

[2020-04-22 18:50] #1697 closed

[2020-04-22 18:50] #2356 closed

[2020-04-22 19:37] cblecker opened #2453 "When creating backup from schedule, allow default name"
**Describe the problem/challenge you have**
When creating a backup using `velero backups create --from-schedule=<scheduleName>`, you need to specify a name. When a schedule is automatically triggered, there is a [default name format](https://github.com/vmware-tanzu/velero/blob/a3a91014360c862678727c1797bb1ea3c4e1bd55/pkg/controller/schedule_controller.go#L291). To get the same functionality, using

[2020-04-23 06:06] christian-vent commented on #2198
@skriss Did you find a way to enable IAM for service account while using restic/velero

[2020-04-23 06:32] christian-vent commented on #2198
Restic is using minio which already has support for IAM for service accounts (https://github.com/minio/minio-go/pull/1183). I created a feature request for restic to enable this feature as well (https://github.com/restic/restic/issues/2703).

[2020-04-23 14:47] mansam commented on #2396
hey @skriss, I am still planning to add it, just had some other stuff on my plate. Will be getting to it as soon as possible.

[2020-04-23 17:50] ashish-amarnath commented on #2443
Thanks for the write-up and the analysis @mordowiciel!
The priorities for performing the resource restoration is governed by https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/server/server.go#L483-L502
As a work around, you should be able to override this default to restore the rules after the necessary services have been restored.
Can you give that a try?

[2020-04-23 17:50] chancez commented on #904
This seems essential. I want to restore a single PVC, not all of them. Restoring all of them is almost worse than simply having one that I have to restore manually because restoring the others will unnecessary revert them back to their state when snapshotted last.

[2020-04-23 21:03] betta1 commented on #1967
+ 1 on the above suggestions. The only concern I have is crashlooping when there's no BSL -- in scenarios where Velero is deployed without a default BSL, the expectation is Velero should not crashloop, right? I'm thinking of use cases where Velero is running as part of a larger platform where BSLs are created on-demand prior to backups being triggered.

[2020-04-23 21:44] VihanAgarwal97 opened #2454 "Velero is not updating changes in configs"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I had originally installed velero using -
[code]
I wanted to change the configuration so I ran -
[code]

**What did you expect to happen:**
I expected the new deployment/pods to come up with the correct annotations but the annotations are still missing from the deploymen

[2020-04-24 16:50] skriss commented on #2454
@VihanAgarwal97 `velero install` won't update/overwrite existing resources, you'd need to either delete the relevant items first and re-run `velero install`, or manually edit the relevant items outside of `velero install`.

[2020-04-24 17:07] VihanAgarwal97 commented on #2454
Ahh. Thanks for getting back. Any idea if there will be a feature in the future -- `upgrade`, perhaps? Not sure of the complexity of adding this. I was initially hoping `velero install` would work similar to `kubectl apply`

[2020-04-24 20:34] skriss commented on #2454
Yeah, it's a nice idea -- we don't currently have that exact feature prioritized. @carlisia is doing some work on the install and config UX so it could possibly fit in there.

One other option, which I *think* would work, but I haven't had a chance to actually test myself, would be to have `velero install` just output YAML, and actually pipe that into `kubectl apply`, like this:

`velero install <

[2020-04-24 20:43] hibbert opened #2457 "Restic not working with AWS IAM-backed service accounts"
**What steps did you take and what happened:**

Have set this up taking into account https://github.com/vmware-tanzu/velero-plugin-for-aws/issues/17

**What did you expect to happen:**

Restic backups would be okay

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

[2020-04-24 21:56] cblecker opened #2458 "Retry failed backups"
**Describe the problem/challenge you have**
There are sometimes transient network issues that can prevent a scheduled backup from completing. It would be nice to have a way to automatically retry a `PartiallyFailed` backup.

**Describe the solution you'd like**
A field in the backup spec to specify the number of times a backup should be retried. A field in the status to describe how many runs have

[2020-04-25 07:50] ashish-amarnath commented on #2451
This bug is a release blocker as it breaks existing plugins.

[2020-04-26 00:19] prasenforu commented on #904
Valid point @chancez

@ncdc @skriss Any update ?

[2020-04-26 08:38] davidp1404 opened #2459 "restic: invalid memory address or nil pointer dereference"
I've deployed velero 1.2 with restic integration on k8s 1.16.3 (centos7). After having successful backups I started to retrieve errors like this:

$ velero backup logs daily-20200425000025 | grep -i error
time="2020-04-25T01:57:37Z" level=info msg="1 errors encountered backup up item" backup=velero/daily-20200425000025 group=v1 logSource="pkg/backup/resource_backupper.go:284" name=mysqldb-1 namesp

[2020-04-26 12:09] skhalash commented on #872
Is it still relevant? If yes, I would like to do it!

[2020-04-27 11:22] MatteoManzoni opened #2460 "Restoring using different image registry"
During a Disaster Recovery of a our cluster we should be able to restore pointing a image registry different from the one defined in our backed-up manifests.
This feature can be used in many contexts such as: restoring an on prem cluster in EKS switching from on prem registry to ECR populated with prepushed images.

To workaround this missing feature we are evaluating the use of a service exposing

[2020-04-27 16:28] skriss commented on #2461
The easiest thing to do here is probably to change [this line](https://github.com/vmware-tanzu/velero/blob/237065d91fe3565814afe047ab5afc9738e97242/pkg/backup/backup.go#L145), so that if an entry in the includes/excludes list can't be resolved via discovery, we return it *as-is*, rather than returning an empty string. That way, even if none if the included resources can be resolved, we still have

[2020-04-27 16:55] yogeek commented on #2221
@ashish-amarnath Sorry about the delay, but I am not using the Helm chart to install Velero but the CLI : how can I achieve to create the ServiceMonitor with the CLI please ?

[2020-04-27 17:34] prasenforu opened #2463 "change-storage-class configmap"
Document https://velero.io/docs/master/restore-reference/ says to
Changing PV/PVC Storage Classes

To configure a storage class mapping, create a config map in the Velero namespace like the following:

[code]

But not sure where to map (which object pod or daemonset) above configmap.

[code]

Please help.

[2020-04-27 18:11] nrb commented on #1967
@betta1 I would expect that as soon as a valid BSL is created, the Velero deployment would then recover. This is in line with a modern, cloud-native application design.

Could Velero's status be communicated through that system to show that it will be fine once a backup is started?

[2020-04-27 18:24] ashish-amarnath commented on #2221
@yogeek I don't see us setting up the prometheus operator service monitor in our CLI install and I am surprised that we do that in the helm chart. If you are using prometheus operator and would like to create a service monitor object, you can use the template from https://github.com/vmware-tanzu/helm-charts/blob/4bd96bcce551ea4690d9fd9924814e54fbbc6146/charts/velero/templates/servicemonitor.yaml t

[2020-04-27 18:43] skriss commented on #2463
@prasenforu you don't need to mount the ConfigMap into any pod; Velero will look for it through the API client.

[2020-04-27 19:01] skriss commented on #2451
Some options to consider:

1. Don't pass the `--features` flag to plugins
2. Pass the `--features` flag, and require plugins to update their dependency to use a version of Velero that includes binding this flag
3. Try passing the `--features` flag, explicitly check for an error indicating it's not supported, and don't pass it if it's not supported

Others?

[2020-04-27 19:05] skriss commented on #2319
I think we said that the fix for #2383 may fix this as well by replacing/removing the relevant code, so we can hold off on directly addressing for now.

If it turns out that the #2383 fix doesn't cover this, then we can update the restore plugin per https://github.com/vmware-tanzu/velero/issues/2319#issuecomment-617379431.

[2020-04-27 19:09] nrb opened #2464 "Investigate moving multiarch builds to docker buildx"
As pointed out in [this comment](https://github.com/vmware-tanzu/velero-plugin-for-aws/pull/36#issuecomment-616093128), the [`docker buildx`](https://docs.docker.com/buildx/working-with-buildx/) command could simplify our Dockerfile pipeline when it comes to multiarch builds.

We should investigate this, as it could make adding more architectures easier down the line, both for core Velero and plug

[2020-04-27 19:17] robersongomes opened #3147 "Backup searches for disk on the wrong GCP project"
**Describe the problem/challenge you have:**

We have multiple GCP projects and we manage all the access using [IAM Folders](https://cloud.google.com/resource-manager/docs/access-control-folders), with one folder for each environment (production/development/staging/qa/etc).
For each environment, we create a folder with all GCP projects for that environment. Service accounts are created on a single

[2020-04-27 19:17] nrb commented on #2451
I'm unsure if this is a release blocker - it only happens if `--features` is defined on the server and you're using an incompatible plugin. [If you do not have the `--features` argument, it doesn't happen](https://github.com/vmware-tanzu/velero/blob/d26bf05b33b0e8df666d9315cafe0f144babbf92/pkg/plugin/clientmgmt/client_builder.go#L54-L56).

I'm going to assume all of our supported plugins will incl

[2020-04-27 19:24] nrb commented on #2319
@skriss Yeah - it's possible that we may end up just removing the plugins, which would remove the call to `FromUnstructured` that you linked to. If not, then we can revisit the marshalling.

[2020-04-27 19:26] ashish-amarnath commented on #2451
Considering that the CSI support is being a feature flag and we'll need the `--features` to be passed to the velero server. That's the reason I think this is a blocker.
Choosing option 2 implies that to use the CSI capability, other plugins in the install environment, will have to be updated to bind to this flag.

For those reasons, I think option 3 would be most favorable.

[2020-04-27 19:30] nrb commented on #2451
@ashish-amarnath I don't view these as exclusive. We _have_ to update the plugins to depend on Velero v1.4, which will have the feature flag already - it's in the PR that's already merged into master. A version bump isn't a ton of work, but it does leave out 3rd party components, which is why I agree we should also do option 3.

Given CSI will be at beta level support and not GA, I think I would a

[2020-04-27 20:13] betta1 commented on #1967
@nrb the tricky part is discerning if the crashloop is because there's no BSL or it's as a result of some other error condition. For example the system auto-deploys Velero and installs the necessary plugins (objectstore plugins etc) and then verifies the installation was successful by checking that the Velero Pod is up and running. If Velero Pod status starts in a crashloop, it'll be difficult for

[2020-04-27 20:35] ashish-amarnath commented on #2451
IMO, we should try to do option 3. If we are unable to get that done before 1.4 then we fall back on option 2. WDYT?

[2020-04-27 20:59] nrb commented on #2451
I think I'm being unclear.

Option 2 is finished with the exception of updating the plugins we maintain to a new release. I wrote https://github.com/vmware-tanzu/velero/pull/2381 and it's been merged into master. AS soon as the plugins update to that release, and rebuild they have the `--features` flag support. Anyone who would want to has the option to update to that release, too.

However, I thi

[2020-04-27 21:04] ashish-amarnath commented on #2451
Yes, that's what I meant when I said we can fall back on option 2 if we don't get 3.
On whether or not this should block the release. If we are OK with shipping the CSI in that state then this won't be a blocker.
But we agree on getting option 3 done.

[2020-04-27 21:05] carlisia commented on #872
Hey @skhalash yes it is! 🎉

[2020-04-27 21:09] nrb commented on #2451
Ok, cool, then I think we're on the same page, at least in terms of which options to go with.

As far as blocking the release, it sounds like you would prefer to include it still. I'm curious about @skriss's thoughts, and we can ask at the community meeting tomorrow, too.

To clarify my priorities, my biggest concern with getting v1.4 out sooner is to get the CRD issues fixed, as I think that affe

[2020-04-27 21:13] skriss commented on #2451
I'll volunteer to look at implementing #3 tomorrow.

I don't think it strictly needs to be release-blocking, but we should fix it soon.

[2020-04-27 21:28] nrb commented on #1967
Got it, that can be challenging. Let me think on this some more.

I know it's possible to inspect the pod logs, the deployment, and events for this kind of information. I'm wondering if we can emit in a way that makes it easier for external systems to discern why, while also letting Velero lean on some of Kubernetes's features.

[2020-04-27 21:42] nrb commented on #2145
Yeah, since there's a possibility have having orphaned storage-level snapshots without syncing CSI objects, I think that at the very least the VSCs need to be synced in, so we have a snapshotHandle.

That way, we don't have to recreate any namespaces or anything. Recreating user-controlled namespaces seems like it starts to violate a boundary into the user workloads, just to account for Velero-cre

[2020-04-27 22:07] skriss commented on #2451
I whipped up a VERY HACKY implementation of this, that can re-try instantiating a plugin process without `--features` if it gets an error the first time. It seems to work. It's not shippable though, it's got several shortcomings that I need to think more about. I'll pick it back up tomorrow.

[2020-04-27 23:11] betta1 commented on #1967
Agreed. Also how will external systems utilize the /livez http endpoint -- does it mean Velero will need to be exposed via a service for this endpoint to be reachable to external systems for them to query the status?

One other question I had is how the BSL readiness will reconcile with the backupsync controller. Both the BSL readiness and backupsync processes will be running continuously and each

[2020-04-28 00:31] prasenforu commented on #2463
Thanks!!

Then its not working?

#### Just to add, I have created configmap after velero setup.

I have following setup.

two different kube version cluster :

cluster1: 1.14.5 - storageclass: kubenfs-storage
cluster2: 1.15.11 - storageclass: rke-storage
minio setup: out of clusters
velero version same (in both): 1.2.0

Took backup from cluster1, restoring in cluster2

all are restoring, only pvc

[2020-04-28 01:03] ashish-amarnath commented on #2145
Now, with https://github.com/vmware-tanzu/velero-plugin-for-csi/pull/47, we have the ability to discover just the volumesnapshotcontents that were created during the backup. Once PR #2411 is merged, I'll extend the functionality to make the backup deletion controller take another pass to delete orphaned volumesnapshotcontents.

I think it makes sense to sync volumesnapshots only if the workload na

[2020-04-28 02:06] xUnholy opened #2466 "Unable to install ca-certificate package on arm builds"
I'm deploying velero via helm-operator, I'm using the GCP plugin and during the `/velero server` container command I find the below error occurring. I'm not sure if the error is because of TLS or the backup store location.

I'm using v2.9.15 of the helm chart.

```An error occurred: some backup storage locations are invalid: backup store for location "gcp" is invalid: rpc error: code = Unknown des

[2020-04-28 07:26] NickSu86 opened #2467 "command velero backup logs fail"
**What steps did you take and what happened:**
1. create a backup by `velero backup create backup-test --include-namespaces test
2. backup fail and describe the backup by `velero backup describe backup-test`
3. As told by the describe result, I run the log command `velero backup logs backup-test , but fail
4. error message as below:
$ velero backup logs backup-test
An error occurred: file not foun

[2020-04-28 08:55] VihanAgarwal97 opened #2468 "Error when trying to install velero?"
I'm running the following when trying to install velero. I'm getting an error when trying to read config.json though. How can I fix this?
[code]

`WARNING: Error reading config file: stat /Users/vihanagarwal/.config/velero/config.json: permission denied`

[2020-04-28 15:00] skriss commented on #2463
Please [enable debug-level logging](https://velero.io/docs/v1.3.2/troubleshooting/#getting-velero-debug-logs), then execute a new restore and include the logs here. Thanks!

[2020-04-28 18:44] skriss commented on #2384
focal's now out, so I think we should be fine to do this update.

[2020-04-28 21:51] carlisia commented on #1967
Based on the new feedback here and on today's community meeting, I updated this issue.  I'd appreciate a sanity check.

c/c @skriss  @nrb @ashish-amarnath @betta1

[2020-04-28 22:35] skriss opened #2472 "document patch release process"
Need to update `release-instructions.md` with the steps for a patch release.

[2020-04-28 23:09] ashish-amarnath commented on #2302
Capturing notes from discussions:
Volumesnapshotcontents will also be labeled with the backup name. Making them discoverable, in case the associated volumesnapshot objects are deleted outside the scope of velero, leaving the volumesnapshotcontents dangling. These discoverable dangling volumesnapshotcontents will also be deleted when the backup is deleted.

[2020-04-28 23:49] nrb commented on #2383
I've got a branch working with the elasticsearch CRDs now, but I need to update the unit tests to account for the changes. PR should be up tomorrow.

[2020-04-29 00:09] nrb opened #2474 "Expand Velero's plugin interfaces to allow information about external systems and resoures used"
**Describe the problem/challenge you have**
Currently, Velero plugins may create external resources or call external systems, but the Velero core system has no insight into this. Such information would be useful when trying to, for example, allowing a plugin to clean up resources when running `velero plugin remove`, or letting Velero know whether or not a plugin may have side effects in the event

[2020-04-29 01:01] ashish-amarnath commented on #1967
@carlisia not sure what was updated on this ticket.

[2020-04-29 01:03] carlisia commented on #1967
The description.

[2020-04-29 08:30] surekhakallam opened #2475 "Unable to do backup on few clusters"
hi...
we are able to take backup and restore on few setups but we are unable to do on some other setups..... We use the same OS for all our clusters and we are using vsphere ... Still we are able to take backup and restore them backup on few of our clusters but unable to take on few.. is there anything that will stop or block for taking backup's can you please tell us ... The one error which we fo

[2020-04-29 18:12] skriss opened #2476 "Add a CI check for changelog file"
We should add a CI check for a changelog file. I think it should be required by default, perhaps unless the PR is explicitly labeled with a `no-changelog-required` label. This would make it easier for contributors and reviewers alike.

We probably also want to add a PR template with instructions about DCO and the changelog file, to help new contributors understand.

[2020-04-29 18:43] titou10titou10 opened #2477 "Allow selecting namespaces to backup on a NS label instead of the NS names"
`velero backup create`allows to backup:
- all resources from namespaces included by their names:`--include-namespaces`
- resources that match a certain label :`--selector` (possibly more restricted by the`--include-namespaces` above)

What we need is to backup everything belonging to namespaces that have specifically a certain label attached, ie select the namespaces to backup based on an label as

[2020-04-29 18:54] skriss commented on #2477
@titou10titou10 unfortunately Velero does not currently support this.

We do already have a feature request for this in the backlog - see https://github.com/vmware-tanzu/velero/issues/503. I'm going to close that one out and leave this one open for tracking.

Are you interested in working on a contribution here? If so, we can discuss more on what the design for this would look like.

[2020-04-29 18:55] skriss commented on #503
closing this out as a dupe of #2477.

[2020-04-29 18:55] #503 closed

[2020-04-29 19:12] skriss commented on #2451
So, a few thoughts here:

- cobra/pflag has an option to ignore unknown flags; I think we should turn that **on** in our plugin server helper code, so any plugin author that updates to use the newest version of that code gets that behavior
- I think we should update our documentation to indicate that plugin authors, regardless of how they implement their plugin, should ignore unknown flags
- Assum

[2020-04-29 19:56] #2396 closed

[2020-04-29 20:05] ashish-amarnath commented on #2451
Yes, ignoring unknown flags is reasonable and also the right thing to do. Thanks for digging into this!

[2020-04-29 21:38] nrb commented on #2370
I've assigned this to myself, I think the problems here are the same as those in #2383. I'm going to grab some of the prometheus CRDs to include in my test data for #2478.

[2020-04-29 22:59] ashish-amarnath commented on #2468
Looks like the user running `make create-velero` does not have permissions to read the config file at `/Users/vihanagarwal/.config/velero/config.json`
Suggest looking at the permissions on the file.

[2020-04-29 23:06] ashish-amarnath commented on #2467
@NickSu86
Can you please share the exact output of `velero backup create backup-test --include-namespaces test` and `velero backup describe backup-test`?

If this is still happening, can you also please share the output of `kubectl -n velero logs deploy/velero`

[2020-04-29 23:15] ashish-amarnath commented on #2466
@xUnholy It looks like you are missing the CA certificate that trusts the google endpoint. Can you please try to update the ca-certificate package for your operating system on the nodes in your kubernetes cluster and give this another try?

[2020-04-29 23:29] ashish-amarnath commented on #2460
If I understand your question correctly, the ask is to be able to patch image names on the container spec with a different registry for the images.
We might not be able to do that in the core velero code. However, you should be able to write a very simple RestoreItemAction plugin that will do that for you. Suggest referring to our [plugins documentation](https://velero.io/docs/v1.3.2/custom-plugin

[2020-04-30 01:18] ashish-amarnath commented on #2383
@nrb thanks for the awesome description. And sorry for not taking at look at this earlier.
I agree with the plan of making option 2 a long term plan and choosing option 1 in the interim.

[2020-04-30 01:46] xUnholy commented on #2466
The `ca-certificate` build tool doesn't seem to be in the velero image.

[2020-04-30 01:53] prasenforu commented on #2463
Configmap:

[code]

Storageclass:
[code]

Restore Namespace status:

[code]

Logs:

[code]

[2020-04-30 05:44] prasenforu opened #2482 "Velero backup and restore logs with tailing option"
Instead of complete the backup & restore, logs are not available.

```Logs for restore "velero-restore-london-cluster-30-04-2020-05-38-34" are not available until it's finished processing. Please wait until the restore has a phase of Completed or Failed and try again.```

it will be good if we can tail live logs.

[2020-04-30 09:04] jimbo459 opened #2483 "Allow annotations and/or labels on Backup objects to be added onto the backup object during a backup"
**Issue**
We are writing a custom backup plugin where we wish to amend the backup object which is passed in as the second arg.
When attempting to amend the labels or annotations we are not seeing this change reflected in the final backup object.
To amend the passed in *v1.backup we attempted to use the SetAnnotation() method on the backup.ObjectMeta property.

[code]

As this failed, we then attem

[2020-04-30 16:52] Samet-MohamedAmin opened #2485 "How can I add additional metrics"
I'm using velero helm installation. I'm using velero for backup and restore kubernetes objects and I'm exposing the metrics to grafana.
It works fine. But I need additional metrics such as the application name and the namespace.
Is ther any way to expose additional metrics?

- Velero version (use `velero version`):
[code]
- Kubernetes version (use `kubectl version`):
[code]

[2020-04-30 19:01] MatteoManzoni commented on #2460
Thank you! I will certainly ask for help once I start writing the plugin.

[2020-04-30 19:01] #2460 closed

[2020-04-30 19:49] ashish-amarnath commented on #2466
This change was reverted as it broke the container build (see https://github.com/vmware-tanzu/velero/pull/2481#issuecomment-621982600)
Re-opening the issue.

[2020-04-30 20:19] #2451 closed

[2020-04-30 22:12] #2409 closed

[2020-04-30 22:13] #2384 closed

[2020-05-01 01:53] carlisia opened #2488 "Have the BSL controller continuously update the server `status` based on the state of the BSLs"
## BSL controller behavior:
### set server status as `ready`
- all BSLs are `available`, AND
- BSL specified as `default` exists

### set server status as `partially ready`
- multiple BSLs, any one of them is `unavailable`, but at least one other is `available`
- multiple BSLs, all `available`, but no BSL matches the specified `default`

### set server status as `waiting`
- no BSL, OR
- existing B

[2020-05-01 01:56] carlisia opened #2489 "Add a column to indicate the BSL status on `velero backup-location get`"

[2020-05-01 14:55] #2376 closed

[2020-05-01 15:39] connorearl commented on #1150
I'm in the same boat on this one. I'm running into issues with mariadb-galera and having crash consistent backups. Any news on this issue?

[2020-05-01 17:51] skhalash commented on #872
Hey @carlisia! Just want to clarify something before I start implementing it. I read the discussion in the thread and it's not really clear, what kind of test you have in mind. Most of the Velero CLI commands access a k8s cluster, so do you mean:
1) Unit testing the CLI logic by stubbing out/faking the client factory. If yes, are there any existing test utils for that?
2) More of e2e tests with a

[2020-05-01 19:30] skriss commented on #1871
cc @stephbman

[2020-05-01 20:05] #2302 closed

[2020-05-01 20:09] #2319 closed

[2020-05-02 18:44] manast commented on #172
Ok, just for the record in case some other newbie wonders how to do this:
[code]
That will open a stream and the events will be emitted as the occur.  Most libraries support some kind of watching, but I did not have any success with the javascript library so I implemented my own watcher.

[2020-05-02 20:05] ashish-amarnath commented on #172
@manast Sorry about not responding sooner.
I haven't used the java script client much, but I would give the example here https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/informer/informer.ts a try.

[2020-05-02 21:18] manast commented on #172
@ashish-amarnath thank you for your answer. I tried a similar code to the one you pasted but I could not get the watch functionality to work, thats why settled on using my own.
The reason I am using javascript is because my backend is in typescript and it is easier for me to watch the changes of velero backups from there.

[2020-05-02 21:20] manast commented on #172
ah, and regarding the informer, I spend a lot of time trying to make that work too, went through the source code to understand how it works, creating my own listenFn, but I gave up at the end.

[2020-05-02 21:37] manast commented on #172
ah, I apologize, I was an idiot and missed that I did not have this uncommented:
[code]
so it works as expected :).

[2020-05-03 15:38] arianitu commented on #192
@skriss Sorry swinging back on this after a long time, but I am on:

[code]

But I still get

[code]

Do you know which Velero version supports this?

[2020-05-03 16:11] arianitu commented on #192
Also to describe what we are doing:

1. We have a namespace A that we create a backup with.
2. We restore backup to namespace B.
3. Namespace A still has original PV and PVC

Is this use case supported? We are basically looking for a namespace clone for testing purposes.

[2020-05-03 16:33] syedtahmed commented on #2272
I am experiencing the same issue and I don't see any funky characters in my credentials-velero secrets file.

Here is the error:

Here is the command I'm running:
`./velero install --provider azure --plugins velero/velero-plugin-for-microsoft-azure:v1.0.1 --bucket velero-cluster-backups --backup-location-config resourceGroup=STORAGE-ACCOUNT-RESOURCEGROUP,storageAccount=STORAGEACCOUNT --use-volume-

[2020-05-03 18:01] tabishis commented on #2272
I attempted Velero installation using Helm 2 and experienced the same issue:

[2020-05-04 14:35] skriss commented on #2272
@tabishis you don't want the `[default]` header - that's for an AWS file, but not valid for Azure. Please remove that line and try again!

[2020-05-04 14:35] arianitu opened #2494 "PV Rename/Clone Does Not Work When Using Namespace Mappings"
**What steps did you take and what happened:**

1. Created a Namespace A
2. Created a backup of A (called B)
3. Created a new Namespace C.
4. Restored Backup B into namespace C.

The restore of Backup B into Namespace C succeeds, but the PVs are not cloned and no pods run.

[code]

**What did you expect to happen:**

I expected the PV in Namespace A to be cloned with a new name in Namespace C and

[2020-05-04 14:47] tabishis commented on #2272
Now it complains that it doesn't have all the Azure information it needs:

However, I'm not doing PV backups, so my secret file now looks like this:
`AZURE_STORAGE_ACCOUNT_ACCESS_KEY=MYAZURESTORAGEACCOUNTKEY`
`AZURE_CLOUD_NAME=AzurePublicCloud`

[2020-05-04 14:58] skriss commented on #2494
@arianitu did backup B contain a snapshot of the relevant PV? Could you include the output of `velero backup describe <NAME> --details`?

[2020-05-04 15:07] skriss commented on #2463
Based on this line:

[code]

It seems like the source PVC doesn't have a storage class defined, so the mapping plugin doesn't know how to map it.

Could you download the backup via `velero backup download <NAME>`, extract the tarball, find the `mongo-pvc` YAML file, and include it here?

[2020-05-04 15:08] skriss commented on #2272
this feature hasn't been released in a tagged version yet - if you want to use it, you'll need to change your azure plugin image tag to `master`.

[2020-05-04 15:11] arianitu commented on #2494
This is the backup details:

[code]

This is the restore details:

[code]

These are the PVCs in the new namespace:

[code]

[2020-05-04 15:11] skriss commented on #2454
I'm going to close this out as there is a valid approach now, we have #1087 in the backlog, and carlisia's active install/config CLI work may solve this anyway.

[2020-05-04 15:11] #2454 closed

[2020-05-04 15:13] skriss commented on #2494
Ah. Note this section:

[code]

It looks like the snapshot restores are failing because the snapshots are not "ready" yet. This is an instance of #2286.

You'll need to wait until those snapshots are ready, then try a clean restore.

[2020-05-04 15:15] arianitu commented on #2494
@skriss Oh okay, the above is an automated process so we create the restore right after the backup. Should we add some sort of delay? Is there a way to know that snapshots are ready or not yet?

Also, if the snapshots aren't ready, it still continues creating the PVCs, but they reference the wrong PV. Is that intended?

Cheers,

[2020-05-04 15:25] arianitu commented on #2494
Also feel free to close this since this issue is already open at #2286

[2020-05-04 15:25] tabishis commented on #2272
Are referring to this tag:

`--plugins velero/velero-plugin-for-microsoft-azure:v1.0.1`

Does `v1.0.1` need to be replaced with `master`?

`--plugins velero/velero-plugin-for-microsoft-azure:master`

[2020-05-04 15:35] skriss commented on #2272
Yes, if you want to use the static storage account key feature.

[2020-05-04 15:36] skriss commented on #2485
@Samet-MohamedAmin any additional metrics would need to be added in the Velero code base.

[2020-05-04 15:38] skriss commented on #2221
@ashish-amarnath it doesn't seem to me like we'd want to include those in our chart; ideally we'd just point to the relevant Prometheus chart.

[2020-05-04 15:42] tabishis commented on #2272
Same error:

My updated command is as follows:

`velero install --provider azure --plugins velero/velero-plugin-for-microsoft-azure:master --bucket velero --secret-file .\credentials-velero --backup-location-config resourceGroup=MyResourceGroup,storageAccount=MyAzureStorageAccount--use-volume-snapshots=false`

[2020-05-04 15:46] skriss commented on #2272
if you didn't uninstall/delete the velero namespace, then running this command again will not update the deployment. you can either delete the velero deployment or namespace and re-install, or manually edit the velero deployment YAML and update the azure init container to have the correct tag, which will trigger the creation of a new pod.

[2020-05-04 15:58] ashish-amarnath commented on #2221
I agree we would just point to the prometheus chart. The reason I asked was because it's already included it in our helm chart. [ServiceMonitor](https://github.com/vmware-tanzu/helm-charts/blob/4bd96bcce551ea4690d9fd9924814e54fbbc6146/charts/velero/templates/servicemonitor.yaml) is a prometheus operator CRD.

[2020-05-04 16:03] skriss commented on #2221
Yeah, no idea when it got in there. I think it would make sense to remove it and just have a documentation section pointing to the relevant Prometheus references.

[2020-05-04 16:05] ashish-amarnath commented on #2221
I can take it up to remove it.
cc @carlisia

[2020-05-04 16:17] nrb opened #2495 "Document v1.4 upgrade process"
This is just a list of items that need to be documented for users to upgrade for v1.4 specifically. Please update the description to add anything missing.

 * [ ] Update CRDs so that the progress fields are included (#2440)

[2020-05-04 16:25] skriss commented on #2495
I took a quick look through the changelogs and the item you listed is the only one that comes to mind other than tag bumps, but I'll keep an eye out for anything else.

[2020-05-04 16:44] tabishis commented on #2272
I did delete the namespace, velero CRDs and attempted install. Let me try this using Helm instead and get back to you.

[2020-05-04 17:02] tabishis commented on #2272
Same result:

Helm command:

`helm install --name velero vmware-tanzu/velero --namespace velero `
`--set configuration.provider=azure `
`--set-file credentials.secretContents.cloud=.\credentials-velero' `
`--set configuration.backupStorageLocation.name='azure' `
`--set configuration.backupStorageLocation.config.resourceGroup='STORAGEACCOUNTRESOURCEGROUPNAME' `
`--set configuration.backupStorageLoc

[2020-05-04 17:11] tabishis commented on #2272
The Helm deployment is successful when I specify the kv . I'd prefer not to use Velero with SPN as I'll not be doing PV backups.

`AZURE_SUBSCRIPTION_ID=valueremoved`
`AZURE_TENANT_ID=valueremoved`
`AZURE_CLIENT_ID=valueremoved`
`AZURE_CLIENT_SECRET=valueremoved`
`AZURE_RESOURCE_GROUP=valueremoved`
`AZURE_CLOUD_NAME=AzurePublicCloud`

Do we know if anyone has done successful velero deployments usi

[2020-05-04 17:23] skriss commented on #2272
`--set initContainers[0].image=velero/velero-plugin-for-microsoft-azure:v1.0.1`

Per previous comment, this feature has not been released yet, is not available in this version of the Azure plugin. You need to use the `master` tag of the plugin image if you want to try out this feature.

[2020-05-04 17:25] tabishis commented on #2272
Sorry, it was a copy/paste error. I attempted it with `master`

[2020-05-04 17:36] tabishis commented on #2272
To summarize:

### **Works**
`helm install --name velero vmware-tanzu/velero --namespace velero `
`--set configuration.provider=azure `
`--set-file credentials.secretContents.cloud=.\credentials-velero' `
`--set configuration.backupStorageLocation.name='azure' `
`--set configuration.backupStorageLocation.config.resourceGroup='STORAGEACCOUNTRESOURCEGROUPNAME' `
`--set configuration.backupStorageLoc

[2020-05-04 17:40] arianitu commented on #2169
I'm having trouble understanding --exclude-resources as well.  Does IncludeNamespace override ExcludeResource? In the below, I exclude Secret and Ingress but it's always included.

[code]

[2020-05-04 17:51] skriss commented on #2272
OK - it looks like you're still missing one key part of configuring this, which is that in the BackupStorageLocation's config, you need to add a key named `storageAccountKeyEnvVar`, whose value in this case would be `AZURE_STORAGE_ACCOUNT_ACCESS_KEY`. This is documented in some more detail [here](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/master/backupstoragelocation.md

[2020-05-04 17:52] skriss commented on #2272
FYI, the reason this level of indirection was added is that different BackupStorageLocations may have different storage account keys, so Velero needs a way to know which env var stores the key for *each* BackupStorageLocation.

[2020-05-04 18:07] arianitu opened #2497 "--exclude-resources not working as expected"
**What steps did you take and what happened:**
I'm using --exclude-resources but the resources are still included. I've tried the option on both Backup and Restore.

**What did you expect to happen:**

exclude-resource excludes the resources specified.

**Anything else you would like to add:**
We have tried all kinds of different variations for the exclude. We have tried the exclude in both the Ba

[2020-05-04 18:23] skriss commented on #2497
Can you include the output of `kubectl -n velero get backup 0145c9b7-9a7b-4e5c-a2a1-6b6fc7b9d30f -o yaml`?

[2020-05-04 18:26] arianitu commented on #2497
[code]

Note, we are executing the manifest programmatically and not through `velero client`. I am unsure if that matters, but our Velero client in our Go package is 1.2.0:

[code]

[2020-05-04 18:28] skriss commented on #2497
Yep, I see the problem.

Instead of:

[code]

You need to do:
[code]

[2020-05-04 18:30] arianitu commented on #2497
@skriss Oh, we're using https://github.com/vmware-tanzu/velero/blob/master/pkg/builder/restore_builder.go

Do you see the bug there?

[2020-05-04 18:31] skriss commented on #2497
You just need to represent them as separate items in a list/slice, rather than a single string. So if you're using the builders, then it's be something like:

[code]

[2020-05-04 18:32] arianitu commented on #2497
Ahhh, I see. That's what we did wrong, we did a Join(",") instead of passing the slice directly. Thank you!

[2020-05-04 18:32] #2497 closed

[2020-05-04 18:51] tabishis commented on #2272
Tried this with `master` to no avail:

[2020-05-04 18:57] skriss commented on #2272
:(

[2020-05-04 19:00] prasenforu commented on #2463
Hmm, looks like I use little old concept (```defined storageclass using annotation```),

Not sure it that causing or not ?

[code]
Will try & let you know ..

[2020-05-04 19:01] skriss commented on #2272
Yep, and that's actually a bug.

I'll get a PR up later today to fix.

[2020-05-04 19:03] tabishis commented on #2272
Thanks a lot, @skriss. Appreciate all your help with it.

[2020-05-04 19:40] skriss commented on #2272
We got the fix merged already, so you could try getting an updated `master` image (note: you may need to change your image pull policy to Always for that initContainer to get the newest one).

[2020-05-04 19:42] skriss commented on #2463
Yep, that would explain it. Our plugin does not support the annotation since it's deprecated.

[2020-05-04 20:00] nrb commented on #2370
@TomaszKlosinski Do you know what version of the Prometheus operator you were using? https://github.com/coreos/prometheus-operator/blob/master/bundle-v1beta1-crd.yaml seems to be working correctly (no errors on restore) in my tests with both Velero master and v1.3.2.

[2020-05-04 20:23] skriss commented on #2494
You'd have to check the GCP API to see if the snapshots are ready or not, there's no way through Velero right now.

I guess if the snapshots aren't ready so they fail to restore, then Velero just re-creates the PVC more or less as-is, meaning attempting to bind to the existing PV. While this probably isn't exactly desired behavior, it's hard to say off the top of my head what the desired behavior

[2020-05-05 01:11] prasenforu commented on #2463
Thanks for identify the problem.

Once again thanks your valuable time.

:)

[2020-05-05 01:11] #2463 closed

[2020-05-05 04:10] dharmab commented on #2458
We see a _lot_ of flaky backups and this feature would be really helpful:

[code]

[2020-05-05 08:54] TomaszKlosinski commented on #2370
@nrb , I've installed it with helm: stable/prometheus-operator --version 8.3.1

[2020-05-05 11:52] tabishis commented on #2272
Made some progress. Now the error is as follows:

[2020-05-05 13:09] mordowiciel commented on #2443
Hi, thanks for the reply!

I've looked at the link you provided and checked how the corresponding steps were executed during my restore.

What surprised me is that the list of steps seems to be incomplete. The description of default restore policy ends on `replicasets.apps` resource, while in the logs I've provided I can clearly see that after the replicasets, the other resources which are not men

[2020-05-05 14:25] eddeh83 opened #2498 "Velero v1.3.2 unable to locate ObjectStore plugin named velero.io/aws despite plugin being in container"
**What steps did you take and what happened:**
I have installed Velero version 1.3.2 following the documentation to the best of my knowledge but velero seems unable to locate the aws plugin despite it appearing to be inside the container. I have also tried velero 1.0.0 (before plugins) and that seems to work fine - I can backup to the same s3 bucket.

Install:-
[code]
[code]
[code]

[code]

**What

[2020-05-05 14:52] eddeh83 commented on #2498
I have noticed the following on the node where velero appears to have been deployed.

[code]

The plugin container won't start - and docker logs against it retrieves nothing.

However a docker logs against the k8s_velero_velero-76844dddff-rmszj_velero_a3ea5e56-8edc-11ea-96f6-02561ab37087_6 container... similar to the kubectl pod logs but more detail

[code]

Have I missed some required config? The

[2020-05-05 15:50] nrb commented on #2370
Thanks!

[2020-05-05 16:29] arianitu commented on #2286
Nice @sseago, unfortunately we don't want to use our own Fork so we want to place the code outside of Velero until Velero supports it.

@skriss do you know how we could get the Volume Snapshot ID to check in GKE without hooking into Velero directly?

If we run:

[code]

I think we only get the BackupSpec which I don't think has the VolumeSnapshot ID in GKE. Can you point me in the right direction

[2020-05-05 16:29] nrb opened #2499 "Report metrics for CSI snapshots"
When generating CSI snapshots, we should generate metrics associated with the VolumeSnapshots and VolumeSnapshotContents

This could include:

 * number of VolumeSnapshots & VolumeSnapshotContents in a backup
 * total size of on-storage snapshots

This should be in CSI's GA release, but isn't essential for beta support.

[2020-05-05 16:34] skriss commented on #2272
OK, so just to be sure, can you confirm that your BackupStorageLocation contains something like this (you can use `velero backup-location get -o yaml` to view this):

[code]

And then your secret contains a line like:

[code]

[2020-05-05 16:35] skriss commented on #2272
I'll work on getting an environment set up to test this as well, seems like the testing may have been lacking here.

[2020-05-05 16:58] eddeh83 commented on #2498
I have progressed - I didnt realise I needed to add the AWS S3 public cidr range to the nodes outbound security group on port 443

https://ip-ranges.amazonaws.com/ip-ranges.json

   {
      "ip_prefix": "52.216.0.0/15",
      "region": "us-east-1",
      "service": "S3",
      "network_border_group": "us-east-1"

This has got rid of the tcp timeout error.

However when doing a velero server comman

[2020-05-05 16:59] carlisia opened #2501 "Add a Tilt setup for rapid local development"
**Why:** Have one additional way to easily and quickly to build/run/test the Velero code base. Good for anyone contributing to Velero, but especially good for newcomers to the code base. Main results: 1) the setup will only consist of a few, easy items and 2) continuous code changes would require no manual interactions to deploy the code.

**How:** Set up Tilt to: rebuild binaries (triggered based

[2020-05-05 17:12] tabishis commented on #2272
Yes:

[code]

And yes:

[code]

[2020-05-05 17:15] skriss commented on #2272
I just want to be super clear that in the BSL, `spec.config.storageAccountKeyEnvVar` should have the value `AZURE_STORAGE_ACCOUNT_ACCESS_KEY`, *not* the actual access key. It stores the name of the env var, not the access key. Can you check that?

I did try this out and it now works for me, so I'm guessing that this is the final thing blocking you.

[2020-05-05 17:29] tabishis commented on #2272
Voila! That was it. Thanks, @skriss

[2020-05-05 17:31] hibbert commented on #2457
@ashish-amarnath @skriss Any update on this?

[2020-05-05 17:45] skriss commented on #2272
Glad you got it working and thanks for the patience. I'm going to try to clarify the docs some more.

[2020-05-05 18:57] skriss commented on #2457
Is this a dupe of https://github.com/vmware-tanzu/velero/issues/2198?

From looking at the previous issue, I believe this was a limitation in restic itself.

[2020-05-05 19:28] nrb commented on #2100
@skriss Was this fixed by #2487?

[2020-05-05 19:36] skriss commented on #2100
well, the "Failed to fire hook: object logged as error does not satisfy error interface" message shouldn't come up anymore after #2487, yeah, but it sounds like the underlying problem for the OP was that the plugin process was being killed due to exceeding memory and/or CPU limits.

[2020-05-05 19:51] nrb opened #2504 "Check for apiextensions.k8s.io/v1beta1 before using a v1beta1 CRD client"
**Describe the problem/challenge you have**
The upstream [CRD code](https://github.com/kubernetes/apiextensions-apiserver/blob/99685ba23021e88fc9a771f029157b348fd92bab/pkg/apis/apiextensions/v1beta1/types.go#L380) states that v1beta1 is planned for removal in v1.19.

**Describe the solution you'd like**
Velero should check the apiextensions.k8s.io/v1beta1 endpoint before using a client for it. We

[2020-05-05 20:21] #2370 closed

[2020-05-05 20:21] #2383 closed

[2020-05-05 21:25] skriss opened #2505 "Update velero CRDs to v1"
We're currently generating and installing `v1beta1` CRDs for Velero, mainly for backwards compatibility. The apiextensions API group graduated to `v1` as of Kubernetes 1.16, and the `v1beta1` version of the group is scheduled to be dropped in an upcoming Kubernetes release.

At some point (before `v1beta1` is dropped for good) we need to updated our generated CRDs to be `v1`. There's an existing P

[2020-05-05 22:00] skriss commented on #2495
See https://velero.io/docs/v1.2.0/upgrade-to-1.2/ for a past instance where we needed to update the CRDs. We should be able to do the same for this release.

[2020-05-06 05:59] surekhakallam opened #2506 "Unable to take backup on few clusters"
hi...
we are able to take backup and restore on few setups but we are unable to do on some other setups..... We use the same OS for all our clusters and we are using vsphere ... Still we are able to take backup and restore them backup on few of our clusters but unable to take on few.. is there anything that will stop or block for taking backup's can you please tell us ... The one error which we fo

[2020-05-06 08:13] VincenzoDo opened #2507 "Restic backup fails with Fatal: invalid id \"8bcb4ae8\": no matching ID found\n"
**What steps did you take and what happened:**
We have a daily schedule that does restic backup of around 120 volumes to s3.
Only a part of the volumes are successfully backed up. Let's say out of 120, 67 succeed and the rest failed with the following error:

Fatal: invalid id \"8bc4dae8\": no matching ID found\n

The same happens when I trigger one of the failed backup manually. As far as I can s

[2020-05-06 14:00] #2145 closed

[2020-05-06 14:13] skriss commented on #2495
I'll plan to get a doc in for this today or tomorrow, unless someone beats me to it.

[2020-05-06 15:00] skriss commented on #2507
@VincenzoDo do you have more than one BackupStorageLocation that you're using, i.e. does `velero backup-location get` show more than one item?

[2020-05-06 15:03] skriss commented on #2507
You may be hitting some combination of https://github.com/vmware-tanzu/velero/issues/2192 and https://github.com/vmware-tanzu/velero/issues/2185, both of which have been fixed in the v1.3 series. I'd recommend starting by upgrading your Velero deployment & daemonset to `v1.3.2`.

[2020-05-06 15:03] VincenzoDo commented on #2507
Hello @skriss, no just one:
[code]

[2020-05-06 15:20] yogeek opened #2508 "Update velero server version"
**What steps did you take and what happened:**

I had a 1.3.0 Velero server previously installed from velero CLI 1.3.0 on a cluster.
I wanted to update to 1.3.2.
First, I updated the velero CLI :
[code]

then I executed again my install command :
[code]

But Velero has not been updated :
[code]

Yet, the documentation of the CLI mention that the velero "image-version" is supposed to be the `1.3.2`

[2020-05-06 15:48] skriss commented on #2508
xref #1087

[2020-05-06 16:35] yogeek commented on #2508
@skriss do you think having 2 different commands to manage the installation and the upgrade phase is a good idea ?
In my case for example, velero is one of many addons that are installed on my K8S clusters with a Jenkins pipeline than is idempotent, and I do want to handle differently the initial install and the update of the tools.
To update a tool, I only modify a environment variable pointing t

[2020-05-06 21:35] nrb commented on #2508
@yogeek The plan is to deprecate `velero install` in favor of more explicit tools that handle this better. Right now, `velero install` only checks that a Deployment exists; it does not do anything more detailed than that.

Are you saying your preference would be that you want initial installation and upgrading to be the exact same command?

[2020-05-06 21:49] nrb commented on #2506
Hi @surekhakallam!

Based on `pod volume backup failed: error getting volume path on host: expected one matching path, got 0`, I'm guessing you're using restic. Is that correct?

Can you tell me more about the environments where your backups work and where they don't? Are there any common things you've identified?

Can you provide the output of `velero backup logs <backupname>` for a backup that f

[2020-05-07 00:49] nrb opened #2513 "Document airgapped installation"
While we have a page for on-prem installations at https://velero.io/docs/v1.3.2/on-premises/, we should add the following:

 * How to get velero & plugin images into an airgapped registry
 * Get the on-premises/airgapped page back in the TOC

Use https://sonobuoy.io/docs/master/airgap/ as a starting point

This should be ready with v1.4 GA, but not necessarily a blocker for 1.4.beta1.

[2020-05-07 04:21] surekhakallam commented on #2506
yes i am using restic

the above information is the information of the vm where the backup is not working

the below provided information is from the vm where the backup is working

Client:
	Version: v1.3.2
	Git commit: 55a9914a3e4719fb1578529c45430a8c11c28145
Server:
	Version: v1.3.2

velero client config get features
features: <NOT SET>

kubectl version
Client Version: version.Info{Major:"1", Mi

[2020-05-07 06:17] yogeek commented on #2508
@nrb yes indeed, it seems to me that currently, a 'Declarative ' approach like `kubectl apply` is preferable (over an 'Imperative' approach like `kubectl create`)

Otherwise, we will always have to check if velero is installed first to know which command we have to call.

[2020-05-07 08:05] philipp1992 opened #2514 "Enable proper restic encryption"
**Describe the problem/challenge you have**
As described in the documentation, restic backups are encrypted by default and the keys are stored in the bucket along with the backups, which renders the encryption useless.

Are there already plans, when the keys will be able to be stored in a different location?