[2019-12-10 02:09] prydonius commented on #2077
Looks like `velero install` still catches more meaningful errors (e.g. an invalid pullPolicy in the Deployment), as this results in the API server returning an error. On the other hand, it looks like kubectl validates the input client-side against a schema before sending it to the API server (though it appears to use different schemas for different Kubernetes API versions).

Given the API server d

[2019-12-10 07:51] chirag-jog commented on #2074
/home/aditi/Desktop/velero_fix_2074.txt
Plz find attached pod logs. Used steveheptio/velero:fix-2074 image and now Velero server fix-2074 is being used but still backup remains in "InProgress"

[2019-12-10 10:31] brondum commented on #2108
@skriss Just to provide some more info on this one.
I actually forgot that our service account which handles the GCP snapshots is in the same project as the cluster. Meaning that the "project" spec overwrites the location.
Makes sense ?

[2019-12-10 13:18] dns2utf8 opened #2113 "Using fsfreeze leads to hanging system on XFS"
**What steps did you take and what happened:**
I have a [test application that simulates a DB](https://gitlab.com/dns2utf8/multi_file_writer) by writing to 4 different files at the same time.
Sometimes velero, restic or fsfreeze crash and the whole setup stops.

**What did you expect to happen:**
The unfreeze must happen when
* [x] backup succeeds (about 50% chance)
* [x] backup fails (less than 5

[2019-12-10 13:59] dns2utf8 commented on #2113
I did some more research and found a possible question:

* Does one need to mount the PV with the `noatime` attribute?

Best regards

[2019-12-10 14:12] dns2utf8 commented on #2113
PS: [one log file came in the end](https://gist.github.com/dns2utf8/577fb666f53b07ec2ba06b5637aa56bd)

[2019-12-10 14:49] dns2utf8 opened #2114 "Can not delete job before it starts"
**What steps did you take and what happened:**
Create two backups A and B one after the other:
[code]

Get the jobs:
[code]

While A is running, delete B:
[code]

After A is finished B gets executed.

**What did you expect to happen:**
I expected the B job to not get executed or an error message like "one can only delete completed or failed jobs".

**Anything else you would like to add:**

**Envir

[2019-12-10 15:41] skriss commented on #2074
@chirag-jog can you please include the server log during the execution of the backup? I need more information.

[2019-12-10 15:50] skriss commented on #2071
@oldskoolsig I'm going to close this out for now, but feel free to reach out again as needed, thanks.

[2019-12-10 15:50] #2071 closed

[2019-12-10 15:51] skriss commented on #2083
Closing this out - feel free to reach out again as needed.

[2019-12-10 15:51] #2083 closed

[2019-12-10 15:51] skriss commented on #2076
Closing this out - feel free to reach out again as needed.

[2019-12-10 15:51] #2076 closed

[2019-12-10 15:51] skriss commented on #2105
Closing this out as inactive - feel free to reach out again as needed.

[2019-12-10 15:51] #2105 closed

[2019-12-10 15:52] skriss commented on #2089
Closing this out as inactive - feel free to reach out again as needed.

[2019-12-10 15:52] #2089 closed

[2019-12-10 15:52] skriss commented on #2073
@adawolfs just checking to see if you had a chance to look at my previous comment.

[2019-12-10 16:20] hibbert commented on #1531
Are there any timelines as to when these improvements to restic will be implemented?

[2019-12-10 16:28] chirag-jog commented on #2074
[velero_fix_2074.txt](https://github.com/vmware-tanzu/velero/files/3945951/velero_fix_2074.txt)

[2019-12-10 16:32] skriss commented on #2074
@chirag-jog this log file doesn't cover any backups running -- I'm trying to see what the logs are indicating during a backup. Can you do the following:

- `kubectl -n velerocj scale deploy/velero --replicas 0`
- `kubectl -n velerocj scale deploy/velero --replicas 1`
- `velero backup create debug-backup ...` (add the flags you've used previously)
- wait for some time, see what phase the previous b

[2019-12-10 17:15] cmcconnell1 commented on #2077
Our IAC patterns for everything possible is essentially:

1. create manifest files (dynamically)
2. kubectl apply
3. check newly generated kube manifest files into respective git repos.

I try to keep the anticipated code/model the same (i.e. avoid one-offs that might deviate from our model) to prevent confusion, continue to keep us as efficient as possible, etc.

I was unaware that this might hav

[2019-12-10 17:39] hibbert opened #2115 "Tips to speed up restic backup"
[thor-prod-backup-20191209200019-logs.txt](https://github.com/vmware-tanzu/velero/files/3946380/thor-prod-backup-20191209200019-logs.txt)

**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Our backups are very slow due to lack of concurrency - https://github.com/vmware-tanzu/velero/issues/2078.

Looking for some ideas t

[2019-12-10 17:40] hibbert commented on #2115
```velero backup describe``` - https://gist.github.com/hibbert/f814506b7031d29dcac7256c2bbd9f6c

[2019-12-10 17:40] prydonius commented on #2077
@cmcconnell1 Understood, I figured it might be something like that. Is it possible in your pipeline for you to set `--validate=false` just for the Velero manifest? Also, is this a non-issue for you now given you've upgraded to 1.14, or are you still trying to deploy Velero on pre-1.13 clusters?

Also, the Helm chart now supports v1.2.0, so you could move to that to solve this as well.

[2019-12-10 17:46] hibbert commented on #2115
The logs also do not seem to report all restic backups that are done:-
[code]

[2019-12-10 17:50] nrb commented on #2111
Thanks @nzoueidi! I think this is a great idea, though I'm not sure it will get into Velero core in a timely manner unless a community member owns it. That, or it could be designed as an external controller submitting backups.

I'm certainly happy to help guide if you want to work on getting it to Velero core, or maybe work on something external then do a design document or present to the communit

[2019-12-10 19:31] cmcconnell1 commented on #2077
We likely could, however, please see below.

Yes, we are unblocked having upgraded our kube clusters to 1.4.x

We've moved forward with our IAC-based deployment scripts, based on the code excerpt noted in previous responses.  Thanks again.

[2019-12-10 23:10] marccampbell opened #2116 "[Epic] add support for restore hooks"
**Describe the problem/challenge you have**
When backing up some volumes, we have a pre and post backup hook implemented. This is useful when we have a process that has a lock on a file and we need to copy data between volumes to ensure that the data Velero is backing up will be uncorrupted and usable. But on a restore, there is no hook to execute a pre or post restore script. This makes automatin

[2019-12-11 00:18] #2079 closed

[2019-12-11 00:20] prydonius commented on #2077
@cmcconnell1 thanks for the info, glad this is resolved for you.

@kzap does the above workaround work for you, or is this still an issue for you?

[2019-12-11 10:42] ArundathiGV opened #2117 "PartiallyFailed Backup with volume snapshot due to azure multiple resource group issue"
I had created AKS cluster 1.13 version cluster in resourcegroup1 and deployed velero with env 'AZURE_RESOURCE_GROUP' set to resourcegroup1. When I tried to take backup with volume snapshots of a namespace which had Persistent Volume Claims configured in that, it partially failed with following error

`time="2019-12-11T10:13:06Z" level=error msg="Error backing up item" backup=velero/test-3 error="e

[2019-12-11 10:45] nzoueidi commented on #2111
Thank you @nrb. I am already working on the design to how we could implement it in Velero core. I will open a draft PR soon.

[2019-12-11 13:40] dns2utf8 commented on #2113
Today I reached the following conclusion:

1. If the filesystem is mounted with `relatime` a `read(...)` from any program will trigger a `write( fd->atime )` if said file has been in the process of being written to while `fsfreeze --freeze ...` occurred, resulting in a complete dead-lock of restic.
    1. To resolve this one has to `fsfreeze --unlock ...` by hand before the timeout
    2. Or delet

[2019-12-11 15:52] skriss commented on #1970
@Frank51 were you interested in working on a fix here?

[2019-12-11 16:09] nrb commented on #2111
Awesome! Look forward to seeing and discussing it.

[2019-12-11 17:41] Frank51 commented on #1970
Sure, I am quite interested in it.

[2019-12-11 18:01] skriss commented on #2117
@ArundathiGV per https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#get-resource-group-for-persistent-volume-snapshots, you'll want to set `AZURE_RESOURCE_GROUP` to the name of the auto-generated `MC_...` resource group that contains all of your AKS cluster resources.

[2019-12-11 18:04] skriss commented on #2117
Also note that if you want to store the snapshots in a *different* resource group than the `MC_...` one, you can specify an alternate one as part of your `VolumeSnapshotLocation` config -- see https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/master/volumesnapshotlocation.md for documentation on that. By default, the snapshots will be stored in the same resource group as where

[2019-12-11 19:05] dymurray opened #2121 "Restic podvolumerestore failure not causing restore to fail"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
A restore was created which attempted to write 1 GB of data to a 1MB volume from restic. Restic errors out since it runs out of space to write data to, and the podvolumerestore fails. However, the associated Velero `restore` is in a `Completed` state even though the resti

[2019-12-11 19:32] skriss commented on #2121
@dymurray do you have the log for the restore as well?

[2019-12-11 19:41] dymurray commented on #2121
@skriss  Yup, here is the relevant portion of the restore logs:

[code]

[2019-12-11 20:25] never1701 opened #2122 "velero only processing one backup at a time"
**What steps did you take and what happened:**
velero configured to run 15 minutes backups on 94 namespaces.  Only one backup is processed at a time which fails after several hours with the following errors in the velero pod log:

time="2019-12-11T18:20:15Z" level=info msg="1 errors encountered backup up item" backup=velero/fsdb-1316-20191210183938 group=v1 logSource="pkg/backup/resource_backupper

[2019-12-11 20:29] skriss commented on #2115
@hibbert looking at the logs I'm seeing the following pods are taking the majority of the backup time:

jenkins-lucas/jenkins-lucas-7b446975c-28kd2 -- ~6.5h
jenkins-voltron/jenkins-voltron-5d4dc9649c-fbr6p -- ~3h
jenkins-dashweb/jenkins-dashweb-594b87cbc7-t8f6t -- ~90m
jenkins-proteus/jenkins-proteus-86f4dfcdfb-jmfb5 -- ~90m

I'm curious how large the volumes are for each of these pods?

Also, hav

[2019-12-11 20:35] never1701 commented on #2122
To add a little color, our environment worked fine for the first 40 or so namespaces, shortly around the time we got to the full 94 (we do still have others to add) we started seeing the number of backups being process drop until now it has dropped to one at a time.  Most of these pvs are actually quite small.  e.g. in this example fsdb-1316 is a pg data disk using 175MB out of 500GB disk.

[2019-12-11 21:07] never1701 commented on #2122
Error from restic pod when backups eventually fail:
time="2019-12-11T18:20:19Z" level=info msg="Setting --parent flag for this backup" backup=velero/fsdb-1969-20191211063138 controller=pod-volume-backup logSource="pkg/controller/pod_volume_backup_controller.go:249" name=fsdb-1969-20191211063138-hhp5m namespace=velero parentSnapshotID=96c63bfe
panic: runtime error: slice bounds out of range

gorout

[2019-12-11 21:27] skriss commented on #2108
@brondum if the service account is in the same project as the cluster/disks, and you specify `project` in your `VolumeSnapshotLocation` config, then this *should* work -- the feature was implemented to address exactly that scenario. Is that not working?

[2019-12-11 21:50] skriss commented on #2115
@hibbert I'm also curious about the details of your use case - could you provide some context on why you're using restic? Are you using a storage platform that doesn't have integrated snapshots?

[2019-12-12 06:49] brondum commented on #2108
@skriss Exactly the scenario here. Unfortunately that does not seem to work.

Snippet from the log, some values have been substituted.
[code]

[2019-12-12 11:19] hibbert commented on #2115
Thanks. I'm wandering whereabouts you see the timings in the logs?

Sizes:

[code]

There are no requests/limits on the restic daemonset pods. The values for the velero deployment are as follows:

[code]

We are using restic as our filesystem is EFS which doesn't have integrated snapshots

[2019-12-12 15:15] carlisia opened #2124 "Add search to the website"
The website, especially the docs, can really use a search function.

[2019-12-12 15:16] carlisia commented on #2124
@jonasrosland would you like to take this on?

[2019-12-12 15:21] skriss commented on #2108
@brondum OK, I'll have to dig into this some more.

[2019-12-12 15:24] skriss commented on #2073
Closing this out as inactive -- feel free to reach out again as needed.

[2019-12-12 15:24] #2073 closed

[2019-12-12 15:31] skriss commented on #2115
I looked at the timestamps in the logs and saw a few big gaps immediately followed by "executing post hooks" for specific pods, so inferred that restic backups were running for those pods during that time.

The time gaps definitely don't match up to what I'd expect for volumes of this size. I'll see if I can reproduce similar perf issues in my own environment.

[2019-12-12 15:50] skriss commented on #2122
@never1701 it's a known limitation that Velero only processes one backup at a time. #1531 covers running restic backups more concurrently, and #1653/#487 cover our thoughts on running Velero backups concurrently. Please add any further info you have there.

Will look into the panic around restic backups for this issue.

[2019-12-12 16:41] skriss opened #2125 "adjust `velero backup describe` output for nonexistent resource list"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Run `velero backup describe` on an in-progress backup, see:

[code]

**What did you expect to happen:**

I think we should tweak how this is displayed to users -- we could show a simple "<not found>" text, or just not display the line at all, if a resource list isn't fou

[2019-12-12 17:00] skriss commented on #2115
FYI, as a baseline i ran a velero backup using restic on a 4.6Gi volume. The initial backup took 4m4sec, and the next backup (no changes to the data) took 19 seconds. So your results are definitely atypical. Now, to see if I can induce performance like you're seeing...

[2019-12-12 17:13] never1701 commented on #2122
@skriss Thanks for the input, I will take a look at those issues and update if I have any further questions.  We have around 300 persistent volumes we are trying to backup and looking to determine if whole cluster or individual schedules are the best option.

[2019-12-12 20:01] carlisia commented on #1440
More logic for backup/restore:

`IncludeClusterResources` is a nullable bool, so has 3 possible modes:

- `true`: all cluster-scoped resources that are selected by the resource/label selectors are restored
- `false`: no cluster-scoped resources are restored
- `nil` ("auto"): only cluster-scoped resources that are dependencies of other namespaced resources being restored, are restored (e.g. we're r

[2019-12-12 20:08] carlisia commented on #2088
We need to investigate a migration path for Helm 3 + independent repo. Some initial questions, from @nrb:

[2019-12-12 20:19] SDBrett commented on #1229
+1

The use of NFS storage is widespread and adding support would be very helpful to many companies. Companies who are just starting to adopt K8S on-prem may not have an object store available, or budget to implement one.

[2019-12-12 20:35] carlisia commented on #1229
Here's an example of backing up to NFS that might be helpful. Might not be production quality:

http://www.rafaelbrito.com/2019/11/project-velero-12-on-openshift-311.html

[2019-12-12 20:44] carlisia commented on #2088
Also: https://github.com/helm/charts#status-of-the-project

[2019-12-12 20:45] #1914 closed

[2019-12-12 20:50] carlisia opened #2126 "Update Helm charts for compatibility with Helm 3"

[2019-12-12 20:51] carlisia commented on #2126
Related: https://github.com/vmware-tanzu/velero/issues/2088

[2019-12-12 20:58] skriss commented on #2115
@hibbert I haven't been able to reproduce this on EKS+EFS. While I'm seeing that restic backups are slower when using a default EFS share than they are on EBS volumes, my results are nowhere near the times you're seeing.

what are the specs for your EFS share (size, bursting vs provisioned throughput, encrypted, etc)? The specs for your cluster nodes would be useful as well.

[2019-12-12 21:07] SDBrett commented on #1229
Thanks for the link. The lack of production quality is one of the issues with a solution such as this.

The customers that I work with (mainly service providers) will also raise an objection to yet another item to manage.

[2019-12-12 21:16] prydonius commented on #2125
Agreed, given we can't differentiate between the last two, it might be better to just remove the line.

[2019-12-12 23:36] nrb commented on #1229
@SDBrett I think that's a fairly point as Kubernetes becomes more prevalent in on-prem environments. Velero was originally designed for cloud environments, so it went with a more "cloudy" set up with the object storage.

I think there's room for the introduction of a `filePath` storage solution, but we need time to think through a design. My initial thoughts are that it would be a new type of stor

[2019-12-13 08:18] chirag-jog commented on #2074
I tried re-installing velero and then updated the deployment with your image steveheptio/velero:fix-2074. But now velero pod is going into CrashLoopBackOff state and throws error `An error occurred: some backup storage locations are invalid: error getting backup store for location "default": unable to locate ObjectStore plugin named velero.io/gcp`

[2019-12-13 09:18] nralbers opened #2128 "Feature request: Add velero_build_info metric to metrics"
As a user, I want to keep track of LCM on components. A build_info metric containing build and version information is helpful in tracing what version is running in my environment, and allows me to keep track of how far behind the current latest version I'm running.

[2019-12-13 10:17] eladh opened #2129 "Unable to download the CLI"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Following the instruction - unable to download the CLI tgz , for example :
https://github.com/vmware-tanzu/velero/releases/tag/v1.2.0
 just redirect back to the release page

**What did you expect to happen:**
download tgz with the CLI binary

**The output of the followin

[2019-12-13 14:38] never1701 commented on #2122
Fixed this with a few changes to our set up, removed limits for restic pods, reinstalled velero, set the restic timeout high as well as starting over with an empty bucket and finally setting --snapshot-volumes=false.  Also we reverted to an hourly whole cluster backup and now things are completing without errors in a fairly short period of time.  3 hours for the first backup and around 15 - 30 min

[2019-12-13 14:38] #2122 closed

[2019-12-13 15:11] skriss commented on #2129
@eladh the downloads are at the bottom of the release page, under "Assets", e.g.:

https://github.com/vmware-tanzu/velero/releases/download/v1.2.0/velero-v1.2.0-darwin-amd64.tar.gz
https://github.com/vmware-tanzu/velero/releases/download/v1.2.0/velero-v1.2.0-linux-amd64.tar.gz

[2019-12-13 15:12] #2129 closed

[2019-12-13 15:13] skriss commented on #2074
You need to add the GCP plugin - run `velero plugin add velero/velero-plugin-for-gcp:v1.0.0`

[2019-12-13 15:36] onedr0p commented on #720
Would this provide multiarch Docker images, or separate Docker image per arch?

[2019-12-13 15:37] onedr0p commented on #1645
Any update here?

[2019-12-13 15:40] onedr0p opened #3139 "Provide multi-arch Docker images for AWS plugin"
See https://github.com/vmware-tanzu/velero/issues/1645
and
https://github.com/vmware-tanzu/velero/pull/1768

[2019-12-13 15:50] skriss commented on #2117
closing this out as we've responded - feel free to reach out again as needed!

[2019-12-13 15:50] #2117 closed

[2019-12-13 15:51] skriss commented on #2018
I'm going to close this out as inactive, feel free to reach out again as needed.

[2019-12-13 15:51] #2018 closed

[2019-12-13 15:52] skriss commented on #474
See #2090 for a related request using kustomize.

[2019-12-13 15:59] skriss commented on #1229
One idea for providing backup/restore logs to the user: as needed, we could run a pod that fetches the log file from the NFS PV, streams it to stdout, and completes. The user would then effectively be running a `kubectl logs` to get the backup/restore log.  This avoids the need for a separate API/server to serve the logs to the user.

[2019-12-13 16:25] tgrosinger commented on #2018
@skriss, thank you. Sorry I have not had a chance to get back to this. I will re-open if I try out the solution from Richard and am still having trouble.

[2019-12-13 17:19] cpanato commented on #2126
I can help on that :)

[2019-12-13 17:22] cpanato commented on #1309
@skriss I would like to try this one, as a newbie here, can you help me and guide where should i change/add, or some examples in the code.
thanks!

[2019-12-13 17:38] nrb commented on #2104
Reviewing [the GitHub runner docs](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/virtual-environments-for-github-hosted-runners), it looks like for now the simpler approach may be to use an `ubuntu-latest` VM that simply runs `make ci`. This way, we've moved the platform, and the work of moving the builder container around can be deferred. I would still like to do

[2019-12-13 17:49] carlisia commented on #2126
That would be awesome @cpanato! Assigned it to you. Let me know if I can assist.

[2019-12-13 17:51] carlisia commented on #2126
Please change the pipeline to i"in progress" when you start working on it, or let me know so I can do it if you don't have perms.

[2019-12-13 17:58] carlisia commented on #2126
Note: We need to figure out how to maintain charts for helm 2 and 3 side by side.

[2019-12-13 17:58] carlisia commented on #2126
I was going to search for how other projects have done it.

[2019-12-13 18:10] carlisia commented on #1540
Un-assigning myself since I'm not actively working on this.

[2019-12-13 18:13] carlisia commented on #584
Un-assigned myself since I'm not currently working on this.

[2019-12-13 18:47] nrb commented on #1977
Something I've recently thought about - how would Velero behavior if a finalizer prevented deletion? Simply wait? Timeout?

There's a more general problem in Kubernetes where if a namespace is deleting and some object has a finalizer blocking the deletion, it is very hard to find out what object is holding up the process. Velero might be able to report it, but I don't feel comfortable just removin

[2019-12-13 18:56] ashish-amarnath commented on #1970
/assign @Frank51

[2019-12-13 20:09] nrb opened #2131 "Create basic end-to-end test with KinD"
I don't think we initially need to solve all these cases with 1 PR, but we should do the following:

* Install Velero via `velero install`
* Run a backup of a namespace
* Restore that namespace
* Validate that namespace and all resources were restored
* Validate data inside the volume was restored
* Tear down cluster

Some things we'll need to ensure:

* Buckets are provisioned and cleaned up dyna

[2019-12-14 07:12] jnaulty opened #2132 "Security Concern with Deprecated uuid package: satori/go.uuid"
**Describe the problem/challenge you have**
I would like to see no known security vulnerabilities reported when running `vmware-tanzu/velero` in the snyk.io security scan.

**Describe the solution you'd like**
Migrate the `satori/go.uuid` package which is no longer being maintained to the `gofrs/uuid` package.
`gofrs/uuid` reason for existence:

**Anything else you would like to add:**
Non-Random

[2019-12-14 17:12] carlisia commented on #372
I don't think there's value in keeping this issue open, closing.

[2019-12-14 17:12] #372 closed

[2019-12-15 16:59] carlisia commented on #2023
Hi @philipp1992, did you have a chance to try the suggestion above? Please let us know!

[2019-12-15 17:04] carlisia commented on #2077
I see there are workaround for this. @prydonius do you think there's an action item for Velero in terms of either documenting or making a change to make this work with k8s < 1.14?

[2019-12-15 17:27] philipp1992 commented on #2023
Actually its correct that openshift randomizes the GID, so it's not a problem of velero at all. We solved this by setting the GID to a fixed value. It would be great if this could be included as a hint in the velero documentation. Thanks.

[2019-12-15 17:27] #2023 closed

[2019-12-15 17:29] carlisia opened #2134 "Openshift randomizes the GID"
It would be helpful to document that OS randomizes the gid. For more context:

https://github.com/vmware-tanzu/velero/issues/2023

[2019-12-15 17:32] philipp1992 commented on #2134
Corresponding openshift documentation.

https://docs.openshift.com/enterprise/3.1/install_config/persistent_storage/pod_security_context.html#fsgroup

[2019-12-15 22:11] SDBrett commented on #1229
Before starting, I understand that the suggestion below is a major change and probably feature breaking.

I've been thinking about this over the weekend and I keep coming back to how Terraform decoupled modules from the core project (I think in v.12). Perhaps a similar approach would enable new options for plugin development and improve flexibility.

The idea is to decouple core backup logic from

[2019-12-16 05:55] chirag-jog commented on #2074
[velero-fix-2074-logs.txt](https://github.com/vmware-tanzu/velero/files/3966260/velero-fix-2074-logs.txt)

Created new backup which got stuck in "In Progress". Attached are the server logs for the same

[2019-12-16 11:31] boxcee opened #2135 "An error occurred: DownloadRequest.velero.io"
**What steps did you take and what happened:**
I created a backup:
[code]
and receive the following error message:
[code]

**What did you expect to happen:**
I didn't exepct that error message.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

* `kubectl logs depl

[2019-12-16 11:34] boxcee commented on #2135
Fixed by using latest velero version 1.2.0.

[2019-12-16 11:34] #2135 closed

[2019-12-16 16:03] skriss commented on #593
closed by #1661

[2019-12-16 16:03] #593 closed

[2019-12-16 16:28] skriss commented on #2074
@chirag-jog that log *still* doesn't show the backup even starting - I need to see the logs from during the execution of the backup to be able to debug your issue any further. You should see a log statement like "Setting up backup log" around the beginning of the execution.

It would also be helpful if you could turn on debug logging for the velero server -- https://velero.io/docs/v1.2.0/troublesh

[2019-12-16 16:47] #2132 closed

[2019-12-16 17:02] nrb opened #2137 "Add error return to pvRenamer func"
PR #2133 switched to a new NewUUID function that returns an error, but the invocation of that function needs to happen within the `pvRenamer` closure. Because the new function returns an error, the `pvRenamer` should return the error, the signature needs to be changed and the return checked.

See [the comments](https://github.com/vmware-tanzu/velero/pull/2133/files#r358345828) for details.

[2019-12-16 17:25] skriss commented on #1229
@SDBrett Velero actually already has a plugin architecture for both storage and custom backup/restore logic - see https://velero.io/docs/v1.2.0/overview-plugins/  and https://velero.io/docs/v1.2.0/custom-plugins/ for some basic info :)

For storage, we currently have `ObjectStore` and `VolumeSnapshotter` plugin types.  As you can tell from the name, though, the `ObjectStore` plugin is coupled to t

[2019-12-16 17:28] nrb commented on #1229
This is what I was thinking of with my `filePath` suggestion - a new plugin type that was distinct from our ObjectStore plugins, not necessarily having a hierarchy. But I think a discussion around the design is worth having, because I'm sure there's trade offs to each approach that I've not thought through.

[2019-12-16 19:49] hibbert commented on #2115
I guess that it would be slower with a higher amount of files/directories/etc

Specs:

Size = 141.8 GiB
Throughput mode = bursting
Encrypted = yes
Lifecycle policy = none
Worker Nodes = 6 X r5.2xlarge, 100GiB gp2 EBS drives, default tenancy

[2019-12-16 20:16] gunhomac opened #3140 "Support custom snapshot location endpoint for EBS plugin"
The backup storage provider includes the option to specify the s3Url or publicUrl for [custom endpoints](https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/master/backupstoragelocation.md) such as MinIO.

The EBS snapshots should include a similar override option for the snapshot API endpoint, and not just the region.

[2019-12-16 21:44] nrb opened #2139 "Ensure CSI volume backups work"
Test Velero in conjunction with the [CSI velero plugins](https://github.com/vmware-tanzu/velero-plugin-for-csi) to ensure that CSI-backed volumes have snapshots made on their storage provider, as well as VolumeSnapshots and VolumeSnapshotContents created in their associated tarballs.

[2019-12-16 21:46] nrb opened #2140 "Ensure CSI volume restores (same cluster) work"
Along with the [CSI plug-ins](https://github.com/vmware-tanzu/velero-plugin-for-csi), ensure that restores from a CSI-backed snapshot recreate data in a new persistent volume in same cluster.

This can be achieved by deleting a backed up namespace, then restoring from a back up.

[2019-12-16 21:47] nrb opened #2141 "Ensure CSI volume restores (different clusters) work"
Along with the [CSI plug-ins](https://github.com/vmware-tanzu/velero-plugin-for-csi), ensure that a volume backed up in the same region of a cloud provider can be recreated, with the same data, in a new Kubernetes cluster via a CSI snapshot.

[2019-12-16 21:52] nrb opened #2142 "Define and document the `EnableCSI` feature flag"
Feature flags were introduced with #1798, and we should use this to keep the beta functionality from breaking existing code for our users.

This issue can be considered closed when there's a check for the flag and there's a page documenting the flag's existence - it doesn't need to be too complicated.

[2019-12-16 21:57] nrb opened #2302 "Update backup deletion controller to find and delete VolumeSnapshot/VolumeSnapshotContents objects"
The backup deletion controller should be updated to find any `VolumeSnapshot` and `VolumeSnapshotContents` objects associated with a Velero `Backup` and delete them when the Velero `Backup` is deleted, either manually or via a TTL expiration.

Old description from when we assumed `OwnerRefs` could cross namespaces follows. This won't work because Velero assumes all of its `Backup`s will live in it

[2019-12-16 22:02] nrb opened #2143 "Allow cross-namespace restore of CSI snapshots"
PR #1779 allowed users to restore a snapshot into a different namespace if they were remapping that namespace during a restore.

In order to maintain feature parity, Velero's CSI support should allow users to do the same.

This will likely entail cloning at least the associated `VolumeSnapshot`, and maybe copying the `VolumeSnapshotContent` object, as these two are often in a 1:1 relationship and

[2019-12-16 22:03] nrb commented on #2143
Note that native CSI support for this is planned, but I do not know where it is in the roadmap yet.

[2019-12-16 22:15] nrb opened #2145 "sync backups' VolumeSnapshotContents into the cluster as part of the backup sync controller"
Given https://github.com/vmware-tanzu/velero-plugin-for-csi/issues/4, there's a scenario where we may run into an orphaned snapshot.

Assuming a backup is created, with a VolumeSnapshot & a VolumeSnapshotContent in the tarball stored in object storage.

Next, delete the cluster from which the backup was created. Create a new cluster.

Sync the backups in to the new cluster, but do not restore any

[2019-12-16 22:39] #2085 closed

[2019-12-17 04:45] guiguan opened #2146 "Cannot Get Resource List in Backup"
**What steps did you take and what happened:**
After a successful backup, when query the backup using `velero backup describe test-backup --details`, I got:

[code]

The query was slow. On the velero server, I got bunch of:

[code]

**What did you expect to happen:**
It should give me a list of resources in a backup

**Environment:**

- Velero version (use `velero version`):

[code]

- Velero feat

[2019-12-17 08:50] cpanato opened #2147 "Move Helm chart to new vmware-tanzu/helm-charts"
similar we did for jaeger tracing here: https://github.com/jaegertracing/jaeger/issues/1976

### Requirement - what kind of business use case are you trying to solve?

Keeping Velero Helm charts and possible other charts from vmware-tanzu accessible for end users, and also improving maintainability of the chart(s) moving forward.

The `stable` and `incubator` Helm chart repositories, currently lis

[2019-12-17 15:03] carlisia commented on #2147
@cpanato this is great work, thank you! The @vmware-tanzu/velero-owners have a community meeting today and I'm adding this to the agenda. It would be great if you could attend: https://velero.io/community/

I know we can use your offer to get these things done. After the meeting I'll break these items into separate issues. Again, thank you so much! 💯

[2019-12-17 15:05] cpanato commented on #2147
@carlisia I would love to attend the meeting, however, I have a company meeting at the same time :/

so, please let me know what are the AIs, and I can help you all :), have the things in my side ready to we migrate :)

[2019-12-17 15:13] skriss commented on #2146
@guiguan this feature was added in v1.1 - so you'll need to upgrade your server to at least v1.1 (but recommend v1.2). See the following for upgrade instructions:

https://velero.io/docs/v1.2.0/upgrade-to-1.2/
https://velero.io/docs/v1.1.0/upgrade-to-1.1/

Feel free to reach out again if you're having further issues.

[2019-12-17 15:13] #2146 closed

[2019-12-17 15:31] dns2utf8 commented on #2113
Dear all

After some more investigating I found three blockers for this:

1. mounts with `relatime` must deadlock if the file has been written to while the fsfreeze happend -> Fixable with `noatime` hint in the docs.
2. [XFS kernel bug](https://bugzilla.kernel.org/show_bug.cgi?id=205833) where non-touching operations trigger writes and lock the process.
3. velero hangs completely if one job hangs.

[2019-12-17 16:04] skriss commented on #469
@debianmaster we don't have any kind of built-in diff, no. It would obviously be easiest if you could get away with deleting the entire namespace before restoring it, but that may not be feasible depending on your use case.

Perhaps you could use something like https://github.com/weaveworks/kubediff to diff the contents of the backup tarball vs. the in-cluster config?

[2019-12-17 16:04] skriss commented on #1309
@cpanato it'd be great if you could help out with this! Let me look into it and see if I can offer some guidance.

[2019-12-17 16:43] skriss commented on #1309
I took a quick look here, and there are definitely some questions to figure out before we can implement this:

- what do we mean by snapshot size? there are a couple of possibilities here:
    -  use the size of the disk that was snapshotted -- so if it's a 100GB disk, we report that as the snapshot size, even if there was only 1GB of data on it.
    - ask the storage provider for the snapshot siz

[2019-12-17 17:45] nrb commented on #2147
@timh You hold the keys for the Tanzu organization - could you help us in getting the chart repo created?

[2019-12-17 17:46] nrb commented on #2147
@cpanato The next community meeting will be Jan 7, and then weekly after that.

[2019-12-17 17:55] nrb commented on #2088
From https://github.com/helm/charts

So: any charts that are v1 can live on the `helm/charts` repo and can be installed via Helm 2/3. Charts that are apiVersion v2 _cannot_ be hosted on `helm/charts`, and must be hosted in their own repo, and _cannot_ be installed via Helm 2.

[2019-12-17 18:07] kmova commented on #2147
@cpanato - thanks for the detailed writeup.

couple of questions:
- does step 5 and 6 happen at the same time?
- once the 5 and 6 are done, how will users upgrade their chart installed from, say `stable/velero` to `vmware-tanzu/velero/charts`?

[2019-12-17 18:23] #2137 closed

[2019-12-17 18:46] prydonius commented on #2147
+1 thanks for the amazing writeup @cpanato! For 4, we should look into using https://github.com/helm/chart-testing.

Deprecation is mostly a formality, so it doesn't _need_ to happen at the same time, but it indicates that the chart will no longer be updated in that repo.

The `helm upgrade` command will just take in the new location, e.g. `helm upgrade <velero-release-name> vmware-tanzu/velero`.

[2019-12-17 19:25] prydonius commented on #2077
@carlisia I'm not sure there's a great place to document this right now, but the workaround is if you're trying to do a `velero install --dry-run -o yaml | kubect apply -f -` you need to use the `--validate=false` for `kubectl`.

[2019-12-17 20:13] carlisia commented on #2147
New repo: https://github.com/vmware-tanzu/helm-charts

Community meeting at the mark where we discussed this issue: https://youtu.be/Fpysz-KRyt0?t=2466

[2019-12-17 20:31] skriss commented on #2077
We could probably mention it in this section: https://github.com/vmware-tanzu/velero/blob/master/site/docs/master/customize-installation.md#generate-yaml-only

[2019-12-17 20:59] skriss commented on #2053
@archmangler apologies for the long delay on this issue - have you been able to resolve this?

If not, what is the reclaim policy on your storage class/PV for the stateful set? I'm unable to reproduce this when using a storage class with a `Delete` reclaim policy, but I do see similar (though not identical) behavior when using a `Retain` reclaim policy. Curious if this is consistent with your expe

[2019-12-17 21:23] prydonius commented on #2077
Ah of course, yeah that would certainly be the best place to put that. Thanks @skriss!

[2019-12-17 21:31] carlisia opened #2149 "Add instructions for the community to contribute to new helm chart repository"
From @cpanato:

Not sure if this can be distinct on a per chart basis.

[2019-12-18 00:20] mithuns commented on #317
Building on the example scenario given by @ncdc above.
What can be done in the case when pvc needs to be backed-up but pv needs to be excluded ?
We have an operator that creates STS/PVC/PV but since PVs dont inherit labels from PVC we are not able to exclude PVs.
Also, to have another operator that deals with PVs only we and applies labels to them directly, is also not the best solution because PV

[2019-12-18 00:30] nrb commented on #2104
PR #2150 moves us to running `make ci` on branch pushes an on PRs. It doesn't touch .travis.yml as that file does not control Travis's push/PR triggers, only the Travis console does.

Once #2150 is merged, I'll disable Travis builds for PRs. I believe that Travis push builds must be kept until we move container building/publishing to GitHub Actions, but I need to confirm this with their docs.

[2019-12-18 00:38] guiguan commented on #2146
@skriss oh, I forgot to do `helm repo update` when install the `velero` helm chart. Now it works fine. Thanks!

[2019-12-18 01:02] debianmaster commented on #469
@skriss   thanks for your response.  In a single namespace i might have selected workloads w/ specific labels so might not be suitable for my case as you mentioned.

will explore option of kubediff.

cc @dinesh

[2019-12-18 01:42] mithuns opened #2151 "Exclude Velero backup label on Persistent Volumes"
Hi,
This is more of a gathering ideas/or a how-to , instead of a bug/issue.

We need to exclude some PVs, but do want PVCs and STS backed up in our kubernetes clusters.
We have a k8s operator based on [operator-sdk](https://github.com/operator-framework/operator-sdk) written in go, that I am using to apply labels to my CRD resources in Kubernetes.

I just learned that labels are not inherited by P

[2019-12-18 06:47] haoshuwei opened #2152 "add an env named `ALIBABA_CLOUD_CREDENTIALS_FILE`"
Can I work to add an env named `ALIBABA_CLOUD_CREDENTIALS_FILE` in [pkg/install/deployment.go](https://github.com/vmware-tanzu/velero/blob/master/pkg/install/deployment.go) and [pkg/install/daemonset.go](https://github.com/vmware-tanzu/velero/blob/master/pkg/install/daemonset.go) which will be used by [velero-plugin-for-alibabacloud](https://github.com/AliyunContainerService/velero-plugin) ?

[2019-12-18 07:05] Sushma10037017 opened #2153 "Daemonset is not creating pods on new nodes after k8s cluster restore"
Hi, We restored our k8s cluster using velero and after restore we are seeing vpc-cni daemonset is not creating pods on new nodes. No related logs found in kubernetes controller manager logs as well.

We are using
1. k8s version v1.14.9
2. vpc cni version(amazon-k8s-cni) v1.4.0
3. velero version v1.1.0

Observed the same issue in two of our restored clusters where the same setup is working fine in

[2019-12-18 17:51] nrb commented on #2151
Hi @mithuns - you are correct, labels on a PVC are not passed on to their PV, which can be frustrating in scenarios like this.

You may want to consider using [RBAC](https://kubernetes.io/docs/reference/access-authn-authz/rbac/) on the operator/controller that applies the labels to the PVs so that it can _only_ work on PVs, and nothing else. That way, you get the PVs labeled and you're not allowin

[2019-12-18 18:09] nrb commented on #2152
Hi @haoshuwei

A few things:

1) Yes, for now I think a PR adding that env var would be fine. Please note that as part of #1910, we're going to look at ways for plugins to inform Velero of the credentials they need, so this is unlikely to be a permanent solution. However, I don't know when the new approach will be ready, likely not until v1.4 at the earliest.
1) Please also make a PR for this to t

[2019-12-18 18:11] nrb commented on #2152
cc @carlisia

[2019-12-18 18:13] nrb commented on #2153
Hi @Sushma10037017

Can you provide the output of `velero restore logs <restore name>` and `velero restore describe --details <restore name>` to begin troubleshooting?

[2019-12-18 19:29] carlisia commented on #1910
Ref: https://github.com/vmware-tanzu/velero/issues/2152#issuecomment-567146761

[2019-12-18 22:33] nrb commented on #2104
#2150 has merged, and I have disabled Travis builds for PRs.

[2019-12-19 02:12] archmangler commented on #2053
@skriss - thanks for the response, this only occurs with reclaim policy of "Retain" (which actually makes sense). We've since just decided to change the storage class reclaim policy to "Delete".

[2019-12-19 02:12] #2053 closed

[2019-12-19 15:59] skriss opened #2156 "restores fail on K8s 1.16+ due to invalid replicasets.extensions reference"
#2120 fixed a bug where `replicasets.apps` were not properly being restored prior to e.g. Deployments. However, it also introduced a regression for 1.16+ clusters, due to https://github.com/vmware-tanzu/velero/pull/2120/files#diff-cd1a009fa409db8496ea35b53f9776d2R471 which fully qualified `replicasets.extensions`. The problem is that (a) replicasets don't exist in the extensions API group a/o 1.16

[2019-12-19 16:33] skriss commented on #2077
moved this over to the release backlog as a nice-to-have documentation item.

[2019-12-19 17:32] nrb commented on #2143
https://github.com/kubernetes/enhancements/pull/643 is the upstream KEP, and is currently planned for design (but not implementation) during the v1.18 cycle

[2019-12-19 17:44] #2156 closed

[2019-12-19 20:32] nrb opened #2159 "Restore issues with CRDs on Kubernets v1.16.4"
Restoring v1beta1 CustomResourceDefinitions into a v1.16 cluster appear to be having some issues. @mauilion reported issues restoring AWS CAPI resources, though I am not able to reproduce with his same backup, on the same version of KinD, with Velero v1.2.0 - though `master` _does_ have issues.

I am, however, consistently seeing errors with Velero's own CRDs on 1.16 clusters:

[code]

[2019-12-19 20:40] rpenugonda commented on #2159
This happens with prometheus crd's too

[2019-12-19 21:24] rpenugonda commented on #2159
describe restore  customerdata-2019-12-19-15-14-56-restore
[code]

[2019-12-19 21:26] rpenugonda commented on #2159
restore  logs customerdata-2019-12-19-15-14-56-restore
[code]

[2019-12-19 22:13] jyee021 opened #2160 "When backing up PV, is there a way to store them in blob storage instead of a Resource Group"
Running in AKS environment, noticed Velero allows backups of PVs to be in the existing Resource Group or a separate Resource Group.  Is there a way to configure it to write it in a storage account container within Azure?

[2019-12-20 14:23] cpanato commented on #1309
@skriss I agree because I don't have much experience with Velero, however if we get the scope done and some walkthrough I can try that 😄

[2019-12-20 15:28] paulcarlton-ww opened #2161 "Commercial support for Velero?"
Does vmware or any other company  provide commercial support for Velero?

[2019-12-20 16:55] #2160 closed

[2019-12-20 16:55] nrb commented on #2160
Hi @jyee021!

You can store the contents of your PVs on blob via Velero's [restic integration](https://velero.io/docs/v1.2.0/restic/). This will operate at the file system level, rather than taking PV snapshots, and will be slower, but will store the file data alongside the Kubernetes metadata.

I'm going to close this issue because I believe this answers your question, but feel free to re-open it

[2019-12-20 16:57] #2161 closed

[2019-12-20 16:57] nrb commented on #2161
Hi @paulcarlton-ww, VMware does indeed provide commercial support for Velero via our Tanzu Kubernetes Grid offering. All of the Tanzu open source projects are covered, as is mentioned in our [support matrix](https://kb.vmware.com/s/article/67389).

I'm going to close this issue as I believe this answers your question, but feel free to re-open it if I'm mistaken.

[2019-12-20 17:06] nrb opened #2162 "Velero maintainers out from December 21, 2019 to January 6, 2020"
Over the US holiday period, the Velero maintainers employed by VMware will be taking some time off from work, and thus will be slow to respond here and on Slack.

We'll be back on Monday, January 6, 2020 and begin responding to any issues or messages at that point.

[2019-12-20 19:31] carlisia commented on #1910
Note: a good case for `s/configure/install`: https://github.com/vmware-tanzu/velero/pull/2155/files#diff-31224e312bb639f88a40a97daf5f2d40R40

[2019-12-20 19:45] nrb commented on #1777
@skriss yeah, that's worth exploring at the very least.

[2019-12-20 22:11] dirtbag opened #2163 "install from helm chart works, but no pods show up?"
**What steps did you take and what happened:**
I installed a velero from terraform to my gke cluster and it looks like the chart installed successfully, but there are no velero pods running and there are no deployments that I can find.

**What did you expect to happen:**
I expected at least a velero pod somewhere on my cluster.

**The output of the following commands will help us better understand

[2019-12-20 22:32] nrb opened #2164 "Better document schedule logic"
From a [Slack question](https://kubernetes.slack.com/archives/C6VCGP4MT/p1576878205057100)

We should have a document describing a few example schedule scenarios to help understand how schedules work, so that this question can be more easily answered in the future.

[2019-12-20 22:46] ashish-amarnath commented on #2164
Copying @nrb's answer from slack:

So if you created a schedule that runs at 3am at 1am Dec 21, it would not create the first backup until 3am Dec 21.
If you created the schedule at 1am Dec 21, then ran velero create backup --from-schedule <schedule name> at 1:01am Dec 21, it would trigger a backup using the specified schedule's backup parameters and run at the next schedule time. So it would run

[2019-12-20 22:46] ashish-amarnath commented on #2164
https://kubernetes.slack.com/archives/C6VCGP4MT/p1576878205057100

[2019-12-20 22:48] nrb commented on #2163
Can you please provide the Helm command you used to install Velero with?

Also, did you use the newly created https://github.com/vmware-tanzu/helm-charts/ one, or the one from the helm/charts repo? We just deprecated the helm/charts version in favor of the vmware-tanzu hosted one this week.

Finally, apologies about timing, but many of the core team members will be on holidays starting this evenin

[2019-12-24 15:01] nzoueidi commented on #18
I am interested on helping with this feature. Maybe we could take this up to the velero community meeting and discuss it with all the other interested community members?

[2019-12-25 16:30] archmangler opened #2167 "Cluster Migration Documentation not clear - Unusable"
**Describe the problem/challenge you have**

The documentation link on cluster migration here:

https://velero.io/docs/master/migration-case/

a) Does not indicate how to specify the new backup location when restoring a backup from the newly created backup location that points to the-cluster-that-must-be-migrated. Should it be passed as an argument to the "velero create restore from <backup> ...."

[2019-12-27 05:43] archmangler opened #2168 "No cli option to delete a backup location (Velero 1.1.0)"
**What steps did you take and what happened:**

- create backup location as follows:

[code]

- locations are created:

[code]

- Try to delete the backup location

[code]

**What did you expect to happen:**

- backup location metadata/configuration is deleted.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https:

[2019-12-27 22:25] mowings commented on #1255
Came here to say we have a similar use-case for preserving clusterIP.  We also use `kubectl apply` for these services

[2019-12-29 04:48] #2151 closed

[2019-12-30 20:29] hmz opened #2169 "How to backup only PVs and PVCs in a k8s cluster"
**Describe the problem/challenge you have**
I wonder if there is a better way to backup only PVs and PVCs in a k8s cluster. My script seems too long.

`velero backup create my-backup --include-resources pvcs,pvs --exclude-resources='pods,services,ServiceAccount,ControllerRevision,StatefulSet,HorizontalPodAutoscaler,Ingress.extensions,Ingress.networking.k8s.io,Endpoints,Event,Event.events.k8s.io,Na

[2019-12-30 22:06] tgrosinger commented on #2018
Relates to https://github.com/vmware-tanzu/velero-plugin-for-aws/issues/15

[2019-12-30 23:09] tgrosinger commented on #2018
@skriss just verified it is working after taking the suggestion from @RichardMills!

I needed to add  `kms:ReEncryptTo` and `kms:ReEncryptFrom` for the key that is used by the Kubernetes cluster (which was also the key used to encrypt the snapshot).

Thanks both for your help.

[2019-12-31 09:26] hmz commented on #904
@jnaulty @ncdc Yes that is an option but I can not label dinamically provisioned disks on creation time -> https://github.com/kubernetes/kubernetes/issues/58413 so having that kind of an enhancement in Velero would realy help.

[2020-01-03 11:03] heikocane commented on #1027
Any news on this topic? Have the same problem here. All ssl traffic to S3 is inspected (ssl decrypt) and no way to import our certificate :-(

[2020-01-03 17:43] dsuievalov opened #2170 "restic: ability to run `restic restore` even when the PV already been restored"
**Describe the problem/challenge you have**
Velero service installed via the official [helm chart](https://github.com/vmware-tanzu/helm-charts/tree/master/charts/velero) with restic integration. K8s deployment was update with a proper annotation to make sure that PV will be backuped via restic. `velero backup create`/`velero restore create` been run once. Random files were removed from the PV via

[2020-01-03 18:10] dsuievalov opened #2171 "Restore stuck in `InProgress` status"
**What steps did you take and what happened:**
If the restoration process stucks because it can not restore the resource (or resource was restored correctly but the service is not seeing it) main `velero` process blocks and do not respond. To unblock it restoration event that blocks it should be removed and `velero` container restarted.

**What did you expect to happen:**

It would be nice if:
- t

[2020-01-04 14:42] mynktl commented on #2170
This should be applied to all type of snapshot. Multiple restore on the same PV should be configurable. If restored snapshot/data gets deleted due to some technical issue then only option available is to create a new PV.

[2020-01-06 16:09] skriss commented on #2168
@archmangler for now, you can either `kubectl -n velero delete backupstoragelocation.velero.io <NAME>` to delete your BSL, *or* `kubectl -n velero edit backupstoragelocation.velero.io <NAME>` to update its config.

Agree that we should at least add the `delete` CLI command to velero, and possibly an `edit` command as well.

[2020-01-06 16:11] skriss commented on #2169
@hmz you don't need to specify the `--exclude-resources` flag, since if you're explicitly specifying some resources to be included, only those resources will be included. So, the following should work fine:

[code]

Give that a try and let us know if you have any issues!

[2020-01-06 16:36] craigvanaman commented on #2048
Sorry I know this issue is closed and I don't mean to necro this thread, but I am trying to solve the exact same problem and I can't see how to interface with the Velero API.  Until now all I have done is use the Velero CLI and 'velero schedule create ~~~~'.

Would anyone (@archmangler, @skriss) be able to post an example of calling the Velero API to push a yaml definition and create a new schedul

[2020-01-06 16:37] hmz commented on #2169
@skriss Tried, it didn't work;

[code]

[2020-01-06 16:41] skriss commented on #2169
Ah - the pluralized short names "pvcs" and "pvs" aren't actually valid - try this:

[code]

[2020-01-06 16:44] skriss commented on #2048
@craigvanaman since the Velero API is implemented via Kubernetes custom resource definitions, you would apply a Velero YAML resource definition the same way as any other Kubernetes resource -- so, if you have a `schedule.yaml` file with your desired schedule definition, you just need to `kubectl apply -f schedule.yaml` to create it.

[2020-01-06 17:06] hmz commented on #2169
@skriss that worked thanks:

[code]

[2020-01-06 17:09] #2169 closed

[2020-01-06 19:34] skriss opened #2173 "update to use GA toplogy labels for PVs"
As of Kubernetes 1.17, the labels that capture a PV's region & zone have gone GA:
- https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-release-announcement/
- https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#topologykubernetesioregion
- https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#topologykubernetesiozone

Velero currently uses the

[2020-01-06 21:20] never1701 opened #2174 "Velero unable to find volume in pod for pv backup"
**What steps did you take and what happened:**
No volume named stolon-data found in pod flowable/fsdb-flowable-stolon-keeper-0, skipping (stateful set is annotated and volume is present.)

[root@atl-k8-maintenance stage]# kubectl -n flowable exec -it fsdb-flowable-stolon-keeper-0 -- /bin/bash -c "df -h"
Filesystem                                     Size  Used Avail Use% Mounted on
overlay

[2020-01-06 22:34] #2077 closed

[2020-01-06 22:56] #2152 closed

[2020-01-06 23:09] dsu-igeek opened #2175 "Dockerfile-velero uses nobody:nobody as its user, for Debian based images, should be nobody:nogroup"
**What steps did you take and what happened:**
Installation of Velero fails on VMWare WCP based clusters, due to being unable to launch the Velero process as "nobody:nobody".  Debian based systems use the "nogroup" user rather than the "nobody" user and the container is based on the ubuntu:bionic image.  Unclear why this works in regular Kubernetes.

**What did you expect to happen:**
Velero shoul

[2020-01-06 23:29] carlisia commented on #1027
We are going to talk about it on our community meeting tomorrow. If anyone would like to join, info is here: https://velero.io/community/.

[2020-01-07 16:22] #2162 closed

[2020-01-07 16:23] nrb commented on #2163
@dirtbag Were you able to get this working? I apologize again about the timing.

[2020-01-07 16:41] dirtbag commented on #2163
Sorry, came back from vacation myself and had bigger fish to fry.. ;)
so the command I used to deploy was
`helm install  --namespace cert-manager --name cert-manager jetstack/cert-manager --set ingressShim.defaultIssuerName=letsencrypt-staging --set ingressShim.defaultIssuerKind=ClusterIssuer --version v0.11.0
`
-db

[2020-01-07 17:28] nrb commented on #1027
As per the community meeting discussion, the AWS SDK which we use for Minio communication uses the `AWS_SDK_BUNDLE` environment variable for using custom CA bundles. https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html

@dymurray has mentioned that his team may have some bandwidth to help on this feature, as well.

[2020-01-07 18:33] #1645 closed

[2020-01-07 18:46] dirtbag commented on #2163
sorry, trying to recreate this after being on break..  Ill let yall know when I get my stuff together. ;)

-db

[2020-01-07 18:59] carlisia opened #2178 "Add Ashish to website"
Hi @ashish-amarnath,

Please add your name and pix to the website, and remove Adnan's. Thank you!

[2020-01-07 19:19] nrb opened #2179 "Update restic PPC binary to official build"
Once restic releases official PPC binaries, we should remove the [restic download](https://github.com/vmware-tanzu/velero/blob/master/hack/get-restic-ppc64le.sh) script and make process match the amd64 builds.

[2020-01-07 22:01] carlisia commented on #2174
Hey @never1701 can you please give me the output for ` kubectl -n flowable get po fsdb-flowable-stolon-keeper-0 -o yaml`?

[2020-01-07 23:15] never1701 commented on #2174
https://gist.github.com/never1701/71c3bf72aa6b80bcef7fa3c525ead57f

[2020-01-08 03:23] michmike commented on #18
@nzoueidi please attend our next community meeting and we can discuss your use case. Karl from the Cruise team was spearheading this effort if you want to sync with them as well.

[2020-01-08 06:57] heikocane commented on #1027
Ok, with this information I got velero running with our certificate :-).

I created a new ca-certificates-mycompany.crt, based on the "default" ca-certificates.crt and added our certificates. Then I created a secret from ca-certificates-mycompany.crt and modified the velero deployment:
- Added the created secret as volume
- Mounted the "ca-certificates-mycompany.crt" to /etc/ssl/certs/ca-certifica

[2020-01-08 16:35] skriss commented on #2174
@never1701 it looks like per https://gist.github.com/never1701/71c3bf72aa6b80bcef7fa3c525ead57f#file-stolon-keeper-0-pod-yaml-L119 your volume is named "data", not "stolon-data", so you'll need to set the annotation value to match :)

[2020-01-08 16:38] nrb commented on #1027
@heikocane That's great news!

I'm assuming that there are still issues with the client side with commands such as `velero download`, `velero backup logs` and `velero restore logs`, though - have you tested those? I would also assume they could be fixed by adding the custom certs to your local machine in a similar manner.

My current thinking is that for short term, we can document this environmen

[2020-01-08 18:40] dymurray commented on #1027
Agreed this is great news! However, I think there is still more to be done on the Velero side. IMO a BackupStorageLocation should contain all of the relevant information to talk to the S3 endpoint. Since it is possible for me to create multiple BSLs on a single Velero instance, then it means that I would need to include all of the relevant certs in a single file to be processed by `AWS_CA_BUNDLE`.

[2020-01-08 19:22] nrb commented on #2163
I'm not familiar with Terraform's Helm integration, but I do notice that in the list of resources no `Deployment` is listed in that output, which is strange.

Also, in your `helm_release` block, no values are specified. Velero needs at least some information about the environment it's in, like the bucket to store Kubernetes metadata in and the region/availability zone for volume snapshotting.

Tak

[2020-01-08 19:31] nrb commented on #1027
@dymurray Yeah, I agree that that sounds like a sensible approach. I think that means expanding the BackupStorageLocation definition to include the secret ref, then expanding the AWS plugin (since S3 is the most-used API for on-premises deployments) and restic support to be able to use that secret.

I don't think restic uses the `AWS_CA_BUNDLE` environment variable, but it does have a command line

[2020-01-08 20:06] carlisia commented on #1910
Maybe related: https://github.com/vmware-tanzu/velero/issues/1027#issuecomment-572201120

[2020-01-08 20:33] dirtbag commented on #2163
thanks nrb, I believe you are correct.. I have fixed that, and now I at least get something in my namespace! ;)

Now the error I get is :
[code]

I assume this error message is referencing this ?
https://github.com/vmhttps://github.com/vmware-tanzu/velero-plugin-for-gcpwarhttps://github.com/vmware-tanzu/velero-plugin-for-gcpe-tanzu/velero-plugin-for-gcp

that sound about right?

-db

[2020-01-08 22:06] ashish-amarnath commented on #1910
@carlisia are you suggesting we have have a separate `velero configure` command, different from `velero install`?
If you are not, I would like to suggest that! :)

[2020-01-08 22:17] carlisia commented on #1910
Haha. Yes I am! Thanks for the input, seems to make sense.

[2020-01-08 23:31] never1701 commented on #2174
@skriss  Thanks for catching that, I wondered about that when I pulled the yaml yesterday.  I won't be able to test for a couple of days as the set is production but I'm sure this is the correct fix.  Appreciate the help.

[2020-01-09 04:12] debianmaster commented on #1977
i think this a much required feature.      with basic features like --conflict-strategy=delete

[2020-01-09 04:16] debianmaster commented on #2090
@skriss    is this being worked on by anyone?   we would like to join hands and contribute to this.

[2020-01-09 15:37] skriss commented on #2174
I'll close this out as resolved, but feel free to reach out again if needed!

[2020-01-09 15:37] #2174 closed

[2020-01-09 16:29] skriss commented on #720
we've now got multiarch support via Docker manifest lists merged, so if anyone wants to work on adding arm builds, it should be ready to go!

[2020-01-09 19:45] #2178 closed

[2020-01-10 16:45] skriss commented on #2090
@debianmaster nobody's actively working on this right now - it would be great if you wanted to pick it up! Did you have any ideas about how to go about implementing yet?

Usually for a feature of this size, we write up a brief design doc first to make sure everyone's in agreement about the approach.  The document template is [here](https://github.com/vmware-tanzu/velero/blob/master/design/_templat

[2020-01-11 02:45] saiharshitachava opened #2184 "Backup of particular storage with a single namespace"
**What steps did you take and what happened:**

This is rather a how to question..I dint find any documentation for this..

Does anybody know how can we take a backup of single namespace along with particular storage class
When I take a namespace backup now it doesnt come with storage class and with out my nfs storage  class my pv and pvc are not working as expected..

If I include cluster-resourc

[2020-01-12 22:26] never1701 commented on #2174
@skriss confirmed that this fixed our issue, thanks for catching the typo.

[2020-01-12 22:49] never1701 opened #2185 "unable to find summary in restic backup command output"
**What steps did you take and what happened:**
We have a daily backup of our cluster with 273 persistent volumes. We are seeing separate restic errors on 2 volumes in particular.  Same error with same volumes but all the pvs are deployed with the same helm chart aside from namespace.

time="2020-01-10T02:21:42Z" level=error msg="Error backing up item" backup=velero/cluster-daily-20200110020017 err

[2020-01-12 22:53] never1701 commented on #2185
Pod output for fsdb-1644
https://gist.github.com/never1701/ed0abffed6952de6cb92cad5c6f0826d

[2020-01-12 22:54] never1701 commented on #2185
pod output for fsdb-2880
https://gist.github.com/never1701/237d537f163bd55b31a03d063646a122

[2020-01-13 05:04] laxmanpradhan opened #2186 "Deployment name not being restored (name becomes pod name)"
**What steps did you take and what happened:**

- I created a test deployment (dokuwiki container) in the namespace 'doku' with a persistent volume (via cephfs so restic will be used to snapshot it)
- I labeled the deployment with a label (app=doku and also backup.velero.io/backup-volumes=doku-vol)
- I created a velero backup of just that deployment using the command
`velero backup create back1 --

[2020-01-13 06:12] #2186 closed

[2020-01-13 07:39] debianmaster commented on #2090
@skriss  we are currently exploring kustomize based approach like suggested in thread.   we will do some initial study and come up with doc

[2020-01-13 19:59] dirtbag commented on #2163
Ok, I finally got the helm chart to install velero and the pod is running. The problem now  is I had to specify a credentials block in my values.yaml file like so...
[code]

It seems like the helm chart should be creating and using this for me automagically.

-db

[2020-01-13 20:30] nrb commented on #2163
Sorry for not replying to your earlier comment - yes, the previous error was about the GCP plugin needing to be installed.

I'm definitely open to suggestions on how to make this work better, as you're right, it's not a great way to store credentials. I don't know that we'll be able to make it work for all storage systems correctly, but we need to move away from multi-use keys like this.

[2020-01-13 21:57] ddebrunner commented on #274
Is there any initial documentation about the flow currently, or where to look to try and figure out the flow (e.g. when are pre/post hooks executed when multiple pods exist)?

[2020-01-13 22:09] skriss commented on #2159
It looks like this may be at least partly caused by https://github.com/vmware-tanzu/velero/blob/master/pkg/backup/resource_backupper.go#L307 hardcoding the `v1beta1` version for the `apiextensions` API group. For 1.16+ clusters, this can result in a scenario where a backup has a mix of `v1beta1` and `v1` `CustomResourceDefinitions`.

Then, on restore, the first time we go to restore a CRD, we cons

[2020-01-13 22:56] nrb commented on #2159
@skriss Thanks for this. I'll try to work on fixes tomorrow.

This seems to me like a data corruption issue that warrants a patch release for 1.16 users - wdyt?

[2020-01-14 00:01] sseago commented on #2090
It seems like there's a fair amount of overlap between the proposed --kustomize functionality and what's currently being done with plugins. We are currently doing similar things to this with plugins -- registry paths, PV differences on restore, etc. Maybe the difference is that you'd write a plugin if there's some sort of logic that will always apply in terms of what you want to change on restore,

[2020-01-14 07:53] jenting commented on #2159
I had file 2 PRs #2187 and #2190 to address the restoring issue on k8s 1.16+.
@nrb @skriss PTAL :pray:

The rest I have not yet fixed is restoring CRDs like Prometheus, the `preserveUnknownFields` check fail.
[code]

[2020-01-14 08:17] Stolr opened #2191 "Upgrade to 1.2 failed to load config file, /credentials/cloud"
**What steps did you take and what happened:**

I upgraded from 1.1 to 1.2  ( Followed https://velero.io/docs/v1.2.0/upgrade-to-1.2/ )

The velero pod crashed with error :

[code]

I double checked and seems that the secret still exists. Seems more like a parsing issue.

**What did you expect to happen:**

No regression

**Environment:**

- Velero version (use `velero version`):
[code]
- Velero fe

[2020-01-14 08:31] jenting opened #2192 "restic backup failed when backup locations HA + snapshot location"
**What steps did you take and what happened:**

Deploy 2 external minio servers as 2 backup locations (HA: master and slave) and 1 snapshot location (master).

[code]

During backup to the slave, the restic backup failed and the error message is
[code]

**What did you expect to happen:**

The slave backup should succeed without failures.

**The output of the following commands will help us better

[2020-01-14 09:06] jenting commented on #1950
I could reproduce this issue with the following steps:

1. Backup a cluster with [dex](https://github.com/dexidp/dex/blob/master/examples/k8s/dex.yaml) installed
2. Create a new cluster and deploy [dex](https://github.com/dexidp/dex/blob/master/examples/k8s/dex.yaml) manually
3. Restore the cluster from the backup

Then, restore with the error log
[code]

[2020-01-14 09:08] jenting commented on #1950
/re-open issue

[2020-01-14 09:26] Stolr opened #2193 "Unable to create lock in backend"
**What steps did you take and what happened:**

I deleted multiple backups.

`velero backup delete  tools-b-gitlab-backup-pr-20200110012032 tools-b-gitlab-backup-pr-20200112012003 tools-b-gitlab-backup-pr-20200113012004`

One was deleted successfuly and the two others are stucks :
[code]
` velero backup describe  tools-b-gitlab-backup-pr-20200110012032`

[code]

Theses locks happens very often. Mo

[2020-01-14 14:31] never1701 commented on #2185
Resolved the issue with "pod volume backup failed: error getting volume path on host: expected one matching path, got 0"  I observed that we had one running pod and one evicted pod for that namespace.  Deleting the evicted pod allowed the restic backup to complete normally.

[2020-01-14 17:52] geofffranks opened #2195 "EBS Snapshot restores do not show failures when KMS permission is denied"
We tried doing a restore including 3 EBS snapshots today. Velero's logs indicate they restored successfully. There are PVs and PVCs created in the namespace as they should, and the PVs have volume IDs. However, the volume IDs did not exist in EC2 anywhere, and kubernetes failed to attach them (volume not found errors). When we got to the bottom of it, our velero IAM policy didn't have permission f

[2020-01-14 18:19] nrb commented on #2159
@jenting Thanks for those PRs! I'm not sure those wholly fix the problems, though. They address issues with the Velero CRDs, but not issues with the backup and restore logic, which needs to be fixed in order to fix all CRDs.

[2020-01-14 20:36] skriss commented on #1777
Couple thoughts from looking at this so far:
- in general, I'd say that "gauge" metrics make sense to recover on server restart, since they aren't just monotonically increasing counters. This includes the following:
    - `backup_last_successful_timestamp`
    - `backup_total`
    - `restore_total`
    - `backup_tarball_size_bytes`
- I think it *could* make sense to reconstruct "counter" metrics t

[2020-01-14 21:45] vitobotta commented on #1253
Same here. @metal3d have you found a workaround in the meantime? And you @Hyrsham ?

[2020-01-14 22:07] jnaulty commented on #1072
**Describe the problem/challenge you have**
Integrity of backup object is not guaranteed before restore.

**Why is this a Problem?**
Velero treats object storage as the source of truth. This could be abused by interfering with the object server. A compromise of this could affect the client and the server module if malicious input can trigger potential vulnerabilities in these

**Describe the solut

[2020-01-14 22:33] geofffranks opened #2198 "Restic backups with an S3 destination don't use eks.amazonaws.com/role-arn annotations"
**What steps did you take and what happened:**

We're using velero 1.2.0 to back up our EKS cluster and some EFS PVs. The velero service account is using AWS's eks.amazonaws.com/role-arn annotation to attach a role to it. This works fine for backing up data from velero, however restic does not seem to support pulling the AWS token properly with that mechanism, and it is using anonymous authenticat

[2020-01-15 00:36] jnaulty commented on #1758
For the config file, it should be `0600`
For the config file _directory, permission should be `0700`

[2020-01-15 02:32] jenting commented on #2159
@nrb The #2190 fix the restore issues on version mismatches but with different approach compares to #2197.

The approach I proposed is on backup site:
- Before K8s 1.16: backup CRDs the backup CRD apiVersion all are `v1beta1`
- After K8s 1.16: backup CRDs, the backup CRD apiVersion all are `v1`

And I agree on #2187 address on Velero CRD only. I guess you have a better idea of how to fix `Spec.Pre

[2020-01-15 16:48] skriss commented on #2193
@Stolr what version of velero are you using? The velero server logs prior to this happening would also be helpful, preferably at debug level (https://velero.io/docs/v1.2.0/troubleshooting/#getting-velero-debug-logs).

[2020-01-15 17:02] skriss commented on #2121
@dymurray just coming back to this, I think there's potentially a race condition in some of the code that's collecting errors from the restic restore operations and propagating them back to the main velero restore. I'll look at fixing that.

[2020-01-15 20:21] nrb commented on #1777
I agree with repopulating gauge metrics on restart; they're useful for the overall deployment, not just a single process's lifespan.

For `backup_total` and `restore_total`, `GaugeFunc` makes sense to compute on demand, so long as we're sure to use the Informers and cache in order to be performant.

As far as code location, for now I think keeping it where it's at makes the most sense. However, if

[2020-01-15 21:05] skriss commented on #1777
It turns out these are already being re-computed during a controller's resync function, so I didn't bother changing them as they already have the desired behavior.

[2020-01-15 21:39] geofffranks commented on #2198
Tried building a local image of velero using restic 0.9.6 and that doesn't appear to have solved it for us, so not sure what would be necessary here.

[2020-01-16 00:52] ashish-amarnath commented on #1758
addressed by #2199

[2020-01-16 00:52] #1758 closed

[2020-01-16 12:59] never1701 commented on #2185
Updated description to reflect remaining unresolved restic issue.

[2020-01-16 13:01] newtoncorp commented on #1253
Hello people,

I've been able to setup velero to use Scaleway's Kubernetes & Object storage the following way.

- Create a Kube cluster in scw interface
- download kubeconfig
- create a bucket in the object storage interface (here `velero-test-newton` in `fr-par` region)
- `brew install velero`
[code]

[code]
- create an example app in Kubernetes
[code]
- `kubectl apply -f ./nginx-example --kubeco

[2020-01-16 14:11] vitobotta commented on #1253
Hi @newtoncorp , if you do a describe with `--details`does it show that the volume has been backed up correctly? How come the storage class is DigitalOcean's in the PVC if you are on Scaleway's managed Kubernetes? I install Velero exactly the same way but Restic wouldn't restore PVCs from Scaleway object storage. I haven't tried backups because I was just restoring to a new cluster after migrating

[2020-01-16 15:32] geofffranks opened #2203 "Support restoring EBS snapshots with different KMS key"
**Describe the problem/challenge you have**
We encrypt all our EBS volumes with customer managed KMS keys (different key for each cluster). When trying to restore data from an old cluster to a newly built cluster, it would be helpful to be able to specify the KMS key to restore the snapshot to.

**Describe the solution you'd like**

A flag to add to `velero install` which would put a KMS key arn/i

[2020-01-16 16:07] newtoncorp commented on #1253
Hello again,

I did a mistake while testing (as I don't really know Kubernetes), I've removed the storage class as the default on Scaleway's Kubernetes is good. So the pod is running now.

[code]

[2020-01-16 16:09] newtoncorp commented on #1253
Maybe something you are missing is a PVC translation ? I can ask someone from the Kubernetes team to answer if you need more help.

[2020-01-16 16:51] skriss commented on #2191
@Stolr I've never seen that one before! What provider are you using? Is it possible to provide the credentials file with any sensitive information stripped out? I wonder if it's some kind of weird whitespace error.

[2020-01-16 17:09] ajchiarello opened #2204 "Velero 1.2 panics and crash-loops"
**What steps did you take and what happened:**
I've installed velero 1.2 (using the helm chart version 2.8.1). I have configured the init container to install the aws plugin and set the backup target to a minio installation on my truenas. I have been using this setup for velero 1.1 backups successfully for several months.

The install completes, but the velero container goes into a crash-loop. The

[2020-01-16 17:15] skriss commented on #2204
this looks like it might be the same issue that https://github.com/vmware-tanzu/velero/pull/2200 just fixed in `master`.

As a short-term workaround, you could manually patch all of your `resticrepository` resources to ensure they have a lastMaintenanceTime. You can get a list of all of the `resticrepository` resources with:

[code]

Then, for each one, do something like:
[code]

[2020-01-16 17:29] skriss commented on #2184
@saiharshitachava unfortunately you can't do exactly what you're trying to do out-of-the-box with Velero.  You could try one of the following options:

- use `--include-cluster-resources` on backup to get all cluster resources, then on restore, specifically restore storage classes (via `--include-resources storageclasses`), followed by a subsequent restore of your namespace (via `--include-namespa

[2020-01-16 18:25] cpanato commented on #2173
@skriss can i take this to try out?

[2020-01-16 18:26] ajchiarello commented on #2204
@skriss
Thanks - that does mitigate the issue.

[2020-01-16 18:27] skriss commented on #2204
:+1: we'll likely include the code fix for this issue in a v1.2.1 release coming out shortly.

[2020-01-16 18:29] cpanato commented on #1505
@skriss i can work on that as well sounds quick win

[2020-01-16 18:31] cpanato commented on #1168
@skriss @carlisia this still an issue? if yes can i look into?

[2020-01-17 00:54] skriss commented on #2173
yes, absolutely! Let me know if you need any further input beyond what I put in the initial description.

[2020-01-17 00:57] skriss commented on #1168
I believe so, and yes, that'd be great! The approach Andy described sounds reasonable, but let us know if there are any blockers.

[2020-01-17 01:00] #2175 closed

[2020-01-17 02:17] codejamninja opened #2205 "Backup/Restore Rancher Catalog Apps with Velero"
How do I use Velero to backup and restore rancher catalog apps? I backed up a namespace and restored it fine, but the app did not show up on the apps page.

[2020-01-17 07:32] jnaulty commented on #1072
**Info on Backup Objects**
Based on the documentation for [output-file-format](https://velero.io/docs/v1.2.0/output-file-format/), there are two files that would be useful to checksum:

backup artifact

`velero-backup.json`

[code]

A checksum should be done after the creation of each artifact.

**Checksum Creation**

backup artifact:
execute a checksum in the Backup function for the gzipped tar a

[2020-01-17 07:37] Stolr commented on #2191
@skriss  : No issue with same config file using the v1.1.
Here is the credential file called `credentials-velero`

[code]
With 1.1 , using :

[code]
Working.

When upgrading : Not working ( see below )

When installing 1.2  from scratch
[code]
Same error
[code]

I also tried to put a **fake credentials** to see and I got a proper error

[code]

[2020-01-17 07:57] jprecuch opened #2207 "CRDs update ends with forbidden cannot be set to false"
Hi.
I was performing update from 1.1 to 1.2 and when I was updating CRDS it didn't for for all. See below:
`root@aws-jump:~/velero# velero install --crds-only --dry-run -o yaml | kubectl apply -f -
customresourcedefinition.apiextensions.k8s.io/deletebackuprequests.velero.io configured
customresourcedefinition.apiextensions.k8s.io/downloadrequests.velero.io configured
customresourcedefinition.apiex

[2020-01-17 08:22] jprecuch commented on #2207
I also tried to install it manually on same cluster with fresh 1.2 and ended with
`CustomResourceDefinition/backups.velero.io: attempting to create resource
An error occurred:

Error installing Velero. Use `kubectl logs deploy/velero -n velero` to check the deploy logs: Error creating resource CustomResourceDefinition/backups.velero.io: CustomResourceDefinition.apiextensions.k8s.io "backups.velero

[2020-01-17 16:17] skriss commented on #2108
transferring to GCP plugin repo

[2020-01-17 16:27] skriss commented on #2153
Closing this out as inactive, feel free to reach out again as needed.

[2020-01-17 16:27] #2153 closed

[2020-01-17 16:30] skriss commented on #2163
@dirtbag you can alternately use the `--set-file` flag when running `helm install` to specify a file with the credentials, e.g. `--set-file credentials.secretContents.cloud=<FULL PATH TO FILE>`. I believe you can also use the `credentials.existingSecret` config option to specify an existing secret in your cluster that should be used, so you can create it ahead of time however you want and have the

[2020-01-17 16:39] skriss commented on #2114
As far as I can tell, this is because backup B doesn't have a `spec.storageLocation` assigned when it's created, so the backup deletion controller errors out.  The backup controller assigns the default location to the backup once it starts processing.

We should change something in the deletion controller to either (a) not bother trying to get the BackupStorageLocation for new backups (since there

[2020-01-17 16:40] skriss commented on #2114
A viable workaround would be to `kubectl -n velero delete backup B` for a `New` backup since that wouldn't go through the deletion controller.

[2020-01-17 16:42] skriss commented on #2184
Closing this out, but feel free to reach out again as needed.

[2020-01-17 16:42] #2184 closed

[2020-01-17 16:43] skriss commented on #2203
transferring to AWS plugin repo

[2020-01-17 16:43] skriss commented on #2195
transferring to AWS plugin repo

[2020-01-17 16:56] nrb commented on #2207
Hi @jprecuch, this appears to be a duplicate of #2159. I've got a PR open to fix this in #2197.

I'm going to close this issue as a duplicate for now.

[2020-01-17 16:56] #2207 closed

[2020-01-17 17:16] skriss commented on #1168
@cpanato it looks like right now, the `velero restore create` command validates that, if you provide a schedule via `--from-schedule`, the schedule currently exists in the current cluster (see https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/cli/restore/create.go#L173-L177).

Per Andy's comment, I think it would be safe to remove this validation, and just operate based on label selectors

[2020-01-17 17:20] skriss commented on #2205
xref https://groups.google.com/d/msg/projectvelero/eM7QAc8zDdc/RfGpVgyxDAAJ

[2020-01-17 17:22] cpanato commented on #1168
@skriss thanks for the clarification and input, I saw that but I was unsure if removing that was the correct, because the issue was in the time of ark :) and I did not check the history.

But thanks will work on during the next days

Thanks again for your clarification

[2020-01-17 17:29] skriss commented on #2100
@duffn apologies, this slipped through over the holidays. Is this still an issue? If so, does it happen consistently? Could you try removing resource requests/limits from the Velero deployment and see if it continues to happen?

[2020-01-17 17:32] skriss commented on #2204
I'm going to close this one out since it's a dupe - keep an eye out for the release in the next week or two.

[2020-01-17 17:32] #2204 closed

[2020-01-17 17:52] skriss commented on #2191
hmm - it looks pretty normal to me. Does anything change if you remove the whitespace around the two `=` signs?

[2020-01-17 19:46] skriss commented on #2090
@sseago yeah, you make good points about the overlap and we'd definitely need to figure those things out. In my mind, the goal is to have a lighter-weight way to apply changes to the objects being restored, that doesn't require writing and deploying a containerized go binary.  But I'm guessing that for more complex scenarios, plugins may still be required.

[2020-01-17 20:49] skriss commented on #560
https://github.com/vmware-tanzu/velero-plugin-for-vsphere

I'm going to close this issue out as the vSphere plugin has been created; feel free to open any new issues related to it in that repo!

[2020-01-17 20:49] #560 closed

[2020-01-18 05:44] saiharshitachava commented on #2184
Can you ellaborate more on the second option on how can I get a single storage class.Something like below would work in getting a single storage class?

velero backup create test --include resources storageclasses --label-selector app=test?

[2020-01-20 07:14] Stolr commented on #2191
@skriss  : Same error :

credentials-velero
[code]

Velero logs
[code]

[2020-01-20 13:42] Sh4d1 commented on #1253
The issue lies with the restic version not being the latest one. Velero uses 0.9.5 but the fix to use custom region arrived in 0.9.6 in Restic. Only solution is to update velero to use a recent restic release. cc @metal3d @vitobotta

[2020-01-20 18:16] vitobotta commented on #1253
@newtoncorp In my case I only tried restoring and not backing up. Perhaps the problem is mainly with restores, I have no idea. @Sh4d1 For now I have switched back to DigitalOcean Spaces since their API is very compatible with S3 and I have no problems with backups/restores, CORS/direct uploads, versioning... Scaleway is cheaper though so I will try it again when Velero/Restic is upgraded.

[2020-01-20 18:28] Sh4d1 commented on #1253
@vitobotta what issue exactly do you have when restoring? And on what type of cluster (managed or not, and where) ?

[2020-01-20 18:39] vitobotta commented on #1253
@Sh4d1 It was giving me two errors, one weird one CPU something which I never got with other storage backends, and the other about the region being wrong or something like that. But the settings were definitely correct.

[2020-01-20 21:16] Sh4d1 commented on #1253
Tested with restic 0.9.6 and it works:
[code]

[2020-01-21 01:34] dymurray commented on #2121
@skriss ah interesting thank you very much. I had been going down the path of trying to reproduce by running out of space on the restic volume but I think you may be on to something. Will help review your PR.

[2020-01-21 09:07] KIVagant opened #2211 "Can you recommend best practices or a workaround for namespaces with resource quotas?"
**Describe the problem/challenge you have**

Hello and thank you for this very useful product. I tried to restore a backup made for a namespace with strict resource quotas and found a lot of errors like this:

[code]

**Describe the solution you'd like**

A possible (but primitive and not guaranteed) solution would be to have a flag like "--pause-between-creation" that makes sure a previous resour

[2020-01-21 10:08] florianbegusch commented on #2185
Is the restic's daemonset allowed to access the podvolume mount path?
I suggest to check whether restic does not have permission to access it. As a side-note, in Openshift the daemonset has to be  ["privileged"](https://velero.io/docs/v1.2.0/restic/#instructions) (securityContext in openshift).
If it is not I do also get:
[code]

[2020-01-21 11:06] vukasin-nikodijevic commented on #2021
As documentation for 1.2.0 doesn't help, here is working example of secret yaml:

1. Format of file should be preserved as described on the azure plugin page:

[code]
Note here:

2. Get the whole file base64 encoded:
[code]

3. secret.yaml data block:
[code]

I hope that this will help someone as I spent some time to figure out this.

[2020-01-21 14:31] dsuievalov opened #2212 "Backup marked completed when disk snapshot call ignored by GCP"
**What steps did you take and what happened:**

Created backup (restic is disabled):
[code]

Backup completed and here is the list of snapshots:

[code]

Disk snapshots were note created for all disks:

[code]

**What did you expect to happen:**

Snapshots for all disks were created.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into

[2020-01-21 14:51] never1701 commented on #2185
@florianbegusch thanks for the hint.  Didn't end up being security but a bad volume mount.  DF reported the mount and pod didn't throw any errors but reading and writing to the pv failed with i/o errors.  Restarted the pod and everything is good now.  Got a successful backup of the pv with velero.  Thanks!

[2020-01-21 14:52] #2185 closed

[2020-01-21 15:39] skriss commented on #2184
@saiharshitachava yes, that's right. As long as the `app=test` label is *only* on the NFS storage class, this should give you just that storage class.

[2020-01-21 18:13] #276 closed

[2020-01-21 18:14] #1253 closed

[2020-01-21 18:46] vitobotta commented on #1253
Hi @Sh4d1 cool, I'm going to try again. What should I do with the current version of Velero to try this?

[2020-01-21 18:49] Sh4d1 commented on #1253
@vitobotta you can either use the `master` version of the container image or wait for a new release.

@nrb any idea when a new release is going to be cut?

[2020-01-21 19:21] vitobotta commented on #1253
@Sh4d1 Cool, will give it a try, thanks! :)

[2020-01-21 20:32] nrb commented on #1253
@Sh4d1 We're aiming for v1.3 at the end of March, and a v1.2.1 to address CRD restoration issues sometime this week. @skriss Would you think we could include the restic version bump in 1.2.1?

[2020-01-21 20:34] skriss commented on #1253
we could consider it since it's just a patch version - can take a look at the release notes and see if it looks like there's anything risky for us.

[2020-01-21 22:19] vitobotta commented on #1253
@Sh4d1 Awesome, with master I was able to restore just fine 👍

[2020-01-21 22:22] skriss commented on #2191
@Stolr I see a couple references to similar issues in the AWS SDK repo (e.g. https://github.com/aws/aws-sdk-go/issues/2239) - anything like that seem relevant?

Does this credentials file work fine with the `aws` CLI?

[2020-01-21 22:23] Sh4d1 commented on #1253
Yay 🎉 and with a little bit a of luck it'll end up in 1.2.1 😁

[2020-01-21 22:47] vitobotta commented on #1253
@Sh4d1 I am having problems with backips though :(

[code]

What can cause this? I have migrated the bucket from DO to Scaleway. With DO I didn't have this. Any idea?

[2020-01-21 22:58] Sh4d1 commented on #1253
Hmm good question 🤔 @newtoncorp any idea? 😅

[2020-01-21 23:00] Sh4d1 commented on #1253
could be caused by https://github.com/restic/restic/issues/2389 apparently
cf https://github.com/vmware-tanzu/velero/blob/master/pkg/restic/exec_commands.go#L164

[2020-01-21 23:01] Sh4d1 commented on #1253
Nop, I think I read too fast :sweat_smile:

[2020-01-21 23:09] Sh4d1 commented on #1253
@vitobotta only on scaleway's s3 ?

[2020-01-21 23:10] Sh4d1 commented on #1253
How did you migrate the bucket? I had no problem when backuping directly to scaleway's s3 🤔

[2020-01-21 23:13] vitobotta commented on #1253
I managed to remove the lock on one repo. Now I am trying to back up one thing per time. I migrated the backups with rclone

[2020-01-21 23:15] vitobotta commented on #1253
I managed to back up redis and drone, but it's stuck backing up harbor for some reason with no errors...

[2020-01-21 23:16] #2121 closed

[2020-01-21 23:17] Sh4d1 commented on #1253
Hmm weird.. I'm really not an object storage expert so can't really help I think :(
Maybe worth to open another issue with some details though :)

[2020-01-21 23:19] vitobotta commented on #1253
I see the problem. Velero says that the volume is being backed up with Restic but in the Restic logs there is no sign of this backup. And I can't delete it apparently because it's in progress

[2020-01-21 23:22] vitobotta commented on #1253
I restarted the pods and the backup after deleting the previous and I get this in the restic logs:

[code]

[2020-01-21 23:29] Sh4d1 commented on #1253
You better open up a new issue with this probem I think @vitobotta :stuck_out_tongue:

[2020-01-21 23:29] vitobotta commented on #1253
OK...

[2020-01-21 23:33] Sh4d1 commented on #1253
@vitobotta I'll try to take a look this week though :)

[2020-01-21 23:34] vitobotta commented on #1253
Thanks. I am thinking to try with an empty bucket on  Scaleway. I have migrated everything to this new cluster and don't want to repeat it all once again...

[2020-01-21 23:46] vitobotta commented on #1253
@Sh4d1 Everything worked just fine and I was able to do a full backup (including 6 volumes) with an empty bucket 👍Apparently it didn't like the existing backups for some reason :D

[2020-01-22 01:01] #1777 closed

[2020-01-22 06:48] Sh4d1 commented on #1253
@vitobotta ah perfect glad to hear it 😄

[2020-01-22 09:29] wukaiying opened #2213 "restic pod will restart when the restic backup command return error."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
file name: pkg/restic/exec_commands.go at line 88
if the `cmd.Stdout` return nil, `getLastLine(stdoutBuf.Bytes())` will make the go func panic, it cased restic pod restart.
[code]

**What did you expect to happen:**
restic pod not need restart, and show the  error log in

[2020-01-22 16:47] dymurray commented on #2121
Just want to note I cannot confirm this PR solved my issue above. I will do some testing and reopen if I still find this issue is valid.

[2020-01-22 16:55] skriss commented on #2121
bummer -- will keep an eye out for more info

[2020-01-22 21:03] markrity commented on #2097
@rombert I have just tested this with similar configuration to yours, for it me it works fine , do you still have this issue?

[2020-01-22 22:59] nrb commented on #2066
Currently waiting on upstream providers to add v2.0.0 controller/v1beta1 CRD support to their drivers. I've [logged an issue on the Amazon driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/442) to start.

While we could proceed with the v1alpha1 code, I'd prefer to keep moving forward and help update drivers rather than move backward and end up updating a lot of code later.

[2020-01-23 00:40] ashish-amarnath commented on #2066
This is the issue with the GCP driver: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/457

[2020-01-23 07:50] mynktl opened #2215 "While restore, use PV name from volumesnapshotter in case of PV renaming"
**Describe the problem/challenge you have**
Current limitation:
Restoring a backup, having a snapshot, in different namespace rename the PV with `velero-clone-..` (like velero-clone-4b1768f1-f760-4d87-adce-6f93ef0308ee). This makes difficult to map the renamed PV with storage assets(deployment,service), created by volumesnapshotter during restore.

**Describe the solution you'd like**
If velero us

[2020-01-23 16:27] betta1 commented on #2069
@skriss we were not running any pre/post hooks when we hit this issue. One possible way to reproduce this is to frequently run backups and restores on a schedule -- we observed the memory usage of the Velero Pod keeps increasing until it reaches the memory limit of the Pod when backups/restores start consistently failing.

[2020-01-23 21:44] skriss commented on #2100
@duffn just checking in again to see if we can get some more info here.

[2020-01-23 21:44] skriss commented on #2193
@Stolr just checking to see if you could provide the additional info requested, thanks.

[2020-01-23 21:46] duffn commented on #2100
I gave up on it at that point, but if I revisit again and can recreate the problem, I will report back.

[2020-01-23 21:49] skriss commented on #2205
closing this out as this the conversation has continued in the google group.

[2020-01-23 21:49] #2205 closed

[2020-01-23 23:44] Srikanthshetty opened #2217 "Enterprise PKS velero with minio backup failed"
**What steps did you take and what happened:**
I am trying to create configure Velero on enterprise PKS cluster to  backup and restore using minio.
Installed minio using load balancer and using below velero install

velero install --provider aws --plugins velero/velero-plugin-for-aws:v1.0.0 --bucket velero --secret-file ./credentials-velero --use-volume-snapshots=false --use-restic --backup-locati

[2020-01-24 09:58] rombert commented on #2097
@markrity - I'll double-check and let you know

[2020-01-24 14:38] Chams91 opened #2220 "unable to install velero client in ubuntu. no tarball found."

[2020-01-24 16:08] skriss commented on #2220
@Chams91 you'll need to use "option 2" at https://velero.io/docs/v1.2.0/basic-install/#install-the-cli to download the release tarball from github, extract it, and move it to a location in your `$PATH`.

[2020-01-24 16:08] #2220 closed

[2020-01-24 16:08] skriss commented on #2220
Feel free to reach out again if you have further issues!

[2020-01-24 16:32] skriss commented on #2217
Sounds like velero is having trouble routing to your minio instance at `http://minio.velero.svc:9000/velero` (`10.100.200.244:9000`). Can you confirm minio is installed in the `velero` namespace? Could you try manually routing a request to it from a pod in the `velero` namespace?

[2020-01-24 16:36] skriss commented on #2198
Hi @geofffranks -- I think this is a limitation of `restic` itself, as it uses the `minio` SDK rather than the  `AWS` one, so this mode of authentication likely isn't supported. You could try bringing it up there (https://github.com/restic/restic or https://forum.restic.net/), though I'm not sure how successful that would be.  Sorry I don't have a better option for you..

[2020-01-24 16:39] skriss commented on #2163
I'm going to transfer this issue over to the new `helm-charts` repo, so it can be reviewed to see if there are improvements we can make to the chart and/or the docs here.

[2020-01-24 17:27] skriss commented on #2100
I'm going to close this issue out for now, but please do report back if you get a chance.

[2020-01-24 17:27] #2100 closed

[2020-01-24 17:45] skriss commented on #2212
hi @dsuievalov, I'm really not sure what could be going on here. From the logs and outputs you included, it sure looks like things are working as expected from the `velero` side.

It might be interesting to run `gcloud compute snapshots list` in a watch while the backup is executing, to see if those snapshots ever appear via `gcloud`. Perhaps that can give us some more information to go on.

[2020-01-24 17:53] Srikanthshetty commented on #2217
Minio is installed in velero namespace only, i did change the minio service type to LoadBalancer and changed the port to 8080.

my minio yaml is

# Copyright 2017 the Velero contributors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licen

[2020-01-24 17:56] skriss commented on #2217
OK - if you changed the port to 8080, then you'll need to update your `BackupStorageLocation` config to use that port. You can `kubectl -n velero edit backupstoragelocation default` and change the port number on the `s3Url` field. Let me know if that works!

[2020-01-24 17:57] Chams91 commented on #2220
i do believe the documentation along with the github readme page should be updated As nothing indicates the tarball name. i tried "wget https://github.com/vmware-tanzu/velero/releases/tag/v1.2.0/velero-v1.2.0-linux-amd64.tar.gz" but that isn´t a valid file. plz advice as i am having real problems installing the cli. i tried v1.1.0 but i guess it is not supported.

[2020-01-24 18:04] skriss commented on #2220
If you go to the release (https://github.com/vmware-tanzu/velero/releases/latest), at the bottom under "Assets" you'll see all the tarballs for the different platforms. Assuming you want linux/amd64 -- the right one is https://github.com/vmware-tanzu/velero/releases/download/v1.2.0/velero-v1.2.0-linux-amd64.tar.gz

[2020-01-24 18:25] Srikanthshetty commented on #2217
I changed the following in backupstoraglocation

kubectl -n velero get backupstoragelocation default -o yaml
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  creationTimestamp: "2020-01-24T18:13:19Z"
  generation: 3
  labels:
    component: velero
  name: default
  namespace: velero
  resourceVersion: "2558907"
  selfLink: /apis/velero.io/v1/namespaces/velero/backupstoragelocations

[2020-01-24 18:27] skriss commented on #2217
:+1: I think the setup job also assumes the port is `9000`, you'd likely have to update that YAML as well to use `8080` if that's what you're using. Glad you got it working! I'll close this out.

[2020-01-24 18:27] #2217 closed

[2020-01-25 12:30] rombert commented on #2097
@markrity - this still fails for me. In the meantime I upgraded `kubectl` to 1.17.0, but that did not help.

I tried debugging a bit myself, and have some extra information, maybe that rings some bells:

- I have 3 kubeconfig files, let's call them A,B,C
- the kubeconfig file which references the cluster with the velero instance is A

The following scenarios work:

- KUBECONFIG=A
- KUBECONFIG=A,B

[2020-01-26 21:43] yogeek opened #2221 "Should prometheus operator CRDs be part of Velero helm chart?"
Velero apparently publishes some metrics which can be scraped by Prometheus. Where can I find documentation about how to configure Velero or/and Prometheus to be able to view these metrics in Prometheus and to have them displayed in a Grafana dashboard like [this one ](https://grafana.com/grafana/dashboards/11055)for exampe ?
I did not find any explanation about this (and saw that the problem has

[2020-01-27 06:59] mynktl commented on #2215
@skriss @nrb Any solution/update on this? Thanks!

[2020-01-27 15:48] skriss commented on #2193
Closing this out as inactive, feel free to reach out again if you can provide additional info.

[2020-01-27 15:48] #2193 closed

[2020-01-27 18:40] ashish-amarnath commented on #2221
@yogeek  Here are some troubleshooting steps for you to follow as a mitigation to this lack of documentation.

1. Confirm, from your helm cart values, that Velero's prometheus metrics publishing is enabled. https://github.com/vmware-tanzu/helm-charts/blob/master/charts/velero/values.yaml#L44
And the Velero server pods have the necessary annotations https://www.weave.works/docs/cloud/latest/tasks/m

[2020-01-27 21:51] #1505 closed

[2020-01-27 22:51] skriss commented on #499
Note that a naive swap here will result in a performance regression, most easily observable as a significant (30-60s) pause at the start of a restore operation. See https://github.com/vmware-tanzu/velero/blob/master/third_party/kubernetes/pkg/kubectl/cmd/util/shortcut_expander.go#L40-L42 for details on this.

[2020-01-27 22:57] ashish-amarnath commented on #2221
/assign
/lifecycle active

[2020-01-28 08:14] kwaazaar opened #2225 "Publish events on backups"
**Describe the problem/challenge you have**
Monitoring backup status is hard. I want to know if there are failed backups.

**Describe the solution you'd like**
Publish events on a backup. These can be viewed with kubectl describe backup and are imported by my monitoring solution as Kubernetes events. Optionally do the same thing with restores.
(I use Azure Kubernetes Service (AKS) and events are e

[2020-01-28 08:31] jmvizcainoio commented on #2225
Hi

If you are using prometheus you can scrape Velero and take metrics that what  jobs are completed or failed.

![image](https://user-images.githubusercontent.com/44993815/73247182-9f3f5980-41b0-11ea-95b1-94e54f22c865.png)

Also, you can configure Alertmanager to advise if there any backups failed. This is how i'm monitoring the status.
Juanma

[2020-01-28 19:04] #2159 closed

[2020-01-28 22:33] koehn opened #2226 "Some Restic Backups timeout"
**What steps did you take and what happened:**
I have velero 1.2 and restic configured to run backups. I recently switched S3 providers (to minio) and decided to start over with new backups. I ran `velero backup delete --all` and waited for the backups to be deleted. I removed all the `resticrepositories`, and `podvolumebackups`. I changed the `backupstoragelocation` and `cloud-credentials` for my

[2020-01-29 04:12] shaneutt commented on #720
I got a start on it and put up a draft PR @ https://github.com/vmware-tanzu/velero/pull/2227, but it's late here and I need to get to bed so I'll come back around to this soon.

[2020-01-29 13:43] koehn commented on #2226
Update: a subsequent backup attempt generated a panic.
[code]

Full log:
https://cloud.koehn.com/s/3d7SS56cs5ywFdE

[2020-01-29 15:56] jonasrosland opened #2228 "Update our Code of Conduct to Contributor Covenant v2.0"
**Describe the problem/challenge you have**
We are currently using Contributor Covenant v1.4

**Describe the solution you'd like**
Update our Code of Conduct to Contributor Covenant v2.0

See https://www.contributor-covenant.org/version/2/0/code_of_conduct

[2020-01-29 16:48] #2228 closed

[2020-01-29 19:05] ashish-amarnath commented on #2225
@kwaazaar  Can you please try using the prometheus metrics as suggested by @jmvizcainoio ?
You can find instructions/ troubleshooting steps to obtain these prometheus metrics here
https://velero.io/docs/v1.2.0/troubleshooting/#velero-is-not-publishing-prometheus-metrics

[2020-01-29 19:57] ashish-amarnath commented on #2226
@koehn Thanks for the details on the issue.
Would you be able to tell us the `podVolumeOperationTimeout` that you are using, by default this is set to `1h` https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/server/server.go#L72
On the node `k8s-htz-worker-03`, were there other volumes that needed restic backup?
I am suspecting if that restic pod on `k8s-htz-worker-03` was overwhelmed and c

[2020-01-29 20:08] koehn commented on #2226
@ashish-amarnath Thanks for getting back to me.

I haven't changed the `podVolumeOperationTimeout` at all; I didn't know it existed. I added a volume on another pod on `k8s-htz-worker-03` and started a backup. It still hangs on the rainloop pod/volume, and the load average is pretty reasonable (0.68).

I'll try another backup with debug turned on if I can figure out how…

[2020-01-29 20:19] koehn commented on #2226
BTW no problems backing up another volume from another pod on `k8s-worker-03`. It's something specific to either the rainloop pod or the volume. It's still throwing a null pointer exception in restic now, which indicates to me that at least it's trying to run the backup.

[code]
Is there a way to delete the rainloop volume from the mail restic repository? I wonder if it got corrupted somehow.

[2020-01-29 20:59] ashish-amarnath commented on #2226
Digging into the panic a little more.
Looks like the panic is from running restic backup commands. Could you please share logs from the restic daemon set pods to confirm if the root cause is Velero.

[2020-01-29 21:02] ashish-amarnath commented on #2226
about deleting the rainloop volume from the restic repository...
Looking at the https://github.com/vmware-tanzu/velero/blob/master/pkg/controller/restic_repository_controller.go I don't see Velero handling restic repository deletes. I wonder if you can just blow away the restic repository in the volume backup store to accomplish this. @skriss Thoughts?

[2020-01-29 23:00] skriss commented on #2226
I see the panic is coming from within the `restic` binary itself, it does sound like possibly something got corrupted there. You could try connecting to the underlying restic repo directly, using the `restic` CLI, and running some combination of `restic check` , `restic rebuild-index`, and/or `restic forget` (you can see from the error output above what some of the necessary flags are). That may e

[2020-01-30 13:00] koehn commented on #2226
I deleted all the `resticrepositories`, `backups`, `deletebackuprequests`, `downloadrequests`, `podvolumebackups`, etc. from k8s, emptied the S3 bucket, deleted every restic and velero pod in an attempt to purge any leftover data from my system and get to a clean slate.

When I re-ran the backup I still get the exact same results: the first time it hangs on `rainloop`, after that it backs up all v

[2020-01-30 15:55] skriss commented on #2069
Hmm, OK -- the signs I saw in the profiles pointed to an issue with the hook code, but sounds like that shouldn't be the case. We'll have to dig further.

[2020-01-30 16:12] koehn commented on #2226
OK, more tinkering and more data:
1. I ran `restic check`, `restic rebuild-index` and `restic forget --prune`. No issues anywhere.

2. I ran another backup, and for whatever reason it backed up `rainloop` before `dovecot` this time (every other time `dovecot` ran first). This time `rainloop` backed up successfully and `dovecot` failed. These are the only two pods in the same namespace (and thus th

[2020-01-30 16:46] koehn commented on #2226
Relevant restic pod log including velero crash:
[code]

[2020-01-30 16:59] skriss commented on #2226
alright, well the velero panic is at least something concrete we can look into & fix. That appears to be in the code that's scanning the restic output for progress updates on the backup.

[2020-01-30 16:59] skriss commented on #2226
thanks for including all the detailed info!

[2020-01-30 17:00] koehn commented on #2226
I noticed that the pod that was supposed to run the backup had failed. A `kubectl logs -p restic-12345` was able to recover the crashed pod's logs.

[2020-01-30 17:19] #964 closed

[2020-01-30 17:23] skriss commented on #2226
yep, I can see that code would definitely panic if restic's stdout is empty when it's called.  we'll work on a fix here.

[2020-01-30 17:37] skriss commented on #1027
hey @dymurray - just checking in to see if you had been able to make any progress on this - I know you mentioned that you might be able to find someone to work on it. thanks!

[2020-01-30 17:47] dymurray commented on #1027
hey @skriss yup sorry I meant to bring it up in the community meeting this week and unfortunately got caught up in other meetings. I have begun digging into it along with another engineer on my team. We have gotten Noobaa working with custom certs in a PoC, I just need to circle back and get a design submitted for review here. I will assign this issue to myself for now and will get a design put to

[2020-01-30 18:29] skriss commented on #2226
@ashish-amarnath do you want to work on a fix here? it looks like there's a subslicing bug at the specific line referenced for empty input, but we also need to make sure the calling code handles empty input as well (I know there's some JSON decoding going on in there).

[2020-01-30 18:38] duffn commented on #2100
I reinstalled velero in a development cluster, attempted to backup `kube-system` again with the default deployment and it failed in the same way.

I did remove the resource limits from the deployment as requested and the backup did, in fact, complete successfully then.

[2020-01-30 18:40] koehn commented on #2226
In addition, the version of `restic` included in the `velero/velero:1.2.0` image is out of date. [Version 0.9.6](https://github.com/restic/restic/releases/tag/v0.9.6) is current, and would have shown me a broken index instead of a panic.

But the root cause of my problem appears to be the velero bug killing the container, and taking restic along with it.

[2020-01-30 19:38] markrity commented on #2097
@rombert The only scenario that is missing in my point of view is `KUBECONFIG=C`.
Because it looks like that it is the common value for a failure.

I will take a deeper look soon, thanks for providing more information !

[2020-01-30 20:19] Frank51 commented on #1970
Hi, Kriss. Sorry about that, I misunderstood the meaning of 'fix'. Right now I don't fully understand the bug yet and don't have enough time to fix it in the near future. Could you help me to cancel the 'assign'? Thanks.

[2020-01-30 20:19] jnaulty opened #2232 "Failing to connect to velero server"
**What steps did you take and what happened:**
Tried to run `velero version`

**What did you expect to happen:**
A response from the client and server printing to console the versions they are running.

**The output of the following commands will help us better understand what's going on**:

* `velero version`
[code]
* `kubectl logs deployment/velero -n velero`
[code]

* `velero get backup`
[code]

[2020-01-30 21:06] #1832 closed

[2020-01-30 22:08] ashish-amarnath commented on #2069
Hi @betta1 and @Frank51 👋
I did some more digging into this but I wasn't able to find a memory leak. Here is what I ran:
I had Velero running on a KinD cluster using the velero-plugin-for-aws, using the S3 as the object store.

In the experiment the created backups had backup tarball size of ~100K: a full backup of the cluster including 5 deployments of NGINX of workload.
There were no volumes tha

[2020-01-31 08:06] rombert commented on #2097
@markrity  - I did not try that since the cluster is configured with file A, so using C would not lead to a meaningful result.

[2020-01-31 18:43] nrb opened #2235 "Install Jekyll youtube plugin"
Per the comment at https://github.com/vmware-tanzu/velero/pull/2224#issuecomment-579859857, we can use a Youtube plugin for Jekyll that makes embedding Youtube links easier.

[2020-01-31 20:20] #2235 closed

[2020-01-31 21:00] #1168 closed

[2020-02-01 09:38] konvergence opened #2237 "velero/restic use default region "us-east-1" when region=GRA (uppercase)"
**What steps did you take and what happened:**
- follow this doc:  https://docs.ovh.com/gb/en/public-cloud/getting_started_with_the_swift_S3_API/
- run install

[code]

- test backup

[code]

**What did you expect to happen:**
- with OVH, I need to put region in uppercase to be able to use S3 API (region=GRA)

**The output of the following commands will help us better understand what's going on**

[2020-02-01 09:41] konvergence commented on #2237
[backup-wordpress-mysql-flex.log](https://github.com/vmware-tanzu/velero/files/4142386/backup-wordpress-mysql-flex.log)
[deployment_velero.log](https://github.com/vmware-tanzu/velero/files/4142387/deployment_velero.log)

[2020-02-02 09:15] konvergence commented on #2116
For a postgres dump done with a pre-hook backup : `pg_dumpall --clean > ${DATA_FOLDER}/dumpall.out`
it will usefull to run a  restore post hook to  run a `psql < ${DATA_FOLDER}/dumpall.out`

[2020-02-02 15:43] koehn commented on #2226
FWIW I've run several dozen backups with this fix in place and experienced no more errors.

[2020-02-03 18:08] konvergence commented on #2116
If there was  post hook for restore I could use it to restore a dump previously done with pre hook backup.

Example if we have this annotation for pre hook backup

[code]

the following post hook restore could be used to restore the dump

[code]

[2020-02-03 18:47] #2173 closed

[2020-02-03 19:49] #2226 closed

[2020-02-03 20:44] skriss commented on #2226
fantastic - thanks again for the fix! FYI we are planning to release a v1.3 in the coming weeks that includes this patch.

[2020-02-03 21:19] skriss commented on #720
closed by #2227

[2020-02-03 21:19] #720 closed

[2020-02-04 14:28] jenting commented on #2192
I think this issue caused by PR #1807.
I had revert PR #1807 and backup to _slave_ backup location works as expected.

[2020-02-04 15:24] AlexMorreale commented on #2018
@tgrosinger curious what you IAM policy looked like at the end of all of this?

[2020-02-04 19:08] a4nowgh opened #2241 "Unable to backup persistentvolumeclaims to multiple storage locations"
**What steps did you take and what happened:**
An annotated persistent volume claim mount volume fails to backup to a secondary storage location after successfully backing up to a primary storage location.  The same backup job to the primary storage location can be performed again successfully.

$ kubectl -n <NAMESPACE> annotate po <POD> backup.velero.io/backup-volumes=<PVC-MOUNT-VOLUME>
$ velero

[2020-02-04 20:56] skriss commented on #2237
@konvergence have you been able to try this with restic directly (no velero)? I'm unclear on whether this is a velero issue, or a restic issue.

[2020-02-05 01:43] jenting commented on #2241
@a4nowgh, which case did you configure? Two backup-location and two snapshot-locations or two backup-locations and one snapshot-location?

In my usage, I could take 2 volume snapshots with two backup-locations (to different S3 bucket) and one snapshot-location on AWS. (Velero would create 2 snapshots in AWS EBS snapshots.)

[2020-02-05 09:34] izzie88 opened #2245 "fails to restore a PV in a new cluster in a new Project on GKE"
i successfully created a backup of a namespace in cluster A in project A in GCP

When i try to restore the backup in Cluster B in Project B, the PV fails to restore giving the error:
cluster:  error restoring persistentvolumes/pvc-78e468b5-65ed-11e9-9128-4201aca8000a: persistentvolumes "pvc-78e468b5-65ed-11e9-9128-4201aca8000a" is forbidden: error querying GCE PD volume restore-c94fe172-71ab-4794-

[2020-02-05 14:30] konvergence commented on #2237
Well I can test restic, but I don't well how to do it.
what is the release of restic to test ?
Can you give me a sample of command ?

[2020-02-05 17:33] betta1 commented on #2069
Hi @ashish-amarnath, I think I've been able to find a way to reproduce this. I ran restores every 10s for ~25 mins and  observed Velero Pod memory usage reached the default memory limit of 256MiB. I'm running Velero v1.2 on K8s cluster on AWS using velero-plugin-for-aws v1.0.0, below are the steps I ran:

[code]
After running ~ 230 restores I started seeing some plugin timeout errors:
[code]
Heap

[2020-02-05 17:55] ashish-amarnath commented on #2069
Thanks @betta1! I'll take a look at this.

[2020-02-05 18:41] AlexMorreale commented on #2018
FWIW This is my full policy excuse the terraform variables for buckets and kms keys
[code]

[2020-02-05 19:00] tgrosinger commented on #2018
Mine looks very similar. The only change is that I did not have "kms:GenerateDataKey*" or "kms:Decrypt".

[2020-02-05 21:21] carlisia commented on #2232
Hey @jnaulty could you run `velero install` again?

[2020-02-05 21:24] carlisia commented on #2115
Hey @hibbert has your issue been resolved?

[2020-02-05 21:24] carlisia commented on #2191
Hey @Stolr, has your issue been resolved?

[2020-02-05 21:25] carlisia commented on #2212
Hey @dsuievalov, has your issue been resolved?

[2020-02-05 21:45] carlisia commented on #2241
Hey @a4nowgh would you please give us the output of:

`kubectl describe backupstoragelocations`?

[2020-02-05 21:54] carlisia commented on #2245
I'd like to start here: long shot maybe, but could this be your problem?

https://acloud.guru/forums/kubernetes-deep-dive/discussion/-LOgoJnxCa74TbTuD1Ie/GKE:%20disk%20not%20found%20although%20it%20is%20created

[2020-02-05 23:51] ashish-amarnath commented on #2069
@betta1 , Thank you for all the information on this.
From the metrics you shared, there definitely seems to be a memory leak somewhere.
![image](https://user-images.githubusercontent.com/22872138/73892532-11a4df00-482c-11ea-8fdd-d92ad9f8b15f.png)
Also
[code]
is indicating of the same.

To figure out where this leak may be coming from, I tried to re-run your test, for about 1h, but my pprof `top` l

[2020-02-06 03:09] jnaulty commented on #2232
I installed with `helm`

[2020-02-06 06:13] dsuievalov commented on #2212
Hello, unfortunately no. Sorry, forget to respond in here after testing of the `gcloud compute snapshots list` during the back procedure. Eventually gcloud does not tell anything new and there are no errors about missing snapshots.
I would like to see the full responce from GCP side for each velero snapshot creation call. If GCP responce with successful creation - velero working as expected and it

[2020-02-06 06:22] ashish-amarnath commented on #2069
Update:
I was able to repro this leak by re-running the experiment using `image: velero/velero:v1.2.0`
Looking over at the `pprof` output:
[code]
from the above output the leak is coming from https://github.com/vmware-tanzu/velero/blob/v1.2.0/pkg/controller/restore_controller.go#L458

@betta1
Considering this leak didn't show up in master, can you please try running the test using an image built f

[2020-02-06 07:24] jenting opened #2249 "Restore CRD panic if the CRD without structural schema"
**What steps did you take and what happened:**

Install velero by [helm chart](https://github.com/vmware-tanzu/helm-charts), backup and restore the CRD, bump out errors when describing the restore name.
`rpc error: code = Aborted desc = plugin panicked: runtime error: invalid memory address or nil pointer dereference`

**What did you expect to happen:**

Restore CRD without error.

**The output of

[2020-02-06 08:22] NeXT405 opened #2250 "[Question] How to use restic with s3 (minio) as backend?"
I can not find any informations about this in the documentation.

At the moment velero works great in my cluster even with restic enabled. But for restic I would like to use s3 as backend as well.

According to this issue it seems to be possible:
https://github.com/vmware-tanzu/velero/issues/2198

Is there a part in the documnetation or an example to set this up?

Thanks in advance.

[2020-02-06 16:35] carlisia commented on #2232
Yes, hard to tell what brought you to this point, but I suspecting restarting the installation or restarting something would get it going. Closing it!

[2020-02-06 16:35] #2232 closed

[2020-02-06 17:00] gildub opened #2251 "Option to choose another GVK besides the preferred-version"
**Describe the problem/challenge you have**
A use case is when exporting a resource from a version of K8s being older than the version of the cluster restoring that resource into.

Let's say the backup cluster has api-server supporting:
* "some-api-group/v1" <- preferred-version
* "some-api-group/v2beta1"

And the restore side has:
* "some-api-group/v2"
* "some-api-group/v2beta1"

At the moment th

[2020-02-06 17:59] betta1 commented on #2069
Hi @ashish-amarnath, yes you're right I'm not able to reproduce this as well with the most recent release v1.3.0-beta.1. I'll run the tests some more and post the update here, so far looks like memory is released back to the OS post backup/restore unlike before.

[2020-02-06 18:00] ashish-amarnath commented on #2069
@betta1 Thanks for confirming.

[2020-02-06 18:48] #2125 closed

[2020-02-06 19:52] a4nowgh commented on #2241
Hello,
Below is my output:

$ kubectl describe backupstoragelocations default
Spec:  Config:    Region:    us-east-1    s3ForcePathStyle: true    s3Url:    https://backupserver2.cloud.com
  Object Storage:    Bucket: bucketname  Provider: aws

$ kubectl describe backupstoragelocations default
Spec:  Config:    Region:    minio    s3ForcePathStyle: true    s3Url:    https://backupserver2.cloud.com

[2020-02-06 23:37] ashish-amarnath commented on #2069
Closing the loop on this.
The leak was fixed as a part of this PR #2201.
 https://github.com/vmware-tanzu/velero/pull/2201/files#diff-07ac758a0abc3d782b2530a9ad08ae5cL63-L67

Without this fix, during all restore, the program would wait _forever_  for the `errChan` to be closed. Causing the gzip writer to be held in memory. This code path would have executed on every restore. This lines up with our

[2020-02-06 23:37] #2069 closed

[2020-02-07 12:22] binnythomas-1989 opened #2253 "Velero backup delete doesnt work for partially failed backup"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
velero backup has partially failed. Hence tried removing the backup

velero backup delete ci-s1e2prod-20200207001018
Are you sure you want to continue (Y/N)? Y
An error occurred: DeleteBackupRequest.velero.io "ci-s1e2prod-20200207001018-jcl8x" is invalid: []: Invalid valu

[2020-02-07 13:27] dns2utf8 opened #2254 "Add velero_backup_active_total metric"
**Describe the problem/challenge you have**
Currently it is hard to see how many backup jobs are running.

**Describe the solution you'd like**
Expose a `velero_backup_active_total` metric.
An integer value starting at 0.

**Anything else you would like to add:**
Maybe the pods running the actual backup could report their progress too?

**Environment:**

- Velero version (use `velero version`): v1

[2020-02-07 18:22] gorzek opened #2255 "Missing PV snapshot in GKE causes odd restore behavior"
**What steps did you take and what happened:**

Note, we are operating on GKE.

We have a script which scales down our Kubernetes applications to zero replicas so there's no disk activity when we snapshot them.

Our backup is run like so:

`
  velero backup create \
    "${BACKUP_NAME}" \
    --include-cluster-resources=true \
    --exclude-resources=storageclasses.storage.k8s.io \
    --include-r

[2020-02-07 18:27] a4nowgh opened #2256 "better document using `spec.publicUrl` to access logs/backups from minIO"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
This occurs after when using minIO storage location.

velero backup create <jobName> --storage-location <minIO_storage>

velero backup describe <jobName> --details

Output:
Request List: request failed: garbled special characters/encoding repeat repeat etc...

The rest of

[2020-02-07 19:57] carlisia commented on #1902
Hey @fei922, please let us know if the instructions were helpful. For now I'll go ahead and close this ticket, we can always reopen it if the problem persisted.

[2020-02-07 19:58] carlisia commented on #1902
Ok, reopening because I just noticed the "needs product" label.

[2020-02-07 22:28] carlisia commented on #2249
For next week: c/c @nrb + @skriss

[2020-02-08 00:20] carlisia commented on #2250
Hi, yes, that's possible. Please take a look at this instruction: https://velero.io/docs/v1.2.0/contributions/minio/.

Closing this for now, we can reopen if needed.

[2020-02-08 00:20] #2250 closed

[2020-02-08 00:37] carlisia commented on #2253
Hey @binnythomas-1989, this is definitely supposed to work!

![image](https://user-images.githubusercontent.com/16508/74075574-e2c37000-49c7-11ea-8618-625eb72ae6ad.png)

Take a look at this discussion and maybe remove all the velero CRDs, or remove everything and reinstall Velero 1.2.0, to make sure the CRD schema is up to date:

https://github.com/vmware-tanzu/velero/issues/2030#issuecomment-5485

[2020-02-08 00:43] carlisia commented on #2256
Hm this is odd. Mind dumping the actual output, it might be helpful to see.

Is this an on-prem cluster you are backing up?

[2020-02-08 00:52] carlisia commented on #2255
This sounds related: https://github.com/vmware-tanzu/velero/issues/2212

[2020-02-08 05:51] abh commented on #2100
I see the same for what it's worth -- "Failed to fire hook: object logged as error does not satisfy error interface"

[2020-02-08 07:39] abh opened #2258 "delete fails on failed backups"
**What steps did you take and what happened:**

The S3 endpoint (minio) was down when velero tried backing up. Deleting the failed backups don't work (the object stays around).  The log in the error is

[code]

**What did you expect to happen:**

The backup object would get deleted.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into

[2020-02-08 09:16] binnythomas-1989 commented on #2253
The issue was around client and server version miss match. Its fixed.

[2020-02-08 09:16] #2253 closed

[2020-02-08 21:41] a4nowgh commented on #2256
Yes, this is an on-prem cluster we are backing up to.  Below is the requested output...thx

./velero backup describe minio-backup --details
Name: minio-backupNamespace: veleroLabels:    velero.io/storage-location=minioAnnotations: <none>
Phase:  Completed
Namespaces:  Included: grafana  Excluded: <none>
Resources:  Included: *  Excluded: <none>  Cluster-scoped: auto
label selector: <none>
Storage

[2020-02-09 22:34] nrb commented on #2249
@jenting Can you provide the specific CRD that you has issues with?

[2020-02-10 00:46] jenting commented on #2249
- https://github.com/vmware-tanzu/helm-charts/blob/e32ce47/charts/velero/crds/backups.yaml
- https://github.com/dexidp/dex/blob/34dcf6c/scripts/manifests/crds/authcodes.yaml

[2020-02-10 09:01] Stolr commented on #2191
Hey ,

Sorry for the late answer. I can't really re generat because it is already used.

I'll test with aws cli and let you know.

Still having the issue

[2020-02-10 12:10] gorzek commented on #2255
I agree, this looks like the same issue given that Velero recorded success and no errors were reported, but one of the snapshots was missing.

[2020-02-10 15:03] bastoker commented on #251
Is there any update on the pin/unpin front? I'm curious if I can change or delete the TTL and expiration from deBackup CRD?

[2020-02-10 16:16] skriss commented on #2258
@abh in this case you should be able to just use `kubectl` to delete the backup, i.e. `kubectl -n velero delete backup.velero.io daily-20200126080002`.

However, we should look at fixing the code issue(s) preventing this from working via `velero backup delete` as well.

[2020-02-10 16:50] nrb commented on #2249
@jenting Thanks, I'll test that today. Thank you for trying out the beta!

[2020-02-10 16:56] nrb commented on #2256
@a4nowgh Are you using https on your Minio installation?

[2020-02-10 17:12] a4nowgh commented on #2256
Yes.

    On Monday, February 10, 2020, 11:56:41 AM EST, Nolan Brubaker <notifications@github.com> wrote:

@a4nowgh Are you using https on your Minio installation?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-10 18:19] gorzek commented on #2212
Was any issue logged with Google Support about this? Given that it may well be a problem on the Google side.

[2020-02-10 18:33] nrb commented on #2249
@jenting To make sure I'm testing the same thing you did, what Kubernetes version(s) did you use? Did you back up and restore from the same version?

[2020-02-10 20:17] #2215 closed

[2020-02-10 20:20] skriss commented on #251
@bastoker we haven't implemented this feature yet, no.

You *can* always manually edit the TTL/expiration of a backup, e.g. `kubectl -n velero edit backup.velero.io <NAME>`. Note that the `status.expiration` field is the one that Velero will actually look at to determine when to delete expired backups.

[2020-02-10 21:03] nrb commented on #2256
Here's my guess - the Velero client is using your BackupStorageLocation's `spec.config.s3url`, which is an https URL, and getting the encrypted contents. If you add an http URL to `spec.config.publicUrl`, the velero client should be able to download the resource list in readable format.

If my suspicion is correct, then the `velero restore logs` and `velero backup logs` commands should also return

[2020-02-10 21:44] nrb commented on #2249
So I'm able to reproduce this behavior, and I can prevent the panic with this change:

[code]

However, that then leads to more issues. We're backing up the Helm-installed CRDs as `v1`, but they don't have any schema associated, which is invalid for v1.

We may actually want to add more smarts to this via a plugin to decide whether or not to use v1 or v1beta1, as they use different rules. One bool

[2020-02-10 21:45] nrb commented on #2249
An example:

[code]

[2020-02-10 22:22] nrb commented on #2249
I'm going to experiment with maybe flagging v1beta1 CRDs that don't have a schema defined at backup time to not use the preferred version.

On Kubernetes 1.16, they clearly work when submitted to the v1beta1 endpoint and are made available for reads via the v1 endpoint just fine, but the problem manifests when Velero backs them up from the v1 endpoint and resubmits them to back to v1.

For Velero,

[2020-02-10 22:54] skriss commented on #2249
So I guess ideally:
- we'd be able to reliably detect which CRDs could not be created as `v1`
- we'd back those up & restore them as `v1beta1`

On the first point - do we know if missing schemas is the only condition that would prevent creating as `v1`? (I know about the PreserveUnknownFields=true issue too, but we have already added logic to convert that)

I'm not exactly sure how we'd accomplish

[2020-02-10 23:37] dsuievalov commented on #2212
Did not contact Google Support since the issue happens only when using velero - direct calls via `gcloud` always report with snapshots creation/failure (stress testing it with ~200 disks (>50Gb) snapshots creation per hour). Which is why would like to debug it from velero side.

[2020-02-10 23:44] jenting commented on #2249
@nrb
Yes, I back up and restore on the same Kubersion version `1.16.2`.

I had filed a [PR](https://github.com/vmware-tanzu/helm-charts/pull/39) to update Velero helm-charts already, PTAL :bow:

[2020-02-10 23:50] a4nowgh commented on #2256
It works OK now! 

Thanks very much for your help!!  Any documentation updated to reflect this would be great...

    On Monday, February 10, 2020, 4:03:42 PM EST, Nolan Brubaker <notifications@github.com> wrote:

Here's my guess - the Velero client is using your BackupStorageLocation's spec.config.s3url, which is an https URL, and getting the encrypted contents. If you add an http URL to spec.con

[2020-02-11 12:54] jenting commented on #2249
structural schema is optional in `v1beta1`.

I would vote for always back up `v1beta1` CRDs if no better approach on how to know the CRD original version.

[2020-02-11 13:54] Stolr commented on #2191
Hey ,

Works fine with aws cli

[code]

[code]

[code]

[2020-02-11 14:53] skriss commented on #2249
Yep, so if we see a CRD that *doesn't* have a structural schema, then we know it was created as `v1beta1`. I'm just wondering if there are any other such fields that would signal that a CRD was created as `v1beta1`. `PreserveUnknownFields=true` would be an example of these other scenarios that I'm looking for.

[2020-02-11 14:57] skriss commented on #2191
@Stolr  OK, thanks for the info. We could try updating the version of the AWS SDK that we use to the latest, to see if that resolves it. If I publish a test image with that change for you, would you be able to try it out?

[2020-02-11 15:00] Stolr commented on #2191
Sure , I'd love to

[2020-02-11 15:10] skriss commented on #2191
OK, I pushed `steveheptio/velero-plugin-for-aws:latest-aws-sdk`.

If you already have velero installed somewhere, you can do the following:

[code]

Or you can `kubectl -n velero edit deploy/velero`, find the plugin container listed under `initContainers`, and change it manually.

Or, if you don't have velero up and running, you can use the new image as the value of the `--plugins` flag for `veler

[2020-02-11 15:52] nrb commented on #2249
I'll put this out as a question in the community meeting today, and also do some research on my own. So far `(Schema=nil and PreserveUnknownFields=true)` are the only heuristic I've found for a CRD that is only restorable as `v1beta1`, but it wouldn't surprise me if I'd missed some other case here.

[2020-02-11 16:19] doowb opened #2260 "Update backup location (backupSyncPeriod)"
**Describe the problem/challenge you have**

I'd like to be able to update an existing backup location (specifically the `backupSyncPeriod` setting) through the command line. From what I can tell, the only option available is to `create` and `get` a backup location.

**Describe the solution you'd like**

I'd like to see a `velero backup-location update NAME --backup-sync-period=5m` command.

**Any

[2020-02-11 16:26] skriss commented on #2260
@doowb the easiest way to do this would be with a `kubectl patch` command, e.g.:

[code]

You could also do it interactively, via `kubectl -n velero edit backupstoragelocation <STORAGE_LOCATION_NAME>`, and adding the `spec.backupSyncPeriod` field to the YAML.

[2020-02-11 16:28] doowb commented on #2260
Thank you for getting back to me so quickly. This is exactly what I was hoping to see for an example updating through `kubectl`.

[2020-02-11 16:33] #2260 closed

[2020-02-11 16:37] skriss commented on #2249
xref https://github.com/kubernetes/kubernetes/issues/87231 - previous issue @jenting logged upstreams. You can see what liggitt has to say.

[2020-02-11 16:38] Stolr commented on #2191
Ok so ,

Install velero from fresh instance
[code]
[code]

==> ERROR ( same as above )

Then I edited the deployment to change the init container to your image

=> ERROR

[code]

What king of log do you need ?

I'll try to create a whole new instance of minio and changing access key tomorrow and test again

I've got some caracters `]` for example that might also cause the issue

[2020-02-11 16:50] skriss commented on #2191
Argh.  You should probably file an issue in the https://github.com/aws/aws-sdk-go repo, as it seems pretty likely that there's a bug in there. I would include the fact that the file works OK with the `aws` CLI, but not the go SDK.  Not exactly sure if/how they'll be able to debug without having the details of the credentials file, but maybe some incomplete info about special chars etc. will help.

[2020-02-11 18:07] connorearl opened #2262 "Prometheus Metrics on Restic Volume Backups"
**Describe the problem/challenge you have**
I currently am looking to create monitoring or a dashboard on what volumes are being backed up. I hope to compare this with other volume info from prometheus to get a better idea on what might be missed that we need to backup (Someone forgot to add an annotation etc.)

**Describe the solution you'd like**
It would be great if we can just export the resti

[2020-02-11 19:49] skriss commented on #2111
closing this out per https://github.com/vmware-tanzu/velero/pull/2119#issuecomment-579379960

[2020-02-11 19:49] #2111 closed

[2020-02-11 20:19] skriss commented on #2258
@abh I wasn't actually able to reproduce this following your scenario as best I could.

One thing I'm wondering based on the error message is - is it possible you have out-of-date Velero CRDs?  This could happen if you had a previous version of Velero installed (including a beta version), before upgrading to 1.2. We have some steps to help with the upgrade documented here:

https://velero.io/docs/

[2020-02-11 20:25] skriss commented on #2254
@dns2utf8 are you looking for the # of backups currently running? If so, that'll always be either 0 or 1, given that Velero only processes one at a time.

[2020-02-11 20:41] skriss commented on #2241
@a4nowgh couple of questions:

1. I see you're running on AWS - are you using EBS snapshots or restic for the volume backup?
2. Could you include the full logs of both backups? (you can put them in a Gist/pastebin/etc and include a link). If that's not possible for some reason, please at least send the error message(s) that you're getting on the second backup.

Wondering if this is a duplicate of

[2020-02-11 20:42] bhvishal9 opened #2263 "AWS S3 server side encryption not working"
**What steps did you take and what happened:**
We are running velero:1.2.0 docker image on Kubernetes and even though we added `serverSideEncryption` property to backup storage location as mentioned in velero documents, the backup data is not encrypted on S3. In the logs, it doesn't mention of SSE and says the backup completed successfully.

**What did you expect to happen:**
Expected the backups

[2020-02-11 20:44] skriss commented on #2263
@bhvishal9 it looks like you have the `serverSideEncryption` field in the wrong place - it should be under `spec.config`, i.e. a sibling of `region`. Try that and let us know if it fixes things.

[2020-02-11 20:44] skriss commented on #2263
You can find full documentation here: https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/master/backupstoragelocation.md

[2020-02-11 20:57] skriss commented on #2237
You can find restic install instructions here: https://restic.readthedocs.io/en/stable/020_installation.html

Velero 1.2 uses restic 0.9.5, but Velero's next release will use restic 0.9.6. So it'd be good to try out both, if possible. You may need to go directly to the GitHub releases to get each: https://github.com/restic/restic/releases

I did see a release note on 0.9.6 about adding support for

[2020-02-11 21:01] skriss commented on #2237
You could also try using velero `1.3.0-beta.1` which has the updated restic 0.9.6, since some other folks reported that this magically fixed their region issues for another S3-compatible API (see https://github.com/vmware-tanzu/velero/issues/1253)

[2020-02-11 22:21] nrb commented on #2249
After reviewing the Kubernets API docs and Steve's linked issue, I've created a PR linked to this issue with 2 possible solutions that appear to work - one sets the apiVersion field to v1beta1 on backup, and the other keeps the CRD as v1 but populates the necessary fields with empty schema structs.

I've listed some pros and cons I see for both approaches in the PR as comments, so I'd appreciate t

[2020-02-11 22:37] konvergence commented on #2237
Thanks skriss, i will try and keep you inform of th results

[2020-02-12 07:18] Stolr commented on #2191
Hey @skriss  thanks for your feedback.

Are you able to reproduce on your side with my credentials ?

[code]
I just secured my instance so not a problem to give you theses keys

If you can give me a feedback if you are able to reproduce that would be awesome.

Thanks

[2020-02-12 10:18] a4nowgh commented on #2241
Yes, this seems to be a duplicate of #2192.  I'm wondering if PR #2244(https://github.com/vmware-tanzu/velero/pull/2244) will address this issue?

   On Tuesday, February 11, 2020, 3:41:30 PM EST, Steve Kriss <notifications@github.com> wrote:

@a4nowgh couple of questions:

   - I see you're running on AWS - are you using EBS snapshots or restic for the volume backup?
   - Could you include the fu

[2020-02-12 10:27] a4nowgh commented on #2241
I'm using restic for the volume backup.

    On Wednesday, February 12, 2020, 5:17:30 AM EST, junkmailatm-github@yahoo.com <junkmailatm-github@yahoo.com> wrote:

  Yes, this seems to be a duplicate of #2192.  I'm wondering if PR #2244(https://github.com/vmware-tanzu/velero/pull/2244) will address this issue?

   On Tuesday, February 11, 2020, 3:41:30 PM EST, Steve Kriss <notifications@github.com>

[2020-02-12 15:34] skriss commented on #2241
I would expect #2244 to fix it, yes. I'll link this issue up to that PR. Hoping to get that fix in for our upcoming release.

[2020-02-12 15:49] skriss commented on #2191
@Stolr yep, I was able to reproduce. However, I did find a workaround - putting double quotes around the secret access key value allows it to parse, i.e.:

[code]

Sure looks like that leading `]` in the access key is messing up the parser in the AWS go SDK.

[2020-02-12 17:36] Stolr commented on #2191
Awesome !

I should have think of this workaround !

Maybe the documentation can be updated to put that doubles quotes to make sure this will work for Everyone.

@skriss   I'll close the issue. Thanks a lot for your help.

[2020-02-12 17:36] #2191 closed

[2020-02-13 02:59] archmangler opened #2267 "Velero snapshot retention Policies: No available documentation?"
**What steps did you take and what happened:**

- attempt to find documentation on how to configure backup retention policy on velero site
- No mention of retention policy configuration (site not searchable?)
- We do see restic supports snapshot retention: https://restic.readthedocs.io/en/latest/060_forget.html , however it's not clear how we access this via velero, for example on Kubernetes, how

[2020-02-13 03:48] archmangler opened #2268 "Specify Snapshot Retention Policy Using YAML-based Definition"
**Describe the problem/challenge you have**

- No way to specify snapshot retention policies on  a per namespace basis. This results in unmanageable numbers of snapshots building up in Azure cloud storage.
- Therefore we have to manage snapshots on the storage side, which is non-ideal.

**Describe the solution you'd like**

- A similar configuration mechanism to backup schedules: Specify retention

[2020-02-13 08:30] ctrox opened #2269 "Unscheduled pod with invalid PVC reference results in partial failure"
**What steps did you take and what happened:**
This is a bit of an edge case but we have had this happen in one of our production clusters. If you create a pod with a persistentVolumeClaim reference that does not exist, the pod will be stuck in the status `Pending`. Now when a velero full backup runs it tries to backup all volumes of all pods and naturally fails because the persistentVolumeClaim i

[2020-02-13 12:12] turkenh commented on #434
AFAIU, it is already possible to configure (some of ?) the provider for encryption at rest using `config` field in `BackupStorageLocation`:

GCP: https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/master/backupstoragelocation.md
AWS: https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/master/backupstoragelocation.md

Also a related PR: https://github.com/vmware-tanzu/velero/pull/187

[2020-02-13 15:28] skriss commented on #2269
xref #1878

[2020-02-13 15:35] skriss commented on #2263
@bhvishal9 were you able to get this working?

[2020-02-13 15:45] HamzaK8s commented on #2117
I'm facing the same issue with the latest version of velero v1.2.0 on Azure using helm chart I'm getting
[code]
I configured the `volumesnapshotlocation` as follows:
[code]

and the `BackupStorageLocation`
[code]
Normally it should locate for disk in `k8s-rgroup` and store the snapshots in `k8s-backup`, but it does the opposite
do you have any idea @skriss  ?

Thanks

[2020-02-13 15:48] skriss commented on #2117
@HamzaK8s what value do you have in the `AZURE_RESOURCE_GROUP` key in the `cloud-credentials` secret?

[2020-02-13 15:52] skriss commented on #434
@turkenh you're correct, Velero already supports server-side encryption at rest in the AWS, Azure and GCP plugins.

As part of this issue, we also discussed **client-side encryption**, i.e. Velero encrypts the backup data before sending it up to object storage, rather than letting the object storage system itself encrypt the data.

We've decided not to go down that path for now, so I do think we c

[2020-02-13 15:53] archmangler commented on #2268
Thanks @skriss.

[2020-02-13 15:53] #2268 closed

[2020-02-13 16:16] HamzaK8s commented on #2117
@skriss Thank you, I finally resolved the problem

The documentation was not that clear on this part.

I have another issue on the helm chart. The `envFrom` field for Azure does not work

If keep the `envFrom`, I'm getting the following errors:
[code]
Deleting manually it fixes the problem. Should I create an Issue on helm-chart repo ?

[2020-02-13 16:19] skriss commented on #2117
yeah, please create an issue in the chart repo, thanks!

[2020-02-13 16:22] skriss commented on #2213
@wukaiying I believe we've fixed this with #2231, so closing this out - feel free to reopen as needed. Note that this fix is included in the `v1.3.0-beta.1` release and will officially ship with `v1.3.0`.

[2020-02-13 16:22] #2213 closed

[2020-02-13 16:48] azuregurus opened #2272 "Error loading environment from AZURE_CREDENTIALS_FILE"
**What steps did you take and what happened:**
I have followed steps from this page:
[Part #3. Azure Kubernetes Services (AKS). Backup/Restore your AKS data with Velero.](https://sysadminas.eu/2019/12/part-3-azure-kubernetes-services-aks-backup-restore-your-aks-data-with-velero/)

**What did you expect to happen:**
I was expecting that Velero will be installed to my Azure AKS cluster.

**The outpu

[2020-02-13 17:03] skriss commented on #2272
@azuregurus it sounds like something might be off in the formatting of your credentials file - did you create a file following the steps at https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#create-service-principal, specifically:

[code]

[2020-02-13 17:26] #2005 closed

[2020-02-13 18:47] bhvishal9 commented on #2263
yes @skriss, it was indeed a misconfiguration and it worked after correcting it. Thank you for the help.

[2020-02-13 18:47] #2263 closed

[2020-02-13 18:54] ashish-amarnath commented on #2117
@HamzaK8s re:

Can you please share what part of the documentation wasn't clear. Also PRs welcome 🙂🙏

[2020-02-13 21:33] skriss commented on #1350
@nrb @sseago I'm pretty sure we can close this out, now that we've closed #964 via #1937 - I'm going to close, but please reopen if you disagree with my assessment.

[2020-02-13 21:36] skriss commented on #1764
closing this one out as I don't think there's an action item here, but we can reopen as needed.

:wave: adnan :)

[2020-02-13 21:36] #1764 closed

[2020-02-14 07:39] turkenh commented on #1712
What I understand from the [source code](https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/cli/backup/delete.go#L117), deletions are triggered via another crd called [`DeleteBackupRequest`](https://github.com/vmware-tanzu/velero/blob/master/pkg/apis/velero/v1/delete_backup_request.go#L57).

So, if you want to use kubectl (or go client) to delete a backup, you need to create `DeleteBackupR

[2020-02-14 09:33] azuregurus commented on #2272
Yes. The content of the file is like this (I've replaced the real data with *):
[code]
I've double checked the data and it looks ok.

[2020-02-14 10:35] nzncngz opened #2275 "need help installing and backup velero"
Hi,
**What steps did you take and what happened:**
For backup and restore tests I create  a wordpress senario same
https://blog.kubernauts.io/backup-and-restore-of-kubernetes-applications-using-heptios-velero-with-restic-and-rook-ceph-as-2e8df15b1487
I will hope backup and restore completed successfull to Velero.

**What did you expect to happen:**
Backup completed successfull. When restoring step

[2020-02-14 12:18] error399 opened #2276 "Prometheus alerting of failed_backups_total"
We are using prometheus for velero monitoring in grafana we see failed_backups_total of 2. When using `velero get backups `all backups (daily and hourly) habe the STATUS completed. Even `velero backup describe` shows no errors in the backups

Expected behaviour is that if all backups are completed according to velero cmd, the failed_backupd_total should have a count of 0

**Environment:**

- Veler

[2020-02-14 13:20] konvergence commented on #2237
I shriss,
I made test with restic 0.9.5 and get the same error.

I think the reason is in the https://github.com/restic/restic/blob/master/CHANGELOG.md
          Enh #2350: Add option to configure S3 region
The support of region has been added only since restic 0.9.6

[2020-02-14 16:49] ashish-amarnath commented on #2142
@nrb  Is the idea here to have the feature flag threaded through from the velero client CLI to the server or are the feature flags to be passed to starting the server? To do the former, we'll have to update the definition of the backup CRD and for that reason, I don't think this was the intention. Then, this means we intend to pass the feature flags to the server to control whether or not to use t

[2020-02-15 00:09] ashish-amarnath commented on #2276
@error399
Assuming that you are referring to the `backup_failure_total` metric. This counter is incremented if the backup ends up in a `velerov1api.BackupPhaseFailed` state. This can happen for a variety of reasons, including, a conflict in your backup object store location, or if there are critical errors that were encountered during a backup.

Here are a few things you could check to help us tro

[2020-02-15 00:17] ashish-amarnath commented on #2272
@azuregurus Have you tried using the same credentials file to use with the `az` cli? Can you please confirm that works?

[2020-02-15 00:18] ashish-amarnath commented on #2272
Can you also please inspect the secret the corresponding secret and confirm that it is not malformed?

[2020-02-15 17:45] gogovan-vincentngai opened #2277 "TTL not working"
**What steps did you take and what happened:**
--ttl seems not work or i miss config/understand something ?
As from my understand the --ttl will control how long will a backup alive
However when i test deploy the backup with let say --ttl 5m
Things no going to my expected

**What did you expect to happen:**
I expected it will help delete the backup from gcp storage and disk snapshot
But none of th

[2020-02-15 18:56] ndemeshchenko opened #2278 "Installing v1.2.0 failing with error NoCredentialProviders"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Installing velero 1.2.0 on k8s 1.14 by these commands:

[code]

After it, the pod is failing with the following error NoCredentialProviders. However, I was able to check in the container and it has the correct mounted /credentials/cloud file with valid aws secret and key

[2020-02-16 02:36] jenting commented on #2278
The `configuration.provider` should be `aws`, not `velero.io/aws`.

[2020-02-16 12:53] ndemeshchenko commented on #2278
thx @jenting, yeah, tried `aws` as well but same error

[2020-02-17 05:41] mynktl commented on #2278
Can you verify if `/Users/user/.aws/cred-velero` has the following format?
[code]

[2020-02-17 08:46] stalinbritto opened #2279 "Installing v1.0.0 failing with error NoCredentialProviders"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

**What did you expect to happen:**

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

* `kubectl logs deployment/velero -n velero`
* `ve

[2020-02-17 12:10] error399 commented on #2276
Thank you had a tought over the issue and found out that by limiting the the queries to a range I have the results I expect without loosing the historical data.

[2020-02-17 12:10] #2276 closed

[2020-02-18 10:10] markrity opened #2281 "Error backing up ClusterRoleBinding object"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
When I backup a whole cluster using schedule or manually , I get an error on backing up specific ClusterRole object.

From backup logs it says that it can't find it and it looks like it can't get the right namespace for it.
'namespace=' , it looks for it without using the

[2020-02-18 12:29] stalinbritto commented on #2279
`Also am facing below issue when am trying to run other K8's server.`
[code]

[2020-02-18 18:01] skriss commented on #2237
good to know - so my next question is - does it work with velero `v1.3.0-beta.1` (which uses restic v0.9.6)? Per https://github.com/vmware-tanzu/velero/issues/2237#issuecomment-584849395, some other folks had success just by upgrading.

It seems like there may need to be a velero code change to plumb this env var through, though.

[2020-02-18 18:05] skriss commented on #2281
@markrity does the ClusterRole `k8s-cloudwatch-adapter:custom-metrics-reader` exist? (what does kubectl get clusterrole k8s-cloudwatch-adapter:custom-metrics-reader -A` show?)

Usually this comes up when you have an invalid RoleBinding/ClusterRoleBinding that references a nonexistent Role/ClusterRole, and it can be resolved by either deleting the invalid binding, or creating the missing role/clust

[2020-02-18 18:16] skriss commented on #2115
I'm going to close this out, as I'm not sure we have anything else to offer here.

As a closing thought, using provisioned throughput may help with EFS performance, though I recognize this comes at a cost.

[2020-02-18 18:16] #2115 closed

[2020-02-18 18:23] skriss commented on #2211
hey @KIVagant, sorry this slipped through the cracks.

Can you clarify why the quotas are being exceeded on restore? Are the ResourceQuotas themselves part of the backup/restore?

[2020-02-18 18:37] markrity commented on #2281
@skriss You are right, I was sure I checked if that ClusterRole exists, but it doesn't ...
Thanks!

Can you please explain why manual backup fail completly  if this error presents , but scheduled backups do not fail.?

[2020-02-18 18:59] skriss commented on #2277
hey @gogovan-vincentngai - the "GC controller" which detects expired backups and deletes them, only runs once per hour. So, if you have a backup with a TTL of 5m, it may take up to 65m for it to be deleted.  Please try letting some time pass and see if things behave as expected!

If this behavior doesn't meet your needs, feel free to file a separate enhancement request explaining further.

Closing

[2020-02-18 18:59] #2277 closed

[2020-02-18 19:04] skriss commented on #2281
Hmm, that is surprising. That would lead me to believe that the scheduled backups are not including this ClusterRoleBinding/ClusterRole. Does the manual backup have the same spec (namespaces, resources, label selector) as the scheduled backup?

[2020-02-18 19:10] skriss commented on #2279
@stalinbritto could you provide the following outputs:

`kubectl -n velero get deploy/velero -o yaml`
`kubectl -n velero get secret cloud-credentials -o yaml` (**NOTE** this will include the base64-encoded value of your secret, so if there's anything confidential in there, you'll need to scrub it**)

[2020-02-18 19:14] skriss commented on #2275
@nzncngz I would strongly advise upgrading to the latest version of velero, v1.2.0. We don't really support the pre-1.0 versions anymore.

https://github.com/vmware-tanzu/velero/releases/tag/v1.2.0

[2020-02-18 19:19] skriss commented on #2275
It looks like you're using rancher - you'll need to modify the restic `DaemonSet` that's created in the `velero` namespace to use a different hostPath mount than the default. See the `rancherOS` section here: https://velero.io/docs/v1.2.0/restic/#instructions. You can use `kubectl -n velero edit daemonset/restic` to edit the definition.

[2020-02-18 20:37] nrb commented on #2142
Both, but the idea isn't to communicate via the `Backup` request.

The idea is outlined in the design doc [in this section](https://github.com/vmware-tanzu/velero/blob/master/design/csi-snapshots.md#velero-server-changes). I would like that any logic changes in the velero server process be explicitly enabled, not inferred from plugin inclusion.

Using the feature flag also means that any users not

[2020-02-18 21:16] KIVagant commented on #2211
Hello, @skriss

I configured an automatic backup in a cluster that has Resource Quotas. Some of them limit the amount of deployments or replicasets etc. Then I tried to restore the cluster from a backup and Velero quickly hit all the limits for most of the resources.

[2020-02-18 21:45] skriss commented on #2211
I guess my question is - if the # of resources weren't exceeding the quotas at backup time, then what made them exceed the quotas during restore? Are you creating multiple copies of resources?

[2020-02-18 22:47] skriss commented on #2254
@dns2utf8 just looking for some clarification here, per previous comment. thanks.

[2020-02-18 23:10] kivagant-ba commented on #2211
That's a good question. First, one the quotas it reached is "count/replicasets.apps". So to restore from a backup, Velero will probably try to start new replicas for existing deployments. If one has 1000 replicas maximum allowed in a namespace and 900 of them were requested, then to restore from a backup we will need another 900 available. Which conflicts with the idea of limiting them. Because do

[2020-02-18 23:11] kivagant-ba commented on #2211
Another quota was reached is called `count/services` and here I don't really understand why. Service names must be the same... I'll try to re-test this part.

[2020-02-18 23:13] KIVagant commented on #2211
That's a good question. First, one the quotas it reached is "count/replicasets.apps". So to restore from a backup, Velero will probably try to start new replicas for existing deployments. If one has 1000 replicas maximum allowed in a namespace and 900 of them were requested, then to restore from a backup we will need another 900 available. Which conflicts with the idea of limiting them. Because do

[2020-02-19 11:06] dns2utf8 commented on #2254
Hi @skriss

Yes. Even if only one is running at the time it would help with the alerting if one knew if there is a job running currently.

For example: we have an alert if the last successfull backup is more than 8 hours old.
However, there is no need to fire the alarm if the current backup is already running and is about to finish.

[2020-02-19 12:07] rohans-mehta opened #2282 "Velero installation in kubernetes server using azure provider"
While installation of Velero on kubernetes using helm charts as below

helm install --namespace velero \
--set configuration.provider="Microsoft Azure" \
--set-file credentials.secretContents.cloud=<FULL PATH TO FILE> \
--set configuration.backupStorageLocation.name=azure \
--set configuration.backupStorageLocation.bucket=<BUCKET NAME> \
--set configuration.volumeSnapshotLocation.name=<PROVIDER NA

[2020-02-19 12:36] jenting commented on #2282
This [PR](https://github.com/vmware-tanzu/helm-charts/pull/46) address this issue.

[2020-02-19 13:27] markrity commented on #2281
@skriss I'm doing a complete cluster backup , both manual and scheduled.
Without specifying any specific namespaces/resources or lables.

[2020-02-19 15:50] skriss commented on #2281
K, I'm not sure why you'd get different results then. If you want to debug this further - do you have logs for each of the backups?

[2020-02-19 15:52] skriss commented on #2254
Got it.

Are you interested in contributing a PR here?

[2020-02-19 15:56] skriss commented on #2211
Hmm, yeah I'm also not clear on why something like a service quota would be exceeded. I think tracking this down might be helpful - let me know if you can figure out what might be going on there!

If this is an ongoing issue, you *could* look at writing a custom RestoreItemAction plugin, that would allow you to modify the quota values during a restore (e.g. to double them). However, you'd probably

[2020-02-19 15:58] skriss commented on #2282
This could also be similar to #2272 - my first recommendation would be to inspect the `cloud-credentials` secret in the velero namespace, and ensure that there's a secret key called `cloud` and that the value, when base64-decoded, is properly formed and contains all of the env vars.

Also - does your deployment have the `AZURE_CREDENTIALS_FILE` env var set? (You could paste the full YAML for the d

[2020-02-19 15:59] skriss commented on #2272
@azuregurus just checking in to see if you've resolved this or been able to try the debugging steps suggested above.

[2020-02-19 19:01] #2192 closed

[2020-02-19 19:01] #2241 closed

[2020-02-19 20:04] KIVagant commented on #2211
Thank you for the recommendations. Sounds a little bit complicated but still possible. I will try to test the backup/restore process again and will return back with the results.

[2020-02-19 20:54] skriss commented on #2245
@izzie88 my best guess is that this is related to doing a cross-project restore. Have you followed the detailed instructions at https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/master/examples/gcp-projects.md?

I know one important part of this is configuring the right `project` in your VolumeSnapshotLocation's config in the cluster you're restoring to. You can find more documentation on

[2020-02-19 21:23] skriss commented on #2212
@dsuievalov I built a custom image with some additional logging that you could try out and see if you get any more info.

The branch with the code change is here: https://github.com/skriss/velero-plugin-for-gcp/commit/961d5025f088bc62b3001c8ae43d3e2addf6e6eb

The image you can use is `steveheptio/velero-plugin-for-gcp:snapshot-logging`

If you have velero up and running, you can swap this plugin i

[2020-02-19 22:00] skriss commented on #2255
@gorzek see https://github.com/vmware-tanzu/velero/issues/2212#issuecomment-588477821 - if you could try this out too, maybe we can shed some more light on what's going on

[2020-02-19 22:28] skriss commented on #1551
closing this out -- see the "Performance" label (https://github.com/vmware-tanzu/velero/labels/Performance)

[2020-02-19 22:28] #1551 closed

[2020-02-20 01:49] jenting commented on #2282
Note that, Velero installed with `helm`, the credentials secret name is `velero`.

[2020-02-20 10:22] Stolr opened #2284 "Restic repository : panic: runtime error: invalid memory address or nil pointer dereference"
Hi

I install velero from scratch using 1.2.0.

[code]
[code]

When I try to backup My  Gitlab instance :

[code]

[code]

So when I try to get restic repository

[code]

Do you have any idea on how I could debug this ?

Thanks

[2020-02-20 13:59] Stolr commented on #2284
OK ,

Sorry it is ok now. Don't know what happend. Maybe a timeout or something. I didn't change anything and it started to work

[2020-02-20 13:59] #2284 closed

[2020-02-20 14:42] Stolr opened #2285 "Velero 1.2 - Restic issue Please reduce your request\nLoad(<lock/ab6beb6c24>, 0, 0)"
Hi ,

Just install fresh install of velero 1.2.0.

Getting some error while trying to backup my gitlab data .

Log from Restic :

kubectl logs -f restic-j7d2r

[code]

My PV size is about 200Gb. Is there a limitation on size ?

Thanks

[2020-02-20 15:37] skriss commented on #2285
@Stolr while there's not a hard limit, a backup of this size with restic would take many minutes, especially the first backup, but you should be able to get a completed one with patience :)

It looks like the logs didn't paste properly - could you dump them into a gist and include a link?

[2020-02-20 15:40] Stolr commented on #2285
https://gist.github.com/Stolr/34cb854ccada602091148a86356fe29d

[2020-02-20 15:57] skriss commented on #2285
Hmm, it sounds like your object store is throttling requests. Is this something you can control/configure on the server side?

[2020-02-20 16:22] skriss commented on #1103
There's an upstream effort to add an `ExecutionHook` API -- see https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190120-execution-hook-design.md.  We'll likely move Velero to using that API once it's available.  As such, I'm going to close this item out.

[2020-02-20 16:22] #1103 closed

[2020-02-20 20:16] Stolr commented on #2285
So you mean this is probably an issue related to minio ?

This is weird because it was working before using 1.2.0.

But Yes , I'll let you know tomorrow I'll check if minio is ok ( might be also the load balancer )

[2020-02-21 08:50] boxcee opened #2286 "GCP: Backup marked completed, even though snapshots are not ready yet"
**What steps did you take and what happened:**
In our automation, I am creating backups on one cluster and then restore them on another within the same GCP project.
To backup, I use:
[code]
After some time the backup completes. However, when I check GCP -> Compute -> Snapshots, I see that not all snapshots are ready yet.
When restoring this 'completed' backup, I get some error messages,
so in my a

[2020-02-21 09:01] Stolr commented on #2285
Could not reproduce,.

[2020-02-21 09:01] #2285 closed

[2020-02-21 15:28] skriss commented on #2282
@rohans-mehta were you able to resolve this?

[2020-02-21 15:28] skriss commented on #2275
@nzncngz were you able to resolve this?

[2020-02-21 15:28] skriss commented on #2278
@ndemeshchenko were you able to resolve this?

[2020-02-21 15:29] skriss commented on #2279
@stalinbritto just checking in to see if you were able to resolve this or could provide more info.

[2020-02-21 15:29] skriss commented on #2245
@izzie88 were you able to get this working?

[2020-02-21 15:30] skriss commented on #2212
@dsuievalov were you able to test this out?

[2020-02-21 15:30] skriss commented on #2255
@gorzek were you able to test this out?

[2020-02-21 15:30] skriss commented on #2237
@konvergence were you able to try out `v1.3.0-beta.1`?

[2020-02-21 15:31] skriss commented on #2258
@abh I'm going to close this out since I haven't heard back and couldn't reproduce. Please reach out again as needed, thanks.

[2020-02-21 15:31] #2258 closed

[2020-02-21 15:31] skriss commented on #2272
Closing out as inactive, feel free to reach out again as needed!

[2020-02-21 15:31] #2272 closed

[2020-02-21 15:32] skriss commented on #2281
@markrity just checking in to see if you wanted to debug further, and if so, if you could provide the requested logs. If not, feel free to close out the issue.

[2020-02-21 15:37] gorzek commented on #2255
Not yet, hopefully next week.

[2020-02-21 16:12] abh commented on #2258
Hi @skriss — I think what happened was the failed backups were created by 1.1. While fixing the cause of that (and a locked restic repo) I also upgraded to 1.2 which then couldn’t clean up the old ones from the state they were in.

[2020-02-21 16:27] skriss commented on #2286
@boxcee yeah we're aware of this issue - see https://github.com/vmware-tanzu/velero/issues/1799 for another report (on AWS, but same issue).

[2020-02-21 16:28] skriss commented on #2286
ideally we'd model this as an additional phase on the backup, to indicate that the snapshots have been created but are not yet ready.

[2020-02-21 16:49] nzncngz commented on #2275
Hi,
I saw the message late sorry.I am using velero 1.2.0 version.
I deployed two deployment https://blog.kubernauts.io/backup-and-restore-of-kubernetes-applications-using-heptios-velero-with-restic-and-rook-ceph-as-2e8df15b1487.
Pods is running but;
ERROR

pod has unbound immediate PersistentVolumeClaims
pod is runnning but;
root@master1:~/rook/cluster/examples/kubernetes# kubectl describe pods wo

[2020-02-21 16:52] skriss commented on #2275
@nzncngz did you make the `hostPath` change that I linked to in this comment (https://github.com/vmware-tanzu/velero/issues/2275#issuecomment-587692843)?

[2020-02-21 16:53] bruce2409 commented on #2044
We run stateful websites on our cluster, it would be handy to be able to restore the deployments under new names for automating staging environment creation.

[2020-02-21 17:03] boxcee commented on #2286
Why not flag it as 'BackupInProgress' ?

[2020-02-21 17:07] nzncngz commented on #2275
I am using version https://rook.io/docs/rook/v1.2/ceph-quickstart.html.
I shared backup before and later files.
(https://github.com/vmware-tanzu/velero/files/4237179/information.docx)

[2020-02-21 17:18] nrb opened #2287 "Unify snapshotting options across CSI and Velero-native snapshots"
With CSI support, the `velero install --use-volume-snapshots` option is confusing, as it's not required. Velero's CSI support can work just fine without a VolumeSnapshotLocation.

Similarly, on a given backup, even if the backup is told not to generate new snapshots, Velero should capture any `VolumeSnapshot*` CRDs that already exist in the cluster.

As our CSI support matures, we need to unify ou

[2020-02-21 18:16] skriss commented on #2275
If you're using rancher, you need to do the rancher-specific steps in https://velero.io/docs/v1.2.0/restic/#instructions

[2020-02-21 18:45] skriss commented on #2286
I think it'd be useful to differentiate between "we're actively scraping the API to create this backup" vs. "we're waiting for the storage system to finish moving the snapshot data to durable storage" - more clear for users as to what's going on, and also likely makes some things easier on the back end (e.g. not blocking the backup controller queue if we're just waiting for snapshots to be ready).

[2020-02-21 21:44] nzncngz commented on #2275
I don't see any yaml set on velero v1.2.0 about restric.
root@master1:~# tar -zxvf velero-v1.2.0-linux-amd64.tar.gz
velero-v1.2.0-linux-amd64/LICENSE
velero-v1.2.0-linux-amd64/examples/README.md
velero-v1.2.0-linux-amd64/examples/minio
velero-v1.2.0-linux-amd64/examples/minio/00-minio-deployment.yaml
velero-v1.2.0-linux-amd64/examples/nginx-app
velero-v1.2.0-linux-amd64/examples/nginx-app/README.m

[2020-02-21 21:53] skriss commented on #2275
You definitely had the restic daemonset deployed as of your original comment, since there were restic backups created there.

If you reinstalled using `velero install`, you need to use the `--use-restic` flag. You can re-run the `velero install` command that you ran, with that flag, to add the restic DaemonSet.

I would strongly encourage you to spend some time reading the install + restic docs, a

[2020-02-21 22:48] nrb commented on #1799
CSI snapshots represent some of this via the [`ReadyToUse`](https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/apis/volumesnapshot/v1beta1/types.go#L135) flag, which more or less is left to the storage system's meaning of "ready." On AWS and GCP, it would mean pushing to object storage, and on Ceph or vSphere it would probably mean replication to different nodes then copying ou

[2020-02-22 09:35] billhoph commented on #2279
same here:
Waiting for resources to be ready in cluster...
Namespace/velero: attempting to create resource
Namespace/velero: created
ClusterRoleBinding/velero: attempting to create resource
ClusterRoleBinding/velero: already exists, proceeding
ClusterRoleBinding/velero: created
ServiceAccount/velero: attempting to create resource
ServiceAccount/velero: created
Secret/cloud-credentials: attempting

[2020-02-22 14:25] stalinbritto commented on #2279
Issue has been resolved, after delete namespace and reinstall velero.

On Fri, 21 Feb 2020, 8:59 pm Steve Kriss, <notifications@github.com> wrote:

[2020-02-22 14:26] stalinbritto commented on #2279
Hi,
Velero 1.0.0 is not working in after k8s 1.14 v
Velero 1.2.0 working latest k8s version

On Sat, 22 Feb 2020, 3:05 pm billhoph, <notifications@github.com> wrote:

[2020-02-22 17:37] a4nowgh opened #2289 "Restic index not deleting after Backup Job Deleted"
**What steps did you take and what happened:**
When the following command is issued:
velero backup delete <jobName>

The associated index (<bucketName>/restic/<Namespace>/index/<INDEX ID> does not get deleted in my S3 Compliant backup storage.

The associated snapshot (<bucketName>/restic/<Namespace>/snapshots/<SNAPSHOT ID> does get deleted OK.

**What did you expect to happen:**
The associated in

[2020-02-23 06:45] nzncngz commented on #2275
Hi,
Kubernetes OS rancher is not ubuntu 18.04.That's all I used rke for deployment.I don't sure installing velero and minio.
root@master1:~# cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.n

[2020-02-23 08:42] dsuievalov commented on #2212
@skriss sorry, I was not able to test it this week. I will do that on monday.

[2020-02-23 08:49] markrity commented on #2281
@skriss
I plan to debug it myself later, so lets close this issue for now :)

[2020-02-23 08:50] #2281 closed

[2020-02-23 09:24] izzie88 commented on #2245
Hello,

I got this resolved following the examples.

Many thanks for the assistance.

On Wed, 19 Feb 2020, 21:54 Steve Kriss, <notifications@github.com> wrote:

[2020-02-24 05:21] konvergence commented on #2237
@skriss , I plan to test this week

[2020-02-24 06:04] rohans-mehta commented on #2282
@skriss - Could you please provide detail steps for velero installation using helm command?
I have set the credential-velero file using path -  https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#create-service-principal  and https://github.com/helm/charts/tree/master/stable/velero (new repo - https://vmware-tanzu.github.io/helm-charts/ and helm chart - https://github.com/vmware-tanz

[2020-02-24 09:49] jaygridley opened #2290 "Add support for setting securityContext for restic restore action"
**Describe the problem/challenge you have**
We are using restic integration to restore data to our NFS volumes when restoring cluster. NFS volumes have root:root permission. When restic-restore-helper is injected into deployment, where securityContext is set to non-root user, restic does not have permission to the volume. For our deployment we fix this by running other init container that fixes th

[2020-02-24 11:09] boxcee commented on #2286
Hm, I am only concerned when it comes to using the `--wait` flag. From a user point of view I expect the backup to be finished when I explicitly add the `--wait` flag, but it isn't. The backup is not really 'Completed', only parts are.

Anyway, I am interested in finding a solution for this. Will spend some time looking into this.

[2020-02-24 11:59] boxcee commented on #2286
Ah, another thing I experienced, which is indirectly related.

When the storage quotas are reached and a backup and snapshots are being created the snapshots will silently fail.

Am trying to create a setup and test this further.

[2020-02-24 15:40] sseago commented on #1350
@skriss Circling back to this. I don't think it's an example of #964 since this applies to waiting for the creation of resources other than CRDs. The concern here is that AdditionalItems needed by the restore aren't necessarily ready when this item's restore is processed. For example, say you're restoring an ScheduledAppointment resource that requires the existence of the User first. Creating a Sc

[2020-02-24 15:45] skriss commented on #2279
@stalinbritto glad you got it working.

The error is likely because v1.0.0 used the `apps/v1beta1` group for the Deployment, which has since been removed from Kubernetes. We'd advise moving to the latest Velero version to keep up-to-date.

Closing this out as resolved.

[2020-02-24 15:45] #2279 closed

[2020-02-24 15:48] skriss commented on #2245
glad you got it working - closing this out as resolved.

[2020-02-24 15:48] #2245 closed

[2020-02-24 15:50] skriss commented on #2278
closing out as inactive. feel free to reach out again as needed.

[2020-02-24 15:50] #2278 closed

[2020-02-24 15:55] skriss commented on #2286
Possibly related to #2212 or #2255?

[2020-02-24 15:58] skriss commented on #2289
@a4nowgh Velero runs `restic prune` every `7d` by default, which will remove any unused blocks of data from the restic repo and I believe from the index as well.  We only run it once a week because it requires an exclusive repo lock, and can take some time depending on the repo size.

You can tune the frequency by modifying the `spec.maintenanceFrequency` on your `ResticRepository` resource, via `

[2020-02-24 19:07] #2249 closed

[2020-02-24 19:47] ashish-amarnath commented on #2282
@rohans-mehta
Can you please try using our new helm repo at https://vmware-tanzu.github.io/helm-charts/
This is where you will be able to find updates wrt helm3 migration.

Also, based on your description, it looks like you are not providing a credentials file
`--set-file credentials.secretContents.cloud=`
Can you please follow the steps here https://github.com/vmware-tanzu/velero-plugin-for-micro

[2020-02-24 20:07] ashish-amarnath commented on #2211
@KIVagant 👋 checking in to see if you had a chance to follow Steve's suggestions?

[2020-02-24 22:16] kivagant-ba commented on #2211
Sorry, my plate is full, I will eventually check this but cannot say when :(

[2020-02-25 05:48] nzncngz commented on #2275
Hi again,
All problems are resolved.
On below command running for Velero installing;
velero install --provider aws --bucket kubedemo --secret-file ./minio.credentials --backup-location-config region=minio,s3ForcePathStyle=true,s3Url=http://10.154.12.10:9000 --plugins velero/velero-plugin-for-aws:v1.0.0 --use-restic --wait

Thanks.

[2020-02-25 05:48] #2275 closed

[2020-02-25 08:04] nzncngz opened #2296 "velero full cluster and etcd backup or restore command"
Hi all,
1) Could you share the backup and restore commands for velero's etcd backup?

2) Could Velero get full cluster backup? If so, can you help with sample backup and restore command?

Thanks.

[2020-02-25 08:05] nzncngz commented on #2296
@

[2020-02-25 08:05] #2296 closed

[2020-02-25 12:30] a4nowgh commented on #2289
OK.  So I set the 'maintenanceFrequency' to 10 minutes temporarily for a quicker result resulting in the following:

kubectl -n velero describe resticrepository.velero.io <NAME>
Name:     <NAME>
Namespace:  velero
.........
Spec:
  Backup Storage Location: default
  Maintenance Frequency:  0h5m0s
  Restic Identifier: <RESTIC_IDENTIFIER>
  volume Namespace:  <NAMESPACE>
Status:
   Last Maintenance

[2020-02-25 13:46] a4nowgh commented on #2289
The above was test was performed with velero binary versions v1.2.0 and v1.3.0-beta.2 with the same end result.

[2020-02-25 15:22] esierrapena opened #2298 "Restore of velero+restic backup error "no space left on device""
**What steps did you take and what happened:**

I'm backing up a pvc with velero+restic, when i check the size inside the original pod that has attached that PVC i can see the following:

[code]

Then, the snapshot of that PVC is done and properly created (velero backup create migration-2-az-core --include-namespacesxxxxxx --include-resources=pods,pvc,pv,sts,serviceaccount,secret,configmap -l 'app

[2020-02-25 16:13] skriss commented on #2145
Another thought - we talked about and discarded the idea of importing `VolumeSnapshots` into the cluster as part of the backup sync controller's processing, mainly because these are namespaced resources and that might require creating workload namespaces in the cluster, which would be weird. However - should we consider syncing `VolumeSnapshotContents` into the cluster (which are cluster-scoped)?

[2020-02-25 17:46] skriss commented on #1981
We haven't seen this, at least not with pods managed by replicasets/deployments. Per my comment (https://github.com/vmware-tanzu/velero/issues/1981#issuecomment-544709044), during a restic restore, we first restore the pod & trigger a restic restore, then restore the owning replicaset and deployment. The pod is successfully "adopted" by the replicaset, since the pod's spec matches the pod template

[2020-02-25 20:06] carlisia opened #2300 "Velero behavior when multiple clusters in multiple kubeconfig files"
**Describe the problem/challenge you have**
When having multiple clusters with their configs spread into separate `.kube/config_xxx` files, it seems Velero will use the cluster that was last loaded, which might not be the one the user wants. See the loading order in the log output below.

The cluster where Velero was running was the `kind-config-development` cluster, which was also the set context

[2020-02-25 20:21] skriss commented on #2300
sounds similar to #2097, but haven't dug in deeply so may be different but related.

[2020-02-25 20:26] carlisia commented on #2300
It looks exactly the same to me.

The separate config files might be loaded in different order (and maybe cached?) so that might be an explanation in that issue for the same scenario working in one case but not the other.

I'll close this!

[2020-02-25 20:26] #2300 closed

[2020-02-25 22:33] dharmab opened #2301 "Azure blob storage backups fail due to RequestBodyTooLarge Error"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

When running backups to Azure blob storage from a large cluster, the backup fails with the following error:

[code]

**What did you expect to happen:**

Backups should succeed

**The output of the following commands will help us better understand what's going on**:
(Past

[2020-02-25 22:39] skriss commented on #2301
thanks for reporting @dharmab  - I'm going to transfer this to the Azure plugin repo.

[2020-02-25 23:24] mithuns commented on #317
Just out of curiosity , is this on some roadmap or planned yet ?

[2020-02-26 00:43] ashish-amarnath commented on #2298
@esierrapena Thank you for opening this issue.
Can you please share the logs from the velero pod?
Also, how easy is this to repro, if this is easy to repro, can you please share w/ us how this issue can be repro'd?

[2020-02-26 08:20] azuregurus commented on #2272
Problem was with the velero install --secret-file parameter. It created Kubernetes secret with some weird characters and formatting although the file I used had correct content and was plain text. I fixed it by copying the content of the file to some web site which does text to base64 conversion and then I updated the content of the secret using Kubernetes admin portal. I'd say this is a bug. At l

[2020-02-26 09:10] esierrapena commented on #2298
It always happens with the following scenario:

- Kubernetes cluster deployed in AWS
- Restic and velero version 1.1.0
- Backup storage location: s3, us-east-1

Find the logs here: [https://pastebin.com/654CefjH]

These are the steps that i've perfomed to this situation:

1. Deploy restic (velero already deployed):

[code]

2. Annotate pods with attached volumes to be copied:

`kubectl -n ${namesp

[2020-02-26 10:07] esierrapena commented on #2298
Same result updating the version to 1.2.0

[2020-02-26 14:23] dsuievalov commented on #2212
@skriss Thank you very much for the extra debugging message, it helps to find the actual issue. Here is a velero log from gcloud for failed snapshot:

[code]

And the detail information about snapshot creation operation:

[code]

So the snapshot was not created because of gcloud internal issue. Since I have scaled all the pods in the namespace (and wait until all of them will be terminated) before

[2020-02-26 15:33] jpfe-tid commented on #2298
Hi,

After an investigation, here is what I found:

`du` by default only shows physical size of each file. You can use `--apparent-size` to get the logical size.

In your example, it is due to [sparse files](https://en.wikipedia.org/wiki/Sparse_file) managed by Kafka. On each topic partition there are two of these files at least:

- *.timeindex
- *.index

Both files are defined by the property [`s

[2020-02-26 15:42] jpfe-tid commented on #2298
Adding this discussion about sparse file support from Restic forum to the thread.

https://forum.restic.net/t/sparse-file-support/1264/

[2020-02-26 16:15] jpfe-tid commented on #2298
From Restic repository:

- Adding the feature request for backing up / restoring sparse files:

  https://github.com/restic/restic/issues/79

- Adding the pull request were support is being added:

  https://github.com/restic/restic/pull/2378

[2020-02-26 17:36] skriss commented on #317
@mithuns it is not currently prioritized. If you're interested in this feature, could you provide some more information on your use case? Thanks!

[2020-02-26 17:41] esierrapena commented on #2298
Thanks @jpfe-tid, you were spot on!

[2020-02-26 17:41] skriss commented on #2241
xref https://github.com/vmware-tanzu/velero/pull/2244#issuecomment-591446887

@jenting - any ideas on why @a4nowgh is still getting this error with `v1.3.0-beta.2`? I'm not sure off the top of my head. I'm going to try to reproduce as well.

[2020-02-26 17:50] ashish-amarnath commented on #2298
Thanks @jpfe-tid for the investigation here!
@esierrapena I think we can close this issue.
Feel free to re-open if you need more help.

[2020-02-26 17:50] #2298 closed

[2020-02-26 18:01] skriss commented on #2241
@a4nowgh did you also update your restic daemonset to use the `beta.2` image?  `kubectl -n velero set image daemonset/restic restic=velero/velero:v1.3.0-beta.2` would do that, if not.

FWIW, I was *not* able to reproduce this using `beta.2`.

[2020-02-26 19:18] mithuns commented on #317
So, as described above by @karlkfi  and @stanislavb , there are multiple cases where auto-provisioned pv is hard to exclude or be applied velero exclude label.
In my use-case , my application is just such in nature that the pv created is never really needed to be backed up, (the entire cluster state needs to be backedup in a timely way)
Thus, I had to create a kubernetes operator just to look for

[2020-02-26 19:23] ashish-amarnath commented on #2289
@a4nowgh looks like the `prune` command is unable to run successfully.
[code]
I am not sure if your restic repository is corrupted. Can you please try to run `restic check` to confirm.

If you are able to easily repro this, can you please share how so that I can look into what might be happening?

[2020-02-26 19:49] skriss commented on #2272
@azuregurus i'm guessing you don't have the old secret around that `velero install` created anymore, but if you do (or could recreate it), I'd be curious to see if (a) it's base64-decodable; and (b) if so, if you can identify the diff between what was in the secret and what was in the file. Our code around this is really straightforward - read the contents of the file and put them directly into th

[2020-02-26 20:17] jenting commented on #2241
From the log, my first idea is the container image is not `v1.3.0-beta.2`.

@a4nowgh, have you follow the [v1.3.0-beta.2 release note](https://github.com/vmware-tanzu/velero/releases/tag/v1.3.0-beta.2) on upgrading the velero and restic container image?

[2020-02-26 22:01] nrb commented on #1350
Revisiting this, I think while they're generally the same problem (race conditions waiting for something to be ready), this is waiting at a different point in the code - namely for arbitrary AdditionalItems like Scott pointed out, not just CRDs.

I still think designing some sort of mechanism in to say that there needs to be a readiness check on the returned AdditionalItems makes sense. Very rough

[2020-02-26 22:17] #1566 closed

[2020-02-26 22:17] #2139 closed

[2020-02-26 22:51] ashish-amarnath commented on #1655
Implementing a credential provider as a plugin seems to be the right solution to this problem. However that will require a major revamp of our plugin framework. Requiring the the storage/ volumesnapshot plugins to talk to the credential provider plugin. This revamp will take a longer time to have a solution to this problem.
Based on the discussions with @nrb and others, we might be better of keepi

[2020-02-27 01:48] sseago commented on #1350
This makes sense. I think you almost have to do this via the plugin itself, since there's no way for Velero to know how to determine whether some arbitrary resource is ready, especially considering that the resource in question may have custom actions taken on it in a plugin. One consequence of this is you may have a situation where a plugin is returning AdditionalItems of a resource type that doe

[2020-02-27 04:50] winmillwill commented on #1624
Thanks for the script @stevegore -- I had to make some changes to get it to work for me, but knowing that it must have worked for you helped me persevere. Most notably, it seems like your version doesn't copy the gzipped volumesnapshots.json back to the bucket.

Everything else is just appeasing shellcheck, using bash "strict mode", and making the `sed -i` portable so it works on mac.

[code]

[2020-02-27 07:05] jenting commented on #2277
@skriss I think it would be nice to describe GC controller run once per hour in the document, WDYT?

[2020-02-27 08:06] jenting commented on #2289
To me, I encounter the issue when fetch the blob config. Should I set up the Azure blob container to public?

[code]

[2020-02-27 08:58] guilledipa opened #2303 ""Error getting backup store for this location""
**What steps did you take and what happened:**

Note: I'm deploying Velero in a GKE private cluster.  Images for velero and velero-plugin-for-gcp have been copied over to the internal GCR repo. We're also using WorkloadIdentity.

[code]

Results in the following error, and the server halts:

[code]

More details:

[code]

**What did you expect to happen:**
Velero up and running ready to receive ot

[2020-02-27 11:48] a4nowgh commented on #2241
Upgrading the restic container image, in additional to the velero container image, resolved my issue.  Thanks very much for the quick response!

[2020-02-27 11:48] aceeric opened #2304 "Question regarinding SSL and custom CAs"
Folks, I've seen a couple discussion threads regarding velero/restic against an S3 provider that requires SSL with custom a CA, and therefore needing to override the default system CA. This is our use case. We use rook-ceph as  our S3 provider and we have a custom CA that is a corporate resource. We configure rook-ceph to provide a cert that is validated by this CA.

Based on this documentation --

[2020-02-27 15:22] skriss commented on #2277
Agree, it'd be nice to document somewhere.

[2020-02-27 15:33] skriss commented on #2211
:+1: I think we'll close this one out -- feel free to reach out again as needed, thanks!

[2020-02-27 15:33] #2211 closed

[2020-02-27 16:40] nrb commented on #2145
Given #2302, I think it might make sense to do that now.

It probably also makes sense to look for the associated `Backup` and/or `VolumeSnapshotContents` when creating a `VolumeSnapshot` on restore and skip restoring if it doesn't exist.

[2020-02-27 19:18] #2142 closed

[2020-02-27 19:25] ashish-amarnath commented on #2303
Looks like the velero-plugin-for-gcp was not registered or available for velero to call into. To troubleshoot further, can you please share:
- Deployment of velero, specifically output of
`kubectl -n velero get deploy velero -ojson | jq .spec.template.spec.initContainers`
if `jq` is not available, then
`kubectl -n velero get deploy velero -oyaml`

- Contents of the plugins directory in the velero

[2020-02-27 19:30] ashish-amarnath commented on #2304
Not the same, but kinda related to https://github.com/vmware-tanzu/velero/pull/2259 and therefore https://github.com/vmware-tanzu/velero/issues/1027

[2020-02-27 19:42] ashish-amarnath commented on #2304
This seems like an acceptable solution short term. However, the issue I see with this approach is that, by setting the `SSL_CERT_FILE` environment variable, we will be forcing this ca cert to be used for all ssl connections. This can become a problem if you are trying to connect to multiple endpoints which may not recognize the corporate ca cert. This also applies to the other velero plugins that

[2020-02-27 19:59] ashish-amarnath commented on #1655
The other approach may be to delegate the credential management to each of the plugins. This would couple credential management with the plugins that may use it. It will also give each individual plugins the ability to support their own credential management at their own pace and flexibility in their implementation.
IMO, this approach is a nice middle ground between having an out of band credentia

[2020-02-27 21:01] nrb commented on #1655
Which plugin types? ObjectStore and VolumeSnapshotter?

[2020-02-27 22:26] guilledipa commented on #2303
`kubectl -n velero get deploy velero -ojson | jq .spec.template.spec.initContainers`

[code]

For the contents of `/plugins` With the procedure described above, the pod is in `CrashLoopBackOff` state. I applied the "workaround" suggested in "Anything else you would like to add" section in order to have a running Pod. Here the results:

[code]

[2020-02-27 22:29] guilledipa commented on #2303
Here the requested data:

[code]

For the contents of `/plugins` because the pod is in `CrashLoopBackOff` state, I applied the "workaround" suggested in "Anything else you would like to add" section in order to have a running Pod. Here the results:

[code]

[2020-02-27 22:37] ashish-amarnath commented on #2303
As I suspected, the plugins directory is empty. That is the reason velero is not able to discover these plugins resulting in the `unable to locate ObjectStore plugin named velero.io/gcp` error.
Is `gcr.io/foo/velero-plugin-for-gcp:v1.0.0` an image you build? And can you please confirm if you are  using this [Dockerfile](https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/master/Dockerfile)

[2020-02-27 23:47] stevegore commented on #1624
Looks like I made some mistakes in trying to make my script "GitHub ready" :). Regardless yours is way better - thank you!

[2020-02-28 00:50] guilledipa commented on #2303
`gcr.io/foo/velero-plugin-for-gcp:v1.0.0` is just a copy of `velero/velero-plugin-for-gcp:v1.0.0` pushed into our own GCR :

[code]

I'll verify the health of these images and report back

Thanks very much!

[2020-02-28 02:00] guilledipa commented on #2303
The plugin image look correct to me:

[code]

Now, looking at the velero-plugin-for-gcp [Dockerfile](https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/master/Dockerfile), I see that in the last layer we do:
`ENTRYPOINT ["/bin/bash", "-c", "cp /plugins/* /target/."]`

So, the `initContainer` is basically moving all within `/plugins/*` to `target/` which is a mountpoint declared in the init

[2020-02-28 03:02] guilledipa commented on #2303
Sorry, I see that in the velero container, we're mounting the volume name `plugins` in `/plugins`

That said, the `/plugins` directory is still empty

[2020-02-28 04:17] guilledipa commented on #2303
We had a broken image in GCR and even though we pushed new ones (healthy), the deployment wasn't pulling the latest ones. I made the following change:

[code]

At the moment the velero pod starts up correctly, however, it sits at this point indefinitely:

[code]

[2020-02-28 04:18] guilledipa commented on #2303
Given that we're using Workload Identity, might this be related?

[2020-02-28 17:03] ashish-amarnath commented on #2303
I am not familiar with how workload identity works.
At this point, velero is trying to connect to the backup storage locations as part of validation.
The reason for no progress could be because the backup storage location my be taking too long to respond or it may be stuck in the process of fetching credentials, if that's what workload identity does.

[2020-02-28 17:34] ashish-amarnath commented on #2304
@aceeric I am going to mark this question as answered and close this out.
Feel free to reach out if we can help out further!

[2020-02-28 17:34] #2304 closed

[2020-02-28 17:36] ashish-amarnath commented on #2282
@rohans-mehta Checking in to see if you were able to troubleshoot your installation?

[2020-02-28 18:49] skriss commented on #2171
xref #1653 - potentially solved by worker pods

[2020-02-28 19:24] sseago commented on #1981
From what I've seen with DeploymentConfigs they don't *always* trigger new pods, but sometimes they do. I believe they actually do (initially) adopt the pod, as expected, but if there's a ConfigChange trigger registered, then the restore event will sometimes trigger that if the restore process looks like a configuration change. Most of my experience here is in restoring resources to a different cl