[2018-10-11 17:29] skriss commented on #898
I would not expect this to change frequently, no.

In the absence of a server default, I assume we'd just require that users explicitly specify a location when creating a Backup?

[2018-10-11 17:32] ncdc commented on #898
Yes, if there is no default, the backup should probably end up with a validation error that there is no default and the user didn't specify a location.

[2018-10-11 18:20] splisson-altair commented on #924
I updated metrics-server to version 0.3.1
Then I : kubectl delete  -f examples/aws/10-deployment.yaml
Ark was missing its custom resource definitions so I applied examples/common/00-prereqs.yaml
then redeployed ark: kubectl apply  -f examples/aws/10-deployment.yaml
and it works fine!
I verified, I had applied the prereq before getting the issue.

[2018-10-11 18:20] #924 closed

[2018-10-11 18:22] wwitzel3 commented on #765
The problem is that in GKE, when using a regional volume we get two labels:

    failure-domain.beta.kubernetes.io/region: us-central1
    failure-domain.beta.kubernetes.io/zone: us-central1-b__us-central1-c

Ark looks for `failure-domain.beta.kubernetes.io/zone` and passes that along to the [disks.createSnapshot](https://cloud.google.com/compute/docs/reference/rest/v1/disks/createSnapshot) API ca

[2018-10-11 18:29] wwitzel3 commented on #765
So I'm thinking then, we could leave the plugin interface as it, and just special case this in the gcp plugin, checking the incoming volumeAZ for `__`. 👍

[2018-10-11 18:29] ncdc commented on #765
Most definitely - this is quite GCP specific

[2018-10-11 18:32] ncdc commented on #765
Also worth mentioning that regional disks in GCP are beta at this time

[2018-10-11 18:44] ffd2subroutine commented on #109
@ncdc this just means setting them in Config func https://github.com/heptio/ark/blob/master/pkg/client/client.go#L33 or even after calling it here https://github.com/heptio/ark/blob/master/pkg/cmd/server/server.go#L191 or ?

[2018-10-11 18:46] ncdc commented on #109
@ffd2subroutine I think we'd want it to be configurable for the `ark server` command, using flags, with more sensible defaults (5 and 10 probably are a bit low). I think it would be ok to apply the values after the config is created in server.go.

[2018-10-11 18:53] ffd2subroutine commented on #109
@ncdc okay thanks

[2018-10-11 19:19] ncdc commented on #487
I had a thought about how to implement this.

Each ark server process is assigned a unique identifier - the name of the pod (we can get the value using the downward API and pass it to `ark server` as a flag).

Each controller worker is also assigned a unique identifier.

When a new item (backup, restore) is processed by a controller, the first thing the controller attempts to do is set `status.ark

[2018-10-11 19:40] shubheksha commented on #594
I'd like to pick this up! @ncdc, can I get some more info to get started on it?

[2018-10-11 19:43] ncdc commented on #594
@shubheksha sure! We have default restore priorities here: https://github.com/heptio/ark/blob/d7dfffa37358584d66e2d433cd79c7b8f2f43f4e/pkg/cmd/server/server.go#L456-L475. Need to insert storageclasses in the right place and test it.

[2018-10-11 19:45] #329 closed

[2018-10-11 20:06] ncdc opened #929 "Ability to specify which volumes to snapshot (or not)"
**Describe the solution you'd like**
The `--snapshot-volumes` flag only enables or disables the snapshots, but I want to specify which ones to snapshot.

**Anything else you would like to add:**
There are some persistent volumes we stand up like RabbitMQ and Redis which we are interested in doing a configuration backup but are not interested in snapshotting those volumes because the data in those

[2018-10-11 20:47] shubheksha opened #931 "Docs about running Ark locally using Minikube"
It'd be useful to have information regarding running Ark locally for those contributors who don't have the option of testing/running using cloud providers.

[2018-10-11 20:48] shubheksha commented on #931
Relevant info to include in #867

[2018-10-11 20:50] ncdc commented on #931
I don't have time right now to do a PR for it, but this is what I usually do:

1. Install minikube
1. Apply all the relevant example yaml (prereqs, minio but not an ark deployment)
1. Edit the minio service and change its type to `NodePort`
1. Edit the ark configuration that points to minio so it uses the NodePort (you can get this info from `minikube service list` iirc)
1. Compile ark
1. Run `ark

[2018-10-11 21:04] skriss commented on #917
Responded on google group.

[2018-10-11 21:04] #917 closed

[2018-10-11 21:07] skriss commented on #858
Closing this issue for now but feel free to reopen if needed.

[2018-10-11 21:07] #858 closed

[2018-10-11 21:14] skriss commented on #863
Tim thinks it might be a bad idea to use etcd to store this kind of information.  I guess there's no real reason, at least for right now, that these need to be stored as custom resources.  We could exclusively store them as JSON in a file in object storage, and just download them as needed to do restores.

We will need to think about implications for replication, since we were planning to use this

[2018-10-11 21:18] ncdc commented on #863
I had a feeling he would recommend against etcd. When you have time, could you do a bit more of a walkthrough into how it would have worked with a CRD, and what is missing that we have to rework if it's not?

[2018-10-12 02:45] skriss commented on #863
For v0.10, switching to just storing this info as JSON in object storage is pretty simple.  We weren't actually planning to use the CRD to drive any processing, it was just an in-cluster record of the snapshots that existed, and the JSON representation of them is getting uploaded to object storage anyway.  I think we'd remove the CRD, just define a basic go struct to represent them, then serialize

[2018-10-12 08:03] dipak-pawar opened #932 "Failed to backup volume mounted as local using restic"
**What steps did you take and what happened:**
* `minishift start`
* `git clone https://github.com/heptio/ark`
* `git checkout v0.9.7`
* `oc create -f examples/common/00-prereqs.yaml`
* `oc create -f examples/minio/`
* `oc create -f `https://git.io/fx874
* `oc -n nginx-example annotate pod/nginx-deployment-77d8f78fcb-c8qjr backup.ark.heptio.com/backup-volumes=nginx-logs`
* `ark backup create nginx

[2018-10-12 11:39] sachinar commented on #916
@nrb We are having near about 6GB of data in volumes for restore.

[2018-10-12 15:04] skriss opened #934 "remove all references to CLI reference docs from documentation"
We got rid of the generated CLI docs in #798.  We still have a few references to them in our documentation though, that are now broken links (searching for `cli-reference` should surface them all).  These should be removed and updated with references to the appropriate `--help` commands.

[2018-10-12 15:53] skriss commented on #317
xref #929

[2018-10-12 15:55] skriss commented on #354
this was fixed by #712, closing.

[2018-10-12 15:55] #354 closed

[2018-10-12 16:03] skriss commented on #499
@ncdc I believe we can do this now?  Should just be a matter of changing https://github.com/heptio/ark/blob/master/pkg/discovery/helper.go#L104 to use https://github.com/kubernetes/client-go/blob/master/restmapper/shortcut.go#L40, correct?

[2018-10-12 16:08] ncdc commented on #499
@skriss yes, I think so, but I want to lock down #596 first

[2018-10-12 17:32] ncdc commented on #932
@dipak-pawar I'm fairly certain that the dynamic provisioner that Minishift uses is hostPath-based. If this is the case, that is why this isn't working. We don't support hostPath volumes for restic snapshots, as that would require us to bind mount the entire root filesystem of the node into the Ark pod. We feel this is a potential security issue, and are trying to err on the side of caution.

We'l

[2018-10-12 17:40] skriss commented on #807
@carlisia have you made any progress on this?  Some of it is going to need to change based on the discussion we just had so just trying to get a sense of where it is.  Happy to help out if needed.

[2018-10-12 17:40] skriss commented on #808
@wwitzel3 have you made any progress on this?  Some of it is going to need to change based on the discussion we just had so just trying to get a sense of where it is.  Happy to help out if needed.

[2018-10-12 18:09] #925 closed

[2018-10-12 18:10] #225 closed

[2018-10-12 19:17] wwitzel3 commented on #808
Yeah, so based on what we talked about for #863, should I rebase this off #922?

[2018-10-12 19:21] skriss commented on #808
Yes, you'll want to use the BackupStore's `GetBackupVolumeSnapshots` to get the snapshot & location info.

[2018-10-12 19:21] wwitzel3 commented on #765
Should we add a `volumeRegion` (along side `volumeAZ`) to the BlockStore interface methods? As of now, GCP would be the only provider to use that field, so it seems like the wrong way to go.

I keep writing stuff and then just deleting. I can just pick an approach, put up the PR, and let people digest it and see if we want to change it.

[2018-10-12 19:32] ncdc commented on #863
Recording what we discussed earlier today for posterity: 👍 to proceed with this approach (don't store volume snapshot data as CRs).

[2018-10-12 19:34] #898 closed

[2018-10-14 10:59] kanav99 commented on #886
Can I take up this issue?

[2018-10-14 23:57] carlisia commented on #886
Hi @kanav99. We might be changing the way we do documentation soon. If you'd still like to make this improvement, it would be nice. I'm assigning it to me to signal that it is taken.

[2018-10-15 09:16] kanav99 commented on #886
Yeah I still want to fix this. I will make a PR soon.

[2018-10-15 18:30] #934 closed

[2018-10-15 22:13] carlisia commented on #863
I'm pretty sure this can be closed, right? @skriss

[2018-10-16 02:02] fumanne commented on #727
@ncdc  whether the ark have supported native Ceph/Rook snapshot now?

[2018-10-16 13:12] ncdc commented on #727
No, we still only include out of the box support for AWS, GCP, Azure, and restic.

[2018-10-16 14:48] bashofmann opened #939 "Invalid restic repo prefix when using custom object store plugin"
**What steps did you take and what happened:**
When you have a custom object store plugin configured, the `getRepoPrefix` (https://github.com/heptio/ark/blob/master/pkg/restic/config.go#L43-L79)  method returns an invalid restic repo string and there is no way to configure ark in a way to get a valid one because `prefix` will remain empty.

This results in the following error message when creating

[2018-10-16 15:06] ncdc commented on #939
@bashofmann thanks for the report! What kind of object store plugin are you using?

[2018-10-16 15:16] bashofmann commented on #939
Basically the s3 object store but with a different signer because of https://github.com/heptio/ark/issues/811.

A potential patch for this could be

[code]

[2018-10-16 15:18] ncdc commented on #939
Ok thanks for the info. Another possible option would be to add a method to the BlockStore plugin interface to allow it to return this information. But if your proposed patch works for you, we could certainly start there.

@skriss wdyt?

[2018-10-16 15:34] nrb commented on #886
Thanks @kanav99! For what it's worth, I think the fix for this will actually work with the plan for our docs site. Right now we have a generators that produce the Jekyll content for a particular version in the `gh-pages` branch. However, we'll be moving to having the Jekyll content directly in `docs`, as I understand it.

The timeline on that isn't clear yet, so thanks for tackling this!

[2018-10-16 16:21] NeilW opened #940 "Ark support for Swift backend protocol"
**Describe the solution you'd like**
Can Ark use restic to talk to Swift backend like the ones provided with Openstack? If not what would be required to get it working?

**Anything else you would like to add:**
restic can talk to Swift repos, but at first glance there doesn't appear to be anyway to get Ark to use them. It seems to like to talk S3.

[2018-10-16 17:39] nrb commented on #932
If I'm reading https://docs.okd.io/latest/minishift/using/basic-usage.html#persistent-volumes and https://github.com/kubernetes/minikube/blob/master/docs/persistent_volumes.md correctly, it looks like Minishift is using hostPath volumes.

[2018-10-16 19:36] captjt opened #941 "When creating a new schedule include cluster resources is not getting set"
**What steps did you take and what happened:**

Create a new schedule named "daily" to include cluster resource -- output the YAML to `daily.yaml`.

[code]

Notice that `includeClusterResources:` is set to `null` still.

[code]

**What did you expect to happen:**

It should have set the `includeClusterResources` to `true`.

**Environment:**

- Ark version (use `ark version`):  `v0.9.6`
- Kubernete

[2018-10-16 20:01] nrb commented on #941
PR was merged, closing out issue.

[2018-10-16 20:01] #941 closed

[2018-10-16 21:13] nrb commented on #940
Hi @NeilW,

I think Ark's restic support could back up to Swift if an S3 API layer was used. Right now, our Restic support uses the credentials for providers like S3 (and compatibility layers), GCP, and Azure inserted via the restic DaemonSet. See https://github.com/heptio/ark/blob/master/examples/aws/20-restic-daemonset.yaml, for example.

To use Swift natively, I *think* if there was a DaemonSet

[2018-10-17 12:31] bashofmann commented on #939
Tested it and the above patch with configuring the full restic location (`s3:https:/.../bucket`) works for us.

[2018-10-17 14:21] rosskukulinski commented on #691
Updated milestone to reflect that #826 is likely to land in 0.10.0

[2018-10-17 14:29] #863 closed

[2018-10-17 14:29] #921 closed

[2018-10-17 15:37] skriss opened #945 "restore controller: remove code that checks backup storage directly for a backup"
If the restore controller can't find the requested backup in the Kube API, it checks backup storage directly.  This was implemented primarily for the scenario where Cluster B was importing backups from Cluster A, and Cluster B hadn't run a sync loop since the desired backup was taken in Cluster A.

With the sync controller changes in #825, the sync process now runs every minute.  The issue describ

[2018-10-17 16:00] ncdc commented on #945
👍

[2018-10-17 20:32] skriss opened #950 "[v0.10] backups without a volumesnapshots.json.gz file fail to delete"
The backup deletion controller looks for the volumenapshots.json.gz file in backup storage as part of the deletion process.  If it's not found, an error is returned from the cloud provider object store.  This is bubbled all the way up to the controller and causes deletions to fail.

I'm guessing there may be a similar issue for at least restores.

We need to differentiate between "not found" and a

[2018-10-18 14:05] #950 closed

[2018-10-18 14:38] skriss opened #952 "Update install docs to use `velero install` instead of in-tree YAML"
The install docs for our various supported platforms sometimes differ from each other for no apparent reason.  For example, for Azure we `kubectl apply` the entire example folder, whereas for GCP we don't.

Additionally, we have a legacy numbering scheme on our YAML files that probably isn't necessary anymore and may just lead to confusion/annoyance.  Look at possibly removing that.

cc @carlisia

[2018-10-18 14:47] #197 closed

[2018-10-18 14:47] #809 closed

[2018-10-18 18:28] fersingb opened #957 "Make it possible to skip restic backup/restore"
**Describe the solution you'd like**
I have set up ark to use restic and it works well. But sometimes I'd like to not backup all the data, only the cluster state. In this case it would be nice to have a flag to disable restic.

The same applies for the restore phase. If I have a backup that has a corresponding restic snaphot, I'd like to be able to ignore that snapshot and restore only the cluster

[2018-10-18 18:53] carlisia opened #958 "Test 0.10 on AWS"
v 0.10

Basic functionality
- [ ] Basic install doc/example instructions all good
- [ ] Setup multiple backup storage locations and test
- [ ] backup, restore, delete, schedule

Cross-cluster scenarios
- [ ] backup in Cluster A, restore into Cluster B

Upgrade from 0.9.x to 0.10:
- [ ] Install v 0.9.8
- [ ] take a bunch of backups
- [ ] Upgrade to v 0.10
- [ ] Config multiple backup storage locati

[2018-10-18 19:25] carlisia opened #959 "Remove naked returns"
https://github.com/heptio/ark/blob/17b3a3b0730a23e1903663a21efb511ac4e1f95f/pkg/controller/restore_controller.go#L491

The return values for this function should be changed to not be naked returns.

[2018-10-18 19:40] Atul9 commented on #959
@carlisia I have opened up a PR for this https://github.com/heptio/ark/pull/960

[2018-10-18 20:11] nrb opened #961 "Address Config CRD removal in v0.9 -> v0.10 upgrade"
**What steps did you take and what happened:**

#949 removed the Config CRD and relevant documentation, but we don't have upgrade documentation relevant to those yet.

**What did you expect to happen:**

We should have set of instructions or small scripts to help users move from a `Config` in their v0.9.x install to a set of `BackupStorageLocation`s, `VolumeStorageLocation`s, and command line flag

[2018-10-18 20:41] nrb commented on #669
@kmova That would be great!

[2018-10-18 20:44] nrb commented on #727
@fumanne We'll keep https://heptio.github.io/ark/v0.9.0/support-matrix up-to-date with natively supported options, as well as links to plugins that we know about. For now, as @ncdc said, restic is probably your best option.

[2018-10-19 02:00] skriss commented on #961
@nrb I thought we decided we wanted users to explicitly set these up when upgrading rather than automating it in some way.  I think the setup instructions + examples adequately cover how to set them up?

[2018-10-19 13:55] ncdc opened #964 "Wait for CRDs to be ready when restoring"
Split out from #424

@skriss:

[code]

@ncdc:

[2018-10-19 13:55] #424 closed

[2018-10-19 14:18] mwieczorek opened #965 "Enable setting metadata.ownerReference in RestoreItemAction plugin"
**Describe the solution you'd like**
I'd like to backup/restore resources related to [service catalog](https://github.com/kubernetes-incubator/service-catalog).
When you create ServiceBinding (CRD from service catalog) there's also created a secret with ownerReference set to that ServiceBinding.

When I restore the secret on another cluster the ownerReference is deleted ( [code](https://github.com

[2018-10-19 14:20] ncdc commented on #965
If we move the execution of the restore item actions first, before resetting metadata, that would do what you need, wouldn't it?

[2018-10-19 14:32] mwieczorek commented on #965
In such case I have access to the original object, but even if I change the uid in ownerReference than it will be deleted in resetMetadata step.

[2018-10-19 14:33] skriss opened #966 "[v0.10] support restoring backups w/snapshots taken prior to v0.10"
Prior to v0.10, Ark backups store metadata about PV snapshots as a map in their status (`.status.volumeBackups`).  A/o v0.10, this information is moving into a JSON file that gets stored in object storage (see #922).  As part of this, the JSON file will store the `VolumeSnapshotLocation` where the snapshot is stored.  This raises an issue around how v0.10 will restore backups taken prior to v0.10

[2018-10-19 14:36] #808 closed

[2018-10-19 14:44] ncdc commented on #965
Right. It's times like this when having all the objects in memory at the same time, prior to restoration, would be useful. But Ark isn't currently set up that way, so the options I can think of are:

1. Run restore item actions, then reset metadata (don't strip ownerReferences)
1. Reset metadata, then run restore item actions (modify interface as you suggested, to include original object's state t

[2018-10-19 14:47] ncdc commented on #966
and stop filling it in for 0.10 and later, right?

What is the behavior if there are 2 or more VSLs?

[2018-10-19 14:51] skriss commented on #966
Correct, stop filling it in (hence read-only)

I'd probably lean towards having the restore fail validation if there's >1 VSL -- fail fast.

[2018-10-19 14:52] ncdc commented on #966
👍

[2018-10-19 15:15] nrb commented on #965
#3 seems like the biggest change, but might also help with things like https://github.com/heptio/ark/issues/314. Both of these issues want to create something additional to the item currently being processed, though this one is creating a new item vs getting another out of the backup.

I think we've briefly discussed a 2 pass system before, but not in detail. I think I'm in favor of brainstorming

[2018-10-19 15:43] nrb commented on #961
I think you're right. Let me review the upgrade doc you wrote again. I know you had a section for the layout of the object storage.

[2018-10-19 16:10] nrb commented on #966
Also :+1:

[2018-10-19 16:16] mwieczorek commented on #965
Option 1 can cause deletion of restored object if there will be no plugin for the restore action.
Option 2 will be sufficient for me because I can set the prioryty of restore in config and it will works
Option 3 - the easiest one for users especially if there will be a generic plugin for updating uids. but also in theory there can be a cyclic  dependency.

[2018-10-19 16:22] wwitzel3 commented on #966
👍

[2018-10-19 16:34] carlisia commented on #961
I didn't think automating this would be required. When I get to testing upgrading I'd be glad to write additional instructions to this tix if I think what's there is not clear enough.

[2018-10-19 17:03] #959 closed

[2018-10-19 17:08] carlisia opened #967 "Create a struct for multiple returns of the same type"
To address this: https://github.com/heptio/ark/pull/960#discussion_r226715972

[2018-10-19 17:37] carlisia commented on #966
👍

[2018-10-19 17:50] carlisia commented on #965
Before I read @nrb's response I was thinking option 3 would be more flexible in the long term. I agree with what @nrb, we should at least brainstorm it. So, my opinion: either brainstorm option 3 and see if it's worth implementing, or implement option 2 and add option 3 to the backlog for later.

[2018-10-19 19:15] mwieczorek commented on #965
One more thing: option 3 will override restore priority set in config. So in case of option 3 maybe it should be an opt-in?

[2018-10-19 22:35] carlisia commented on #952
Good point. This ticket could be the organization phase of moving towards an install.

[2018-10-20 10:07] ManavpreetSingh opened #968 "Grammatical error in Readme file"

[2018-10-20 18:50] skriss commented on #968
Closed by #969

[2018-10-20 18:50] #968 closed

[2018-10-21 16:15] ManavpreetSingh commented on #968
Respected sir,

At the time of events I didn't received the Hacktober Fest T-shirt. I
request you to please deliver at the address which was provided in the
submission of form.

Thank you.

On Sun, Oct 21, 2018, 12:20 AM Steve Kriss <notifications@github.com> wrote:

[2018-10-21 20:45] carlisia commented on #968
@ManavpreetSingh you will have to contact the organization responsible for the Hacktober Fest for any enquiry related to that event. Here you can find information about rules and how to contact them: https://hacktoberfest.digitalocean.com/details

[2018-10-22 10:25] tomplus commented on #961
I've just upgraded my instance to version 0.9.8 and I also noticed that you removed 'config' objects from docs. I wasn't aware that it's just planned to v0.10 so I removed the default config and created new `BackupStorageLocation`. Now I get

[code]

Is it ready to use?

[2018-10-22 13:29] ncdc commented on #961
@tomplus the `config` is still required in 0.9.x. `BackupStorageLocation` is new for 0.10.x only.

Here are the docs for the latest stable version (which is still 0.9.x): http://heptio.github.io/ark/

[2018-10-22 15:10] skriss opened #973 "[v0.10] update `ark backup describe` for the changes to volume snapshot info storage"
With #922, information about volume snapshots is no longer stored as part of the Backup CRD.  The `ark backup describe` command used to display this information directly from the status.  It needs to be updated to work with the new design.  My proposal:

- [ ] add 2 new fields to `Backup`'s status, `VolumeSnapshotsAttempted` and `VolumeSnapshotsSucceeded`
- [ ] by default, `ark backup describe` wi

[2018-10-22 15:12] ncdc commented on #973
It all seems reasonable to me. I wonder if people will notice and understand the `--details` flag?

[2018-10-22 15:14] skriss commented on #973
Currently the output of the describer if `--volume-details` is not specified has a note that it can be specified to get more info -- I'd probably do the same here so folks know it's an option

[2018-10-22 15:48] carlisia commented on #973
Yes, this makes sense. 👍

[2018-10-22 15:49] nrb commented on #973
@skriss Yep, I'd agree with having the note so it's more easily discoverable.

For your first point, do we want to add a Prometheus metric to that, based on schedules like the rest?

The rest seems reasonable.

[2018-10-22 18:02] skriss commented on #961
@nrb @carlisia I do think it'll be worthwhile to have a dedicated "upgrading to v0.10" page that we can link to in the release notes.  We can explain the Config -> BSL/VSL change and link to examples, and also can link to https://github.com/heptio/ark/blob/master/docs/storage-layout-reorg-v0.10.md.

[2018-10-22 18:09] carlisia commented on #961
Agree, especially since your new PR. It's information that we need to follow for our tests also, so doubly helpful.

[2018-10-22 18:13] nrb commented on #961
Yeah, I'd like to see an `Upgrading` section and `v0.10` under it with the required actions - that would be an acceptable solution to this in my mind. I know we've already started with the storage layout, but will be worth making sure it's comprehensive.

[2018-10-22 19:39] shubheksha commented on #945
I'll pick this up!

[2018-10-22 20:13] shubheksha commented on #945
@skriss/@ncdc, I believe this needs to be removed too: https://github.com/heptio/ark/blob/master/pkg/controller/restore_controller_test.go#L235-L236?

[2018-10-22 20:30] skriss opened #977 "Add prometheus metrics for backup.status.volumeSnapshotsAttempted/volumeSnapshotsSucceeded"
These two new fields capture the total number of volume snapshots tried, and succeeded, per backup.  We should add prometheus metrics to capture these (or the converse - failures).

[2018-10-22 20:46] shubheksha commented on #977
I'll pick this up! Could you give me some more info, @skriss?

[2018-10-22 22:40] carlisia opened #978 "Docs related issues from Ark v0.10 Testing"
- [ ] This section has a reference to Config, which no longer exists https://github.com/heptio/ark/blob/master/docs/build-from-scratch.md#prerequisites-1
- [ ] This section instructs to setup multiple backets, but should we instruct to use the prefix instead? https://github.com/heptio/ark/blob/master/docs/aws-config.md#create-iam-user

[2018-10-22 23:44] carlisia opened #979 "Better ux for when there's no backuplocation"
I purposefully started the ark server w/o setting a backup location via the cli or deploying the `backupstoragelocation.yaml` file.

In the end, the backup sync kept retrying for a really long time.

I wonder if the warning at the top should be an error, if the message should be stronger, of else there is a better way to avoid the user being stuck in this scenario.

![image](https://user-images.gi

[2018-10-23 02:46] arafatmohammed commented on #381
@containscafeine How do I add ark autocompletion to zsh?

[2018-10-23 03:46] carlisia commented on #979
For reference: https://github.com/heptio/ark/issues/898#issuecomment-429047146

[2018-10-23 14:01] carlisia opened #980 "[Epic] Documentation overhaul"
Issues to address:

1) When I recently setup a cluster I found myself reading instructions from 4 different pages:
https://github.com/heptio/ark/blob/master/docs/aws-config.md
https://github.com/heptio/ark/blob/master/docs/quickstart.md
https://github.com/heptio/ark/blob/master/docs/build-from-scratch.md
https://github.com/heptio/ark/blob/gh-pages/master/install-overview.md

I'd like to make it so

[2018-10-23 14:12] carlisia commented on #980
Related tickets that I'll groom as I work through this one:

https://github.com/heptio/ark/issues/648
https://github.com/heptio/ark/issues/952
https://github.com/heptio/ark/issues/931
https://github.com/heptio/ark/issues/867
https://github.com/heptio/ark/issues/856
https://github.com/heptio/ark/issues/819

[2018-10-23 14:14] #594 closed

[2018-10-23 14:37] carlisia commented on #979
Question: is it expected that Ark be used only for PV backup?

[2018-10-23 14:41] carlisia commented on #980
Todo: add a list of what Ark can and cannot backup.

[2018-10-23 14:45] ncdc commented on #979
This is acceptable and a reasonable design, imho. It should keep trying until it has work to do.

What if we added an `ark status` command that could give you an overview of the server's status? Things like "waiting on BSL", "waiting on VSL", etc?

[2018-10-23 14:46] ncdc commented on #979
Are you asking if it should handle volumes that are directly referenced by the pod (e.g. `spec.volumes[i].gcePersistentDisk`)? If so, that's #408

[2018-10-23 14:49] carlisia commented on #980
Tutorial ideas:
- restore from clusterA to clusterB

[2018-10-23 14:52] carlisia commented on #979
No, I'm asking something different. Currently we have backup storage and volume storage. Can we bootup the ark server w/o setting up/deploying configuration for the backup storage if we only want to do pv storage?

[2018-10-23 14:55] carlisia commented on #979
Yes, I'd like that. Also, could we change the message from `Checking for backup storage` to `Waiting for backup storage`? I think the later gives an idea that there's a user action that needs to be taken.

[2018-10-23 15:01] ncdc commented on #979
That is along the lines of #504. I'm interested in exploring this, but I'm not sure how/where we'd record the information (volume snapshot info).

[2018-10-23 15:09] akosveres commented on #980
Documentating the exposed prometheus metrics, would be great as well.

[2018-10-23 15:44] skriss opened #982 "[v0.10] pre-v0.10 backups fail to restore or delete after upgrade"
After upgrading from v0.9.x to v0.10, backups taken with v0.9.x fail to restore or delete.  This is because they don't have a value for the `.spec.storageLocation` field, and neither the restore controller nor the backup deletion controller apply any defaulting here.

I was able to work around the issue by deleting the backup CRs from the cluster, and allowing the backups to be re-synced into the

[2018-10-23 15:50] ncdc commented on #982
I'd recommend against having users "delete" anything, even if it's just the CRs. I'm imagining someone accidentally running `ark backup delete` instead of `kubectl delete` and ending up with their backup deleted.

[2018-10-23 16:08] #966 closed

[2018-10-23 16:58] #973 closed

[2018-10-23 17:04] nrb commented on #982
I'd agree that deleting the CRs isn't my first choice. Perhaps during start up we try to find all backup CRs that are currently in cluster and try to pull them from the default BackupStorageLocation, and updating them? That is, unfortunately, extra code we'd have to maintain, but it seems in line with bookkeeping we've done like removing the finalizers previously.

[2018-10-23 17:10] ncdc commented on #982
I don't think it'd be too much code in the backup sync controller to do an update if the `spec.storageLocation` is missing?

[2018-10-23 17:14] ncdc commented on #979
It depends on how we implement it. I could see 3 options:

1. The `ark` server keeps a new status-y CR up to date and `ark status` would retrieve the CR's contents. This would potentially report false positives, e.g. in the event the `ark` server is offline.
1. `ark status` creates and sends a new `StatusRequest` CR, and the `ark` server has a controller that updates it. The client waits/watches f

[2018-10-23 18:34] nrb commented on #979
I like 2, too. Seems like a lot less plumbing for users to have to wrangle.

[2018-10-23 18:56] skriss commented on #977
Yep! Now that #974 has merged, the two fields mentioned in the title exist.  They're populated here: https://github.com/heptio/ark/blob/master/pkg/controller/backup_controller.go#L401-L406

We would want to update this function: https://github.com/heptio/ark/blob/master/pkg/controller/backup_controller.go#L416 to record those values.

This would require adding two new metrics in the `metrics` pack

[2018-10-23 21:55] carlisia commented on #979
I like 1 better. I'm thinking when I want to check on a status it's bc something is happening/not happening and I want to get a quick response. Sound that there'd be a latency with option 2. For option 1, could the `ark status` not ping and check if the server is online? If not online maybe add a disclaimer saying so and providing last known status?

[2018-10-23 23:22] carlisia opened #987 "Improve `describe` output"
I'd like to:
1) move the field `Validation errors` to right after the field phase (all operations).
2) make the value for the field `Validation errors` red for all values != `none`.

![image](https://user-images.githubusercontent.com/16508/47396425-90c9de80-d6df-11e8-886e-f441db3c7bfd.png)

[2018-10-24 07:24] domcar opened #989 "Wrong NodePort when restoring Service"
**What steps did you take and what happened:**
I created a NodePort service (notice the NodePort: 30001)
[code]
After I did a backup with ark and the .json file looks correct:
[code]
I then deleted the service and restore it with ark: the NodePort was random:
[code]
I then deleted again the service and restored usign
[code]
The port was correct: 30001

**What did you expect to happen:**
The NodePo

[2018-10-24 10:57] ryall commented on #932
Had the same problem. Glad I saw this.

Was getting the specific error: `error getting volume path on host: expected one matching path, got 0`

[2018-10-24 11:05] ryall commented on #932
Have this same problem using `minikube`, which seems to also use `hostPath` for the `standard` `StorageClass`.

Was seeing this error in the `PodVolumeBackup`:
`error getting volume path on host: expected one matching path, got 0`

[2018-10-24 12:43] suhas184 opened #990 "Ark not backing-up Persistent volumes created from glusterfs"
**What steps did you take and what happened:**
created a backup of jenkins deployment/persistentvolume/service
ark backup create jenkins-backup --selector app=jenkins_backup --snapshot-volumes

**What did you expect to happen:**
Expected the Persistent volume to be part of the backup.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output int

[2018-10-24 12:52] bashofmann opened #991 "Restores are broken with 0.9.8 because of missing secret when a pod mounts a secret"
**What steps did you take and what happened:**
Starting with 0.9.8 restores of backups of pods that mount a secret are broken. The pod is stuck in `ContainerCreating` with the error

[code]

The secret that was created in the namespace has a different name:

[code]

The backup was created with 0.9.8. Backup and restore of the same pod and volume worked in 0.9.7.

It may be related to https://githu

[2018-10-24 13:40] ncdc commented on #991
I think this is a duplicate of #925, which was fixed by #927, and has not made it into 0.9.x yet.

[2018-10-24 13:44] ncdc commented on #990
@suhas184 we do not currently have native support for Gluster volumes. Please see our [support matrix](https://heptio.github.io/ark/v0.9.0/support-matrix) for the list of supported volume snapshot providers.

I do think you should be able to use our [restic integration](https://heptio.github.io/ark/v0.9.0/restic) to back up files in your Gluster volumes, as long as the volumes are not set up in yo

[2018-10-24 13:44] #990 closed

[2018-10-24 13:49] ncdc commented on #989
@domcar we currently only support preserving node ports at restore time if your service has the annotation `kubectl.kubernetes.io/last-applied-configuration` filled in (this comes from `kubectl apply`). We added this logic in #712. The thinking is that if you choose the node port yourself, we'll preserve it. If you didn't pick a node port, and instead let Kubernetes assign a random one, we don't p

[2018-10-24 13:50] bashofmann commented on #991
I'll try to cherry-pick https://github.com/heptio/ark/commit/38e86ceff53ab704bc30cca1534e652067d589bc and test if this solves the issue.

[2018-10-24 13:57] bashofmann commented on #991
https://github.com/heptio/ark/pull/927 indeed fixes this :-). Would be great to get this fix in a 0.9.x release though.

[2018-10-24 13:57] #991 closed

[2018-10-24 14:03] ncdc commented on #932
@skriss we should be able to check if a volume the user asked us to back up with restic is `hostPath`, and if so, produce a better error. WDYT?

[2018-10-24 14:03] ncdc commented on #991
@bashofmann thanks for testing the cherry-pick. It will definitely be in v0.9.9.

[2018-10-24 17:03] carlisia commented on #979
Adding this for future reference: we might consider adding to the `ark status` a field that indicates what the ark server looks for as far as default locations. Currently, if there's more than 1 location we can't tell which one is the default:

![image](https://user-images.githubusercontent.com/16508/47448027-d46e2800-d773-11e8-85b0-df393d3bd7cc.png)

[2018-10-24 19:12] skriss opened #994 "Setup docs/examples need to cover setting `--default-volume-snapshot-locations`"
Admins need to modify their deployment YAML to specify the name(s) of the default VSLs that should be used for backups if they want users to not have to explicitly specify them every time a backup is taken.

We need to cover this topic in our setup docs - and we should probably add the flag to our example deployment YAML as well, either will a <YOUR_VSLS> placeholder, or commented out with inline

[2018-10-24 20:54] skriss opened #995 "Don't require default volume snapshot location to be specified for a provider if only 1 exists"
Right now, if you don't specify a default VSL for a provider and you don't specify the name of a VSL when creating a backup, you won't get snapshots.  This is overly burdensome for the typical case of "one provider, one snapshot location".  In the case where a provider has a single VSL, we should automatically use that.  Specifying a default should only be necessary in the case of >1.

I think the

[2018-10-24 22:38] #982 closed

[2018-10-25 02:58] carlisia commented on #995
What to do in this scenario:
 - only 1 vsl
 - vsl location is named `primary`
 - user sets default to `random`

[2018-10-25 03:03] jordanwilson230 commented on #474
Any update on this? We're at the point of deciding whether to implement an internal backup/restore process for spinning up test environments, but would greatly prefer using ark and the features that come with it!  Thanks!

[2018-10-25 03:07] nrb commented on #995
My assumption is that this issue was created for this case, as per `Specifying a default should only be necessary in the case of >1.`

* 1 VSL
* VSL named whatever the user wants
* user did not specify the `--default-volume-snapshot-location` argument

I'll think on this second scenario. At first glance, it looks like we were given contradictory information by the user and should notify them; it's

[2018-10-25 03:12] nrb commented on #995
My assumption of what the code meant to solve the case I just posted would do when it encounters this contradictory case: The `primary` location can be used if specified on a backup, but no defaulting will be done because `random` isn't made yet.

While I can reason that out as someone who's worked on this, I think in general our signaling of this kind of state contradiction needs deeper thought.

[2018-10-25 03:15] carlisia commented on #995
I just had an idea. What if we think the opposite way.

- Admin boots up ark with vsl default set to `random`.
- User creates vsl named `primary`

Obviously in this case the user will not have access to the `default` feature.

[2018-10-25 06:43] prateekpandey14 commented on #987
Can i take this up @carlisia ?

[2018-10-25 06:53] carlisia commented on #987
@prateekpandey14 I want to get a 👍 from the team first, to make sure we wouldn't be breaking some standard way to output this info. c/c @heptio/ark-team

[2018-10-25 15:39] ncdc commented on #474
@jordanwilson230 we have not implemented this yet. We'd greatly appreciate your feedback as to how you think users should specify the transformations. This is something where the UI/UX really needs to be clear and easy.

[2018-10-25 16:12] wwitzel3 commented on #609
From a discussion, we talked about the following new behavior when a snapshot exists:
* Before `executePVAction` check if PV already exists before attempting restore. Error/log if it exists and continue.
* PVC won't be present in the pvsToProvision.

[2018-10-25 16:46] jordanwilson230 commented on #474
Perhaps this functionality would a good fit at the plugin level?   If it would be possible to provide examples specific for transforming (perhaps an example for each resource type)?

This plugin, for example: https://github.com/heptio/ark-plugin-example/blob/de9801def1466e73a72a62dd5c1a71dc479117b2/ark-restoreitemaction-log-and-annotate/myrestoreplugin.go#L45 shows how to add an annotation via k8s

[2018-10-25 17:00] ncdc commented on #474
I do think this can and should be a plugin. I'd like it to be generic enough that it meets the needs of as close to 100% of users as possible.

Do you anticipate that the same set of transformations would apply to every restore in a cluster? My guess is "no" but I'd love to hear the community's thoughts on this.

If the answer is "no", then we need a way to tell a restore which set of transformati

[2018-10-25 17:38] jordanwilson230 commented on #474
@ncdc I think pinning the transformations to labels is a great idea.  I too would like to hear from others' thoughts @Evesy @neith00

To answer your question, you're right; for it to be applicable to the larger community,  I think users will eventually find a need to apply different sets of transformation (as you mentioned, for example, via config).

Im starting to read more on the basics of Golan

[2018-10-25 17:53] ncdc commented on #474
We'd love to hear your thoughts on the structure of the configuration. In a previous comment, I suggested something like this:

[code]

We'd probably want to take advantage of Kubernetes api machinery so it would probably look more like:

[code]

I'm primarily interested in brainstorming on the `changes` section:
- How do we specify the name of the field to transform
    - What if there's an array

[2018-10-25 20:17] ryall commented on #365
I've noticed this seems to happen if the credentials are deleted and recreated, after the deployment is made.

[2018-10-25 20:18] ncdc commented on #365
@ryall are you referring to the AWS credentials?

[2018-10-25 20:31] ryall opened #1001 "Rename 'examples' to 'templates'"
The term "examples" is a term I would associate with complete and runnable manifests. However there are many placeholders inside them currently, and this confused me initially. I was not expecting to have to change them to get things running.

I think it would make a lot more sense to call them "templates".

[2018-10-25 20:33] ryall commented on #365
Yes. I deleted them and recreated them as part of a script. The first time it would run fine but if I ran the change after, and generated new AWS credentials, I suddenly got failed statuses with this error. Wiping the whole config and re-adding in order fixed the issue.

[2018-10-25 20:34] ncdc commented on #365
I assumed your AWS access key & secret changed?

[2018-10-25 21:52] ryall commented on #365
Yes

[2018-10-26 13:39] ncdc commented on #1001
cc @Bradamant3 for your thoughts

[2018-10-26 13:47] Bradamant3 commented on #300
This now seems like a straightforward situation that needs neither doc nor changed messaging -- more an artifact of my failed understanding than a user need.

[2018-10-26 13:47] #300 closed

[2018-10-26 13:50] Bradamant3 commented on #264
yeah, this is one I'm newly aware of for upstream also. Changing milestone to address sooner. Is anyone aware of newer work upstream to address? As of 1.12 I believe was still an issue (at least, is still documented as such)

[2018-10-26 13:54] Bradamant3 commented on #350
This seems timely -- we've been documenting elsewhere the advantages of namespace-specific backups/restores, and this should be a part of that story.

[2018-10-26 13:56] Bradamant3 commented on #648
duplicate

[2018-10-26 13:56] #648 closed

[2018-10-26 13:59] Bradamant3 commented on #466
Pretty sure this issue is moot. Closing as not needed.

[2018-10-26 13:59] #466 closed

[2018-10-26 14:04] Bradamant3 commented on #931
This seems pretty straightforward: it's effectively the quickstart with a reassurance that you can do it on minikube, yes? (plus info about `NodePort`).

Possibly related: clean up on-prem references also (done, but could be improved?). Where and how to run Ark not on cloud generally could use clarification.

[2018-10-26 14:08] Bradamant3 commented on #596
Can we get started on this one for 0.10.0? Maybe say something about 0.9.1 for backward compatibility, at least? Changing milestone provisionally.

[2018-10-26 14:08] ncdc commented on #989
@domcar I meant to also respond to this comment:

When you run `ark backup logs`, `ark restore logs`, and 1 or 2 of the `describe` commands, the `ark` command line client creates a `DownloadRequest` custom resource and sends it to the Kubernetes apiserver. When the ark server sees this request, it generates a pre-signed URL using its access credentials to object storage. The server updates the `Do

[2018-10-26 14:08] ncdc commented on #931
@Bradamant3 xref
https://github.com/heptio/ark/issues/989#issuecomment-433420268

[2018-10-26 15:03] skriss commented on #994
@Bradamant3 we're working through a code change that should make addressing this issue less necessary, since specifying this flag will no longer be required in the normal case.  It would probably still be good to document it somewhere, but I'm not exactly sure where ATM (agree that our examples right now are not exhaustive, but illustrative).

[2018-10-26 15:19] Bradamant3 commented on #994
I've got a temporary solution worked out locally -- should be fine with or without code change. The whole install flow needs an overhaul, but not in the 0.10 timeframe.

[2018-10-26 15:36] skriss commented on #994
Not quite.  During the install, in the deployment YAML, you'd add an arg to the container cmd:
[code]

[2018-10-26 16:10] skriss opened #1007 "v0.10.0-beta.1 punchlist"
- [x] finalize / merge changelog (#1003 @skriss, w/reviews from @nrb @wwitzel3 @carlisia )
- [x] finalize / merge goreleaser (#1000 @skriss , w/reviews from @nrb @wwitzel3 @carlisia @ncdc )
- [x] update VSL defaulting to make normal case easier (#997, @carlisia / @skriss )
- [x] docs PRs (@Bradamant3)
  - [x] #1004
  - [x] #1005
  - [x] #1008
- [x] build `v0.10.0-beta.1` docs site (@Bradamant3)

[2018-10-26 17:33] ncdc commented on #264
It is still an issue. There is https://github.com/kubernetes/kubernetes/pull/66589 which moves the implementation to be cloud provider specific, but it's more of a code reorganization to allow for future changes.

https://github.com/kubernetes/kubernetes/pull/64358 was an attempt to allow users to control the prefix used when naming LBs (in response to https://github.com/kubernetes/kubernetes/issu

[2018-10-26 23:39] Bradamant3 commented on #886
@kanav99 let me know if I can provide any information -- I helped set up the gh-pages branch for the docs originally, and will be shepherding through the move to publishing from a /docs directory in master. We'll be putting the whole jekyll build into that directory so that we can control and customize it; I think that anything you add to the current gh-pages branch should port over nicely. And if

[2018-10-26 23:43] Bradamant3 commented on #867
@shubheksha this is something we've been missing forever. Right now the information about installing locally is not really sufficient -- it's aimed at users, not contributors -- and the information about building is sort of half-and-half. I have some ideas about conceptual information to include in a contributing/developer guide, but if you'd like to take on the content for this issue, that would

[2018-10-28 02:16] kanav99 commented on #886
Sorry I was a bit caught up in college examinations. I have got the complete idea of this task, just need a few days and I guess the task would be completed.

[2018-10-29 06:18] domcar commented on #989
@ncdc Thank you a lot for you answers, they are as always very helpful! And thank for the PR, i will try it out.

Ok, good to know, i'll  test it

[2018-10-29 16:21] Bradamant3 commented on #856
Fixed in PR #1005 (not yet on built site but should be today)

[2018-10-29 16:21] #856 closed

[2018-10-29 18:16] Bradamant3 commented on #994
Fixed at least for now with PR #1008

[2018-10-29 18:16] #994 closed

[2018-10-29 18:17] Bradamant3 commented on #978
Fixed in PR #1004

[2018-10-29 18:17] #978 closed

[2018-10-29 22:06] mwieczorek commented on #965
I know you're busy with 0.10 release but I would like to move it forward.
What do you think about going first with option 2 and leave additional enhancements as a backlog issue?

[2018-10-30 04:10] #1007 closed

[2018-10-30 04:11] skriss commented on #995
This was closed by #1009

[2018-10-30 04:11] #995 closed

[2018-10-30 16:51] rosskukulinski opened #1021 "Velero restores should work regardless of the length of the Restore name"
Create a restore from a backup with a long name defaults to a Restore name that's even longer:

Backup: `k8s-dev-auth-namespace-backup-schedule-20181026050059`
Restore: `k8s-dev-auth-namespace-backup-schedule-20181026050059-20181026153607`

ark restore describe k8s-dev-auth-namespace-backup-schedule-20181026050059-20181026153607
[code]

Ark restore applies labels to restored objects which includes

[2018-10-30 16:52] Bradamant3 commented on #350
@ncdc question: Does Ark need all verbs? Access to all resources? Would it be useful to provide a more fine-grained example, or is such not relevant? IOW, can you effectively limit only per namespace, not per actions on resources? (Sigh must recollect/relearn more about Ark ...)

[2018-10-30 17:05] ncdc commented on #350
@Bradamant3 we'll need to review the backup and restore code to provide a detailed breakdown of which verbs are used, and when.

For rbac in general, you can limit by namespace and action and resource (e.g. in namespace foo, I can create widgets).

If we do document a non cluster-admin configuration, where Ark only has access to a single namespace, **note** Ark will be unable to snapshot/restore P

[2018-10-30 18:21] Bradamant3 commented on #350
We can keep the docs general about verbs and resources for now, too. But yeah, I'm aware of the general rbac rules pattern, that's why I asked. Thanks for the reminder about PV limitations.

[2018-10-30 18:21] #961 closed

[2018-10-30 18:33] shubheksha commented on #964
Hey @ncdc, I'd like to pick this up - can you give me some more info about this?

[2018-10-30 19:12] skriss commented on #958
@carlisia should this be closed at this point?

[2018-10-30 19:13] skriss commented on #932
Yeah, I thought we were already doing that...will take a look

[2018-10-30 19:32] ncdc commented on #964
@shubheksha cool, thanks! Here's an example.

Let's say the backup contains a CRD called `widgets.myapp.com` along with several instances of `Widget`s. Thanks to #962, we restore the CRD first. There is a chance, however, that we could then try to restore a `Widget` instance before the cluster is ready to accept them. If that's the case, our attempt to create one will fail.

One approach would be

[2018-10-30 19:43] carlisia commented on #958
Yes

[2018-10-30 19:43] #958 closed

[2018-10-30 20:00] nrb opened #1024 "Document expected process for updating plugin versions"
v0.10.0 will require plugins be updated, and users will need to know how to do that. This should go in the upgrade docs.

[2018-10-30 20:42] carlisia commented on #964
Could the process skip the restore if the CRD is not ready and be in a sort of "need to be re-run" state so the user can verify that and run again?

[2018-10-30 20:53] ncdc commented on #964
We're not structured to do that at the moment, but we could certainly explore it. `ark restore create` goes from 0 to 100, trying to restore everything from the backup.

Another option: we could add a "holding queue" of resource types that are waiting for some condition, and once we get that condition, trigger restoring them. I'm not sure the best way to implement that, though. We currently operat

[2018-10-30 21:40] carlisia commented on #964
There was another issue that made me think it would be great if we had a queuing system (not remembering). I doubt this will be the only use for something like that with Ark. In other words, 👍 for a holding queue here.

[2018-10-31 02:11] Bradamant3 commented on #886
In case it helps, looking at Nolan's attempt ^^ -- it's missing the base URL. I wonder whether the URL needs to be complete (not relative).
Another possibility might be a redirects file, although that would probably be more maintenance going forward.

[2018-10-31 10:43] neith00 commented on #474
In my understanding you are proposing to store transformation in configmaps, but I don"t see how it could operate. You want to store configmaps with transformation in the same namespace as ark or in the destination namespace?

[2018-10-31 11:53] ncdc commented on #474
In the same namespace as ark

On Wed, Oct 31, 2018 at 6:43 AM neith00 <notifications@github.com> wrote:

[2018-10-31 14:06] neith00 commented on #474
how would you treat the case where you only want to change the domain name in an ingress with your example without using find?

[2018-10-31 14:14] ncdc commented on #474
If you want to match a specific ingress & its domain name and make a change, you would need to use find. Perhaps what I wrote above was confusing when I said find should be optional?

[2018-10-31 14:15] neith00 commented on #474
got it you meant the field find is optionnal. now I get it

[2018-10-31 14:48] #1024 closed

[2018-10-31 17:55] mitchellmaler opened #1027 "Support custom CA bundles for object storage connections"
I am trying to figure out how I can have Ark send backups to a Minio endpoint with our own SSL CA. Right now I am getting the x509 error. I am hoping there is either a ignoreSSL option or even a way to provide a cert bundle to ark.

[2018-10-31 18:29] ncdc commented on #1027
To support this, we will have to add the ability to use a custom CA bundle, and then construct a custom `*http.Client` to use for aws calls.

[2018-10-31 18:30] ncdc commented on #1027
@rosskukulinski

[2018-11-01 11:07] saplla commented on #980
@ncdc Thanks for confirming that. It wasn't clear from the docs. We're using Kops so it appears we need to manually backup the EBS volumes backing our masters. It'd be helpful to highlight that in the AWS docs.

[2018-11-01 14:04] ncdc commented on #980
@saplla thanks for the feedback. We'll see what we can come up with. Ark's position is as a tool to back up what is deployed into your cluster, along with any associated persistent data. We strongly encourage our users to have a strategy for automating the provisioning clusters, including backing up and restoring things such as the certificates and CAs used to secure the cluster components.

[2018-11-01 15:02] skriss commented on #735
This has been completed a/o the v0.10 beta.

[2018-11-01 15:02] #735 closed

[2018-11-01 15:04] skriss commented on #862
Removing this from the epic as it's non-critical.

[2018-11-01 15:05] skriss commented on #609
Closed by #1002, #1011

[2018-11-01 15:05] #609 closed

[2018-11-01 15:06] skriss commented on #734
Epic is complete, closing.

[2018-11-01 15:06] #734 closed

[2018-11-01 15:06] skriss commented on #721
Epic is complete, closing.

[2018-11-01 15:06] #721 closed

[2018-11-01 15:45] skriss commented on #601
@ncdc would you consider this question closed by now?

[2018-11-01 15:50] skriss commented on #104
I think this can be closed given #785 which runs the sync much more frequently while using fewer cloud-provider calls. @ncdc @rosskukulinski agree?

[2018-11-01 16:02] ncdc commented on #601
Yes, I think the way things are working now is good. Thanks for checking!

[2018-11-01 16:02] #601 closed

[2018-11-01 16:05] ncdc commented on #104
👍

[2018-11-01 17:24] wwitzel3 opened #1029 "CHANGELOG Process"
Research and recommend a CHANGELOG process for Ark.

Examples:
  * https://github.com/restic/restic/tree/master/changelog
  * https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md

[2018-11-01 17:36] #104 closed

[2018-11-01 18:00] Bradamant3 commented on #596
Milestone reverted; oneliner for 0.10 added (see PR #1023 )

[2018-11-01 18:57] ncdc commented on #451
Closed by #801

[2018-11-01 18:57] #451 closed

[2018-11-02 20:42] mwieczorek opened #1033 "Feature request: Enable backup only for selected cluster resources"
Right now we can only set `--include-cluster-resources=true/false`. So all cluster resources or none are stored in the backup

I'd like to be able to select cluster resources (kinds) which ark will backup.

[2018-11-02 21:04] skriss commented on #1033
@mwieczorek you should be able to use the `--included-resources` and `--excluded-resources` to control this.

[2018-11-02 22:09] mwieczorek commented on #1033
I didn’t describe that well.
I’d like to get backup of one (or more) selected namespace and one (or more) selected cluster resource.
If I use —include-resources=SomeClusterResource all other namespaced resources are not in the backup.

As a workaround I just make 2 backups.
But I was wondering if you consider such change (I know it may add some complexity...)

[2018-11-05 14:32] rosskukulinski commented on #104
@skriss +1 from me, but can we make sure we have docs (cc: @Bradamant3) somewhere describing the expected sync behavior in terms of timing

[2018-11-05 15:10] ncdc commented on #612
@pms1969 is this something you're still interested in seeing? If so, could you please elaborate what specifically you'd like to have happen? Which plugin(s) and method(s) need modifications? What would you add?

[2018-11-05 15:11] ncdc commented on #640
@skriss ready to close this?

[2018-11-05 15:12] ncdc commented on #448
Including info from 654: make sure we allow plugins to know if this is a dry-run or real.

[2018-11-05 15:12] ncdc commented on #654
Covered by
https://github.com/heptio/ark/issues/448#issuecomment-435910201

[2018-11-05 15:12] #654 closed

[2018-11-05 15:23] metadave commented on #640
just curious if there was a decision to use a different tool?

[2018-11-05 15:32] ncdc commented on #727
@fumanne checking in to see if you were able to get restic working? If you're still having issues, please reach out on [Slack](https://kubernetes.slack.com/messages/ark-dr) or our [mailing list](
http://j.hept.io/ark-list). Would it be ok to close this issue?

[2018-11-05 15:34] ncdc commented on #728
Closing due to age.

@VC16dec if you still have questions, please send a message to our [mailing list](http://j.hept.io/ark-list), or reach out on [Slack](https://kubernetes.slack.com/messages/ark-dr).

[2018-11-05 15:34] #728 closed

[2018-11-05 15:38] ncdc commented on #814
I think we've concluded this discussion, so I'm closing it. Feel free to reopen if necessary.

[2018-11-05 15:38] #814 closed

[2018-11-05 15:46] ncdc commented on #845
@bmihaescu were you ever able to resolve this issue?

[2018-11-05 15:48] ncdc commented on #887
@Bradamant3 this is something we may want to consider documenting

[2018-11-05 16:07] ncdc commented on #932
@skriss we do have a check for `hostPath` volumes, so this must be some subtle difference here

[2018-11-05 16:09] ncdc commented on #932
Oh, we do a check for `pod.spec.volumes[i].hostPath != nil`, but I bet we don't have a check for pod -> PVC -> PV (hostPath)

[2018-11-05 16:18] ncdc commented on #989
@domcar would you consider this issue resolved?

[2018-11-05 21:33] pms1969 commented on #612
Not sure I need it any more, but it's still something I think should be added.

Specifically I was referring to the backup plugin (damn it's been so long, I can't even remember if that's what it was called).  I'm pretty sure you only need to add a metadata param to the plugin constructor.
 That metadata in as a string in the form of json or yaml that can be decoded at any time by the consuming plu

[2018-11-06 07:24] #989 closed, assigned to nobody

[2018-11-06 14:11] wwitzel3 commented on #1029
I'm of the opinion that following the Kubernetes approach to changelog is less overhead and fits with our current approach to how we do changelogs. We would just want to update a process to be proactive instead of retroactive.

That will require that we make suggesting or reminding to add/update changelog entries happen during PR review.

[2018-11-06 21:34] mattnworb opened #1037 "can pods created by a DaemonSet be excluded from backups?"
We recently had a need to restore a cluster from a backup, which worked pretty great overall (thank you for Ark!).

We noticed after the restore that, for a DaemonSet we run for `fluentd`, twice as many pods existed than we expected - one set of pods that were created by the DaemonSet, and another set of fluentd pods that were not attached to the DaemonSet but did have the label `ark-restore: <nam

[2018-11-06 23:53] skriss commented on #945
Closed by #1022

[2018-11-06 23:53] #945 closed

[2018-11-07 15:56] skriss commented on #1033
Ah, ok, this makes sense and is a limitation we realized when we implemented the `--include-cluster-resources` flag.  Do you have any thoughts on what the UX might look like for this?

[2018-11-07 15:57] ncdc commented on #1033
We should also think about #589 and #590 as part of this discussion

[2018-11-07 16:07] skriss commented on #264
FIxed by #1019

[2018-11-07 16:07] #264 closed

[2018-11-07 17:31] nrb commented on #523
xref #469

[2018-11-07 20:08] sylus opened #1039 "ARK pvc's lost state in new cluster, two claims are bound to the same volume"
**Ark Version**:  v0.9.7
**Kubernetes**: 1.12.1

Hey there awesome Ark folks so I am having quite a critical issue with Ark where all the pvc’s come up lost and when describe on new cluster says bound to two volumes. If I then try to delete the pvc on new cluster it deletes from the original cluster. Which I don't even know how that is possible. Quite a serious bug I think, if isn't something I ha

[2018-11-07 20:11] sylus commented on #1039
[code]

[2018-11-07 20:12] sylus commented on #1039
[code]

[2018-11-07 21:29] ncdc commented on #746
Closing as a duplicate of #286

[2018-11-07 21:29] #746 closed

[2018-11-07 22:08] skriss commented on #1039
@sylus can you add the YAML for the `sentry-sentry` PVC, the `pvc-4a83a18e-c70c-11e8-a27f-000d3af4a99e` PV, and whichever other PVC on the new cluster is bound to PV `pvc-4a83a18e-c70c-11e8-a27f-000d3af4a99e`?

[2018-11-07 23:06] skriss commented on #380
We'll be evaluating general Ark statefulset support as part of #666.  Closing this specific issue as resolved.

[2018-11-07 23:06] #380 closed

[2018-11-08 10:37] mwieczorek commented on #1033
I'd prefer to stay with include/exclude, and not depend only on the selector. In my use-case, I'd like to backup whole namespace, regardless if some resources were labeled or someone forgot about it.

Also, I'd treat cluster-scoped and non-cluster scoped resources separately:
[code]
Filtering should first process includes and then excludes (so, for example, I can set `--include-cluster-resources *

[2018-11-08 14:32] sylus commented on #1039
Hey @skriss thanks so much.

**Old Cluster PVC**

[code]

**New Cluster PVC**

[code]

[2018-11-08 14:40] ncdc commented on #1039
@sylus thanks, could you please add the yaml for the PV (not PVC) `pvc-4a83a18e-c70c-11e8-a27f-000d3af4a99e` in both the old cluster and new cluster?

[2018-11-08 15:05] sylus commented on #1039
Hey @skriss here you go ^_^

**Old Cluster**

[code]

**New Cluster**

[code]

[2018-11-08 15:59] ncdc commented on #1039
I'm not 100% certain, but this _may_ be fixed by #1040

[2018-11-08 17:33] skriss commented on #1039
@sylus this should be fixed by `v0.9.11` which we just released - please upgrade and give it another shot.  thanks!

[2018-11-08 18:02] sylus commented on #1039
@skriss and @ncdc

This seems to have resolved all issues on our side! Thanks so much for the fast response :)

You guys are really the best!

[2018-11-08 18:02] ncdc commented on #1039
Phew that is wonderful news!

[2018-11-08 18:02] #1039 closed

[2018-11-08 18:02] sylus commented on #1039
Hope it is okay to close this issue then!

[2018-11-09 05:47] andyzhangx opened #1046 "support azure file snapshot"
Currently azure cloud provide only supports azure disk snapshot, and [azure file plugin](https://kubernetes.io/docs/concepts/storage/volumes/#azurefile) is also a common storage layer which could provide multiple read/write.
Azure file snapshot doc:
https://docs.microsoft.com/en-us/azure/storage/files/storage-snapshots-files

@rosskukulinski

[2018-11-09 15:58] ncdc commented on #1046
@andyzhangx what would the mechanics be around restores? With Azure managed disks, for example, we create a new managed disk from a snapshot and associate that with the Kubernetes PersistentVolume. Could we do something similar with Azure files - can we create a new "share" from a snapshot and associate that with a PV? Or how would you envision this working? Thanks!

[2018-11-09 16:41] ncdc commented on #337
Going to close as this will add complexity and we're not sure that it's worth it. If anyone feels strongly otherwise, please let us know.

[2018-11-09 16:41] #337 closed

[2018-11-09 17:09] ncdc commented on #379
@jcrowthe given the suggestions above, would it be ok to close this?

[2018-11-09 17:10] ncdc commented on #404
It sounds like the `notin` selector condition satisfies the request. If not, please let us know and we can revisit.

[2018-11-09 17:10] #404 closed

[2018-11-09 17:13] ncdc commented on #423
We discussed this and don't believe it's an issue since the conversion to `DeleteBackupRequests`. Please let us know if anyone is having problems and we can revisit.

[2018-11-09 17:13] #423 closed

[2018-11-09 17:14] ncdc commented on #445
Closing per Ross's suggestion.

[2018-11-09 17:14] #445 closed

[2018-11-09 17:51] ncdc opened #1047 "Non-existing ServiceAccounts need to have their default token removed"
If we try to create a ServiceAccount and it already exists in the cluster, we remove the default token secret (it's autogenerated by Kubernetes), merge the secrets, image pull secrets, labels, and annotations from the item in the backup with the item in the cluster, and attempt to patch it.

If we try to create a ServiceAccount and it does **not** already exist in the cluster, we are not removing

[2018-11-11 03:06] ljfranklin commented on #638
@ncdc @rosskukulinski I'd be willing to try a PR to add this flag. I'm trying to use Ark on a Raspberry Pi, the backup is working fine but the restore stumbles due to the restic helper image not supporting ARM. That said, I'm having trouble figuring out how to pass the image name from [server.go](https://github.com/heptio/ark/blob/2781e4e8de08bb33585eb945819ad989bf972b49/pkg/cmd/server/server.go#L

[2018-11-12 07:30] andyzhangx commented on #1046
Yes, azure file pvc is like azure disk pvc. It's using different protocol and support multiple readwrite.
And its apiVersion requires >= 2017-04-17, see RESET api here:
https://docs.microsoft.com/en-us/rest/api/storageservices/snapshot-share

[2018-11-12 09:22] omerlh opened #1051 "Add brew cask to install cli?"
[Brew](https://brew.sh/) is used to installing various utilities on macos, it will be nice to use it to install the CLI.

[2018-11-12 18:46] rendhalver commented on #964
How do you determine the list of resources to restore?
Could you structure that list so the resources with dependencies are further down the list so they take longer to get to?

[2018-11-13 14:08] ncdc commented on #964
We currently have a default hard-coded list by resource type that the ark
admin may override. For example, we restore all service accounts before any
pods.

We are interested in considering a multi-pass flow, where the first pass
evaluates all the items in the backup. This would allow us to find
dependencies, order them, etc. The second pass would do the actual
restoring. That is a significant des

[2018-11-13 14:29] rendhalver commented on #964
That sounds like a good solution.
I will be at Kubecon if you want someone to bounce ideas off. :)

[2018-11-13 16:35] skriss opened #1052 "v0.10 punchlist"
- [x] Locations documentation PR #1050 (@skriss)
- [x] Finalize blog post (@carlisia)
- [x] YAML in tarball PR #1045 (@skriss)
- [x] Pre-signed URL base PR #1006 (@wwitzel3)
- [x] Docs PRs #1023 #1038 (@Bradamant3)
- [x] Docs site build replacing beta site (@Bradamant3)
  - Update `Tutorials` links in nav
  - `Configuration reference` link in nav points to nonexistent page
- [x] Ensure external pl

[2018-11-13 17:58] skriss opened #1053 "Enable users to set restic repo passwords"
Currently, Ark uses a static encryption password for restic repositories it creates.  Ark assumes that the data is protected at rest by IAM policies on the object storage bucket where the data is stored.

Some users would like to be able to explicitly set an encryption password for these Ark-managed restic repositories.  This issue serves as a placeholder for discussion on the whys/hows/whens.

[2018-11-13 20:45] rosskukulinski commented on #1027
@ncdc ack, thanks for adding to Needs Product backlog

[2018-11-13 22:54] skriss commented on #1052
@Bradamant3 @carlisia @nrb @wwitzel3 my 2 open PRs (#1050 #1045) are waiting on review, so PTAL and provide feedback when you get a chance. Thanks!

[2018-11-14 15:37] ncdc commented on #1037
@mattnworb sorry for the delay in responding! We'll take a look and get back to you as soon as we can. Thanks for your patience!

[2018-11-14 16:21] #109 closed

[2018-11-14 16:22] skriss commented on #640
Closed by #1000

[2018-11-14 16:22] #640 closed

[2018-11-14 16:56] skriss commented on #727
Closing as inactive.

[2018-11-14 16:56] #727 closed

[2018-11-14 16:57] skriss commented on #669
Closing as inactive.

[2018-11-14 16:57] #669 closed

[2018-11-14 16:59] skriss commented on #539
Closing as there are no further action items here.

[2018-11-14 16:59] #539 closed

[2018-11-14 17:01] skriss commented on #351
We'll cover the use cases as part of #980 for 1.0; closing this issue as a dupe.

[2018-11-14 17:01] #351 closed

[2018-11-14 18:42] wiegandf commented on #1051
https://formulae.brew.sh/formula/ark

[2018-11-14 18:45] ncdc commented on #1051
Thanks @wiegandf for pointing out the existing formula.

@skriss we might want to submit a PR against the brew formula for ark to add the yaml.

[2018-11-14 18:49] omerlh commented on #1051
Thanks! I can confirm it's working. Added a quick note to the docs - what do you think?

[2018-11-14 19:58] pingood commented on #355
@sands6 do u have a procedure how to do Ark restore with NFS (I am using Trident for my PVs)?

[2018-11-14 21:51] skriss commented on #350
Closed by #1023

[2018-11-14 21:51] #350 closed

[2018-11-14 21:52] skriss commented on #931
Closed by #1023

[2018-11-14 21:52] #931 closed

[2018-11-14 21:52] skriss commented on #387
Closed by #1023

[2018-11-14 21:52] #387 closed

[2018-11-14 21:52] skriss commented on #839
Closed by #1023

[2018-11-14 21:52] #839 closed

[2018-11-14 22:16] nrb commented on #979
Given this wasn't included in #1052, I'm removing it from the v0.10.0 milestone

[2018-11-15 13:54] bartimar commented on #765
How is the status on this? It is still a problem in my version of ark

[2018-11-15 13:56] mwieczorek opened #1059 "New metrics for backup deletion attempt/failure/success"
Ark provides metrics for f.e. failed backups and we can use it to display graphs in Grafana or make some alerts.
But in case of failed backup deletion, we don't have such metrics.

Also, Ark provides `ark_backup_tarball_size_bytes` but no corresponding metric for the PV snapshots size.

Would it be propose to add new metrics:

[code]

[2018-11-15 15:50] skriss opened #1060 "In-progress backups have no start timestamp"
Steps to reproduce:
- create a backup -- ark backup create foo
- list all backups -- ark backup get
- see that backup `foo` is in progress, and has no start timestamp

The value displayed here is `.status.startTimestamp`, which is set on L386: https://github.com/heptio/ark/blob/master/pkg/controller/backup_controller.go#L386

The `runBackup` function is called on L202: https://github.com/heptio/ar

[2018-11-15 15:59] ncdc commented on #1060
👍

[2018-11-15 16:20] skriss commented on #765
@bartimar we have a PR in flight for this -- look for it in an upcoming patch release (we do these every 2 weeks on thursdays)

[2018-11-15 16:37] skriss commented on #819
Closed by #1038

[2018-11-15 16:37] #819 closed

[2018-11-15 16:42] skriss commented on #882
This has been closed by #1045

[2018-11-15 16:42] #882 closed

[2018-11-15 16:43] skriss commented on #804
closing this for now as it's related to replication which we haven't broken out yet.

[2018-11-15 17:04] skriss commented on #1052
All pre-v0.10 tasks done, proceeding with release.

[2018-11-15 17:04] #1052 closed

[2018-11-15 21:30] nrb commented on #857
We'll hold off on this until we have more substantive changes to the API (like adding new methods or changing any signatures)

[2018-11-15 21:40] ncdc opened #1061 "Add yaml to homebrew formula"
Now that we're including the yaml in our releases, we should update the ark homebrew formula to match.

We may need some docs updates to clarify where the yaml is if you installed using `brew`

[2018-11-17 01:24] jaxxstorm opened #1064 "Support for multiple different provider credentials"
**Describe the solution you'd like**
In v0.10.0, the ability to specify multiple backup locations we created. This is an excellent step forward for redundancy, however in practice it's only possible to backup to multiple locations within the same provider.

If you want to backup to say, minio and AWS S3, you'll more than likely have different API keys for each bucket in the different provider. As

[2018-11-17 17:59] #379 closed

[2018-11-19 11:29] kratos81 opened #1067 "Restore contains data written after backup."
**What steps did you take and what happened:**

I was trying to do a point in time restore , using a specific backup created.  I wanted to ensure that once I restored from that specific backup , it contained ONLY that data and nothing after that.   These are the steps I took

I used helm to install a postgres database and created a table

[code]

I created a backup of the underlying pvc and pv ( t

[2018-11-19 12:30] yastij commented on #1060
@ncdc - we are seeing this behaviour in some of our clusters, can you assign me ?

Thanks

[2018-11-19 12:51] ncdc commented on #1060
@yastij assigned, thanks!

[2018-11-19 15:58] skriss commented on #603
@ncdc I haven't experienced any issues with the current CRD, and it's pretty straightforward to add a new type (did so for v0.10).  I think there is definitely a "simplicity" argument in favor of sticking with just the one.  Did you have any specific reasons in mind for breaking it out?

[2018-11-19 15:59] ncdc commented on #603
@skriss mainly to avoid the switch statement around the different types and the fact that some of them (restore related) require the backup directory name which isn't always the same as the restore name.

[2018-11-19 16:09] skriss commented on #603
Got it.  The restore-related ones no longer require the backup name since we've moved restores into their own  subdir within object storage (though the controller does still have to get the backup to figure out which backup storage location the backup is in).

My personal preference would be to leave this as-is.  Open to other views though.

[2018-11-19 16:12] ncdc opened #1068 "[Epic] Item selection, inclusion, exclusion"

[2018-11-19 16:14] ncdc commented on #603
It's worked well since we first added it, and it's not really causing any problems. I'll close it and if we need to, we can reopen for 2.x.

[2018-11-19 16:14] #603 closed

[2018-11-19 18:13] carlisia commented on #1067
@kratos81 thank you for reporting. We'll be looking into it.

[2018-11-19 18:14] skriss commented on #131
Here's an initial mini-design for this issue:

**Goals**
- Move all backup/restore-processing logic into `pkg/backup`, `pkg/restore` respectively so there's a single entrypoint for running a backup/restore which can be more easily tested, vendored, etc.
- Make controllers "dumb" - only responsible for watching for new/updated custom resources, enqueuing them, and dequeueing them and passing them t

[2018-11-19 18:55] skriss commented on #488
`pkg/backup` imports:
- `ItemAction`
- `ResourceIdentifier`
- `ResourceSelector`

`pkg/restore` imports:
- `ItemAction`
- `ResourceSelector`

`pkg/cloudprovider` imports:
- `BlockStore`
- `ObjectStore`

It would be nice to eliminate the redundant `ResourceSelector` types in `pkg/backup` and `pkg/restore`, as well.

[2018-11-20 02:34] jaygorrell commented on #858
for others finding this issue when searching how-to, you can use `-oyaml` when creating a schedule with the cli to get the yaml manifest for version control

[2018-11-20 05:35] sachinar opened #1070 "Unexpected behaviour of ark while taking backup."
Hi Team,
@ncdc We are taking backup of kubernetes deployments here what we observed.

1. Firstly we have taken data & deployment backup, in deployment data is about 100 MB,it almost taken 1 Minute for backup to complete.
2. We tried with different setup with same deployment & same data, Now backup taken almost 24 Hours to complete.
 We are unable to find why this happening , even in logs also ther

[2018-11-20 12:11] kratos81 commented on #1067
Thanks @carlisia

[2018-11-20 12:35] mwieczorek commented on #879
I'll be glad to help with that.
Is it only deleting the `spec.priority` in [pod action](https://github.com/heptio/ark/blob/master/pkg/restore/pod_action.go)?

[2018-11-20 13:37] ncdc commented on #879
@mwieczorek yes, thanks!

[2018-11-20 13:38] ncdc commented on #1070
@sachinar

1. Where are you running Kubernetes?
1. What version of Ark?
1. Are you saying you have 100MB of data in a persistent volume?

(in the future, please use our issue template - thanks!)

[2018-11-20 14:05] jaygorrell opened #1071 "Manual S3 copies not showing up in Ark"
**What steps did you take and what happened:**
1. Take a backup with ark
2. Replicate it to the backup s3 bucket of another cluster
3. Ark does not see the backup with `ark get backups`

This can be simplified with one cluster to get the same result:
1. Take a backup with ark
2. Copy the backup somewhere else
3. Remove the backup using the ark cli
4. Manually put the same backup files back where t

[2018-11-20 14:54] ncdc commented on #1071
@jaygorrell This should be working. The ark server syncs the list of backups from object storage to kubernetes every minute. Is it possible you didn't wait long enough? Could you please gist or attach the full ark server log?

[2018-11-20 15:15] skriss commented on #1067
@kratos81 what kind of block storage are you using?  Can you provide the YAML for the PVC and PV?  And also the output of `ark backup describe dr500`?

[2018-11-20 15:54] jaygorrell commented on #1071
I'm running the test again now:
10:17 - Uploaded backup to S3 manually
10:48 - Decided to use ark to manually take a different (larger) snapshot
10:48 - New snapshot was in ark cli, but not the existing one
10:51 - New snapshot finished and ark cli showed the manual one

There's a lot of noise in my logs from testing but I'll try again with a fresh pod if it'd be helpful. I can try to do the manua

[2018-11-20 15:56] skriss commented on #1071
@jaygorrell when you're moving backups around, are you including the `ark-backup.json` file, or only the tarball? The former is needed for Ark to be able to pick up the backup from S3

[2018-11-20 15:58] jaygorrell commented on #1071
I'm including the whole folder

[2018-11-20 16:08] skriss commented on #1071
Gotcha. So I think what's going on here is -- Ark doesn't expect users to be modifying the contents of its bucket behind the scenes.  It uses a file, `metadata/revision`, to track whether any changes have been made to the object storage bucket since the last time it synced, and it updates this file every time it creates/deletes a backup.  If there's no change to that file and it hasn't been >1 hou

[2018-11-20 16:13] jaygorrell commented on #1071
I had another test going and just deleted that file, which worked as you described.

So in my scenario I wanted to have s3 bucket replication sending things to another region (hence my test). As long as the revision file is being replicated, I should be okay then... right? The other region cluster would see the revision changed and perform a sync.

I'm fine if this is closed if that's working as d

[2018-11-20 16:17] skriss commented on #1071
Yep - that sounds right.  Also, just so you know - we do have plans to implement native cross-region backup replication, as well as to improve the experience of sharing backups across clusters.  So don't take the current state of functionality in these areas as the desired state, it's just where we've been able to get so far.  Stay tuned!

[2018-11-20 16:21] #1071 closed

[2018-11-20 16:40] sachinar commented on #1070
@ncdc
1. We are using VMware for kubernetes These are on-prem clusters.
2. We are using v0.10.0 version & we previously using v0.9.1
3. Yes.

[2018-11-20 16:45] ncdc commented on #1070
What storage provider are you using?

[2018-11-20 16:47] sachinar commented on #1070
We are using node storage for backup & for PV also we are using local storage.
We are not using NFS or any storage provider for PV. We are storing PV volume data on node itself.

[2018-11-20 16:48] ncdc commented on #1070
Could you please share `ark backup-location get -o yaml` and `ark snapshot-location get -o yaml`?

[2018-11-20 17:14] sachinar commented on #1070
Hi @ncdc ,
kindly find output.
`ark backup-location get -o yaml`

kind: BackupStorageLocation
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"ark.heptio.com/v1","kind":"BackupStorageLocation","metadata":{"annotations":{},"name":"default","namespace":"heptio-ark"},"spec":{"config":{"region":"minio","s3ForcePathStyle":"true","s3Url":"http://172.1

[2018-11-20 17:16] ncdc commented on #1070
Ok, unless I'm missing something, it doesn't look like you are configured to take snapshots of your persistent volumes.

Could you please paste the output of `ark backup get -o yaml`?

[2018-11-20 17:19] sachinar commented on #1070
`ark backup get -o yaml`

apiVersion: ark.heptio.com/v1
items: []
kind: BackupList
metadata:
  resourceVersion: "12005579"
  selfLink: /apis/ark.heptio.com/v1/namespaces/heptio-ark/backups

[2018-11-20 17:20] ncdc commented on #1070
I'm confused - you have 0 backups?

[2018-11-20 17:20] sachinar commented on #1070
currently we don't have backup on this setup.

[2018-11-20 17:21] ncdc commented on #1070
Could you please run these commands against whatever cluster is being "slow"?

[2018-11-20 17:22] sachinar commented on #1070
yeah will update u the same.
 @ncdc Thanks in advance.

[2018-11-20 17:33] ncdc commented on #1070
That backup hasn't been processed (its status.phase is empty). Could you please check `kubectl -n heptio-ark get pod` and `kubectl -n heptio-ark logs deploy/ark`?

[2018-11-20 18:06] ncdc opened #1072 "Backup checksums"
We need to store checksums of the various files we produce and upload to backup storage. These can then be verified to ensure no tampering.

We may also want/need to add the option to sign the checksum files for additional verification.

[2018-11-20 18:29] skriss commented on #286
Summarizing discussion from above, here's my straw-man proposal:

- Backups and Restores use the following phases:
  - `New`: the object has not yet been processed by the Ark server
  - `Processing`: the object is currently being processed by the Ark server
  - `Processed`: the object has been processed by the Ark server and has reached a terminal state (e.g. for backups, everything that could be

[2018-11-20 18:35] nrb commented on #286
This proposal makes sense to me. I think `FailureReason` for cases where the failure is to upload a log makes a lot of sense in terms of visibility.

[2018-11-20 18:43] skriss commented on #286
One thing I'm still thinking about is how to make it more clear that a backup that's failed validation has no data uploaded to object storage.  E.g. a backup with a single validation error that therefore never backed up anything might be displayed as `Processed (1 error)` which could be the same as for a full-cluster backup that got one error backing up a single PV.  We could:
- keep `FailedValida

[2018-11-20 22:23] kratos81 commented on #1067
Thanks @skriss find the yaml below

[code]

Persistent volume
[code]

[2018-11-20 22:33] acbramley opened #1073 "Getting started documentation link 404s on master"
**What steps did you take and what happened:**
Go to https://heptio.github.io/ark/master/ and click the Getting started link in the left hand nav.

Page 404s https://heptio.github.io/ark/master/get-started

**What did you expect to happen:**

Page displays.

[2018-11-21 00:10] acbramley commented on #836
I got a similar error while using ark version v0.9.11, and the example config from the `release-0.9` git branch. The error was slightly different though:

`An error occurred: [custom resource BackupStorageLocation not found in Ark API group ark.heptio.com/v1, custom resource VolumeSnapshotLocation not found in Ark API group ark.heptio.com/v1, Ark custom resources not found - apply examples/common/

[2018-11-21 00:48] ncdc commented on #836
Are you using the “latest” tag? It looks like you’re using the 0.10 server.

On Tue, Nov 20, 2018 at 7:10 PM Adam Bramley <notifications@github.com>
wrote:

[2018-11-21 00:58] acbramley commented on #836
@ncdc latest tag for what? The ark version I was using (when running `ark version`) was v0.9.11, and the config I used was from the examples directory from the release-0.9 branch (also tried from the v0.9.11 tag)

[2018-11-21 01:04] ncdc commented on #836
For the image in the ark deployment

On Tue, Nov 20, 2018 at 7:58 PM Adam Bramley <notifications@github.com>
wrote:

[2018-11-21 01:08] acbramley commented on #836
@ncdc ahh yes you're right, the example in 0.9 uses `gcr.io/heptio-images/ark:latest` (https://github.com/heptio/ark/blob/v0.9.11/examples/minio/20-ark-deployment.yaml#L36) so that's where that'd come from. Nice catch!

[2018-11-21 11:57] ncdc commented on #836
@roopagowda this issue has been resolved. Please ask your question in https://kubernetes.slack.com/messages/ark-dr or https://groups.google.com/forum/#!forum/heptio-ark. Thanks!

[2018-11-21 17:21] mattnworb commented on #1037
Hi @ncdc thanks for the reply and looking into this!

The operation in question that led to me creating this issue was in fact a true recovery - Ark restored both the DaemonSet and all of the Pods in the (original) cluster that were created by the DaemonSet.

What we noticed after the Ark restore was complete was that we ended up with 2x as many pods for this DaemonSet as we expected - the N pods

[2018-11-21 17:56] dfad1ripe opened #1075 "Documentation page missed or referred wrongly"
**What steps did you take and what happened:**
On https://heptio.github.io/ark/v0.10.0/azure-config documentation page, there is a phrase under "Credentials and configuration" section that says:
"Replace <YOUR_TIMEOUT>. See the VolumeSnapshotLocation definition for details."
Here, words "VolumeSnapshotLocation definition" are a link to "https://heptio.github.io/docs/api-types/volumesnapshotlocatio

[2018-11-21 18:36] #1051 closed

[2018-11-22 10:53] sachinar commented on #1070
@ncdc

This is what happening when we are taking backup.

`time="2018-11-22T10:10:53Z" level=info msg="Retrieved 0 items" backup=heptio-ark/mongo-backup group=extensions/v1beta1 groupResource=podsecuritypolicies.extensions logSource="pkg/backup/resource_backupper.go:243" namespace=
time="2018-11-22T10:10:53Z" level=info msg="Backup completed with errors: [timed out waiting for all PodVolumeBackups

[2018-11-22 13:32] mwieczorek opened #1077 "New gauge metrics for number of existing backups and restores"
Ref: [thread on google groups](https://groups.google.com/forum/#!topic/heptio-ark/8mECN2CuQ14)

**Describe the solution you'd like**
I'd like to get new metrics from ark:
- [gauge] number of existing backups based on the number of CRDs (f.e. to track how many backups do we have and if they are deleted properly)
- [gauge] number of existing restores based on the number of CRDs (this one I don't hav

[2018-11-23 14:34] bashofmann opened #1078 "First backup with restic in a namespace fails"
**What steps did you take and what happened:**
When I try to create a backup with restic, the first backup for a namespace

[code]

fails with

[code]

Complete logs:

[code]

The restic repository has the status ready though

[code]

Restic logs:

[code]

The second backup works then

[code]

Ark logs:

[code]

Restic logs:

[code]

**What did you expect to happen:**

The first backup should alre

[2018-11-25 11:13] neith00 commented on #474
@ncdc I think https://github.com/google/kasane could be useful for replacing complex values

[2018-11-26 08:06] domcar opened #1079 "Use CLI commands instead of YAML for setting up backup/snapshot locations in our documentation"
In the example folder for Minio there is no example for VolumeSnapshotLocation, instead it is present for aws and gcp.

[2018-11-26 15:00] jrnt30 commented on #729
This was a bit of a conversation when Ark was first launched and to appeal to a few parties both `ark <verb> <noun>` and `ark <noun> <verb>` were supported.

Is this "in scope" for this Epic or does this cover something else?

[2018-11-26 15:14] ncdc commented on #1079
@domcar with AWS and GCP, we make the assumption that you want to use the dynamic provisioning for PVs that each provider offers. With the Minio example, we have no way of knowing what kind of volume provider you're using.

@heptio/ark-team should we consider removing all the example BSL and VSL yaml files and instead replace them with the appropriate `ark backup-location create` and `ark snapshot

[2018-11-26 15:32] rosskukulinski commented on #987
+1 for moving `Validation Errors` field.
-1 for adding colored output as that can easily make viewing output in automation tooling (e.g. Jenkins) confusing.

[2018-11-26 15:32] ncdc commented on #987
@rosskukulinski colored log output can be enabled/disabled based upon the presence or absence of a TTY

[2018-11-26 15:36] rosskukulinski commented on #979
@ncdc If Ark doesn't have a functioning backup storage location, the process should eventually exit.  If the Ark pod is running then I would expect that it's functional.  Alternatively, we could leverage a liveness probe to help let users know that Ark is not in a happy state.

[2018-11-26 15:37] moepot opened #1080 "Cannot migrate k8s objects to a new cluster on Azure"
**What steps did you take and what happened:**
We are running a kubernetes cluster on Azure (using AKS Azure Kubernetes Service). We have to create a new cluster and migrate all objects including PV from the old to the new cluster.

Heptio Ark docs says that this is possible:
https://github.com/heptio/ark/blob/master/docs/migration-case.md

These names are replaced by generic names:

Old cluster n

[2018-11-26 15:39] ncdc commented on #979
I'm afraid that if we have the server crashloop because something such as the default BSL is missing, we're going to get bug reports that the server is crashlooping. Do you agree or disagree?

[2018-11-26 15:47] ncdc commented on #1080
@moepot I just double-checked the code, and Ark uses the `AZURE_RESOURCE_GROUP` value from the `cloud-credentials` secret when asking Azure to create a new disk. For reference, it's this call: https://docs.microsoft.com/en-us/rest/api/compute/disks/createorupdate.

Is there any chance you modified the `AZURE_RESOURCE_GROUP` value in your secret **after** you installed Ark in the `rmg-new` cluster?

[2018-11-26 15:51] rosskukulinski commented on #916
@nrb FYI the restic PR was was merged to master, but it's not clear how/when the Restic community decides when to ship a release.

[2018-11-26 16:02] rosskukulinski opened #1081 "helm"

[2018-11-26 16:02] #1081 closed

[2018-11-26 16:02] moepot commented on #1080
Hi @ncdc

Yes. I realized later that I had to modify the value, so I modified it after the ark installation. As I type this, I realize that I possibly have to kill the ark controller? ...

[2018-11-26 16:04] ncdc commented on #1080
@moepot yes, the Ark server does not watch the secret to see if anything changed. You have to manually restart the Ark server pod (either by deleting it, or by scaling the Ark deployment down to 0 and then back up to 1).

[2018-11-26 16:16] moepot commented on #1080
Thank you @ncdc.
I deleted the ark pod and created a new backup and restore `migration-test-4`.

Now I get a WARNING in the restore object:

[code]

[2018-11-26 16:19] ncdc commented on #1080
You would have needed to delete some or all of the objects created from your first restore attempt in the new cluster; in this case, specifically the PV and probably the PVC too.

[2018-11-26 16:29] ncdc commented on #357
It's now a server flag: `--restore-only`. From what I understand, the plan is to add `restoreOnly` to the `BackupStorageLocation` object and remove the server flag as part of the ownership/replication story.

[2018-11-26 16:40] rosskukulinski commented on #979
@ncdc ahh! I didn't realize that this is related to a missing _default_.  Agree crashlooping for that is bad.

[2018-11-26 18:50] carlisia opened #1082 "Colored output"
This is a branch off of #987.

We should decide if we want colored output and, if so, which output should be colored vs not.

[2018-11-26 18:51] carlisia commented on #987
@rosskukulinski good idea re separating the color issue. I opened an issue to track it: https://github.com/heptio/ark/issues/1082

[2018-11-26 18:55] carlisia commented on #1079
I think for the purpose of examples using the commands instead of the file is better for precision and clarity.

I also think having an example of what those files look like is very helpful so I would advocate to having that in the docs if we remove them.

[2018-11-26 19:05] #879 closed

[2018-11-26 19:30] egagala opened #1083 ""ark backup describe" doesn't show Persistent Volumes"
**What steps did you take and what happened:**
I created ark backup of app with Persistent Volumes snapshots. I could see in AWS console that these snapshots were created correctly. However the output of "ark backup describe" always shows:

Persistent Volumes: none included

It seems issue exists in ark/pkg/cmd/util/output/backup_describer.go and was introduced together with commit  f014cab1fe9cfe

[2018-11-27 06:04] domcar commented on #1079
@ncdc yes, i looked at it too quickly, thanks :)

[2018-11-27 14:19] moepot commented on #1080
Thank you very much! It worked now. Should I send a PR to clarify the migration-case.md ? I'd add another point like

[2018-11-27 14:19] #1080 closed

[2018-11-27 14:36] ncdc commented on #1080
@Bradamant3 ^^^^

[2018-11-27 16:48] skriss commented on #1078
@bashofmann thanks for the report, I'll take a look at this.  Theoretically the code should wait for the repo to be ready before trying to take a restic snapshot, but there could be a bug :)

[2018-11-27 16:52] skriss commented on #1073
thanks for the report @acbramley

[2018-11-27 17:03] nrb commented on #916
@rosskukulinski Thanks for that update - I saw it, but correct, we are waiting on a new release.

[2018-11-27 17:18] gandarez commented on #1067
any update here? I need to know if ark puts disks offline before backup.

[2018-11-27 18:03] gandarez opened #1084 "snapshot of persistent volume should go offline"
As the documentation says
```"By default, ark backup create makes disk snapshots of any persistent volumes. You can adjust the snapshots by specifying additional flags. Run ark backup create --help to see available flags. Snapshots can be disabled with the option --snapshot-volumes=false."```

Would be great if the volume goes offline before taking snapshot, is it possible?

**Environment:**

- Ar

[2018-11-27 18:07] jrnt30 opened #1085 "Allow creation of backup from Schedule"
At times we want to manually kick off a set of backups "out of band of their normal schedule".  It would be useful if we had the ability  to create a `Backup` off of a `Schedule` and simply re-use that information already similar to the new Kuberente's Job cli's ability to create  `--from <CronJob>`

[2018-11-27 18:08] ncdc commented on #1085
Dupe of #656 😄

[2018-11-27 18:08] #1085 closed

[2018-11-27 18:09] ncdc commented on #1084
@gandarez this is not something Ark can do directly because we are sitting at a layer above the kubelet. That said, you can use `fsfreeze` to freeze and unfreeze the file system - please see https://github.com/heptio/ark/blob/0fd7872ef48ce617e561e6e45f8ccb0f11637f58/docs/hooks.md#hook-example-with-fsfreeze for more details.

[2018-11-27 18:10] ncdc opened #1086 "Upgrade Azure SDK to non-beta"

[2018-11-27 18:14] ncdc commented on #1070
@sachinar not sure if you still have the logs, but if you do, could you please grab them from the ark restic pod(s) on your node(s)?

[2018-11-27 18:17] ncdc commented on #1067
@kratos81 we will try to reproduce and get back to you this week. In short, Ark takes a snapshot using the storage provider's API. Every provider we're familiar with does a point-in-time snapshot, so what you're seeing shouldn't be happening. I'm guessing there's something subtle that is happening - we'll let you know what we find out.

@gandarez I saw you opened #1084 - I replied there.

[2018-11-27 18:48] jrnt30 commented on #1085
Thanks!  At least it wasn't my issue... :)

[2018-11-27 18:54] ncdc opened #1087 "Add ability to upgrade velero version via CLI"
- check for missing CRDs and add them
- ideally preserve upgrade logic for each version, to support upgrading from _n_ to _n+2_ without having to do _n+1_ first.

[2018-11-27 18:59] ncdc opened #1088 "[Epic] Finalize plugins"

[2018-11-27 19:05] gandarez commented on #1067
@kratos81 thanks for you prompt reply I'll look into this.

[2018-11-27 19:20] ncdc commented on #596
xref #529

[2018-11-27 19:22] ncdc opened #1089 "Define expectations with client/server version skew"
e.g. should the server reject/fail new backups/restores if they come from an older client / are missing certain fields?

[2018-11-27 19:29] ncdc commented on #845
Closing. Please reopen if you need more assistance.

[2018-11-27 19:29] #845 closed

[2018-11-27 22:08] mwieczorek commented on #965
@ncdc Is it possible to extract part of this issue (`modify interface as you suggested, to include original object's state too`) and add it to the epic #1088 ?

[2018-11-27 22:13] kratos81 commented on #1067
@ncdc Thanks , let me know if you need any more information that would aid your investigation.

Regards

[2018-11-27 22:15] ncdc commented on #965
@mwieczorek yes, however, the ownerReference typically includes the UID of the owning object. As we've seen in #1037, if Ark creates an object and preserves the ownerReference of the original object, including its original UID, the cluster most likely will end up with too many copies of things (see my description in 1037 for more details).

And, as I wrote above, if we do

1. Restore owner e.g. Re

[2018-11-27 22:17] ncdc commented on #965
There is also #612 asking for the backup/restore to be passed to the backup and restore item actions. Not 100% related to this request, but another possible change to the signatures.

[2018-11-28 04:51] wwitzel3 commented on #1067
I'm looking at this and attempting to reproduce. I was not able to reproduce the problem in my existing cluster. I plan to bring up a new cluster and follow the exact steps outlined with the versions mentioned to see if that reproduces the problem for me. I'll update the issue with what I find after doing that.

[2018-11-28 07:16] mwieczorek commented on #965
@ncdc I fully agree that setting new UID f.e. for pods doesn't make sense. And I don't want to be done by Ark itself.
What I'd like to be able to do is to enable plugins to set new UID. But for now, in plugins I don't have original UID and other metadata from ownerReference (ownerReference is deleted from the object before the plugins are executed).

So what I propose is to only modify the interfa

[2018-11-28 11:09] eyalzek opened #1091 "Backups sync causes high rate of 409 requests in api-server"
we use ark to backup our staging/production namespace before deployments which happen several times a day, there's not much persistence (volumes) so backups are relatively small.  The backup sync period is configured to run every 60 minutes, every time the sync runs it looks like the api server returns 409 for all sync requests. I assume this is not normal.

Here are logs from the api server and t

[2018-11-28 11:44] ncdc commented on #1091
This was fixed in v0.10.0. Are you able to upgrade (note, there are some manual steps required)?

[2018-11-28 11:44] ncdc commented on #1091
The original issue was #281

[2018-11-28 11:51] eyalzek commented on #1091
Ah ok I missed that issue. I'm using the stable helm chart (https://github.com/helm/charts/tree/master/stable/ark) and I'm not sure they upgraded to support it yet, I'll take a look.

[2018-11-28 14:45] ncdc commented on #965
I'll open a new issue for expanding the interface and then I guess we can close this one?

[2018-11-28 14:48] ncdc opened #1092 "Expand restore item action interfaces to include unmodified object from backup"
Forked from https://github.com/heptio/ark/issues/965.

If I get object with deleted metadata I have to rely on secret's name (which I think should be equal to SB name) but if I get object from the backup I can get old ownerReference.

[2018-11-28 14:48] ncdc commented on #965
New issue is https://github.com/heptio/ark/issues/1092

[2018-11-28 14:51] ncdc commented on #474
cc @bryanl - would love to get your input & we should chat about this soon-ish

[2018-11-28 15:37] eyalzek commented on #1091
Updating to v0.10.0 seems to have fixed it, thanks!

[2018-11-28 15:37] #1091 closed

[2018-11-28 15:44] ncdc opened #1093 "Need to defer closing the the ReadCloser in ObjectStoreGRPCServer.GetObject"
According to https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/making-requests.html, under "Handling Operation Response Body", if we call an operation that returns a `Body` in the response object, we need to `Close()` it when we're done with it. The same is true for GCP and Azure.

We should add the `defer` here: https://github.com/heptio/ark/blob/09042a9015e17d8dc00399a0c516a604d5f94f9d/p

[2018-11-28 17:38] ncdc commented on #770
Decision: add a `Status` CRD that for now just contains the server version. Update the `ark version` command to use that to get the server's version. We'll create a new issue for an `ark status` command with additional details.

[2018-11-28 17:40] ncdc opened #1094 "Add `velero status` command"
Expansion of #770. Add more details, such as "missing a BackupStorageLocation". More details TBD.

[2018-11-28 18:01] ncdc opened #1095 "R&D for inclusion/exclusion"
Review all the issues in epic #1068 and write a design document describing the various options for inclusion, exclusion, selection, issues with owner references, etc.

[2018-11-28 18:12] ncdc commented on #469
@rosskukulinski can we talk about this soon?

[2018-11-28 18:17] wwitzel3 opened #1096 "update Helm for v0.11"
Create a PR in upstream for the 0.10 release.

https://github.com/helm/charts/tree/master/stable/ark

[2018-11-28 21:03] rosskukulinski commented on #469
@ncdc sure! Maybe Tuesday?

[2018-11-28 21:04] ncdc commented on #469
Sounds good.

[2018-11-28 23:07] wwitzel3 commented on #1067
Unfortunately, I was unable to reproduce using the method described above. I attempted to reproduce this many times under GCP/GKE. I ensured that I used the exact versions mention in the issue and also tried using older and newer combinations, including upgrading my Ark install to 0.9.9 from an older version before running through the steps.

I used Helm to install `stable/postgresql` and generate

[2018-11-28 23:16] nrb commented on #1067
@kratos81 I'm curious about these statements:

It sounds like the database isn't in the pod that was deleted - is that correct?

[2018-11-28 23:18] wwitzel3 commented on #1067
@kratos81 would you be willing to setup a time to do a Zoom / screen share session so we could try to debug this issue further? If so, let me know, and we can try to find a convenient time for you.

[2018-11-28 23:32] kratos81 commented on #1067
Thanks  all for  the feedback.

@nrb as soon as the backup finished , I deleted the database pod  using kubectl  - I had reached out to the team on slack before to comment on this and was told to delete the pod after the backup .   I was thinking some caching issue might have been the cause.

@wwitzel3 I am available this Friday , what time works best for you ?

[2018-11-28 23:35] nrb commented on #1067
@kratos81 Ok. I find it interesting that you can still connect if the pod's gone. I'll let Wayne continue to work with you.

[2018-11-28 23:37] ncdc commented on #1067
Indeed. How do you connect to the database at this point?

On Wed, Nov 28, 2018 at 6:35 PM Nolan Brubaker <notifications@github.com>
wrote:

[2018-11-29 00:02] kratos81 commented on #1067
So , what I am concerned about  is the data written  to the underlying volume .

(i) Created a database with helm
(ii) Inserted records by creating a table -> this is the restore point
(iii) I take a backup , delete the pod , another pod comes up ( since a statefulset)
(iv) I connect to the pod , insert another table ( making two tables ) , the second table is created after the restore point creat

[2018-11-29 00:08] ncdc commented on #1067
Can you share the full output from ‘ark restore describe NAME’?

On Wed, Nov 28, 2018 at 7:02 PM Kenna <notifications@github.com> wrote:

[2018-11-29 00:13] kratos81 commented on #1067
[code]

[2018-11-29 00:14] ncdc commented on #1067
What is that PV in the warnings - is it the one for Postgres?

On Wed, Nov 28, 2018 at 7:13 PM Kenna <notifications@github.com> wrote:

[2018-11-29 00:19] kratos81 commented on #1067
Yes, thats the pv for Postgres

[2018-11-29 00:20] ncdc commented on #1067
Ok, this shows you didn’t delete the PV before doing the restore.

On Wed, Nov 28, 2018 at 7:19 PM Kenna <notifications@github.com> wrote:

[2018-11-29 00:30] kratos81 commented on #1067
Ok , I'll retry the test and provide results

Thanks

[2018-11-29 09:45] mwieczorek commented on #965
Yes, I'll close this one. Thanks.

[2018-11-29 09:45] #965 closed

[2018-11-29 15:36] ncdc opened #1097 "Document why Ark doesn't restore storageClassName on a PersistentVolume"
We should document in both code comments and .md docs why Ark does not restore the storageClassName on a PersistentVolume. See
https://github.com/heptio/ark/issues/791#issuecomment-416631566 for details.

[2018-11-29 15:44] skriss commented on #1097
we should probably experiment with it too to see if it really needs to be removed - a lot's changed since that code was originally written.

[2018-11-29 16:00] kratos81 commented on #1067
So I redid the test twice , same result.

Test details
=========

(i) create the database

[code]

(ii) connect to the database , create a table and insert 500 records

[code]

(iii) create a restore point containing the 500 records
[code]

(iv) delete pod

[code]

(v) Connect to new pod , create another table and insert 5000 records

[code]

(vi) Delete the pv , pvc

[code]

(viii) create restore

[2018-11-29 16:02] ncdc commented on #1067
@kratos81 do you want to do a screenshare session now?

[2018-11-29 17:00] Evesy commented on #915
Hi, This is something we've been thinking about too. We (generally) namespace our applications and in the event we need to restore one, we need to restore the relevant ConfigMap's for the release too.

Helm does label the ConfigMaps as per the below:
[code]

When we've had to do this previously for an individual application we've restored in two phases:
`ark restore create --from-backup=<> --inclu

[2018-11-29 17:11] ncdc commented on #1067
Summarizing what we saw in the screenshare:

1. Deploy Postgres using Helm
    1. This creates e.g. a statefulset + pod, which uses a pvc, which points at a pv
1. Add table to database
1. Take Ark backup of just PV and PVC
1. Add 2nd table to database
1. Issue `kubectl delete pvc <name>`
    1. Because the PVC is still bound to the PV, manually remove the finalizer to force deletion
1. Issue `kube

[2018-11-29 17:12] ncdc commented on #915
@Evesy does Helm automatically label all the items it creates (pods, services, etc) with a common label, or is that entirely up to the chart itself?

[2018-11-29 17:24] Evesy commented on #915
@ncdc Unfortunately not. There's a bit of a convention of having the below labels, but even those don't align with Helm ConfigMap's:

[code]

[2018-11-29 17:31] ncdc commented on #915
Does the ConfigMap list everything that Helm created for the chart?

[2018-11-29 17:43] Evesy commented on #915
It'll include all 'standard' resources that Helm has created, however CRD's created by `crd-install` hooks, as well as any actions taken with other pre/post install hooks won't be in there, so even that isn't reliable :(

[2018-11-29 21:32] ncdc commented on #582
I'm ok with BackupItemAction, RestoreItemAction, and ObjectStore. I'd like to rename BlockStore. Some options:

- VolumeSnapshotter
- VolumeSnapshotProvider
- VolumeStore
- VolumeStorage

Any other ideas?

[2018-11-29 21:33] ncdc commented on #488
Also consider moving `cloudprovider.ObjectStore` and `cloudprovider.BlockStore` to either their own `object*` and `volume*` packages, or create a single package that contains all the interfaces that plugin authors can potentially implement.

[2018-11-29 21:42] ncdc commented on #583
Proposal: ark internal plugins do not need to be "namespaced". All other plugins must be so, using the format `<namespace>/<name>`, such as `foo.com/aws`. If Ark detects 2 plugins with the same name (`foo.com/aws` and `foo.com/aws`), that is an error.

[2018-11-29 21:56] ncdc commented on #584
Let's say we want to enable/disable and configure the "foo.com/pod" BackupItemAction. Possible options:

- Create a ConfigMap in the heptio-ark namespace, the name can be whatever:
[code]

Let's say we just want to disable a plugin that has no configuration:

- add `--enable-plugins NAME(s)` and/or `--disable-plugins NAME(s)` flags to the `ark server`
- use ConfigMaps and Ark is responsible for ch

[2018-11-30 18:39] gandarez opened #1100 "An error occurred: unknown flag: --snapshotVolumes"
**What steps did you take and what happened:**
./ark backup create mano-brown_20181130_1 --snapshotVolumes

**What did you expect to happen:**
To create volume snapshots

**Environment:**

- Ark version (use `ark version`): v0.10.0
- Kubernetes version (use `kubectl version`): v1.11.2-gke.18

[2018-11-30 18:41] skriss commented on #1100
@gandarez the flag you're looking for is `--snapshot-volumes` (though you don't really even need to specify it explicitly - as long as you have a `VolumeSnapshotLocation` configured, snapshots will automatically be taken).

[2018-11-30 18:46] gandarez commented on #1100
voila!

[2018-11-30 18:46] #1100 closed

[2018-11-30 19:50] mehemken commented on #1096
I'm building a helm chart for use internally at my company. I've run into a failure due to a CRD not being immediately available. The prereqs file creates the BackupStorageLocation and VolumeStorageLocation CRDs but to create a resource of kind BSL or VSL fails because those CRDs are not found.

Helm is aware of this:
https://docs.helm.sh/chart_best_practices/#install-a-crd-declaration-before-usin

[2018-11-30 20:01] rosskukulinski commented on #560
Re-Opening as we should revisit what a vSAN plugin for vSphere might look like.

[2018-12-01 12:41] wiegandf commented on #1096
A third option would be to extend the current hook-deploy.yaml file and create the custom resources with a job. The downside is that the custom resources are not managed by the helm release then.

[2018-12-03 12:22] kratos81 commented on #1067
Thanks to your suggestions , I was able to test and get the results I was looking for.

New test
=======

Existing state of the cluster / database

[code]

(ii) Backup taken for that restore point

[code]

(iii) Add another table

[code]

(iv) Delete the StatefulSet and persistent volume using the app label

[code]

(v) Initiate a restore using the backup created
[code]

(vi) Confirm that the pers

[2018-12-03 14:55] mwieczorek commented on #1092
Hi, can I help here and start to extend the interface for plugins or do you have a plan to start it after some other issues from the related epic?

[2018-12-03 14:56] ncdc commented on #1092
We're doing a lot of plugin rework, so one of us is going to end up having to rebase. That will likely take longer than this change, so if you'd like to proceed, please feel free!

[2018-12-03 15:12] egagala opened #1101 "Document permission needed for Ark when dealing with AWS encrypted resources"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

When AWS S3 buckets, EBS volumes and snapshots are encrypted and KMS is in use additional permissions are needed for Ark IAM policy. Without it either backup or restore will fail. To be specific:

- "kms:GenerateDataKey" is needed to backup data in the encrypted data buc

[2018-12-03 15:13] ncdc commented on #1101
cc @mattmoyer @asenchi

[2018-12-03 15:14] ncdc opened #1102 "Upgrade go-plugin"
Newer commits include protocol version negotiation, and fixes to make Kill() idempotent

[2018-12-03 15:22] egagala opened #1103 "Enhance Ark to deal correctly with fsfreeze privileges"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

In https://github.com/heptio/ark/blob/master/examples/nginx-app/with-pv.yaml security context of pod is set to `privileged: true` to add permissions needed for fsfreeze.

However if your Kubernetes cluster is set with recommended (see CIS benchmarking) security setting "DenyEscalatingExec" it preven

[2018-12-03 16:30] skriss commented on #592
@ncdc I'm tempted to say that we should just document that we back up the server's preferred version, and that in order to restore resources, the API group/version that was backed up needs to exist in the target cluster, and let Kubernetes handle any conversions.

[2018-12-03 16:32] ncdc commented on #592
Definitely an easy and good initial step. If the need arises, we could look into making different "conversion plugins" that pull in the conversion code from Kubernetes at various points in time (to avoid missing out on a dropped API version).

[2018-12-03 18:01] nrb commented on #952
Looking at what I may do for #52, I'm thinking the following:

* YAML examples will be entirely from the repository. If YAML is needed, users can run `ark install --dry-run -o yaml` (exact args and flags not necessarily final)
* Each provider's install invocation will be with instructions for preparing the necessary provider-specific steps. I'm thinking that doing provider set up like creating buc

[2018-12-03 21:16] #1029 closed

[2018-12-03 21:40] #592 closed

[2018-12-04 12:29] sachinar commented on #1070
@ncdc If I have data of 90GB. How much time ark will take to backed up the data?

We are really confused about ark behaviour. Because we have 90 GB of data in 4 different pods with  statefulset. We have started backup around 5 hours backup but still it is in in-progress state.

`ark backup describe ignite-backup --details `

Namespace:    heptio-ark
Labels:       ark.heptio.com/storage-location=de

[2018-12-04 12:42] shaikatz opened #1109 "Backup changes deployments apiVersion"
**What steps did you take and what happened:**
We run a backup and the resulting deployment files apiVersion changed from `extensions/v1beta1` to `apps/v1`.

**What did you expect to happen:**
The resources apiVersion shouldn't be changed by ark backup.

**Anything else you would like to add:**
This behaviour blocks us from downgrading from 1.11.4 cluster to version that doesn't support `apps/v1`.

[2018-12-04 15:43] rosskukulinski commented on #1096
Helm's support for CRDs is a known problem.  I was pointed to https://github.com/helm/helm/issues/4863 as something we should look into which also references this [community proposal](https://github.com/helm/community/pull/64).  We should be very careful until the Helm community works this out.

[2018-12-04 15:44] rosskukulinski commented on #1096
and FWIW, Istio & cert-manager are also facing similar challenges

[2018-12-04 16:31] ncdc commented on #1109
The only thing that quickly comes to mind would be to add a field to the backup allowing the user to indicate if they want the oldest api version or the server's preferred api version. Ark currently uses the server's preferred api version. xref #1105

[2018-12-04 16:36] ncdc commented on #1109
We also currently use `apps` in favor of `extensions`, so we would need a way to control that.

@shaikatz what version are you trying to downgrade to, and why?

[2018-12-04 16:38] #765 closed

[2018-12-04 16:38] ncdc commented on #1070
@sachinar I saw you chatted on Slack with @skriss - were you able to resolve this?

[2018-12-04 16:39] sachinar commented on #1070
@ncdc  yep but need to check It is resolved or not.
I will get you posted on this.

[2018-12-04 16:41] sachinar commented on #1070
@ncdc I think this issue is resolved I just saw. Backup is going on. If any help I will post in Slack channel.

[2018-12-04 16:41] ncdc commented on #1070
Thanks, I'll close for now.

[2018-12-04 16:41] #1070 closed

[2018-12-04 16:42] shaikatz commented on #1109
We trying to downgrade to 1.8.8 because we came up with some issues with 1.11.4 installation and we want to go back to our safe place before trying anything else.

[2018-12-04 16:56] johnjbateman opened #1110 "backup fails on pvc's "error creating snapshot" in AKS cluster"
**What steps did you take and what happened:**
I followed the exact same steps for two clusters.  One worked and one didn't.  After running all the installation and deployment of the yamls, the first initial backup fails at the steps to backup PersistentVolumeClaims.

ark backup create <name>

Error from backup logs is:

`backup=heptio-ark/nexsys-prod error="error creating snapshot: rpc error: cod

[2018-12-04 16:59] ncdc commented on #1110
@johnjbateman when we've seen this before, it's almost always a typo in the cloud-credentials secret (extra whitespace, etc).... right @skriss?

[2018-12-04 17:01] #1047 closed

[2018-12-04 17:03] johnjbateman commented on #1110
These are the steps I followed.  I don't know how I could have typo'd:

[code]

[2018-12-04 17:04] johnjbateman commented on #1110
I just saw this:

`--query 'password'`

Is the word 'password' a literal?  Should that be an actual password?

[2018-12-04 17:05] ncdc commented on #1110
No, it's correct as `'password'` - that tells `az` that you want it to output just the password from the returned data.

[2018-12-04 17:07] johnjbateman commented on #1110
OK, thank you.  I checked the values in the secret, and I see they look fine.  I don't know what else to check:

[code]

I echo'd out the values of those variables and they look right.  for the AZURE_CLIENT_SECRET, where can I verify that?  in Azure AD?

[2018-12-04 17:08] ncdc commented on #1110
FWIW, a previously reported similar issue: #269.

You wrote above that the subscription is different in the one that's failing. AFAIK, `AZURE_SUBSCRIPTION_ID=`az account list --query '[?isDefault].id' -o tsv` will always return the same subscription. Can you confirm that you have the subscription correct?

[2018-12-04 17:13] skriss commented on #1110
@johnjbateman in https://github.com/heptio/ark/issues/1110#issuecomment-444176578, the first line sets `AZURE_CLIENT_SECRET`, then later you reset the secret and assign the new value to `AZURE_CLIENTSECRET` (note missing underscore), then you create the `cloud-credentials` secret using `AZURE_CLIENT_SECRET` (which is the original/no longer valid value).

You shouldn't need to reset the secret sinc

[2018-12-04 17:13] johnjbateman commented on #1110
Yes, that was verified by echoing the value of that variable.  It is correct as to which subscription I am working with now (the one that is not working)

[2018-12-04 17:14] johnjbateman commented on #1110
@skriss I will check that right now.

[2018-12-04 17:56] johnjbateman commented on #1110
@skriss It was the typo in the variable AZURE_CLIENTSECRET.  Somehow that change got committed to my repo!  This is working now.  Thank you!

[2018-12-04 17:56] #1110 closed

[2018-12-04 18:31] rosskukulinski commented on #1109
Hi @shaikatz,

Thanks for using Ark and I'm sorry you ran into problems with your Kubernetes upgrade from 1.8.8 to 1.11.4.

Unfortunately, Ark isn't currently capable of supporting Kubernetes cluster downgrades.  As @ncdc mentioned, Ark is currently configured to use the API Server's preferred API version, which is appropriate for _most_ situations, especially for Kubernetes upgrades.  As we work

[2018-12-04 18:31] #1109 closed

[2018-12-04 21:15] #811 closed

[2018-12-04 22:50] skriss opened #1111 "Simplify what's shown in `ark version`"
`ark version` output is currently as follows:

For a release:
[code]

For a development binary or container image binary built with `make build`, `make local`, etc:
[code]

I'd like to make some changes to this:
- `Version` should remain as-is, which is either the git tag (if for a release built with goreleaser) or the value specified for `VERSION` (if built using `make build`)
- `Git commit` shou

[2018-12-05 00:02] wwitzel3 opened #1112 "Appending to CHANGELOG.md causes too many merge conflicts."
Overlooked the fact that a person adding a changelog entry to the same file for every PR could create a lot of merge conflicts. We will adopt the pattern of adding a new file for every changelog entry in the `changelog/unreleased` folder.

We will update our contributing doc and current development changelog to reflect this.

[2018-12-05 00:03] wwitzel3 commented on #1112
See discussion: https://github.com/heptio/ark/pull/234#issuecomment-444261265

[2018-12-05 00:07] wwitzel3 commented on #1112
I think for now I won't add any special tooling for this. During a release we can just `cat changelog/unreleased/*` to get the changelog list. Opinions?

[2018-12-05 14:57] ncdc opened #1113 "Restoring a full cluster backup that has restic repositories results in errors"
The restore operation ends up restoring `ResticRepository` resources from the backup, but these are automatically managed by the Ark server. We then see errors such as

[code]

We previously added code to exclude restoring `backups` and `restores` from the backup. I think we at least need to broaden this to include `resticrepositories`. We may want to extend it to the entire `heptio-ark` (or custo

[2018-12-05 14:57] ncdc commented on #1113
Potential workaround for now: `ark restore create ... --exclude-namespaces heptio-ark ...`

[2018-12-05 15:00] ncdc commented on #1112
SGTM @wwitzel3!

[2018-12-05 15:04] ncdc commented on #1112
Let's say I put this in my file:
[code]

That's the current format. That includes indentation, the bullet, the PR number, and the author.

What if we did something like this? The file name includes the PR number and the GitHub username, such as `234-ncdc`, and the contents then look like this:
[code]

Or is that too much work (tooling wise) and we should just keep it simple for now?

[2018-12-05 15:11] wwitzel3 commented on #1112
I like the `issue-author` naming convention. We would need to add some helper that spit out the desired format, but that wouldn't be difficult at all. I am fine with that as our starting point here. Do you imagine that would be run as a make target? `make gen-changelog`

I do want to try and keep things as simple as possible for now and extend it as we make releases and find pain points.

[2018-12-05 15:13] ncdc commented on #1112
The more makefile targets, the merrier! 😄 If we have a simple tool to walk the unreleased dir and spit out properly formatted text, 👍

[2018-12-05 15:30] #85 closed

[2018-12-05 17:17] nrb commented on #1111
This seems reasonable to me.

How do you think we should render server version when that's added? I assume what will be returned will be the same string that's displayed for client-side, just attached to the CRD, so it would look something like `Server version: v0.10.0`.

[2018-12-05 17:45] carlisia commented on #1112
This sounds very doable, 👍

[2018-12-05 17:45] carlisia commented on #1112
But also, the tooling doesn't have to be done as part of this issue.

[2018-12-05 18:52] nrb commented on #691
@jhamilton1 So as we've been iterating on this, we've tried just waiting on the namespace itself. That leads to the following scenario:

1. User issues `kubectl delete mynamespace --wait=false`
1. User issues `ark restore create --from-backup backup-with-mynamespace`
1. Ark walks down its prioritized resources, and encounters PVs first
1. PV associated with a PVC in `mynamespace` is not yet delete

[2018-12-05 18:57] rbankston commented on #691
@ncdc going to take over from Jesse.

[2018-12-05 19:20] nrb commented on #691
@rbankston, @ncdc, and myself had a call, and this is what we're going to move forward with:

* Wait up to a timeout for namespaces to delete
* For PVs:
  - check if there's a deletion timestamp on the PV.
  - if not, check the associated PVC for a deletiontimestamp
  - if PVC exists and has no deletion timestamp, check the PVC's namespace for deletion timestamp
  - if NS exists and has no deletio

[2018-12-05 19:23] ncdc commented on #691
Also check the PV to see if its reclaim policy is delete and if it's been released.

[2018-12-05 20:43] ncdc commented on #1060
@yastij you still planning on doing this?

[2018-12-05 21:04] yastij commented on #1060
Yes, shipping it while flying to kubeCon, sorry for the delay

[2018-12-06 18:02] #1112 closed

[2018-12-06 18:35] skriss commented on #1111
@nrb yeah that's what I was thinking.

anyone else opposed to dropping `Git tree state`?

[2018-12-06 18:51] ncdc commented on #1111
+1 to dropping as long as we include `--dirty` as part of our `git describe` to get the commit.

[2018-12-06 19:00] skriss commented on #1111
@ncdc I wasn't planning to use `git describe` to get the commit -- I was proposing switching to outputting the full SHA there, which `goreleaser` exposes as a built-in template var, and which our image build would get using `git rev-parse HEAD`.  If we want to keep the output of `git describe` there (which isn't just the straight SHA), *and* show an indication of dirty or not, then not sure that t

[2018-12-06 19:07] skriss commented on #1111
I'm happy to keep a clean/dirty indication if it's useful -- but I would still like to switch from `git describe` output to a a full git SHA for `Git version`

[2018-12-06 19:08] rbankston commented on #691
Thanks for verifying how this should look and feel for the users going forward. Can I let the customer know that v0.10.1 is the version this should land in?

[2018-12-06 21:31] ncdc opened #1122 "We need your ideas for renaming Heptio Ark!"
VMware has announced its intent to acquire Heptio, and as we join forces we are going to resolve any confusion / conflict with Arq (a different backup tool). We need your ideas to rename Heptio Ark—please jump in with suggestions that meet these criteria:

1. English word. No made-up terms or acronyms please. The name should be discoverable in an English dictionary.
2. Nautical theme. To be consis

[2018-12-06 21:33] carlisia commented on #1122
- VMware Anchor: Don't leave your clusters adrift / Never lose your clusters

- Barge

- Barca

[2018-12-06 21:38] wwitzel3 commented on #1122
* gantry

[2018-12-06 21:39] timothysc commented on #1122
kivotós - ark in greek.

[2018-12-06 21:39] carlisia commented on #1122
Needs to be an english word!

[2018-12-06 21:39] skriss commented on #1122
- bulwark
- krate

[2018-12-06 21:39] ncdc commented on #1122
Posting on behalf of Jeff Settle: dolly, after the cloned sheep

[2018-12-06 21:39] wskulley commented on #1122
lifeboat
preserver
dinghy
pinnace

[2018-12-06 21:40] jonmeacham commented on #1122
Drydock

[2018-12-06 21:40] dharmab commented on #1122
Something related to marine salvage seems approriate. _Vasa_ or _Azorian_?

[2018-12-06 21:44] sfotony commented on #1122
EPIRB

[2018-12-06 21:44] jcrowthe commented on #1122
- First Mate - the second in command of the ship
- Extremis - the point at which two vessels must break away to avoid a collision

[2018-12-06 21:44] wbauern commented on #1122
Arky McArkface

[2018-12-06 21:45] jcrowthe commented on #1122
"BackupMcBacky Face"

[2018-12-06 21:45] katiemorrissey commented on #1122
Drogue /droʊɡ/
A device to slow a boat down in a storm so that it does not speed excessively down the slope of a wave and crash into the next one. It is generally constructed of heavy flexible material in the shape of a cone.

[2018-12-06 21:46] ncdc commented on #1122
Please keep the names constructive. We'll be deleting those that are not.

[2018-12-06 21:47] stevesloka commented on #1122
**lagan**: cargo jettisoned from ship but marked by buoys for recovery

[2018-12-06 21:47] jbeda commented on #1122
BlueMarlin -- [the ship shipping ship](https://en.wikipedia.org/wiki/MV_Blue_Marlin)

[2018-12-06 21:48] detiber commented on #1122
naval recovery ships: https://history.nasa.gov/ships.html

[2018-12-06 21:49] cparedes commented on #1122
Heptio Backup and Recovery Cruise Ship (tm)

[2018-12-06 21:51] rdodev commented on #1122
* Cove (a sheltered bay where ships go set anchor in bad weather)
* Rescue
* Crane (used to move containers on and off ships)

[2018-12-06 21:54] opowbow commented on #1122
Stern

Tide

Rum

[2018-12-06 21:54] rdodev commented on #1122
* Heptio Lifevest
* Heptio Flare
* Heptio Lighthouse

[2018-12-06 21:55] ncdc commented on #1122
@rdodev can't have Heptio in the name 😛

[2018-12-06 21:56] rdodev commented on #1122
@ncdc fixed :)

[2018-12-06 21:56] jcrowthe commented on #1122
- Scuttle - as in we're scuttling the remainder of the k8s ship in favor of a full disaster recovery

[2018-12-06 21:57] wskulley commented on #1122
Cutter

[2018-12-06 21:57] kris-nova commented on #1122
Sloop

[2018-12-06 21:58] k8k commented on #1122
Noah

[2018-12-06 21:58] kris-nova commented on #1122
Dingy!

[2018-12-06 21:59] castrojo commented on #1122
Pharos - the lighthouse of alexandria
Ikaros - sounds cool, and greek but not too greek?

[2018-12-06 22:02] jcrowthe commented on #1122
Waypoint

[2018-12-06 22:02] MQasimSarfraz commented on #1122
Concur

[2018-12-06 22:02] xstevens commented on #1122
* Tug
* Auxiliary

[2018-12-06 22:02] bgulla commented on #1122
Tender - boat, or a larger ship used to service or support other boats or ships, generally by transporting people and/or supplies to and from shore or another ship.

[2018-12-06 22:02] xgerman commented on #1122
Ahab

[2018-12-06 22:05] lachie83 commented on #1122
embarcadero - pier in Spanish.

[2018-12-06 22:07] nautalice commented on #1122
Carpathia - the ship that responded to the Titanic's distress signal

[2018-12-06 22:09] aimzOG commented on #1122
Marine:
a) nautical themed
b) the military sends in the Marines when all hell breaks loose. They’re smaller than the rest of the branches because they’re specialized for more intense situations!- is a disaster happening? Send out your Marines!

Minesweeper
A vessel designed or equipped to clear areas of water of mines without necessaril detecting them first. It differs from a minehunter (q.v.), wh

[2018-12-06 22:09] danderson commented on #1122
Muster (assemble in a group, as when evacuating a ship). Has another more military meaning that may be unpalatable.

[2018-12-06 22:09] blakedot commented on #1122
deepocalypse

[2018-12-06 22:09] tracymiranda commented on #1122
felucca

https://commons.wikimedia.org/wiki/File:Felucca_at_sunset_on_the_River_Nile_-_panoramio.jpg

[2018-12-06 22:10] marcwickenden commented on #1122
Boaty McBoatface. Sorry, couldn’t resist. It’s an English thing (google it). :-)

[2018-12-06 22:11] dharmab commented on #1122
@ncdc you should probably put "No BoatyMcboatface puns" in your top level seeing how popular that is. 😆

[2018-12-06 22:12] jaxxstorm commented on #1122
Flotsam: the wreckage of a ship or its cargo found floating on or washed up by the sea.

The ship has sunk (cluster) but the cargo (resources) are still recoverable

[2018-12-06 22:12] ncdc commented on #1122
@dharmab will do

[2018-12-06 22:13] mpatters72 commented on #1122
Davy Jones Locker - where all the lost things go
Lift Bag - raises sunk ships

[2018-12-06 22:15] blakedot commented on #1122
lifeboat

[2018-12-06 22:16] danderson commented on #1122
Lifeboat - ensuring the survival of a ship's most important cargo

[2018-12-06 22:18] jessfraz commented on #1122
In the name of Unix, I am going to go with “backup” I know super creative :)

[2018-12-06 22:18] ncdc commented on #1122
@jessfraz well played

[2018-12-06 22:19] marcwickenden commented on #1122
Shark

[2018-12-06 22:19] ncdc commented on #1122
except you left in too many letters: `bkup`

[2018-12-06 22:19] danderson commented on #1122
Voyage - short for Voyage Data Recorder (VDR), the nautical equivalent of black boxes in aircraft.

[2018-12-06 22:20] aserhat commented on #1122
stow - pack or store (an object) carefully and neatly in a particular place.

[2018-12-06 22:20] vllry commented on #1122
Cluster in a bottle? Bottle?

[2018-12-06 22:21] chadmillard commented on #1122
Bumpkin
Ahull

[2018-12-06 22:22] homer6 commented on #1122
Dolly

https://en.wikipedia.org/wiki/Dolly_(sheep)

[2018-12-06 22:22] blakedot commented on #1122
Heptio Harbor - it's the safe place you keep your stuff

[2018-12-06 22:34] MrMitch commented on #1122
May I suggest _*Boaty*_, after the great [Boaty McBoatFace](https://en.wikipedia.org/wiki/Boaty_McBoatface)

[2018-12-06 22:35] maorfr commented on #1122
Salvage!

[2018-12-06 22:44] recollir commented on #1122
lazarette

https://en.m.wikipedia.org/wiki/Lazarette

[2018-12-06 22:44] stabby-r7 commented on #1122
Lifeboat

[2018-12-06 22:49] scaranoj commented on #1122
- kube-rescue
- [PFD](https://en.wikipedia.org/wiki/Personal_flotation_device)

[2018-12-06 22:50] TamikoT commented on #1122
Arkive  #dadjokes

[2018-12-06 22:53] Abdennebi commented on #1122
*Cleat* : A piece of metal or wood having projecting arms or ends on which a rope can be wound or secured (from: https://ahdictionary.com/word/search.html?q=cleat)

[2018-12-06 22:54] ChristianAlexander commented on #1122
Astern - like [astern propulsion](https://en.m.wikipedia.org/wiki/Astern_propulsion) (to back up a ship)

[2018-12-06 22:55] wwitzel3 commented on #1122
loxodograph: An apparatus that records the course that a ship has travelled
https://en.m.wiktionary.org/wiki/loxodograph

[2018-12-06 22:56] AlainRoy commented on #1122
Haul
This is a nautical term that means "to steer a vessel closer to the direction of the window. It also gives a feeling for what the tool does with cluster data: it hauls to to a backup location, or to a new cluster. To be clear, this is not an acronym that starts with Heptio Ark. :)

[2018-12-06 23:00] fabiorauber commented on #1122
What about Caravel?

[2018-12-06 23:12] dbowling commented on #1122
Harbormaster. From Wikipedia: an official responsible for enforcing the regulations of a particular harbour or port, in order to ensure the safety of navigation, the security of the harbour and the correct operation of the port facilities.

[2018-12-06 23:14] dangodev commented on #1122
**Shore** (or **Shoring**): metal or wood used at sea to repair a leak (also, to make it back to shore, a safe place)
**Outrigger**: stabilizing structure on ships

[2018-12-06 23:15] TigerC10 commented on #1122
Fathom.  In old maritime tradition, to measure the distance of how far your ship has travelled you'd drop a weight and then measure the rope that went off the ship by the arm-length.

[2018-12-06 23:52] hhoover commented on #1122
Pontoon
airtight hollow structures designed to provide buoyancy in water.

[2018-12-07 01:01] lypht commented on #1122
Floe

[2018-12-07 01:05] csantanapr commented on #1122
KimeMachine (ala Time Machine) :-)

[2018-12-07 02:59] acbramley commented on #1122
Something that isn't named the same as a very popular video game would be great :)

[2018-12-07 03:08] bmess commented on #1122
Pequod - The whaling ship in Moby Dick but also the rescue helicopter in Metal Gear V

[2018-12-07 03:09] rikatz commented on #1122
Heptio NOEH (Not Only Etcd Harmed), as Noeh also being the biblical person of the Ark (Noeh, Noah)

[2018-12-07 03:11] rikatz commented on #1122
Can be also only Noe (Not Only ETCD), as spelt in Portuguese :P

[2018-12-07 03:16] csantanapr commented on #1122
Kup (sounds like backup)

[2018-12-07 03:32] rothgar commented on #1122
keel - it's the part of the boat under water that keeps the boat upright. Keeling is another word for capsizing. It also already has a k in the name 😁

[2018-12-07 03:39] karlkfi commented on #1122
*Freebooter* - The pirate who knows where your k8s treasure is buried. The only one who can recover this plunder and restore your ship to its former glory.

Mascot: a parrot with an eye patch and a tricorner hat who says “Batten down the hatches! Keep a weather eye open, matey! A storm be comin’!”

[2018-12-07 03:40] axw commented on #1122
Starship, as in interstellar travel.

[2018-12-07 03:41] hharnisc commented on #1122
Mutiny

[2018-12-07 03:47] jethr0null commented on #1122
Ballast - heavy material, such as gravel, sand, iron, or lead, placed low in a vessel to improve its stability

[2018-12-07 04:40] jaydeland commented on #1122
Let's follow in the example of the Brits - Boaty Mcboatface
https://www.theguardian.com/environment/2016/apr/17/boaty-mcboatface-wins-poll-to-name-polar-research-vessel

In all seriousness:
1. Bunker - A container for storing coal or fuel oil for a ship's engine. (A place to store your container meta data so you can keep fueling your business when things faill
2. Keel - the backbone of a vessel (b

[2018-12-07 04:57] dhananjaysathe commented on #1122
Disaster recovery at sea ?
- SOS
- Mayday
- lifebouy

[2018-12-07 04:59] waltisfrozen commented on #1122
Triton - Greek god, the messenger of the sea. He guided the Argonauts when they were lost and helped them find the sea. In short, he bailed people out, not unlike how Ark has helps with cluster recovery.

[2018-12-07 07:58] justaugustus commented on #1122
*b4p* - it's like `backup`, but k8s-ified! :)

[2018-12-07 08:54] wic6 commented on #1122
Salvor :
a person or company involved in saving ships that have been sunk or damaged, and the goods inside them

[2018-12-07 11:04] tomplus commented on #1122
**shark** - sh + ark ;)

[2018-12-07 12:23] elisiano commented on #1122
**bark**  - Backup And Recovery for Kubernetes

And, according to [wikipedia](https://en.wikipedia.org/wiki/Barque):

[2018-12-07 12:58] dobozysaurus commented on #1122
Parthenogenesis! Plenty of marine life does that (sharks, marbled crayfish, etc).

[2018-12-07 15:12] tohjustin commented on #1122
Admiral

[2018-12-07 15:13] ncdc commented on #691
@rbankston yes, after we have sufficiently tested it.

[2018-12-07 15:16] ncdc commented on #1111
@skriss my concern was that we might accidentally ship something with a dirty tree state, but upon further reflection, because goreleaser requires a clean checkout before it will proceed, that won't be an issue.

However, let's say that someone is building and testing ark locally, and they have uncommitted changes that are incorporated into the build. I think this is a situation where showing `-di

[2018-12-07 15:34] bbrundert commented on #1122
Simply **Dock** (maintaining and repairing ships)
(I see "Drydock" on the list already)

[2018-12-07 15:36] elisiano commented on #1122
and how would you call someone using that product? :trollface: Docker? 🤣

[2018-12-07 15:41] bbrundert commented on #1122
**Raft** - like an inflatable emergency liferaft (instead of lifeboat)

[2018-12-07 15:43] parthi-geo commented on #1122
##kaaka## - protection, last resort

[2018-12-07 15:48] evillgenius75 commented on #1122
Salvage - rescue (a wrecked or disabled ship or its cargo) from loss at sea

[2018-12-07 15:53] parthi-geo commented on #1122
**Ahoy** - A cry to draw attention
**Banyan**  -  a short period of rest and relaxation
**Rake**

[2018-12-07 16:00] parthi-geo commented on #1122
**Scow**

[2018-12-07 16:07] dobozysaurus commented on #1122
@ncdc Alternate suggestion, then: Ballast. Nothing provides stability to your system like a solid backup process.

[2018-12-07 16:11] parthi-geo commented on #1122
**Baleen**  - filter-feeder system that works by sucking in a large amount of water first and then pushes out water while filtering food sources. The feature I like in Ark is its ability to filter a subset of Kubernetes resources that matter to get the job done.

[2018-12-07 16:16] mobeus1 commented on #1122
- V-Kraken - It will take your data to the bottom of the sea only to be summoned by a horde of undead. (like the kraken from Pirates of the Caribbean)
 - Anchor - to keep with the nautical nonsense theme of k8s + VMware Harbor
- Motoko - from Ghost in the Shell
- Artemis - because meh

[2018-12-07 16:29] rguske commented on #1122
**Lifebelt** (I saw Lifebuoy already...)
**Pearl**

[2018-12-07 16:34] jenciso commented on #1122
kbote = kubernetes + bote (lifeboat in spanish)

[2018-12-07 16:56] mslocrian commented on #1122
Flugel - the wing on which you fly your backups to the cloud.

[2018-12-07 17:00] mauilion commented on #1122
Klone or Kopy Ark is more than backup it can also be used as a templating tools for resources that you want to deploy.

[2018-12-07 18:17] renatoassis commented on #1122
Caravel - The caravel was a small, highly maneuverable sailing ship developed in the 15th century by the Portuguese

[2018-12-07 18:18] cantbewong commented on #1122
ark rename suggestion: Arise or Arise!

name emphasizes recovery stage of a backup - the most import function of what Ark does
sorry not really nautical theme but it does have an interesting Kubernetes + Heptio tie in.
Kubernetes used an "easter egg" to the seven of nine character from a star trek series related to the Borg race. Heptio continued the number 7 theme.
According to Wikipedia's Chines

[2018-12-07 18:31] carlisia commented on #1122
Phoenix

[2018-12-07 18:55] stigsb commented on #1122
Scuba - SCuba Used to Be Ark

[2018-12-07 19:15] nodox commented on #1122
Names:
- arc
- tangent
- radix
- feedbk
- noah
- pompeii

[2018-12-07 19:37] spiffxp commented on #1122
Celeste - The [Mary Celeste](https://en.wikipedia.org/wiki/Mary_Celeste) was a famous ghost ship

[2018-12-07 20:04] ncdc commented on #314
WIP in #1125. Targeting v0.12

[2018-12-07 20:36] Bradamant3 opened #1126 "404 on docs site with renamed files in earlier versions"
**What steps did you take and what happened:**
- navigate to docs site, go to master or v1.10/get-started
- navigate with version picker to v9
- encounter 404

**What did you expect to happen:**
See earlier version of same content

**Fix needed**
Provide appropriate redirects. We have the right Jekyll plugin enabled but first efforts to implement failed.

[2018-12-07 20:39] TamikoT commented on #1122
shArk 🦈

[2018-12-07 20:39] rarean commented on #1122
Vitamin C, helps recover from scurvy 😀

[2018-12-07 21:36] nrb commented on #52
Here's a first pass at what the required and optional arguments may be on the `ark install` command.

*    specify backupstoragelocation name (e.g. aws): `--backup-location-name aws`
*    specify backupstoragelocation bucket: `--backup-location-bucket BUCKET`
*    specify backupstoragelocation objectstore config: `--backup-location-config region=foo,color=green` (comma-separated KV pairs)
*    spe

[2018-12-07 21:39] geosoft1 commented on #1122
Dart (DisAster Recovery Tool). Also has some alternative meanings including nautical.

https://en.m.wikipedia.org/wiki/Glossary_of_nautical_terms

[2018-12-07 21:47] nrb commented on #1084
@gandarez Did Andy's suggestion work for your use case? Can we close this issue?

[2018-12-07 21:59] nrb commented on #1083
Thanks for the report, @egagala. Would you be able to provide the output of `kubectl get backup/nginx-backup -n heptio-ark -o yaml`?

[2018-12-08 00:45] omegang610 commented on #539
@gianrubio
Do you mind to share what was the root cause of the outage? i am kind of confused
Thanks

[2018-12-08 04:33] tohjustin commented on #1122
Since Kubernetes is a Greek term for _"governor"_, _"helmsman"_ or _"captain"_, we'll have an **Admiral** that give commands to the ship's helmsman when disaster strikes 😅

or we can follow Kubernetes's Greek 🇬🇷 + Nautical 🚢  theme:

[2018-12-08 13:08] opowbow commented on #1122
Backstop -

political in the EU currently ; positive baseball connotations ; and ..from a **water** perspective...when rowing - before you set off - you sit at "backstops" balance the boat ...and then go.....

[2018-12-08 13:55] mark-j-chilvers commented on #1122
Amber

[2018-12-08 18:53] JessicaGreben commented on #1122
koast-guard

watchkeep

buoy

beacon

[2018-12-08 20:08] ricksevans commented on #1122
marina

[2018-12-08 20:09] ricksevans commented on #1122
quay

[2018-12-08 20:11] ricksevans commented on #1122
landing

[2018-12-09 07:15] jvaibhav123 opened #1128 "Ark backup in AWS rotating access keys daily"

[2018-12-09 10:49] HerrmannHinz commented on #1122
https://en.wikipedia.org/wiki/Bathyscaphe_Trieste

first submarine in the Mariana Trench - maybe there are a cuttle, erm couple of more ideas in the article.

[2018-12-09 10:51] HerrmannHinz commented on #1122
moar ship - maybe a little pathetic.

https://matrix.fandom.com/wiki/Nebuchadnezzar

[2018-12-09 18:40] gitmedur commented on #1122
Poseidon

[2018-12-10 15:04] egagala commented on #1083
@nrb I don't have any longer Ark 0.10.0 setup. Unfortunately I decided to switch back to Ark 0.9.11 as it seems to be more stable now. However this issue seems to be easy to catch with steps I provided earlier.

[2018-12-10 17:42] nrb commented on #1128
@jvaibhav123 Could you provide some more context? Are you trying to use Ark in an environment that's rotating its AWS keys daily?

[2018-12-10 18:41] rbankston commented on #691
Thanks @ncdc for the verification.

[2018-12-11 08:21] ype commented on #1122
RRS Sir David Attenborough

https://en.wikipedia.org/wiki/RRS_Sir_David_Attenborough#Naming_poll

[2018-12-12 07:43] puneethpk opened #1129 "Unable to restore namespaces from one cluster to another in different region in aws,pvc's lost"
**What steps did you take and what happened:**
i have taken backup of the entire namespace in a cluster inlcuding pvcs using --snapshot voulmes. After restoring it in a different cluster ,backupstorage location i.e s3 bucket being same for both the clusters,restoring is failing .

**What did you expect to happen:**
Restoring of entire namespace including pvcs .

Exlcuding pvc and pv all other reso

[2018-12-12 18:34] skriss commented on #1129
hi @puneethpk, Ark does not currently support cross-region migration of EBS snapshots.  This feature is planned as part of #103.

[2018-12-13 07:12] puneethpk commented on #1129
So ,in the same region but in a different cluster wil wel be able to restore the namespace with pvcs??

[2018-12-13 07:13] puneethpk commented on #1129
So,in the same region but in a different cluster will we be able to restore the namespace along with the pvcs ??

[2018-12-13 15:22] skriss commented on #1129
Yes, that's a supported use case.

[2018-12-14 05:09] puneethpk commented on #1129
but even then I'm not able to do it,pvcs are not getting created from snapshots

[2018-12-14 16:10] cpuguy83 commented on #1122
icekube

[2018-12-17 18:10] bryanlarsen opened #1130 "Feature Request: read-only pre-0.10 BackupStorageLocation"
I'm trying to transfer from an older cluster to a new cluster.   During the transition, both clusters need to be up.

The old cluster runs ark 0.8.1, the new one 0.10.0.   I figured I'd just take advantage of your new support for multiple locations, and add both the old and new buckets to the new ark setup.   However, when I do that, I get the error:

`An error occurred: some backup storage locati

[2018-12-17 18:40] skriss commented on #1130
hi @bryanlarsen - my recommendation would be to do a full copy of your v0.8.1 bucket into a new bucket, and then to use the script [here](https://github.com/heptio/ark/blob/master/docs/storage-layout-reorg-v0.10.md#rclone-based-script) to upgrade *the new bucket* to be v0.10-compatible, which you can then add as a backup storage location to your v0.10 install.  So the steps would be something like

[2018-12-17 18:47] bryanlarsen commented on #1130
The procedure you're describing is a one time procedure, I need something ongoing.  For a ~ two week period, both the old & new clusters will be writing to their respective buckets.

It appears that I can just copy backup directories from the old bucket into the new bucket, though.   I lose some metadata (the created timestamp on the copied backup is 0001-01-01 00:00:00 +0000 UTC for some reason),

[2018-12-17 18:53] bryanlarsen commented on #1130
Perhaps I spoke too soon.    I was able to do this for one backup, but when I tried it for another, it's not showing up in `ark backup get`.

[2018-12-17 18:59] bryanlarsen commented on #1130
to get it to pick up the new directory I deleted metadata/revision and restarted the pod.

[2018-12-17 19:49] skriss commented on #1130
Ah, I see. Yes - if you manually copy backups into the v0.10 bucket, you either need to delete the `metadata/revision` file, or wait up to an hour for those backups to appear. Ark's using the `revision` file to determine if the bucket contents have changed, as it doesn't expect anyone else to be modifying the contents.

Perhaps you could set up a periodic s3 sync job to copy backups from the v0.8.

[2018-12-18 15:13] ncdc commented on #1129
@puneethpk are you seeing errors?

[2018-12-18 19:13] wiegandf opened #1132 "Add custom tags to snapshots"
**Describe the solution you'd like**
Currently, two tags are added to the snapshots of the cloud provider: "ark.heptio.com/backup" and "ark.heptio.com/pv". This seems to happen here:
https://github.com/heptio/ark/blob/59ca9a39742a8c527b82194b678c95a782cf9ce8/pkg/backup/item_backupper.go#L448-L464

It would be great to add custom tags to backups and schedules. One way would be to add a flag like --

[2018-12-18 22:59] xibix-fp opened #1133 "Ark on Azure - failed to connect to Azure Blob Storage"
**What steps did you take and what happened:**
We tried to setup Ark 0.10.0 on Azure AKS. The deployment went fine according to the setup documentation (https://github.com/heptio/ark/blob/master/docs/azure-config.md) Unfortunately we are receiving errors on our Ark Pod, that the Azure Blob Storage can not be found:

[code]

**What did you expect to happen:**
That the error do not appear, as the co

[2018-12-18 23:45] skriss commented on #1133
It doesn't look like there's actually any issue here -- this is actually an "expected error" when Ark hasn't yet taken a backup.  You'll notice this is being logged at the info level, not error.  Are you able to successfully take a backup?

[2018-12-19 19:36] jaxxstorm opened #1134 "Dangling PVCs caused backup be in failed state"
**What steps did you take and what happened:**
Create a PVC in AWS
Delete the underlying EBS volume, but not the PVC

**What did you expect to happen:**
Some sort of error should be logged, but a backup failure shouldn't be thrown

**The output of the following commands will help us better understand what's going on**:
time="2018-12-19T19:18:04Z" level=info msg="Backup completed with errors: error

[2018-12-19 19:38] ncdc commented on #1134
@jaxxstorm thanks for the report. This is part of #286 (specifically this comment:
https://github.com/heptio/ark/issues/286#issuecomment-440382021). Is it ok with you if we mark this as a duplicate and we keep track of it in 286?

[2018-12-19 19:41] jaxxstorm commented on #1134
Yes sure, couldn't find a related issue. Will close

[2018-12-19 19:41] #1134 closed

[2018-12-19 21:07] ncdc commented on #1133
@xibix-fp @skriss the "error" message (which isn't actually an error) will be fixed in v0.12.0 as part of the improvements to plugins & error handling.

[2018-12-19 21:10] ncdc commented on #1128
@jvaibhav123 could you please provide more information for your issue/feature request?

[2018-12-19 21:24] #1111 closed

[2018-12-20 15:36] puneethpk commented on #1129
Yes, But the volumes which i had attached to the pods using the volume-id are not getting backed up.Only the PVC snapshots are getting backed up.

[2018-12-20 15:39] ncdc commented on #1129
@puneethpk could you please provide more detailed information - anything will be useful. For example, run `kubectl get ... -o yaml` for anything relevant here (PV, PVC, Pod). Also `ark backup get NAME -o yaml`. I'm not clear what you mean by "volumes which I had attached to the pods using volume-id are not getting backed up". Thanks!

[2018-12-20 19:32] skriss commented on #1083
It's possible this would be observed if using a pre-v0.10 client with a v0.10 server.

[2018-12-20 22:09] xibix-fp commented on #1133
@skriss @ncdc
Hey folks, thanks for your response. It is working now. Sometimes it is better to just ignore such messages ;-)

[2018-12-20 22:15] sh0rez commented on #1053
Ark is already creating a secret containing the restic key (`ark-restic-credentials`, value is `static-passw0rd`). I believe it would be a good first step to allow users to supply their own secret instead so the key would at least differ across individual ark install. And if the user does not supply one then maybe randomize the key and put it in the secret .. This is still better than using the sa

[2018-12-20 22:18] ncdc commented on #1053
@rosskukulinski might want to consider for 1.0?

[2018-12-20 22:50] rosskukulinski commented on #1053
@ncdc I would be supportive of having this part of the workstream, but I do wonder if it requires a breaking change.  1.x might be more reasonable from a timeline perspective?

[2018-12-20 23:24] jaxxstorm opened #1135 "Need to handle provider rate limit issues (retry, etc)"
**What steps did you take and what happened:**
In the course of a general backup, the API can rate limit the requests, which means the backup fails

**What did you expect to happen:**
The backup should at least retry

**The output of the following commands will help us better understand what's going on**:

[code]

CloudTrail event:

[code]

[2018-12-21 19:21] bryanlarsen opened #1136 "metric: timestamp of last successful backup"
**Describe the solution you'd like**

metric for each schedule that either encodes the last successful backup time, or the number of seconds since the last successful backup.

**Rationale**

When creating a dashboard for ark, it seems to me that the most important thing to view and/or alert on is whether or not there has been a successful backup in the last 24 hours.

If ark exposes the time since

[2018-12-21 20:38] patrickstjohn commented on #638
+1 on this. This issue prevents restoration of restic backups on any internet segregated cluster.

[2018-12-23 14:20] WZQ1397 opened #1137 "backup and restore not work by info"Configuration not found""
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I use the example minio , why not work?

**What did you expect to happen:**

`[root@K8S-Z-1 ark-ceph]# ark restore describe zach-ceph-sts-181223-20181223211333
Name:         zach-ceph-sts-181223-20181223211333
Namespace:    heptio-ark
Labels:       <none>
Annotations:  <

[2019-01-02 15:00] ncdc commented on #1137
@WZQ1397 as this is v0.9.x, you have not created the `Config` resource named `default` in the `heptio-ark` namespace (https://github.com/heptio/ark/blob/release-0.9/examples/minio/10-ark-config.yaml). Once you create that, the Ark server will get past the `Configuration not found` message.

[2019-01-03 16:10] frederiksf opened #1138 "pvc lost after restore no new volumes were made"
**What steps did you take and what happened:**

Create a backup from a namespace

`ark backup create pont --include-namespaces rigger-pont`

i checked in AWS the snapshots were made. They are.

`
[code]

This was looking good to me. Then i deleted the namespace in k8s. I didnt do anything with the EBS volumes. Then i used this command to restore the namespace
`
ark create restore --from-backup cus

[2019-01-03 16:50] ncdc commented on #1138
@frederiksf could you please share your restore logs (`ark restore logs pont-20190103153555`)?

[2019-01-03 19:54] Bradamant3 commented on #1126
attempted a fix in #1121 but produced no result. Snippet here bc this is headed in the right direction, just not there yet (this particular case for gh-pages branch, v0.9.0/quickstart.md):
`---
redirect_from: "/get-started/"
---
`

[2019-01-03 20:20] #502 closed

[2019-01-03 21:25] Bradamant3 opened #1141 "Docs site TOCs for next version after 0.10"
The latest version of the docs site includes a TOC for the master branch only. This hasn't been previous practice. Historically, we've built the docs site only when we publish a new release, at which point the new version and master contain the same docs (and should therefore be mapped to the same TOC file in the _data directory of the gh-pages branch).

See https://github.com/heptio/ark/pull/1121

[2019-01-04 06:15] encryptedfear commented on #638
Hi,

If I made canges to the `ark/pkg/restore/resti_restore_action.go`, will it take effect on my next backup? Or is there another step that I've to do? I can't pull the image from gcr.io/heptio-images/ark-restic-restore-helper:v0.10.0 due to internet restrictions in our cluster.

[2019-01-04 06:55] frederiksf commented on #1138
@ncdc see below results

`ark restore logs pont-20190103153555
time="2019-01-03T14:35:58Z" level=info msg="starting restore" backup=pont logSource="pkg/controller/restore_controller.go:515" restore=heptio-ark/pont-20190103153555
time="2019-01-03T14:36:23Z" level=info msg="Not including resource" backup=pont groupResource=events logSource="pkg/restore/restore.go:133" restore=heptio-ark/pont-2019010

[2019-01-04 15:18] ncdc commented on #1138
@frederiksf thanks. Could you please also share the logs from the ark server pod from the time range when you did the restore? `kubectl -n heptio-ark logs deploy/ark` from `2019-01-03T14:35` through `2019-01-03T14:37`?

[2019-01-04 15:30] frederiksf commented on #1138
`kubectl describe pv pvc-18ceea3e-0a8d-11e9-aef1-02f9e6d3ca22
Name:            pvc-18ceea3e-0a8d-11e9-aef1-02f9e6d3ca22
Labels:          failure-domain.beta.kubernetes.io/region=eu-west-1
                 failure-domain.beta.kubernetes.io/zone=eu-west-1b
Annotations:     kubernetes.io/createdby: aws-ebs-dynamic-provisioner
                 pv.kubernetes.io/bound-by-controller: yes

[2019-01-04 15:31] frederiksf commented on #1138
`{"apiVersion":"v1","kind":"PersistentVolume","metadata":{"annotations":{"kubernetes.io/createdby":"aws-ebs-dynamic-provisioner","pv.kubernetes.io/bound-by-controller":"yes","pv.kubernetes.io/provisioned-by":"kubernetes.io/aws-ebs"},"creationTimestamp":"2018-12-28T10:41:20Z","finalizers":["kubernetes.io/pv-protection"],"labels":{"failure-domain.beta.kubernetes.io/region":"eu-west-1","failure-domai

[2019-01-04 15:33] frederiksf commented on #1138
@ncdc i see you edited by stuff. What did i do wrong?

[2019-01-04 15:33] ncdc commented on #1138
@frederiksf thanks, 1 more thing - `kubectl get pv pvc-18ceea3e-0a8d-11e9-aef1-02f9e6d3ca22 -o yaml`

(when you paste it into github, if you use 3 backticks on a line by itself before and after the text, it will preformat it)

[2019-01-04 15:35] frederiksf commented on #1138
[code]

[2019-01-04 15:36] ncdc commented on #638
@encryptedfear did you build a new ark image with your changes?

Another short-term option would be to pre-pull our image into your environment, then pre-load it onto all your nodes. I think that might work - unless the `ImagePullPolicy` (which we aren't setting) gets set to `Always`.

[2019-01-04 15:40] ncdc commented on #1138
Ok, your PV is not ever getting deleted:
* UID from backup tarball (i.e. what you backed up): `1ce6e677-0a8d-11e9-aef1-02f9e6d3ca22 `
* UID from live object: `1ce6e677-0a8d-11e9-aef1-02f9e6d3ca22`

Ark is not allowed to control the UID, so if they're identical, it means it's the same object and it was never deleted.

I do see the PV's reclaim policy is `Retain`, which is why they're not getting de

[2019-01-04 15:47] ncdc opened #1142 "Restore log needs more clarity when object already exists and isn't different"
While debugging #1138, what I discovered is the following sequence of events:

1. Ark tries to restore a PV
1. It gets an already-exists error
1. There are no differences between `fromBackup` and `fromCluster`
1. Therefore it's a no-op

The only relevant/related log line for the above is

[code]

The restore has no warnings or errors.

I think we should consider changing the log line from `Restori

[2019-01-04 15:57] ncdc commented on #1142
Relevant source code lines:

(attempting to restore)
https://github.com/heptio/ark/blob/fd8bf14bb67508dbabacfbe1662ed08f9ecc0d10/pkg/restore/restore.go#L796

(did not restore X b/c no-op)
https://github.com/heptio/ark/blob/fd8bf14bb67508dbabacfbe1662ed08f9ecc0d10/pkg/restore/restore.go#L851

[2019-01-04 20:07] GAHila opened #1144 "split permissions for viewing/downloading logs from downloading backups"
**Describe the solution you'd like**
Allow certain users to be able to run ark backup logs but not be able to run ark backup download.

**Anything else you would like to add:**
When running:

`ark backup logs backupname`

in production operators groups gets:

`An error occurred: downloadrequests.ark.heptio.com is forbidden: User "username" cannot create downloadrequests.ark.heptio.com in the names

[2019-01-04 22:09] frederiksf commented on #1138
Thank you @ncdc  this was indeed the case. After manually deleting the pv 's i was able to do a successful test.

[2019-01-04 22:09] #1138 closed

[2019-01-07 07:13] sachinar opened #1145 "Not restoring PV because it doesn't have a snapshot and its reclaim policy is Delete."
@ncdc I am getting this error while trying to restore backup on same setup.

time="2019-01-07T06:06:29Z" level=info msg="Got backups from backup store" backupCount=5 backupLocation=default controller=backup-sync logSource="pkg/controller/backup_sync_controller.go:179"
time="2019-01-07T06:43:16Z" level=info msg="Checking for expired DeleteBackupRequests" controller=backup-deletion logSource="pkg/co

[2019-01-07 14:44] ncdc commented on #1145
@sachinar this is not an error. It means that there is a PV in the backup with a reclaim policy of Delete, but there is no snapshot for it, so the only thing Ark can do when restoring is let Kubernetes recreate a new, empty PV from the associated PVC. I'm guessing that's not what you want, so could you please explain your scenario so we can figure out the best way to assist?

[2019-01-08 06:30] vidhyashankarpaysafe commented on #1096
Any update on this. is it still in progress?

[2019-01-08 10:14] sachinar commented on #1145
@ncdc We were using `Delete` PV policy. We just changed to `Retain` Then it worked.

Thanks.

[2019-01-08 10:14] #1145 closed

[2019-01-08 16:44] wwitzel3 commented on #1096
I have not had a chance to really get started on this yet, but it is something we are still planning to do. I will try to make some progress on this, this week.

[2019-01-08 19:45] carlisia commented on #488
@ncdc to confirm: those files contain only the interfaces. Do you mean "copy" the interfaces there they'd also be accessible to the authors, or also move the implementation?

[2019-01-08 19:56] ncdc commented on #488
I was referring to having an interface-only (plus supporting types as needed) package. If you're a plugin author, you ideally only import just the code (interfaces/helpers) you need, and not other stuff too.

[2019-01-08 21:25] candysmurf opened #1148 "Simple Ngnix backup never completes"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Steps documented in [Get Started](https://heptio.github.io/ark/v0.10.0/get-started)

**What did you expect to happen:**
Restore reaches the `completed` status

**The output of the following commands will help us better understand what's going on**:
(Pasting long output in

[2019-01-08 21:33] candysmurf commented on #1148
@skriss, thanks for your quick response. I followed the `get started`.  It uses minio as the storage. Do I need to create a bucket? If I do, how does it connected with Ark?

[2019-01-08 21:39] ncdc commented on #1148
It sounds like the minio setup did not complete successfully. Could you please show us:

- `ark backup get -o yaml`
- `kubectl -n heptio-ark get pod`

[2019-01-08 21:39] skriss commented on #1148
Ah, I think I know what's going on.  As part of the minio setup, there's a Kubernetes `Job` that runs and creates a minio bucket.  However, since Ark v0.10.0 was released, the minio CLI renamed one of the flags that we were using.  So if you were using the config files from the v0.10.0 release tarball, odds are the `Job` did not succeed.

We've fixed the setup script in `master` - applying the con

[2019-01-08 21:50] ncdc commented on #1135
@rosskukulinski

[2019-01-08 23:17] candysmurf commented on #1148
thanks, @skriss & @ncdc!

I used the new 00-minio-deployment.yaml file now. When checking for the logs

[code]

Any clue?

[2019-01-08 23:19] candysmurf commented on #1148
Output for other commands as:

[code]

[code]

[2019-01-08 23:22] skriss commented on #1148
Ah, great, looks like the backup completed successfully.

To be able to view the logs, you'll need to expose the minio service to be accessible from outside the cluster (the per-backup logs are stored within minio itself and the Ark CLI needs to be able to access it from your computer).  On https://heptio.github.io/ark/v0.10.0/get-started, see the section titled `(Optional) Expose Minio outside yo

[2019-01-08 23:31] candysmurf commented on #1148
yes, it's working! thank you @skriss. We can close this issue.

[2019-01-08 23:31] #1148 closed

[2019-01-09 03:12] encryptedfear commented on #638
Hi,

Sorry for the delay in response. No I haven't built one yet. Haven't been back to the office yet.
I'll try that approach, thanks.

[2019-01-09 10:16] puneethpk commented on #408
Is it still not possible to backup volumes specified directly on the pod?

[2019-01-09 12:39] king-jam opened #1150 "Pre/Post Backup & Pre/Post Restore Plugins"
**Describe the solution you'd like**
I'd like to be able to use the same plugin framework but guarantee ordering based on the registration call within the plugin framework. This is for scenarios where "rehydration" of data is required via an application specific hook.

The current example that I'm working with is backup/restore of a MySQL environment. PV Snapshots only provide a crash consistent a

[2019-01-09 14:36] ncdc commented on #1150
Our backup and restore item action `Execute` methods are executed pre-backup (before persisting in the tarball) and pre-restore (before creating the item in Kubernetes). I'm maybe thinking that post-backup doesn't make much sense (do you have any use cases)? But post-restore definitely would give you what you need here. WDYT?

[2019-01-09 16:15] skriss commented on #1137
@WZQ1397 were you able to get this working?

[2019-01-09 16:16] #1122 closed

[2019-01-09 16:22] skriss commented on #408
@puneethpk you can use restic to backup pod volumes, but we haven't enabled taking snapshots of persistent disks that aren't using a PVC/PV yet.

[2019-01-09 16:43] ncdc opened #1151 "Improve handling of PersistentVolumes with Retain reclaim policy"
PersistentVolumes can have a reclaim policy of either Delete or Retain.

When a PVC is deleted, if the PV's reclaim policy is Delete, the underlying storage disk is deleted and the PV is deleted.

When a PVC is deleted, if the PV's reclaim policy is Retain, the underlying storage disk is preserved, and the PV remains.

Ark works quite well with Delete:
- if we have a native snapshot, we create a n

[2019-01-09 23:05] king-jam commented on #1150
Definitely agree. Post Restore would be the priority scenario. The rest may be generalized under the feature add but aren't required immediately.

[2019-01-10 08:19] encryptedfear commented on #638
Hi @ncdc

As of the moment, there are far too many restrictions for me to build the image, as there are items to be white-listed on our side when I try to `make update` and `make build` alone. Is there any other way of changing the URL of the restic-restore-helper? In this case, the internet access is a void, unfortunately. We can only pull from a private Docker repository, and that's all the conn

[2019-01-10 14:13] king-jam commented on #1150
After thinking about it further, The Post Restore hooks would need a caveat.....mainly in a scenario of restoring a database/etc, the hooks needs to happen just before exposing the Service so higher level apps don't start trying to execute transactions before data is fully restored.

An init container can solve this. It just leaves breadcrumbs that we might not want every time.

[2019-01-10 14:53] ncdc commented on #638
@encryptedfear this requires a code change. We'll see if we can get a fix out for you soon.

[2019-01-10 15:03] ncdc commented on #1150
Let's walk through the scenarios in full detail.

# Backup
- A custom backup item action plugin that you're writing calls `mysqldump` and uploads the output to the Ark ObjectStore

# Restore
1. Ark restores pod
1. A custom restore item action plugin runs post-restore for the pod
    1. It waits for the pod to be running
    1. It restores the data backed up by `mysqldump`

# Post-restore, pod rest

[2019-01-10 16:55] spingel opened #1154 ""key ports not found" error when restoring headless service without port"
**Steps:**
1. Backup headless service without port definition
2. Restore headless service

**Error:**
[code]

**Service:**
[code]

- Ark version (use `ark version`): 0.10.0
- Kubernetes version (use `kubectl version`): 1.12
- Kubernetes installer & version: 1.10.11

[2019-01-10 17:22] king-jam commented on #1150
So would the probe also remove our ability to connect to the service to write the dump back in?

[2019-01-10 18:02] carlisia commented on #582
@heptio/ark-team if I don't get any strong preference I'm going to go with `VolumeStore`.

[2019-01-10 18:05] ncdc commented on #582
I'm hemming & hawing on the "store" part of the word. In ObjectStore, it makes sense, because it's storing objects. In VolumeStore, I'm less convinced.

Kubernetes has ContainerStorageInterface (CSI). But I don't really like VolumeInterface.

Maybe VolumeProvider? Or if we really don't want to bike shed, I can live with VolumeStore (albeit a bit grumbly 😄 )

[2019-01-10 18:07] carlisia commented on #582
Noo I'm totes willing to name it something else! Especially to a meaningful name. What you said makes sense.

I wonder if anyone would not agree with `VolumeProvider`? It sounds good to me.

[2019-01-10 18:13] ncdc commented on #1154
@spingel thanks for the report. This will be fixed by #1146

[2019-01-10 18:45] skriss commented on #582
Agree that `Store` isn't the most appropriate.  I almost want to go back to what we originally called it in our config -- `PersistentVolumeProvider`.  Intent being to be explicit about the fact that it is for PVs only, not for pod volumes.

[2019-01-10 18:53] carlisia commented on #582
Fwiw (and this hasn’t gone thru code review yet), this is how I have it organized now (on PR #1147):

![image](https://user-images.githubusercontent.com/16508/50990052-e97e6b80-14c5-11e9-939d-a14f35640d99.png)

[2019-01-10 18:54] carlisia commented on #582
I'm thinking one of these two?

- VolumeSnapshotter
- VolumeSnapshotProvider

[2019-01-10 19:05] king-jam commented on #1150
Just approaching that now. Probably can't use the `Service` moving forward.

[2019-01-10 23:58] sbarre-esit opened #1157 "Document timezone of --schedule"
**Describe the solution you'd like**
`ark schedule create --help` should note that `--schedule` is in UTC

**Environment:**

- Ark version (use `ark version`): Version: v0.10.1 Git commit: 7e4fca428d73899cbbdb00da8d340d44984975d8
- Kubernetes version (use `kubectl version`): oc v3.11.59
- Cloud provider or hardware configuration: on-prem
- OS (e.g. from `/etc/os-release`): RHEL 7

[2019-01-11 10:21] encryptedfear opened #1158 "Not found: /restores/application/.ark/8ee6f3a0-random-hash"
**What steps did you take and what happened:**

kubectl -n application-namespace annotate pod/application-pod-random-hash backup.ark.heptio.com/backup-volumes=application-pv-mount-name
ark backup create backup-name --include-namespaces application-namespace --snapshot-volumes
kubectl delete namespace application-namespace
ark restore create --from-backup backup-name

**What did you expect to happe

[2019-01-11 11:50] sylr opened #1159 "Azure: Disk with Zone are not restored with Zone"
**What steps did you take and what happened:**

- Made a backup with volumes
- Deleted the k8s cluster
- Recreated the cluster
- Restored the backup with volumes

Pod with restored volume can not launch because the Disk restored has no Availability Zone
[code]

Here the describe of the backup:

[code]

**Environment:**

- Ark version (use `ark version`):  2ed241b0b7bce2d69ac291c63ebdc42f85a8ace4-d

[2019-01-11 12:08] sylr commented on #1159
I need it needs the Azure sdk to be upgraded to https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2018-10-01/compute/disks.go

[2019-01-11 15:59] mmuth opened #1160 "Scheduler stops working after another deploy"
**What steps did you take and what happened:**
We have ark setup an running fine on our production systems. However we noticed, that ark stops doing backups if we execute the kubectl apply again (our Jenkins deploys automatically when something changes in our ark repository).

The minimal repro should be something like:
1. deploy ark. I have a minimal repro commited here with my deployment and eve

[2019-01-11 16:34] rbankston commented on #691
Hello @ncdc and @nrb did this fix make it to the v0.10.1 release or did it get pushed back? I'm not seeing mentions in the changelog for it.

[2019-01-11 16:35] nrb commented on #691
v0.10.1 was a bugfix - I think my unit tests are covering most cases and have asked @skriss to review today. We may need help testing the changes to be sure the rest of the restore flow wasn't adversely affected.

[2019-01-11 16:46] skriss commented on #1158
@encryptedfear I believe mount propagation was introduced as alpha in Kubernetes v1.9 and beta in v1.10.  So you'll need to be running a more recent version of Kubernetes, and ensure that the feature flag is enabled, for restic restores to work properly.

[2019-01-13 00:43] jonaskello commented on #332
Although the docs were updated in #880, I still cannot find any setup instructions for bare-metal. There are sections on how to setup for many of the cloud providers, but I did not find a section for bare-metal/on-premise.

[2019-01-13 03:36] rosskukulinski commented on #691
@rbankston would you or someone from the CRE team be available to help test the changes to ensure they meet the customer's requirements?

[2019-01-13 11:18] jonaskello commented on #1096
I'm looking to deploy ark on bare-metal and I guess the helm chart is the way to go? Only thing is that it currently only supports 0.9.0 so having the chart updated would be nice :-)

[2019-01-13 22:37] apoplawski commented on #1151
Hi, I brought up the issue on Slack. My use case is that with Ark + Restic I try to **clone** whole cluster to another one - both are on Azure. Most of my PVs reclaim policy is _retain_. The Cluster1 is up and running all the time, the PVs on Cluster1 are bound and I'd like all of backed up volumes to be provisioned anew.
But during restore onto Cluster2 process hangs, Ark tries to reuse the PVs (

[2019-01-14 09:59] mmuth commented on #1160
Hi @skriss

Thanks for your quick response. Just executed my reproduction again. Here is the full server log with the debug option you described: https://gist.github.com/mmuth/568e0b155d85956851fc4d11b6ed267b

Now I can see there is a line `Schedule is not due, skipping`. I also noticed that when I execute `ark schedule get` that my Schedule is initally in ENABLED status, and changes to NEW after

[2019-01-14 17:18] gulien opened #1161 "fsfreeze hooks don't work on Google Cloud when using container-optimized OS (cos)"
Hello,

First, thank you for `ark` 👍😄

**What steps did you take and what happened:**

I'm currently testing the creation of a backup for a particular namespace.

This namespace contains various services, some of them using PVC. I've added freeze hooks to those services.

[code]

Alas! The status of this backup is `FAILED`.

Looking into the logs with:

[code]

It shows this message (full logs bel

[2019-01-15 17:03] rbankston commented on #691
@rosskukulinski sure can take a look. Waiting to hear back if this resolves everything.

[2019-01-15 17:13] nrb commented on #691
@rbankston Are you waiting on our team, or the customer? @skriss double checked this and it appeared to work for him.

[2019-01-15 18:02] rosskukulinski commented on #691
@nrb how would Ralph test your PR? Can we get him a container & client build to test with?

[2019-01-15 18:07] nrb commented on #691
My process was this:

1. Create an nginx example application from our included YAML.
2. Backup the `nginx-example` namespace
3. Delete the `nginx-example` namespace and immediately issue a restore command (`kubectl delete namespace nginx-example --wait=false; ark restore create <mybackup>`)
4. The namespace, pvc, and pv should all be restored successfully. Previously, these objects would be marked

[2019-01-16 01:10] rosskukulinski commented on #691
@nrb can you build a container image and push somewhere for @rbankston to test with? Even just on dockerhub somewhere?

[2019-01-16 12:36] gulien commented on #1161
After some investigations, it seems that the mentioned hook does not work:

[code]

Any idea on how to freeze correctly two volumes?

[2019-01-16 22:09] cullenmcdermott opened #1164 "Allow users to specify a Storage Class when backing up to S3"
**Describe the solution you'd like**
I would like the ability to specify a [storage class](https://aws.amazon.com/s3/storage-classes/) in order to avoid having to setup additional lifecycle rules for objects in my bucket(s).

**Anything else you would like to add:**
Any metadata associated with the backup that is kept in the S3 bucket would probably need to be kept in the 'standard' class. Otherwi

[2019-01-17 15:02] king-jam commented on #1150
So the pattern can also match that of Restic. An init container with the mysql PVC mounted can start `mysqld` and run an io.Reader stream from GetObject directly into the `mysql` client @ localhost. Then when the "real" `mysqld` instance starts, the data will all be present in a "consistent" state. The Post Restore piece alludes to how Restic has it's ordering hardcoded into multiple places.

Thou

[2019-01-22 17:01] #134 closed

[2019-01-22 17:01] skriss commented on #1075
Closed by #1143

[2019-01-22 17:01] #1075 closed

[2019-01-22 18:24] ncdc commented on #1160
It sounds like this is what's happening:

1. yaml schedule doesn't have status.phase set (which is correct)
1. the first `apply` creates the schedule
1. the schedule controller processes the schedule and changes the phase to enabled
1. the second `apply` resets the status.phase back to empty/new
1. the schedule controller only processes schedules that have been newly added, and doesn't look at mod

[2019-01-22 18:30] ncdc commented on #1150
The pod's init container would not have access to the credentials to talk to object storage, though?

I would like to spend some more time thinking about how we can allow users to store arbitrary data in object storage. And then retrieve it when restoring. That's going to be a real need, isn't it?

[2019-01-22 20:22] king-jam commented on #1150
I agree....I tried to figure out if I could steal your plugin registry and create a gRPC client to talk to the object store but in the end have opted for pulling code from the `cmd` package to peak the cloud credentials and inject environment variables/secrets to the init container. Essentially reimplemented the persistence pkg.

The fact that the svc account is available to a plugin also means I

[2019-01-23 08:47] gulien commented on #1161
@ncdc Here you go (no yaml format output available with this command):

[code]

**Note:** I've removed the fsfreeze container and it now *works* as expected. There are not a lot of I/O operations on those volumes, so I guess it's acceptable?

[2019-01-23 14:43] ncdc commented on #1161
My bad, I meant `kubectl get ... -o yaml` 😄

Can you get the yaml for the PVCs named `all-pvc` and `default-pvc` and then get the yaml for their corresponding PVs?

[2019-01-23 16:33] gulien commented on #1161
Alright 😄

`all-pvc`

[code]

And corresponding `all-pv`:

[code]

`default-pvc`

[code]

And corresponding `default-pv`:

[code]

Thank you!

[2019-01-23 16:56] ncdc commented on #1161
@gulien thanks, what I meant by the yaml for the PVs was `kubectl get pv/pvc-bdffb3e0-142b-11e9-9d9a-42010a8400f6 -o yaml` and `kubectl get pv/pvc-be01fcb0-142b-11e9-9d9a-42010a8400f6 -o yaml` - could you please share that?

[2019-01-23 17:02] gulien commented on #1161
😅 @ncdc I've juste updated my last comment.

[2019-01-23 17:05] ncdc commented on #1161
Ok, as far as I know, that should work. We'll have to do some manual testing in GKE and report back to you.

[2019-01-23 20:01] #770 closed

[2019-01-23 22:56] rbankston commented on #691
@rosskukulinski got the container built thanks to great docs and verified that I'm able to restore something still in the process of deleting without errors as expected. Thanks for the steps @nrb.

[2019-01-24 03:18] rosskukulinski commented on #691
Awesome! That's great to hear @rbankston. Thanks for lending a hand with the testing.

[2019-01-24 16:02] skriss commented on #469
@rosskukulinski I know we've gone back and forth on this a number of times. Is this actually a priority to solve and something we need to do as part of v0.11?

[2019-01-24 18:12] skriss commented on #582
I'd go with `VolumeSnapshotter` out of those two. I think I'd still prefer `PersistentVolumeSnapshotter`, to clarify that it's for PVs rather than all pod volumes (especially since we also have restic, which **does** operate on pod volumes), but I'm okay with whatever the team decides.

[2019-01-24 18:21] carlisia commented on #582
I like avoiding confusion whenever possible so I wouldn't mind the longer name `PersistentVolumeSnapshotter` for that purpose. If no one chimes in til afternoon I'll go with that then.

[2019-01-24 18:56] mehemken opened #1168 "In Cluster B allow `--from-schedule` to reference a schedule created in Cluster A"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

This is not urgent, nor is it super critical. It is just nice to be able to say

[code]
rather than
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

In the slack channel @nrb said this might be by design. If that is the case this is

[2019-01-24 19:07] ncdc commented on #1168
Adding more context from slack:
[code]

The code in `pkg/cmd/cli/restore/create.go` tries to `get` the named schedule and fails if it's not found. I think we can probably remove this check and allow the `RestoreController` to mark the restore as failed if it can't find any backups matching the requested schedule.

[2019-01-24 19:09] ncdc commented on #1168
I just checked and the controller already does the check, so we should be able to remove the couple of lines of code from `create.go`

[2019-01-24 20:05] skriss commented on #1073
This was actually resolved by #1121, while #1126 remains unresolved.

[2019-01-24 20:05] #1073 closed

[2019-01-24 20:23] skriss opened #1169 "store PodVolumeBackups in obj storage & sync into cluster"
Currently, `PodVolumeBackups` (representing a restic backup) are not stored in object storage as JSON. This causes a couple of problems:
- if a backup is taken in Cluster A, and then Cluster B is set up to restore from Cluster A's bucket, running an `ark backup describe` on a backup in Cluster B won't show the restic backups, even if they exist
- there's a second source of truth for mapping pods &

[2019-01-24 20:26] skriss opened #1170 "Replace "ark-schedule" label with a properly namespaced label"
Currently, a `Backup` that's created from a schedule gets labeled with `ark-schedule`: `<schedule name>` for identification purposes.

This label key should be replaced with a properly namespaced label that's inline with our other ones, e.g. `ark.heptio.com/schedule-name`.  The existing label should be deprecated and eventually removed entirely.

[2019-01-25 13:46] The-smooth-operator opened #1172 "NoCredentialProviders when using kube2IAM"
**What steps did you take and what happened:**
Deploy Ark in EKS following the official guide using kube2IAM authentication https://heptio.github.io/ark/v0.10.0/aws-config#

After each component is deployed, ark server can't start and throws the next error:

An error occurred: some backup storage locations are invalid: error getting backup store for location "default": rpc error: code = Unknown de

[2019-01-25 16:04] rosskukulinski commented on #469
@skriss I spoke with our CRE team and this issue is not a customer priority. Feel free to push out of v0.11 - and maybe the P1 label can come off

[2019-01-25 17:46] skriss commented on #469
Thanks @rosskukulinski.  Moved to New Issues with a 1.x milestone and removed the P1 label.

[2019-01-28 19:56] #1172 closed

[2019-01-28 20:36] ncdc opened #1176 "BackupStorageLocation prefix confusion"
We recently had a user on Slack who created a backup, had it uploaded to object storage, was able to see it in `ark backup get`, but the next time ark synced backups from the backup storage location, it deleted the just-created backup so it was no longer visible in `ark backup get`. The backup continued to exist in object storage.

We discovered that the backup storage location had a configuration

[2019-01-30 14:28] sokoow opened #1177 "ark restore from ebs snapshots on kubernetes doesn't preserve storage class metadata"
**What steps did you take and what happened:**
1. Created an EBS volume (kubernetes pv + storageclass metadata attached)
2. Filled it with some data
3. created ark backup - it created snapshots of EBSes, all fine here
4. Blew away my pv and pvc, removed from aws side also
5. Did ark restore, restore did bring back ebs snapshots correctly, but...

**What did you expect to happen:**
Old EBS pv/volum

[2019-01-30 14:51] ncdc commented on #1177
Hi @sokoow, this was previously filed as #791, and we have #1097 open to see if we need to continue doing this, or if we can start including the storage class when we restore. Would it be ok to close this issue and use #1097 for further comments?

[2019-01-30 14:53] sokoow commented on #1177
Sure, thanks for quick response

[2019-01-30 14:53] #1177 closed

[2019-01-30 15:01] ncdc opened #1178 "RFE: Allow other restic repository backends"
**Describe the solution you'd like**
Our code expects that restic snapshots are stored in the BackupStorageLocation used by the backup. Our server code hard-codes logic to determine restic URLs for AWS, Azure, and GCP ObjectStores.

We should consider expanding the supported restic backends to everything restic supports. For example, one user on Slack requested the ability to use NFS (I'm guessing

[2019-01-30 20:47] hibbert opened #1179 "efs-provisioner non restic backup creates new PV"
**What steps did you take and what happened:**

* Run backup of just the resources
* Remove namespace plus all resources
* Restore EFS directory
* Run a restore
* PVC and PV are restored, new PV created with different path, name etc. E.g.:-

jenkins-thorl4-home-pvc-f6ba87d6-24ad-11e9-9f23-0a26ccee28ca
becomes
jenkins-thorl4-home-pvc-9e5d4193-24c6-11e9-9f23-0a26ccee28ca

**What did you expect to ha

[2019-01-30 20:57] ncdc commented on #1179
If you:

1. have a PersistentVolume with a reclaim policy of `Delete`
1. perform an Ark backup without taking a snapshot of the volume (restic or native)
1. delete the PersistentVolume
1. perform an Ark restore

Ark sees that the backup has a PersistentVolume with a `Delete` reclaim policy, sees we don't have a snapshot of it, so the only thing we can do is allow the dynamic provisioner to provisi

[2019-01-30 20:59] hibbert commented on #1179
Yeah, that's correct. I'm starting to see that from this issue to https://github.com/heptio/ark/issues/1151. I guess I can try to see if it works as I expect with the reclaim policy set to Retain.

[2019-01-31 16:02] king-jam commented on #1150
So following backup @ncdc

We got everything working, backup, restore, object storage handling, etc. Hid it behind a nice extensible interface; all that good stuff.

I would like to revisit this in terms of hooking the object store and the plugin concepts you discussed, it is something else to maintain and need to stay in sync with the BackupStorageLocations object.

The Post Restore piece does re

[2019-02-01 17:47] ivelichkovich opened #1181 "Can't get ark to startup"
**What steps did you take and what happened:**
I deployed ark following the documentation for version v0.9.11.

**What did you expect to happen:**
Ark to startup.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

* `kubectl logs deployment/ark -n heptio-ark`
`time

[2019-02-01 18:11] ncdc commented on #1181
@ivelichkovich what do you have deployed for a custom/external metrics server? Are you able to `kubectl get --raw /apis/external.metrics.k8s.io/v1beta1`?

[2019-02-01 19:31] ivelichkovich commented on #1181
Yeah same error. What's interesting is before this error I was getting an error about an unrelated service account in a different namespace being unauthorized to do something so I deleted and recreated that service account and now have this error

[2019-02-01 19:34] ncdc commented on #1181
Could you please share `kubectl -n heptio-ark get deploy/ark -o yaml`?

[2019-02-01 19:36] ivelichkovich commented on #1181
`apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1beta1","kind":"Deployment","metadata":{"annotations":{},"name":"ark","namespace":"heptio-ark"},"spec":{"replicas":1,"template":{"metadata":{"annotations":{"prometheus.io/path":"/metrics","prometheus.

[2019-02-01 19:37] ncdc commented on #1181
Ok, now `kubectl get clusterrolebinding/ark -o yaml`?

[2019-02-01 19:39] ivelichkovich commented on #1181
`kind: ClusterRoleBinding
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"rbac.authorization.k8s.io/v1beta1","kind":"ClusterRoleBinding","metadata":{"annotations":{},"labels":{"component":"ark"},"name":"ark","namespace":""},"roleRef":{"apiGroup":"rbac.authorization.k8s.io","kind":"ClusterRole","name":"cluster-admin"},"subjects":[{"kind":"Servic

[2019-02-01 19:39] ncdc commented on #1181
Also, when you're running `kubectl` in your terminal, what user are you?

[2019-02-01 19:41] ivelichkovich commented on #1181
The group is system:masters

[2019-02-01 19:42] ncdc commented on #1181
Your user is in `system:masters`?

[2019-02-01 19:44] ivelichkovich commented on #1181
Yeah that's how we attach but it breaks down to eks-admin service account attached to clusterrole cluster-admin

[2019-02-01 19:50] ncdc commented on #1181
There must be some difference between the ark serviceaccount's permissions and your user running `kubectl`. I can't say what specifically without seeing all the rbac details in your cluster.

[2019-02-01 20:09] ivelichkovich commented on #1181
I ran an ubuntu pod set to sleep with the same service account as ark.

This happens `root@ark-5d8445dd77-26j7s:/# ./kubectl get --raw /apis/external.metrics.k8s.io/v1beta1
Error from server (InternalError): an error on the server ("Internal Server Error: \"/apis/external.metrics.k8s.io/v1beta1\": Unauthorized") has prevented the request from succeeding`

So you're right, digging into the cluster-

[2019-02-01 20:11] ncdc commented on #1181
I would take a look at all of the roles that your `kubectl` user has access to - my guess is that user has more roles than the `ark` SA

[2019-02-01 21:36] mehemken commented on #1168
I haven't forgotten about this... I plan to get it done this weekend. 😀

[2019-02-03 04:54] #1181 closed

[2019-02-05 12:31] Sam123ben opened #1182 "Wished to know does ark supports backup and restore from 1.8 to 1.10 version of kubernetes"
We have a kubernetes cluster which is running on 1.8 version of k8s and wish to create a backup of my cluster and will then restore it to my new k8s 1.10 version of kubernetes cluster. Will the ark supports this. Bdw this utility rocks as its easy simple and does what it state.

Please do let me know if this can be done as we will then continue using it.

Regards

[2019-02-05 14:43] ncdc commented on #1182
As long as the apiVersions for all the items in the backup are still present in the 1.10 cluster, we can do the restore. See https://github.com/heptio/ark/blob/bbc6caf7fe93faac57f3fc7652d816fb47cbf457/docs/about.md#backed-up-api-versions for more details.
________________________________
From: Sam123ben <notifications@github.com>
Sent: Tuesday, February 5, 2019 7:31 AM
To: heptio/ark
Cc: Subscribe

[2019-02-05 15:05] christianlafleur opened #1183 "Restoring GCP Regional pv error"
**Description**

Restore  for regional storage class on GCP fail with this error  : Invalid value for field 'resource.replicaZones[0]': ''. Exactly 2 replica zones must be set for regional disks

Standard storage class restore is working.

**The output of the following commands will help us better understand what's going on**:

ark create restore test2 --from-backup full01-20190204180049 --include

[2019-02-05 22:29] nrb opened #1188 "Remove ark references from github issue templates"
As part of v0.11's release, remove references to `ark` and the `heptio-ark` namespace in the following files:

* https://github.com/heptio/velero/blob/master/.github/ISSUE_TEMPLATE/bug_report.md
* https://github.com/heptio/velero/blob/master/.github/ISSUE_TEMPLATE/feature-enhancement-request.md
* https://github.com/heptio/velero/blob/master/pkg/cmd/cli/bug/bug.go (this affects the command line usa

[2019-02-05 22:43] nrb opened #1189 "Provide instructions and tools to migrate from Ark to Velero"
Current installs will need to have their existing CRDs as well as the deployments migrated to our new API groups, images, and namespace.

We need to provide instructions and tooling to help users accomplish this move.

[2019-02-06 01:54] christianlafleur commented on #1183
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    kubernetes.io/createdby: gce-pd-dynamic-provisioner
    pv.kubernetes.io/bound-by-controller: "yes"
    pv.kubernetes.io/provisioned-by: kubernetes.io/gce-pd
  creationTimestamp: 2019-02-04T20:56:42Z
  finalizers:
  - kubernetes.io/pv-protection
  labels:
    failure-domain.beta.kubernetes.io/region: northamerica-northeast1
    fai

[2019-02-06 06:50] Sam123ben commented on #1189
We just started to use this and all of sudden it got migrated make us wonder where to start now. Anyways. If you can let us know will be able to create a helm chart as well to support your utility will be great as we were using the ark helm chart

[2019-02-06 11:39] Sam123ben opened #1191 "Do we have a document that have details on how we can install and proceed with velero"
Hi team,

I had been using ark and now after the change we have from today I am a bit concerned with the stability of the same.

I could not find much on velero, as I tried using brew install velero to install the client but was not possible and then I found issues while trying to install the velero server on my cluster.

As the resources are in failure states:

(⎈ |devops3-vlocity:default)➜  vof_

[2019-02-06 13:46] ncdc commented on #1191
Hi @Sam123ben, we apologize if there has been any confusion. Until we release Velero v0.11.0, please continue to use Ark v0.10.1. The documentation for that release is at https://heptio.github.io/velero/v0.10.0/. As far as I know, the Helm chart should continue to function, since it still points to the ark v0.10.1 image:

https://github.com/helm/charts/blob/08c82581a13ddc1409fffdd22dbc2c90db738c95

[2019-02-06 14:04] naftulee opened #1192 "ark backup fails on backing up some clusterroles.rbac.authorization.k8s.io"
time="2019-02-06T13:54:10Z" level=info msg="Backup completed with errors: clusterroles.rbac.authorization.k8s.io \"clusteradmin\" not found" backup=heptio-ark/fullbackup logSource="pkg/backup/backup.go:289"

Hi Im just starting with a POC for ARK here.  Ive configured it work with an external minio object storage.  Its working when I backup different namespaces and resources.  It fails now when I

[2019-02-06 15:33] skriss commented on #1192
could you show the output of `kubectl get clusterrole clusteradmin`?

[2019-02-06 16:34] Sharath52 opened #1193 "Ark schedule --ttl flag not working"
Hi All,

I have a k8s cluster where i have deployed ark and have scheduled a backup using

ark schedule create default-ns  --schedule "0 7 * * *" --snapshot-volumes --ttl 5m

the backups are getting expired but the resources of that particular backup i.e snapshots ,backups,none of them are getting deleted.