[2020-09-22 15:48] foosinn opened #2963 "Random restic failures"
**What steps did you take and what happened:**

We have setup Velero 1.4 in our Openshift Cluster. The majority of our Backups work fine. Sometimes the restic backup fails taking almost no time. This happens randomly over all our PVCs.

**What did you expect to happen:**

Consistent backup results

**The output of the following commands will help us better understand what's going on**:

Velero Bac

[2020-09-22 16:06] pingoleon108 commented on #1135
Yes but I found a workaround, thanks

[2020-09-22 16:14] carlisia commented on #2935
Once an RC is created, 1-2 weeks (open to discussion here) until cutting the GA release.

I think this is a good cadence.

[2020-09-22 17:01] nrb commented on #2956
@wanghuok Thanks. I didn't expect that it actually had to do with PV size, I just wanted to be sure there wasn't inconsistency in the commands run.

[2020-09-22 18:50] hibbert commented on #2198
@vmware-tanzu/velero-maintainers Looks like restic have made a new release 0.10.0 in the last couple of days that contains restic/restic#2733

[2020-09-22 19:30] rocketraman commented on #2059
For future searchers: I had this issue on a GKE private cluster with workload identity enabled as well. Was able to use IAM audit logging to suss out that the velero service account needed the `Service Account Token Creator` role, because it seems to use the service accounts `signBlog` [API](https://cloud.google.com/iam/docs/reference/credentials/rest/v1/projects.serviceAccounts/signBlob).

[2020-09-23 04:58] vaishali-prophecy commented on #2958
@nrb Hey could you figure out the issue or any other information is needed?

[2020-09-23 06:27] elangocse commented on #2959
Hi

Could you please through some lights on this issue ? Its a blocker now and not able to move further.

[2020-09-23 08:02] Panplumousse opened #2964 "Cannot install Velero CRDs without kubectl apply --validate=false"
What steps did you take and what happened:**
I tried to update the velero version from 1.3.2 to 1.5.1

**I tried to update the velero version from 1.3.2 to 1.5.1, the velero pod starts up correctly but
when I do a velero version with cli client I get this :

Client:
Version: v1.5.1
Git commit: 87d86a4
Server:
Version:
server version is empty

when i try to get version directly in pod , i have same

[2020-09-23 08:08] nebed opened #2965 "Velero Failing to Perform restore with no logs in Azure"
**What steps did you take and what happened:**
Take a velero backup from a different cluster
Install velero on the new cluster pointing to same backup location
`velero restore create --from-backup backup-name`

**What did you expect to happen:**
restore process would begin and even if it failed i would be able to see logs.
Restore fails but logs fail with file not found
`velero restore logs orms-d

[2020-09-23 08:31] georgettica opened #2966 "Cannot install velero with go get + go install"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
that the velero cli will be installed successfully

**Environment:**
running inside a fedora container with go installed

- OS (e.g. from `/etc/os-release`):

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](http

[2020-09-23 12:13] whitepiratebaku opened #2967 "Default-volumes-to-restic Stuck"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
I have installed velero with --use-restic and version was 1.4.2 ,I was able to create volume backups with opt-in approach by annotating pods.I was looking forward for 1.5.2 release so I can use opt-out methot.I have upgraded velero it works normally When I create normal b

[2020-09-23 12:22] c0nsaw commented on #2967
Similar issue here, new to velero. Testing it at work today. I have a large cluster with many pods that have volumes for DB's etc. 23 namespace backup with "velero install --default-volumes-to-restic " also latest install. I have 2.5mb backup.Struggling to backup volumes

[2020-09-23 18:52] zubron commented on #2964
Unfortunately, `preserveUnknownFields` is only valid in Kubernetes v1.15+ and `nullable` is only valid in Kubernetes v1.14+. Given that you are running v1.13, these are unknown fields to the server and so the warning is being reported. This has already been encountered in #2077 and #2311. The outcome from those issues was to use the workaround `--validate=false` which you are already using. This i

[2020-09-23 20:30] akhila260 commented on #2524
@myazid  Do you still have this issue? If not, could you please share the steps for the fix. Thanks!

[2020-09-23 21:40] zubron commented on #2964
I've opened #2969 to address the documentation issue.

[2020-09-24 04:57] Nanduyana commented on #355
when i tried (velero restore) with AWS EBS i see the status of the PVC as Lost

[2020-09-24 05:17] vaishali-prophecy commented on #2958
@nrb Any updates on this?

[2020-09-24 06:43] Panplumousse commented on #2964
hello ty for reply,
but for issu about i can't view server version with command:  velero version is it the same kind of probleme ?

[2020-09-24 07:29] nebed commented on #2965
was able to see the error from one of the crds

[2020-09-24 07:29] #2965 closed

[2020-09-24 12:15] invidian opened #2971 "Restore stuck InProcess while restoring PV with "volumeBindingMode: WaitForFirstConsumer" storage class"
**What steps did you take and what happened:**
1. Create storage class with `volumeBindingMode: Immediate`.
2. Create sample workload with PV using this storage class.
3. Write some data to it.
4. Take a backup.
5. Remove namespace with sample workload.
6. Restore a backup.

What's happening then:
- `Restore` object is stuck forever (or very long) in `InProgress` state
- workload starts, but no in

[2020-09-24 12:19] zubron commented on #2964
The missing server version was an issue with our 1.5 beta release, however was resolved for the 1.5.1 release. Can you confirm that you have updated the image on the Velero deployment to the latest version using `kubectl get deployment/velero -n velero -o wide`? The image for the deployment should be `velero/velero:v1.5.1`. I've noticed that on a 1.3 installation, if I only update the CRDs and not

[2020-09-24 15:15] plum59 commented on #2964
hello i just check and it seems good velero version

i have this message in server log

velero-587c4fc947-s2kw4 velero] time="2020-09-21T13:34:15Z" level=error msg="Unable to update the request" controller=serverstatusrequest error="the server could not find the requested resource (patch serverstatusrequests.velero.io velero-cli-wb24d)" error.file="/go/src/github.com/vmware-tanzu/velero/internal/v

[2020-09-24 17:06] nrb commented on #2967
What does the output of `kubectl logs deploy/velero -n velero` show?

Also, can you supply the output of `kubectl get velero.io/podvolumebackups -n velero`? That should show the PodVolumeBackups that are being attempted, which is part of Velero's restic process.

[2020-09-24 17:10] nrb commented on #2971
Thanks for this report. I think I see the issue, and it's an order of operations one - Velero is trying to recreate the PV, PVC, and Pod (in that order), but when in a `WaitForFirstConsumer` binding mode, this isn't sufficient.

I'm going to log this as a high priority bug, because it's not a unique use case, but I don't have an answer for it at the moment.

[2020-09-24 17:25] nrb commented on #2966
Thanks for this - I was able to replicate the issue.

In general, our supported delivery methods are via the [GitHub releases](https://github.com/vmware-tanzu/velero/releases/tag/v1.5.1), and there is [a Linux client](https://github.com/vmware-tanzu/velero/releases/download/v1.5.1/velero-v1.5.1-linux-amd64.tar.gz) available.

I'll file this as a bug though, as our dependency tree should resolve co

[2020-09-24 17:29] nrb commented on #2966
It looks like we may have to update to [external-snapshotter v3](https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v3.0.0) for better Go modules support, but I'm not 100% sure.

[2020-09-24 17:33] nrb commented on #2963
More detailed output for the restic logs would be in the pods on the node that the restic job ran on.

Velero's implementation of restic support is in a DaemonSet, with pods on each node so that the restic pods can access all workload volumes on that node. Right now, the logs for each of those pods is on the node, and not aggregated. So finding the node is a matter of looking for the failed `PodVo

[2020-09-24 17:45] nrb commented on #2959
I'm not familiar with Azure Stack, though I suppose network connectivity isn't out of the question.

Are you able to reach the Azure blob storage URLs with `curl` or `wget` from within the Azure Stack cluster? You may have to install a container that has this utility and use [`kubectl exec`](https://kubernetes.io/docs/tasks/debug-application-cluster/get-shell-running-container/) to troubleshoot it

[2020-09-24 17:56] pavanfhw opened #2972 "Backup from one cluster and restore in another using rook ceph storage."
**What steps did you take and what happened:**
Installed velero in 2 cluster which uses rook ceph storage. I can take backups and restore them to the same cluster after deleting all resources in a namespace.
But when restoring to another cluster, the PVC cannot be provisioned by rook ceph. Both rook-ceph and velero were deployed the same way in both clusters.
I tried both way, backup in cluster 1

[2020-09-24 18:13] whitepiratebaku commented on #2967
Everytime backup stucks at 35th of total items.I am going to share logs around this 35th item

Velero logs:
time="2020-09-24T17:56:26Z" level=info msg="Executing podAction" backup=velero/full-volume200 cmd=/velero logSource="pkg/backup/pod_action.go:51" pluginName=velero
time="2020-09-24T17:56:26Z" level=info msg="Done executing podAction" backup=velero/full-volume200 cmd=/velero logSource="pkg/ba

[2020-09-24 19:07] whitepiratebaku commented on #2967
When I use --include-namespaces and specify namespace which PVCs locate everything works fine.

velero create backup full-volume-test --default-volumes-to-restic --include-namespaces=test
Works fine

velero create backup full
Works fine

velero create backup full-volume-full --default-volumes-to-restic
Stuck in Progress, everytime stuck on 35th item.

Note: only test namespace has two PVCs, no oth

[2020-09-24 21:09] nrb commented on #2967
For the backup that was stuck, can you run `velero backup describe <backup-name> --details` and provide that output?

This should report the pod volumes that Velero tried to back up with restic, and their current status.

Thanks for the summary of the different commands you tried, that's helpful in trying to narrow down this issue.

[2020-09-24 21:13] nrb commented on #2967
One more thought I had - are pod volumes you're trying to back up still annotated?

[2020-09-24 23:59] ashish-amarnath commented on #2913
@omerlh and @doughepi I tried to repro this. Here is what I did:
1. Installed Velero using the latest velero helm chart version `2.12.17`
[code]
2. Created a samsple workload to backup
3. Backed up the sample workload and restored from the backup.

I was able to run all of this successfully.

However, I ran into the issue you are reporting here when I updated the velero image from `1.4.2` to `1.5.

[2020-09-25 01:16] zubron commented on #2966
I think this will still be an issue in the new version 😞  v3.0.0 [still relies on the Kubernetes repo](https://github.com/kubernetes-csi/external-snapshotter/blob/v3.0.0/go.mod#L25) which [doesn't support being used as a library](https://github.com/kubernetes/kubernetes/issues/90358#issuecomment-617859364). It looks like the folks working on external-snapshotter have been trying to get the parts t

[2020-09-25 06:03] whitepiratebaku commented on #2967
No, they do not have annotations.

**Output of "velero describe backup full-volume200 --details"**
`Name:         full-volume200
Namespace:    velero
Labels:       velero.io/storage-location=default
Annotations:  velero.io/source-cluster-k8s-gitversion=v1.16.3
              velero.io/source-cluster-k8s-major-version=1
              velero.io/source-cluster-k8s-minor-version=16

Phase:  InProgress

[2020-09-25 06:20] #2891 closed

[2020-09-25 07:35] Panplumousse commented on #2964
Hello i had this kind of message to

My fatal issu is link to backup location i think:

 level=error msg="Error patching backup location's last-synced time" backupLocation=aws controller=backup-sync error="the server could not find the requested resource (patch backupstoragelocations.velero.io aws)" error.file="/go/src/github.com/vmware-tanzu/velero/pkg/controller/backup_sync_controller.go:311" er

[2020-09-25 08:28] panpan0000 commented on #2892
yep. That sounds the same. thank you for your response. @nrb

[2020-09-25 08:29] panpan0000 commented on #474
from https://github.com/vmware-tanzu/velero/issues/2892

My application scenario as below (the replica "changing" ):

In a DR/migration scenario , the backup cluster resources are smaller than the main cluster, in most cases.
So, we have to change the deployment's replica, likely from 10 to 2.
aka, in original cluster, the replica = 10, but in new cluster , the replica should be 2, because the new

[2020-09-25 13:05] yaronp68 opened #2973 "Custom metadata from Velero hooks"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
This ER is about adding the ability to write custom metadata to the backup file from hooks and plugins using an additional argument or method.

### The use case
When Velero backs-up a pod with its data it treats it as a blackbox. It only knows what K8s knows about the

[2020-09-25 14:13] cholm321 opened #3157 "Backup Azure Managed Disks from multiple Resource Groups"
We have an AKS cluster with velero installed in an enterprise setup.

On the cluster we have
app1     with managed disk in ResourceGroup 1
app2     with managed disk in ResourceGroup 2
app3     with managed disk in ResourceGroup 3

All Resource Groups has the AKS spn as contributor.

We have been poking a little around, but it seem that the ResourceGroup must be specified on velero install.

Have

[2020-09-25 15:17] javanthropus opened #2975 "Scheduled backups automatically deleted when ArgoCD deploys Velero"
**What steps did you take and what happened:**

We are trying to use ArgoCD to deploy most resources into our clusters, and we're using the vmware-tanzu/velero helm chart to enable that.  We include schedule definitions in the chart's `values.yaml` so that they are created automatically.

A Backup resource created from the resulting Schedule resource inherits all of the tags from the Schedule reso

[2020-09-25 16:40] nrb commented on #2967
No, restic shouldn't need a shell inside the pod to work. It gets at the volume mounts via the node's hostPath.

You said that the backup works without error when you run without the default-volumes-to-restic option; by "work" here, do you mean that the restic data is present? If so, that would imply to me that the pod volumes are annotated.

Also, another thing to check here: the change to `defau

[2020-09-25 17:23] nrb commented on #2935
Decision (to be documented):

* Betas will be cut at feature completeness, with 1 week between releases for bug fixes.
* After RC, 1 week til GA.
* This applies to the plugins we maintain too.

[2020-09-25 20:46] dsu-igeek commented on #2971
We've been looking at this as well for other use cases.  A long term solution would be to use the proposed Data Populators (https://github.com/kubernetes/enhancements/issues/1495) but this will require changes in how Restic is handled.

[2020-09-25 21:55] ashish-amarnath commented on #2938
@davemazur In Velero we use the `"github.com/sirupsen/logrus"` logging package and not something like `github.com/golang/glog` where the logging verbosity is controlled by the `--v NUMBER` flag. In the `logrus` package, the logging verbosity is controlled using the `--log-level` flag.
[code]
Also, this flag is available only for the `velero server` sub-command.

We don't currently have flags to co

[2020-09-25 22:03] ashish-amarnath commented on #2925
@dk-do Here is a similar issue https://github.com/vmware-tanzu/velero/issues/2185 that our users have been able to solve.
Can you please verify if the resolution works for you?

I am going to close this issue with the assumption of this being a duplicate of #2185. Please re-open if otherwise or need further assistance.

[2020-09-25 22:03] #2925 closed

[2020-09-25 22:17] ashish-amarnath commented on #2907
@kaviarasan-ex2 I am going to close this issue as your question has been answered.
You may also find the information at https://velero.io/community/ useful.

[2020-09-25 22:17] #2907 closed

[2020-09-25 23:28] ashish-amarnath commented on #2909
@sawansharma005 This is not something that the Velero team has had a chance to try azure stack yet.
Looks like @cshaw5 was able to make some progress. The error there shows that the `velero-plugin-for-microsoft-azure` is unable to connect to the object-store. Is there a possibility that your cloud-credentials secret are incorrect?

[2020-09-26 09:55] sbuvaneshkumar opened #2977 "An error occurred: --snapshot-location-config must be empty when --use-volume-snapshots=false"
When I try to setup the server as per https://velero.io/docs/v1.5/contributions/minio/,
I am getting following error:

[code]
I was able to fix the issue by removing `--use-volume-snapshots=false`.

[code]
I think the docs needs to be fixed, as it seems velero is not expecting `--snapshot-location-config` when using `--use-volume-snapshots` option.

**Environment:**

- Velero version
[code]
- Vele

[2020-09-26 11:40] dk-do opened #2978 "Restore fails with timeout (restic)"
**What steps did you take and what happened:**
Restore fails with:

[code]
How did we start the restore?
We deleted all PVs for PostgreSQL (acid-postgres-0, acid-postgres-1, acid-postgres-2) . While PV 1 and 2 was successfully restored, PV 0 failed.

In addition we realized, that the lag of the two successful restored PVs was very high:

[code]
The backup was taken with a lag of 0 MB.

**What did

[2020-09-27 05:40] omerlh commented on #2913
For me it happened on a clean Velero install, not an upgrade

[2020-09-28 05:12] vaishali-prophecy commented on #2958
@nrb Could it be RCA'ed?

[2020-09-28 06:08] dk-do commented on #2978
Anybody an idea?

[2020-09-28 09:04] foosinn commented on #2963
I was unable to find any hints why the backup failed in the output. Any idears?

Thanks a lot for your help!

Restic pod log:

[code]

Pretty stdout:

[code]

[2020-09-28 09:49] beegee1 commented on #2908
Can I work on this during the Hacktoberfest event (in October)? Do you think such a feature would be OK from your side? Would be great if someone could give me some hints how it should be implemented?

[2020-09-28 14:07] zubron commented on #2977
Thanks for reporting this! Yes, the docs are incorrect here. If you are not using volume snapshots then the velero CLI will prevent you from specifying a snapshot location as it is not required.

[2020-09-28 17:09] ashish-amarnath commented on #2939
The error you are seeing here is coming from the `DescribeVolumes` API from the aws go sdk. The 400 error indicates that this is a client error.
From the output of `> k describe pvc mysql-data-ega-mysql-pxc-0 -n ega` the volume you are attempting to snapshot is in `us-east-2`.

Can you please confirm the `region` in the [`VolumeSnapshotLocation`](https://github.com/vmware-tanzu/velero-plugin-for-a

[2020-09-28 17:49] ashish-amarnath commented on #2570
@arianitu I am going to close this issue. Please re-open once you are able to provide a repro case.

[2020-09-28 17:51] ashish-amarnath commented on #2632
@rnrsr and @sseago I am going to close this issue and follow this up in #2948 which has an associated PR as well.
LMK if you disagree.

[2020-09-28 17:51] #2632 closed

[2020-09-28 20:05] davemazur commented on #2938
@ashish-amarnath Thanks for the explanation.  It is confusing that when you do a "velero help", you see the option for "-v Level" and as you stated, this does not control the logging for velero but for other packages that velero call into.  Maybe remove the "-v" option from the help?  Or leave it and modify the help to state something like "number for the log level verbosity (1-10) of non-velero p

[2020-09-29 10:13] liyan-su opened #2979 "velero use "exclude-namespaces" to backup not worked"
**What steps did you take and what happened:**
1. create 1 cluster with 3masters and 500 work nodes.
2. create 2500 namespace, 5000pods(10000deployments), 3997 loadbalance service
3. velero backup create backup-exclude --exclude-namespaces velero,default,pks-system,kube-node-lease,kube-public,kube-system,nsx-system(failed)

**What did you expect to happen:**

I hope velero can backup succefully, b

[2020-09-29 11:59] WaterKnight1998 commented on #2972
@pavanfhw did you managed to make it work?

[2020-09-29 12:33] titou10titou10 commented on #308
I'm facing the same problem with velero v1.5.1
The backup is in "Deleting" state since days and in the logs:

        level=error msg="Error in syncHandler, re-adding item to queue" controller=backup-deletion error="error downloading backup: error copying Backup to temp file: rpc error: code = Unknown desc = storage: service returned error: StatusCode=404, ErrorCode=BlobNotFound, ErrorMessage=The

[2020-09-29 12:39] titou10titou10 opened #2980 "Unable to delete backup if cloud resources have already been deleted (velero v1.5.1, similar to #308)"
As issue #308 is closed, I opened this new one as I'm facing the same issue but with v1.5.1

The blobs have already been deleted in the cloud and velero is unable to delete the backup

    velero backup get
    velero-s-24h-20200831015039  Completed   0   12   2020-08-31 01:32:51 -0400 EDT   17h       default            <none>
    velero-s-24h-20200826022813  Deleting    0   0    2020-08-26 01:47:

[2020-09-29 12:50] whitepiratebaku commented on #2967
If do kubectl edit deploy/velero -n velero and add "--default-volumes-to-restic" will this flag apply to all backup by default? I want to call --default-volumes-to-restic only for some backups not all.

[2020-09-29 14:55] venksel opened #2981 "Velero unable to access S3 when using an IAM role"
Hello,
I'm using an AWS IAM role (with permission to access S3) and its attached to EKS service account "velero"   which is the default service account created by the Velero deployment.   To give you some background, using an EKS v1.17 with Velero client and server version: v1.5.1 and AWS now supports attaching a role to a Kubernetes service account so i'm not using Kiam or Kube2iam. Reference htt

[2020-09-29 16:45] venksel commented on #2981
[velero.log](https://github.com/vmware-tanzu/velero/files/5300585/velero.log)

[2020-09-29 19:09] AkhilaDamera opened #2982 "velero restore failed with volume token not found"
**What steps did you take and what happened:**
I have backed up a vault cluster namespace which has AzureFileshare pvc's with one of the pod volumes as below:

[code]
I have used velero with restic and have annotated the pods before creating the backup:
[code]
After creating the backup, deleting the namespace and while restoring the error stated as below:

[code]
When i looked into the pod informa

[2020-09-29 20:47] zubron commented on #2981
Hi @venksel - sorry you're having issues with this.

This is a known issue and has been discussed on the AWS plugin repo: vmware-tanzu/velero-plugin-for-aws#17. There is a workaround in the issue which will hopefully help you.

The core issue seems to be that all containers for Velero run as user `nobody` and the service account token is mounted with permissions 0600 preventing non-root users from

[2020-09-29 20:47] #2981 closed

[2020-09-29 21:23] zubron commented on #2980
Thanks for reporting this, @titou10titou10!

Just to confirm, I can reproduce this locally with a minio setup by deleting the directory for a backup in the configured bucket.

[2020-09-29 21:41] zubron commented on #2980
It looks like this behaviour was broken in #2815. As part of performing DeleteItemActions, the tarball for the backup is downloaded which will fail if the resources have been deleted from the cloud storage.

[2020-09-29 22:00] zubron commented on #2979
Hi @liyan-su. I'd like to check - are you able to perform any backups without using `--exclude-namespaces`? The backup that you are trying to produce would likely be very large given the number of resources, so may take some time for Velero to process. I'm trying to determine if this is actually an issue with the exclude namespaces behaviour or is just due to the size of the backup. Thanks!

[2020-09-29 23:38] venksel commented on #2981
Thanks @zubron  for taking time to reply. Passing explict security context permission did the trick, here is  an excerpt from the deployment YAML for ref:

![image](https://user-images.githubusercontent.com/38528907/94627347-49fd9f80-028b-11eb-8eb0-df6ec3aae3be.png)

[2020-09-30 04:46] vaishali-prophecy commented on #2958
@nrb @ncdc @carlisia @jwhitcraft ?

[2020-09-30 06:59] reddiablo85 commented on #2061
any progress on this....would be great to be able to adjust the TZ from the Velero side as we´ve clusters across various timezones

[2020-09-30 07:26] liyan-su commented on #2979
hi @zubron
I try to backup failed for many times beacause of use "exclude-namespaces",  after that I use --include-namepaces with 2500 namespace string, it is complete and success.
Thanks!

[2020-09-30 07:33] nwakalka opened #2983 "While Restoring a Backup having PV into an existing namespace, which has already running pod and pvc bound. In such scenario velero is waiting for restic restores to complete and it's stuck there for long."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

1. Trying to restore a backup into a namespace which has already running pod and pvc bound , in such scenario velero is stucked at **Waiting for all restic restores to complete**

2.  Logs are not rolling and next restore is in state pending. ( waiting for current restor

[2020-09-30 09:16] sawansharma005 commented on #2909
Hi Ashish,

We already tried what @cshaw5 has pasted, and got the same error.

`An error occurred: some backup storage locations are invalid: error getting backup store for location "default": rpc error: code = Unknown desc = unable to parse azure cloud name environment variable: autorest/azure: There is no cloud environment matching the name "AZURESTACK"`

With **AzurePublicCloud**, velero couldn

[2020-09-30 12:12] WaterKnight1998 opened #2984 "[BUG] Velero not backuping Rook+Ceph correctly"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

 I am trying to backup my kubernetes cluster with Velero+Restic.

In that cluster I deployed [Rook+Ceph with PVC](https://rook.io/docs/rook/v1.4/ceph-cluster-crd.html). In that cluster I created an [Object Storage](https://rook.io/docs/rook/v1.4/ceph-object.html)

The vo

[2020-09-30 13:02] cidsasaki commented on #2349
@DamianKusz were you able to try the above suggestions?

[2020-09-30 16:05] nrb commented on #2967
It will apply to all backups, yes. It's required to make the client-side flag work right now, as the design goal was to make sure users who were using 100% restic had an easier path.

There may be changes we have to make to to accomodate mixed use cases with this flag, but for the moment the solution there is to use the opt-in approach rather than the `default-volumes-to-restic` flag.

[2020-09-30 16:20] nrb commented on #2958
@vaikas Please realize that we're trying to get to as many requests as we can, but we're not able to get to them all immediately.

Also, I'm not sure what `RCA'd` means in this context.

Are you using restic to back up this volume? If using restic on a volume with a `delete` ReclaimPolicy, Velero will not restore the PV object itself, but rather dynamically provision an empty volume to restore the

[2020-09-30 16:41] vaishali-prophecy commented on #2958
@nrb Yes I am using restic. I dont see any dynamically provisioned volume and with ReclaimPolicy as Retain, I see other issues being reported. So what kind of EFS volumes can we actually restore with restic?

[2020-09-30 16:54] nrb commented on #2958
Based on the message `waiting for a volume to be created, either by external provisioner "efs.csi.aws.com"`, the EFS CSI driver hasn't yet created the volume.

Doing some Googling, as I'm not familiar with the driver, I came across [their documentation](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html) which states

Docs in https://github.com/kubernetes-sigs/aws-efs-csi-driver state t

[2020-09-30 16:59] vaishali-prophecy commented on #2958
@nrb So to fix problem for now, in case the policy is Retain, how can i go about it?

[2020-09-30 17:01] nrb commented on #2973
Hi @yaronp68, I think this is a reasonable request and certainly something we need to work with your team on.

Right now, we do have a `plugins` directory in the backup storage location that plugins can write to that the vSphere plugin is leveraging. I don't think this will be the entirety of the solution, but perhaps at least part of it.

I did some searching through our docs and it looks like wh

[2020-09-30 17:14] vaishali-prophecy commented on #2958
Looks like as per https://github.com/vmware-tanzu/velero/pull/1713, PVs are dynamically reprovisioned irrespective of ReclaimPolicy. Am i right?

[2020-09-30 17:32] nrb commented on #2973
Re-reading the issue, the `plugins` directory isn't sufficient for what you're asking.

Changes to the `backup.json` file will be at the CRD level - so we'll have to se if we can put arbitrary data there.

[2020-09-30 18:27] zubron commented on #2979
Thanks for the info, @liyan-su! Did the backups using "exclude-namespaces" explicitly fail, or are they not completing? (Your original message said they were stuck in progress for a long time).

[2020-09-30 20:59] zubron commented on #2980
I'm going to start on this and add it to the 1.5.2 milestone given that it's been reported a couple of times now, and is a regression from the 1.4.2 behaviour.

[2020-10-01 08:40] vaikas commented on #2958
@nrb I assume I was mentioned here by accident? If not, is there something that I need to do here?

https://github.com/vmware-tanzu/velero/issues/2958#issuecomment-701496524

[2020-10-01 12:24] pavanfhw commented on #2972
@WaterKnight1998 no, I got it working with restic though. The problem above was using the csi-plugin.

[2020-10-01 12:58] fredleger commented on #2701
Any update on this ?
Thsi was really a major issue and velero has been disabled since that. So the infra has no backups at all !

[2020-10-02 06:41] burkhat commented on #2539
@ashish-amarnath
We've now deployed velero version 1.5.1 on our cluster and now we will have a look if the error appears again.
I will update you next week

[2020-10-02 08:53] relgisri opened #3039 "How to Upgrade Plugin and Velero version?"
Hello lovely team,

I am trying to upgrade our Velero and GCP Plugin versions but struggle a bit understanding on how this process is done.
For Velero itself, there is a comprehensive guide which leads through the upgrade procedure for each version. Here: https://velero.io/docs/v1.4/upgrade-to-1.4/

Currently we run Velero on version 1.3 and the GCP Plugin on version 1.0.1
Following the [install d

[2020-10-02 13:48] #2948 closed

[2020-10-02 15:37] moelsh-thoughtworks commented on #1755
So as if version 1.2.0, this is still not implemented and the "hack" above works. Just change the az in both the files specified. Please notice that you need to change in the persistentvolume (not the persistentvolumeclaim) resource.

[2020-10-02 15:39] tvvignesh commented on #2913
Hi. I am facing the same issue too. Also, I am not able to delete the failed backups and they are stuck after uninstalling and reinstalling the helm chart. Related  to https://github.com/vmware-tanzu/velero/issues/2980

<img width="711" alt="Capture" src="https://user-images.githubusercontent.com/1165845/94942013-571cc780-04f3-11eb-8b2e-01fd80cd079b.png">

[2020-10-02 20:55] jheinnic commented on #2942
Just found this issue as a new user trying to set Velero up against an AWS cluster I'm looking at sending offline to cold storage for a few weeks.  Hoping to have this as a safeguard that it will come back up on the other side of that window.  Have been beating my head against wondering why I couldn't complete basic setup before proceeding to attempt to use this product, but after reason this thre

[2020-10-02 22:47] WaterKnight1998 commented on #1255
Any updates on this issue? Has it been merged?

[2020-10-03 06:55] bclermont commented on #2942
I ended on this github issue, because I interpreted this message, not as debug output, but as an error I'm supposed to be worried about.

Maybe that should be logged at debug level, no?

[2020-10-04 13:11] cloudcafetech commented on #1628
@skriss
Is there any way I can take backup following cluster resources (crd,clusterrole) ...

[code]

[2020-10-05 09:27] RuBiCK opened #2987 "Installation error: Code=\"InvalidSubscriptionId\" Message=\"The provided subscription identifier 'XXXX-XXXX-XXXX]' is malformed or invalid"
**What steps did you take and what happened:**
Fresh install following the setup documents and using velero install (without helm)

[code]
The deployment logs show this error:

[code]
The problem seems to be with `SubscriptionId` that contains a `]`

Related with Issue #1959 that was closed by the user without explaining the solution

**What did you expect to happen:**
I expect the installation to

[2020-10-05 20:37] ksummersill2 commented on #2913
Any updates on this issue? Just installed Velero with CLI and Plugin using Docker Image, but could not connect to S3 bucket.

[2020-10-06 03:31] igorcezar commented on #2975
One way to solve this is using ArgoCD [resource.exclusions](https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/#resource-exclusioninclusion) as stated in [this issue](https://github.com/argoproj/argo-cd/issues/1472).

The best solution would be to configure this at the application level, but at cluster scope also solves the problem.

[2020-10-06 04:32] mikosa commented on #2984
I imagine Restic was also deployed?

[2020-10-06 06:57] RuBiCK commented on #2987
The information that incorrectly placed I was able to change editing de CRD.

As an improvement, I think it should perform some sanity checks before creating the CRD and the possibility to modify the information provided

[2020-10-06 06:57] #2987 closed

[2020-10-06 09:06] lukastopiarz opened #2988 "Provider for Openstack Swift/Cinder"
**Describe the problem/challenge you have**
No provider for Openstack Swift or Cinder storage backend (Or I didn't find any)

**Describe the solution you'd like**
I would highly appreciate provider for Openstack Swift object store

**Anything else you would like to add:**
no

**Environment:**

- Velero version (use `velero version`): 1.4
- Kubernetes version (use `kubectl version`): v1.11.0+d4cacc

[2020-10-06 11:59] angelbarrera92 commented on #2504
[code]

1.19 deprecates v1beta1 api.
Is there any plan to release a new version migrating from v1beta1 to v1 to support Kubernetes 1.19?
Thanks!

[2020-10-06 13:07] zubron commented on #2980
I've taken a look at this. It's trivial to skip the downloading of the tarball if there are no DeleteItemActions to perform but it raises a further question of what the behaviour should be in the failure case (where there _are_ actions to perform but the associated backup resources have been deleted and the actions can't be performed because the tarball can't be downloaded).

Should the deletion o

[2020-10-06 15:17] zubron commented on #2966
I looked at this a bit more, and the external-snapshotter project actually created a [separate go module](https://github.com/kubernetes-csi/external-snapshotter/pull/307) for the client and APIs which _doesn't_ have the dependency on k/k and using it fixes the problem here. This new go module is available in [v2.2.0-rc3](https://github.com/kubernetes-csi/external-snapshotter/blob/v2.2.0-rc3/client

[2020-10-06 16:14] dsu-igeek commented on #2980
Since we don't know what items would need to get deleted, I think it's fine at this point to not call the DeleteItemActions.  This may result in orphaned objects, but we don't have a general cleanup for orphaned objects at the moment.

[2020-10-06 16:33] nrb commented on #2980
Agreeing with @dsu-igeek here - since we have no idea what we'd match the DeleteItemActions against, I think we should log that the tarball was missing, then skip any DeleteItemAction plugins that are present.

[2020-10-06 20:49] zubron opened #2989 "Make printer column titles consistent across all types"
_Originally posted by @nrb in https://github.com/vmware-tanzu/velero/pull/2881#discussion_r496236736_

In adding the additional printer columns for CRDs, it was noted that the columns for the `get` commands were named inconsistently from the fields being displayed, but also that they were inconsistent across types. For example, `.status.startTimestamp` is displayed under the column `CREATED` when

[2020-10-07 03:22] gowrisankar22 opened #2990 "Velero to support active failover to reduce the downtime"
It would be certainly very nice to mitigate the downtime via an active failover approach. This will be a worth feature add for velero.
https://kubernetes.slack.com/archives/C6VCGP4MT/p1602004864147000

[2020-10-07 11:03] cloudcafetech commented on #2520
Same issue my PVs are NFS backed PVs. Restic not restoring snapshot. Instead its creating new one.

[2020-10-07 14:28] georgettica commented on #2458
just to add to the party, another error
`time="2020-10-07T01:01:38Z" level=error msg="Error listing items" error="etcdserver: leader changed" error.file="/github.com/vmware-tanzu/velero/pkg/backup/item_collector.go:234" error.function="github.com/vmware-tanzu/velero/pkg/backup.(*itemCollector).getResourceItems" group=storage.k8s.io/v1 logSource="pkg/backup/item_collector.go:234" namespace= resourc

[2020-10-07 16:06] kaldorn commented on #1135
@pingoleon108 May I ask what your workaround was? I've recently started seeing these errors.

[2020-10-07 16:45] betta1 opened #2991 "BSL controller loop always invokes init() regardless of backup location's ValidationFrequency"
**What steps did you take and what happened:**
After upgrading to Velero v1.5.1, we observed that BSL controller always invokes init() for existing backup storage locations regardless of the BSL's ValidationFrequency (we tried setting BSL validationFrequency to 0 to skip validation but this didn't help). This is an issue since for some objectstore plugins the init() method could be an expensive ca

[2020-10-07 22:48] masterkain commented on #2913
I'm using these values:

[code]

with `velero/velero-plugin-for-aws:v1.1.0`.

I removed everything and reinstalled from scratch, emptied the bucket.

after the upgrade to `v1.5.1` and `velero/velero-plugin-for-aws:v1.1.0` from its `-beta`

[code]

[2020-10-07 22:49] pingoleon108 commented on #1135
I think that I asked AWS to increase the limit but this is not always approved.

[2020-10-08 10:42] jprecuch commented on #448
@ncdc is there something for this ongoing or was this put on hold for now?

[2020-10-08 11:25] ksummersill2 commented on #2913
So I could create a backup. So the S3 bucket connected even though I get the same error above. So not sure why it keeps showing that message.

[2020-10-08 16:31] ncdc commented on #448
Hi @jprecuch, I don't work on Velero any more, but @carlisia @nrb @ashish-amarnath should be able to help you

[2020-10-08 19:07] mfuxi opened #2994 "Add the ability to add the docker images to the backup as well"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
I would like to be able to backup and restore an air-gap cluster from one data center to another cluster in a different data center
For that I must have the docker images together with all the other Kubernetes objects backup

**Describe the solution you'd like**
[A cle

[2020-10-08 20:13] jonnylangefeld opened #2995 "Nil pointer dereference running `velero version`"
**What steps did you take and what happened:**
Run `velero version`

**What did you expect to happen:**
To show the version, or if there is a misconfiguration on my side, show an error. But don't run into a nil pointer dereference

**The output of the following commands will help us better understand what's going on**:
[code]

**Vote on this issue!**

This is an invitation to the Velero community

[2020-10-08 22:35] codegold79 commented on #2551
This is a popular issue. I too would like to help work on it. @jenting, I'll contact you via Kubernetes Slack. I'm curious how far you've gotten and where I can help.

[2020-10-09 11:06] Samze opened #2997 "Restoring pods in an Istio enabled namespace causes them to error"
**What steps did you take and what happened:**
1. Install Istio `istioctl install --set profile=default`
1. Install Velero `velero install`
1. Create namespace `kubectl create namespace nginx-example`
1. Enabled istio on namespace `kubectl label namespace nginx-example istio-injection=enabled`
1. Apply the Velero non-pvc example. `kubectl apply -f https://raw.githubusercontent.com/vmware-tanzu/vel

[2020-10-09 16:55] arianitu commented on #2570
@ashish-amarnath @nrb Please re-open, reproduction case below:

**1. What is the problem?**

Velero does not use ClaimRef with the cloned PV created by `--namespace-mappings`. Failure to use ClaimRef leads to indeterministic behavior when binding a PVC to a PV.

Please see [https://github.com/kubernetes/kubernetes/issues/23615#issuecomment-664635304](https://github.com/kubernetes/kubernetes/issues

[2020-10-09 16:59] dvaldivia commented on #1899
@debianmaster Additionally you can setup replication between the MinIO's with `mc mirror --watch` containers to have continuous replication between the sites if you want the backups to be available in both sites

[2020-10-09 17:00] arianitu commented on #2570
@ashish-amarnath @nrb I would also consider this a high risk security issue. Please e-mail me at ari@stacksoft.io for a malicious use case.

[2020-10-09 17:23] arianitu commented on #2570
Also, this bug is caused here: https://github.com/vmware-tanzu/velero/blob/master/pkg/restore/restore.go#L891

[code]

In this case, this function calls executePVAction which does:

[code]

The claimRef is deleted here, but is never added back. I think maybe under https://github.com/vmware-tanzu/velero/blob/master/pkg/restore/restore.go#L864 we should add oldPvcName

[code]

then under https://git

[2020-10-09 21:07] geoff-bleakley opened #2998 "UnauthorizedOperation when attempting snapshot of PV"
**What steps did you take and what happened:**
Installed velero with AWS plugin and testing namespace backup
  velero backup create <name> --include-namespaces <nsname>
 all namespace resources were backed up to S3, but the PVs (3) did not have snapshots taken.
Error (from log):

time="2020-10-09T16:03:50Z" level=info msg="Snapshotting persistent volume" backup=velero/vernemq22 logSource="pkg/back

[2020-10-09 22:02] sagor999 opened #2999 "Velero cannot backup one StorageClass with plugins and another StorageClass with restic"
**What steps did you take and what happened:**
Upgraded to velero 1.5.1 to take advantage of `--default-volumes-to-restic` and not having to annotate every single volume.
Unfortunately it doesn't work. Fails with `PartiallyFailed`.
Here is the command that I run:
`velero backup create lvm-test6 --default-volumes-to-restic --include-namespaces default --selector app=lvm-test`
Here is log:
[code]

V

[2020-10-09 22:06] dsu-igeek commented on #2998
Would you double check the Velero IAM user for all of the permissions listed in the Velero Plugin for AWS README (https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/main/README.md)?  The code that calls the snapshot is pretty simple, however it does create a tag as part of the snapshot, so I'm thinking perhaps you don't have the ec2:CreateTags permission which you wouldn't hit if you just

[2020-10-10 10:20] stevefan1999-personal opened #3000 "Backup to Restic REST server"
**Describe the problem/challenge you have**
I would like to backup to a cheap storage server that unfortunately requires me to use rclone and the Restic REST remote repository to sit in between. Basically it means Velero -> Snapshot -> Restic REST remote repo -> Rclone -> cheap storage server. However, I don't see a clear instruction or indication during my consulation to the documentation for whe

[2020-10-10 10:23] stevefan1999-personal commented on #3000
#1178

[2020-10-10 17:43] cloudcafetech opened #3001 "Does restic have challenges with multiple PV's in single app?"
In my NS  I have two SS with NFS backed up PV, each SS has 3 replica.

Backup no issue but abnormal behave in restoring. As per my observation it restore on-time successfully.

Does restic have challenges with multiple PV's in single app?

[2020-10-11 20:23] georgettica commented on #2966
Thatks all for pushing this issue forward.

I agree @nrb  that this should be done via the normal releases and still it's a good self check to see all the modules are in order.

If you need 🙌  for this, would gladly see what I can do to make this a reality

[2020-10-12 10:52] JeremyBouchet opened #3002 "[AKS] [Velero] MountVolume.SetUp failed for volume "cloud-credentials" : secret "cloud-credentials" not found"
**What steps did you take and what happened:**
Error of Velero deployment with Terraform on AKS cluster

**What did you expect to happen:**
The deployment and pods of Velero deployed with the velero version 1.5.1

**The output of the following commands will help us better understand what's going on**:
- Terraform outpout
Error: timed out waiting for the condition

- kubectl get events -A --sort-by

[2020-10-12 13:17] geoff-bleakley commented on #2998
Thanks for the reply.  Here is the policy:
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "ec2:DescribeVolumes",
                "ec2:DescribeSnapshots",
                "ec2:CreateTags",
                "ec2:CreateVolume",
                "ec2:CreateSnapshot",
                "ec2:DeleteSnapshot"
            ],

[2020-10-12 13:37] JeremyBouchet commented on #3002
I find the root cause of my problem :
In my terraform code to describe the helm resource of Velero it was missing the declaration of the dedicated namespace (in my environment the namespace must be "velero").
I added in my code the below line in bold and the pods of velero have been deployed correctly.

resource "kubernetes_namespace" "velero" {
  metadata {
    annotations = {
      name = "veler

[2020-10-12 13:37] #3002 closed

[2020-10-12 15:36] harsh2202 opened #3003 "sysdig report shows vulnerabilities with velero image"
Hi Team,

We can see list of vulnerabilities with velero image (veleor:v1.4.0) while having sysdig image scan, though most of medium level and seems fix available not for all. Can you please suggest & help us with latest velero image.

Thank You
Kind Regards

Harish

[2020-10-12 20:17] #2995 closed

[2020-10-12 22:22] nrb commented on #2570
@arianitu Thanks for the detailed description of the issue and the proposed fix.

The main thing that needs to happen is the [UID](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L4501) needs to be cleared out of the [ClaimRef](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L318), but the namespace and name can be kept in most instances. In

[2020-10-13 01:32] jenting commented on #2551
[code]

[2020-10-13 09:39] jepangLee opened #3005 "Timeout Restic"
## **What steps did you take and what happened**

i installed velero with eks and s3, annotate

[code]

to pod of mysql stateful_set and backed up

but, only podVolumes can't backup

## **What did you expect to happen**

backup stateful_set, pvc and pv's data

## **The output of the following commands will help us better understand what's going on**

(Pasting long output into a [GitHub gist](https

[2020-10-13 09:48] jepangLee commented on #3005
and i have a question

even if use --use-restic option, other resource don't change
how do Velero and Restic communicate?

[2020-10-13 15:37] aristosvo opened #3158 "Network restrictions on Azure Storage Account not working"
When we installed Velero with the Velero plugin for Azure on our AKS cluster in the first place, we didn't restrict our storage on AKS outbound IP, as it was just an experiment.

After this experiment we tried to improve security by restricting to only the outbound IP of our AKS cluster. This doesn't seem to work. AKS documentation refers to account access [here](https://docs.microsoft.com/en-us/a

[2020-10-13 15:44] phuongatemc commented on #2922
I propose we enhance the BackupItemActionPlugin struct to contain a timeout (in seconds) and enhance BackupItemActionGRPCClient.Execute as following:
if timeout is not specify, call grpcClient.Execute directly
  res, err := c.grpcClient.Execute(context.Background(), req)
if timeout is specify, execute it in a goroutine (using context.WithCancel to terminate the goroutine if timeout occurs) and sel

[2020-10-13 16:23] nrb commented on #2922
This may also be relevant to https://github.com/vmware-tanzu/velero/pull/2867

[2020-10-13 19:10] #2991 closed

[2020-10-13 19:58] #2887 closed

[2020-10-13 23:13] #2834 closed

[2020-10-14 01:56] OceanChen2012 commented on #2654
I have a question about velero REST API, How should I pass parameters for backup a resource? such as "velero backup create nginx-backup --include-namespaces nginx" , What is the json parameters?

[2020-10-14 01:58] wanghuok commented on #2956
Hello, @nrb Is there any new progress?

[2020-10-14 02:09] OceanChen2012 commented on #2654
Dear Carlisia,
Recently ，I am integrating the Velero into the kubersphere project, encountered some confusion about velero exposing API to pass json parameters. Whether have  a document I can see the various REST API input and output parameters of velero?

[2020-10-14 02:16] liyan-su commented on #2979
hi  @zubron
hi,  backups using "exclude-namespaces" stuck in progress,  and we use "kubectl logs velero-6c8b8dc5db-sj42j -n velero" to check log (above has attached) but not any backup information.

[2020-10-14 02:48] OceanChen2012 commented on #1450
Hi Nolan, Where Can I see the REST API of Velero? I need to know the relevant input and output parameters.

[2020-10-14 02:48] bjlvfei commented on #2913
I'm using the IBM Cloud Object Storage as backup. I'm following the steps as wiki https://velero.io/docs/v1.4/contributions/ibm-config/#install-and-start-velero. There is an issue according to logs deployment/velero, I'm not sure the root cause.

1. velero version

velero version
Client:
        Version: v1.5.1
        Git commit: -
Server:
        Version:

2. OpenShift version

4.3.35_1539

oc g

[2020-10-14 03:47] doughepi opened #3008 "Restoration fails in clusters with injected InitContainers because of order."
**What steps did you take and what happened:**
No different from a normal backup and restore process using Restic with the `--default-volumes-to-restic` flag turned on.

1. Began backup using `velero backup create backup-test-3 --storage-location gcp --default-volumes-to-restic --include-namespaces database-portal-env-dev -n velero-system`.
2. Waited for backup to complete and verified that volume

[2020-10-14 03:58] doughepi commented on #3008
adding @skriss as the original author of the linked code & because you're probably more aware of the implications of my proposed fix

[2020-10-14 07:58] jenting commented on #2551
sorry, I did not dig deeper on Kubernetes code, but I believe the `discovery client` having the same output as `kubectl get --raw /apis | jq -r`.

Yes, I know with enabling the feature flag `EnableAPIGroupVersions`, the backup files include all the _preferred_ version and all the _supported_ versions.

Since I'm testing back up at Kubernetes version 1.x and restore at Kubernetes version 1.(x+n), n

[2020-10-14 11:08] nwakalka commented on #2983
@skriss @ashish-amarnath can someone help on this?

[2020-10-14 12:27] fatihdestegul commented on #1856
This has solved my problem...

Velero 1.5.1
Azure plugin: 1.1.0

[2020-10-14 13:13] sshende-catalogicsoftware opened #3009 "Update hashicorp/go-plugin dependency"
**What steps did you take and what happened:**
Installed Velero and triggered the backup for all namespaces. The backup failed with error messages in log files.

**What did you expect to happen:**
For the backup to finish with phase "Completed"

**Anything else you would like to add:**

- The cluster has 1000's of Custom resources which we call "kcas" belonging to group version "cc/v1".

- The bac

[2020-10-14 18:36] codegold79 commented on #2551
Thanks for the clarifications.

Yes, I think you're right about `kubectl get --raw /apis`.

I think I understand what's happening. You are using a Kubernetes feature (the webhook conversion) to convert a _preferred_ source version to a target _supported_ version. Does that mean that you do not prioritize converting a source version to a target _preferred_ version? Maybe your tests are only doing a

[2020-10-15 00:58] jenting commented on #2551
I think my tests cover priority 1 & 2.

For example:
1. - source cluster
      - preferred version (v1beta1)
      - supported versions (v1beta1)
    - target cluster
      - preferred version (v1beta1)
      - supported versions (v1beta1)
2. - source cluster
      - preferred version (v1beta1)
      - supported versions (v1beta1)
    - target cluster
      - preferred version (v1)
      - support

[2020-10-15 12:12] harsh2202 commented on #3003
Vulnerabilities Critical High Medium Low Negligible Unknown
Operating System 0 0 14 (10 fixes) 33 (9 fixes) 28 (8 fixes) 0

Operating System
Vulnerability ID    Severity Package Type Package                              Fix
CVE-2020-13844 Medium dpkg libstdc++6-8.4.0-1ubuntu1~18.04 None
CVE-2020-13844 Medium dpkg gcc-8-base-8.4.0-1ubuntu1~18.04 None
CVE-2018-20839 Medium dpkg libudev1-237-3ubuntu1

[2020-10-15 16:37] codegold79 commented on #2551
@jenting That's really great you are able to get Priorities 1 & 2. Without looking too carefully, it does seem like all current cases can fall into those two priority groups. But maybe it will be a problem in the future. It seems to be a problem in issue #2251 that needs to be addressed. It will probably be good to be able to migrate from a source supported version to a target supported version, e

[2020-10-15 16:49] geoff-bleakley commented on #2998
Hello, i read through volume-snapshotter.go, is that the correct logic?  I notice that our snapshots get a defined set of tags regardless of whether I indicate a snapshot-specific tag.  Is it possible the permission issue is with getting the other tags?

[2020-10-15 22:30] jenting commented on #2551
You could work on priority 3 first, but we need to find an API group and a source and target Kubernetes version that falls on priority 3 cases.

[2020-10-15 22:32] jbmassicotte opened #3010 "'velero backup/restore delete' does not remove Disks in Azure cluster"
I deployed velero in an Azure cluster, following instructions from https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure, using the service principal option. I use velero to backup a namespace which includes Disks (Managed Disks and Azure Files).

Velero works as expected except it leaves behind in the ‘node resource group’  (the group containing the VMs and the disks) a bunch of Disks

[2020-10-15 23:21] codegold79 commented on #2551
Sounds good. I'll look for a priority 3 case. If I can't find it, I think I might have to fake it. I'll let you know how it goes.

[2020-10-15 23:57] #2570 closed

[2020-10-16 05:39] vishumindtree opened #3012 "Velero backup is getting partially failed"
I am getting partially failed statuses for few backups . I have pasted below the error that we get while fetching logs of velero backups. I have used --insecure-skip-tls-verify flag as I am using customized certificates.

x509: certificate signed by unknown authority
The --insecure-skip-tls-verify flag can also be used to accept any TLS certificate for the download, but it is susceptible to man-in

[2020-10-16 10:53] email2smohanty opened #3013 "Restore is not failing when trying to restore a namespace which does not exist in backup"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
- Created a velero backup which consists of 2 namespaces named `default` and `openshift`
- By mistake when I am restoring namespace `openldap`  which does not exist in backup then the restore is getting complete without any error

**What did you expect to happen:**
- I am

[2020-10-16 14:22] Markus-Wild opened #3014 "Azure "SubscriptionNotFound" in private AKS Cluster with restricted Egress Traffic"
**What steps did you take and what happened:**
    velero install  `
    --provider "azure" `
    --plugins "velero/velero-plugin-for-microsoft-azure:v1.1.0"  `
    --bucket $BLOB_CONTAINER  `
    --secret-file "./credentials-velero" `
    --backup-location-config "resourceGroup=$AZURE_BACKUP_RESOURCE_GROUP,storageAccount=$AZURE_STORAGE_ACCOUNT_ID"  `
    --snapshot-location-config "apiTimeout=30"

[2020-10-16 14:39] geoff-bleakley commented on #2998
Hello,
I have discovered that the IAM permissions applied to the K8s-rancher worker node role are used for the velero create snapshot.  It appears that the permissions used during velero install are ignored, is that behavior expected?

[2020-10-16 18:32] doughepi commented on #3008
Side note that my pull request to this issue did fix the original issue, but now we're running into #2997.

[2020-10-16 18:52] doughepi commented on #2913
Update on my own issue above -> we reran the manual crd step in the upgrade to 1.5 notes. It seemed to fix things up. It was kinda unexpected that we needed to do this since we're using the Helm chart.

Since our issue was an upgrade, I think it is unrelated to the issue other people are facing in this thread.

[2020-10-17 02:04] sagor999 commented on #2913
I had the same issue after upgrading from 1.4 to 1.5.1 via helm chart.
I followed upgrade instructions and now all backup locations are available.

[2020-10-19 08:26] bjlvfei commented on #2913
my issue was resolved since it's not via helm chart.  Thanks!

[2020-10-19 11:29] pierredadt commented on #2988
Hi @lukastopiarz

I'm currently trying to find a solution to this.
For your information, here is what I found :
- https://github.com/Lirt/velero-plugin-swift/
Up to date and functional ObjectStore for Swift (used for resources backups and eventually restic<sup>[1]</sup> volume backups)
- https://hub.docker.com/r/ciscosso/velero-plugin-openstack
Deprecated ObjectStore for Swift and BlockStore for C

[2020-10-19 13:24] jbmassicotte commented on #2960
@nrb Any update regarding the availability of the incremental snapshots of Azure Disks?

[2020-10-19 13:57] Markus-Wild commented on #3014
I found the error - my fault!

I mixed the Subscription name with the Subscription ID. Sorry for the confusion.

[2020-10-19 13:57] #3014 closed

[2020-10-19 14:59] mug3n451 opened #3015 "Backup fails with no error"
**What steps did you take and what happened:**
I have a kubernetes cluster and i'm trying to make a simple backup of the namespace csi-app example given by the velero site. My provider is azure and i enabled the csi plugin and the snapshot option.

**velero backup get**
NAME           STATUS   ERRORS   WARNINGS   CREATED                          EXPIRES   STORAGE LOCATION   SELECTOR
csi-app-test

[2020-10-19 16:54] carlisia commented on #3008
This issue seems to have enough info for investigation + a PR open for review. Issues with PRs will always move faster, so expect some input soon.

[2020-10-19 16:55] carlisia commented on #3008
@skriss since you're no longer on the project, feel free to ignore. We'll ping you if needed.

[2020-10-19 17:11] carlisia commented on #2997
@Samze thank you for reporting this.

This issue seems to have enough information to try to replicate and evaluate an outcome.

[2020-10-19 17:37] #3010 closed

[2020-10-19 17:38] jbmassicotte commented on #3010
After closer look I discovered this was not an issue with velero, but rather, an issue with my application that leaves behind unused pvc's.

[2020-10-19 17:56] carlisia commented on #3015
Hey @mug3n451, thanks for reporting this. It would be helpful if you could provide us with the same logs as above, but with the `debug` level. Instructions on how to do set it: https://velero.io/docs/v1.5/troubleshooting/#getting-velero-debug-logs

If you could do that and run another backup, please give us the logs.

Also, it would be helpful if you could include the command as used to install Ve

[2020-10-19 18:01] carlisia commented on #3010
Thanks for letting us know! 👍

[2020-10-19 18:24] carlisia commented on #3013
Hey @email2smohanty, thanks for the report.

Can you please send me the command you used to do the restore? Thank you.

[2020-10-19 19:09] carlisia commented on #3012
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

**What did you expect to happen:**

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

- `kubectl logs deployment/velero -n velero`
- `ve

[2020-10-19 19:10] carlisia commented on #3012
Hey @vishumindtree, please send us information as per the report I just pasted above. Include full logs if you can, and also the full commands you used. Thanks.

[2020-10-19 19:40] carlisia commented on #3009
Hey @sshende-catalogicsoftware, I would try increasing the memory limit on the Velero deployment. There may be a couple of defaults that aren't playing nice together. Let us know if that fixes things.

Instructions: https://velero.io/docs/v1.5/customize-installation/#customize-resource-requests-and-limits

[2020-10-19 19:59] carlisia commented on #2982
This seems to have enough information to investigate. Might come down to answering this question:

[2020-10-19 20:05] carlisia commented on #2984
Hey @WaterKnight1998, can you please retry this operation, this time with a matching version of Velero on both client and server? So, either both versions should be 1.4 or both 1.5. Then send us your logs. Thanks.

[2020-10-19 20:22] carlisia commented on #2988
@lukastopiarz it is not on our plans to implement/support any additional plugins for Velero. We would love to see the community adding them however.

I added a discussion topic to our next community meeting (tomorrow) asking if we should add the Swift plugin above (thanks for the research @pierredadt!) to our list of plugins, in case you want to attend:

https://hackmd.io/Jq6F5zqZR7S80CeDWUklkA?vi

[2020-10-19 20:49] michmike commented on #2973
we are prioritizing this work for 1.7 release of Velero.
after 1.6 is tied down, @nrb will reply with some of the guard rails of this implementation for feedback.

[2020-10-19 20:50] nrb commented on #2973
@xing-yang and @lintongj FYI, since I know you're interested in the output for `velero describe` too. We should make sure whatever we implement for both the vSphere plugin and TAS.

[2020-10-19 21:15] phuongatemc commented on #2922
The Restore datapath is much more complicated because of behavior described in that #2867  I think we should consider it separately.  This should focus on the Backup datapath.

[2020-10-19 21:58] carlisia commented on #2999
I'm double checking if restic is supposed to work when CSI is enabled.

[2020-10-19 22:08] carlisia commented on #3000
Hey @stevefan1999-personal, none of what you are asking about is currently possible with Velero.

We will keep this issue open for a while until we can make a decision about it. Right now I can't say that this would be implemented.

[2020-10-19 22:14] carlisia commented on #3001
Hey @cloudcafetech, the general answer here is no, people are using Velero/restic to backup and restore these types of apps all the time.

We'd need to know more specific information about your restore challenges. Please provide answers to the report below.

---
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

**What d

[2020-10-19 22:19] carlisia commented on #3003
Thank you @harsh2202, looking into it.

[2020-10-19 22:29] carlisia commented on #3005
Hey @jepangLee, I see you are using the Velero client version 1.4.2 and the server version 1.5.1. Those two must have the same version, else you might run into problems. Please fix this issue and perform your backup again. If you continue to see any problem, please gather new logs for us.

[2020-10-19 22:35] carlisia opened #3017 "Add a warning to the `velero version` cmd when versions don't match"
I've been seeing a few issues opened with a mismatch in version between Velero client and server. I think there's sufficient coupling between the two that it (the mismatch) could originate the problems being reported.

The `velero version` command should verify any mismatch and warn. Not sure how strong this warning should be. Should it be: "will not work, please update [whichever has the lower ve

[2020-10-20 01:11] carlisia commented on #1450
Hey @OceanChen2012, Velero does not expose a REST API. You may use some Go packages as libraries (but please see this: https://github.com/vmware-tanzu/velero/issues/2654). You may also use the kubernetes API to access and manipulate the Velero custom resources.

[2020-10-20 03:00] cvhariharan commented on #3017
Hi, I can pick this up if this is up for grabs.

[2020-10-20 03:01] carlisia commented on #3017
Yes, go for it!

[2020-10-20 03:03] cvhariharan commented on #3017
Here, the warning should be thrown if the versions are not same for the cli and server right?

[2020-10-20 03:04] carlisia commented on #3017
Yes. I think we should do the match on the minor version only, not the patch. Example: 1.4.1 and 1.4.2 would be a match.

[2020-10-20 06:44] mug3n451 commented on #3015
Hi @carlisia thanks for reply! Here's what you asked for:

**velero installation command**
`velero install --provider azure \
--plugins velero/velero-plugin-for-microsoft-azure:main,velero/velero-plugin-for-csi:main \
--bucket velero \
--secret-file ./credentials-velero \
--backup-location-config resourceGroup=xxxxxxxxxxxx,storageAccount=xxxxxxxxxxxxxx,subscriptionId=xxxxxxxxxxxxxxxxxxxxxxxx \
--s

[2020-10-20 06:51] dsu-igeek commented on #2998
Well, that's not the intended behavior.  We may not be getting what we expect to happen from the AWS SDK, though.  I will investigate the session profile behavior a bit.

[2020-10-20 10:02] konvergence opened #3019 "Velero Cluster Migration - Get Access Denied on the S3 bucket source"
**What steps did you take and what happened:**

* I try to make a backup restore between 2 cluster
* I follow the doc https://velero.io/docs/v1.5/migration-case/
* I have 2 clusters
  * source : k8s-admin with an S3 user `velero-k8s-admin` and ACL full-control on the bucket `velero-k8s-admin-bucket`
  * target : k8s-rancher with an S3 user `velero-k8s-rancher` and ACL full-control on the bucket `v

[2020-10-20 10:35] Lirt commented on #2988
Hello,

I am maintainer of the [swift plugin](https://github.com/Lirt/velero-plugin-swift/). It was done as non-fork, but shares code from the [cisco-sso implementation[(https://github.com/cisco-sso/velero-plugin-openstack) with fixes/updates/addons that were missing after they stopped supporting it and plugin interface changed.

Currently it lacks implementation of block storage (cinder volume ba

[2020-10-20 10:47] blueelvis opened #3020 "Missing Image from Documentation for Backup Workflow"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

1. Visited [https://velero.io/docs/v1.5/how-velero-works/](https://velero.io/docs/v1.5/how-velero-works/)
2. Scroll down to the section of **Backup Workflow**

You will notice that the image doesn't load and give a HTTP 404.

**What did you expect to happen:**
An image i

[2020-10-20 11:06] konvergence commented on #3019
Some news ...

I tried some updates, but I still the error "Access Denied"

* I change the backup-location, cause of bad region

[code]
* I force FULL_CONTROL ACL on the bucket for velero-k8s-rancher
[code]

[2020-10-20 11:41] braudel commented on #2198
Is there an ETA for a velero docker image release bundled with restic 0.10.0?

[2020-10-20 11:43] pierredadt opened #3021 "Restic volume backups don't work because restic repositories are never initialized"
**What steps did you take and what happened:**
When using objectstore/restic for volumes backups, Velero doesn't automaticaly create the needed restic repositories and volumes backups fail.

- Install Velero 1.5 with restic enabled
[code]
- Install [Velero plugin for Openstack Swift](https://github.com/Lirt/velero-plugin-swift/) v0.1.1
  - `$ velero plugin add lirt/velero-plugin-swift:v0.1.1`
  -

[2020-10-20 13:29] cidsasaki commented on #2988
@Igorcezar veja este plugin para o openstack.

[2020-10-20 13:52] JeremyBouchet opened #3022 "[AKS] [Velero] Velero deployment configuration with "SET" - No Velero pods deployed !"
**What steps did you take and what happened:**
I try to declare the configuration of Velero with the usage of "SET" as you can see below but when I deployed this one with Terraform no deployment and no pods were deployed :

`resource "helm_release" "velero" {
  depends_on = [kubernetes_secret.velero_cloud_credentials]

  name       = "velero"
  chart      = "velero"
  repository = "https://vmware-

[2020-10-20 14:26] carlisia commented on #2988
@Lirt thank you. Is there any chance you could join our community meeting today?

[2020-10-20 14:32] phuongatemc commented on #2888
We ultimately want all the PVCs belong to the pods of the same application (in the same namespace) being snapshotted in parallel.  However in Velero current implementation, backup item will backup pod and its PVC, PV together before moving to the next pod, we can make it parallel at the level of pod which should be good enough because each pod usually have 1 PVC-PV.

[2020-10-20 15:11] Lirt commented on #2988
@carlisia Okay, I will be there.

[2020-10-20 16:20] konvergence commented on #3019
Hi all,

I made some test with minio instead of radosgw and it works !!
[code]

So the issue is well on the ACL side with radosgw

[2020-10-20 16:22] nrb commented on #2966
@georgettica Thanks!

I think we'll need to move this to v1.5.3 or v1.6.0 because v1.5.2 is going to get cut this week.

[2020-10-20 16:26] codegold79 commented on #2551
I spoke with @brito-rafa and he says it would be all right to not do priority 4 (look for plugins if there are no common supported version). The priorities are listed out in my comment [here](https://github.com/vmware-tanzu/velero/issues/2551#issuecomment-707880510).

To make it easier to understand the priority list, here is a PowerPoint that can help:
[Priority-Supported-Preferred-Versions-V2.1.

[2020-10-20 16:31] pires commented on #2966
Well, this doesn't affect installing Velero CLI alone but also any plug-ins that import Velero code. Maybe I'll just wait before polluting my `go.mod` w/ something like [this](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/master/go.mod#L28-L68).

[2020-10-20 16:48] konvergence commented on #3019
Sorry, I didn't try the restore . But with minio, have another ACL issue.

I can see the backup from the source backup-location
But When I try a restrore I get this error

[code]

the velero target use an S3 user that have a full access to his bucket (velero-k8s-rancher) bu readonly access on the source s3 (velero-k8s-admin)

Does velero try to write "restore information" into the source S3 ?

[2020-10-20 16:50] nrb commented on #2966
@pires Unfortunately, those `requires` directives are for Kubernetes, not Velero. Every project importing Kubernetes needs it :(

[2020-10-20 16:57] konvergence commented on #3019
I confirm that after modify acl on minio
I discover that velero write restore information into the <S3 source>/restore

That is for me a bug. Because the backup-location is in "ReadOnly". Velero should write the restore information into the default backup-location

[2020-10-21 05:40] konvergence opened #3026 "Add options --storage-location and --from-storage-location to the velero restore command"
**Describe the problem/challenge you have**

  1.  Velero allow to add backup-location in ReadOnly to be able to restore from antoher cluster. But if you have already a backupName on the "default" backup-location you can not see the other backupName on the alternative backup-location. (This for me a bug)
  2. for a `velero restore` we should be able to choose the backupName `--from-storage-locatio

[2020-10-21 07:12] sivaramsk opened #3027 "Restore fails to complete with error on AzureFile volumes"
**What steps did you take and what happened:**
1. Installed Minio with Azure gateway.
2. Installed velero with aws plugin with minio endpoint, along with --use-restic and --default-volumes-to-restic flags
3. Triggered a backup(excluding namespaces velero and kube-system). The backup was successful the podvolumebackup did not show error on the volumes that I wanted to backup(for ex: "volume: datadi

[2020-10-21 08:14] link-webcreations commented on #536
Hello @mtritabaugh, thanks for working on this topic !!
May I ask you if everything goes well ?
if you already have a draft, I would be glad to test it !

[2020-10-21 08:41] rahulgit1988 opened #3028 "[Query|Question]Restore Hook init container execution priority w.r.t pods init container"
This Is just a query about the priority of init container execition in restore hook.
As per Velero Doc:
_*InitContainer Restore Hooks*
Use an InitContainer hook to add init containers into a pod before it’s restored. You can use these init containers to run any setup needed for the pod to resume running from its backed-up state._

As per restore hook design Doc:
https://github.com/vmware-tanzu/vel

[2020-10-21 11:50] haroonb opened #3029 "restored secret differs from original causing helm to not recognise it"
**What steps did you take and what happened:**
We restored some secrets into a cluster and wanted to update a helm release. Upon trying to update we ran into the error.
`UPGRADE FAILED", "Error: kind Secret with the name \"keycloak-db\" in \"default\" already exists in the cluster and wasn't defined in the previous release. Before upgrading, please either delete the resource from the cluster or re

[2020-10-21 15:32] a-mccarthy commented on #2945
@zubron was this issue completed as part of PR #2954 or is there more work to be done on the release docs?

[2020-10-21 15:36] ashish-amarnath commented on #2905
@jc0705 From the outset this doesn't seem like an issue with velero considering

A CLEAN app is restored successfully and is reachable at the new external-ip address given for backup without annotation.. While an annotated backup gives me the error ERR_CONNECTION_TIMED_OUT at the new external-ip address.

Can you also please tell us what it is that you are backing up and what's the data that is ge

[2020-10-21 17:17] dsu-igeek commented on #2960
Incremental snapshots are part of the 1.1.1 release for the Velero Plugin for Microsoft Azure, released last week.

[2020-10-21 17:17] #2960 closed

[2020-10-21 17:20] dsu-igeek commented on #2972
Is the Ceph cluster shared or are these different storage systems?  The snapshot is going to be a Ceph snapshot and is only accessible within the Ceph cluster.

[2020-10-21 17:26] zubron commented on #2927
Hi :wave: One option is to create your own [`RestoreItemAction` plugin](https://velero.io/docs/v1.5/custom-plugins/) which allows you to execute your own logic on resources as they are being restored. In this case you could modify the container registry being used on each pod/container before it is restored in your new cluster. We also have an [example repo](https://github.com/vmware-tanzu/velero-

[2020-10-21 17:34] dsu-igeek commented on #3020
Thanks!

[2020-10-21 17:44] dsu-igeek commented on #3027
This error is in the backup-logs.txt:

lookup minio-server.minio.svc: no such host

There's some issue with resolving the Minio service.  Can you verify that that is the correct service name and that it is resolvable from the Velero deployment?

[2020-10-21 17:53] sivaramsk commented on #3027
I confirmed the address minio-server.minio.svc is reachable from a different pod. I see the same error in the backup logs, but the backup is at-least partially successful and I see the files in my blob-container. I assumed the error is momentary and cleared up later.

[2020-10-21 17:57] zubron commented on #3026
Hi @konvergence,

Just to clarify, do you have backups with the same name in both buckets, but you are only able to see the backup from the default bucket?

[2020-10-21 17:59] zubron commented on #3019
Hi @konvergence - given that you've opened a feature request issue to address this in #3026, I don't think there's anything else actionable from the Velero team here so I'm going to close this issue in favour of that new one. Feel free to reopen though if there is something separate that needs to be addressed here.

[2020-10-21 17:59] #3019 closed

[2020-10-21 18:02] dsu-igeek commented on #3027
OK, so that appears to be a Kubernetes DNS resolution issue.  Please see if you can get a successful restore.  Closing for now, if the problem continues please re-open and we can help you troubleshoot it a bit.

[2020-10-21 18:25] sivaramsk commented on #3027
I commented this is not a DNS issue. The actual error in the restore logs is this `error loading snapshot: no matching ID found`. The address `minio-server.minio.svc` is reachable within the cluster and I assume the the error log in the backup is temporary and also this is not a backup issue.

[2020-10-21 19:16] konvergence commented on #3019
Sorry
But how to explain that velero write /restores into the source bucket. And also write into /restic into the source bucket

[2020-10-21 19:23] zubron commented on #3027
The same error is being reported in #2691 and #2956. It's an error being reported from restic and I'm investigating #2691 further.

[2020-10-21 19:51] #3029 closed

[2020-10-21 19:51] carlisia commented on #3029
Issue moved to [vmware-tanzu/helm-charts #173](https://github.com/vmware-tanzu/helm-charts/issues/173) via [**ZenHub**](https://www.zenhub.com/)

[2020-10-21 20:32] nrb commented on #2997
Thanks for the detailed production steps @Samze. I'm able to confirm this with Istio 1.7.3, and in reading the Istio issue, I think it's definitely a result of Velero applying the object "as-is" (which has the configuration once) and then Istio seeing the object being recreated and trying to configure it too.

This isn't necessarily unique to Istio and Velero. There are a number of operators/contr

[2020-10-21 20:37] zubron commented on #3019
Hi @konvergence. Velero does not separate the backup and restore data at this time. When you perform a backup from a particular backup storage location, the logs and results for restores from those backups are written to the same storage location. In your case, you would likely need to grant permissions to the `velero-k8s-rancher` user to write to the `velero-k8s-admin-bucket` as a workaround.

[2020-10-21 20:38] nrb commented on #2982
@AkhilaDamera Thanks for the report! The cause for this is because Velero ignores any volumes with `-token-` in their name under the assumption that they are Kubernetes tokens.

However, this is a demonstration of a case where that assumption is incorrect.

I'm not super familiar with Vault, do you know if it's possible to name the volume mounts something else as a workaround?

[2020-10-21 20:59] ashish-amarnath commented on #3028
@rahulgit1988 Thanks for reporting this. I have PR #3030 to clarify this documentation.
Pasting the answer here for quick reference.

In the case where the pod had volumes backed up using restic, then, the restore hook InitContainer will be added after the `restic-wait` InitContainer.

[2020-10-21 21:13] nrb commented on #2416
This appears to be part of server-side apply per https://kubernetes.io/blog/2020/04/01/kubernetes-1.18-feature-server-side-apply-beta-2/

Per https://kubernetes.io/docs/reference/using-api/server-side-apply/#field-management, Velero should not remove these fields and we should update `resetMetadataAndStatus` to reflect that.

Additionally, this metadata may be useful in making decisions about what

[2020-10-21 21:30] a-mccarthy commented on #1809
@carlisia do we still want to keep this issue open now that we are using the wiki for the FAQs?

[2020-10-21 21:32] carlisia commented on #1809
Good point. If all of these FAQs are in the wiki we can close this.

[2020-10-21 21:36] zubron commented on #2691
Hi @luwang-vmware. We don't have guidelines for calculating the amount of memory required for performing restic backups. Were you able to retry using velero 1.4.2 or the latest release (v1.5.2) using adjusted timeouts or memory limits?

[2020-10-21 21:47] a-mccarthy commented on #1809
hmm i dont seem them in the wiki page. Are they all still relevant to recent versions?

I dont appear to have access to edit the wiki :(

[2020-10-21 22:13] carlisia commented on #2964
@Panplumousse running `velero install --crds-only --dry-run -o yaml | kubectl apply -f -` should resolve your problem.

[2020-10-21 22:13] carlisia commented on #2964
@plum59 running `velero install --crds-only --dry-run -o yaml | kubectl apply -f -` should resolve your problem.

[2020-10-21 22:15] #3008 closed

[2020-10-21 22:17] carlisia commented on #2964
If anyone continues to have issues, please open an issue and provide the output of:

- `velero server`
- `kubectl get crd -n velero`
- the command used to install Velero

[2020-10-21 22:17] #2964 closed

[2020-10-21 22:21] nrb commented on #2539
Revisiting this, I think I agree with @ashish-amarnath's hypothesis that some restic job is still running and overwhelms the timeout. But also, this really highlights a need to have better logging and easier surfacing of that logging for restic.

Still, based on the limits of 4 CPU/4Gi each for restic and Velero, the increased timeout, and daily schedules, I would think that the restic operations

[2020-10-21 22:23] ashish-amarnath commented on #3022
@JeremyBouchet Installation using terraform is not an install method that we currently support and are unfortunately not able to make suggestions or troubleshoot. Please refer to https://velero.io/docs/v1.5/basic-install/ for all the supported install options.

You might also want to install using the supported installation options and then transition to using terraform.

I am going to close this

[2020-10-21 22:23] #3022 closed

[2020-10-21 22:33] zubron commented on #3027
Hi @sivaramsk. I'd like to check that the snapshot that is being restored exists in your storage location, that will help us in determining why this error is being triggered.

Can you check the following path in your storage location `/restic/ordorg-net/snapshots/` for a file beginning with the snapshot ID `d4c5e980`? That is the snapshot that restic is attempting to restore but can't find. Thanks

[2020-10-21 22:40] zubron commented on #2956
Hi @wanghuok. I'd like to check that the snapshot that is being restored exists in your storage location, that will help us in determining why this error is being triggered.

Can you verify that the snapshot ID of your `PodVolumeRestore ` is `91d60576`. You can check this by running:
[code]
and checking the `SnapshotID` field.

If it matches, can you check the following path in your storage locati

[2020-10-21 22:46] zubron commented on #2691
Hi @luwang-vmware! If you still have access to the environment where this issue happened, I'd like to check that the snapshot that is being restored exists in your storage location. That will help us in determining why this error is being triggered.

Can you verify that the snapshot ID of your `PodVolumeRestore` is `6654cb34`? You can check this by running:
[code]
and checking the `SnapshotID` fie

[2020-10-21 23:24] ashish-amarnath commented on #3021
@pierredadt Looking at the error
[code]

From the error message this seems like an issue authenticating with the object store where the restic repository is to be created.

Considering that you are using `lirt/velero-plugin-swift:v0.1.1`, a plugin that is not supported by the Velero team it is difficult to troubleshoot and make remidial suggestions on possible issues.
Here is a link to configure t

[2020-10-21 23:24] #3021 closed

[2020-10-21 23:48] carlisia commented on #2652
@laura-chen as stated above, the unit of operation is one backup or restore at a time, we don't have an architecture that could easily accomodate having a sequence of pre-hooks, then backups, then restores, then post-hooks. I am going to close the issue, feel free to open issues if/when you need further help.

[2020-10-21 23:48] #2652 closed

[2020-10-21 23:55] jbmassicotte commented on #2960
@dsu-igeek Good news! And thanks for letting me know.

[2020-10-22 00:53] dsu-igeek commented on #2653
Closing this, please re-open if there are still open questions.

[2020-10-22 00:53] #2653 closed

[2020-10-22 00:53] dsu-igeek commented on #2686
Closing this, please re-open if there are continuing issues

[2020-10-22 00:53] #2686 closed

[2020-10-22 00:54] dsu-igeek commented on #2739
Closing this, please re-open if there are continuing issues

[2020-10-22 00:54] #2739 closed

[2020-10-22 01:23] sivaramsk commented on #3027
I can confirm the file exists does exists at /restic/ordorg-net/snapshots

<img width="570" alt="Screenshot 2020-10-22 at 6 51 57 AM" src="https://user-images.githubusercontent.com/310397/96807017-2fa28600-1433-11eb-966c-3faf774e4721.png">

[2020-10-22 01:41] dsu-igeek commented on #2810
Closing this, recommendation is to use spec, please re-open if there are additional questions.

[2020-10-22 01:41] #2810 closed

[2020-10-22 01:47] dsu-igeek commented on #2856
Closing this, please re-open if the issue continues.

[2020-10-22 01:47] dsu-igeek commented on #2860
Closing this, please re-open if the problem continues.

[2020-10-22 01:47] #2860 closed

[2020-10-22 03:47] dsu-igeek commented on #2998
According to the SDK docs (https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html "Specifying Credentials section) the SDK falls through to using the EC2 instance's IAM role when everything else has failed.  I'm thinking the SDK is running into a problem reading the shared credentials file.  Please upload the full logs (Pasting long output into a [GitHub gist](https://gist.

[2020-10-22 04:10] burkhat commented on #2539
Sorry I've forgotten to reply again.
The issue doesn't appear again you can close this issue.
Thanks for your help

[2020-10-22 04:10] #2539 closed

[2020-10-22 04:50] konvergence commented on #3026
Thanks
Yes a had the same backupName on the 2 locations.

Is there a way to configure a prefix for backupName on velero server side ?

[2020-10-22 04:59] SatyKrish commented on #3003
@carlisia please add support for distroless images. This is can reduce/remove most of the OS vulnerabilities.

[2020-10-22 08:23] seboss666 commented on #3022
Hello,
We are just using terraform as a helper, it's using the helm provider that is meant to be a supported installation method (or else you should not provide https://vmware-tanzu.github.io/helm-charts/) . We don't exclude a problem with some of the parameters, and this is where you can provide insight on what should be included that we may omit.

[2020-10-22 08:36] pierredadt commented on #3021
@ashish-amarnath
Please have a look at https://github.com/Lirt/velero-plugin-swift/issues/5 and reconsider
I 'am already talking with Lirt, we troubleshot the issue from the plugin perspective, and the reason I even come here knowing I'm using an unsupported plugin is because I already made the actions you're talking about.

There is no reason I'd come to your repo and place an issue without looki

[2020-10-22 08:44] FreeZhang61 commented on #2061
I have the same problem,  I want to create the schedule by Asia/Shanghai  timezone

[2020-10-22 09:46] sivaramsk commented on #3027
One thing I did not mention in the original description. After the backup is completed, I cleared the resources running in the cluster, like delete the deployments, statefulsets, pv, pvcs, etc, and then did the restore. Would the restic snapshot continue to work even after the source data volume is deleted?

[2020-10-22 10:35] FreeZhang61 commented on #2061
@sunny0826  Thank you,  I solve this  problem with the same way

[2020-10-22 11:44] veikesaar opened #3032 "Velero will not start working with self-signed certificates and Minio"
**What steps did you take and what happened:**
Installed the Velero backup solution that needs to work with a local Minio cluster over HTTPS that uses a self-signed certificate to a local Kubernetes Cluster according to [Quick start evaluation install with Minio](https://velero.io/docs/v1.5/contributions/minio/) and [Use Velero with a storage provider secured by a self-signed certificate](https://

[2020-10-22 12:28] a-mccarthy commented on #980
@carlisia do you still feel like this issue is relevant? If there are changes you want to see in the docs, I think it may be worth closing this and opening a new issue. Many of the docs listed have changed

[2020-10-22 13:00] geoff-bleakley commented on #2998
uploaded, thanks.

[backup.log](https://github.com/vmware-tanzu/velero/files/5422941/backup.log)

[deployment.log](https://github.com/vmware-tanzu/velero/files/5422947/deployment.log)
[descBackup.log](https://github.com/vmware-tanzu/velero/files/5422950/descBackup.log)

[2020-10-22 14:33] AhmedBenAbid opened #3033 "Restic configuration CLI new flags"
**Describe the problem/challenge you have**
Hello,
We are using PKS as a Kubernetes installer on vSphere in a air-gapped environnement, so all Docker images need to be imported to a local registry.
The vSphere version we're currently using doesn't support Volume Snaphot, so we choose Restic integration for PV backups.

We are using the CLI to install the velero, which allow us to choose velero's a

[2020-10-22 14:52] a-mccarthy commented on #2515
@ashish-amarnath can you comment here if this is still needed? Do you still think this is better as a CLI update than as docs?

[2020-10-22 15:02] jenting commented on #3032
@veikesaar I think you have to bump velero-plugin-for-aws version to v1.1.0, the v1.0.0 does not supports custom CA certificate.

[2020-10-22 15:56] carlisia commented on #1687
Related: https://github.com/vmware-tanzu/velero/issues/1272

[2020-10-22 16:17] carlisia commented on #2825
Hey @hmehra, are you still able to help out by adding documentation for this? It'd be great, thank you!

[2020-10-22 16:35] nrb commented on #2689
@DanielXiao After spending time inspecting the Kubernetes service code, I'm not seeing anything in Kubernetes itself that redirects remapped NodePorts. I also can't reproduce this on a GCP cluster.

Were you using a VMware distribution with NSX-T by any chance? Perhaps that cloud provider implementation is doing the redirect.

[2020-10-22 17:16] nrb commented on #2988
@Lirt @lukastopiarz As discussed in our community meeting, the core maintainer team doesn't have plans to add any OpenStack plugins.

To my knowledge, the Cisco implementation is abandoned - they worked on it, but then dropped it. It may be used as a reference, but it's no longer maintained.

If you'd like for the OpenStack plugin to be documented on our site, please open a PR to add it to the fol

[2020-10-22 17:16] #2988 closed

[2020-10-22 17:18] nrb commented on #2747
Echoing my previous comment, this is something I would like to get in developer documentation and then close out this issue. I'm going to put a v1.6.0 milestone on it.

[2020-10-22 17:20] nrb commented on #527
Closing this in favor of #2654, which has more detailed documentation of what we'll be moving.

[2020-10-22 17:20] #527 closed

[2020-10-22 17:20] nrb commented on #589
Given the release of v1.0 in 2019, I'm going to close out this issue.

[2020-10-22 17:21] #589 closed

[2020-10-22 17:21] nrb commented on #590
Given the release of v1.0 in 2019, I'm going to close out this issue.

[2020-10-22 17:21] #590 closed

[2020-10-22 17:22] nrb commented on #1126
This has been fixed in both our Jekyll and Hugo implementations, closing.

[2020-10-22 17:22] #1126 closed

[2020-10-22 17:23] nrb commented on #1094
Closing as a duplicate of #979, which has more commentary.

[2020-10-22 17:23] #1094 closed

[2020-10-22 17:26] nrb commented on #1477
This is also present with vSphere volumes now, as Velero specifically only looks at PodVolumeBackups, our Snapshots file, and CSI VolumeSnapshots/VolumeSnapshotContents. This should be expanded to allow description of snapshots from various plugin sources.

[2020-10-22 17:27] nrb commented on #1267
Closing this as the work is happening in #2597.

[2020-10-22 17:27] #1267 closed

[2020-10-22 17:29] nrb commented on #1917
@phuongatemc Does your ordering enhancement fix this issue?

[2020-10-22 17:31] phuongatemc commented on #1917
@nrb Yes, the Velero 1.5.1 work for for us.

[2020-10-22 17:32] nrb commented on #2061
https://github.com/vmware-tanzu/velero/pull/2944 allows for specifying the timezone now. This will be released in v1.6.0, expected in December 2020.

[2020-10-22 17:32] #2061 closed

[2020-10-22 17:35] nrb commented on #1917
@yashbhutwala See https://github.com/vmware-tanzu/velero/pull/2724 for how to specify an ordering for resources on backup now. This is not yet supported on restore, though.

[2020-10-22 17:37] nrb commented on #2310
Closing this in favor of #2251 and #2551

[2020-10-22 17:37] #2310 closed

[2020-10-22 17:42] nrb commented on #2622
@e-desouza Any update on your PR?

[2020-10-22 17:46] nrb commented on #2809
Closing this as a duplicate of #1229

[2020-10-22 17:47] nrb commented on #2767
@guillierf Is there a way we can programmatically identify TKGI clusters to differentiate this that you're aware of? Something we can query the Kube API server for?

[2020-10-22 17:49] nrb commented on #2742
Closing as duplicate of #1687

[2020-10-22 17:49] #2742 closed

[2020-10-22 17:56] nrb commented on #2906
@runzexia Sorry for the long delay in response.

I can think of 2 ways to handle this as of today.

1) The Velero client acts according the current kubecontext. Using any sort of tool that manages these could help.
2) The Velero client has a configuration file that is not well documented. Using `velero client config set namespace <namespace name>` will allow you to set the namespace.

However, in

[2020-10-22 18:02] nrb commented on #3012
@vishumindtree Also take a look at https://velero.io/docs/v1.5/self-signed-certificates/#trusting-a-self-signed-certificate-with-the-velero-client, as there is a way to pass custom certificates with the Velero client now.

[2020-10-22 18:05] nrb commented on #2097
@rombert @markrity Thank you both for looking into this!

Velero's been updated with new Kubernetes APIs since January - is this still happening with v1.4.x and v1.5.x? Admittedly I'm not running against multiple clusters, but if it's still happening, I'll get it allocated into the backlog.

[2020-10-22 18:39] dsu-igeek commented on #2902
In order to get the resource list, we generate a presigned S3 URL in the Velero server and return that to the client, which then downloads directly from the Minio S3 server.  I tried with our Minio install and verified that this works, at least in our configuration.  There could be some issue with how the URL is being generated or perhaps the Minio configuration is preventing you from downloading

[2020-10-22 18:52] a-mccarthy commented on #2977
@zubron i'm a little confused about what need to happen here to fix the example, can you help? Should `--snapshot-location-config region="default"` or `--use-volume-snapshots=false` or both be removed?

It seems like `--snapshot-location-config region="default"` was added to this code sample to prevent an error later on in the tutorial, according to #2799, is that something we should still be worr

[2020-10-22 19:08] dsu-igeek commented on #2913
If I'm reading the comments right, everyone has gotten to a working state.  The "Checking for existing backup locations ready to be verified; there needs to be at least 1 backup location available" messages are being addressed with https://github.com/vmware-tanzu/velero/issues/2942.  @tvvignesh Does #2993 fix your issue?  Please open a new PR with your details if you are having issues.

[2020-10-22 19:08] #2913 closed

[2020-10-22 19:23] zubron commented on #2977
Hi @a-mccarthy - thanks for pointing out the orignal PR that added it! I think that #2799 was made in error as `--use-volume-snapshots=false` and `--snapshot-location-config` are mutually exclusive and velero will give an error if you try to use them together:
[code]
In this case we should remove the `--snapshot-location-config region="default"` line as you can't use snapshots with the setup descr

[2020-10-22 19:26] zubron commented on #2977
To clarify - that flag _is_ needed if you want to use snapshots on AWS (#2799 links to the AWS plugin) but it isn't needed for the MinIO set up here.

[2020-10-22 19:42] a-mccarthy commented on #2977
@zubron thanks for the clarification, i wanted to make sure there wasn't anything larger that needed to be corrected here :)

I created #3034 with the fix.

[2020-10-22 20:17] #2977 closed

[2020-10-22 20:52] dsu-igeek commented on #2909
Looks like this will need a code change to fix and there may be other issues beyond what I've identified so far.  I opened a PR against the Azure plugin to track this.  https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/issues/78

For the moment, I recommend using the Azure public cloud object store.

[2020-10-22 20:52] #2909 closed

[2020-10-22 21:08] guillierf commented on #2767
"kubectl get nodes -o wide --show-labels" would help

in case of TKGI, you will see the keyword 'bosh.id'

example below:

root@PKS-client-VM-WA:~# kubectl get nodes -o wide --show-labels
NAME                                   STATUS   ROLES    AGE   VERSION            INTERNAL-IP   EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION       CONTAINER-RUNTIME   LABELS
9bd2cd0b-c532-490f-bb02-388d1f286

[2020-10-22 21:25] nrb commented on #2767
@guillierf Ok, thanks. So for TKGI at least, we can detect this label key and set the path appropriately, which seems easy enough.

@dymurray or @sseago Do you know if there's something similar we can do for OpenShift?

I _think_ if we can do this for TKGI, OpenShift, and Rancher, we're covered for the vast majority of cases.

[2020-10-22 21:29] zubron commented on #3026
Hi again @konvergence. Unfortunately the backups are considered unique based on their name, not a combination of the name and the storage location. When you add a new backup storage location where a backup name matches a backup in the existing storage location, it will not be imported into the new cluster and currently we don't have a way to work around that.

Given that this is a distinct issue f

[2020-10-22 21:36] zubron opened #3035 "Allow backups with same name to be imported when adding a new BSL with existing backups"
Backups are considered unique based on their name, not a combination of the name and the storage location. When you add a new backup storage location where a backup name matches a backup in the existing storage location, it will not be imported into the new cluster and currently we don't have a way to work around that.

_Originally posted by @zubron in https://github.com/vmware-tanzu/velero/issues

[2020-10-22 21:40] zubron commented on #3035
There are different ways that this could be solved, e.g. modifying velero to identify backups based not on the name from the CRD but from a combination of backup and bucket name, or allowing the backups to be imported from the BSL with a different name or prefix/suffix that helps to distinguish them.

There are likely UX implications for adding something like this so although the current behaviour

[2020-10-22 21:43] nrb commented on #3033
I think we can reliably detect TKGI's preferred restic hostpath with information provided in https://github.com/vmware-tanzu/velero/issues/2767. The helper image would definitely be useful to add, though.

[2020-10-22 21:50] zubron commented on #3027
Hi @sivaramsk. Thanks for providing that information and extra context! Removing those resources should not be an issue as the restic backup should be in your configured backup storage location.

[2020-10-22 22:07] jastabile opened #3036 "Delete snapshot-location or set a default one"
**Describe the problem/challenge you have**
Set default snapshot-location or delete it.

**Describe the solution you'd like**
Should have a command ```velero snapshot-location delete ...``` and ```velero snapshot-location edit ...```

**Anything else you would like to add:**
I dont know how to set a default snapshot-location from two I have

**Environment:**

- Velero version (use `velero version`

[2020-10-22 22:17] ashish-amarnath commented on #3021
@pierredadt I did look at the details in this issue and now also the issue from the velero-plugin-swift repo.

Based on you BackupStorageLocation
[code]
and the code that generates the restic repository identifier [`GetRepoIdentifier`](https://github.com/vmware-tanzu/velero/blob/main/pkg/controller/restic_repository_controller.go#L169) and the `restic/` subdirectories is coming from
[`subdirs`](ht

[2020-10-22 23:02] ashish-amarnath commented on #2871
The error reported in this issue is that the volume is restored as-is without creating a volume from a snapshot.
[code]

[2020-10-22 23:34] ashish-amarnath commented on #2871
@Vrushk84  Thanks for providing that info and apologies for the avoidable round-trip.

Looking at these lines
[code]

The volumes are restored as-is because there are no volumesnapshots in the backup being restored. This is also confirmed by the fact that the output of the `velero backup describe` command does not include any volume snapshots.

[code]

Here are a couple of things that you might wa

[2020-10-22 23:39] ashish-amarnath commented on #3032
@veikesaar
Please follow @jenting's suggestion to use the `v1.1.0` version of the `velero-plugin-for-aws`.
Further, you can also find instructions on how to setup minio with a custom ca cert to work with Velero on our [FAQ](https://github.com/vmware-tanzu/velero/wiki/Contributing-FAQ#how-do-i-use-minio-with-https-using-a-custom-ca-as-an-object-store-for-velero)? Please use these to verify your set

[2020-10-23 02:18] email2smohanty commented on #3013
@carlisia please find my restore command below

[code]

[2020-10-23 02:23] email2smohanty commented on #2942
I do not think velero server version `1.5.1` is causing issue here because we are using `1.5.1` version since it's released and we are not getting this issue.

Only once we had faced this issue recently and to overcome this issue we have reinstalled velero server again and it worked.

[2020-10-23 08:01] rombert commented on #2097
@nrb - I just checked and the problem does not seem to be there anymore

[code]

[2020-10-23 11:52] veikesaar commented on #3032
@jenting suggestion to upgrade the `velero-plugin-for-aws` to `v1.1.0` did solve the issue of `config has invalid keys [caCert];`. Also, @ashish-amarnath your FAQ link is much appreciated. Thank you both for answering so quickly.

However, I am stuck now on another issue. When I install velero with the command, that I got from the FAQ. The logs are unfortunately kind of nondescript on the underlyi

[2020-10-23 12:10] pierredadt commented on #3021
@ashish-amarnath many thanks for taking the time to look at the orginal issue and give details on your analysis, it means a lot!

Installing via `--provider --plugin --bucket` does not generate a complete BackupStorageLocation, so the `config.resticRepoPrefix` was set in accordance with what I understood of the Velero/restic configuration. The sources references you gave me are enlightening, and I

[2020-10-23 12:18] Shilpa418 opened #3038 "Do we require minio installed on each cluster separately where we are using velero for backup and restore."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I have installed velero with minio storage successfully on one of my OCP cluster.
Now I installed velero on some other cluster, I want to use same Minio storage installed earlier to use here as well for taking backups.

I tried running below command to install velero:

.

[2020-10-23 13:21] jenting commented on #3032
@veikesaar Have you tried the newest release version v1.5.2?

[2020-10-23 14:17] HaveFun83 commented on #2082
same here
[code]

when we delete the old backuplocation the velero pod log errors like:
[code]

[2020-10-23 15:07] dsu-igeek commented on #3038
The s3URL "s3Url=http://minio.velero.svc:9000" is configured to talk to the local minio service in your K8S cluster, but you want to talk to the Minio in the other cluster.  Please set the s3URL parameter to http://velero-minio-lb-velero.apps.dev01.ocp.corp.amdocs.com:9000.  The publicURL is required if your s3URL is accessible outside the cluster.  Closing for now, please re-open if this doesn't

[2020-10-23 15:07] #3038 closed

[2020-10-23 15:56] nrb commented on #1219
I'm going to close this for now, as we have the Homebrew release script for the central Homebrew repo.

[2020-10-23 15:56] #1219 closed

[2020-10-23 16:10] nrb commented on #2097
@rombert Interesting, thanks! I'm going to close this issue out for now. Of course, feel free to comment again if you run into further problems.

[2020-10-23 16:10] #2097 closed

[2020-10-23 16:31] nrb commented on #2889
I vote yes - the user should be notified that they are trying to disable something that doesn't exist.

If we don't halt, then we end up running a controller that they didn't want, because it wasn't matched against the incorrectly-entered name.

[2020-10-23 16:32] nrb commented on #2939
@choey-nebula are you able to provide the information Ashish requested for an affected cluster?

[2020-10-23 16:35] nrb commented on #3013
@email2smohanty Thanks for the information!

I think this is a reasonable request to enhance Velero. I'll get it moved into the backlog.

[2020-10-23 16:43] nrb commented on #2999
Not right now, no. There's not a way to allow Velero to use restic for one storage class (TopolVM in your case) and a plugin for another.

We have had similar requests, and this is likely a feature we need to look into, as mixed environments seem to becoming more prevalent.

I'm going to update the issue title to reflect that this would be a feature request, and I can't find a pre-existing issue.

[2020-10-23 16:44] nrb commented on #2999
@betta1 I think you were requesting this too at one point, if I'm not mistaken.

[2020-10-23 16:54] veikesaar commented on #3032
@jenting Thank you for bring into my attention that there was a new version available. I upgraded, but alas the problem persists - the logs continue showing the same error:

level=info msg="Checking for existing backup locations ready to be verified; there needs to be at least 1 backup location available" controller=backupstoragelocation logSource="pkg/controller/backupstoragelocation_controller.g

[2020-10-23 17:26] nrb commented on #3036
Hi @jastabile,

To set a default snapshot location, you'll have to edit the velero deployment and set the appropriate server command line flag:

From `velero server --help`, which you can see from the client since they're the same binary:

`--default-volume-snapshot-locations mapStringString   List of unique volume providers and default volume snapshot location (provider1:location-01,provider2:loc

[2020-10-23 17:26] #3036 closed

[2020-10-23 17:42] zubron commented on #2945
There are still a few things that need to be addressed here but I think that it'll be up to folks involved in the release process to write up.

@nrb In going through the release process again recently - was there anything else that came up that we need to fix or add?

[2020-10-23 17:58] nrb commented on #2945
@zubron The release instructions held up for the most part, though on the `release-1.4` branch some of the dry-run/publish logic didn't work. It appeared that, somehow, the script started to use the one in the `release-1.4` branch instead of the one I actually started from the `main` branch, so I had to go back to the v1.4 series instructions there.

[2020-10-23 18:00] nrb commented on #2945
Yeah. The `changelogs/unreleased` directory holds the files for any changes that haven't actually been released. These need to be cleaned out at GA or the changelogs script will reprocess them on the next release, making it look like they've been released twice.

[2020-10-23 18:20] ashish-amarnath commented on #3032
@veikesaar This has instructions on how to enable debug logging https://velero.io/docs/v1.5/troubleshooting/#getting-velero-debug-logs

[2020-10-23 18:24] nrb commented on #2721
@ironknight78 @cloudcafetech @guimenezes

I'm curious, do you know what the `hostPath` on the PVs that restic is trying to mount? Our restic support uses the `hostPath` for volumes on a given node, and I'm wondering if some NFS implementations provide a hostPath mounting that is incompatible with what we're trying to do generically.

How is the NFS volume mounted into the pod in each of your cases

[2020-10-23 18:47] ashish-amarnath commented on #3032
@veikesaar I suggest running this with debug logging to get more info about what might be happening.

[2020-10-23 19:19] Abhiger opened #3160 "Error with cluster Restore"
Hi All,

Cluster: error restoring mutatingwebhookconfigurations.admissionregistration.k8s.io/aks-webhook-admission-controller: MutatingWebhookConfiguration.admissionregistration.k8s.io "aks-webhook-admission-controller" is invalid: webhooks[0].sideEffects: Unsupported value: "Unknown": supported values: "None", "NoneOnDryRun"
Namespaces: <none>

While restoring an AKS cluster I get the following e

[2020-10-23 19:40] longwa commented on #2942
I'm having the same issue, updated from 1.4.2 to 1.5.2 and getting the same error.
[code]

[2020-10-23 20:05] nrb commented on #2942
@longwa This looks like a separate error based on the messages; they're from a different controller.

[2020-10-23 21:33] #3017 closed

[2020-10-23 21:41] #3020 closed

[2020-10-23 22:08] ashish-amarnath commented on #3015
@mug3n451 You are right. Following the logs that you shared, I don't see any errors reported in the logs. What is odd is that the last line in the logs is coming from [`here`](https://github.com/vmware-tanzu/velero/blob/v1.5.1/pkg/backup/backup.go#L443). But I expected more logs in the backup logs to indicate that the backup was completed. Specifically the log messages [`this`](https://github.com/

[2020-10-23 22:11] ashish-amarnath commented on #3015
I am not sure yet if this error fully pertains to CSI. Removing the CSI label till then.

[2020-10-23 22:14] ashish-amarnath commented on #3013
I fully understand why this is happening. Considering that this has not been moved into our backlog it requires no further investigation. Hence removing "Needs Investigation".

[2020-10-23 23:20] ashish-amarnath commented on #3009
@sshende-catalogicsoftware We currently don't offer a way to customize the grpc message size for the plugin client.
This is not a limit that many of our users have hit.

However, we should consider updating our [hashicorp/go-plugin](/hashicorp/go-plugin) dependency from
`github.com/hashicorp/go-plugin v0.0.0-20190610192547-a1bc61569a26` to the latest release because there is a fix that might be us

[2020-10-23 23:21] ashish-amarnath commented on #3009
I am going to add this to our backlog with the "Enhancement/User" label and remove the "Needs Investigation" label.

[2020-10-24 00:05] ashish-amarnath commented on #3005
@jepangLee Wrt

how do Velero and Restic communicate?

The restic daemon set and velero communicate with each other as a result of the creation of custom resources of types `podvolumebackup` and `podvolumerestores`.

The Velero server, running as a pod in the cluster, on detecting that certain pod volumes need to be backed up using restic creates `podvolumebackup` objects. The creation of these ob

[2020-10-24 00:53] carlisia commented on #2654
Recently ，I am integrating the Velero into the kubersphere project, encountered some confusion about velero exposing API to pass json parameters. Whether have a document I can see the various REST API input and output parameters of velero?

This issue is not the best place for this question. I'll answer it here but any further help you need please open a new issue.

Velero does not have a REST API

[2020-10-24 01:12] ashish-amarnath commented on #3005
@jepangLee To troubleshoot this issue further, can you please provide the following information:

1. Insepct the podvolumebackup (PVB) status to identify the failed or timed out PVB using the below command
[code]
1. If you have the pod whose pod volume failed to backup, identify the restic daemonset pod that was responsible for backing up this volume as shown below
[code]
    and obtain logs from

[2020-10-24 01:20] ashish-amarnath commented on #2999
@sagor999 It looks to me like you wanted to use restic to backup volumes that were backed by a CSI provider using the `--default-volumes-to-restic` feature.
The `v0.1.1` release of the `velero-plugin-for-csi` is incompatible with the `v1.5.x` as it uses an old API to determine whether or not a volume is being backed up using restic. Specifically, [this change](https://github.com/vmware-tanzu/veler

[2020-10-24 01:21] ashish-amarnath commented on #2999
The reported issue is fixed in the [`v0.1.2`](https://github.com/vmware-tanzu/velero-plugin-for-csi/releases/tag/v0.1.2) release of the CSI plugin.
This can be closed once this is confirmed.

[2020-10-24 15:18] longwa commented on #2942
@nrb Yeah, I guess you are right. It's very similar in behavior though. I'll open a separate issue for it.

[2020-10-25 03:14] mamiu commented on #1533
@nrb [Your examples](https://github.com/vmware-tanzu/velero/issues/1533#issuecomment-498701003) are perfect and essential for everyone who wants to use the `values.yaml` file instead of the helm cli command with the `--set-file credentials.secretContents.cloud=<FULL PATH TO FILE>` argument. Could these examples please be included here: https://github.com/vmware-tanzu/helm-charts/tree/main/charts/v

[2020-10-25 03:35] mamiu opened #3040 "Add link to the sample yaml config files to "Examples" docs page"
**Describe the problem/challenge you have**
The [Examples page](https://velero.io/docs/v1.5/examples/) in the docs just says:

...without mentioning where these files come from. It's not as obvious as it could be.

**Describe the solution you'd like**

Make it more obvious. E.g.

[code]

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the proje

[2020-10-25 07:58] Lirt opened #3041 "[Advice] Plugin example - storing map of snapshots/volumes"
Hello Velero community,

I'm implementing Openstack plugin for Velero and I have a question about the [plugin example repository](https://github.com/vmware-tanzu/velero-plugin-example).

In the plugin example you encourage developers to create object for [Snapshot](https://github.com/vmware-tanzu/velero-plugin-example/blob/main/internal/plugin/volumesnapshotterplugin.go#L38) and [Volume](https://g

[2020-10-26 04:00] dsu-igeek commented on #3041
The plugins get restarted quite frequently, at least once per backup, so any in-memory structures are going to be lost.  The other plug-ins rely on the storage system to maintain snapshots.

It's important to consider how snapshot "durability" is achieved.  When you're making a backup, you will want to be able to recover from scenarios like the loss of the primary storage.  If the snapshot is not

[2020-10-26 05:41] dsu-igeek commented on #3041
Let's take additional discussion to the group or Slack channel (https://velero.io/community/)

[2020-10-26 05:41] #3041 closed

[2020-10-26 06:24] jenting commented on #1533
related issue https://github.com/vmware-tanzu/helm-charts/issues/28

[2020-10-26 07:47] mug3n451 commented on #3015
Hi @ashish-amarnath and tanks for the reply. Here's what you asked for:

1. Before backup:
 `curl http://localhost:8085/metrics | grep -E "^velero_backup_success_total|^velero_backup_failure_total"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  6641    0  6641    0     0   182k

[2020-10-26 08:48] Lirt commented on #3041
My question is code-oriented. The storage I meant was using golang [in-memory variable](https://github.com/vmware-tanzu/velero-plugin-example/blob/main/internal/plugin/volumesnapshotterplugin.go#L47) to store list of volumes or snapshots (their names, types, AZ, iops as in [example](https://github.com/vmware-tanzu/velero-plugin-example/blob/main/internal/plugin/volumesnapshotterplugin.go#L32)).

T

[2020-10-26 13:21] jbmassicotte opened #3042 "How up to modify the expire time of a backup"
Here is a situation:

I have a backup which is about to expire, but realize I need to keep it past the scheduled expiration date. **How can I do that?**

I tried ‘kubectl edit’ to extend the TTL value of the backup resource, but velero seemed to ignore that new value and proceeded to deleting the backup.

I want to emphasize how real this need is. We have lots of data and cannot afford keeping lar

[2020-10-26 13:55] veikesaar commented on #3032
@ashish-amarnath I have added the command necessary to get the log to show debug level issues, but unfortunately I could not read out the root cause from it. I have included a link to the logs below.

* Logs:
https://gist.github.com/veikesaar/be06401d605560cf8c540a2906c11a18

[2020-10-26 17:35] ashish-amarnath commented on #3032
@veikesaar Looking at the logs, I don't see any errors that may have occurred.
These log lines
[code]
suggest that the default backup storage location has been validated and is "online" or "available".

Are you seeing any errors when you run `velero backup create`, `velero backup get`, or `velero backup download`?

[2020-10-26 18:12] dsu-igeek opened #3043 "Generate RPM & Deb packages for Velero CLI"
**Describe the problem/challenge you have**
Installing the Velero CLI involves downloading the binary and putting it in the appropriate directory (/usr/local/bin recommended).  There is not automatic update and installation requires multiple steps.

**Describe the solution you'd like**
Generate RPM and Deb packages to install the CLI in a consistent manner and manage versions.

**Vote on this issu

[2020-10-26 18:24] wcochran53 commented on #1687
I have a similar issue where the Custom Resource when restored doesn't have the status fields populated, and thus the operator relating to this CR isn't able to reconcile. ( I understand that the operator should not be using the status fields for this purpose but I am in a situation where I have to live with what I have ).  Thus I would like the status fields not to be dropped.

I understand this

[2020-10-26 18:25] veikesaar commented on #3032
@ashish-amarnath Could this be an issue with Minio being clustered? I thought at first, that it might be due to the fact that I was using HTTPS to connect, but I also tried to change the s3Url to directly Minio port 9000 and using HTTP. Still the same issue. I will try tomorrow in the same environment to setup a single not clustered Minio server and test the config against that.

`velero backup cr

[2020-10-26 22:10] ashish-amarnath commented on #3042
@jbmassicotte
As you may already know, you can use the `--ttl` flag to the `velero backup create` command.

Now, wrt to extending the expiration of the backup there are two scenarios. I will elaborate on each of them in detail below.
1. Backups created in the same cluster.
    These are the backups created to backup workloads running in the cluster. These are created using the `velero backup creat

[2020-10-26 22:14] ashish-amarnath commented on #3032
@veikesaar Yes, please try to repro this in a simple environment before expanding scope.
I took another look at the logs that you shared earlier but didn't find logs pertaining to running the `velero backup create` command.
Can you also please share logs from the velero deployment from the time the `velero backup create` command was run?

[2020-10-26 22:31] ashish-amarnath commented on #3015
@mug3n451
Cristian, thanks for running those troubleshooting steps.
From the output of the `curl` command to velero's metric server

curl http://localhost:8085/metrics | grep -E "^velero_backup_success_total|^velero_backup_failure_total" % Total % Received % Xferd Average Speed Time Time Time Current Dload Upload Total Spent Left Speed 100 6641 0 6641 0 0 182k 0 --:--:-- --:--:-- --:--:-- 281k
Aft

[2020-10-26 22:33] ashish-amarnath commented on #3001
@cloudcafetech I am going to close this issue. Please re-open if you have a specific question or seeing errors on either backup or restore using Velero.

[2020-10-26 22:33] #3001 closed

[2020-10-27 00:12] tirelibirefe commented on #2355
@duyanghao you're right in your considerations. Velero is not a mature yet.

[2020-10-27 01:04] jc0705 commented on #2905
@ashish-amarnath Hi i was doing a backup on wordpress example from [kubernetes.io](https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/). I suspect the IP address is stored in the MySQL PV that came along with the app, which caused the redirect of the ip address upon restoration (not really sure).

But as for now I'm able to backup and restore another app wi

[2020-10-27 02:06] bjlvfei opened #3044 "Not found the velero backup in another OpenShift cluster B"
Hi Team,

we want to realize the DR velero solution between two OpenShift clusters. Cluster A and B share the same bucket name, cluster B only has readonly access mode to it. But the cluster B not found any backup. Any idea about it?  I'm have created the velero backup for cluster A as below.

Cluster A:
velero backup-location get
NAME      PROVIDER   BUCKET/PREFIX       PHASE       LAST VALIDATED

[2020-10-27 02:16] bjlvfei commented on #3044
Environment:
    Velero version
   Client:
	Version: v1.5.1
	Git commit: -
Server:
	Version: v1.5.1

    OpenShift version 4.3.35_1539
    Cloud provider or hardware configuration: restic

[2020-10-27 08:12] mug3n451 commented on #3015
Hi @ashish-amarnath, i have resolved the problem about the backup re-installing velero with this command:

`velero install --provider azure --plugins velero/velero-plugin-for-microsoft-azure:v1.1.0 --bucket velero --secret-file ./credentials-velero
--backup-location-config resourceGroup=xxxxxxxxxx,storageAccount=fshtalentiaveleropprod,subscriptionId=xxxxxxxxxxxxxxxxxxxx
--snapshot-location-config

[2020-10-27 09:21] konvergence opened #3045 "Add velero log msg="Backup finished" with all necessary information"
**Describe the problem/challenge you have**
Actually the velero metrics are based on cumultive counter.
* It is not easy to  create grafana dashboards on this metrics.
* it is really hard to display which backup was failed.

**Describe the solution you'd like**
* Actually  velero log when backup is started but don't log when when a backup is finished with his status

* Actually we have a log with

[2020-10-27 11:04] veikesaar commented on #3032
@ashish-amarnath So I figured it out. The problem was that I was using the `--namespace` flag to indicate which namespace I would like to have the backup made of, but in Velero's case it is used to indicate the namespace Velero itself should work in. The correct flag to use is `--include-namespaces`. After that the backup is made of the selected namespace and stored in Minio, including when Minio

[2020-10-27 12:06] blueelvis opened #3046 "Add a documentation page which details all the CLI commands and their flags"
**Describe the problem/challenge you have**
I am trying to see a reference of all the command line arguments and their flags on the website documentation.

**Describe the solution you'd like**
We need to have a section which provides a reference for all the options and flags. This can be automated.

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can s

[2020-10-27 14:33] elwood218 commented on #2221
@nrb Hi. Your last statement was in August and I also belonging to the guys whos monitoring was broken since I updated to this version of velero. It is not good at all to just put this there without any documentation or release notes when it is a breaking change. I agree with @desaintmartin that these are only objects of CRD and not the CRD itself which will be created by Prometheus. And if there

[2020-10-27 15:22] bernardyoung commented on #2909
The same problem occurred when docking with AzureChinaCloud
Environment:
Velero version: 1.5.2
Azure plugin: 1.1.1

[2020-10-27 15:39] dsu-igeek commented on #2909
@bernardyoung That sounds like a different root cause.  You're not using Azure Stack, correct?  AzureChinaCloud should work so we can investigate that but need some more info.  Please open a new PR and add log files.

[2020-10-27 19:08] ashish-amarnath commented on #3046
@blueelvis Is this documentation that you are asking for different from the `velero help` command?
Here is what the output of `velero help` looks like
[code]
Further, you can also run `velero [command] --help` to get more info about a command. For example, here is what the help message for the `velero backup create` command looks like
[code]

[2020-10-27 19:12] ashish-amarnath commented on #3046
Thank you for opening this issue.

I understand having this reference on the website can be useful. But, having the reference on the command line is generally more useful as it serves as a reference where you need it.

Taking that into consideration, I am going to close this issue as a WONT_FIX.

[2020-10-27 19:12] #3046 closed

[2020-10-27 21:20] ashish-amarnath commented on #3032
@veikesaar Thank you for confirming. THe fact that you are able to take successful backups is an indication that the backup storage location is available.
I am guessing that you are referring to this log message
[code]

I can understand how that log message can be confusing. I will be fixing that in a PR with other log message cleanup.
I am going to close this issue as resolved. Please reach out i

[2020-10-27 21:20] #3032 closed

[2020-10-27 22:14] ashish-amarnath commented on #3044
@bjlvfei can you please inspect logs from Velero to check for any errors reported by the backup-storage-location controller?
You can obtain logs from the velero pod using `kubectl -n velero logs deploy/velero`.
This is going to help us determine what is causing Velero in Cluster B to consider the backup storage location as unavailable.

[2020-10-27 22:19] #1780 closed

[2020-10-28 00:47] ashish-amarnath commented on #2998
@geoff-bleakley Looking at the error in the log file, the IAM user that is used by Velero clearly doesn't have permissions to take volumesnapshots.

[code]

Here is the IAM policy that I use for my dev work on Velero and I can confirm that I can use this to take snapshots of EBS volumes.

[code]

I see that in your policy JSON for ec2 permissions you have
[code]
and in the policy JSON that works f

[2020-10-28 00:57] ashish-amarnath commented on #3015
@mug3n451 The most recent issue you are seeing is because when you re-installed Velero, you did not include the `velero-plugin-fo-csi` in the list of plugins to install.

The `--plugins` flag in the `velero install` command has to be `--plugins velero/velero-plugin-for-microsoft-azure:v1.1.0,velero/velero-plugin-for-csi:v0.1.2` instead of just `--plugins velero/velero-plugin-for-microsoft-azure:v1

[2020-10-28 00:59] ashish-amarnath commented on #3012
@vishumindtree Here is another reference for you to use for setting up your backup storage location with custom self-signed CA certificates. https://github.com/vmware-tanzu/velero/wiki/Contributing-FAQ#how-do-i-use-minio-with-https-using-a-custom-ca-as-an-object-store-for-velero

[2020-10-28 01:01] ashish-amarnath commented on #3012
Considering that this issue has sufficient resources to use as a reference for resolution and that we don't have actionable info to troubleshoot. I am closing this issue. Please reach out to us if you have more questions or need further assistance.

[2020-10-28 01:01] #3012 closed

[2020-10-28 01:11] ashish-amarnath commented on #2984
@WaterKnight1998 Considering that you were able to document this at https://github.com/rook/rook/pull/6365
Are you still facing this issue?

[2020-10-28 01:12] ashish-amarnath commented on #2983
@nwakalka Apologies for the delayed response. I am going to take a look at this tomorrow.

[2020-10-28 01:17] #2889 closed

[2020-10-28 01:21] ashish-amarnath commented on #2959
@elangocse Here is another issue reporting a similar error. https://github.com/Azure/AKS/issues/222
This, apparently happens when the Azure Service Principal may have expired.
https://github.com/Azure/AKS/issues/222#issuecomment-497427600
Can you please follow steps from https://docs.microsoft.com/en-us/azure/aks/update-credentials to see if that works for you?

[2020-10-28 01:24] ashish-amarnath commented on #2826
@phuongatemc
I am going to close this issue. Please re-open once you have more information about when this issue occurs and how it can be reproduced.
If you have more questions please reach out to us.

[2020-10-28 01:24] #2826 closed

[2020-10-28 04:07] FreeZhang61 opened #3048 "TTL of backup doesn't work"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
I have created a schedule CRD,  which value of schedule is "*/5 * * * *" and vaule of TTL is "1h0m0s". Though it creat backup punctually, after one hour the backup CRD still exist,  why backup CRD doesn't was deleted on time?

Json of schedule CRD
`   {
            "backu

[2020-10-28 04:43] vishumindtree commented on #3012
Hi Team ,
Sorry for the delay .

I have one query . Is it okay to have partially failed backups ? Will it create an issue while restoring this backup?

[2020-10-28 06:38] vishumindtree commented on #3012
I have been trying this on aws provider , minio storage .
1. velero version
Client:
        Version: v1.4.2
        Git commit: 56a08a4d695d893f0863f697c2f926e27d70c0c5

2. velero backup logs -

An error occurred: Get "https://***********:9000/production/backups/sw-gpu-spark/sw-gpu-spark-logs.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=MinIo%!B(MISSING)1oss0m%!F(MISSING)20201028%!F(MISSIN

[2020-10-28 07:00] mug3n451 commented on #3015
@ashish-amarnath so bacause of it the snaphot restore not works?
I check and the snapshoot volume there is:

 kubectl get volumesnapshots.snapshot.storage.k8s.io -A
NAMESPACE      NAME                   READYTOUSE   SOURCEPVC   SOURCESNAPSHOTCONTENT   RESTORESIZE   SNAPSHOTCLASS       SNAPSHOTCONTENT                                    CREATIONTIME   AGE
csi-app-test   velero-pvc-csi-9ppb7   true

[2020-10-28 12:45] cdobinsky commented on #2942
I'm getting the same issue and it spamming the log every 5-10 seconds even though a backupstoragelocation is configured.

[code]

[2020-10-28 13:34] Shilpa418 opened #3049 "Velero Restore is failing for ServiceInstances."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
We tried backup of one of our Namespace which has Kafka ServiceBroker.
Backup completed with no issues.

Now when i am trying to restore the backup I am facing issue.
I see below error in ./velero restore describe care-cd-sb-fnd-20201026091059

Phase:  PartiallyFailed (ru

[2020-10-28 13:37] jbmassicotte commented on #3042
@ashish-amarnath
Thank you for the detailed answer. Please see my 3 questions below.

Regarding scenario #1:

I was editing value spec.ttl in the backup resource but it appears the right value to edit is status.expiration. **Right?**
Having a velero command to update the expiration time would certainly be more desirable but I can certainly live with the above trick.

Regarding scenario #2:

This i

[2020-10-28 14:01] geoff-bleakley commented on #2998
Thanks for the reply.  The resource entry has been updated to "*".  Here is the rest of my config:
The namespace has a secret containing the key and the secret key.  Does it need the velero user as well?  I assumed that since the objects were saved to s3, the credentials were being used.

[2020-10-28 14:11] flo-02-mu commented on #3015
I am observing the same issue as in the original post. No errors in the log, but backup state is "failed".
To me it looks like it is an issue with the velero-plugin-for-microsoft-azure 1.1.1 plugin.
With 1.1.0 it works, with 1.1.1 it does not work (neither with podidentity nor with service principal).
(We are not using the CSI feature)
Anything we can provide to support debugging?

[2020-10-28 15:19] mharrend commented on #2205
I found a possible solution which could maybe be helpful:
Besides using Velero in the production cluster, I deployed Velero in the local cluster.
Afterwards I configured Velero that the following ressources get backuped:

- app
- apprevisions
- project (not absolutely necessary, but still good to backup)

If you checkout these ressources, you will find that all the information about the correspond

[2020-10-28 17:11] nrb commented on #2942
@cdobinsky This is an expected message at this point in time, not an error.

[2020-10-28 19:55] e-desouza commented on #2622
Replicating what the other platforms did, I'm looking for a place to upload the restic binary to. [This](https://github.com/vmware-tanzu/velero/compare/master...e-desouza:master#diff-b825b986892c003b91e1beafc02e55ce6ace288c4d7ff3d0a7ed4db7f3333c63R31) part specifically needs it.
Other than that it's all ready and merged to latest at: https://github.com/e-desouza/velero

[2020-10-28 21:24] ashish-amarnath commented on #3048
@FreeZhang61
The backup gc-controller runs its reconciliation loop every hour. This means that the backups that have expired get accumulated in the cluster and will be cleaned up when the `gc-controller`  runs again.
https://github.com/vmware-tanzu/velero/blob/main/pkg/controller/gc_controller.go#L42

Here is an example of expired backups being accumulated in the cluster
[code]
These will get clea

[2020-10-28 21:52] ashish-amarnath commented on #3049
@Shilpa418

Phase: PartiallyFailed (run 'velero restore logs care-cd-sb-fnd-20201026091059' for more information)
Warnings: <error getting warnings: Get "http://velero-minio-lb-velero.apps.ilocpde409.ocpd.corp.amdocs.com:9000/velero/restores/care-cd-sb-fnd-20201026091059/restore-care-cd-sb-fnd-20201026091059-results.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minio%2F20201026%2Fminio%2Fs3

[2020-10-28 21:52] #3049 closed

[2020-10-28 22:02] ashish-amarnath commented on #3015
@mug3n451
The `VolumeSnapshot` and `VolumeSnapshotContents` objects are created by the BackupItemAction plugins in velero-plugin-for-csi as part of the backing up process that is run by Velero. These are used to create PVs with data populated on restore, by the RestoreItemAction plugins in `velero-plugin-for-csi`. By not including `velero/velero-plugin-for-csi:v0.1.2` in the list of plugins we are

[2020-10-29 00:16] ashish-amarnath commented on #3015
@flo-02-mu
It will be good to get the output of
[code]

[2020-10-29 00:19] ashish-amarnath commented on #3015
@mug3n451 are you able to use the `velero/velero-plugin-for-microsoft-azure:v1.1.1` version of the velero-plugin-for-microsoft-azure?

[2020-10-29 00:49] ashish-amarnath commented on #3027
@zubron I am not sure where you got the snapshot ID `d4c5e980` from.
The original error in the issue is
https://gist.github.com/sivaramsk/62ce61275335de296989378482f5aeb4#file-podvolumerestore-txt-L146-L148
[code]
Where the snapshot ID causing the restore to fail is `54f54e51`.
@sivaramsk Can you please navigate to `/restic/org2-net/snapshots/` to look for a snapshot with ID `54f54e51`

[2020-10-29 00:53] ashish-amarnath commented on #2967
@whitepiratebaku You can also use the `--default-volumes-to-restic` flag to the `velero backup create` command to enable this feature on a per-backup basis.
Please refer to https://velero.io/docs/v1.5/restic/#using-the-opt-out-approach
![image](https://user-images.githubusercontent.com/22872138/97512321-74a04e00-1946-11eb-96f0-20020cbd8c30.png)

[2020-10-29 01:11] ashish-amarnath commented on #2967
@nrb

Is not true.
When using Veler v1.5 container image, and V1.5 client binaries, users have the option of enabling `default-volumes-to-restic` to all Velero backups by providing this flag to the velero server. However, it is possible to use this feature on a per-backup basis by using the same flag to the `velero backup create command`

The [`DefaultVolumesToRestic`](https://github.com/vmware-ta

[2020-10-29 01:20] ashish-amarnath commented on #2967
@whitepiratebaku Would you be open to trying out a development build of Velero, with added instrumentation and debug messages to troubleshoot this further?

[2020-10-29 02:10] ashish-amarnath commented on #2967
You can also run this command to identify the pod volume that is probably not making progress.
[code]

Please run this command in a loop for about 30m to watch progress. Here is a handy script for you to use
[code]

Further, you can also use the restic metrics to identify if there is a particular node in your cluster where restic backups may be slowing the backup to a halt.
If you have prometheus

[2020-10-29 07:21] mug3n451 commented on #3015
@ashish-amarnath i re-install velero wiht that plugin version but restore doesn't works with pvc. here the restore log:

`velero restore logs csi-restore
time="2020-10-29T07:16:45Z" level=info msg="starting restore" logSource="pkg/controller/restore_controller.go:467" restore=velero/csi-restore
time="2020-10-29T07:16:45Z" level=info msg="Starting restore of backup velero/csi-app-test" logSource="p

[2020-10-29 09:36] ashish-amarnath commented on #3015
Yes, please install with the v0.1.2 version of the velero-plugin-for-csi and v1.1.1 version of the velero-plugin-for-microsoft-azure

________________________________
From: mug3n451 <notifications@github.com>
Sent: Thursday, October 29, 2020 12:21:54 AM
To: vmware-tanzu/velero <velero@noreply.github.com>
Cc: Ashish Amarnath <ashisham@vmware.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2020-10-29 12:35] sivaramsk commented on #3027
Unfortunately I don't have the setup as of now, but will try to reproduce it again and update.

[2020-10-29 13:10] mug3n451 commented on #3015
@ashish-amarnath i have installed veler as you say. Now the backup goes in Failed status:

` velero backup create csi-app-test --include-namespaces=csi-app-test --wait
Backup request "csi-app-test" submitted successfully.
Waiting for backup to complete. You may safely press ctrl-c to stop waiting - your backup will continue in the background.
...................
Backup completed with status: Faile

[2020-10-29 13:47] zubron commented on #3027
@ashish-amarnath You're right, I messed up there, sorry 😞 There were a number of restores that failed in this particular setup and I don't know how I managed to copy the details for a pod volume restore that succeeded 🤦‍♀️

Looking through the list of PodVolumeRestores again though, I noticed something suspicious for all the snapshots that couldn't be found (`82e47c5a`, `54f54e51`, and `a99dd83b`)

[2020-10-29 16:27] nrb commented on #2902
@dk-do Please also verify that your clock settings are in sync.

[2020-10-29 16:40] nrb commented on #2983
@nwakalka Carlisia is going to take a more in-depth look here, but I think this will not work with how Velero is currently designed.

This sounds like a data-only restore, and for Velero's restic support to work, the pod, PVC, and PV need to be restored together currently.

[2020-10-29 16:41] nrb commented on #2859
Closing this as a duplicate of #2721; we'll focus on that issue.

[2020-10-29 16:42] #2859 closed

[2020-10-29 18:09] ashish-amarnath commented on #2447
Confirm: Velero CRDs can be applied in Various versions of Kubernetes.
Decide the list of Kubernetes versions that we want to support

[2020-10-29 18:28] ashish-amarnath commented on #2131
Writing down outcomes from some of the discussions we've had around this.

1. We want to decouple cluster provisioning from running of the e2e tests
1. We want to open source the e2e tests for our users to run them if they choose to.
1. All contributors should be able to and be encouraged to run and add e2e tests.
1. Allow users to select which tests they want to run. (something like ginkgo.skip)

[2020-10-29 21:08] flo-02-mu commented on #3015
I missed that there was a log-entry saying "killed" about the plugin. Increasing the memory to 512Mi did the trick for me.

[2020-10-29 23:01] zubron commented on #3027
I took another look at this and found where it is failing.

We call [`GetVolumeBackupsForPod`](https://github.com/vmware-tanzu/velero/blob/main/pkg/restic/common.go#L98-L122) from [`RestorePodVolumes`](https://github.com/vmware-tanzu/velero/blob/main/pkg/restic/restorer.go#L94-L149). When we call that function, we pass in [all the pod volumes backups for a restore](https://github.com/vmware-tanzu/

[2020-10-29 23:17] ashish-amarnath commented on #3015
@mug3n451
I tried the exact same steps to backup and restore an application that uses CSI backed volumes and I was able to both backup and restore successfully. I have documented the steps that I followed [here](https://gist.github.com/ashish-amarnath/b4162d2836a63516540bfa1d24783120#file-velero-csi-plugin-demo-md)

I would also suggest inspecting the Velero server logs using `kubectl -n velero lo

[2020-10-30 00:43] ashish-amarnath commented on #3042
@jbmassicotte Here are the answers.

Q1: Yes, you will need to edit the `.status.expiration` field of the backup object.
I understand that having a command to update/extend the expiration of the backup will be useful. Unfortunately, `kubectl -n velero edit backup` is the best thing we have atm. I'll create another user enhancement issue for the `velero backup expiry-extend` command

Q2: You can st

[2020-10-30 01:04] brito-rafa commented on #2551
Started to code an example CRD for the testing of the code. At this point, the example CRD has only a gvk, but here is the repo: https://github.com/brito-rafa/k8s-webhooks

[2020-10-30 15:28] ashish-amarnath commented on #3012
@vishumindtree i don't think having partially failed backups should be acceptable.

The error you are getting is because you are not using the `--cacert` flag to the `velero backup logs` command. The client needs the cacert to verify thr certificate that it is presented with at the time of the ssl handahake

[2020-10-30 19:49] nrb commented on #2767
We can also see if there's a way to plumb this through sig-node.

[2020-11-02 03:42] bjlvfei commented on #3044
Hi @ashish-amarnath

Sorry too late to response, I have checked the the log in Cluster B as below. There is only one backup-location for share. I think it's need to create another backup-location for Cluster B itself. Is right?

time="2020-11-02T03:12:38Z" level=info msg="Checking for existing backup locations ready to be verified; there needs to be at least 1 backup location available" controller

[2020-11-02 08:05] mug3n451 commented on #3015
@ashish-amarnath
Is there a guide how to cleanup the velero installation? Because i notice in the velero logs that there is a reference to a backup that was deleted. I would restart from a cleaning status.
Thanks
Cristian

[2020-11-02 09:28] harsh2202 commented on #3003
@carlisia Can you please let us know if there is some progress towards resolutions?

[2020-11-02 10:16] Shilpa418 commented on #3049
Hi,

Do we have instructions on how can we create such a plugin and use it for velero?
As we are new to this we are unable to find the procedure.
Please help.

Thank You!

[2020-11-02 13:53] jbmassicotte commented on #3042
@ashish-amarnath
Oh very cool. Ability to start velero in restore only mode (which I was not aware of), combined with the ability to edit the expiration time of an existing backup fully meet my needs. Thank you again for taking the time to answer.

[2020-11-02 13:53] #3042 closed

[2020-11-02 13:59] ashish-amarnath commented on #3015
https://velero.io/docs/v1.5/uninstalling/
Also please empty the contents of your backup bucket in the object store.

________________________________
From: mug3n451 <notifications@github.com>
Sent: Monday, November 2, 2020 12:05:42 AM
To: vmware-tanzu/velero <velero@noreply.github.com>
Cc: Ashish Amarnath <ashisham@vmware.com>; Mention <mention@noreply.github.com>
Subject: Re: [vmware-tanzu/velero

[2020-11-02 14:01] ashish-amarnath commented on #3049
This info is available on our website at https://velero.io/docs/v1.5/custom-plugins/ and there are plugin examples available at https://github.com/vmware-tanzu/velero-plugin-example

________________________________
From: Shilpa418 <notifications@github.com>
Sent: Monday, November 2, 2020 2:16:21 AM
To: vmware-tanzu/velero <velero@noreply.github.com>
Cc: Ashish Amarnath <ashisham@vmware.com>; Stat

[2020-11-02 14:45] AkhilaDamera commented on #2982
@nrb The `vault-token-` is created by the kubernetes and automatically mounted within the pod using the kubernetes service account for authentication. This sa token is createdafter the deployment of vault and the code I have will auto-initialize the vault.

I have tried the workaround but it doesn't seems working as the velero is not able to restore the old token pod volume config and the restore

[2020-11-02 17:06] pPanda-beta commented on #504
This is open for almost 2 yrs now, any workarounds to at least restore data to new PVs assigned with same PVC?

[2020-11-02 19:38] #3028 closed

[2020-11-02 20:05] nrb commented on #1970
This also has implications for users wanting to write RestoreItemActions for namespaces. Right now, since namespaces aren't created as part of the normal restore process but rather directly with a client call, writing a RestoreItemAction plugin for them will not get invoked.

[2020-11-02 20:09] ashish-amarnath commented on #3027
@zubron Thanks for debugging this. I've put up a PR with the fix, PTAL.

[2020-11-02 20:21] nrb commented on #2657
@carlisia I can take this one if you'd like

[2020-11-02 20:24] carlisia commented on #2657
Yes sure. But... is this a controller? After I listed it I looked at the code and it looks like something that is not a controller. Doesn't (seem to) have a reconcile loop. If I'm wrong, yes please take this one.

[2020-11-02 20:31] nrb commented on #2657
It is not - it's a struct that's used to track things in the backup controller, not a controller by itself. Gonna close this issue out :)

[2020-11-02 20:32] #2657 closed

[2020-11-02 21:19] carlisia commented on #2657
1 down!! :)

[2020-11-02 21:39] #3045 closed

[2020-11-02 21:45] zubron commented on #2942
These log messages have been improved with #3047 so I am going to close this issue.

[2020-11-02 21:45] #2942 closed

[2020-11-03 00:44] sagor999 opened #3052 "Have a way to modify nodeSelector when restoring"
**Describe the problem/challenge you have**
I have Cluster A, that uses `nodeSelector`.
I want to restore into Cluster B, that doesn't use nodeSelector or doesn't have similar labels as Cluster A has.

**Describe the solution you'd like**
Similar to `velero.io/change-storage-class: RestoreItemAction` I would like to be able to remap nodeSelector labels when restoring, or have a way to completely d

[2020-11-03 01:47] sagor999 commented on #2999
@ashish-amarnath I just tried to use this again. For some reason, now it doesn't use restic at all.
It just seems to skip the actual backup phase of the volume.
[code]
I looked at storage, and couldn't find actual restic data in there.
I tried to restore from that backup, and yes, it restores PV and PVC, but doesn't perform restic restore init container. So no actual data is being restored\backed

[2020-11-03 04:10] ashish-amarnath commented on #2999
@sagor999 Can you please share a sample workload that you are trying to backup and restore?
If you already have done that, please point me to it. I will try this out to see what might be happening.

[2020-11-03 05:20] sagor999 commented on #2999
@ashish-amarnath Sure, here it is:
[code]
And PVC that is referenced is backed by TopolVM (https://github.com/topolvm/topolvm).

Velero itself is installed via helm chart, using two plugins:
`velero/velero-plugin-for-gcp:v1.1.0`
`velero/velero-plugin-for-csi:v0.1.2`
`features: EnableCSI`

Thank you!

[2020-11-03 16:20] k8s42 commented on #1533
For Azure, I currently create a text file as follows and deploy Velero using Helm by setting values using `--set`:
[code]

I want to use values.yaml file which contains all values in it including the aforementioned KV pairs. Where in the Velero values.yaml file do I need to specify these?

[2020-11-03 23:44] ashish-amarnath commented on #2767
Here are our options for this:

1. Lookup/query kubelet configuration to get the value of `--root-dir`:
    The directory path for the mount point of the kubelet files is controlled by the `--root-dir` flag to the kubelet and is not directly exposed by an API. https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L340. This is not feasible.

1. Infer the path base

[2020-11-04 00:28] sagor999 commented on #2999
@ashish-amarnath I found the cause I think. in helm chart I had this set:
`configuration.defaultVolumesToRestic: true`
setting it to false fixed restic backup\restore and now during restore it properly adds restic-restore init container.
So something is wrong\bugged with that option I think.

[2020-11-04 07:23] mug3n451 commented on #3015
@ashish-amarnath
i did the cleanup and reinstall velero as you have indicated. Now it works! Thanks so much for the helpfulness!

[2020-11-04 07:23] #3015 closed

[2020-11-04 15:12] VolkerKozlowski opened #3053 "Support hostpath volumes to be backed up and restored by restic in order to running / testing / developing in kind cluster."
**Describe the problem/challenge you have**
We are running e2e tests inside of a kind cluster. Kind only provides hostpath mounted volumes provisioned by rancher.io/local-path.
Unfortunately velero cannot handle to backup and restore such volumes with restic.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**
Kind kind v0.

[2020-11-05 02:22] bjlvfei commented on #3044
Cluster A
I'm reinstall the velero server and it's backup files as below in Cluster A
the velero install command line was

velero install \
--provider aws --plugins velero/velero-plugin-for-aws:v1.0.0 \
--bucket dswesb-fvt-velero \
--secret-file ./cloud-credentials \
--use-volume-snapshots=false \
--backup-location-config region=us-east,s3Url=http://s3.us-east.cloud-object-storage.appdomain.cloud

[2020-11-05 11:07] a-mccarthy commented on #1809
@carlisia I've updated the [FAQ general page](https://github.com/vmware-tanzu/velero/wiki/General-FAQ) with these questions. Any future FAQs should be placed in the the Wiki.

Closing this issue :)

[2020-11-05 11:07] #1809 closed

[2020-11-05 15:51] a-mccarthy opened #3054 "Add documentation for using Velero with cluster api"
We should investigate and add documentation for how to use Velero and cluster api

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to the right of this comment to vote.

[2020-11-05 15:51] a-mccarthy commented on #3054
cc: @ashish-amarnath

[2020-11-05 16:18] framled commented on #1712
there are no documentation about those resources.

[2020-11-05 17:36] brito-rafa commented on #2551
In the past couple of days, some discovery.

Kubernetes has a version priority list:
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#version-priority

When creating CRDs, the preferred version follows this priority, even if you specify differently.

In order words, if you support both v1 and v2, you can't set v1 as the preferred version. v

[2020-11-05 18:53] ghost74-tg opened #3055 "velero pod restarts on backup of cluster resources"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
- Install velero in OpenShift 4.5 or 4.6
- we used the AWS plugin provider with minio as the backuplocation
- simply try to backup the cluster resources:
velero create backup mybackup-1 -n spp-velero
The backup remains in Status "InProgress" and never reaches Complete sta

[2020-11-06 13:57] konvergence commented on #2043
Hi all,

I have a namespace with 2 statefulsets One for Tomcat and One postgres.
I try to restore only postgres with the following workflow :

scale 0 tomcat and scale 0 postgres
delete pvc-postgres

run velero restore.

Normally Velero should not restore existing objects.
Bu here velero stay freezed during restore of the pvc-tomcat ? why ?

It should to try restore  pvc-tomcat if it ever exist ..

[2020-11-06 13:59] konvergence commented on #904
Hi all,

I have a namespace with 2 statefulsets One for Tomcat and One postgres.
I try to restore only postgres with the following workflow :

scale 0 tomcat and scale 0 postgres
delete pvc-postgres

run velero restore.

Normally Velero should not restore existing objects.
Bu here velero stay freezed during restore of the pvc-tomcat ? why ?

It should not try restore pvc-tomcat if it ever exist ..

[2020-11-06 14:36] shurik-io commented on #904
@konvergence

Use a more specific restore command using tags and resource types, so you ensure only trying to restore what you want. I know it should skip existing things, but I prefer to define what I like to restore. You also can define multiple labels or using the restore command multiple times for each label, as you like.

An example:
[code]

[2020-11-06 14:38] konvergence commented on #904
Ok, fine
But how to restore only one pvc and not all ?

[2020-11-06 14:44] konvergence commented on #904
oh... sorry, I understand
`foo=postgres` is the label on all my components for postgres

So I can restore them.

Thanks

[2020-11-06 14:47] shurik-io commented on #904
Exactly, but in your label in use, and it should only restore the pvc. As well adjust the `--include-resource pvc` not to catch other resources as well.

[2020-11-09 07:48] vishumindtree commented on #3012
1. Yeah , if I pass cacert bundle with -- > velero backup logs clustera --cacert server.pem  , then I dont get above error , but still

velero restore fails with same error.

2. Further even etcd is not getting restored - Is etcd backup & restore of kubernetes  supported by velero ?

[2020-11-09 10:13] vishumindtree commented on #3012
devops@sc-ipp-blossom-prod-k8w-30:~$ `velero restore logs wholekubeadmcluster-20201109020734` --cacert server.pem
An error occurred: Get "https://sc-ipp-blossom-minio-01.nvidia.com:9000/local/restores/wholekubeadmcluster-20201109020734/restore-wholekubeadmcluster-20201109020734-logs.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=MinIo%!B(MISSING)1oss0m%!F(MISSING)20201109%!F(MISSING)minio%!F

[2020-11-09 10:29] akshaymandke opened #3058 "Velero restore get-> started and completed timestamp is <nil>"
**What steps did you take and what happened:**

- Installed velero and performed steps to create backup and restore.

- Created backup and associated restore for namespace.

- Executed **velero restore get**  and verified the values under **Started** and **completed** columns.

**What did you expect to happen:**

When user executes velero restore get -> the values under STARTED and COMPLETED colum

[2020-11-09 13:10] vishumindtree commented on #3012
I am still getting partially failed status of backups --

vishakumar@VISHAKUMAR-LT1:~$ velero backup create clustec --wait
Backup request "clustec" submitted successfully.
Waiting for backup to complete. You may safely press ctrl-c to stop waiting - your backup will continue in the background.

velero backup logs clustec --cacert server.pem | grep error
time="2020-11-09T13:04:03Z" level=error msg=

[2020-11-09 17:36] ashish-amarnath commented on #2461
I am going to reopen this as the same issue exists for the RestoreItemAction and DeleteItemAction plugins.
PR #3059  should fix this.

[2020-11-09 17:55] ashish-amarnath commented on #3012
velero restore fails with same error.

I don't see any evidence of restore operations in your logs to investigate failure to restore.

Looking at the logs that you shared above, it is `velero backup create` that is failing. The reason for the failure is in the log messages

[2020-11-10 10:16] 123BLiN opened #3061 "All backups are in progress state forewer"
**What steps did you take and what happened:**
Any backup is stuck InProgress stae forewer, no matter manually submitted or scheduled, I'm not able to find any pattern however once I was able to make a backup for single namespace but next runs are stacked too, reinstall and removing all CRDs does not help. Removing all in progress backups does not help.

**What did you expect to happen:**
Backups

[2020-11-10 10:46] ghost74-tg commented on #3055
@carlisia @alaypatel07 Any ideas how to resolve this issue?

[2020-11-10 14:11] noeljose2020 opened #3062 "--default-restic-prune-frequency does not have any effect , resticrepo is always created with default value (168h0m0s) even after passing different value"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
installed velero using helm chart in kubernetes enviornment and passed ---default-restic-prune-frequency=24h0m0s ,
created a schedule , resticrepo got created with default maintenance frequency it did not pick  the value passed

output of resticrepo
Name:         test-def

[2020-11-10 16:14] sharkymcdongles commented on #2428
I agree. I explored doing this via the plugins system, but it seems what is needed isn't  exposed there and any changes will need to be within Velero itself sadly.

[2020-11-10 16:36] #3027 closed

[2020-11-10 16:36] #2691 closed

[2020-11-10 16:36] #2956 closed

[2020-11-10 20:23] a-mccarthy opened #3065 "Improve docs on encryption"
**Describe the problem/challenge you have**
How does Velero handle encryption? Does it encrypt anything by default?

**Describe the solution you'd like**
We should add docs describing encryption.

Velero's backups are split into 2 pieces - the metadata stored in object storage, and snapshots/backups of the persistent volume data. Right now, Velero itself does not encrypt either, instead relying on

[2020-11-10 20:26] a-mccarthy opened #3066 "Add info about compression to docs"
**Describe the problem/challenge you have**
Does Velero provides compression? What is the percentage of data it compresses?

**Describe the solution you'd like**
We should improve the docs to cover how Velero handles compression.

Velero's compression for object metadata is limited, using Golang's tar implementation. However, in most instances, Kubernetes objects are limited to 1.5MB in size, and

[2020-11-10 20:43] a-mccarthy commented on #274
@nrb and I were just talking about making improvements to the backup docs, https://velero.io/docs/v1.5/how-velero-works/#backup-workflow, to make them more clear. We should make sure that the velero docs cover backups in enough detail

[2020-11-11 07:54] dsu-igeek commented on #2998
The secret only needs the AWS info.  Mine looks like this:

---
[default]
aws_access_key_id = <key>
aws_secret_access_key = <secret>
---

I didn't see any errors around the credentials in the logs.  My working theory is that the SDK has silently fallen back to the EC2 instance's IAM role, based on your earlier note.  Does the IAM role for the node allow it access to the S3 bucket?  If not, that wo

[2020-11-11 08:34] funkycode commented on #2348
I created PR (still draft) and it seems to fail on the part that was not changed if someone can help me to understand what can be wrong as the change is really small

[2020-11-11 09:37] funkycode commented on #2348
I made Pr but seems like I'm missing something as it didn't pass tests.
From my understanding backup doesn't have annotation and possible backup from scheduler is populated with empty map for annotations.

[2020-11-11 14:50] #2461 closed

[2020-11-11 16:50] geoff-bleakley commented on #2998
Thanks for the reply.
Yes, the node's permissions allow S3 GET, PUT, DELETE
Here is the kubectl output:  AWS_SHARED_CREDENTIALS_FILE:  /credentials/cloud

kubectl exec -it -n velero pod/velero-6c56dd9c45-4cqzs -- cat /credentials/cloud
cat: /credentials/cloud: No such file or directory
command terminated with exit code 1

As I mentioned above in the helm install, i used the set credentials.existin

[2020-11-11 17:13] dsu-igeek commented on #2998
The Velero server is setting the credential profile to point to /credentials/cloud and that file/volume path isn't available in the pod.  The AWS SDK is then silently falling back to the EC2 instance's credentials.

Let's check the secrets you have available in the namespace:

kubectl get secrets -n velero

My AWS setup shows:

NAME                        TYPE                                  DATA

[2020-11-11 17:17] pavanfhw commented on #2972
@dsu-igeek yes, they are different storages and ceph clusters. I was simulating the situation where if one cluster blew up, velero backups would be able to restore it on a completely new cluster.

[2020-11-11 17:36] dsu-igeek commented on #2972
So if you're using the CSI plugin, currently that will take a snapshot using the Ceph snapshotting facility.  Ceph snapshots are stored within the cluster.  When the cluster is lost/removed all snapshot data will be lost as well.  Unfortunately CSI snapshots do not specify whether the snapshot is "durable" (survives loss of primary storage) or not.  You should use Restic backup of your data, the s

[2020-11-11 17:36] #2972 closed

[2020-11-11 17:40] geoff-bleakley commented on #2998
Sure.

 kubectl get secrets -n velero
NAME                           TYPE                                  DATA   AGE
cloud-credentials              Opaque                                2      32d
default-token-sg95n            kubernetes.io/service-account-token   3      42d
jfrog                          kubernetes.io/dockerconfigjson        1      42d
sh.helm.release.v1.velero.v1   helm.sh/rel

[2020-11-11 17:50] pavanfhw commented on #2972
Understood. To clarify, CSI plugin are not viable to do disaster recovery backups? Is there intention to make them viable?

[2020-11-11 18:59] carlisia opened #3069 "Fake issue"
Testing the new project board

[2020-11-11 19:41] survivant opened #3070 "minio example return a 404"
the link in examples (https://github.com/vmware-tanzu/velero/tree/main/examples) The quickstart link  for minio  (https://github.com/vmware-tanzu/velero/blob/main/docs/contributions/minio.md) return a 404

[2020-11-11 19:53] survivant commented on #3070
and the example is incomplete

 in minio folder there is a where is deploy a minio example.  But there is no documentation in that example to show what are the params that should be passed to Velero chart to use with that Minio example.

[2020-11-11 21:35] carlisia commented on #3055
Summary: Velero running in OpenShift 4.5 or 4.6. Backups created excluding secrets works. Backups created not excluding anything gets stuck in InProgress and causes the Velero pod to restart.

[2020-11-11 22:19] #3069 closed

[2020-11-11 22:37] carlisia commented on #3058
Hey @akshaymandke, this is a bit odd. It's not something I have been able to reproduce. Would you please send me the entire output of:

- `velero version`
- `kubectl get restores.velero.io`

[2020-11-12 00:36] carlisia commented on #2984
I'll close this issue. @WaterKnight1998 feel free to reopen if you still need help.

[2020-11-12 00:36] #2984 closed

[2020-11-12 00:43] carlisia commented on #2959
I'm closing this issue. @elangocse there seems to be a workaround for this but feel free to reopen if you still have any problems.

[2020-11-12 00:43] #2959 closed

[2020-11-12 00:44] carlisia commented on #2939
I'm closing this issue. @choey-nebula feel free to reopen if you are still having problems.

[2020-11-12 00:44] #2939 closed

[2020-11-12 00:46] carlisia commented on #2902
I'm closing this issue. @dk-do there are some suggestions for you to try (above) but feel free to reopen if you are still having problems.

[2020-11-12 00:46] #2902 closed

[2020-11-12 00:47] carlisia commented on #2894
I'm closing this issue. @svua feel free to reopen if you are still having problems.

[2020-11-12 00:47] #2894 closed

[2020-11-12 00:48] carlisia commented on #2871
Since it's been a while, I'm closing this issue. @Vrushk84 feel free to reopen this issue if you are still having problems, and with the information asked above.

[2020-11-12 00:48] #2871 closed

[2020-11-12 00:54] carlisia commented on #2689
Since it's been a while, I'm closing this issue. @DanielXiao feel free to reopen with the information requested if you are still having issues.

[2020-11-12 00:54] #2689 closed

[2020-11-12 01:00] tcdowney opened #3072 "Support multiple selectors ("OR" logic) when creating a backup"
**Describe the problem/challenge you have**
I have a usecase where I'd like to take a targeted backup of several components, but they are not consistently labeled. One is labeled with `app: postgres` and the other with `app.kubernetes.io/name: cf-api-controllers`.

Since a single Kubernetes label selector only supports logical `AND`s of different labels, I have to change the labels on one of the P

[2020-11-12 01:10] carlisia commented on #980
@a-mccarthy sorry for the delayed response! Yes, I agree with you. We don't need this epic, just "documentation" labels on those still open issues. Closing.

[2020-11-12 01:10] #980 closed

[2020-11-12 01:16] carlisia commented on #2945
I lost track of this. Anyone knows if it's been all or mostly addressed, can we close this?

[2020-11-12 02:11] DanielXiao commented on #2689
@nrb Sorry for the late reply, I was not aware your reply. My test was performed on TKG multi-cloud v1.1.0 and Calico is the
 deployed CNI. It can always reproduce.

[2020-11-12 05:33] MadhavJivrajani commented on #3040
Hi,
Can I work on this?

[2020-11-12 12:51] zubron commented on #3040
Hi @MadhavJivrajani! Of course, that would be great :) I'll assign the issue to you. Let us know if you need any assistance.

[2020-11-12 15:11] survivant commented on #2980
in my case the backup were created with a invalid storage location
[code]

[2020-11-12 15:12] survivant commented on #2980
root@test-pcl114:~/openebs-test# velero version
Client:
        Version: v1.5.2
        Git commit: e115e5a191b1fdb5d379b62a35916115e77124a4
Server:
        Version: v1.5.2

[2020-11-12 17:01] iyurev commented on #2519
Hi, Did you solve that problem? I’ve faced with exact similar  problem.

[2020-11-12 17:26] philipp1992 commented on #2519
nope

nope

[2020-11-12 20:00] dsu-igeek commented on #2998
OK, the secret is present but it's not mounted into the pod even though the environment variables got set to point to it.  Let's see if we can figure out where that is broken.  When I describe my Velero pod in AWS I get:

`kubectl describe -n velero pod/velero-64d549ffc9-659mq `

...
`    Mounts:
      /credentials from cloud-credentials (rw)
`
...
`Volumes:`
...
`  cloud-credentials:
    Type:

[2020-11-13 00:08] #3070 closed

[2020-11-13 03:15] bjlvfei commented on #3044
I have resolved this issue after using the cross region bucket.  I'm will close this issue now.

Levi
Thanks!

[2020-11-13 03:15] #3044 closed

[2020-11-13 05:03] ashish-amarnath commented on #3054
Adding this here for reference.
https://github.com/vmware-tanzu/velero/issues/2554

[2020-11-13 05:13] ashish-amarnath commented on #2131
PR #3060 adds a framework for the e2e tests

[2020-11-13 16:17] geoff-bleakley commented on #2998
sure, here are my results:
kubectl describe -n velero pod/velero-6c56dd9c45-4cqzs
...
mounts: /credentials from cloud-credentials (rw)
...
volumes:
cloud-credentials:
    Type:        Secret (a volume populated by a Secret)
    SecretName:  cloud-credentials
    Optional:    false

[2020-11-13 16:19] survivant opened #3075 "There should be a left menu item expanded for the API"
I'm trying to find the APi for Velero.  I was looking for the Schedule API.  I had to enter Schedule in the searchbar->select schedule..

I arrive here : https://velero.io/docs/v1.5/api-types/schedule/#definition

but in the left menu.. I don't find any reference to where I'm in the API documentation.

There should be a item in the left menu that shows the Velero API.

[2020-11-14 07:52] nevermore-muyi opened #3078 "Backup CSI Feature can be dynamically configurable"
**Describe the problem/challenge you have**
When I use restic to backup my volume, I can config **defaultVolumesToRestic** is true,but when I use csi snapshot to backup volumes, I must use the command **--features=EnableCSI**,which I think is unreasonable.Because of the different config,I must restart velero when I disable/enable CSI.

**Describe the solution you'd like**
Make the CSI snapshot bac

[2020-11-16 07:04] saraAlizadeh opened #3079 "Use Velero for On-Premise Kubernetes"
**Describe the problem/challenge you have**
I have a kubernetes cluster deployed over vSphere (on-premise). So, I don't use any cloud provider.
Is there any way for me to use velero? I need to have backups of my PVs and my storage is Rook-Ceph.

**Describe the solution you'd like**
I could use an external ceph (or rook-ceph) or glusterfs or local storage as my BackupStorageLocation and VolumeSnaps

[2020-11-16 07:08] elwood218 commented on #2221
Thanks for answering @nrb

[2020-11-16 08:35] Lighting-wings commented on #3078
Good idea. This can provide more  convenience for users.

[2020-11-16 08:53] neujie commented on #3078
Maybe let user to choose when create a backup is a good way,  like restic plugin.

[2020-11-16 08:56] neujie commented on #3078
Maybe let user to choose csi or restic when create a backup is a good way.

[2020-11-16 08:58] slavina-rumenova opened #3149 "Backups marked as PartialyFailed when snapshotting a GCE disk without description"
Describe the problem/challenge you have:

I have a service running in GKE, which uses regional GCE Disk as source disk for persistent volumes. Since I upgraded velero to version 1.5.2 and gcp plugin 1.1.0, backups for this service are marked as PartiallyFailed (with velero 1.3.0 same backup finishes successfully):

$ velero create backup testfailing --include-namespaces SERVICENAMESPACE
$ velero g

[2020-11-16 09:21] crdemon09 opened #3080 "Velero restic prune flag (--default-restic-prune-frequency) is not working"
**What steps did you take and what happened:**
1. Setup velero
2. Specify restic prune flag --default-restic-prune-frequency=24h0m0s
Result: Velero process is running with needed parameters, but still Maintenance Frequency is 168h0m0s
_/velero server --log-level=debug --default-restic-prune-frequency=24h0m0s --restic-timeout=48h_

**What did you expect to happen:**
ResticRepositiry ->Maintenance F

[2020-11-16 11:34] autarchprinceps commented on #1645
We have the same issue with arm64. The image used by the helm chart doesn't have an arm manifest, just amd64. Multiarch images aren't hard to build with buildx.

[2020-11-16 14:12] thanhtoan1196 opened #3081 "crash when backup 'invalid memory address or nil pointer dereference'"
**What steps did you take and what happened:**
- create a backup: `velero backup create mybackup7`

**What did you expect to happen:**
- created backup successfully without error

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

- log
[code]
- `velero backup descr

[2020-11-16 15:46] zubron commented on #1645
@autarchprinceps Velero is already using `buildx` for our multiarch images (this was introduced with #2754) and the 1.5 images were built using this. I've just checked our image manifests and arm64 images are available for [Velero 1.3 and later](https://hub.docker.com/r/velero/velero/tags?page=1&name=v1.3). The Helm chart uses the images from Docker Hub by default. Can you check what image is bein

[2020-11-16 16:32] survivant opened #3082 "velero backup create ignore --volume-snapshot-locations"
I'm trying to create a backup wth Velero/Minio/Openebs

[code]

but I see this in the logs :

[code]

**Environment:**

[code]

Here the setup that I used  for Velero:

[code]

here the setup for open-ebs plugin

[code]

At this point I was expecting Velero to use the VolumeSnapshotLocation minio  and save the pvc information in the bucket velero.

**Vote on this issue!**

This is an invitation to

[2020-11-16 16:36] kmova commented on #3082
cc: @mynktl @vishnuitta

[2020-11-16 18:09] survivant commented on #3082
I found that, that I have a default : VolumeSnapshotLocation created by Helm.
[code]
Should I replace it by this ?

[code]

I'm trying to get you more details.  I'm stuck at create backup, I need to test the restore after that.

[2020-11-16 19:48] ashish-amarnath opened #3083 "Need velero plugin [delete update] command"
**Describe the problem/challenge you have**
Users of Velero need to be able to delete and update plugins without having to hand-edit the Velero deployment.

**Describe the solution you'd like**
Implement `velero plugin delete` and `velero plugin update` command

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues lis

[2020-11-16 19:51] survivant commented on #3083
real usecase :

I have openebs/velero-plugin:2.2.0  installed, but the version 2.3.0 was released yesterday.  How can I update it ?

#1 - Velero need a way to easily remove any plugin installed
#2 - Velero need a way to update a plugin  (Could call : delete followed by install).  I don't know if the plugin have configuration, but if it's the case, the configuration need to be kept for a update

[2020-11-16 20:12] nrb commented on #3055
@ghost74-tg What are you using for your volume storage? Is it AWS's EBS, or something else?

[2020-11-16 20:14] nrb commented on #3061
@123BLiN Could you please provide a complete log? There may be some context we're missing from this snippet.

[2020-11-16 20:16] nrb commented on #3062
@noeljose2020 Thanks for the report - we've heard about this from other people and I think the argument isn't be passed from the command line into the configuration properly.

[2020-11-16 20:21] #3075 closed

[2020-11-16 20:21] nrb commented on #3075
@survivant I think the link you're looking for is there, see this screenshot. It's under that section. We'll continue to revisit our information architecture, though.

![Screen Shot 2020-11-16 at 3.18.53 PM.png](https://images.zenhubusercontent.com/5b4e374cb69de9433c052d0b/45035afd-a9cc-4514-a0a6-a48fb8f80e0e)

[2020-11-16 20:33] nrb commented on #3080
This is the same as #3062, closing as a duplicate.

[2020-11-16 20:33] #3080 closed

[2020-11-16 20:36] nrb commented on #3079
@saraAlizadeh Yes, [Velero can be used on-prem](https://velero.io/docs/latest/on-premises/#docs), though I'm not aware of any Ceph or GlusterFS plugins.

Right now, using Velero on-prem with Ceph or GlusterFS would require using [restic](https://velero.io/docs/v1.5/restic) to get the volume data.

[2020-11-16 20:36] #3079 closed

[2020-11-16 23:05] fabriciojs commented on #3081
It seems something with the parsing of the new flag `DefaultVolumesToRestic` - https://github.com/vmware-tanzu/velero/blob/main/pkg/backup/backup.go#L224

[2020-11-16 23:41] dsu-igeek commented on #2998
It looks like everything is configured correctly and there's some issue in K8S or Rancher which is preventing the mount of that credential.  You're going to need to debug your pod/worker nodes and figure out why they're not mounting that secret properly.  I'm going to close this for now, please re-open it if you can get the secret to mount and you're still having trouble.

[2020-11-16 23:41] #2998 closed

[2020-11-17 01:38] thanhtoan1196 commented on #3081
@fabriciojs I think the cause is the `DefaultVolumesToRestic` flag, I got the error after upgrading to 1.5.2

[2020-11-17 03:17] zzbmmbzz opened #3144 "Velero Backup Status still keep `In Processing`"
I have stuck when backup cluster using velero.
Status `In Processing` still kept. Please help check it. Thanks
![image](https://user-images.githubusercontent.com/41033532/99342212-ed4b5800-28bd-11eb-86ce-9042a42ef4c0.png)

**kubectl logs -f deployment/velero -n velero**
[code]

[2020-11-17 11:04] 123BLiN commented on #3061
@nrb
Fresh logs from velero 1.4.3 in the newely created namespace:
[code]
velero backup describe:
[code]

[2020-11-17 12:22] akcrisp opened #3161 "Support for Customer Managed Keys (CMK)"
Hi,

Can you confirm if there are any plans to support cmk ?

https://docs.microsoft.com/en-us/azure/aks/azure-disk-customer-managed-keys

Thanks

Andy

[2020-11-17 12:45] fabriciojs commented on #3081
Yep. We are eager to use the flag 😄

We thought it could be mismatched versions of server/cli, but didn't work. We tried defining the `DefaultVolumesToRestic` both through the CLI flag as well as the Helm chart configuration value. No luck.

Looking at the history change on that file the only thing jumps out (without deeply understanding all structs in use) is this change: https://github.com/vmwar

[2020-11-17 12:51] Zeka13 commented on #2980
at least what is workaround ??

[2020-11-17 14:26] basavarajb opened #3086 "Velero backup failing but in logs no error"
**What steps did you take and what happened:**
I followed the mentioned link
https://sysadminas.eu/2019/12/part-3-azure-kubernetes-services-aks-backup-restore-your-aks-data-with-velero/

After executing the backup command  if i look into logs it show Phase: Failed
![image](https://user-images.githubusercontent.com/9286143/99401987-da14a880-290e-11eb-82ed-61915055b4c7.png)
[Backup_logs.txt](https:/

[2020-11-17 14:55] zubron commented on #2980
@Zeka13 As a workaround, you can delete the `Backup` item directly using `kubectl delete backups.velero.io -n velero <backupname>`. However, deleting the item directly will mean that it skips any processing that would normally be performed by Velero (such as deleting other objects in storage associated with the backup). This may not be an issue for you, depending on the state of the backup you wis

[2020-11-17 18:10] jravetch opened #3087 "Backup PartiallyFailed"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Backup PartiallyFailed, failing to backup secrets.

**What did you expect to happen:**
Full backup

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebi

[2020-11-17 20:24] brito-rafa opened #3088 "Velero with Helm --generate-name , the "velero plugin add" command fails"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Installed Velero with the following (as per documentation - note the --generate-name)

helm install vmware-tanzu/velero --namespace velero \
--set-file credentials.secretContents.cloud=/Users/rbrito/OneDrive/migrator/credentials-velero \
--set configuration.provider=aws

[2020-11-17 20:32] brito-rafa commented on #3088
So, removing --generate-name parameter from helm AND adding "velero" as name did the trick.

Suggest tweaking the helm documentation.

[code]

And the command succeded:

[code]

[2020-11-17 21:42] ashish-amarnath commented on #3082
@survivant
So looks like you are trying to use the AWS volumesnapshotter plugin and wanting to store the snapshots in minio.
Is there an example that you are trying to follow? Can you please share a link to that example?

If you can also share what you are trying to accomplish, I can point you to the correct example or specific instructions.

[2020-11-17 22:14] ashish-amarnath commented on #3081
@thanhtoan1196 and @fabriciojs
You probably skipped a critical step in the upgrade instructions, installing the CRDs. This is step 2 of the upgrade instruction.
The upgrade instructions can be found at https://velero.io/docs/v1.5/upgrade-to-1.5/
![image](https://user-images.githubusercontent.com/22872138/99457000-25af5e00-28df-11eb-8d48-886842222ecb.png)

[2020-11-17 22:27] fabriciojs commented on #3081
@ashish-amarnath thanks a lot, it solved for us!

Although we saw the notes, we naively expected that since we were using the Helm chart - which has the CRDs already - that step would be taken care of for us.

Thanks!

[2020-11-17 22:31] dbpolito commented on #3081
Looking here https://github.com/vmware-tanzu/helm-charts/pull/163/files i see that the CRDs were updated here, and as we have `installCRDs: true` we thought it would upgrade it properly.

Maybe helm chart is out of sync or is there a different behavior when using helm?

[2020-11-17 22:40] fabriciojs commented on #3081
Just for whoever sees this, @dbpolito and I finally understood why the step is indeed necessary and not managed by Helm alone.

Discussion: https://github.com/helm/helm/issues/6581#issuecomment-538515612

[2020-11-17 22:42] survivant commented on #3082
I'll came back to you tomorrow morning with the examples that I try to follow.

basically I'm to backup/restore.  I have Velero + minio + OpenEBS.

- installed OpenEBS
- installed minio
- installed velero with aws plugin
- installed velero-openebs plugin

In my test I'm trying to backup "rocketchat" (my demo application).

I want to create a backup and save it into Minio bucket : velero

after tha

[2020-11-17 22:47] ashish-amarnath commented on #3081
Thanks for that pointer @fabriciojs. We will call that out in our upgrade instructions next time.
I am going to close this issue as resolved.

[2020-11-17 22:47] #3081 closed

[2020-11-17 22:52] ashish-amarnath commented on #3086
@basavarajb Can you please share logs from the Velero deployment by running `kubectl -n velero logs deploy/velero`? That should have some context.
I would suggest bumping up the memory limits on the Velero deployment and trying this again. Instructions to do that is available on our website at https://velero.io/docs/v1.5/customize-installation/#update-resource-requests-and-limits-after-install

[2020-11-18 00:41] ashish-amarnath commented on #3087
@jravetch The error is coming from the API server when Velero is trying to list all the `secrets`.
 Can you please confirm that your Kubernetes cluster is functional and the API server is running and is available?

[2020-11-18 00:46] jravetch commented on #3087
Yes this cluster is functioning normally.  It is a large cluster with over 100 nodes.  Velero and previously ark was running in this cluster without issue.  Velero was also upgraded from version 1.0 to 1.5.

[2020-11-18 01:40] ashish-amarnath commented on #3087
@jravetch What is the version of Kubernetes that you are running? Also, I found this issue https://github.com/googleapis/google-cloud-go/issues/784 reporting a similar error and it is coming from the API server in GKE cluster. Is this happening consistently?

[2020-11-18 01:56] jravetch commented on #3087
We are running `1.16.13-gke.401`.  Not sure how that issue is related as I don't see GKE mention and was closed over 2yrs ago.  We are not seeing this error outside of Velero backup logs.

[2020-11-18 02:02] jravetch commented on #3087
I am also able list all secrets via kubectl
[code]

[2020-11-18 03:37] MuthuSundaravadivel commented on #1862
@skriss  I am trying to take the backup of PVC in openshift cluster using minio and velero  but the backup and restore not happening properly. Can you  please help me resolve the issue

**Velero Installation:**

velero install \
    --provider aws \
    --plugins velero/velero-plugin-for-aws:v1.0.0 \
    --bucket velero \
    --secret-file ./credentials-velero \
    --use-volume-snapshots=true \

[2020-11-18 04:15] MuthuSundaravadivel opened #3093 "Backup and Restore Not working in Openshift Cluster with Minio and Velero"
I am trying to take the backup of PVC in openshift cluster using minio and velero but the backup and restore not happening properly. Can you please help me resolve the issue

Velero Installation:

velero install
--provider aws
--plugins velero/velero-plugin-for-aws:v1.0.0
--bucket velero
--secret-file ./credentials-velero
--use-volume-snapshots=true
--use-restic —wait
--default-volumes-to-restic
-

[2020-11-18 04:25] ashish-amarnath commented on #3088
@brito-rafa Thanks for reporting this. This is clearly a bug and at the very least should be documented.
Additionally, we could also use labels to select the velero deployment to `add plugins`.
The labels on the Velero deployment when installed using the `velero install` command are
[code]
The same, when installed using helm, are
[code]

We could add the `"component": "velero"` label to the Velero

[2020-11-18 04:26] basavarajb commented on #3086
i already attached the logs https://github.com/vmware-tanzu/velero/files/5554040/Backup_logs.txt

Can u have look on it

[2020-11-18 04:28] ashish-amarnath commented on #3086
@basavarajb I did see the logs you attached. That is the output of `velero backup logs <backup>`. However what I am asking for is the output of `kubectl -n velero logs deploy/velero`.

[2020-11-18 04:33] basavarajb commented on #3086
![image](https://user-images.githubusercontent.com/9286143/99483889-39150480-2985-11eb-8d6b-a3c8328b58ce.png)

I have repeated message

[2020-11-18 04:44] ashish-amarnath commented on #3086
Looks like the file providing Velero with credentials to the Azure blog store is incorrectly formatted.
Can you please follow the instructions at https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#option-1-create-service-principal and use the correct format?

[2020-11-18 08:28] djablonski-moia opened #3094 "Removal of expired backups does not work"
**What steps did you take and what happened:**

In our AWS-based setup, when scheduled backup reach their TTL, the deletion process is started but gets stuck in status `Deleting`. The contents in S3 for the bucket are properly deleted, while volume snapshots stay (causing significant extra cost).

**What did you expect to happen:**

I expect backups to be cleanly removed when their TTL expires, in

[2020-11-18 09:41] henkypunky commented on #3055
FYI: The issue shows with both vanilla version of Velero as well as for Velero installed through OADP operator incl. the OpenShift plugins

[2020-11-18 11:55] survivant commented on #3082
here one demo that I try to follow : https://blah.cloud/automation/using-velero-for-k8s-backup-and-restore-of-csi-volumes/

[2020-11-18 12:59] jbmassicotte opened #3096 "pod volume backup failed: error getting volume path on host: expected one matching path, got 0"
**UPDATE**: I modified this post given some recent observations.

After installing velero  version 1.5.1 with Azure plugin 1.1.0 on an Azure kubernetes cluster, and starting a schedule of backups, the restic portion of the first backup fails with this error:

All subsequent backups have however consistently completed successfully. I was able to observe that exact behavior on 2 distinct systems.

G

[2020-11-18 13:37] basavarajb commented on #3086
AZURE_SUBSCRIPTION_ID=dfcc4748-16b5-45d9-a344-197544f3a7d7

AZURE_TENANT_ID=xxxxx
AZURE_CLIENT_ID=xxxx
AZURE_CLIENT_SECRET=xxxx
AZURE_RESOURCE_GROUP=MC_AKS-RG_aks-dev_eastus
AZURE_CLOUD_NAME=AzurePublicCloud

My velero credential file contains above mentioned details i followed the details as you mentioned, still im getting same error

[2020-11-18 13:38] basavarajb commented on #3086
AZURE_SUBSCRIPTION_ID=dfcc4748-16b5-45d9-a344-197544f3a7d7
AZURE_TENANT_ID=35d5d419-099f-47a7-a1e1-c48a613b7474
AZURE_CLIENT_ID=817c05b4-75af-4d1c-bb75-b3817e1cd6d6
AZURE_CLIENT_SECRET=Xj0F~wjBaHAFIJoRbo-YluM4E-9VAo2PEe
AZURE_RESOURCE_GROUP=MC_AKS-RG_aks-dev_eastus
AZURE_CLOUD_NAME=AzurePublicCloud

[2020-11-18 14:54] ghost74-tg commented on #3055
@nrb We configured velero to use an minio server whith a volume from an external ceph cluster. Provisioning of the volume worked fine and we are able to do backups of namespace-scoped resources. Only cluster-scoped resource backups are causing the velero pod to restart.

[2020-11-18 15:42] jwierzbo opened #3097 "Velero Restic cache is not shrinking once backup is done"
**What steps did you take and what happened:**
Since 7 days memory usage in velero-restic pod is constant on 14 GB level.
Backup is done only once a day, during night.

**What did you expect to happen:**
Once backup is done, cache should be released.

**The output of the following commands will help us better understand what's going on**:
[code]

**Environment:**

- Velero version (use `velero ver

[2020-11-18 21:07] nrb commented on #3082
I think you'd need to have the OpenEBS plugin to do a VolumeSnapshotLocation. Minio would be a BackupSnapshotLocation.

The VolumeSnapshotLocation should be set up to use OpenEBS as the `provider`, since that field is used to look up the plugin to run.

[2020-11-18 21:29] survivant commented on #3082
I found those configuration also
[code]
OU
[code]

not sure if that help..

[2020-11-18 21:32] survivant commented on #3082
I install Minio with this :
[code]

Velero
[code]

[2020-11-18 21:34] nrb commented on #3082
The `local-default` one looks correct. The `minio` one looks invalid to me - the `openebs.io/cstor-blockstore` plugin doesn't use buckets, and the provider is specified twice (`spec.provider` and `spec.config.provider`)

I think what you want is a setup that looks like this:

The BackupStorageLocation (object storage, which is Minio)
[code]

The VolumeStorageLocation (where volume snapshots will g

[2020-11-18 21:37] nrb commented on #3082
Looking at the installation values, are you trying to use restic for your volumes? restic is a replacement for a VolumeSnapshotter, and if you're using restic you would not need a VolumeSnapshotLocation, or the OpenEBS snapshot plugin.

[2020-11-18 21:38] nrb commented on #3082
https://velero.io/docs/v1.5/restic/ is our page on how to use restic with Velero.

[2020-11-18 21:41] asoltesz commented on #2520
I have the same issue but with OpenEBS local volumes.

The backup itself happens properly. (I have checked the S3 bucket and the content seems to be there based on file sizes).

Restore simply creates new, empty PVs (not even from the same storage class as it was before backed up) and doesn't run Restic on them. It should:
- Create volumes from the SAME storage class as the ones it backed up (mayb

[2020-11-18 21:45] survivant commented on #3082
sorry I had to leave.  Time to make diner.   it's my first time playing with velero and openebs.

at first, I didn't install OpenEBS plugin, but I got PVC stalled at pending.  Dev team from OpenEBS told me that I have to use the plugin, because the plugin added a initContainer that will do some work before restoring the backup (something like that).

maybe the docs were not up to date on there sid

[2020-11-18 21:49] survivant commented on #3082
I was trying to follow that tutorial : https://blah.cloud/automation/using-velero-for-k8s-backup-and-restore-of-csi-volumes/

and when I got the pvc at pending, I chatted with OpenEbs team on slack

[2020-11-18 23:57] carlisia opened #3098 "Add a column to BSL/VSL to indicate the validation period"

[2020-11-19 01:28] ashish-amarnath commented on #3094
This is definitely a bug.
The correct fix is to not delete the Backup from the object store when there are errors.
In this case, there might have been errors deleting volumesnpshots at https://github.com/vmware-tanzu/velero/blob/main/pkg/controller/backup_deletion_controller.go#L349
And these errors are ignored to eventually delete the backup from the object store at https://github.com/vmware-tanz

[2020-11-19 01:34] ashish-amarnath commented on #3094
I am closing this as a duplicate of #2980
I've copied a link to my above comment into my code review of #2993

[2020-11-19 13:48] basavarajb commented on #3086
is there any way to install veleo using .yaml and substituting credentials.
If it is there please let me know with sample yaml file

[2020-11-19 16:35] carlisia opened #3099 "Add a column to volume snapshot location to indicate which one is the default"

[2020-11-19 16:51] ashish-amarnath commented on #3094
https://github.com/vmware-tanzu/velero/pull/2993#issuecomment-730440597
Based on this comment reopening this and work on a fix for this.

[2020-11-19 18:35] ashish-amarnath commented on #3086
You can run the `velero install` command with the `--dry-run -oyaml` flags to generate the yaml and then apply it yourself.
But I would like to understand why this isn't working for you.
Can you please follow the below troubleshooting steps:
1. Confirm that velero deployment is mounting the `cloud-credentials` secret:
[code]
1. Confirm that the `cloud-credentials` secret exists and has the correct

[2020-11-19 19:12] asoltesz commented on #2520
@skriss This seems to be a serious bug. Can we expect a fix?

[2020-11-19 21:10] #3040 closed

[2020-11-19 21:19] #2348 closed

[2020-11-19 21:27] ashish-amarnath commented on #2520
@asoltesz Steve doesn't work on the project. We will investigate this and prioritize it accordingly.

[2020-11-20 04:17] travnewmatic commented on #2520
i'm also experiencing this issue, though i'm trying to change storageclasses in the process.

source pv is using 'local-storage' storageclass
destination is using 'longhorn' storageclass

the backup appears to be created properly

the restore will create a longhorn pv/pvc.. but its empty.  and neither restic nor velero pods seem to be busy doing anything (like moving data around)

i've created a c

[2020-11-21 09:10] basavarajb commented on #3086
Installed the velero with below command

velero install --provider azure
--plugins velero/velero-plugin-for-microsoft-azure:v1.1.0
--bucket velero --secret-file ./credentials-velero
--backup-location-config resourceGroup=$BACKUP_RESOURCE_GROUP,storageAccount=$BACKUP_STORAGE_ACCOUNT_NAME --snapshot-location-config apiTimeout=5m,resourceGroup=$BACKUP_RESOURCE_GROUP --wait

I getting error as mention

[2020-11-21 11:50] asoltesz commented on #2520
@ashish-amarnath : Thanks. This is currently a blocker for me so any workaround is appreciated.

[2020-11-21 15:58] asoltesz commented on #2942
I also have this error message but manual backup execution doesn't work either and prints the same error message during backup.

Upgraded from 1.4.0.

Reverting the installation back to 1.4.0 resolves the problem. Helm chart is installed in both cases with Helm 3 with the same chart-values.yaml.

[2020-11-21 17:38] maikeldotuk commented on #2520
What work for me (local storage is what I use) is to create first the local storage (different yaml file with the pv and pvc) then restore a velero backup. This is the only way I've managed to get the backed up files back in there from a blank folder.

It's quite annoying though. It shouldn't be a hack.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: asoltesz

[2020-11-22 08:39] doronmak opened #3103 "Velero phase is failed but taking backup."
I'm running velero on azure when I run backup describe [NAME]
I got  failed (run `velero backup logs 221120200940` for more information)
but when I see the log there's no error msg only msg like
Found associated CRD backups.velero.io to add to backup" backup=velero/221120200940 logSource="pkg/backup/backup.go:500"
time="2020-11-22T07:38:29Z" level=info msg=" Skipping item because it's already been

[2020-11-22 08:49] doronmak opened #3104 "velero needs to support git feature"
today velero don't support backup the YAML file to the git server
I would like if it supports to add the backup to a repository
add support to the public git server and standalone server.
Bitbucket \ github \ gitlab and more
I think its a super feature and can add more users to the velero community

[2020-11-22 09:17] ashish-amarnath commented on #3086
This is most likely because the plugin is running out of memory.
Can you please increase the memory resource limits on the Velero pod and try again?
Instructions for doing that are available at https://velero.io/docs/v1.5/customize-installation/#update-resource-requests-and-limits-after-install

[2020-11-23 06:21] chencivalue opened #3105 "One of the PVs is not included in the backup - AKS"
**What steps did you take and what happened:**
Im using AKS  and I ran `velero backup create dbt-prod-20201123-20-leaves --ttl 1440h0m0s --include-namespaces dbt-production` and one of the PVs wasn't included in the backup

**What did you expect to happen:**
Taking snapshots for all the PVs in the namespace

**The output of the following commands will help us better understand what's going on**:

[2020-11-23 07:07] ruanchen commented on #3078
@nrb Hi, is there any plans about the feature?
thanks.

[2020-11-23 07:36] jenting commented on #3098
Will the flag `--store-validation-frequency` be deprecated under `velero server`?
Because there is a flag `--validation-frequency` under `velero backup-location create` already.