[2022-07-02 08:42] drewboswell commented on #5048
I'm doing volume snapshots of 500GB-3TB volumes, given the rate of data change one snapshot a day takes 10-30min currently. In these or more extreme cases it makes sense to externalise and time this timeout config.

[2022-07-02 08:45] drewboswell commented on #5048
The worst thing about this is that it times out to partially failed but the Aws volume snapshot actually completes. This means the backup was made but the reference is unusable from velero.

[2022-07-04 02:26] Lyndon-Li commented on #5067
@ippon-orion Then you can solve the problem either by removing the "`--selector`" from "`backup create`", or specifying the same label "`app-cluster-pprod`" to your statefulset.

[2022-07-04 03:33] Lyndon-Li opened #5071 "File System Uploader - Connect to Unified Repo"
Epic: #5050
Design Doc: #4926

Add the code to connect to Unified Repository during PodVolume Backup, Restore, Backup List, Backup Deletion, etc.

[2022-07-04 03:47] Lyndon-Li opened #5072 "File System Uploader - Kopia Shim"
Epic: #5050
Design Doc: #4926

Add the code for Kopia Shim, include:

- Implement Kopia Repository interfaces
- Convert Kopia Repository structures to Unified Repository structures
- UT

[2022-07-04 04:05] Lyndon-Li opened #5073 "File System Uploader - Backup"
Epic: #5050
Design: #4926

Add the code for File System Uploader backup, include:

- Setup Kopia Uploader for Velero, i.e. Kopia Uploader options and policies for backup
- Call Kopia Uploader to back up a specified path
- Backup snapshot information design, preservation and retrieve
- Backup output to upper layer
- Backup progress monitor and adapter
- UT design and implementation

[2022-07-04 04:08] Lyndon-Li opened #5074 "File System Uploader - Restore"
Epic: #5050
Design: #4926

Add the code for File System Uploader restore, include:

- Setup Kopia Uploader for Velero, i.e. Kopia Uploader options and policies for restore
- Call Kopia Uploader to restore from a specified snapshot ID
- Restore output to upper layer
- Restore progress monitor and adapter
- UT design and implementation

[2022-07-04 04:11] Lyndon-Li opened #5075 "File System Uploader - Debug Log"
Epic: #5050
Design: #4926

Add the code to output Kopia Uploader's debug log to Velero's log, include:

- Select and setup Kopia log modules
- Implement Kopia log interface

[2022-07-04 04:14] Lyndon-Li opened #5076 "Unified Repository - Unified Repository Interface"
Epic: #5050
Design: #4926

Design Unified Repository interfaces, include BackupRepoService and BackupRepo

[2022-07-04 04:19] Lyndon-Li opened #5077 "Unified Repository - BackupRepoService"
Epic: #5050
Design: #4926

Add the code to implement BackupRepoService functions along with UT:

- Init
- Connect
- Open
- Full Maintenance
- Quick Maintenance
- Maintenance Policy

[2022-07-04 04:21] Lyndon-Li opened #5078 "Unified Repository - BackupRepo"
Epic: #5050
Design: #4926

Add the code to implement functions into BackupRepo and its derived interfaces into Kopia Library along with UT, include:

- BackupRepo
- ObjectReader
- ObjectWriter

[2022-07-04 04:31] Lyndon-Li opened #5079 "Unified Repository - Repository Provider"
Epic: #5050
Design: #4926

Add the implementation of Unified Repository Provider, include:

- List all snapshots by specified filters
- Delete a snapshot by a specified snapshot ID
- Get repository information
- UT

[2022-07-04 04:33] Lyndon-Li opened #5080 "Unified Repository - Configurations"
Epic: #5050
Design: #4926

Add the code to config Kopia Repository, include:

- Storage Config: Add the code to accept Velero StorageConfig struct from upper layer and set to Kopia Repository.
- Cache Config: Investigate Kopia Cache behavior and options and decide the options set for Unified Repository.
- UT

[2022-07-04 04:39] Lyndon-Li opened #5081 "Unified Repository - Debug Log"
Epic: #5050
Design: #4926

Add the code to output Kopia Repository debug log to Velero's log, include:

- Select and setup Kopia log modules
- Implement Kopia log interface

[2022-07-04 04:45] Lyndon-Li opened #5082 "Velero Kopia Integration - Performance Test & Tuning"
Epic: #5050
Design: #4926

Do e2e performance testing and tuning after Kopia Uploader & Unified Repository is integrated, include:

- Prepare testing environment
- Code changes for performance tuning
- Generate benchmarks and performance guidance doc

[2022-07-04 05:40] Lyndon-Li opened #5083 "Velero Kopia Integration - Upgrade Verification & Guide"
Epic: #5050
Design: #4926

Provide a upgrade guide and make sure it works for users using CLI, where he can upgrade velero to v1.10, incl. update the server cli parameters, renaming CRD etc without having to uninstall velero and remove all the CRs in velero's namespace.

Some scenarios need to cover:

- Create backup & restore of a namespace with the old build
- Upgrade to v1.10
- Create (schedule

[2022-07-04 05:42] Lyndon-Li opened #5084 "Velero Kopia Integration - Helm Chart Install/Upgrade"
Epic: #5050
Design: #4926

Add the code change of Helm Chart Install/Upgrade for Velero Kopia Integration, include:

- Apply the new flags to Velero server
- Apply the new daemonset name, Restic daemonset to VeleroNodeAgent daemonset

[2022-07-04 05:46] Lyndon-Li opened #5085 "Velero Kopia Integration - Backup/Restore Describe CLI Change"
Epic: #5050
Design: #4926

Change the name and output of Velero CLI for Velero Kopia Integration, include:

- Velero backup describe
- Velero restore describe

[2022-07-04 05:54] Lyndon-Li opened #5086 "Velero Kopia Integration - Backup Sync"
Epic: #5050
Design: #4926

Add the code change to support for Velero Kopia Integration, include:

- Sync backup created by different paths
- Sync old backup under the new release
- UT

[2022-07-04 06:50] #5059 closed

[2022-07-04 06:53] Lyndon-Li commented on #5060
@lybh2022 Please let us know if skipping calico work after you've done the test. Thanks.

[2022-07-04 07:07] Lyndon-Li commented on #4944
Closing this stable issue, if more help is needed, please reopen it. Thanks.

[2022-07-04 07:07] #4944 closed

[2022-07-04 07:08] Lyndon-Li commented on #4853
Closing this stable issue, if more help is needed, please reopen it. Thanks.

[2022-07-04 07:08] #4853 closed

[2022-07-04 07:08] Lyndon-Li commented on #4852
Closing this stable issue, if more help is needed, please reopen it. Thanks.

[2022-07-04 07:08] #4852 closed

[2022-07-04 07:08] Lyndon-Li commented on #4845
Closing this stable issue, if more help is needed, please reopen it. Thanks.

[2022-07-04 07:08] #4845 closed

[2022-07-04 08:19] navilg opened #5087 "Restore stuck using restic - Volumes identified by podname"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I had deleted a deployment, pvc and a configmap in a namespace. Many pods running in same namespace controlled by a controller (deployment or rs) were restarted either by deleting pod directly or rollout restart.

When I tried to restore the deployment, pvc and configmap

[2022-07-04 09:02] ywk253100 opened #5088 "The "Restic Backups" count in the output of "velero backup describe" is incorrect"
Try to back up Harbor without Redis PV by labeling it with:
`kubectl label pv/pvc-7f803502-07ca-49cd-971c-e9a9bb8a27f1 velero.io/exclude-from-backup=true`

Describe the backup after backing up with Restic:
[code]

With `--details`:
[code]

Actually there are only 5 PVs being backed up, but the `Restic Backups` section says it's 8
**Vote on this issue!**

This is an invitation to the Velero communi

[2022-07-04 09:58] #5088 closed

[2022-07-04 12:25] crdemon09 opened #5090 "Missing custom label in scheduled backup"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

1. Create a schedule policy
2. Insert a custom label to a backup object while backup is In Progress
3. See the backup completed
4. check velero-backup.json file inside backup folder
Result: custom label is missing in velero-backup.json
**What did you expect to happen:**

[2022-07-04 14:54] euclidsun commented on #5042
Many users are using Velero as the generic BR solution for k8s, and expecting it could just work as charming.
However, the reality is, k8s could be very complicated in many ways, there are some B/R use cases could not be supported well by velero today.

current we have some doc describe the limitations, for example: https://velero.io/docs/v1.9/restic/#limitations

but it is only for restic, there

[2022-07-04 15:18] euclidsun commented on #5035
found more SKIP backup requirements, we should consider all cases and comeup with a generic way to handle skip:

https://github.com/vmware-tanzu/velero/issues/957  skip restic backup/restore: not backup the PV data, but backup the cluster state.
https://github.com/vmware-tanzu/velero/issues/4129  Exclude folders for backing up
https://github.com/vmware-tanzu/velero/issues/2413 Namespace skip (this

[2022-07-04 15:24] euclidsun commented on #5035
so in summary, the requirements of skip:
- option to skip all PV data
- option to skip specified PV type (inline, nfs)
- option to skip specified PV size
- option to skip folders  ( I think this could be lower priority than others given we will evolve to snapshot/cbt based backup)

[2022-07-05 03:40] reasonerjt opened #5092 "E2E test for backup and restore workload using kopia"
This is a p1 task, due to the dependency on the progress of kopia integration.

According to the design we are gonna reuse the existing CRs for both Restic and Kopia backend, we may simply reuse Restic TC to verify the basic kopia workflow in E2E test, with minimal change in the installation and CLI commands.

[2022-07-05 03:57] reasonerjt opened #5093 "Renaming the restic parameters in CLI and resources"
Per the design of unified backup repository, the daemonSet should be renamed to `node-agent`

There are parameters in installation and other subcommands of velero for restic support.  We need to rename them to more neutral terms, and add new parameters for kopia as needed.

[2022-07-05 05:58] reasonerjt opened #5094 "Rename restic related func name and variables in the code."
This issue is opened to make sure that along with the dev for unified repo support.  All the code in the shared path for both kopia and restic, including those in backup and restore controller and CLI, should be properly renamed to make sure it's not focused on Restic to avoid confusion in future.

It's relatively tricky to make sure all the code is cleaned up, we'll open new issue as tiny bugs to

[2022-07-05 08:32] reasonerjt opened #5095 "podvolumebackup controller to handle different uploader-types"
Make sure the podvolumebackup controller will trigger different code path based on the `uploader-type` of the CR.

[2022-07-05 08:36] reasonerjt opened #5096 "podvolumerestore controller to handle different uploader-types"
Make sure the podvolumerestore controller will trigger different code path based on the uploader-type of the CR.

[2022-07-05 09:08] reasonerjt opened #5097 "Backup RepositoryController to handle different repository type"
Make sure the Repository controller (currently named resticrepostorycontroller) can handle different types of repository types based on the CR, and optionally pass the storageconfig to the repositorymanager.

It should also trigger maintenance based on the repository type.

[2022-07-05 09:29] reasonerjt opened #5098 "Handle the "restic" subcommand."
Currently, the `restic` subcommand of velero only supports `repo get`, we need to make it repo-neutral.

Incl. renaming the subcommand, and maybe output more information to reflect different types of repos.

[2022-07-05 09:32] reasonerjt commented on #5086
This may cause conflict with the task to refactor backup sync controller with kubebuilder v3.
We'll sync with @blackpiglet when start working on this.

[2022-07-05 12:16] Lyndon-Li opened #5099 "Unified Repository - Handle Azure Domain Correctly"
For Azure cloud storage, add the Azure Domain variable into Unified Repository's storage configuration, so that [this issue](https://github.com/vmware-tanzu/velero/issues/3386) doesn't happen for Unified Repository.

[2022-07-05 14:28] shaynagar1 opened #5100 "velero-plugin-for-aws lateast version (V1.5.0) image docker is failed to mount"
**What steps did you take and what happened:**
Creating a docker file from existing latest image (v1.5.0) and creating container using containerd on linux platform

**What did you expect to happen:**
Working docker container but I got the following error:
[code]

**Anything else you would like to add:**
I think that for some reason this image was build with wrong platform parameter.
In addition, p

[2022-07-06 01:26] ywk253100 commented on #5100
We changed the base image to `scratch` in v1.5.0 to keep the image thin and contain fewer vulnerabilities. The image contains nothing except the plugin go binary, so no `/etc/passwd` file is there inside the container.

BTW, why do you create an image based the plugin? What's your use case? Does the plugin work with Velero as expected?

[2022-07-06 01:36] ywk253100 commented on #5090
You can use `--labels` option to custom the scheduled backup when creating the schedule.

[2022-07-06 02:18] lybh2022 commented on #5060
Hi,
I don't find the way to exclude the calico namespace in my restore. I am doing cluster resource backup/restore

[2022-07-06 08:06] #5100 closed

[2022-07-06 23:03] #4834 closed

[2022-07-07 04:18] adriananeci commented on #4738
/remove-lifecycle-stale

[2022-07-07 05:02] cwyj opened #5102 "velero‘s restic daemonset cannot support Virtual-hosted–style"
**What steps did you take and what happened:**
i try to backup pvc volume to TencentCloud cos by velero --use-restic，but path-style url is used by restic default and  TencentCloud support Virtual-hosted–style only.
Restic use -o s3.bucket-lookup=dns support Virtual-hosted–style(https://github.com/restic/restic/pull/2535)，but i cannot set option for velero‘s restic daemonset.
velero‘s restic daemon

[2022-07-07 08:15] h4wkmoon commented on #1333
The workourand is still to delete velero pods. Be sure to run it when there are no backups.

[2022-07-07 11:30] blackpiglet commented on #5006
Closed for no response. Welcome to reopen, when your problem is still not resolved.

[2022-07-07 11:30] #5006 closed

[2022-07-07 17:11] migs35323 opened #5103 "velero-plugin-for-csi: docker file cp command broken"
version 0.3.0 (currently the latest one)

the pod was crashing in kubernetes so i manually grabbed the docker file and tried to run it, i get this output:
cp: can't create '/target/./velero-plugin-for-csi': Permission denied

[2022-07-08 05:55] zarafree opened #5105 "Security Vul due to go version 1.17.8 in velero-v1.8.1 version"
Description:
We are using one of Debian image and on top of that we are installing velero version 1.8.1. We are facing issue with GO version and found some vul w.r.t go version. To fix this issue, go version should be updated to 1.18.4. We tried to update go version individually but didn't work. Go version bound with Velero tar file itself as we are installing through curl (through docker file) in

[2022-07-08 05:56] zarafree commented on #5105
For example : CVE- 2022-29804

[2022-07-08 06:39] Lyndon-Li opened #5106 "File System Uploader - Incremental Backup"
Add the code to trigger Kopia Uploader's incremental backup
Verify the behavior is correct for the incremental backup, for example, backup size should comply with data change
Verify data could be restored correctly from an incremental backup
Verify data could be restored correctly from an incremental backup whose parent backup has been deleted

[2022-07-08 09:10] reasonerjt commented on #5045
@stefnats
That log message means the plugin `RemapCRDVersionAction` was skipped, which is expected behavior for the 1.22+ k8s cluster.

[2022-07-08 10:16] euclidsun commented on #5035
it does not have to be a specific type defined here: https://kubernetes.io/docs/concepts/storage/volumes/

typical user story:
- as a platform operator, i know what backend storage i am using, so i want an easy way to skip the certain type storage being backup by velero.

Would it be better by using name of StorageClass? Platform operator should know well how many storage class they offer to appli

[2022-07-08 10:41] pinlast opened #5116 "[Azure] Add AAD Workload Identity support"
**Describe the problem/challenge you have**
We are using AAD Workload Identity for granting permissions in our azure k8s. And seems like there is no support for it in velero. Only for getting permissions from file or env.
Considering Azure is going to deprecate pod identity for workload identity that would make sense.

**Describe the solution you'd like**
Add AAD Workload Identity support, getting

[2022-07-08 15:21] ippon-orion commented on #5067
Hello,

My issue has been solved according to your suggestions, thanks again, it's an misunderstand on my side.

[2022-07-08 18:17] sheid1309 commented on #5045
I have just met an error like @stefnats . The latest lines of velero logs are the same as you. Actually, my real issue is comes from the `VolumeSnapshotClass` because it does not have the label `velero.io/csi-volumesnapshot-class: "true"`

@stefnats can you please run this command to check if it returns any error ?
`velero backup logs rabbitmq-backup | grep error`

[2022-07-08 19:32] #5056 closed

[2022-07-10 17:56] reasonerjt commented on #4815
For runtime errors it does not implement the interface [stackTracer]  (https://github.com/vmware-tanzu/velero/blob/release-1.9/pkg/plugin/framework/server_errors.go#L83)
For the best effort, we should probably dump the current stack trace as the plugin runs in the same go routine.

If I manually create a nil pointer the log would look like

`
time="2022-07-11T01:39:11+08:00" level=error msg="Error

[2022-07-11 01:15] ywk253100 commented on #5103
Cannot the pod be restarted automatically? Why did you run the container manually?

[2022-07-11 01:57] ywk253100 commented on #5105
According to https://security-tracker.debian.org/tracker/CVE-2022-29804, it only affects Go on Windows, Velero isn't compiled with Windows Go, so it doesn't affect Velero

[2022-07-11 02:39] SchoIsles opened #5111 "can move internal/credentials to pkg/credentials ?"
I want to import pkg/restic in my project.
but pkg/restic/repository_manager.go has imported "github.com/vmware-tanzu/velero/internal/credentials",
the velero's internal pkg can't be loaded in my project,
should we move the internal/credentials to pkg/credentials

[2022-07-11 03:29] reasonerjt commented on #5111
We don't have such plan.
And please be reminded that to incorporate the [unified repository design ](https://github.com/vmware-tanzu/velero/pull/4926)
The whole workflow, including the codepath for restic will be heavily reworked.

[2022-07-11 03:53] blackpiglet commented on #4862
@sseago
After this change, Looks like VSL could use different credential from BSL.
Per my understanding, plugins also need to adopt this this change to make it work, right?
Currently, GCP plugin cannot work, if BSL doesn't use the default credential. Azure and AWS plugins share the credential from BSL.

[2022-07-11 04:05] Ankita5892 opened #5113 "few backup which has emptyDir volume in pod stuck on openshift cluster using velero restic"
**What steps did you take and what happened:**
followed Version: v1.5.2 velero vesrion official article
below is command to install velero on openshift

velero install --provider aws --bucket <s3 bucket name > --secret-file <credentials file path> --backup-location-config region=<like eu-west-1> --use-restic --use-volume-snapshots=false --plugins=velero/velero-plugin-for-aws:v1.1.0 --velero-pod-cp

[2022-07-11 08:16] reasonerjt commented on #5102
First, we'll see whether in kopia integration we can fix it.

For Restic, I don't think current `repoID` has such information to help restic?  If that's the case, we'll first try to fix the kopia part leveraging the `storage-config` or information in BSL.

[2022-07-11 08:24] cwyj commented on #5102
i have resolved this problem by replacing restic in velero image.
write a shell script named restic like "/usr/bin/restic2 -o s3.bucket-lookup=dns -o s3.region=ap-guangzhou $*".
/usr/bin/restic2 is original binary executable file in velero image.

[2022-07-11 09:13] SchoIsles commented on #5111
Thanks!

[2022-07-11 09:13] #5111 closed

[2022-07-11 10:51] migs35323 commented on #5103
i am trying to run the plugin in a raspberry pi cluster, ARM64
i cloned the repo, used the make file trying to build the image and when i tried to run in it doesn't work (some fork exec error ), so i tried to manually run the docker hub container in my local machine to troubleshoot and got the above result
from what i could gather the only thing the container does is to copy the plugin file to the

[2022-07-11 11:21] Ankita5892 commented on #5113
#restic #openshift

[2022-07-11 14:47] #4815 closed

[2022-07-11 15:23] vineetsingh5 opened #5115 "Backup log getting corrupted consistently"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I am creating cluster backup including pv using velero(v1.9.0) + csi (velero-plugin-for-csi:v0.3.0). Backup is getting successful but backup log format if getting corrupted with error **invalid compressed data--crc**. I am using plugin (https://github.com/vmware-tanzu/ve

[2022-07-12 06:39] laugmanuel commented on #5115
I'm using Velero 1.9.0 as well but together with Velero-Plugin-for-AWS 1.5.0 with exactly the same problem:
`velero backup logs <name>` and `velero backup describe <name> --details` hangs endlessly. When enabling Velero debug logging, I see the following:
[code]

With Velero 1.8.1 and AWS-Plugin 1.4.1 everything worked fine.

[2022-07-12 07:05] #4861 closed

[2022-07-12 07:06] #4868 closed

[2022-07-12 07:48] zarafree commented on #5105
Thank you for your reply. Okay, we can skip it then. But we have multiple below vul found due to existing go version in velero. Can you please suggest on this?

CVE-2022-1962
CVE-2022-28131
CVE-2022-30633
CVE-2022-30635

[2022-07-12 07:49] crdemon09 commented on #5090
@ywk253100  I want to modify backup label created by schedule and not set schedule backup.

[2022-07-12 08:31] Ankita5892 commented on #3812
for me in openshift same issue its stuck for emptyDir pod volume see this https://github.com/vmware-tanzu/velero/issues/5113

[2022-07-12 14:00] sseago commented on #5113
How long was the backup running? From the logs it looks like the backup was waiting for the BackupStorageLocation to be valid. Maybe an issue with your s3 bucket?

In any case, 1.5 is an old version of Velero. 1.9 was just released. It's probably better to try again with a newer version and see if you're still having problems.

[2022-07-12 16:08] reasonerjt commented on #5115
@vineetsingh5 so you mean you are using a customized plugin to download the logs?  Please check the `go.mod` history, b/c we bumped up some dependencies of the plugin framework, I feel that may have caused this problem.

@laugmanuel I used this command when I was testing velero v1.9 and I don't recall I saw any problems like this.  Could you clarify if you installed velero using the official build

[2022-07-12 17:24] vineetsingh5 commented on #5115
@reasonerjt yes I am using example plugin here https://github.com/vmware-tanzu/velero-plugin-example/blob/main/internal/plugin/objectstoreplugin.go
I checked other files like podvolumebackups.json.gz/resource-list.json.gz .. and only log file is getting corrupted

Also, I checked go.mod file and match all dependencies with dependencies available in lated velero go.mod file. Also I had regenerated

[2022-07-13 09:11] laugmanuel commented on #5115
@reasonerjt, the same command also fails for backups created with Velero v1.9.0. We are running the official images (`velero/velero:v1.9.0` and `velero/velero-plugin-for-aws:v1.5.0`).
I just had a look into the target S3 bucket and checked the latest logs file. After gunzip, I can read the file and it seems to be valid and contain all relevant information (log of every resource backed up). It also

[2022-07-13 09:59] droslean opened #5117 "Error creating resource CustomResourceDefinition/backups.velero.io: the server could not find the requested resource"
[code]

Error output from level 9 verbose:
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Velero version (use `velero version`):
[code]
- Velero features (use `velero client config get features`):
[code]
- Kubernetes version (use `kubectl version`):
[code]

[2022-07-13 17:33] sseago commented on #5113
Were any of the pods that succeeded restic backups running on the same node as the failing pod? The PVB is in a "new" state still, which seems to indicate that Restic isn't even trying to back it up. If you look at the pod logs for the restic pod that should have processed the PVB, maybe there is some indication of what went wrong.

[2022-07-13 17:59] sseago commented on #4862
@blackpiglet Yes, plugins need to be modified to look for the VSL credentials field like they already do for BSL credentials. The AWS plugin already has this support (this PR allows AWS to use non-default credentials for VSL). Azure will need the same change. I haven't looked at GCP recently, but from what you're saying, it sounds like GCP needs to be adapted for both BSL and VSL credentials.

[2022-07-13 18:10] rajivml commented on #5115
any thoughts on how to get away with this, only the backup log is getting corrupted rest all logs were intact

[2022-07-14 02:34] ywk253100 opened #5118 "Support filter the resource by name during the backup"
Currently, the `--include-resources` option of `velero backup create` command only supports specifying the resource type, but there are requirements that only need to back up a specified resource.

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Ais

[2022-07-14 05:38] Ankita5892 commented on #5113
Hi @sseago yes succeeded and stuck both backup's pod are running similar nodes

which pod is stuck that logs are clean i don't see any error

ubuntu@:~$ kubectl logs -f pod-identity-webhook-7fdfd9b5d8-t6s5q -n openshift-cloud-credential-operator
W0714 04:14:02.115927       1 client_config.go:551] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
I07

[2022-07-14 05:41] Ankita5892 commented on #5113
this is the logs from 1.9 velero's pod once backup stuck it will start showing below logs

time="2022-07-14T05:40:05Z" level=debug msg="waiting for stdio data" backup-storage-location=velero/default cmd=/plugins/velero-plugin-for-aws controller=backup-storage-location logSource="pkg/plugin/clientmgmt/logrus_adapter.go:75" pluginName=stdio
time="2022-07-14T05:40:05Z" level=info msg="Validating Back

[2022-07-14 05:50] Ankita5892 commented on #5113
Same setup is working fine for Azure, Aws and GCP only i am facing issue with Openshift cluster

[2022-07-14 06:40] half-life666 opened #5119 "problem on backup cluster scoped resource and namespaced resource together"
**What steps did you take and what happened:**
1. Take a backup with one namespace and one cluster resource, e.g., storageclass or clusterroles
2. If the user  want to backup pvc/pv and the data from pv, the user has to specify `persistentvolumes` in `includedResources`
below is an example yaml:
[code]
This setup can backup the pvc/pv from the specified namespace, however, it will introduces a few

[2022-07-14 07:31] blackpiglet commented on #5010
Close by now. If problem is still there, please reopen for trace again.

[2022-07-14 07:31] #5010 closed

[2022-07-14 07:32] #4470 closed

[2022-07-14 08:18] reasonerjt commented on #5117
please try using a new version, maybe it's b/c velero v1.2.0 is using v1b1 CRD which is removed in the new version of k8s.

[2022-07-14 08:53] #5117 closed

[2022-07-14 09:10] 27149chen commented on #5118
+ velero restore for the same requirement

[2022-07-14 09:45] 27149chen opened #5120 "Support cluster resource Includes/Excludes"
**Describe the problem/challenge you have**

The current filter (IncludedResources/ExcludedResources + IncludeClusterResources flag) is not enough for some special cases, such as:
1. all namespaced resources + some kind of cluster resource
2. all namespaced resources + cluster resource excludes
3. no namespaced resources + all cluster resources

**Describe the solution you'd like**

Add new field

[2022-07-14 13:15] sseago commented on #5113
@Ankita5892 Could you also supply the restic pod logs for the pod that failed backup? You need to find the restic pod that's running on the same node as the pod with failed pod volume backups. It's not clear from the above whether there were successful and failed volumes on the same node. It might be worth also looking at the restic pod logs for the restic pod on the same node as a successful volu

[2022-07-14 13:19] Ankita5892 commented on #5113
@sseago so its openshift cluster so we have 3 master and 3 worker nodes and many pods are running on worker nodes and master node but restic pods count is only 3 which is for worker nodes.

and which backup is stuck that pod is running on master node

[2022-07-14 14:37] sseago commented on #5113
OK. So yes, this is starting to make some more sense now. DaemonSets can't be scheduled on master nodes by default. In the OADP context, this is not normally a problem since the default openshift operators that run on master nodes are considered part of the control plane rather than user workloads, which is out-of-scope of the supported OADP use cases. You might be able to succeed in a restic rest

[2022-07-15 01:07] Lyndon-Li opened #5123 "Velero Kopia Integration - Don't support Self-signed Certificate for S3 Compatible Storage"
Some S3 compatible storage provides secure connection with self-signed certificate.
The Restic path supports this already since restic accepts a flag in all its related CLIs, so that the caller could provides a certificate file.
However, the Kopia path doesn't support this at present, because the backend Kopia repository doesn't accept a certificate file. There is a Kopia issue https://github.com/

[2022-07-16 02:37] blackpiglet opened #5126 "Replace shortcut_expander.go package in third_party directory with client-go"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
This package (github.com/vmware-tanzu/velero/third_party/kubernetes/pkg/kubectl/cmd/util/shortcut_expander.go) should be replaced with client-go's same package (https://github.com/kubernetes/client-go/blob/master/restmapper/shortcut.go)

By far, the methods from the two p

[2022-07-18 03:03] reasonerjt commented on #5115
@vineetsingh5
It's difficult for me to debug b/c you are using a custom plugin on your end.
The error message looks very much like you are using a different version of go-plugin library than what's used in velero `v1.9` (we used to see it in our development as well)

If you have verified that this change in commit https://github.com/vmware-tanzu/velero-plugin-for-aws/commit/ec7bdd82687fb4b8fbdad69

[2022-07-18 03:05] reasonerjt commented on #5123
Thanks @Lyndon-Li
Let's make sure this is documented in the release note.

[2022-07-18 03:12] reasonerjt commented on #5120
Agreed that current combination of include/exclude filters of namespace resources and cluster resources causes confusion, IMO, ideally we should clarify that current include/exclude resource filters will only apply to namespace resources and we'll introduce new include/exclude cluster-resource filters for filtering cluster resources

[2022-07-18 06:09] reasonerjt commented on #5119
I think there are 2 aspects for this problem:
1) We should find a way for user not to backup additional PV
2) We need to clarify if this is a valid use case for velero that user may want to backup a PV that will not be mounted to any pods during restore.

[2022-07-18 06:14] reasonerjt commented on #5126
In such case, normally they wanted to overwrite some default implementation and reuse most of it.
We should only replace it with the package in `client-go` after we double checked that the implementations are identical otherwise we should keep it as-is.

[2022-07-18 06:28] reasonerjt commented on #5118
IMO this is a slightly lower priority than https://github.com/vmware-tanzu/velero/issues/5120
as it feels natural to use label to solve this problem?

[2022-07-18 09:34] huiyichanmian opened #5127 "In version 1.9, the status of BSL is not displayed"
Description：
When I used version 1.9, the created BSL did not have any status, as shown below:
[code]
When I switch to 1.8, the status of BSL is normal, as shown below:
[code]

[2022-07-18 11:22] blackpiglet commented on #5127
@huiyichanmian
Hi, I tried to reproduce this on my EKS environment with Velero v1.9.0, but it didn't happen.
[code]

IMO, this looks like Velero doesn't watch on the BSL. I noticed the unvalidated BSL is in namespace test5. Could you please check whether Velero is configured to watch BSL CR in test5 namespace?

[2022-07-18 16:56] kaovilai opened #5130 "Restic PVC backup may break when a prior backup containing parent restic snapshotID is deleted or expired."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Inspected Velero and Restic code

We are forgetting snapshots in a backup being deleted (maybe TTL expired backup.) in backupDeletionReconciler
https://github.com/vmware-tanzu/velero/blob/9a5c3aceffdabbbd321ad0dd2a2501d061c366f1/pkg/controller/backup_deletion_controller.g

[2022-07-18 20:30] sseago commented on #5127
Also, is Velero installed in "test5" or in "velero"? The BSL needs to be in the same namespace that Velero is installed in.

[2022-07-18 20:34] sseago commented on #5119
@reasonerjt Being mounted by pods isn't the issue. It's only with Restic backups that the PVC/PV must be mounted to a pod for backup/restore to work. For snapshots/CSI, no pods are necessary. The issue above isn't a missing Pod for a PVC+PV but that there's a PV backed up without the corresponding PVC.

[2022-07-18 20:39] sseago commented on #5120
Actually, I think the current excludes/excludes *do* apply to cluster-scoped resources. If you include PersistentVolumes in excludedResources, then I don't think any will be backed up. If you have an includedResources list with both cluster-scoped and namespaced resources, then both sets will be included (but nothing else). The issue here is that once you have an includes list, then nothing outsid

[2022-07-19 01:05] huiyichanmian commented on #5127
velero and BSL are installed in the ”test5“ namespace.

[2022-07-19 01:54] blackpiglet commented on #5126
After checking, there is some modifications in the third_party code. resources and logger are added.

[code]

[2022-07-19 01:54] #5126 closed

[2022-07-19 03:39] 27149chen commented on #5118
I think we should not touch user's resources, and it might cause probelms. Also labels don't work sometimes since resouces owner can revert such changes

[2022-07-19 03:54] 27149chen commented on #5120
The problem is that I do want to set includeClusterResources the true since I need some cluster resources. And the current filter (IncludedResources/ExcludedResources + IncludeClusterResources flag) can not meet most of the cases I mentioned above

[2022-07-19 05:22] huiyichanmian commented on #5127
I found the cause of the problem, which is caused by the inconsistency between the client and server versions.

[2022-07-19 05:22] #5127 closed

[2022-07-19 05:23] huiyichanmian commented on #5127
I found the cause of the problem, which is caused by the inconsistency between the client and server versions.Thank you for your comments.

[2022-07-19 06:28] blackpiglet commented on #5120
@27149chen
I agree with @sseago. `--include-resources` and `--exclude-resources` are not limited to namespace resource.

Usually, Velero backup will not separate resources into namespace and cluster scope. Taking backup resources in namespace `test` as an example, `velero backup create backup01 --include-namespaces=test` this command will backup all namespace resources in namespace `test`, and rel

[2022-07-19 07:09] chrislinan opened #5133 "Move velero backups are gone after move velero to another namespace"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
I moved velero pod and velero related stuffs from default namespace to 'velero' namespace.
Then I connect to velero pod, and execute:`./velero backup get`, but I can not find the backups.
In my cluster, I can still find the old backup cr in the default namespace, they are

[2022-07-19 08:53] blackpiglet commented on #5130
I remember there are similar issues.
Snapshots related to backup will be deleted after backup expires. If related data has no reference after snapshot deleted, data will be pruned after a specific period. This may happen in scheduled backup cases.

[2022-07-19 10:23] 27149chen commented on #5120
it does not meet our requirement, we want to use includeClusterResources flag (according to you words, this is a "bad" flag which I should never use it, otherwise, some unexpected behavior will occur. If so, what's the point of its existence?)

[2022-07-19 10:24] 27149chen commented on #5120
most of them are valid requirements from our customer

[2022-07-19 11:44] Lyndon-Li commented on #5130
It sounds to me that there is no problem with deleting a parent snapshot for Restic. The reason is, the incremental mechanism that is used by Restic is file level instead of block level. Here file level incremental means:

- Restic checks the file's ctime, mtime, inode, etc. to decide whether a file has no change from its parent snapshots
- If the file is not changed, Restic creates a new entry re

[2022-07-19 12:00] blackpiglet commented on #5120
@27149chen
IMO, there are ways to do the similar effect for some of the cases.
* all namespaced resources + some kind of cluster resource: may not have an easy way to achieve this by current parameters. Need to use `--excluded-resources` parameter to list all the other not included resources.
* all namespaced resources + cluster resource excludes: backup all things, except the specified cluster re

[2022-07-19 13:18] vineetsingh5 commented on #5115
@reasonerjt versions changes in this commit https://github.com/vmware-tanzu/velero-plugin-for-aws/commit/ec7bdd82687fb4b8fbdad6940c6626c3546d665b and plugins are same.

I will try other setting and will get back to you

[2022-07-19 14:52] kaovilai commented on #5130
Looking a little further into the code. This is called
[code]
https://github.dev/restic/restic/blob/dba47d29d58813c9d3f523b9e3dd5ece111f1c57/cmd/restic/cmd_forget.go#L227
which calls
[code]
https://github.dev/restic/restic/blob/dba47d29d58813c9d3f523b9e3dd5ece111f1c57/cmd/restic/delete.go#L25

which just calls repo.Backend().Remove()

Looking at s3 backend, it call storage backend [minio.Client.Re

[2022-07-19 15:16] sseago commented on #5120
So setting includeClusterResources to nil *does* include some cluster resources, but it's limited to those resources that are directly relevant to other resources being backed up (this handles the usual needs for PVs, CRDs, etc.) If your use case is "I want all of cluster resources X, Y, and Z but none of A, B, and C" then you can handle that right now by just setting includeClusterResources to `t

[2022-07-19 15:19] sseago commented on #5120
As for "no namespaced resources but all cluster resources", I wonder whether we can handle this by just excluding all namespaces while seting includeClusterResources to `true`. I know that wildcards don't currently work on exclude, and the issue is an empty include list is equivalent to "*" -- what's less clear to me is whether it would work to have includedNamespaces=["foo"] and also have exclude

[2022-07-19 15:27] sseago commented on #5133
This is actually intentional. If you have two different Velero installs in different namespace, each velero will only watch/process CRs in its own namespace.

[2022-07-19 15:32] Lyndon-Li commented on #5130
If we check what are the files to be deleted in the same function a little before calling DeleteFilesChecked, we will see that the files are snapshot files instead of object files.

Code that fill the files to be deleted is [here](https://github.dev/restic/restic/blob/dba47d29d58813c9d3f523b9e3dd5ece111f1c57/cmd/restic/cmd_forget.go#L145):
[code]

The `snapshots` slice comes from [FindFilteredSnap

[2022-07-20 02:03] 27149chen commented on #5120
@sseago @blackpiglet , are we talking about workarounds or a formal solution？

[2022-07-20 02:12] 27149chen commented on #5120
@sseago sorry but I think you do not understand my problem, if includeClusterResources is set to true, all pvs will be backed up, not just the relevant ones, see details in https://github.com/vmware-tanzu/velero/issues/5119

[2022-07-20 02:25] 27149chen commented on #5120
@sseago please test it first before adding this comment, AFAIK, it is a invalid config if an item is both in includes and excludes, and an error will be raised

[2022-07-20 07:00] blackpiglet commented on #5120
@27149chen
We all see your cases' value, and try to find out a way reasonable for all of us.
Just my opinion, IncludedResources/ExcludedResources don't separate resource by two groups depending on whether they are limited in namespace, so there is no need to add two new parameters focusing on cluster-scope things.
I also see there is gap for your need.
`all namespaced resources + some kind of clus

[2022-07-20 07:09] blackpiglet commented on #5063
Need to also consider Item Action progress #5108 in RIA v2.

[2022-07-20 12:47] 27149chen commented on #5120
@blackpiglet  I'm happy if you can find a way to resolve this problem without adding two parameters for cluster resources.

I have listed 16 cases in my issue description, and provided a method that I think is simple and effective. If you can find another way to do it clean and simple, please give your examples.

[2022-07-20 15:00] sseago commented on #5120
So one thing to consider -- if we were to implement your proposal, we'd need a different name. Your proposal doesn't account for the nil value of includeClusterResources -- i.e. only include relevant resources, vs. none vs. all. I think we would still need that even if we added some notion of additional filtering/including. For example, your proposal loses the abiliy to "only include PVs that are

[2022-07-21 04:18] #5130 closed

[2022-07-21 07:35] haslersn opened #5137 "Velero tries to run preHook and postHook on Completed Pods"
I've seen the following error in the logs of my Velero backups:

[code]

`virt-launcher-dns01-qnk9j` is a Pod that is Completed. The KubeVirt VM has been live migrated to another Pod. The Pod `virt-launcher-dns01-qnk9j` is a leftover that stays in Completed state.

**What did you expect to happen:**

Velero restic backup should not run on Completed Pods.

**Environment:**

- Velero server version:

[2022-07-21 07:40] haslersn opened #5138 "Velero runs preHook and postHook on Pods where no backups are configured"
We have Pods created by KubeVirt. KubeVirt automatically sets the following annotations:

[code]

On most of these Pods, we don't have restic backups configured, i.e. there's no `backup.velero.io/backup-volumes` annotation. However, Velero still runs the preHook and the postHook.

**What did you expect to happen:**

Only run preHook and postHook if a backup will be taken.

**Environment:**

- Vele

[2022-07-21 09:13] timbuchwaldt opened #5140 "Update to Velero 1.9.0 breaks restic with custom CA"
**What steps did you take and what happened:**
After updating to Velero 1.9.0 via the Helm chart we saw all Restic backups fail. We use a custom CA Cert for the internal S3 compliant backup stoarge.
The following error is reported:

[code]
A rollback to the 1.8.1 release works perfectly.

The config looks something like this:

[code]

**What did you expect to happen:**
Succesful backups with our c

[2022-07-21 09:22] rrey-aviatrix opened #5141 "volume already bound to a different claim after a restore"
**What steps did you take and what happened:**

I created a sample app to test velero with. It is a statefulset with 1 replicas and a pv of 1GB.
I created the a backup with the namespace scope:
[code]
which is reported completed:
[code]

I tested a disaster recovery by deleting the namespace and running the restore command:
[code]
(restore is performed on same cluster)
The restore ends up in `Part

[2022-07-21 11:59] blackpiglet commented on #5141
I think this is related how PVC and PV is configured for the testing workload.
Could you share the PVC, PV's yaml?
To me, this may happen when the PVC is bound to a specific PV, and the PV's DeletionPolicy is set to Retain. After workload deletion, the specific PV is released, then it is bound to another PVC. At last, when Restoring, the PV cannot be bound to the restored PVC again.

[2022-07-21 15:46] UristMcMiner commented on #4782
Hi, this issue still persists in 1.9.0, and it is a crucial feature to migrate applications to another storage.

[2022-07-22 10:07] Lyndon-Li commented on #5102
Both Restic and Kopia are using minio-go client to connect S3 compatible object storage.

When making a connection, minio-go provides an option for caller to specify the lookup method:
[code]
However, at present Kopia doesn't support this itself, so when using Kopia, we don't have a way to specify the method.

[2022-07-22 10:13] Lyndon-Li commented on #5102
Restic supports this by specifying the `s3.bucket-lookup` option.
Therefore, in order to fix this problem for Restic path, Velero needs to add a new CLI flag to expose the same and then deliver user's selection to Restic CLI.

[2022-07-22 14:15] chrislinan commented on #5133
Hi @blackpiglet
Thanks for your help. Actually, when I search in the velero log, I found that velero will sync the missing backup cr from object store. Then Velero will delete the backup cr which is beyond the TTL. That makes sense.

[2022-07-22 14:15] #5133 closed

[2022-07-23 03:13] blackpiglet commented on #5137
Thanks. Velero should check pod status before running backup hook commands

[2022-07-23 03:17] blackpiglet commented on #5138
Hooks and Volume backup are not tied together.
I think your case is valid, but Velero doesn't work like that. Could you work around by filtering the pods not need volume backup.

[2022-07-23 13:05] 27149chen commented on #5120
@sseago please give you resource filter spec for every case as I did in the description so that we can discuss one by one to see the gap

[2022-07-24 11:04] vineetsingh5 commented on #5115
@reasonerjt
1. When is used plugin `velero-plugin-for-aws v1.5` and `velero v1.9` with minio, I can see log file as well as I can read log using `velero backup logs <backup-name>`
2. I also tested `velero v1.9` with plugin available https://github.com/replicatedhq/local-volume-provider, I can read log details using `velero backup logs <backup-name>` but when I tried to check log file stored on NFS

[2022-07-24 11:14] vineetsingh5 commented on #5141
@blackpiglet I faced similar issue when tried to restore rabbitmq cluster. Here is the pv and pvc yaml

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    pv.kubernetes.io/bind-completed: "yes"
    pv.kubernetes.io/bound-by-controller: "yes"
    volume.beta.kubernetes.io/storage-provisioner: driver.longhorn.io
    volume.kubernetes.io/selected-node: server0
  creationTimestamp

[2022-07-25 05:51] gsadhani opened #5146 "Restore of CRD failed when restoring from cluster of version 1.19 to a cluster of version 1.22 with API Group Versions Feature enabled"
**What steps did you take and what happened:**

I tried restoring a backup containing a CRD from a cluster version 1.19 to a cluster of version 1.22. The restore operation failed with error:

[code]

**What did you expect to happen:**
K8s 1.19 supports CRD API [apiextensions.k8s.io/v1beta1](http://apiextensions.k8s.io/v1beta1)  and  [apiextensions.k8s.io/v1](http://apiextensions.k8s.io/v1), K8s 1.

[2022-07-25 06:12] reasonerjt opened #5147 "Cherry pick PR 5122 to v1.9.1"
This issue tracks the work to make sure #5122 is cherry picked to v1.9.1

[2022-07-25 06:30] reasonerjt commented on #5137
Shouldn't a `completed` pod be excluded during backup?

[2022-07-25 07:03] Dizzudin2 commented on #4952
As far as I know, when the backup is stuck, it wont be shown in the logs.

And the only way for me to troubleshoot is to use describe.
[code]

From describe I can see my restic backup is stuck at
[code]

This is due to velero trying to backup with restic on a node without restic daemonsets deployed.

Further details and solution for this is at
https://github.com/vmware-tanzu/velero/issues/2967

[2022-07-25 09:44] mcortinas opened #5149 "Restore in GKE is not working as expected, folder called "mount" is created and all the content is restored inside this folder"
Started working on this in slack community, let me share the thread https://kubernetes.slack.com/archives/C6VCGP4MT/p1658307341547949
previous issues related in this other slack channel https://kubernetes.slack.com/archives/C6VCGP4MT/p1658003621239549

**What steps did you take and what happened:**
Basically I'm trying to do a backup in one GKE cluster (K8s in GCP) in one GCP project and I'm tryin

[2022-07-26 00:50] neelaruban commented on #5115
@reasonerjt

I am seeing similar errors with the latest `velero/velero-plugin-for-aws:v1.2.0 ` and `velero v1.9.0` and also i am unable to view logs for the backups , i have been always receiving the following error

[code]
am i , missing anything here as the documentation is a bit very vague on this

[2022-07-26 02:33] #5140 closed

[2022-07-26 03:17] blackpiglet commented on #5147
I think this is already resolved by #5134

[2022-07-26 13:11] 27149chen opened #5152 "Add new field additionalResources in backup spec"
**Describe the problem/challenge you have**
The current resource filtering mechanism (IncludedResources/ExcludedResources + IncludeClusterResources flag) is not flexible enough to cover some special scenarios

**Describe the solution you'd like**
Add a new field called additionalResources (or rawResources), these resources are not affected by the filtering rules in the spec

[code]

**Anything els

[2022-07-26 15:42] redzioch commented on #474
+1

[2022-07-26 16:32] reasonerjt commented on #5147
Aha, thanks, I'm closing this one then.

[2022-07-26 16:32] #5147 closed

[2022-07-27 05:35] matthiasritter commented on #4557
Hi,
I believe we have the same problem:
- Velero version 1.9.0 (with CRDs in version 1.9.0).
- Azure Velero plugin (version 1.5.0)
- Kubernetes version 1.21.14 (Azure)

`
.... A LOT OF info-msg..... AND AT THE END:
time="2022-07-27T00:02:22Z" level=info msg="Skipping item because it's already been backed up." backup=velero/velero-full-backup-20220727000056 logSource="pkg/backup/item_backupper.go:1

[2022-07-27 05:40] matthiasritter commented on #4557
I just found these lines in the logs:

time="2022-07-25T21:03:18Z" level=error msg="Error getting a backup store" backup-storage-location=velero/default controller=backup-storage-location error="rpc error: code = Unknown desc = azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/XXXXXXXXXXXX/providers/Microsoft.Storage/sto

[2022-07-27 07:16] thirdeyenick commented on #4330
Hi there,
we are facing the same issue. In our case velero is the only application which creates volumesnapshots. We do have schedules which overlap in terms of times and namespaces to back up. We are periodically getting messages like:

[code]

It seems that during a backup run of one schedule, old snapshots are being removed from a run of another schedule.

[2022-07-27 07:23] matthiasritter opened #5154 ""unexpected fault address" when executing velero backup-location get --default -oyaml"
**What steps did you take and what happened:**
I executed the following command `velero backup-location get --default -o yaml` or
I executed the following command `velero backup-location get --default -o json`
The command failed with the error:

[code]

**What did you expect to happen:**
To see the actuall configuration in yaml

**The following information will help us better understand what's goi

[2022-07-27 08:13] reasonerjt commented on #5115
@neelaruban You should not use `velero/velero-plugin-for-aws:v1.2.0` with `velero v1.9.0`

@vineetsingh5 This plugin uses a different version of go-plugin library
https://github.com/replicatedhq/local-volume-provider/blob/main/go.mod#L8
Where velero uses:
https://github.com/vmware-tanzu/velero/blob/main/go.mod#L24

[2022-07-27 10:06] reasonerjt commented on #5146
I checked the backup tarball and found the problematic CRD has v1beta1 even in the path
`resources/customresourcedefinitions.apiextensions.k8s.io/v1-preferredversion/cluster/xxx.json`
For example:
[code]

While other CRDs has the v1 version:
[code]

So the problem happened in the backup phase when the `EnableAPIGroupVersions` is set.
Seems the problematic CRD was created via the v1b1 API on a v1.1

[2022-07-27 13:15] qiuming-best commented on #5154
@matthiasritter how do you install velero?
And whether have you compiled the velero bin by yourself?

[2022-07-27 13:18] djs28 opened #5155 "Persistent volume "succeeding backup" when in fact it hasn't"
Noticed that our backups on persistent volumes were not being snapshotted correctly, even when backups looked correct. Hidden in the logs
`level=info msg="No volume ID returned by volume snapshotter for persistent volume"`

I believe that
`log.Infof("No volume ID returned by volume snapshotter for persistent volume")`

should be
`log.WithError(err).Errorf("No volume ID returned by volume snapshott

[2022-07-27 16:20] fryz opened #5156 "Backup requires cluster scope to succeed, even when installed without clusterAdministrator"
**What steps did you take and what happened:**

Due to restrictions on the k8s environment I am running in, I cannot use ClusterRoleBindings because it grants cluster scope. To address this, I have installed Velero (using the helm chart, values.yaml file provided below) with the following configuration:

1. Disabled `rbac.clusterAdministrator`, and therefore, the ClusterRoleBinding is not generate

[2022-07-28 01:50] qiuming-best commented on #5149
I’ve followed your step of backup & restore redis example, there is no mount directory when I restored the whole redis cluster. Is there some steps that I’m missing when reproducing? @mcortinas
bellow it is the directory that I restored
<img width="723" alt="image" src="https://user-images.githubusercontent.com/8985337/181402679-a916c51b-0c8e-4262-ad62-4101ef1583de.png">

[2022-07-28 05:39] matthiasritter commented on #5154
Hi @qiuming-best,
we install velero via helm-chart (and terraform helm_release).
I've got an M1-Mac and installed the velero-bin via "brew".

[2022-07-28 07:09] abhi4578 commented on #4108
Is this possible in velero v1.9 ? @[reasonerjt](https://github.com/reasonerjt)

[2022-07-28 10:18] mcortinas commented on #5149
seriouslly?! i tried two times with redis and finally i also checked with mysql once and i saw mount folder all the times...   I always did this from one gcp_project/gke restoring to another gcp_project/gke using the same gcs bucket wth Restic.... maybe I'm doing something bad.... I shared all the logs in this issue, could you help me checking the logs if you can see something wrong restoring with

[2022-07-28 10:30] chrislinan commented on #5115
Hi @reasonerjt
I met the same issue, When I try to get logs of a backup, it's corrupted.
I am using velero 1.9.0,  and velero-plugin-for-aws 1.5.0.
[code]
when I get logs, the command hangs, and no result shows:
[code]
But the describe command works fine:
[code]
This happens after we change velero version from 1.8 to 1.9.
This also happens on restore :
[code]
the describe command also hangs for re

[2022-07-28 13:07] a-jalan commented on #4266
IS there a way to get Windows support put into a feature request? There are customers looking at Velero for backups who use Windows containers.

[2022-07-28 14:11] Yggdrasil opened #5160 "Restic fails to backup pods terminated due to Kubernetes graceful node shutdown"
### Discussed in https://github.com/vmware-tanzu/velero/discussions/5159

<div type='discussions-op-text'>

<sup>Originally posted by **Yggdrasil** July 28, 2022</sup>
Since upgrading to Kubernetes 1.21 on Google Cloud Platform (GKE) all our production backups started PartiallyFailing. The error is always: *"pod volume backup failed: error getting volume path on host: expected one matching path, g

[2022-07-28 14:13] rrey-aviatrix commented on #5141
@blackpiglet did the manifest I provide helped you in the analysis ?

[2022-07-28 14:19] fabiorauber opened #5161 "Restic upgrade causes huge kube-apiserver memory usage on K8S controller nodes"
**What steps did you take and what happened:**
I have updated Velero in a cluster running Kubernetes 1.20.9 with 71 nodes, from 1.8 to 1.9, using the helm chart, which schedules a Restic pod in every node in the cluster. When the Restic pods started I saw a massive RAM usage on the 32GB RAM controller nodes, with the culprit being kube-apiserver, which was OOM killed by the OS. The only way to sto

[2022-07-28 14:25] svrc commented on #2286
Is this to be scheduled for 1.10?

[2022-07-28 18:09] gbl-michell opened #5162 "Not able to migrate a cluster between GCP regions (PVs)"
**What steps did you take and what happened:**
I have a **zonal** GKE cluster running on us-east1-b and I'm trying to restore it into a **regional** cluster on us-central1.
I have installed velero 1.9.0 and the gcp plugin 1.5.0 on both clusters and I was able to backup and restore namespaces and k8s objects without issues. However, the pods that mount to PVs are never being scheduled, and the foll

[2022-07-29 01:39] blackpiglet commented on #5141
@rrey-aviatrix
Yes. We think this is related to Statefulset controller's logic. Still working on it.

[2022-07-29 02:53] reasonerjt commented on #5115
@chrislinan
I don't you are seeing the same issue as @vineetsingh5 It more looks like a CRD issue like mentioned in
https://github.com/vmware-tanzu/velero/issues/5115#issuecomment-1182970565

The error in the log also seemed to be caused by CRD in-consistent.

If you wanna upgrade without uninstalling velero, please make sure the CRDs are also updated:
https://velero.io/docs/v1.9/upgrade-to-1.9/

[2022-07-29 06:44] qiuming-best commented on #5154
@matthiasritter is it 100% occur when executing the above command?

I've tried in my own M1 Mac in AKS cluster, All going well.

[2022-07-29 07:35] thangamani-arun commented on #1531
@eleanor-millman any update on feature request?

[2022-07-29 08:07] qiuming-best commented on #5149
@mcortinas it's really strange. Also I created a flag file in `/bitnami/redis/data` directory. I just cannot reproduced it...

through the log you provided, I cannot find something about creating mount directory

[2022-07-29 08:27] qiuming-best commented on #5160
@Yggdrasil our newly [release](https://github.com/vmware-tanzu/velero/pull/4497) v1.9.0 has fixed this problem, it will skip backup volumes which's pod is not running.

[2022-07-29 08:54] qiuming-best commented on #5162
@gbl-michell yeah, I think it's the nodeAffinity set on pv that makes the scheduler controller prevent pod schedule?

Maybe you can reference to this [one](https://stackoverflow.com/questions/51946393/kubernetes-pod-warning-1-nodes-had-volume-node-affinity-conflict)

[2022-07-29 22:07] Yggdrasil commented on #5160
@qiuming-best That's great. Thanks a lot! Testing that version right now.

[2022-07-30 23:20] Yggdrasil commented on #5160
@qiuming-best 1.9.0 works great. Thanks again!

[2022-07-30 23:20] #5160 closed

[2022-07-30 23:28] Yggdrasil commented on #5096
Duplicate of https://github.com/vmware-tanzu/velero/issues/5095

[2022-07-30 23:56] bsctl commented on #4707
@Lyndon-Li any progress on this?

[2022-07-31 14:04] fl42 opened #5164 "Velero v1.9.0 breaks restic backups to multiple backup storage locations"
Hello,

**What steps did you take and what happened:**
When using multiple backup storage locations with restic enabled backups, all restic backups fail from the second backup onwards (the first backup is successful, then all backups fail).

**What did you expect to happen:**
Restic backups should be successful.

**The following information will help us better understand what's going on**:

I'm us

[2022-07-31 19:21] dmitry-mightydevops commented on #4944
@Lyndon-Li that has not worked, I got the following error:

![image](https://user-images.githubusercontent.com/70822710/182041827-e839e98f-37a4-4b66-8759-cdbe2b3c9fe6.png)

[code]

What can be done?

[2022-07-31 19:34] dmitry-mightydevops commented on #4944
According to this doc
https://doc.crds.dev/github.com/vmware-tanzu/velero/velero.io/Schedule/v1@v1.5.2

the proper name for the key is **excludedResources**.

[2022-08-01 01:15] Lyndon-Li commented on #4707
@bsctl This is a sophisticated problem for Velero, that is, Velero lacks a mechanism to handle resources' dependencies. We will do a comprehensive design, instead of just fixing the current problem.
It takes time and also we need to find a proper release to take it in. So please keep tune on this issue, we will update once there is any progress.

[2022-08-01 03:06] reasonerjt opened #5166 "Remove plugin "RemapCRDVersionAction""
This plugin was added to forcibly backup CRD using v1b1 API.
It starts to cause issues since k8s remove the v1b1 API for CRD since v1.22 ( #4080, #5146 ...)
We should remove it once we decide velero will only support restoring resources to v1.22+ k8s clusters.

[2022-08-01 03:08] reasonerjt commented on #5146
The root cause is the plugin `RemapCRDVersionAction`, for some CRDs that were created via v1b1 API the plugin will make velero always backup the v1b1 spec regardless of the feature flag `EnableAPIGroupVersions`.

In short term, we'll skip registering this plugin if feature flag `EnableAPIGroupVersions` is set.

In long term, we should consider remove this plugin, I opened #5166

[2022-08-01 05:19] matthiasritter commented on #5154
Hi @qiuming-best ,

yes it occur every time reproducable (same with my colleagues):

`kubectl get backupstoragelocations.velero.io
NAME      PHASE       LAST VALIDATED   AGE   DEFAULT
default   Available   19s              12d   true

k get backupstoragelocations.velero.io default -oyaml
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  annotations:
    helm.sh/hook: post-install,po

[2022-08-01 05:30] Lyndon-Li commented on #5099
This has been covered by PR #[5142 ](https://github.com/vmware-tanzu/velero/pull/5142)

[2022-08-01 06:03] Lyndon-Li commented on #5087
@navilg I agree this problem could be possible in real world but I am afraid it is not a valid case that Velero could handle at present:

- If a namespace is backed up, you can restore the entire namespace or part of the resources but keep everything else as is
- If some controllers have been restarted as the current case, the controllers may do anything to the resources, for example, as mentioned

[2022-08-01 06:40] Lyndon-Li commented on #5060
Could you share more info of why you couldn't exclude the calico resource?
Can you exclude them through Velero filters as mentioned [here](https://velero.io/docs/v1.4/resource-filtering/#:~:text=backup%20%3Cbackup%2Dname%3E-,%E2%80%93exclude%2Dresources,-Exclude%20secrets%20from)?

[2022-08-01 07:25] qiuming-best commented on #5154
@matthiasritter could you provide the output of command `velero version` for me ?

[2022-08-01 07:31] matthiasritter commented on #5154
@qiuming-best sure
`velero version
Client:
	Version: v1.9.0
	Git commit: -
Server:
	Version: v1.9.0`

[2022-08-01 07:56] qiuming-best commented on #5154
@matthiasritter thanks,  is there no Git commit ID shown by the output?

[2022-08-01 08:44] ippon-orion opened #5168 "Enhance Velero PV restore process via Restic"
**Describe the problem/challenge you have**

In case of restic restore, the initial process restore all the PV in same time, and so, it's longer to restore a service fonctional because all PV must be successded before pod restart.

The idea here, is to have a choice to restore PV in ordered manner like `--backup-resource-priorities=persistentvolumes=pv1,pv2,pv3`.

That’s should permit to have the

[2022-08-01 08:55] Lyndon-Li commented on #5141
@rrey-aviatrix I am afraid this is an expected behavior of kubernetes and Velero:

- If a PV's reclaim policy is set to "Retain", the PV's claimRef field is not cleared even after the binding PVC has been deleted. This is why we see the PV's status is "Released" but the Claim column is still not empty.
- Then when kubernetes is requested to bind the same PV again (that happens at the Velero restor

[2022-08-01 09:26] Lyndon-Li commented on #5168
@ippon-orion “And then, when a PV is successful restored, the pod can be restarted in 'readOnly'” what does this mean? How could we make a pod in 'readOnly'?

[2022-08-01 09:31] ippon-orion commented on #5168
Nothings, to do in Velero side.
When the pod is restarted, then, we can access it without waiting for all pods are restarted in case of Statefuleset deployment by example.

[2022-08-01 09:35] matthiasritter commented on #5154
@qiuming-best  nope, only this:
[code]

[2022-08-01 09:51] Lyndon-Li commented on #5168
IMO, we don't recommend users to start the business with a partially restored workload, because it is not generally practical. For some environment, it may be fine, but for others, it is not. For example, during the restore, we may restore some pods, inside which, some controllers may run. The controllers may create other resources, start other pods or do anything else, these operations may be con

[2022-08-01 10:50] rrey-aviatrix commented on #5141
The `Retain` is here because as a general rule I don't want data to be erased too easily. So our storage class makes it the default so that an accidental deletion will not be a catastrophe and we could get the data back.
I don't think it would be wise to change that.

But I did not have the whole understanding of how it works and you helped with explanation.

So if I sum up:
- When restoring the b

[2022-08-01 12:57] ajitkadari opened #5170 "Disaster Recovery for Kubernetes Windows Cluster resources and Persistent Volumes"
Backup and restore, perform disaster recovery, and migrate Windows Kubernetes cluster resources and persistent volumes.

[2022-08-01 14:38] mcortinas commented on #5149
maybe in my scenario the origin and the target is a different gpc projects and gke clusters, both are using the same gcs bucket and the same IAM roles, maybe this is the difference...

[2022-08-01 15:27] blackpiglet commented on #5149
@mcortinas
Could you help to check the volume is mounted to which directory by command like `fdisk -l` or `mount`?
Want to find out which part added the `mount` into the path.

[2022-08-02 01:48] chrislinan commented on #5115
Hi, @reasonerjt Thanks for your help. After I upgrade CRD to the latest version, the issue is resolved.

[2022-08-02 01:53] Lyndon-Li commented on #2820
Indeed, Velero checks for stale locks every 5 min, this will increase the backend storage access. Velero could make this longer, because as the design, Velero regard a lock as stale when it exists longer than 30 minutes.
However, only change Velero's behavior won't fix the problem ultimately, because Restic itself maintains the lock in a [`refreshLock` go routine](https://github.com/restic/restic/

[2022-08-02 05:51] qiuming-best commented on #5154
@matthiasritter could you retry with the [link](https://github.com/vmware-tanzu/velero/releases/download/v1.9.0/velero-v1.9.0-darwin-amd64.tar.gz) velero bin instead of using the brew installation way?

[2022-08-02 07:14] qiuming-best commented on #5164
@fl42 currently, I've tested following as your step.
I've created two schedules that will trigger every 5min. everything goes in normal ...
<img width="1434" alt="WX20220802-151343@2x" src="https://user-images.githubusercontent.com/8985337/182314566-b9579122-7675-424d-bf72-ec323ad722dd.png">
At the same time , I will check the related codes in detail

[2022-08-02 07:16] matthiasritter commented on #5154
@qiuming-best thanks, with this bin it work

[2022-08-02 07:37] blackpiglet commented on #5149
@mcortinas
When I check CSI code, I found a issue https://github.com/kubernetes/kubernetes/issues/74650
The problem it described is very similar to your case. Looks like it's related to kubelet logic.

[2022-08-02 07:47] #5146 closed

[2022-08-02 07:56] lybh2022 commented on #5060
Hi,
it seems that our backup product does not allow to set this filter but I am going to use your link to do manual backup/restore

Thanks

[2022-08-02 08:25] matthiasritter commented on #4557
And another error message that could be related:

[code]

The backup-files in the (azure) storage-account are also missing.

[2022-08-02 08:35] ippon-orion commented on #5168
I agree in part, regarding potential data corruption and errors upon recovery.

However, many applications know how to handle these cases depending on the number of UP instances.

It is not necessarily a bad practice to make the service available for read only, once the service is partially restored in my opinion.
Of course, writing is blocked/suspended until the whole thing is restored.

At this

[2022-08-02 08:43] Lyndon-Li commented on #5168
Even though it is not on Velero side, could you share me a concrete example of how a service make itself available as Readonly? And what can we do with this service if it is Readonly?

[2022-08-02 09:17] Lyndon-Li commented on #5168
It seems you need to do something in order to block the requests. When and how are you going to do this during Velero restore?

[2022-08-02 10:11] qiuming-best commented on #5164
@fl42 I've found out what the problem is.
 `var mostRecentPVB *velerov1api.PodVolumeBackup` in [here](https://github.com/vmware-tanzu/velero/blob/6021f148c4d7721285e815a3e1af761262bff029/pkg/controller/pod_volume_backup_controller.go#L240) which is a pointer, the pointer will be changed with the traversing of `pvb` item in `pvbList.Items`. so `mostRecentPVB ` will be assigned with the last item in

[2022-08-02 12:14] ippon-orion commented on #5168
Yes ofc, there is some manual actions to do.
In case of a full restore (drp like), i'll setup my upstream proxy in first, to block non-GET requests, an then i'll perform a Velero restore's job after.
Once restore is completed successful, i'll disable blocking non-GET requests.

Does this answer help you understand my thinking?

[2022-08-02 12:55] Lyndon-Li commented on #5141
I tried it locally and could reproduce this problem, so it is a common problem --- for a statefulset, if the PV's reclaim policy is set to "Retain", Velero restore always fails because the PVC cannot bind the PV.

[2022-08-02 13:27] Lyndon-Li commented on #5141
@rrey-aviatrix To answer your questions:

Not exactly, even though the old PV exists, Velero could successfully restore the PV from snapshot.
However, if the PV is in Released status or its claimRef is not empty but the binding PVC cannot be found, Velero will regard the PV in an abnormal status and wait there until a 10 min timeout. After the timeout, Velero will skip restoring the PV.

I doubt t

[2022-08-02 13:55] rrey-aviatrix commented on #5141
After I deleted the PV, the restore is working properly and everything is working properly with my test app.
I will continue testing other cases on my side to learn how to restore when/if I find myself in other context.

Thanks for all the info, I'm closing the issue.

[2022-08-02 13:55] #5141 closed

[2022-08-02 18:47] waldner commented on #5120
I'd like to add the case "all resources in a namespace" + "some selected cluster resources", which seems to not be possible ATM.

[2022-08-03 02:46] blackpiglet commented on #5141
This issue should be common to volume-using applications, which set volume's `ReclaimPolicy` to Retain by `StorageClass.Spec.ReclaimPolicy` to `Retain` or `PersistentVolume.Spec.PersistentVolumeReclaimPolicy` to `Retain`.

[2022-08-03 03:40] blackpiglet commented on #5162
@gbl-michell
Could you give more details about how you installed Veleo, and the backup and restore commands?

[2022-08-03 07:49] blackpiglet commented on #5149
@mcortinas
I found something related to Restic may not working as expected.
Is the volume in your environment provisioned by CSI?

[2022-08-03 11:06] waldner commented on #5120
Also, if I can suggest, a filter based on resource *names* (not labels) would be most welcome, at least for my use cases.

[2022-08-03 13:06] odidev opened #5177 "Enable Testing for ARM64 platform"
I have been working on testing velero features on arm64 platform and they are working successfully. Would you be interested in adding ARM64 tests in GitHub Actions using self-hosted arm64 runners? If interested, We can get access to ARM H/W through [WorksonArm](https://github.com/WorksOnArm).

[2022-08-03 16:22] 27149chen commented on #5120
@waldner  you are talking about https://github.com/vmware-tanzu/velero/issues/5118 , which is also important to me

[2022-08-03 16:44] sseago commented on #5162
Also, are you using snapshots for PV backup or restic? I suspect that with snapshots, the regions must be the same. It might be worth trying with Restic if you're not using it already to see whether this works.

[2022-08-03 17:48] waldner commented on #5120
Thanks! I subscribed to that one.

[2022-08-03 19:30] gbl-michell commented on #5162
I was able to successfully migrate the PVs using restic. Thanks all.

[2022-08-04 03:22] blackpiglet commented on #5162
@gbl-michell
Could I close this issue? Looks like the problem described here is resolved.

[2022-08-04 06:34] matthiasritter commented on #4557
And again some more log-output of the schedule which failed tonight:

[code]

[2022-08-04 11:01] fl42 commented on #5164
Thanks for the quick fix!

[2022-08-04 11:01] #5164 closed

[2022-08-04 14:30] sbirl opened #5180 "PartialFailure backup with a CSI plugin"
**What steps did you take and what happened:**
* `velero backup create testcsibackup2`
  * `velero 1.9` with csi-plugin
  * volumesnapshot-crd
* Created StorageSnapshot class.

**What did you expect to happen:**
Not a partial failure, that's for sure.

**The following information will help us better understand what's going on**:

Please provide the output of the following commands (Pasting long ou

[2022-08-05 01:17] Lyndon-Li commented on #5180
This is a known issue, some snapshots may take time to get ready after creation, because of the data size of the volume, etc.
Velero needs to wait for the snapshots to get ready, but currently the timeout is 10 minute and cannot be configured. Therefore is already a [PR](https://github.com/vmware-tanzu/velero/pull/5104) to make this timeout configurable.

[2022-08-05 05:18] dcardellino opened #5182 "Velero Partial Backup Failure - Pod Volume Backup"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I run a scheduled backup (every @1h) to backup a whole namespace and its PVC to AWS S3. The last couple weeks this worked out fine. But suddenly I get `PartiallyFailed` on some backups.

When I do `velero backup logs <backupname> | grep error` I see the following error m

[2022-08-05 05:43] Lyndon-Li commented on #5182
@dcardellino Did you get this problem once or multiple times and each time it complains different PID in the error as an example shown below?
`repository is already locked exclusively by PID 1362809`

[2022-08-05 05:51] reasonerjt commented on #5149
Let‘s make sure this is fixed in v1.9.1

[2022-08-05 06:14] Lyndon-Li commented on #5182
Could you also share the entire Velero log bundle?

[2022-08-05 07:28] dcardellino commented on #5182
@Lyndon-Li it is multiple times the same PID. Sorry I forgot to upload the bundle on my initial comment:

[bundle-2022-08-05-07-15-27.tar.gz](https://github.com/vmware-tanzu/velero/files/9266385/bundle-2022-08-05-07-15-27.tar.gz)

[2022-08-05 09:15] #5055 closed

[2022-08-05 10:46] #4916 closed

[2022-08-05 16:03] LuckySB commented on #1333
up

[2022-08-05 19:38] trankchung opened #5183 "net/http: TLS handshake timeout"
**What steps did you take and what happened:**
Running the velero command against any GKE cluster throws `net/http: TLS handshake timeout` error. Using `kubectl` have no issue.

[code]

**What did you expect to happen:**
Velero should connects and do its thing.

**The following information will help us better understand what's going on**:

_If you are using velero v1.7.0+:_
Command `velero debug`

[2022-08-07 02:39] blackpiglet commented on #5149
Some related documents related to CSI provision and CSI migration.

CSI migration design updated to add annotation "pv.kubernetes.io/migrated-to": [persistent-volume-controller](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/625-csi-migration/csi-migration-design.md#persistent-volume-controller)

Dynamically provision PV with in-tree volume when CSIMigration is on has no s

[2022-08-08 01:17] Lyndon-Li commented on #5183
Do you use any http proxy for the connection?
Any could you share more info of your environment? It looks like to be an environment related problem.

[2022-08-08 03:46] danfengliu opened #5185 "Add E2E test for API group versions in the scenario of B/R for k8s resources"
Current API group versions E2E tests have covered B/R CRs between 2 different CRDs with different versions in spec, missing scenario of B/R for k8s resources (such as in #5146).

[2022-08-08 04:03] #5149 closed

[2022-08-08 05:35] #2413 closed

[2022-08-08 06:09] reasonerjt commented on #5170
@ajitkadari could you clarify if you need velero to run in windows container?
If velero continues to be running in linux, for non-restic case the B/R for windows workload may work.  Have you done any test yourself?

[2022-08-08 07:11] maartenjanvangool opened #5187 "Velero keeps on calling the deprecated v1beta1/ingresses api"
**What steps did you take and what happened:**
We are/were running kubernetes v1.21 in gcp. Google nowadays warns you of deprecated api usage, which in order prevent an upgrade to the newer version, when these deprecated api's are removed. In 1.22, several api's are removed, among them `/apis/extensions/v1beta1/ingresses`. Google warned us that Velero was calling this api. We have no such resource

[2022-08-08 07:28] Lyndon-Li commented on #5168
After discussing in the group, we think the requirement is rational for the current case, but not quite generic.
Therefore, we will keep the issue open and see if we have some other requirements could be merged with the current one, then we will find a solution them altogether.

[2022-08-08 09:21] blackpiglet commented on #5180
#5048
A similar issue was created.
I think we can trace this issue in that one.

[2022-08-08 11:28] Lyndon-Li commented on #5187
This message is not printed by Velero directly but by Kubernetes Client-go API.
Velero server refreshes the Kubernetes resources every 5 minute by calling the Client-go API.
The related Client-go API enumerates the supported API groups and then enumerates the resources under the groups.

Velero does nothing special, so I guess if one version in a API group is not supported, the version will not be

[2022-08-08 11:51] #5048 closed

[2022-08-08 11:55] Lyndon-Li commented on #5182
@dcardellino From the available log, looks like there are some contest problems among multiple Restic backup process. However, the current log has limited information to indicate the contests.

Therefore, could you help to enable Velero's Debug log level and regenerate the logs when the problem happens?
You can refer to [here](https://velero.io/docs/v1.9/troubleshooting/#:~:text=more%20usage%20det

[2022-08-08 12:12] nwakalka opened #5188 "Pod Volume Backup Failed while backing up volumes."
**What steps did you take and what happened:**
We were trying to run velero backups with pod volume backups. where pod volumes that need to be backed up using Restic.

[code]

here you can see our velero backups are partiallyFailing. attaching the velero backup logs for more info

[code]

**Later checked for pod volume backups which was failed**

[code]

Describing the pod volumebackup

[code]

**

[2022-08-08 12:20] maartenjanvangool commented on #5187
1. I'm seeing this warning in 1.22.
2. Well yes, google is still complaining about removed api usage.

I'm not sure this warning directly relates to my issue. I'll continue monitoring our gcp environment.

However, if it's called by the go client, shouldn't that library be updated to exclude removed api's or something?

[2022-08-08 13:58] matthiasritter commented on #4557
Hi again,
I tried to reproduce the problem with avctivated debug-logging. After the 8 try I was successful:
backuptest1                         Completed   0        0          2022-08-08 15:30:23 +0200 CEST   29d       default            <none>
backuptest2                         Completed   0        0          2022-08-08 15:31:47 +0200 CEST   29d       default            <none>
backuptest3

[2022-08-08 14:36] helletheone commented on #3588
@Ahmadre  can you please explain what you have done? because i have the same issue ^^

[2022-08-08 17:29] trankchung commented on #5183
I've googled this issue and tried all the suggestions which includes unsetting https_proxy and using no_proxy but none of them work. I don't have any proxy setting set.

What info are you looking for because it's just a GKE cluster. I can connect to it using `kubectl` no problem. Please let me know what info you're looking for and I'll be happy to provide it. Thanks.

[2022-08-08 19:45] trankchung commented on #5183
It looks like NetSkope was blocking it. Thanks for looking into this.

[2022-08-08 19:45] #5183 closed

[2022-08-09 02:13] blackpiglet commented on #5187
There is already an issue to address this #5146, and the fix was already cherry-picked into v1.9.1, but the thing looks a little surprising to me is ingress's API path: `/apis/extensions/v1beta1/ingresses`.

[ingress v1](https://v1-21.docs.kubernetes.io/docs/reference/kubernetes-api/service-resources/ingress-v1/#http-request)
Ingress API path should be something likes this `/apis/networking.k8s.io

[2022-08-09 03:15] Lyndon-Li commented on #5187
@maartenjanvangool Please check your env as @blackpiglet mentioned.

Besides that, I have two more questions, for this log:
`Waited for 1.047783694s due to client-side throttling, not priority and fairness, request: GET:https://<ip>:443/apis/extensions/v1beta1?timeout=32s`

Question:
1. Do you see this log in v1.21 or v1.22?
2. If you see this in v1.22, could you share several lines of logs around

[2022-08-09 04:34] dcardellino commented on #5182
Sure here it is @Lyndon-Li:
[bundle-2022-08-09-06-32-23.tar.gz](https://github.com/vmware-tanzu/velero/files/9286754/bundle-2022-08-09-06-32-23.tar.gz)

[2022-08-09 07:04] blackpiglet commented on #5180
Fix is merged, and it's cherry-picked into v1.9.1 too.
Close it for now. Feel free to open if your issue is not addressed.

[2022-08-09 07:04] #5180 closed

[2022-08-09 07:20] maartenjanvangool commented on #5187
@Lyndon-Li
1. Like I said in my previous comment, I'm seeing this in 1.22.
2. See below.
[code]

I'm seeing this kind of log a lot more, and the same message pops up for other api's:
[code]

[2022-08-09 07:34] maartenjanvangool commented on #5187
It does not contain these resources at all. That's the surprising thing.

[2022-08-09 07:37] maartenjanvangool commented on #5187
I can't really tell from the issue whether or not it's the same as mine, it does look similar though. We'll definately test 1.9.1 upon release to see if that resolves the issue.

[2022-08-09 08:42] Lyndon-Li commented on #5182
@dcardellino We need the debug log for both Velero server and Restic daemonset. Therefore, besides changing the log level of Velero server, please also change the log level for Restic daemonset.

You can edit the Restic daemonset by below command:
`kubectl edit ds -n velero restic`
Then you need to do the same changes(--log-level) as what you have done for Velero server.

Sorry to miss this.

[2022-08-09 09:32] ywk253100 commented on #5188
Do you configure a customized CA in the BackupStorageLocation?
Could you check the status of BackupStorageLocation and check whether it is healthy or not?

[2022-08-09 09:57] Lyndon-Li commented on #5182
@dcardellino
We've just noticed that the lock is taken by another velero pod` velero-584cc8fbf-6tdsq` as shown here:
`unable to create lock in backend: repository is already locked exclusively by PID 1665618 on velero-584cc8fbf-6tdsq`
On the other hand, the current running velero pod's name is `velero-85d456ff69-jvd8r`.

Therefore, could you also run below command to see how many velero pod are ru

[2022-08-09 10:15] dcardellino commented on #5182
Oh damn.. I found the Issue. I ran another Velero deployment in another cluster with the same credentials. Thanks for your support @Lyndon-Li , but I think deleting this deployment should solve the issue.

I will close the issue for now.

[2022-08-09 10:15] #5182 closed

[2022-08-09 10:42] nwakalka commented on #5188
Yes, it's configured and BackupStorageLocation is available.

[code]

[2022-08-09 11:01] nwakalka commented on #5188
I have also found out similar issue created for [PodVolumeBackup failed ](https://github.com/vmware-tanzu/velero/issues/5140)

I have followed issue and added changes specified in [cherrypick 5145](https://github.com/vmware-tanzu/velero/pull/5145) and tested again.

Now i can see PodVolumeBackups are getting completed but i am having another error. due to which my backups still getting partially f

[2022-08-09 11:11] blackpiglet commented on #5187
I will investigate more on this.
Looks like this is related to the discoveryClient of client-go using by Velero to traverse all GVR from kube-apiserver.

[2022-08-09 12:15] jbpin commented on #5154
I had the same issue with `velero backup get -o json` it work with the link.

[2022-08-09 12:23] blackpiglet commented on #5187
@maartenjanvangool
Checked discoveryClient implementation, it iterates through the kube-apiserver's "https://<api-server-ip>/apis/" to discover all available resources.

I checked the resources on my developing GKE v1.22 cluster.

[code]

We can see the APIs you mentioned are listed. By far, I didn't find out a way to distinguish whether the API is deprecated or not.

[2022-08-09 12:28] maartenjanvangool commented on #5187
When I call on the old api with kubect, I get this:

[code]
Not sure if this has to do with me using the k8s v1.21 client.

One more thing, this api _has been removed_ in 1.22. It is deprecated since 1.14, as the message says. My client seems to be simply redirecting to the new ingress api.

[2022-08-09 12:55] fryz commented on #5156
@reasonerjt - I'm wondering if you have any thoughts/ideas on this issue.

I've done some more digging, and I haven't been able to make Velero work without granting `list` permissions on resources I wish to backup at cluster scope.

 It appears that Velero requires the service-account to have permissions to list ALL resources at cluster-scope, even if it's configured to only backup resources in a

[2022-08-09 14:11] blackpiglet commented on #5187
I also didn't expected.
Of course, the API deprecation and stopping serve are very clear in documents, but it's not easy for code logic to know how to do that.
By using the discoveryClient from client-go, it's easy to access all the available API available in k8s. I don't whether there will a library function to know the k8s not-serving API list. If not, Velero needs to maintain a list per k8s ver

[2022-08-09 14:12] maartenjanvangool commented on #5187
It seems to me like a bug in Kubernetes, but I'm not sure. I've asked on slack. See [here](https://kubernetes.slack.com/archives/C09NXKJKA/p1660053130386309).

[2022-08-09 15:04] blackpiglet commented on #4557
@matthiasritter
Sorry for late response. Recently, Velero team is busy with v1.10 feature developing and v1.9.1 bug fixing.
What is the version of Azure plugin you are using with Velero v1.9.0?
Looks like Azure plugin restarting caused backup failure.

[2022-08-09 15:08] TheKangaroo commented on #4557
Hi @blackpiglet, I'm a colleague of @matthiasritter. We run Azure plugin v1.5.0 and velero 1.9.0.

[2022-08-09 15:28] fberube-psee opened #5191 "Migration of pvc data from one cluster to another"
Migration of pvc data from one cluster to another
, stderr=: signal: killed
Phase: Failed

thank you for your help

**cluster stage > backup
cluster prod  > restore**

**Source Cluster**:
I backup pods with pv

kind: Schedule
[code]
[code]

**Destination Cluster**

- Create the backupStorageLocation: velero-stage on the prod cluster
   and I can see all backups

- Then a try to restore with Namesp

[2022-08-09 15:50] vrabbi commented on #5123
Couldnt this be solved by mounting the certificate into the ca store on the container via a secret?

[2022-08-10 01:29] Lyndon-Li commented on #5123
@vrabbi The problem is there is no way to tell Kopia to search a certificate outside of the system's CA store. On the other hand, there is not an easy way to make a certificate into the system's CA store without changing the docker image.

[2022-08-10 05:56] #5162 closed

[2022-08-10 06:07] blackpiglet commented on #4557
I thought this issue was caused by `azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request`.
According to your recent uploaded log, looks like this issue happens intermittently after Azure plugin running for a while.
This reminds me another issue #4863. In that issue, CSI plugin also failed after running for a while, and the reason is the plugin framework package used by

[2022-08-10 08:55] patst opened #5193 "Restoring Pod fails with Duplicate value for InitContainer Name"
**What steps did you take and what happened:**
We use the OpenServiceMesh (OSM) Addon in an AKS cluster. (see https://openservicemesh.io/ )

In OSM enabled namespaces Pods get an InitContainer named `osm-init` and sidecar named `envoy` injected.

We have Pods with PersistentVolumes attached and using Restic for backup creation.
The backups are created with:
`velero backup create acc000-ns-def --in

[2022-08-10 09:02] danfengliu opened #5194 "Add clear backups step after each E2E test to avoid exceeding capacity of BSL storage space"

[2022-08-10 09:38] #4791 closed

[2022-08-10 11:37] rajeevpnair opened #5195 "unknown flag: --existing-resource-policy"
**What steps did you take and what happened:**
when try to restore if an object which is already exist, by default velero will skip that resource,
i see the  --existing-resource-policy flag is available in the documentation to change this default behavior , **_https://velero.io/docs/v1.9/restore-reference/#restore-existing-resource-policy_** but while using this flag its through unknown flag: --ex

[2022-08-10 11:46] rajeevpadinharepattu commented on #5195
This can be closed as i see in the new binary this option is available

[2022-08-10 21:23] cschmatzler opened #5198 "Running `velero schedule create` with output format results in SIGSEGV"
**What steps did you take and what happened:**
I'd like to integrate my backup schedule into GitOps - as such, having the schedule as a file to apply is important.
To accomplish this, I ran `velero schedule create daily -o yaml --schedule="@every 24h" `.

This results in
[code]

**What did you expect to happen:**
I expected to have an output of a Kubernetes `Schedule` custom resource describing my

[2022-08-11 02:28] ywk253100 commented on #5118
This issue https://github.com/vmware-tanzu/velero/issues/5152 describes one option about how to implement this feature

[2022-08-11 05:39] jerry-jibu opened #5199 "Add restored resource list with a restore job"
**Describe the problem/challenge you have**

Now velero can overwrite part of existing resources during a restore by `ExistingResourcePolicy`.
This is very useful for in-place restore.

However, there is lack of report for user to inspect the result of restore, especially when restore fails.

Ideally we could have a restore resource list, like current backup details, to show which resource is crea

[2022-08-11 05:46] jerry-jibu opened #5200 "error information enhancement for backup/restore"
**Describe the problem/challenge you have**

Through velero cli or CR, there is high level error message, such as `PartiallyFailed` when a backup or a restore fails.
However for end users, it's still difficult to understand the actual reasons.

For example, it may be caused by some of node network restriction to access S3 or snapshot problem for some PVC backup.

**Describe the solution you'd like

[2022-08-11 05:57] jerry-jibu commented on #957
+1， for example, user may have two types of PVC volumes. One is for logging and the other is for DB.
For backup, only DB related volumes are required for backup while only volumes/PVC resources for logging should be preserved during backup without copy corresponding data.  It's ideally that we could have a more flexible/convenient way to include/exclude volumes during backup/restore compared the m

[2022-08-11 06:00] jerry-jibu commented on #957
Another use case is that for HA application with data replication, it will be more efficient to only back up one data copy.
For example,  we could do only 1 copy of data backup on  either master or slave mysql instance.

[2022-08-11 06:10] jerry-jibu commented on #5035
@euclidsun  In our case, some PVCs are only used for logging while another PVCs are for DBs and configurations.  I think It's difficult to only classify them by `StorageClass`.  Personally I think we may need a more flexible way from velero point of view, such as included/excluded arrays to have PVC/volume (in-tree) names or kind of "GVNR" style resource selector.

Then upper application can confi

[2022-08-11 08:40] ywk253100 commented on #5191
Could you run the `velero debug` command to capture all the necessary information and upload the bundle?

btw, is there any restarting of the restic daemonset during the restoring?

[2022-08-11 08:45] ywk253100 commented on #5193
Seems the OSM injects the init containers during the pod creation while the restored pod also contains the same init containers.

Velero cannot handle such case at this moment.

[2022-08-11 08:45] #5195 closed

[2022-08-11 08:49] ywk253100 commented on #5198
Are you using a released version of Velero cli? I didn't see the `Git commit` in the output of `velero version` and I cannot reproduce it in my env

[2022-08-11 09:04] cschmatzler commented on #5198
It's installed with `brew install velero`.
Late 2021 M1 Pro MacBook Pro.

[2022-08-11 09:18] ywk253100 commented on #5188
Are you using a dev build of Velero with your own patch? Could you try the v1.9.1-rc2?

BTW, the status of the PodVolumeBackup is weired, there is a error message but the phase is completed, did you patch the status manually?:
[code]

[2022-08-11 13:44] kuhar2007 opened #5204 "Problem with restoring data from pvc"
Hello.

I use velero version 1.8.1.
For storage I use rook-ceph with rbd-pool.
Velero creates backups without any error, but I want restore for example postgress with data inside, velero restore only part of them.
For example, I have postgress which use pvc, I start to import few databases with tables, after that make full backup via velero.
Backup created without any errors, I remove postgress wi

[2022-08-11 17:39] nwakalka commented on #5188
Yes, i have manually modified the files. Let me try to use the v1.9.1-rc2 and test.

[2022-08-11 22:53] artificial-aidan opened #5205 "Error message not logged from plugin"
**What steps did you take and what happened:**
I'm hoping this is just a configuration error, but I burned about half a day digging into it.

The error I had was not having the `kms:Decrypt` https://aws.amazon.com/premiumsupport/knowledge-center/s3-large-file-encryption-kms-key/ on my role being used by the velero aws plugin. But this misconfiguration was incredibly hard to find.

Even with debug

[2022-08-12 06:55] kuhar2007 commented on #5204
Here is my deployment:
[code]
Before restoring I check space at /var/lib/pgsql/data  and it used ~650M, after backuping, removing and restoring it uses ~240M, disapeared ~400m data.

What’s interesting:
- I create snapshot
- restore pvc from snapshot (pvc doesn’t use anything)
- map and mount rbd image to any server for checking data - it had ~600M
- made backup
- remove restored pvc and remove sn

[2022-08-12 06:56] kuhar2007 commented on #5204
I checked backups logs and find:
[code]
I think fsfreeze don’t work for me, but I don’t understand why. I tried install timeout 600s instead 30s and it didn’t help me.
I updated velero to 1.9 and didn’t help me.

[2022-08-12 07:25] kuhar2007 commented on #5204
Same problem with default example:
`kubectl apply -f https://raw.githubusercontent.com/vmware-tanzu/velero/master/examples/nginx-app/with-pv.yaml`
Go info the pod and create testfile:
`kubectl exec -it nginx-deployment-6779884c68-jr6rb bash
root@nginx-deployment-6779884c68-jr6rb:/# dd if=/dev/zero of=/var/log/nginx/test1.img bs=40M count=1 oflag=dsync`

Create backup:
`velero create backup full-ma

[2022-08-12 08:19] Va1 commented on #5198
experiencing the same behaviour with CLI :(

[2022-08-12 08:31] BartoszZawadzki opened #5206 "Backup partially fails with restic error, when no restic plugin is installed"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I've deployed Velero in my k8s cluster (kops, AWS) WITHOUT restic plugin. I've then configured a schedule to perform backups. All my backups are marked as PartiallyFailed with:

`{"backup":"velero/stage.k8s.sgr-cloud.net-20220811102601","error.file":"/go/src/github.com/v

[2022-08-12 08:41] kuhar2007 commented on #5204
I close this issue, because I found solution for me.
When I create backups I need add option --default-volumes-to-restic, so creating backup command will be:
`velero create backup manual-backup --default-volumes-to-restic`

[2022-08-12 08:41] #5204 closed

[2022-08-12 09:19] nwakalka commented on #5188
Hi @ywk253100,

I have used the v1.9.1-rc2 patch and tested the backup again.
still facing the same error as above

[code]

[2022-08-12 09:38] Va1 opened #5207 "Crash with SIGSEGV while finalizing backup of a PVC with CSI on AWS EKS"
**What steps did you take and what happened:**
Velero 1.9.0 is deployed on AWS EKS 1.22 via an official Helm chart v2.31.0. Plugins: AWS v1.5.0, CSI v0.3.0.

Upon backing up, right after CSI snapshots are created (both VolumeSnapshot, VolumeSnapshotContent in proper statuses and EBS snapshot desplays ready in AWS console) and backup is about to wrap up, Velero crashes with SIGSEGV. Backup stays in

[2022-08-12 12:32] sureshgoli25 commented on #4421
I am not quite sure which manifest to be deleted?

[2022-08-12 12:41] sureshgoli25 commented on #4421
I have not understand the workaround. Do you mean Restic crd to be deleted? or any other

[2022-08-12 14:04] BartoszZawadzki commented on #5206
My fault. It turns out that I've had annotation:
`backup.velero.io/backup-volumes: data` on one of my Deployments.

[2022-08-12 14:04] #5206 closed

[2022-08-13 03:27] blackpiglet commented on #4557
After taking another look, I found the HarshiCorp go-plugin version is already updated for this version of Azure plugin.
Currently I couldn't find the reason why plugin process exited during backup metadata uploading.
@ywk253100 Could you give some insight?

[2022-08-13 09:04] arunvc commented on #4952
Adding toleration to demonsets worked for me

kubectl edit daemonset/restic -n velero

[code]

[2022-08-14 11:28] blackpiglet commented on #5149
Test case
[code]

[2022-08-15 03:27] ywk253100 commented on #5188
Is this a fresh installation or an upgrade one? Did you update the CRD as well if it is upgraded from the previous version? Could you try the fresh installation?

If the error is still there, please run velero debug to collect all the necessary information

[2022-08-15 06:12] reasonerjt commented on #5193
I think the webhook in OSM should be smart enough to skip injecting the init-container if the incoming request of the pod already has it?

[2022-08-15 06:29] reasonerjt commented on #5205
@artificial-aidan
To help me better understand this problem, could you share me the change you made to the plugin code?

Seems for some reason the error handling mechanism of go-plugin is not compatible with the way velero plugin returns the error.

[2022-08-15 06:34] ywk253100 commented on #5198
Please download the Velero CLI from the [Github release page](https://github.com/vmware-tanzu/velero/releases/latest).

The Homebrew isn't updated for recent releases because of the bandwidth of our resources, and It's very likely we'll not support it anymore in future releases, we'll update the documentation after the discussion with community

[2022-08-15 06:56] ywk253100 commented on #5193
One option is to implement one`RestoreItemAction` plugin to modify the pod specification and remove the init containers before the restoring, refer to the [doc](https://velero.io/docs/v1.9/overview-plugins/) for more info about the plugin

[2022-08-15 07:48] #5031 closed

[2022-08-15 11:24] blackpiglet commented on #5207
@Va1
I think this failure is caused by backup only includes resources PVC and PV.
This is because Velero CSI plugin use BackupItemActions to implement some code logic for PVC, VolumeSnapshot, VolumeSnapshotContent and VolumeSnapshotClass, then the CSI plugin's code for VolumeSnapshot, VolumeSnapshotContent and VolumeSnapshotClass will not be run.

The SIGSEGV happened, because CSI plugin will wait

[2022-08-15 11:48] reasonerjt commented on #5061
Fixed via #5135

[2022-08-15 11:48] #5061 closed

[2022-08-15 12:32] artificial-aidan commented on #5205
I added a log statement.

[code]

[2022-08-15 13:32] sseago commented on #5207
@blackpiglet That seems reasonable. You're right -- those other resources must also be included in the backup, but Velero should fail gracefully with a useful error message rather than crashing like that.

[2022-08-16 00:26] BenTheElder commented on #5187
It appears to be specific to GKE (NOTE: had no involvement in this, just learned about it myself, I am not speaking for GKE here) https://github.com/kubernetes/kubernetes/issues/111813#issuecomment-1216008212

The APIs are still deprecated, GKE just seems to have extended user time to migrate off of them by permitting them in 1.22.X-gke until 1.23. Documented here in the migration guide https://cl

[2022-08-16 05:50] #5062 closed

[2022-08-16 09:34] ofirshtrull opened #5220 "Errors on deprecated changes"
since yesterday in one of our clusters after I have updated it to 1.9 (latest) I noticed a bunch of getting errors like
[code]
nonstop in the velero pod

after half a day of no luck in google I decided to go very deep and what did I find in the crd was the next block
[code]
if this is deprecated and no longer being updated why is velero 1.9 screaming in the logs error nonstop?

**What steps did yo

[2022-08-16 10:11] #5220 closed

[2022-08-16 10:24] angelsantillana94 opened #5222 "Unable to handle CSI driver: rbd.csi.ceph.com"
**What steps did you take and what happened:**

- Velero deployed through CLI command

- I try to make a backup with persistent volumes, but it does not end OK.

[code]

- Checking logs:

[code]

**What did you expect to happen:**

- Backup with persistent volumes

**The following information will help us better understand what's going on**:

- StorageClass:

[code]

- VolumeSnapshotClass

[code]

[2022-08-16 15:37] shubham-pampattiwar opened #5223 "Fix Edge cases for already exists resources"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
On OpenShift 4.11 (Kubernetes 1.24) we are seeing an error(not warning) related to the restoration of volumesnapshotclass that it already exists, not reproducilbe on earlier versions. Restore fails with the following logs, This is added as an error by the restore controll

[2022-08-16 22:08] stefanrepl commented on #4782
I am also running into this.  I have ran it after the merge of the stack trace for panic and see this error log when trying to restore my statefulset:
`time="2022-08-10T21:55:54Z" level=error msg="Namespace default, resource restore error: error preparing statefulsets.apps/default/kotsadm-postgres: rpc error: code = Aborted desc = plugin panicked: runtime error: invalid memory address or nil point

[2022-08-16 23:32] kaovilai opened #5226 "Restic repository can become stale after bsl update"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

create BackupStorageLocation to point to _**bucketABC**_
Create backup A with `defaultVolumeToRestic: true`

update BackupStorageLocation to point to _**bucketDEF**_ keeping the **same BSL name**
Create backup B with `defaultVolumeToRestic: true`

Object manifests for ba

[2022-08-17 05:52] nwakalka commented on #5188
Yes, we did the fresh installation with upgrading all crds with latest version as you mentioned.

Please find the attached velero logs in debug mode.

[velero_debug_logs.txt](https://github.com/vmware-tanzu/velero/files/9356707/velero_debug_logs.txt)

[2022-08-17 08:26] odidev commented on #5177
@danfengliu Kindly take a look on above query.

[2022-08-17 08:35] ywk253100 commented on #957
@jerry-jibu Could you try the solution provided by https://github.com/vmware-tanzu/velero/issues/957#issuecomment-1156490764?

[2022-08-17 08:55] ywk253100 commented on #5035
@blackpiglet Let's start the design in 1.10 timeframe

[2022-08-17 09:29] #5099 closed

[2022-08-17 09:30] Lyndon-Li commented on #5080
The changes is covered in #5142

[2022-08-17 09:30] #5080 closed

[2022-08-17 09:32] Lyndon-Li commented on #5079
The changes are covered in #5179 and #5167

[2022-08-17 09:32] #5079 closed

[2022-08-17 09:32] Lyndon-Li commented on #5076
The changes are covered in #5142

[2022-08-17 09:32] #5076 closed

[2022-08-17 09:39] Lyndon-Li commented on #3130
Closing this issue since it is not reproducible and no information is further provided.

[2022-08-17 09:39] #3130 closed

[2022-08-17 17:25] patst commented on #5193
@ywk253100 thanks for the advice.
We managed to implement a `RestoreItemAction` which edits the pod spec and removes the init container, sidecar and envoy configuration volume during restore. (https://github.com/patst/velero-plugin-osm-prune )

Meanwhile I opened a ticket in the OSM repository to suggest to fix it without an extra plugin https://github.com/openservicemesh/osm/issues/5008 .

I will

[2022-08-17 17:25] #5193 closed

[2022-08-17 19:22] kaovilai opened #5228 "Restic unable to use credentials set in bslSpec.Velero.Config["credentialsFile"]"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Backup with restic enabled using BackupStorageLocation
- without `.spec.credentials`
- containing in its config "credentialsFile" which was mounted in the velero deployment but not available in restic daemonset.

Observed the following
[code]
This behavior happens because

[2022-08-18 01:23] kaovilai commented on #5228
Or if mounted credentials file to the daemonset this would've worked as well.

[2022-08-18 01:23] #5228 closed

[2022-08-18 03:27] danfengliu opened #5229 "Exclude label E2E test should not include and exclude a specific namespace at the same time"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Velero version (use `velero version`):

[2022-08-18 08:14] xiaohinata commented on #5117
my velero client version is v1.9.1,kubernetes is 1.15,It is always the above error,when change kubernetes on 1.19,it is ok

[2022-08-18 11:20] reasonerjt commented on #4956
Closing the due to inactivity.

[2022-08-18 11:20] #4956 closed

[2022-08-18 15:31] kumarganesh2814 commented on #4969
HI Team,

Do we have got any solution for this issue, where there is PV in released state and Backup fails as mentioned above

Best Regards
Ganesh Kumar

[2022-08-18 18:14] sseago commented on #5152
I see a couple possible downsides to this -- it doesn't allow exclude by name, and the interaction with the existing include/excludeResources could be confusing. Instead, we could provide a new pair of fields alongside includeResourses/excludeResources with the intent that users will use one or the other, not both. The old fields work just like before. The new fields (perhaps called structuredIncl

[2022-08-18 18:14] sseago commented on #5118
@ywk253100 note that I've suggested a change to https://github.com/vmware-tanzu/velero/issues/5152 to make it more flexible with respect to includes/excludes as well as less confusing with respect to existing include/exclude behavior.

[2022-08-18 18:27] avamonitoring opened #5232 "AWS EBS restore should use the KMS key specified in the storage class"
**Describe the problem/challenge you have**
It would nice to be able to specify a KMS key id to use for encryption the EBS volume when restoring from a snapshot, even if the snapshot isn't encrypted. As an alternative, velero should extract this information from the storage class used for the persistent volume, as this informationen is available i the `kmsKeyId `attribute. This would be very usefu

[2022-08-19 02:41] #5077 closed

[2022-08-19 13:41] sseago commented on #5152
We could make the struct a bit clearer -- instead of a struct with group/resource/items, we could have an explicit `GroupResource` field and a slice of `NamespacedNames` for the `items`

[2022-08-19 14:02] #5194 closed

[2022-08-19 14:09] ctrought commented on #5152
There was some discussion about this type of thing in #904 so I'm copying some of what I wrote there because I am very interested in this feature. I assume whatever solution is decided on would apply to backups and restores. From a user perspective I think being able to specify the resource name directly in the includedResources would be very nice, no changes to api structure needed but is it doab

[2022-08-19 14:39] Va1 commented on #5207
@blackpiglet
adding VolumeSnapshotClass, VolumeSnapshot and VolumeSnapshotContent to backup included resources resolved the issue, thank you.

as outlined by @sseago , i agree that it indeed should be a part of documentation and error message, ideally.

is this something i can help you with by submitting a pull request?

[2022-08-19 19:01] sseago opened #5235 "If namespace includes/excludes evaluates to an empty list, velero server panics on backup"
**What steps did you take and what happened:**
Create a backup where the particular combination of namespaces includes/excludes results in an empty list. The result was a velero srever panic:
[code]
(line numbers won't match up to current code, as this was initially observed on Velero 1.7.1, but I just reproduced it on 1.9.1.
Here's the example that I reproduced it, snippet from Velero backup CR s

[2022-08-20 02:01] blackpiglet commented on #5207
@Va1
Sure. Welcome for contribution.

[2022-08-20 09:23] #5229 closed

[2022-08-22 04:16] nsagark opened #5238 "restic pods are in crashloopback and continuously restarting"
**What steps did you take and what happened:**
Installed velero v1.9 along with restic on eks-d 1.21.5 cluster. The velero pod is up however my restic pods are in crashloopback and the pod are restarting continuously. Here is the error from the restic pods.

An error occurred: could not read pod volumes host path: open /host_pods/: permission denied

**What did you expect to happen:**
Expected res

[2022-08-22 04:18] nsagark commented on #5238
Here is my restic YAML file

[code]

[2022-08-22 05:16] nwakalka commented on #5188
any update @ywk253100 ?

[2022-08-22 05:18] reasonerjt commented on #5223
@shubham-pampattiwar

 by `not reproducilbe on earlier versions` do you mean not reproducible on earlier versions of openshift?
 If this was caused by the addmisionwebhook, what do you think we can fix in velero?

[2022-08-22 05:18] reasonerjt commented on #5235
Thanks, let's fix it in v1.10

[2022-08-22 06:03] reasonerjt commented on #5222
This problem should be mitigated by the PR https://github.com/vmware-tanzu/velero/pull/5189
Which is part of v1.9.1.

However, please be reminded that this snapshot is not durable.

[2022-08-22 06:17] reasonerjt commented on #5226
This issue was discussed when we were designing for kopia integration.  For kopia path, we decided that we are going to use the reference to BSL so that the change in the BSL will be reflected to the CR `backuprepository`.

For Restic path, b/c this was not a newly introduced issue, we decided we won't fix it.

@Lyndon-Li please double-check to make sure that this issue is fixed in the e2e flow of

[2022-08-22 06:18] reasonerjt commented on #5226
As for the restic path, we'll check the PR #5227, but IMO it exists since the resticIdentifer was introduced, so may not be a high priority for us.

[2022-08-22 06:32] #4923 closed

[2022-08-22 06:33] blackpiglet commented on #5238
I think this part's setting is the reason

[code]
The default DaemonSet setting is:
[code]

This is because Restic pods need to read nodes' kubelet pod directory to access pods' volumes data.

[2022-08-22 07:48] kaovilai commented on #5226
Just something I noticed and decided to give a go fixing in #5227 but haven't received reports of people experiencing this issue (maybe they don't know?) yet. So until then you could say it's not high priority.

[2022-08-22 08:20] Lyndon-Li commented on #5226
Double checked Kopia's workflow, for each connecting try, Velero acquires the latest configuration from BSL and then use them for the connection that finally calls Kopia's Connect function. Kopia's Connect first tries to connect to the remote storage, then update its config file so as to make it up-to-date.

As the current design, for each PodVolume Backup/Restore, we make this connecting try one

[2022-08-22 11:02] nsagark commented on #5238
Thanks, @blackpiglet Is there a way to deploy restic containers as non root Or by adding some capabilities?

[2022-08-22 11:22] blackpiglet commented on #5222
@angelsantillana94
There is still some problem on v1.9.1 CSI configuralbe snapshot timeout function.
I'm working on CSI plugin part fix.

Checked Ceph RBD CSI driver, looks like the snapshot is uploaded as RBD images after creation, but please double check the snapshot is durable before using in production environment, because Velero CSI plugin doesn't guarantee the snapshot is uploaded into a HA

[2022-08-22 13:26] sseago commented on #5235
@reasonerjt Yes, that makes sense. This doesn't seem like a blocker -- although if we do end up releasing 1.9.2, it's a small change we could cherry-pick if it made sense.

[2022-08-22 13:30] sseago commented on #5223
@reasonerjt Not reproducible in that the specific conditions that triggered the error for this particular resource type aren't there in earlier versions. But the problem is a more generic one. I know I've seen this manifest itself in the past when working on unrelated code which checked for IsAlreadyExistError as a means of determining whether something existed before.

What other problems are you

[2022-08-22 13:57] shubham-pampattiwar commented on #5223
@sseago +1, @reasonerjt please take a look at this proposed PR as a fix for this issue https://github.com/vmware-tanzu/velero/pull/5239

[2022-08-22 15:01] dymurray commented on #5235
@sseago @reasonerjt I am in favor of backporting to 1.9 since it's a small change and 1.10 is a few months away. Please include this in a 1.9.2 release.

[2022-08-22 21:30] SnaveNitsua commented on #3918
same problem

[2022-08-23 02:27] qiuming-best commented on #5071
Codes already submitted

[2022-08-23 02:27] #5071 closed

[2022-08-23 02:27] qiuming-best commented on #5072
Codes already submitted and merged

[2022-08-23 02:27] #5072 closed

[2022-08-23 02:48] qiuming-best commented on #5073
Codes merged

[2022-08-23 02:48] #5073 closed

[2022-08-23 02:48] qiuming-best commented on #5074
codes merged

[2022-08-23 02:48] #5074 closed

[2022-08-23 03:05] skoonin commented on #4969
i am having a similar issue with the latest velero deployed via helm via terraform..   getting the error :
`error taking snapshot of volume: rpc error: code = Unknown desc = ConcurrentSnapshotLimitExceeded: Maximum allowed in-progress snapshots for a single volume exceeded.\n\tstatus code: 400`

[2022-08-23 03:22] blackpiglet commented on #5223
Which adminssion webhook triggered this error?
If the webhook is maintained by ourself, it's better to return a more self-explained error message or error code.

[2022-08-23 07:00] rnarenpujari opened #5242 "Restic fails to restore volume if corresponding pod doesn't exist in cluster but deployment does"
Restore partially fails with
[code]
I discovered this while restoring a backup into a different cluster but looks like it can happen in any scenario where the backed up pod doesn't exist on the cluster but its deployment does.
Looks like what's happening is velero tries to restore the volume data ([link](https://github.com/vmware-tanzu/velero/blob/082d680d7b0cbf1127d3dd2d29e5c706ab88232e/pkg/resto

[2022-08-23 07:01] ywk253100 commented on #5097
Done by https://github.com/vmware-tanzu/velero/pull/5190

[2022-08-23 07:01] #5097 closed

[2022-08-23 07:15] anshulahuja98 commented on #4724
Even exists / doesnotexist filters do not work as expected in velero

An error occurred: invalid argument "l exists" for "-l, --selector" flag: couldn't parse the selector string "l exists": unable to parse requirement: found 'exists', expected: in, notin, =, ==, !=, gt, lt

[2022-08-23 07:59] #5023 closed

[2022-08-23 08:50] anshulahuja98 commented on #4724
https://github.com/kubernetes/apimachinery/issues/145

[2022-08-23 08:59] blackpiglet commented on #5238
@nsagark
I tried to use `priviledged: true` instead, but it didn't work. I think this is due to the directory `/var/lib/kubelet/pods` on host's owner's GID and UID setting.
I verify this on my docker-desktop k8s cluster. It is `root:root`. If this is also true for your environment, I think running as root user is mandatory.

[code]

[2022-08-23 11:42] blackpiglet commented on #5242
I agree Restic cannot work well in this situation, but by current design, it's not easy to handle this case. Velero actually breaks down the relateionship between controller and its resources, e.g. pods, RS and deployment. Velero will backup and restore pods first, then the RS, at last is deployment, and there is no mechism to check whether the pods are deleted or not after successfully creation.

[2022-08-23 14:16] shubham-pampattiwar commented on #5223
@blackpiglet This was triggered by `volumesnapshotclass` admission webhook I believe.

[2022-08-23 14:28] sseago commented on #5223
@blackpiglet The issue is that the admission webhook validation happens before the normal create call, which means we don't get an IsAlreadyExists error. In this case, the resource already exists, so we don't want a more self-explained error message. We don't want the error message at all. We want to recognize that the resource is already in the cluster (just as we do when we get an IsAlreadyExist

[2022-08-24 01:04] reasonerjt commented on #3229
We are not going to deliver the feature but only  have the concrete design in v1.10, and that's tracked by another issue.

[2022-08-24 01:05] reasonerjt commented on #957
Moving this out of v1.10 as we don't have the bandwidth per discussion with jibu guys offline.

[2022-08-24 01:13] reasonerjt commented on #18
Per discussion, we decided to put this in the backlog and revisit in planning some future release.

[2022-08-24 01:15] reasonerjt commented on #5027
Per discussion we may have limited bandwidth to handle the refactor for restore controller, moving it out of v1.10

[2022-08-24 08:17] ywk253100 opened #5243 "Move the common code in the pkg/restic/common.go to the proper package"
**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley face" up to the right of this comment to vote.

- :+1: for "I would like to see this bug fixed as soon as possible"
- :-1: for "Th

[2022-08-24 09:30] bhargavkeshav opened #5244 "Velero not updating the snapshot timeout feature available with v1.9.1 version"
**What steps did you take and what happened:**
We have deployed velero inside the EKS cluster using helm to take the backup of the applications. We are using AWS EBS CSI driver for the persistence volume storage.

Velero version: v1.9.1
EKS version: 1.20
plugins details:

[code]

We are taking daily backup of the all the application namespace using the schedule and its failing to take the snapshot

[2022-08-24 11:31] zohebs341 opened #5246 "velero in AKS 1.22.11 - Pods not coming up after restoration(From Velero Backup)"
### Discussed in https://github.com/orgs/vmware-tanzu/discussions/5245

<div type='discussions-op-text'>

<sup>Originally posted by **zohebs341** August 24, 2022</sup>
Environment: Azure AKS 1.22.11
Velero Version: velero/velero:v1.8.1
velero/velero-plugin-for-microsoft-azure:v1.4.1

As a part of our workload migration, I've deployed velero in both AKS clusters (Primary, Secondary).
With velero, I

[2022-08-24 11:32] zohebs341 commented on #5246
In Pod events, I can see this info: 3 node (s) had volume node affinity conflict.

[2022-08-24 23:10] divolgin commented on #4782
I have confirmed that deleting this config map allows the restore to complete successfully: `change-storage-class-config`.  The problem must be in the `ChangeStorageClassAction` as pointed out earlier.

Tested with 1.9.0 and 1.9.1

@reasonerjt Please re-open this issue.

[2022-08-25 08:56] rnarenpujari commented on #5242
Looks like the path is checked shortly before running the restic command which I guess means the pod would have been running at the time: https://github.com/vmware-tanzu/velero/blob/e8494418d4135f0b26be5522b1bb9317c222c3c3/pkg/controller/pod_volume_restore_controller.go#L235
So perhaps the pod was deleted while the restic restore was going on.

[2022-08-25 12:31] blackpiglet commented on #5242
I agree. Before running Resic command, Pod volume restore controller will check whether pod's `restic-wait` InitContainer is running, so I suppose the pod is deleted after Restic command started.

https://github.com/vmware-tanzu/velero/blob/main/pkg/controller/pod_volume_restore_controller.go#L208-L214

[2022-08-25 12:47] blackpiglet commented on #5244
@bhargavkeshav
What is the size of volume you are backing up with? I supposed big size volume may take much time during moving snapshot data into object storage. but this is a little surprising to me the snapshot creation took more than ten minutes.  Is this a normal case for EKS snapshot creation?

Could you post more Velero pod log before failure? Need to check what is the reason of Velero pod r

[2022-08-25 13:12] blackpiglet commented on #5246
@zohebs341
Could you follow this link guidance to see whether it would resolve your problem?
https://velero.io/docs/v1.9/restore-reference/#changing-pvc-selected-node

[2022-08-25 13:38] zohebs341 commented on #5246
@blackpiglet Thanks for your response. I've attached two files. (One one and failing one)

Kindly go through the
[NotWorking-Velero-AKS-1.22.11.docx](https://github.com/vmware-tanzu/velero/files/9425162/NotWorking-Velero-AKS-1.22.11.docx)
word documents attached.
[Working-Velero-AKS-1.22.11.docx](https://github.com/vmware-tanzu/velero/files/9425160/Working-Velero-AKS-1.22.11.docx)

The problem tha

[2022-08-25 14:29] blackpiglet commented on #5246
@zohebs341
AFAIK, Velero Azure plugin doesn't support cross region backup and restore. @ywk253100 Am I right?

[2022-08-25 14:32] zohebs341 commented on #5246
@blackpiglet I am storing backups in NorthEurope. Even it worked for me one time, today when I tried again. It's not working.

If my backups were in WestEurope, then as you said - It won't support cross-region. Please can you check my attachment?

In this use case:

Source: WestEurope
Dest: NorthEurope

And backup storage location is NorthEurope.

[2022-08-25 14:40] zohebs341 commented on #5246
After restoration in the destination cluster, the PV location is still pointed to the source cluster.
But sometimes, after restoration PV location is pointing to the destination cluster region and the pod is coming up. I've attached both word documents in my previous comments.

# kubectl describe pv pvc-762426ba-4b92-4af0-84f4-4ab76c627866
Name:              pvc-762426ba-4b92-4af0-84f4-4ab76c62786

[2022-08-25 15:24] sseago commented on #4782
Reopening because it was never resolved (closed by stale bot) and theree's now a PR submitted to fix the issue.

[2022-08-25 15:31] sseago commented on #5246
If you're going cross-region, you need to use restic for backup rather than snapshots. Restic does support cross-region (since completely new PVs are provisioned in the restore cluster, with data copied from the BackupStorageLocation), but AWS/Azure snapshotter plugins do not support cross-region restores.

[2022-08-25 18:34] zohebs341 commented on #5246
@sseago Thanks for your response. Got it.

[2022-08-25 19:28] zohebs341 commented on #5246
@sseago one last question.

What if source cluster (Region A) is running with No AZs.
Destination cluster is running with Multi AZs (but same region - Region A)

In this case, velero backup/restore work without restic?

As both clusters are in same region but difference is with AZs

[2022-08-25 19:51] sseago commented on #5246
@zohebs341 I'm not 100% sure on this off the top of my head, but I think you're fine across AZs within the same region, but not across multiple regions.

[2022-08-26 01:49] blackpiglet commented on #5246
@zohebs341
I think there is possibility Velero plugins don't work in this case.
I'm sure GCP plugin doesn't guarantee this function. For example, GCP has 6 AZs in us-central1 region. If your cluster is created regional, it means GKE will choose 3 random AZs from the 6 AZs in this region, so there is a big chance the source cluster's AZs is different from destination AZs, and Velero GCP plugin cann

[2022-08-26 04:45] sgatdell opened #5250 "Velero is validating BSL every 10 seconds even though validation frequency is in hours in v1.9.1"
**What steps did you take and what happened:**

Velero is validating BSL every 10 seconds
We see these messages every ~10 seconds in v1.9.1 and every minute in v1.9.0

time="2022-08-26T01:46:50Z" level=info msg="BackupStorageLocations is valid, marking as available" backup-storage-location=velero-ppdm/k8s081722-ir-fc1873badb0392fffdc4a3e36828755e15e96d326471e79fe1861ad0bbae395a.stagings controller

[2022-08-26 06:56] blackpiglet commented on #5250
@sgatdell
Sorry for the inconvenience of using Velero, per my understanding, I think this error is not caused by BackupStorageLocation controller bug. It seems there is a mismatch between Velero binary and Velero CRDs.
In Velero v1.9.0 Release, all Velero CRDs' status sub-resource section is deleted.
As a result, if Velero image is updated to v1.9.1, but the CRDs are still using v1.8 version. Vele

[2022-08-26 09:43] andy108369 commented on #2073
Not original author here, but have hit the same issue and can confirm that `restic` process got killed due to OOM. (Velero `1.9.0` & `1.9.1`).
Fixed by lifting the memory resource limit from `1Gi` to `2Gi` on the `restic` DaemonSet.

![image](https://user-images.githubusercontent.com/107317698/186870405-02538530-81df-459c-bce8-da9277346755.png)

@skriss Since `restic` process did consume a little

[2022-08-26 09:49] zohebs341 commented on #5246
@sseago @blackpiglet
I Just deployed a basic statefulset with PVC on No AZ NodePool(Cluster Region -A)
Once the pod is up and PVC got attached to it. I add a node selector to that stateful set, to run on Multi-AZ NodePool of the same cluster.

Same Error:  node (s) had volume node affinity conflict.

PVC belongs to No AZ Cluster/NodePool - cannot be used across Multi AZ Nodepool of the same Cluste

[2022-08-26 13:56] trankchung commented on #4776
I'm confirming that adding `iam.serviceAccounts.signBlob` permission suggested by @jglick fixed this issue.

[2022-08-26 14:58] andy108369 opened #5251 "Velero 1.9.1 backup timed out waiting for all PodVolumeBackups to complete leaving process consuming 99% CPU running for >5 hours already"
[code]

- Velero restic backup timed out:

[code]

Leaving a process consuming 99% CPU behind:

[code]

Is running for more than 5 hours now.

That is the same restic PID which is running after I've lifted the memory limit from `1Gi` to `2Gi` here https://github.com/vmware-tanzu/velero/issues/2073#issuecomment-1228287647

Please advise.

[2022-08-27 02:40] blackpiglet commented on #5246
@zohebs341
Sounds like this is the expected behavior. Since I'm not familar with Azure cloud provider, @ywk253100, could you please take a look to ensure?

[2022-08-27 02:43] blackpiglet commented on #4776
@trankchung @jglick
Thanks for suggestion and confirmation.

[2022-08-27 03:38] blackpiglet commented on #5251
The PodVolume timeout configuration 240 minutes.
If your backup data is pretty much, you can set the PodVolume timeout by two ways:
* Annotate the backup with "velero.io/pod-volume-timeout". This will take affect on the backup you annotate.
* Set the velero server parameter in Velero deployment with `--restic-timeout <duration>`. This will affect all the backups.

You may need to restart the Resti

[2022-08-27 07:25] andy108369 commented on #5251
Thanks, in my case the memory is not an issue. (it was resolved after I have increased the mem limit from `1Gi` to `2Gi`).

The issue I have is the `restic` process stopped doing anything after reading about `41Gi`, the  symptoms are following:
- no I/O activity - `cat /proc/$(pidof -s restic)/io` - read_bytes / write_bytes have not been changing;
- no network activity other than some attempts con

[2022-08-27 13:44] blackpiglet commented on #5244
Checked with CSI external-snapshotter and AWS-EBS-CSI-driver code, external-snapshotter updates the VolumeSnapshotContent status snapshot handle immediately after CSI driver response CreateSnapshot RPC call. CSI driver CreateSnapshot calls EC2 [CreateSnapshot](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateSnapshot.html) API.

This API  document doesn't illustrate when the API ca

[2022-08-27 19:49] andy108369 commented on #5251
I've noticed `restic` process was still getting OOM killed, this time reaching `2Gi`.
Interesting part is that it seems* it left the process running at 99% CPU usage, no I/O nor network activity behind, with exactly same symptoms as described above. (it *seems - because I've had 1 process launched manually and another one on schedule, they might have collided making the new process OOM and the old

[2022-08-28 07:22] cleverhu opened #5253 "Output csisnaphottimeout when using the `velero backup describe` command"
**Describe the problem/challenge you have**
When I am trying to view this issue（https://github.com/vmware-tanzu/velero/issues/5244), I found that CSISnaphotTimeout was not displayed when using describe. At first, I thought that CSISnaphotTimeout was not effective, but I was wrong. It was effective. I think it is necessary to show CSISnaphotTimeout and it is useful for user troubleshooting.

**Desc

[2022-08-28 07:23] cleverhu commented on #5253
/assign

[2022-08-28 11:11] bhargavkeshav commented on #5244
@blackpiglet  We are running daily scheduled backup and it failing with same error everyday. When I checked the logs it failed for 4 volumes.

After everyday backup failure velero pod is restarting.
[code]

Previous pod logs:

[velero.txt](https://github.com/vmware-tanzu/velero/files/9439527/velero.txt)

[2022-08-28 12:35] cleverhu commented on #3861
@reasonerjt i have pull a request for this issue, can you help me to improve it? thx

[2022-08-28 20:51] rootmout opened #5255 "run preHook before listing items to backup"
**Describe the problem/challenge you have**
I want to use velero+restic as a standart backup solution for my pod volumes. These volumes are quite large and are in constant use, using restic directly could result in corrupted backups. My wish was to use preHook to replace the containers in the pods with an image mounting the volume without using it. This way, during the backup, the volume remains m

[2022-08-28 21:56] andy108369 commented on #5251
Unfortunately, no difference.

It is running way longer than `240 minutes` (more than 11h52mins), taking 99% of CPU (having all the same symptoms as mentioned before):

[code]

[code]

Is there some way to determine where / why it gets stuck?

[2022-08-29 01:13] #5078 closed

[2022-08-29 01:13] Lyndon-Li commented on #5081
fixed by #5233

[2022-08-29 01:14] #5081 closed

[2022-08-29 01:40] cleverhu commented on #5255
This issue seems like https://github.com/vmware-tanzu/velero/issues/5036.

[2022-08-29 03:29] blackpiglet commented on #5255
@rootmout
Per my understanding, Hook is used to run some commands to do some setup and restore for backup and restore process. For example, before backing up some database, we can run some command to flush data into disk.
And another thought about order of listing resources and running hook is that Velero needs to list resource, then decides
 whether running hook. If reverting the order, it's not

[2022-08-29 03:43] Lyndon-Li commented on #4707
We will keep adding/linking the resource dependency related requirements/issues here, so that we have enough idea of how to make an ultimate solution.

[2022-08-29 03:44] Lyndon-Li commented on #4707
One more dependency case is the service's ExternalName feature:
https://kubernetes.io/docs/concepts/services-networking/service/#externalname:~:text=pod%3A%20true-,Type%20ExternalName,-Services%20of%20type

By ExternalName, a service may be redirected to target service in a different namespace. In a restore scenario, if the target service's namespace is changed, the source service will not work if

[2022-08-29 03:53] Lyndon-Li commented on #4707
Another problem could be solved by a dependency solution:
A sophisticated restore order could be defined according to resources' dependencies, so that there is no conflict for restore.
An example here #5068

[2022-08-29 03:55] Lyndon-Li commented on #4938
I am closing this issue as this is the current behavior of Velero as mentioned above. If we have any requirement that strongly requires a change of this behavior, we can reopen it. Thanks.

[2022-08-29 03:55] #4938 closed

[2022-08-29 05:05] Lyndon-Li commented on #5255
This is a typical problem that should be solved by a snapshot based backup. Other than that, some customized approach that is to stop the work of the workload so that no write will happen, may not be in the scope of Velero's consideration since they are either tricky or not generic enough.

Therefore, the question comes down to do the PV to be backed up support CSI snapshot? If so, Velero's future

[2022-08-29 07:14] rootmout commented on #5255
Thanks for answers

@Lyndon-Li I use two different types of PV: local-path and topolvm. I initially thought I could do snapshots but neither of them supports it (maybe later for topolvm https://github.com/topolvm/topolvm/issues/124).

In doc, there is a [fsfreeze example](https://velero.io/docs/v1.3.2/hooks/#hook-example-with-fsfreeze) but when you use multiple local-path pv with same filsesystem

[2022-08-29 07:26] blackpiglet commented on #5238
@nsagark
If you can modify the `/var/lib/kubelet/pods` directory's owner and group on k8s node, and change it from `root` to other user, I think you can make Restic DaemonSet working without running as `root`.
[code]

[2022-08-29 07:29] ywk253100 commented on #5086
Close this issue as no change is needed.

[2022-08-29 07:29] #5086 closed

[2022-08-29 09:41] Lyndon-Li commented on #5251
@andy108369 Could you help to share more details of the file data to be backed up, especially the 3.9T file and 997G file:

- Are there lots of "0" in the file?
- If so, how much (data size) of "0" in the file?

[2022-08-29 11:18] blackpiglet commented on #5255
@rootmout
I think the feature you described is something like backup/restore scope hook. I heard there was a propoal PR in that topic.

[2022-08-29 11:27] blackpiglet commented on #5244
@bhargavkeshav
What is the size of the PVCs that failed in backup?
Also need to check the snapshot-controller, csi-snapshotter and AWS-EBS-CSI-driver's version.
I think I need to reproduce this case for debugging. Appreciate for more information of this case.

[2022-08-29 12:39] blackpiglet opened #5257 "Test whether mixing CSI and Resitc in one backup works"
**What steps did you take and what happened:**
There is a [discussion](https://vmware.slack.com/archives/C03HY52F83H/p1660641831363359) about mixing CSI plugin and Restic in one backup on Slack.
Per Velero current code, it should both work by default to backup with Restic, then opt-out volumes backup with CSI, and default to use CSI plugin, then opt-in with Restic.
Need to test to verify whether t

[2022-08-29 13:24] mcortinas commented on #5149
Hi, this sounds great! thank you @blackpiglet !
 apologies for my delay answer, I was on vacations.... Yes, you're right, my backup source is a new :k8s: cluster and we want to restore in a old :k8s: cluster....
Awesome @blackpiglet , thank you very much for your help and your time!

[2022-08-29 13:46] andy108369 commented on #5251
Bingo!

They do seem to have a lot of "0"'s in them, as it first appears to be large files:

[code]

In reality they are consuming only 4.5Gi and 10Gi each:

[code]

Does it somehow affect the `restic` / confirms the `cancelled_write_bytes`?
Is there a way around it to make `restic` (velero) work with these kind of files?

[2022-08-29 14:06] #4782 closed

[2022-08-29 15:10] Lyndon-Li commented on #5251
Then I am afraid after you change the memory to 10G, everything goes to normal and Restic may finally complete its work merely it will take quite a long time since there are 3.9T for Restic. I say "may finally complete", because along the running, no one knows how much memory Restic will use, so 10G may not be enough.

let's first check the rchar vs. read_bytes:
 
- For the 1st statistic, rchar=33

[2022-08-29 15:20] andy108369 commented on #5251
I'm already running with [that](https://github.com/vmware-tanzu/velero/issues/5251#issuecomment-1229255415) setting since 2 days ago.

The restic process is not getting OOM-killed.

The error now is this - as the new backup gets scheduled every once a day it hits the lock:

[code]

I have checked - the `restic` process is now gone.

Makes sense, I'll open an issue in [restic GH issues](https://git

[2022-08-29 15:26] Lyndon-Li commented on #5251
This means some Restic processes have left over an orphan file lock in the repository.
This may be normal since the current backup haven't finished in 1 day. So when a new Restic process is launched the second day, it is blocked

[2022-08-29 18:42] cleverhu commented on #3565
I tried it. If the backup resources do not exist, the backup items with a length of 0 will be successfully backed up without an error. However, when try to create the restore by the backup an error will be reported. Therefore, I do not know which method is better and I pull a request, I hope you can give me some advice.

[2022-08-29 19:31] MichaelEischer commented on #5251
The `backup` command doesn't use exclusive locks. It must be a different command that left that lock behind.

4TB shouldn't require much more than 400MB for the index, if all chunks were different. However, as the file appears to largely consist of zeroes this will mean nearly perfect deduplication, thus the index size will probably only be a few MB. What requires a lot more memory is the director

[2022-08-30 06:16] bhargavkeshav commented on #5244
The size of the PVCs that failed in backup.
[code]

Version details:

k8s.gcr.io/sig-storage/snapshot-controller:v4.0.0
602401143452.dkr.ecr.us-east-1.amazonaws.com/eks/aws-ebs-csi-driver:v1.5.1
 k8s.gcr.io/sig-storage/csi-provisioner:v2.1.1
  k8s.gcr.io/sig-storage/csi-snapshotter:v3.0.3
   k8s.gcr.io/sig-storage/csi-resizer:v1.1.0

[2022-08-30 08:55] #5022 closed

[2022-08-30 09:03] Lyndon-Li commented on #3386
This problem is fixed for Kopia path in PR #5142

[2022-08-30 12:08] blackpiglet commented on #5244
I created two PV with about 500GB data for testing, but I didn't meet the problem described.
The CSI environemnt is a little different from your configuration.
There is a CSI plugin v0.3.0 verified environment section in this place: https://github.com/vmware-tanzu/velero-plugin-for-csi#verified-environment
Could you please try to use new version of CSI snapshotter to see whether it works?

[2022-08-30 12:54] blackpiglet commented on #957
@jerry-jibu
For your case, how to distinguish two types of PVC volumes?

[2022-08-30 12:59] blackpiglet commented on #957
The original issue should be resolved by Restic opt-in, opt-out way and --exclude-resources parameter.
There are two use cases may need consideration:
* Certain types of PVC should be skipped.
* In some HA cases, different PVs contains same data. Backup only one is enough.
* Some PVs can be mounted multiple times. Should backup only once.

[2022-08-30 13:07] blackpiglet commented on #957
Could you give a use case for this scenario? I can only think of backuping one of the STS's volume for example.

[2022-08-30 15:33] grivas commented on #3348
Experiencing a this issue now, quite surprised to see that the issue was closed without a proper explanation or actions to be taken.

[2022-08-30 15:42] georgettica commented on #3348
Sadly I didn't have more context on this and I no longer use the tool to check it again :(

[2022-08-30 15:44] artooro commented on #3348
@grivas what version of velero are you using? As I am no longer seeing this error in v1.9

[2022-08-30 16:53] sseago opened #5262 "BackupItemAction refactoring for plugin versioning isn't backwards compatible"
**Describe the problem/challenge you have**
BackupItemAction refactoring for plugin versioning isn't backwards compatible. We need previous plugin release to work with velero 1.10. Instead of putting all plugins into their own package at "generated/<plugin-type>/<version", we should use that for v2, v3, etc. but assume that v1 is found in "generated" as it is now. The version negotiation code and/

[2022-08-30 18:08] grivas commented on #3348
@artooro, I am using 1.9.0 too. It started to happen a few days ago, we made a quite big update from of an around 2 years old installation.

[2022-08-30 20:51] rootmout commented on #5255
@blackpiglet

You're right: there is an open proposal for **Action Plugin Hooks** that is what I was looking for:
- proposal: [design/new-prepost-backuprestore-plugin-hooks](https://github.com/vmware-tanzu/velero/blob/015e8e7db900a3171a761580e8fbbfa8dcc155f1/design/new-prepost-backuprestore-plugin-hooks.md)
- related issue: https://github.com/vmware-tanzu/velero/issues/4067

Thank for help :+1:

[2022-08-30 20:51] #5255 closed

[2022-08-31 06:15] pankajmt opened #5265 "velero-upgrade-crds unable to run on v1.9.1"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Installing velero v1.9.1 via its helm chart version 2.31.3. velero-upgrade-crds fails.

**What did you expect to happen:**

velero to deploy fine.

**The following information will help us better understand what's going on**:

_If you are using velero v1.7.0+:_
Please us

[2022-08-31 08:09] reasonerjt commented on #5244
Removing it from v1.9.2 candidate as this looks like an env specific problem,  we will re-evaulate once we have more information.

[2022-08-31 08:14] reasonerjt opened #5266 "Cherrypick PRs for v1.9.2"
This is opened to make sure the PRs are cherry-picked to v1.9.2 release:
#5247
#4980
#5236

[2022-08-31 08:15] reasonerjt opened #5267 "Bump up the golang to fix CVEs"
To reflect the CVE mentioned in #5249
We will bump up golang for velero server and plugins to fix it.

[2022-08-31 08:48] andy108369 opened #5268 "velero 1.9.1 unable to create lock in backend: repository is already locked exclusively by PID"
Velero 1.9.1 is unable to create lock in backend: repository is already locked exclusively by PID - no matter if I scaled the entire restic daemonset to 0 and then back to 1.

1st attempt:

[code]

2nd attempt:

[code]

This seem to be limited only to the same Pod I've mentioned in https://github.com/vmware-tanzu/velero/issues/5251

Checked the node running `fiohistory` pod -> there are no stale `

[2022-08-31 10:24] Lyndon-Li opened #5269 "Velero Kopia Integration - Rename DefaultVolumesToRestic in Backup CRD"
Epic: #5050
Design: #4926

`DefaultVolumesToRestic` exists in Backup CRD, when adding kopia path, the name is not reasonable, need to rename it.
For compatibility consideration, the old parameter of the existing CRs created by old versions should also be respected.

[2022-08-31 10:28] Lyndon-Li opened #5270 "Velero Kopia Integration - Rewrite Pod Volume Backup Restore Doc"
Epic: #5050
Design: #4926

After adding kopia path, the document for Pod Volume Backup Restore need to be rewritten.

[2022-08-31 11:27] odidev commented on #5177
@danfengliu Kindly take a look on above query.

[2022-08-31 15:01] #5223 closed

[2022-08-31 19:26] shubham-pampattiwar commented on #5266
@reasonerjt Can we add the following PRs for 1.9.2:
https://github.com/vmware-tanzu/velero/pull/5217
https://github.com/vmware-tanzu/velero/pull/5239

[2022-09-01 00:47] pankajmt commented on #5265
i could get the upgradecrds to work, i had the wrong version of velero configured. but would be good to understand how this /tmp/sh stuff works, unless i am off track. (can close this, not closing myself yet as looking to understand).

[2022-09-01 02:01] danfengliu commented on #5177
@odidev Sorry for late response, I will look into this after releasing Velero v1.10, if you have any concern please let me know.

[2022-09-01 02:05] Lyndon-Li opened #5272 "Velero Kopia Integration - Prevent stale configuration after BSL's storage config updated for Kopia path"
This is an equivalent issue to #5226 for Kopia path, we need to make sure reconnect Kopia repo when BSL's storage config is update so that the Kopia config is updated as well

[2022-09-01 02:07] Lyndon-Li commented on #5226
Remove the `kopia-integration` label from this issue as an equivalent issue for Kopia has been opened.

[2022-09-01 02:56] blackpiglet commented on #5222
@angelsantillana94
After checking #5244, I think currently CSI plugin works fine for the verified environment and scenario.
Could you please check the version of csi-snapshotter and snapshot-controller?
There is a CSI plugin v0.3.0 verified environment section in this place: https://github.com/vmware-tanzu/velero-plugin-for-csi#verified-environment

[2022-09-01 03:03] blackpiglet commented on #5187
I think this issue can be closed.

[2022-09-01 03:03] #5187 closed

[2022-09-01 03:04] #4471 closed

[2022-09-01 03:06] #4776 closed

[2022-09-01 03:28] blackpiglet commented on #4802
Not familiar with Azure concept, so cannot confirm on the first question.
For the second question, I think the logs of specified backup is already included in Velero server pod. After backup completed, Velero server use backup name as filter to find related information, and upload to S3.

[2022-09-01 03:30] #4445 closed

[2022-09-01 06:22] Lyndon-Li commented on #5268
This lock doesn't exist in the local file system but in the Restic repository in the remote object store.
Nearly all Restic operations acquire this lock, some acquire share locks, for example, backup, snapshot list, etc.; some acquire exclusive locks, for example, snapshot delete, prune, etc.
These operations will be invoked by Velero during backup/restore routinely or specially in some cases.

Ve

[2022-09-01 06:24] Lyndon-Li commented on #5251
I am closing this issue since we've known the cause of the CPU and memory usage and a Restic issue has been opened.
The lock problem will be handled in #5268 separately.

[2022-09-01 06:25] #5251 closed

[2022-09-01 06:46] Lyndon-Li commented on #5087
I am closing this issue. Feel free to reopen it for any new requirement.

[2022-09-01 06:46] #5087 closed

[2022-09-01 09:00] andy108369 commented on #5268
I think this is the case now that I've just reinstalled the Velero (am using helm chart based installation).
The PID from the lock file relates to `restic prune` process which is still running.

I also had to manually remove the stale lock file off of the GCP repo because `Running maintenance on restic repository` was hitting the old PID throwing an error every ~ 2 seconds -- I think the timeout f

[2022-09-01 09:05] siva25081994 opened #5273 "Velero 1.9.1 is not creating backups"
**What steps did you take and what happened:**
When a schedule is created, Backups are not getting created when installed velero 1.9.1. Also getting a error in velero logs **schedule not found" error="Schedule.velero.io**.

**What did you expect to happen:**
Backups should be created based on the schedule.

**The following information will help us better understand what's going on**:

_If you are

[2022-09-01 09:34] Lyndon-Li commented on #5268
You need to uninstall Velero then reinstall it, so that the Velero namespace could be deleted by Kubernetes and Velero pods could be killed.
Without uninstall first, it equals to doing nothing since all objects in Velero namespace exist.

Not quite understand what this means. Let me explain what happens first.
Velero indeed has a prune cycle which is much longer than 2 seconds or 5 mins. The curre

[2022-09-01 09:40] grivas commented on #3348
Fixed, we were using an old gcp plugin version (1.0.1), fixed after upgrading to 1.5.0. For future visitors, bear in mind that plugins are not provided with the velero helm chart and you should config them through `initContainers` at [velero values](https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/values.yaml).

[2022-09-01 09:55] andy108369 commented on #5268
That's exactly what I did an hour ago and have then seen the lock file was still there, preventing `Running maintenance on restic repository`.

Please check this one https://gist.github.com/andy108369/5d8088296c5cd10facf5c1384e0dc392 -- it checks for the lock every 2 seconds based in that log, until I've removed the lock file manually. (That happened after I've reinstalled the Velero, that lock fi

[2022-09-01 09:56] Lyndon-Li opened #5274 "Remove Restic dependencies in Velero plugins"
Some Velero BackupItemAction/RestoreItemAction plugins, for example, CSI plugin, vSphere plugin, contain some code to actively check and exclude the volumes handled by Velero's Pod Volume Backup/Restore. As a result, these plugins depend on Velero's code in PodVolume/Restic package.

In v1.10, we've refactored the code, plugins need to call the new function.
It is recommended to remove the irratio

[2022-09-01 10:05] Lyndon-Li commented on #5268
The problem shown in the log is exactly what I meant, it keeps trying to finish the prune for the current cycle but it always fails. So I proposed this enhancement -- if the prune keeps fail, skip the prune run for the current cycle.

If this is what you meant, please open a new issue (since we have discussed many things in the current issue) -- Velero prune keep retires every 2 second when one pr

[2022-09-01 10:09] Lyndon-Li commented on #5268
Sorry, I missed one thing.
First of all, uninstall then reinstall, this operation is required.
Secondly, when you uninstall Velero, Velero's pods are killed, so the Restic prune process is killed. However, the lock is left over in the Restic repo remotely.
Therefore, either you need to manually remove the stale lock or you need to wait for 30 seconds for Velero's stale lock recycle mechanism to re

[2022-09-01 11:47] blackpiglet commented on #5138
Close for now. Feel free to reopen, when need further investigation.

[2022-09-01 11:47] #5138 closed

[2022-09-01 12:29] allenxu404 commented on #5273
According to the current description, I assume the schedule might be removed before the schedule reconcilation was triggered. Could you offer me more information to better locate the problem:

- What does your schedule create command look like? Could you offer me all the options you specify?

- Is there any other errors in the log?

- When this error occurred,  Did you try running `velero get sche

[2022-09-01 12:57] iamjackhu commented on #4971
ok, will try.

[2022-09-01 13:43] andy108369 opened #5276 "Velero prune keep retires every 2 second when one prune fails"
Discussed here https://github.com/vmware-tanzu/velero/issues/5268#issuecomment-1234054333

Logs https://gist.github.com/andy108369/5d8088296c5cd10facf5c1384e0dc392

Velero 1.9.1

[2022-09-01 13:43] andy108369 commented on #5268
=> https://github.com/vmware-tanzu/velero/issues/5276

[2022-09-01 13:43] #5268 closed

[2022-09-01 15:10] blackpiglet commented on #5035
By far, I thought out of two scenarios of skipping volume backing up.
* Volumes are mounted multiple times in a backup. It should be handled only once.
* "backup.velero.io/backup-volumes" and "backup.velero.io/backup-volumes-excludes" should be handled on controller level, then pod created from controller scaling can also be handled.

[2022-09-01 15:29] blackpiglet commented on #5035
I think filtering volume by type also has some value, but there may be not many suitable use cases.
This is useful when volume's dataSource is not PVC.
For example, if customer want to skip all `emptyDir` type of volumes, this would work. For `nfs` volumes, not sure whether customer using NFS volume by this way.
Filtering by StorageClass name should be useful for PVC case.

[2022-09-01 18:51] CypherpunkSamurai commented on #2397
Hello everyone 👋🏼 nice to meet you all.

I'm new to open-source and was hoping to contribute to this issue.

Hello Mrs. @carlisia the issue seems to be about fixing lint errors, here's what I understand from reading the issue and related issues:
* We need to clean the lint errors that `gosec` points out.
* Refactor the code and clean it up.

I'm a beginner, please do point out any mistakes :)

[2022-09-02 01:58] blackpiglet commented on #5035
Another scenario is stated here https://github.com/vmware-tanzu/velero/issues/957#issuecomment-1231643187.
Only backing up one replica's volume in a controller.

[2022-09-02 04:32] allenxu404 commented on #536
Thanks @HaveFun83 for making a contribution to the first Velero dashboard which was taken as an important reference for me when I made the dashboard.
I've already finished another dashboard including all the prometheus metrics and uploaded [the template](https://grafana.com/grafana/dashboards/16829-kubernetes-allen-velero/) on Grafana Labs. We will keep updating it based on the development version

[2022-09-02 06:10] blackpiglet commented on #5120
Sorry for holding a long time on this issue. I'm a little busy with other v1.10 and v1.9.1 tasks recently.

After going througth the scenarios agian, I think the proposal solution works a bit different from Velero mechanism. In my opinion, the solution wants Velero just handles the k8s resources the input tells Velero to deal with. I'm convinced this would work perfectly for experts like you guys,

[2022-09-02 06:22] #4388 closed

[2022-09-02 06:27] #4261 closed

[2022-09-02 07:06] blackpiglet commented on #5035
@gsadhani @pradeepkchaturvedi @reasonerjt
What's your opinion on this proposals?

[2022-09-02 07:48] #5185 closed

[2022-09-02 07:49] #5238 closed

[2022-09-02 08:07] allenxu404 commented on #5265
Good to know you made it work at last! Thanks for your info.

[2022-09-02 08:11] aaronariasperez commented on #192
Hello @jpuskar ! I have the same case, I don't know how to verify the backups without deleting/modifying the original deployment...
Did you find a way to check them?

[2022-09-02 09:08] blackpiglet commented on #4738
After investigation, I think the first issue problem should be fixed. Velero schedule controller should check whether there is backup labeled by the schedule's name and status.Phase is `New` and `InProgress`. If there is some backup, schedule should skip the next backup creation.

For the second problem, backup deletion controller can handle backup's status.Phase in `New`. Backup not deletion is d

[2022-09-02 11:27] Lyndon-Li opened #5277 "Remove the deprecated snapshot ID recording/retrieving method for pod volume backup"
In the current code (`getVolumeBackupInfoForPod`), we have two ways to retrieve the snapshot ID for a PVB, one is to get it from the [PVB's status](https://github.com/vmware-tanzu/velero/blob/main/pkg/podvolume/util.go#:~:text=snapshotID%3A%20%20%20%20%20pvb.Status.SnapshotID%2C), the other is to get it from the [pod's annotation](https://github.com/vmware-tanzu/velero/blob/main/pkg/podvolume/util

[2022-09-02 12:21] allenxu404 commented on #5200
Thanks for your information.

The actual failure reasons can be found in logs. So a possible solution could be to extract error message from logs for now.

But It is convinent to acquire all the information from one place. So I think it's a good idea to include the specific failure reason in backup/restore CR. To this end, The error message need to be collected and recorded together with backup/re

[2022-09-02 13:17] sseago commented on #5200
What you're looking for is already there. `velero describe restore <restore-name>` will list every error and warning. We don't add the full list with messages to the CR itself since there are kubernetes limits on how much we can add to status, and a large backup with a general failure that affects every resource would be too much. The per-backup/per-restore error list is stored in the BSL, and the

[2022-09-02 22:40] andy108369 commented on #5251
@Lyndon-Li there is an idea of adding a `tar` which is able to detect holes in sparse files (`tar --sparse`).

Is it possible to somehow instruct Velero do `tar --sparse <target> | restic backup --stdin ...` and similar during restore?

Ref https://github.com/restic/restic/issues/3903#issuecomment-1235888813

cc @MichaelEischer

[2022-09-03 11:48] #5250 closed

[2022-09-03 12:11] blackpiglet commented on #4361
@nallurichandu99
Sorry for late response. I checked the log, but the log didn't contain the information your mention `"Skipping snapshot of persistent volume because volume is being backed up with restic."`, and there is no error level logs in velero pod log.
But I found this. It could the reason why PV's data is not backed up.
`time="2021-11-16T22:07:03Z" level=error msg="Error uniquely identifyi

[2022-09-05 01:40] #5235 closed

[2022-09-05 02:11] Lyndon-Li commented on #5251
As a general Kubernetes backup tool, Velero always pursues general solutions instead of making solutions for very limited workaround. Therefore, we need to consider below things:

- Which files need `tar` is a question, the entire volume? some files or directories in the volume? We need a way for users to tell this.
- This is also true for the `--sparse `option, which also needs users to tell Vele

[2022-09-05 02:18] Lyndon-Li commented on #5251
Finally, one more question for the user case:
From the files' name, I guess it is some kind of files to store the `share memory` data, it means the data is most probably ephemeral. Why do you want to persist it? Could you share more information of your user case?

[2022-09-05 02:19] #5096 closed

[2022-09-05 02:19] #5095 closed

[2022-09-05 02:22] ywk253100 opened #5280 "Add E2E test case for pause/unpause schedules"
Refer to https://github.com/vmware-tanzu/velero/issues/2363 and https://github.com/vmware-tanzu/velero/pull/5279 for more details

**Vote on this issue!**

This is an invitation to the Velero community to vote on issues, you can see the project's [top voted issues listed here](https://github.com/vmware-tanzu/velero/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).
Use the "reaction smiley

[2022-09-05 06:11] reasonerjt commented on #5265
Thanks @pankajmt I'm closing this issue as usage error.

[2022-09-05 06:11] #5265 closed

[2022-09-05 06:21] reasonerjt commented on #5269
We need to be careful here b/c it may involve the upgrade of CR.

[2022-09-05 06:26] Lyndon-Li commented on #5276
We may make the enhancement like this:

- We define a max retry count, if it exceeds the count, the current prune will be skipped. The prune will be retried at the next prune due time
- Use exponential backoff algorithm for the retries

[2022-09-05 06:44] #5253 closed

[2022-09-05 06:51] Lyndon-Li commented on #5272
Fixed by PR #5221

[2022-09-05 06:51] #5272 closed

[2022-09-05 10:21] jprecuch opened #5284 "FIPS go compliant crypto for velero"
**Describe the problem/challenge you have**
It seems based on our research tha velero is not using FIPS compliant crypto at the moment.
https://github.com/vmware-tanzu/velero/blob/main/Dockerfile#L14

Would it be possible to start using FIPS compliant go crypto instead by default for velero?
It should be simple change like example:
[code]

**Describe the solution you'd like**
[A clear and concise

[2022-09-05 12:33] siva25081994 commented on #5273
1) CRD's are upgraded.
2) kubectl create schedule -n namespace
***
apiVersion: velero.io/v1
kind: Schedule
metadata:
  annotations:
    meta.helm.sh/release-name: name
    meta.helm.sh/release-namespace: namespace
  labels:
    app.kubernetes.io/managed-by: Helm
    dr.ehl.gehc.com/backup_group: test_config
    ehl-app-id: test_services
    ehl-overwrite.1.kind: PersistentVolumeClaim
    ehl-overw

[2022-09-05 13:48] bhargavkeshav commented on #5244
@blackpiglet I configured the environment as specified in the link https://github.com/vmware-tanzu/velero-plugin-for-csi#verified-environment

Helm deployments:

[code]

CSI snapshotter running with v6.0.1 version.

With this version I am not able to take backup - its completely failing.

[code]

Velero pods got restarted and there is nothing in k8s events(not due to OOM)

[code]

When I checked t

[2022-09-06 02:04] qiuming-best commented on #5284
@jprecuch Thanks for your help. Currently, I'm not familiar with FIPS-compliant crypto

So what's the benefit of using FIPS-compliant crypto for velero?

And using `go-boringcrypto/golang:1.17.11b7` as the base image to build images that will be FIPS compliant, is that right?

Thanks

[2022-09-06 02:09] allenxu404 commented on #5273
Thanks for your feedback. I have two questions below:

1. What are other schedules' situation? Do they run normally?

2. Did you try reinstalling Velero with latest version?

[2022-09-06 05:14] siva25081994 commented on #5273
1) What are other schedules' situation? Do they run normally? - No schedule is running properly with latest version. Schedules were running fine with older versions only.

2) Did you try reinstalling Velero with latest version? - Yes I have tried reinstalling and issue remains same.

[2022-09-06 08:00] MallyZhang opened #5288 "Velero restore partially failed as default priorityClass"
**What steps did you take and what happened:**
Velero restore partially failed as only one priorityClass can be default
[code]

[code]

**What did you expect to happen:**

don't report this error when there is one default priorityClass

**The following information will help us better understand what's going on**:

_If you are using velero v1.7.0+:_
Please use `velero debug  --backup <backupname> -

[2022-09-06 09:00] cleverhu commented on #5273
I tried it with new latest version, it works normally. Could you try by this
`kubectl create ns test`
`kubectl create deploy nginx --image=nginx -n test`
and apply for this yaml:
[code]
and record the problems that happens.

[2022-09-06 11:25] gites opened #5289 "High memory usage in Velero during backup"
**What steps did you take and what happened:**
Memory usage of Velero pod spikes highly during the backup. In my case the memory usage spikes from 160Mi to ~ 1,75Gi

<img width="1176" alt="Screenshot 2022-09-06 at 13 17 50" src="https://user-images.githubusercontent.com/10206601/188622869-150ac02e-9a34-4920-817e-bbb09093d4a7.png">

**What did you expect to happen:**
I would expect Velero to have a

[2022-09-06 11:31] andy108369 commented on #5251
This is the customer data, normally we should not even look nor know what is there.
So, that's supposed to be a blackbox and we just want to backup the data so we can restore it if things catastrophically fail or get removed due to a an error (human or non-human).

[2022-09-06 11:34] andy108369 commented on #5251
@Lyndon-Li Should I open a feature request for this or that's going to be on your roadmap somewhere?

[2022-09-06 13:01] cleverhu commented on #5288
I submitted a PR to fix this.

[2022-09-06 13:15] sseago commented on #5288
First, to clarify the error you got -- the priorityClass you're trying to restore that fails -- is there already a priorityClass in the cluster with the same name? If so, then this is a case where Velero should normally just skip over it, as the resource is already in the cluster (warning, but not erroring out, if the in-cluster version is not identical to the backup verson). If that's true, then

[2022-09-06 14:21] Lyndon-Li commented on #5251
Though I totally agree with you that a backup tool should back up whatever data users give, I also believe this kind of share memory data is meaningless for users to back it up if they understand what the data is in the files.
Therefore, I believe if the customer fully understand what is happening, what the customer asks is not a way to back up these files, but a way to skip the files.

Now go bac

[2022-09-06 16:18] cleverhu commented on #5288
Yes, you're right. The code was OK before. I made some optimization, so it may be better understood. Do you have some time to review? Thank you.

[2022-09-06 18:50] cleverhu commented on #4355
[code]
default sort is by name, and then by time.

[2022-09-07 01:31] iamjackhu commented on #4971
@qiuming-test we are using helm-chart of velero to deploy it to target cluster.  What changed on helm-chart for velero v1.9.0?

[2022-09-07 03:36] Lyndon-Li commented on #5289
Please provide below information so that we can further troubleshoot:
1. What kind of backup method are you using? Specifically, are you using PodVolume/Restic backup to back up your PV data?
2. If PodVolume/Restic backup is not used, so no PV data is moved, how many Kubernetes resources are there in the backup?
3. If PodVolume/Restic backup is used, provide below information further:

    - What

[2022-09-07 06:36] reasonerjt commented on #4284
I'll verify before v1.10 FC and update the doc as needed.

[2022-09-07 06:51] Lyndon-Li commented on #5075
Fixed by #5282

[2022-09-07 06:51] #5075 closed

[2022-09-07 07:48] navilg opened #5307 "Feature to create a schedule for maintenance"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

I have multiple backups running on my cluster which are few hours apart. When maintenance runs, Many time (mostly) backup in progress and maintenance clashes (I believe seeing the error message) and then we get error restic prune failed since repo is locked by another

[2022-09-07 08:24] reasonerjt commented on #5035
I think the higher priority is to design a mechanism and format of the filter in bakup CR so user can skip the PVs during backup, we will also need to decide if this filter applies to restic only or both restic and snapshot.
We should also consider the case when the filter conflicts with the `opt-in/out` annotations.

A design proposal will be drafted in v1.10 timeframe.

[2022-09-07 08:27] reasonerjt commented on #5200
I agree that we don't want to put the errors directly into CR due to the concern over size, and storing error list in the BSL requires some design.

We'll move this out of v1.10 scope and put it in the backlog.

[2022-09-07 09:57] andy108369 commented on #5251
Therefore, I believe if the customer fully understand what is happening, what the customer asks is not a way to back up these files anyway, but a way to skip the files.

It is very often the customer does not even know what are the files being used by the application they use.
All they really want is make sure things can start back up again as before without them needing to look what files their a

[2022-09-07 11:01] Lyndon-Li commented on #5251
I agree tar tool could solve the current problem perfectly, but it is true for the current issue only.
Velero as a universal Kubernetes backup tool cannot take in changes that work only for a particular case, instead, we pursue universal and sophisticated solutions. Especially when we know the right directions (as the 2 solutions I've mentioned) to solve the current problem.

[2022-09-07 11:51] gites commented on #5289
I'm only running backups for K8s objects.

Status info from one of the lates successful backups:
[code]

No PodVolume/Restic backup are used

[2022-09-07 12:33] cleverhu commented on #4355
@jglick I submitted a PR to support `sort-by` arg like kubectl. Do you think it can meet the needs?

[2022-09-07 12:42] odidev commented on #5177
Hi @danfengliu ,
Kindly let us know when can we expect release of Velero v1.10?

[2022-09-07 13:21] sseago commented on #5200
@reasonerjt We already have the errors in the BSL -- `velero describe` lists the errors and warnings.

[2022-09-07 13:24] sseago commented on #5035
@reasonerjt It was mentioned on yesterday's community call that we may want to also use the filter for deciding which PVs to back up with restic/kopia vs. snapshots.

[2022-09-07 14:15] jglick commented on #4355
Adding an argument seems fine so far as it goes (I did not look closely). The point of filing the issue was that the _default_ ordering between the two apparently analogous commands is reversed, which seems like a UX oversight.

[2022-09-08 01:19] ywk253100 commented on #5200
@sseago I go through the code quickly and find seems only restore stores the error list in the BSL, backup doesn't.
@allenxu404 Could you double-check this?

[2022-09-08 01:44] allenxu404 commented on #5200
Yes, the same as you metioned. I only find errors and warnings which cause partially fail are stored in restore but not in backup.

[2022-09-08 09:55] jprecuch commented on #5284
Thanks @qiuming-best . More information about FIPS can be found here https://www.encryptionconsulting.com/education-center/what-is-fips/ . It brings extra security.

For the base image yes, that should be enough, however it should be checked what is latest version of boringcrypto to be used.

[2022-09-08 10:00] Lyndon-Li commented on #5307
Do you have multiple BackupStorageLocation that all points to the same bucket in the same object store?

[2022-09-08 10:21] navilg commented on #5307
No. I have only one backupstoragelocation (default), pointing to a S3 bucket.

[2022-09-08 12:19] brovoca opened #5317 "Implement a GFS rotation scheme"
**Describe the problem/challenge you have**
I wish to keep 7 daily backups, 4 weekly and 3 monthly.

For this I need to create 3 schedules, each with a different cron definition and TTL. Below is an example from our Helm chart that helps us with this:

[code]

I find cron definitions difficult to read, and TTLs in hours are also hard to read. Additionally, the weekly and monthly schedule may overl

[2022-09-08 13:01] #5288 closed

[2022-09-08 13:31] sseago commented on #5035
@blackpiglet I'm not sure what design/UX is best here -- separate filters for "what back up via kopia/restic" vs. "what to back up via snapshot", or one filter for "include these volumes", and another (depending on opt-in vs. opt-out for kopia) for "among the volumes backed up, these use kopia". If we're not careful, this can get very confusing for users. But it was brought up on the call this wee

[2022-09-08 14:04] navilg commented on #5307
@Lyndon-Li Can velero backup and restic maintenance run concurrently ? Or is there any check in place to check if any backup is progress before restic prune runs automatically everyweek ?

[2022-09-09 01:08] Lyndon-Li commented on #5024
Fixed by #5308

[2022-09-09 01:08] #5024 closed

[2022-09-09 01:16] blackpiglet commented on #5035
@sseago
Thanks for clarification. I will try to unify both in design.

[2022-09-09 02:08] allenxu404 commented on #5200
@sseago This is exactly what we were thinking!

[2022-09-09 02:27] ywk253100 commented on #5161
After the investigation, seems that the pagination of the initial listing isn't supported by the Kubernetes API server yet and the timeout is caused by the compression according to the [comment](https://github.com/Kong/kubernetes-ingress-controller/issues/2382#issuecomment-1176760887).

There is no easy fix on the Velero side at this moment. Although we can disable the compression on the Velero, t

[2022-09-09 02:28] ywk253100 commented on #5161
The related upstream issue https://github.com/kubernetes/kubernetes/issues/108003

[2022-09-09 05:26] cleverhu commented on #5307
Before each backup, judge whether there is a backup in progress. If there is an ongoing task, try again later. Another way is to let users set how many goroutinues can be set to back up at the same time. What do you think? @Lyndon-Li

[2022-09-09 05:49] cleverhu commented on #5307
I pulled a request for this, but I'm not sure if it's appropriate? Is there a more elegant way to achieve it.

[2022-09-09 06:08] navilg commented on #5307
@cleverhu I was checking if there is any check in place before running maintenance task. Maintenance task (restic prune) fails if restic repo is already locked by another process (backup task or other). So if there is a check/judge before running restic prune, so that it only starts when there is no ongoing task which has locked the repo or else it should retry the maintenance task after sometime.

[2022-09-09 06:39] cleverhu commented on #5307
I found a issue talked about this, https://github.com/vmware-tanzu/velero/issues/487.

[2022-09-09 06:41] Lyndon-Li opened #5321 "Kopia Integration Bug: PVB finds wrong parent snapshot"
Install Velero with --uploader-type=restic
Run one pod volume backup to a namespace
Install Velero with --uploader-type=kopia
Run a new pod volume backup to the same namespace with the same BSL
The second backup will search for parent snapshot first
It finds the wrong parent snapshot -- the one created by restic uploader

[2022-09-09 14:09] cleverhu commented on #5307
The contributor said that backup will only be handling on at the same time, so my code should be superfluous. I have to continue to work hard to find out how to detect that restrict is occupied.

[2022-09-09 15:07] sseago commented on #4937
Proto issues should be resolved once https://github.com/vmware-tanzu/velero/pull/5263 is merged. When that happens, this issue can be closed/completed.

[2022-09-09 16:50] #4937 closed

[2022-09-09 19:20] vkumar3891 opened #5323 "Unusual warnings were seen for Velero backups."
**What steps did you take and what happened:**
Installed Velero version 1.9.0 with Restic integration.
After successful schedules deployed to take backups for (cluster-resources, namespaces or Pod volumes) on kubernetes clusters on GCP. Warnings are seen from 1st backup of can't backup some resources.

**What did you expect to happen:**

**The following information will help us better understand w

[2022-09-09 20:32] kaovilai opened #5324 "velero CLI can become stuck waiting for `downloadrequest.status.downloadURL != ""`"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Reposting info from comments in [OADP-774](https://issues.redhat.com/browse/OADP-774)

Velero CLI should respect timeout passed in to `velero logs/describe` when [backup location cannot be found](https://github.com/vmware-tanzu/velero/blob/34087fe5f4c83df1cd926dab26dc4469

[2022-09-10 08:57] banyalasuresh commented on #1419
Assist me with the solution.
I have setup velero on one of my EKS clusters on AWS, storing the backups on AWS S3bucket inside sub folder per namespace.
I would like to store the backups/schedules that are created within subfolders for each namespace.

example:
Bucket name :
One folder for each namespace within the bucket, and the schedules per namespace to be stored in the respective folders.

i c

[2022-09-10 09:30] banyalasuresh opened #5325 "Restore is getting fail PartiallyFailed with restic fail please give solution"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I have setup velero on one of my EKS clusters on AWS, storing the backups on AWS S3bucket inside sub folder per namespace.
I would like to store the backups/schedules that are created within subfolders for each namespace.
example:
Bucket name
One folder for each namespac

[2022-09-11 12:50] matthiasritter commented on #4557
Hi @blackpiglet @ywk253100 ,

Is there an update for this?
The error still occurs with us.

`failureReason: '[rpc error: code = Unavailable desc = error reading from server:
    EOF, rpc error: code = Unavailable desc = connection error: desc = "transport:
    error while dialing: dial unix /tmp/plugin3466263320: connect: connection refused"]'`

Please feel free to let me know if you need more inf

[2022-09-12 06:20] siva25081994 commented on #5273
Backups are getting created. But immediate backup is not getting created as velero 1.7.1 version. Is there a option available to take immediate backup when schedule is created.

[2022-09-12 07:34] joscabmar opened #5326 "Does Velero support SSE AES256 or KMS for snapshots in AWS?"
### Discussed in https://github.com/vmware-tanzu/velero/discussions/5316

<div type='discussions-op-text'>

<sup>Originally posted by **joscabmar** September  8, 2022</sup>
So far I was able to achieve SSE in the objects backup in S3. But I was not able to get the snapshots encrypted. I tried with the `serverSideEncryption: AES256` parameter in the config, but it was not accepted:
[code]

I could

[2022-09-12 13:56] #4862 closed

[2022-09-12 13:59] qiuming-best commented on #4710
@cleverhu Thanks for your comments on this issue

[2022-09-13 02:49] danfengliu commented on #5177
Hi @odidev Please refer to  [1.10 Roadmap](https://github.com/vmware-tanzu/velero/wiki/1.10-Roadmap), and also I will have a discussion in my team to prioritize the current requirement, if I start the work before 1.10 GA, I will let you know, or if you have any other consideration, please let me know.

[2022-09-13 03:48] qiuming-best commented on #5325
@banyalasuresh probably you are using `restic` do the backup
`velero backup-location create subfolder1
--provider aws
--bucket my-bucket-name
--prefix subfolder1` which will create `subfolder1` with in `my-bucket-name`, all meta data will stored in `my-bucket-name/subfolder1/backups/$BackupName`, all  volume backups stored in `my-bucket-name/subfolder1/restic/$VolumeNamespace`

I'm not sure whethe

[2022-09-13 06:14] abbbi commented on #1229
A storage backend api would be very interesting for integrating velero into existing third party backup applications. On Prem customers often have an existing backup solution, which usually also still streams data to real tape devices.

[2022-09-13 07:05] sureshbanyal commented on #5325
@qiuming-best thanks for responding, Using this command $ velero backup-location create subfolder1 --provider aws --bucket my-bucket-name --prefix subfolder1 it is creating subfolder in server but not in inside s3 bucket and in server when i check backup location using command $ velero get backup-location its showing like below

NAME         PROVIDER   BUCKET/PREFIX                 PHASE         L

[2022-09-13 07:13] blackpiglet commented on #5120
After discussion, I think it's reasonable to create a new filtering parameter to focus on namespace resources, because currently there are three ways to filtering resources:
* Label based filter: OrLabelSelectors and LabelSelector.
* Resource type based filter: IncludedResources, ExcludedResources and IncludeClusterResources.
* Namespace based filter: IncludedNamespaces and ExcludedNamespaces.
Lab

[2022-09-13 08:00] qiuming-best commented on #5325
@sureshbanyal could you try a new version of velero-plugin-for-aws? such as `velero-plugin-for-aws:v1.5.0`

[2022-09-13 08:14] danfengliu commented on #4710
@cleverhu It does a misunderstanding for this issue, thank you for your clarification.

[2022-09-13 08:14] #4710 closed

[2022-09-13 11:10] gioppoluca opened #5332 "manage PersistentVolume restore with update or recreate"
**Describe the problem/challenge you have**
Is a common use case to have the need to restore a previoud point in time of data on a volume from a precise backup.
At the moment it seems that to have the backup overwrite (or recreate) the existing volume we need to remove the volume.

**Describe the solution you'd like**
In this proposal seems that the PersistemVolume is considered a non goal while t

[2022-09-13 13:35] sureshbanyal commented on #5325
@qiuming-best Sure could you please provide the process link so i can follow that and update the new plugin. velero-plugin-for-aws:v1.5.0 "please provide the upgrade document velero-plugin-for-aws steps. i am having little confusion please help me with the document thank you sooo much  @qiuming-best

[2022-09-13 15:02] sseago commented on #1229
Kopia doesn't really affect this, since kopia just uses the same object storage interface as we're using for restic. The way to do this would be to write an object store plugin (consistent with the ObjectStore plugin API) that works on a filesystem back end.

[2022-09-13 15:13] abbbi commented on #1229
just for the record, the mentioned example plugin is now:

is now: [https://github.com/vmware-tanzu/velero-plugin-example/blob/main/internal/plugin/objectstoreplugin.go]

[2022-09-13 20:09] shubham-pampattiwar opened #5334 "Restic backup of 200 namespaces partially fails with ensure restic repo timeout error"
**What steps did you take and what happened:**

While try to backup 200 namespaces using Restic, the backup finished with `PartiallyFailed` status.

**What did you expect to happen:**

Backup to be successfully completed

**The following information will help us better understand what's going on**:

[code]

**Anything else you would like to add:**
Current timeout to ensure restic repository to be

[2022-09-14 00:58] shubham-pampattiwar commented on #5266
Adding another small fix to the list: https://github.com/vmware-tanzu/velero/pull/5336

[2022-09-14 01:12] reasonerjt opened #5337 "Publish the support for backup created by earlier velero"
As a B/R tool, it's common use case that user uses the latest velero to restore a backup that was created by an earlier version, say `n - x`, where the x is the step backwards.

We should be clear about what the `x` should be, to indicate what's the earliest version of velero that we will verify restoring a backup created by it.

[2022-09-14 01:15] reasonerjt commented on #5334
Per discussion, let's apply the change in PR#5335 to v1.9.2 as a quick fix.

For v1.10 we'll spend some time checking if it still exists and try to find the root cause.

[2022-09-14 02:51] qiuming-best commented on #5325
here is the upgrade [doc](https://velero.io/docs/main/upgrade-to-1.9/)

And currently, our newest version is v1.9.1, and aws plugin version is v1.5.0

Another way is to uninstall velero, download and install velero v1.9.1 client,
 and then reinstall it with command like below
` velero install \
    --plugins velero/velero-plugin-for-aws:v1.5.0 \
    --provider aws \
    --bucket velero-xxx \
    -

[2022-09-14 03:04] #4874 closed

[2022-09-14 03:04] #4752 closed

[2022-09-14 03:17] danfengliu opened #5339 "Add nightly pipeline for Velero with Kopia enablement"
**What steps did you take and what happened:**
Add a nightly pipeline with install Velero with Kopia to run all the current E2E test.

**What did you expect to happen:**

**The following information will help us better understand what's going on**:

_If you are using velero v1.7.0+:_
Please use `velero debug  --backup <backupname> --restore <restorename>` to generate the support bundle, and attach

[2022-09-14 06:45] pradeepkchaturvedi opened #5340 "Persistent Volume backup policy in Velero"
In Velero, there are are multiple Resource filtering options for K8S resource backup and Restore. When it comes to PVs there not enough options. I would like Velero to allow user to define PV backup strategy/policy for their cluster. For example, I want to below mentioned strategy for PVs backup in below priority order

-  First, Backup CSI snapshot complaint PV to backup using CSI volume snapshot

[2022-09-14 07:05] Lyndon-Li commented on #5307
@navilg

This is not decided by Velero but by Restic. That is Restic doesn't allows the backup and maintenance to run concurrently. On the other hand, Velero is preparing to integrate with other repositories, they may not have this restriction, for example, Kopia.

This kind of check won't work in all cases, for example, the backup and maintenance run in different processes, it is hard to make the

[2022-09-14 07:09] qiuming-best commented on #5036
this issue is been fix in this pr https://github.com/vmware-tanzu/velero/pull/4497, so closed now

[2022-09-14 07:09] #5036 closed

[2022-09-14 07:17] Lyndon-Li commented on #5307
@cleverhu

I didn't get your meaning -- why do you want to check an ongoing backup for another backup since we are talking about the backup - maintenance contention problem.
If you are talking about checking ongoing backup for a maintenance task or vice versa, two reasons indicate that it is not an urgent task:

- Not all repositories have this restriction, so we need to do this for Restic only
-

[2022-09-14 07:21] Lyndon-Li commented on #5307
Conclusively, at present I don't think we need to change the behavior of maintenance schedule for below two reasons:

- We will have Kopia repository in v1.10, and it brings much more friendly experience of maintenance
- The frequent failures of Restic maintenance doesn't because of the scheduler itself but because of[ this issue](https://github.com/vmware-tanzu/velero/issues/5276)

[2022-09-14 08:24] reasonerjt commented on #5177
@odidev at this moment we have to focus on the issues in v1.10 if you have time to try feel free to fork or submit a PR, but we can't let ARM64 support be a acceptance criteria for v1.10

[2022-09-14 08:24] reasonerjt commented on #5063
Per discussion, we will combine the effort to support progress monitoring in RIA v2, and we'll make sure #5108 is approved and provide the RIA v2 after v1.10

[2022-09-14 08:28] reasonerjt commented on #5019
Let's just update the inline help that the default value is true when the param is not set.

[2022-09-14 11:53] oldManLemon opened #5342 "Snapshots not backing up in Azure"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

`velero backup create myexample --volume-snapshot-locations test --snapshot-volumes`

got an error from the snapshotter
[code]

**What did you expect to happen:**
Backup with Volumes to be created and stored

**The following information will help us better understand wha

[2022-09-14 13:19] MansM opened #5343 "please add this to docs as signoff isnt working for some reason"
https://github.com/vmware-tanzu/velero/blob/main/site/content/docs/main/api-types/schedule.md

[code]

its part of crd, but not in docs:
https://github.com/vmware-tanzu/velero/blob/main/config/crd/v1/bases/velero.io_schedules.yaml

[2022-09-15 00:52] cleverhu commented on #5343
I would like to add new documents to make it more friendly. But this field is only used for cascading deletion, whether to delete backup when deleting schedule.

[2022-09-15 00:52] cleverhu commented on #5343
I would like to add new documents to make it more friendly. But this field is only used for cascading deletion, whether to delete backup when deleting schedule.

[2022-09-15 00:52] cleverhu commented on #5343
I would like to add new documents to make it more friendly. But this field is only used for cascading deletion, whether to delete backup when deleting schedule.

[2022-09-15 02:41] ywk253100 commented on #5188
@nwakalka Sorry for the late reply.

I didn't find any useful information in the log file. I'm not sure whether this issue is related to your environment/configuration or it's a bug of Velero, but I'm afraid have no time to do more investigation.

Could you debug it further in your local environment and appreciate it if you can find out the root cause?

[2022-09-15 03:05] blackpiglet commented on #5019
@danfengliu
* I'll update description of parameter `--snapshot-volumes` to state that if the parameter is not present, it will be treated as setting true.
* Per my understanding, the second part of the issue is about this part's grammar: `--snapshot-volumes optionalBool[=true]`. I think this is how `github.com/spf13/flag` works. Parameter `--snapshot-volumes` has `NoOptDefVal` set to `true`. This

[2022-09-15 03:15] danfengliu commented on #5019
@blackpiglet  I totally agree your 2 clarifications, I have no objection on using --snapshot-volumes with no value set and as to be true.

[2022-09-15 03:19] blackpiglet commented on #5222
Could you try to upgrade CSI version according to the Velero verified environment?
 https://github.com/vmware-tanzu/velero-plugin-for-csi#verified-environment

By my test, I didn't meet the CSI plugin timeout issue with CSI-snapshotter v6.0.1, but there were some issues similar to your case found in environment with older CSI driver version.

[2022-09-15 06:05] qiuming-best opened #5346 "Restore cmd extraflag overwrite bug"
**What steps did you take and what happened:**

- Fix restore from backup will override extraflag
- Change RunBackup and RunRestore debug log into Info level log for error tracking
- Check credentialsFile and caCertFile file whether are exist before remove

**What did you expect to happen:**

**The following information will help us better understand what's going on**:

_If you are using velero v1

[2022-09-15 07:23] MansM commented on #5343
it also keeps the backups from being pruned by argo when argo annotations (like sync wave) are set on the schedule

[2022-09-15 08:09] Lyndon-Li commented on #4942
The crash seems to be the problem discussed [here](https://github.com/golang/go/issues/48238), so github.com/json-iterator/go should be with version v1.1.12.
Velero 1.8 is using v1.1.11, see [here](https://github.com/vmware-tanzu/velero/blob/release-1.8/go.mod#:~:text=github.com/json%2Diterator/go%20v1.1.11%20//%20indirect), so Velero 1.8 doesn't work with go 1.18

[2022-09-15 08:29] Lyndon-Li commented on #5154
Looks like the Velero image is from 1.8 code but compiled with go 1.18, so it should be the same with issue #4942:
1. They have exactly the same stack trace
2. The stack trace in this issue matches to the code of go 1.18 perfectly, but it doesn't match go 1.17
3. From the stack trace, github.com/json-iterator/go@v1.1.11 is called, v1.1.11 is used by Velero 1.8 only, Velero 1.9 is using v1.1.12

Ho

[2022-09-15 12:11] batistein commented on #4067
We would really need this to backup capi cluster with velero (we need to pause the reconciliation of the cluster first by changing the specs of the cluster object).

[2022-09-15 15:14] #5262 closed

[2022-09-15 18:00] andy108369 opened #5349 "Velero 1.9.1: velero.io/exclude-from-backup=true label over PVC does not seem to work"
The doc suggests:

https://velero.io/docs/v1.9/resource-filtering/#veleroioexclude-from-backuptrue

However, labeling the `PVC` with `velero.io/exclude-from-backup=true` label does not make velero skip it.

Ideas?

[2022-09-15 22:52] andy108369 commented on #5349
Ok, looks like I need this https://github.com/vmware-tanzu/velero/blob/v1.9.1/site/content/docs/v1.9/restic.md#using-the-opt-out-approach

[2022-09-15 23:17] andy108369 commented on #5349
Yep, that worked:

[code]

[2022-09-15 23:17] #5349 closed

[2022-09-16 00:43] #4469 closed

[2022-09-16 00:43] #4468 closed

[2022-09-16 00:43] #4425 closed

[2022-09-16 00:43] #4356 closed

[2022-09-16 00:43] #3756 closed

[2022-09-16 00:43] #4434 closed

[2022-09-16 01:06] cleverhu commented on #5090
I checked for it, the backup which will write to the json file is the copy of origin backup. So it doesn't works when you try to modify it when progress.

[2022-09-16 07:00] #3565 closed

[2022-09-16 07:04] Lyndon-Li commented on #5342
Looks like the azure credential file was not set during the installation. Please follow [here](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#:~:text=%24AZURE_RESOURCE_GROUP.-,Set%20permissions%20for%20Velero,-There%20are%20several) to set the credential file. The credential file will pass the credential related parameters to Velero, including AZURE_SUBSCRIPTION_ID and AZURE_RES

[2022-09-16 07:33] Lyndon-Li commented on #5326
Which version of Velero and Velero AWS plugin are you using?

[2022-09-16 07:43] allenxu404 commented on #3565
In the consideration of historical empty backups that already existed,  we fix this issue by letting the restore from an empty backup success only with the warning indicating that the backup contains no items to be restored.

[2022-09-16 08:22] joscabmar commented on #5326
I am using the Velero Helm chart 2.31.6 which has the Velero app version 1.9.1. I am not really sure on how to check the Velero AWS plugin version. I saw in the documentation that it would be 1.5.X, but I could not find it in the logs or via the `velero version` command.

[2022-09-16 09:03] Lyndon-Li commented on #5326
Could you run `kubectl get deploy velero -n velero` and share the result?
The latest aws plugin should have supported SSE-C by specifying the related parameters in config -- serverSideEncryption, kmsKeyId or sseCustomerKey in a credential file.

[2022-09-16 09:08] dyvol777 commented on #4033
/unstale

[2022-09-16 10:09] allenxu404 commented on #5323
According to warning msg, when executing backup item action, the clusterrole resource named "canonical-service-proxy-role" was not found in Kubernetes API, so this object was excluded from the backup. Please check if this object exist under the namespace and serve the purpose. If not, it won't affect the result.

[2022-09-16 14:20] navilg opened #5351 "Migrate /apis/extensions/v1beta1/ingresses to supported APIs"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I have velero 1.8.1 on GKE cluster. Cluster is on version 1.21. In K8s version 1.22, Some of the APIs are being removed and /apis/extensions/v1beta1/ingresses is one of them. GKE is showing warning to migrate this api to supported api which is originating from velero.

*

[2022-09-16 15:00] sseago opened #5352 "make test is failing sometimes on TestGetVolumesRepositoryType"
**What steps did you take and what happened:**

run `make test` (mainly seen during PR CI check)
I get the following failure sometimes:
[code]
It's inconsistent, though. Re-running tests or pushing another commit to the PR will often cause the error to go away. In the most recent occurance, the CI test failed twice, but passed on the third attempt -- another PR pushed at about the same time passed

[2022-09-16 16:33] vkumar3891 commented on #5323
Thanks for your response @allenxu404 ,

I don't see such **clusterrole** resource name in my cluster while filtering/checking on all the namespaces as there is no NAMESPACE name mentioned in the log.

**Any idea or guess why do we see such behavior?**

[2022-09-16 17:43] milapointe commented on #4478
@reasonerjt : could you reopen the PR ? Also, is there a timeframe to release this since the PR is already completed?

Thanks

[2022-09-17 17:27] vineetsingh5 opened #5354 "velero 1.9.1 unable to delete partially failed backup"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I have created a backup using velero 1.9.1 and NFS server s object-store. Backup got failed due to some CSI snapshot issue.
I checked nfs server backup, no data was present so I tried to delete backup using the backup delete command. Now backup is stuck in Deleting state

[2022-09-18 09:06] jerry-jibu commented on #5200
Thanks @sseago @allenxu404  .  Yes, I think the short term `easy fix` will be very helpful for users to do self debug even without deep velero experience :)

[2022-09-18 10:56] banyalasuresh commented on #5325
@qiuming-best Thanks for Document as per my k8s cluster version : v1.18.0, i have to use velero version v1.7.1.  For this velero version plugin should be v1.3.0
Plugin Version | Velero Version
-- | --
v1.5.x | v1.9.x
v1.4.x | v1.8.x
v1.3.x | v1.7.x
v1.2.x | v1.6.x
v1.1.x | v1.5.x
v1.1.x | v1.4.x
v1.0.x | v1.3.x
v1.0.x | v1.2.0

I have added in velero this plug in : v1.3.0 as per my velero version

[2022-09-19 01:36] Lyndon-Li commented on #5351
This is the same issue with #5187, please refer to the issue for details.

[2022-09-19 02:29] allenxu404 commented on #5323
So the warning won't affect the restore from that backup. I guess the cause of the warning relates to the backup item action you're using.

[2022-09-19 06:20] #5324 closed

[2022-09-19 06:32] Lyndon-Li commented on #5346
Fixed by #5347

[2022-09-19 06:32] #5346 closed

[2022-09-19 06:49] Lyndon-Li commented on #5352
Fixed by #5356

[2022-09-19 06:49] #5352 closed

[2022-09-19 06:52] Lyndon-Li commented on #5321
Fixed by #5322

[2022-09-19 06:52] #5321 closed

[2022-09-19 07:30] blackpiglet commented on #5351
@navilg
Since there is already a similar issue, could we close this one?

[2022-09-19 07:37] GiuseppeLoRe opened #5357 "velero backup describe hangs after migration to 1.9.1"
**What steps did you take and what happened:**

Hi,
I have upgraded my velero instance from v.17 to 1.9. Most of it went fine, backup operations are still working.
The only main issue is now that when I type
- "velero backup describe --details" or "velero backup logs" it hangs, like if there was something misconfigured relative to the S3 backend.
Could someone help in debugging/fixing this?

**Wha