[2018-06-26 12:57] ncdc commented on #611
@domcar

Not at the moment. We have #396 open and could consider doing this as part of that effort (a static list of files backed up via restic stored as a metadata file in the bucket), or we could think about doing it on the fly whenever requested.

This command is going away and Ark is going to manage the restic repository encryption keys for you going forward (and we'll most likely build full-b

[2018-06-26 12:59] ncdc commented on #612
This is a good idea. Like all of Ark, we're not at GA yet, so there will be breaking changes between now and 1.0/GA. Related to #602.

[2018-06-26 13:00] trondhindenes commented on #572
sweet, will do!

[2018-06-26 13:03] rosskukulinski commented on #521
Also Relates to #549 and UX when things go wrong.

[2018-06-26 13:03] trondhindenes commented on #572
hm, how do I use the ark-restic-restore-helper image? I've updated both the ark pod and the restic daemonset pods to use the `gcr.io/andy-heptio/ark:restic-efs-test` image.

[2018-06-26 13:10] ncdc commented on #572
Heh that was probably more information than you needed :-) Ark will automatically pick it up as the image to use in the pod init containers when restoring - you won't need to do anything.

[2018-06-26 13:10] rosskukulinski commented on #611
Hi @domcar, thanks for opening an issue and trying out the alpha!

+1 to @ncdc's response.

At this point in time, Ark is focused on providing volume-level backup and restore.  While I think #396 should include the file-listing in a backup, I don't see the project implementing per-file backup/restore on the near-term roadmap.  That said, the "data-only" restore (#504) is an important feature reque

[2018-06-26 13:15] ncdc commented on #317
@rosskukulinski another data point - let's say you have the following items:
1. pod `mysql`, labeled `app=mysql`, using PVC `data`
1. pvc `data`, labeled `backup=false`, referencing PV `pvc-23423-23-2342-34-23`
1. PV `pvc-23423-23-2342-34-23`, dynamically provisioned, no labels

If you do `ark backup create --selector app=mysql`, Ark:
1. Uses the label selector and gets pod `mysql`
1. Runs backup

[2018-06-26 13:29] trondhindenes commented on #572
good to know :-) thanks! will try and do some testing today.

[2018-06-26 13:55] ncdc commented on #225
If a backup tries to process an item and it fails, that should not mark the backup as Failed (related: #286, #305). We can consider this issue resolved when we've dealt with https://github.com/heptio/ark/issues/286#issuecomment-358078491.

[2018-06-26 13:56] ncdc commented on #299
@AdityaTulasi @veeresh1982 is there anything that you're waiting on from us, or can we close this issue?

[2018-06-26 13:57] ncdc commented on #361
Closing due to age. Please feel free to reopen if you need to!

[2018-06-26 13:57] #361 closed

[2018-06-26 13:58] ncdc commented on #380
cc @rosskukulinski - workload-specific backup/restore issues.

[2018-06-26 13:59] ncdc commented on #407
Closing due to age. If you'd still like us to assist, please reopen the issue. We're here to troubleshoot if you need it!

[2018-06-26 13:59] #407 closed

[2018-06-26 14:00] ncdc commented on #516
@dharmab @jcrowthe any updates on this - were you able to get it working?

[2018-06-26 14:02] ncdc commented on #523
@rosskukulinski for PM review

[2018-06-26 14:47] nrb commented on #592
Would this be configurable? In a DR scenario within the same Kubernetes release, presumably the API versions should remain the same.

[2018-06-26 14:50] ncdc commented on #592
It's more of a concern for a restore into a new cluster that's at Kubernetes version _n+1_ compared to a backup taken from Kubernetes version _n_

[2018-06-26 14:53] nrb commented on #592
Right. What I'm saying is I don't want to see us break moving between 2 clusters at _n_.

[2018-06-26 14:59] ncdc commented on #592
I don't see how we'd break if the Kubernetes version remains constant?

[2018-06-26 15:03] ncdc commented on #592
Copying from Slack:

If we have 3 versions: `v1alpha1`, `v1beta1`, `v1`:

The “best” one to back up for compatibility when restoring into kube clusters that are possibly older than the cluster being backed up would be `v1alpha1`.

The “best” one to back up for forward compatibility when restoring into kube clusters that are possibly newer would be `v1`.

[2018-06-26 16:14] ncdc opened #614 "Make the restore label namespaced"
When restoring, Ark adds an `ark-restore` label to all resources, where the value is the name of the restore.

We should change the key from `ark-restore` to a namespaced one such as `ark.heptio.com/restore-name`. To preserve compatibility from now to 1.0, we can continue to set `ark-restore`, but we should switch to using only the namespaced key for 1.0.

We could/should also consider including t

[2018-06-26 17:03] dhawal55 commented on #18
+1. I'm willing to help too. I will start by getting familiar with the codebase and come up with a proposal

[2018-06-26 17:36] ncdc commented on #614
@skriss @rosskukulinski

[2018-06-26 17:42] rosskukulinski commented on #614
I think this is a good idea, but curious on your take about this situation:

1. Take a backup of a namespace
2. Restore to a new namespace (so now ark.heptio.com/backup-name and ark.heptio.com/restore-name) are set
3. Take a backup of new namespace
4. restore somewhere else.

Does the history of backups & restores matter?  Or only the immediate parent?

[2018-06-26 17:44] ncdc commented on #614
My quick take is just immediate parent.

[2018-06-26 20:14] trondhindenes commented on #572
hm, I'm getting a new strange error while performing the backup operation:
[code]
Exact same config/operation as before (this worked on the release version of ark)

[2018-06-26 20:52] #572 closed

[2018-06-26 23:17] skriss commented on #614
Makes sense to me, and agree re: just most-recent restore.

[2018-06-27 05:56] pmquang commented on #579
hi @ncdc ,

I meet this error:

[code]

Could you help me check ?

[2018-06-27 06:53] domcar commented on #611
Thanks a lot for your answers, I can't wait to see the stable verison.
@ncdc What I meant before with `I can't access the repo with a local restic installation (the created secrets seems to be encrypted)` it's that I can't decode this key. This are the steps that I did:
1) ./ark restic init-repository --namespace default
2) kubectl get secret  ark-restic-credentials -o yaml
[code]
3) `echo  wlDji8

[2018-06-27 09:46] pmquang commented on #579
same @ncdc :)

[code]
[code]

[2018-06-27 09:49] pmquang commented on #579
ah, it should be v0.9.0-alpha.2

[2018-06-27 10:13] pmquang commented on #579
it still doesn't work @ncdc

[2018-06-27 10:16] ncdc commented on #579
What errors do you get?

On Wed, Jun 27, 2018 at 6:13 AM RAI <notifications@github.com> wrote:

[2018-06-27 10:29] ncdc commented on #579
There are 29 instances of the restic pod (1 per node, and the output above shows that you have 29 nodes). It's possible you're looking at the logs from one of the older pods, before you set the image tag correctly. Please examine one of the new pods (created most recently) and confirm that its tag is correct, and then check to see if it's running / look at the logs.

[2018-06-27 10:37] pmquang commented on #579
you're right :)

Its working now. Thank you.

[2018-06-27 11:32] domcar opened #615 "Cannot restore restic backup"
Hi,
i'm testing the 0.9.0_alpha_2 version of ark. I deployed ark (and restic) on a local cluster and I'm using Minio for the bucket (two different bucktes, one for ark and one for restic).
I was able to execute a backup and I can see that files have been backed up. But the restore process didn't work out:
[code]

Do you know why this error arises?

[2018-06-27 12:30] ncdc commented on #615
See also: #387.

[2018-06-27 15:23] ncdc opened #616 "Use shared informer factory's WaitForCacheSync in server.go"
The shared informer factory has a `WaitForCacheSync` method that we can call that will wait for all started informers' caches to sync. For all the places where we have code individually calling `cache.WaitForCacheSync()` with a list of informers **from our standard shared informer factories**, we should be able to remove these calls and rely on a single `factory.WaitForCacheSync()` call instead, i

[2018-06-27 15:56] skriss commented on #616
What exactly would this flow look like?  Things at play:

- instantiating informers (from the factory)
- adding event handlers (in controllers' constructors)
- starting the informers (in `server.go`)
- waiting for cache sync (currently in controllers, before processing items)

Specifically wondering about how to coordinate adding event handlers, then starting & waiting for cache sync, before havin

[2018-06-27 15:59] skriss commented on #611
@domcar are you sure you copied the `==` at the end of the base64-encoded string? double-click to select word often doesn't get these, and if they're missing, the decoded value will be wrong.

[2018-06-27 16:01] ncdc commented on #616
1. Create factory
1. Create all controllers (they add event handlers)
1. Start factory
1. Wait for factory cache sync
1. Run all controllers

I now right now we combine creating and running each controller, and do that for all controllers, prior to starting the shared informer factories. We should be able to use the steps above - the key requirement is that the event handlers are added before we s

[2018-06-27 16:03] ncdc commented on #616
This is low priority and not something I've tried before, but it could make adding in new informers or using new informers in existing controllers easier.

[2018-06-27 17:22] skriss commented on #282
This looks OK on AWS - similar behavior re: attachdetach-controller retrying attach until EBS volume is ready.

[2018-06-27 21:01] #577 closed

[2018-06-27 21:04] ncdc commented on #615
@domcar if you run `ark restore get`, what are the warning and error counts? Can you exec into pods restored with restic data and see if the data were restored? I'm wondering if there was an error with the restore, or is it possible that it succeeded and the problem is that describe isn't working?

[2018-06-27 21:20] skriss commented on #556
The issues that were at play here *should* all be resolved now in master, so I'm going to close this issue out, but feel free to reopen or open a new one as needed. We should be putting out a new tagged alpha/beta shortly for testing!

[2018-06-27 21:20] #556 closed

[2018-06-28 04:06] pmquang opened #617 "Ark - Restic - Setup encryption key"
Hi,

I see on this documentation : https://github.com/heptio/ark/blob/master/docs/restic.md

I must setup encryption key :

[code]
[code]
[code]

But I have no idea about this. Have someone can explain this more clearly ?

Regards

[2018-06-28 06:00] skriss commented on #617
Hi @pmquang, with the next pre-release version of 0.9.0 you won't have to set this up. We should have this out in the next day or two.

In the interim, it would be easiest to just specify a key size. Eg 1024.

[2018-06-28 09:28] pmquang commented on #617
hi @skriss ,

I met some errors:

[code]

After I deployed ark with restic, I can not use ark logs command:

[code]

[2018-06-28 11:21] domcar commented on #615
I also spun another cluster at GKE (but using Minio for the bucket), and exactly the same problem with the minio service appeared `dial tcp: lookup minio.heptio-ark.svc on 8.8.8.8:53: no such host>`

[2018-06-28 12:08] pms1969 opened #618 "BUG: Panic when buckets no longer available"
Hi,  I recently did a bit of work with a plugin, and probably mullered something properly.  However when I came to start afresh, the Ark pod had restarted, and I was getting the following error:

[code]

I had removed the s3 bucket that was being used to backup the restic volumes, so this could be related.

Additionally, the pod itself failed to restart after that panic.  I'd expect to see it in a

[2018-06-28 13:07] #611 closed

[2018-06-28 13:42] ncdc commented on #615
@domcar if you're using Minio from our example, you end up with a `ClusterIP` service for it, sitting in front of a pod. The service (`minio.heptio-ark.svc`) is not routable from outside the cluster. What we really should do is add a second, optional URL to the AWS `backupStorageProvider` configuration, something like `publicUrl`, that Ark can use when returning the pre-signed URLs to download the

[2018-06-28 13:47] ncdc commented on #618
The panic occurred here, where we weren't checking if `c.resticMgr` was nil:

https://github.com/heptio/ark/blob/11c3837f9b8e2a4dbbb847e9c3a3bc8afa645a76/pkg/controller/backup_deletion_controller.go#L246

This has been fixed in master:

https://github.com/heptio/ark/blob/51298f84cccaa28d78f013e8096d863f2e820d7f/pkg/controller/backup_deletion_controller.go#L307

[2018-06-28 13:47] #618 closed

[2018-06-28 14:43] #428 closed

[2018-06-28 17:57] ncdc commented on #197
@skriss any objections to removing the Bug label from this issue?

[2018-06-28 18:36] mauilion commented on #451
+1 on the environment option. Until something like cluster-api or cloud-controller-manager provide this info consistently I think we'd have to ask.

[2018-06-28 18:43] ncdc commented on #451
Agreed - I think an env var is an "easy win" for starters.

[2018-06-28 19:06] ncdc commented on #451
I think this is the logic we want:

1. Ark admin sets `AWS_CLUSTER_NAME` environment variable in the Ark deployment (e.g. `ABC`)
1. When restoring, Ark's AWS `blockStore` code, in `CreateVolumeFromSnapshot`:
    1. Removes all `kubernetes.io/cluster/*` tags
    1. Sets `KubernetesCluster` tag to cluster name from env var (`ABC`) (this is the "legacy" tag name)
    1. Sets `kubernetes.io/cluster/AB

[2018-06-28 19:39] ncdc opened #622 "Properly handle restoring backups and restores from the backup tarball"
If a backup tarball contains ark `backups` and `restores`, when we restore those items, we'll reset their metadata and status (just like we do with all other items). Unfortunately this means that the ark backup and restore controllers end up seeing them as `New`. Ark then runs backups/restores for all of them.

We should add `backups.ark.heptio.com` to the list of `nonRestorableResources`. There i

[2018-06-28 20:06] ncdc opened #623 "Disallow overwriting objects in object storage"
We must not overwrite anything in object storage (backup json, logs, etc). If something needs to be replaced and retain the same name, the user must delete and then recreate (e.g. delete backup `foo`, then create a new backup `foo`).

[2018-06-28 20:28] nrb commented on #623
Some references we found that may be helpful when this is worked on:

Google Cloud Storage supports using a header to not overwrite with [Put Object](https://cloud.google.com/storage/docs/xml-api/put-object).

Azure will overwrite objects on [Put Blob](https://cloud.google.com/storage/docs/xml-api/put-object).

S3 will overwrite objects on [Put Object](https://docs.aws.amazon.com/sdkfornet1/latest

[2018-06-28 22:30] skriss commented on #617
@pmquang have you gone through all the setup steps here https://github.com/heptio/ark/blob/master/docs/restic.md#setup? It looks like you haven't done step 2.

[2018-06-29 03:15] pmquang commented on #617
hi @skriss ,

I already did it and redeployed daemonset restic but it did not work

[2018-06-29 09:01] domcar commented on #615
@ncdc yes `minio.heptio-ark.svc` is not routable from outside but still the restore process should get to it, right? The process is inside the cluster, that's why I don't understand the `dial tcp: lookup minio.heptio-ark.svc on 8.8.8.8:53: no such host`.

Anyway, i'm trying with `NodePort` now. My setup is very simple, 1storage class, 1 PVC, 1 deployment, there is nothing else on the cluster.

Thi

[2018-06-29 12:44] ncdc commented on #615
The "no such host" error that you're seeing is from the computer where you are running `ark restore describe` - that command asks the ark server for a URL it can use to download the file from object storage that contains the details about the warnings and the errors for the restore. The error that you're seeing:

[code]

is only about the attempt to retrieve the warnings & errors file. The restore

[2018-06-29 12:46] ncdc commented on #617
@pmquang we will be doing a new 0.9.x release soon where you don't have to go through the encryption key setup. It might be worth waiting until then, and retrying with the new version. Would that be ok?

[2018-06-29 13:53] #622 closed

[2018-06-29 13:56] ncdc commented on #623
What do you think if we call `backupService.GetBackup()` at the beginning of the backup process, before we do any work? If the backup exists in object storage, we record it as a validation error and stop.

[2018-06-29 14:00] ncdc opened #627 "Disallow multiple clusters backing up into the same bucket (and prefix)"
We should forcibly not allow multiple clusters to back up into the same bucket. Once we have subdirectory/prefix support, multiple clusters can share the same bucket, but they can't share the same subdirectory.

We could use the `uid` of the `default` namespace in each cluster, as it's impossible to delete that namespace.

@heptio/product-team @heptio/bluesteelsquad

[2018-06-29 14:32] nrb commented on #623
That makes sense to me, and is probably the most general solution across providers.

[2018-06-29 14:32] ncdc commented on #623
Ok great, I'm almost done with the code 😄

[2018-06-29 16:11] skriss commented on #197
nope, removed.

[2018-06-29 16:12] skriss commented on #197
@rosskukulinski yep that's the one.

[2018-06-29 21:57] skriss commented on #617
Hi @pmquang, please take a look at https://github.com/heptio/ark/releases/tag/v0.9.0-alpha.3 and the updated instructions at https://github.com/heptio/ark/blob/master/docs/restic.md.

[2018-06-30 19:01] khenidak commented on #379
I want Azure add-ons to walk away from mounting azure.json and from trying to use VM identity. I would strongly use one of the following approaches:

1. Help the user to create service principal and assign the right permission to it. Mount it as secret into the pod. That way you are protected from what is defined for the VM on which your pods run on.
2. Use pod identity which pretty much allows th

[2018-07-02 06:55] domcar commented on #615
@ncdc Thanks for the explanation.
This is the PV before snapshost:
[code]
And this is after the restore:
[code]

I don't know if it can be useful, these are the `describe pod nginx`
[code]

And this is the `get pod -o yaml`
[code]

[2018-07-02 07:36] munai-das commented on #84
@ashish-amarnath Hi let me know if you need help in this implementation. We too need this feature.

[2018-07-02 14:32] ncdc commented on #138
@rosskukulinski the default `ark backup create` TTL is 30 days. Some options for handling an unset TTL:
1. always default to 30 days, hard-coded in the Ark server code
1. always default to 0 (never expire), hard-coded in the Ark server code
1. allow the admin to specify a default TTL using a flag to `ark server`, and if unspecified, default to 30 days

I think I favor option 3, as that allows the

[2018-07-02 14:34] ncdc commented on #121
I was brainstorming around possible features and thus wrote this one down. If we were to do this, it would potentially provide tracing into a single backup or restore's execution. I'm not sure if that would be useful or not. Probably once we do backup/restore progress (#20/#21), this won't provide much utility. I'd be fine closing.

[2018-07-02 15:07] ncdc commented on #615
@domcar ok, yes, this appears to be fixed by #613. Please try v0.9.0-alpha.3 and let us know if it resolves the issue. Note, some of the internals have changed - see https://github.com/heptio/ark/blob/master/docs/restic.md#pre-install-steps---upgrading-from-a-previous-v09-alpha for more details on what to do.

[2018-07-02 15:10] ncdc commented on #84
@munai-das thanks! Please feel free to open a PR to add any metrics you'd like. I'd recommend starting small - pick a single metric or a group of related metrics and do a PR for that.

[2018-07-02 16:36] skriss opened #635 "Consider tweaking restic metadata to allow better parent snapshot finding"
When taking a backup, restic first looks for a "parent" snapshot, i.e. **a previous snapshot from the same host of the same directory**, from which it can perform a differential backup.  This is key for making incremental backups efficient.

With Ark, the host name corresponds to the name of the daemonset pod from which the restic cmd is run. This means that if the pod is recreated, it will have a

[2018-07-02 16:55] skriss commented on #568
The documentation has been clarified. I'll tweak the log message before v0.9.0.

[2018-07-02 16:57] skriss commented on #617
Closing this issue as we've releases v0.9.0-alpha.3 which no longer requires setting up encryption keys. @pmquang feel free to reach out again if you have further issues with the new alpha, thanks!

[2018-07-02 16:57] #617 closed

[2018-07-02 17:13] nrb commented on #635
What kind of severity/priority would you give this? Sounds to m like it should be in v0.9.0 in order to make incremental backups work as expected.

[2018-07-02 17:17] skriss commented on #635
If we agree that we should use a generic hostname, then yes I'll do it for 0.9.0.  I don't think the volume path thing is essential for 0.9.0, even if we decide we want to change something.

[2018-07-02 17:19] nrb commented on #635
Does the current behavior break restores?

[2018-07-02 17:23] skriss commented on #635
No - nothing's "broken" in the current state, it's just that we'll end up taking full rather than incremental backups in more situations than is strictly necessary, so some backups will be slower.

[2018-07-03 10:52] domcar commented on #615
@ncdc Thanks a lot, that was the problem. I tried now with the `v0.9.0-alpha.3` and it worked.
I'll close this Issue.

[2018-07-03 10:52] #615 closed

[2018-07-03 15:48] nrb commented on #314
I think I have a rough proposal for addressing this.

Prerequisite changes
Make `restore.ItemAction.Execute` return additional items to restore.
Modify `runRestore` to check for the label selector as well as whether or not the item is an additional item

In `runRestore`:
 1. enqueue the additional items returned by `restore.ItemAction.Execute` in a `ctx.additionalItems` set field
 1. For each addi

[2018-07-03 16:08] ncdc commented on #314
@nrb did you consider following the backup pattern, where we process the additional items immediately, instead of storing them in `ctx`? We'd probably need to split `restoreResource` apart a bit, since it currently combines looping through e.g. all pods and restoring them, instead of using 1 function to loop and a second to restore per item.

[2018-07-03 16:10] skriss commented on #568
Actually improved logging has already been fixed as well, with #606. Closing this issue out, but please reach out if any further issues!

[2018-07-03 16:10] #568 closed

[2018-07-03 16:22] nrb commented on #314
@ncdc That's actually the intent; I updated the comment because I had the `restore_controller.runRestore` function and `restore.restoreResource` functions mixed up in my notes.

The logic behind the list is that https://github.com/heptio/ark/blob/master/pkg/restore/restore.go#L630 only looks at the selector, and we need some other condition to go along with that. I wasn't coming up with much bette

[2018-07-03 17:46] rosskukulinski commented on #138
@ncdc I love the idea of server admins being able to customize the default behavior via CLI flag to `ark server`.

(3) Works for me.

Re: # of days vs 0, I'd be curious to hear more about the reasoning behind the current default of 30 days.  As a backup tool, I would think `never` would be the default (don't automatically delete people's data)

[2018-07-03 17:58] ncdc commented on #627
@rosskukulinski if we only allow a single cluster to write to (bucket,prefix), it seems ok to share a bucket.

[2018-07-03 18:39] rosskukulinski commented on #138
Talked with @ncdc on slack a bit on this topic.

As a backup tool, Ark should be conservative and not delete data by default.  We should default TTL to 0 instead of 30 days.  That said:

"Pinning" a backup (#251) requires updating metadata of a backup object (backup.json) which would need to be synced to other backup targets.  Checksumming of the backup.json for replication may mean that we can't

[2018-07-03 18:44] rosskukulinski commented on #167
@ncdc works for me.  My `mkdir` comment was simply trying to clarify my point about creating subdirectories (if necessary)

[2018-07-03 18:44] #121 closed

[2018-07-03 19:57] ncdc opened #638 "Allow admin to tweak restic restore helper image"
**User Story**

As a user of Ark with Restic, I would like to customize the restic container image that is deployed as an initContainer to Pods during a restore.

---

https://github.com/heptio/ark/blob/32907931e13f38ef4e055652245eeb78d20ac76e/pkg/restore/restic_restore_action.go#L53

Make it a flag to `ark server`?

[2018-07-03 20:43] ncdc commented on #309
@carlisia this is the other sync-related issue I mentioned

[2018-07-04 00:28] ncdc commented on #635
We can close this?

[2018-07-05 15:54] ResDiaryLewis commented on #306
There's still a typo [here](https://heptio.github.io/ark/v0.8.1/azure-config), or at least some confusion for me.

but also:

[2018-07-05 16:13] skriss commented on #635
Fixed with #636.

[2018-07-05 16:13] #635 closed

[2018-07-05 17:12] ncdc opened #640 "Use goreleaser"
- Use a dummy repo to validate the release process
- See how customizable go releaser's steps around building and pushing images are.
- Investigate automation around updating `Gopkg.toml` in ark-plugin-examples repo; is it even possible?

[2018-07-05 17:14] ncdc opened #641 "Validate aws s3 url"
If the aws `backupStorageProvider`'s `s3Url` doesn't contain a scheme (`http`/`https`), it looks like we get a panic in the aws go sdk code, which causes the plugin process to crash. We should attempt to parse this value, and if parsing fails, surface an error as soon as possible. (The only way we determined there was a panic, in this case, was to set the server log level to debug.)

[2018-07-05 19:48] ncdc opened #644 "Test flakes in pkg/restic"
At least these so far:
[code]

[2018-07-06 14:27] #516 closed, assigned to nobody

[2018-07-06 15:32] Bradamant3 opened #648 "Reorganize docs content"
Here's a preliminary outline/proposal (started implementation with v0.9.0 -- see PR #639 ):

[code]

Not accounted for: restic integation. Two possible approaches:
- keep separate (what we have now, but separate how it works into separate topic/file)
- interleave with non-restic instructions (still want separate topic for how restic works)

[2018-07-06 15:39] Bradamant3 commented on #648
N.B. This is a proposal only. Please feel free to suggest changes, or submit docs PRs that reflect a different approach.

[2018-07-06 15:44] ncdc commented on #648
Yes

[2018-07-06 21:12] skriss opened #652 "Remove debugging-deletes.md"
`debugging-deletes.md` shouldn't be relevant anymore, as we're now two releases past the version that had problems, and we've added code to remove the finalizer that caused the problem.  Remove and re-gen the docs without it.

[2018-07-06 21:38] nrb opened #654 "Pass dry-run flag to plugins"
When implementing dry-run options for restores (#448) or backups, plugins will have to know not to actually act on creating things like new volumes from snapshots, or new snapshots. Thus, a dry-run flag should be added so that plugins can do the right thing.

[2018-07-06 21:44] skriss commented on #652
Fixed by #653 #655

[2018-07-06 21:44] #652 closed

[2018-07-07 20:13] Evesy opened #656 "RFE: Create backup from schedule"
Hi,

Similar to Kubernetes jobs `kubectl create job --from-cronjob` it would be nice to be able to manually trigger ark backups based on existing schedule definitions.

This could be useful as a quick shortcut for running backups before upgrades, maintenance etc.

e.g. `ark backup create db-maintenance --from-schedule database`

Cheers,
Mike

[2018-07-09 14:01] ncdc commented on #656
Thanks for the idea @Evesy! We'll review and prioritize.

cc @rosskukulinski

[2018-07-10 01:11] skriss opened #660 "Ark v0.9.0 not compatible with pre-1.8 clusters"
A user reported that Ark was crashing on a 1.7.x cluster.  It looks like the proximate cause for that is that the new backup item action that backs up cluster roles and role bindings related to a service account is using the `rbac.authorization.k8s.io/v1` API group/version, which doesn't exist pre-1.8 when RBAC went GA.

It's possible there are other issues too; we haven't tested with 1.7 clusters

[2018-07-10 05:41] timh commented on #660
How important is the use case of folks using Ark to upgrade from an older version of K8s to a more modern one? Might this (and its ilk) be a key enabler of that use case?

[2018-07-10 15:21] ncdc commented on #660
@timh definitely a motivator.

@skriss anywhere we're invoking k8s APIs where there are multiple API versions, we could potentially use discovery and try all the versions we have in client-go, starting with the latest (e.g. v1) and falling back (v1beta1, v1alpha1).

[2018-07-10 15:25] skriss commented on #660
In this particular case the user upgraded their cluster and all's good.

[2018-07-10 16:38] nrb commented on #660
It's a use case we've suggested. However, we haven't yet made a firm decision on what our support window is. We'll definitely need a solid story on our k8s version window for 1.0.

[2018-07-10 16:50] #281 closed

[2018-07-10 19:50] rosskukulinski opened #662 "[Epic] Ark in automation like Continuous Integration/Continuous Deployment"
As a platform operator I would like to use Ark as part of my automation workflows.

[2018-07-10 19:59] rosskukulinski opened #663 "replace"

[2018-07-10 19:59] #663 closed

[2018-07-10 20:14] rosskukulinski opened #664 "[Epic] Restoring an "initial configuration" to Kubernetes clusters"
Like golden VM images, but for the entire cluster.

Use cluster-api/HAF to stamp out clusters, then run an ark restore to apply the "golden cluster image" which might include common add-ons or components:

* cert-manager
* imagePull secrets
* auth gateway (dex, etc)

[2018-07-10 20:31] rosskukulinski opened #665 "[Epic] Migrating workloads for Kubernetes upgrades"
Ark should be a powerful tool for helping to manage upgrading from kubernetes version 1.x to 1.(x+n)

[2018-07-10 20:43] rosskukulinski opened #666 "[Epic] Support for StatefulSets and Operator-managed workloads"
We need to validate & improve our support for StatefulSets & operator-managed workloads

[2018-07-10 21:14] nrb commented on #103
We've created a [document of scenarios](https://docs.google.com/document/d/1Ct-0bt1aCs_GRC0ecpn64sBl3JCQ2ykN7LCk_EsYOc4/) that we'll use to inform the design decisions for this project.

We also have a document where we're [discussing more detailed changes]() to the Ark codebase from which we'll generate a list of specific work items.

Members of the heptio-ark@googlegroups.com google group have c

[2018-07-10 21:20] skriss commented on #660
FYI we got a second user report of the same issue today.  I'm inclined to just address this one for now, release an 0.9.1, and kick the can down the road on defining our compatibility matrix, i.e. still plan to do it for 1.0.  Any objections?

[2018-07-10 21:21] ncdc commented on #660
SGTM. Is your plan to try multiple api versions?

[2018-07-10 22:58] rosskukulinski opened #668 "[Epic] Disaster recovery & cluster migration between availability zones or regions in the same cloud"
Meta tracking Epic for DR&CM between AZs and regions from a single Ark deployment.

[2018-07-11 06:17] geofflamrock opened #669 "restic-wait restore data not found"
Hi,

I've been trying to get restic backups and restores to minio working, and I think the backup is working ok.

When I attempt to restore the data, the restore says it completed, however the restic-wait container on the pods repeatedly says "Not found: /restores/data/.ark/a4323ca2-84cd-11e8-bcec-00155da8f01e"

Is there some way I can work out why this isn't working?

Thanks.

[2018-07-11 10:11] #299 closed

[2018-07-11 11:50] ncdc commented on #669
Hi @geofflamrock, sorry you're having trouble. Could you please share the logs from the `restic-*` pod in the `heptio-ark` namespace?

[2018-07-11 17:50] #440 closed

[2018-07-11 22:29] geofflamrock commented on #669
Hi @ncdc , thanks for getting back to me, attached is a zip file with the logs.

I truncated them at the certain point as they were getting relatively large in size and they just had the same lines over and over again about "Pod is not running restic-wait init container, not enqueuing restores for pod" and "Restore is not new, not enqueuing". If you want the full logs please let me know.

Thanks.

[2018-07-11 22:42] skriss commented on #669
@geofflamrock could you also provide the output of `ark restore describe` and `ark restore logs` for your restore?

[2018-07-11 23:42] geofflamrock commented on #669
@ncdc attached, thanks.
[restore-describe.txt](https://github.com/heptio/ark/files/2186555/restore-describe.txt)
[restore-logs.txt](https://github.com/heptio/ark/files/2186556/restore-logs.txt)

[2018-07-12 01:21] skriss commented on #669
Hmm, it sure looks like 6 restic restores completed successfully.  Are the relevant pods still around (waiting for the init container to complete)? If so, could you provide the YAML for all of them?

[2018-07-12 04:00] geofflamrock commented on #669
Hi @ncdc, attached are the restic logs, restore logs and describe and the restored yaml.

The resources I'm specifically trying to backup and restore are kafka and zookeeper stateful sets with persistent volume claims, and I do wonder whether this is part of the problem, as I'm not sure I'm configuring the backup correctly.

When the restore happens, the stateful set doesn't come back, just the po

[2018-07-12 08:10] VC16dec opened #671 "Ark over openstack/barematal K8 deployment"
**What steps did you take and what happened:**
Deployed Ark over baremetal K8 setup and successfully able to do the restore and backup for basic nginx example shown in documentation
but when I used for my application, configmaps are not restored over same and hence application container did not came up, rest service,jobs are successfully restored.

Have checked in backup tar ball too, configmap wa

[2018-07-12 13:42] ncdc commented on #671
@VC16dec could you please list the exact command you ran to create the backup, or paste a copy of it in yaml format here (`ark backup get <name> -o yaml`)? And then the same thing for the configmap, and the ark restore? Thanks!

[2018-07-12 15:57] georambo commented on #365
@akgunjal , can you share what the issue was in your cluster?  I'm having this issue now as well.
I'm not sure what this error means.  Where is it looking for that gz file?
[code]

@ncdc , if possible, maybe you have an idea of what's happening?  Here are my logs and ark config.  I verified my cloud-credentials are correct.

ark config
[code]
pod logs
[code]

command to run backup
[code]

[2018-07-12 16:35] georambo commented on #365
Disregard comment above.  I manually created the folder openvpn-backup , and the backup proceeded.  I may need to update the IAM policy to allow creating subfolders.

thanks.

[2018-07-13 05:46] VC16dec commented on #671
H

[2018-07-13 10:58] mprzygrodzki opened #672 "Failed to list *v1.PodVolumeBackup:"
**What steps did you take and what happened:**
Hello everyone,
I'm trying to setup new Ark deployment via Helm chart, picked up newest 0.9.0 version on my Kubernetes cluster in AWS.
1) Prepared bucket, user, policies, created secrets as described in https://heptio.github.io/ark/v0.8.1/aws-config.html - but in my case installation should be continued via Helm chart.
2) Edited vaules.yaml as followi

[2018-07-13 12:14] MansM opened #673 "ark sa always needs namespace create perms"
**What steps did you take and what happened:**
We want to run ark without any restore permissions at this moment in time.
We are running openshift 3.9
I created a copy of cluster-reader clusterrole and added:
[code]
when starting ark:
An error occurred: error creating namespace config-hist: namespaces is forbidden: User "system:serviceaccount:config-hist:ark" cannot create namespaces at the cluste

[2018-07-13 12:33] ncdc commented on #672
@mprzygrodzki there are new CRDs in v0.9.0 that aren't in v0.8.x. The Helm chart will need to be updated for v0.9.0.

[2018-07-13 12:35] ncdc commented on #673
@MansM Ark currently attempts to create the namespace in which it runs. We should probably remove this logic and require you to create the namespace first. @skriss @nrb wdyt?

[2018-07-13 12:41] mprzygrodzki commented on #672
@ncdc - you're right, reverting to 0.8.2 solved the issue. Hopefully will wait for updating chart to be able to use 0.9.0.

[2018-07-13 12:41] #672 closed

[2018-07-13 12:45] MansM commented on #673
Or make the auto creation configurable. Though I wonder how it can even create the namespace. As an deployment should run in a namespace to even be able to access the sa to connect to the api. I can be mistaken....

[2018-07-13 13:04] sjdweb opened #674 "Ark Backup create fails on Azure 1.7.9 cluster"
**What steps did you take and what happened:**
Installed latest Ark on an Azure ACS 1.7.9 cluster to migrate to AKS.

Followed the Azure guide to install Ark components and cloud credentials which has worked for us 4-5 times prior without problems.

Command being run:

[code]

When checking status of the backup, we see
[code]

In the logs for the Ark pod (**with --log-level set to debug**):

[code

[2018-07-13 13:40] nrb commented on #673
I think requiring the namespace be created beforehand is fine.

[2018-07-13 13:48] nrb commented on #674
Hi @sjdweb, thanks for the report, and for providing the commands you ran. This may be somewhat related to #660.

v0.7.1 may be an option, at least to create the backups. Then you could restore on the AKS cluster with v0.9.0.

[2018-07-13 13:51] sjdweb commented on #674
Hi @nrb - thanks for the prompt response!

Should I update the deployment manifests of Ark to use the 0.7.1 images?

[2018-07-13 13:56] nrb commented on #674
@sjdweb Yeah, that should work. Did you try v0.8.3 on the deployment manifests too, or on the client side? We've seen 0.8.3 resolve problems with 1.7.x.

[2018-07-13 14:16] sjdweb commented on #674
Just tried v0.8.3 and the backup completed! Thanks.

v0.7.1 is quite a step backwards with the separate namespaces - so would advise v0.8.3.

[2018-07-13 14:19] nrb commented on #674
Yes, it is. I suggested it because you mentioned v0.8.0 didn't work, but I think you were just using the client, correct?

[2018-07-13 14:21] sjdweb commented on #674
Yes - as the deployment manifest uses the latest image it would have been the 0.8.0 client and 0.9.0 server.

[2018-07-13 14:44] nrb commented on #674
I'll go ahead and close this issue. We can track a better resolution in #660.

[2018-07-13 14:44] #674 closed

[2018-07-13 18:17] skriss commented on #673
@ncdc @nrb agree, I think we can remove the attempt to create.  I'll get a patch in for this, and we can include it in v0.9.1 which I think we'll probably try to release next week. Thanks for reporting this @MansM !

[2018-07-13 19:45] nrb opened #675 "FE: Create a `velero debug` command for gathering troubleshooting information"
**Describe the solution you'd like**
Provide an `ark debug` subcommand that could output the following information:

* ark client and server versions
* ark pod logs (should probably include restic logs, too)
* ark config
* If a backup/restore name is provided:
** relevant backup or restore logs
** backup and/or restore YAML

Additionally, the `ark debug` command should provide a way to filter out

[2018-07-15 04:48] gleeco commented on #350
wondering if this issue is still relevant?

[2018-07-16 15:24] rosskukulinski commented on #675
Great suggestion @nrb.  We could also pair this command with https://github.com/heptio/ark/issues/578

[2018-07-16 15:30] nrb commented on #675
Oh nice, I had missed that issue.

I definitely think linking the two would be a good idea.

[2018-07-16 16:47] timoreimann commented on #354
Just to add one user data point: We just encountered this very issue when running a test recovery with Ark on one of our namespaces, where the omission of the node ports eventually prevented some access patterns we've employed before. In this very case, it'd have been desirable to default to keeping the specified node ports, or at least have an option to enforce such behavior.

It's nothing overly

[2018-07-16 16:51] rosskukulinski commented on #354
Thanks for volunteering, @timoreimann!  @ncdc / @skriss does Joe's approach work for you? [My suggestion for (2) is to default to removing nodePort and add CLI flag to enable keeping it]

[2018-07-17 03:34] skriss commented on #354
It makes sense to me, and I think removing it by default is sensible.

[2018-07-17 03:52] VC16dec commented on #671
Can anyone look over this or have faced same?

[2018-07-17 12:52] ncdc commented on #671
@VC16dec I'm guessing your configmaps are not labeled `app=consul`. Could you please check their labels and report back?

[2018-07-17 13:36] ncdc commented on #350
@gleeco it depends on whether or not you want to run Ark as cluster-admin or as a lesser-privileged user/serviceaccount. We recommend running as cluster-admin as that allows Ark to be able to back up and restore anything in the cluster, from any namespace. But we also recognize that that gives Ark broad powers, and you may decide it's too broad. That's what this issue is for.

[2018-07-17 15:02] rosskukulinski commented on #662
Hi @nrb. We're trying to use [ZenHub](https://www.zenhub.com/blog/open-source/) for project tracking.  Using ZenHub, I've associated a number of Issues with this Epic card, some of which have Breaking Changes:

<img width="712" alt="screen shot 2018-07-17 at 11 00 06 am" src="https://user-images.githubusercontent.com/2746479/42825722-a200b86c-89b0-11e8-94e3-d76f14a7874f.png">

[2018-07-17 18:30] rosskukulinski opened #679 "Add ZenHub Contributor's Guide"
**Describe the solution you'd like**

The Ark team is starting to use ZenHub for project and epic tracking.  In order to help onboard community members to this new workflow, we should have a contributors guide

[2018-07-18 16:48] rosskukulinski commented on #305
Product question: What are the the common errors/error states that we want to be able to resolve.

Sources that can help piece together what happened:
* per-backup / per-restore logs
* restores have warnings/errors file
* ark server log
* restic pod logs

Restores (Related: #286)
* per-restore log
* errors file
* warnings file

[2018-07-18 17:18] rosskukulinski commented on #668
Closing as duplicate of #103

[2018-07-18 17:18] #668 closed

[2018-07-19 12:54] tomplus opened #684 "Creating "Schedule" object manually - doc missing"
**Describe the solution you'd like**

I know that it's possible to create `Schedule` object manually instead of use `ark` command. I use it to deploy all manifests to K8s. In my opinion that possibility should be described in documentation, or maybe I can't found it...

**Anything else you would like to add:**

N/A

**Environment:**

N/A

[2018-07-19 17:57] DP19 opened #685 "Ark making a lot of delete backup requests"
We're seeing an issue where a snapshot may be deleted by hand or by ark itself and the backup just stays in the deleting status. This causes ark to make a delete backup request then fail to remove it because the corresponding snapshot doesn't exist anymore. This continues to happen until there are thousands of deletebackuprequests. Is there a way to force delete backups? Or a code change to contin

[2018-07-19 18:05] skriss commented on #685
Thanks for reporting this @DP19.  This is an issue we're aware of and looking at solutions for (see #308, #423 for some related issues).  In the short-term, one option is to manually edit the relevant Backup's YAML and remove the snapshot info from `.status.volumeBackups`.

[2018-07-19 18:34] ncdc commented on #685
@skriss @rosskukulinski I think we should consider modifying the object and block store plugins to return no error if we couldn't find the thing we're trying to delete (volume snapshot or object store item). That wouldn't require a change to the protobuf and hopefully could be implemented fairly quickly. WDYT?

[2018-07-19 18:51] skriss commented on #685
Sounds like a good idea

[2018-07-19 19:32] ncdc commented on #685
@rosskukulinski right, I'm thinking specifically about a 404

[2018-07-19 19:42] rosskukulinski commented on #685
FYI @DP19 - we're prioritizing fixing this bug and discussing this issue in the [#ark-dr channel on Kubernetes slack](https://kubernetes.slack.com/archives/C6VCGP4MT/p1532028873000334)

[2018-07-19 20:57] nrb commented on #684
Hi @tomplus,

Are you looking for something like https://heptio.github.io/ark/v0.9.0/output-file-format, but for schedules?

[2018-07-19 21:03] tomplus commented on #684
More like this: https://heptio.github.io/ark/v0.9.0/config-definition but for schedules.

[2018-07-19 21:18] DP19 commented on #685
Thanks for looking into this, we've actually had this issue for a while and have been completely re-installing ark to fix it. At one point we had over 250,000+ DBR's and it brought down our cluster, overloading the api server

[2018-07-19 22:57] thspinto opened #686 "S3 upload issue"
**What steps did you take and what happened:**
I'm trying to do a backup but I get "SignatureDoesNotMatch" from AWS.

The credentials are provided using kube2iam and the AWS policy allows any s3 action on the backup bucket.

Am I missing something?

**Issue Log**

time="2018-07-19T22:33:52Z" level=error msg="backup failed" error="rpc error: code = Unknown desc = error putting object default-bkp7/a

[2018-07-20 02:20] nrb commented on #686
Hi @thspinto, thanks for providing the error message and environment details.

Are you able to upload to the same bucket, using the same credentials with `aws s3 cp`?

Also, is the time of `22:33:52` UTC correct for the time you tried to create a backup? The S3 code relies on synced clocks to generate upload signatures, and clock skew can affect the signatures.

[2018-07-20 02:43] nrb commented on #685
@DP19 Are you able to capture one of the `DeleteBackupRequests` that get stuck? I'm curious to see what the `Phase` field is.

[2018-07-20 02:51] DP19 commented on #685
@nrb The phase field is processed, i had cleaned up the DBR's using @skriss suggestion but the ark archive in s3 still had them

`{"apiVersion":"ark.heptio.com/v1","kind":"DeleteBackupRequest","metadata":{"clusterName":"","creationTimestamp":"2018-07-18T11:58:24Z","deletionGracePeriodSeconds":null,"deletionTimestamp":null,"generateName":"ppek8s-hourly-20180716220729-","generation":0,"labels":{"ark

[2018-07-20 02:54] DP19 commented on #685
@nrb I can check tomorrow and see if this happens again and get you that as well.

[2018-07-20 03:00] DP19 commented on #685
Just a quick search and here's the log where it originally deleted the backup

`time="2018-07-17T21:28:24Z" level=info msg="Removing snapshot associated with backup" backup=ppek8s-hourly-20180716210729 controller=backup-deletion logSource="pkg/controller/backup_deletion_controller.go:237" name=ppek8s-hourly-20180716210729-5rn7l namespace=heptio-ark snapshotID=snap-088dc54a0627c1c41
time="2018-07-1

[2018-07-20 03:18] nrb commented on #685
Thanks for this information!

[2018-07-20 07:22] VC16dec commented on #671
yes, thanks, They were not mapped correctly, So as a solution, I created a label to define release name in all entities and then it worked fine.

[2018-07-20 07:22] #671 closed

[2018-07-20 14:02] tomplus commented on #84
I've just installed 0.9.0 and and it works very well. I use Prometheus and these metrics are enough for me to create alerts or diagnose problems. Thank you. :+1:

[2018-07-20 17:53] thspinto commented on #686
Thanks for the reply @nrb.

The clock is correctly synced and the credentials work fine with `aws s3 cp` from my machine.

[2018-07-20 18:33] thspinto commented on #686
The issue was in my bucket configuration.

I used
[code]
The backup worked when I removed the `/some-prefix`.

[Here](https://github.com/aws/aws-sdk-go/issues/1583) they say the object prefix should be in the key filed. Is the a way to configure that in ark?

[2018-07-20 18:43] nrb commented on #686
Currently Ark cannot back up under a prefix, but we're planning to support that with v0.10.0.

[2018-07-20 18:46] ncdc commented on #686
We're tracking prefix support in #167.

[2018-07-20 19:12] thspinto commented on #686
Thanks for the help =).

[2018-07-20 19:12] #686 closed

[2018-07-20 19:13] jhamilton1 opened #691 "Wait for namespace to finish terminating on restore."
**Describe the solution you'd like**
If the user needs to restore an entire namespace, they will first need to delete the namespace. It would be helpful if ark would wait for the namespace to finish terminating and then execute the restore.  It would also be nice if ark would inform the user that it is waiting for the termination to complete so that the user has some idea about the time that elaps

[2018-07-20 19:16] ncdc commented on #691
👍 to detecting that a namespace is terminating when we're about to restore it.

In terms of notifications, we don't yet have any way to provide updates to the user as a backup or restore is in flight. We have #20 and #21 to track these enhancements, but we haven't started working on them. Please feel free to comment on either issue with suggestions. 1 possible approach is to use Kubernetes `events

[2018-07-20 19:20] jhamilton1 commented on #691
Sounds good. Thanks.

[2018-07-20 19:43] jhamilton1 commented on #21
Adding a suggestion to this issue. Can the "ark get restore <restore>" command output that a non kube-system namespace did not restore because the namespace already existed and contained the pods to be restored?

[2018-07-20 19:45] ncdc commented on #21
@jhamilton1 we wouldn't show that in `ark get restore` as that's meant to be a high-level summary that lists the restores and their statuses. We could put it in `ark describe restore`. If we do that, it would go as a per-namespace error (which we already have support for). I think this RFE belongs in #691 as part of the timeout discussion (after we exceed the timeout, record an error).

[2018-07-20 19:46] rosskukulinski commented on #691
Separated but related to #469

[2018-07-20 19:48] jhamilton1 commented on #21
@ncdc okay I will make a not on #691

[2018-07-20 19:52] jhamilton1 commented on #691
Expanding this a bit to include a situation where the user restores and does not first remove the namespace. When we reach the hard cap timeout, let the user know why.

[2018-07-23 17:29] metadave commented on #660
I had the [same issue](https://github.com/heptio/ark/issues/674) w/ a 1.7.2 cluster, and was able to use Ark 0.8.3 client/server to resolve.

[2018-07-23 17:31] skriss commented on #660
Thanks @metadave for the info. We'll also be releasing v0.9.1 shortly, which will bring back 1.7.x compatibility.

[2018-07-23 17:40] #685 closed

[2018-07-23 19:00] #660 closed

[2018-07-24 13:56] ncdc commented on #669
@geofflamrock were you able to get your backups and restores working?

[2018-07-24 18:06] #641 closed

[2018-07-24 20:42] nrb opened #698 "Auto-build documents site from master branch"
**Describe the solution you'd like**
Currently, adding documentation requires updating at least 2 branches - master, for making sure it's included in new versions of sites, and gh-pages within the appropriate version's directory to make sure it's published live.

Ideally, we'd auto build these with CI and not require manual cherry-picks/backports of content.

[2018-07-24 22:19] geofflamrock commented on #669
@ncdc unfortunately I haven't had the opportunity to get back to this yet due to other things I've been working on, I will try and get back to it in the next few days and see.

[2018-07-24 23:05] Bradamant3 commented on #698
@nrb TimH and I have been discussing this item for all Heptio OSS docs :-)

[2018-07-25 01:34] #679 closed

[2018-07-25 17:30] Evesy commented on #474
A generic find/replace plugin would be great for us too. Thinking about certain applications deployed that query GCP resources, these often reference specific zones/regions.

In the event of a region outage, we may choose to deploy a cluster (and other GCP resources) into another region. Any application that has this region set via config will now be incorrect; a find/replace would allow us to use

[2018-07-26 00:28] skriss opened #702 "backup item action changes to objects aren't being persisted in the backup tarball"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

1. build sample plugin container image
2. `ark plugin add <my-repo>/ark-plugin-example:latest`
3. `ark backup create foo`

The backed-up items should be annotated, per https://github.com/heptio/ark-plugin-example/blob/master/ark-backupitemaction-log-and-annotate/myplugin

[2018-07-26 00:29] skriss commented on #702
cc @nrb @carlisia @Evesy

[2018-07-26 15:20] nrb commented on #702
Sounds reasonable to me.

[2018-07-26 16:13] nrb commented on #656
That does happen, but at runtime when the `ScheduleController` creates a new `Backup`.

It sounds like you're wanting to separate the scheduling data from the template used to create a `Backup` (and maybe a `Restore`) - is that an accurate characterization, @rosskukulinski? If so, I would think we'd have a separate set of CRDs for the backup and restore templates that a schedule would then referen

[2018-07-26 16:18] ncdc commented on #656
The "quick 'n' dirty" implementation of this RFE is a client-only code change that retrieves the backup spec from the specified schedule, then creates a new backup using that spec. I think that's valuable. I'd suggest keeping this issue about how to best implement that (assuming we decide to proceed), and moving the rest of the discussion to another meta issue about schedule UX.

[2018-07-26 16:35] nrb commented on #656
@ncdc I'm +1 to that. The separation discussion should happen elsewhere

[2018-07-26 18:26] #702 closed, assigned to skriss

[2018-07-26 18:36] skriss opened #705 "sync controller: don't delete API objects that are new/in-progress/etc."
backups with `.spec.phase` of "", New, InProgress should be excluded from the `deleteUnused` func.

backups with `.spec.phase` of FailedValidation -- I think it makes sense to exclude them as well.  This ensure we don't delete the API obj before a user can see why it failed validation. It will still be GC'ed according to its TTL.  We could possibly look at GC'ing backups that failed validation mor

[2018-07-26 19:03] metadave commented on #675
I was thinking that `ark debug` and `ark bug` could be two separate things (or a set of flags on one command):

- As an open source user, having a convenience command like `ark bug` to populate some info in a Github issue would be nice, but I wouldn't want to expose my config, logs, or sensitive data without me manually editing/copying/pasting into the issue.

- As a customer paying for support, I

[2018-07-26 19:10] ncdc commented on #675
I agree they should be 2 separate things. `ark bug` must never expose confidential data and is really a convenience for getting you to a GitHub issue, possibly with some information filled in. `ark debug` may or may not contain confidential data - we should have a sufficient number of flags to allow you to control what is included in the debug tarball.

[2018-07-26 20:39] nrb commented on #705
Is the v0.10.0 milestone soon enough? Is it ok to release v0.9.2 without the fix?

[2018-07-26 20:49] skriss commented on #705
this is a fix to carlisia's PR that got merged yesterday

[2018-07-26 20:50] ncdc commented on #705
You'll create a release-0.9 branch based off of v0.9.1 and then get #704 on to it?

[2018-07-26 20:52] skriss commented on #705
release-0.9 already exists (created it in order to do v0.9.1), and yes, will get just #704 onto it to release v0.9.2. Writing changelog up now.

[2018-07-26 22:12] carlisia commented on #705
@skriss this makes sense. I'll add a few test cases that are not `BackupPhaseCompleted` and add the condition to make them pass.

[2018-07-30 16:30] jhamilton1 opened #714 "Ticket 269: SignatureDoesNotMatch when getting logs from ceph bucket."
**What steps did you take and what happened:**
I setup ark to utilize the ceph object gateway.  I created a "backups" bucket and created an access_key_id and secret_access_key that I plugged into the ark config map along with the s3Url for the ceph gateway.

I can create a backup without any problem. I verified the backup completed with the "ark get backup <backup> command. I also verified the bac

[2018-07-30 18:37] ncdc commented on #714
We had a report of this in Slack a few months ago. The user reported being able to fix it:

(https://kubernetes.slack.com/archives/C6VCGP4MT/p1526335304000425)

@jhamilton1 could you please see if this information is helpful?

[2018-07-30 18:41] jhamilton1 commented on #714
@ncdc I will take a look and see. Thanks!

[2018-07-30 20:03] nrb commented on #714
Thanks for this report!

After some digging, the error for `logs` commands is coming from https://github.com/heptio/ark/blob/master/pkg/cmd/util/downloadrequest/downloadrequest.go#L128. Dropping some debugging code in here and working with an affected cluster, I see we're getting 403 for the `resp.StatusCode`.

I think the error message could be made more friendly, such that the 403 is recognized

[2018-07-30 20:06] jhamilton1 commented on #714
Not a problem @nrb, I will try with both upgrading ceph and trying the fix listed by ncdc

[2018-07-31 13:41] rosskukulinski commented on #714
Related to #549 (review all CLI error handling)

[2018-07-31 13:57] nrb commented on #714
Looking at some of the AWS docs:

* [Some libraries](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version) can specify a signature version to use, largely for supporting older AWS regions.
* The Go library's [AWS client confguration](https://github.com/aws/aws-sdk-go/blob/master/aws/config.go#L33) doesn't provide a property to change the signature.

So I think

[2018-07-31 14:12] jhamilton1 commented on #714
@nrb I did not implement Keystone in the ceph cluster.

[2018-07-31 16:18] #705 closed

[2018-07-31 16:36] ncdc commented on #481
Fixed by #710

[2018-07-31 16:36] #481 closed

[2018-07-31 20:50] #282 closed

[2018-08-01 12:44] jhamilton1 commented on #714
@nrb  I went back through the ceph docs. The first attempt at implementing the v4 signature functionality was in the "Jewel" release and still had some bugs. This would explain why I still was getting the "Signature" errors after I upgraded to the latest Jewel stable.  I read through the Luminous release notes and decided to upgrade to the latest stable for that release. There were some issues wit

[2018-08-01 16:00] nrb commented on #714
Thanks a ton for this investigative work, @jhamilton1! When you have time, could you get the version number you were successful with, so we can document it?

[2018-08-01 16:02] jhamilton1 commented on #714
No problem @nrb  I upgraded to ceph v12.2.7

[2018-08-01 18:44] jhamilton1 commented on #714
@nrb do we want also to include using a non-keystone account as well in the ceph doc PR?

[2018-08-02 16:59] jmreicha opened #720 "Docker ARM support"
**Describe the solution you'd like**

A quick looks at the manifest for the ark Docker images show that amd64 is currently the only supported architecture.

[code]

It would be nice to have multiarch builds for Ark, including arm and arm64.

[2018-08-02 19:03] rosskukulinski opened #721 "[Epic] Finer-grained control of backup locations"
**User Stories**
As a cluster administrator, I would like more fine-grained controls where backups are stored and where I can restore from
 - Backups & Restic Snapshots share bucket (#576)
 - Support sub-directory of object storage buckets (#167)
 - As a cluster administrator, I need to be able to provide different IAM credentials for different storage targets (buckets & snapshots) [Not currently

[2018-08-02 20:42] arqbackup opened #722 "Trademark conflict with Arq Backup"
Hi folks,

We've been shipping a popular online backup product for the past 9 years that has the same name, spelled with a Q instead of a K.
https://www.arqbackup.com
We have a registered trademark with the USPTO for Arq for "software for digital and electronic data and file backup and recovery". The serial number for the registered trademark is 87072023.
I'm sure many of your users have heard of

[2018-08-02 20:55] ncdc commented on #722
@arqbackup thank you for reaching out. We will discuss this and get back to you ASAP.

[2018-08-03 16:27] skriss commented on #720
Thanks for reporting this @jmreicha, we'll take a look!

[2018-08-03 17:57] #233 closed

[2018-08-03 19:12] rosskukulinski opened #726 "[Epic] Backup ownership and sharing"
**User Stories**

As a cluster administrator, I would like to be able to safely backup from Cluster A and restore into Cluster B.  E.g.
 * Production cluster backing up hourly, staging cluster restoring from the production backups to maintain a "real-world" environment
 * Production cluster A backing up, hot-standby Production Cluster B restoring on a regular basis

**Features**
- [ ] Add/enforce

[2018-08-03 20:13] rosskukulinski commented on #627
Closing this in favor of an epic #726

[2018-08-03 20:13] #627 closed

[2018-08-06 03:55] fumanne opened #727 "whether ark restore pv and pvc must use cloud provider snapshot?"
I'm testing restore function with ark, but met some question:
The following is my example with pv:
[code]
1. I can backup this pod successfully with command  ark backup create ......
2. Then use ark logs .. it show complete in console, and I also see the backup file already in minio (compatible with aws s3)
3. next, I delete pod and pv,pvc.  use command ark create restore .....  and it successfull

[2018-08-06 04:51] VC16dec opened #728 "Helm chart for latest version over openstack (Local Storage)"
Hi All,

Is there a HELM Chart available with Latest ARK version and restic integration..
Moreover We want to use local storage/Baremetal or something related to openstack only.
Is that supported, Minio need to be integrated with available helm chart?

What about secrets, anyone already did that using helm?

**Environment:**

- Ark version (use `ark version`):0.9.2
- Kubernetes version (use `kubec

[2018-08-06 12:58] ncdc commented on #727
@fumanne it looks like you're using Rook - is that correct? If so, we don't currently have native Ceph/Rook snapshot support, but we do have the ability to use restic to back up and restore your pods' volumes. Please take a look at https://heptio.github.io/ark/v0.9.0/restic.html and let us know if you have any additional questions.

[2018-08-06 18:57] rosskukulinski opened #729 "[Epic] Velero CLI UX Consistency"
As an Ark user, I would like for the CLI flags for Ark to be consistent in behavior.

[2018-08-06 19:20] rosskukulinski opened #730 "[Epic] Revisit Project Description & Messaging"
Current project description:

Since launching, the Ark project has expanded its feature set to cover use-cases beyond just "disaster recovery".  For example, Ark can be used for cluster/workload migration, replication, and disaster recovery.

As the project stabilizes ahead of a 1.0 release, we should review project messaging, documentation, and tutorials to ensure we have consistent messaging.

[2018-08-06 19:24] rosskukulinski opened #731 "[Epic] ZD 255 Followup"
Meta tracking issue for ZenDesk internal ticket ID 255.

[2018-08-06 19:54] nrb commented on #728
Hi @VC16dec,

There's a community-maintained helm chart at https://github.com/helm/charts/tree/master/stable/ark. It looks like it's v0.9.0, which has restic integration. v0.9.2 is the latest release.

As far as OpenStack volume/block storage, I'm not aware of any plugins currently available. If OpenStack Swift has an S3-compatible object storage API that could be used for the backup objects.

I'm

[2018-08-06 20:06] rosskukulinski commented on #308
@skriss will test this

[2018-08-06 20:11] rosskukulinski commented on #487
This needs a quick test (from code) to trigger:

* get a backup thats new
* patch it to inprogress
* patch again to inprogress (this should fail, since already in progress)

[2018-08-06 20:51] skriss opened #732 "update `BackupStorageLocation` API type to include `prefix`"

[2018-08-06 21:03] skriss commented on #538
@carlisia:

Our [Config CRD](https://github.com/heptio/ark/blob/master/pkg/apis/ark/v1/config.go) has a bunch of fields that we want to either move into other CRDs or switch to server flags, so we can get rid of the `Config` type.

`PersistentVolumeProvider` and `BackupStorageProvider` will be replaced with the backup locations work.

`BackupSyncPeriod`, `GCSyncPeriod`,  `ScheduleSyncPeriod`, `Pod

[2018-08-06 22:50] skriss opened #733 "[Feature] Support storing backups in one of several possible locations"

[2018-08-06 22:51] skriss opened #734 "[Feature] Support storing PV snapshots in one of several locations"

[2018-08-06 22:56] skriss opened #735 "[Feature] Support backing up/restoring multiple PV types per backup"

[2018-08-06 23:01] skriss opened #736 "Add BackupStorageLocation CRD and reference it in the Backup CRD type"

[2018-08-06 23:02] skriss opened #737 "Add `ark backup-storage-location create` CLI cmd"

[2018-08-06 23:03] skriss opened #738 "Modify `ark backup create` and `ark schedule create` CLI commands to accept a backup location as an optional flag"

[2018-08-06 23:04] skriss opened #739 "Update backup controller to use the backup's specified location"

[2018-08-06 23:04] skriss opened #740 "Update restore controller to use the backup's specified location"

[2018-08-06 23:04] skriss opened #741 "Update backup deletion controller to use the backup's specified location"

[2018-08-06 23:05] skriss opened #742 "Update backup sync controller to sync from all locations"

[2018-08-06 23:05] skriss opened #743 "Update download request controller to use the backup's specified location"

[2018-08-06 23:35] skriss commented on #585
We're now tracking this as part of #538 so closing this issue.

[2018-08-06 23:35] #585 closed

[2018-08-06 23:39] skriss commented on #308
We've already addressed this for volume snapshots, so that not-found snapshots are not a blocking error for backup deletion.

This should also be true for object storage, so missing objects don't block the deletion from going through. Testing status:
- [x] GKE
- [ ] AWS
- [ ] Azure

[2018-08-07 02:37] fumanne commented on #727
@ncdc  yeah.. I have rook (ceph) for store.  I have already follow restic  document. but finally I enter into pod and can not found my previous recorder in pv.

[2018-08-07 08:47] dhananjaysathe commented on #503
hi @rosskukulinski we use kube as a provisioning layer for dynamic workloads. Each workload gets put into its own isolated name-space. So what i would want to do is take backups of a particular users workloads and allow him to restore them to a point in time. SO instead of specifying exact namespace names i would use lables and selectors to map to a backup job/schedule.

[2018-08-07 13:28] VC16dec commented on #728
Hi,

Thanks
Yes, I want helm chart with local storage (may be minio) to test the functionality and then I can integrate it with openstack too. I will research on plugins.

Regarding secret creation, My query was related to helm chart only:-

"Secret for cloud provider credentials
Ark server needs an IAM service account in order to run, if you don't have it you must create it. Please follow the off

[2018-08-07 15:06] nrb commented on #732
I was going to cover this as part of #736; think it needs to be separate?

[2018-08-07 17:52] skriss commented on #732
that's fine. set this up quickly for testing out ZH

[2018-08-07 21:19] skriss commented on #732
Dupe of #736

[2018-08-07 21:19] #732 closed

[2018-08-08 05:01] erasmus74 commented on #434
Hows this? Allow using kubeseal for secrets, just add optional params, '--kubeseal' which now requires '--secret' '--controller' etc. The tool then encrypts the backup using a generated key as a secret, secret is sealed, exists as 'secret-name' then for restore, it would only need to use that same secret for decryption.

Might need fineseing but I currently have to install components on the pod an

[2018-08-08 07:14] pawarrchetan opened #746 "heptio-ark : error creating snapshot: rpc error: code = Unknown desc = InvalidVolume.NotFound"
**What steps did you take and what happened:**
Our setup is a PROD kubernetes cluster based on AWS.

Ark backup schedule is created since a long time.
Schedule details -
[code]

From a week, I see the below error in the backup logs -
[code]

**What did you expect to happen:**
If the volume is not present in AWS, ark should skip it and continue backups successfully.

**The output of the following c

[2018-08-08 10:33] ncdc commented on #746
Hi @pawarrchetan, thanks for the report. Our plan to address this is part of
https://github.com/heptio/ark/issues/286#issuecomment-358078491.

[2018-08-08 10:47] pawarrchetan commented on #746
@ncdc Thanks for your response.

Could you please clarify how will #286 resolve the issue that I have reported.
And is there any way in which I can work around this issue ?

[2018-08-08 11:05] ncdc commented on #746
In the comment I linked, we will be reserving the `Failed` status to mean "completely unable to start the backup". If we're able to do _any_ work, the final status will be something like `Processed`, and we'll have individual warnings and errors to indicate anything that wrong during the backup.

As far as a workaround, there isn't one until we fix the code. Ark is proceeding to do as much work as

[2018-08-08 11:08] pawarrchetan commented on #746
@ncdc  Thanks for your prompt response.

So if I understand correctly, currently the status is shown as Failed but the backup has completed successfully after ignoring the not found volumes.

[2018-08-08 15:29] J-Ha commented on #722
How About
"Bark"
Backup - Ark

[2018-08-08 15:34] ae-v commented on #722
barque / bark / barc is a nautical term, too.
https://en.wikipedia.org/wiki/Barque

[2018-08-08 15:54] rosskukulinski commented on #503
Cool! Thanks for the additional context @dhananjaysathe.  We're in the planning process for the next few releases as well as the road to 1.0.  Once I have a better understanding of if/when this might be worked on, I'll let you know.

Also, we're happy to take contributions if you or anyone else has some time.  We love mentoring/on-boarding folks to the project!

[2018-08-08 16:19] skriss opened #747 "Create a BackupStorageLocation from the existing Config CRD at server startup"

[2018-08-08 16:19] skriss commented on #747
This is to make migration from pre-v0.10 versions easy.

[2018-08-08 16:42] carlisia opened #748 "Add bulk deletion support to ark schedule delete"
Modify ark schedule delete to use a --pattern flag, so that a user could do bulk delete with a PCRE pattern as follows ark schedule delete --pattern nginx*

This is related to this issue: https://github.com/heptio/ark/issues/295

[2018-08-08 16:43] carlisia opened #749 "Add bulk deletion support to ark restore delete"
Modify ark restore to bulk delete restores, so that a user could do bulk deletes using `--all` or  `-l / --selector`. This would be in line with `kubectl`.

Examples:
* delete restores named "restore-1" and "restore-2"
`ark restore delete restore-1 restore-2`

* delete all restores with label foo: bar
`ark restore delete --selector foo=bar`

* delete all restores
`ark restore delete --all`

This i

[2018-08-08 16:46] ncdc commented on #748
We haven't done any pattern matching anywhere else, and `kubectl`'s mechanism of selecting multiple things is to use a label selector. Do you think we need the pattern matching or is a label selector acceptable and sufficient?

[2018-08-08 16:46] ncdc commented on #749
Need to resolve
https://github.com/heptio/ark/issues/748#issuecomment-411474132

[2018-08-08 16:52] carlisia commented on #748
@ncdc agree. And also the intention for this tix is to mirror #295, which is using a selector based on a list of inputs. My bad here, will correct the description.

[2018-08-08 17:00] skriss opened #750 "Add a --default-backup-location flag to `ark server`, whose value defaults to "default""

[2018-08-08 17:01] skriss commented on #750
This will be used to specify which `BackupStorageLocation` is the default one. By default, the one named "default" will be the default, but the user can change this by explicitly specifying this flag.

[2018-08-08 17:34] carlisia commented on #749
Edited the description, please check!

[2018-08-08 17:34] carlisia commented on #748
Edited the description, please check!

[2018-08-08 17:51] carlisia commented on #538
In talking to @skriss , we are going to make `ResourcePriorities ` take a value that is a comma-separated list, and `RestoreOnlyMode` will be a server flag for now (it’ll be temporary).

[2018-08-08 17:56] ncdc commented on #538
I think we'll need to have separate resource priorities for backups and restores. #586

[2018-08-08 18:07] skriss commented on #538
sure, so let's just add the `--restore-resource-priorities` for now since that's what we currently offer, and then we can do the other one later.

[2018-08-08 18:20] carlisia commented on #538
Copy that 👍.

[2018-08-08 18:40] #295 closed

[2018-08-08 19:16] rosskukulinski opened #751 "[Epic] Improve Ark supportability & debuggability"
The Ark engineering team frequently provides support to users via the [#ark-dr](https://kubernetes.slack.com/messages/ark-dr) channel on the Kubernetes Slack and through GitHub Issues.  The team also is an escalation path for Heptio's Customer Reliability Engineers working with our commercial customers.

As Ark continues to gain traction, we are seeing an increase in support requests.  This is in

[2018-08-08 19:39] #736 closed

[2018-08-08 19:43] rosskukulinski commented on #638
As this isn't a breaking change, I don't think it must land in v1.0.0.  Community contributions welcome if someone wants to accelerate the development of this feature.

[2018-08-08 19:50] rosskukulinski opened #752 "[Epic] Ark CLI, Server & CRD installation & upgrade mechanics"
**User Stories**

As a cluster operator, I would like an easy but production-ready way to install Ark within my Kubernetes cluster.

As a cluster operator, I would like to have an easy mechanism to upgrade Ark, including the Server and relevant CRDs

As a cluster operator, I would like to have confidence that my existing older Ark Backups will always work with newer Ark versions.

[2018-08-08 19:59] mitchhh22 commented on #669
I'm having a similar issue with restore/backup:
- The first backup create using restic works fine (Completed)
- Any subsequent attempt to create another backup that uses restic fails:
**restic pod log**:
[code]
- Trying to restore from the successful backup restores resources but the persistentVolume is not populated with data:
**ark restore logs mitch-test-restore3**
[code]

note: the PVC/PV I'm

[2018-08-08 20:02] ncdc commented on #669
@mitchhh22 re the error you get from `ark restore logs`, please see #387 for suggestions on how to view logs with Minio.

Can you ssh to the node that's running the pod `mitch-test-df7c8d889-sq9k8` and look in `/var/lib/kubelet/...` and see if you can find the directory that represents the `storage-volume-new` volume for that pod (uid=`fc684877-9b43-11e8-94d4-0cc47ac91aec`) - is there anything in

[2018-08-09 15:39] rosskukulinski opened #756 "[Epic] Migrate PV data to a larger PV"
**Describe the solution you'd like**

As a cluster operator or application operator, I would like an easy way to migrate a PersistentVolume to a larger PersistentVolume for a deployed application.  For example, my database (prometheus) is running out of storage space on its PersistentVolume.  I would like to backup the database's PV, and then restore to a new PV with a larger size.

[2018-08-09 15:39] rosskukulinski commented on #756
Relevant discussion from ark-dr: https://kubernetes.slack.com/archives/C6VCGP4MT/p1533828657000137

[2018-08-09 15:39] ncdc commented on #756
Related? #504

[2018-08-09 15:55] rosskukulinski commented on #756
Some cloud providers support resizing PVCs on newer versions of Kubernetes (`beta` on 1.11) https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims, so this may be less helpful for some scenarios.

[2018-08-09 18:37] carlisia commented on #747
I think we'll better serve ark's users by explicitly moving them on to the new concept of BSL and also remove the possibility of using a CRD for configuration sooner rather than later.

[2018-08-09 18:39] ncdc commented on #747
I think it will be easier to fully delete the `Config`. If we do go this route, we should start socializing the change now - Twitter, Google Group, Slack, etc.

[2018-08-09 19:02] rosskukulinski commented on #747
At this point in the project lifecycle, I'm on-board withfully deleting `Config` for 0.10 and forcing users to upgrade.

That said, we should plan to have solid docs on _how_ to upgrade 0.9.x to 0.10.0 and test them thoroughly.

[2018-08-09 19:14] nrb commented on #747
I'm for deleting the `Config` CRD earlier so long as we have documentation and clear errors when they're found.

[2018-08-09 19:17] #614 closed

[2018-08-11 12:52] mjschmidt opened #761 "Documentation on how to run ark without the cloud"
I want to run heptio ark on premise. What steps do I need to take to make this happen?

[2018-08-12 22:40] jenciso commented on #761
Hi @mjschmidt.

Do you want to know the step by step for running ark on premise?
Recently, I has been installing the ark using a minio server as storage and it's outside of my kubernetes cluster. The minio running on a VM.

I created a role named `kube-backup`into my kubernetes-cluster playbook (it does provision a k8s cluster) named `. I only modify some yaml files for this purpose. you can check

[2018-08-13 06:31] amanjhadbg opened #762 "Ark on bare metal"
Can i use ark on bare metal kubernetes setup? How can i configure it ?

[2018-08-13 11:55] kratos81 opened #763 "Ark does not restore objects"
**What steps did you take and what happened:**
I installed ark and tried to do a restore and it did not restore the object despite creating the

**What did you expect to happen:**
I expect it restore the objects after creating the backup object

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com

[2018-08-13 13:14] ncdc commented on #763
@kratos81 this is the issue. You need to configure the `ark` cli to use namespace that the server is configured for. If you aren't using the default `heptio-ark` namespace and instead want to use `ark`, you'll need to do this:

[code]

After you do this, you can try creating a new backup and it should work. The key thing to look for is the backup's status/phase needs to be something other than `Ne

[2018-08-13 13:33] ncdc commented on #761
@mjschmidt thanks for your question. We are planning to update our documentation this week to make it clearer what is needed for running on-prem. Please follow #332 for progress updates. Thanks!

[2018-08-13 13:33] #761 closed

[2018-08-13 13:34] ncdc commented on #762
@amanjhadbg thanks for your question. We are planning to update our documentation this week to make it clearer what is needed for running on-prem. Please follow #332 for progress updates. Thanks!

[2018-08-13 13:34] #762 closed

[2018-08-13 13:35] ncdc commented on #332
We are planning on updating the documentation this week to make it clearer how to run on prem.

[2018-08-13 13:44] ncdc commented on #434
@erasmus74 thanks for your idea! @mattmoyer WDYT?

[2018-08-13 13:45] ncdc commented on #746
@pawarrchetan it may show Failed for various reasons, but in your case, that is correct.

[2018-08-13 14:11] pawarrchetan commented on #746
@ncdc
Is it planned to take #286 in coming build ?

[2018-08-13 14:30] rosskukulinski commented on #434
There was also a suggestion from #ark-dr to use https://github.com/mozilla/sops/.

[2018-08-13 14:52] ncdc commented on #746
We will fix this before we release 1.0. We don't have exact timing at this point. Stay tuned!

[2018-08-14 06:16] robbyt opened #765 "Disk snapshots fail on GCP regional volumes"
**What steps did you take and what happened:**
When using regional volumes on GCP, backups fail with the error below. Here is a basic configuration for creating a PVC backed by a regional volume.

[code]

**What did you expect to happen:**
I expected the snapshots to be created similarly as they are for non-regional volumes.

**Anything else you would like to add:**
[Miscellaneous information that

[2018-08-15 05:51] shubheksha commented on #749
I'd like to take a stab at this!

[2018-08-15 05:53] shubheksha commented on #748
I assume the fix for this would be similar to #749, so I can tackle this one too. :)

[2018-08-15 12:34] pms1969 opened #767 "Constraint needs updating for spf13/pflag"
**What steps did you take and what happened:**
When updating a plugin, the build fails because spf13/pflag is out of sync with spf13/cobra

**What did you expect to happen:**
A compilation error that was relevant to the code, not it's dependencies

**The output of the following commands will help us better understand what's going on**:
[code]

**Anything else you would like to add:**
An override t

[2018-08-15 12:35] kratos81 commented on #763
Thanks that seems so have sorted the issue.

[2018-08-15 14:32] rosskukulinski commented on #749
@carlisia To clarify: is `-l` an alias for `--all` or `--selector`?

Kubectl behavior uses `-l` an alias for `--selector` and I think we should match that.

`  -l, --selector='': Selector (label query) to filter on, not including
uninitialized ones.`

[2018-08-15 14:43] rosskukulinski commented on #749
Hi @shubheksha!  Thanks for volunteering to tackle this and #748.  You'll find that they're both likely similar to https://github.com/heptio/ark/pull/745.

Please read over https://github.com/heptio/ark/blob/master/CONTRIBUTING.md and you're welcome to join us in the [#ark-dr channel](https://kubernetes.slack.com/messages/ark-dr) on the Kubernetes slack server.

[2018-08-15 15:00] ncdc commented on #749
@rosskukulinski `-l` is short for `--selector`. I'll adjust the description.

[2018-08-15 15:48] carlisia commented on #748
@shubheksha it is! You may ping me if you can use any help with either ticket.

[2018-08-15 17:25] #747 closed

[2018-08-15 17:25] skriss commented on #747
We decided not to do this and to require users to add their locations a/o v0.10.

[2018-08-15 17:53] skriss commented on #765
Thanks for reporting this @robbyt, we'll look into it and let you know when we can get it fixed

[2018-08-15 17:55] skriss commented on #763
great @kratos81 - closing this issue as resolved.

[2018-08-15 17:55] #763 closed

[2018-08-15 18:47] skriss commented on #308
OK, confirmed that on AWS/Azure/GKE that backup deletions go through even if the files in object storage are missing.  Closing this issue as resolved.

[2018-08-15 18:47] #308 closed

[2018-08-16 00:39] rosskukulinski commented on #765
@skriss I put this against the [backup replication](#103) Epic

[2018-08-16 16:02] #538 closed

[2018-08-16 20:02] ncdc commented on #765
@rosskukulinski given that this appears to be a bug, I'm not sure putting in under replication is appropriate?

[2018-08-16 22:24] nrb opened #770 "Ability to retrieve Ark server version"
Right now, it's not immediately apparent that the output of `ark version` is the client only, and getting the version of the server is done via `kubectl`.

We should consider adding an endpoint so the client can report the version, much in the same way `kubectl version` works.

[2018-08-16 22:26] nrb commented on #770
@mattmoyer Hey Matt, do you see this kind of feature being a security concern? One point that was brought up was that if there's an endpoint for the version, a client could do version sniffing and then use known vulnerabilities.

I'm wondering if it's really that much different than `kubectl version` and our current way of looking up the server version - `kubectl logs deploy/ark -n heptio-ark`, wh

[2018-08-17 01:43] Bradamant3 commented on #698
latest plan: we'll put a complete Jekyll site in the /docs folder -- you'll still need to update a /master subfolder there, but that'll be all that's required. We'll write a script to copy the contents of /docs/master to /docs/version-X when the release is tagged, then push automatically to a Netlify build/deploy. Netlify will update /docs/master continually, with previews for PRs. This may change

[2018-08-17 13:31] ncdc commented on #770
Thinking about this more, it's probably ok (especially since `kubectl version` reports similar information about the server).

Getting the request from the client to the ark server pod could be challenging, depending on the networking setup. We should assume that most invocations of `ark version` happen outside the Kubernetes cluster (e.g., on your laptop). This means there needs to be some sort o

[2018-08-17 19:55] skriss commented on #558
This was fixed by #723, closing

[2018-08-17 19:55] #558 closed

[2018-08-20 16:31] skriss opened #775 "Add location info to the output of `ark backup get` and `ark backup describe`"

[2018-08-20 16:34] skriss commented on #775
For `ark backup get`, let's add a `STORAGE LOCATION` column that has the name of the location where a backup is stored.

For `ark backup describe`, let's add a `Storage Location` line that has the name of the location where a backup is stored.

[2018-08-20 18:25] rosskukulinski opened #777 "Ark panics during restore using DO plugin"
**What steps did you take and what happened:**

Attempting to restore a backup of the example-nginx Pod & PV/PVC using the DigitalOcean plugin results in an Ark panic.

[code]

**What did you expect to happen:**

Should not panic - restore should complete.

**The output of the following commands will help us better understand what's going on**:
Logs can be found here: https://gist.github.com/rossk

[2018-08-20 18:39] rosskukulinski opened #778 "Creating a restore with the same name as a backup doesn't work"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

[code]

See that restore `default` is in STATUS `InProgress`.

Ark server logs never indicate that the restore has started.

[code]

See that Ark server logs indicate the new restore has actually started:

[code]

**What did you expect to happen:**

I expect to be able t

[2018-08-20 20:04] nrb commented on #494
I'm inclined to close this as we've agreed, unless we want to close it with a PR to `CONTRIBUTING`. Thoughts @skriss ?

[2018-08-20 21:34] skriss commented on #777
@rosskukulinski looks like you probably have our sample plugin configured on there too? Can you dump the results of `kubectl get deploy ark -n heptio-ark -o yaml`?  On first glance this looks unrelated to the DO plugin itself.

[2018-08-20 21:35] skriss commented on #777
Also, if you do in fact have our sample plugin on there, can you run `ark plugin remove <sample>`, then try a backup & restore again?

[2018-08-20 21:56] skriss commented on #554
Fixed by #773

[2018-08-20 21:56] #554 closed

[2018-08-21 13:34] rosskukulinski commented on #777
@skriss I can't seem to find where the sample plugin is loaded or is running.

I removed the DO plugin and am still getting the panic:

[code]
logs:
[code]

[2018-08-21 14:18] twforeman opened #780 "Large quantity of schedules/backups cause high memory usage over time"
We are creating schedules for each namespace - around 100 of them. Each schedule runs a backup every hour, with a ttl of 7 days. The schedules are offset by one minute each, so at most two run at the same minute.

Current backup counts:
Completed: 13286
Failed: 949

After running for about 5 days the memory usage of the ark container is 4gb and continues to increase.

Setting a memory limit of 1gb

[2018-08-21 15:11] nrb commented on #777
Can you download the backup and provide the service account objects (if any) in it? It looks like there's a service account without annotations that may be triggering a logic bug.

[2018-08-21 15:27] nrb commented on #777
I'm suspecting https://github.com/heptio/ark/blob/v0.9.3/pkg/restore/merge_service_account.go#L37-L38 results in a nil Annotations map from the cluster's copy of the service account, then https://github.com/heptio/ark/blob/v0.9.3/pkg/restore/merge_service_account.go#L63 tries to merge it, and https://github.com/heptio/ark/blob/v0.9.3/pkg/util/collections/map_utils.go#L128 doesn't check for a nil m

[2018-08-21 15:40] rosskukulinski commented on #777
@nrb here's a backup tgz:

[nginx-example-no-do-data.tar.gz](https://github.com/heptio/ark/files/2306999/nginx-example-no-do-data.tar.gz)

My sonobuoy scan completed successfully:
[code]

[2018-08-21 15:42] rosskukulinski commented on #777
[code]

[2018-08-21 15:46] skriss commented on #777
yeah, @nrb that sounds right - and it's getting triggered bc at some point @rosskukulinski did have the example plugin running, which put an annotation on the svc account, so now that code branch is being exercised.

@rosskukulinski to proceed with DO testing, I would delete and re-create the nginx-example namespace, then use only that NS for testing, and don't use our example plugin anywhere (loo

[2018-08-21 16:37] rosskukulinski commented on #777
[code]

[2018-08-21 16:50] skriss commented on #775
Fixed by #779

[2018-08-21 16:50] #775 closed

[2018-08-21 17:19] nrb commented on #777
Closing the loop here:

1) the `MergeMaps` function will need to be updated so that it checks for a `nil` map before writing to it. Annotations and other metadata written by plugins will cause crashes otherwise.
2) We found that the StackPointCloud image had the example plugins as well as their digital ocean volume plugin, which were writing the annotations.

[code]

I'll work on a test and fix fo

[2018-08-21 18:29] edevenport commented on #777
Thanks @rosskukulinski - I saw the issue (2) opened and am working on that now.

[2018-08-21 19:52] nrb commented on #778
I haven't been able to reproduce this with ark v0.9.3 or master.

v0.9.3:
[code]

master:
[code]

@rosskukulinski Have you tried reproducing without any plugins running?

[2018-08-21 20:25] nrb commented on #777
Thanks for that @edevenport!

[2018-08-21 20:34] rosskukulinski commented on #778
@nrb I am unable to reproduce.  It looks like I conflated #777 with this issue.

[2018-08-21 20:34] #778 closed

[2018-08-22 16:30] nrb commented on #691
Should the timeout be a parameter on the `ark restore create` command? Perhaps a default that can be overridden on `ark server`? Or a combination of the two?

[2018-08-22 16:37] nrb opened #784 "Add volume location and snapshot API objects"

[2018-08-22 18:29] #777 closed

[2018-08-22 21:46] skriss opened #785 "Make sync controller more intelligent"
Right now, the backup sync controller runs every hour (by default), and each time it runs, it:
- lists all backups in each backup storage location (1 cloud API call per backup location)
- for each backup, gets its metadata (1 cloud API call **per backup**)
- checks the Kube API to see if a backup with that name already exists -- if so, do nothing; if not, create one based on the metadata from the

[2018-08-22 21:54] skriss commented on #691
I think I'd probably start with just a server-level timeout that's configurable by server flag, with a sane default.  Individual restore-level overrides **probably** aren't necessary.

[2018-08-22 21:58] skriss commented on #780
Thanks for sharing this information @twforeman.  We'll need to do some investigation here to see if we can figure out what's causing the runaway memory usage.  Could you also provide the count of `DeleteBackupRequests` (these are Ark-defined CRDs)?

[2018-08-22 22:21] skriss opened #786 "ExternalName service restores log errors saying "key ports not found""
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Backup and restore an ExternalName service (https://kubernetes.io/docs/concepts/services-networking/service/#externalname)

The services restore properly, but the restore results show an error saying `key ports not found`

**What did you expect to happen:**

There should

[2018-08-23 01:50] carlisia commented on #785
I think this is a great idea and would even risk say it's necessary. I will withhold saying yeay to this particular proposal til I think about it more and even maybe read opinions of others more familiar with the structure of the code.

One suggestion I have tho: should we brainstorm alternative ways of accomplishing this? At the same time I say this I have nothing to throw in so feel free to igno

[2018-08-23 15:19] rosskukulinski commented on #780
@skriss we should also take advantage of the Golang metrics that are exposed through Prometheus.  This will give memory & GC details for the go runtime.

There area few Grafana dashboards as well: https://grafana.com/dashboards/3574 and https://grafana.com/dashboards/240

[2018-08-23 15:43] rosskukulinski commented on #785
How much more often would the sync controller run with these changes in place?  Would this mean we don't need a dedicated sync command (#104)?

[2018-08-23 15:57] skriss commented on #785
I think it'd be fine to run it something like every minute (can be user-configurable).  If there's nothing new to sync, each run will only incur 1 cloud API call per backup location (vs. today's O(# backups) API calls per sync)

[2018-08-23 15:58] skriss commented on #785
And yes, I think this would eliminate the need for #104

[2018-08-23 15:59] skriss commented on #785
@carlisia yeah I'd love to hear any other ideas from folks - please update on this issue!

[2018-08-23 16:02] skriss commented on #780
@twforeman `kubectl get deletebackuprequests -n heptio-ark | wc -l` should do the trick

[2018-08-23 16:13] twforeman commented on #780
Looks like `oc get deletebackuprequests.ark.heptio.com -n heptio-ark` should work (in Openshift) but it returns `No resources found`

The other CRDs return values, so I think there aren't any deletebackuprequests

[2018-08-23 16:14] skriss commented on #780
OK, well that's a good sign.  We had issues in previous releases with a huge number of those CRDs piling up, so just wanted to rule that out as an issue.

[2018-08-23 16:51] nrb commented on #785
I do think it makes sense to look at changes to our backup format and file layout a little more holistically. For instances, #576 would require adding a subdirectory for restic. We'd also discussed making a `restores` directory that was exempt from the read-only restrictions.

[2018-08-23 16:52] nrb commented on #785
Would it make sense to combine the `lastmodified` and cluster identity info into a single metadata file containing Ark's administrivia information, versus sprinkling many files around?

[2018-08-23 16:54] skriss commented on #785
The nice thing about having a dedicated file is that it can be empty/you don't actually need to download it - you just do a HEAD request and get the `last-modified` timestamp as a header.

But yeah, that's definitely something to think about.  I don't **think** that implementing this as-is would prevent us from refactoring layout later, since this is just an internal implementation detail

[2018-08-23 16:57] nrb commented on #785
Good point on the HEAD request.

And yes, I don't think we would have to hold this up for a redefinition of the whole layout, but I do think we want to take a step back and evaluate what we're storing there as a whole.

[2018-08-24 10:12] santhosh007ece opened #791 "StorageClass for a restored PV is empty"
I'm new to ark and planning to use ark for our cluster backup, so experimenting on it.

I have a namespace containing service, deployments, secret, and pods. The pod mounts a PV created dynamically from a PVC. The PV is created in the mentioned namespace with the StorageClass defined for it.

I created a backup of this namespace, then deleted the namespace. Later, when I restored the namespace, I

[2018-08-24 13:53] ncdc commented on #767
@skriss or @nrb ptal?

[2018-08-24 14:08] ncdc commented on #94
In case anyone is following the question from @twforeman, we've moved the discussion to #780

[2018-08-24 14:12] ncdc commented on #780
@twforeman

We'll probably need to enable pprof support for the ark server and get some heap dumps from it. I can resurrect my PR for that and we can do some local simulations where we create ~15k backups and see how Ark behaves.

Does the average backup include PV snapshots? Could you possibly share an example backup yaml (redact any sensitive information, if applicable) - `ark backup get <name>

[2018-08-24 14:27] twforeman commented on #780
We are not currently backing up PVs. Mainly because the back end in the cluster is GlusterFS and I can't be bothered to figure out how to make that work. :) It's our test cluster. In prod we are using EBS volumes and I'll be backing those up.

[code]

We haven't had to do any restores yet, other than some testing to make sure it actually worked. It did. :)

[2018-08-24 15:05] skriss commented on #785
@ncdc if you've got time would appreciate your thoughts on this

[2018-08-24 15:27] skriss commented on #785
This is effectively a `touch` (did a quick POC of this already):
[code]

[2018-08-24 15:31] skriss commented on #785
More complete sample code:

[code]

[2018-08-24 15:31] ncdc commented on #785
Ok cool! Hopefully the other providers support similar logic.

[2018-08-24 18:43] ncdc commented on #780
It appears that the some of the underlying data structures used by the gzip Writer that we create for each backup are persisting in the heap instead of being garbage collected:

[code]

I'm continuing to investigate.

[2018-08-24 20:17] #578 closed

[2018-08-24 21:37] ncdc commented on #780
This has been fixed in master. In 0.9.x, commenting out https://github.com/heptio/ark/blob/release-0.9/pkg/backup/item_backupper.go#L324 appears to make this leak go away. I'd ideally like to fix the leak in 0.9.x, but I'm not yet sure what's holding on to the references here.

[2018-08-25 11:53] ncdc commented on #780
I've found out what is causing the leak. Our base go-plugin config is this:

https://github.com/heptio/ark/blob/release-0.9/pkg/plugin/manager.go#L44-L48

`Managed: true` is the source of the problem. When this is set, it instructs the go-plugin library to store a reference to all plugin clients ever instantiated. The expectation is that you'll eventually call the library's `CleanupClients()` func

[2018-08-27 06:18] VC16dec opened #794 "ark with minio configuration for restoring"
**What steps did you take and what happened:**
ARK with minio storage (Few Queries):-

1) How a config file should look like in case of minio, i.e.
any specific backupstorageprovider
any specific bucket to be use for restic

2) Will it handle PVs backup and restoration with minio

3) Can we restore the backup to another server (may not be in the same cluster)
Means can we create backup with the pr

[2018-08-27 15:45] ncdc commented on #794
@VC16dec

Please see https://github.com/heptio/ark/blob/v0.9.3/examples/minio/10-ark-config.yaml for an example config with minio.

Please also see the example config above.

No, minio is only used for backup storage. If you want to back up PVs, you'll need to specify an appropriate `volumeStorageProvider`. See https://github.com/heptio/ark/blob/adc29a2db0d5d3474ae426c4b28d2083f5b04afb/docs/suppor

[2018-08-27 18:09] skriss opened #798 "Get rid of generated CLI docs"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, we generate CLI documentation and store it in the repository.  This has questionable value and is a constant thorn in the side since contributors have to manually run `make update` to keep it updated, and builds fail if it's not updated.  We should remove the generated documentation and r

[2018-08-27 18:10] ncdc commented on #798
💯

[2018-08-27 20:39] skriss commented on #785
I did a POC of this over the weekend and got something working pretty well.  Couple of observations/questions from that:
- the POC I did stored a last-modified timestamp in the `lastmodified` file, so didn't use the `HEAD` technique described above. Benefit of this is it doesn't require any changes to the object store interface.
- I was thinking that using timestamps can be tricky, especially if t

[2018-08-28 09:06] VC16dec commented on #794
Hi,

I tried back up PV with Restic on my local K8 deployment, but still struck:-
error getting volume path on host: expected one matching path, got 0

1) Modfied Config
2) Did annotation
3) Created backup but didnot work.

**Config used:-**
apiVersion: ark.heptio.com/v1
kind: Config
metadata:
  namespace: heptio-ark
  name: default
backupStorageProvider:
  name: aws
  bucket: ark
  # Uncomment th

[2018-08-28 11:50] ncdc commented on #794
@skriss do you remember what the issue(s) were the last time we ran into `error getting volume path on host: expected one matching path, got 0`?

[2018-08-28 13:06] ncdc commented on #785
@skriss I like where this is headed.

Remind me please - what is responsible for updating the `lastmodified` file, and when does it get updated? Could we use a monotonically increasing number instead of a uuid?

[2018-08-28 14:08] VC16dec commented on #794
Hi ,

May be I am missing below:-
What needs to be done in below step of restic integration?
Create a new bucket for restic to store its data in, and give the heptio-ark IAM user access to it, similarly to the main Ark bucket you've already set up.

I think, Bucket is a terminology in AWS, Here I am using local storage, In config, I just gave the name of restic location by default to **my-restic-b

[2018-08-28 14:27] ncdc commented on #794
@VC16dec what do you mean by local storage? Are you talking about minio?

[2018-08-28 14:32] VC16dec commented on #794
Local means, I am not trying this on any cloud specific volume.
K8 cluster deployment is over ubuntu baremetal server and yes minio is the backupstorageprovider used.

[2018-08-28 14:34] ncdc commented on #794
Did you create a bucket in minio called `my-restic-bucket`?

[2018-08-28 15:00] VC16dec commented on #794
No,
 I didnt find any documentation related to that.
Can you please tell how to do that?
And also confirm about volumestorageprovider config value as well.

[2018-08-28 15:13] skriss commented on #794
@VC16dec if you take a look at https://github.com/heptio/ark/blob/master/examples/minio/00-minio-deployment.yaml#L89, this `Job` is what initially sets up minio for Ark (in our example).  To create an additional bucket within minio to use for restic, you'd want to do something similar -- the easiest thing to do would be to use that exact `Job` spec again (you may have to change the name or delete

[2018-08-28 15:14] skriss commented on #794
@VC16dec can you also `kubectl describe` the PV(s) that you're trying to back up?

[2018-08-28 15:15] ncdc commented on #794
@VC16dec

If you're only trying to use restic, you don't need to configure this.

[2018-08-28 15:30] skriss commented on #791
hi @santhosh007ece - Ark currently removes the storage class from PVs during a restore (see https://github.com/heptio/ark/blob/master/pkg/restore/restore.go#L921) because it has to statically provision a PV, since it should be bound specifically to the cloud volume created from the PV's snapshot.  I believe that when we last looked at this, removing the storage class name was necessary to prevent

[2018-08-28 15:36] VC16dec commented on #794
Ok, Thanks a lot for quick support here
for additional bucket, I have to define the same job again
First one with ark bucket
Second with my restic bucket

We need both right?

Will test it and confirm

[2018-08-28 15:38] skriss commented on #794
@VC16dec correct, 2 separate buckets

[2018-08-28 15:40] skriss commented on #785
I think `backup_controller` and `backup_deletion_controller` should be the only places where it needs to be updated, when creating or deleting a backup.

A number/version would work fine as long as we only have a single writer to a location -- which we are planning to enforce soon.  If we ever have multiple backup workers within a single Ark, we'd have to do some synchronization, but it shouldn't

[2018-08-28 20:42] #739 closed

[2018-08-28 20:42] #740 closed

[2018-08-28 20:43] #750 closed

[2018-08-28 20:44] #737 closed

[2018-08-28 20:44] #741 closed

[2018-08-28 20:44] #743 closed

[2018-08-28 20:44] #742 closed

[2018-08-28 20:44] #733 closed

[2018-08-28 21:08] #767 closed

[2018-08-29 06:49] VC16dec commented on #794
Hi,
Added restic bucket too but Still same Error:-
**minio deployment**
apiVersion: batch/v1
kind: Job
metadata:
  namespace: heptio-ark
  name: minio-setup
  labels:
    component: minio
spec:
  template:
    metadata:
      name: minio-setup
    spec:
      restartPolicy: OnFailure
      volumes:
      - name: config
        emptyDir: {}
      containers:
      - name: mc
        image: minio/mc

[2018-08-29 08:55] santhosh007ece commented on #791
Hi @skriss, I was thinking about losing the reclaim policy of a volume after a restore, but it looks like the reclaim policy is retained after a restore. So, no, I do not have any issues with removing the StorageClass. Thank you for the clarification!

[2018-08-29 08:55] #791 closed

[2018-08-29 13:59] ncdc commented on #794
@VC16dec looking at the description of your PV:
[code]

Ark does not support HostPath volumes for restic snapshotting. To snapshot a pod's volume, Ark has a pod running on every node (from a DaemonSet) with its own HostPath mount of `/var/lib/kubelet/pods`. When this pod receives a signal that it's time to perform a restic snapshot, it looks for the appropriate volume in its mount of `/var/lib/kub

[2018-08-29 14:52] VC16dec commented on #794
Ok Got it,

Another query:-
I have mysql container running and want to backup that using ark, So does Ark support snapshot of DB or point in time transactions, or only Volume mount of that DB.

do I need to take backup only when no transactions are taking place in DB.

[2018-08-29 15:11] ncdc commented on #794
I'm happy to answer here for now, but in the future, I'd recommend posting the question to our Google Group - https://groups.google.com/forum/#!forum/heptio-ark.

We don't currently have any built-in integration with mysql. We have talked about the idea of "application/workload profiles" for Ark, with preconfigured actions for handling things like mysql/postgresql/etc, but we haven't implemented t

[2018-08-29 15:21] VC16dec commented on #794
Thank a lot Andy,
Really appreciate the quick respone
Surely will.post further query over google group.

[2018-08-29 15:27] ncdc commented on #794
Happy to help! Is it ok to close this now?

[2018-08-29 15:36] VC16dec commented on #794
Yes

[2018-08-29 15:51] #794 closed

[2018-08-29 18:47] skriss opened #802 "Add `ark snapshot-location create` CLI command"

[2018-08-29 18:48] skriss opened #803 "Add `ark snapshot-location get` CLI command"

[2018-08-29 18:49] skriss commented on #784
As part of this, update the `Backup` type too

[2018-08-29 18:50] skriss opened #804 "Add `CopySnapshot` function to BlockStore interface and implement for each cloudprovider"

[2018-08-29 18:52] skriss opened #805 "Update BlockStore lifecycle to be instantiated per-backup/etc. rather than a server-level singleton"
Since the volume snapshot locations mean Ark is not tied to one provider, the blockstore operations need to be instantiated at backup time using the information from the relevant volume snapshot location provider.

- remove server.go code that instantiates BlockStore
- in pkg/backup, during a backup, use the per-backup PluginManager to instantiate BlockStores as needed based on the VolumeSnapshotL

[2018-08-29 18:52] skriss opened #806 "Update backup controller to default, validate & use backup's snapshot locations"

[2018-08-29 18:53] skriss opened #807 "Update backup deletion controller to use the appropriate locations when deleting snapshots"

[2018-08-29 18:54] skriss opened #808 "Update restore process to use the appropriate locations (snapshot, destination for volume create) when doing PV restores"
Ark currently assumes there's only one location for snapshots and creating new disks. The restore process (the controller and `restore` package) will need to be updated to inspect the relevant `Backup` and use the right locations.

- pkg/restore will get a list of the VolumeSnapshot objects that are associated with the backup being restored
- restore will either use backup.spec.volumeSnapshotLocat

[2018-08-29 19:32] skriss opened #809 "Fully remove `Config` API type, CRD, generated code, documentation, etc."
With the move to backup storage locations, volume snapshot locations, and server command line flags, the `Config` API type is outdated.

Documentation for migrating to v0.10.x and moving relevant data to their new locations should also be provided.

[2018-08-30 09:03] amanjhadbg opened #810 "Ark on-Prem"
Can anyone tell that , is it really possible to takeand restore the backup using ark without any cloud providers, if i have my on prem server setup how can i use it? or is it not possible currently.. i was expecting a document on it but didn't get till now. could anyone plz help?

[2018-08-30 15:31] bashofmann opened #811 "Fetching logs does not work when using Quobyte s3 object storage"
**What steps did you take and what happened:**
When creating a backup with using OpenStack s3 object storage, backup and restore work just fine, but fetching the logs fails:

[code]

The files exist though and also have the correct valid content:

[code]

**What did you expect to happen:**

Logs are displayed correctly

**The output of the following commands will help us better understand what's g

[2018-08-30 15:38] ncdc commented on #811
I wonder if the leading `/` in e.g. `/metakube-cluster-backup-fhgbvx65xg-ark/backup-test/restore-backup-test-20180830163119-logs.gz` is causing the problem.

@bashofmann can you run `aws s3 presign s3://metakube-cluster-backup-fhgbvx65xg-ark/backup-test/restore-backup-test-20180830163119-logs.gz` and share the returned url?

[2018-08-30 15:51] bashofmann commented on #811
The result is:

[code]

[2018-08-30 16:01] bashofmann commented on #811
For reference our ark config is:

[code]

[2018-08-30 16:03] ncdc commented on #811
Hmm, I'm not seeing anything in the code that would put a leading `/` at a quick glance. What OpenStack version are you running?

[2018-08-30 16:31] bashofmann commented on #811
I debugged this and the path of the download URL the ark server returns to the CLI is correct:

[code]

But the query parameters are completely different to what `aws s3 presign` returns:

[code]

If I replace these query parameters with AWSAccessKeyId, Signature and Expires, the URL works.

[2018-08-30 16:32] bashofmann commented on #811
The same problem is there when trying to download a backup with the cli, by the way.

[2018-08-30 16:37] ncdc commented on #811
What OpenStack version are you running?

[2018-08-31 12:11] bashofmann commented on #811
We are running OpenStack Mitaka and use Quobyte 2.5 for S3 Storage

[2018-08-31 14:32] ncdc commented on #811
So s3 is directly provided by Quotbyte? OpenStack isn't really relevant/involved?

[2018-08-31 17:49] jrnt30 commented on #52
It seems like some of the work from #437 #506 may be usable as a basis of this.

Parroting Ross' suggestion, having a dry-run to render those out would be highly desirable for us as well.

[2018-09-01 21:29] taherv opened #814 "API spec has a pointer as a return value. Please explain why ?"
The BlockStore API in the cloudprovider package has this function called `GetVolumeInfo`.

https://github.com/heptio/ark/blob/283a1349bdec670a1be0f3bfa19b07550c05b88f/pkg/cloudprovider/storage_interfaces.go#L81

A BlockStore plugin is expected to return a pointer to an int64, among other things ?
Why is that return value a pointer ? Shouldn't it be just an int64 ? What breaks if we don't have it a

[2018-09-01 21:31] taherv commented on #814
Same question for the CreateVolumeFromSnapshot API ...
https://github.com/heptio/ark/blob/283a1349bdec670a1be0f3bfa19b07550c05b88f/pkg/cloudprovider/storage_interfaces.go#L71

Is the iops variable there an input parameter, an output parameter or both ? The documentation for this function suggests it is an input, why is it a pointer ?

[2018-09-04 11:11] ncdc commented on #814
@taherv this is because `iops` is an optional piece of information that isn't always applicable. Some types of storage support iops, and others don't. IIRC, if we pass iops=0 when trying to create a volume (in `CreateVolumeFromSnapshot`), it results in an error if the storage type doesn't support specifying iops for the selected type of storage (and this may even vary by provider).

The godoc for

[2018-09-04 13:24] mwieczorek opened #816 "Cannot restore secrets with owner reference set"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I have a cluster with Service Catalog installed and with some ServiceInstance/ServiceBindings created. Service Catalog is creating secrets for each ServiceBinding and setting owner reference in that secret.

I created a backup of those resources (ServiceInstance/ServiceB

[2018-09-04 14:00] ncdc commented on #816
@mwieczorek thanks for filing this!

@skriss @rosskukulinski IIRC, we had previously discussed removing the code that keeps us from restoring things that have controller owners. I _think_ we said we wanted to proceed with the removal. WDYT?

[2018-09-04 15:36] taherv commented on #814
Thanks for the explanation, I stand enlightened :)

Uggh! You are running against a golang language barrier (no optional arguments).
I understand there's no easy way out of it.

Maybe have Init() return some kind of capabilities data structure, where the plugin can express if it supports "provisioned iops" or not. You can then know when to pass 0 and when to pass an actual value.

The plugin frame

[2018-09-04 15:36] taherv commented on #814
Since I have got an explanation, as I had requested ... feel free to close this issue.

[2018-09-04 15:38] ncdc commented on #814
Even if we used a `struct` for inputs (`CreateVolumeFromSnapshot`) and outputs (`GetVolumeInfo`), we still have to use a pointer. That's the only way to distinguish between 0 (unset) and 0 (zero).

[2018-09-04 15:41] taherv commented on #814
Take a step back, and think about the API.
Not all PVs are for block devices, and so for some (e.g nfs) PVs, the plugin developer will be puzzled about what the field even stands for. The framework needs to abstract out a little bit more in this case.

[2018-09-04 15:42] ncdc commented on #814
I understand your point. We could use an optional struct for block storage device options, or something like that.

[2018-09-04 15:44] taherv commented on #814
You can return an interface (say PerfInfo, that has a method called GetIops()).
For plugins that dont care about iops, they can return nil for the interface.

[2018-09-04 15:45] taherv commented on #814
That would work too, and you could use Init() for the plugin to express what it supports, if you like.

[2018-09-04 15:45] ncdc commented on #814
All the plugins have to use protobuf-compatible messages. Can you do that easily with protobuf?

[2018-09-04 15:46] ncdc commented on #814
https://github.com/heptio/ark/blob/283a1349bdec670a1be0f3bfa19b07550c05b88f/pkg/plugin/proto/BlockStore.proto

[2018-09-04 15:48] taherv commented on #814
Another interface will need another proto definition, but I see your point .... its like we are being painted into a corner !

[2018-09-04 19:51] HerrmannHinz opened #817 "RFE: backup/restore AWS RDS instances"
as an cluster operator i want to be able to
backup and restore rds instances which are associated to the aws account where ark runs in
to ensure an easy manageable workflow to provide a backup/restore strategy to my tenants.
(also: making it work to connect to other aws accounts would be awesome)

Additional informations:

there is this neat project: https://github.com/sorenmat/k8s-rds
in combinat

[2018-09-05 14:55] rosskukulinski commented on #816
@ncdc Yep I think we were 👍 on moving forward with that change.  I believe #445 is the associated issue?

[2018-09-05 15:08] ncdc commented on #816
@rosskukulinski yes-ish. The intent of #445 is what to do about controlled pods whose labels don't match their controller's labels. I'd say this issue is more appropriate for removing the code the doesn't restore controlled things.

[2018-09-05 16:45] ncdc commented on #434
@erasmus74 are you describing using kubeseal to seal the entire backup tarball, or just the secrets contained in the tarball?

[2018-09-05 19:02] mwieczorek commented on #816
I agree with @ncdc - I’d just like to get ’controlled’ secrets and other resources restored.
And I would be happy if it gets into v0.10.0 ;)

[2018-09-05 19:58] ncdc commented on #816
@mwieczorek would you be able to do a PR for this?

[2018-09-05 20:16] rosskukulinski commented on #816
@ncdc this would be a change in default behavior (I'm +1 on that) -- do you think we should add a CLI flag to maintain current behavior?

[2018-09-05 20:17] rbankston opened #819 "Ark Troubleshooting Two Clusters"
**Describe the solution you'd like**

Update troubleshooting documentation to verify two clusters are replicating as expected. If the back ups are configured to use the same bucket and the first cluster is showing successfull backups the next step would be to  get the output of `ark restore get` from the second cluster and then `ark restore describe <last restore>`

**Anything else you would like

[2018-09-05 20:18] ncdc commented on #816
@rosskukulinski in this case, I don't think it's worth it. We will be moving toward a more faithful restoration of the contents in the source cluster. My assumption is this is a 100% positive improvement and that nobody will notice any detrimental effects.

[2018-09-05 20:18] ncdc commented on #819
@rbankston would it be ok to wait to make these updates until backup replication is implemented in v0.11?

[2018-09-05 20:59] rosskukulinski commented on #819
@ncdc I asked @rbankston to open this issue based on a ticket - 0.11 is fine IMO.

The user hadn't realized that Ark was running in a non-standard namespace (e.g. not `heptio-ark`) in the second cluster.  We could also add a troubleshooting step to look for `backup` CRDs across all namespaces using `kubectl`

[2018-09-05 21:33] ncdc commented on #819
We actually might be able to do this as part of backup locations in 0.10. I don't think replication is necessary here.

[2018-09-05 21:35] ncdc commented on #819
@rbankston is the relevant scenario?
- Cluster1 backs up to Bucket1
- Cluster2 wants to restore a backup from Cluster1
- Cluster2 points ark at Bucket1 in restore-only mode
- Cluster2 performs restore

[2018-09-06 06:57] mwieczorek commented on #816
@ncdc Sure, I'll try to do it.

What about the 'breaking change'? Is mentioning it in docs and release notes enough?

[2018-09-06 08:59] bashofmann commented on #811
Sorry for the late reply, I checked with our OpenStack team and yes S3 is directly provided by Quobyte. It seems that Quobyte only supports the V2 Signer API, but ark uses V4.
Would it be possible to make the version configurable? For example like this:
[code]

[2018-09-06 09:37] sachinar opened #822 "Restore of restic snapshot data broken in 0.9.2+"
Hi Team,

kubernetes is installed on VMware, we have 1 master & 6 node cluster.
Currently we are using kubernetes 1.10 version.
We are storing backup data on AWS S3, but when we take backup with
` ark backup create ignite-backup --selector app=infra-distributed-db --snapshot-volumes`
It worked successfully with no errors but it is not taking pv data backup.
It is only taking config data backup .
h

[2018-09-06 11:11] ncdc commented on #822
@sachinar could you please paste the yaml or json for the pod that has the PV you want to snapshot with restic (`kubectl -n <namespace> get pod <name> -o yaml`)?

[2018-09-06 11:27] sachinar commented on #822
kind: Pod
metadata:
  annotations:
    cni.projectcalico.org/podIP: 10.200.6.35/32
  creationTimestamp: 2018-09-06T06:50:53Z
  generateName: infra-distributed-db-
  labels:
    app: infra-distributed-db
    controller-revision-hash: infra-distributed-db-7cdf478bbc
    statefulset.kubernetes.io/pod-name: infra-distributed-db-0
  name: infra-distributed-db-0
  namespace: default
  ownerReferences:

[2018-09-06 11:35] ncdc commented on #822
@sachinar you need to add an annotation to the pod so ark knows which volumes it should snapshot using restic. See https://heptio.github.io/ark/v0.9.0/restic.html for full details. The annotation's key is `backup.ark.heptio.com/backup-volumes`.

[2018-09-06 11:38] ncdc commented on #811
@bashofmann we can look into this. I checked the aws sdk, and the v2 SignRequestHandler is in a `private` package. We can import it and use it, but Amazon's guidance is that anything in there is for the SDK's internal use and is subject to breaking changes.

We would need to define a new key for our aws ObjectStore's config to specify signature version. Would you be interested in trying to put tog

[2018-09-06 11:42] sachinar commented on #822
@ncdc   I have already added pv labels for application.
But it is not working.

[2018-09-06 11:43] ncdc commented on #822
@sachinar this is the only annotation your pod has:

[code]

You have to add `backup.ark.heptio.com/backup-volumes: <volume1>,<volume2>,...` to the pod for ark to know which volumes to snapshot with restic.

[2018-09-06 12:13] sachinar commented on #822
@ncdc I have added annotations but now it is showing this error.

time="2018-09-06T12:06:32Z" level=warning msg="No restic backupper, not backing up pod's volumes" backup=heptio-ark/ignite-backup group=v1 groupResource=pods logSource="pkg/backup/item_backupper.go:291" name=infra-distributed-db-0 namespace=default

[2018-09-06 12:15] sachinar commented on #822
@ncdc
This is my yaml for pod.

apiVersion: v1
kind: Pod
metadata:
  annotations:
    backup.ark.heptio.com/backup-volumes: ignite-work,ignite-logs,ignite-claim0,ignite-hdd
    cni.projectcalico.org/podIP: 10.200.6.38/32
  creationTimestamp: 2018-09-06T11:58:13Z
  generateName: infra-distributed-db-
  labels:
    app: infra-distributed-db
    controller-revision-hash: infra-distributed-db-7cdf478b

[2018-09-06 12:19] ncdc commented on #822
@sachinar your ark `config` doesn't have `resticLocation` configured. Please read through https://heptio.github.io/ark/v0.9.0/restic.html and make sure you've done everything listed there.

[2018-09-06 12:45] sachinar commented on #822
@ncdc I ran using `resticLocation`

Now this is giving error as

Name:         ignite-backup
Namespace:    heptio-ark
Labels:       <none>
Annotations:  <none>

Phase:  Failed

Namespaces:
  Included:  *
  Excluded:  <none>

Resources:
  Included:        *
  Excluded:        <none>
  Cluster-scoped:  auto

Label selector:  app=infra-distributed-db

Snapshot PVs:  true

TTL:  720h0m0s

Hooks:  <non

[2018-09-06 12:49] ncdc commented on #822
@sachinar please run `ark backup describe` with `--volume-details`

[2018-09-06 12:55] sachinar commented on #822
@ncdc I think it is failed due to no data there in volume

  Completed:
    default/infra-distributed-db-0: ignite-logs, ignite-work
    default/infra-distributed-db-1: ignite-logs, ignite-work
    default/infra-distributed-db-2: ignite-logs, ignite-work
  Failed:
    default/infra-distributed-db-0: ignite-claim0, ignite-hdd
    default/infra-distributed-db-1: ignite-claim0, ignite-hdd
    default

[2018-09-06 13:49] ncdc commented on #822
@sachinar can you confirm there are no files in those volumes? You can also check the logs for the pod from the ark restic daemonset on the appropriate node(s) to see if they have information on why restic failed.

cc @skriss

[2018-09-06 15:12] nrb commented on #714
@jhamilton1 I've created #823 to address the error specifically, and Ceph v12.2.7 was added to our [support matrix](https://github.com/heptio/ark/blob/master/docs/support-matrix.md).

Let me know on the PR if anything should change.

[2018-09-06 15:27] mwieczorek commented on #816
Also: do you recommend some e2e tests? I just removed 'ownerReference' check, tested my use-case and everything was working. But maybe I'm not aware of some details.

[2018-09-06 15:27] rbankston commented on #819
@ncdc That indeed is the relevant scenario

[2018-09-06 16:18] ncdc commented on #816
@mwieczorek we don't have an e2e test framework yet, so no need for e2e tests at this time (but thanks for offering!). Another thing you could test is replicasets that were generated by the deployment controller - make sure they're restored correctly, with all their labels, annotations, etc.

[2018-09-06 16:19] ncdc commented on #816
Oh, and I think mentioning this change in the v0.10 release notes will be sufficient (we'll take care of that).

[2018-09-06 17:10] #167 closed

[2018-09-06 18:29] carlisia commented on #784
@skriss:

Do you mean adding the names for the volume location and snapshot objects to the `BackupSpec`?

[2018-09-06 19:07] skriss commented on #784
yes!

[2018-09-07 06:47] sachinar commented on #822
@ncdc This is the error
But no files in that volume.

`time="2018-09-06T12:37:27Z" level=info msg="Backup completed with errors: [pod volume backup failed: error running restic backup, stderr=Fatal: unable to save snapshot: snapshot is empty\n: exit status 1, pod volume backup failed: error running restic backup, stderr=Fatal: unable to save snapshot: snapshot is empty\n: exit status 1, pod volume

[2018-09-07 15:51] #714 closed

[2018-09-07 16:40] skriss commented on #576
I'm leaning towards removing the ability for the location of the restic data to vary independently from the rest of the backup data, and just always making it a sub-dir of a backup storage location, e.g.:

[code]
What do you all think about this? @rosskukulinski @ncdc @nrb @carlisia

(by the way, using an `_` before `restic` would be an easy way for us to add structure to backup storage locations

[2018-09-07 16:48] ncdc commented on #576
+1 to them sharing the same bucket in the BSL.

We alternatively could do
[code]

[2018-09-07 16:51] skriss commented on #576
+1 to moving backups under a sub-dir too.  Are you saying use angle brackets to denote system dirs?  That works for me

[2018-09-07 16:52] ncdc commented on #576
No angle brackets. Those are variables.

[code]

We could even make a `clusters` dir as the root in the bucket/prefix.

[2018-09-07 17:42] nrb commented on #576
I like the proposed root/cluster/(backups,restic) approach.

Would `root/clusters/my-cluster` only be owned by `my-cluster`? We might need to brainstorm a bit on how that would work on migration restores - not that it's necessarily difficult, I just don't think we'd discussed that layout yet.

[2018-09-07 17:45] ncdc commented on #576
Actually I'm not sure we need to force a `clusters` dir. That could be part of the prefix, at the user's discretion. Essentially, Ark would have full control over the contents inside bucket+prefix, which would be to have a "backups" dir for backups and a "restic" dir for restic snapshots.

We talked briefly before about what the process would look like for a new cluster to take over ownership of s

[2018-09-07 17:52] nrb commented on #576
Yep, that's my recollection, too. We'd also discussed that in the case of replication, a user may want to restore from a BSL that the current cluster doesn't own. We were thinking of making some directory (maybe `restores`) writeable by any Ark cluster so that restore logs aren't completely lost. I think whether it's a top level dir or space in `backups` is probably up for discussion though.

[2018-09-07 17:56] ncdc commented on #576
Having a new `restores` dir inside bucket+prefix and moving the restore logs there makes sense to me. It keeps the backup dirs "pristine".

[2018-09-07 19:30] nrb commented on #714
@jhamilton1 The updated docs are now live at https://heptio.github.io/ark/v0.9.0/troubleshooting

[2018-09-07 19:35] jhamilton1 commented on #714
Awesome, thanks @nrb!!

[2018-09-07 20:45] skriss commented on #822
Hmm, yeah, looks like `restic` does not like it if you try to back up from within an empty directory.  Is this an expected scenario for you @sachinar? why don't those volumes have any files in them?

[2018-09-07 20:52] skriss commented on #816
Sorry, just catching up here.  One thing we're going to have to think about here is the order in which resources get restored.  If, for example, a deployment got restored before its associated replicaset, a new replicaset may be created on the cluster before the backed-up one gets restored.  Up until now, we've avoided actually having some kind of dependency graph of resources during restore by ju

[2018-09-07 21:03] michaelwclark80 opened #831 "Failed calling admission webhook "deployment.admission.stash.appscode.com""
Trying to run deployment.yaml and keep getting this error:

Internal error occurred: failed calling admission webhook "deployment.admission.stash.appscode.com"

[2018-09-07 21:06] michaelwclark80 commented on #831
Environment:

Ark version (use ark version): 0.9.3
Kubernetes version (use kubectl version): 1.9
Kubernetes installer & version: Kops
Cloud provider or hardware configuration: Azure
OS (e.g. from /etc/os-release): Ubuntu

[2018-09-07 21:15] skriss commented on #831
Do you have stash installed in your cluster?  Looks like a webhook call related to it that intercepts all deployment creations is failing?

[2018-09-07 21:47] michaelwclark80 commented on #831
looks like someone installed Stash on this cluster.  This is going to be fun to remove.

Thanks!

[2018-09-07 22:09] skriss commented on #831
No problem! closing this for now as it appears unrelated to Ark, but feel free to reopen if needed.

[2018-09-07 22:09] #831 closed

[2018-09-08 13:13] sachinar commented on #822
@skriss  Backup of volumes which contains files is done, may be with no files volume backup not done.

And I am trying it to restore it is only restoring the PV, PVC & pods. But it is not restoring data of volumes which is successful.
I tried many times restoring data no data there in volume.
In restore logs also I am unable to see the error why it is not taking volume data from backup data.
@ncdc

[2018-09-10 10:50] mwieczorek commented on #816
@skriss Good point. For "built-in" resource types, it should be easy to change `defaultRestorePriorities` list (f.e. add ReplicaSet).
For CRDs - it could be the user's duty to modify the list appropriately

@skriss, @ncdc wdyt?

[2018-09-10 12:38] sachinar commented on #822
@ncdc  I tried for different deployment but I am facing same issue.

Backup is completed with volumes but at the time of restore it not restoring data.

Please reply asap..

[2018-09-10 13:47] ncdc commented on #811
@bashofmann the aws go sdk does have a v2 signer, if that's what you need (with the caveat from the repo that it's a private api and may change/go away/etc).

You also could do a separate quobyte plugin if you wanted to. We have #193 as a possible way to make it easier to have common AWS behavior with differences here and there (e.g. quobyte signatures), but we haven't implemented it yet.

[2018-09-10 13:48] bashofmann commented on #811
The v2 signer unfortunately does not work, I already tried it. And from the python code there are some differences between v1 and v2.

[2018-09-10 13:51] ncdc commented on #811
Ah, that's unfortunate. I'll talk with the team about whether or not we want to own a v1 signing algorithm in the Ark code base and get back to you.

[2018-09-10 14:02] ncdc commented on #238
@ajbouh it's not currently on the roadmap. If we decide to proceed, we need to find a design that allows for both the current tarball approach and a git approach to work easily, without a lot of `if/else` blocks.

[2018-09-10 14:06] bdimcheff commented on #238
for the time being, I've settled on using kube-backup to snapshot the yamls hourly and then running ark less often to do a "full" backup... it's been working pretty well for me for the last 6 weeks or so.

[2018-09-10 14:06] ncdc commented on #816
At worst, ark captures it as a warning.

I think we should adjust the default restore priorities to include replicasets and anything else we can think of that requires ordering.

We could also consider taking note of dependency ordering when taking the backup, and recording that information in the backup json and/or tarball. For example, if we back up a replicaset and see that it has a deployment

[2018-09-10 15:14] ajbouh commented on #238
@bdimcheff, have you thought about (or seen) any continuous options? That is, a system that will keep a live backup of yamls as they are updated?

[2018-09-10 15:49] skriss commented on #822
@sachinar can you provide the following:

[code]

[2018-09-10 15:51] sachinar commented on #822
@skriss It is not restoring data .. It is only restoring pods & pv's but not data of pv's.

[2018-09-10 16:00] sachinar commented on #822
@skriss Please check logs .
`ark restore describe mongo-backup`

Namespace:    heptio-ark
Labels:       <none>
Annotations:  <none>

Backup:  mongo-backup

Namespaces:
  Included:  *
  Excluded:  <none>

Resources:
  Included:        *
  Excluded:        nodes, events, events.events.k8s.io, backups.ark.heptio.com, restores.ark.heptio.com
  Cluster-scoped:  auto

Namespace mappings:  <none>

Label

[2018-09-10 16:05] skriss commented on #822
OK, can you also provide `ark backup logs mongo-backup` and `ark backup describe mongo-backup --volume-details`?

[2018-09-10 16:12] sachinar commented on #822
@skriss Please find logs

Name:         mongo-backup
Namespace:    heptio-ark
Labels:       <none>
Annotations:  <none>

Phase:  Completed

Namespaces:
  Included:  *
  Excluded:  <none>

Resources:
  Included:        *
  Excluded:        <none>
  Cluster-scoped:  auto

Label selector:  app=mongo

Snapshot PVs:  true

TTL:  720h0m0s

Hooks:  <none>

Backup Format Version:  1

Started:    2018-09-1

[2018-09-10 16:20] skriss commented on #822
Can you download the backup tarball (`ark backup download mongo-backup`), extract it, find the files for the pods `mongo-0`, `mongo-1`, `mongo-2`, and paste them here?

[2018-09-10 16:26] sachinar commented on #822
@skriss  Please see files

[2018-09-10 16:51] skriss commented on #822
@sachinar and this came from the backup tarball itself, not from the cluster?  Can you provide the backup logs (`ark backup logs mongo-backup`)?

[2018-09-10 17:04] sachinar commented on #822
@skriss Yeah this is came from tarball itself.
Find logs  for mongo-backup

time="2018-09-10T15:50:11Z" level=info msg="Including namespaces: *" backup=heptio-ark/mongo-backup logSource="pkg/backup/backup.go:233"
time="2018-09-10T15:50:11Z" level=info msg="Excluding namespaces: <none>" backup=heptio-ark/mongo-backup logSource="pkg/backup/backup.go:234"
time="2018-09-10T15:50:11Z" level=info msg="I

[2018-09-10 17:52] skriss commented on #822
Can you also provide `kubectl get podvolumebackups -n heptio-ark -l ark.heptio.com/backup-name=mongo-backup -o yaml`?

[2018-09-10 17:54] sachinar commented on #822
@skriss  please find below yaml

items:
- apiVersion: ark.heptio.com/v1
  kind: PodVolumeBackup
  metadata:
    clusterName: ""
    creationTimestamp: 2018-09-10T15:52:08Z
    generateName: mongo-backup-
    generation: 1
    labels:
      ark.heptio.com/backup-name: mongo-backup
      ark.heptio.com/backup-uid: 3327cf4a-b511-11e8-ba23-005056beb118
    name: mongo-backup-2c4kq
    namespace: hepti

[2018-09-10 19:35] skriss commented on #822
alright @sachinar, I see what's going on and it looks like we introduced a regression in one of the recent v0.9.x point releases. I'm going to work on getting a fix out shortly.   As a workaround, if you switch to using the `v0.9.1` image tag, I **think** it should work (you'll need to take a new backup using that version).

[2018-09-10 19:40] skriss opened #833 "image builds of master are failing"
The changes from #795 are causing image builds of `master` to fail.  I haven't had a chance to look at why, but I think it's probably an easy fix.  I'll get to it later today or tomorrow if someone else doesn't take it first.

cc @carlisia @nrb @wwitzel3

[2018-09-10 19:42] nrb commented on #833
I'll start looking

[2018-09-10 21:17] carlisia commented on #576
👍 from me.

[2018-09-10 23:53] mehemken opened #836 "Ark pod in STATUS: CrashLoopBackOff"
**What steps did you take and what happened:**
I've followed the instructions in the documentation:
- [Docs for AWS](https://heptio.github.io/ark/v0.9.0/aws-config)
- [Getting Started](https://heptio.github.io/ark/v0.9.0/quickstart)

However the ark pod goes into `CrashLoopBackOff`. I then run the nginx-example. When I take a backup it succeeds, however most of the fields in `ark backup describe n

[2018-09-11 00:06] ncdc commented on #836
I’m not at my computer so I can’t provide links, but if you’re using 0.9.x,
you need to be using the docs and examples for 0.9. BackupStorageLocation
is a new CRD that is in the master branch but not in any releases yet. You
need a backupStorageProvider section in the ark config with 0.9.

On Mon, Sep 10, 2018 at 7:53 PM Marco Hemken <notifications@github.com>
wrote:

[2018-09-11 01:02] mehemken commented on #836
@ncdc Hey Andy, thanks for that explanation! I'll give that a shot tomorrow.

[2018-09-11 14:52] bashofmann opened #838 "Restore of restic backups does not work"
**What steps did you take and what happened:**
If I follow the restic guide at https://github.com/heptio/ark/blob/master/docs/restic.md the data of the volume is successfully backed up, but never restored.

The ark backup is created successfully, the PodVolumeBackupResource is successfully created, and in S3 you can also see the created restic backups in the restic bucket.

If you download the bac

[2018-09-11 14:59] ncdc commented on #838
@bashofmann thanks for the report. This is a duplicate of #822, and we have a fix pending in #834.

[2018-09-11 14:59] #838 closed

[2018-09-11 15:00] bashofmann commented on #838
Awesome, thanks and sorry for the duplicated report.

[2018-09-11 15:11] bashofmann commented on #811
FYI: I with the V1 algorithm downloading logs and backups works correctly with Quobyte S3

[2018-09-11 17:04] mehemken commented on #836
Ha. It worked. Thanks @ncdc !

[2018-09-11 17:04] #836 closed

[2018-09-11 17:17] ncdc commented on #811
cc @skriss

[2018-09-11 21:42] mehemken commented on #332
Any word on this?

Does a deployment file exist for just the Ark server on bare metal Kubernetes?

[2018-09-11 22:39] patrocinio opened #839 "No such host when restoring an ark backup"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
I created a Kubernetes environment in a Public Cloud provider, then I followed the instructions I am creating at https://medium.com/@epatro/using-ark-to-back-up-your-applications-deployed-to-ibm-cloud-private-4f2e2dc0ce91 to deploy a sample application (Redis) and restore

[2018-09-11 22:54] james-powis opened #840 "POD + SA restores fail due to invalid token"
**What steps did you take and what happened:**

Prerequisits:
- Persistent volumes - I use https://github.com/vmware/vsphere-storage-for-kubernetes
- Restic configured ark
- Helm
- Ingress Controller (I use haproxy)

Steps to reproduce working example:
1. Create values-works.yaml:
[code]
2. Deploy helm chart and create backup.
[code]
3. Delete the helm chart and restore from backup
[code]

Steps t

[2018-09-12 09:57] sachinar commented on #822
Thanks for your valuable support @ncdc @skriss  .
This is working now with `v0.9.1` image.

[2018-09-12 10:07] thdrnsdk opened #841 "ark on private k8s cluster"
hello team, i'm looking for ark on private cluster env.

i want to object, pv backup and restore without buckets.

Is there any way to specify "restic-location" options without bucket?

i found the issue #772

if update doc, dos this helpful for me?

[2018-09-12 15:48] #833 closed

[2018-09-12 16:16] james-powis commented on #840
@jrnt30 I am having difficulties getting the restore to fail today using minimal jenkins installs, so here is a complete example we are using. and the requested get pod -o json as requested.

https://gist.github.com/james-powis/bf82bee13d09f4bdf833a87c63e68552

[2018-09-12 16:19] james-powis commented on #840
Also here is the computed k8s manifest from helm: https://gist.github.com/james-powis/223511e51315d1511855c934192e441c

[2018-09-12 16:56] james-powis commented on #840
Just realized in my examples provided in the initial issue I was missing the heptio backup annotations. This is why I was having difficulties replicating this morning... I now have a much more simple breakdown which causes the issue I am going to edit the initial report to remove a lot of the confusion.

[2018-09-12 18:04] james-powis commented on #840
@jrnt30 I suspect you are right in your assumption. Upon further investigation I have cleaned up this issue and improved the narrative so it reads easier for future generations. The initial report now contains links to all the relevant information you requested, as well as a diff between a working example and a non working example. The main difference Service Account and RBAC.

[2018-09-12 19:27] james-powis commented on #840
@ncdc Correct the pod fails to start with the Ark added init.

[2018-09-12 19:35] ncdc commented on #840
@james-powis it's not specifically the ark-added init container that's the problem, I don't think. It's because it's trying to mount a secret that doesn't exist in the set of restored resources. Can you provide the yaml for the pod, serviceaccount(s), secret(s) (not the secret data, just the names and labels) both in the original form, and post-restore?

[2018-09-12 19:46] james-powis commented on #840
@ncdc the tokens are dynamically created when a ServiceAccount is created (or in this case restored). This causes the tokens ID to drift from that ark recorded in the backup. Thus we end up with volumes for the old and new secret in the Init container copy-default-config as well as a merging of old and new volumes in the actual pod container.

this can be observed here:

https://gist.github.com/ja

[2018-09-12 20:53] james-powis commented on #840
OK got this down to the absolute minimal POI.... You should be able to replicate locally without too much effort.

[code]
Now we see the old and the new token in the sa config.
[code]

[2018-09-12 21:08] james-powis commented on #840
OK I think i know enough to try my hand at submitting a PR for this... /holdmybeer

[2018-09-12 21:13] #822 closed

[2018-09-12 22:14] james-powis commented on #840
@ncdc if you have a moment can you give pr #843 a once over.

[2018-09-12 22:14] nrb commented on #841
Thanks for the question @thdrnsdk!

Right now, Ark focuses on sending backup tarballs of Kubernetes objects and restic backups to an object storage provider. We've had discussions about sending the Kubernetes to git storage, but we haven't discussed alternatives for restic yet.

One alternative may be setting up a [Minio](https://www.minio.io/) installation inside your network that Ark/Restic coul

[2018-09-12 22:15] nrb commented on #840
@james-powis Thanks for the PR. All of us are in meetings this week, so full reviews will probably be a little delayed.

[2018-09-12 22:16] ncdc commented on #840
Thanks! Our team is in all day meetings this week but hopefully we can
review in between sessions.

On Wed, Sep 12, 2018 at 3:14 PM James Powis <notifications@github.com>
wrote:

[2018-09-12 22:17] james-powis commented on #840
*JINX* HAHA Ok no worries, We are anxious to have working backup and restore as most of or k8s cluster is going to rely heavily upon RBAC SA Tokens, so I will do my best to resolve any issues you may find with the PR relatively quickly.

[2018-09-13 01:11] thdrnsdk commented on #841
thanks for fast answer @nrb

we consider on private cluster befind the firewall. that means out clusters are disconnected from the external internet environment.
so i want to use backup with out any public provider storage

currently the storage we use is only nfs for k8s pv.

Is there a way to use ark in this situation?

[2018-09-13 04:50] nrb commented on #839
Hello @patrocinio - reading the blog post, it looks like the instructions ask you to `kubectl apply` the entire `examples/minio` directory. Without any edits to those example files, [the Ark config will look for Minio at http://minio.heptio-ark.svc:9000](https://github.com/heptio/ark/blob/master/examples/minio/10-ark-config.yaml#L33). This likely isn't the right URL within your cluster, which is w

[2018-09-13 05:01] nrb commented on #841
Alright @thdrnsdk, that makes sense. We've had this question asked before, and #772 is our attempt to clarify that Ark can be run behind a firewall, without a cloud provider, and it's currently incomplete.

Ark still relies on an object storage provider to store the backup files and Restic snapshots.

Minio is a project that provides object storage inside your own cluster, off the internet, with a

[2018-09-13 10:57] ston3o opened #844 "Failed to restore a Kubernetes volumes with restic and minio on bare-metal"
**What steps did you take and what happened:**

I want to restore Kubernetes volumes with restic. Backup works, restoring too but not my persistent volumes.

- `kubectl apply -f examples/common/00-prereqs.yaml`

- `kubectl apply -f examples/minio/`

- `ark backup create test -l release=test`

- `kubectl -n heptio-ark get podvolumebackups` :

[code]

- `ark restore create --from-backup test`

- `ku

[2018-09-13 12:37] ncdc commented on #844
@ston3o restic restores are broken in v0.9.2-v0.9.4. This was originally reported in #822. We have a fix in #834 but we haven't released v0.9.5 yet. In the meantime, you can use v0.9.1.

[2018-09-13 12:46] ncdc commented on #839
@patrocinio I believe the issue is that your `ark` client, which I'm guessing you're running on your personal computer, isn't able to resolve the DNS name of your minio service that's running in your cluster.

Our long-term approach for fixing this is to add a new configuration option for s3-compatible backup storage that allows you to specify the public DNS name to use when the `ark` client retri

[2018-09-13 14:11] thdrnsdk commented on #841
thank you! your reply very helpful for our project plan.

[2018-09-13 15:36] patrocinio commented on #839
Hello @ncdc and @nrb

Thanks for your recommendations.
I switched minio to use NodePort.

Now, I got a question/issue regarding the ark client (running in my laptop).
How do I pass the minio service? I don't use a KUBECONFIG, but I pass a bunch of options using `kubectl options`

Thank you!

[2018-09-13 16:01] ncdc commented on #839
@patrocinio I'm not sure what you're asking - could you please clarify?

[2018-09-13 16:05] patrocinio commented on #839
Hello @ncdc

thanks for your quick response.

Where do I specify the s3url information in the ark config?

[2018-09-13 18:04] nrb commented on #841
Thanks for your interest! I'm going to close this issue for now, but if you need more clarification please feel free to open a new issue, comment on the documentation PR, or open a new issue.

[2018-09-13 18:04] #841 closed

[2018-09-14 09:22] bmihaescu opened #845 "not authorized to perform backup on a specific namespace"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

[code]

[code]

Failed do to UnauthorizedOperation when backing up monitoring namespace

**What did you expect to happen:**

backup Status become Completed

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into

[2018-09-14 10:38] sachinar opened #846 "Namespace backup with volume-snapshot."
Hi Team,
@ncdc @skriss
We have some scenario where we have to take full namespace backup.
We tried with --include-namespace option but I think it is only taking namespace config backup.
So how we can take volume backup with namespace.

[2018-09-14 17:04] skriss commented on #846
If you have a `persistentVolumeProvider` configured properly, and the namespace(s) you're specifying with `--include-namespaces` have pods that mount PVCs/PVs that are snapshottable (e.g. EBS), then the backup *should* include snapshots of those volumes.

Are you seeing something different?

[2018-09-14 17:07] skriss commented on #845
It looks like your `heptio-ark` IAM user is missing the necessary permissions to perform snapshots of your EBS volumes.  Have you configured the IAM user per https://github.com/heptio/ark/blob/master/docs/aws-config.md#create-iam-user ?

[2018-09-17 05:31] sachinar commented on #846
@skriss  I have already added `persistentVolumeProvider` & configured properly coz if I take backup of any pv it is coming with data. As I already mentioned ` --include-namespaces`  this option tried.

[2018-09-17 13:48] bmihaescu commented on #845
Hi,
Thanks for the reply.
I'm using the keys from my fulladmin user so not sure what it can not work for monitoring namespace.
For other namespaces also with EBS is working just fine.

[2018-09-17 14:47] skriss commented on #845
could you try using those same credentials that are in the `cloud-credentials` secret to manually (using the AWS CLI) create a snapshot of one of those EBS volumes that are failing?

[2018-09-17 14:48] skriss commented on #846
OK, please provide `ark backup logs <your-backup>` and `ark backup describe <your-backup>`.

[2018-09-17 15:15] bmihaescu commented on #845
I can create a snapshot with success using cli on that volume
aws ec2 create-snapshot --volume-id vol-0c3885d80d9i2f5b2 --description "Test snapshot pvc"
{
    "Description": "Test snapshot pvc",
    "Tags": [],
    "Encrypted": false,
    "VolumeId": "vol-0c3885d80d8f9i2b2",
    "State": "pending",
    "VolumeSize": 1,
    "StartTime": "2018-09-17T15:12:41.000Z",
    "Progress": "",
    "OwnerId"

[2018-09-17 16:06] bmihaescu commented on #845
/usr/local/bin/aws ec2 create-snapshot --volume-id vol-0c3885d80d9i2f5b2 --description "Test snapshot pvc" --tag-specifications "ResourceType=snapshot,Tags=[{Key=name,Value=test}]"
{
    "Description": "Test snapshot pvc",
    "Encrypted": false,
    "OwnerId": "12345662342",
    "Progress": "",
    "SnapshotId": "snap-0b89fce02190f6e",
    "StartTime": "2018-09-17T16:00:26.000Z",
    "State": "pe

[2018-09-17 18:30] dirtbag opened #851 "how to get backups of persistent volumes"
I ran  ark backup create test-backup --include-namespaces mynamespace
and noticed that the backup files didnt include any of our persistent volumes.. I tried using
ark backup create test-backup3 --include-namespaces mynamespace --snapshot-volumes
and got the error
"Validation errors:  Server is not configured for PV snapshots"
when looking at the ark backup describe ...

[jwelsh@jwelsh-desktop hep

[2018-09-17 19:06] skriss commented on #822
@sachinar @bashofmann we just released v0.9.5 which includes the fix for this issue -- https://github.com/heptio/ark/releases/tag/v0.9.5.  Thanks again for reporting!

[2018-09-17 20:44] agolomoodysaada commented on #192
Are there any plans on implementing this? I'm happy to submit a PR with a few guidelines from authors.
Thanks for the great work you guys are doing ❤️

[2018-09-17 23:04] skriss commented on #851
To enable PV snapshots, you need to ensure you have this section in your Ark config:

https://github.com/heptio/ark/blob/release-0.9/examples/gcp/00-ark-config.yaml#L21

You're getting an error when trying to run `ark backup logs test-backup3` because the backup didn't even start, due to the validation error around not having PV snapshots configured.  So try again once you do the above!

[2018-09-18 05:04] sachinar commented on #846
Thanks @skriss It worked.

[2018-09-18 12:53] dirtbag commented on #851
thanks. after fixing that, it worked..

[2018-09-18 12:53] #851 closed

[2018-09-18 13:51] ncdc commented on #192
@agolomoodysaada we do hope to be able to include this feature. We'll be doing some more project planning in the next week or two, and hopefully we'll have time to discuss this one. We'd also be thrilled if you wanted to contribute a PR for this. But before starting, I do think this is a feature in particular that needs a solid design for UI/UX. Please read the comments in this issue, and let us k

[2018-09-18 13:52] ncdc commented on #722
We are resolving this matter directly with @arqbackup; therefore, I am closing this issue.

[2018-09-18 13:52] #722 closed

[2018-09-18 14:07] skriss commented on #846
Closing this issue - reach out if you have any further issues!

[2018-09-18 14:07] #846 closed

[2018-09-19 04:49] willtrking opened #854 "Removing stale scheduled backups"
Would be awesome to be able to automatically remove scheduled backups, on a schedule. E.g. if I have a daily backup of a cluster, set a schedule to go through and delete backups that are older then a time delta.

Currently I create a schedule with:
`ark schedule create daily-backup --schedule "0 7 * * *"`

This could be changed to:
`ark schedule create backup daily-backup --schedule "0 7 * * *"`

[2018-09-19 12:34] ncdc commented on #854
@willtrking backups have a time-to-live (TTL) that you can set with the `--ttl` flag. Ark automatically deletes expired backups. Is this what you are looking for?

[2018-09-19 19:36] skriss commented on #844
@ston3o v0.9.5 has been released (https://github.com/heptio/ark/releases/tag/v0.9.5) - please take it for a spin.  Closing this issue for now but feel free to reopen if you have further issues!

[2018-09-19 19:36] #844 closed

[2018-09-19 19:40] skriss commented on #840
Fixed by #843

[2018-09-19 19:40] #840 closed

[2018-09-19 19:44] skriss commented on #780
This was fixed by #797 which has been released in v0.9.4+

[2018-09-19 19:44] #780 closed

[2018-09-20 00:01] carlisia commented on #806
Note: changing this from `Update backup controller to default, validate & use backup's snapshot locations` to `defaulting/validation of the VolumeSnapshotLocation field on the backup API object`, as per conversation with @skriss.

[2018-09-20 11:04] ston3o commented on #844
@ncdc  @skriss

Thanks !!

[2018-09-20 16:12] nrb opened #856 "Add an updates section to table of contents"
Our documentation could use a dedicate place for finding information on upgrading to various versions.

Right now, I'm thinking of a upgrades page that simply links out to documents for specific target versions. For example, the upgrades page would have a link to a v0.10.0 page, which would detail the various steps needed to upgrade to that version.

It will need to be added in to https://github.c

[2018-09-20 16:16] nrb opened #857 "Update go-plugin magic cookie key and/or protocol version"
v0.10.0 has changed the plugin API. In order to ensure a v0.9.x server doesn't try to run later plugins, we should update at least the [protocol version](https://github.com/heptio/ark/blob/master/pkg/plugin/server.go#L31) so that they will fail fast.

This may also require code changes to our examples and updating plugin docs, but I haven't dug in depth on that yet.

[2018-09-21 00:37] williamhuangh opened #858 "set schedule on ark server boot"
**Describe the solution you'd like**
is there a way to specify a schedule without having to hand-schedule using the cli? I'd like to create an ark server pod and have it configured with a schedule (perhaps a config option). I know that schedules persist after you create it, even if the pod for whatever reason gets killed, but it'd be great to be able to codify this portion as well

**Anything else

[2018-09-21 01:16] williamhuangh commented on #858
figured i can just create a `Schedule` resource yaml -- is this the best way to go about this?

[2018-09-21 11:45] ncdc commented on #858
@williamhuangh as you've discovered, Ark is API-based, using Kubernetes CustomResourceDefinitions. The `ark` CLI fills out a `Schedule` and `POST`s it to the kube-apiserver. Will creating a schedule yaml/json file meet your needs?

[2018-09-21 16:55] skriss opened #862 "Look at optimizing how we determine which PV types a BlockStore supports"
Currently, during backup, we determine if a BlockStore supports a given PV by calling the `GetVolumeID` function, which returns the cloud-provider volume ID *if* the BlockStore supports that PV, or an empty string/(error?) otherwise.

Look into whether it makes sense to add a `Handles()` or `AppliesTo()` function to the BlockStore interface that can tell pkg/backup upfront what types of PVs the Bl

[2018-09-21 17:01] skriss opened #863 "Switch to storing information about PV snapshots as VolumeSnapshot API objects"
- during backup, instead of storing snapshot info in `backup.status.volumeBackupInfo`, create a new VolumeSnapshot API object per snapshot
- upload a file containing all VolumeSnapshots' JSON for a backup into the backup's directory in object storage
- think about how this scales with large clusters/large # PVs - will we have too many API objects? should these only exist as files in S3?

[2018-09-21 17:23] skriss opened #864 "Add --default-volume-snapshot-locations flag to `ark server` command"
example --default-volume-snapshot-locations aws:aws-default,rook:rook-default,...

- add the flag to the cobra command
- add a field to the server struct to store the value
- flag validation: ensure there's exactly one default location for each volume provider
    - ensure each provider exists, and each location exists
    - list all VolumeSnapshotLocations, get a unique list of providers, ensure

[2018-09-21 19:53] williamhuangh commented on #858
yep it will! would be awesome to have some documentation on this -- what is the clusterName used for? seems to be blank inspecting our yaml, but the schedule functions perfectly

[2018-09-23 17:08] carlisia commented on #786
Assigning this to myself, but it is actually for @shubheksha. Thank you!

[2018-09-24 05:54] sruon commented on #858
https://gist.github.com/sruon/1355db2230d651746e0541c731a2c873

Helm chart example to deploy ark Schedules.

Would be nice if the ark server Chart in helm/stable could support adding Schedules through a parameter but for the time being this will do.

[2018-09-24 07:00] shubheksha commented on #798
Are we planning to remove the docs from this repo altogether and move them out someplace else?
Either way, agreed that we should remove it from the build step. Maybe we can add a pre-commit hook for generating docs and formatting/linting?

[2018-09-24 10:04] erjosito opened #866 "gcr.io/heptio-images/fsfreeze-pause:latest not found"
Hi there,

I am trying to test the deployment in examples/nginx-app/with-pv.yaml, but the pod stays in ImagePullBackOff state. kubectl describe pod shows an "unauthorized: authentication required". A standard docker pull from my machine shows a "manifest for gcr.io/heptio-images/fsfreeze-pause:latest not found".

What am I doing wrong? Do I need an ImagePullSecret in order to get fsfreeze-pause:la

[2018-09-24 11:39] erjosito commented on #866
It looks like the right name for the image is gcr.io/heptio-images/fsfreeze-pause:master, you may want to update either the image or the yaml file.

Cheers,
Jose

[2018-09-24 12:40] bashofmann commented on #811
@ncdc @skriss Did you already have time to discuss if we should contribute this as a PR to ark or write a plugin for this?

[2018-09-24 14:06] ncdc commented on #811
We haven't had a chance to chat, but I'd be ok with a PR in the short term, and #193 long term. WDYT @skriss?

[2018-09-24 14:40] skriss commented on #798
@shubheksha we were thinking of entirely removing the generated CLI docs from the repo (along with the step in `make update` that generates them).  Odds are anyone that's looking for CLI docs just uses `ark <command> --help` anyway.

[2018-09-24 15:04] shubheksha commented on #798
@skriss, that makes sense! Happy to take a stab at this :)

[2018-09-24 15:07] skriss commented on #798
Awesome, thanks!!

[2018-09-24 15:16] shubheksha opened #867 "Improve contributing docs"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The current docs for contributing to the project are missing a lot of relevant information. We should add stuff around:
- installing deps
- installing/building ark locally
- testing
- various make targets we have

Some of this information is present in: https://heptio.github.io/ark/v0.9.0/quickstart,

[2018-09-24 15:16] shubheksha commented on #867
Happy to send a PR for this if this is something y'all are open to :)
/cc @ncdc @skriss @carlisia

[2018-09-24 15:19] ncdc commented on #867
Yes please, and thanks! We already have docs on building & running ark locally, but maybe they're not easy to find?

[2018-09-24 16:39] shubheksha commented on #798
@skriss, this mainly includes deleting the make targets, the relevant scripts and the docs themselves, right? Or am I missing something?

[2018-09-24 16:41] ncdc commented on #798
@shubheksha that should be it.

[2018-09-24 19:13] #798 closed

[2018-09-24 21:57] #803 closed

[2018-09-25 12:45] sachinar opened #871 "Minio logs are not coming"
Hi Team,

@ncdc @skriss I tried minio deployment for local backup.
I want logs of my backup & restore.

when I do `ark backup logs <backup-name>`

i am getting this error,
`An error occurred: Get http://minio:9000/ark/namespacebackup/namespacebackup-logs.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=minio%!F(MISSING)20180925%!F(MISSING)minio%!F(MISSING)

[2018-09-25 12:53] shubheksha commented on #329
I can take a stab at this! 😄

[2018-09-25 12:56] #802 closed

[2018-09-25 13:00] carlisia opened #872 "Add tests for our CLI commands"
When we create a new cli command, the way to test it is manually by running the binary. What if instead we were to test that the commands we expect are all there and are responding to and with what we expect, programmatically?

We can follow this example:
https://github.com/kubernetes/kubernetes/blob/2981fb7a0171798184b4f860b07870de0ff7b234/cmd/kubeadm/test/cmd/util.go

https://github.com/kubernet

[2018-09-25 15:19] #749 closed

[2018-09-25 15:38] nrb commented on #872
What kinds of tests are you looking for? End-to-end?

[2018-09-25 16:16] carlisia commented on #872
Not end-to-end, scoped to the cli. Many of the cli cmds have a lot of logic in them.

[2018-09-25 16:37] nrb commented on #872
Ok - can you add a little bit of a description? I'm not 100% what you're looking for here :)

[2018-09-25 17:01] carlisia commented on #872
@nrb thanks for probing me for a description! Let me know if I can expand on what I have so far.

[2018-09-25 19:27] willtrking commented on #854
Ah, yes! Thanks for that.

Does this work for scheduled backups as well?

[2018-09-25 19:28] skriss commented on #854
@willtrking yes - you can use that same flag with `ark schedule create`

[2018-09-25 19:29] willtrking commented on #854
Excellent, thank you!

[2018-09-25 19:29] #854 closed

[2018-09-25 20:33] #786 closed

[2018-09-25 20:44] carlisia opened #875 "Minor code clean up"
It'd be worthwhile to address these two suggestions on `service_action.go`...

...this for consistency:
https://github.com/heptio/ark/pull/869#discussion_r220346006

...and this for better logic flow:
https://github.com/heptio/ark/pull/869#discussion_r220346670

[2018-09-25 23:41] ivelichkovich opened #877 "Ark Ignores Plugins based on name"
**What steps did you take and what happened:**
Take the example plugin repo.
Deploy the example plugins and run a backup.
Look at the backup logs, you can see the plugin running and logging hello

Rename the backup or restore plugin directory to not follow the pattern ark-backupitemaction or ark-restoreitemaction. For example, ark-backup-test.
Make the container, and push the images.
Add the plugi

[2018-09-26 01:13] ivelichkovich commented on #877
Yes just making sure and creating an issue for anyone else that runs into this. Ark is a great tool.

[2018-09-26 01:13] #877 closed

[2018-09-26 11:05] kratos81 opened #878 "Isolating backups by namespace"
We have different dev teams that have objects in their individual namespaces.  We are looking at a solution where they can only backup items in their namespaces and not have the ability to backup anything anywhere else ( same with restore ) , is this possible ? if so how ?

Would a combination of clusterrole and rolebindings be able to achieve this ?

Thanks and anticipating your response .

[2018-09-26 15:34] cihangirbesiktas opened #879 "Error restoring pod with spec.priority set"
**What steps did you take and what happened:**
I created a Restic backup of a pod with an Azure persistent volume. Then, I tried to restore the backup on a different cluster and it failed.

Command outputs of the cluster that has been backed up.

[code]

Commands output on the cluster that restores has been tried

[code]

**What did you expect to happen:**
I expected the restore to be executed suc

[2018-09-26 15:49] ncdc commented on #879
I've updated the title of this issue as I don't believe it's related to the cluster or the cloud provider in use. I think the issue is that the pod has `spec.priority` set, and it sounds like there's an admission controller that is responsible for setting this value. We'll need to have a pod restore item action that clears this field.

[2018-09-26 15:49] ncdc commented on #879
Extracting the error message to make it easier to find:
[code]

[2018-09-26 20:23] DP19 opened #881 "ark failing to start"
**What steps did you take and what happened:**
I installed ark in amazon's EKS and was able to migrate one of our clusters, however now all backups are failing so i went ahead and tried to get it re-installed and now i'm seeing the same errors I saw before.

"An error occurred: unable to retrieve the complete list of server APIs: admissionregistration.k8s.io/v1alpha1: the server could not find the

[2018-09-26 20:29] nrb opened #882 "Include example YAML files with their matching release"
**Describe the solution you'd like**
Currently, our documentation points to example YAML in git. In the cases where `master` is changing things such as adding/removing required CRDs, it's not immediately obvious that the user should be switching to the relevant `release-` branch to get the examples and prereqs for the version of Ark that's deployed in their cluster.

As an alternative, we could pa

[2018-09-26 20:52] ncdc commented on #881
@DP19 could you please paste/gist the following?
[code]

[2018-09-26 20:56] DP19 commented on #881
kubectl get --raw /

{
  "paths": [
    "/api",
    "/api/v1",
    "/apis",
    "/apis/",
    "/apis/admissionregistration.k8s.io",
    "/apis/admissionregistration.k8s.io/v1alpha1",
    "/apis/admissionregistration.k8s.io/v1beta1",
    "/apis/apiextensions.k8s.io",
    "/apis/apiextensions.k8s.io/v1beta1",
    "/apis/apiregistration.k8s.io",
    "/apis/apiregistration.k8s.io/v1",
    "/apis/apire

[2018-09-26 20:58] ncdc commented on #881
This sounds like an EKS issue. Do you think Ark should ignore Kubernetes apiserver issues such as this, where it says an API exists, but we can't query it?

[2018-09-26 21:05] DP19 commented on #881
@ncdc After i looked at it more i thought it was an EKS issue as well and opened a ticket with amazon, looks like they may have made some changes since i put ark in our cluster on Friday and today. But yes i do think we should probably ignore these api's (especially the alpha ones) since they may change dramatically and shouldn't really be used a production cluster

[2018-09-26 21:07] ncdc commented on #881
What if a beta or GA API has this issue? Should ark pattern-match for alpha and ignore alpha API errors but fail for beta/GA?

@heptio/ark-team would appreciate your input too!

[2018-09-26 21:54] rosskukulinski commented on #882
Good idea!

This raises some questions:

* Do users tend to download a release or do they git clone?
* Does this change if they're kicking the tires or if they're using Ark in production?
* How might #52 impact this?

That said, I think release tarballs should have example yaml as well as matching Docker image tags.

Taking a step back, I will always advocate for the user and for first-run use (ov

[2018-09-26 22:09] nrb commented on #882
I'd need to circle back on the download numbers, but the downloads on GitHub (which indicate client downloads or people building their own images) tend to be pretty low for what I'd expect.

I'm not sure I'm clear on what you're asking here. Is it a continuation of the previous point?

I think `ark install` would manage this for us, more or less.

Currently `master` does sit at `latest`. I'd be up

[2018-09-27 07:58] cihangirbesiktas commented on #879
This is the `Deployment` resource I've used to create the pod. There is no priority set explicitly.
[code]

[2018-09-27 12:13] marctc opened #883 "Display backup's StartTimestamp in `ark backup get` output"
When importing back ups in to a cluster from object storage, the Kubernetes API server assigns a new creation time stamp to the `Backup` resource. This can be confusing when importing backups from a previous cluster and seeing that the creation times don't match.

Using the `StartTimestamp` field makes this consistent across all clusters.

-- ORIGINAL ISSUE --

**What steps did you take and what h

[2018-09-27 13:32] rosskukulinski commented on #882
Yes - I was trying to ask if users _new_ to Ark are more likely to download via a release tarball or via git clone.

[2018-09-27 14:01] ncdc commented on #882
I assume people download our GitHub release files, at least for the `ark` cli tool (since that's all that's there now). Because we don't have the yaml files in the GitHub releases, they then **must** clone the repo and use the yaml files from the clone.

The best user & first-run experience is, imho, to download a release tarball from GitHub that contains `ark` and all the yaml files with the corr

[2018-09-27 14:54] skriss commented on #864
@wwitzel3 you doing OK here? Haven't heard from you in awhile :)

[2018-09-27 15:00] wwitzel3 commented on #864
@skriss Yep, I've been trying to workout a good way to write tests here and haven't come up with any. I will squash things down and get a PR up shortly so it can start getting reviewed.

[2018-09-27 16:28] rosskukulinski commented on #882
So would it be accurate to describe the two following changes should happen?

1) Download release tarball from GitHub should have ark and the yaml files with the correct matching tags
2) Release branches (e.g. [release-0.9](https://github.com/heptio/ark/blob/release-0.9/examples/gcp/10-deployment.yaml#L36)) should have yaml that points to the image tag of that release.

[2018-09-27 16:32] ncdc commented on #882
I think only 1 is reasonable. If we do 2, there will potentially be merge conflicts if we have to backport yaml changes.

[2018-09-27 16:38] rosskukulinski commented on #882
I'm onboard 👍

[2018-09-27 18:35] nrb commented on #883
Thanks for the report @marctc.

I think what you're seeing here is Ark in the 2nd cluster importing the backup JSON from the bucket, then registering the `Backup` objects in the API server of the new cluster, which updates the creation timestamp for that copy.

@heptio/ark-team @rosskukulinski  Does it make sense to have our own, independent creation timestamp so we have a record of what the backu

[2018-09-27 18:35] ncdc commented on #883
Yes, I think this is a good idea. I believe we previously discussed it although I don't remember where/when.

[2018-09-27 19:51] skriss commented on #883
Yep - we definitely discussed and I'm +1 to doing this.  It would fit nicely into v0.11.

[2018-09-27 19:52] skriss commented on #883
Actually. we already have a `StartTimestamp` in the status.  We probably just need to update the CLI to display it!

[2018-09-27 20:29] ncdc commented on #871
@sachinar this is a duplicate of #387. Please try the suggestions there. If they work, you could be willing to submit a docs PR?

[2018-09-27 20:29] #871 closed

[2018-09-27 21:53] #332 closed

[2018-09-27 21:53] #810 closed

[2018-09-27 22:52] nrb opened #886 "Provide version redirection for documentation pages other than index"
**What steps did you take and what happened:**

Navigating to https://heptio.github.io/ark/ will redirect the user to https://heptio.github.io/ark/<latest>/index.html. However, navigating to https://heptio.github.io/ark/support-matrix results in a 404, not a redirect.

**What did you expect to happen:**

Navigating to subpages could, hopefully, try to redirect to page in the latest version so long

[2018-09-28 02:32] rosskukulinski commented on #883
Sounds like y'all are already set, but a +1 from me as well.  Ties in nicely to the work scheduled for 0.11, so +1 from me for the milestone as well.

[2018-09-28 08:18] marctc commented on #883
Can I help to fix this? I'm able to help you

[2018-09-28 10:30] erjosito opened #887 ""Function not implemented" in restic backing up Azure Files volumes"
**What steps did you take and what happened:**
Hi there,

I am using ark 0.9 with AKS 1.11.2 in Azure, and I am trying to back up a PV in Azure Files over restic. I already tested backing up disk-based PVs without restic, no issue there. I did the restic configuration as per the documentation, with a different bucket (blob container) in my storage account. I annotated a pod using a PVC based on Az

[2018-09-28 10:59] ncdc commented on #883
Yes please & thanks!

On Fri, Sep 28, 2018 at 4:18 AM Marc Tudurí <notifications@github.com>
wrote:

[2018-09-28 13:52] skriss commented on #887
Hi @erjosito, it looks like your volume might be empty? Can you try again after making sure there are some files in there?  I will also look at adding some code to handle this situation better (restic returns an error if you try to back up an empty directory).

[2018-09-28 13:53] ncdc commented on #887
Or is this a filesystem-specific issue?

On Fri, Sep 28, 2018 at 9:52 AM Steve Kriss <notifications@github.com>
wrote:

[2018-09-28 14:59] erjosito commented on #887
@skriss There are some files in the volume. If you look at the error message of the restic pod you can see the filenames there (the two default files access.log and error.log, plus a helloworld.txt file)

[2018-09-28 15:00] skriss commented on #887
ah, ok. let me take another look at this and get back to you

[2018-09-28 15:02] ncdc commented on #887
That's what this looks like to me. Whatever filesystem Azure Files is using doesn't seem to support extended attributes. Can you exec into the pod and run `mount`?

[2018-09-28 15:15] ncdc commented on #887
xref https://github.com/restic/restic/issues/1800

[2018-09-28 15:15] ncdc commented on #887
@erjosito you might try adding `nouser_xattr` to your storageclass's `mountOptions`

[2018-09-28 16:12] #576 closed

[2018-09-28 18:12] nrb commented on #886
The latest version of the site is [defined in the _config.yaml](https://github.com/heptio/ark/blob/gh-pages/_config.yml#L4) file.

I tried making an `install-overview.md` file at the root with these contents:

[code]

It didn't appear to do the right thing, though. I didn't get a 404, rather a page with the empty docs layout.

For anyone who picks this up, Heptio is looking at redoing our document

[2018-09-28 23:03] erjosito commented on #887
@ncdc `nouser_xattr` did the trick, now it works. It might have been caused by the new functionality Microsoft has introduced in Azure Storage for AAD-controlled access (ACLs). Thanks a lot!

[2018-09-29 04:40] DP19 commented on #881
So after some back and forth with aws support, I was able to figure out what was happening.

We used ark to migrated one of our clusters out of rancher and into eks. I stood up the new cluster and installed ark then restored the cluster into eks. In the backup .json files within the tar's there were references to apiservices.apiregistration.k8s.io and within that folder it had backed up those two

[2018-09-30 17:47] prateekpandey14 commented on #875
@carlisia happy to take this .

[2018-09-30 19:29] skriss commented on #878
Responded on slack:

[2018-09-30 19:29] skriss commented on #878
xref #18

[2018-09-30 19:30] skriss commented on #878
@kratos81 closing this issue, but feel free to subscribe to #18 or add comments their on your use cases for consideration. thanks!

[2018-09-30 19:30] #878 closed

[2018-09-30 19:34] skriss commented on #329
Honestly I would probably just remove the code that attempts to get the project, since if we're just going to warn and continue if it fails, there's not much value in having it.  Any later block-store operations would error if the project does not exist.  @rosskukulinski @ncdc you OK with that?

If we go ahead with removing the code, then we should also remove the `compute.projects.get` permission

[2018-09-30 19:45] #875 closed

[2018-09-30 19:48] ffd2subroutine commented on #875
@carlisia @prateekpandey14 oh sorry I've already submitted a pull request for this one.

[2018-09-30 19:59] skriss commented on #245
Fixed by #795

[2018-09-30 19:59] #245 closed

[2018-09-30 20:07] ncdc commented on #329
Sgtm

On Sun, Sep 30, 2018 at 3:34 PM Steve Kriss <notifications@github.com>
wrote:

[2018-09-30 20:51] rosskukulinski commented on #329
Cool with me, thanks for checking @skriss!

[2018-10-01 18:19] wwitzel3 commented on #864
I was reviewing #873 and it looks like that is doing some of the things I assumed this was doing. Specifically the `pass the list of default VSLs into each controller that needs it`.

It seems this is doing that for the `BackupController`. Should I rebase of that PR? @skriss is this right?

[2018-10-01 18:28] carlisia commented on #864
Wait... I was doing this as part of my PR. Oh gosh. @wwitzel3 if you have started this, I have code that could be useful, particularly https://github.com/spf13/pflag/issues/182.

[2018-10-01 18:32] wwitzel3 commented on #864
@carlisia No, you're good. I will get my PR up that binds and validates the default volume snapshot locations and then follow up with PRs for the other controllers. This works out because I just accidentally torched my controller changes in commit clean up attempt anyway.

[2018-10-01 18:34] skriss commented on #864
lol. @wwitzel3 I'd say don't bother with PRs for the other controllers, it can just be done inline with #807 #805 #808

[2018-10-02 04:02] #588 closed

[2018-10-02 04:31] carlisia commented on #52
I am so onboard with this. I was thinking of coding my own toy cli to point to a directory of yaml files and run those as well as everything else needed to boot it up.

[2018-10-02 04:38] carlisia commented on #883
@marctc let me know when you start on this so I can move it to `in-progress`.

[2018-10-02 07:39] marctc commented on #883
I'm on it. You can move it.

[2018-10-02 13:15] alexey-medvedchikov commented on #329
Missing permission is `resourcemanager.projects.get`.

[2018-10-02 14:57] #816 closed

[2018-10-02 15:40] ncdc commented on #858
@williamhuangh where do you see `clusterName`?

@sruon I would recommend opening an issue in https://github.com/helm/charts about the chart feature request.

[2018-10-02 16:35] #240 closed

[2018-10-02 16:35] #306 closed

[2018-10-02 17:04] #883 closed

[2018-10-02 19:03] dirtbag commented on #856
Yes I was just looking for information on how to upgrade ark from v.0.9.5 to v0.9.6
Any suggestions as I cannot find any docs on it?

-db

[2018-10-02 19:28] skriss commented on #856
@dirtbag that should be an easy upgrade, no breaking changes.  Just update your image tags to `v0.9.6`!

[2018-10-02 20:59] tarioch opened #896 "Restore of restic volume fails with "No ID found""
**What steps did you take and what happened:**
I have a pod with a pvc, backup seems to run fine but when I try to restore the backup it fails with

[code]

It looks like there is data stored in the restic bucket. I'm playing around with restoring and doing a remapping of the namespace (basically want to test restore without impacting the original pod)

**What did you expect to happen:**

The pod

[2018-10-02 21:18] ivelichkovich opened #897 "Ark Credentials Secret"
**Describe the solution you'd like**
Currently you need to deploy a secret with aws creds to run ark. Is that secret even used? I got permission denied until I added permissions to the nodes (didn't fully test this).
I'd like to see ark use the aws nodes permissions so that we don't need to manage a secret in order to run it.

[2018-10-02 21:19] skriss commented on #896
@tarioch unfortunately you've run into a bug w/restic restores not playing nicely with remapped namespaces, that I've fixed in a not-yet-merged PR (see https://github.com/heptio/ark/pull/888/commits/d0411f12eaa720cdd421f1c4f331bf6ffe7876ee).  The restore should work fine if you don't use the namespace remappings.

We could probably get this bug-fix out in our next v0.9 bug-fix release, which is sc

[2018-10-02 21:25] #864 closed, assigned to wwitzel3

[2018-10-02 21:28] skriss commented on #897
@ivelichkovich Ark uses the standard AWS credentials chain (since we're just using the aws go sdk) - so if you are using a different option in the chain, it should work fine as you've found!

[2018-10-03 13:07] mwieczorek opened #898 "Enable to start ark-server without defined default BackupStorageLocation"
**Describe the solution you'd like**

In next ark version (v0.10) the default BackupStorageLocation is required (without setting it I get `An error occurred: backupstoragelocations.ark.heptio.com "default" not found` and ark-server crashes).
Is it possible to make it optional?
My use-case is that during ark installation details about future backups (where to store them) may not be available.

**An

[2018-10-03 13:28] ncdc commented on #898
👍 here. I think the ark server should be able to start without a default BSL

[2018-10-03 14:46] #785 closed

[2018-10-03 14:50] dirtbag commented on #856
I just deleted the pod and it pulled down the new version and updated automagically.

[2018-10-03 14:59] #896 closed

[2018-10-03 15:03] skriss commented on #896
@tarioch look for a `v0.9.7` release tomorrow that contains this fix.

[2018-10-03 15:09] skriss commented on #856
Just FYI, at some point you may want to switch to using specific version tags rather than `latest`, as there *will* be breaking changes when you upgrade to, e.g., `v0.10`.

[2018-10-03 15:29] dirtbag commented on #856
sounds reasonable.. thanks for the info.

[2018-10-04 07:28] kmova commented on #669
@ncdc, I have hit a similar issue when using an iSCSI PV.

During the restore process:
- The restore says completed successfully, but the application remains in init-container waiting state for the `.ark..` folder to be available.
- I did exec into the restic-pod on the node and I saw that data is present in the restored volume directory along with the .ark folder.
- I sshed into the node, the dat

[2018-10-04 14:07] ncdc commented on #669
@kmova thanks for the additional info. This does sound like a mount propagation issue. Do you know what Docker version GKE is using offhand?

[2018-10-04 14:40] kmova commented on #669
Here it is @ncdc
[code]

[2018-10-04 15:25] dirtbag opened #904 "RFE: ability to restore one or more items by name"
This is more of a design question. I know that ark is designed to be a disaster recovery product, but we are wondering if there is a way to pick and choose kubernetes objects to restore? Say for instance, somehow one of our ingresses gets deleted/damaged and we do a restore, It will try to restore the entire cluster (or just the namespace that we specify). Is there a way to restore individual piec

[2018-10-04 16:30] wwitzel3 commented on #904
Hi db,

Ark has a `--include-namespaces` flag which lets you choose which namespaces from the backup to restore. But there is no way to selectively restore specific objects. As for what Ark does if some of the objects are present, it will skip and log, an example of what that output might look like is in the [restore debugging guide](https://heptio.github.io/ark/v0.9.0/debugging-restores).

My cur

[2018-10-04 16:33] nrb commented on #898
I think that makes sense. Would updating the `Deployment` with the argument be sufficient for providing the BSL after the fact? Or do we want another way to update them?

[2018-10-04 16:44] ncdc commented on #904
It's anything you can specify to `kubectl get` - e.g. `pods`, `deployments`, `secrets`, and so on.

[2018-10-04 17:09] dirtbag commented on #904
Thanks, that is helpful!

-db

[2018-10-04 19:26] james-powis opened #909 "More Sam Account Token issues when sam account and pod are collectively deleted and restored"
Service Account Tokens are ephemeral, and stateless, created when a service account is created. Mounting of the service-account-token into volumes as part of the init stage of restic restores results in the init pod failing to start, thus failing the restic portion of the restore (though the pod is restored none the less to an empty functional status.

[code]

I will get a PR to address this issue

[2018-10-05 10:27] sachinar commented on #871
@ncdc I tried but it didn't worked. It is showing same error.

[2018-10-05 11:53] ncdc commented on #765
@wwitzel3 PTAL

[2018-10-05 11:54] ncdc commented on #387
@sachinar (moving from #871) could you please describe the specific steps you tried that aren't working? Thanks!

[2018-10-05 12:04] sachinar commented on #387
I tried with these steps.

`apiVersion: ark.heptio.com/v1
kind: Config
metadata:
  namespace: heptio-ark
  name: default
persistentVolumeProvider:
  name: aws
  config:
    region: minio
backupStorageProvider:
  name: aws
  bucket: ark
  # Uncomment the below line to enable restic integration.
  # The format for resticLocation is <bucket>[/<prefix>],
  # e.g. "my-restic-bucket" or "my-restic-bucke

[2018-10-05 12:09] sachinar commented on #387
@ncdc  I tried with
 s3Url: http://minio.heptio-ark.svc:9000  this also. same error was there.

[2018-10-05 12:42] ncdc commented on #387
Please try making the Minio service a NodePort service and set the s3Url to
http://$node:$nodePort

On Fri, Oct 5, 2018 at 8:09 AM Sachin Arote <notifications@github.com>
wrote:

[2018-10-05 14:29] skriss commented on #669
@kmova @ncdc I believe Kubernetes support for mount propagation only moved to beta a/o v1.10, so possible it's disabled on your 1.9.x GKE cluster which would be causing this to fail.

[2018-10-05 14:33] ncdc commented on #669
I have seen mount propagation issues related to host bind mounts with pure Docker 17.03.02 that aren't in 18.06. @skriss this issue probably deserves more research.

[2018-10-07 04:05] kmova commented on #669
@ncdc @skriss

The backup/restore is working after upgrading to GKE version `v1.10.7-gke.2`
Same docker version as above : `17.03.2-ce`

Would you like me to send a PR to update the Restic - Prerequisites docs?

[2018-10-08 08:22] thdrnsdk opened #915 "Support backing up and restoring Helm workloads"
Hello!

I am one of the users who is using ark now.
The ability to back up objects in kubernetes is great.
By the way, our system distributes the application using helm and uses helm history as the lifecycle of the application.

Do you plan to do ark backup and restore in helm's deploy unit instead of kubernetes object?

[2018-10-08 11:39] sachinar commented on #387
@ncdc Thanks It worked.

[2018-10-08 13:14] shubheksha commented on #329
@skriss, I believe this is the logic that needs to be removed:
https://github.com/heptio/ark/blob/master/pkg/cloudprovider/gcp/block_store.go#L67-L71

[2018-10-08 21:47] krol3 commented on #836
Thanks! It works with the release branch 0.9 samples

[2018-10-09 09:06] sachinar opened #916 "unable to successfully complete restic restores of pod's volumes" error="timed out waiting for all PodVolumeRestores to complete""
@ncdc I tried ark tool it worked for some of our deployments, but it is not working for Kafka for restoring volumes.

I tried with these steps,

For taking backup.

kubectl annotate pod/broker-1 backup.ark.heptio.com/backup-volumes=config,broker-data

kubectl annotate pod/broker-0 restores.ark.heptio.com/backup-volumes=config,broker-data
kubectl annotate pod/broker-2 restores.ark.heptio.com/backup

[2018-10-09 14:29] nrb commented on #915
Hi @thdrnsdk. There is an Ark Helm chart available at https://github.com/helm/charts/tree/master/stable/ark, but it is not currently maintained by the Ark team.

Ark also doesn't have any logic to handle Helm resources differently than other Kubernetes objects at the moment.

Can you provide a bit more detail on what behavior you're looking for?

[2018-10-09 19:30] skriss commented on #863
I'm thinking about how this will work for v0.10 if a user wants to import backups from Cluster A to Cluster B.  Our current design has the `VolumeSnapshot` object storing the `Location` (i.e. `VSL`) as a field. So, on import to Cluster B, the naive approach would require that a VSL with the same name (and same config) exist in Cluster B as in Cluster A.

We're planning to do more sophisticated thi

[2018-10-09 19:34] nrb commented on #863
s/S3/object storage/ ;)

IMO, yes. As a first pass, I think this is acceptable, especially given we're planning to do some betas. If we receive feedback that it's too limiting, then we can change.

[2018-10-09 21:17] nrb commented on #916
Hi @sachinar,

Based on the logs, it looks like there's a timeout happening when restic is trying to restore your data - the restores begin at 07:17, and then fail at 08:17.

In v0.9.x, you can change this timeout with the `podVolumeOperationTimeout` value on your `Config`. You can set it to any valid [`Duration` string representation](https://golang.org/pkg/time/#ParseDuration). I've listed an ex

[2018-10-09 21:19] nrb commented on #909
PR's merged but apparently GitHub didn't pick it up. Closing the issue.

[2018-10-09 21:19] #909 closed

[2018-10-09 21:40] nrb commented on #867
@shubheksha Definitely welcome your improvements, especially since you went through the new contributor process so recently!

[2018-10-10 03:55] thdrnsdk commented on #915
oh it seems to be misunderstood. I'm sorry my poor English.

i know ark is deployed by helm chart.

my question is

Is there any way to backup and restore k8s objects deployed using helm?

for example i'm deployed "nginx" use for helm chart.

$ helm install --name=nginx nginx

and

$ helm ls

show the list of helm deploy. next update object use for helm cli

$ helm update nginx XXXXX

in this stat

[2018-10-10 14:57] dirtbag opened #917 "Question about PV/snapshot restores."
Hey folks, I we have a couple of ark backups on the same PV, it appears that we get multiple snapshots for that volume of varying sizes.
![snap1](https://user-images.githubusercontent.com/808514/46745292-c64fe000-cc7a-11e8-84c6-eb445656dd7c.jpg)

So it looks like
in this instance we have 3 snapshots of the same PV. I'm  curious how ark handles restores for a PV when you have multiple copies like t

[2018-10-10 14:58] ncdc commented on #917
Hi @dirtbag, thanks for your question. Would you mind posting this instead to our Google Group, https://groups.google.com/forum/#!forum/heptio-ark?

[2018-10-10 15:01] ncdc commented on #915
My understanding is there is a ConfigMap that Helm uses to keep track of the things it's deployed. For the time being, you would need to make sure that your backup includes the relevant Helm ConfigMaps, and that they're included when restoring. I don't think we've tried this, so we'd be interested to hear how it goes if you attempt it.

[2018-10-10 15:40] skriss commented on #225
Given that we've had numerous people run into this - what do you all think about modifying `pkg/backup/backup_pv_action.go` to only return a PV to back up if the PVC's status is `Bound`?

cc @ncdc @wwitzel3 @carlisia @rosskukulinski

[2018-10-10 16:52] rosskukulinski commented on #225
I think that's probably fine.  What are the conditions/situations where a PVC status will not be `Bound`?

[2018-10-10 16:55] ncdc commented on #225
Typo in PV name in the PVC, somebody manually deleted the PV but left the PVC - stuff like that.

[2018-10-10 19:37] agusl88 opened #921 "Ark unable to restore PV/PVC from GCP snapshots"
**What steps did you take and what happened:**

1 - Schedule a backup for the different namespaces of my GKE Cluster
2 - Recreated the cluster (i was needed in order to tune some settings that can´t be changed on an existing cluster, at least terraform can´t do it with a destroy/create)
3 - Installed ark in the new cluster, same version/settings than before with `restoreOnlyMode: true`
4 - Attempt

[2018-10-10 19:40] ncdc commented on #921
Hi @agusl88, if I'm reading this correctly, this is a duplicate of #282, which we have fixed in our master development branch. The fix will be out in v0.10.0, due out later this month or early November. We may be able to backport it to a 0.9.x bugfix release, depending on the complexity of the patch.

[2018-10-10 19:49] agusl88 commented on #921
yes, it looks like a duplicate. The smaller volumes (1/2gb) didn´t had any problems, but the 43gb volumes that are taking a bit more to restore are triggering the 30s timeout described on #282

[2018-10-10 19:50] ncdc commented on #921
@skriss you ok with a simple fix for this (gut SnapshotService in release-0.9) for our October 18 0.9.x bug fix release?

[2018-10-10 20:56] #805 closed

[2018-10-10 21:16] splisson-altair commented on #881
I'm getting a similar error:
$ kubectl logs deployment/ark -n heptio-ark
time="2018-10-10T21:14:04Z" level=info msg="setting log-level to INFO"
time="2018-10-10T21:14:04Z" level=info msg="Starting Ark server v0.9.7" logSource="pkg/cmd/server/server.go:101"
time="2018-10-10T21:14:04Z" level=info msg="Checking existence of namespace" logSource="pkg/cmd/server/server.go:264" namespace=heptio-ark
time

[2018-10-10 21:31] skriss commented on #921
sure

[2018-10-10 22:59] carlisia commented on #863
@skriss if this simple strategy works, I'd go with it and fix potential issues if/when we come across it.

[2018-10-10 23:22] #881 closed, assigned to nobody

[2018-10-10 23:31] splisson-altair commented on #881
sure, I ll open a separate issue

[2018-10-10 23:39] carlisia commented on #867
I love this idea. I personally would love to see a (much more concise) sort of version of this: https://github.com/kubernetes/community/tree/master/contributors/guide

I especially like the `Before you get started` and the Contributing` top sessions. We don't have a style guide or code convention, so much of that can be skipped. Of particular interest though would be a subsection on testing, runni

[2018-10-10 23:39] splisson-altair opened #924 "Ark server fails to start : unable to retrieve the complete list of server APIs"
**What steps did you take and what happened:**
I updated ark deployment on my existing 1.8.11 kubernetes server:
$ kubectl apply -f examples/aws/10-deployment.yaml
A new ark pod got to Running state then went to CrashLoopBackOff state

**What did you expect to happen:**
ark pod to stay running

**The output of the following commands will help us better understand what's going on**:
(Pasting long o

[2018-10-10 23:40] carlisia commented on #867
@heptio/ark-team what do you think 👆

[2018-10-11 03:56] thdrnsdk commented on #915
hello @ncdc
i'm already test it.

The namespace with tiller and the namespace to backup are different, so we could not create one "backups.ark.heptio.com"CRD object.

If I have same namespace of the tiller that I want to backup, it is not a problem, but as you know, deploying a tiller in every namespace seems a bit wasted.

So I asked if there was any other way.

[2018-10-11 10:24] cihangirbesiktas opened #925 "Restic restore failed: Unknown desc = key initContainers not found"
**What steps did you take and what happened:**
I backed up a namespace with a pod which include a volume mount of a service account secret token. When I restored the backup, I got the error -
[code]

**What did you expect to happen:**

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other

[2018-10-11 11:15] ncdc commented on #915
A single Ark `Backup` can back up multiple namespaces. If you're using the cli: `ark backup create my-backup --include-namespaces myapp,tiller`.

However, maybe we can try to be more efficient:
1. Have the Ark server know about a default namespace for tiller (`ark server --tiller-namespace foo`)
1. When backing up, allow the user to override the default tiller namespace (`ark backup create my-back

[2018-10-11 11:17] ncdc commented on #925
This is from #910 - we need to check if `initContainers` exists, and gracefully no-op if it doesn't.

[2018-10-11 11:30] mwieczorek commented on #898
@ncdc @nrb What about annotation on BSL, similar like annotation on storageclass which is marking it as default?
So on storageclass we can have:
[code]

can we have something similar on BSL:
[code]
When a backup is created without pointing to BSL:
- if no BSL is annotated - error
- if only one is annotated - proceed
- if more than 1 is annotated - error

[2018-10-11 11:53] ncdc commented on #898
My preference would be to have a default name (`default`) that the person
deploying Ark can override (`ark server --default-backup-storage-location
my-awesome-bsl`). I'd rather use first-class primitives over annotations if
possible.

And to Nolan's question, I do think it's fine to update the Deployment to
change the ark server flag's value to update to a new default BSL. I don't
expect this is s

[2018-10-11 15:38] skriss commented on #808
@wwitzel3 @carlisia - since we're switching to storing snapshot info in VolumeSnapshot API objects a/o v0.10, I'm wondering if we want be backwards-compatible for restores - so, if there's an existing backup in object storage, that has `.status.volumeBackupInfo`, should Ark v0.10 support restoring it?  I'm tempted to say yes, **if** there's only a single VolumeSnapshotLocation configured, so we tr

[2018-10-11 16:21] wwitzel3 commented on #808
I think this makes sense. When you say single VolumeSnapshotLocation, you mean, only one provider configured? I know we only allow one per provider, so just wanted to be sure I'm understanding you right.

Would we want to give the 0.10 client a way to specify the provider in that case? Since it would be being removed in 1.0 or even 0.11? So log/warn that the restore is using the old format if ther