[2017-08-07 14:35] evaldasou opened #10 "An error occurred: No Auth Provider found for name "gcp""
Hey Heptio Team,

After I run :` "ark backup create nginx-backup --selector app=nginx"`
I get this :
`"An error occurred: No Auth Provider found for name "gcp"`

[2017-08-07 14:38] ncdc commented on #10
Hi @evaldasou, thanks for this report.

Are you running `ark` using the aliased command we have in our readme? Are you running on gcp? Any additional details you can provide will help us narrow down the issue. Thanks!

[2017-08-07 14:39] evaldasou commented on #10
Thanks for quick response @ncdc , I run it on my local machine using alias command.
My Kubernetes cluster is running on GCP (but I execute command directly on my machine, not on cluster node).

Should I run it on Kubernetes node directly? Thanks!

[2017-08-07 14:40] ncdc commented on #10
@evaldasou no, you can run it on your local machine. Would you be willing to share your kubeconfig, redacting anything secret such as certificates/credentials?

[2017-08-07 14:42] ncdc commented on #10
Ah I think I might have figured it out. We might need to pull in some auth provider plugin code from client-go for gcp, azure, and oidc. Can you confirm that your kubeconfig file has an `auth-provider` section?

[2017-08-07 14:56] evaldasou commented on #10
Yes, there is `auth-provider `section :
[code]

[2017-08-07 15:30] ncdc commented on #10
@evaldasou I just submitted #11 which hopefully will fix the issue. I haven't tested it yet, however, as I don't have a kubeconfig with an auth-provider section. I'm looking to set that up now so I can test it.

[2017-08-07 15:54] ncdc commented on #10
@evaldasou I did just test locally with the `oidc` auth-provider, and it is working. If you want to give this a spin before we merge it and have an updated image out, you can build the image locally. If you do, please let us know if it solves this problem. Thanks!

[2017-08-07 16:32] #10 closed

[2017-08-07 16:51] evaldasou commented on #10
thanks @ncdc ! looks good! when You guys plan to update docker image?

[2017-08-07 16:55] ncdc commented on #10
@evaldasou very shortly! I'll reply when it's out.

[2017-08-07 18:40] ncdc opened #14 "Set User-Agent"
Right now it's `ark/v1.7.1 (linux/amd64) kubernetes/$Format` where `v1.7.1` comes from kube / client-go. We should probably do something like:

`ark/v0.3.2 (linux/amd64) 35b865d`

[2017-08-07 18:43] evaldasou commented on #10
Hey guys! What a great team, so fast support!

All works with new docker image. I had one issue, but that's how I fixed it :

[code]
Error above was fixed after I ran:
`root:heptio# kubectl cluster-info`

[code]

Thanks again! Going to test further! :100: :+1:

[2017-08-07 19:07] ncdc commented on #10
@evaldasou looking at your `auth-provider` settings, given that it's trying to run a command (I'm guessing whenever it needs a new/unexpired token), said command needs to be in the ark image, and we don't have gcloud in there. I'm glad you were able to get it working!

[2017-08-07 19:23] ncdc commented on #14
Might want to do `ark` for the cli and `ark-server` for the server

[2017-08-09 00:11] kstewart opened #15 "Improved backup resource selection"
If you do `ark backup create foo --include-namespaces andy`, that will back up everything in the 'andy' namespace AND all cluster-scoped resources (the following list is from my local v1.7.3, supporting create + list):
* apiservices
* certificatesigningrequests
* clusterrolebindings
* clusterroles
* customresourcedefinitions
* namespaces
* nodes
* persistentvolumes
* podsecuritypolicies
* storagec

[2017-08-09 00:12] kstewart opened #16 "Add "download backup" command to CLI"
`ark backup download <backupname>` would download to <backupname>.tar.gz in the current directory. Maybe allow -o to specify an alternate location.

[2017-08-09 00:12] kstewart opened #17 "Backup coverage reporting"
It would be useful to be able to generate backup coverage reports - i.e. an easy way to see which objects in a cluster/namespace are/aren't being backed up by existing schedules. This could be done by listing all resources, then matching them to schedule backup specs based on namespace includes/excludes, resource includes/excludes, and label selector.

[2017-08-09 00:13] kstewart opened #18 "Multi-tenancy support"
Allow users other than cluster-admin to use Ark. This has security implications:

- need to ensure a user can only back up/restore PVs/snapshots they have access to
- need to ensure a user can only back up kube resources they have access to
- need to find a way to have the restore "run as" the user, so there's no privilege escalation

[2017-08-09 00:14] kstewart opened #19 "Back up non-cloud persistent volumes"
It would be awesome if we could back up any type of volume, not just aws ebs, gce pd, and azure managed disks. Something like https://github.com/appscode/stash might be interesting to leverage or partner

[2017-08-09 00:14] kstewart opened #20 "Backup progress"
Provide a way for users to see the progress of an in-flight backup. Some thoughts:

- if backing up all namespaces, first get a list of all namespaces so we know how many there are to process
- try to find out how many different types of GroupResources are being backed up, so we can record progress per namespace
- periodically record status somewhere in backup.status

[2017-08-09 00:15] kstewart opened #21 "Restore progress"
Similar to #20, do something similar to periodically update the progress of a restore.

[2017-08-09 00:39] djschny opened #22 "add --exclude-namespaces to restore"
It's nice to always backup a superset of namespaces but then restore everything instead a particular one or two. For example:

`ark restore create everything --exclude-namespaces=kube-system --restore-volumes`

It would be nice to have `--exclude-namespaces` on the restore option.

[2017-08-09 02:02] djschny opened #23 "restoring from one GKE cluster to another leaves target cluster unusable"
The goal was to perform a backup on one GKE cluster and then restore into a fresh brand new GKE cluster of the same version, number of nodes, etc. However afterwards the following items happen to the target cluster:

# Unexpected Behavior

* Trying to view the dashboard UI, proxy, or look at logs for a pod will yield the error:
[code]
* Listing the nodes in the cluster will list nodes that aren't

[2017-08-09 11:57] madddi opened #24 "Support S3 server side encryption with KMS"
Hi,

we'd like to store encrypted backups in S3 using [S3 SSE with KMS](https://docs.aws.amazon.com/kms/latest/developerguide/services-s3.html#sse). Are you planning to support this?

The S3 go pkg should already support this so it should just be a matter of adding a config option and using it in `object_storage_adapter.go` in the AWS cloudprovider. If this is correct I could give it a go and subm

[2017-08-09 12:30] ncdc commented on #24
Hi @madddi, thanks for reporting this. It definitely sounds like something we should support. We would love a patch if you've got the time to do it. Thanks!

[2017-08-09 12:33] ncdc commented on #22
I think we should also deprecate `--namespaces` and rename it to `--include-namespaces`.

[2017-08-09 13:09] ncdc opened #25 "Simplify deployment yaml"
I think we can simplify the deployment yaml to be cloud-provider agnostic. Right now the "common" one is used for AWS and GCP and it contains this snippet:

[code]

Our GCP instructions say you need to rename `AWS_SHARED_CREDENTIALS_FILE` to `GOOGLE_APPLICATION_CREDENTIALS`, so it's not really a "common" file since you have to edit it for GCP.

For Azure, we have a different file where everything

[2017-08-09 13:09] ncdc commented on #25
cc @djschny

[2017-08-09 13:44] evaldasou opened #26 "--snapshot-volumes is not working on GCP"
Hey Heptio Team,

If I run this command :

`ark backup create everything --exclude-namespaces=kube-system,heptio-ark --snapshot-volumes`

I get data on Google Cloud Storage about my cluster, but none of the persistent volumes are snapshoted.

ark-backup.json looks like this :

[code]

Anything I am missing?

[2017-08-09 13:49] ncdc commented on #26
@evaldasou could you please provide the logs from the ark server pod, at least the part around backing up persistent volumes? `kubectl logs -n heptio-ark deployment/ark`

[2017-08-09 13:59] evaldasou commented on #26
hey @ncdc , sometimes when You ask You know what's the issue and the answer :)
I was using incorrect zone for the snapshots :
`-abdb-42010a800083", volume-id "gke-cluster-1-14995ce5-pvc-ff5efe2d-71d9-11e7-abdb-42010a800083": googleapi: Error 400: Invalid value 'US-CENTRAL1'. Values must match the following regular expression: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?', invalidParameter`

[code]
Thanks an

[2017-08-09 13:59] #26 closed

[2017-08-09 14:00] ncdc commented on #26
No worries, we're glad that you've been trying it out. Please keep the feedback coming 😄

[2017-08-09 14:01] djschny commented on #26
In this scenario should the credentials/zone be verified before starting the backup and appropriate response returned to the user from the CLI?

[2017-08-09 14:04] ncdc commented on #26
@skriss can you take a look and see how much we can reasonably verify up front? We can file a separate issue for this.

[2017-08-09 14:05] evaldasou commented on #26
@djschny GCP config looks like this :

[code]
Backup and snapshots has different zones. Backup works itself, but no error about snapshots visible for user directly in CLI.

[2017-08-09 14:07] ncdc commented on #26
This is a server configuration issue... What would you like to see happen in this instance:

1. Detect issue as soon as ark-server starts, log issue, shut down ark-server (will end up in a crash loop via the kubelet)
1. Detect issue when backup/restore created, mark backup/restore as FailedValidation, include reason in backup/restore status
1. ???

[2017-08-09 14:08] djschny commented on #26
I'm just trying to think from the perspective of how would I detect this? Right now I would probably take the approach of setting up a monitor that views periodically views the ark pod logs and looks for that particular error string and then fire an email/page if I see it.

Are there log levels in the logs [INFO, WARN, FATAL, ERROR, etc] so that one could look for a ERROR/FATAL instead of looking

[2017-08-09 14:10] ncdc commented on #26
We have the ability to log at info, warning, and error levels.

[2017-08-09 14:11] evaldasou commented on #26
guys , maybe not the best place to ask but how to delete backups ?
I can delete backups from my object storage, but it does not synchronize with ark client.

**ark backup get**:

[code]
How to delete these above from my client?

[2017-08-09 14:13] ncdc commented on #26
@evaldasou they'll be deleted automatically when they expire. Alternatively, once you've removed them from object storage, you can `kubectl -n heptio-ark delete backup/<backup name>`.

We know this is an area we need to clean up, and we haven't yet figured out the best UX here.

[2017-08-09 14:14] ncdc commented on #26
Please feel free to post to our Google Group (https://groups.google.com/forum/#!forum/heptio-ark) or create separate issues.

[2017-08-09 14:37] evaldasou commented on #26
thanks will do !
that's really helpful! @ncdc !

[2017-08-09 15:04] ncdc commented on #23
@djschny can you try specifying `--exclude-resources nodes` when you create the backup?

[2017-08-09 15:09] ncdc commented on #23
Re the warnings & errors in the gist, I saw 2 different categories, both of which we're currently aware:

1. An item of the same name already exists
1. Unable to create an RBAC resource because of a privilege escalation

For 1, we could potentially attempt to do a diff and only record a warning if there is a substantive difference. If you think that would be useful, let's file an issue for it.

Fo

[2017-08-09 16:24] abiogenesis-now commented on #25
:+1: This is a lot cleaner! (And common deployment will actually be common :P) So the Ark code itself will check the `provider` key and store `cloud-credentials` under the appropriate env variable?

Just double checking--this should still work even if Azure uses env variables only, since it can be special-cased inside Ark? (Tangential: do we still *want* to use a file for Azure? I guess it's less

[2017-08-09 16:29] ncdc commented on #25
Yes

I'm thinking for AWS, ark-server sets `AWS_SHARED_CREDENTIALS_FILE`.

For GCP, ark-server sets `GOOGLE_APPLICATION_CREDENTIALS`.

For Azure, ark-server reads the credentials file and uses the values it contains

[2017-08-09 16:32] skriss commented on #26
@ncdc yes - I'll take a look at server config validation

[2017-08-09 16:42] skriss commented on #25
SGTM!

[2017-08-09 16:46] skriss opened #27 "Validate server config at start-up time"
Per #26, we should validate as much of the server config as possible at start-up time and log/exit gracefully.

[2017-08-09 16:48] skriss opened #28 "Change default for --snapshot-volumes, --restore-volumes to true"
Right now these default to false; we should probably change to true.

[2017-08-09 18:04] madddi commented on #24
Hi @ncdc, we thought about deploying Ark on OpenShift but noticed that OpenShift is missing support for `CustomResourceDefinitons` or even `ThirdPartyResources`. The patch should be working, but I can't test it. Should I open a PR - the changes should be quick to review.

I hate to submit untested code but can't easily spin up a Kubernetes cluster on AWS right now.

[2017-08-09 18:27] ncdc commented on #24
@madddi no worries - if you submit a PR, I think we should hopefully be able to test it.

[2017-08-10 14:18] evaldasou opened #30 "Scheduled job runs at incorrect time"
Hey Heptio Team,

My scheduled job configuration looks like this :
[code]
So it should run 1 time per day ,at 9 AM , right ? https://crontab.guru/#0_9_*_*_*

However, I get backups every hour, when minute is equal to 9 :

[code]

Issue is my configuration or a bug? :)
Thanks!

[2017-08-10 14:39] ncdc commented on #30
Hi @evaldasou, thanks for the report. I'll look into this now and get back to you asap.

[2017-08-10 15:22] ncdc commented on #30
@evaldasou I've figured this out - we're currently using a cron parser that expects the first field to be _seconds_ (ouch!). I think we should adjust it so we don't handle seconds and we use the format that most people expect. WDYT? cc @skriss @abiogenesis-now

For now, just add another 0 up front: `0 0 9 * * *`

[2017-08-10 15:27] abiogenesis-now commented on #30
@ncdc that makes sense! in the meantime, do you want me to patch the docs here (https://github.com/heptio/ark/blob/master/docs/use-cases.md) or will you be able to get a fix out soon?

[2017-08-10 15:42] evaldasou commented on #30
big thanks @ncdc !

[2017-08-10 15:43] ncdc commented on #30
Let's leave it open because we're going to change it to remove the seconds field.

[2017-08-10 16:55] #30 closed

[2017-08-10 18:29] ncdc commented on #20
Idea: store per-backup log file to object storage. Add `ark backup log` command to retrieve it.

[2017-08-10 18:29] ncdc commented on #21
Idea: store per-restore log file to object storage. Add `ark restore log` command to retrieve it.

[2017-08-10 18:32] ncdc opened #32 "GC restore when backup is GC'd"

[2017-08-10 18:33] ncdc opened #33 "Add --include-resources and -exclude-resources to restore"

[2017-08-10 19:20] ivelichkovich opened #34 "PVC's are restored as lost on AWS"
Hello,

I tried an example of cluster migration with the stable/prometheus helm chart with persistent volumes enabled.

I ran:
ark backup create cluster-backup --selector backup=ark --snapshot-volumes

The backup worked fine and was created but when I run:
ark restore create cluster-backup --restore-volumes

It restores everything however the PVC's come back as lost.

kubectl describe on the PVC s

[2017-08-10 19:22] ncdc commented on #34
Hi @ivelichkovich, could you please share a copy of the logs from the ark pod? `kubectl -n heptio-ark logs deployment/ark`? Preferably include the times when you did the backup and when you tried the restore.

[2017-08-10 19:30] ivelichkovich commented on #34
I0810 18:59:56.461013       1 server.go:151] Ensuring heptio-ark namespace exists for backups
I0810 18:59:56.481447       1 server.go:163] Namespace already exists
I0810 18:59:56.481465       1 server.go:168] Retrieving Ark configuration
I0810 18:59:56.485662       1 server.go:184] Successfully retrieved Ark configuration
I0810 18:59:56.485678       1 server.go:217] Using default resource prioriti

[2017-08-10 19:33] ncdc commented on #34
Can you please also share `ark backup get <backup name> -o yaml` and `ark restore get <restore name> -o yaml`? If there's any data in there that's private, feel free to sanitize.

[2017-08-10 19:54] ivelichkovich commented on #34
Ok not sure where those snapshots came from. Just ran backup again and it did not create snapshots.

The backup looks bad, my one restore that worked had volumeBackups with a list of objects but this has null:
apiVersion: ark.heptio.com/v1
kind: Backup
metadata:
  creationTimestamp: 2017-08-10T19:43:53Z
  name: cluster-backup3
  namespace: heptio-ark
  resourceVersion: "1395"
  selfLink: /apis/ark

[2017-08-10 20:01] ncdc commented on #34
Assuming you're using our example deployment, which runs the server at log level 4, I would expect to see something like this when it's snapshotting a volume:

[code]

Or if there was an error determining the volume ID, you'd see
[code]

I didn't see either of those in your logs. Are you seeing any errors anywhere?

[2017-08-10 20:06] skriss commented on #34
@ivelichkovich do the PV's that you're trying to backup/restore have the backup=ark label applied? Since you're specifying a label selector in the backup, they'd need to be labeled as such in order to be captured.

[2017-08-10 20:09] ncdc commented on #15
Did some brainstorming with @skriss:

If you're trying to back up a specific namespace, you probably don't want to include all cluster-scoped resources. A better approach would probably be to specify the namespace _**and**_ use a label selector. This ensures that the cluster-scoped resources match the selector.

Where this doesn't work is with dynamically-provisioned PVs, because they don't assume

[2017-08-10 20:09] ncdc commented on #34
Also see #15 for an idea how to work around this (if the label is in fact the issue here).

[2017-08-10 20:14] ivelichkovich commented on #34
Ahh that's it. No errors or snapshot logs but the backup that did snapshot correctly had no selector.

I have the label on a PVC and it's not inherited by the PV.
A nice feature would be to get the volume from the pvc and backup that volume.

A workaround that I imagine will work is to backup without a selector and then restore that first to get the volumes than I can bring all the kubernetes reso

[2017-08-10 20:15] ncdc commented on #34
That's what we're aiming to do as part of #15

[2017-08-10 20:17] skriss commented on #34
No problem, and please let us know if you have any further feedback and/or issues!

[2017-08-10 20:20] ivelichkovich commented on #34
Ahh that's cool. I didn't realize not specifying a selector would back everything up. Great tool! You guys released right when I started looking into disaster recovery and ark has made the job much much easier :)

[2017-08-10 20:38] ivelichkovich commented on #34
Ok now it created the snapshots with no selector but it's telling me

"error preparing /tmp/093010796/cluster/persistentvolumes/pvc-efa26d87-7e03-11e7-a939-12f0b6779a20.json:
      InvalidParameterCombination: The parameter iops is not supported for gp2 volumes.\n\tstatus
      code: 400, request id: fddc16e9-e12b-4b2e-9dd5-0b5cefdd3f0f"

[2017-08-10 20:39] ncdc commented on #34
Ok that is definitely a bug that we can fix. @skriss since you worked on adding iops support, can you take this?

[2017-08-11 03:36] skriss commented on #34
sure thing. @ivelichkovich can you send the results of `ark backup get <backup name> -o yaml` again?

[2017-08-11 14:48] ivelichkovich commented on #34
The successful backup? Here it is:

apiVersion: ark.heptio.com/v1
kind: Backup
metadata:
  creationTimestamp: 2017-08-11T14:48:02Z
  name: volume-migrate1
  namespace: heptio-ark
  resourceVersion: "139898"
  selfLink: /apis/ark.heptio.com/v1/namespaces/heptio-ark/backups/volume-migrate1
  uid: 135cefc2-7ea4-11e7-8c22-12d0660ff8fe
spec:
  excludedNamespaces: null
  excludedResources: null
  includ

[2017-08-11 16:38] skriss commented on #23
@djschny - i was able to repro this issue. Excluding node resources from the backup eliminated the problem, as did manually kubectl delete-ing the extraneous nodes that got created in the target cluster from a full backup.

[2017-08-11 18:08] skriss commented on #34
@ivelichkovich I see the issue and am working on a fix. the possible workarounds for now would be to not use gp2 volumes, or to manually edit the backup YAML and delete the `iops: 100` lines before performing a restore.

[2017-08-14 13:12] ncdc opened #39 "Move to dep for dependency management"

[2017-08-14 15:44] djschny commented on #23
I tried restoring with that option but it says it is invalid:

[code]

[2017-08-14 15:45] ncdc commented on #23
@djschny when creating the backup, not the restore. We will be adding that flag to the restore soon.

[2017-08-14 15:56] djschny opened #41 "restore says complete, but actually had error"
It appears if a "sync" period has not happened yet, then a restore actually fails, but the ark command says it is successful:

[code]

However the logs show the following and nothing was restored:
[code]

The backup `everything4` is in the bucket, but a sync hasn't happened yet so if you do an `ark backup get` you only see the following:

[code]

IMO seems like two things should be happening?:
* i

[2017-08-14 16:00] ncdc commented on #41
@djschny if we process the restore and do as much with it as we can, it is marked `Completed`. Maybe `Processed` or some other word would be better, but we chose not to have `Completed` vs `Failed` because it's possible to restore some items and have errors restoring others, and `Failed` sounds like nothing at all happened.

Now, in your case, nothing did work due to the missing backup. We should

[2017-08-14 16:06] djschny commented on #41
OK, that brings to light an additional questions of:

* can a separate status code be returned for when it is a partial restore? As a user, to have to look through logs to find this information out can be difficult when trying to diagnose/automate/monitor this activity

I think regardless forcing a sync prior helps eliminate a lot of timing issues as well. Happy to open a separate issue on that on

[2017-08-14 16:12] ncdc commented on #41
Maybe, but you don't have to look through logs - this information is available via `ark restore get` (you see the # of warnings and errors listed per restore) and `ark restore get <restore name> -o yaml (or json)` (the warnings and errors are all visible)

I don't think forcing a sync is the right way to go about this. If you create a backup, it's immediately available for restoration. If you are

[2017-08-14 16:17] djschny commented on #41
Thanks, yes I do see that and in a more structured manner, that is more usable for sure. Thank you.

[code]

I had two clusters, they already both had ark installed on them. I made a backup on cluster1 and then went to go restore it on cluster2.

[2017-08-14 16:24] ncdc opened #42 "Decide how to handle trying to restore a backup resource that isn't currently in kube storage"
xref #41

Summary: if you `ark restore create` a backup that is in object storage but has not yet synced to kube storage, the restore will be marked `Completed` with 1 error that the backup couldn't be found. If nothing else, this should be a validation error. Or we could force a backup sync, and if we still can't find the backup, consider it an error.

@skriss wdyt?

[2017-08-14 16:24] ncdc commented on #41
Great! Other than the sync issue, do you still need this open? Do you think a name like `Processed` is better than `Completed`?

Ok. The sync interval is configurable but you can't issue a command to force a sync at the moment. You could restart the ark pod and that would force it. Or you just have to wait for the next sync interval to occur.

Syncing has a cost associated with it (the remote call

[2017-08-14 16:32] djschny commented on #41
Yep, sounds good, let's take the user experience of sync'ing and that architecture to the other ticket and this one can be closed. Thank you for the help and dialogue.

[2017-08-14 16:32] #41 closed

[2017-08-14 19:25] ncdc commented on #24
Fixed by #29

[2017-08-14 19:25] #24 closed

[2017-08-14 19:47] djschny commented on #42
Below are my thoughts/rationale one why this not producing an error and instead working are as follows:

* It creates the favored end user experience. The sync'ing approach is essentially implementation details at this point and shouldn't affect end functionality.
* I don't see much "harm" in looking for a particular S3 object when a command is run like this. The end user is intended for something

[2017-08-14 19:48] ncdc commented on #42
Yeah, I think we can try to do a one-off sync in this situation.

[2017-08-14 19:59] djschny commented on #23
I retested on the backup side and that did the trick. There were still lots of errors/warnings as mentioned before. I'd like to keep this issue open though so that one and/or two things get tracked:

* documentation updated on extra flags needed
* adjust default settings so that no extra options should be needed

In the scenario of a simplistic backup everything and restore over to this fresh clus

[2017-08-14 20:14] skriss commented on #27
Fixed by #35

[2017-08-14 20:14] #27 closed

[2017-08-14 20:23] skriss commented on #42
This is basically just an issue when you first connect a new cluster to an existing backup set, right? We should probably trigger a sync at server startup in that scenario (right now we wait for the sync period to elapse before syncing, which doesn't seem right).

[2017-08-14 20:24] ncdc commented on #42
The backup sync controller syncs immediately at startup, unless something changed recently.

I think @djschny's case was two active clusters, both pointed at the same bucket. Create backup in cluster 1. Try to restore "immediately"/quickly into cluster 2, before it has synced.

[2017-08-14 20:31] skriss commented on #42
ah you are right, nvm. triggering a sync seems reasonable. we'll have to trigger a cache refresh as well.

[2017-08-14 20:32] ncdc commented on #42
I think we can do a one-off to try to grab the backup from object storage and create it in kube storage.

[2017-08-14 21:20] ncdc commented on #42
@skriss looking more at the code in pkg/restore, we only use the data from the Backup for the custom PV restorer (to get the volume/snapshot info), although theoretically any other custom restorers could use the Backup data as needed in the future.

How about we do this:

1. Look for the Backup in the lister
1. If we find it, use it
1. Otherwise
    1. Have the restore controller try to get the ba

[2017-08-14 21:21] ncdc commented on #23
@djschny that makes sense. Let's see how close we can get 😄

[2017-08-15 12:30] jrnt30 opened #44 "AWS compatible support no longer working"
First off, thanks for the interesting project, appreciate the effort. I was walking through the tutorial for using Ark w/ Minio and a PV backup.

I believe that commit #35 has broken support for AWS compatible services, such as Minio, as it is now attempting to actually validate the EC2 AZs and is using the `minio` region which does not exist.

Looking into the code, the endpoint resolver is setup

[2017-08-15 12:33] ncdc commented on #44
@jrnt30 thanks for reporting this. We'll get a fix out ASAP. In the meantime, if you use the latest published image, everything should be working.

[2017-08-15 13:15] jrnt30 commented on #44
Thanks, I just reverted back to a previous commit.  Was trying to tackle #33 to get my hands on the code

[2017-08-15 13:16] ncdc commented on #44
@jrnt30 awesome, glad to hear you're interested in contributing!

[2017-08-15 13:38] ncdc commented on #44
Ooh I might have a better idea. Assuming we merge #43, we could only validate the AZ if the PersistentVolumeProvider is configured, and for a minio-only use case, you wouldn't have that configured, so we should be good. WDYT @skriss?

[2017-08-15 14:03] ncdc commented on #34
@ivelichkovich #37 fixes the gp2/iops issue. Are you ok if we close this issue now?

[2017-08-15 15:49] skriss commented on #44
argh. Yeah - I like the latter the best, given that AZ is only used for volume operations.

[2017-08-15 15:50] ncdc commented on #44
Cool, can you do that as part of #43?

[2017-08-15 16:40] stevesloka opened #46 "Binary clients"
I'm a first timer playing around with ark. My k8s master is not publically available, I access it via a Bastion over an SSH tunnel so using the docker alias method didn't work since `https://kubernetes:9443` (which is the tunnel to my k8s api) isn't accessible via the container.

I made a change to the build to allow my mac to get a binary client and everything works fine.

Would you be open to ge

[2017-08-15 16:51] ncdc commented on #46
@stevesloka yes, this is probably something we should do. We need to work on tooling and automation for multi-arch builds, creating GitHub releases, and populating the releases with a description/changelog and binaries. A PR would definitely be appreciated - could you describe what you're thinking about having it do? Thanks!

[2017-08-15 18:06] stevesloka commented on #46
Hey @ncdc I just sent a PR to discuss around. It's what I used to get playing locally on my mac. Going to validate on my pi cluster as well (would make a good demo).

What I did works, but I just killed the build time. =)

[2017-08-15 22:16] jrnt30 opened #49 "Document required IAM permissions"
I understand that ARK is a moving target at this point, so it may not be advisable yet, but it would be helpful in [Cloud Provider Specifics](docs/cloud-provider-specifics.md) to catalog the required IAM policies necessary for the project to operate effectively.

As it stands now, the permissions are overly permissive.  Pairing them down to be what's needed would reduce the friction of deploying A

[2017-08-15 22:18] jrnt30 commented on #33
I'm curious if you have a design which you were thinking about using.  Would this be drawing on the same label selector pattern the backup/restore can use or based upon the resource names themselves?

[2017-08-15 22:19] ncdc commented on #33
I would have it use the collections.IncludesExcludes just like how backups
do it.

On Tue, Aug 15, 2017 at 6:18 PM Justin Nauman <notifications@github.com>
wrote:

[2017-08-15 22:20] ncdc commented on #49
Cc @mattmoyer

[2017-08-17 04:06] jrnt30 commented on #25
One thing I really enjoy about the AWS ecosystem is that there is a [well defined fallback pattern](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html#specifying-credentials) for the lookup of credentials.

For clients we make heavy use of IAM roles and try to essentially never use explicit AWS access keys/secret keys for deployed applications.  The SDK's provide the ab

[2017-08-17 11:32] ncdc commented on #25
We actually do support fallback. You don't have to use that file.

On Thu, Aug 17, 2017 at 12:06 AM Justin Nauman <notifications@github.com>
wrote:

[2017-08-17 22:45] skriss opened #52 "Add `velero install` command"
It would be great to have E2E scripts for each cloud provider that go through a full install of Ark including pre-reqs and server installation. We can have the user fill in the necessary options at the beginning. The docs are great for understanding what's going on step-by-step but it takes a lot of copy-pasting to get a working install going.

[2017-08-17 23:14] abiogenesis-now commented on #52
Ksonnet might help for this---I can look into this actually (unless anyone has dibs) because it will simplify my doc writing life so so much ><

[2017-08-18 13:57] ncdc opened #53 "BackupService.GetAllBackups should be forgiving when there's partial data"
While working on #40, I accidentally ended up with a bucket with these contents:
[code]
The code in GetAllBackups kept returning an error that "the specified key does not exist". It took me a while to figure out what was going on, which is that when it's iterating through the backup directories, if it can't retrieve `mybackup.tar.gz`, it immediately returns an error. I think we should instead only

[2017-08-21 15:37] ncdc commented on #25
Nix my comment above about needing a `provider` key - we know from the config if they're doing aws, azure, or gcp.

@abiogenesis-now before you do a ton of work to try to generate configs, let's discuss what you're thinking about here.

[2017-08-21 16:11] jrnt30 commented on #25
The one interesting thing I was thinking about is how we would be doing this for a multi-tenant solution.  I'm not sure how serious of a consideration that is for right now, but that could potentially change things pretty significantly. It's also possible I conflated some conversations around multi-tenant to mean something more than was intended (which could simply be authn/z for a single organiza

[2017-08-21 16:16] ncdc commented on #25
Our hope for multi-tenant is a single Ark deployment that supports multiple users, especially those with fewer privileges than cluster-admin. We'd like to allow `Backup` and `Restore` resources in multiple namespaces (instead of just `heptio-ark`), although the biggest hurdle to overcome there is ensuring the Ark controllers don't allow privilege escalations; i.e., a user must not be allowed to ba

[2017-08-23 17:00] #44 closed

[2017-08-23 17:34] skriss commented on #28
This was fixed by #45 . Thanks @jrnt30 !

[2017-08-23 17:34] #28 closed

[2017-08-25 19:17] ncdc opened #56 "Support paging/continuation for s3"

[2017-08-25 22:02] skriss commented on #42
FYI: I'm working on this.

[2017-08-28 01:30] jrnt30 opened #60 "Consideration for refactoring restore command"
When creating a restore, I find it a bit confusing that the `backup`'s name is in the form of an argument, as we aren't actually creating a `backup`, it is just a piece of a given restore.

One option would be:
- Have the backup be an explicitly named, required flag.
- Optionally support an argument which would then be the restore's name itself, not that of the backup

Current: `ark restore create

[2017-08-28 14:19] mattmoyer commented on #49
@jrnt30 thanks for filing this. It's definitely something I would like to tackle. We can probably take an evidence-based approach working backwards from CloudTrail logs. We might also generate separate IAM policies for backup-only and restore-only modes.

[2017-08-31 17:50] skriss commented on #15
@ncdc WDYT about making "cluster" an includeable/excludeable scope, like namespaces? We could change --include-namespaces and --exclude-namespaces to --include/exclude-scopes, and cluster would be a special value. This simplifies excluding cluster-scoped resources (currently you have to either exclude all the resource types or have a label selector that doesn't match them).

[2017-09-05 16:46] #56 closed

[2017-09-05 16:47] #42 closed

[2017-09-05 16:52] ncdc commented on #15
@skriss I've considered finding an easy way to include/exclude cluster-scoped resources. I can't say I love using "scope" as part of the flag name or concept exposed to end users.

It would be nice to get some additional feedback on how and what people are backing up and restoring. cc @jbeda @rosskukulinski

[2017-09-05 17:02] #53 closed

[2017-09-05 18:50] #34 closed

[2017-09-05 21:22] ncdc commented on #14
@jrnt30 any interest in taking on this one?

[2017-09-05 21:50] jrnt30 commented on #14
Is 35b865d in your example the git sha that built the binary?

[2017-09-06 07:44] segeva opened #67 "Testing on Azure - attempting to follow Lachlan Evenson demo on Azure, fail with location error"
The ark pod fails as follows:

I0906 07:36:32.999205       1 server.go:244] Configuring cloud provider for backup service
An error occurred: missing location in azure configuration in config file

The azure config (examples\azure\10-ark-config.yaml) was modified as follows:
  azure:
    location: australiaeast
    apiTimeout: 20s

[2017-09-06 13:27] ncdc commented on #67
@segeva can you post your entire config yaml?

[2017-09-06 13:52] ncdc commented on #14
@jrnt30 it's the git commit of the repo, yes. We'd want to set it in pkg/buildinfo/version.go via linker flags at build time.

[2017-09-06 14:46] jrnt30 commented on #14
Sounds good.  I actually already did some of that work for the WIP Backup Logs.  I will extract that and work on this

[2017-09-06 15:21] #22 closed

[2017-09-06 16:34] skriss opened #68 "GC controller lists all restores every time it GC's a backup"
See https://github.com/heptio/ark/pull/63#discussion_r137304026

[2017-09-06 17:37] #32 closed

[2017-09-06 17:39] ncdc commented on #20
Note, backup logs are separate from progress. We'll be coming up with ways to track real-time progress as described above to close out this issue.

[2017-09-06 19:59] skriss commented on #20
For backups, we process first by resource then by namespace.
For restores, we process first by namespace then by resource.

I think for progress reporting, we should not be tightly coupled to the current mode/order of processing since that could change. We can count the number of resource-namespace combinations and then report as each pair gets completed.

My initial thought is something like:
[co

[2017-09-06 23:53] segeva commented on #67
azure folder with the modified 10-ark-config.yaml
[azure.zip](https://github.com/heptio/ark/files/1283019/azure.zip)

[2017-09-07 13:12] ncdc commented on #67
@segeva ok I think I see what's happened. You're running our image tagged "latest", which corresponds to v0.3.3. You will need to follow the documentation for that version, as the documentation for the master branch applies only to that branch, and things have changed between v0.3.3 and master. In v0.3.3, you need to make sure your config looks like this: https://github.com/heptio/ark/blob/v0.3.3/

[2017-09-07 13:13] ncdc opened #70 "Switch from glog to logrus"

[2017-09-07 13:14] ncdc commented on #39
Will be fixed by #40

[2017-09-07 13:18] ncdc opened #71 "Exclude nodes from restores by default"
It doesn't really make sense to restore a node, but there may be some value in including the node in the backup (especially once we get #16). We should make it so nodes are excluded from restores by default, **AND** we should make it "hard" for the user to say they want to include nodes as part of a restore.

xref #23

[2017-09-07 13:20] ncdc opened #72 "Exclude cluster-managed endpoints from restores"
It doesn't make sense to restore endpoints that are managed by the endpoints controller.

[2017-09-07 14:09] ncdc opened #73 "Consider broadening ark service account permissions to cluster admin"
The service account we use is currently allowed to list/watch/create all resources in all namespaces. While this is sufficient for all backup operations, it is only partially so for restore operations.

While most restore operations will succeed, attempting to restore roles and/or clusterroles that have greater privileges than the ark service account fail.

We might want to broaden the privileges

[2017-09-07 14:14] ncdc commented on #73
xref #23

[2017-09-07 14:19] ncdc opened #74 "Improve handling of preexisting resources during restore"
When restoring, if the resource already exists, we record that as a warning and move on. I can think of a few things we could do:

1. Upon seeing a preexisting resource, get it, diff against the backed up copy, and be silent if they're identical
1. If they're different
    1. Log a warning
    1. Overwrite

We could provide options in restore.spec for how to handle this.

Are there other options w

[2017-09-07 14:21] ncdc commented on #23
I've split this out into 3 separate specific issues - #71, #72, #73, #74. I'm going to close this now. @djschny if you think I've missed anything, let me know and we'll create more issues.

[2017-09-07 14:21] #23 closed

[2017-09-07 17:00] skriss opened #75 "Enable pre/post-volume snapshot hooks for executing workload-specific actions"
Some workloads (e.g. databases) may require pre- and/or post-volume snapshot actions to be taken (e.g. flushing caches, fsfreeze) to ensure that the snapshot/backup taken is valid. We should create user-pluggable hooks to allow this kind of workload-specific logic to be executed during backups & restores.

[2017-09-07 17:03] ncdc commented on #75
I think if you need to do something like fsync before taking a snapshot, you need to have the hook at the deployment/pod/container-ish level, not the PV. Maybe consider making the hooks more generic (not just applicable to volumes) and we can discuss the granularity + how to configure?

[2017-09-08 01:01] segeva commented on #67
Great, this worked.
I noticed that the tagged versions 'deployments' are still pointing to latest images, possibly common helm chart with specific images versions in the ‘values’ file can help …

[2017-09-08 01:01] #67 closed

[2017-09-08 11:53] jrnt30 opened #76 "[Design Question] Restructure of command hierarchy"
Closely related to #60, I was curious what peoples thoughts were to changing the order in which the CLI nests actions vs. resources.  Particularly, would people be open to looking at the UX of a closer parallel to kubectl itself?

Ex.
`ark backup create`
`ark create backup`

As we continue to build more things "off of" the existing resources, such as the downloading of backup logs/data, it occurs

[2017-09-08 12:12] ncdc commented on #76
We spent a decent amount of time discussing this previously. I definitely think it's worth another round of discussions. @jbeda @skriss fyi

[2017-09-08 12:13] ncdc commented on #76
Before doing any coding, let's agree on the UX

[2017-09-11 11:43] rosskukulinski commented on #15
@ncdc I don't have a ton of signal for you at the moment.  Right now, I'm thinking of the backup/restore scenario as two personas:

1) Cluster Admin who's responsible for the life of the entire cluster.  Being able to rehydrate a new cluster from a backup with everything included is the goal. (e.g. Nordstrom, Etsy)

2) Team Admin who's responsible for one or more namespaces.  Being able to backup/

[2017-09-11 12:44] jrnt30 commented on #74
Is there a straightforward way of doing that equality comparison that excludes some of the information we know will be different, such as the CreationTimestamp, etc. in the Client-Go api?

Additionally, this comparison would be done after any Ark specific translations (such as namespace mappings) occurred, correct?

[2017-09-11 12:52] jrnt30 commented on #73
Would this be necessary if #18 were addressed?  As I understood that, the goal was to have Ark simply impersonate the credentials of the given user.

In the short term I do think that it would be more straightforward to increase the scope of to ClusterAdmin so that the tool works as the user would expect.  One of the unfortunate things about the current model would be that an operator would not kn

[2017-09-11 13:19] jrnt30 commented on #71
I am struggling to come up with a scenario where restoring nodes would ever be the right thing  for our clients.  Are there any specific scenarios you have run into where restoring the actual nodes would be "appropriate"?  If we don't have a specific use case in mind, should we simply remove it's support for now and be open to adding it in with a specific use case to ensure that we get the impleme

[2017-09-11 13:34] ncdc commented on #71
I agree that it's probably unlikely that restoring a node would ever be something anyone would want to do. I have a few thoughts on how to make this hard:

- put `nodes` in the `--exclude-resources` by default
  - if we do that, what happens if someone has `--exclude-resources widgets` - does that now mean nodes are no longer explicitly excluded?
- have a separate flag like `--dangerous-restore-no

[2017-09-11 14:04] ncdc commented on #73
I think as part of #18 we will need to revisit this, but for now, it's a short-term win.

[2017-09-11 14:05] ncdc commented on #74
I'm not aware of anything straightforward. I think we'll have to clear things like ResourceVersion and CreationTimestamp before doing the comparison.

Yes, this would be after Ark behaviors.

[2017-09-11 15:44] jrnt30 commented on #71
Yeah, the 1st scenario was leaning me towards the 2nd option.  The refactoring of the `resources` concept as a whole is interesting but a much larger thing to realize and perhaps deserves it's own conversation while we implement the 2nd option in the meantime?

If you have a preference (dropping it all together vs. explicit flag) I could take a crack at that.

[2017-09-11 15:49] ncdc commented on #71
One thing I don't want to lose is backing up nodes. For example, nodes can have custom labels, annotations, etc. that admins add manually, and I think it's worth preserving those in the backup.

Maybe we need to treat nodes differently, so that the act of restoring a node is:

1. If the node exists in the target cluster, merge labels and annotations from the node in the back with the node in the t

[2017-09-11 18:33] ncdc opened #77 "GC should evaluate all backup dirs (common prefixes) in object storage to handle partial/orphaned files"

[2017-09-11 20:31] #39 closed

[2017-09-12 19:47] ncdc commented on #76
How does this sound:

We'll add verb-noun "aliases" for things like get and create (i.e. you could do `ark get backup` or `ark backup get` and both will do the same thing) so it will "just work". We'll probably either want to group these aliases separately in the `--help` output, or maybe even hide them. This will allow people who are used to `kubectl get` to apply that pattern to ark without gett

[2017-09-12 19:52] #16 closed

[2017-09-12 19:53] #33 closed

[2017-09-12 20:56] ncdc commented on #52
@skriss moved to v0.5.0

[2017-09-12 21:09] ncdc opened #80 "Restore namespace remapping should adjust references to remapped namespaces"
If a backup contains references to namespace `src` object `foo`, and we're using a namespace mapping to remap namespace `src` to `dst`, any items that reference `src` or `src/foo` probably should be adjusted to point at `dst` instead. Things I can think of:
- pv.spec.claimRef
- rolebinding.subjects[*].namespace
- clusterrolebinding.subjects[*].namespace

suggestion from https://twitter.com/timorei

[2017-09-13 02:45] jrnt30 commented on #76
We could certainly go that route and makes some sense, however your point about extensibility of the `verbs` is well received.

The thing that tripped me up initially wouldn't really be solved by my suggestion either (ark restore create <backupname>` seemed odd), I'll close this for now and we can always re-evaluate if there are strong opinions.

[2017-09-13 02:45] #76 closed

[2017-09-13 14:31] ncdc commented on #60
We are thinking we should change this to
[code]

If the user wants to, they can specify a name for the restore (`ark restore create foo --from-backup bar`), or if they don't, we'll default it as we do now (`ark restore create --from-backup bar` would yield a restore named `bar-<timestamp>`).

In the future, we may have additional backup sources (e.g. `--from-file <local tarball>`).

WDYT @jrnt30 @

[2017-09-13 17:08] ncdc opened #84 "Add and expose metrics"
Add various metrics using Prometheus.

[2017-09-13 17:09] ncdc opened #85 "Add pprof support"
Add pprof support. Expose it only to localhost, so you have to port-forward to get access to it.

[2017-09-13 17:21] adiletmaratov opened #86 "Restore does not work"
Hey, the project is really awesome and you guys are trying to solve the right problem.

I'm using ark for backups and restores in GCP. I'm following the quickstart tutorial and everything goes smooth until the `ark restore create nginx-backup`.

My `ark backup get` results:

[code]

This is what I'm getting for `ark restore create nginx-backup`:
[code]
so the status is NEW, not COMPLETED and no er

[2017-09-13 17:28] ncdc commented on #86
Hi @adiletmaratov, have you checked the logs for the ark pod? `kubectl -n heptio-ark logs deploy/ark`? Could you please gist/paste those in?

[2017-09-13 17:29] ncdc commented on #86
Did you create the ark deployment? `kubectl -n heptio-ark get deploy`?

[2017-09-13 17:32] adiletmaratov commented on #86
Thanks for the quick response! This is what I get for `kubectl -n heptio-ark get deploy`:
[code]

and this is what I get for kubectl -n heptio-ark logs deploy/ark

[code]
hmm, seems like ark thinks I deal with AWS.

[2017-09-13 17:33] ncdc commented on #86
Can you paste your config (redact anything sensitive)?

[2017-09-13 17:35] adiletmaratov commented on #86
sure. this is `examples/gcp/00-ark-config.yaml`

[code]

[2017-09-13 17:37] ncdc commented on #86
Can you try checking out the `v0.3.3` branch and recreating everything from that? What you pasted looks like the config format for `master`. We hope to have published docs soon that make it clear what to do for the latest stable version vs master, as master has changes.

[2017-09-13 18:30] jrnt30 commented on #60
Sure, that makes a lot of sense.

[2017-09-13 18:56] ncdc commented on #86
@adiletmaratov any luck?

[2017-09-13 19:05] skriss opened #87 "ark restore logs doesn't work for restores of backups with hyphenated names"
https://github.com/heptio/ark/blob/master/pkg/cloudprovider/backup_service.go#L214

This breaks when the backup is named, e.g., `nginx-backup`.  Will likely have to do a regex to match the timestamp at the end.

[2017-09-13 19:06] ncdc commented on #87
I knew that was probably too simple 😄

[2017-09-13 19:10] skriss commented on #87
yeah, looked funny to me when i reviewed but i couldn't find a reason why...now we know :)

[2017-09-13 19:10] ncdc commented on #87
Probably should do a "last index of" check on the -

[2017-09-13 19:39] ncdc commented on #87
Working on a fix

[2017-09-13 21:10] jrnt30 commented on #71
I understand where you are going and am all for marking them in the backup for posterity and auditing.

On the restore front, I'm a little unsure of how we would proceed though.  I personally think of Ark as "what's running in my cluster" and perhaps somewhat simply think of Nodes as being "the" cluster.

Is the equality comparison for `If the node exists in the target cluster` simply the node nam

[2017-09-13 21:14] #87 closed

[2017-09-14 03:34] adiletmaratov commented on #86
Nope. I checked out the `v0.3.3` and this is what I'm getting for `kubectl -n heptio-ark logs deploy/ark`:
[code]

[2017-09-14 08:25] adiletmaratov commented on #86
Hey I found the problem. Ark was thinking that I'm using AWS because I didn't apply examples/gcp config on time. Sorry for bothering and thank you a lot for the help.

[2017-09-14 08:25] #86 closed

[2017-09-14 13:34] ncdc commented on #71
A very good point.

Yes, just node name. This is something we need to get right, so we should spend sufficient time reasoning through it. In the short term, I think we're significantly better off if we blacklist restoring nodes 100%.

[2017-09-14 17:48] ncdc opened #92 "Config change detection gets a false positive when the watch expires"
For various reasons, when you `Get()` an object, its `kind` and `apiVersion` are blank. When you receive the same object via a `Watch()`, those fields are present. Any time the watch expires (timeout, too old resource version), the config informer relists/rewatches and the update handler in `watchConfig` receives the current value of the config. Because of the mismatch described above, the code th

[2017-09-14 18:08] ncdc commented on #92
I've fixed this locally. The next false-positive is about `resourcePriorities`. If the config doesn't define them, we default them in the code. Then we get the config from the watch, without any defaulting applied.

[2017-09-14 18:15] ncdc opened #93 "`ark backup download` has issues when you run `ark` as a container"
`ark backup download` is “not working” because when you run ark in a container, it tries to write to `$(pwd)/<file>`, and 1) that’s inside the container’s filesystem, and 2) `$(pwd)` is `/`, so it tries to write to `/<file>`. Additionally if you specify `--output FILE`, that path is inside the container, so it either needs to be a bind mount from the host, or you'll have to `docker cp` to get the

[2017-09-14 18:35] ncdc opened #94 "Spike - Add cpu, memory requests & limits to deployment"
Measure ark's memory usage over time, set reasonable values

[2017-09-14 19:21] ncdc commented on #93
I think I want to change the default to write to `stdout`, so that when you run ark containerized, you can just do `ark backup download foo > foo.tar.gz`. WDYT? cc @jrnt30

[2017-09-14 19:22] ncdc opened #95 "`ark backup download` should delete the file it creates if the stream fails"

[2017-09-14 21:29] ncdc opened #97 "RFC: Backup templates"
If the person taking a backup is not the same person who defines how an application is deployed to Kubernetes, they might not know _what_ resources should be backed up for said application. A way to get around this could be to allow the application author to define what to back up, without actually initiating a backup or schedule. This is a "backup template".

A backup template will likely look si

[2017-09-14 21:35] jrnt30 commented on #93
I typically don't like tools streaming binary as the default behavior and I may have less accommodating view on this "just working" out of the box.  I personally think that the tool should be setup to use as an installed binary locally first, and then provide a mechanism for it working in a container.

While not a direct solution to probelm, one way that we (credit to @fenixx for thinking of it) h

[2017-09-14 22:44] jrnt30 commented on #97
Well this is certainly an interesting idea which I had not considered.  I had though of Ark acting from an operator's perspective to "backup the cluster".  The idea of an application being able to declare it's own needs is an interesting one.

I wonder if for the `ScheduleSpec` if it would make sense then to allow this to be an array of `TemplateRef`s then so the application could express it's bac

[2017-09-19 16:51] #14 closed

[2017-09-19 16:57] #92 closed

[2017-09-19 23:15] jrnt30 commented on #72
tl;dr - Do we even need this?  As I am playing with the different permutations of this, I am observing that:

- If we restore a set of Endpoints that no longer match nodes/pods (as in a restore) they will only exist until a service with the same name as the set of endpoints
- As soon as a there are matching pods for the given service it "takes over" that endpoint object completely and wipes out an

[2017-09-21 15:40] timoreimann commented on #84
As announced on Slack, we (i.e., me and/or some of my team colleagues) would be keen on adding some initial support for Prometheus-based metrics collection.

Is there anything in particular that should be included from the project maintainer's / Ark community's view? The baseline for us would probably be somewhere along the lines of collecting info about

- when a backup / restore took place
- how

[2017-09-21 15:53] ncdc commented on #84
@timoreimann I think all of those are good ideas. I'm also interested in things like
- time to list all pods, services, etc
- time to write the backup tarball
- time to upload a file to object storage
- size of tarball, log file, etc
- time to run custom backup actions and restorers

+1 to the official client lib. We're using `dep` now so you can run `hack/dep-save.sh`, where any arguments you pas

[2017-09-21 15:56] timoreimann commented on #84
Appreciate the prompt feedback, @ncdc. I'll try to dedicate some time next week to dig into the relevant code sections and come up with a metrics master plan to post here. :-)

[2017-09-24 00:37] ashish-amarnath opened #101 "Ark configuration should support multiple AZs for PersistentVolumeProvider"
Ark configuration only supports a single availability zone for a persistent volume snapshot.
Even though the underlying AWS API, to create volume snapshots, seems to support multiple AZs
This is the code snippet, from the block_storage_adaptor, that I am referring to.

`azReq     = &ec2.DescribeAvailabilityZonesInput{ZoneNames: []*string{&availabilityZone}}`

[2017-09-24 01:02] ashish-amarnath commented on #101
The fix for this shouldn't require invasive change. The fix will involve:
1. Using the `AvailabilityZone` field of `AWSConfig` struct to be `[]string` instead of `string` or use comma separated values for AZs. Using comma separated values would be a better option here as it will not change the JSON schema of the configuration object.
2. Converting the CSV string to `[]string` in `NewBlockStorageAd

[2017-09-24 01:29] ashish-amarnath commented on #101
IMO, `CreateVolumeFromSnapshot` will also have to be updated to create the volume back into the correct AZ.

[2017-09-25 11:59] jrnt30 opened #103 "Multi-Region/Account Restoration capability"
There are a few different dimensions of a DR strategy that may be worth consideration.  For AWS deployments the trade-offs the complexity of running Multi-AZ are fairly negligible if you stay in the same region. As such the Single Region/Multi-AZ deployment is extremely common.

An additional requirement often is having the ability to restore in another region with more relaxed RTO/RPO in the case

[2017-09-25 12:11] jrnt30 commented on #101
First, thanks for bringing this up.  I recall looking at this and being a bit confused when I first looked at Ark and it has fallen off my radar.

I'm curious, would it be more appropriate to simply remove the `AvailabilityZone` attribute from `AWSConfig` all together?  I think philosophically, I tend to think "Regionally" for AWS and not AZ specific.  Looking at your code changes, it seems that w

[2017-09-25 16:46] ncdc commented on #103
@jbeda some of what @jrnt30 is describing sounds similar to your idea of "backup targets"

[2017-09-25 17:25] ashish-amarnath commented on #101
Let me 'double click' and verify that the availability zone can be removed without increasing the surface area of this change.
I agree that removing the availability zone would be ideal. The change that I currently have in the PR may add to fragility.

[2017-09-26 10:54] mbroome opened #104 "Add ark command line sync option"
It would be useful to have the ark client be able to trigger the server to sync with the storage backend without having to scale down/up or kill the server pod.  In the case where there are two different kubernetes clusters using the same centralized storage backend, it would be nice to be able to see backups at will across all clusters at will.

[2017-09-26 14:58] ncdc commented on #104
There are a couple of ways we could do this:
1. User submits a custom resource similar to DownloadRequest, something like a BackupSyncRequest, that a controller watches for and reacts to
1. User connects to an http server bound only to localhost in the Ark server pod (either via `kubectl port-forward` or the pods proxy api)

How often do you see needing to do this? Would setting the sync period to

[2017-09-26 18:43] skriss commented on #20
@ncdc let me know if you have any thoughts on this

[2017-09-26 18:55] ncdc commented on #20
@skriss it would be nice if operationProgress.percentComplete were more accurate, based on the percentages of the individual ItemProgresses.

When we do a backup, we know up front how many different types of resources we have, and how many items we have per resource type. If we store that information in backup.status, we can use it when restoring. Doing it that way, we could simply use % complete

[2017-09-26 19:05] ncdc commented on #20
We could store a map of GroupResource string to

[code]

It could look like this:

[code]

[2017-09-26 19:12] ncdc commented on #20
And if we need to precalculate and store percentages, we could, although it's probably easy enough not to and just let consumers do it.

Also, if we ever move to a work queue and we want to have multiple workers independently updating progress, we could get a lot of conflicts and retries trying to update a single map in a single Backup. Maybe json patch would help there...

[2017-09-26 19:56] skriss commented on #20
I'd be fine just doing it per-resource rather than also by namespace.

How do we know total # items per resource type? We list/back them up per-namespace

I like this idea in theory, but need to think about how it interacts with restore includes/excludes, label selectors

WDYT about having a single goroutine responsible for updating progress, and the workers just report to that goroutine?

[2017-09-26 22:20] skriss opened #105 "Modify backup/Action interface"
Per https://github.com/heptio/ark/pull/54#issuecomment-324368048, it would be nice to update the Action interface.

@ncdc now that I'm looking again at what you were proposing I realized it's not what I originally thought it was. Should we just include the Backup as a field on the ActionContext, and keep allowing the Actions to modify it as necessary? Since we're not going to use an Options struct

[2017-09-27 11:43] mbroome commented on #104
I see it as a pretty rare occasion which is why I was thinking have it manually triggered by the ark client as needed.  That's why I did not adjust the sync period as it's not going to be a common occurrence.  But when you need to restore, its needed asap.

[2017-09-27 15:12] ncdc commented on #97
@jrnt30 I don't think I realized until your comment in the hooks design doc what you were saying about having an array of template refs. But I get it now, and it's an interesting idea.

[2017-09-27 15:13] ncdc commented on #105
Yes, I think putting the backup on the ActionContext makes sense.

[2017-09-27 15:17] ncdc commented on #104
@mbroome are you thinking something along the lines of `ark backup sync` or `ark sync backups`? Is it clear enough that that syncs from object storage to Backups? Do we need something a bit more informative in its name?

[2017-09-27 18:22] rosskukulinski commented on #75
@ncdc some initial thoughts on real-world workloads and how they should be backed up https://docs.google.com/document/d/18_E18Zo1Ud1ShVTnFbkd69gjZoYNNfMGE-VI9yBZmS0

[2017-09-27 18:25] SleepyBrett opened #106 "Allow Ark server to run in arbitrary namespaces"
Currently the Ark server component assumes that it's configuration is stored in api.DefaultNamespace (heptio-ark) with no way to override. As cluster admins we put these kind of tools into a 'utils' namespace and would like to do the same for Ark.

The server component should probably assume it's configuration is stored in the namespace it's deployed in. The client would need to support a namespac

[2017-09-27 19:16] ncdc commented on #106
To do this, we should
1. Use the in-cluster namespace for the ark server
1. Add `--namespace`/`-n` to the ark CLI
1. Optionally have `~/.arkconfig` or `~/.config/ark` as a means to set the default namespace so you don't have to type `--namespace` all the time

[2017-09-28 07:42] segeva opened #107 "Backup with PV on Azure failed"
Using Tag 0.4.0
I followed the instructions to test backup/restore of nginx without PV and this operation worked but the backup of nginx with PV failed as follows:
[code]
My modified files (nginx-app\with-pv.yaml, azure\10-ark-config.yaml and azure\00-ark-deployment.yaml) are included in the attached zip

[examples.zip](https://github.com/heptio/ark/files/1339869/examples.zip)

My K8s agent profil

[2017-09-28 13:43] ncdc commented on #107
@segeva how large are your managed disks? You may need to increase the Azure API request timeout in your ark config, something like this:
[code]

If you go into the Azure web console and create a snapshot, how long does it take? It's possible that the default 2 minutes is not enough.

[2017-09-28 17:22] dgoodwin commented on #15
We have a use case where we are handling automated backups for specific namespaces (actually archivals and transfers), but we do not have control over what is running in those namespaces and thus there wouldn't be any label we could reliably expect to help us filter out all the cluster resources. Might be a situation that could pop up for other users in situations where backups are handled by a se

[2017-09-28 17:28] ncdc commented on #15
Some ideas:
- split included/excludedResources to included/excludedNamespacedResources and included/excludedClusterResources (kinda icky)
- have a bool to indicate you want cluster-scoped resources (also kinda icky but I like it better than option 1)

[2017-09-29 13:21] dgoodwin opened #108 "Restore can complete but fail writing to etcd with request too large"
I created a backup for a specific namespace, and restored it into a rebuilt cluster. My particular cluster may contain a larger than normal amount of cluster objects. (cluster role bindings, etc) I saw quite a bit of throttling request messages in the log.
[ark-restore.log](https://github.com/heptio/ark/files/1344456/ark-restore.log)

The restore completed, my namespace is restored (though failed

[2017-09-29 13:50] ncdc commented on #108
Can you grab the log for the restore itself (`ark restore logs <restore name>`)?

I'm thinking there are a couple of issues here:
1. We need to make the qps and burst configurable for the client the ark server uses
1. We may need to rethink how/where we store warnings and errors for a restore. I'm guessing that you had a ton of warnings and errors such that the overall `Restore` object was over th

[2017-09-29 13:52] ncdc opened #109 "Server's client qps and burst should be configurable"
The defaults from client-go are qps=5 and burst=10. We should make these configurable so the server's requests aren't necessarily throttled all the time (the user/operator should be in control).

xref #108
cc @dgoodwin

[2017-09-29 14:00] dgoodwin commented on #108
Adding restore log.
[restore.log](https://github.com/heptio/ark/files/1344571/restore.log)

Definitely looks like some interplay here with reloading all that cluster data, in this case it was an entirely new cluster and things are not entirely happy.

[2017-09-29 14:07] timothysc commented on #108
@dgoodwin are these really large lists?
If so, we should dbl-check where clayton's paging work is at.

[2017-09-29 14:11] ncdc commented on #108
@timothysc the problem is we store the "lists" as structured data within restore.status

[2017-09-29 14:13] ncdc commented on #108
I'm thinking of some ways around this:
1. Store only # of warnings & # of errors in restore.status
1. Users can download the restore log if they want to see warnings & errors (they'd have to sift through it), OR
1. We could store the structured data for warnings & errors in object storage and make it easy to combine that information with what's in etcd; e.g., `ark restore get --details` could grab

[2017-09-29 14:14] ncdc opened #110 "Don't restore default service accounts or their associated secrets"
These will be created automatically by the control plane

cc @dgoodwin

[2017-09-29 14:18] dgoodwin commented on #110
Ideally some way to configure what constitutes a default service account. OpenShift side we have a couple additional ones we don't want to recreate. I don't think these are annotated today, but it would be nice if they and "default" were.

This gets pretty close to the need to plug-in custom restorer logic, what to skip, what to transform, and what to merge.

[2017-09-29 14:22] ncdc commented on #110
I once had a vision of externalizing all the restoration logic to some sort of config file with a DSL, but that's obviously a lot more work than what we did for the initial alpha release. Hopefully however we design pluggable external backup actions & restorers will facilitate things like this for you in OpenShift.

[2017-09-29 18:56] dgoodwin opened #111 "Support restore priority for some namespace resources over some cluster resources."
Original problem surfaces as a restore error on OpenShift with:

[code]

A second restore will correct the problem as the first one created the dependent service account.

In this case we need service accounts restored before these cluster scoped oauthaccesstokens. However, adding these to the resource priorities does not work as all cluster resources are processed first. See: https://github.com/h

[2017-09-29 19:03] ncdc commented on #111
@skriss I'm thinking it may be easiest to change the backup tarball format to store first by resource, then by namespace. This will allow us to appropriately prioritize all resources, regardless of cluster- vs namespace-scoped.

Otherwise, we would need to do 2 passes through the `cluster` and `namespaces` directories:
1. Pass 1: handle prioritized resources
1. Pass 2: handle everything else

Sort

[2017-09-29 19:43] ncdc commented on #111
If we do make the change to the backup format, I also want to consider including the `Backup` in the tarball (so we have the snapshot info). And I definitely want to make sure the backup version is included in a file in the tarball (either in the Backup resource, or separately).

[2017-10-01 23:51] segeva commented on #107
After increasing the apiTimeout as suggested the backup with the PV works OK.
Restore operation for this backup works as expected.

[2017-10-01 23:51] #107 closed

[2017-10-02 12:44] dgoodwin commented on #111
The oauth access token in question:

[code]

[2017-10-02 13:44] ncdc commented on #111
@dgoodwin and the jenkins SA has no reference to this resource?

[2017-10-02 14:07] dgoodwin commented on #15
Another interesting side effect of the cluster objects, if you backup just a namespace with something like: `ark backup create jenkins-4 --include-namespaces jenkins`, (note no label selector) and you have more than one project using a persistent volume, you will get a snapshot created for every PVC in the cluster.

Could we generalize that if the backup specifies namespaces, only snapshot pvc's f

[2017-10-02 14:08] ncdc commented on #15
@dgoodwin yes, we are planning on that. WIP in #65

[2017-10-02 14:17] dgoodwin commented on #111
Service account looks like this:

[code]

[2017-10-03 12:23] dgoodwin commented on #111
Regarding storing first by resource then by namespace, am I understanding that this would mean:

[code]

Would become:

[code]

Possibly with all of those in a "resources/" sub-dir or similar to isolate them from any other data in the backup?

Then the current mechanism for prioritizing and ordering resources would apply across both cluster level and namespace level resources.

[2017-10-03 12:36] adiletmaratov commented on #101
The same problem on GCP. When I got a gcloud disk, which is in a different zone, it just says `not found` instead of looking for all available zones in that cluster

[2017-10-03 14:01] ncdc commented on #111
I think something like this:
[code]

That might make it slightly challenging to know if we're dealing with a cluster- or namespace-scoped resource when we're walking the directory tree. We will likely either need some slight modifications to that structure to make that easier, or we could write out a file such as `.ark` in each resource directory that contains relevant metadata (cluster or namespa

[2017-10-03 14:02] ncdc commented on #111
And yes +1 to prioritizing across all resources, regardless of scope

[2017-10-04 23:35] skriss commented on #105
will address this as part of #65 since the interface will be changing for that

[2017-10-05 16:06] #70 closed

[2017-10-05 16:08] ncdc opened #114 "Convert backup logs to use logrus"

[2017-10-05 16:08] ncdc opened #115 "Convert restore logs to use logrus"

[2017-10-05 16:09] ncdc opened #116 "All log messages need either file:line or a component field"
This is confusing re caches - we don't know the source of the messages:
[code]

[2017-10-05 16:10] ncdc opened #117 "Add a traceID to the log context each time a controller begins to process an item from its queue"
WDYT @skriss?

[2017-10-05 16:14] ncdc opened #118 "Add a command line flag for the logrus log level for the ark server"
I'd probably go with `--loglevel` or `--log-level`.

[2017-10-05 16:33] jamiehannaford opened #119 "OpenStack storage backend"
Would be great to have some kind of storage driver for OpenStack Cinder and Swift that uses gophercloud. What do folks think? I might have time to help out with this, but just wanted to open a tracking issue for feedback and visibility

[2017-10-05 16:34] ncdc commented on #119
@jamiehannaford thanks for the idea! Are you thinking this would be an object storage provider, where the backup tarballs go?

[2017-10-05 16:35] ncdc opened #120 "Remove --logtostderr and --v 4 from deployment yaml"
Or if we don't want to remove them, at least lower the v level to 2

[2017-10-05 16:41] jamiehannaford commented on #119
@ncdc Yeah exactly. So basically a new dir in [`pkg/cloudprovider`](https://github.com/heptio/ark/tree/master/pkg/cloudprovider) that implements the object storage interface. You can also implement an block storage provider for OpenStack for Ark snapshotting.

[2017-10-05 16:43] ncdc commented on #119
@jamiehannaford that would be cool! If you've got spare cycles to work on this, we'd be happy to review a PR. Otherwise, we'll be working on a roadmap for future features over the next week or so, and we'd add this to list for prioritization.

[2017-10-05 20:26] ncdc opened #121 "Add opentracing support"

[2017-10-06 16:02] #71 closed

[2017-10-09 15:13] jamiehannaford opened #124 "Possibility of abstracting CRD/controller into common lib?"
This is more of a question than anything else but I was wondering if folks think there's enough common ground to abstract controller/CRD logic into a common library. A few months ago I wrote up a [proposal for a new community project](https://docs.google.com/document/d/1NJhFcNezJyLM952eaYVcdfIQFQYWsAx4oTaA82-Frdk/) that provides helper functionality and abstractions so that people don't need to du

[2017-10-10 13:36] timothysc commented on #124
This is generally a good thing provided the abstraction doesn't bloat and can live on it's own.

[2017-10-10 13:47] ncdc commented on #124
@jamiehannaford agree with Tim - if we can make it simple, easy to use, and small.

[2017-10-10 17:45] dgoodwin commented on #111
Would pods/namespaces/foo/ and storageclasses.storage.k8s.io/cluster/ make things more clear?

[2017-10-10 17:49] ncdc commented on #111
Maybe pods/foo/pod.json and storageclasses.storage.k8s.io/cluster/sc.json. That way the nesting level is always the same?

[2017-10-10 17:51] dgoodwin commented on #111
Sounds good to me. Working on this now.

[2017-10-10 17:55] dgoodwin commented on #111
Might be a problem if someone used a namespace "cluster", do we want/need to be able to look at a dir and know if it's cluster or namespace scoped just from the file structure?

[2017-10-10 17:57] ncdc commented on #111
That is one of my concerns, and the reason I suggested a `.ark` metadata file.

If we went with your suggestion, for a given resource directory, we could check for the existence of either "namespaces" or "cluster", and whatever existed would indicate which it is. Maybe that's better?

[2017-10-10 17:59] dgoodwin commented on #111
Not crazy about the differing levels but I think I'd trade it for being able to eyeball it and know implicitly what I'm looking at, I'd go with pods/namespaces/foo/pod.json I think.

[2017-10-10 17:59] ncdc commented on #111
@skriss any opinions?

[2017-10-10 20:18] #116 closed

[2017-10-10 20:18] #118 closed

[2017-10-10 20:18] #120 closed

[2017-10-10 21:17] #114 closed

[2017-10-10 21:17] #115 closed

[2017-10-10 23:28] skriss commented on #15
@ncdc @dgoodwin WDYT about a three-way flag for cluster-scoped resources (this is inline with our `--snapshot-volumes` flag):

`--include-cluster-resources=true`: include them in the backup (assuming they're included per included/excluded resources)
`--include-cluster-resources=false`: don't include them in the backup (this would take precedence over included/excluded resources)
`--include-cluster

[2017-10-11 00:04] skriss commented on #101
Fixed by #102

cc @adiletmaratov

[2017-10-11 00:04] #101 closed

[2017-10-11 12:16] dgoodwin commented on #15
Sounds ok to me especially if it's matching established precedent.

My situation actually boiled down to needing to exclude all but a few cluster level resources, but I think the above would be generally useful just the same.

[2017-10-11 13:30] ncdc commented on #15
SGTM

[2017-10-11 17:01] skriss commented on #15
@ncdc this will be a breaking change when specifying included namespaces, but I think it's a reasonable break given what it is and where we are - do you agree?

[2017-10-11 17:13] ncdc commented on #15
I think it's reasonable. I also think `auto` should really be "do our best to back up every cluster-scoped resource that is relevant to the set of items being backed up". In the short term, that means traversing from pod to pvc to pv to get the relevant PVs. Longer-term, I could envision us having some sort of model where we do something like this:

1. Set resource priorities to ...,serviceaccount

[2017-10-11 17:22] #105 closed

[2017-10-11 17:56] skriss commented on #15
do you agree that if the flag is set to false, then PV's should not be captured as part of their PVCs?

[2017-10-11 18:05] ncdc commented on #15
Ugh, this is where it gets messy. Maybe it would be easier if we only had 2 modes - you get all cluster-scoped resources based on --include-resources and --exclude-resources, or you only get those associated with what is being backed up? That way, at least you don't get surprised when you say "false" and expect to still have your PVs? Or is that equally confusing?

[2017-10-11 18:19] skriss commented on #15
I actually think that "false -> no PVs" makes sense and isn't messy:

If you're backing up 1 or multiple namespaces:
* `--include-cluster-resources=true`: same as current behavior (cluster-scoped resources will be included according to included/excluded resources, label selector)
* `--include-cluster-resources=false`: NO cluster-scoped resources will be included in the backup
* `--include-cluster-

[2017-10-11 18:20] ncdc commented on #15
ok, now that you spelled it out, sgtm

[2017-10-11 18:23] skriss commented on #15
then over time, per your previous comment, we can improve the behavior of "auto" to be more intelligent about cluster-scoped resource selection

[2017-10-11 19:46] chuckbutler opened #130 ""default" ServiceAccount isn't restored with image pull secrets"
This may be a duplicate of #111 but seems like its isolated enough to be its own issue.

When making tightly specific backups of objects with ark, the assumption is that they would be restored whole-sale over any existing objects. I started experimenting with:

[code]

To ensure we are omitting any CLUSTER level meta objects, and things we dont necessarily need. The backup completed successfully a

[2017-10-11 19:50] ncdc commented on #130
@chuckbutler can you `kubectl describe sa/default -n qa-pr` in the source cluster?

[2017-10-11 19:51] ncdc commented on #130
I'm wondering if either of these is the issue?
[code]

[2017-10-11 19:52] chuckbutler commented on #130
From the source cluster:

[code]

[2017-10-11 19:53] chuckbutler commented on #130
I'm wondering if the mistmatch in tokens is the culprit.  It could be attempting to create the SA however its failing because those token id's have changed.

[2017-10-11 19:54] ncdc commented on #130
The kube token controller is responsible for creating default tokens, and we expect that to change. I don't believe we've specifically tested image pull secrets, so it could be we need to do something to support them.

[2017-10-11 19:58] ncdc commented on #130
In the new cluster, what does `kubectl -n qa-pr get secrets` show?

[2017-10-11 20:01] chuckbutler commented on #130
[code]

[2017-10-11 20:18] ncdc commented on #130
@chuckbutler I just did a small test where I created a new namespace, non-default serviceaccount, and linked an imagePullSecret to it. The restore succeeded. I did the same test with the default serviceaccount, and it reproduces as you described above. So this has something to do with the default serviceaccount.

[2017-10-11 20:21] ncdc commented on #130
Ok I see what's going on. If you `ark restore get <restore name> -o yaml`, I'm betting you'll see a warning that looks like this:
[code]

Can you confirm?

[2017-10-11 20:27] chuckbutler commented on #130
[code]

#nailedit

[2017-10-11 20:27] ncdc commented on #130
Ok, this is a specialized case of #74

[2017-10-11 20:39] ncdc opened #131 "Move validation from controllers to pkg/backup, pkg/restore"
Make the validation the first thing we do in Backup() and Restore(). WDYT @skriss?

[2017-10-11 20:49] skriss commented on #131
yeah, makes sense to me to put it in the library

[2017-10-12 08:17] woop commented on #106
@ncdc Can I work on a PR for (1) and (2)?

[2017-10-12 11:11] ncdc commented on #106
Definitely, thanks!

On Thu, Oct 12, 2017 at 4:17 AM Willem Pienaar <notifications@github.com>
wrote:

[2017-10-12 11:21] ncdc commented on #106
If there’s anything that you think needs discussion before coding, feel
free to raise that here first.

On Thu, Oct 12, 2017 at 7:11 AM Andy Goldstein <andy@heptio.com> wrote:

[2017-10-12 19:19] ncdc commented on #110
We probably do need to restore the default SA, but have a way for it to be merged into the new one created automatically by Kube

[2017-10-12 19:21] dgoodwin commented on #110
We hit this as well, merging customized image pull secrets between the old and new was the only use case we'd discovered so far but I'm sure there are more.

[2017-10-12 19:45] ncdc commented on #110
Our thinking is to have custom pluggable conflict resolution handlers. We'll have some OOTB ones. Maybe even have one where you can just specify fields to copy over wholesale from the backup to what's in the new cluster (e.g. image pull secrets).

[2017-10-17 18:20] ncdc opened #133 "Switch to an interface for the logger"
Not that we want to switch impls again, but it's annoying to pass around `*logrus.Logger` vs `*logrus.Entry`. Let's move to an interface and call it a day.

cc @davecheney b/c I know you'll love this 😄

[2017-10-17 18:22] ncdc opened #134 "Backup tarball should include backup version in a file"
Let's put it in `backup-version`

[2017-10-17 18:27] ncdc opened #135 "Convert to plugins"
We should convert the following interfaces to plugins:
- backup actions
- restore actions (restorers)
- object storage provider
- persistent volume provider

This will allow integrators to provide custom logic without having to recompile Ark.

We need to make it easy for the Ark pod to be able to locate "sidecar" plugins, e.g. maybe something like:
1. Define a volume + volumeMount
1. Define an ini

[2017-10-17 18:28] ncdc commented on #106
@SleepyBrett @woop just checking in - are either of you working on this? Thanks!

[2017-10-17 18:31] ncdc commented on #15
@skriss do you think we've addressed this and can close it?

[2017-10-17 18:32] ncdc commented on #75
PR for this: #112

[2017-10-17 18:33] ncdc commented on #111
Fixed by #132

[2017-10-17 18:33] #111 closed

[2017-10-18 00:19] davecheney commented on #133
How about this as a middle ground.

1. define something like `internal/log.Logger` as an interface which looks very close to logrus's api
2. use that for new development

..
..
..

99. revisit the methods in use and try to trim down the interface api later?

[2017-10-18 03:38] woop commented on #106
@ncdc I'm not actively working on this. Bit short on time. I'll swing back when I have more free time.

[2017-10-18 16:21] skriss opened #136 "implement --include-cluster-resources for restores"
#128 implemented this flag for backups; this is useful for restores also. Implement.

[2017-10-18 17:55] skriss opened #137 "remove clock from volume_snapshot_action"
I'm 99% sure https://github.com/heptio/ark/blob/master/pkg/backup/volume_snapshot_action.go#L38 is obsolete and can be removed. Double-check that this is right, and fully remove it.

[2017-10-19 20:02] ncdc opened #138 "pkg/backup should default backup.spec.ttl if it isn't present"
If you create a backup by hand and then use `kubectl create -f backup.yaml`, and the backup does not have any value for spec.ttl, it ends up being garbage collected the next time the gc controller runs, because it has no ttl and we end up setting the expiration to "now". We should probably default a backup's TTL in pkg/backup if it's not set.

[2017-10-19 22:29] rji opened #140 "Add support for AWS IAM Instance Profile Auth"
According to https://github.com/heptio/ark/blob/bb5088f5/docs/cloud-provider-specifics.md#aws, Ark requires the user to create and provide AWS access keys as Ark configuration parameters. In some environments, users are prevented from doing this, either by policy or by other site-specific technical measures.

That said, I'd like to request a feature.

As an Ark user, I want to be able to use [AWS

[2017-10-20 01:49] ncdc commented on #140
Hi @rji, thanks for your feedback! We use this AWS session creation flow: https://github.com/heptio/ark/blob/b7c35551d7e5ef65f37a4fa2a93154e594471729/vendor/github.com/aws/aws-sdk-go/aws/session/session.go#L417-L471, so if that supports IAM instance profiles, you'll be able to take advantage of them right away (e.g., if you wanted to used an assumed role, Ark supports that). If that flow doesn't h

[2017-10-20 01:51] ncdc commented on #140
I should clarify that we don't currently allow you to configure anything via the AWS Go Config/Session-related structs, but we support any of the environment variables the SDK does (which allows for things like assumed roles).

[2017-10-20 06:04] ShadoWalker898 opened #142 "ark backup create issue."
Hi Folks,

I have installed heptio-ark in gcp kubernetes cluster. But when I execute "ark backup create nginx-backup --selector app=nginx" i get below errors. Can someone please help.

PS: Im in Ark root dir.

[root@shadownet ark-master]# ark backup create nginx-backup --selector app=nginx
dirname: missing operand
Try 'dirname --help' for more information.
basename: missing operand
Try 'basename -

[2017-10-20 11:34] ncdc commented on #142
@ShadoWalker898 it sounds like you don't have your `KUBECONFIG` environment variable configured. Could you please try setting that appropriately and see if the error goes away?

[2017-10-20 15:31] rji commented on #140
Oh interesting, thanks for the tip (and quick response) @ncdc! Reading through the code you linked to, I'm fairly certain this will work for us. For the time being, I'm going to close this issue since I don't think there's any action that needs to be taken, other than perhaps clarification in the AWS docs. If that isn't the case, we can always re-open it and contribute something back (docs or othe

[2017-10-20 15:31] #140 closed

[2017-10-20 15:32] ncdc commented on #140
Sounds good, thanks @rji!

[2017-10-20 16:00] #75 closed

[2017-10-20 16:03] skriss commented on #15
@ncdc yeah I think so. we may make further improvements to the "auto" behavior down the line but we can track separate issues if/when we do that.

[2017-10-20 16:04] skriss commented on #15
closing.

[2017-10-20 16:04] #15 closed

[2017-10-20 19:06] #73 closed

[2017-10-23 17:55] #136 closed

[2017-10-24 04:32] ShadoWalker898 commented on #142
I executed below command but nothing returned.

alias ark='docker run --rm -u $(id -u) -v $(dirname $KUBECONFIG):/kubeconfig -e KUBECONFIG=/kubeconfig/$(basename $KUBECONFIG) gcr.io/heptio-images/ark:latest'

and KUBECONFIG environment variable configured as below

[root@shadownet ~]# echo $HOME/.kube/config
/root/.kube/config

[2017-10-24 11:12] ncdc commented on #142
What does ‘echo $KUBECONFIG’ show?

On Tue, Oct 24, 2017 at 12:32 AM ShadoWalker898 <notifications@github.com>
wrote:

[2017-10-24 11:13] ShadoWalker898 commented on #142
It shows nothing. It's empty...

[2017-10-24 11:14] ncdc commented on #142
You need to set it.

On Tue, Oct 24, 2017 at 7:13 AM ShadoWalker898 <notifications@github.com>
wrote:

[2017-10-24 11:18] ShadoWalker898 commented on #142
Its like this. I have setup google cloud sdk shell in a centos vm. And from it i setup heptio-ark. So how to set the $KUBECONFIG path ?

[2017-10-24 11:22] ncdc commented on #142
`export KUBECONFIG=$HOME/.kube/config`

Alternatively, you can download the source code and compile ark yourself:
[code]
At this point, you'll have `_output/bin/ark` that you can copy wherever you want and run it without using the `alias`. In either v0.5.0 or v0.6.0 we will be producing binaries you can download from the GitHub release, so this will be easier soon.

[2017-10-24 23:52] skriss opened #149 "missing ca-certificates in ark:master container image"
Looks like [adding ca-certificates](https://github.com/heptio/ark/commit/710e537dd3f3bc57933c2e975aae4cab0b628259#diff-bffaae65aa3c12762f8a3bca694d875bL18) fell through the cracks with the build changes.

[2017-10-25 16:01] #149 closed

[2017-10-26 14:57] ncdc commented on #46
Fixed by #148

[2017-10-26 14:57] #46 closed

[2017-10-26 15:16] ncdc opened #155 "Add JSON schema validation for Ark's custom resources"
See https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#validation for more details.

It's an alpha feature in Kubernetes 1.8, and must be enabled by the cluster administrator for the apiserver. We therefore can't rely on it right now, but it's worth having so that once this feature is enabled by default, we can.

[2017-10-26 19:01] #137 closed

[2017-10-27 13:34] nikhita commented on #155
@ncdc I noticed the `help wanted` label on this issue. Can I take it up once it's moved to beta (https://github.com/kubernetes/kubernetes/issues/53829) and enabled by default? :smile:

[2017-10-27 13:43] ncdc commented on #155
@nikhita yes please!!! We'd actually love it if you wanted to do it sooner, as like I wrote above, we won't require that it be there until it's enabled by default, but we'd like to take advantage of it if we can. Thanks!

[2017-10-27 14:30] ncdc opened #158 "Refactor pkg/restore to match pkg/backup structure"

[2017-10-27 15:18] ncdc opened #159 "Log ark version when server starts"

[2017-10-27 15:36] ncdc opened #160 "Label selector is ignored when getting backups and restores"
We have a flag for the label selector, and a variable to hold the value, but we aren't passing it to the List call.

[2017-10-27 15:58] ncdc commented on #142
@ShadoWalker898 we released v0.5.0 yesterday, and you can download binaries from the release page. Please try one out and let us know if it works for you. Thanks!

[2017-10-27 17:07] lli-hiya opened #161 "KmsKeyId can be alias as well"
In the Config, we can specify KmsKeyId to allow for encryption and I accidentally find that if we give `alias/<alias-name>` in that field, it still works. But from the source code I didn't find any clue for this. Can someone help me verify this? Then I can create a PR to fix documentation.

[2017-10-27 17:45] mattmoyer commented on #161
We end up passing the key "ID" to [`s3:PutObject`](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html) ([here](https://github.com/heptio/ark/blob/87f60ed853d70d618ef2987ccbbe88f827559fe1/pkg/cloudprovider/aws/object_storage_adapter.go#L79-L83)) which seems to allow KMS aliases as well as fully-specified KMS key ARNs. I haven't found where AWS documents that explicitly, but I'm +1 o

[2017-10-27 19:17] jfoy commented on #161
From http://docs.aws.amazon.com/kms/latest/developerguide/programming-aliases.html:

[2017-10-30 19:29] skriss commented on #161
Fixed by #163

[2017-10-30 19:29] #161 closed

[2017-10-30 19:31] skriss commented on #93
No longer an issue a/o #148

[2017-10-30 19:31] #93 closed

[2017-10-30 20:41] ncdc commented on #119
PR: #164

Removing `help wanted` label since there's a PR

[2017-10-31 01:49] #95 closed

[2017-10-31 18:19] skriss opened #167 "[Feature] Support storing Ark backups within a sub-dir of object storage buckets"
Right now Ark only supports storing backups within the root of an object storage bucket. It would be nice to support storing them within sub-dirs as well.

[2017-10-31 18:24] skriss opened #168 "Headless services don't get restored properly"
The clusterIP for services is always deleted on restores, which has the effect of turning headless services into non-headless. The delete should only be for non-headless.

[2017-10-31 18:30] ncdc commented on #168
i.e. don't delete it if the value is `None`

[2017-10-31 20:21] nrb commented on #160
I'll grab this as a first PR. I believe I found the location (https://github.com/heptio/ark/blob/master/pkg/cmd/cli/backup/get.go#L52), but need to do some research into Cobra to grok how it fits together.

[2017-10-31 20:23] ncdc commented on #160
There, and pkg/cmd/cli/restore/get.go. Let us know if you need any pointers.

[2017-10-31 23:38] #160 closed

[2017-11-01 00:00] skriss opened #170 "Simplify example that uses PVs"
In https://github.com/heptio/ark/blob/master/docs/cloud-provider-specifics.md#snapshot-example-with-pvs, we have the user manually label their PV so that it matches the label-selector used in the Backup spec. This is no longer necessary as a result of #65, and we should remove it because it's slightly confusing and is a distraction from the demonstration of Ark functionality. Additionally, we *cou

[2017-11-01 13:38] ncdc opened #172 "Support pre/post backup and restore hooks"
These will be pre and post the entire backup. Options for what to run include
- webhooks
- exec command in container
- create new run-once pod

[2017-11-01 17:54] ncdc commented on #108
Here's what I have so far:
[code]

WDYT?

[2017-11-01 18:08] nrb commented on #108
@ncdc The format here looks good to me. I assume you're using option 3 of your previous comment for storing the data? That one seems like the best UX, as opposed to just throwing a potentially huge log at the user.

[2017-11-01 18:08] dgoodwin commented on #108
Really nice functionality and output, how would this work around the etcd request size issue?

[2017-11-01 18:09] ncdc commented on #108
The warnings and errors are stored in a gzipped file in object storage and
retrieved on the fly

On Wed, Nov 1, 2017 at 2:08 PM Devan Goodwin <notifications@github.com>
wrote:

[2017-11-01 18:11] dgoodwin commented on #108
Love it, seeing them broken out per ns/cluster/ark is fantastic. The describe subcommand threw me for a loop but forgot you can do whatever you want as it's not kubectl directly.

[2017-11-01 18:14] ncdc commented on #108
@nrb yes this is option 3, although using a new `describe` subcommand.

[2017-11-01 23:30] #168 closed

[2017-11-02 16:18] ncdc opened #176 "Namespace mappings is broken"
We're passing the wrong namespace name [here](https://github.com/heptio/ark/blob/c49d11f17a66c12117c2a621b9896c076e682e24/pkg/restore/restore.go#L354).

[2017-11-02 16:23] ncdc opened #177 "Add backup describe command"
After #173 merges, to use the new describe helper functions.

[2017-11-02 16:23] ncdc opened #178 "Add schedule describe command"
After #173 merges, to use the new describe helpers.

[2017-11-02 17:46] ncdc opened #181 "Replace testlogger.NewNullLogger with arktest.NewLogger"

[2017-11-02 19:03] ncdc commented on #142
As we discussed on Slack, you have a `/usr/bin/ark` that is being found in your `$PATH`, but this file comes from some other package and is not Heptio Ark. You'll need to make sure you are invoking the correct executable. If you still need assistance, please feel free to find us on Slack again. Thanks for trying out Ark!

[2017-11-02 19:03] #142 closed

[2017-11-02 19:58] #108 closed

[2017-11-03 11:47] ncdc commented on #135
Design doc: https://docs.google.com/document/d/112y6Z4qqeMgVguPtfBYva_3qhh0oBfkLkwkQLerOcbI/edit#

[2017-11-04 03:11] lukepatrick commented on #181
What did you have in mind here? NewLogger and NewNullLogger are of different types
e.g.
`func NewLogger() *logrus.Entry {
	logger := logrus.New()
	logger.Out = ioutil.Discard
	return logrus.NewEntry(logger)
}`

and

`// NewNullLogger creates a discarding logger and installs the test hook.
func NewNullLogger() (*logrus.Logger, *Hook) {
	logger := logrus.New()
	logger.Out = ioutil.Discard
	return lo

[2017-11-04 11:30] ncdc commented on #181
@lukepatrick we'll probably do this as part of #133

[2017-11-07 22:55] ncdc commented on #49
It needs to be able to list the contents of an s3 bucket, put objects, get objects, delete objects. It needs to be able to describe ebs volumes, create ebs volumes, create ebs snapshots, delete ebs snapshots. There may be more, that should should cover most of it.

[2017-11-07 23:19] blakebarnett commented on #49
Does it need to be able to create arbitrary buckets or can it be limited to just the one it's given in the config?

[2017-11-08 00:12] evaldasou opened #189 "Restore - PersistentVolumeClaim in the different namespace"
Hi!

Thanks again for the great tool!
However, I have been testing some snapshotting and I found that we cannot restore backup to different namespace if it has PersistentVolumeClaim ?

After I restore deployment to different namespace (and this backup has persistent storage and persistent volume claim) :

[code]

Is there any workarounds to get this working in new namespace ?
Thanks! :)

[2017-11-08 00:29] blakebarnett commented on #49
seems to be working, here's the policy made for reference:
[code]

I'll try pairing it down further and see what breaks.

[2017-11-08 00:53] ncdc commented on #49
No, Ark does not create buckets.

[2017-11-08 02:48] skriss commented on #189
hi @evaldasou, this should be possible. If you could provide the output from the following it would help in debugging:
[code]

Also, was the PersistentVolume(s) deleted between backup & restore?

thanks!

[2017-11-08 13:18] evaldasou commented on #189
Thanks @skriss .
Actually I get the same result : if original PV exists or if it is deleted.
Pod status pending, Persistentvolumeclaim "test-prod-mongo-mongodb" not found (repeated 8 times)

I am trying to achieve this :
[code]

Commands I use:
Create backup:
 `ark create backup test-prod-backup-3 -l app=test-prod-mongo-mongodb --include-namespaces test-prod --snapshot-volumes`
Restore backup to d

[2017-11-08 14:11] evaldasou commented on #189
So probably, my question at the moment is , why it skips to backup Persistent Volumes if namespace is specified (as in log):
`Skipping resource because it's cluster-scoped and only specific namespaces are included in the backup" backup=heptio-ark/test-prod-backup-4 group=v1 groupResource=persistentvolumes`

However,If I do backup, without namespace option (then I see no logs about persistent volum

[2017-11-08 14:26] evaldasou commented on #189
Also,  still no volumes in backup if I run (with **--include-cluster-resources**) :
`ark backup create test-prod-backup-7 -l app=test-prod-mongo-mongodb --snapshot-volumes --include-cluster-resources`

I also have tried restore command with "--include-cluster-resources" too. No volume created.

[2017-11-08 14:37] tomplus opened #190 "monitoring scheduled backups"
I don't see any option to monitor Ark, especially if scheduled jobs are performed. Is it possible now or would be in the future ? An endpoint with metrics exposed by BackupController would be very helpful and easy to integrate with Prometheus.

Thanks.

[2017-11-08 14:39] ncdc commented on #190
Hi @tomplus, thanks for your feedback. We already have an open issue about adding metrics in Prometheus format - #84. Would you be ok if we closed this and you added your feedback to the other issue?

[2017-11-08 14:40] ncdc commented on #189
@evaldasou I will try to reproduce your issue and report back when I have an update. Thanks in advance for your patience!

[2017-11-08 14:45] tomplus commented on #190
Ups, sorry :) I really, really tried to find it. I close it now. Thanks.

[2017-11-08 14:45] #190 closed

[2017-11-08 14:45] evaldasou commented on #189
Thanks @ncdc !
Also, I use GCP and I left storage class is by default (standard). Should I label my volumes as it was required in this example? https://github.com/heptio/ark/issues/170

[2017-11-08 14:46] ncdc commented on #189
@evaldasou you should not have to label your volumes any more, if things are working as we intend them to 😄 . What version of ark are you running?

[2017-11-08 14:47] evaldasou commented on #189
cool! @ncdc I am using latest ark 0.5.1 and my nodes runs on Kubernetes 1.7.8

[2017-11-08 16:51] ncdc commented on #189
@evaldasou does your PVC have the label `app=test-prod-mongo-mongodb`?

[2017-11-08 17:15] ncdc commented on #189
@evaldasou I'm guessing that's the issue - it doesn't have the label. Unfortunately nothing is logged currently when items don't match the selector, but I've opened #191 to help with that in future versions. What you should see now, when we back up a PVC, is something like this:

[code]

Note that it's expected to see `time="2017-11-08T13:54:38Z" level=info msg="Skipping resource because it's clus

[2017-11-08 17:19] evaldasou commented on #189
hey @ncdc , thanks!
Yes , there was no label. However, I just added the label on PVC and did backup and restore again.
In my new namespace PVC got created, but it cannot proceed (because volume still exists in prod-test namespace (where I did backup from)):
[code]

[2017-11-08 17:25] ncdc commented on #189
@evaldasou PersistentVolumes are cluster-scoped resources, so it's not a namespace issue. It's actually that you're running into a use case we don't currently support. What Ark is trying to do is point your newly-restored PVC to the same PV that already exists and is already bound to the original PV.

Would you mind if we create a new issue where we can discuss if/how to support this use case?

[2017-11-08 17:30] evaldasou commented on #189
thanks @ncdc that's sad but I am very grateful for Your fast & awesome support! :+1:  :)

Yes, I would like us to have a feature, where we can restore backup and create new volume (with all the backup data).
This would help to test backups in multiple environments (namespaces) at the same time.

[2017-11-08 18:40] ncdc opened #192 "Support restoring a PV into the same cluster"
Forked from #189

Scenario:
- PVC in namespace _N1_, bound to PV _P1_
- Create backup (snapshotting the PV)
- Restore backup, remapping namespace _N1_ to _N2_
- Have the PVC in _N2_ reference a **new** PV _P2_, created from _P1_'s snapshot

Currently, this is not possible, because Ark does not change the name of the PV when restoring it. The result is 2 PVCs both trying to claim the same (original

[2017-11-08 18:40] ncdc commented on #189
Let's move the conversation over to #192, thanks!

[2017-11-08 18:40] #189 closed

[2017-11-08 18:59] ncdc commented on #192
@rosskukulinski would you find this useful?

[2017-11-08 19:26] dgoodwin commented on #192
Our usage is planned to always delete a namespace after backup. (as we're using it to archive it) As such I don't think we'd hit a scenario where we backed up, but still had a live namespace using the PV.

However restoring with a remapped namespace and preserving the PV would definitely be useful, we don't plan to do this for a bit but it is on the radar. (I forget if Ark can handle remapped name

[2017-11-08 21:12] rosskukulinski commented on #192
@ncdc reading through #189, yes I think this would be a useful (and expected IMO) feature for CI/CD and testing use-cases.

As a more specific example, this feature request enables what you describe in the [ephemeral ci testing env w/ ark](https://blog.heptio.com/ephemeral-ci-testing-environments-with-heptio-ark-heptioprotip-f22171fa0bba) blog post but supports this behavior within a single cluste

[2017-11-08 21:57] evaldasou commented on #192
wow, awesome! So as @rosskukulinski mentioned , it looks like in Your blog post @ncdc,  [ephemeral ci testing env w/ ark](https://blog.heptio.com/ephemeral-ci-testing-environments-with-heptio-ark-heptioprotip-f22171fa0bba) - it is supported to do this type of restore from one cluster to another? (without deleting original PV/PVC?). I am going to test this!

Regarding new feature, I think there sho

[2017-11-08 22:04] ashish-amarnath commented on #106
I can try to get this done.
My approach, for the server, was to inject the namespace into the server as an environment and read the environment variable, if it exists, else use the default namespace. @ncdc Can you elaborate on

Is this an option for one of the kubernetes APIs?

[2017-11-08 22:04] ashish-amarnath commented on #106
My approach, for the server, was to inject the namespace into the server as an environment and read the environment variable, if it exists, else use the default namespace. @ncdc Can you elaborate on

Is this an option for one of the kubernetes APIs?

[2017-11-08 22:05] ashish-amarnath commented on #106
My approach, for the server, was to inject the namespace into the server as an environment and read the environment variable, if it exists, else use the default namespace. @ncdc Can you elaborate on

Is this an option for one of the kubernetes APIs?

[2017-11-08 22:06] ashish-amarnath commented on #106
My approach, for the server, was to inject the namespace into the server as an environment and read the environment variable, if it exists, else use the default namespace. @ncdc Can you elaborate on "Use the in-cluster namespace for the ark server"
Is this an option for one of the kubernetes APIs? Not too familiar with using the k8s APIs.

[2017-11-08 22:06] ashish-amarnath commented on #106
My approach, for the server, was to inject the namespace into the server as an environment and read the environment variable, if it exists, else use the default namespace. @ncdc Can you elaborate on "Use the in-cluster namespace for the ark server"
Is this an option for one of the kubernetes APIs? Not too familiar with using the k8s APIs.

[2017-11-08 22:07] ashish-amarnath commented on #106
My approach, for the server, was to inject the namespace into the server as an environment and read the environment variable, if it exists, else use the default namespace. @ncdc Can you elaborate on "Use the in-cluster namespace for the ark server"
Is this an option for one of the kubernetes APIs? Not too familiar with using the k8s APIs.

[2017-11-08 23:22] skriss commented on #133
@ncdc logrus has a FieldLogger interface that both *Logger and *LogEntry implement. Do you want to use that, or have our own framework-agnostic interface?

[2017-11-09 13:44] tomplus opened #193 "Create GenericAWS base struct"
I use local Ceph installation as S3 compatible storage for backups and Ark works very well. However I have to define `region` which in this case is not necessary. I see that Ark needs it to create `s3url` if someone uses AWS. Or maybe you have a plan to use it somewhere in the future (support multiple regions or something) ... ?

[2017-11-09 14:34] ncdc commented on #106
@ashish-amarnath yes, it's part of client-go. Let me see if I can dig up the exact code you'll need.

[2017-11-09 14:48] ncdc commented on #133
@skriss I didn't realize that existed when I was doing the pkg/backup refactoring. I don't feel super strongly about that vs our own.

[2017-11-09 14:56] alemco opened #194 "Supporting cross region restore."
To do a restore in a different region some steps have to be done manually:

1. Copy the pv snapshots from current region to destination region.
2. Downloaded the backup files and modify the "ark-backup.json" file and change the snapshot-id to match the id of the destination and change the source region to destination region.
3. un-tar the backup tar"backup.tar.gz" file and modify region and zone i

[2017-11-09 15:00] ncdc commented on #194
This could maybe be something like `ark backup migrate --to-region=r --to-zone=z`. Will definitely need to think through what knobs we need and how to make it as easy as possible for the user.

This also looks similar in part to #103, now that it jogged my memory.

[2017-11-09 15:53] ncdc commented on #193
Hi @tomplus, thanks for your question. For AWS specifically, the region is required for S3 (ObjectStorageAdapter) and EBS (BlockStorageAdapter) operations. The `s3URL` is only used if you want to override aws-sdk-go's default endpoints for S3, which is necessary for something like Minio. I'm guessing you also need it for Ceph?

What happens if you specify some bogus value for region with your Ceph

[2017-11-09 16:33] ncdc commented on #106
@ashish-amarnath in pkg/client/client.go, replace the call to `clientcmd.BuildConfigFromKubeconfigGetter` with this:
[code]

That gives you a `clientcmd.ClientConfig`, upon which you can invoke `Namespace()`, and that will return the pod's namespace if you're running it in a Kubernetes cluster. You'll probably need to tweak it so that there's a `ClientConfig()` function that returns the `clientcmd

[2017-11-09 17:36] nrb commented on #193
I like option 2. I don't know if that could be handled via the plugin work that @skriss is currently doing, either now or in future iterations.

[2017-11-09 17:37] ncdc commented on #193
@nrb it certainly could. For an external plugin, you would vendor in the `GenericAWS` code into your repo.

I wouldn't want to try to do this as part of the conversion to plugins, though.

[2017-11-09 18:44] nrb commented on #193
That makes sense. Definitely easier to do once plugins are merged.

[2017-11-09 18:48] skriss commented on #133
yeah, I didn't realize it existed for awhile, else I would've used it to start with. I'd be comfortable with using that.

[2017-11-09 20:25] tomplus commented on #193
@ncdc Yes, I set some bogus value and backups are stored correctly. My config:

[code]

I like idea of `GenericAWS` too - It would be clear and easy to use.

[2017-11-09 20:26] ncdc commented on #193
@tomplus ok great! We can consider the generic approach after #188 merges

[2017-11-10 00:01] blakebarnett opened #195 "Default backup TTL of 24hrs is too short"
Maybe this is an edge case but I went to restore some backups I made from yesterday and was surprised to discover they were gone.  I suppose the expected use case is to start in restore-only mode so this wouldn't happen, but it does seem like a longer default TTL would make more sense, maybe 72h? A week?

[2017-11-10 00:04] skriss commented on #195
Thanks for the feedback, @blakebarnett. That's probably a good change to make to the default going forward. Care to submit a PR? :) No worries if not, we'll keep the issue open.

[2017-11-13 20:50] jimzim commented on #103
I just was going to post this as a feature request. :)

I just tried to do this from eastus to westus in Azure and started to think about how we could copy the snapshot and create the disk in the correct region.  We could possibly have a restore target config?  I also like the idea of creating multiple backups to other regions in case a region goes down or a cluster and its resources get deleted.

[2017-11-13 20:53] ncdc commented on #103
@jimzim this is definitely something we need to spec out and do! We've been kicking around the idea of a "backup target", which would replace the current `Config` kind. You could define as many targets as you wish, and when you perform a backup, you would then specify which target to use. There are some UX issues to reason through here...

[2017-11-13 20:53] ncdc commented on #194
I'm going to close this as a dupe of #103, and we'll continue to brainstorming there. Thanks!

[2017-11-13 20:53] #194 closed

[2017-11-14 17:29] skriss opened #197 "refresh the Ark config definition doc"
The config-definition doc is (IMHO) becoming unwieldy, particularly with recent changes to the Ark config. The nesting structure of the file has changed, so we're now using `/` to indicate sub-properties more frequently within this doc, which is not entirely clear. I think it's ready for a refresh, but would like to get input from a writer. Maybe we should add commented examples to this page?

[2017-11-14 17:36] skriss opened #198 "add an image tagging doc"
Contour has one of these: https://github.com/heptio/contour/blob/master/docs/tagging.md

We should add this to clarify our tagging policy.

[2017-11-14 18:31] ncdc commented on #195
How about 30 days?

[2017-11-14 18:44] blakebarnett opened #200 "Are restores automatically incremental?"
I saw some unexpected behavior when testing restores with version 0.5.1:

1. Created a backup named `e2e-1`
2. Deployed some stuff (ex. istio)
3. Created a backup named `e2e-2`
4. Deleted the cluster
5. Brought up a fresh minimal cluster
6. Restored backup `e2e-2`

When I ran `ark restore get` it listed both `e2e-1` and `e2e-2` as just `Completed`

I was expecting each backup/restore to be a compl

[2017-11-14 18:52] ncdc commented on #200
@blakebarnett this is what I would expect if you ran `ark backup get` - is there any chance that's what you did?

[2017-11-14 19:35] blakebarnett commented on #200
I did, doesn't that just list the backups?  If not that is very surprising. :)

[2017-11-14 19:39] ncdc commented on #200
You wrote "When I ran ark restore get it listed both e2e-1 and e2e-2 as just Completed", but if your backup is called `e2e-1`, then a corresponding restore would be called something like `e2e-1-20171114142940`.

Here is what I think happened - tell me if this is right?

1. Created backup `e2e-1`
1. Deployed some stuff
1. Created backup `e2e-2`
1. Deleted the cluster
1. Created new cluster
1. Resto

[2017-11-14 19:44] blakebarnett commented on #200
You're right they were the long-form unique names, but it was `ark restore get` that I ran in #7, and it showed both as completed when I had only requested `e2e-2`

[2017-11-14 19:45] ncdc commented on #200
Thanks for clarifying. Any chance you could try to reproduce, copying & pasting the exact commands and output (just the relevant ones - like `ark backup get` and `ark restore get` at various stages)?

[2017-11-14 19:53] blakebarnett commented on #200
Yep, will repro later today.

[2017-11-15 12:03] #195 closed

[2017-11-15 20:14] #159 closed

[2017-11-17 15:17] dgoodwin opened #205 "Add support for conflict handler plugins"
An issue exists with the default created service accounts. If customized in any way, and included in a backup, the backup copy will be skipped on restore as the cluster controllers have already recreated a new default service account in the namespace. As such any customizations are lost. Image pull secrets are a good example here.

Propose adding a new plugin type for handling conflicts, which can

[2017-11-17 15:21] ncdc commented on #205
Instead of `Prepare`, how about `Resolve`? Also going to need both the `fromBackup` and `inCluster` copies of the object.

As far as the patch goes, we could maybe let the handler return the fully modified version that needs to be patched. Ark could generated the patch bytes.

I don't think we need WaitForReady and Ready.

[2017-11-17 15:22] ncdc commented on #205
And we should have no-op be a valid resolution (which means use whatever's already in the cluster) - possibly by returning `nil` for the updated object.

[2017-11-17 15:24] ncdc commented on #205
xref #130

[2017-11-17 15:41] ncdc commented on #205
xref #74

[2017-11-17 21:35] blakebarnett opened #207 "Support specifying kube context"
Other tools like helm / stern allow specifying which context to use from `~/.kube/config`, this is especially helpful if you have many clusters defined in a single config.

Example of desired usage:
`ark --kube-context staging create backup foo-01`

[2017-11-20 16:32] stevesloka opened #208 "AWS Quickstart Docs"
Would be nice to have the quick start docs for AWS (https://github.com/heptio/ark/blob/master/docs/cloud-provider-specifics.md#aws) also provide steps on how to create the S3 bucket from command line to follow with the command line steps to create the IAM user / policy.

Also, would be a good practice to set the IAM policy to only allow access to that bucket and not all of S3.

[2017-11-20 16:34] ncdc commented on #207
@blakebarnett thanks for submitting this enhancement request! Is this something you'd be interested in working on, and would you have the time?

[2017-11-21 11:18] ipedrazas opened #209 "backing up & restoring cronjobs"
I've created and restored a backup and everything went well apart from restoring the cronjobs.

When you do the backup, you have entries like this one:

[code]

Note the `group=batch/v1`. Those cronjobs are not `batch/v1` but `batch/v2alpha1`:

[code]

When you try to restore the backup you have these messages:

[code]

This is the result of `kubectl api-versions`

[code]

[2017-11-21 14:45] ncdc commented on #209
@ipedrazas Ark backs up the API version that the apiserver says is its "preferred" version, which is `batch/v1` in this case. Can you run `ark backup download <backup name>`, untar it, and check to see what the job's apiVersion is stored as?

What versions of Kubernetes and Ark are you testing with?

We'll try to reproduce as well.

[2017-11-21 16:58] ncdc commented on #52
Some thoughts, so I don't forget them, for what `ark install` might look like:

- specify objectstore name (e.g. aws): `--object-store aws`
- specify objectstore bucket: `--object-store-bucket BUCKET`
- specify objectstore config: `--object-store-config region=foo,color=green` (comma-separated KV pairs)
- specify blockstore name (e.g. aws): `--block-store aws`
- specify blockstore config: `--block

[2017-11-21 17:17] ncdc opened #210 "Make it easy to add/remove plugins"
This is what I've been testing for a plugin installation mechanism:

1. Create a docker image (from alpine) that contains the plugin binaries in `/plugins` inside the image
1. Set the image's entrypoint to `["sh", "-c", "cp -a /plugins/* /target/."]` (this copies everything from `/plugins` to `/target`, where `/target` is actually a volume mount for `/plugins` in the `ark` container)
1. In the `ar

[2017-11-22 12:17] ipedrazas commented on #209
ark version
Version: v0.5.1
Git commit: v0.5.1
Git tree state: clean

Kubernetes version: 1.7.10

The cronjob `resources/cronjobs.batch/namespaces/default/jbr-master-job-runner-stsu.json`  contains `batch/v2alpha1`

[code]

I think it's what you mention about the "preferred" version. Clearly, the backup works, but then when you try to restore we have this error:

[code]
Which makes me think that `

[2017-11-22 12:25] ncdc commented on #209
Can you paste the output of ‘kubectl get --raw /apis/batch’?

On Wed, Nov 22, 2017 at 7:17 AM Ivan Pedrazas <notifications@github.com>
wrote:

[2017-11-22 13:26] ipedrazas commented on #209
[code]

[2017-11-22 15:44] ipedrazas commented on #209
Is there any way to change the "_preferred_" version?

[2017-11-22 16:10] ncdc commented on #209
That's up to the server, and it's hard-coded.

Can you gist/paste this: `kubectl get cronjob/<your cron job name> --v=8` (adjust the namespace, etc. as needed)

[2017-11-22 16:58] ipedrazas commented on #209
Here it goes

https://gist.github.com/ipedrazas/4b977023ee61681a016150ba8ef7decb

[2017-11-23 15:48] gargath opened #212 "How to delete / replace backups"
Hi,

I have a feeling that this is a really stupid question, but I haven't managed to find a conclusive answer in the docs:

How does one go about deleting or overwriting a backup object?
Can it just be deleted from S3 (in our case)?

An `ark backup delete` subcommand would be useful.

Thanks,

Phil

[2017-11-23 15:52] ncdc commented on #212
Thanks for trying out Ark! For now, if you delete from s3, it will
eventually be deleted from Kube too. We do plan to have a delete
subcommand, but haven’t gotten around to it yet. Hopefully soon!

On Thu, Nov 23, 2017 at 10:48 AM Phil Taprogge <notifications@github.com>
wrote:

[2017-11-23 16:01] gargath commented on #212
But to be clear, it is entirely safe to just delete the S3 folder corresponding to the backup?

[2017-11-23 16:42] ncdc commented on #212
If you’re fine not having the backup data any more, yes.

On Thu, Nov 23, 2017 at 11:01 AM Phil Taprogge <notifications@github.com>
wrote:

[2017-11-27 15:37] ncdc opened #214 "BlockStore: add way for plugins to tell Ark what a PV's volume ID is"
pkg/util/kube/utils.go currently hard-codes support for extracting the volume ID from a PV if and only if the volume type is for aws, azure, or gce. We need to add a new rpc method to the block store proto so plugins can tell Ark what the volume id is for a given PV.

[2017-11-27 21:29] #177 closed

[2017-11-27 21:29] #178 closed

[2017-11-29 14:06] ncdc commented on #135
This is mostly done. #214 should be the last piece.

[2017-11-29 14:06] #135 closed

[2017-11-29 14:51] ncdc opened #219 "Add docs on how to create a bucket for GCP"

[2017-11-29 14:51] ncdc opened #220 "Add docs on how to create a bucket for AWS"

[2017-11-29 17:48] ncdc opened #221 "Replace Update() calls with Patch()"
Patch is safer and less likely to blow away changes unintentionally.

- [ ] schedule controller
- [ ] backup controller
- [ ] restore controller
- [ ] download request controller

[2017-11-29 18:34] #214 closed

[2017-11-29 19:59] blakebarnett opened #224 "Restoring a PVC/PV using the default storageClass"
Ark v0.5.1
k8s v1.7.10

Currently we rely on the default storageClass to dynamically provision our EBS volumes.  Ark will happily snapshot them and even restore the PV and PVC, but because it's a default storageClass there's no volumeID specified, so the PVC happily creates a new PV and ignores the previous one.

My question is, if we set `volumeReclaimPolicy: Retain` and restore from an ark backu

[2017-11-29 20:00] ncdc commented on #224
Can you paste sample yaml for a PV and PVC?

[2017-11-29 20:26] blakebarnett commented on #224
Sure, here's a basic example without the reclaim policy set:

[code]

[code]

[2017-11-29 20:27] blakebarnett commented on #224
So for testing, I delete the cluster this volume is in (which deletes the PV because of the reclaimPolicy), the backup has a valid snapshot.  If I redeploy the cluster and install ark, then do a restore, the EBS volume gets recreated from the snapshot, but the PVC is using a new different PV.

[2017-11-29 20:31] #210 closed

[2017-11-29 20:32] ncdc commented on #224
Can you also share the `status` portion from `ark backup get <backup name>`?

[2017-11-29 20:34] ncdc commented on #224
Where are you seeing a lack of a volumeID?

[2017-11-29 20:35] blakebarnett commented on #224
Because we're using the default storageClass we don't specify the volume ID in the PVC.

[code]

[2017-11-29 20:35] ncdc commented on #224
That's normal/expected and Ark should work just fine with that.

[2017-11-29 20:37] ncdc commented on #224
Could you please check your restore's logs and paste anything related to `pvc-2b6fa8c6-d543-11e7-ad59-02df93e00a3a` (and a few lines of context before/after too)?

[2017-11-29 20:38] blakebarnett commented on #224
I suppose we should work around this by using

[code]

In our PVCs then?  It was just unexpected behavior to me that it recreated the EBS volume, but then didn't use it.

[2017-11-29 20:38] ncdc commented on #224
You may be running into a bug, but the expected behavior is that it will create a new EBS volume from the EBS snapshot, and associate it with the PV/PVC.

[2017-11-29 20:39] ncdc commented on #224
You shouldn't need to do anything with matchLabels, no. Let's keep debugging 😄

[2017-11-29 20:39] blakebarnett commented on #224
ok, doing another delete/restore to capture logs (sorry, didn't keep the old ones around due to the low TTL)

[2017-11-29 21:06] blakebarnett commented on #224
ok, it worked that time...  the difference being that this is on k8s 1.8.4 now (testing upgrades right now).

I was wondering if maybe this happens if the pod gets scheduled to a different AZ than the original PV was created in?  We have 3 AZs configured.

I'll try to recreate with 1.7 if you think that might be relevant.

[2017-11-29 21:22] blakebarnett opened #225 "Backups fail if PVCs are in `Lost` status"
We had someone "clean up" some EBS volumes without removing the PVC in Kubernetes, this makes backups fail with:

[code]

It seems like it should be non-fatal?

[2017-11-29 21:32] ncdc commented on #224
It could be something along these lines. We'll examine the code and see if anything stands out.

[2017-11-29 22:05] blakebarnett commented on #224
I am about 80% sure this was a my own dumb fault.  We have all our cluster configs in the same kubeconfig, and I believe I was actually backing up and restoring a different cluster than I was expecting because I forgot to set the current-context.

related: https://github.com/heptio/ark/issues/207

[2017-11-29 22:05] #224 closed

[2017-11-29 22:59] jimzim commented on #103
@ncdc Maybe we can discuss this briefly at KubeCon?  I have begun to make this work on Azure, but before I go too much further it would be good to talk about what your planned architecture is.

[2017-11-29 23:03] ncdc commented on #103
Sounds great!

On Wed, Nov 29, 2017 at 5:59 PM Jim Zimmerman <notifications@github.com>
wrote:

[2017-11-30 15:43] ncdc commented on #225
@skriss I'm guessing the flow here is the PVC action is adding the PV to the list of additional items, and then Ark can't find it. Do you think we should consider doing warnings & errors for backups, like we have for restores?

[2017-11-30 19:21] ncdc opened #232 "Clarify text printed after you create a backup or restore"
After you run `ark backup create` or `ark backup restore`, the responses are `Backup x created successfully.` and `Restore x created successfully.`. These are misleading, as it might sound like the backup/restore is done, when in fact it might still be in progress.

Maybe `Backup/Restore x submitted successfully.` would be better, possibly along with some text indicating that they can run `ark bac

[2017-11-30 19:21] ncdc opened #233 "Support watching/waiting for a backup/restore to finish after creating it"
Something like `ark backup/restore create foo --wait`. Could combine with #20 #21 to show progress updates as they occur.

[2017-12-01 23:23] jbeda commented on #103
This is very much what i'm thinking.  We need to think about backup targets, restore sources and ways to munge stuff with a pipeline.  Sounds like we are all thinking similar things.

[2017-12-04 16:17] etiennetremel commented on #212
I also agree with @gargath, it would be nice to have such feature, that would ease deletion of associated snapshots, for now we have to manually look for the ark tag and the creation date added to the snapshot.

[2017-12-04 16:20] ncdc commented on #212
This is definitely a feature we plan to add. We'd definitely welcome & appreciate pull requests if anyone has time. Otherwise, it's on our roadmap, and we will eventually implement it.

[2017-12-08 22:16] bdimcheff opened #238 "Git as a storage backend"
I'd love to see git support in ark similar to https://github.com/pieterlange/kube-backup.  Generally, kubernetes is great at the _present_ state of the system, but I think ark could give us some very powerful cluster history inspection if paired with git.  Imagine that instead of creating a record in an object store, it'd commit changes to a git repo and push it to github.

Some use cases that cou

[2017-12-09 02:26] ncdc commented on #238
Hi @bdimcheff, thanks for suggesting this! I think it's a very interesting idea. I'm not sure we're ready to try to do continuous watches, but I do think we could extract an interface to support custom backup persistence formats. Something along the lines of BackupStarted, PersistItem, BackupCompleted, RetrieveItem. Just some initial thoughts here, and more to come over the next few weeks once we

[2017-12-09 22:34] jhorwit2 opened #239 "Service accounts should be restored prior to workload controllers"
[code]

I ran a backup restore earlier and noticed that service accounts were not created before the workload controllers which causes the restore process to take longer and at first it makes it seem like the restore process had an issue. It'd be nice if there was some ordering of restores to avoid unnecessary events and further delay.

[code]

[code]

[2017-12-11 16:06] ncdc commented on #239
Recording our conversation from slack: it is possible to do this, but it's not a default setting. You can edit the config's `resourcePriorities`. The default, if unset, is `namespaces, persistentvolumes, persistentvolumeclaims, secrets, configmaps`. You would need to add `serviceaccounts` to this list. Anything not in the list is restored after all of these.

We will also do a PR to change the def

[2017-12-11 16:45] ncdc commented on #238
The current backup process looks like this:

1. A `Backup` resource is created
1. The `BackupController` in the `ark` pod sees the new `Backup`
1. The `BackupController` creates a temp file for the backup tarball
1. The `BackupController` tells its `backupper` (a `kubernetesBackupper` instance) to `Backup(backup *api.Backup, backupFile, logFile io.Writer, actions []ItemAction)`, passing in the bac

[2017-12-11 21:24] sauryadas opened #240 "ACS/AKS quick start docs"
It would be great to add this documentation. right now folks have to look in 2 places .
1) the generic quick start
2) Cloud provider specifics
    https://github.com/heptio/ark/blob/master/docs/cloud-provider-specifics.md#azure

[2017-12-11 21:32] ncdc commented on #240
Hi @sauryadas, thanks for your suggestion. We will be revamping our install & setup docs over the next few weeks. I believe, though, that you can just follow the cloud provider specifics for Azure and be good to go. If that's not the case, please let us know.

Note, we are aware we need to adjust one thing re AKS - we need to indicate that the resource group you set in the cloud-credentials file n

[2017-12-12 00:14] skriss commented on #209
@ipedrazas are you restoring into the same cluster that you're backing up from?

[2017-12-12 03:51] yingnanzhang666 opened #242 "restore objects without impacting data plane"
**Scenario:**
When etcd cluster lost all the data (such as disk issue), etcd cluster become unhealthy and didn't provide service. But all the data plane is still running.

**Wishes:**
In this situation, we wish recover control plane, but shouldn't impact the data plane, such as pod/services/etc.

**Actual:**
If using ark backup to restore, it will delete all the status of objects and recreate them

[2017-12-12 05:20] sauryadas commented on #240
Re:   Note, we are aware we need to adjust one thing re AKS - we need to indicate that the resource group you set in the cloud-credentials file needs to be the AKS group that is created dynamically for the AKS cluster, and not the resource group in which you create the cluster.

I dont think we need the RG in the cloud credentials file to be in the dynamically created RG. This has been fixed

[2017-12-12 12:39] ncdc commented on #240
We had someone yesterday using the original RG and it wasn't able to find the managed disk to create a snapshot. Did a fix go out yesterday afternoon to translate the original RG to the dynamic one?

[2017-12-12 14:57] ncdc commented on #242
Hi @yingnanzhang666, thanks for reporting this. I'd like to tackle this as one or more concrete, specific issues. Would your immediate concern be resolved if we preserved a service's cluster IP?

[2017-12-12 15:04] ncdc opened #244 "Convert hooks to pre/post hooks"
We need to convert the current hooks, which run pre item, to support both pre and post item, to support freezing a filesystem before we snapshot a volume, and unfreezing after. WIP PR in #243

[2017-12-12 15:06] ncdc opened #245 "Add fsfreeze example to documentation"
Note that fsfreeze requires a privileged container.

Suggest that 1 option is to run a sidecar pause container that contains fsfreeze and has the appropriate volumeMount(s).

Show using pre/post hooks once #244 is resolved.

[2017-12-12 16:17] ncdc commented on #240
cc @jimzim

[2017-12-12 17:17] sauryadas opened #246 "Bug: $ark restore create <non-existent-backup-name> creates successfully"
Should ideally throw an error?

[2017-12-12 17:18] ncdc commented on #246
Thanks for the report, this is something I meant to file a long time ago & forgot. Would you be interested in submitting a PR to address this?

[2017-12-12 18:08] splisson-altair opened #247 "AWS - Restore failed - unexpected character"
I did a backup of a namespace to S3 that successfully completed
[code]

* Expected:
namespace restored

* Results:

When I try to restore it, I get:
[code]

[2017-12-12 18:10] ncdc commented on #247
@splisson-altair it sounds like you might have a version mismatch. Could you please paste the output of `ark version` and `kubectl -n heptio-ark logs deploy/ark | grep 'Starting Ark server'`?

[2017-12-12 18:13] splisson-altair commented on #247
ark version
Version: v0.6.0
Git commit: v0.6.0
Git tree state: clean

kubectl -n heptio-ark logs deploy/ark | grep 'Starting'
time="2017-12-12T17:58:50Z" level=info msg="Starting Ark server v0.6.0" logSource="pkg/cmd/server/server.go:86"
time="2017-12-12T17:58:50Z" level=info msg="Starting controllers" logSource="pkg/cmd/server/server.go:397"
time="2017-12-12T17:58:50Z" level=info msg="Starting Re

[2017-12-12 18:19] ncdc commented on #247
Does this s3 bucket have restores created by a previous version of Ark?

On Tue, Dec 12, 2017 at 1:13 PM Sebastien Plisson <notifications@github.com>
wrote:

[2017-12-12 18:19] splisson-altair commented on #247
No, brand new bucket

[2017-12-12 18:30] ncdc commented on #247
Can you paste/gist `kubectl -n heptio-ark get restore -o yaml`?

[2017-12-12 18:32] splisson-altair commented on #247
kubectl -n heptio-ark get restore -o yaml
apiVersion: v1
items:
- apiVersion: ark.heptio.com/v1
  kind: Restore
  metadata:
    clusterName: ""
    creationTimestamp: 2017-12-12T18:02:11Z
    deletionGracePeriodSeconds: null
    deletionTimestamp: null
    name: ark-backup-5-20171212100211
    namespace: heptio-ark
    resourceVersion: "28311616"
    selfLink: /apis/ark.heptio.com/v1/namespaces/he

[2017-12-12 18:34] splisson-altair commented on #247
I see I have older restore CRD that were done from a previous version of ark  probaly

[2017-12-12 18:34] ncdc commented on #247
It looks like you have 2 restores created from a previous version of Ark: `dev-backup-20170807203443` and `dev-backup-20170807203733`. You'll need to delete these. In v0.6.0 we made some breaking changes that aren't compatible with previous versions.

[2017-12-12 18:43] splisson-altair commented on #247
I deleted all restore and created a new one.
I had a typo in the name of the backup in the restore command!

Restore worked!

Thanks

[2017-12-12 18:43] #247 closed

[2017-12-12 18:44] ncdc commented on #247
Glad you got it sorted out!

[2017-12-12 18:45] splisson-altair commented on #247
The cleanup of restore CRDs was also needed, it was blocking the beginning of restore

[2017-12-14 18:59] #133 closed

[2017-12-14 18:59] #181 closed

[2017-12-14 18:59] #221 closed

[2017-12-14 20:30] ncdc opened #251 "Ability to keep a backup from being garbage collected"
Add the ability to preserve a backup. This could mean one of a few things:

- be able to specify a ttl of 0 == never expire
- be able to change a backup's expiration after it's been created
- be able to mark a backup as pinned/preserved so that the expiration is ignored

[2017-12-14 23:55] skriss commented on #212
I'm working on this ATM.

[2017-12-15 21:02] ncdc commented on #192
Current thinking is `ark restore create NAME --clone-volumes` would take each PV `p` in the backup, restore as PV `p'`, and ensure any PVC being restored that references `p` is updated to reference `p'`.

[2017-12-18 20:22] ncdc opened #254 "Unbound PVC causes a backup to fail"
If a PVC has no `spec.volumeName`, it marks the entire backup as failed. A PVC might not have `spec.volumeName` if there is no default `storageclass` and there isn't one specified on the PVC itself, or maybe the desired dynamic provisioner isn't configure yet, to name a couple of reasons. We probably should not treat this as an error condition. WDYT @skriss?

[2017-12-19 18:22] fayazg opened #255 "issue with cloud-provider-specifics.md"
Trying to integrate with aws but get the following error.

[code]

Anything obvious excluded from the steps that I am missing?

[2017-12-19 18:23] skriss commented on #255
@fayazg have you created an S3 bucket in us-west-2 to store backups, and plugged the name into the ark config object? Our scripts don't do that for you.

[2017-12-19 18:40] skriss commented on #254
agree, this shouldn't be an error from an Ark perspective.

[2017-12-19 22:38] fayazg commented on #255
Got it, thanks Steve.

[2017-12-19 23:30] skriss commented on #255
No problem. I'll close this issue for now but if anything else comes up feel free to file a new one or reach out on slack (#ark-dr under the kubernetes org)

[2017-12-19 23:30] #255 closed

[2017-12-20 00:37] #254 closed

[2017-12-20 00:50] skriss commented on #251
Personally I like the UX of pin/unpin. We might want to reset the expiration upon unpin, otherwise unpinning an expired backup could result in a near-immediate GC, which might not be desirable.

[2017-12-20 01:56] vietwow opened #257 "Helm chart for installation ?"
Hi,

Nowaway, helm seems like a "standard" way for deploying a service to Kubernetes. So I think it would be great if we have a helm chart for installing Heptio Ark.

Best Regards,
VietNC

[2017-12-20 16:08] ncdc commented on #257
Hi @vietwow, thanks for your suggestion. We are first planning to add an `ark install` command that will cover everything needed to install Ark (#52). I think this will be the easiest way to do it, once implemented.

We may consider eventually doing a Helm chart in the future. Howerver, please be aware of potential security implications of using Helm: https://engineering.bitnami.com/articles/helm-

[2017-12-20 23:16] #239 closed

[2017-12-21 10:17] hectorj2f commented on #246
I also experienced this issue. I +1 on a quick fix

[2017-12-21 10:29] hectorj2f commented on #233
@ncdc We're also interesting on a `--wait` flag. We found scenarios where `ark restore create` successfully exits but the backup wasn't restore yet. Do you have any timeline for this new feature ?

[2017-12-21 10:29] hectorj2f commented on #233
With some guidance I think I could even help with this and to contribute to ark :)

[2017-12-21 12:30] timbuchwaldt opened #260 "Error when pending PVCs exist"
We see the following error when trying to back up our environment, the first look at it makes us believe it is due to ark trying to back up a pending PVC:

[code]

We have one existing PVC that is ready and should be backed up, it contains a volume name: https://dsh.re/d5dd2 - and in contrast the PVC we assume to fail: https://dsh.re/b403f

Deleting the `pending` PVC validates our theory and leads

[2017-12-21 12:43] ncdc commented on #260
Hi @timbuchwaldt, thanks for reporting. This is actually a duplicate of #254. That will be fixed in v0.7.0, due out in February. If you need it fixed sooner, we could consider backporting to v0.6.x, or you can build and run from the master branch.

[2017-12-21 13:35] timbuchwaldt opened #261 "Error creating Azure disk snapshots"
When backing up our managed disk Azure PV we see the following error:
[code]

We also can't find a snapshot of the disk - any idea what we hold wrong here?

[2017-12-21 13:35] timbuchwaldt commented on #260
Hey @ncdc, thanks for your swift reply! Great, wilco.

[2017-12-21 13:35] #260 closed

[2017-12-21 13:36] ncdc commented on #261
Do you have the correct resource group? Are you using AKS?

On Thu, Dec 21, 2017 at 8:35 AM Tim Buchwaldt <notifications@github.com>
wrote:

[2017-12-21 13:37] timbuchwaldt commented on #261
We are using a K8S deployed via ACE. We have two resource groups currently, one which contains our cluster, one that contains the Ark backups.

[2017-12-21 13:42] ncdc commented on #261
You have to specify the RG where your cluster is

On Thu, Dec 21, 2017 at 8:37 AM Tim Buchwaldt <notifications@github.com>
wrote:

[2017-12-21 16:05] ncdc commented on #261
What do you have specified for `AZURE_RESOURCE_GROUP` in your `cloud-credentials` secret - the one that contains your cluster?

[2017-12-21 19:35] #170 closed

[2017-12-21 19:35] #219 closed

[2017-12-21 19:35] #220 closed

[2017-12-22 14:57] ncdc opened #262 "Support retrieving chunked lists of items when backing up"
Kuberentes 1.9 adds support for chunked lists. We should do this. See https://github.com/kubernetes/website/pull/6540/files#diff-dd99945fd91d7ea569799a45d59669f0R90.

[2017-12-22 15:02] ncdc commented on #262
Need to use `k8s.io/client-go/tools/pager` from client-go v6. I am doing the work to upgrade us to v6, so this can come afterwards.

[2017-12-22 15:06] nrb commented on #262
Will this force the minimum required version up?

[2017-12-22 15:09] ncdc commented on #262
No, I believe the helper in client-go retrieves the full list of paging isn't supported by the server.

[2017-12-22 20:25] ncdc opened #264 "Document problem with restoring LoadBalancer Services"
The way that Kubernetes currently (<=v1.9.x) handles Services with type=LoadBalancer is it generates the name of the associate cloud resource (e.g. ELB) using the following formula:

`a<service UID, dashes removed, up to 31 characters>`, e.g. `a4149f70ee9dc11e68c3bacbc32c1ca8`

`UID` is a field set by the Kubernetes apiserver. It is not possible for a user to specify it.

When Ark restores a LoadB

[2017-12-22 20:51] ncdc commented on #264
Some cloud providers support reattaching to an existing IP via `spec.loadBalancerIP`, but not all of them do (e.g. AWS).

[2017-12-28 09:31] nevenr opened #267 "OpenShift"
Hi,

is OpenShift officially supported and if not do you have plans to support it ?

Thanks.

Regards,
N.

[2017-12-29 17:32] ncdc commented on #267
Hi @nevenr, as long as OpenShift supports CustomResourceDefinitions (CRDs), Ark should work on it just fine. I believe that means you'll need at least version 3.7.

[2017-12-29 19:39] nevenr commented on #267
Hi @ncdc, thanks for response.
I will check with OpenShift guys about CRDs.
Regards,
N.

[2018-01-02 19:26] #77 closed

[2018-01-02 19:26] #212 closed

[2018-01-03 00:57] bdimcheff commented on #238
I had a little fun with ark + git today.

I installed the example nginx app from the ark repo and did a few backups in its [initial state](https://github.com/bdimcheff/ark-git-playground/commit/e89d83360f7630b8d18e796eb30b04bd0e63c3f8), after I manually [deleted a pod](https://github.com/bdimcheff/ark-git-playground/commit/8bc44849a4dcf25c773da80204eb39e84f78b825), and when I [scaled it](https://g

[2018-01-03 19:36] ncdc commented on #267
Closing. Please reopen if you need to resume the discussion. Thanks!

[2018-01-03 19:36] #267 closed

[2018-01-03 19:37] ncdc commented on #261
@timbuchwaldt were you able to resolve your issue?

[2018-01-03 19:39] ncdc commented on #242
@yingnanzhang666 hi, just checking in to see if you think my suggestion is sufficient?

[2018-01-03 20:30] ncdc commented on #238
@bdimcheff neat! Thanks for the report. We're going to start discussing the design & concepts for backup targets soon. Would you be interested in helping with that?

[2018-01-04 03:44] cj-anthony opened #269 "[Azure] Failed to refresh the Token. Refresh request failed. Status Code = '404'"
Hello,

I've been evaluating ark as a way to protect our kube clusters. We run in managed container services in Azure. I had everything working except persistent volume snapshots so I decided to blow away the ark namespace and start from scratch (kubectl delete namespace heptio-ark).

Ever since then I've been getting the following error when I try to start a pod.

**An error occurred: rpc error:

[2018-01-04 15:23] ncdc commented on #269
Hi @cj-anthony, is there any possibility that your cloud-credentials secret has the subscription specified incorrectly?

@skriss have you seen this before? @jimzim any suggestions?

[2018-01-04 20:28] skriss commented on #269
I believe when I've seen this before it's because I've had bad data in the cloud-credentials secret. I would try checking all of the data in there or just re-creating it. Perhaps when you re-created it, one of the env vars that it uses was not set properly?

[2018-01-04 23:23] cj-anthony commented on #269
Thanks everyone, it was as issue with those env vars. A few revs ago the azure tenant line vanished from my script and I only noticed it just now.

[2018-01-05 00:32] skriss commented on #269
@cj-anthony great. I'll go ahead and close this issue but let us know if anything else comes up. thanks!

[2018-01-05 00:32] #269 closed

[2018-01-05 18:47] ncdc opened #274 "Document backup flow"
Include info about discovery, api groups, resources, items, pre/post hooks, custom actions, additional items, etc.

[2018-01-05 18:48] ncdc opened #275 "Document restore flow"
Include information about downloading tarball, iterating through api groups, resources, items. Cluster-scoped vs namespace-scoped. Custom actions. Conflicts. Errors/warnings.

[2018-01-05 19:06] skriss opened #276 "remove hardcoded svc and netpol shortcut mappings"
https://github.com/heptio/ark/blob/master/third_party/kubernetes/pkg/kubectl/cmd/util/shortcut_expander.go#L87

This should be able to be removed now since the upstream PR to add these has been merged:
https://github.com/kubernetes/kubernetes/pull/49128

[2018-01-05 21:48] ncdc commented on #167
Moving out of v0.7.0 as we'll probably do this as part of the backup target redesign.

[2018-01-05 22:15] #106 closed

[2018-01-05 22:18] ncdc commented on #276
This is in Kubernetes v1.8.0 and later. We'll need to keep this in Ark until we no longer support v1.8.0.

[2018-01-08 12:25] d47zm3 opened #277 "Unable to create role - GKE v.1.8.0"
Due to how GKE permissions works, installing Ark v0.6 on GKE 1.8 cannot be completed by default due to missing permissions.

[code]

According to Google Container Engine docs:

Solution: add binding to your personal account that you use to create Ark
[code]
Could you add that in GCP platform specifics?

[2018-01-08 12:40] d47zm3 commented on #277
Oops missed line in docs...

[2018-01-08 12:40] #277 closed

[2018-01-08 18:22] totemcaf opened #278 "Volume snapshots don't include informative metadata"
Currently when a Snapshot is created in AWS due to a Backup, the snapshot has no name nor description. It has only a label pointing to Ark: "tag-key=ark-snapshot"

Having lots of snapshots will be difficult to see why some snapshot is for.

The idea is to add a name, and a description adding more data, for example the Backup name and/or the POD's name owning the PVC. Additional tags can also be ad

[2018-01-08 19:47] ncdc commented on #278
@skriss let's incorporate this into the backup target design

[2018-01-09 16:29] rocketraman commented on #103
On Azure, you can create a snapshot into a different resource group than the one that the persistent disk is on, which means the snapshots could be created directly into the `AZURE_BACKUP_RESOURCE_GROUP` instead of `AZURE_RESOURCE_GROUP`.

Then, cross-RG restores should be quite simple as the source of the data will always be consistent and there should be no refs to `AZURE_RESOURCE_GROUP`.

I'm n

[2018-01-09 21:23] sauryadas commented on #240
@ paulbouwer fyi

[2018-01-09 21:24] sauryadas commented on #246
@paulbouwer

[2018-01-09 21:25] ncdc commented on #246
We have a PR to fix this that we'll merge this week: #271.

[2018-01-10 15:49] nielsole opened #279 "backup should not be aborted on error"
I am currently evaluating ark and tested the backup & restore.

Apparently I ran into some race condition so that a PV was already deleted.

`time="2018-01-10T15:30:20Z" level=error msg="backup failed" error="[persistentvolumes \"pvc-<redacted>\" not found, persistentvolumes \"pvc-<redacted>\" not found, persistentvolumes \"pvc-<redacted>\" not found, persistentvolumes \"pvc-<redacted>\" not found

[2018-01-10 15:51] ncdc commented on #279
Hi @nielsole, thanks for your comments! This is similar to https://github.com/heptio/ark/issues/225#issuecomment-348226983. I think we'll probably want to make backups similar to restores, where we try to do as much as possible, recording warnings & errors along the way.

[2018-01-10 15:52] nielsole commented on #279
hadn't seen that one. Thanks for the quick reply

[2018-01-10 15:52] #279 closed

[2018-01-10 18:24] #246 closed

[2018-01-10 19:24] ncdc commented on #261
@timbuchwaldt checking in again - any luck?

[2018-01-11 08:52] domcar opened #280 "Restore Persistent Disk with same name"
Hi,
i folowed the tutorial and i tried a backup with also a PV involved.
Everything worked out fine, backup, delete and restore.
I was wondering though, if it is possible to restore the persistent disk using the same name
it had originally instead of setting a new random one (i.e. restore-9e0e090a-e54d-4502-858d-d9251660a045)

Thanks

[2018-01-11 15:56] ncdc commented on #280
Hi @domcar, thanks for your question! The Azure and GCP integrations currently have this behavior. I think it's safer to randomize the disk names. Imagine if you've done a backup and you want to clone it to a different namespace (which isn't quite supported yet for PVs - see #192). In this case, we have to have a unique disk name.

We could maybe consider adding a field to the restore spec indicat

[2018-01-11 16:08] nrb commented on #280
Perhaps a compromise like the kubernetes generate name functionality? Keep the original name and append some random characters? That way the original disk and a restored version could be sorted together for easier visual inspection, especially if the use case is just making a copy. I think I'd still like to hear other use cases, though.

The challenge I would foresee with such an approach is that

[2018-01-11 17:22] #232 closed

[2018-01-11 17:47] robbyt opened #281 "Check for backup existence before trying to create it during backup sync"
I'm using Ark 0.6.0, on GKE 1.8.6, It's working great (thank you for such a great tool)! Backups/restores are working correctly.

However, when I login to the GCP control panel, and click on "activity" (2nd tab on the main dashboard) I see the following errors:

![ark-gcp](https://user-images.githubusercontent.com/58051/34838618-c933eac0-f6cc-11e7-9554-f5e1aa53f762.jpg)

Here are the logs from thi

[2018-01-11 17:55] robbyt commented on #245
It would be cool if this was written as an operator service, and run as a daemonSet. The service could watch for annotation events to freeze/unfreeze the volumes.

[2018-01-11 18:13] ncdc commented on #245
A daemonset might be challenging (it would need access to all the volumes for all the pods it wants to freeze, and it would be difficult to signal easily), but we are thinking that it would be nice to use an annotation+initializer+controller to make this happen automagically. For example:

1. Set an annotation on your pod, e.g. `volume.backup.ark.heptio.com/freeze=true`
1. Our initializer controll

[2018-01-11 18:16] ncdc commented on #281
I believe what you're seeing is attempts by the backup sync controller to synchronize backups stored in GCS back into Kubernetes. I would expect to see this once per backup every `backupSyncPeriod` (from `config/default`).

https://github.com/heptio/ark/blob/6712e2a9ec1faad7c5a4f9cce698446368aabbaa/pkg/controller/backup_sync_controller.go#L85

How many backups do you have? It seems a bit odd that

[2018-01-11 18:22] robbyt commented on #245
That seems simpler from an implementation- but if I'm understanding it all correctly, that might be a bit fragile and prone to race conditions.

Here's why: if you patch the pod resource directly, what's keeping the replica set from editing the pod while the fs is frozen? If you patch the RS, what happens if a deployment is updated during the fs freeze? Also, if you patch the deployment, it causes

[2018-01-11 18:26] robbyt commented on #281
[code]

[2018-01-11 18:32] ncdc commented on #245
There's not a race that I can foresee. When a Kubernetes object has an initializer, it means that it's not visible to most of the system. Only components that ask for uninitialized objects (such as initializer controllers) will see them. So when the RS controller submits a pod for creation, our initializer controller would intercept it, mutate it to add the annotations & sidecar container, and the

[2018-01-11 18:33] ncdc commented on #281
Ok, that makes sense then.

We could consider modifying the backup sync controller to query for the existence of a backup before trying to create it, if these log entries are of concern.

cc @skriss

[2018-01-11 18:45] robbyt commented on #245
Yes it does make sense- I didn't realize that was possible. Is this k8s feature by design? Could this behavior change in the future?

My recommendation from an end-user's perspective is for this to be designed as two features:
1. easily freeze the file system during snapshots
2. minimize end-user effort required to install ark's necessary components

[2018-01-11 18:48] ncdc commented on #245
Initializers is an alpha feature in Kubernetes. The behavior could change in the future given that it's alpha.

This issue is focused on documenting how to fsfreeze using pre/post hooks and a sidecar container. In the future (v0.8.0 or later), we hope to make it easier to do this.

Making it easier to install is part of #52, and will ultimately probably be done with an `ark install` command.

[2018-01-12 07:22] domcar commented on #280
I was thinking about metrics `diskname <-> last_snapshot_timestamp`
But in case of restore the diskname changes and my metrics wouldn't be right anymore.

I guess in the case the disk name is changing I should't get metrics about the disk instead I should use the PVC name

[2018-01-12 11:21] d47zm3 opened #282 "See if we can remove 30-second timeout waiting for volume created from snapshot to be ready"
Version v0.6.0

I made backup which included 3 PVs, 16GB, 25GB and 50GB, on both backup creating and restore I get error
[code]
While this is not big issue with backup itself as it will finish after some mins, while restoring, PV is not bound to PVC and I get empty PVC which results in incomplete restore
[code]
I see there's option for Azure, please add the same for GCP

[2018-01-12 13:31] domcar opened #283 "Backup file not removed from storage"
Hello,
in the documentation is stated that when a backup expires Ark removes both the the backup resource and the backup file from storage (https://github.com/heptio/ark/blob/master/docs/concepts.md#expired-backup-deletion).

Instead i'm noticing that only the resource (and snapshot in this case) is getting deleted but in the google bucket there are still all folders created by ark.

I looked at t

[2018-01-12 14:54] ncdc commented on #280
That makes sense. Are you working on adding metrics to Ark?

[2018-01-12 15:52] ncdc commented on #283
@domcar what Ark version and cloud provider are you using?

[2018-01-12 16:14] ncdc commented on #282
This actually isn't something that's entirely governed by the Azure API timeout setting. Instead, it's a hard-coded 30-second timeout that's enforced **after** the volume is created from the snapshot. We wait up to 30 seconds for the volume's status to change to "ready". I guess it's taking more than 30 seconds for this to occur.

@skriss I have a couple of thoughts here:

1. I wonder if we could

[2018-01-12 20:32] ncdc commented on #200
@blakebarnett circling back - could you ever reproduce your issue?

[2018-01-12 20:34] ncdc commented on #110
Closing as we actually do want to restore default SAs and use conflict resolution to merge things like image pull secrets

[2018-01-12 20:34] #110 closed

[2018-01-12 20:55] blakebarnett commented on #200
No I think this was another case of me mixing up clusters before I realized I couldn't set kube-context.

[2018-01-12 20:55] #200 closed

[2018-01-16 16:50] lypht opened #284 "Location constraint fails if `us-east-1` is envoked"
### Issue:
When following the [AWS specific markdown](https://github.com/heptio/ark/blob/master/docs/cloud-provider-specifics.md#s3-bucket-creation) instructions to create a bucket, the command fails if the `us-east-1` region is called.

[code]

### Expected result:
Bucket creation.

### Actual result:
Bucket creation fails with `invalidLocationConstraint`

### Steps to remedy:
Remove the `create-

[2018-01-16 16:51] ncdc commented on #284
@lypht thanks, that does seem strange. Looking forward to your PR!

[2018-01-16 19:17] skriss opened #286 "Consider consolidating per-restore logs into a single file? (Similarly for backups)"
Right now, for restores, we log:
- validation errors into the restore API object (.status.validationErrors)
- info-level logs to <restore-name>-logs.gz in object storage, using logrus
- warnings/errors to <restore-name>-results.gz in object storage, as JSON

We follow a similar pattern for backups, except we don't have the third item (yet).

I wonder whether it would make sense to consolidate this

[2018-01-16 19:18] skriss commented on #286
See #225 for some related discussion re: backup warnings/errors.

[2018-01-16 19:19] nrb commented on #286
I think this makes sense. Consolidating everything in one place makes for a better user experience, and I don't think altering the commands to parse the logs should be too onerous.

[2018-01-16 19:21] ncdc commented on #286
Would you move validation errors from the restore resource to the log file?

[2018-01-16 19:28] skriss commented on #286
That is what I was thinking. We could add a unique log field to identify them as such if we want to retain the distinction between them and errors during/after execution.

I'm not 100% convinced this is the right idea yet, so certainly interested in alternate opinions.

[2018-01-16 19:30] ncdc commented on #286
The "nice" (maybe?) thing about validation errors is you don't have to go to object storage to see them, as they're directly on the restore in kube.

Maybe once we have #155, we could drop validation errors entirely. We'd still need some code to check for things like invalid overlapping includes and excludes, but those could just be "errors".

[2018-01-16 19:31] skriss commented on #286
^^ yeah, I was thinking along the same lines re: schema validation vs. logical validation.

[2018-01-16 19:34] ncdc commented on #286
And we could have our phases be New, InProgress, Failed (we couldn't start at all), Processed (maybe has errors and/or warnings, but we did some work and we've done as much as we could with it).

[2018-01-16 20:43] xamox commented on #277
@d47zm3 Thanks for following up with a solution.  I was just following the quickstart for testing and ran into this issue, didn't think about looking in the /docs/ folder.

[2018-01-17 12:46] starkilla2003 opened #287 "Support for storage in Azure Germany"
Is it already possible to use a storage container in the German instance of Azure? I think the API endpoints are different for that cloud. I am running into an error when i try to setup Ark:

[code]

Is it possible to change the API endpoints used by Ark?

[2018-01-17 13:00] ncdc commented on #287
When we've seen this `Failed to refresh the Token...` error in the past, it's been because the cloud-credentials secret was either missing all the required values, or one of them was incorrect. Could you double-check its contents?

@paulbouwer do you know if the version of the Azure libraries we have vendored in Ark supports Azure Germany offhand?

[2018-01-17 13:22] starkilla2003 commented on #287
I double checked all entries in the cloud-credentials. For the German Azure instance it is not possible to find the subscription via  https://management.azure.com because there it is https://management.microsoftazure.de .

[2018-01-17 13:23] ncdc commented on #287
Ok, we’ll take a look at the Azure code we’re using and see if it’s
possible to change the endpoint. I’ll be at my desk in an hour or so and
can look then.

On Wed, Jan 17, 2018 at 8:22 AM starkilla2003 <notifications@github.com>
wrote:

[2018-01-17 13:38] starkilla2003 commented on #287
Thank you for your fast reply! You can find the full reference under the following link:

https://blogs.msdn.microsoft.com/azuregermany/2016/08/18/endpoints-in-microsoft-cloud-germany/

[2018-01-17 14:55] ncdc commented on #287
Ok, I looked at the code, and it's going to require a code change to support alternate endpoints. We'll try to get this in for v0.7.0 due out next month.

cc @skriss @nrb @jimzim

[2018-01-17 16:28] #284 closed

[2018-01-18 05:48] paulbouwer commented on #287
@ncdc Yes - the Azure libs currently vendored in Ark (master) do support the German Cloud.

This looks like a fairly straight forward change. I'll submit a PR in the next day.

@jimzim @marstr - does this look right?

### Azure Environments

The `azure.Environment` struct in the **Azure Go SDK** defines the cloud types available via the SDK. Currently these are:
- PublicCloud
- ChinaCloud
- German

[2018-01-18 06:01] paulbouwer opened #288 "Suggestion - Issue labels for cloud provider"
To provide a consistent mechanism for filtering cloud provider specific issues, would you consider adding labels like the following to issues?
- cloudprovider/aws
- cloudprovider/azure
- cloudprovider/gcp

[2018-01-18 13:50] ncdc commented on #288
Good idea - done!

[2018-01-18 13:50] #288 closed

[2018-01-18 18:01] jimzim commented on #287
So there are a couple things we need to think about.

1. Is the storage api version in German cloud the same as public cloud?  This may not be an issue when we upgrade to the latest Azure Go SDK which supports multiple API versions, but I will have to deflect that question to @marstr
2. If we need to change the code in the Init functions, then we will need to think about how the end user can provi

[2018-01-18 20:29] marstr commented on #287
Is the storage api version in German cloud the same as public cloud? This may not be an issue when we upgrade to the latest Azure Go SDK which supports multiple API versions, but I will have to deflect that question to @marstr

The API Versions that are available in the German cloud may lag behind public cloud. However, once an API Version is deployed in a sovereign cloud everything _should_ behav

[2018-01-19 17:09] activeshadow commented on #278
It would also be great if Ark could capture any existing tags on AWS volumes. Here's why:

When Kubernetes creates volumes in AWS (and probably other cloud providers too) for backing PVs, it adds multiple tags to the volumes (KubernetesCluster, Name, kubernetes.io/created-for/pv/name, kubernetes.io/created-for/pvc/name, etc). When an AWS cluster is managed by kops, the IAM policy assigned to the K

[2018-01-22 07:00] domcar commented on #283
@ncdc I'm using Ark v0.6.0 on GKE

[2018-01-23 18:24] ncdc commented on #283
@domcar I just tested this with a new GKE cluster using Ark v0.6.0 and am unable to reproduce. I created a backup (b1), visually verified the backup folder & files existed. Then I waited for the backup's expiration to pass. Ark observed the expiration and deleted all the files in storage. There is no longer a b1 folder in my GCS bucket.

What is in your folders in GCS?

[2018-01-24 06:20] domcar commented on #283
@ncdc I tested again: created a new cluster and then I scheduled an hourly backup with expiration 2h.
Backup and snaphosts are created and after 2h deleted. In the Bucket every folder is still there.

Command: `ark-client/ark schedule create test-schedule-hourly --schedule "00 * * * *" --ttl  2h --selector app=test-hourly`

Bucket:
[code]

All folders get created but not deleted. In every folder t

[2018-01-24 08:30] domcar commented on #280
Hi, no, i am working on a small script (external to ark)

[2018-01-24 10:56] ncdc commented on #283
It sounds like maybe the GCP service account you’re using doesn’t have
permission to delete anything. Can you take a look at the settings in
gcloud for that?

On Wed, Jan 24, 2018 at 1:20 AM Domenico <notifications@github.com> wrote:

[2018-01-24 11:37] domcar commented on #283
This is unlikely, i use the service account created following the guide (https://github.com/heptio/ark/blob/master/docs/cloud-provider-specifics.md#gcp)
And on the bucket I can see that the heptio-ark service account is `storage admin`, it should be able to perform any operaiton on that bucket

[2018-01-24 11:51] ncdc commented on #283
Ok, let’s keep digging. Could you please provide your ark config (redact
anything sensitive) and the logs from the ark pod?

On Wed, Jan 24, 2018 at 6:37 AM Domenico <notifications@github.com> wrote:

[2018-01-25 06:19] #280 closed

[2018-01-25 06:37] domcar commented on #283
ark config:
[code]

And these are the logs of the last 2 hours:
[code]

This line seems suspicious to me: `time="2018-01-25T06:28:39Z" level=info msg="Got backups from object storage" backupCount=0 logSource="pkg/controller/backup_sync_controller.go:78"`
it counts 0 for the backupCount

[2018-01-25 09:20] domcar commented on #283
Update:
while trying to build from scratch I built the master version instead of the 0.6.0 and then I used this image (no modification at all, I was testing how build works). As soon as I deployed this version I saw in the logs:
`time="2018-01-25T09:15:40Z" level=info msg="Got backups from object storage" backupCount=22 logSource="pkg/controller/backup_sync_controller.go:78"`

This means that the

[2018-01-25 12:07] domcar commented on #283
As a test I decided to delete the cluster, create a new one and use the master version of Ark.
It looks like that If I use the master version it is working and files get deleted from the bucket

[2018-01-25 15:50] ncdc commented on #283
@domcar ok, cool. I'm not sure what's going on - v0.6.0 should work fine. Maybe if you tried a new cluster with v0.6.0 it would work too... Do you want us to keep this issue open, or is it ok to close it?

[2018-01-26 07:32] domcar commented on #283
ok, let me try with a new cluster and then i'll close the issue

[2018-01-28 15:51] ncdc commented on #287
@paulbouwer any updates on a PR for this?

[2018-01-29 09:11] jhedev opened #289 "Put schedule manifests in version control?"
At the company I'm working we currently follow GitOps like practices where we store the whole desired state in a git repository and use a deployment pipeline to apply this against the kubernetes cluster.

Therefore I'd like to store ark schedules in a git repo as well instead of using the command line to manipulate it afterwards. Since I couldn't find any documentation about the schedules resource

[2018-01-29 11:01] domcar commented on #283
It works with a new cluster, i'll close the issue

[2018-01-29 11:01] #283 closed

[2018-01-29 14:39] ncdc commented on #289
Hi @jhedev, you can run `ark schedule create ... -o yaml` to emit the schedule as yaml instead of uploading it to the apiserver. You can then check it in to source control. We have documentation for the `Backup` resource, and will be adding similar details for `Schedule` and `Restore` soon.

[2018-01-29 14:50] jhedev commented on #289
Ahhh ...I could've probably found this on my own haha. Thanks for your quick help!

[2018-01-29 14:51] ncdc commented on #289
No worries! Please let us know how things go for you - what you like, don't like, suggestions for improvement...

[2018-01-30 17:59] paulbouwer commented on #287
@ncdc - I'm following up internally based on comments by @jimzim and @marstr. Hopefully will have a definitive answer on api-version support across the environments and can then be confident in solution.

[2018-01-30 18:04] ncdc commented on #287
Sounds great, thanks for the update!

[2018-01-31 17:48] Bradamant3 opened #290 "Document ability to change namespace"

[2018-02-01 07:50] AdityaTulasi opened #291 "Different namespace for backup"
Hi,

I am using Kubernetes on Azure (AKS). I am trying to setup backup in a namespace different from "heptio-ark", because I cannot create a service principal with name "heptio-ark" (technical issues). I have changed the namespace in all configuration files and deployed the containers, but when I look at the logs of "ark-2601286424-h74xx" pod, I see that it is still searching for "heptio-ark" name

[2018-02-01 13:02] ncdc commented on #291
@AdityaTulasi you don't have to name your service principal "heptio-ark" - that's just a suggestion. Have you tried using a different name?

We will support running in a namespace other than "heptio-ark" starting in v0.7.0, due out in a couple of weeks.

[2018-02-01 13:36] AdityaTulasi commented on #291
Thank you for the clarification @ncdc

I'm past that issue, but now I am stuck at another place. I followed the instructions of creating the storage account, but I see the following log in the pod

[code]

Can you please tell me what I'm missing here?

[2018-02-01 13:50] AdityaTulasi commented on #291
Never mind. I guess I made some mistake in initial configuration and it persisted. After cleaning it up completely and going through the steps again, I could backup successfully. Thanks for your quick help.

[2018-02-01 13:50] #291 closed

[2018-02-01 14:31] ncdc commented on #291
Glad you got it working!

[2018-02-01 15:54] bryanlarsen opened #292 "Does not work with missing but valid kubeconfig"
If your kubernetes is configured so that you can access it without a kubeconfig, ark throws the error: "An error occurred: invalid configuration: no configuration has been provided"

"kubectl config view" gives

[code]

In this scenario, kubectl accesses the kubernetes API on http://localhost:8080/ but ark doesn't.

It's easy to fix by populating ~/.kube/config.

I'd be satisfied if there was a mo

[2018-02-01 15:57] ncdc commented on #292
Hi @bryanlarsen, thanks for reporting this. I've been in the weeds of the code that produces this error before, so we should be able to fix it so you can use Ark without a kubeconfig file.

[2018-02-01 16:03] ncdc commented on #292
Actually, that behavior (defaulting to localhost:8080) is currently marked as deprecated in the client-go code. What if we did this:

1. If you've specified a kubeconfig, Ark makes sure it exists. If it doesn't exist, print an error that it's not found
1. If you haven't specified a kubeconfig, check if ~/.kube/config exists, and print an error if it doesn't

Would that work?

[2018-02-01 17:13] ncdc commented on #264
xref:

https://github.com/kubernetes/kubernetes/pull/56832
https://github.com/kubernetes/kubernetes/pull/49903

[2018-02-01 18:04] bryanlarsen commented on #292
That's acceptable to me.   A better error message would have helped me a lot -- once I actually knew what was going on it was trivial to fix.

[2018-02-01 18:04] ncdc commented on #292
Ok thanks, we'll plan to do this. Or would you be interested in contributing a PR? 😄

[2018-02-02 22:00] rdodev opened #295 "[Feature Request] Ability to specify pattern for backup bulk deletion"
Folks,

Would be great if `backup delete` had a `--pattern` flag, so that a user could do bulk delete with a PCRE pattern as follows `ark backup delete --pattern nginx*`

[2018-02-02 22:03] rdodev commented on #60
+1 to this. It's not entirely intuitive the restore name much match the target backup.

[2018-02-03 22:07] rdodev opened #297 "User should be informed when restore is invalid"
Presently a user could run the following command

`ark restore create threefiddy` which is a backup that doesn't exist.

Immediately the user receives the following feedback

[code]

Which is true in the technical sense (i.e. the request was successfully completed), but deceiving in that the process will 100% fail because it's a non-existent backup.

For the sake of UX, the command should at the v

[2018-02-03 22:21] rdodev opened #298 "Validation errors should be more descriptive"
This issue is somewhat related to #297

After scheduling a restore for a non-existent backup, the following validation errors show in the `ark restore describe restore-name`

[code]
That error isn't particularly descriptive or expressive. All a user could _guess_ from it is that the backup isn't present in the object storage. No mention of what could be causing this error and how to fix it.

In th

[2018-02-05 09:07] AdityaTulasi opened #299 "Backup with PV not working"
Hi,

I have been trying to setup backup with a PV attached to container, but backups either succeed without taking snapshot or fail. I am providing the details below. Can you please let me know what I'm missing?

Command(s)

[code]
Output
[code]
Logs from backup pod
[code]
Yaml file used to create nginx-example
[code]

[2018-02-05 13:05] ncdc commented on #299
Hi @AdityaTulasi it sounds like maybe the resource group you specified in the Azure credentials file is incorrect, or perhaps the region. Could you please double-check that everything is correct?

[2018-02-05 15:06] Bradamant3 commented on #208
Is this issue closed with PR #259 ?

[2018-02-05 15:08] ncdc commented on #208
I think so. @stevesloka could you please look at the latest docs on master for AWS and see if your requests were resolved?

[2018-02-05 16:16] ncdc commented on #297
@rdodev we did change the text from "restore created successfully" to "restore request submitted successfully", and we also made it a validation error if the backup doesn't exist (which you can see with `ark restore describe`). We can do 1 more thing - as part of `ark restore create`, we can check if the backup exists, and immediately return an error. Would that work for you?

[2018-02-05 16:27] rdodev commented on #297
Yes, as I suggest at the end of the issue above, an existence check on the backup and using that as a circuit breaker would be very helpful to the user and the restore request isn't submitted at all, think of it as a pre-flight check.

[2018-02-05 16:27] Bradamant3 opened #300 "Clarify kubeconfig message"
in `pkg/client/factory.gol70` message is not clear. Questions:

"If unset, try the environment variable KUBECONFIG, as well as in-cluster configuration"
Are these meant to be alternatives to setting the path? Do you need both? Is either of them the default if not set? Or would you have to try one or the other for the command to succeed? In other words, does not specifying result in an error condit

[2018-02-05 16:27] ncdc commented on #298
I'd like to tackle specific error messages/locations that need fixing. That will be easier than trying to audit and improve the entire code base.

For something like this, I think we'll need to make each cloud provider translate from its "no such key" error to an Ark "NotFound" error. For AWS for example, we would modify

https://github.com/heptio/ark/blob/11f2be6254c94f510043c3485f8ed1ee55a1d12b/

[2018-02-05 16:58] ncdc commented on #300
If you specify `--kubeconfig`, we use that.

If you don't specify `--kubeconfig`, we try the environment variable `KUBECONFIG`.

If the environment variable `KUBECONFIG` is not specified, we try the file `$HOME/.kube/config`, if it exists.

If none of the above conditions yielded a config, the last resort is to try what is called the "in-cluster config", which means we check to see if you're runni

[2018-02-06 05:19] AdityaTulasi commented on #299
Hi @ncdc do you mean the ```cloud-credentials``` secret and ```10-ark-config.yaml``` in \examples\azure folder? I have validated that both of them have the right values.

P.S.: I am using ```kubectl``` and ```ark``` on windows, and I haven't come across any credentials file.

[2018-02-06 16:53] ncdc commented on #299
Yes, I mean both `cloud-credentials` and your ark config.

I'm not really sure what's going on, other than ark is unable to find the Azure disk associated with a Kubernetes PersistentVolume. That's why I asked if all of your variables are correct.

[2018-02-07 11:48] hectorj2f commented on #233
Can we get a workaround before a new release is delivered ? We'd like to be sure when a backup is fully restored. Ark command says `the backup was successfully restored` but the operation is still going under hook.

[2018-02-07 12:12] ncdc commented on #233
@hectorj2f we will be releasing v0.7.0 on February 15th, and we have adjusted the text when you run `ark restore create` to say
[code]

I realize this doesn't give you a "wait" feature in the short term, but it does clarify that the restore isn't immediately finished.

Are you still interested in trying to implement this functionality? We would love a contribution!

[2018-02-07 13:54] hectorj2f commented on #233
@ncdc thanks! yeah, we'll upgrade our version to 0.7.0. We'll combine `restore get and restore describe`.

Yes, I'd be interested but I might not have enough time to speed up this implementation at this moment :/.

[2018-02-07 15:24] ncdc commented on #233
FYI @hectorj2f I have a WIP implementation for waiting for backups in #304. It's not going to make v0.7.0 but we will try to include it in v0.8.0 or possibly a v0.7.x.

[2018-02-07 20:09] rdodev opened #305 "When a backup or restore fails, provide the user information or instructions to find out root cause"
Presently a backup can fail for a number reasons. If the user runs `ark backup describe` they will see it the backup failed, but no reason, logs or anything that would help them understand the problem and how to fix it:

[code]

Having a `Logs` section there or else instructions to find out what happen would be greatly helpful.

[2018-02-08 05:18] AdityaTulasi commented on #299
Hi @ncdc

I found the issue. I am using Container Services (Managed) and looks like it is creating the disk in another auto-generated default resource group. It's of the format MC_rgName_clusterName_geo So, the secret I create based on the instructions does not work. It cannot find the disk in mentioned resource group. Thanks for the tip of checking the resource group value. That helped. A few fol

[2018-02-08 18:06] ncdc opened #306 "Document Azure AKS resource group requirements"
When you create an AKS cluster, you specify a resource group in which it should be created (let's call this RG1). When the AKS cluster is provisioned, the provisioning process creates a _second_ resource group, typically using a naming convention of `MC_<resource group name>_<cluster name>_<location>` (let's call this RG2).

Our documentation doesn't mention RG2 and only states to use RG1 as the v

[2018-02-08 18:12] ncdc commented on #299
@AdityaTulasi I'm glad you were able to get the snapshots working. I should have asked you about AKS, as we're aware of the auto-generated resource group. I've filed #306 to get this documented.

I _think_ it should run ok on ACS without RBAC. @paulbouwer could you please confirm?

Yes, this is the expected behavior.

We will be working on cross-region (cross-resource group) restores soon. For Azu

[2018-02-09 11:38] ncdc commented on #292
Upon further reflection, this logic is only valid when running the ark cli. The server needs to be able to function even if --kubeconfig, $KUBECONFIG, and ~/.kube/config are all empty/missing (it uses the in-cluster configuration). So we'll need to make sure we don't break the server with a change here.

[2018-02-09 13:22] rbowlby opened #307 "[Feature Request] PV identifiers as tags on snapshots"
It would be helpful if specific identifying information of the PV were included in a tag on the snapshot. For the sake of snapshot auditing and cost attribution.

[2018-02-09 15:35] ncdc opened #308 "Unable to delete backup if cloud resources have already been deleted"
If, for whatever reason, the cloud snapshots associated with a backup have already been deleted, `ark backup delete` and the GC controller will never be able to delete the backup.

The GC controller currently requires that the following deletions succeed before it will delete the backup (by removing our finalizer):
- volume snapshots
- backup directory & files in object storage
- associated restor

[2018-02-09 15:39] ncdc commented on #308
Another thought: we could add `ark backup delete --force` that would either just issue a delete, or if the backup already has a finalizer, just patch it to remove the finalizer, thus avoiding GC.

[2018-02-09 15:40] ncdc opened #309 "Consider auto-deleting backups from etcd if they're not in object storage"
Modify the backup sync controller to delete backups from kubernetes if they don't exist in object storage. WDYT @skriss?

[2018-02-09 15:44] ncdc opened #310 "Possible issue with multi-zone statefulsets"
1. Create a GKE cluster (1.8.7 was the reported version), make sure it spans 2 zones
1. Deploy a statefulset that has nodes in both zones, using pvc claim templates (e.g. https://github.com/kubernetes/charts/tree/master/stable/mongodb-replicaset)
1. Take a backup
1. Delete everything related to the statefulset
1. Restore (should work fine)
1. Restore again

At this point, we should probably hit #1

[2018-02-09 15:49] unguiculus commented on #310
The cluster is in `europe-west3-a` with `europe-west3-b` as additional zone. The statefulset had three volumes, two in `europe-west3-b`, one in `europe-west3-a`. The volumes in `europe-west3-b` always restored, that in `europe-west3-a` failed to restore. It quickly showed up with an error in the GCP console and then disappeared again. See screenshot.

![image](https://user-images.githubusercontent

[2018-02-09 16:19] rdodev commented on #20
Regardless of implementation approach chosen, I would strongly suggest against using percentages to measure progress. I would recommend using "x of y" instead.

[2018-02-09 16:22] ncdc commented on #20
Yeah we won't - as I wrote above

[2018-02-09 18:36] ncdc commented on #307
@rbowlby what sort of information are you looking for? I think on Slack you said pod name?

[2018-02-12 08:45] kaspernissen commented on #307
+1 on this
@ncdc would be great with the pod name and maybe some more details on the namespace, cluster. Similar to the tags that are added to the volume when using pv/pvs in Kubernetes such as:

- KubernetesCluster
- Name (at least on AWS it's easier to get an overview of your snapshots when they include at Name tag.
- Pv-name
- Pvc-name
- Pvc-namespace.

[2018-02-12 08:49] kaspernissen commented on #307
This issue seems to be related to https://github.com/heptio/ark/issues/278

[2018-02-12 09:08] dogopupper commented on #308
--force is a very good idea to not check for cloud resources (since they're gone) and just delete the backup reference from ark.

Would an 'if force=true then ignore' condition here work? https://github.com/heptio/ark/blob/master/pkg/controller/gc_controller.go#L130

[2018-02-12 12:25] ncdc commented on #308
@dogopupper the code you linked to is in a controller in the ark server, so it can't easily react to command line flags from `ark backup delete`. But we could put the `--force` check inside the client code that deletes the backup.

[2018-02-12 16:22] ncdc commented on #308
I did some research on the gRPC plugin boundary and error handling (since the GC Controller runs in the Ark server and the calls to delete disk snapshots and backup tarballs run in plugins). If we want to do something like this:

[code]

if the error is non-nil, when it crosses the gRPC boundary, all that's seen by the Snapshot Service and GC Controller running in the Ark server is something like

[2018-02-13 04:35] AdityaTulasi commented on #299
@paulbouwer Can you please respond to the queries?

[2018-02-13 10:24] starkilla2003 commented on #287
Hello, thx for the work you are putting into this. Is there any progress on this part?

[2018-02-14 14:06] jrnt30 commented on #208
The second piece of this, limiting the scope of the permissions grants is still outstanding.

[2018-02-14 21:00] jrnt30 opened #314 "Restoration with label selector does not properly restore PVs"
I recently took a full backup of our cluster `ark create backup complete`.  This backup includes several components and I wanted to test the restoration of just a subset of these initially.

In an alternate cluster which was setup with to leverage the same S3 bucket for backup state I ran `ark create restore complete -l release=jenkins` as an attempt to only restore the relevant Jenkins resources.

[2018-02-14 21:16] ncdc commented on #305
Example error only seen in ark server pod log:

[code]

[2018-02-15 20:25] #290 closed

[2018-02-15 22:11] jacobstr opened #317 "Conditional PV backup opt-in."
### Feature Suggestion

The thought has come up that we may want users to opt-in to PV backups e.g. via a label or annotation. We advise folks to use PV's in general to guarantee disk space for things such as local scratch space. We do a lot of image processing, which results in large, fungible cache PV's.

Host disk is currently unbounded by resource limits ala cpu/memory. The effort to improve t

[2018-02-19 23:42] paulbouwer commented on #287
I've got confirmation that the Germany Cloud supports version **2017-03-30** for the `Microsoft.Compute/disks` and `Microsoft.Compute/snapshots` resource providers, which is the most current supported in the Public Azure Cloud. This is great for this particular issue, but I'm still following up on versions across all the clouds/environments to support this issue across more than just the Germany d

[2018-02-22 11:47] ftoresan commented on #278
I'm facing the same issue with kops managed clusters.

Would this be a good case for the use of plugins?
Or the change must be done in the EBS backup/restore code?

[2018-02-22 12:54] ncdc commented on #278
@ftoresan this has to be done in the core Ark server code, possibly with some adjustments to some of the cloud plugin code.

[2018-02-25 14:53] PCatinean opened #329 "Server error on GCE 403: Required 'compute.projects.get' permission"
When deploying ark as described in the documentation (and also the role bindings) this error comes up in the logs of the ark server.

Even after making the service account used by the server and deleting / adding the server back the error seems to persist.

[2018-02-25 19:26] lypht opened #330 "GKE: Explicitly instruct user to add `Kubernetes Engine Cluster Admin` to IAM if the user is currently an `Owner`"
As an organization `owner`, deployment fails if the users is not also identified as `Kubernetes Engine Cluster Admin`.  Although this is indicated as a requirement in the docs, traditional org `Owner`s may not realize they need to add this IAM policy to succeed.

[2018-02-26 14:57] ncdc commented on #330
@lypht I have never had to explicitly add that permission (the only role I currently have on my account is `Owner`).

You do have to run `kubectl create clusterrolebinding <name> --clusterrole cluster-admin --user <your gcloud username/email>` before you can run `kubectl apply -f examples/common/00-prereqs.yaml`. Is that what you mean?

[2018-02-26 15:05] ncdc commented on #329
I worked with @PCatinean and we were able to get this working. We aren't sure what the problem was, but once we following the documentation steps exactly, it started working.

This particular error is quite confusing, however, as it's not entirely clear what is wrong (it's clear that a permission is missing, but there's no mention of why or how to fix).

What's going on in this particular case is

[2018-02-26 15:16] ncdc commented on #289
Closing as the original question was answered. Feel free to reopen if needed.

[2018-02-26 15:16] #289 closed

[2018-02-26 15:23] lypht commented on #330
Yes, that clusterrolebinding requirement is not as clear to an owner (for me, at least) who otherwise is able to modify clusters at will.  Without it (or without the `Kubernetes Engine Cluster Admin` addition to IAM for the user in question), everything gets created but for the `ark` clusterrolebinding (lack of permissions):
[code]

[2018-02-26 16:40] ncdc opened #332 "Adjust docs to indicate that Ark can run on-prem and in the cloud"
Right now it sounds like the only real production target for Ark is a Kubernetes cluster running on one of the cloud providers. Let's adjust the documentation so it's clearer that it can run on premises as well.

cc @lypht

[2018-02-26 17:05] #297 closed

[2018-02-26 22:06] #207 closed

[2018-02-28 14:38] ncdc commented on #295
I'd rather support `--all` and `-l, --selector` as that would be in line with `kubectl`

[2018-02-28 15:00] rdodev commented on #295
Alignment with `kubectl` is a good point.

`--all` should be self explanatory

`--selector` what would users be selecting backups on? name?

[2018-02-28 15:01] ncdc commented on #295
`--selector` would delete based on matching labels on the backups, just like with kubectl

[2018-02-28 15:51] ncdc commented on #295
WIP PR in #336

[2018-02-28 16:55] ncdc commented on #287
Yes, let's plan to do 1 PR to upgrade to v14, and if needed, we can do additional PR(s) to add support for the sovereign clouds.

[2018-02-28 20:19] ncdc opened #337 "Support writing backup items as yaml"
We hardcode json but should support yaml too.

[2018-02-28 20:21] ncdc commented on #337
Probably need to add a format field to the backup spec

[2018-02-28 21:10] ncdc opened #338 "GC controller doesn't process backups deleted while ark server was offline"
We need to have an AddFunc too

https://github.com/heptio/ark/blob/52641e8e29eb48f0516c34dee315d1d1001d7b7e/pkg/controller/gc_controller.go#L102

AddFunc will be called on the initial list and on any resyncs.

[2018-02-28 21:33] ncdc opened #339 "Gap: backing up/restoring with --include-namespaces doesn't include associated cluster-scoped resources such as clusterroles"
If you do `ark backup create foo --include-namespaces myapp`, and your app requires a cluster-scoped resource such as `clusterroles`, `clusterrolebindings`, etc. to function, this backup won't include those cluster-scoped resources because they aren't in the `myapp` namespace. We should try to fix this (e.g. identify service accounts in the namespace, search for cluster-scoped rbac resources invol

[2018-02-28 22:09] ncdc opened #340 "ark plugin commands need to operate against the server's namespace"
Now that the ark server runs in a separate namespace from the backups/restores/schedules, `ark plugin add/remove` attempts to modify the ark deployment in the wrong namespace. A workaround is to run `ark plugin add <plugin> -n heptio-ark-server`, but it would be ideal not to have to specify this.

We may want to consider adding a `server-namespace` setting to `ark client config` (along with a defa

[2018-02-28 22:14] nrb commented on #340
I'm in favor of adding a `server-namespace` setting that various pieces can use.

[2018-03-02 03:59] nikhita commented on #155
If this is still open, I can come back to this after some days. But @munnerz has a PR open upstream for generating the schema -- if we could get it in and generate using that, it would be awesome. :)

[2018-03-02 16:50] ncdc commented on #238
@bdimcheff just getting back to this. Talking about some design options in #ark-dr in the Kubernetes slack.

[2018-03-02 17:20] lypht opened #347 "Feature Request: Sane default schedule implementation"
As a user, I wish to have a default schedule implementation, where running `ark create schedule foo` creates an ark schedule that runs once a day, if I do not add the currently required `--schedule` flag.

[2018-03-05 16:20] stephenlawrence commented on #103
One thing to note for DR in Azure: The backup resource group creates a Geo-Redundant storage account which actually solves my issue of not wanting my backups in the same RG as the source. In my case, I create my backups  in EastUS and behind the scenes Azure replicates to WestUS.

https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#geo-redundant-storage

[2018-03-05 16:49] ncdc opened #350 "Document how to set up a non-cluster-admin role & rolebinding for Ark users"
Consider `kubectl create role/rolebinding` and/or raw yaml

[code]

[code]

[2018-03-05 18:24] #60 closed

[2018-03-05 20:46] lypht opened #351 "Persona placeholder"
This issue is to capture the desire to document and demonstrate utilization of ark for the administrator group primarily for disaster recovery, while independently documenting and demonstrating utilization of ark for an end-user interested in mirroring a specific environment for a temporary purpose (a read-only restoration, if you will).  The use cases differ enough that these separate document/wa

[2018-03-05 20:54] Bradamant3 commented on #351
@lypht Good callout. I've been thinking of expanding the two use cases here into tutorials that roughly would match the two personas you describe: https://heptio.github.io/ark/master/use-cases

... although the cluster migration scenario doesn't quite address your end-user persona.

WDYT?

Nice thought to reframe in terms of personas. Do you have thoughts about how a persona framing would be diffe

[2018-03-05 22:06] lypht commented on #351
I definitely think the use-cases can driving the correct perspectives. Yet unless someone considers the possibility of near-instant mirrors of various environments (dev, stage, UAT, load, QA, etc.), they may not conceptualize all of the potential of `ark`.

A developer persona walk-through illustrating a method by which  a dev who wants to make her PR environment available for load-testing without

[2018-03-05 23:25] skriss opened #352 "Cross-resource group volume restores don't work for Azure"
In Azure, all resources are contained within a resource group (RG). If a user takes a backup, including PV snapshots, in Cluster A, which is contained in RG A, then tries to restore it into Cluster B, which is contained in RG B, this will fail. The issue is that we take a resource group as part of the cloud-credentials secret for Azure, and this value is used for both fetching snapshots and creati

[2018-03-06 04:30] skriss commented on #352
I was able to get this working by storing the full snapshot URI rather than just the name within the backup status, and parsing it during restore to figure out which RG the snapshot was coming from.

[2018-03-06 04:34] cj-anthony opened #353 "PV Snapshot fails silently"
Hi! I'm trying to get persitent volume snapshops working on my ark install. The snapshot never seems to happen and the server doesn't log anything of note. Does anyone know how I might get more information? I am running an more recent image than latest as it supported the removal of the location configuration parameter in azure as per #344

The details are as follows:

**Kubernetes Version:** 1.8.

[2018-03-06 13:47] ncdc commented on #353
Hi @cj-anthony, could you please share the output of `ark backup logs mybackup`?

[2018-03-06 15:00] ncdc opened #354 "Should service action (restore) remove all node ports from a service?"
We are currently removing all nodePorts from all services when we restore them:

https://github.com/heptio/ark/blob/973f630cc7b2bdd464cc4e78d776ab4099a43381/pkg/restore/service_action.go#L60-L63

This doesn't really make sense to me. @skriss do you remember what the original motivation for this was?

[2018-03-06 15:55] skriss commented on #354
IIRC it was because keeping them makes the "clone namespace" use case fail due to port collision.

[2018-03-06 15:57] ncdc commented on #354
Ok, that makes sense. I don't think they should generally be dropped by default, though. We should think through ways to allow the user to express the desired behavior in a clean manner.

[2018-03-06 17:20] sands6 opened #355 "PVC's are restored in lost state on NFS storage with CoreOS Tectonic K8s"
When I try to restore entire namespace with a test busybox pod with a PV, all resources come back except the PVC would return as in lost state and pod is stuck in container creating status

[2018-03-06 17:21] sands6 commented on #355
kubectl get pvc -n test
NAME      STATUS    VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
rename    Lost      pvc-a4b20104-215f-11e8-a815-080027399c33   0                         az1            5m

[2018-03-06 17:22] ncdc commented on #355
Could you please `kubectl describe` the PVC and the PV?

[2018-03-06 17:32] lypht commented on #251
Feature request: The ability to ship a preserved backup to a source of record separate from the primary backup location for audits/reference.

[2018-03-06 17:34] ncdc commented on #251
That will be covered by #103

[2018-03-06 17:40] sands6 commented on #355
This is the status of the pv before ark restore:
----
kubectl get pv
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS     CLAIM         STORAGECLASS   REASON    AGE
pvc-538856a9-2164-11e8-a815-080027399c33   1Gi        RWO            Retain           Released   test/rename   az1                      5m
-----
Once I do ark restore for NS test:
kubectl des

[2018-03-06 17:42] ncdc commented on #355
@sands6 are you trying to restore into the same cluster, and nothing (e.g. PVs) has been deleted?

[2018-03-06 17:43] sands6 commented on #355
@ncdc yes, for the test purposes. I am trying to restore to the same cluster. I have not taken a snapshot of a PV so i want to make sure PV does not get deleted if I delete pvc.

[2018-03-06 17:48] ncdc commented on #355
Ok, 2 things here:

1. We don't support backing up NFS volumes right now. We only support AWS EBS, GCE PD, and Azure Managed Disks, plus anything someone writes a plugin for. We are working on support for any filesystem in any pod/container, but that's not available yet.

2. We don't currently support restoring PVs into the same cluster - that will be supported once we resolve #192.

[2018-03-06 17:50] sands6 commented on #355
@ncdc do you support Netapp Trident storage orchestrator. Trident exposes NFS volumes as backends via storage classes. Do you have any plan regarding support for Trident?

If I carry my backend nfs and attach to a new cluster and restore NS from Ark, will my test work?

[2018-03-06 17:53] ncdc commented on #355
We currently directly support AWS EBS, GCE PD, and Azure Managed Disks in Ark itself. If something has an API for doing backups/snapshots/restores of data mounted as a Kubernetes PersistentVolume, it would be possible to write a plugin for Ark for it.

We don't have any current plans for Netapp Trident. Do you know if it has snapshot/restore APIs?

I would expect you to be able to restore into a n

[2018-03-06 18:22] stephenlawrence commented on #352
@skriss Is this something I can do? Or code-related?

[2018-03-06 18:34] stephenlawrence commented on #352
Something like this?

[code]

[2018-03-06 18:38] skriss commented on #352
@stephenlawrence we'll have to make a code change to support this; the restore process won't work correctly if it finds a snapshotID with the format you provided. I'll review the proposed code change with @ncdc today.

[2018-03-06 21:38] jrnt30 opened #357 "Disallow `ark create backup` when `restoreOnlyMode: true`"
I inadvertently deployed a cluster spec with `restoreOnlyMode: true`.  When I attempted to conduct a backup, it seemingly succeeded however none of the PV/PVCs were actually backed up due to them not being available.

Does it make sense to allow a backup to proceed in a `restoreOnlyMode` cluster?

[2018-03-06 21:39] ncdc commented on #357
I'm assuming its status.phase just stayed at `New`?

[2018-03-06 21:41] #338 closed